<ws:SBIS3.CONTROLS.ColorRadioButtonNew
   activableByClick="{{false}}"
   color="{{item.get('color')}}"
   command="stylesPanelColorPicked"
   className="controls-ListView__item"
   commandArgs="{{ [item.get('color')] }}"
   attributes="{{ {
      'data-hash': projItem.getHash()
   } }}"
/>