<SBIS3.CONTROLS.StylesPanelNew.resources.ColorStyle.resources.ColorRadioButton.ColorRadioButtonNew
   activableByClick="{{false}}"
   color="{{item.get('color')}}"
   command="stylesPanelColorPicked"
   className="controls-ListView__item"
   commandArgs="{{ [item.get('color')] }}"
   attributes="{{ {
      'data-hash': projItem.getHash(),
      'data-id': getPropertyValue(item, idProperty)
   } }}"
/>