<div class="panel-demo">
   <div>
      <Controls.Filter.Button attr:class="panel-demo-filterButton"
                              orientation="{{_selectedKeyOrientation}}"
                              bind:items="_itemsSimple"
                              on:filterChanged="filterChangeHandler()"
                              on:itemsChanged="itemsChangeHandler()"
                              historyId="{{_historyBlock ? 'DEMO_HISTORY_ID' : false}}">
         <ws:templateName>
            <ws:partial template="tmpl!Controls-demo/Filter/Button/panelOptions/filterPanelTemplateOptions"
                        title="{{_title}}"
                        styleHeader="{{_selectedKeyStyle}}"
                        itemTemplateProperty="{{_itemTemplateProperty}}"
                        itemTemplate="{{_itemTemplate}}"
                        additionalTemplate="{{_addTemplate}}"/>
         </ws:templateName>
         <ws:lineSpaceTemplate>
            <ws:if data="{{_spaceTemplate}}">
               <Controls.Input.Dropdown source="{{_spaceTemplateSource}}"
                                        keyProperty="key"
                                        bind:selectedKeys="_spaceTemplateKeys"/>
            </ws:if>
         </ws:lineSpaceTemplate>

      </Controls.Filter.Button>
   </div>

   <div class="panel-demo-option-block">
      <h3>Задайте опции:</h3>
      <Controls.Label name="myLabel1" caption="Filter orientation"/>
      <Controls.Toggle.RadioGroup
              keyProperty="title"
              bind:selectedKey="_selectedKeyOrientation"
              source="{{_alignFilterSource}}"
              direction="horizontal"/>

      <Controls.Label name="myLabel1" caption="Title"/>
      <Controls.Input.Text attr:id="title" bind:value="_title"/>

      <Controls.Toggle.Checkbox attr:id="add" on:valueChanged="valueChangedHandler()"
                                bind:value="_additionalBlock" caption="With block additional template"/>

      <Controls.Toggle.Checkbox attr:id="history"
                                bind:value="_historyBlock" caption="With history block"/>

      <Controls.Toggle.Checkbox attr:id="space" bind:value="_spaceTemplate" caption="Space line template"/>

      <Controls.Toggle.Checkbox attr:id="property" on:valueChanged="valueChangedHandler2()"
                                bind:value="_hasItemTemplateProperty"
                                caption="Filter 'author' from block 'Selected' is specified using the option 'templateItem'"/>
   </div>

   <div class="eventBlock">
      <span>Event that surfaced:</span>
      <br/>
      <div class="eventName">
         <span>{{_eventNameFilter}}</span>
         <span>{{_eventNameItems}}</span>
      </div>
      <Controls.Button on:click="reset()" style="linkMain3" caption="reset"/>
   </div>

</div>