<div class="controls-FilterDropdown">
   <Controls.Input.Dropdown
        scope="{{_options}}"
        on:selectedKeysChanged="_valueChangedHandler()"/>
   <span if="{{_options.onPanel}}" class="controls-FilterPanel__iconClose icon-Close icon-disabled" on:click="_clickHandler()"></span>
</div>