<div class="controls-Header {{ !logo ? 'controls-Header__withoutLogo' }} {{ theme ? theme }}">
    <div class="controls-Header_header">
        <img class="controls-Header__logo" src="{{ logo }}"/>
        <div class="controls-Header__imageContainer">
            <img class="controls-Header__image {{ !image ? 'ws-hidden' }}" src="{{ image }}"/>
        </div>
        <div class="controls-Header__mainArea">
            <ws:if data="{{ mainAreaTemplate }}">
                <ws:partial template="{{ mainAreaTemplate }}" scope="{{...}}"/>
            </ws:if>
        </div>
        <div class="controls-Header__overlay" style="opacity: {{ opacity }}"></div>
    </div>
    <div class="controls-Header_footer">
        <div class="controls-Header__bottomArea">
            <ws:if data="{{ bottomAreaTemplate }}">
                <ws:partial template="{{ bottomAreaTemplate }}" scope="{{...}}"/>
            </ws:if>
        </div>
        <ws:SBIS3.CONTROLS.IconButton class="controls-Header__beginEdit" name="beginEditButton">
            <ws:command><ws:String>beginEdit</ws:String></ws:command>
            <ws:visible><ws:Boolean>{{ allowEdit }}</ws:Boolean></ws:visible>
            <ws:icon><ws:String>sprite:icon-16 icon-Admin icon-primary</ws:String></ws:icon>
        </ws:SBIS3.CONTROLS.IconButton>
        <div class="controls-Header_editingPanel">
            <ws:SBIS3.CONTROLS.Toolbar class="controls-EditPanel__toolbar" scope="{{ editPanelConfig }}">
            </ws:SBIS3.CONTROLS.Toolbar>
            <div class="controls-EditPanel__sliderBlock">
                <span class="controls-EditPanel__sliderBlock-blackLabel">свет</span>
                <ws:SBIS3.CONTROLS.Slider class="controls-EditPanel__slider" name="opacitySlider">
                    <ws:single><ws:Boolean>true</ws:Boolean></ws:single>
                    <ws:bigPoint><ws:Boolean>true</ws:Boolean></ws:bigPoint>
                    <ws:minValue><ws:Number>0.3</ws:Number></ws:minValue>
                    <ws:maxValue><ws:Number>1.7</ws:Number></ws:maxValue>
                    <ws:decimals><ws:Number>1</ws:Number></ws:decimals>
                </ws:SBIS3.CONTROLS.Slider>
                <span class="controls-EditPanel__sliderBlock-whiteLabel">тень</span>
            </div>
            <ws:SBIS3.CONTROLS.IconButton class="controls-EditPanel__commitEdit controls-IconButton__round-border-24 controls-IconButton__round icon-size">
                <ws:command><ws:String>endEdit</ws:String></ws:command>
                <ws:commandArgs><ws:Boolean>true</ws:Boolean></ws:commandArgs>
                <ws:icon><ws:String>sprite:icon-16 icon-Yes icon-done</ws:String></ws:icon>
            </ws:SBIS3.CONTROLS.IconButton>
            <ws:SBIS3.CONTROLS.IconButton class="controls-EditPanel__cancelEdit controls-Button__closeButton">
                <ws:command><ws:String>endEdit</ws:String></ws:command>
                <ws:commandArgs><ws:Boolean>false</ws:Boolean></ws:commandArgs>
            </ws:SBIS3.CONTROLS.IconButton>
        </div>
    </div>
</div>