<Controls.Container.Filter attr:class="controls-demo__FilterLayout" filterButtonSource="{{_filterSource}}" fastFilterSource="{{_fastFilterData}}">
    <ws:content>
        <div>
            <Controls.Container.Search
                    attr:class="controls-demo__SearchLayout"
                    searchParam="firstName">
                <ws:content>
                    <div class="controls-demo__SearchLayout_content">
                        <div class="controls-demo__Layouts_content">
                            <div class="controls-demo__Layouts_filterComponents">
                                <Controls.Container.Input.Search>
                                    <ws:content>
                                        <Controls.Input.Search bind:value="_searchValue"/>
                                    </ws:content>
                                </Controls.Container.Input.Search>
                               <div class="controls-demo__Layouts_filter">
                                <Controls.Container.Filter.Fast>
                                   <Controls.Filter.Fast bind:value="_value"/>
                                </Controls.Container.Filter.Fast>
                                <Controls.Container.Filter.Button>
                                        <Controls.Filter.Button templateName="tmpl!Controls-demo/Layouts/SearchLayout/FilterButtonTemplate/vdomFilterButtonTemplate">
                                        </Controls.Filter.Button>
                                </Controls.Container.Filter.Button>
                               </div>
                            </div>
                            <div class="controls-demo__LayoutInner">
                                <Controls.Container.List searchParam="firstName" source="{{_dataSource}}" navigation="{{_navigation}}">
                                    <ws:content>
                                        <div>
                                            <Controls.List keyProperty="id" name="list" >
                                                <ws:itemTemplate>
                                                    <ws:partial template="tmpl!Controls/List/ItemTemplate">
                                                        <ws:contentTemplate>
                                                            <div style="padding: 4px; display: flex; justify-content: space-between">
                                                                <div style="width: 200px">{{itemTemplate.itemData.item.get('firstName')}}</div>
                                                                <div style="font-size: 13px; color: darkblue">{{itemTemplate.itemData.item.get('lastName')}}</div>
                                                                <div style="font-size: 13px; color: limegreen">{{itemTemplate.itemData.item.get('id')}}</div>
                                                            </div>
                                                        </ws:contentTemplate>
                                                    </ws:partial>
                                                </ws:itemTemplate>
                                                <ws:emptyTemplate>
                                                    Не найдено
                                                </ws:emptyTemplate>
                                            </Controls.List>
                                        </div>
                                    </ws:content>
                                </Controls.Container.List>
                            </div>
                        </div>
                    </div>
                </ws:content>
            </Controls.Container.Search>
        </div>
    </ws:content>
</Controls.Container.Filter>
