<Controls.Layout.Filter attr:class="controls-demo__FilterLayout">
    <ws:content>
        <div>
            <Controls.Layout.Search
                    attr:class="controls-demo__SearchLayout"
                    searchParam="title">
                <ws:content>
                    <div class="controls-demo__SearchLayout_content">
                        <div class="controls-demo__Layouts_content">
                            <div class="controls-demo__Layouts_filterComponents">
                                <Controls.Input.Search bind:value="_searchValue"/>
                                <Controls-demo:Layouts:LayoutFilterComponent/>
                            </div>
                            <div class="controls-demo__LayoutInner">
                                <Controls.Layout.List source="{{_dataSource}}" searchParam="title">
                                    <ws:content>
                                        <div>
                                            <Controls.List idProperty="id" name="list">
                                                <ws:emptyTemplate>
                                                    Не найдено
                                                </ws:emptyTemplate>
                                            </Controls.List>
                                        </div>
                                    </ws:content>
                                    <ws:navigation source="page" view="page">
                                        <ws:sourceConfig pageSize="{{20}}" page="{{0}}" mode="totalCount"/>
                                    </ws:navigation>
                                </Controls.Layout.List>
                            </div>
                        </div>
                    </div>
                </ws:content>
            </Controls.Layout.Search>
        </div>
    </ws:content>
</Controls.Layout.Filter>
