<ws:Controls.Input.resources.BoxRender.BoxRender
        value="{{_value}}"
        selectOnClick="{{_options.selectOnClick}}"
        prepareValue="{{_prepareValue}}"
        attr:class="controls-TextArea"
        event:onChangeValue="_changeValueHandler()"
        event:onInputCompleted="_notifyHandler('onInputCompleted')"
        event:onTagHover="_notifyHandler('onTagHover')"
        event:onTagClick="_notifyHandler('onTagClick')">
   <ws:content>
      <div>
         <textarea
                 spellcheck="false"
                 class="controls-TextArea__field controls-TextArea__realField controls-TextBox__field js-controls-TextBox__field"
                 placeholder="{{_options.placeholder}}"
                 readonly="{{!isEnabled() ? 'readonly'}}"
                 style="overflow-y: {{_hasScroll ? 'scroll' : 'hidden'}}"
                 event:onkeydown="_keyDownHandler()"
         >{{_value}}</textarea>

         <div class="controls-fakeTextArea__firstWrapper">
            <div class="controls-fakeTextArea__secondWrapper">
               <div
                       class="controls-TextArea__field controls-TextArea__fakeField controls-TextBox__field js-controls-TextBox__field"
                       style="{{_options.minLines ? ('min-height: ' + _options.minLines * 100 + '%;')}} {{_options.maxLines ? 'max-height: ' + _options.maxLines * 100 + '%'}}"
               ><span>{{_value}}</span><br/>
               </div>
            </div>
            <div style="clear:both;"></div>
         </div>
      </div>
   </ws:content>
</ws:Controls.Input.resources.BoxRender.BoxRender>