.controls-Area__fieldWrapper {
   height: auto;
   position: relative;
   word-wrap: break-word;
   white-space: pre-wrap;
}

.controls-Area__field_readOnly {
   overflow: hidden;
}

.controls-Area__realField {
   top: 0;
   overflow: hidden;
   position: absolute;
}

.controls-Area__fakeField {
   visibility: hidden;
}

.controls-Area__measuredBlock {
   border-style: solid;
   border-color: transparent;
   border-width: @spacing_Area_between-topBorder-text @spacing_Area_between-rightBorder-text @spacing_Area_between-bottomBorder-text @spacing_Area_between-leftBorder-text;
}

.controls-Area__measuredBlock_size {
   @variants: s, m, l;
   .for(@variants, { &_@{_item} {
      height: ~"@{height_Area_oneLine_size_@{_item}}";
   } });
}

.controls-Area__field_size {
   @variants: s, m, l;

   /**
    * When using line-height: normal, the row height in Firefox differs from the row height in other browsers.
    * This behavior is independent of the font. Therefore, you must specify the value explicitly.
    */
   .for(@variants, { &_@{_item} {
      line-height: ~"@{height_Area_oneLine_size_@{_item}}";
   } });
}

.controls-Area__field_margin {
   margin: @spacing_Area_between-topBorder-text @spacing_Area_between-rightBorder-text @spacing_Area_between-bottomBorder-text @spacing_Area_between-leftBorder-text;
}

.ws-is-mobile-safari, .ws-is-mobile-chrome-ios {
   // On the iPad, in safari and chrome, textarea has indispensable 3px padding, at left and right sides.
   // https://stackoverflow.com/questions/6890149/remove-3-pixels-in-ios-webkit-textarea
   // To compensate them, we should move textarea to the left by 3px and increase it's width to 6px
   .controls-Area__realField {
      margin-left: -3px;
      width: ~"calc(100% + 6px)";
   }
}
