.controls-InputRender__field.controls-TextArea {
   &__field {
      overflow-x: hidden;
      width: 100%;
      .box-sizing(border-box);
      white-space: pre-wrap;
      word-wrap: break-word;
      line-height: @default-line-height;
      //Убрать.
      &:before {
         display: none;
      }
   }

   //Настоящая textArea
   &__realField {
      display: block;
      resize: none;
      height: 100%;
      position: absolute;
      top: 0;
      -webkit-appearance: none;

      &_scroll-hidden {
         overflow-y: hidden;
      }
      &_scroll-scroll {
         overflow-y: scroll;
      }
   }

   //Фэйковая textArea (div)
   &__fakeField {
      float: left;
      visibility: hidden;
      overflow-y: auto;
   }
}

.ws-is-mobile-safari,
.ws-is-mobile-chrome-ios {
   .controls-TextArea {
      &__field {
         box-sizing: content-box;
         //Чтобы показывался скролл
         -webkit-overflow-scrolling: touch;
      }
      //TextArea на safari и chrome на ios имеет отступы слева и српава, которые не убрать
      //Поэтому в фейковой текст арии проставим такие же
      &__fakeField {
         padding: 0 7px;
         width: calc(~"100% - 6px");
      }
   }
}

.controls-fakeTextArea__firstWrapper {
   vertical-align: bottom;
   display: inline-block;
   width: 100%;
}

.controls-fakeTextArea__secondWrapper {
   height: @default-line-height;
   width: 100%;
}


//В IE будем показывать текст из fakeArea, так как иначе при быстром вводе textArea не успевает обновлять размеры и дергается
.ws-is-ie {
   .controls-InputRender__field.controls-TextArea {
      &__realField {
         color: rgba(0, 0, 0, 0);
      }
      &__fakeField {
         visibility: visible;
      }
   }
}
