<div class="controls-SimpleItemsCollection__item" data-id="{{item.getKey()}}">
    <ws-if data="template">
        {{template(item)}}
    </ws-if><ws-else>
        <span class="controls-SimpleItemsCollection__caption">{{item.get(displayField)}}</span>
    </ws-else>
    <ws-if data="crossPerItem">
        <span class="controls-SimpleItemsCollection__cross"/>
    </ws-if>
</div>