@controls-FilterButtonCustomItem-height: 32px;
@controls-FilterButtonCustomItem-text-align: center;

.controls-FilterButtonLabel {
   text-align: @controls-FilterButtonCustomItem-text-align;
   line-height: @controls-FilterButtonCustomItem-height;

   .controls-FilterButtonLabel-removeButton {
      display: inline-block;
      float: right;
   }
}
