.controls-FilterViewPanel_theme-@{themeName} {
   width: @width_filterViewPanel;
   height: 100%;
   background-color: @background-color_filterViewPanel;
   border-right: @border-right_width_filterViewPanel solid @border-right_color_filterViewPanel;
}

.controls-FilterViewPanel__header_theme-@{themeName} {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   padding: @heading_vertical-offset_filterViewPanel @heading_horizontal-offset_filterViewPanel;
   height: @heading_height_filterViewPanel;
   border-bottom: @heading_border_width_filterViewPanel solid @heading_border_color_filterViewPanel;
}

.controls-FilterViewPanel__applyButton_theme-@{themeName},
.controls-FilterViewPanel__resetButton_theme-@{themeName} {
   font-size: @button_font-size_filterViewPanel;
   color: @button_color_filterViewPanel;
   cursor: pointer;
}

.controls-FilterEditors__numberRange_theme-@{themeName} {
   display: flex;
   flex-direction: row;
   align-items: center;
}

.controls-FilterEditors__numberRange_separator_theme-@{themeName} {
   color: @separator_color_filterViewPanel;
   padding: 0 @separator_horizontal-offset_filterViewPanel;
}

.controls-FilterViewPanel__group-content_theme-@{themeName} {
   color: @group_color_filterViewPanel;
   font-size: @group_font-size_filterViewPanel;
}

.controls-FilterViewPanel__groupExpander_theme-@{themeName} {
   color: @unaccented_icon-color;
   padding-left: @group-expander_padding-left_filterViewPanel;
   cursor: pointer;
   align-self: center;
}

.controls-FilterViewPanel__group {
   display: flex;
   flex-direction: row;
}

.controls-FilterViewPanel__groupReset {
   position: absolute;
   top: 0;
   right: 0;
}

.controls-FilterViewPanel__group-wrapper {
   position: relative;
}

.controls-FilterViewPanel__group-result_theme-@{themeName} {
   font-size: @group_font-size_filterViewPanel;
}
