.controls-ColorPicker .controls-TextBox__optionsContainer + .controls-TextBox__fieldWrapper {
   margin-right: 21px;
}

.controls-ColorPicker__currentColor {
   cursor: pointer;
   background: #000000;
   border-left: 1px solid #CCCCCC;
   min-height: 19px;
   height: 100%;
   min-width: 16px;
   text-decoration: none;
   width: 16px;
   display: inline-block;
}