<div class="ws-DialogTemplate">
    <div class="ws-DialogTemplate__top-area">
        <ws:if data="{{_options.caption}}">
            <span class="ws-DialogTemplate__caption" title="{{_options.caption}}">{{_options.caption}}</span>
        </ws:if>
        <ws:if data="{{_options.topArea}}">
            <ws:partial template="{{_options.topArea}}"></ws:partial>
        </ws:if>
        <span class="ws-DialogTemplate__close_button ws-DialogTemplate__close_button_right" on:click="close()"></span>
    </div>
    <div class="ws-DialogTemplate__content-area">
        <ws:partial template="{{_options.contentArea}}"></ws:partial>
    </div>
</div>