<ws:partial template="{{_options.content}}"
            on:popupCreated="_eventHandler('popupCreated')"
            on:popupUpdated="_eventHandler('popupUpdated')"
            on:popupClose="_eventHandler('popupClose')"
            on:popupFocusIn="_eventHandler('popupFocusIn')"
            on:popupFocusOut="_eventHandler('popupFocusOut')"
            on:popupResult="_eventHandler('popupResult')"
/>