<span class="controls-ButtonBase controls-SelectorButton {{!visible ? ' ws-hidden'}}" title="{{tooltip}}" disabled="{{!enabled ? 'disabled'}}" type="button">
    <span class="controls-Button__wrapper">
        <ws:partial template="{{contentTemplate}}" scope="{{...}}"></ws:partial>
    </span>
</span>