.controls-SelectorButton {
   display: inline-block;
   cursor: @link-cursor;
   line-height: @controls-SelectorButton-line-height;
   height: @controls-SelectorButton-height;

   .controls-SelectorButton__text,
   .controls-SelectorButton__icon,
   .controls-SelectorButton__cross {
      vertical-align: @controls-SelectorButton-align;
      margin: @controls-SelectorButton-margin;
   }

   &.ws-disabled {
      color: @link-disabled-text-color;
      cursor: default;

      .controls-SelectorButton__cross {
         display: none;
      }
   }

   &.controls-SelectorButton__asLink {
      .controls-SelectorButton__text {
         color: @link-text-color;
         text-decoration: @link-text-decoration;

         &:hover {
            color: @link-hover-text-color;
            text-decoration: @link-hover-text-decoration;
         }
      }
   }
}