.controls-SelectorButton {
   display: inline-flex;
   align-items: center;
   cursor: @link-cursor;
   line-height: @controls-SelectorButton-line-height;
   height: @controls-SelectorButton-height;

   .controls-SelectorButton__text {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
   }


   &.controls-SelectorButton__asLink {
      .controls-SelectorButton__text {
         color: @link-text-color;
         text-decoration: @link-text-decoration;

         &:hover {
            color: @link-hover-text-color;
            text-decoration: @link-hover-text-decoration;
         }
      }
   }

   &.ws-validation-error {
      outline: @controls-SelectorButton-error-outline;
      outline-offset: -1px;
   }

   &.ws-disabled {
      cursor: default;
      &.controls-SelectorButton__asLink {
         .controls-SelectorButton__text, &:hover {
            color: @link-disabled-text-color;
            text-decoration: @link-text-decoration;
         }
      }
      .controls-SelectorButton__cross {
         display: none;
      }
   }

}

// Костыли для старых ie
.ws-is-ie8, .ws-is-ie9 {
   .controls-SelectorButton {
      display: inline-block;
      white-space: nowrap;

      .controls-SelectorButton__cross,
      .controls-SelectorButton__icon {
         margin-top: 4px;
         vertical-align: top;
      }

      .controls-SelectorButton__text {
         display: inline-block;
      }
   }
}