.controls-SelectorButton {
   .inline-flexbox();
   align-items: baseline;
   cursor: @link-cursor;
   line-height: @controls-SelectorButton-line-height;
   height: @controls-SelectorButton-height;

   &.ws-validation-error {
      outline: @controls-SelectorButton-error-outline;
      outline-offset: -1px;
   }

   &.ws-disabled {
      cursor: default;
      .controls-SelectorButton__cross {
         display: none;
      }
   }
}

.controls-SelectorButton__icon,
.controls-SelectorButton__cross {
   align-self: center;
   text-decoration: none;
}

.controls-SelectorButton__icon + .controls-SelectorButton__text:not(.ws-hidden) {
   padding-left: 4px;
}

.controls-SelectorButton__text {
   .text-overflow();
}

.controls-SelectorButton__withoutCross {
   .controls-SelectorButton__cross {
      display: none;
   }
}

.controls-SelectorButton__asLink {
   color: @link-text-color;
   text-decoration: @link-text-decoration;
}

.ws-is-desktop-platform {
   .controls-SelectorButton__asLink {
      .link-hover-mixin(@link-hover-text-color, @button-icon-color-hover, controls-SelectorButton__text);
   }
}
// Для ie, которые плохо поддерживают flexbox =(
.ws-is-ie10 {
   .controls-SelectorButton {
      display: inline-block;
      white-space: nowrap;
      vertical-align: middle;

      .controls-SelectorButton__cross,
      .controls-SelectorButton__icon {
         margin-top: 4px;
         vertical-align: top;
      }

      .controls-SelectorButton__text {
         display: inline-block;
      }
   }
}

.ws-is-firefox {
   .controls-SelectorButton__cross,
   .controls-SelectorButton__icon {
      padding-top: 2px;
   }
}