<div class="controls-BrowserTabs">
    <Controls.Tabs.Buttons
            bind:selectedKey="_options.tabsSelectedKey"
            keyProperty="id"
            source="{{_options.tabsSource}}"
    />
    <ws:partial template="{{_options.tabsSource._getRecordByKey(_options.tabsSelectedKey).content}}"/>
</div>