<div class="controls-BrowserTabs">
    <Controls.Tabs.Buttons
            bind:selectedKey="_options.tabsSelectedKey"
            keyProperty="id"
            source="{{_options.tabsSource}}"
    />
    <Controls.Container.Async templateName="{{_options.tabsSource._getRecordByKey(_options.tabsSelectedKey).content}}" templateOptions="{{_options}}"/>
</div>