<div on:search="_changeValueSearchHandler()">
   <div class="controls-VDomSearch__row" >
      <Controls.Input.Search bind:value="_value" attr:test_name="search_dark"
                     on:valueChanged="_changeValuesHandler()"/>
   </div>
   <div class="controls-VDomSearch__row">
      <Controls.Input.Search bind:value="_value2" style="header" attr:test_name="search_transparent"
                     on:valueChanged="_changeValuesHandler()"/>
   </div>
   <div class="controls-VDomSearch__row">
      <Controls.Input.Search enabled="{{false}}" attr:test_name="search_disabled"/>
   </div>
<div>Стреляет valueChanged:
   <Controls.Input.Area value="{{textValue}}" attr:test_name="valueChanged"></Controls.Input.Area>
</div>
   <div>Стреляет search:
   <Controls.Input.Area value="{{textSearchValue}}" attr:test_name="search"></Controls.Input.Area>
</div>
</div>