<div>
    <style>
        .controls-VDomSearch__row {
            width: 250px;
            margin: 10px;

        }
    </style>

    <div class="controls-VDomSearch__row">
        <Controls:Input:Search bind:value="_value"/>
    </div>
    <div class="controls-VDomSearch__row">
        <Controls:Input:Search enabled="{{false}}"/>
    </div>
</div>