<ws:for data="index,item in records">
    <ws:if data="{{ item.getContents }}">
        <ws:partial template="{{tplData.itemTpl}}" scope="{{tplData}}" hoveredItem="{{hoveredItem}}" item="{{item.getContents()}}" projItem="{{item}}" selected="{{tplData.selectedKey == tplData.getPropertyValue(item.getContents(), tplData.idProperty)}}" hovered="{{index === hoveredIndex}}"/>
    </ws:if>
    <ws:else>
        <ws:partial template="{{ item.tpl }}" scope="{{ item.data }}" />
    </ws:else>
</ws:for>
