{{debug()}}
<div
   class="controls-ListView__item js-controls-ListView__item{{
         isSelected ? ' controls-ListView__item__selected'
      }}{{className}}"
   data-hash="{{ projItem.getHash() }}"
   key="{{ projItem.getHash() }}"
   event:onclick="_onItemClick(projItem)">
   <ws:partial template="{{contentTemplate}}" scope="{{_itemContentTplData}}" attributes="{{ attributes }}" item="{{item}}"
               projItem="{{projItem}}"></ws:partial>
</div>
