<ws:for data="startFnc(_enumIndexes); condFnc(_enumIndexes); endFnc(_enumIndexes);">
   <ws:partial
         template="{{_getItemTpl(_display.at(_enumIndexes._curIndex))}}"
         contentTemplate="{{_getItemContentTpl(_display.at(_enumIndexes._curIndex))}}"
         defaultItemTpl="{{_defaultItemTemplate}}"
         item="{{_display.at(_enumIndexes._curIndex).getContents()}}"
         projItem="{{_display.at(_enumIndexes._curIndex)}}"
         index="{{_enumIndexes._curIndex}}"
         isSelected="{{_selectedKey == _getPropertyValue(_display.at(_enumIndexes._curIndex).getContents(), idProperty)}}"
         itemData="{{_getItemData(_display.at(_enumIndexes._curIndex), _enumIndexes._curIndex)}}"
         scope="{{_itemTplData}}"
         />
</ws:for>