<div class="controls-LongOperations controls-LongOperationsRegistry">
   <ws:SBIS3.CONTROLS.Browser
      name="longOperationsBrowser"
      className="controls-Browser__view"
      >
      <ws:content>
         <div class="controls-Browser__table controls-Browser__table-fullFilterBlock">
            <div class="controls-Browser__tableCell-search">
               <ws:SBIS3.CONTROLS.SearchForm
                  tabindex="2"
                  name="browserSearch"
                  allowChangeEnable="{{false}}"
                  placeholder="{[искать@@найти...]}"
                  className="controls-Browser__search ws-bootup-autofocus"
               />
            </div>
            <div class="controls-Browser__tableRow">
               <div class="controls-Browser__tableCell-filterButton">
                  <ws:SBIS3.CONTROLS.FilterButton
                     name="browserFilterButton"
                     className="controls-Browser__filterButton"
                     tabindex="0"
                     >
                     <ws:filterStructure>
                        <ws:Array>
                           <ws:Object
                              internalValueField="StateKey"
                              internalCaptionField="StateTitle"
                              value="{{'filter/status'|mutable}}"
                              resetValue="{{null}}"
                           />
                           <ws:Object
                              internalValueField="PeriodKey"
                              internalCaptionField="PeriodTitle"
                              value="{{'filter/period'|mutable}}"
                              resetValue="{{null}}"
                           />
                           <ws:Object
                              internalValueField="DurationKey"
                              internalCaptionField="DurationTitle"
                              value="{{'filter/duration'|mutable}}"
                              resetValue="{{null}}"
                           />
                           <ws:Object
                              internalValueField="UserId"
                              internalCaptionField="UserName"
                              value="{{'filter/UserId'|mutable}}"
                              resetValue="{{!userId ? null : userId}}"
                              visibilityValue="{{!userId}}"
                              itemTemplate="{{!userId ? undefined : ''}}"
                           />
                        </ws:Array>
                     </ws:filterStructure>
                     <ws:template>
                        <ws:SBIS3.CONTROLS.LongOperationsFilter hideStaffFilter="{{hideStaffFilter}}" />
                     </ws:template>
                  </ws:SBIS3.CONTROLS.FilterButton>
               </div>
            </div>
         </div>
         <div class="controls-Browser__view">
            <ws:SBIS3.CONTROLS.LongOperationsList
               name="operationList"
               columns="{{columns}}"
               userId="{{userId}}"
               narrowTmpl="{{false}}"
               useGroupByEasyGroup="{{useGroupByEasyGroup}}"
            />
         </div>
      </ws:content>
   </ws:SBIS3.CONTROLS.Browser>
</div>
