<div class="controls-LongOperations controls-LongOperationsRegistry">
   <ws:SBIS3.CONTROLS.Browser
      name="longOperationsBrowser"
      className="controls-Browser__view"
      >
      <ws:content>
         <div class="controls-Browser__table controls-Browser__table-fullFilterBlock">
            <div class="controls-Browser__tableCell-search">
               <ws:SBIS3.CONTROLS.SearchForm
                  tabindex="2"
                  name="browserSearch"
                  allowChangeEnable="{{false}}"
                  placeholder="{[искать@@найти...]}"
                  className="controls-Browser__search ws-bootup-autofocus"
               />
            </div>
            <div class="controls-Browser__tableRow">
               <div class="controls-Browser__tableCell-filterButton">
                  <ws:SBIS3.CONTROLS.FilterButton
                     name="browserFilterButton"
                     className="controls-Browser__filterButton"
                     tabindex="0"
                     >
                     <ws:filterStructure>
                        <ws:Array>
                           <ws:Object
                              internalValueField="StateKey"
                              internalCaptionField="StateTitle"
                              value="{{'filter/status'|mutable}}"
                           />
                           <ws:Object
                              internalValueField="PeriodKey"
                              internalCaptionField="PeriodTitle"
                              value="{{'filter/period'|mutable}}"
                           />
                           <ws:Object
                              internalValueField="DurationKey"
                              internalCaptionField="DurationTitle"
                              value="{{'filter/duration'|mutable}}"
                           />
                           <ws:Object
                              internalValueField="UserId"
                              internalCaptionField="UserName"
                              value="{{'filter/UserId'|mutable}}"
                              visibilityValue="{{!userId}}"
                              itemTemplate="{{!userId ? undefined : ''}}"
                           />
                        </ws:Array>
                     </ws:filterStructure>
                     <ws:template>
                        <ws:SBIS3.CONTROLS.LongOperationsFilter hideStaffFilter="{{hideStaffFilter}}" />
                     </ws:template>
                  </ws:SBIS3.CONTROLS.FilterButton>
               </div>
               <div class="controls-Browser__tableCell-fastDataFilter">
                  <ws:SBIS3.CONTROLS.FastDataFilter
                     name="browserFastDataFilter"
                     className="controls-Browser__fastDataFilter"
                     tabindex="0"
                     >
                     <ws:items>
                        <ws:Array>
                           <ws:Object
                              idProperty="key"
                              displayProperty="title"
                              parentProperty="parent"
                              multiselect="{{false}}"
                              values="{{ [
                                 {
                                 'key': null,
                                 'title': rk('В любом состоянии')
                                 },
                                 {
                                 'key': 'running',
                                 'title': rk('В процессе')
                                 },
                                 {
                                 'key': 'ended',
                                 'title': rk('Завершенные')
                                 },
                                 {
                                 'key': 'success-ended',
                                 'title': rk('Успешно'),
                                 'parent': 'ended'
                                 },
                                 {
                                 'key': 'error-ended',
                                 'title': rk('С ошибками'),
                                 'parent': 'ended'
                                 },
                                 {
                                 'key': 'suspended',
                                 'title': rk('Приостановленные')
                                 }
                              ] }}"
                              >
                              <!--<ws:values>
                                 <ws:Array>
                                    <ws:Object key="{{null}}" title="{[В любом состоянии]}"></ws:Object>
                                    <ws:Object key="running" title="{[В процессе]}"></ws:Object>
                                    <ws:Object key="ended" title="{[Завершенные]}"></ws:Object>
                                    <ws:Object key="success-ended" title="{[Успешно]}" parent="ended"></ws:Object>
                                    <ws:Object key="error-ended" title="{[С ошибками]}" parent="ended"></ws:Object>
                                    <ws:Object key="suspended" title="{[Приостановленные]}"></ws:Object>
                                 </ws:Array>
                              </ws:values>-->
                           </ws:Object>
                        </ws:Array>
                     </ws:items>
                     <ws:filterStructure>
                        <ws:Array>
                           <ws:Object
                              internalValueField="key"
                              internalCaptionField="title"
                              value="{{'filter/status'|mutable}}"
                           />
                        </ws:Array>
                     </ws:filterStructure>
                  </ws:SBIS3.CONTROLS.FastDataFilter>
               </div>
            </div>
         </div>
         <div class="controls-Browser__view">
            <ws:SBIS3.CONTROLS.LongOperationsList
               name="operationList"
               columns="{{columns}}"
               userId="{{userId}}"
               narrowTmpl="{{false}}"
               useGroupByEasyGroup="{{useGroupByEasyGroup}}"
            />
         </div>
      </ws:content>
   </ws:SBIS3.CONTROLS.Browser>
   <ws:SBIS3.CONTROLS.Action.OpenEditDialog
      name="action"
      template="js!SBIS3.CONTROLS.LongOperationHistory"
      mode="floatArea"
      initializingWay="local"
   />
</div>
