<div class="controls-Browser-ColumnsEditor-EditorButton">
   <ws:if data="{{usePresets}}">
      <SBIS3.CONTROLS.Browser.ColumnsEditor.Preset.Dropdown
         name="controls-Browser-ColumnsEditor-EditorButton__presetDropdown"
         className="controls-Browser-ColumnsEditor-EditorButton__presetDropdown"
         staticPresets="{{staticPresets}}"
         presetNamespace="{{presetNamespace}}"
         selectedPresetId="{{selectedPresetId}}"
         >
         <ws:title>
            <ws:String>
               <ws:if data="{{presetsTitle}}">{{presetsTitle}}</ws:if>
               <ws:else>{[РедакторКолонок@@Выберите шаблон]}</ws:else>
            </ws:String>
         </ws:title>
      </SBIS3.CONTROLS.Browser.ColumnsEditor.Preset.Dropdown>
   </ws:if>
   <SBIS3.CONTROLS.Button.IconButton
       icon="sprite:icon-24 icon-Settings icon-primary"
       name="controls-Browser-ColumnsEditor-EditorButton__button"
       tooltip="{[РедакторКолонок@@Настроить колонки]}"
       command=""
      >
      <ws:tooltip>
         <ws:String>
            <ws:if data="{{tooltip}}">{{tooltip}}</ws:if>
            <ws:else>{[РедакторКолонок@@Настроить колонки]}</ws:else>
         </ws:String>
      </ws:tooltip>
   </SBIS3.CONTROLS.Button.IconButton>
</div>