.controls-Columns-EditorButton,
.controls-Columns-EditorButton__presetDropdown {
   display: inline-block;
   vertical-align: top;
}

.controls-Columns-EditorButton__presetDropdown {
   margin-right: 4px;
}
