<ws:template name="_itemTpl">
   <ws:partial
      visible="{{visible}}"
      caption="{{caption}}"
      tooltip="{{tooltip}}"
      allowChangeEnable="{{allowChangeEnable}}"
      class="controls-ItemActions__item {{cssClass ? cssClass}}"
      icon="{{icon && viewMode !== 'caption' ? icon + ' controls-ItemActions__icon'}}"
      template="{{'js!' + (icon && (viewMode === 'icon' || !viewMode) ? 'SBIS3.CONTROLS.IconButton' : 'SBIS3.CONTROLS.Link')}}"
   />
</ws:template>

<ws:partial
   template="_itemTpl"
   icon="{{item.get('icon')}}"
   caption="{{item.get('caption')}}"
   visible="{{item.get('visible')}}"
   tooltip="{{item.get('tooltip')}}"
   cssClass="{{item.get('cssClass')}}"
   viewMode="{{item.get('toolbarViewMode')}}"
   allowChangeEnable="{{item.get('allowChangeEnable')}}"
/>