<div class="controls-ItemActions">
   <div class="controls-ItemActions__itemsContainer">
      <SBIS3.CONTROLS.Button.IconButton
         class="controls-ItemActions__menu-button controls-ItemActions__item ws-hidden"
         name="itemActionsMenuButton"
         allowChangeEnable="{{false}}"
         visible="{{false}}"
         command="showMenu"
         caption="{[Ещё...]}"
         icon="icon-size icon-ExpandDown icon-primary action-hover"
      />
      <div class="controls-ItemActions__menu-container" style="display:none;"></div>
   </div>
</div>