.controls-MultiView {
   .controls-MultiView__listItem {
      height: @data-grid-cell-height;
      line-height: @data-grid-cell-height;
      padding: @data-grid-cell-padding;
      cursor: @data-grid-cell-cursor;
      &:hover {
         background: @data-grid-row-hover-bg;
      }
   }
   .controls-ListView__itemCheckBox{
      position: absolute;
      left: 3px;
      top: 5px;
   }
   .controls-MultiView__tileItem {
      display: inline-block;
      border: 1px solid #eeeeee;
      min-width: 128px;
      min-height: 128px;
      cursor: pointer;
      text-align: left;
      margin: -4px 0 0 -1px;
      &:hover {
         background: #f3f3f3;
         .controls-MultiView__tileImg{
            box-shadow: 1px 2px 4px #aaa;
         }
      }
      &.controls-ListView__item__selected{
         background: #E7F0F9;
      }
      .controls-MultiView__tileImg{
         margin: 10px 40px;
      }
      .controls-MultiView__tileText {
         margin: 7px;
      }
   }

}

