@freToolbarShowButtonPrimary: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAgCAYAAAAbifjMAAAAj0lEQVR42mN4+ubrf0oww6gBowaMGoBmwMPz/9fMm/l/5kwgXrD1/6knaIqfXELIz9vw/9hDbC5AVoRsCJrmE0/weQFF8ab/J+7g1ow7DJANmYlbM/5AfILfZuJiAWTIYtyaR1PiqAHUM+DRy08BT159OU+qRpAekF4GKGAk1iAkjYwMWABOgwhpxGkQIY0A4t0NLMoQAuoAAAAASUVORK5CYII=');
@freToolbarShowButtonHover: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAgCAYAAAAbifjMAAAAkklEQVR42mN4+ubrf0oww6gBowaMGoBmwMNT/+sjK/4b2lX8N0tZ9v/wMzTFz87C5Q0j5//f8RCbC5AUoRiCpnnvM3xeQDYkbtH/vbdxa8YdBsg22uHWjD8Qn+G3mbhYABmSiVvzaEocNYB6Bjx6+Sngyasv50nVCNID0ssABYzEGoSkkZEBC8BpECGNOA0ipBEApZ348FmE4MYAAAAASUVORK5CYII=');
@freToolbarHideButtonPrimary: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAgCAYAAAAbifjMAAAAhklEQVR42u3SOwqAMAyA4XhDr5dFBFcRTyFuguDmUqmD4iQ6RwuCIn35GFPI+H9NodBPK30ZYIABBjwAWVOa5FTKN4CKIyTEfSIzAs4Y7Qg4b25ryiybgNfasqE81iMnICr7m29IIfgnMvAn0A1zKMelehqqRrVwnMAXuoQBaI4RcoVGyBVu09oNLOSz8lQAAAAASUVORK5CYII=');
@freToolbarHideButtonHover: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAgCAYAAAAbifjMAAAAhklEQVR42mN4+ubrf0oww6gBowaMGkCEAc/O/q/PnP9/7zNyDABpjqz4b2gHxJG4DWEgqNkOvyEMBG2+ffZ/axxuQxiIcvazi/8npGA3BGHAw1P4/YxmyI6Hoylx1ABqGvDo5aeAJ6++nCdVI0gPSC8DFDASaxCSRkYGLACnQYQ04jSIkEYAZ2f49HXkPqUAAAAASUVORK5CYII=');

@fieldRichEditorToolbarColor: #E5ECF5;
.controls-RichEditorToolbar {
   height: auto;
   cursor: default;
   &.ws-disabled {
      display: none;
   }

   &.controls-RichEditorToolbar__hide {
      .controls-RichEditorToolbar__toggleButton {
         background-image: @freToolbarShowButtonPrimary;
      }
      .controls-RichEditorToolbar__itemsContainer {
         height: 0px;
      }
   }

   .controls-RichEditorToolbar__toggleButton {
      background-size: 100% 100%;
      position: absolute;
      display: block;
      height: 32px;
      width: 18px;
      right: 0px;
      top: 0px;
      z-index: 2;
      border: none;
      padding: 0px;
      background-color: transparent;
      cursor: pointer;
      background-image: @freToolbarHideButtonPrimary;
      .box-shadow(none);
      .user-select(none)
   }

   .controls-RichEditorToolbar__itemsContainer {
      height: 32px;
      background-color: @fieldRichEditorToolbarColor;
      text-align: left;
      .flexbox();
      .flex-wrap(wrap);
      padding-left: 4px;
      overflow: hidden;
      .user-select(none);
      & input {
         .user-select(auto);
      }
   }
   .controls-RichEditorToolbar__item {
      margin: 2px 4px;
      .flex-shrink(0);
      &.controls-ComboBox {
         margin: 4px;
         width:126px;
         .controls-InputRender__field {
            overflow: hidden;
         }
      }
      &.controls-Button.controls-Button__default {
         border: 1px transparent solid;
         &:hover, .controls-Checked__checked {
            border: 1px transparent solid !important;
         }
      }
   }
}

.controls-Menu__Popup.controls-RichEditorToolbar_Menu {
   margin: @menu-button-menu-margin;
}

/*Блок выбора цвета*/
.fre-color {
   .controls-ListView__item {
      height: 32px !important;
      width: 32px;
      margin: 0 4px;
      padding: 0 !important;

      .controls-MenuItem__content {
         height: 100%;
         display: flex;
         align-items: center;
         justify-content: center;
      }
      .controls-RichEditorToolbar__color {
         height: 16px;
         width: 16px;
         border-radius: 2px;
         &Black {
            background-color: black;
         }
         &Red {
            background-color: red;
         }
         &Green {
            background-color: green;
         }
         &Blue {
            background-color: blue;
         }
         &Purple {
            background-color: purple;
         }
         &Grey {
            background-color: grey;
         }
      }
   }
}

.ws-is-desktop-platform {
   .controls-RichEditorToolbar {
      &.controls-RichEditorToolbar__hide {
         .controls-RichEditorToolbar__toggleButton {
            &:hover {
               background-image: @freToolbarShowButtonHover;
            }
         }

      }
   }
   .controls-RichEditorToolbar__toggleButton {
      &:hover {
         background-image: @freToolbarHideButtonHover;
      }
   }
   .controls-RichEditorToolbar__item {
      &.controls-Button {
         &.controls-ListView__item {
            &.ws-disabled:hover .controls-Button__icon {
               color: @default-disabled-color !important;
            }
            &:hover .controls-Button__icon {
               color: @icon-active-color !important;
            }
         }
      }
   }
}

.controls-RichEditorToolbar__stylePicker {
   .controls-ListView__item { //TODO: можно сделать вообще без каскада через className у item'ов
      &.titleText {
         font-size: 18px;
         line-height: 23px;
         color: #313E78;
         font-weight: bold;
      }
      &.titleText:hover {
         color: #313E78;
      }

      &.subTitleText {
         font-size: 15px;
         line-height: 19px;
         color: #313E78;
         font-weight: bold;
      }
      &.subTitleText:hover {
         color: #313E78;
      }

      &.additionalText {
         font-size: 12px;
         line-height: 15px;
         color: #999999;
      }
      &.additionalText:hover {
         color: #999999;
      }
   }
}

.ws-is-firefox {
   .controls-RichEditorToolbar {
      .controls-RichEditorToolbar__item.controls-ComboBox .controls-InputRender__field {
         padding-top: 0;
      }
   }
}

.ws-is-ie {
  .fre-color {
    .controls-ListView__item {
      .controls-MenuItem__content {
        display: flex;
      }
    }
  }
}
