<div class="controls-NotificationPopup">
   <div class="controls-NotificationPopup__header{{closeButton ? ' controls-NotificationPopup__header-withCloseButton'}}">
      <ws:partial template="{{headerTemplate}}" scope="{{...}}"/>
   </div>
   <ws:if data="{{bodyTemplate}}">
      <div class="controls-NotificationPopup__body">
         <ws:partial template="{{bodyTemplate}}" scope="{{...}}"/>
      </div>
   </ws:if>
   <ws:if data="{{footerTemplate}}">
      <div class="controls-NotificationPopup__footer">
         <ws:partial template="{{footerTemplate}}" scope="{{...}}"/>
      </div>
   </ws:if>
</div>