<SBIS3.CONTROLS.CheckBox
	cssClassName="controls-ListView__item"
	attributes="{{ {
		'data-hash': projItem.getHash(),
		'data-id': getPropertyValue(item, idProperty)
	} }}"
	caption="{{getPropertyValue(item, displayProperty)}}"
/>