<div class="controls-TabButtons{{(items && items.length) ? ' hasItems'}}{{idProperty ? ' hasKeyField'}} ">
   <ws:if data="{{ _serverRender }}">
      <ws:partial template="{{_itemsTemplate}}" records="{{_records}}" tplData="{{_itemData}}"/>
      <ws:partial template="{{_spaceTemplate}}" scope="{{...}}"/>
   </ws:if>
</div>