.controls-PropertyGrid_theme_@{themeName} {
  padding: @spacing_PropertyGrid-between-top-border-content
           @spacing_PropertyGrid-between-right-border-content
           @spacing_PropertyGrid-between-bottom-border-content
           @spacing_PropertyGrid-between-left-border-content;
}

.controls-PropertyGrid__editor-theme_@{themeName} {
  margin-bottom: @spacing_PropertyGrid-between-editors;
}

.controls-PropertyGrid__editor-caption-theme_@{themeName} {
  display: inline-flex;
  width: @width-PropertyGrid_editor-caption;
  color: @color_PropertyGrid-editor-label;
}

.controls-PropertyGrid__group-theme_@{themeName} {
  margin-top: @spacing_PropertyGrid-group-between-top-border-content;
  margin-bottom: @spacing_PropertyGrid-group-between-bottom-border-content;
}