<Controls.Popup.Templates.Dialog.DialogTemplate contentArea="{{_options.content}}"
                                                on:mousedown="_sendResult()"
                                                on:mouseenter="_sendResult()"
                                                on:mouseleave="_sendResult()"/>