.controls-ComboBox-InputRender {
   width: 100%;
}

.controls-ComboBox__nativeField_theme_default_caretEmpty, .controls-ComboBox__nativeField_theme_default_caretFilled {
   cursor: pointer;
}

.controls-ComboBox__field_theme_@{themeName}_margin {
   margin: 0 @padding-horizontal_inputText;
}

.controls-ComboBox-popup_theme-@{themeName} {
   margin-top: @margin-top_ComboBox-popup;
}

.controls-ComboBox:hover, .controls-ComboBox__opened {
   .controls-ComboBox__arrow-wrapper_theme-@{themeName} {
      color: @color-Separator__icon_style-secondary_hovered;
   }
}

.controls-ComboBox__arrow-wrapper {
   display: inline-flex;
   align-items: center;
   align-self: center;
   cursor: pointer;
   height: 100%;
}
.controls-ComboBox__arrow-wrapper_theme-@{themeName} {
   color: @color-Separator__icon_style-secondary;
   padding-right: @spacing_ComboBox-between-arrow-rightBorder;
}

.controls-ComboBox__arrow-wrapper:before {
   content: "\200b";
}

.controls-ComboBox__iconArrow_theme-@{themeName} {
   .icon-size-without-important(@size-Separator__icon);
}