.controls-ComboBox-InputRender.theme_@{themeName} {
   width: 100%;
}

.controls-ComboBox-popup.theme_@{themeName} {
   margin-top: @margin-top_ComboBox-popup;
}

.controls-ComboBox-button-separator {
   align-self: center;
}