<ws:template name="period">
   <Controls.Button style="linkMain" size="l" caption="January'15" bind:value="item.value"/>
</ws:template>

<ws:template name="state">
   <Controls.Input.Dropdown bind:selectedKeys="item.value"
                           keyProperty="key"
                           source="{{item.source}}"/>
</ws:template>

<ws:template name="sender">
   <div class="panel-demo-textFilter">
      <Controls.Button style="linkMain"  caption="Sender" attr:class="panel-demo-text"/>
      <Controls.Input.Text bind:value="item.value" attr:class="panel-demo-input" />
   </div>
</ws:template>

<ws:template name="author">
   <div class="panel-demo-textFilter">
      <Controls.Button style="linkMain"  caption="Author" attr:class="panel-demo-text"/>
      <Controls.Input.Text bind:value="item.value" attr:class="panel-demo-input" />
   </div>
</ws:template>

<ws:template name="responsible">
   <div class="panel-demo-textFilter">
      <Controls.Button style="linkMain"  caption="Responsible" attr:class="panel-demo-text"/>
      <Controls.Input.Text bind:value="item.value" attr:class="panel-demo-input"/>
   </div>
</ws:template>

<ws:template name="tagging">
   <Controls.Toggle.Checkbox bind:value="item.value" caption="Пометки"/>
</ws:template>

<ws:template name="operation">
   <Controls.Input.Text bind:value="item.value"/>
</ws:template>

<ws:template name="our organisation">
   <Controls.Input.Text bind:value="item.value"/>
</ws:template>

<ws:template name="document">
   <Controls.Input.Text bind:value="item.value"/>
</ws:template>

<ws:partial template="{{item.id}}" item="{{item}}"/>