<ws:template name="period">
   <Controls.Input.Dropdown bind:selectedKeys="value"
                            bind:text="textValue"
                            keyProperty="key"
                            source="{{source}}" />
</ws:template>

<ws:template name="state">
   <Controls.Input.Dropdown bind:selectedKeys="value"
                            bind:text="textValue"
                           keyProperty="key"
                           source="{{source}}"/>
</ws:template>

<ws:template name="sender">
      <Controls.Button style="linkMain"  caption="Sender" attr:class="panel-demo-text"/>
      <Controls.Input.Text bind:value="value" attr:class="panel-without-additional-demo-input" />
</ws:template>

<ws:template name="author">
      <Controls.Button style="linkMain"  caption="Author" attr:class="panel-demo-text"/>
      <Controls.Input.Text bind:value="value" attr:class="panel-without-additional-demo-input" />
</ws:template>

<ws:template name="responsible">
      <Controls.Button style="linkMain"  caption="Responsible" attr:class="panel-demo-text"/>
      <Controls.Input.Text bind:value="value" attr:class="panel-without-additional-demo-input" />
</ws:template>

<ws:template name="tagging">
   <Controls.Toggle.Checkbox bind:value="value" caption="Пометки"/>
</ws:template>

<ws:template name="operation">
   <Controls.Input.Text bind:value="value"/>
</ws:template>

<ws:template name="our organisation">
   <Controls.Input.Text bind:value="value"/>
</ws:template>

<ws:template name="document">
   <Controls.Input.Text bind:value="value"/>
</ws:template>

<ws:partial template="{{item.id}}" scope="{{item}}"/>