<div class="controls-LongOperations controls-LongOperationHistory">
   <ws:SBIS3.CONTROLS.Browser
      name="brows"
      className="controls-Browser__view"
   >
      <ws:content>
         <div class="controls-Browser__table">
            <div class="controls-Browser__tableRow">
               <div class="controls-Browser__tableCell-fastDataFilter">
                  <ws:SBIS3.CONTROLS.FastDataFilter
                     name="browserFastDataFilter"
                     className="controls-Browser__fastDataFilter"
                  >
                     <ws:filterStructure>
                        <ws:Array>
                           <ws:Object
                              internalValueField="key"
                              internalCaptionField="title"
                              value="{{'filter/onlyErrors'|mutable}}"
                           />
                        </ws:Array>
                     </ws:filterStructure>
                  </ws:SBIS3.CONTROLS.FastDataFilter>
               </div>
            </div>
         </div>
         <div class="controls-Browser__view">
            <ws:SBIS3.CONTROLS.DataGridView
               idProperty="id"
               name="browserView"
               pageSize="2000"
               infiniteScroll="down"
               itemsActions="{{ [] }}"
               displayProperty="title"
               itemsDragNDrop="{{false}}"
               filter="{{'filter'|mutable}}"
               className="controls-Browser__view controls-DataGridView__hasSeparator controls-DataGridView__overflow-ellipsis"
               ladder="{{ ['Date'] }}"
            >
               <ws:columns type="array">
                  <ws:Object
                     title="Дата"
                     cellTemplate="html!SBIS3.CONTROLS.LongOperationHistory/resources/LongOperationHistoryDateTemplate"
                     width="60"
                  />
                  <ws:Object
                     title="Время"
                     cellTemplate="html!SBIS3.CONTROLS.LongOperationHistory/resources/LongOperationHistoryTimeTemplate"
                     width="60"
                  />
                  <ws:Object
                     title="{[ОперацииНадЗаписями@@Наименование]}"
                     field="title"
                  />
                  <ws:Object
                     title="Статус"
                     cellTemplate="html!SBIS3.CONTROLS.LongOperationHistory/resources/LongOperationHistoryStatusTemplate"
                  />
               </ws:columns>
            </ws:SBIS3.CONTROLS.DataGridView>
         </div>
      </ws:content>
   </ws:SBIS3.CONTROLS.Browser>
</div>