<div class="panel-demo-filterText">
   <Controls.Button style="linkMain" caption="{{_options.caption}}" attr:class="panel-demo-text"/>
   <Controls.Input.Text value="{{_options.value}}"
                        on:valueChanged="_valueChanged()"
                        attr:class="panel-demo-input"/>
</div>