.controls-MenuLink {
   line-height: @menu-link-line-height;
   position: relative;
   text-decoration: @menu-link-text-decoration;
   color: @menu-link-text-color;
   &.ws-enabled {
      &:hover {
         text-decoration: @menu-link-hover-text-decoration;
         color: @menu-link-hover-text-color;
      }
   }
}

// Menu
.controls-Menu.controls-MenuLink__Menu {
   margin: @menu-link-menu-margin;
   padding: @menu-link-menu-padding;
   background: @menu-link-menu-bg;
   .controls-Menu__header {
      .icon-24{
         position: relative;
         top: -4px;
      }
   }
   &.controls-Menu__hide-menu-header .controls-MenuItem{
      padding: @menu-item-default-padding;
   }
}

@-moz-document url-prefix() {
   .controls-Menu.controls-MenuLink__Menu {
      .controls-Menu__header {
         .icon-16 {
            margin-top: -1px;
         }
      }
   }
}