.controls-MenuLink {
  position: relative;
  color: @menu-link-text-color;
  text-decoration: @menu-link-text-decoration;
  padding: @menu-link-arrow-padding;
  line-height: @menu-link-line-height;

  &.controls-MenuLink__32px{
    line-height: 32px;
    .controls-MenuLink__arrowDown{
     top: @menu-link-arrow-top-offset-big;
    }
  }

  &.controls-MenuLink__withoutMenu {
    padding: @menu-link-no-arrow-padding;
  }

  &.ws-enabled{
    &:hover {
      color: @menu-link-hover-text-color;
      text-decoration: @menu-link-hover-text-decoration;
    }
  }

  .controls-MenuButton__arrowDown {
    position: absolute;
    display: inline-block;
    width: @menu-link-arrow-width;
    height: @menu-link-arrow-height;
    right: @menu-link-arrow-right-offset;
    top: @menu-link-arrow-top-offset;
    border-width: @menu-link-border-width;
    border-style: @menu-link-border-style;
    border-color: @menu-link-border-color;
    font-size: 10px!important;
  }
}

// Menu
.controls-MenuLink__Menu {
   margin: @menu-link-menu-margin;
   background: @menu-link-menu-bg;
   &.controls-Menu{
      .controls-Menu__header{
         .icon-16{
            margin-top: 1px;
         }
         padding: @menu-link-header-padding;
         height: @menu-big-header-height;
         .controls-Menu__header-caption {
            .vertical-center-mixin(@menu-link-header-padding, @menu-big-header-height);
         }
      }
      .controls-MenuItem{
         padding: 0 8px 0 26px;
      }
   }
   .controls-MenuLink__Menu {
      .controls-MenuLink__arrowDown {
         display: none;
      }
   }
}