/*group*/
/*ширина кнопки закрытия окна 36px + 2px на небольшой отступ между кнопкой сохранить (в ie8 нет скруглений и кнопки склеиваются)*/
/*ширина кнопки закрытия окна 36px + 90px ширина кнопки сохранить + 2px на небольшой отступ между ними */
.controls-MenuLink {
  line-height: 24px;
  position: relative;
  text-decoration: none;
  color: #05b;
}
.controls-MenuLink:after {
  font-family: 'TensorFont Regular', 'TensorFont';
  font-weight: bold;
  content: '';
}
.controls-Menu.controls-MenuLink__Menu {
  margin: -6px 0 0 -10px;
  padding: 0 0 4px 0;
  background: #fff;
  border-width: 1px;
}
.controls-Menu.controls-MenuLink__Menu .controls-Menu__header {
  background-color: #F4F4F4;
}
.controls-Menu.controls-MenuLink__Menu.controls-Menu__hide-menu-header .controls-MenuItem {
  padding: 0 8px;
}
.ws-is-ie8 .icon-24,
.ws-is-ie9 .icon-24 {
  position: relative;
  top: -4px;
}
@-moz-document url-prefix() {
  .controls-Menu.controls-MenuLink__Menu .controls-Menu__header .icon-16 {
    margin-top: -1px;
  }
}
.ws-is-desktop-platform .controls-MenuLink.ws-enabled:hover {
  text-decoration: underline;
  color: #313E78;
}
