/*group*/
/*ширина кнопки закрытия окна 36px + 2px на небольшой отступ между кнопкой сохранить (в ie8 нет скруглений и кнопки склеиваются)*/
/*ширина кнопки закрытия окна 36px + 90px ширина кнопки сохранить + 2px на небольшой отступ между ними */
.controls-Link {
  display: inline-block;
  cursor: pointer;
  color: #05b;
  text-decoration: none;
  text-align: center;
  line-height: 24px;
  padding: 0;
  box-sizing: border-box;
  font-family: 'TensorFont Regular', 'TensorFont', sans-serif;
  font-size: 14px;
}
.controls-Link.ws-area {
  height: auto;
}
.controls-Link.controls-Click__active {
  cursor: pointer;
  color: #313E78;
  text-decoration: underline;
}
.controls-Link.controls-Click__active .controls-Link__icon.icon-primary {
  color: #313E78 !important;
}
.controls-Link.ws-disabled {
  color: #CCC;
  cursor: default;
  text-decoration: none;
}
.controls-Link.ws-disabled .controls-Link__icon {
  color: #CCC !important;
}
.controls-Link .controls-Link__icon {
  vertical-align: middle;
  margin: -3px 0 0;
}
.controls-Link.controls-Button__IE8Hack .controls-Link__icon:before {
  content: '\00ad';
}
.controls-Link .controls-Link__field {
  margin: 0;
}
.controls-Link .controls-Link__icon + .controls-Link__field {
  margin: 0 0 0 6px;
}
.controls-Link .controls-Link__icon + .controls-Link__field:empty {
  margin: 0;
}
.controls-Link.controls-Button__ellipsis {
  vertical-align: text-bottom;
}
.controls-Link .controls-Link-link {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}
.controls-Link.controls-Link__underline {
  text-decoration: underline;
}
.ws-is-ie10 .controls-Link.controls-Click__active .controls-Link-link {
  background-color: transparent;
}
.staff-CardButtons__right .controls-Link {
  line-height: 24px;
}
.ws-is-firefox .controls-Link .controls-Link__icon {
  margin: -5px 0 0;
}
.ws-is-desktop-platform .controls-Link:not(.ws-disabled):not(.controls-Click__active):not(.controls-Link__disabledHover):hover {
  color: #313E78;
}
.ws-is-desktop-platform .controls-Link:not(.ws-disabled):not(.controls-Click__active):not(.controls-Link__disabledHover):hover .controls-Link__icon.icon-primary {
  color: #313E78 !important;
}
.ws-is-desktop-platform .controls-Link:not(.ws-disabled):not(.controls-Click__active):hover {
  cursor: pointer;
  text-decoration: underline;
}
