<span class="controls-Link{{enabled ? '  ws-enabled'}}{{className ? ' ' + className}}{{!visible ? ' ws-hidden'}}" title="{{tooltip}}">
   <ws:partial template="{{hrefTemplate}}" scope="{{...}}"></ws:partial>
</span>