//<span class="controls-ButtonBase controls-Link controls-Link_state-main">
//  <span class="controls-ButtonBase__content controls-Button__content controls-Link__content">
//    <i class="controls-Button__icon"></i>
//    <span class="controls-Button__text spacing-between-icon-text  controls-Link__text ">This is Link</span>
//  </span>
//</span>
.controls-Link {
  .button-default-style(@font-size_Link);
  height: @height_Link;
}

// состояния ссылки
.controls-Link_state-main {
  color: @color_Link-text;
}
.controls-Link_state-main-2 {
  color: @color_Link-main-2;
}
.controls-Link_state-main-3 {
  color: @color_Link-main-2;
  // Если навесить text-decoration на ссылку, то будет подчеркивать иконка
  // используем каскад, чтобы подчеркивать только текст.
  .controls-Button__text {
    text-decoration: underline;
  }
}
.controls-Link_state-additional {
  color: @color_Link-additional;
}
.controls-Link_state-additional-2 {
  color: @color_Link-additional-2;
}
.controls-Link_state-additional-3 {
  color: @color_Link-additional-3;
}
.controls-Link_state-additional-4 {
  color: @color_Link-additional-4;
}
.controls-Link_state-additional-5 {
  color: @color_Link-additional-5;
}

.controls-Link_state-disabled {
  color: @color_Link-text_disabled;
}

.controls-Link_state-main:active, .controls-Link_state-main-3:active {
  color: @color_Link-text_active;
  // нужно по нажатию перекрашивать primary иконку, поэтому используем каскад
  // иконки других значений icon-done, icon-error etc. перекрашивать не нужно
  .controls-Button__icon.icon-primary {
    color: @color_Link-text_active;
  }
}

.controls-Link__content {
  .justify-content(flex-start);
}

.controls-Link-link {
  .inline-flexbox();
  .align-items(center);
  width: 100%;
  // берем значения от родителя, чтобы перебить стандартные стили ссылке с href установленные браузером
  text-decoration: inherit;
  color: inherit;
  cursor: inherit;
}

.ws-is-desktop-platform {
  .controls-Link_state-main, .controls-Link_state-main-3 {
    .link-hover-mixin(@color_Link-text_hovered, @color_Link-icon_hovered, controls-Button__text);
  }
  .controls-Link_state-main-2:hover, .controls-Link_state-additional:hover, .controls-Link_state-additional-2:hover,
  .controls-Link_state-additional-3:hover, .controls-Link_state-additional-4:hover, .controls-Link_state-additional-5:hover {
    // аналогично нажатию. по ховеру нужно только текст подчеркивать
    .controls-Button__text {
      text-decoration: underline;
    }
  }
}

// перебиваю глобальные стили на a:hover
.controls-Link-link:hover {
  text-decoration: none;
}

// слой совместимости. т.к. ссылка может быть одна на странице
.spacing-between-icon-text {
  margin-left: @spacing_Button-between-icon-text;
}
.controls-Button__text {
  .text-overflow();
}

.controls-Link__underline {
  .controls-Button__text {
    text-decoration: underline;
  }
}
.controls-Link_state-disabled.controls-Link__underline {
  .controls-Button__text {
    text-decoration: none;
  }
}