<div class="controls-image{{sizeMode === 'normal' ? ' controls-image__normal'}}">
   <ws:template name="MenuLinkTpl">
      <SBIS3.CONTROLS.Menu.MenuLink
         name="ButtonUpload"
         class="controls-image__button-upload"
         tooltip="{[Image@@Загрузить]}"
         caption="{[Image@@Загрузить]}"
         icon="sprite:icon-16 icon-Picture icon-primary"
         items="{{ [{
                  'id': 'fromFile',
                  'icon': 'sprite:icon-24 icon-OpenedFolder icon-primary',
                  'title': titleFile
               }, webCam ? {
                  'id': 'fromWebCam',
                  'icon': 'sprite:icon-24 icon-VideoCallNull icon-primary',
                  'title': titleWebCam
               } : undefined ] }}"
      >
         <ws:handlers type="object">
            <ws:onMenuItemActivate type="function">SBIS3.CONTROLS/Image:prototype._buttonUploadClick</ws:onMenuItemActivate>
            <ws:onPickerOpen type="function">SBIS3.CONTROLS/Image:prototype._pickerOpen</ws:onPickerOpen>
            <ws:onPickerClose type="function">SBIS3.CONTROLS/Image:prototype._pickerClose</ws:onPickerClose>
         </ws:handlers>
      </SBIS3.CONTROLS.Menu.MenuLink>
   </ws:template>
   <div class="controls-image__wrapper">
      <img
         class="controls-image__image{{avoidCache && !dataSource ? ' ws-hidden'}}"
         tooltip="{{tooltip}}"
         alt="{{tooltip || name}}"
         src="{{!avoidCache || dataSource ? _templateImage}}"
         style="{{ sizeMode === 'stretch' && (!avoidCache || dataSource) ? 'width: 100%'}}"
      />
      <ws:if data="{{imageBar}}">
         <div class="controls-image__image-bar" style="display: none;">
           <ws:partial template="MenuLinkTpl" titleFile="{[Из файла]}" titleWebCam="{[С веб-камеры]}" scope="{{...}}"/>
           <SBIS3.CONTROLS.Link
              name="ButtonEdit"
              class="controls-image__button-edit"
              tooltip="{[Редактировать]}"
              icon="sprite:icon-16 icon-Edit icon-primary"
              command="editImage"
              visible="{{avoidCache}}"
           />
            <SBIS3.CONTROLS.Link
               name="ButtonReset"
               class="controls-image__button-reset"
               tooltip="{[Удалить]}"
               icon="sprite:icon-16 icon-Erase icon-error"
               command="resetImage"
               visible="{{avoidCache}}"
            />
         </div>
      </ws:if>
   </div>
</div>