// Цвета
//
// Общие цвета

@background-color:                  #ffffff;
@hover_background-color:            #f0f5fb;
@danger_color:                      #d04d4d;
@success_color:                     #069922;
@warning_color:                     #fec63f;
@primary_color:                     #ff7033;
@secondary_color:                   #587ab0;
@unaccented_color:                  #999999;
@readonly_color:                    #cccccc;
@invalid_border-color:              @danger_color;
@invalid_focus_background-color:    #fadadd;
@marker_color:                      #ff7033;
@border-color:                      #cccccc;
@readonly_marker-color:             #313e78;

// Цвета текста

@text-color:                        #000000;
@primary_text-color:                #d94700;
@primary_hover_text-color:          #ff7033;
@secondary_text-color:              #313e78;
@secondary_hover_text-color:        #0055bb;
@label_text-color:                  #8991a9;
@link_text-color:                   #0055bb;
@link_hover_text-color:             #313e78;
@unaccented_text-color:             @unaccented_color;
@link_text-color_inline:            @link_hover_text-color;
@link_hover_text-color_inline:      @link_text-color;
@info_text-color:                   #9122bf;
@contrast_text-color:               #ffffff;


// Цвета иконок

@icon-color:                        #000000;
@secondary_icon-color:              @secondary_color;
@secondary_hover_icon-color:        @link_hover_text-color;
@contrast_icon-color:               #ffffff;
@unaccented_icon-color:             #cccccc;
@info_icon-color:                   #5856d6;



// Шрифты
//
// Общие размеры шрифтов
@font-size_xs:                      12px;
@font-size_s:                       13px;
@font-size_m:                       14px;
@font-size_l:                       15px;
@font-size_xl:                      16px;
@font-size_2xl:                     17px;
@font-size_3xl:                     18px;
@font-size_4xl:                     20px;
@font-size_5xl:                     24px;
@font-size_6xl:                     28px;
@font-size_7xl:                     32px;
@font-size_default:                 @font-size_m;

// Жирность шрифта

@font-weight:                       normal;

// Начертание шрифта
@font-family:                       'TensorFont', sans-serif;



// Высоты элементов
//
// Высоты строчных контролов (кнопок, полей ввода)
@inline_height_xs:                  16px;
@inline_height_s:                   20px;
@inline_height_m:                   24px;
@inline_height_l:                   28px;
@inline_height_xl:                  32px;
@inline_height_2xl:                 36px;
@inline_height_default:             @inline_height_m;


// Иконки
//
// Шрифты для иконок
@icon_font-family_2xs:              'cbuc-icons';
@icon_font-family_xs:               'cbuc-icons';
@icon_font-family_s:                'cbuc-icons';
@icon_font-family_m:                'cbuc-icons24';
@icon_font-family_l:                'cbuc-icons';

// Размеры иконок
@icon-size_2xs:                     12px;
@icon-size_xs:                      14px;
@icon-size_s:                       16px;
@icon-size_m:                       24px;
@icon-size_l:                       32px;



// Линейка стандартных отступов
// Примечание: на эти переменные лучше делать ссылки из других переменных, а не ссылаться из стилей

@offset_3xs:                        2px;
@offset_2xs:                        4px;
@offset_xs:                         6px;
@offset_s:                          8px;
@offset_m:                          12px;
@offset_l:                          16px;
@offset_2xl:                        20px;
@offset_3xl:                        24px;



// Толщина обводки контролов.

@border-thickness:                  1px;


// Валидация
//
// отступ от контрола до обводки валидации сверху и снизу

@invalid_padding-vertical:          @offset_3xs;

// отступ от контрола до обводки валидации справа и слева

@invalid_padding-horizontal:        @offset_2xs;



// Отображение денежных единиц
//
// Размер шрифта копеек в отображении денег
@fractional_size:                   @font-size_xs;

// Цвет шрифта копеек в отображении денег
@fractional_color:                  @readonly_color;



//Размер тэга.
//Примечание: тэг - это цветной индикатор, использующийся для информации о состоянии поля.
@tag-size:                          8px;



// Отображение картинок

@border-radius_s_image:             4px;
@border-radius_m_image:             8px;

@import "aliases/_controls";

// last line
