@import "_aliases";
@import "_notAliasesToDelete";

@tensorFontForIE:                         '1.0.3';
@tensorFontVer:                           '1.0.3';
@emojiFontVer:                            '1.0.1';

//colors
@color_shadow_default:              rgba(0,0,0,0.2);
@color_shadow_popup:                rgba(0,0,0,0.35);
@color_shadow_danger:               rgba(239, 70, 58, 0.4);

@color_active-element_disabled:		  #313E78;
@color_separator:                     #EAEAEA;

@background-color_footer:           #F5F5F5;
@background-color_default:          #FFFFFF;
@background-color_danger:           #FADADD;
@background-color_toolbar:          #e5ecf5; //используется в пмо и в тулбаре бтра
@background_color_editing:          #F3F3F3;
@background-color_additional:       #F8F8F8;
@background-color_item_hovered:     #F0F5FB;
@background-color_header:           #F4F4F4; // Headers in the period dialogs, dropdown and filter panels
@background-color-text-highlight:   #FFFECE;

@color_border:                      #CCC;
@color_border_danger:               @color_danger;
@color_border_disabled:             #E4E4E4;
@color_border_secondary:            #BDBDBD;

@color_overlay_default:             rgba(0, 0, 0, 0.1);

//sizes

@thickness_border_accent:     2px;
@height_control_multi_header: 20px;
@height_s:           18px;

@height_l:           30px;

@height_2xl:         44px;

@line-height_default:       18px;
@size_shadow_default:       0 0 6px 0;

@border-radius_size_m:        4px;

@spacing_default_xxs:      2px;
@spacing_default_xs:       4px;
@spacing_default_s:        6px;
@spacing_default_m:        8px;
@spacing_default_l:        12px;
@spacing_default_xl:       16px;
@spacing_default_xxl:      24px;

//period dialog
@color_border_PeriodDialog:       #EAEAEA;

// d'n'd
@color_drop-target:                                #0055BB;
@border-radius_DraggingTemplate-icon_val:          8px;
@font-size_DraggingTemplate-additionalText_val:    13px;
@height_DraggingTemplate-counter_val:              20px;
@width_DraggingTemplate-textShadow_val:            24px;
@width_DraggingTemplate-icon_val:                  40px;
@height_DraggingTemplate-icon_val:                 40px;
@width_DraggingTemplate_val:                       200px;
@color_DraggingTemplate-counter_val:               #FFFFFF;
@background-color_DraggingTemplate-counter_val:    #0055BB;

//Heading
@color-Separator__icon_style-secondary_hovered_val:     #313E78;
@color-Separator__icon_style-additional_hovered_val:    #313E78;
@color_Heading__caption_style-secondary_hovered_val:    #0055BB;

// Counter
@font-size_Counter_size-l:                                       18px;
@font-size_Counter_size-s:                                       14px;
@font-size_Counter_size-m:                                       15px;
@color_Counter_style-primary_hovered:                            #D94700;
@color_Counter_style-secondary_hovered:                          #0055BB;
@color_Counter_style-secondary:                                  #313E78;
@color_Counter_style-primary:                                    #D94700;
@color_Counter_style-disabled:                                   #999999;

// Separator
@width-HeaderSeparator:                                          6px;
@height-HeaderSeparator:                                         10px;
@spacing-HeaderSeparator_between_headerSeparator_Header:         10px;
@color_HeaderSeparator_secondary:                                #729EE6;
@color_HeaderSeparator_primary:                                  #729EE6;
@color_HeaderSeparator_primary_hovered:                          #729EE6;
@color_HeaderSeparator_secondary_hovered:                        #729EE6;

// tile
@color_shadow_light:                rgba(0,0,0,.15);
@color_shadow_dark:                 rgba(0, 0, 0, 0.45);

//StateIndicator
@state-indicator-sector-side-padding_val: 6px;
@state-indicator-sector-width_val: 6px;
@state-indicator-sector-height_val: 8px;
@state-indicator-sector-spacing_val: 2px;

// icon urls
@closeIconSvg-toolButton:            url('../Controls-default-theme/img/DefaultCloseIcon.svg');
@closeIconSvg-toolButton-hovered:    url('../Controls-default-theme/img/CloseIconHovered.svg');
@closeIconSvg-link:                  url('../Controls-default-theme/img/LightCloseIcon.svg');
@closeIconSvg-link_hovered:          url('../Controls-default-theme/img/CloseIconHovered.svg');
@backArrowOrangeSmall_icon:          url('../Controls-default-theme/img/BackArrowOrangeSmall.svg');
@backArrowOrange_icon:               url('../Controls-default-theme/img/BackArrowOrange.svg');
@backArrowBlueSmall_icon:            url('../Controls-default-theme/img/BackArrowBlueSmall.svg');
@backArrowBlue_icon:                 url('../Controls-default-theme/img/BackArrowBlue.svg');
@loadingIndicator_icon_l:            url('/cdn/LoaderIndicator/1.0.0/ajax-loader-indicator.gif');
@loadingIndicator_icon_s:            url('/cdn/LoaderIndicator/1.0.0/ajax-loader-indicator-16-16.gif');

// border
@border-style_solid:       solid;

@line-height_default:         18px;

@width_control_s:             24px;
@width_control_m:             32px;

// unic vars
// DecoratorMoney
@color_DecoratorMoney-integer_style_noAccentResults_val:          #999999;
@color_DecoratorMoney-integer_style_noBasicRegistry_val:          #999999;
@color_DecoratorMoney-integer_style_noAccentRegistry_val:         #999999;

@font-weight_DecoratorMoney-integer_style_default_val:            normal;
@font-weight_DecoratorMoney-integer_style_accentResults_val:      bold;
@font-weight_DecoratorMoney-integer_style_noAccentResults_val:    bold;
@font-weight_DecoratorMoney-integer_style_group_val:              normal;
@font-weight_DecoratorMoney-integer_style_basicRegistry_val:      normal;
@font-weight_DecoratorMoney-integer_style_noBasicRegistry_val:    normal;
@font-weight_DecoratorMoney-integer_style_accentRegistry_val:     bold;
@font-weight_DecoratorMoney-integer_style_noAccentRegistry_val:   bold;
@font-weight_DecoratorMoney-integer_style_error_val:              bold;
@font-weight_DecoratorMoney-fractional_val:                       normal;

// Image
@border-radius_Image_m_val:                                       8px;

// Infobox
@max-width_Infobox_val:                                           750px;
@spacing_Infobox-between-message-border_val:                      18px;
@size_Infobox-float-element_val:                                  16px;
@spacing_Infobox-between-target-popup_val:                        11px;
@size_Infobox-arrow_val:                                          12px;
@spacing_Infobox-between-arrow-border_val:                        9px;
@spacing_Infobox-between-top-close-button_val:                    5px;
@background-color_Infobox_val:                                    #F7F8FA;
@border-color_Infobox_success_val:                                #069922;
@border-color_Infobox_danger_val:                                 #D04D4D;
@border-color_Infobox_info_val:                                   #999999;

// Mask
@paddings_Mask-stretcher:                                         0 2px 0 1px;

// ListView
@opacity_ListView-item_dragging_val:                              0.6;
@spacing_ListView-item-between-checkbox-borderTop_val:            3px;
@spacing_ListView-empty-between-content-borderTop_xxl_val:        44px;
@spacing_ListView-empty-between-content-borderBottom_xxl_val:     44px;
@spacing_ListView-empty-between-content-borderTop_xs_val:         0;
@spacing_ListView-empty-between-content-borderBottom_xs_val:      0;
@spacing_ListView-item-between-content-borderRight_xs_val:        0;
@spacing_ListView-item-between-content-borderLeft_xs_val:         0;
@spacing_ListView-between-content-checkbox_val:                   0;
@spacing_ListView-empty-between-content-borderTop_xs_val:         0;

@box-shadow_List-masterList-item_selected_val:                    6px 0 6px rgba(0, 0, 0, .15);
@border-color_List-masterList-item_selected_val:                  #C2D0DE transparent #9CB3CA transparent;
@background-color_ListView-item_active_val:                       #F0F5FB;
@background-color_ListView-item_hover_val:                        #F0F5FB;
@border-color_List-masterList_val:                                #EAEAEA;
@background-color_List-masterList-details_val:                    transparent;
@border-width_List-masterList-item-right_val:                     0;
@border-width_List-masterList-item-left_val:                      0;
@border-color_List-masterList-item_selected-right_val:            transparent;
@border-color_List-masterList-item_selected-left_val:             transparent;
@border-color_List-masterList-item_selected-top_val:              #C2D0DE;
@border-color_List-masterList-item_selected-bottom_val:           #9CB3CA;
@padding_List-editAtPlace:                                        4px;
@background-image_AddButton_enable_val:         url('../Controls-default-theme/img/AddButtonEnable.svg');
@background-image_AddButton_disable_val:        url('../Controls-default-theme/img/AddButtonDisable.svg');
@spacing_ListAddButton-between-icon-and-text_val:                 0;

// EmptyTemplate
@font-size_ListView-empty-template_val: 15px;

// BaseControl
@border-radius_BaseControl-loadingIndicator_val:                  8px;

// Menu
@shift-top_MenuButton-button-popup_val:                           -6px;
@shift-top_MenuButton-button_large-popup_val:                     1px;
@shift-top_MenuButton-button_medium-popup_val:                    -5px;
@shift-top_MenuButton-link-popup_val:                             -9px;
@shift-top_MenuButton-link_large-popup_val:                       -8px;
@shift-top_MenuButton-toolButton_large-popup_val:                 -1px;
@shift-top_MenuButton-toolButton_medium-popup_val:                -3px;
@shift-top_MenuButton-link_small-popup_val:                       -8px;
@width-IconButton_size-m:                                         24px;
@width-IconButton_size-l:                                         28px;

// MoveDialog
@width_MoveDialog_val:                                            408px;
@height_MoveDialog_val:                                           446px;
@width_MoveDialog-search_val:                                     184px;

// NotificationBase
@min-dimentions-NotificationBase:                                 40px;
@font-weight_NotificationBase-message_val:                        normal;
@spacing_NotificationBase-between-border-top-message_val:         18px;

// DateRangeRelationButton
@color_DateRangeRelationButton-byCapacity_hovered_val:            #999;

// PeriodDialog
@thickness_PeriodDialog-header-dash_val:                          1px;

// FilterLink
@color_FilterLink:                                                #313e78;

// SelectedCollection
@width_SelectedCollection-counter-shadow_val:                     20px;

// Selector
@min-width_DateRangeSelector_val:                                 150px;

// SelectorLite
@min-width_DateRangeSelectorLite_val:                             150px;

// Lookup
@spacing_Lookup-between-inputRender-rightBorder_val:              0;
@color_Lookup-input-for-comment_val:                              #999999;
@caret-color_Lookup-input-for-comment_val:                        #999999;

// Suggest
@box-shadow-size_Suggest-popup-verticalAlign_top_val:             0 -4px 6px;
@box-shadow-size_Suggest-popup-verticalAlign_bottom_val:          0 4px 6px;
@margin-top_Suggest__tabs-contentLayer_val:                       0;

// ComboBox
@margin-top_ComboBox-popup:                                      -@thickness_border_default;
@spacing_ComboBox-between-arrow-rightBorder_val:                 0;

// TreeGridView
@spacing_TreeGridView-row-expander-between-content_borderRight_m_val:     10px;
@spacing_TreeGridView-row-expander-between-content_borderRight_l_val:     14px;
@spacing_TreeGridView-row-expander-between-content_borderRight_xl_val:    18px;
@spacing_TreeGridView-row-expander-between-content_borderLeft_s_val:      0;
@icon_TreeGridView-expander_node-collapsed_val:                   '\e96e';
@icon_TreeGridView-expander_node-expanded_val:                    '\e96d';
@icon_TreeGridView-expander_hiddenNode-collapsed_val:             '\e9c2';
@icon_TreeGridView-expander_hiddenNode-expanded_val:              '\e9c1';
@width-TreeGridView-levelPadding_size_s_val:                      20px;
@width-TreeGridView-levelPadding_size_m_val:                      30px;
@width-TreeGridView-levelPadding_size_l_val:                      38px;
@width-TreeGridView-levelPadding_size_xl_val:                     46px;
@height_TreeTileView-node_val:                                    40px;
@color_TreeGridView-expander_val:                                 #313E78;
@border-color_TreeGridView-item_dragging_val:                     #0055BB;

// DialogTemplate
@spacing_dialogTemplate-between-head-border-right_val:                    48px;
@line-height_dialogTemplate_caption_val:                                  42px;

@font-weight_dialogTemplate_head_val:                                     bold;

// TileView
@spacing_TileView-between-title-topBorder_val:                            3px;
@spacing_TileView-between-title-bottomBorder_val:                         3px;
@spacing_TileView-between-title-leftBorder_val:                           3px;
@spacing_TileView-between-title-rightBorder_val:                          3px;

// Grid
@spacing_Grid-row-between-content-borderLeft_xl_val:                      20px;
@spacing_Grid-row-between-content-borderRight_xl_val:                     20px;
@spacing_Grid-row-between-checkbox-borderTop_val:                         3px;
@min-height_Grid-row_val:                                                 31px;
@height_Grid-results-cell_val:                                            20px;
@spacing_Grid-row-between-content-borderLeft_xs_val:                      0;
@spacing_Grid-row-between-content-borderRight_xs_val:                     0;
@box-shadow_Grid-masterList-item_selected_val:                            6px 0 6px @color_shadow_light;
@background-color_Grid-row_hover_val:                                     #F0F5FB;
@background-color_Grid-row_hover-transparent_val:                         rgba(240,245,251,0);
@border-color_Grid-row-separator_val:                                     #F5F5F5;
@spacing_Grid-editArrow_left_val:                                         8px;
// размер svg-иконки для сортировки
@height_SortingArrow-icon_val:                                            12px;

// Back
@spacing_Back_between_icon_caption_standart_val:                          3px;
@height_ItemActions_outside_val:                                          31px;
@spacing_ItemActions-between-content-border-top_position_inside_val:      3px;
@spacing_ItemActions-between-content-border-bottom_position_inside_val:   3px;
@spacing_ItemActions-between-content-border-top_position_outside_val:     4px;
@spacing_ItemActions-between-content-border-bottom_position_outside_val:  3px;
@spacing_ItemActions-between-content-border-left_position_outside_val:    0;
@background-color_Swipe_val:                                              #F4F9FD;
@background-color_Swipe-shadow_val:                                       rgba(0, 0, 0, 0.12);
@background-color_Swipe-separator_val:                                    #EBF1F6;
@spacing_Swipe-between-vertical-separator-and-border_val:                 3px;
@spacing_Swipe-between-vertical-and-horizontal-separator_val:             3px;
@spacing_Swipe-between-actions_top_size_m_val:                            3px;
@spacing_Swipe-between-actions_bottom_size_m_val:                         3px;
@max-width_Swipe-title_position_bottom_val:                               160px;
@max-width_Swipe-title_position_right_val:                                220px;
@animation-offset-Swipe-left-to-right_val:                                16px;
@width-Back__icon_size-s_val:                                             9px;
@width-Back__icon_size-m_val:                                             9px;
@width-Back__icon_size-l_val:                                             10px;
@height-Back__icon_size-s_val:                                            11px;
@height-Back__icon_size-m_val:                                            12px;
@height-Back__icon_size-l_val:                                            14px;
@content_Back_secondary_val:                                              '';
@content_Back_primary_val:                                                '';
@font-weight_Back_val:                                                    bold;
@color-Back__caption_style-primary_val:                                   #D94700;
@color-Back__caption_style-secondary_val:                                 #313E78;
@color-Back__caption_style-secondary_hovered_val:                         #0055BB;

// Link
@color_Link_magic_val:                                                    #9122BF;
@color_App-link_val:                                                      #313E78;
@color_App-link_hover_val:                                                #0055BB;

// FilterButton
@shift-top_FilterButton-popup_val:                                        -11px;
@min-width_FilterButton_text_val:                                         15px;
@background-color_FilterButton-icon_val:                                  transparent;
@background-color_FilterButton-icon_hover_val:                            transparent;
@background-color_FilterButton-icon_active_val:                           transparent;
@backround-color_FilterButton-icon_readOnly_val:                          transparent;
@box-shadow-size_FilterButton-icon_val:                                   0 0;
@box-shadow-color_FilterButton-icon_val:                                  transparent;
@text-shadow-color_FilterButton-text_val:                                 transparent;
@text-shadow-size_FilterButton-text_val:                                  0 0;
@background-color_FilterButton-icon_readOnly_val:                         transparent;

//FilterSimplePanel
@max-width_SimplePanel_val:                                               300px;
@spacing_SimplePanel-between-applyButton-topBorder_val:                   3px;
@color_SimplePanel-dropdown__emptyItem_val:                               #D94700;
@shift-top_FilterView-SimplePanel-popup_val:                              -10px;

// CloseButton
@width_CloseButton-icon_toolButton_val:                                   12px;
@width_CloseButton-icon_link_val:                                         12px;
@width_CloseButton_toolButton_m_val:                                      29px;
@width_CloseButton_toolButton_l_val:                                      36px;
@content_CloseButton_icon_val:                                            '\e66c';
@border-right-width_CloseButton_toolButton_val:                           0;
@border-right-radius_CloseButton_toolButton_val:                          0;
@border-bottom-radius_CloseButton_toolButton_val:                         0;
@background-color_CloseButton_toolButton_transparent_val:                 transparent;
@size-Close_button-icon:                                                  12px;

// BreadCrumbs
@max-width_BreadCrumbs-menu_val:                                          800px;
@min-width_BreadCrumbs-text_val:                                          36px;
@spacing_Explorer-path-between-content-borderLeft_val:                    0;
@spacing_BreadCrumbs-menu_val:                                            -25px;
@box-shadow_BreadCrumbs-menu_val:                                         -15px 2px 4px -6px  @background-color_default;

// DigitButton
@min-width_Paging-digitButton_val:                                        28px;
@background-color_Paging-digitButton_hover_val:                           #F0F5FB;
@background-color_Paging-button_hover_val:                                #F0F5FB;

// ConfirmationDialog
@color_SubmitPopup-details_val:                                           inherit;
@min-width_SubmitPopup-button-small_val:                                  80px;
@min-width_SubmitPopup-button_val:                                        86px;
@font-weight_SubmitPopup-message_val:                                     normal;

// ConfirmationTemplate
@width_ConfirmationTemplate-m_val:                                        350px;
@width_ConfirmationTemplate-l_val:                                        440px;

// FilterPanel
@width_FilterPanel-size_s_val:                                            400px;
@width_FilterPanel-size_m_val:                                            400px;
@width_FilterPanel-size_l_val:                                            600px;
@width_FilterPanel-size_xl_val:                                           800px;
@width_FilterPanel-filtersWrapper-size_m_val:                             400px;
@width_FilterPanel-HistoryList-size_m_val:                                350px;
@width_FilterPanel-HistoryList-size_l_val:                                400px;
@background-color_FilterPanel-history_vertical_val:                       #F4F4F4;
@background-color_FilterPanel_val:                                        #FDFDFD;
@color_border_FilterPanel_horizontal_val:                                 #E4E4E4;
@spacing_FilterPanel-between-topBorder-propertyGrid_val:                  0;
@spacing_FilterPanel-between-bottomBorder-propertyGrid_val:               0;
@spacing_PropertyGrid-between-lastItem-bottomBorder_val:                  0;
@spacing_FilterPanel-between-topBorder-history_horizontal_val:            0;

// FilterPanel HistoryList
@width_FavoriteEditDialog_val:                                            400px;
@width_FavoriteEditDialog-dropdownItemTpl-comment_val:                    115px;

// FilterAdditionalParams
@min-width_AdditionalParams-leftColumn_val:                               50%;
@max-width_AdditionalParams-leftColumn_val:                               70%;

// DropdownList
@height_DropdownList-row-separator_val:                                   0;
@spacing_DropdownList-row-between-rightBorder-row-separator_val:          0;
@spacing_DropdownList-row-between-bottomBorder-row-separator_val:         0;
@spacing_DropdownList-row-between-leftBorder-row-separator_val:           0;
@spacing_DropdownList-row-between-checkbox-rightBorder_val:               0;
@shift-top_Dropdown-popup_val:                                            -7px;
@shift-top_Dropdown-head-popup_val:                                       -6px;
@background-color_DropdownList-row_separator_val:                         transparent;
@max-width_DropdownList_val:                                              700px;
@box-shadow-offset_DropdownList_m:                                        6px;
@box-shadow-offset_DropdownList_xs:                                       0;
@box-shadow-blur_DropdownList:                                            6px;
@box-shadow-spread_DropdownList:                                          -6px;
@background_DropdownList-header_val:                                      #F4F4F4;
@color-marker_dark_val:                                                   #D94700;
@color-marker_val:                                                        #FF7033;

// ProgressBar
@height-ProgressBar_bar_val:                                              3px;
@color-ProgressBar__bar_val:                                              #CCC;

// LoadingIndicator
@color_LoadingIndicator-overlay-default_val:                              transparent;

// Search
@border-color_Search_val:                                                 transparent;
@border-color_Search_readOnly_val:                                        transparent;
@border-color_Search_active_val:                                          #DFDFDF;
@background-color_Search_val:                                             #F2F2F2;
@background-color_Search_contrast_background_val:                         #ffffff;

//Popup
@color_border_Notification_default:                 #0055BB;
@size_border_Notification:                          3px;

// Misspell
@text-decoration_Misspell-caption_hover_val:    underline;
@text-decoration_Misspell-caption_active_val:   underline;
@font-weight_Misspell-text_val:                 bold;
@font-weight_Misspell-caption_val:              bold;

//DragBordersContainer
@size_DragBordersContainer-border_val:          5px;
@background_DragBordersContainer-area_val:      rgba(204, 204, 204, 0.35);

//Stack ResizingLine
@resizing-line_mobile_width_stack:        25px;
@resizing-line_mobile_left_stack:         15px;

//BlockLayout
@box-shadow_BlockLayout-block_val:              transparent;
@border-width_BlockLayout-block_val:            0;
@border-color_BlockLayout-block_val:            transparent;
@border-radius_BlockLayout-block_val:           0;

@background_BlockLayout_block_style_3_val:      #FBF9F7;
@background_BlockLayout_block_style_4_val:      #F7F4F0;
@background_BlockLayout_block_style_5_val:      #F4F9FD;

//PropertyGrid
@width-PropertyGrid_editor-caption_val:         50%;

//ColumnsView
@max-width_ColumnsView_tile_val:                400px;
@min-width_ColumnsView_tile_val:                270px;
@side-spacing_ColumnsView_columns_val:          8px;
@vertical_spacing_ColumnsView_tile_val:         4px;
@shadow_ColumnsView_tile_normal_val:            0 0 4px rgba(0, 0, 0, 0.2);
@shadow_ColumnsView_tile_hovered_val:           0 0 4px rgba(0, 0, 0, 0.35);
@border_ColumnsView_tile_normal_val:            1px solid transparent;
