.controls_theme-@{themeName} {

   // Цвета
   //
   // Общие цвета

   --background-color: @background-color;
   --hover_background-color: @hover_background-color;
   --danger_color: @danger_color;
   --success_color: @success_color;
   --warning_color: @warning_color;
   --primary_color: @primary_color;
   --secondary_color: @secondary_color;
   --unaccented_color: @unaccented_color;
   --readonly_color: @readonly_color;
   --invalid_border-color: var(--danger_color);
   --invalid_focus_background-color: @invalid_focus_background-color;
   --marker_color: @marker_color;
   --border-color: @border-color;
   --readonly_marker-color: @readonly_marker-color;

   // Цвета текста

   --text-color: @text-color;
   --primary_text-color: @primary_text-color;
   --primary_hover_text-color: @primary_hover_text-color;
   --secondary_text-color: @secondary_text-color;
   --secondary_hover_text-color: @secondary_hover_text-color;
   --label_text-color: @label_text-color;
   --link_text-color: @link_text-color;
   --link_hover_text-color: @link_hover_text-color;
   --unaccented_text-color: var(--unaccented_color);
   --link_text-color_inline: var(--link_hover_text-color);
   --link_hover_text-color_inline: var(--link_text-color);
   --info_text-color: @info_text-color;
   --contrast_text-color: @contrast_text-color;


   // Цвета иконок

   --icon-color: @icon-color;
   --secondary_icon-color: var(--secondary_color);
   --secondary_hover_icon-color: var(--link_hover_text-color);
   --contrast_icon-color: @contrast_icon-color;
   --unaccented_icon-color: @unaccented_icon-color;
   --info_icon-color: @info_icon-color;



   // Шрифты
   //
   // Общие размеры шрифтов
   --font-size_xs: @font-size_xs;
   --font-size_s: @font-size_s;
   --font-size_m: @font-size_m;
   --font-size_l: @font-size_l;
   --font-size_xl: @font-size_xl;
   --font-size_2xl: @font-size_2xl;
   --font-size_3xl: @font-size_3xl;
   --font-size_4xl: @font-size_4xl;
   --font-size_5xl: @font-size_5xl;
   --font-size_6xl: @font-size_6xl;
   --font-size_7xl: @font-size_7xl;
   --font-size_default: var(--font-size_m);

   // Жирность шрифта

   --font-weight: @font-weight;

   // Начертание шрифта
   --font-family: @font-family;



   // Высоты элементов
   //
   // Высоты строчных контролов (кнопок, полей ввода)
   --inline_height_xs: @inline_height_xs;
   --inline_height_s: @inline_height_s;
   --inline_height_m: @inline_height_m;
   --inline_height_l: @inline_height_l;
   --inline_height_xl: @inline_height_xl;
   --inline_height_2xl: @inline_height_2xl;
   --inline_height_default: var(--inline_height_m);


   // Иконки
   //
   // Шрифты для иконок
   --icon_font-family_2xs: @icon_font-family_2xs;
   --icon_font-family_xs: @icon_font-family_xs;
   --icon_font-family_s: @icon_font-family_s;
   --icon_font-family_m: @icon_font-family_m;
   --icon_font-family_l: @icon_font-family_l;

   // Размеры иконок
   --icon-size_2xs: @icon-size_2xs;
   --icon-size_xs: @icon-size_xs;
   --icon-size_s: @icon-size_s;
   --icon-size_m: @icon-size_m;
   --icon-size_l: @icon-size_l;



   // Линейка стандартных отступов
   // Примечание: на эти переменные лучше делать ссылки из других переменных, а не ссылаться из стилей

   --offset_3xs: @offset_3xs;
   --offset_2xs: @offset_2xs;
   --offset_xs: @offset_xs;
   --offset_s: @offset_s;
   --offset_m: @offset_m;
   --offset_l: @offset_l;
   --offset_2xl: @offset_2xl;
   --offset_3xl: @offset_3xl;



   // Толщина обводки контролов.

   --border-thickness: @border-thickness;


   // Валидация
   //
   // отступ от контрола до обводки валидации сверху и снизу

   --invalid_padding-vertical: var(--offset_3xs);

   // отступ от контрола до обводки валидации справа и слева

   --invalid_padding-horizontal: var(--offset_2xs);


   //Размер тэга.
   //Примечание: тэг - это цветной индикатор, использующийся для информации о состоянии поля.
   --tag-size: @tag-size;



   // Отображение картинок

   --border-radius_s_image: @border-radius_s_image;
   --border-radius_m_image: @border-radius_m_image;



   // Блоки для нового дизайна
   --border-radius_default_block: @border-radius_default_block;
   --box-shadow_block: @box-shadow_block;

}

@import "variables/_controls";
// last line
