<div class="controls-DateRangeBig">
    <ws:SBIS3.CONTROLS.DatePicker
       isCalendarIconShown="{{false}}"
       name="DateRange__DatePickerStart"
       className="controls-DateRangeBig__DatePickerStart"
    />
    <ws:SBIS3.CONTROLS.Button
       tabindex="0"
       caption="&#8211;"
       name="DateRange__Button"
       className="controls-DateRangeBig__Button"
    />
    <ws:SBIS3.CONTROLS.DatePicker
       name="DateRange__DatePickerEnd"
       isCalendarIconShown="{{false}}"
       className="controls-DateRangeBig__DatePickerEnd"
    />
</div>