<div>
   <ws:SBIS3.CONTROLS.Browser columnsConfig="{{ _columnsConfig }}" name="MyBrowser">
      <ws:content type="string">
         <ws:SBIS3.CONTROLS.ColumnsEditor name="browserColumnsEditor" />
         <ws:SBIS3.CONTROLS.TreeDataGridView
            name="browserView"
            items="{{ _items }}"
            idProperty="id"
            parentProperty="par"
            displayProperty="title"
            columns="{{ _columns }}" />
      </ws:content>
   </ws:SBIS3.CONTROLS.Browser>
</div>