.ws-HighChartsLight *{
   -webkit-transform: none !important;
}

.ws-HighChartsLight {
   height: 400px;
}

.ws-HighChartsLight.controls-HighChartsLight__overflow-visible {
    overflow: visible;
}
.ws-HighChartsLight.controls-HighChartsLight__overflow-visible > .highcharts-container {
    overflow: visible !important;
}

.ws-HighChartsLight.controls-HighChartsLight__svg-overflow-visible {
    overflow: visible;
}
.ws-HighChartsLight.controls-HighChartsLight__svg-overflow-visible > .highcharts-container {
    overflow: visible !important;
}
.ws-HighChartsLight.controls-HighChartsLight__svg-overflow-visible > .highcharts-container > svg {
    overflow: visible;
}
