.controls-Label {
  margin: @label-text-margin;
}
.controls-Label__text {
  display: inline-block;
}

.controls-Label__text_size {
  font-size: @default-text-size;
  height: @height_Label;
  line-height: @height_Label;
}

.controls-Label_requeredField.controls-Label__text:after {
  content: ' *';
}

.controls-Label__text_color {
    color: @innacent-color;
  }
  &.controls-Label_requeredField {
    &.controls-Label__text_color:after {
      color: @error-color;
    }
  }
  