<div class="controls-Lookup__item controls-Lookup__item-{{isSingleItem ? 'single' : 'multi'}}">
    <ws:partial template="{{contentTemplate}}"
                item="{{item}}"
                size="{{size || 'default'}}"
                style="{{style || 'default'}}"
                clickable="{{clickable}}"
    />
    <ws:if data="{{!readOnly}}">
        <ws:partial template="{{crossTemplate}}"/>
    </ws:if>
    <ws:if data="{{!isLastItem}}">,</ws:if>
</div>