.controls-Lookup__inputRender {
	width: 100%;
}

.controls-Lookup__showSelector {
	.icon-size-without-important();
	align-self: center;
	color: @color_Lookup_showSelector;
	cursor: pointer;
	margin-left: auto;
}

.controls-Lookup__showSelector:hover {
	color: @color_Lookup-showSelector_hovered;
}