<div class="controls-ColumnsEditorArea__SelectableView__group">
   <!--<div class="controls-ColumnsEditorArea__SelectableView__group-line"></div>-->
   <!--<div class="controls-ColumnsEditorArea__SelectableView__group-caption">{{item.group}}</div>-->
   <div class="controls-GroupBy__separator controls-GroupBy__separator__right">
       <span class="controls-GroupBy__separatorText controls-GroupBy__separatorCollapse{{groupCollapsing && groupCollapsing[item.group] ? ' controls-GroupBy__separatorCollapse__collapsed' : ''}}">
           <ws:if data="{{groupTitleTpl}}">
               <ws:partial template="{{ groupTitleTpl }}" group="{{item.group}}" />
           </ws:if>
           <ws:else data="{{groupTitles|isObject}}">
               {{groupTitles[item.group]}}
           </ws:else>
           <ws:else>
               {{item.group}}
           </ws:else>
       </span>
   </div>
</div>
