<div class="controls-ColumnsEditorArea__Preferences-item">

   <!--^^^<span class="controls-ColumnsEditorArea__Preferences-item-text">{{item[displayProperty]}}</span>--->

   <ws:SBIS3.CONTROLS.DropdownList
      name="controls-controls-ColumnsEditorArea__Preferences-item-title"
      className="controls-ColumnsEditorArea__Preferences-item-title"
      multiselect="{{false}}"
      mode="click"
      type="titleHeader"
      title="{[Выберите шаблон]}"
      idProperty="title"
      displayProperty="title"
   />
</div>