<ws:if data="{{_currentModule}}">
   <ws:partial template="{{_currentModule}}"/>
</ws:if>
<ws:else>
   <div>
      <ws:for data="module in _data">
         <a href="{{_href}}?cname=Example/{{module.name}}" on:click="_clickHandler(module.name)">{{module.title}}</a>
      </ws:for>
   </div>
</ws:else>
