@width-TreeGridView-levelPadding_size_s_val:                      20px;
@width-TreeGridView-levelPadding_size_m_val:                      30px;
@width-TreeGridView-levelPadding_size_l_val:                      38px;
@width-TreeGridView-levelPadding_size_xl_val:                     46px;

@_hierarchy_offset_s_treeGrid:    @expander_s_padding-left_treeGrid + @expander_s_padding-right_treeGrid + @expander_width_treeGrid;
@_hierarchy_offset_m_treeGrid:    @expander_m_padding-left_treeGrid + @expander_m_padding-right_treeGrid + @expander_width_treeGrid;
@_hierarchy_offset_l_treeGrid:    @expander_l_padding-left_treeGrid + @expander_l_padding-right_treeGrid + @expander_width_treeGrid;
@_hierarchy_offset_xl_treeGrid:   @expander_xl_padding-left_treeGrid + @expander_xl_padding-right_treeGrid + @expander_width_treeGrid;

.controls-TreeGrid__row_default-expander_size_s_theme-@{themeName}, .controls-TreeGrid__row-expanderPadding_size_s_theme-@{themeName} {
   padding-left: @expander_s_padding-left_treeGrid;
   padding-right: @expander_s_padding-right_treeGrid;
}
.controls-TreeGrid__row_default-expander_size_m_theme-@{themeName}, .controls-TreeGrid__row-expanderPadding_size_m_theme-@{themeName} {
   padding-left: @expander_m_padding-left_treeGrid;
   padding-right: @expander_m_padding-right_treeGrid;
}
.controls-TreeGrid__row_default-expander_size_l_theme-@{themeName}, .controls-TreeGrid__row-expanderPadding_size_l_theme-@{themeName} {
   padding-left: @expander_l_padding-left_treeGrid;
   padding-right: @expander_l_padding-right_treeGrid;
}
.controls-TreeGrid__row_default-expander_size_xl_theme-@{themeName}, .controls-TreeGrid__row-expanderPadding_size_xl_theme-@{themeName} {
   padding-left: @expander_xl_padding-left_treeGrid;
   padding-right: @expander_xl_padding-right_treeGrid;
}
.controls-TreeGrid__row_default-expander_size_default_theme-@{themeName}, .controls-TreeGrid__row-expanderPadding_size_default_theme-@{themeName} {
   padding-left: @expander_default_padding-left_treeGrid;
   padding-right: @expander_default_padding-right_treeGrid;
}

.controls-TreeGrid__row_master-expander_size_default_theme-@{themeName},
.controls-TreeGrid__row_masterClassic-expander_size_default_theme-@{themeName}, {
   padding-left: @expander_default_padding-left_treeGrid;
   padding-right: @expander_default_padding-right_treeGrid;
}

.controls-TreeGrid__row-expander_theme-@{themeName}, .controls-TreeGrid__row-expanderPadding_theme-@{themeName} {
   line-height: 1;
   display: inline-block;
   position: relative;
   min-height: @expander_height_treeGrid;
   min-width: @expander_width_treeGrid;
}

.controls-TreeGrid__node-footer-expanderPadding_theme-@{themeName} {
   line-height: 1;
   display: inline-block;
   position: relative;
   min-height: 0;
   min-width: @expander_width_treeGrid;
}

.controls-TreeGridView__dragTargetNode_theme-@{themeName} {
   border-top: @item_droppable_border_thickness_treeGrid solid @item_droppable_border_color_treeGrid;
   border-bottom: @item_droppable_border_thickness_treeGrid solid @item_droppable_border_color_treeGrid;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;

   //the z-index is larger than itemActions so that itemActions does not overlap the folder border when drag'n'drop.
   //Will be deleted by task: https://online.sbis.ru/opendoc.html?guid=7503eaab-e38a-4c6e-8f0d-940646d8bd28
   z-index: 2;
}
.controls-TreeGridView__dragTargetNode_first_theme-@{themeName} {
   border-left: @item_droppable_border_thickness_treeGrid solid @item_droppable_border_color_treeGrid;
}
.controls-TreeGridView__dragTargetNode_last_theme-@{themeName} {
   border-right: @item_droppable_border_thickness_treeGrid solid @item_droppable_border_color_treeGrid;
}
.controls-TreeGrid__row-expanderPadding {
   visibility: hidden;
}

.controls-TreeGrid__row-expander_node_default_theme-@{themeName}:before {
   color: @node_expander_icon-color_treeGrid;
   font-family: @node_expander_icon_font-family_treeGrid;
   font-size: @node_expander_icon-size_treeGrid;
   padding-left: @expander_width_treeGrid - @node_expander_icon-size_treeGrid;
}

.controls-TreeGrid__row-expander_hiddenNode_default_theme-@{themeName}:before {
   color: @hidden-node_expander_icon-color_treeGrid;
   font-family: @hidden-node_expander_icon_font-family_treeGrid;
   font-size: @hidden-node_expander_icon-size_treeGrid;
   padding-left: @expander_width_treeGrid - @hidden-node_expander_icon-size_treeGrid;
}

.controls-TreeGrid__row-expander_node_master_theme-@{themeName}:before {
   color: @master_node_expander_icon-color_treeGrid;
   font-family: @node_expander_icon_font-family_treeGrid;
   font-size: @master_node_expander_icon-size_treeGrid;
   padding-left: @expander_width_treeGrid - @master_node_expander_icon-size_treeGrid;
}

.controls-TreeGrid__row-expander_hiddenNode_master_theme-@{themeName}:before {
   color: @master_hidden-node_expander_icon-color_treeGrid;
   font-family: @hidden-node_expander_icon_font-family_treeGrid;
   font-size: @master_hidden-node_expander_icon-size_treeGrid;
   padding-left: @expander_width_treeGrid - @master_hidden-node_expander_icon-size_treeGrid;
}

.controls-TreeGrid__row-expander_theme-@{themeName}:before {
   user-select: none;
   flex-shrink: 0;
   cursor: pointer;
   overflow: hidden;
   text-align: center;
   font-weight: normal; // https://online.sbis.ru/opendoc.html?guid=c9f0873b-3b20-4b73-a084-f67cc2c3071f
}
.controls-TreeGrid__row-expander_node_default_collapsed_theme-@{themeName}:before,
.controls-TreeGrid__row-expander_node_master_collapsed_theme-@{themeName}:before {
   content: '\e96e';
}
.controls-TreeGrid__row-expander_node_default_expanded_theme-@{themeName}:before,
.controls-TreeGrid__row-expander_node_master_expanded_theme-@{themeName}:before {
   content: '\e96d';
}
.controls-TreeGrid__row-expander_hiddenNode_default_collapsed_theme-@{themeName}:before,
.controls-TreeGrid__row-expander_hiddenNode_master_collapsed_theme-@{themeName}:before {
   content: '\e9c2';
}
.controls-TreeGrid__row-expander_hiddenNode_default_expanded_theme-@{themeName}:before,
.controls-TreeGrid__row-expander_hiddenNode_master_expanded_theme-@{themeName}:before {
   content: '\e9c1';
}

.controls-TreeGrid__row {
   display: inline-flex;
}
.controls-TreeGrid__row-levelPadding {
   flex-shrink: 0;
   display: inline-block;
}
.controls-TreeGrid__nodeFooterContent_theme-@{themeName} {
   display: inline-flex;
   align-items: baseline;
   min-height: @node-footer_min-heght;
   box-sizing: border-box;
   border-top-style: solid;
}
.ws-is-ie .controls-TreeGrid__nodeFooterContent {
   display: flex;
}
.controls-TreeGrid__nodeFooterCell_columnSeparator-size_null_theme-@{themeName} {
   border-left-width: 0;
}
.controls-TreeGrid__nodeFooterCell_columnSeparator-size_s_theme-@{themeName} {
   border-left: @column_separator_s_thickness_grid solid @column_separator_s_color_grid;
}

/* row separators for node */
.controls-TreeGrid__nodeFooterContent_rowSeparatorSize-null_theme-@{themeName} {
   border-top-width: 0;
   padding-top: @node-footer_padding-top;
}
.controls-TreeGrid__nodeFooterContent_rowSeparatorSize-s_theme-@{themeName} {
   border-top: @item-separator_s_thickness_list solid @item_separator_s_color_list;
   padding-top: @node-footer_padding-top - @item-separator_s_thickness_list;
}
.controls-TreeGrid__nodeFooterContent_rowSeparatorSize-l_theme-@{themeName} {
   border-top: @item-separator_l_thickness_list solid @item_separator_l_color_list;
   padding-top: @node-footer_padding-top - @item-separator_l_thickness_list;
}

.controls-TreeGrid__nodeFooterContent_theme-@{themeName}:before {
    content: '\200b';
    font-size: @node-footer_max-font-size_treeGrid;
 }
.controls-TreeGrid__row-levelPadding_size_default_theme-@{themeName} {
   width: @_hierarchy_offset_s_treeGrid;
}
.controls-TreeGrid__row-levelPadding_size_s_theme-@{themeName} {
   width: @_hierarchy_offset_s_treeGrid;
}
.controls-TreeGrid__row-levelPadding_size_m_theme-@{themeName} {
   width: @_hierarchy_offset_m_treeGrid;
}
.controls-TreeGrid__row-levelPadding_size_l_theme-@{themeName} {
   width: @_hierarchy_offset_l_treeGrid;
}
.controls-TreeGrid__row-levelPadding_size_xl_theme-@{themeName}{
   width: @_hierarchy_offset_xl_treeGrid;
}
.controls-TreeGridView__footer__expanderPadding-default_theme-@{themeName}{
   margin-left: @_hierarchy_offset_s_treeGrid;
}
.controls-TreeGridView__footer__expanderPadding-s_theme-@{themeName}{
   margin-left: @_hierarchy_offset_s_treeGrid;
}
.controls-TreeGridView__footer__expanderPadding-m_theme-@{themeName}{
   margin-left: @_hierarchy_offset_m_treeGrid;
}
.controls-TreeGridView__footer__expanderPadding-l_theme-@{themeName}{
   margin-left: @_hierarchy_offset_l_treeGrid;
}
.controls-TreeGridView__footer__expanderPadding-xl_theme-@{themeName}{
   margin-left: @_hierarchy_offset_xl_treeGrid;
}

.controls-TreeGrid__row-cell_theme-@{themeName} {
   align-items: baseline;
}

.controls-TreeGrid__row-cell_default_theme-@{themeName}.controls-TreeGrid__row-cell__node_theme-@{themeName},
.controls-TreeGrid__row-cell_masterClassic_theme-@{themeName}.controls-TreeGrid__row-cell__node_theme-@{themeName},
.controls-TreeGrid__row-cell__node_theme-@{themeName} .controls-EditingTemplateText_size_default_theme-@{themeName} {
  font-size: @node_font-size_treeGrid;
}

.controls-TreeGrid__row-cell_masterClassic_theme-@{themeName}.controls-TreeGrid__row-cell__hiddenNode_theme-@{themeName},
.controls-TreeGrid__row-cell_default_theme-@{themeName}.controls-TreeGrid__row-cell__hiddenNode_theme-@{themeName},
.controls-TreeGrid__row-cell__hiddenNode_theme-@{themeName} .controls-EditingTemplateText_size_default_theme-@{themeName} {
  font-size: @hidden-node_font-size_treeGrid;
}

.controls-TreeGrid__row-cell_masterClassic_theme-@{themeName}.controls-TreeGrid__row-cell__item_theme-@{themeName},
.controls-TreeGrid__row-cell_default_theme-@{themeName}.controls-TreeGrid__row-cell__item_theme-@{themeName},
.controls-TreeGrid__row-cell__item_theme-@{themeName} .controls-EditingTemplateText_size_default_theme-@{themeName} {
  font-size: @item_font-size_m_grid;
}

// Отступы подвала слева
.controls-TreeGrid__nodeFooterContent_spacingLeft-default_theme-@{themeName} {
   padding-left: @item_padding-left_default_list;
}

.controls-TreeGrid__nodeFooterContent_spacingLeft-null_theme-@{themeName} {
   padding-left: 0;
}

.controls-TreeGrid__nodeFooterContent_spacingLeft-xs_theme-@{themeName} {
   padding-left: @item_padding-left_xs_list;
}

.controls-TreeGrid__nodeFooterContent_spacingLeft-s_theme-@{themeName} {
   padding-left: @item_padding-left_s_list;
}

.controls-TreeGrid__nodeFooterContent_spacingLeft-m_theme-@{themeName} {
   padding-left: @item_padding-left_m_list;
}

.controls-TreeGrid__nodeFooterContent_spacingLeft-l_theme-@{themeName} {
   padding-left: @item_padding-left_l_list;
}

.controls-TreeGrid__nodeFooterContent_spacingLeft-xl_theme-@{themeName} {
   padding-left: @item_padding-left_xl_list;
}

.controls-TreeGrid__nodeFooterContent_spacingLeft-xxl_theme-@{themeName} {
   padding-left: @item_padding-left_2xl_list;
}

// Отступы подвала справа
.controls-TreeGrid__nodeFooterContent_spacingRight-default_theme-@{themeName} {
   padding-right: @item_padding-right_default_list;
}

.controls-TreeGrid__nodeFooterContent_spacingRight-null_theme-@{themeName} {
   padding-right: 0;
}

.controls-TreeGrid__nodeFooterContent_spacingRight-xs_theme-@{themeName} {
   padding-right: @item_padding-right_xs_list;
}

.controls-TreeGrid__nodeFooterContent_spacingRight-s_theme-@{themeName} {
   padding-right: @item_padding-right_s_list;
}

.controls-TreeGrid__nodeFooterContent_spacingRight-m_theme-@{themeName} {
   padding-right: @item_padding-right_m_list;
}

.controls-TreeGrid__nodeFooterContent_spacingRight-l_theme-@{themeName} {
   padding-right: @item_padding-right_l_list;
}

.controls-TreeGrid__nodeFooterContent_spacingRight-xl_theme-@{themeName} {
   padding-right: @item_padding-right_xl_list;
}

.controls-TreeGrid__nodeFooterContent_spacingRight-xxl_theme-@{themeName} {
   padding-right: @item_padding-right_2xl_list;
}

.controls-Grid__row-cell__content:not(.controls-Grid__row-ladder-cell__content).controls-TreeGrid__row-cell__firstColumn__contentSpacing_null {
   padding-left: 0;
}
// For right vertiacal align of items inside block with display: table-cell.
.controls-Grid_table-layout .controls-TreeGridView__row-cell_innerWrapper {
   display: flex;
   align-items: baseline;
}

// Master list sets ::before on selected item, witch overflows expander. It has z-index: 2 and pointer-events: none, but
// Old IE doesn't support pointer-events.
.ws-is-ie10 .controls-TreeGrid__row-expander {
   z-index: 2;
}

.controls-Grid__row-cell-background-editing_theme-@{themeName} > .controls-TreeGridView__row-cell_innerWrapper > .controls-itemActionsV {
   visibility: visible;
   opacity: 1;
}

.ws-is-hover {
   .controls-TreeGrid__row-expander_node_default_theme-@{themeName}:hover:before {
      color: @node_expander_hover_icon-color_treeGrid;
   }
   .controls-TreeGrid__row-expander_hiddenNode_default_theme-@{themeName}:hover:before {
      color: @hidden-node_expander_hover_icon-color_treeGrid;
   }
   .controls-TreeGrid__row-expander_node_master_theme-@{themeName}:hover:before {
      color: @master_node_expander_hover_icon-color_treeGrid;
   }
   .controls-TreeGrid__row-expander_hiddenNode_master_theme-@{themeName}:hover:before {
      color: @master_hidden-node_expander_hover_icon-color_treeGrid;
   }

   .controls-BaseControl_showActions_visible .controls-Grid__row,
   .controls-BaseControl_showActions_onhover .controls-Grid__row:hover,
   .controls-BaseControl_showActions_delayed .controls-Grid__row:hover {
      & > .controls-TreeGrid__row-cell_theme-@{themeName} > .controls-TreeGridView__row-cell_innerWrapper > .controls-itemActionsV {
         visibility: visible;
         opacity: 1;
      }
   }
}
