<ws:partial template="{{_content}}"
            scope="{{_options.contentOptions}}"
            on:mousedown="_sendResult()"
            on:mouseenter="_sendResult()"
            on:mouseleave="_sendResult()"/>