<ws:if data="{{_options.contentTemplateName}}">
   <Controls.Container.Async templateName="{{_options.contentTemplateName}}">
      <ws:partial template="{{_options.contentTemplateName}}"
                  scope="{{_options.contentTemplateOptions}}"
                  on:mousedown="_sendResult()"
                  on:mouseenter="_sendResult()"
                  on:mouseleave="_sendResult()"
                  on:menuOpened="_sendResult()"
                  on:menuClosed="_sendResult()"/>
   </Controls.Container.Async>
</ws:if>
<ws:else>
   <ws:partial
      template="{{_options.content}}"
      on:mousedown="_sendResult()"
      on:mouseenter="_sendResult()"
      on:mouseleave="_sendResult()"
      on:menuOpened="_sendResult()"
      on:menuClosed="_sendResult()"/>
</ws:else>