<div>
   <ws:partial template="{{_options.content}}"
               on:mousedown="_contentMousedownHandler()"
               on:mouseenter="_contentMouseenterHandler()"
               on:mouseleave="_contentMouseleaveHandler()"/>
   <ws:if data="{{!_isNewEnvironment()}}">
      <Controls.Popup.Opener.Previewer name="openerPreviewer"/>
   </ws:if>
</div>
