<div class="controls-PrintMassDialog" hasMarkup="true" autoHeight="true">
   <div class="ws-window-titlebar-custom">
      <SBIS3.CONTROLS.Button
         primary="{{true}}"
         caption="Выполнить"
         name="controls-buttonPrint"
         className="controls-Button__activatePrintMass"
      />
   </div>
   <SBIS3.CONTROLS.Radio.Group
      idProperty="id"
      displayProperty="title"
      name="controls-RadioButtons"
      allowEmptySelection="{{false}}"
      class="controls-ButtonGroup__vertical"
      selectedKey="{{'controls-RadioButtons'|mutable}}"
      items="{{ itemsRadioGroup }}"
   />
   <div class="controls-MassAmountSelector__numberTextBox ws-hidden" id="numberTextBox">
      <div class="ws-label controls-PrintMassDialog__label">Количество записей</div>
      <SBIS3.CONTROLS.NumberTextBox
         integers="5"
         maxLength="5"
         onlyInteger="{{true}}"
         onlyPositive="{{true}}"
         name="controls-numberTextBox"
         text="{{'NumOfRecords'|mutable}}"
         className="controls-NumberTextBox__text-align-right"
      />
   </div>
</div>
