.controls_theme-@{themeName} {
   // Переменные для декоратора подсветки
   --text-color_decoratorHighlight: inherit;
   --text_background-color_decoratorHighlight: #FFFECE;

   // Отображение денежных единиц
   //
   // Размер шрифта копеек в отображении денег

   --fractional_size: var(--font-size_xs);

   // Цвета шрифтов копеек в отображении денег

   --fractional_color: var(--readonly_color);
   --zero_text-color_decorator_fraction: #ccc;
   --default_text-color_decorator_fraction: #999;
   --unaccented_text-color_decorator_fraction: #999;
   --readOnly_text-color_decorator_fraction: #ccc;
   --primary_text-color_decorator_fraction: #ccab9d;
   --secondary_text-color_decorator_fraction: #afb4cc;
   --info_text-color_decorator_fraction: #b5becc;
   --link_text-color_decorator_fraction: #9db2cc;
   --success_text-color_decorator_fraction: #9fcca7;
   --warning_text-color_decorator_fraction: #ccc1a9;
   --danger_text-color_decorator_fraction: #ceb1b1;

   // Цвет зачеркивающей линии
   --stroked_line-color_decorator: #999;
}
