.controls_theme-@{themeName} {
   //переменные нужные для других контролов, заменяйте весь файл целиком, если что
   --more_text-color_list: var(--link_text-color);
   --more_hover_text-color_list: var(--link_hover_text-color);
   --more_active_text-color_list: var(--more_hover_text-color_list);
   --item_dragging_opacity_list: 0.6;
   --placeholder_text-color_list: var(--unaccented_text-color);
   --placeholder_font-size_list: var(--font-size_l);
   --placeholder_padding-top_xs_list: 0;
   --placeholder_padding-top_s_list: var(--offset_xs);
   --placeholder_padding-top_m_list: var(--offset_m);
   --placeholder_padding-top_l_list: var(--offset_l);
   --placeholder_padding-top_xl_list: var(--offset_3xl);
   --placeholder_padding-top_2xl_list: 44px;
   --placeholder_padding-bottom_xs_list: 0;
   --placeholder_padding-bottom_s_list: var(--offset_xs);
   --placeholder_padding-bottom_m_list: var(--offset_m);
   --placeholder_padding-bottom_l_list: var(--offset_l);
   --placeholder_padding-bottom_xl_list: var(--offset_3xl);
   --placeholder_padding-bottom_2xl_list: 44px;
}
