.controls_theme-@{themeName} {
   // Переменные для кнопки вызова панели операций
   //
   // Размеры

   --height_operationsButton: var(--inline_height_default);
   --width_operationsButton: var(--height_operationsButton);

   // Иконка

   --icon-color_operationsButton: var(--secondary_icon-color);
   --icon-color_hover_operationsButton: var(--secondary_hover_icon-color);
   --icon-color_active_operationsButton: var(--secondary_hover_icon-color);
   --readonly_icon-color_operationsButton: var(--readonly_color);
   --icon-size_operationsButton: 18px;
   --text-shadow_operationsButton: none;

   //Обводка

   --box-shadow_operationsButton: none;

   // Цвет фона

   --background-color_operationsButton: transparent;
   --background-color_hover_operationsButton: var(--background-color_operationsButton);
   --background-color_active_operationsButton: var(--background-color_operationsButton);

   // Разделитель

   --separator_thickness_operationsButton: 1px;
   --separator_length_operationsButton: var(--height_operationsButton);
   --separator_color_operationsButton: #ccc;



   // Переменные для панели операций
   //
   // Размеры и отступы

   --height_operationsPanel: 30px;
   --loadingIndicator_offset-left_multiSelectorButton: var(--offset_m);

   --toolbar_padding-left_operationsPanel: var(--offset_m);
   --toolbar_padding-right_operationsPanel: var(--offset_m);
   --padding-right_operationsPanel: var(--offset_m);

   // Цвета фона

   --background-color_operationsPanel: #e5ecf5;

   // Разделитель между элементом отметки и операциями

   --separator_thickness_operationsPanel: 1px;
   --separator_length_operationsPanel: 20px;
   --separator_color_operationsPanel: #ccc;
   --separator_offset-left_operationsPanel: var(--offset_m);



   // Переменные для окна результатов операции
   //
   // Заголовок окна

   --heading_font-size_operationsReportDialog: var(--font-size_3xl);
   --heading_text-color_operationsReportDialog: var(--secondary_text-color_heading);
   --heading_offset-bottom_operationsReportDialog: var(--offset_s);

   // Сообщение

   --message_font-size_operationsReportDialog: var(--font-size_default);
   --message_text-color_operationsReportDialog: var(--label_text-color);

   // Список ошибок

   --errors_font-size_operationsReportDialog: var(--font-size_default);
   --errors_padding-top_operationsReportDialog: var(--offset_s);
   --errors_item_offset_operationsReportDialog: var(--offset_2xs);
}
