// Переменные для кнопки закрытия
//
// Тень
.controls_theme-@{themeName} {
   --box-shadow_closeButton_toolButton: var(--box-shadow_button_toolButton);

   // Фон

   --background-color_closeButton_toolButton: var(--background-color_button_toolButton);
   --background-color_hover_closeButton_toolButton: var(--background-color_hover_button_toolButton);
   --background-color_active_closeButton_toolButton: var(--background-color_active_button_toolButton);
   --contrast_background-color_closeButton_toolButton: var(--background-color_contrast_button_toolButton);
   --contrast_hover_background-color_closeButton_toolButton: var(--background-color_contrast_hover_button_toolButton);
   --contrast_active_background-color_closeButton_toolButton: var(--background-color_contrast_active_button_toolButton);
   --background-color_closeButton_functionalButton: var(--background-color_contrast_button_toolButton);

   // Иконка

   --icon-size_closeButton_toolButton: 12px;
   --icon-size_closeButton_link: var(--icon-size_closeButton_toolButton);
   --icon_background-image_closeButton_toolButton: url('../../Controls-default-theme/img/DefaultCloseIcon.svg');
   --icon_hovered_background-image_closeButton_toolButton: url('../../Controls-default-theme/img/CloseIconHovered.svg');
   --icon_background-image_closeButton_link: url('../../Controls-default-theme/img/LightCloseIcon.svg');
   --icon_hovered_background-image_closeButton_link: url('../../Controls-default-theme/img/CloseIconHovered.svg');

   // Обводка

   --border-color_closeButton_toolButton: var(--border-color_button_toolButton);
   --border-color_hover_closeButton_toolButton: var(--border-color_hover_button_toolButton);
   --border-color_active_closeButton_toolButton: #ссс;
   --border-thickness_closeButton_toolButton: var(--border-thickness_button) 0 var(--border-thickness_button) var(--border-thickness_button);
   --border-thickness_closeButton_functionalButton: 0;
   --border-radius_closeButton_toolButton: var(--border-radius_button_toolButton) 0 0 var(--border-radius_button_toolButton);
   --border-radius_closeButton_functionalButton: 20px 0 0 20px;


   // Размеры

   --height_closeButton_toolButton: var(--inline_height_l);
   --width_closeButton_toolButton: 36px;
   --height_closeButton_functionalButton: var(--inline_height_l);
   --width_closeButton_functionalButton: 32px;
   --width_closeButton_link: var(--inline_height_m);
   --height_closeButton_link: var(--inline_height_m);


   // Переменные для прилипающего окна
   //
   // Размеры и отступы

   --content_padding-bottom_sticky: var(--offset_3xs);
   --content_padding-top_sticky: var(--offset_3xs);
   --header_padding-horizontal_sticky: var(--offset_m);
   --header_min-height_sticky: 32px;

   // Цвета фона

   --background-color_sticky: var(--background-color);
   --header_background-color_sticky: #f4f4f4;

   // Границы

   --border-color_sticky: var(--border-color);
   --border-thickness_sticky: var(--border-thickness);
   --box-shadow_sticky: 0 0 6px 0 rgba(0, 0, 0, 0.35);
   --header_bottom-border-color_sticky: #f0f0f0;
   --header_bottom-border-thickness_sticky: var(--border-thickness);

   // Шапка

   --header_font-size_sticky: var(--font-size_l);
   --header_color_sticky: var(--secondary_text-color);

   // Кнопка закрытия

   --close-button_offset-top_sticky: var(--offset_2xs);
   --close-button_offset-right_sticky: var(--offset_xs);
   --close-button_offset-left_sticky: 0;


   // Переменные для инфобокса
   //
   // Кнопка для вызова инфобокса

   --icon-color_infobox_button: var(--unaccented_icon-color);
   --icon-color_hover_infobox_button: var(--secondary_hover_icon-color);

   // Стрелка инфобокса

   --arrow_base_length_infobox: 16px;
   --arrow_side_length_infobox: 12px;
   --arrow_offset_infobox: 9px;

   // Размеры и отступы

   --target_offset_infobox: 11px;
   --content_padding-vertical_infobox: var(--offset_s);
   --content_padding-horizontal_infobox: var(--offset_m);
   --max-width_infobox: 750px;
   --spacing_Infobox-between-border-arrow: calc((var(--arrow_base_length_infobox) - var(--arrow_side_length_infobox))/2);
   --text_padding-horizontal_infobox: calc(var(--close-button_offset-left_infobox) + var(--width_closeButton_link) + var(--close-button_offset-right_infobox) - var(--content_padding-horizontal_infobox));

   // Кнопка закрытия

   --close-button_offset-top_infobox: 5px;
   --close-button_offset-right_infobox: 5px;
   --close-button_offset-left_infobox: var(--offset_3xs);

   // Обводка

   --border-thickness_infobox: var(--border-thickness);
   --border-radius_infobox: 6px;
   --border-color_infobox: #bdbdbd;
   --secondary_border-color_infobox: var(--secondary_color);
   --info_border-color_infobox: #5856d6;
   --box-shadow-offset_infobox: 0 0 6px 0;
   --box-shadow-color_infobox: rgba(0, 0, 0, 0.35);
   --invalid_box-shadow-color_infobox: rgba(208, 77, 77, 0.4);

   // Цвета фона

   --background-color_infobox: #f7f8fa;
   --info_background-color_infobox: #f2f2fe;

   // Размер шрифта в тексте подсказки

   --font-size_infobox: var(--font-size_l);

   // Маркер
   --marker-thickness_infobox: var(--border-thickness_infobox);


   // Переменные для диалогового окна
   //
   // Размеры и отступы

   --header_padding-left_dialog: var(--offset_m);
   --header-min-height_dialog: 44px;
   --header_lineheight_dialog: 27px;
   --header-content_padding-right_dialog: var(--offset_l);
   --header_min-width_dialog: 30px;
   --footer_min-height_dialog: 64px;
   --header_caption_offset-right_dialog: var(--offset_m);

   // Цвета фона

   --background-color_dialog: var(--background-color);
   --unaccented_background-color_dialog: #f4f4f4;
   --header_background-color_dialog: var(--background-color);
   --unaccented_header_background-color_dialog: #f4f4f4;
   --footer_background-color_dialog: #f5f5f5;

   // Границы

   --border-color_dialog: #bdbdbd;
   --border-thickness_dialog: var(--border-thickness);
   --box-shadow_dialog: 0 0 6px 0 rgba(0, 0, 0, 0.35);
   --header_bottom-border-thickness_dialog: 0;
   --header_bottom-border-color_dialog: transparent;
   --footer_top-border-thickness_dialog: 1px;
   --footer_top-border-color_dialog: #EAEAEA;

   // Кнопка закрытия

   --close-button_offset-top_dialog: var(--offset_s);


   // Переменные для стековой панели
   //
   // Размеры и отступы

   --header_min-height_stack: 38px;
   --header_lineheight_stack: 25px;
   --header_min-width_stack: 30px;
   --header_padding-left_stack: var(--offset_m);
   --header-content_padding-right_stack: var(--offset_l);
   --header_caption_offset-right_stack: var(--offset_m);

   // Цвета фона

   --background-color_stack: var(--background-color);
   --header_background-color_stack: #F8F8F8;
   --footer_background-color_stack: #F8F8F8;

   // Границы

   --border-color_stack: #bdbdbd;
   --border-thickness_stack: var(--border-thickness);
   --shadow-color_stack: rgba(0, 0, 0, 0.15);
   --shadow-blur_stack: 7px;
   --header_bottom-border-thickness_stack: 1px;
   --header_bottom-border-color_stack: #F0F0F0;
   --footer_top-border-thickness_stack: 1px;
   --footer_top-border-color_stack: #F0F0F0;

   // Кнопки закрытия и изменения размера

   --close-button_offset-top_stack: 5px;
   --maximized-button_offset-top_stack: 7px;
   --maximized-button_offset-right_stack: var(--offset_s);

   // Изменение размера
   --resizingLine_mobile_offset-left_stack: 15px;
   --resizingLine_mobile_thickness_stack: 25px;


   // Переменные для окна подтверждения
   //
   // Размеры и отступы

   --width_s_confirmation: 350px;
   --width_l_confirmation: 440px;
   --content_padding_confirmation: 32px;
   --footer-content_padding_confirmation: var(--offset_l);

   // Цвета фона

   --footer_background-color_confirmation: var(--footer_background-color_dialog);

   // Границы

   --footer_top-border-thickness_confirmation: var(--footer_top-border-thickness_dialog);
   --footer_top-border-color_confirmation: var(--footer_top-border-color_dialog);

   // Маркер

   --marker_thickness_confirmation: 3px;
   --secondary_marker_color_confirmation: var(--link_text-color);
   --primary_marker_color_confirmation: var(--primary_text-color);

   // Текст

   --message_font-size_confirmation: var(--font-size_3xl);
   --message_text-color_confirmation: var(--text-color);
   --details_font-size_confirmation: var(--font-size_m);
   --details_text-color_confirmation: var(--text-color);
   --details_offset_confirmation: var(--offset_s);

   // Кнопки

   --min-width_button_s_confirmation: 80px;
   --min-width_button_l_confirmation: 86px;
   --offset_button_confirmation: var(--offset_s);
   --height_button_confirmation: 24px;
   --font-size_button_confirmation: var(--font-size_m);


   // Переменные для нотификационного окна
   //
   // Размеры и отступы

   --min-height_notification: 40px;
   --min-width_notification: 40px;
   --offset-vertical_notification: var(--offset_l);
   --offset-horizontal_notification: var(--offset_l);
   --content_padding_notification: var(--offset_s);
   --icon_offset_notification: var(--offset_s);
   --icon-size_notification: var(--icon-size_m);

   // Цвета фона

   --background-color_notification: var(--background-color);

   // Границы

   --border-thickness_notification: 0;
   --border-color_notification: transparent;
   --box-shadow_notification: 0 0 6px 0 rgba(0, 0, 0, 0.35);

   // Маркер

   --marker_thickness_notification: var(--marker_thickness_confirmation);
   --secondary_marker_color_notification: var(--secondary_marker_color_confirmation);

   // Текст

   --font-size_notification: var(--font-size_l);

   // Кнопка закрытия

   --close-button_offset-top_notification: var(--offset_s);
   --close-button_offset-right_notification: var(--offset_s);
   --line-height_dialogTemplate_caption: 42px;
   --spacing_DialogTemplate-between-header-border: 40px;
}
