// Переменные для спойлера
.controls_theme-@{themeName} {
  // Иконка Cut
  --height_CutButton:                                                          18px;
  --margin-top_s_CutButton:                                                    var(--offset_3xs);
  --margin-top_m_CutButton:                                                    var(--offset_3xs);
  --margin-top_l_CutButton:                                                    var(--offset_xs);
  --margin-left_s_CutButton:                                                   var(--offset_2xs);
  --margin-left_m_CutButton:                                                   var(--offset_xs);
  --margin-left_l_CutButton:                                                   var(--offset_s);
}
