<div>
   <h1>PhoneNumber</h1>
   <div class="controlsDemo-Number_offsetG">
      <div class="controlsDemo-Number_offsetV">
         <div>phoneNumber</div>
         <Controls.Input.Text bind:value="_number" on:inputCompleted="_inputCompletedHandler()"/>
      </div>
      <Controls.Decorators.PhoneNumber number="{{_number}}"/>
   </div>
</div>