.controls__filterButton {
   height: @controls-filterButton-height;
   display: inline-block;
   white-space: normal;

   &.ws-disabled {
      .controls__filterButton__filterLine-arrow {
         color: @default-disabled-color !important;
      }
   }
}

.controls__filterButton-button {
   margin: @controls-filterButton-button-margin;
   float: right;

   &:active {
      color: @blue-dark-color !important;
   }
}

.controls__filterButton-right {
   .controls__filterButton-button {
      float: left;
      margin: @controls-filterButton-button-margin-right-align;
   }
   .controls__filterButton__filterLine {
      margin: @controls-filterButton-button-margin-right-align;
   }
}

.controls__filterButton__filterLine {
   max-width: calc(~"100% - @{controls-filterButton-button-width} - @{controls-filterButton-margin-value} * 2");
   height: @controls-filterButton-button-height;
   margin: @controls-filterButton-filterLine-margin;
   cursor: pointer;
   color: @controls-filterLine-link-color;
   font-size: @default-font-size;
   
   &:not(.ws-disabled) {
      .controls__filterButton__filterLine-items:hover {
         .controls__filterButton__filterLine-text, .controls__filterButton__filterLine-arrow {
            color: @controls-filterLine-link-hover-color;
         }
         .controls__filterButton__filterLine-text {
            text-decoration: underline;
         }
      }
   }

   &.ws-disabled {
      .controls__filterButton__filterLine-items {
         color: @default-disabled-color;
         cursor: default;

         .controls__filterButton__filterLine-arrow {
            color: @default-disabled-color !important;
            cursor: default;
         }
      }
   }
   
   &.ws-hidden + .controls__filterButton-button {
      margin-left: @controls-filterButton-margin-value;
   }
}
.controls__filterButton__filterLine-items, .controls__filterButton__filterLine-text {
   .text-overflow();
   .flex-shrink(1);
}

.controls__filterButton__filterLine-text {
   display: inline-block; // display: inline-block кроссбраузерно гарантирует, что внутри flexbox контейра блок не выйдет за ширину родителя
}

.controls__filterButton__filterLine-items, .controls__filterButton__filterLine {
   .inline-flexbox();
   .align-items(center);
}

.ws-is-desktop-safari {
   .controls__filterButton__filterLine {
      max-width: ~'calc(100% - '@controls-filterButton-button-width ~')';
   }
}

/* Для этих странных бразуеров делаю на flex-box'e,
   т.к. у них max-width: calc (100%-someValue) считается некорректно, от текущий ширины контента берётся ширина,
   а не от ширины родителя.
   Когда будем перевёрстывать с коофицентами надо сделать везде на flex-box'e с обернутым div'ом. */
.ws-is-ie10, .ws-is-ie11, .ws-is-mobile-safari, .ws-is-mobile-chrome-ios {
   .controls__filterButton {
      .inline-flexbox();
   }
   .controls__filterButton__filterLine-items,
   .controls__filterButton__filterLine {
      -ms-flex-negative: 1;
      max-width: none;
      min-width: 0;
   }
   
   /* Т.к для flexbox'a не работает float, делаю через order */
   .controls__filterButton-right .controls__filterButton-button {
      .order(-1);
   }
}

/* Правлю выравнивание из-за TensorFont'a,
   который выравнивается в FF с округлением шрифтов вниз (с TensorFont'ом текст имеет дробную высоту). */
.ws-is-firefox .controls__filterButton__filterLine-cross {
   margin-top: 1px;
}