@controls__filter-button__closed: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAYCAMAAADat72NAAABRFBMVEUAAAD19/vy9vrx9fnx9fnw9Pnu8/ju8/jt8vjs8ffs8fjq8Pfp7/fq7/fo7/bn7vbo7vfm7PXf6PTc5vPc5vPc5vPc5vPc5vPc5vPc5vPc5vPc5vPc5vPc5vPc5vPc5vPc5vPU4fH1+Pv19/vy9vrx9frt8vnx9fnw9Pns8fjv8/nr8fju8/jt8vjq8Pfh5uyws7aVl5iQkZJ5eXmNjo+UlZevsbXp7/fs8ffr8PeMjI2JiYnP0dPi5Obv8fT2+Pv5+/33+fzQ0dSKioro7vbr8PjLzM6ZmZm4ur3V2d/g5ey1t7nm7fbp7/bMzc9/f398fHyLi4vl7PXn7vbk7PXu8/nKy8zj6/Xn7fXm7PXu8vjJysvj6vTh6fTHyMri6vTc5vPf6PPe5/Ph6vTd5/PBwsOcnJzk6/Xg6fTQ3vDW4vH///86l8ukAAAAInRSTlMAzFcG22kM53sS85Ah+aUw/LTANqsk/JYY84EM6mwG21rPcSDcSgAAARBJREFUeNp9z2dXwjAYhuHXvffeW0ssokGtgqBVbAURMFBUQHEUUP//DzBDoD0nJ/eXJM/1KSDq2JS2JbRze0faLteu7j1NWoBzj4bk7TPt7dOD8g4Y9wcDrNDhEcY4TDvG+OQ0RCeD6sDg2TkrEr2IxS+vaGY8dn0ToVOC8tCtwbPsu2RKXFPJe9uiZxpgeOQhwUOZaDYX5uWyjxlEJwIwauT/Q5bdykJsKcDYeD7dzCk2tejw4Qkmnl/alcpCyyXxrsDkK/Gkc3/TiagKU+8VnzN2SIth+oN4Y0w8PDNbVTHMfSp5fuFLxbDoFtpcq9drfl5a9nxOM03Nz7DiNog0watr3yqGdbehYtj4kfb7B5Y3rd+gEUjXAAAAAElFTkSuQmCC');


.controls__filter-button {
   height: 40px;
   width: auto;
}
.controls__filter-button__closed {
   width: 30px;
   height: 24px;
   margin: 8px 0;
   background: @controls__filter-button__closed;
}