.controls__filterButton {
   height: @controls-filterButton-height;
   display: inline-block;

   &.ws-disabled {
      .controls__filterButton__filterLine-arrow {
         color: @default-disabled-color !important;
      }
   }
}

.controls__filterButton-button {
   margin: @controls-filterButton-button-margin;
   float: right;

   &:active {
      color: @blue-dark-color !important;
   }
}

.controls__filterButton__filterLine {
   max-width: ~'calc(100% - '@controls-filterButton-button-width + 8px ~')';
   height: @controls-filterButton-button-height;
   margin: 8px 0 8px 0;
   cursor: pointer;
   color: @controls-filterLine-link-color;
   
   &:not(.ws-disabled) {
      .controls__filterButton__filterLine-items:hover {
         .controls__filterButton__filterLine-text, .controls__filterButton__filterLine-arrow {
            color: @hover-color;
         }
         .controls__filterButton__filterLine-text {
            text-decoration: underline;
         }
      }
   }

   &.ws-disabled {
      .controls__filterButton__filterLine-items {
         color: @default-disabled-color;
         cursor: default;

         .controls__filterButton__filterLine-arrow {
            color: @default-disabled-color !important;
            cursor: default;
         }
      }
   }
}
.controls__filterButton__filterLine-items, .controls__filterButton__filterLine-text {
   .text-overflow();
}

.controls__filterButton__filterLine-items, .controls__filterButton__filterLine {
   .inline-flexbox();
   .align-items(center);
}

.ws-is-desktop-platform {
   .controls__filterButton {
      &.ws-disabled {
         .controls__filterButton-button {
            &:hover {
               color: @icon-color-disabled !important;
            }
         }
      }
   }
}