<div class="controls-DateRangeSlider">
   <span class="controls-DateRangeSlider__prev"></span>
   <span class="controls-DateRangeSlider__value"></span>
   <span class="controls-DateRangeSlider__next"></span>
</div>
