<div class="controls-RichTextArea {{!_options.readOnly? 'controls-RichTextArea__enabled' : 'controls-RichTextArea__disabled'}}">
    <Controls.Container.Scroll
            class="controls-RichTextArea__scrollContainer"
    >
        <ws:content>
            <ws:if data="{{!_options.readOnly}}">
                <Controls.Container.TinyMCE value="{{_options.value}}"
                                            on:textChanged="_onTextChanged()"
                                            name="tinyMCE"
                />
            </ws:if>
            <ws:else>
                <div class="controls-RichTextArea__dataReview ws-basic-style" name="textContainer">
                </div>
            </ws:else>
        </ws:content>
    </Controls.Container.Scroll>
</div>
