<div class="controls-RichEditor">
    <Controls.Container.Scroll
            class="controls-ScrollContainer_flex controls-RichEditor__scrollContainer"
    >
        <ws:content>
            <ws:if data="{{isEnabled()}}">
                <Controls.Container.TinyMCE value="{{_options.value}}"
                        on:textChanged="setText()"
                        name="tinyMCE"
                />
            </ws:if>
            <ws:else>
                <div class="previewContainer" name="textContainer">
                </div>
            </ws:else>
        </ws:content>
    </Controls.Container.Scroll>
</div>
