<div>
    <ws:SBIS3.CONTROLS.TabButtons class = "controls-TabButtons__simple-view"
            keyField = "id"
            displayField = "title"
            selectedKey = "1">
        <ws:items>
            <ws:Array>
                <ws:Object>
                    <ws:id><ws:Number>0</ws:Number></ws:id>
                    <ws:title><ws:String>Новости</ws:String></ws:title>
                    <ws:align><ws:String>left</ws:String></ws:align>
                </ws:Object>
                <ws:Object>
                    <ws:id><ws:Number>1</ws:Number></ws:id>
                    <ws:title><ws:String>Участники</ws:String></ws:title>
                    <ws:align><ws:String>left</ws:String></ws:align>
                </ws:Object>
                <ws:Object>
                    <ws:id><ws:Number>2</ws:Number></ws:id>
                    <ws:title><ws:String>Документы</ws:String></ws:title>
                    <ws:align><ws:String>left</ws:String></ws:align>
                </ws:Object>
                <ws:Object>
                    <ws:id><ws:Number>3</ws:Number></ws:id>
                    <ws:title><ws:String>Обсуждения</ws:String></ws:title>
                    <ws:align><ws:String>left</ws:String></ws:align>
                </ws:Object>
                <ws:Object>
                    <ws:id><ws:Number>4</ws:Number></ws:id>
                    <ws:title><ws:String>Фото и видео</ws:String></ws:title>
                    <ws:align><ws:String>left</ws:String></ws:align>
                </ws:Object>
                <ws:Object>
                    <ws:id><ws:Number>5</ws:Number></ws:id>
                    <ws:title><ws:String>Мероприятия</ws:String></ws:title>
                    <ws:align><ws:String>left</ws:String></ws:align>
                </ws:Object>
            </ws:Array>
        </ws:items>
    </ws:SBIS3.CONTROLS.TabButtons>
</div>