.column-ellipsis(){
   .controls-DataGridView__columnValue {
      .text-overflow();
   }
   .controls-TreeView__folderTitle {
      .text-overflow();
   }
   .text-overflow();
}
.controls-DataGridView {
   .controls-ListView__item {
      &:extend(.controls-ListView .controls-ListView__item all);
   }

   &.controls-DataGridView__hasSeparator{
      .controls-DataGridView__table {
        border-width: 0 0 1px 0;
        border-color: @data-grid-edge-cell-separator-color;

        .controls-DataGridView__tr {
          .controls-DataGridView__td {
            border-top-color: @data-grid-cell-separator-color;
          }
        }
        .controls-DataGridView__tr:first-child {
          .controls-DataGridView__td {
            border-top-color: @data-grid-edge-cell-separator-color;
          }
        }
        &.ws-sticky-header__table {
          &.ws-sticky-header__fixed {
            .controls-DataGridView__tr:first-child {
              .controls-DataGridView__td {
                border-top-color: transparent;
              }
            }
          }
        }
      }
     &.controls-DataGridView__emptyTable {
       .controls-DataGridView__table {
         border-color: transparent;
       }
     }
   }

   &.controls-DataGridView__markerRight{
      .controls-ListView__item__selected {
         .controls-DataGridView__td {
            &:first-child {
               background-image: none;
            }
            &:last-child {
               .marker(right top);
            }
         }
      }
      .controls-ItemsToolbar {
         right: 3px;
      }
   }

   .controls-DataGridView__td__textAlignRight{
     text-align: right!important;
   }

   .controls-DataGridView__table {
      width: 100%;
      position: relative;
      border-spacing: @data-grid-border-spacing;
      border-collapse: @data-grid-border-collapse;
      border-width: @data-grid-border-width;
      border-style: @data-grid-border-style;
      border-color: @data-grid-border-color;
      background: @data-grid-bg;
      table-layout: @data-grid-table-layot;

      .controls-DataGridView__results {
         background: @data-grid-row-bg;
         font-weight: bold;
         font-size: 14px;
         color: #313E78;
      }

      .controls-DataGridView__tr {
         &.controls-ListView__item__multiSelected {
            .controls-DataGridView__notScrolledCell {
               background-color: @data-grid-row-selected-bg;
            }
         }
      }

      .controls-DataGridView__td, .controls-DataGridView__thead .controls-DataGridView__th {
         &.controls-DataGridView__th__topRow{
           text-align: center;
         }
         &.controls-DataGridView__notScrolledCell {
            background-color: @data-grid-partScroll-notScrolledCell-Color;
            border-left: none;
            border-right: none;
            z-index: 1;
            &.controls-DataGridView__th {
               background-color: @data-grid-partScroll-notScrolledCell-Color;
            }
         }
         &.controls-DataGridView__scrolledCell {
            cursor: @data-grid-partScroll-cursor;
         }
      }

      .controls-DataGridView__results .controls-DataGridView__td{
         padding-top: 0px;
         padding-bottom: 0px;
         height: 24px;
         cursor: default;
      }

      .controls-DataGridView__tr {
         background: @data-grid-row-bg;

         &.controls-ListView__item__multiSelected:not(.controls-ListView__hoveredItem) {
            &.controls-ListView__item {
               background-color: @data-grid-row-selected-bg;
            }
            .controls-DataGridView__td {
               background-color: @data-grid-row-selected-bg;
               color: @data-grid-row-selected-cell-text-color;
            }
         }

         &.controls-ListView__hoveredItem {
            background: @data-grid-row-hover-bg;

            .controls-DataGridView__th {
               color: @data-grid-row-hover-header-cell-text-color;
               background-color: @data-grid-row-hover-header-cell-bg;
            }
            .controls-DataGridView__td {
               color: @data-grid-row-hover-cell-text-color;
               background-color: @data-grid-row-hover-cell-bg;
            }
         }
      }

      .controls-DataGridView__th {
         position: relative;
         font-weight: normal;
         cursor: @data-grid-header-cell-cursor;
         text-align: @data-grid-header-cell-text-alignment;
         height: @data-grid-header-cell-height;
         padding: @data-grid-header-cell-padding;
         color: @data-grid-header-cell-text-color;
         font-size: @data-grid-header-cell-font-size;
         background-color: @data-grid-header-cell-bg;

         border-collapse: @data-grid-border-collapse;
         border-width: @data-grid-header-cell-border-width;
         border-style: @data-grid-header-cell-border-style;
         border-color: @data-grid-header-cell-border-color;
         //Работает и так, потому что есть бордер у тела таблицы
         /* border-bottom: @data-grid-header-cell-border-bottom; */

         &:hover {
            color: @data-grid-header-cell-hover-text-color;
            background-color: @data-grid-header-cell-hover-bg;
         }
         .controls-ListView__itemCheckBox{
            margin: -3px 0 0 4px;
            background: @listView-check-box-icon-bg;
            &.controls-DataGridView__th__checkBox__checked{
            	background: @listView-check-box-icon-checked-bg;
            	&:hover{
            		background: @listView-check-box-icon-checked-bg;
            	}
         	}
            &:hover{
            	background: @listView-check-box-icon-hover-bg;
            }
         }
         .controls-DataGridView__th-content{
            overflow: hidden;
            text-overflow: ellipsis;
         }
         &.controls-DataGrid__column__type-money {
            padding-right:20px;
         }
      }

      .controls-DataGridView__td {
         position: relative;
         cursor: @data-grid-cell-cursor;
         text-align: @data-grid-cell-text-alignment;
         height: @data-grid-cell-height;
         padding: @data-grid-cell-padding;
         color: @data-grid-cell-text-color;
         background-color: @data-grid-cell-bg;
         border-collapse: @data-grid-border-collapse;
         border-width: @data-grid-cell-border-width;
         border-style: @data-grid-cell-border-style;
         border-color: @data-grid-cell-border-color;
         vertical-align: @data-grid-cell-vertical-align;
         box-sizing: @data-grid-cell-box-sizing;
         line-height: @data-grid-cell-line-height;

        &.controls-DataGridView-cell-overflow-ellipsis{
           .column-ellipsis();
        }

        &.controls-DataGridView-cell-verticalAlignTop{
          vertical-align: top;
        }
        &.controls-DataGridView-cell-verticalAlignMiddle{
          vertical-align: middle;
        }
        &.controls-DataGridView-cell-verticalAlignBottom{
          vertical-align: bottom;
        }
      }

      .controls-DataGridView__td__checkBox {
         width: @data-grid-td-checkbox-width;
         padding: 0;
         /*У колонки с чекбоксом, не должно быть левого и правого бордера, иначе при table-layout: auto;
         ширина ячейки увеличивается на размер бордеров*/
         border-left-width: 0;
         border-right-width: 0;
         vertical-align: @data-grid-cell-check-box-vertical-align;
         overflow: hidden;
         .controls-ListView__itemCheckBox {
            top: @data-grid-check-box-top;
            left: @data-grid-check-box-left;
         }
      }
   }

   &.controls-DataGridView__overflow-ellipsis{
      .controls-DataGridView__td{
         .column-ellipsis();
      }
   }

   &.ws-disabled {
      .controls-DataGridView__td,
      .controls-DataGridView__td__checkBox {
         cursor: @list-view-disabled-cursor;
      }
   }

  &.controls-ListView__multiselect {
     .controls-DataGridView__firstContentCell {
        padding-left: @data-grid-ms-first-content-cell-padding-left;
     }

     > .controls-DataGridView__table {
        > .controls-DataGridView__colgroup {
           col:first-child {
              width: @data-grid-td-visible-checkbox-width;
           }
        }
        .controls-DataGridView__td__checkBox {
           width: @data-grid-td-visible-checkbox-width;
        }
     }
  }

   &.controls-ListView__multiselect__off {
      .controls-DataGridView__firstContentCell {
         padding-left: @data-grid-first-content-cell-padding-left;
      }
   }

   &.controls-ListView__hideCheckBoxes {
      &.controls-ListView__multiselect {
         .controls-DataGridView__colgroup {
            col:first-child {
               width: @data-grid-td-hidden-checkbox-width;
            }
         }
         .controls-DataGridView__td__checkBox {
            width: @data-grid-td-hidden-checkbox-width;
         }
      }
   }
}

.controls-DataGridView.controls-ListView__touchMode {
   .controls-DataGridView__tr {
      &.controls-ListView__hoveredItem {
         &:not(.controls-ItemActions__activeItem) {
            background: @data-grid-row-hover-bg-mobile;

            .controls-DataGridView__th {
               color: @data-grid-row-hover-header-cell-text-color;
               background-color: @data-grid-row-hover-bg-mobile;
            }
            .controls-DataGridView__td {
               color: @data-grid-row-hover-cell-text-color;
               background-color: @data-grid-row-hover-bg-mobile;
            }
         }
      }
   }
}
/*Для строк идущих после группировки не должно быть верхних бордеров*/
.controls-DataGridView {
   &.controls-DataGridView__hasSeparator {
      .controls-DataGridView__table {
         .controls-GroupBy {
            +.controls-DataGridView__tr {
               .controls-DataGridView__td {
                  border-top-color: transparent
               }
            }
         }
      }
   }
}

/* СТИЛИ ДЛЯ ЧАСТИЧНОГО СКРОЛА */
.controls-DataGridView__PartScroll__container {
  position: absolute;
  height: @data-grid-partScroll-wrapper-height;
}

.controls-DataGridView__PartScroll__arrowLeft {
  position: relative;
  float: @data-grid-partScroll-arrowLeft-float;
  top: @data-grid-partScroll-arrowLeft-top-shift;
  z-index: @data-grid-partScroll-arrowLeft-zIndex;
  cursor: @data-grid-partScroll-cursor;
}

.controls-DataGridView__PartScroll__arrowRight {
  position: relative;
  float: @data-grid-partScroll-arrowRight-float;
  top: @data-grid-partScroll-arrowRight-top-shift;
  z-index: @data-grid-partScroll-arrowLeft-zIndex;
  left: @data-grid-partScroll-arrowRight-left-shift;
  cursor: @data-grid-partScroll-cursor;
}

.controls-DataGridView__PartScroll__thumb {
  height: @data-grid-partScroll-thumb-height;
  width: @data-grid-partScroll-thumb-width;
  margin-left: @data-grid-partScroll-thumb-margin;
  z-index: @data-grid-partScroll-thumb-zIndex;
  border-radius: @data-grid-partScroll-thumb-border-radius;
  background-color: @data-grid-partScroll-thumb-color;
  position: absolute;
  cursor: @data-grid-partScroll-cursor;
  top: @data-grid-partScroll-thumb-top-shift;
  &:hover, &.controls-DataGridView__PartScroll__thumb-clicked {
    height: @data-grid-partScroll-thumb-height-hover;
    top: @data-grid-partScroll-thumb-clicked-top-shift;
  }
}

.controls-DataGridView__with-partScroll {
  overflow-x: hidden;
}

.controls-DataGridView__PartScroll__animation {
  .controls-DataGridView__PartScroll__thumb,
  .controls-DataGridView__scrolledCell {
    .transition(left 0.5s);
  }
}

.controls-DataGridView__scrollingNow {
  .controls-DataGridView__thead {
    .controls-DataGridView__scrolledCell {
      .closedHandCursor();
    }
  }
}
/****************************************/

.ws-sticky-header__header-container {
   >.controls-DataGridView__with-partScroll {
      overflow-y: hidden;
      padding-bottom: 7px;
      background-clip: content-box;
   }
}