@spacing_BlockLayout_between_blocks:            @spacing_default_s;
@background_BlockLayout_between_blocks:         @color_separator;

@box-shadow_BlockLayout-block:                  @box-shadow_BlockLayout-block_val;
@border-width_BlockLayout-block:                @border-width_BlockLayout-block_val;
@border-color_BlockLayout-block:                @border-color_BlockLayout-block_val;
@border-radius_BlockLayout-block:               @border-radius_BlockLayout-block_val;

@background_BlockLayout_block_style_1:          @background-color_default;
@background_BlockLayout_block_style_2:          @background-color_additional;
@background_BlockLayout_block_style_3:          @background_BlockLayout_block_style_3_val;
@background_BlockLayout_block_style_4:          @background_BlockLayout_block_style_4_val;
@background_BlockLayout_block_style_5:          @background_BlockLayout_block_style_5_val;
@background_BlockLayout_block_style_6:          @background-color_item_hovered;
