@background-color_PeriodLiteDialog:              @background-color_default;

// shadow
@box-shadow-color_DateLitePopup:                    @color_shadow_popup;
@box-shadow-size_DateLitePopup-shadowStyle_center:  @size_shadow_default;

// border
@border-width_DateLitePopup: @thickness_border_default;
@border-color_DateLitePopup: @color_border;

@indents_PeriodLiteDialog:                       4px;
@border-width_PeriodLiteDialog_hovered:          1px;
@font-size_PeriodLiteDialog:                     15px;
@min-width_PeriodLiteDialog:                     176px;
@min-width_PeriodLiteDialog-medium:              146px;
@standart-line-height_PeriodLiteDialog:          32px;
@min-width_PeriodLiteDialog-item-years:          80px;
@font-size_PeriodLiteDialog-currentValue:        15px;
@font-weight_PeriodLiteDialog-currentValue:      bold;
@height_PeriodLiteDialog-currentValue:           32px;
@padding-left-right_PeriodLiteDialog-currentValue:  10px;
@font-size_PeriodLiteDialog-year:                15px;
@height_PeriodLiteDialog-year:                   @standart-line-height_PeriodLiteDialog;
@padding-left_PeriodLiteDialog-year:             12px;
@width_PeriodLiteDialog-year-prev-next-btns:     32px;
@font-size_PeriodLiteDialog-year-prev-next-btns: 16px;
@width_PeriodLiteDialog-home-icon:               32px;
@width_PeriodLiteDialog-home-icon-lite:          24px;
@width_PeriodLiteDialog-halfyear-caption:        30px;
@margin_PeriodLiteDialog-quarter:                0 0 @indents_PeriodLiteDialog (@width_PeriodLiteDialog-halfyear-caption + @indents_PeriodLiteDialog);
@width_PeriodLiteDialog-quarter-caption:         28px;
@margin_PeriodLiteDialog-month:                  0 0 0 (@width_PeriodLiteDialog-quarter-caption + @indents_PeriodLiteDialog);
@padding_PeriodLiteDialog-month:                 0 8px 0 8px;
@right_PeriodLiteDialog-checkbox:                12px;
@margin_PeriodLiteDialog-home-button:            5px auto 14px;

@background-color_PeriodLiteDialog:              @background-color_default;
@indents-color_PeriodLiteDialog:                 #F4F4F4;
@color_PeriodLiteDialog-link:                    @link_text-color;
@color_PeriodLiteDialog-link_hovered:            @link_hover_text-color;
@background-color_PeriodLiteDialog_hovered:      @background-color_default;
@border-color_PeriodLiteDialog_hovered:          @color_additional;
@color_PeriodLiteDialog-currentValue:            #313E78;
@bg-color_PeriodLiteDialog-currentValue:         #F4F4F4;
@bg-color_PeriodLiteDialog-yearWrapper:          @background-color_PeriodLiteDialog;
@color_PeriodLiteDialog-quarter-caption_hovered: #000000;
@color_PeriodLiteDialog-years-only-curent-year:  @color_link;
@color_PeriodLiteDialog-year:                    @color_link;
@color_PeriodLiteDialog-year_prev_next:          @color_link;
@color_PeriodLiteDialog-year-prev-next_hovered:  @color_link-hover;
@color_PeriodLiteDialog-selected-year:           @color_link;
