@height_Dropdown:                                  @height_control_default;

@color_Dropdown-emptyItem:                         @color_info;

@spacing_Dropdown-between-icon-text:               @spacing_default_s;

// text
@color_Dropdown-text:                              @color_link;
@color_Dropdown-text_hovered:                      @color_link-hover;
@font-size_DropdownList-text:                      @font-size_text_m;
@font-size_DropdownList-text-baseline:             @font-size_text_m;

@border-width_Dropdown-style_invalid:              @thickness_border_default;
@border-color_Dropdown-style_invalid:              @color_danger;

@color_Dropdown-icon-iconStyle_secondary_hovered: @color_link-hover;

//popup
@shift-top_Dropdown-popup:                         @shift-top_Dropdown-popup_val;
@shift-top_Dropdown-head-popup:                    @shift-top_Dropdown-head-popup_val;
@shift-left_Dropdown-popup:                        -(@border-width_DropdownList + @spacing_DropdownList-item-between-leftBorder-content);