@height_FastFilter:                            @height_control_default;

//Text
@color_FastFilter-text:                        @color_link;
@color_FastFilter-text_hover:                  @color_link-hover;
@color_FastFilter-text_active:                 @color_link-hover;
@color_FastFilter-text_readOnly:               @color_text_readonly;
@font-size_FastFilter-text:                    @font-size_text_m;

//Arrow
@color_FastFilter-arrow:                       @color_secondary;
@color_FastFilter-arrow_hover:                 @color_link-hover;
@color_FastFilter-arrow_active:                @color_link-hover;
@color_FastFilter-arrow_readOnly:              @color_text_readonly;
@font-size_FastFilter-arrow:                   @size_icon_s;

//reset button
@color_FastFilter-reset:                       @color_info;
@color_FastFilter-reset_hover:                 @color_info;
@color_FastFilter-reset_active:                @color_info;
@font-size_FastFilter-reset:                   @size_icon_s;

//popup
@shift-top_FastFilter-popup:                   -@spacing_default_m;
@shift-left_FastFilter-popup:                  @spacing_default_xxs;
