@selected_icon-color_SortingSelector:                       @secondary_color;
@unselected_icon-color_SortingSelector:                     @unaccented_icon-color;
@icon-color_hover_SortingSelector:                          @link_hover_text-color;

@height_SortingSelector-icon:                               @height_SortingArrow-icon_val;
@size_SortingSelector-arrow:                                @icon-size_s;
@spacing-left_SortingSelector-arrow:                        @spacing_default_l;
@spacing-left_SortingSelector-arrow-outside:                @spacing_default_m;
