@border-width_NotificationBase:           3px;
@size_NotificationBase-shadow:            @size_shadow_default;
@color_NotificationBase-shadow:           @color_shadow_popup;
@min-height_NotificationBase:             @min-dimentions-NotificationBase;
@min-width_NotificationBase:              @min-dimentions-NotificationBase;
@background-color_NotificationBase:       @background-color_default;

//border-color
@border-color_NotificationBase_danger:                @color_danger;
@border-color_NotificationBase_primary:               #0055BB;
@border-color_NotificationBase_success:               @color_success;
@border-color_NotificationBase_warning:               @color_warning;

@size_NotificationBase-icon:                                        @size_icon_m;
@font-family_NotificationBase:                                      @font-family_icon_size-m;

//closeButton
@width_NotificationBase-close-button:                                        @size_icon_m;
@spacing_NotificationBase-between-closeButton-border-right:                  @spacing_default_m;
@spacing_NotificationBase-between-closeButton-border-top:                    @spacing_default_m;

@spacing_NotificationBase-between-content-border:        @spacing_default_m;
@spacing_NotificationBase-between-icon-and-message:      @spacing_default_m;
@spacing_NotificationBase-between-notifications-right:   @spacing_default_xl;
@spacing_NotificationBase-between-notifications-bottom:  @spacing_default_xl;
@spacing_NotificationBase-between-border-top-message:    @spacing_NotificationBase-between-border-top-message_val;

@font-size_NotificationBase-message:                  @size_Heading_m;
@font-weight_NotificationBase-message:                @font-weight_NotificationBase-message_val;
