@shift-top_PeriodDialog-picker: -((@header_height_datePicker - @inline_height_default)/2 + @border-thickness_datePicker);
@shift-left_PeriodDialog-picker: -(@header_padding-left_datePicker + @border-thickness_datePicker + @size_icon_s + @switcher_offset_datePicker);
@shift-left_PeriodDialog-picker-withoutModeBtn: -(@header_padding-left_datePicker + @border-thickness_datePicker);
@shift-top_PeriodDialog-selector: floor((18px - @header_height_datePicker)/2) - @border-thickness_datePicker;
