// sizes
// common
@width_PeriodDialog:                        @width_PeriodDialog_val;
@height_PeriodDialog:                       @height_PeriodDialog_val;
// month range
@height_PeriodDialog-monthRange-monthWrapper:         @dimentions_PeriodDialog-monthRange-monthWrapper;
@width_PeriodDialog-monthRange-monthWrapper:          @dimentions_PeriodDialog-monthRange-monthWrapper;
@border-width_PeriodDialog-monthRange:                @thickness_border_default;
@border-width_PeriodDialog-monthRange-additional:     @spacing_default_xs;
@height_PeriodDialog-monthRange-month-date:           @height_PeriodDialog-monthRange-month-date_val;
@width_PeriodDialog-monthRange-month-date:            @height_PeriodDialog-monthRange-month-date;
@font-size_PeriodDialog-monthRange-month-date:        @font-size_PeriodDialog-monthRange-month-date_val;
@height_PeriodDialog-monthRange-month-title:          @height_PeriodDialog-monthRange-month-title_val;
@height_PeriodDialog-monthRange-quarter:              @height_PeriodDialog-monthRange-monthWrapper;
@font-size_PeriodDialog-monthRange-quarters:          @font-size_text_l;
@border-width_PeriodDialog-monthRange-halfYears:      @thickness_border_accent;
@width_PeriodDialog-monthRange-month-selectionEdge:   @thickness_border_default;
@outline_PeriodDialog-monthRange-month:               @outline_PeriodDialog-dateRange;

// month range
@border-color_PeriodDialog-monthRange:                                @color_border_PeriodDialog;
@border-color_PeriodDialog-monthRange-month:                          @color_additional;
@border-color_PeriodDialog-monthRange:                                @color_border_PeriodDialog;
@border-color_PeriodDialog-monthRange-halfyearsAndQuarters_selected:  @color_border_secondary;
// date range
@color_PeriodDialog-dateRange-months-nextYearButton:                  @color_Heading_primary;
@background-color_PeriodDialog-dateRange-months-nextYearButton:       @monthnav_year_background-color_datePicker;
// additional styles
// can be used in different controls that open the period selection panel
@shift-top_PeriodDialog-picker: -((@header_height_datePicker - @inline_height_default)/2 + @border-thickness_datePicker);
@shift-left_PeriodDialog-picker: -(@header_padding-left_datePicker + @border-thickness_datePicker + @size_icon_s + @switcher_offset_datePicker);
@shift-left_PeriodDialog-picker-withoutModeBtn: -(@header_padding-left_datePicker + @border-thickness_datePicker);

@shift-top_PeriodDialog-selector: floor((@height_DateSelectorBase - @header_height_datePicker)/2) - @border-thickness_datePicker;
