@color-SelectorSuggest__separator-icon_style-secondary_hovered: @secondary_hover_icon-color_toggleSeparator;
@color-SelectorSuggest__separator-icon_style-secondary:         @secondary_icon-color_toggleSeparator;

@spacing_SelectorSuggest-between-arrow-rightBorder:             @spacing_default_xs;

@size-SelectorSuggest__separator-icon:                          @icon-size_toggleSeparator;
