@import "../presto/_variables";
@import "../carrynew/_colors";
@import "_colors";

@list-view-scroll-spritesheet-big:                  url('img/ajax-loader-indicator-big.gif');
@list-view-scroll-spritesheet:                      url('img/ajax-loader-indicator.gif');
//infobox
@infobox-border: @default-border-width solid #bdbdbd;
@content_forwardArrowPrimary:                       url('img/ForwarArrowPrimary.svg');
@content_forwardArrowPrimaryHovered:                url('img/ForwarArrowPrimary.svg');
@content_forwardArrowDefault:                       url('img/ForwarArrowDefault.svg');
@content_forwardArrowDefaultHovered:                url('img/ForwarArrowDefaultHovered.svg');
@content-BackButton_style-default:                  url('img/BackArrowOrangeCarry.svg');
@content-BackButton_style-primary:                  url('img/BackArrowBlueCarry.svg');
@content-BackButton_style-default_hovered:          url('img/BackArrowHoveredCarry.svg');
@content-BackButton_style-primary_hovered:          url('img/BackArrowHoveredCarry.svg');
//DropdownList
@DropdownList-picker-menu-item-color-blur:            rgba(255, 255, 255, 0);
@DropdownList-picker-menu-item-hover-blur:            rgba(240, 245, 251, 0);
// HighChart
/* Чтобы url к картинке генерился относительно папки carry */
@image_HighChart-loading-indicator: url('img/ajax-loader-indicator.gif');

@marker-bg-image: url("img/rowSelect.png");
