.controls-DecoratorMoney {
   white-space: nowrap;
   align-items: baseline;
}

.controls-DecoratorMoney__integer_fontWeight_default {
   font-weight: var(--font-weight);
}

.controls-DecoratorMoney__integer_fontWeight_bold {
   font-weight: bold;
}

.controls-DecoratorMoney__fraction {
   color: var(--fractional_color);
   font-weight: var(--font-weight);
}

.controls-DecoratorMoney__fraction__colorStyle {
   color: var(--fraction-zero-color);
}

.controls-DecoratorMoney__fraction__colorStyle-default {
   color: var(--fraction-default-color);
}

.controls-DecoratorMoney__fraction__colorStyle-unaccented {
   color: var(--fraction-unaccented-color);
}

.controls-DecoratorMoney__fraction__colorStyle-readOnly {
   color: var(--fraction-readOnly-color);
}

.controls-DecoratorMoney__fraction__colorStyle-primary {
   color: var(--fraction-primary-color);
}

.controls-DecoratorMoney__fraction__colorStyle-secondary {
   color: var(--fraction-secondary-color);
}

.controls-DecoratorMoney__fraction__colorStyle-info {
   color: var(--fraction-info-color);
}

.controls-DecoratorMoney__fraction__colorStyle-link {
   color: var(--fraction-link-color);
}

.controls-DecoratorMoney__fraction__colorStyle-success {
   color: var(--fraction-success-color);
}

.controls-DecoratorMoney__fraction__colorStyle-warning {
   color: var(--fraction-warning-color);
}

.controls-DecoratorMoney__fraction__colorStyle-danger {
   color: var(--fraction-danger-color);
}

.controls-DecoratorMoney__stroked {
   position: relative;
}

.controls-DecoratorMoney__stroked::before {
   content: '';
   height: 1px;
   background-color: black;
   left: 0;
   top: 50%;
   width: 100%;
   position: absolute;
}

.ws-is-hover .controls-DecoratorMoney__underline:hover {
   text-decoration: underline;
}
