<div>
   <div>From source:</div>
   <div class="row-filter-inline">
      <Controls.Filter.Button/>
      <Controls.Filter.Fast bind:selectedKeys="_selectedKeys3"
                                source="{{_getDefaultMemory()}}"/>
   </div>
   <hr/><br/>
   <div>From items: </div>
   <div class="row-filter-inline">
      <Controls.Filter.Button/>
      <Controls.Filter.Fast bind:selectedKeys="_selectedKeysItems"
                                source="{{_getDefaultMemory()}}"
                                items="{{dataSourceDemoItems}}"/>
   </div>
</div>