<ws:partial
   template="{{_options.content}}"
   scope="{{_options}}"
   on:onCheckBoxClick="_onCheckBoxClickHandler()"
   on:afterItemsRemove="_onAfterItemsRemoveHandler()"
   selectedKeys="{{_selectedKeys}}"
   itemsReadyCallback="{{_itemsReadyCallback}}"
/>
