<ws:partial
   template="{{_options.content}}"
   scope="{{_options}}"
   on:checkBoxClick="_onCheckBoxClickHandler()"
   on:afterItemsRemove="_onAfterItemsRemoveHandler()"
   selectedKeys="{{context.selection.selectedKeys}}"
   excludedKeys="{{context.selection.excludedKeys}}"
   selectionCallback="{{_selectionCallback}}"
/>
