.controls-Columns-EditorButton {
   display: inline-block;
}

.controls-Columns-EditorButton__preset {
   margin-right: 4px;
   vertical-align: top;
}

.controls-Columns-EditorButton__preset.ws-disabled .controls-DropdownList__selectedItem .controls-DropdownList__textWrapper .controls-DropdownList__text {
   font-weight: normal;
   color: rgb(153, 153, 153);
}
