<div class="controls-FilterPanelChooser">
    <ws:partial template="{{ _beforeChooserWrapper }}" scope="{{ ... }}" />
    <ws:partial template="{{ chooserTemplate }}" scope="{{...}}" />
    <ws:partial template="{{ _afterChooserWrapper }}" scope="{{ ... }}" />
</div>