.controls-itemActionsV {
  align-items:center;
  display: none;
  position:absolute;
}

.controls-itemActionsV_full_item_size {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  pointer-events: none;
  background: transparent;
}

.controls-itemActionsV__wrapper {
   height: 100%;
   display: inline-flex;
   align-items: center;
}

.controls-itemActionsV__wrapper_absolute {
  pointer-events: auto;
  position: absolute;
}

.controls-itemActionsV__wrapper-isEditing_theme-@{themeName} {
  margin-left: @item_offset_itemActions;
}

.controls-itemActionsV_invisible {
   /**
   When menu is shown we should hide item actions on all rows.
   There're 2 options to achieve this:
   1) Add class on every row.
   2) Add class on container and use cascade.

   Option 1 causes re-render of every item each time a user opens\closes menu, so we use option 2 here.
    */
   .controls-itemActionsV,
   .controls-Swipe_theme-@{themeName} {
      visibility: hidden;
      display: inline-flex;
   }
}

.controls-itemActionsV_visible {
   display: inline-block;
}

.controls-itemActionsV_inside_theme-@{themeName} {
   padding-right: @offset-right_itemActions;
   height: @height_itemActions;
}

.controls-itemActionsV_style_default_theme-@{themeName} {
   background-color: @background-color_itemActions;
}

.controls-itemActionsV_style_master_theme-@{themeName} {
   background-color: @master_background-color_itemActions;
}

.controls-itemActionsV_outside_theme-@{themeName} {
  right: 0;
  bottom: -@height_outside_itemActions;
  height: @height_outside_itemActions;
  background-color: @background-color_outside_itemActions;
   padding-top: @offset-top_outside_itemActions;
   padding-right: @offset-right_outside_itemActions;
   padding-bottom: @offset-bottom_outside_itemActions;
   padding-left: 0;
  box-sizing: border-box;
  &:before {
    content:'';
    position: absolute;
    width: 0;
    height: 0;
    top:0;
    border-top: @height_outside_itemActions solid @background-color_itemActions;
    border-left: @corner_width_outside_itemActions solid transparent;
    left: -@corner_width_outside_itemActions;
  }
}

.controls-itemActionsV_outside-spacing_theme-@{themeName} {
  height: @height_outside_itemActions;
}

.controls-itemActionsV_position_bottomRight {
  bottom: 0;
  right: 0;
}

.controls-itemActionsV_position_topRight {
  top: 0;
  right: 0;
}

.controls-itemActionsV_padding-bottom_default_theme-@{themeName} {
  padding-bottom: @offset-bottom_itemActions;
}
.controls-itemActionsV_padding-bottom_null_theme-@{themeName} {
  padding-bottom: 0;
}
.controls-itemActionsV_padding-top_default_theme-@{themeName} {
  padding-top: @offset-top_itemActions;
}
.controls-itemActionsV_padding-top_null_theme-@{themeName} {
  padding-top: 0;
}
.controls-itemActionsV_editing_theme-@{themeName} {
   background-color: @background-color_editing_itemActions;

   &::before {
      border-top-color: @background-color_editing_itemActions;
   }
}

.controls-itemActionsV_editingToolbarVisible {
  padding-right: 0;
}
// todo https://online.sbis.ru/opendoc.html?guid=803e1e7c-9e4d-4bc2-8627-0b732037d804
.controls-itemActionsV__action .controls-itemActionsV__action_icon_theme-@{themeName} {
  display: flex;
}
.controls-itemActionsV__action_icon_theme-@{themeName} {
  width: @item_icon-size_itemActions;
  height: @item_icon-size_itemActions;
  justify-content: center;
  align-items: center;
}
.controls-itemActionsV__action {
  cursor: pointer;
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  box-sizing: border-box;
  flex-shrink: 0;
  position: relative;
  white-space: nowrap;
}
.controls-itemActionsV__action_padding_theme-@{themeName} {
  margin: 0 @item_offset_itemActions;
}

.controls-itemActionsV__action_iconStyle_danger_theme-@{themeName} {
   color: @danger_color;
}

.controls-itemActionsV__action_iconStyle_success_theme-@{themeName} {
   color: @success_color;
}

.controls-itemActionsV__action_iconStyle_secondary_theme-@{themeName} {
   color: @secondary_icon-color;
}

.controls-itemActionsV__action_iconStyle_warning_theme-@{themeName} {
   color: @warning_color;
}

//since Opener does not know the specific size of the icon
.controls-itemActionsV__popup .icon-size_theme-@{themeName}{
  .icon-size-without-important(@item_icon-size_itemActions, @item_icon_font-family_itemsActions);
}

.controls-itemActionsV__action_icon_size_m_theme-@{themeName} {
   .icon(@item_icon-size_itemActions, @item_icon_font-family_itemsActions);
}

.controls-itemActionsV__action_icon_size_s_theme-@{themeName} {
   .icon-with-size(@item_icon-size_editing_itemActions, @item_icon_font-family_editing_itemsActions, @item_icon-size_itemActions);
}

.controls-itemActionsV__action_title_theme-@{themeName} {
   min-height: @item_caption_min-height_itemActions;
   color: @item_text-color_itemActions;
   font-size: @item_font-size_itemActions;
}

.controls-itemActionsV_swiped {
  display: inline-flex;
}

.ws-is-hover {
   .controls-itemActionsV__action:hover .controls-itemActionsV__action_title_theme-@{themeName} {
      color: @item_hover_text-color_itemActions;
      text-decoration: underline;
   }

   .controls-itemActionsV__action_iconStyle_danger_theme-@{themeName}:hover {
      color: @danger_color;
   }

   .controls-itemActionsV__action_iconStyle_success_theme-@{themeName}:hover {
      color: @success_color;
   }

   .controls-itemActionsV__action_iconStyle_secondary_theme-@{themeName}:hover {
      color: @secondary_hover_icon-color;
   }

   .controls-itemActionsV__action_iconStyle_warning_theme-@{themeName}:hover {
      color: @warning_color;
   }

   .controls-itemActionsV__action_iconStyle_danger_theme-@{themeName}:hover {
      border-color: @danger_color;
   }

   .controls-itemActionsV__action_iconStyle_success_theme-@{themeName}:hover {
      border-color: @success_color;
   }
}

.controls-itemActionsV_columnScrollDraw {
   position: absolute;
   right: 0;
}

.controls-itemActionsV__icon-with-title_theme-@{themeName} {
   padding-right: @item_icon-offset_itemActions;
}

// убрать после https://online.sbis.ru/opendoc.html?guid=c558bf80-4cd1-4854-a963-4af211246111
.controls-ItemActions__popup__list_theme-@{themeName} {
   margin-top: -(@close-button_offset-top_sticky + @border-thickness_sticky);
   margin-left: @close-button_offset-right_sticky + @border-thickness_sticky;
}
