<div>
   <Controls.EditAtPlace
      name="edit"
      bind:editObject="item"
      enabled="{{selected}}"
      style="withoutBorder"
   >
      <div>
         <div class="content_tab_margin  header_demo_class inline_editing controls-accent-text">
            <Controls.EditAtPlace.EditAtPlaceTemplate
                    size="l"
                    bind:value="content.editObject.surname"
            >
               <ws:editorTemplate>
                  <ws:editorTemplate>
                     <Controls.Input.Text
                             selectOnClick="{{ false }}"
                             attr:class="demo_input_width"
                             size="l"
                     />
                  </ws:editorTemplate>
               </ws:editorTemplate>
            </Controls.EditAtPlace.EditAtPlaceTemplate>

            <Controls.EditAtPlace.EditAtPlaceTemplate
                    size="l"
                    bind:value="content.editObject.name"
            >
               <ws:editorTemplate>
                  <ws:editorTemplate>
                     <Controls.Input.Text
                             selectOnClick="{{ false }}"
                             attr:class="demo_input_width"
                             size="l"
                     />
                  </ws:editorTemplate>
               </ws:editorTemplate>
            </Controls.EditAtPlace.EditAtPlaceTemplate>
            <Controls.EditAtPlace.EditAtPlaceTemplate
                    size="l"
                    bind:value="content.editObject.patronymic"
            >
               <ws:editorTemplate>
                  <ws:editorTemplate>
                     <Controls.Input.Text
                             selectOnClick="{{ false }}"
                             attr:class="demo_input_width"
                             size="l"
                     />
                  </ws:editorTemplate>
               </ws:editorTemplate>
            </Controls.EditAtPlace.EditAtPlaceTemplate>
         </div>
      </div>
   </Controls.EditAtPlace>
</div>
