.controls-MenuButton_theme_@{themeName} {
   max-width: 100%;
   display: inline-flex;
   .box-sizing(border-box);
}

.controls-MenuButton__BaseButton.theme_@{themeName} {
   max-width: 100%;
}

.controls-MenuButton__Wrapper.theme_@{themeName} {
   display: inline-flex;
   min-width: 1px;
}

.controls-MenuButton__popup-header_theme-@{themeName} {
   background: @header_background-color_sticky;
   padding: 0 @header_padding-horizontal_sticky 0 @header_padding-horizontal_sticky;
   min-height: @header_min-height_sticky;
}
