.controls-MenuButton_theme_@{themeName} {
   max-width: 100%;
   display: inline-flex;
   .box-sizing(border-box);
}

.controls-MenuButton__BaseButton.theme_@{themeName} {
   max-width: 100%;
}

.controls-MenuButton__BaseButton.controls-Button_button {
   flex-grow: 1;
}

.controls-MenuButton__Wrapper.theme_@{themeName} {
   display: inline-flex;
   min-height: @inline_height_default_link_button;
   min-width: 1px;
}
