@import "Controls-default-theme/helpers/_mixins";

.controls-MenuButton_theme_@{themeName} {
  max-width: 100%;
  display: inline-flex;
  .box-sizing(border-box);
}

.controls-MenuButton__BaseButton.theme_@{themeName} {
  max-width: 100%;
}

.controls-MenuButton__Wrapper.theme_@{themeName} {
  display: inline-flex;
  min-width: 1px;
}
