.controls-MenuButton_button__s_popup, .controls-MenuButton_button__m_popup.theme_@{themeName} {
   margin-top: @shift-top_MenuButton-button-popup;
   margin-left: @shift-left_MenuButton-button-popup;
}

.controls-MenuButton_button__default_popup.theme_@{themeName} {
   margin-top: @shift-top_MenuButton-button_default-popup;
   margin-left: @shift-left_MenuButton-button_default-popup;
}

.controls-MenuButton_button__l_popup.theme_@{themeName} {
   margin-top: @shift-top_MenuButton-button_large-popup;
   margin-left: @shift-left_MenuButton-button_large-popup;
}

.controls-MenuButton_button_iconSize-medium_popup.theme_@{themeName} {
   margin-top: @shift-top_MenuButton-button_medium-popup;
   margin-left: @shift-left_MenuButton-button-popup;
}

.controls-MenuButton_link__m_popup.theme_@{themeName} {
   margin-top: @shift-top_MenuButton-link-popup;
   margin-left: @shift-left_MenuButton-link-popup;
}

.controls-MenuButton_link__l_popup.theme_@{themeName} {
   margin-top: @shift-top_MenuButton-link_large-popup;
   margin-left: @shift-left_MenuButton-link-popup;
}

.controls-MenuButton_toolButton__xl_popup.theme_@{themeName} {
   margin-top: @shift-top_MenuButton-toolButton_large-popup;
   margin-left: @shift-left_MenuButton-toolButton_large-popup;
}

.controls-MenuButton_toolButton__l_popup.theme_@{themeName} {
   margin-top: @shift-top_MenuButton-toolButton_medium-popup;
   margin-left: @shift-left_MenuButton-toolButton_medium-popup;
}

.controls-MenuButton_toolButton__default_popup.theme_@{themeName} {
   margin-top: @shift-top_MenuButton-toolButton_default-popup;
   margin-left: @shift-left_MenuButton-toolButton_default-popup;
}

.controls-MenuButton_toolButton__m_popup.theme_@{themeName} {
   margin-top: @shift-top_MenuButton-toolButton_small-popup;
   margin-left: @shift-left_MenuButton-toolButton_small-popup;
}

.controls-MenuButton_link_iconSize-small_popup.theme_@{themeName} {
   margin-top: @shift-top_MenuButton-link_small-popup;
   margin-left: @shift-left_MenuButton-link_small-popup
}

.controls-MenuButton_link_iconSize-medium_popup, .controls-MenuButton_link__xl_popup.theme_@{themeName} {
   margin-top: @shift-top_MenuButton-link_medium-popup;
   margin-left: @shift-left_MenuButton-link_medium-popup;
}

.controls-MenuButton_link_iconSize-medium_duplicate_popup.theme_@{themeName} {
   margin-top: @shift-top_MenuButton-link_duplicate_medium-popup;
   margin-left: @shift-left_MenuButton-link_duplicate_medium-popup;
}

.controls-MenuButton_link_iconSize-small_duplicate_popup.theme_@{themeName} {
   margin-top: @shift-top_MenuButton-link_duplicate_small-popup;
   margin-left: @shift-left_MenuButton-link_duplicate_small-popup;
}

.controls-MenuButton-duplicate-header.theme_@{themeName} {
   position: absolute;
   .box-sizing(border-box);
   .flexbox();
   .justify-content(center);
   .align-items(center);
   z-index: 2;
   color: @color_DropdownList-heading;
}

.control-MenuButton-duplicate-head_medium.theme_@{themeName} {
   top: @popup_padding-vertical_dropdown + @popup_border-thickness_dropdown + (@item_height_menu - @icon-size_m) / 2;
   left: @item_padding-horizontal_l_menu + @popup_border-thickness_dropdown;
}

.control-MenuButton-duplicate-head_small.theme_@{themeName} {
   top:  @popup_padding-vertical_dropdown + @popup_border-thickness_dropdown + (@item_height_menu - @icon-size_s) / 2;
   left: @item_padding-horizontal_l_menu + @popup_border-thickness_dropdown;
}

