.controls-AddButton{
   cursor: pointer;
   display: inline-block;
}

.controls-AddButton__enable{
   color: @list-add-button-enable-color;
}

.controls-AddButton__disable{
   color: @list-add-button-disable-color;
}

.controls-AddButtonText{
   font-family: TensorFont;
   font-size: 12px;
   &:hover{
      text-decoration: underline;
   }
}