.controls-AddButton{
   cursor: pointer;
   display: inline-block;
}

.controls-AddButton:active{
   .controls-AddButtonText {
      text-decoration: underline;
   }
}

@noTouchDevice: ~"(hover: hover)";
@media @noTouchDevice
{
   .controls-AddButton:hover {
      .controls-AddButtonText {
         text-decoration: underline;
      }
   }
}

.controls-AddButton__enable{
   color: @color_listAddButton_enabled;
}

.controls-AddButton__disable{
   color: @color_listAddButton_disabled;
}

.controls-AddButtonText{
   font-family: TensorFont;
   font-size: @font-size_listAddButton;
   margin-left: 0px;
}
