.controls-DoubleSwitch__toggle {
   .inline-flexbox();
   .align-items(center);
   .baseline-fix();
   border-style: solid;
   user-select: none;
   position: relative;
}

.controls-DoubleSwitch__toggle {
   border-width: var(--border-thickness_switcher);
   border-color: var(--border-color_switcher);
   border-radius: var(--border-radius_switcher);
}

.controls-DoubleSwitch {
   font-size: var(--font-size_switcher);
}

.controls-DoubleSwitch__wrapper {
   display: inline-flex;
   width: 100%;
}

.controls-DoubleSwitch__toggle_enabled {
   cursor: pointer;
}

.controls-DoubleSwitch__toggle_horizontal {
   margin: 0 var(--text_offset_switcher);
   width: var(--width_switcher);
   height: var(--height_horizontal_switcher);
}

.controls-DoubleSwitch__toggle_vertical {
   .flex-direction(column);
   margin: 0;
}

.controls-DoubleSwitch__toggle_vertical {
   width: var(--height_horizontal_switcher);
   height: var(--height_vertical_switcher);
   &:before {
      height: 0;
      line-height: var(--font-size_switcher);
   }
}

.controls-DoubleSwitch__toggle_horizontal_notChecked {
   .flex-direction(row-reverse);
}

.controls-DoubleSwitch__textBlock {
   .inline-flexbox();
   .flex-direction(column);
   justify-content: space-between;
   flex: 1;
   overflow: hidden;
}

.controls-DoubleSwitch__textBlock {
   margin-left: var(--text_offset_switcher);
}

.controls-DoubleSwitch__line_horizontal {
   position: relative;
}

.controls-DoubleSwitch__line_vertical {
   position: relative;
}

.controls-DoubleSwitch__fake-element {
   height: calc(var(--height_vertical_switcher) - var(--marker_height_switcher) - var(--marker_border-offset_switcher));
}

.controls-DoubleSwitch__fake-element_active {
   //Нельзя делать через column-reverse, т.к. иначе базовая линия начинает браться не с того элемента и всё едет
   order: 1;
}

.controls-DoubleSwitch__fake-element_inactive {
   order: 0;
}

.controls-DoubleSwitch__text_vertical {
   //If border is in height text block base line between text and toggle circle deviates to switch border height.
   //In vertical state width = height, height = width.
   height: calc(var(--height_vertical_switcher) / 2 - var(--border-thickness_switcher));
   line-height: calc(var(--height_vertical_switcher) / 2);
   display: block;
   .text-overflow();
}

.controls-DoubleSwitch__text_enabled_unselected {
   color: var(--unselected_text-color_switcher);
   cursor: pointer;
}

.controls-DoubleSwitch__text_disabled_unselected {
   color: var(--readonly_unselected_text-color_switcher);
}
.controls-DoubleSwitch__text_enabled_selected {
   cursor: pointer;
   color: var(--text-color_switcher);
}

.controls-DoubleSwitch__text_disabled_selected {
   color: var(--readonly_text-color_switcher);
}

.ws-is-hover {
   .controls-DoubleSwitch__text_enabled_unselected:hover {
      text-decoration: underline;
   }

   // CSS cascade is needed because you can move mouse to any place of toggle, and internal part of it must be highlighted.
   // Two hover class because first hover class set in js.
   .controls-DoubleSwitcher__toggle_hover, .controls-DoubleSwitch__toggle:hover {
      .controls-SwitchCircle__borderCircle_selected,
      .controls-SwitchCircle__borderCircle_unselected {
         stroke: var(--marker-box_hover_border-color_switcher);
      }
   }
}

//touch on switcher
.controls-DoubleSwitch:active {
   .controls-SwitchCircle__borderCircle_selected,
   .controls-SwitchCircle__borderCircle_unselected {
      stroke: var(--marker-box_hover_border-color_switcher);
   }
}

.controls_DoubleSwitch_SwitchCircle_vertical {
   margin-top: calc(var(--marker_border-offset_switcher) - var(--border-thickness_switcher));
   margin-bottom: calc(var(--marker_border-offset_switcher) - var(--border-thickness_switcher));
}

.controls_DoubleSwitch_SwitchCircle_horizontal {
   margin-right: calc(var(--marker_border-offset_switcher) - var(--border-thickness_switcher));
   margin-left: calc(var(--marker_border-offset_switcher) - var(--border-thickness_switcher));
}
