<Controls:Popup:Opener:Sticky name="StickyOpener">
   <ws:popupOptions template="Controls/Dropdown/resources/template/DropdownList"
                    eventHandlers="{{_options.popupOptions.eventHandlers}}"
                    className="{{_className}}"
                    corner="{{_options.popupOptions.corner}}"
                    horizontalAlign="{{_options.popupOptions.horizontalAlign}}"
                    verticalAlign="{{_options.popupOptions.verticalAlign}}"
                    autoHide="{{true}}">
      <ws:componentOptions keyProperty="{{_options.keyProperty}}"
                           depth="{{_options.depth}}"
                           selectedKeys="{{_options.selectedKeys}}"
                           parentProperty="{{_options.parentProperty}}"
                           itemTemplateProperty="{{_options.itemTemplateProperty}}"
                           nodeProperty="{{_options.nodeProperty}}"/>
   </ws:popupOptions>
</Controls:Popup:Opener:Sticky>
