.controls-FilterViewPanel__popup-template_theme-@{themeName} {
   background-color: @background-color_filterViewPanel;
}

.controls-FilterViewPanel__popup-close_btn_theme-@{themeName} {
   position: absolute;
   z-index: 3;
   top: (@heading_height_filterViewPanel - @height_closeButton_link) / 2;
   right: @heading_close-btn_offset_filterViewPanel;
}
