.controls-Stack {
   .box-shadow(@controls-Popup-stack-shadow);
   border-left: 1px solid #BDBDBD;
   transition: width @controls-Popup-animate-duration;
   .controls-Popup__template {
      width: 100%;
   }
}