<Controls.Container.Scroll
   attr:class="MonthList-ScrollContainer"
   scrollbarVisible="{{false}}">
   <Controls.List
      source = "{{_viewSource}}"
      name="months"
      idProperty="id"
      >

      <ws:navigation source="page" view="infinity">
         <ws:sourceConfig pageSize="{{1}}" page="{{_page}}"></ws:sourceConfig>
      </ws:navigation>

      <ws:itemTemplate>
         <ws:partial template="tmpl!Controls/List/ItemTemplate"
                     itemData="{{itemTemplate.itemData}}"
         >
            <ws:contentTemplate>
               <!--<ws:for data="monthIndex, month in itemTemplate.itemData.item['months']">-->
                  <!--<Controls.Date.Month-->

                     <!--startValue="{{_options.startValue}}"-->
                     <!--endValue="{{_options.endValue}}"-->

                     <!--bind:selectionProcessing="_selectionProcessing"-->
                     <!--bind:selectionBaseValue="_selectionBaseValue"-->
                     <!--bind:selectionHoveredValue="_selectionHoveredValue"-->

                     <!--on:startValueChanged="startValueChangedHandler()"-->
                     <!--on:endValueChanged="endValueChangedHandler()"-->

                     <!--className="controls-DateRangeBigChoose-DateRangePicker__item"-->
                     <!--showWeekdays="{{false}}"-->
                     <!--month="{{month}}"-->
                  <!--/>-->
               <!--</ws:for>-->
               <ws:partial
                  template="{{_options.itemTemplate}}"
                  item="{{itemTemplate.itemData.item}}"
               >
               </ws:partial>
            </ws:contentTemplate>
         </ws:partial>
      </ws:itemTemplate>
   </Controls.List>
</Controls.Container.Scroll>
