<div class="controls-ListView__itemCheckBox"></div>
<div class="controls-FilterPanelChooser__title" title="{{item[displayProperty]}}">
    {{item[displayProperty]}}
    <div class="controls-FilterPanelChooser__titleShadow"></div>
</div>
<div class="controls-FilterPanelChooser__count">{{item[countField]}}</div>
