.controls-ListView__itemV {
   position: relative;
}

.controls-ListViewV__loading_theme-@{themeName} {
   min-height: @spinner_l_size_loadingIndicator +
               @content_l_padding_loadingIndicator * 2;
}

.controls-ListView__itemV_marker_default_theme-@{themeName} {
   position: absolute;
   width: @marker_thickness_list;
   background-color: @marker_color_list;
   height: 100%;
   left: 0;
   top: 0;
}

.controls-ListView__itemV .controls-ListView__checkbox_theme-@{themeName} {
   float: left;
   margin-top: @checkbox_offset-top_list;
}

.ws-is-desktop-platform .controls-ListView__checkbox-onhover {
   visibility: hidden;
}

.ws-is-hover .controls-ListView__itemV:hover .controls-ListView__checkbox-onhover {
   visibility: visible;
}

.controls-ListView__footer__paddingLeft_withCheckboxes_theme-@{themeName} {
   padding-left: @checkbox_offset-left_list + @click-area_width_checkbox;
}

.controls-ListView__footer__paddingLeft_default_theme-@{themeName} {
   padding-left: @item_padding-left_m_list;
}

.controls-ListView__item_default-topPadding_null_theme-@{themeName},
.controls-ListView__item_master-topPadding_null_theme-@{themeName},
.controls-ListView__itemV_marker_master_topPadding-null_theme-@{themeName} {
  padding-top: 0;
}

.controls-ListView__item_default-topPadding_s_theme-@{themeName},
.controls-ListView__item_master-topPadding_s_theme-@{themeName},
.controls-ListView__itemV_marker_master_topPadding-s_theme-@{themeName} {
   padding-top: @item_padding-top_s_list;
}

.controls-ListView__item_default-topPadding_l_theme-@{themeName},
.controls-ListView__item_master-topPadding_l_theme-@{themeName},
.controls-ListView__itemV_marker_master_topPadding-l_theme-@{themeName} {
   padding-top: @item_padding-top_l_list;
}

.controls-ListView__item_default-topPadding_default_theme-@{themeName} {
   padding-top: @item_padding-top_default_list;
}

.controls-ListView__item_master-topPadding_default_theme-@{themeName},
.controls-ListView__itemV_marker_master_topPadding-default_theme-@{themeName}{
   padding-top: @master_item_padding-top_list;
}


.controls-ListView__item_default-bottomPadding_null_theme-@{themeName},
.controls-ListView__item_master-bottomPadding_null_theme-@{themeName},
.controls-ListView__itemV_marker_master_bottomPadding-null_theme-@{themeName} {
  padding-bottom: 0;
}

.controls-ListView__item_default-bottomPadding_s_theme-@{themeName},
.controls-ListView__item_master-bottomPadding_s_theme-@{themeName},
.controls-ListView__itemV_marker_master_bottomPadding-s_theme-@{themeName} {
   padding-bottom: @item_padding-bottom_s_list;
}

.controls-ListView__item_default-bottomPadding_l_theme-@{themeName},
.controls-ListView__item_master-bottomPadding_l_theme-@{themeName},
.controls-ListView__itemV_marker_master_bottomPadding-l_theme-@{themeName} {
  padding-bottom: @item_padding-bottom_l_list;
}

.controls-ListView__item_default-bottomPadding_default_theme-@{themeName} {
  padding-bottom: @item_padding-bottom_default_list;
}

.controls-ListView__item_master-bottomPadding_default_theme-@{themeName},
.controls-ListView__itemV_marker_master_bottomPadding-default_theme-@{themeName} {
   padding-bottom: @master_item_padding-bottom_list;
}

.controls-ListView__itemContent_withCheckboxes_theme-@{themeName},
.controls-ListView__groupContent__leftPadding_withCheckboxes_theme-@{themeName},
.controls-ListView__footer__paddingLeft_withCheckboxes_theme-@{themeName} {
   padding-left: @checkbox_offset-left_list + @click-area_width_checkbox;
}

.controls-ListView__item-leftPadding_default_theme-@{themeName},
.controls-ListView__groupContent__leftPadding_default_theme-@{themeName},
.controls-ListView__footer__paddingLeft_default_theme-@{themeName} {
   padding-left: @item_padding-left_default_list;
}

.controls-ListView__item-leftPadding_null_theme-@{themeName},
.controls-ListView__groupContent__leftPadding_null_theme-@{themeName},
.controls-ListView__footer__paddingLeft_null_theme-@{themeName} {
   padding-left: 0;
}

.controls-ListView__item-leftPadding_xs_theme-@{themeName},
.controls-ListView__groupContent__leftPadding_xs_theme-@{themeName},
.controls-ListView__footer__paddingLeft_xs_theme-@{themeName} {
   padding-left: @item_padding-left_xs_list;
}

.controls-ListView__item-leftPadding_s_theme-@{themeName},
.controls-ListView__groupContent__leftPadding_s_theme-@{themeName},
.controls-ListView__footer__paddingLeft_s_theme-@{themeName} {
   padding-left: @item_padding-left_s_list;
}

.controls-ListView__item-leftPadding_m_theme-@{themeName},
.controls-ListView__groupContent__leftPadding_m_theme-@{themeName},
.controls-ListView__footer__paddingLeft_m_theme-@{themeName} {
   padding-left: @item_padding-left_m_list;
}

.controls-ListView__item-leftPadding_l_theme-@{themeName},
.controls-ListView__groupContent__leftPadding_l_theme-@{themeName},
.controls-ListView__footer__paddingLeft_l_theme-@{themeName} {
   padding-left: @item_padding-left_l_list;
}

.controls-ListView__item-leftPadding_xl_theme-@{themeName},
.controls-ListView__groupContent__leftPadding_xl_theme-@{themeName},
.controls-ListView__footer__paddingLeft_xl_theme-@{themeName} {
   padding-left: @item_padding-left_xl_list;
}

.controls-ListView__item-leftPadding_xxl_theme-@{themeName},
.controls-ListView__groupContent__leftPadding_xxl_theme-@{themeName},
.controls-ListView__footer__paddingLeft_xxl_theme-@{themeName} {
   padding-left: @item_padding-left_2xl_list;
}

.controls-ListView__item-rightPadding_default_theme-@{themeName},
.controls-ListView__groupContent__rightPadding_default_theme-@{themeName} {
   padding-right: @item_padding-right_default_list;
}

.controls-ListView__item-rightPadding_null_theme-@{themeName},
.controls-ListView__groupContent__rightPadding_null_theme-@{themeName} {
   padding-right: 0;
}

.controls-ListView__item-rightPadding_xs_theme-@{themeName},
.controls-ListView__groupContent__rightPadding_xs_theme-@{themeName} {
   padding-right: @item_padding-right_xs_list;
}

.controls-ListView__item-rightPadding_s_theme-@{themeName},
.controls-ListView__groupContent__rightPadding_s_theme-@{themeName} {
   padding-right: @item_padding-right_s_list;
}

.controls-ListView__item-rightPadding_m_theme-@{themeName},
.controls-ListView__groupContent__rightPadding_m_theme-@{themeName} {
   padding-right: @item_padding-right_m_list;
}

.controls-ListView__item-rightPadding_l_theme-@{themeName},
.controls-ListView__groupContent__rightPadding_l_theme-@{themeName} {
   padding-right: @item_padding-right_l_list;
}

.controls-ListView__item-rightPadding_xl_theme-@{themeName},
.controls-ListView__groupContent__rightPadding_xl_theme-@{themeName} {
   padding-right: @item_padding-right_xl_list;
}

.controls-ListView__item-rightPadding_xxl_theme-@{themeName},
.controls-ListView__groupContent__rightPadding_xxl_theme-@{themeName} {
   padding-right: @item_padding-right_2xl_list;
}

.controls-ListView__itemContent {
   z-index: 1;
}

.controls-itemActionsV {
   z-index: 1;
}

.controls-ListView__item_active_theme-@{themeName} {
   background-color: @item_active_background-color_list;
}

.controls-ListView__item_editing_theme-@{themeName} {
   background-color: @item_editing_background-color_list;
   > .controls-itemActionsV {
      display: inline-block;
      opacity: 1;
   }
   .controls-itemActionsV_custom_theme-@{themeName} {
      display: inline-block;
      opacity: 1;
   }
}

.controls-ListView__item_dragging_theme-@{themeName} {
   opacity: @item_dragging_opacity_list;
}

.ws-is-hover .controls-BaseControl_showActions {
   .controls-ListView__item_showActions {
      &:hover {
         > .controls-itemActionsV {
            display: inline-block;
            opacity: 1;
         }
         .controls-itemActionsV_custom_theme-@{themeName} {
            display: inline-block;
            opacity: 1;
         }
      }
   }
   .controls-ListView__item_highlightOnHover_editing {
      &:hover {
         background-color: @item_editing_background-color_list;
      }
   }
}

.controls-ListView__groupContent {
   display: flex;
   align-items: baseline;
   // убрал overflow по задаче https://online.sbis.ru/opendoc.html?guid=c2378e36-137e-44e6-a339-1c5bd549a772
   //overflow: hidden;
}

.controls-ListView__groupSeparator-left_theme-@{themeName}, .controls-ListView__groupSeparator-right_theme-@{themeName} {
   height: @grouping_height_list / 2 - @grouping_separator_thickness_list;
   margin-bottom: @grouping_height_list / 2;
   border-bottom: @grouping_separator_thickness_list solid @grouping_separator_color_list;
   min-width: 10%;
   flex-grow: 1;
   flex-shrink: 1;
   font-size: @grouping_expander_icon-size_list;
}

.controls-ListView__groupSeparator-left_theme-@{themeName} {
   margin-right: @grouping_expander_padding-left_list;
}

.controls-ListView__groupSeparator-right_theme-@{themeName} {
   margin-left: @grouping_expander_padding-right_list;
}

.controls-ListView__groupContent-text_theme-@{themeName} {
   display: inline-block;
   color: @grouping_expander_text-color_list;
   font-size: @grouping_expander_font-size_list;
   white-space: nowrap;
   text-align: center;
   flex-shrink: 1;
   user-select: none;
   overflow: hidden;
   text-overflow: ellipsis;
}

.controls-ListView__groupExpander {
   cursor: pointer;
}

.controls-ListView__groupExpander_left_theme-@{themeName}::before {
   width: @grouping_expander_icon-size_list;
   font-size: @grouping_expander_icon-size_list;
   padding-right: @grouping_expander_icon_offset_list;
   content: '\e000';
}

.controls-ListView__groupExpander_right_theme-@{themeName}::after {
   width: @grouping_expander_icon-size_list;
   font-size: @grouping_expander_icon-size_list;
   padding-left: @grouping_expander_icon_offset_list;
   content: '\e000';
}

.ws-is-hover .controls-ListView__groupExpander_theme-@{themeName}:hover {
   color: @grouping_expander_hover_text-color_list;
}

.controls-ListView__groupExpander_theme-@{themeName}:active {
   color: @grouping_expander_active_text-color_list;
}

.controls-ListView__groupExpander_collapsed_left:before {
   content: '\e013';
}

.controls-ListView__groupExpander_collapsed_right:after {
   content: '\e013';
}

.controls-ListView__groupHidden {
   display: none;
}

.controls-ListView__groupContent-rightTemplate_theme-@{themeName} {
   padding-left: @grouping_right-template_padding-left_list;
   flex-shrink: 0;
}

.controls-ListView__empty_theme-@{themeName} {
   color: @placeholder_text-color_list;
   text-align: center;
   font-size: @placeholder_font-size_list;
}

.controls-ListView__empty_topSpacing_null_theme-@{themeName} {
   margin-top: 0;
}

.controls-ListView__empty_topSpacing_xs_theme-@{themeName} {
   margin-top: @placeholder_padding-top_xs_list;
}

.controls-ListView__empty_topSpacing_s_theme-@{themeName} {
   margin-top: @placeholder_padding-top_s_list;
}

.controls-ListView__empty_topSpacing_m_theme-@{themeName} {
   margin-top: @placeholder_padding-top_m_list;
}

.controls-ListView__empty_topSpacing_l_theme-@{themeName} {
   margin-top: @placeholder_padding-top_l_list;
}

.controls-ListView__empty_topSpacing_xl_theme-@{themeName} {
   margin-top: @placeholder_padding-top_xl_list;
}

.controls-ListView__empty_topSpacing_xxl_theme-@{themeName} {
   margin-top: @placeholder_padding-top_2xl_list;
}

.controls-ListView__empty_bottomSpacing_null_theme-@{themeName} {
   margin-bottom: 0;
}

.controls-ListView__empty_bottomSpacing_xs_theme-@{themeName} {
   margin-bottom: @placeholder_padding-bottom_xs_list;
}

.controls-ListView__empty_bottomSpacing_s_theme-@{themeName} {
   margin-bottom: @placeholder_padding-bottom_s_list;
}

.controls-ListView__empty_bottomSpacing_m_theme-@{themeName} {
   margin-bottom: @placeholder_padding-bottom_m_list;
}

.controls-ListView__empty_bottomSpacing_l_theme-@{themeName} {
   margin-bottom: @placeholder_padding-bottom_l_list;
}

.controls-ListView__empty_bottomSpacing_xl_theme-@{themeName} {
   margin-bottom: @placeholder_padding-bottom_xl_list;
}

.controls-ListView__empty_bottomSpacing_xxl_theme-@{themeName} {
   margin-bottom: @placeholder_padding-bottom_2xl_list;
}

//MasterList styles

.controls-ListView_master_theme-@{themeName} {
   padding-right: @master_separator_thickness_list;
   box-sizing: border-box;
}

.controls-ListView_masterClassic_theme-@{themeName} {
   padding-right: @masterClassic_separator_thickness_list;
   box-sizing: border-box;
}

.ws-is-mobile-chrome-ios .controls-ListView__item__marked_master_theme-@{themeName},
.ws-is-desktop-safari .controls-ListView__item__marked_master_theme-@{themeName},
.ws-is-mobile-safari .controls-ListView__item__marked_master_theme-@{themeName},
.ws-is-mobile-chrome-ios .controls-ListView__item__marked_masterClassic_theme-@{themeName},
.ws-is-desktop-safari .controls-ListView__item__marked_masterClassic_theme-@{themeName},
.ws-is-mobile-safari .controls-ListView__item__marked_masterClassic_theme-@{themeName} {
   // ave safari 13
   // https://online.sbis.ru/opendoc.html?guid=6d560d7a-c140-4d06-a1b6-53b326efe950
   // иначе все position: absolute элементы внутри position: sticky
   // начинают сроиться относительно родителя уровнем выше
   transform: translateZ(0);
}

.controls-ListView__item__unmarked_master_theme-@{themeName} {
   font-size: @master_item_font-size_list;
}

.controls-ListView__itemContent_master_theme-@{themeName} {
   display: flex;
   align-items: baseline;

   &:before {
      content: '\200b';
      font-size: @master_item_selected_font-size_list;
   }
}

// TODO После https://online.sbis.ru/opendoc.html?guid=83aacafa-5b11-4615-9424-46d724b3793e
//  вернуть как было в задаче https://online.sbis.ru/opendoc.html?guid=ecf7bb3e-a806-4477-9efa-dfc176195197
.controls-background-masterClassic_theme-@{themeName}.controls-ListView__item__marked_masterClassic_theme-@{themeName},
.controls-ListView__item__marked_masterClassic_theme-@{themeName} {
   background-color: @masterClassic_item_selected_background-color_list;
}
.controls-ListView__item__marked_masterClassic_theme-@{themeName} {
   z-index: 1;

   &:before {
      content: '\200b';
      z-index: 2;
      box-sizing: border-box;
      border-width: @masterClassic_item_selected_border-thickness_list 0 @masterClassic_item_selected_border-thickness_list 0;
      border-style: solid;
      border-color: @masterClassic_item_selected_border-top-color_list transparent @masterClassic_item_selected_border-bottom-color_list transparent;
      box-shadow: @masterClassic_item_selected_box-shadow_list;
      width: ~'calc(100% + @{masterClassic_separator_thickness_list})';
      position: absolute;
      bottom: 0;
      left: 0;
      pointer-events: none;
      height: 100%;
   }
   &:after {
      content: '';
      z-index: 1;
      height: 100%;
      top: 0;
      width: @masterClassic_separator_thickness_list;
      position: absolute;
      right: -@masterClassic_separator_thickness_list;
      background-color: @masterClassic_item_selected_background-color_list;
   }
}

.controls-ListView__item__marked_master_theme-@{themeName} {
   font-size: @master_item_selected_font-size_list;
   font-weight: bold;
   color: @master_item_selected_text-color_list;
}

.controls-ListView__itemV_marker_master_theme-@{themeName} {
   position: absolute;
   width: @master-marker_thickness_list;
   height: 100%;
   display: inline-flex;
   align-items: baseline;
   top: initial;
   left: 0;
}

.ws-is-ie11 .controls-ListView__itemV_marker_master_theme-@{themeName} {
   top: 0;
   bottom: 0;
   height: auto;
}

.controls-ListView__itemV_marker_master_theme-@{themeName}:before {
   content: '\200b';
   font-size: @master_item_selected_font-size_list;
}

.controls-ListView__itemV_marker_master_theme-@{themeName}:after {
   content: '';
   display: inline-block;
   background-color: @master-marker_color_list;
   width: @master-marker_thickness_list;
   height: @master-marker_height_list;
}

.controls-ListView__itemV_marker_masterClassic_theme-@{themeName} {
   position: absolute;
   width: @masterClassic-marker_thickness_list;
   background-color: @marker_color_list;
   height: 100%;
   left: 0;
   top: 0;
}

.controls-ListView__groupContent_cursor-default {
   cursor: default;
}

.controls-ListView__itemV_cursor-default {
   cursor: default;
}

.controls-ListView__itemV_cursor-pointer {
   cursor: pointer;
}

//Пока страница не ожила, мы не знаем тач устройство или нет, так что на мобильных устройствах нужно скрыть операции над записью
//TODO: после этой задачи нужно убрать not https://online.sbis.ru/opendoc.html?guid=87ddbeeb-fa7e-4462-b69b-c15188df61da
.ws-is-hover:not(.ws-is-mobile-platform) {
   .controls-ListView__item_master_theme-@{themeName},
   .controls-ListView__item_masterClassic_theme-@{themeName} {
      &:hover {
         background-color: @master_item_hover_background-color_list;
      }
   }
}

// Решает проблему, когда уже отрендеренные в DOM'е элементы списка в Safari становятся
// видимыми при скролле только когда попадают в область видимости пользователя, и еще
// с некоторой задержкой. То есть появляется эффект "мигания" элементов списка.
// Приводит к этому, насколько я смог разобраться, какая-то комбинация position'ов и z-index'ов
// https://stackoverflow.com/a/10170170/2298183
.ws-is-mobile-safari {
   // Делаем только для списков с новым рендером, а то страшно
   .controls-ListViewV__itemsContainer--newRender {
      .translate3d(0);
   }
}

.controls-ListView__groupContent_align-left {
   justify-content: flex-start;
}

.controls-ListView__groupContent_align-right {
   justify-content: flex-end;
}

.controls-ListView__groupContent_align-center {
   justify-content: center;
}

.ws-is-hover {
   .controls-ListView__item_highlightOnHover_default_theme_@{themeName} {
     &:hover {
       background-color: @item_hover_background-color_list;
     }
   }
 }
 //TODO это должно уехать в BaseControl после задачи https://online.sbis.ru/opendoc.html?guid=92bedbf7-6038-4c1f-826e-b096b4cddd6d
 .controls-Checkbox__iconWrapper_inList_theme-@{themeName} {
   height: @checkbox_height_list;
 }
