.controls-FilterView {
   padding: 0 10px 10px 10px;
   .controls-ListView__footer {
      text-align: center;
      line-height: 32px;
   }
   .controls-ListView__item {
      min-height: 32px;
   }
   .controls__filter-button__filter-line {

   }
}