<span class="controls-Switch" on:click="_clickHandler()">
   <span class="controls-Switch__wrapper
               {{isEnabled() ? 'controls-Switch_enabled'}}
               {{_options.value ? ' controls-Switch_checked'}}"
         title="{{tooltip}}">
      <span class="controls-Switch__marker {{_markerState}}"></span>
      <span class="controls-Switch__line{{isEnabled() ? ' controls-Switch__line_enabled' : ' controls-Switch__line_disabled'}}"></span>
   </span>
   <span class="controls-Switch__text{{!_options.value ? isEnabled() ? ' controls-Switch__text_enabled_unselected' : ' controls-Switch__text_disabled_unselected'}}" >{{_options.caption}}</span>
</span>