<Controls.List
        keyProperty="id"
        emptyTemplate="Не найдено"
        source="{{_options.source}}">
   <ws:itemTemplate>
      <ws:partial template="tmpl!Controls/List/ItemTemplate">
         <ws:contentTemplate>
            <div>
               <div>{{itemTemplate.itemData.item.get('title')}}</div>
            </div>
         </ws:contentTemplate>
      </ws:partial>
   </ws:itemTemplate>
</Controls.List>