<Controls.Input.resources.InputRender.InputRender
   name="inputRender"
   autocomplete="{{_options.autocomplete}}"
   size="{{ _options.size }}"
   selectOnClick="{{_options.selectOnClick}}"
   viewModel="{{_numberViewModel}}"
   tagStyle="{{_options.tagStyle}}"
   placeholder="{{_options.placeholder}}"
   validationErrors="{{_options.validationErrors}}"
   textAlign="{{ _options.textAlign }}"
   on:valueChanged="_valueChangedHandler()"
   on:inputCompleted="_inputCompletedHandler()"
   on:tagHover="_notifyHandler('onTagHover')"
   on:tagClick="_notifyHandler('onTagClick')"
   on:focusout="_focusoutHandler()"
>
   <ws:content>

      <ws:partial
         template="tmpl!Controls/Input/resources/input"
         type="text"
         readOnly="{{_options.readOnly}}"
      />

   </ws:content>
   <ws:value>
      <ws:String>{{ _options.value }}</ws:String>
   </ws:value>
</Controls.Input.resources.InputRender.InputRender>