<ws:Controls.Input.resources.TextRender.TextRender
   type="text"
   value="{{ _value }}"
   enabled="{{ isEnabled() }}"
   getInputData="{{ _getInputData }}"
   event:onChangeValue="_inputHandler()"
   />