<div class="controls-ClockPickerHeader">
   <div class="controls-ClockPickerHeader__startBlock">
      <div class="controls-ClockPickerHeader__title">Время</div>
      <div class="controls-ClockPickerHeader__toggleTime">
         <div
            class="controls-ClockPickerHeader__time js-controls-ClockPickerHeader__hours"
            data-bind="{
               html: hours,
               css: {
                  'controls-ClockPickerHeader__time_active': active/hours,
                  'controls-ClockPickerHeader__time_passive': active/minutes
               }
            }"
         ></div>
         <div class="controls-ClockPickerHeader__separator">:</div>
         <div
            class="controls-ClockPickerHeader__time js-controls-ClockPickerHeader__minutes"
            data-bind="{
               html: minutes,
               css: {
                  'controls-ClockPickerHeader__time_active': active/minutes,
                  'controls-ClockPickerHeader__time_passive': active/hours
               }
            }"
         ></div>
      </div>
   </div>
   <div class="controls-ClockPickerHeader__endBlock">
      <ws:SBIS3.CONTROLS.IconButton
         name="homeButton"
         className="controls-IconButton__round-border controls-ClockPickerHeader__homeButton"
         icon="sprite:icon-16 icon-Home3 icon-primary"
      />
      <ws:SBIS3.CORE.CloseButton
         name="closeButton"
         className="controls-ClockPickerHeader__closeButton"
      />
   </div>
</div>