@import "Controls-default-theme/helpers/_mixins";

.controls-Button__wrapper_viewMode-pushButton {
   justify-content: center;
}
//button
.controls-Button_button_style-secondary_toggled_theme-@{themeName} {
   border-color: @secondary_toggled_border-color_toggleButton_button;
   border-width: @secondary_toggled_border-thickness_toggleButton_button;
}

.controls-Button_button_style-primary_toggled_theme-@{themeName} {
   border-color: @primary_toggled_border-color_toggleButton_button;
   border-width: @primary_toggled_border-thickness_toggleButton_button;
}

//toolButton
.controls-Button_toolButton_style-secondary_toggled_theme-@{themeName} {
   border-color: @secondary_toggled_border-color_toggleButton_toolButton;
}

.controls-Button_toolButton_style-danger_toggled_theme-@{themeName} {
   border-color: @success_color;
}

.controls-Button_toolButton_style-success_toggled_theme-@{themeName} {
   border-color: @danger_color;
}

.controls-Button_toolButton_style-readonly_toggled_theme-@{themeName} {
   border-color: @readonly_border-color_button_toolButton;
}

//borders
.controls-Button_pushButton {
   border-style: solid;
}

.controls-Button_pushButton_theme-@{themeName} {
   border-width: @border-thickness_button;
   border-radius: @border-radius_toggleButton_pushButton;
   box-shadow: @box-shadow_toggleButton_pushButton;
}

.controls-Button_pushButton_style-secondary_theme-@{themeName} {
   border-color: @secondary_border-color_toggleButton_pushButton;
}

.controls-Button_pushButton_style-primary_theme-@{themeName} {
   border-color: transparent;
}

.controls-Button_pushButton_style-danger_theme-@{themeName} {
   border-color: transparent;
}

.controls-Button_pushButton_style-success_theme-@{themeName} {
   border-color: transparent;
}

.controls-Button_pushButton_style-readonly_theme-@{themeName} {
   border-color: @readonly_toggled_border-color_toggleButton_pushButton;
}

.controls-Button_pushButton_style-secondary_toggled_theme-@{themeName} {
   border-color: @secondary_toggled_border-color_toggleButton_pushButton;
}

.controls-Button_pushButton_style-primary_toggled_theme-@{themeName} {
   border-color: @secondary_toggled_border-color_toggleButton_pushButton;
}

.controls-Button_pushButton_style-danger_toggled_theme-@{themeName} {
   border-color: @danger_color;
}

.controls-Button_pushButton_style-success_toggled_theme-@{themeName} {
   border-color: @success_color;
}

.controls-Button_pushButton_style-readonly_toggled_theme-@{themeName} {
   border-color: @readonly_toggled_border-color_toggleButton_pushButton;
}

//background
.controls-Button_pushButton_style-secondary_theme-@{themeName}.controls-Button_bg-contrast_theme-@{themeName} {
   background-color: @secondary_contrast_background-color_toggleButton_pushButton;
}

.controls-Button_pushButton_style-secondary_theme-@{themeName}.controls-Button_bg-same_theme-@{themeName} {
   background-color: @secondary_background-color_toggleButton_pushButton;
}

.controls-Button_pushButton_style-secondary_toggled_theme-@{themeName}.controls-Button_bg-contrast_theme-@{themeName} {
   background-color: @secondary_contrast_toggled_background-color_toggleButton_pushButton;
}

.controls-Button_pushButton_style-secondary_toggled_theme-@{themeName}.controls-Button_bg-same_theme-@{themeName} {
   background-color: @secondary_toggled_background-color_toggleButton_pushButton;
}

.controls-Button_pushButton_style-readonly_theme-@{themeName}.controls-Button_bg-contrast_theme-@{themeName} {
   background-color: @readonly_contrast_toggled_background-color_toggleButton_pushButton;
}

.controls-Button_pushButton_style-readonly_theme-@{themeName}.controls-Button_bg-same_theme-@{themeName} {
   background-color: @readonly_toggled_background-color_toggleButton_pushButton;
}

.ws-is-hover {
   .controls-Button_pushButton_style-secondary_theme-@{themeName}:hover.controls-Button_bg-contrast_theme-@{themeName} {
      background-color: @secondary_contrast_hover_background-color_toggleButton_pushButton;
   }

   .controls-Button_pushButton_style-secondary_theme-@{themeName}:hover.controls-Button_bg-same_theme-@{themeName} {
      background-color: @secondary_hover_background-color_toggleButton_pushButton;
   }
}

.ws-is-no-touch,
.ws-is-touch {
   .controls-Button_pushButton_style-secondary_theme-@{themeName}:active.controls-Button_bg-contrast_theme-@{themeName} {
      background-color: @secondary_contrast_hover_background-color_toggleButton_pushButton;
   }

   .controls-Button_pushButton_style-secondary_theme-@{themeName}:active.controls-Button_bg-same_theme-@{themeName} {
      background-color: @secondary_hover_background-color_toggleButton_pushButton;
   }
}

//this is square buttons, that's why width is equal to height
.controls-Button_pushButton_xs_theme-@{themeName} {
   min-width: @inline_height_xs;
}

.controls-Button_pushButton_s_theme-@{themeName} {
   min-width: @inline_height_s;
}

.controls-Button_pushButton_m_theme-@{themeName} {
   min-width: @inline_height_m;
}

.controls-Button_pushButton_l_theme-@{themeName} {
   min-width: @inline_height_l;
}

.controls-Button_pushButton_xl_theme-@{themeName} {
   min-width: @inline_height_xl;
}

.controls-Button_pushButton_2xl_theme-@{themeName} {
   min-width: @inline_height_2xl;
}

.controls-Button_pushButton_default_theme-@{themeName} {
   min-width: @inline_height_default;
}

.controls-Button_pushButton:active {
   box-shadow: none;
}
