.controls-Dropdown {
   display: inline-block;
}

.controls-Dropdown__wrapper {
   display: inline-flex;
   align-items: center;
   height: var(--height_dropdownSelector);
   width: 100%;
}

.controls-Dropdown__wrapper::before {
   content: "\200b";
   font-size: var(--font-size_default_dropdownSelector);
}

.controls-Dropdown__content-wrapper {
   .inline-flexbox();
   .align-items(baseline);

   width: 100%;
}

.controls-Dropdown__iconTemplate_wrapper {
   display: flex;
   align-items: center;
   width: 100%;
}

.controls-Dropdown-fontsize {
   font-size: var(--font-size_default_dropdownSelector);
}

.controls-Dropdown__text-wrapper {
   box-sizing: border-box;
   display: inline-flex;
   width: 100%;
}

.controls-Dropdown__text_enabled:active {
   cursor: pointer;

   .controls-Dropdown__text-wrapper {
      text-decoration: underline;
   }

   .controls-icon_style-secondary {
      color: var(--link_hover_text-color);
      fill: var(--link_hover_text-color);
   }

   .controls-icon_style-label {
      color: var(--link_hover_text-color);
      fill: var(--link_hover_text-color);
   }
}

.ws-is-hover {
   .controls-Dropdown__text_enabled:hover {
      cursor: pointer;

      .controls-Dropdown__text-wrapper {
         text-decoration: underline;
      }

      .controls-icon_style-secondary {
         color: var(--link_hover_text-color);
         fill: var(--link_hover_text-color);
      }

      .controls-icon_style-label {
         color: var(--link_hover_text-color);
         fill: var(--link_hover_text-color);
      }
   }

   .controls-Dropdown__defaultItem:hover.controls-text-link {
      color: var(--link_hover_text-color);
   }

   .controls-Dropdown__defaultItem:hover.controls-text-primary {
      color: var(--primary_hover_text-color);
   }

   .controls-Dropdown__defaultItem:hover.controls-text-secondary {
      color: var(--link_hover_text-color);
   }

   .controls-Dropdown__defaultItem:hover.controls-text-label {
      color: var(--link_hover_text-color);
   }
}

.controls-Dropdown__text {
   .text-overflow();
}

.controls-Dropdown-validationStatus_invalid {
   outline: var(--invalid_border-thickness_dropdownSelector) solid var(--invalid_border-color_dropdownSelector);
   outline-offset: calc(-1 * var(--invalid_border-thickness_dropdownSelector));
}

.controls-Dropdown__defaultItem:active.controls-text-link {
   color: var(--link_hover_text-color);
}

.controls-Dropdown__defaultItem:active.controls-text-primary {
   color: var(--primary_hover_text-color);
}

.controls-Dropdown__defaultItem:active.controls-text-secondary {
   color: var(--link_hover_text-color);
}

.controls-Dropdown__defaultItem:active.controls-text-label {
   color: var(--link_hover_text-color);
}

.controls-Dropdown__emptyItem {
   color: var(--empty-item_text-color_dropdownSelector);
}

.controls-Dropdown__icon {
   .inline-flexbox();

   align-self: center;
   flex-shrink: 0;
}

.controls-Dropdown__icon-rightSpacing {
   margin-right: var(--icon_offset_dropdownSelector);
}

@shift-top_default-Dropdown-popup: calc(-1 * ((var(--item_height_menu) - var(--height_dropdownSelector)) / 2 + var(--content_padding-top_sticky) + var(--border-thickness_sticky)));
@shift-left_default-Dropdown-popup: calc(-1 * (var(--border-thickness_sticky) + var(--item_padding-horizontal_l_menu)));

.controls-DropdownList__margin,
.controls-DropdownList_multiSelect__margin {
   margin-top: @shift-top_default-Dropdown-popup;
   margin-left: @shift-left_default-Dropdown-popup;
}

.controls-DropdownList__margin-head {
   margin-top: calc(-1 * ((var(--item_height_menu) - var(--height_dropdownSelector)) / 2 + var(--border-thickness_sticky)));
   margin-left: @shift-left_default-Dropdown-popup;
}

.controls-Dropdown__hasMoreText {
   flex-shrink: 0;
}

.controls-Dropdown__infoboxWrapper {
   width: 100%;
}
