.controls-CheckBox {
   cursor: pointer;
   display: inline-block;
}
.controls-CheckBox__icon {
   width: 16px;
   height: 16px;
   line-height: 19px;
   background: url('./img/CheckBox.png') 0 1px;
   margin-right: 4px;
   display: inline-block;
}
.controls-CheckBox:hover .controls-CheckBox__icon{
   background-position: 0 17px;
}

.controls-CheckBox.controls-ToggleButton__checked .controls-CheckBox__icon{
   background-position: 0 49px;
}

.controls-CheckBox.controls-ToggleButton__null .controls-CheckBox__icon{
   background-position: 0 33px;
}
