//base-colors
@disabled-color:     #ccc;
@error-color:        #ef463a;;
@error-bg-color:     #fadadd;
@warning-color:      #fec63f;
@success-color:      #72be44;
@additional-color:   #999999;
@ghost-white-color:                                                                                                     #f8f8f8;
@white-snow-color:                                                                                                      #fbf9f7;
@white-smoke-color:                                                                                                     #f7f4f0;
@mint-cream-color:                                                                                                      #f4f9fd;
//default-colors
@default-text-color:                     #000;
@default-border-color:                   #eaeaea;
@default-border-color-second:            #ccc;
@default-border-color-hover:             @disabled-color;
@default-border-color-active:            @disabled-color;
@default-border-color-disabled:          transparent;
@default-border-color-bottom-disabled:   #e4e4e4;
@default-border-color-error:             @error-color;
@default-bg-color:                       #ffffff;
@default-bg-color-error:                 @error-bg-color;
@default-bg-color-disabled:              transparent;
@default-placeholder-color:              @disabled-color;
@default-color-disabled:                 @disabled-color;
//icons
@icon-color-attention:                   @warning-color;
@icon-color-done:                        @success-color;
@icon-color-error:                       @error-color;
@icon-color-primary:                     #587ab0;
@icon-color-primary-hover:               #313E78;
@icon-color-hover:                       #ff7033;
@icon-color-disabled:                    @disabled-color;
//textbox
@text-box-color:                         @default-text-color;
@text-box-border-color:                  @default-border-color;
@text-box-border-color-bottom:           @default-border-color-active;
@text-box-border-color-hover:            @default-border-color-hover;
@text-box-border-color-active:           @default-border-color-active;
@text-box-border-color-disabled:         @default-border-color-disabled;
@text-box-border-color-bottom-disabled:  @default-border-color-bottom-disabled;
@text-box-border-color-error:            @default-border-color-error;
@text-box-bg:                            @default-bg-color;
@text-box-bg-error:                      @default-bg-color-error;
@text-box-bg-disabled:                   @default-bg-color-disabled;
//suggest-text-box
@suggest-text-box-icon-cross-color:            #8991A9;
@suggest-text-box-bg-show-picker-color:        @text-box-bg;
@suggest-text-box-bg-show-picker-font-color:   initial;
//field-link
@fieldLink-link-color:                      #8991A9;
@fieldLink-link-color-hover:                #313E78;
//search-form
@search-border-color-active:                #DFDFDF;
@search-form-icon-color:                    @icon-color-primary;
@search-background:                         #F2F2F2;
@search-background-disabled:                @search-background;
@search-form-icon-reset-color:              #8991A9;
@search-form-icon-search-hover-color:       @icon-color-primary-hover;
//combo-box
@combo-box-arrowDown-color:                 @icon-color-primary;
@combo-box-arrowDown-color-focus:           @icon-color-primary-hover;
@combo-box-arrowDown-color-hover:           @icon-color-primary-hover;