.controls-DatePicker {
   display: inline-block;
   vertical-align: top;
   border: none;
   height: 24px;
   box-sizing: border-box;
}
.controls-DatePicker__calendarIcon {
   background: url("img/DatePicker-calendar.png") no-repeat 0 0;
   display: inline-block;
   position: absolute;
   min-height: 22px;
   top: 50%;
   margin-left: 1px;
   margin-top: -7px;
   width: 16px;
   cursor: pointer;
   text-decoration: none;
}
.controls-DatePicker__calendarIcon:hover {
   background-position: -17px 0;
}
.controls-DatePicker__calendar {
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.controls-DatePicker  .controls-FormattedTextBox__field {
   border: 1px solid transparent;
   border-bottom: 1px solid #EAEAEA;
}
.controls-DatePicker  .controls-FormattedTextBox__field:hover,
.controls-DatePicker.ws-has-focus  .controls-FormattedTextBox__field
{
   border: 1px solid #EAEAEA;
   border-bottom: 1px solid #CCCCCC;
}

.controls-TextBox__afterFieldWrapper + .controls-DatePicker__field {
   margin-right: 19px;
}