.controls-DatePicker__field {
   margin-right: 16px;
}
.controls-DatePicker__calendarIconWrapper {
   width: 16px;
   min-height: 15px;
   height: 100%;
   position: relative;
   display: inline-block;
   float: right;
}
.controls-DatePicker__calendarIcon {
   position: absolute;
   display: inline-block;
   background: url("img/DatePicker-calendar.png") -32px 0;
   width: 16px;
   height: 15px;
   cursor: pointer;
   top: 0;
   right: -1px;
   text-decoration: none;
}
.controls-DatePicker__calendarIcon:hover {
   background-position: 0 0;
}
.controls-DatePicker__calendar {
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}