.controls-FormattedTextBox {
  vertical-align: top;
  height: 24px;
}

.controls-FormattedTextBox__field {
  display: table;
  height: 100%;
  margin-right: 2px;
  padding: 0 4px;
  min-height: 22px;
}

.controls-FormattedTextBox__field .controls-FormattedTextBox__field-symbol {
  display: table-cell;
  vertical-align: middle;
  font-style: normal;
  white-space: pre;
}