.controls-MenuButton{
  position: relative;
}

.controls-MenuButton__arrowDown{
  display: inline-block;
  vertical-align: middle;
  background: transparent url("img/MenuButton-arrowDown.png");
  height: 6px;
  width: 8px;
}

.controls-MenuButton__Menu{
  margin-top: 4px;
}

.controls-MenuButton__header{
  left: 0;
  top: -28px;
  display: inline-block;
  border: none;
  width: 100%;
  position: absolute;
}


.controls-MenuButton__headerLeft{
  float: left;
  background: transparent url("img/MenuButton-header.png");
  height: 28px;
  width: 16px;
  margin-left: -1px;
}

.controls-MenuButton__headerCenter{
  height: 28px;
  background: transparent url("img/MenuButton-header.png");
  background-position: 0 -60px;
  left: 8px;
  display: inline-block;
  margin-left: -8px;
}

.controls-MenuButton__headerRight {
  background: transparent url("img/MenuButton-header.png");
  width: 28px;
  height: 28px;
  background-position: 0 -30px;
  margin-left: -10px;
  display: inline-block;
}