.controls-MenuLink__header{
  display: inline-block;
  height: 32px;
  padding: 0 8px;
}

.controls-MenuLink__header .controls-Link{
  margin-top: 7px;
}

.controls-MenuLink__Menu{
  margin-top: -24px;
  margin-left: -9px;
  background: #ffffff;
}

.controls-MenuLink__Menu .controls-Link{
  color: #FF7033;
}

.controls-MenuLink__Menu .controls-Link:hover{
  text-decoration: none;
}

.controls-MenuLink__Menu .controls-MenuLink__header{
  box-sizing: border-box;
  width: 100%;
  border-bottom: 1px solid #ededed;
}

.controls-MenuLink__Menu .controls-MenuItem{
  height: 32px;
}