.controls-MenuIcon{
  position: relative;
}

.controls-MenuIcon__headerLeft{
  position: absolute;
  left: 2px;
  top: 0;
  background: transparent url("img/MenuButton-header.png");
  height: 28px;
  width: 12px;
}

.controls-MenuIcon__headerRight {
  position: absolute;
  left: 6px;
  top: 0;
  background: transparent url("img/MenuButton-header.png");
  width: 28px;
  height: 28px;
  background-position: 0 -30px;
  display: inline-block;
}

.controls-MenuIcon__header-hidden{
  display: none;
}

.controls-MenuIcon__Menu{
  margin-top: 3px;
  margin-left: 2px;
}