.controls-MonthPicker {
  text-align: center;
  display: inline-block;
}
.controls-MonthPicker__field {
//  vertical-align: middle;
  display: inline-block;
  color: #0055BB;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  font-family: 'Tahoma Полужирный', 'Tahoma';
  height: 16px;
  line-height: 16px;
}
.controls-MonthPicker__field:hover {
  text-decoration: underline;
  color: #FF7033;
}
.controls-MonthPicker__arrow {
//  vertical-align: middle;
  display: inline-block;
  background: url("img/MonthPicker-arrows.png") transparent;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.controls-MonthPicker__arrowLeft {
  background-position: 32px 0px;
}
.controls-MonthPicker__arrowLeft:hover {
  background-position: 0px 0px;
}
.controls-MonthPicker__arrowRight {
  background-position: -32px -32px;
}
.controls-MonthPicker__arrowRight:hover {
  background-position: 0px -32px;
}
.controls-MonthPicker__dropdownWrapper {
  box-sizing: border-box;
  background: #FFFFFF;
}
.controls-MonthPicker__dropdownWrapperMonth {
  margin-top: -16px;
}
.controls-MonthPicker__dropdownTitleBlock {
  margin-bottom: 8px;
  text-align: center;
}
.controls-MonthPicker__dropdownElement {
  padding: 2px;
  height: 22px;
  line-height: 22px;
  cursor: pointer;
  color: #333;
}
.controls-MonthPicker__dropdownElement:hover {
  background: #E5ECF4;
}
.controls-MonthPicker__dropdownElementActive {
  background: #F2F2F2;
}
.controls-MonthPicker__dropdownElementMonth {
  padding-left: 30px;
}
.controls-MonthPicker__dropdownElementYear {
  text-align: center;
}
.controls-MonthPicker__dropdownArrowLeft{
  float: left;
}
.controls-MonthPicker__dropdownArrowRight{
  float:right;
}