.controls-MonthPicker {
  display: inline-block;
  margin: 0;
  padding: 0;
  height: 16px;
}
.controls-MonthPicker__field-box {
  text-align: center;
  margin: 0 16px;
  height: 16px;
  line-height: 16px;
}
.controls-MonthPicker__field-box-month {
  width: 120px;
}
.controls-MonthPicker__field-box-year {
  width: 50px;
}
.controls-MonthPicker__field {
  color: #0055BB;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  font-family: 'Tahoma Полужирный', 'Tahoma';
}
.controls-MonthPicker__field:hover {
  text-decoration: underline;
  color: #FF7033;
}
.controls-MonthPicker__arrow-wrapper {
  width: 16px;
  height: 16px;
}
.controls-MonthPicker__arrow-left-wrapper {
  float: left;
}
.controls-MonthPicker__arrow-right-wrapper {
  float: right;
  position: relative;
  top: -16px;
}
.controls-MonthPicker__arrow-left-wrapper:before,
.controls-MonthPicker__arrow-right-wrapper:after {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.controls-MonthPicker__arrow {
  border: 6px solid transparent;
  width: 0;
  height: 0;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}
.controls-MonthPicker__arrow-left {
  border-right-color: #587AB0;
}
.controls-MonthPicker__arrow-left:hover {
  border-right-color: #FF7033;
}
.controls-MonthPicker__arrow-right {
  border-left-color: #587AB0;
}
.controls-MonthPicker__arrow-right:hover {
  border-left-color: #FF7033;
}
.controls-MonthPicker__dropdown-wrapper {
  position: absolute;
  box-sizing: border-box;
  background: #ffffff;
}
.controls-MonthPicker__dropdown-titleBlock {
  margin-bottom: 4px;
}
.controls-MonthPicker__dropdown-title {
  font-size: 14px;
}
.controls-MonthPicker__dropdown-wrapper-month {
  width: 152px;
  top: -16px;
}
.controls-MonthPicker__dropdown-wrapper-year {
  width: 82px;
}
.controls-MonthPicker__dropdown-element {
  padding: 2px;
  height: 22px;
  line-height: 22px;
  cursor: pointer;
  color: #333;
}
.controls-MonthPicker__dropdown-element-month {
  padding-left: 30px;
}
.controls-MonthPicker__dropdown-element-year {
  text-align: center;
}
.controls-MonthPicker__dropdown-element:hover {
  background: #E5ECF4;
}
.controls-MonthPicker__dropdown-element-active {
  background: #F2F2F2;
}