.controls-RadioButton {
  cursor: pointer;
  display: inline-block;
  color: #999999;
}

.controls-ToggleButton__checked,
.controls-RadioButton:hover{
  color: #000000;
}

.controls-RadioButton.ws-disabled {
  cursor: default;
  color: #cccccc;
}

.controls-RadioButton__icon {
  width: 24px;
  height: 17px;
  background: url('./img/RadioButton-sprite.png') 0 -4px;
  display: inline-block;
}

.controls-RadioButton:hover .controls-RadioButton__icon {
  background-position: 0 -100px;
}

.controls-RadioButton.controls-ToggleButton__checked .controls-RadioButton__icon {
  background-position: 0 -52px;
}

.controls-RadioButton.ws-disabled .controls-RadioButton__icon {
  background-position: 0 -4px;
}