//default-sizes
@default-height:               24px;
@default-height-big:           48px;
@default-border-width:         1px;
@default-text-size:            14px;
@small-text-size:              12px;
@large-text-size:              15px;
@huge-text-size:               17px;
@default-icon-size:            16px;
@default-icon-size-medium:     24px;
@default-icon-size-large:      32px;
@default-line-height:          18px;
@default-base-line-height:     22px;//@default-height - 2 * @default-border-width
@default-padding:              4px;
@default-padding-small:        2px;
@default-input-padding:        @default-padding;
//textbox
@height_TextBox_m:                24px;
@height_TextBox_l:                24px;
@font-size_TextBox_m:             14px;
@font-size_TextBox_l:             18px;
@line-height_TextBox:             22px;
@padding_TextBox-container:       0 4px;
@padding-bottom_TextBox-container_l:     0;//на данный момент большое и малое поле ввода не различаются в теме online //todo @default-padding-small
@padding_TextBox-container_left:  0 0 0 4px;
@border-radius_TextBox:           0px;
@border-width_TextBox:            1px;
@font-size_TextBox-InformationIcon: 16px;
//textarea
@text-area-line-height-l:         @default-line-height;
//number-text-box
@number-text-box-icon-size:       @default-icon-size;
//combo-box
@combo-box-icon-size:             @default-icon-size;
@combo-box-arrow-padding:         0 0 0 @default-padding;
@combo-box-shadow-display:        block;
//suggest-text-box
@suggest-text-box-icon-size:                @default-icon-size;
@suggest-text-box-icon-cross-padding:       0 0 0 @default-padding;
//suggest-text-box
@fieldLink-link-cross-size:       @default-icon-size;
//search-form
@search-border-radius:            10px;
@search-field-padding:            0 0 0 8px;
@search-button-wrapper-padding:   0 1px 0 0;
@search-loop-size:                @default-icon-size;
@search-form-icon-padding:        0 2px;
//fieldLink
@fieldLink-icon-size:             @default-icon-size;
@fieldLink-picker-icon-size:      @default-icon-size;
@fieldLink-showAll-shadow-width:  20px;
@fieldLink-linkItem-line-height:  @default-line-height;
@max-height_FieldLink-beforeFieldWrapper: @default-line-height;
//time-header:
@time-header-icon-size:           @default-icon-size;
//treeview
@tree-view-folder-text-size:      16px;
//button
@button-large-height:             @default-height-big;
@button-large-border-radius:      24px;
@button-large-font-size:          18px;@search-border-radius:                                                                                                  10px;
//area-blocks
@spacing-between-blocks:                                                                                                6px;
//missspell
@miss-spell-padding:              8px;
//PrintDialog
@printDialog-button-margin-top:   8px;
@printDialog-activate-right:      40px;
//operationsMark
@controls-OperationsMark-separator-line-height: 30px;
//engine-browser
@browser-search-margin:           10px 0 10px 12px;
@browser-top-template-padding:    10px 8px;

//header
@header-h2-text-size:             20px;
@header-h3-text-size:             18px;

@back-arrow-width-20:             10px;
@back-arrow-height-20:            14px;

@back-arrow-width-18:             9px;
@back-arrow-height-18:            12px;

@back-arrow-width-15:             9px;
@back-arrow-height-15:            11px;