.controls-TabButton{
  height: 29px;
  display: inline-block;
}
.controls-TabButton__side{
  width: 19px;
  height: 29px;
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;
}
.controls-TabButton__left{
  background: url("img/tabButtonLeft.png") no-repeat;
}

.controls-TabButton__right{
  background: url("img/tabButtonRight.png") no-repeat;
  margin-left: -4px;
}

.controls-TabButton__caption{
  height: auto;
  vertical-align: bottom;
  padding-top: 3px;
  display: inline-block;
}

.controls-TabButton__inner{
  background: url("img/tabButtonInner.png");
  height: 29px;
  display: inline-block;
  font-family: Cambria, sans-serif;
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
}