.controls-DataGrid {
   .controls-ListView__item__selected {
      .controls-DataGrid__td:first-child {
         background-image: url('img/rowSelect.png');
         background-position: left top;
         background-repeat: repeat-y;
      }
   }
}