<span on:click="clickHandler()" attr:class="controls-HeaderCounter
                                            controls-HeaderCounter_location-{{_options.counterBefore ? 'left': 'right'}}
                                            controls-HeaderCounter_size-{{_options.size}}
                                            controls-HeaderCounter_style-{{_options.style}}">
    {{_options.value}}</span>