/*group*/
/*ширина кнопки закрытия окна 36px + 2px на небольшой отступ между кнопкой сохранить (в ie8 нет скруглений и кнопки склеиваются)*/
/*ширина кнопки закрытия окна 36px + 90px ширина кнопки сохранить + 2px на небольшой отступ между ними */
.controls-MergeDialogTemplate .controls-MergeDialogTemplate__applyBlock {
  position: absolute;
  bottom: 15px;
  right: 10px;
}
.controls-MergeDialogTemplate .controls-MergeDialogTemplate__applyBlock .controls-MergeDialogTemplate__mergeButton {
  margin-left: 5px;
}
.controls-MergeDialogTemplate .controls-MergeDialogTemplate__applyBlock .controls-MergeDialogTemplate__warning {
  color: #ff302b;
}
.controls-MergeDialogTemplate .controls-MergeDialogTemplate__hint {
  color: #999;
  font-size: 13px;
  margin: 0 15px;
  display: inline-block;
}
.controls-MergeDialogTemplate .controls-MergeDialogTemplate__treeDataGridView {
  padding-bottom: 50px;
}
.controls-MergeDialogTemplate .controls-MergeDialogTemplate__treeDataGridView .controls-DataGridView__th {
  font-size: 14px;
}
.controls-MergeDialogTemplate .controls-MergeDialogTemplate__treeDataGridView .controls-DataGridView__td,
.controls-MergeDialogTemplate .controls-MergeDialogTemplate__treeDataGridView .controls-DataGridView__th {
  border-bottom: 1px solid #E4E4E4 !important;
}
.controls-MergeDialogTemplate .controls-MergeDialogTemplate__treeDataGridView .controls-DataGridView__td .controls-TreeView__expand,
.controls-MergeDialogTemplate .controls-MergeDialogTemplate__treeDataGridView .controls-DataGridView__th .controls-TreeView__expand {
  display: none;
}
.controls-MergeDialogTemplate .controls-MergeDialogTemplate__treeDataGridView .controls-DataGridView__td .controls-DataGridView__columnValue,
.controls-MergeDialogTemplate .controls-MergeDialogTemplate__treeDataGridView .controls-DataGridView__th .controls-DataGridView__columnValue {
  margin-left: 0;
}
.controls-MergeDialogTemplate .controls-MergeDialogTemplate__treeDataGridView .controls-BreadCrumbs {
  margin-left: 5px;
  line-height: 18px;
}
.controls-MergeDialogTemplate .controls-MergeDialogTemplate__treeDataGridView .controls-BreadCrumbs .controls-BreadCrumbs__itemsContainer .controls-BreadCrumbs__crumb .controls-BreadCrumbs__title {
  font-size: 14px;
}
.controls-MergeDialogTemplate .controls-MergeDialogTemplate__treeDataGridView .controls-BreadCrumbs .controls-BreadCrumbs__itemsContainer .controls-BreadCrumbs__crumb:first-child .controls-BreadCrumbs__title {
  font-size: 15px;
}
.controls-MergeDialogTemplate .controls-MergeDialogTemplate__treeDataGridView .controls-MergeDialogTemplate__notMergeAvailable {
  color: #CCC;
}
.controls-MergeDialogTemplate .controls-MergeDialogTemplate__treeDataGridView .controls-MergeDialogTemplate__radioButton {
  width: 12px;
  height: 12px;
  border-radius: 6px;
}
.controls-MergeDialogTemplate .controls-MergeDialogTemplate__treeDataGridView .controls-ListView__item__selected .controls-MergeDialogTemplate__radioButton {
  border-color: blue;
}
.controls-MergeDialogTemplate .controls-MergeDialogTemplate__treeDataGridView .controls-ListView__item__selected .controls-MergeDialogTemplate__radioButton:before {
  content: '';
  width: 6px;
  height: 6px;
  background: blue;
  margin: 2px;
  display: block;
}
