.controls-MergeDialogTemplate {
  width: 100%;

  .controls-MergeDialogTemplate__applyBlock {
    .flexbox();
    .justify-content(flex-end);
    .align-items(center);
    padding: @controls-MergeDialogTemplate-applyBlock-padding;

    .controls-MergeDialogTemplate__mergeButton {
      margin-left: @controls-MergeDialogTemplate-mergeButton-margin-left;
    }
    .controls-MergeDialogTemplate__warning {
      color: @error-color;
    }
  }

  .controls-MergeDialogTemplate__scroll {
    height: 100%;
  }

  .controls-MergeDialogTemplate__hint {
    color: @controls-MergeDialogTemplate-hint-font-color;
    font-size: @controls-MergeDialogTemplate-hint-font-size;
    margin: @controls-MergeDialogTemplate-hint-margin;
    display: inline-block;
  }
  .controls-MergeDialogTemplate__treeDataGridView {
    padding-bottom: @controls-MergeDialogTemplate-treeDataGridView-padding-bottom;

    .controls-DataGridView__firstContentCell {
      width: @controls-MergeDialogTemplate-treeDataGridView-first-cell-width;
    }

    .controls-ListView__item-type-node {
      .controls-DataGridView__td, .controls-BreadCrumbs__crumb {
        cursor: default;
      }
    }
    .controls-MergeDialogTemplate__notMergeAvailable {
      color: @gray-ccc-color;
    }
    .controls-MergeDialogTemplate__cellRadioButton {
      display: block;
    }

    .controls-ListView__item__selected {
      .controls-MergeDialogTemplate__radioButton {
        border-color: @primary-color;

        &:before {
          content: '';
          display: block;
        }
      }
    }
  }
}

.controls-MergeDialogTemplate-wrapper {
  max-height: @controls-MergeDialogTemplate-height;
}

.ws-is-old-webkit {
  .controls-MergeDialogTemplate__scroll, .controls-MergeDialogTemplate__scroll .controls-ScrollContainer__content {
     .flex-basis(0);
     .flex-grow(1);
  }
}

.ws-is-ie {
  .controls-MergeDialogTemplate {
     max-height: @controls-MergeDialogTemplate-height;
  }
}
