@width_Switch:                                      round(100px * @multiplier);
@height_Switch:                                     round(50px * @multiplier);
@border-color_Switch:                                   rgba(109,141,176, .4);
@border-radius_Switch:                              round(28px * @multiplier);
@thickness_Switch-track:                                round(4px * @multiplier);
@length_Switch-track:                                 round(76px * @multiplier);
@size_Switch-marker:                                round(26px * @multiplier);
@background-color_Switch-track_enabled:                  #839EBC;
@background-color_Switch-track_disabled:                 #4B688B;
@spacing_Switch-between-toggle-text:                                round(16px * @multiplier);
@color_Switch-text_enabled_unselected:                  #8991A9;
@color_Switch-text_enabled_selected:	 @default-text-color;
@color_Switch-text_disabled_selected:	 @default-text-color;
@color_Switch-text_disabled_unselected:	@default-disabled-color;
@color_ToggleCircle_outerCircle_enabled_hovered:	 @color_active;