.controls-ListView__itemV {
   border-left: 3px solid transparent;
   cursor: pointer;
   position: relative;
}

.controls-ListView__item__marked {
   border-left: 3px solid @color_ListView-marker;
}

.controls-ListView__checkbox {
   float: left;
   margin: @padding_List-checkbox;
}

.controls-ListView__itemContent {
   margin: 0 0 0 @spacing-List-between-checkbox-content + @width_CheckBox;
   padding: @spacing_List-item_default 0;
   z-index: 1;
}

.controls-ListView__item_active {
  background-color: @default-bg-color-hovered-item;
}

.controls-ListView__item_editing {
  background-color: @controls-editInPlace-editing-item-bg;
  >.controls-itemActionsV {
     display: inline-block;
  }
}

.controls-ListView__item_dragging {
   opacity: 0.6;
}

//Пока страница не ожила, мы не знаем тач устройство или нет, так что на мобильных устройствах нужно скрыть операции над записью
.ws-is-no-touch:not(.ws-is-mobile-platform) {
  .controls-ListView__item_showActions {
    &:hover {
      >.controls-itemActionsV {
         display: inline-block;
      }
    }
  }
  .controls-ListView__itemV {
    &:hover {
      background-color: @default-bg-color-hovered-item;
    }
  }
  .controls-ListView__item_editing {
    &:hover {
      background-color: @controls-editInPlace-editing-item-bg;
    }
  }
}
.controls-ListView__groupContent {
   display: flex;
   align-items: baseline;
}
.controls-ListView__groupSeparator-left, .controls-ListView__groupSeparator-right {
   height: @height_ListView-group / 2;
   margin-bottom: @height_ListView-group / 2;
   border-bottom: @height_ListView-group-separator solid @color_ListView-group-separator;
   width: 100%;
   font-size: @font-size_ListView-group-expander;
}
.controls-ListView__groupContent-text {
   display: inline-block;
   padding: 0 @spacing_ListView-group-between-text-separator;
   color: @color_ListView-group-text;
   font-size: @font-size_ListView-group-text;
   white-space: nowrap;
   text-align: center;
   flex-shrink: 0;
   user-select: none;
}
.controls-ListView__groupExpander {
   cursor: pointer;
}
.controls-ListView__groupExpander:before {
   width: @width_ListView-group-expander;
   font-size: @font-size_ListView-group-expander;
   padding: 0 @spacing_ListView-group-between-text-expander 0 0;
   content: '\e000';
}
.controls-ListView__groupExpander:hover {
   color: @color_ListView-group-text_hovered;
}
.controls-ListView__groupExpander_collapsed:before {
   content: '\e013';
}
.controls-ListView__groupHidden {
   display: none;
}
.controls-ListView__groupContent-rightTemplate {
   padding-left: @spacing_ListView-group-between-rightTemplate-separator;
   flex-shrink: 0;
}