<div class="controls-ListView">
   <ws:if data="{{_listModel}}">
      <ws:partial
              template="tmpl!Controls/List/resources/For"
              listModel="{{_listModel}}"
              itemActionsTemplate="{{_options.itemActionsTemplate}}"
              swipeTemplate="{{_options.swipeTemplate}}"
              multiSelectTpl="{{_options.multiSelectTpl}}"
              itemTemplate="{{_itemTemplate}}">
      </ws:partial>
       <ws:if data="{{_options.editingItemData && _options.isAdd}}">
           <ws:partial
                   on:click="_onItemClick(_options.editingItemProjection)"
                   template="{{_itemTemplate}}"
                   itemActionsTemplate="{{_options.itemActionsTemplate}}"
                   swipeTemplate="{{_options.swipeTemplate}}"
                   multiSelectTpl="{{_options.multiSelectTpl}}"
                   itemData="{{_options.editingItemData}}"/>
       </ws:if>
   </ws:if>
</div>