.SubmitPopup {
    width: @controls-SubmitPopup-width;
}

.SubmitPopup__body {
    margin: @controls-SubmitPopup-body-margin;
}

.SubmitPopup__message{
    font-size: @controls-SubmitPopup-message-font-size;
    margin-bottom: @controls-SubmitPopup-message-margin-bottom;
}

.SubmitPopup__message, .SubmitPopup__details{
    text-align: center;
}

.SubmitPopup__footer {
  text-align: center;
  border-top: @controls-SubmitPopup-footer-border-top;
  background: @controls-SubmitPopup-footer-bg;
}

.SubmitPopup__buttonContainer {
  padding: @controls-SubmitPopup-button-container-padding;
}

.SubmitPopup__button {
  width: @controls-SubmitPopup-button-width;
  height: @controls-SubmitPopup-button-height;
}