<div class="controls-searchResult">
    <ws:Controls.List dataSource="{{_dataSource}}" filter="{{_filter}}" navigation="{{_options.navigation}}" displayProperty="title" idProperty="id"/>
    <ws:Controls.Event.Emitter event="searchValueChanged" on:searchValueChanged="_searchValueChanged()" attr:tabindex="{{-1}}"/>
</div>