.controls-Header__caption_theme_@{themeName} {
   font-weight: @font-weight_Heading-caption;
   display: inline-block;
}
.controls-Header__caption_size-xs_theme_@{themeName} {
   font-size: @font-size_xs;
}
.controls-Header__caption_size-s_theme_@{themeName} {
   font-size: @font-size_s;
}
.controls-Header__caption_size-m_theme_@{themeName} {
   font-size: @font-size_m;
}
.controls-Header__caption_size-l_theme_@{themeName} {
   font-size: @font-size_l;
}
.controls-Header__caption_size-xl_theme_@{themeName} {
   font-size: @font-size_xl;
}
.controls-Header__caption_size-2xl_theme_@{themeName} {
   font-size: @font-size_2xl;
}
.controls-Header__caption_size-3xl_theme_@{themeName} {
   font-size: @font-size_3xl;
}
.controls-Header__caption_size-4xl_theme_@{themeName} {
   font-size: @font-size_4xl;
}
.controls-Header__caption_size-5xl_theme_@{themeName} {
   font-size: @font-size_5xl;
}
.controls-Header__caption_style-secondary_theme_@{themeName}, .controls-Header__caption_style-secondary_hovered_theme_@{themeName} {
   color: @secondary_text-color;
}

.controls-Header__caption_style-primary_theme_@{themeName}, .controls-Header__caption_style-primary_hovered_theme_@{themeName} {
   color: @primary_text-color;
}

.controls-Header__caption_style-label_theme_@{themeName}, .controls-Header__caption_style-label_hovered_theme_@{themeName} {
   color: @label_text-color;
}
.controls-Header__caption_style-danger_theme_@{themeName}, .controls-Header__caption_style-danger_hovered_theme_@{themeName} {
   color: @danger-color;
}
.controls-Header__caption_style-success_theme_@{themeName}, .controls-Header__caption_style-success_hovered_theme_@{themeName} {
   color: @success-color;
}
.controls-Header__caption_style-default_theme_@{themeName}, .controls-Header__caption_style-default_hovered_theme_@{themeName} {
   color: @text-color;
}

.controls-Header__caption_style-primary_hovered_theme_@{themeName}:active {
   color: @primary_hover_text-color;
   cursor: pointer;
}

.controls-Header__caption_style-secondary_hovered_theme_@{themeName}:active {
   color: @secondary_hover_text-color;
   cursor: pointer;
}

.controls-Header__caption_style-label_hovered_theme_@{themeName}:active {
   color: @link_hover_text-color;
   cursor: pointer;
}

.ws-is-no-touch {
   .controls-Header__caption_style-primary_hovered_theme_@{themeName}:hover {
      color: @primary_hover_text-color;
      cursor: pointer;
   }

   .controls-Header__caption_style-secondary_hovered_theme_@{themeName}:hover {
      color: @secondary_hover_text-color;
      cursor: pointer;
   }

   .controls-Header__caption_style-label_hovered_theme_@{themeName}:hover {
      color: @link_hover_text-color;
      cursor: pointer;
   }
}

//Классы для прикладников, чтоб когда они собирали из компонентов заголовок который им нужен, то могли повесить любой ховер.
//Например, заголовок сложный и состоит из заголовка, загловка-разделителя и счетчика. Ховер в таком случае может висеть раздельный, на загловке и заглоовке разделители,
//а на счетчике ховер по умолчанию, в таком случае прикладник повесит на контейнер с этим сложным компонентом класс: controls-Header_Separator__clickable и все заработает по стандарту.

.controls-Header_Counter__clickable:active {
   .controls-Header__caption_style-primary_hovered_theme_@{themeName} {
      color: @primary_hover_text-color;
      cursor: pointer;
   }

   .controls-Header__caption_style-secondary_hovered_theme_@{themeName} {
      color: @secondary_hover_text-color;
      cursor: pointer;
   }

   .controls-Header__caption_style-label_hovered_theme_@{themeName} {
      color: @link_hover_text-color;
      cursor: pointer;
   }

   .controls-HeaderCounter_style-primary_hovered {
      color: @primary_hover_text-color;
   }

   .controls-HeaderCounter_style-secondary_hovered {
      color: @secondary_hover_text-color;
   }
}

.controls-Header_all__clickable:active {
   .controls-Header__caption_style-primary_hovered_theme_@{themeName} {
      color: @primary_hover_text-color;
      cursor: pointer;
   }

   .controls-Header__caption_style-secondary_hovered_theme_@{themeName} {
      color: @secondary_hover_text-color;
      cursor: pointer;
   }

   .controls-Header__caption_style-label_hovered_theme_@{themeName} {
      color: @link_hover_text-color;
      cursor: pointer;
   }

   .controls-HeaderCounter_style-primary_hovered {
      color: @primary_hover_text-color;
   }

   .controls-HeaderCounter_style-secondary_hovered {
      color: @secondary_hover_text-color;
   }

   .controls-HeaderSeparator__icon_style-primary {
      fill: @color_HeaderSeparator__primary_hovered;
   }

   .controls-HeaderSeparator__icon_style-secondary {
      fill: @color_HeaderSeparator__secondary_hovered;
   }

   .controls-Separator__icon_style-secondary {
      color: @color-Separator__icon_style-secondary_hovered;
   }

   .controls-Separator__icon_style-primary {
      color: @color-Separator__icon_style-primary_hovered;
   }

   .controls-Separator__icon_style-Additional {
      color: @color-Separator__icon_style-additional_hovered;
   }
}

.controls-Header_Separator__clickable:active {
   .controls-Header__caption_style-primary_hovered_theme_@{themeName} {
      color: @primary_hover_text-color;
      cursor: pointer;
   }

   .controls-Header__caption_style-secondary_hovered_theme_@{themeName} {
      color: @secondary_hover_text-color;
      cursor: pointer;
   }

   .controls-Header__caption_style-label_hovered_theme_@{themeName} {
      color: @link_hover_text-color;
      cursor: pointer;
   }

   .controls-HeaderSeparator__icon_style-primary {
      fill: @color_HeaderSeparator__primary_hovered;
   }

   .controls-HeaderSeparator__icon_style-secondary {
      fill: @color_HeaderSeparator__secondary_hovered;
   }
}

.ws-is-no-touch {
   .controls-Header_Counter__clickable:hover {
      .controls-Header__caption_style-primary_hovered_theme_@{themeName} {
         color: @primary_hover_text-color;
         cursor: pointer;
      }

      .controls-Header__caption_style-secondary_hovered_theme_@{themeName} {
         color: @secondary_hover_text-color;
         cursor: pointer;
      }

      .controls-Header__caption_style-label_hovered_theme_@{themeName} {
         color: @link_hover_text-color;
         cursor: pointer;
      }

      .controls-HeaderCounter_style-primary_hovered {
         color: @primary_hover_text-color;
      }

      .controls-HeaderCounter_style-secondary_hovered {
         color: @secondary_hover_text-color;
      }
   }

   .controls-Header_all__clickable:hover {
      .controls-Header__caption_style-primary_hovered_theme_@{themeName} {
         color: @primary_hover_text-color;
         cursor: pointer;
      }

      .controls-Header__caption_style-secondary_hovered_theme_@{themeName} {
         color: @secondary_hover_text-color;
         cursor: pointer;
      }

      .controls-Header__caption_style-label_hovered_theme_@{themeName} {
         color: @link_hover_text-color;
         cursor: pointer;
      }

      .controls-HeaderCounter_style-primary_hovered {
         color: @primary_hover_text-color;
      }

      .controls-HeaderCounter_style-secondary_hovered {
         color: @secondary_hover_text-color;
      }

      .controls-HeaderSeparator__icon_style-primary {
         fill: @color_HeaderSeparator__primary_hovered;
      }

      .controls-HeaderSeparator__icon_style-secondary {
         fill: @color_HeaderSeparator__secondary_hovered;
      }

      .controls-Separator__icon_style-secondary {
         color: @color-Separator__icon_style-secondary_hovered;
      }

      .controls-Separator__icon_style-primary {
         color: @color-Separator__icon_style-primary_hovered;
      }

      .controls-Separator__icon_style-Additional {
         color: @color-Separator__icon_style-additional_hovered;
      }
   }
   .controls-Header_Separator__clickable:hover {
      .controls-Header__caption_style-primary_hovered_theme_@{themeName} {
         color: @primary_hover_text-color;
         cursor: pointer;
      }

      .controls-Header__caption_style-secondary_hovered_theme_@{themeName} {
         color: @secondary_hover_text-color;
         cursor: pointer;
      }

      .controls-Header__caption_style-label_hovered_theme_@{themeName} {
         color: @link_hover_text-color;
         cursor: pointer;
      }

      .controls-HeaderSeparator__icon_style-primary {
         fill: @color_HeaderSeparator__primary_hovered;
      }

      .controls-HeaderSeparator__icon_style-secondary {
         fill: @color_HeaderSeparator__secondary_hovered;
      }
   }
}
