<tbody class="controls-MonthView__tableBody">
   <ws:for data="index, week in weeksArray">
      <tr class="controls-MonthView__tableRow">
         <ws:for data="indexOfDay, value in week">
            <ws:if data="{{value.isCalendar}}">
               <td data-selected-range-id="{{value.day}}"  data-date="{{value.date.toSQL()}}" class="controls-MonthView__tableElement {{_prepareClass(...)}}">
                  <ws:partial template="{{dayTmpl}}" scope="{{...}}"/>
               </td>
            </ws:if>
            <ws:else>
               <td class="controls-MonthView__tableElement {{_prepareClass(...)}}"></td>
            </ws:else>
         </ws:for>
      </tr>
   </ws:for>
</tbody>