.idea
*.log
/contents.json
/contents.js
/Examples/**/*.css
/pages/**/*.css
/Controls-demo/**/*.css
/CONTROLS/**/*.css
/WS.Data
/sbis3-ws
/View
/Vdom
/Core
/components/Core
/ws-data
/cdn
/node_modules
/typedef
/themes/**/*.css
/artifacts/*
/tests/**/.idea
/tests/**/result.db
/tests/**/config.ini
/tests/**/js_errors
/tests/**/preprocessor_logs
/tests/**/screenshots
/tests/**/__pycache__
/File/**/*.js
