.idea
*.log
/contents.json
/contents.js
/components/contents.js
/components/contents.json
/components/**/*.css
/Examples/**/*.css
/pages/**/*.css
/Controls-demo/**/*.css
/CONTROLS/**/*.css
/components/WS.Data/*
/WS.Data
/sbis3-ws
/View
/Core
/components/Core
/ws-data
/cdn
/node_modules
/typedef
/SBIS3.CONTROLS/*
/themes/**/*.css
/artifacts/*
/tests/**/.idea
/tests/**/*result.db
/tests/**/config.ini
/tests/**/js_errors
/tests/**/preprocessor_logs
/tests/**/screenshots
/tests/css/online/node_modules
/tests/css/online/gemini-report
/tests/css/online/gemini-coverage
/tests/css/presto/node_modules
/tests/css/presto/gemini-report
/tests/css/presto/gemini-coverage
/tests/reg/capture_reports
/__pycache__
