.controls-FilterText {
   display: inline-block;
}

.controls-FilterText__wrapper {
   display: inline-flex;
   line-height: var(--item_height_filterPanel);
}

.controls-FilterPanelText-caption {
   font-size: var(--item_font-size_filterPanel);
}

.controls-FilterText__reset {
   display: flex;
   align-self: center;
   cursor: pointer;
}

.controls-FilterText__reset {
   .icon-size(var(--basic_item_reset-button_icon-size_filterPanel));
   color: var(--basic_item_reset-button_icon-color_filterPanel);
}

.ws-is-hover {
   .controls-FilterText__reset:hover {
      color: var(--basic_item_reset-button_hover_icon-color_filterPanel);
   }
}

.controls-FilterText__reset:active {
   color: var(--basic_item_reset-button_active_icon-color_filterPanel);
}
