@import "Controls-default-theme/_theme";
.ControlsDemo-ExtendedMoveDialog__content {
  display: flex;
  flex-direction: column;
}

.ControlsDemo-ExtendedMoveDialog__search {
  width: @search_width_MoveDialog;
  margin-bottom: @header_padding-vertical_MoveDialog;
  margin-top: @header_padding-vertical_MoveDialog;
  margin-left: @search_offset_MoveDialog;
  flex-shrink: 0;
}

.ControlsDemo-ExtendedMoveDialog__scroll {
  height: 100%;
}
.ControlsDemo-ExtendedMoveDialog__root {
  margin-left: @root_offset_MoveDialog;
  margin-top: @root_padding-vertical_MoveDialog;
  margin-bottom: @root_padding-vertical_MoveDialog;
}

.ControlsDemo-ExtendedMoveDialog__createFolder {
  width: 100%;
}
