.ws-fre-dropdownlist-picker {
   float: none;
   margin-top: 2px;

   .ws-fre-toolbar-item {
      float: none;
   }
   .controls-DropdownList__item__selected {
      color: #ff7033!important;
   }
   .controls-DropdownList__header {
      height: 24px;
   }
   .controls-DropdownList__header .controls-DropdownList__text {
      margin-top: -2px;
      margin-left: -2px;
   }
   .controls-DropdownList__body {
      padding: 0px;
      margin-top: -4px;
   }
}