.controlsDemo-StickyHeader-Mode__headers {
  display: grid;
}

.controlsDemo-StickyHeader-Mode__headers-wrapper {
  display: contents;
}

.controlsDemo-StickyHeader-Mode__content {
  grid-area: ~"3 / 1 / 3 / 3";
}
