.controls-MissSpell {
	padding: 8px;
	height: auto;
	line-height: 24px;
	
	.controls-Link {
		text-align: left;
		max-width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		vertical-align: top;
	}
}