.controls-Switch {
   display: inline-block;
}

.controls-Switch_theme-@{themeName} {
   font-size: @font-size_Switch;
}

.controls-Switch__toggle__wrapper {
   .inline-flexbox();
   .align-items(center);
   .justify-content(center);
   .baseline-fix();
   border-style: solid;
   box-sizing: border-box;
   user-select: none;
}

.controls-Switch__toggle__wrapper_theme-@{themeName} {
   width: @width_Switch;
   height: @height_Switch;
   border-width: @width_Switch__border;
   border-color: @color_Switch__border;
   border-radius: @size_Switch__border-radius;
}

.controls-Switch_enabled {
   cursor: pointer;
   position: relative;
   z-index: 1;
   //We should isolate z-index context of switcher, because there is overlay inside
}

.controls-Switch_checked {
   .flex-direction(row-reverse);
}

.controls-Switch__line {
   display: inline-block;
   position: relative;
}

.controls-Switch__line_theme-@{themeName} {
   height: @thickness_Switch-track;
   width: @length_Switch-track - @size_Switch__ToggleCircle + @spacing-between-track-and-toggleCircle;
}

.controls-Switch__line_right_toggle_theme-@{themeName} {
   left: @spacing-between-track-and-toggleCircle;
}

.controls-Switch__line_left_toggle_theme-@{themeName} {
   right: @spacing-between-track-and-toggleCircle;
}

.controls-Switch__line_enabled_theme-@{themeName} {
   background-color: @background-color_Switch-track__enabled;
}

.controls-Switch__line_disabled_theme-@{themeName} {
   background-color: @background-color_Switch-track__disabled;
}

.controls-Switch__text_rightCaption_theme-@{themeName} {
   margin-left: @spacing_Switch-between-toggle-text;
}

.controls-Switch__text_leftCaption_theme-@{themeName} {
   margin-right: @spacing_Switch-between-toggle-text;
}

.controls-Switch__text_enabled_unselected_theme-@{themeName} {
   color: @color_Switch-text__enabled_unselected;
}

.controls-Switch__text_enabled_selected_theme-@{themeName} {
   color: @color_Switch-text__enabled_selected;
}

.controls-Switch__text_disabled_selected_theme-@{themeName} {
   color: @color_Switch-text__disabled_selected;
}

.controls-Switch__text_enabled_selected_theme-@{themeName}, .controls-Switch__text_enabled_unselected_theme-@{themeName} {
   cursor: pointer;
}

.controls-Switch__text_disabled_unselected_theme-@{themeName} {
   color: @color_Switch-text__disabled_unselected;
}

.controls-Switch:active {
   .controls-SwitchCircle__borderCircle_enabled_theme-@{themeName} {
      stroke: @color_ToggleCircle_outerCircle__enabled_hovered;
   }
}

.controls-Switch__toggle_leftCaption {
   -webkit-transform: rotate(-180deg);
   -moz-transform: rotate(-180deg);
   -ms-transform: rotate(-180deg);
   -o-transform: rotate(-180deg);
   transform: rotate(-180deg);
}

.ws-is-no-touch {
   .controls-Switch__text_enabled_unselected_theme-@{themeName}:hover {
      text-decoration: underline;
   }
   .controls-Switch__text_enabled_selected_theme-@{themeName}:hover {
      text-decoration: @text-decoration_Switch-text_enabled_hovered;
   }
   .controls-Switch:hover {
      .controls-SwitchCircle__borderCircle_enabled_theme-@{themeName} {
         stroke: @color_ToggleCircle_outerCircle__enabled_hovered;
      }
   }
}
