<div class="controls-TextBox" title="{{tooltip}}">
	<ws:if data="{{beforeFieldWrapper}}">
		<div class="controls-TextBox__beforeFieldWrapper">
			<ws:partial template="{{beforeFieldWrapper}}" scope="{{...}}"/>
		</div>
	</ws:if>
	<ws:if data="{{afterFieldWrapper && enableArrows !== false}}">
      <div class="controls-TextBox__afterFieldWrapper">
         <ws:partial template="{{afterFieldWrapper}}" scope="{{...}}"/>
      </div>
   </ws:if>
   <div class="controls-TextBox__fieldWrapper {{enableArrows !== false ? 'controls-NumberTextBox__enable-arrow'}}">
      <ws:partial template="{{textFieldWrapper}}" scope="{{...}}"/>
   </div>
</div>