<div class="controls-TextBox {{ _prepareClassesByConfig(...).container }}" title="{{tooltip}}">
   <div class="controls-TextBox__wrapper {{ _prepareClassesByConfig(...).wrapper }}"
        title="{{tooltip}}">
      <ws:if data="{{beforeFieldWrapper}}">
         <ws:partial template="{{beforeFieldWrapper}}" scope="{{...}}"/>
      </ws:if>
      <ws:partial class="{{ _prepareClassesByConfig(...).field }}" template="{{textFieldWrapper}}" scope="{{...}}"/>
      <ws:if data="{{afterFieldWrapper}}">
         <ws:partial template="{{afterFieldWrapper}}" scope="{{...}}"/>
      </ws:if>
   </div>
   <ws:if data="{{informationIconColor}}">
      <div class="controls-TextBox__informationIcon icon-size icon-Listbox{{' controls-informationIcon icon-' + informationIconColor}}"></div>
   </ws:if>
</div>