<div class="controls-TextBox
   controls-TextBox__size__{{!! size ? size : 'm'}}
   controls-TextBox__state__{{ enabled ? 'default': 'disabled'}}
   controls-TextBox__text-align-{{ textAlign }}
   {{ _paddingClass}}"
   title="{{tooltip}}">
   <div class="controls-TextBox__wrapper" title="{{tooltip}}">
      <ws:if data="{{beforeFieldWrapper}}">
         <ws:partial class="controls-TextBox__beforeFieldWrapper" template="{{beforeFieldWrapper}}" scope="{{...}}"/>
      </ws:if>
      <ws:partial template="{{textFieldWrapper}}" scope="{{...}}"/>
      <ws:if data="{{afterFieldWrapper}}">
         <ws:partial class="controls-TextBox__afterFieldWrapper" template="{{afterFieldWrapper}}" scope="{{...}}"/>
      </ws:if>
      <ws:if data="{{informationIconColor}}">
         <ws:SBIS3.CONTROLS.IconButton
            name = "informationIcon"
            className = "{{informationIconColor ? 'controls-informationIcon icon-' + informationIconColor : 'controls-informationIcon'}}"
            icon = "icon-size icon-Listbox"
            allowChangeEnable = "{{false}}"
         />
      </ws:if>
   </div>
</div>