.controls-TextBox {
   border: 1px solid #CCCCCC;
   display: inline-block;
   background: #ffffff;
}

.controls-TextBox__field {
   border: none;
   height: 100%;
   width: 100%;
   min-height: 17px;
}

.controls-TextBox__field-uppercase{
   text-transform: uppercase;
}

.controls-TextBox__field-lowercase{
   text-transform: lowercase;
}