.controls-TextBox {
   box-sizing: border-box;
   border-radius: @border-radius_TextBox;
   background-color: @background-color_TextBox;
   cursor: auto;
   line-height: normal;
   display: inline-block;
   color: @color_TextBox;
   position: relative; //Для позициониования InformationIcon
   //цвет границы задаётся в зависимости от состояния
   border-width: @border-width_TextBox;
   border-style: solid;
   max-width: 100%; //Чтобы в IE текстбокс не выходил за пределы родителя
}

.controls-TextBox__wrapper {
   .inline-flexbox();
   .align-items(center);
   position: relative;
   width: 100%;
   height: 100%;
}

.controls-TextBox__field {
   .placeholder(@color_TextBox-placeholder); //В престо другие цвета
   .text-overflow();
   .flex-shrink(1); //В IE10 по умолчанию flex-shrink: 0
   .reset-browser-input-styles();
   width: 100%;
   //Наследуем явно, иначе браузерные стили будут иметь более высокий приоритет
   font: inherit;
   color: inherit;
   text-align: inherit;
   //Иначе в Firefox пустой div будет иметь нулевую высоту
   //https://jsfiddle.net/k6p9r03s/5/
   //https://bugzilla.mozilla.org/show_bug.cgi?id=1098151
   //TODO: если везде отказаться от div с contenteditable, то можно удалить эти стили
   .baseline-fix();
   //https://inside.tensor.ru/opendoc.html?guid=f0c1b032-e2e4-4e65-b98f-8f9413ac0652&des=
   &::-webkit-contacts-auto-fill-button {
      display: none;
   }
   &::-ms-clear {
      display: none;
   }
   &::-ms-reveal {
      display: none;
   }
}

.controls-TextBox__placeholder {
   .inline-flexbox();
   .align-items(center);
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   height: 100%;
   cursor: text;
   color: @color_TextBox-placeholder;
   font: inherit;
   &__overflow {
      .text-overflow();
      display: inline-block;
      width: 100%;
   }
}

.controls-TextBox__informationIcon {
   position: absolute;
   top: 0;
   right: 0;
   .icon-size(@font-size_TextBox-InformationIcon);
}

.controls-TextBox__hiddenPlaceholder {
   .hiddenPlaceholder();
}

//Состояния
.controls-TextBox_state_default {
   border-color: @border-color_TextBox;
   &:hover {
      border-color: @border-color_TextBox_hover;
   }
}

.controls-TextBox_state_active {
   border-color: @border-color_TextBox_active;
}

.controls-TextBox_state_disabled {
   background-color: @background-color_TextBox_disabled;
   border-color: @border-color_TextBox_disabled;
   caret-color: transparent;
}

.controls-TextBox_state_error {
   background-color: @background-color_TextBox_error;
   border-color: @border-color_TextBox_error;
}

//Размеры
.controls-TextBox_size_m {
   height: @height_TextBox_m;
   font-size: @font-size_TextBox_m;
}

.controls-TextBox_size_l {
   height: @height_TextBox_l;
   font-size: @font-size_TextBox_l;
}

.controls-TextBox__field_size_l {
   padding-bottom: @padding-bottom_TextBox-container_l;
}

.controls-TextBox_size_auto {
   height: auto;
   font-size: @font-size_TextBox_m;
}

//Модификаторы
.controls-TextBox__field-uppercase {
   text-transform: uppercase;
}

.controls-TextBox__field-lowercase {
   text-transform: lowercase;
}

.controls-TextBox_text-align_left {
   text-align: left;
}

.controls-TextBox_text-align_right {
   text-align: right;
}

.controls-TextBox_paddingBoth {
   padding: @padding_TextBox-container;
}

.controls-TextBox_paddingLeft {
   padding: @padding_TextBox-container_left;
}