//Reset button
.controls-FastFilter__iconReset_theme_@{themeName} {
   .icon-size(@reset-button_icon-size_filterView);

   color: @reset-button_icon-color_filterView;
   cursor: pointer;
   flex-shrink: 0;
}

.controls-FastFilter__iconReset_theme_@{themeName}:active {
   color: @reset-button_active_icon-color_filterView;
}

.ws-is-hover {
   .controls-FastFilter__iconReset_theme_@{themeName}:hover {
      color: @reset-button_hover_icon-color_filterView;
   }
}

//arrow
.controls-FastFilter__iconArrow_theme_@{themeName} {
   display: inline-flex;
   align-items: center;
   align-self: center;
   flex-shrink: 0;
   .icon-size-without-important(@item_icon-size_filterView);
}

.controls-FastFilter__iconArrow_state_enabled_theme_@{themeName} {
   color: @item_icon-color_filterView;
}

.controls-FastFilter__iconArrow_state_readOnly_theme_@{themeName} {
   color: @readonly_item_icon-color_filterView;
}

//Text
.controls-FastFilter__text-wrapper_theme_@{themeName} {
   box-sizing: border-box;
   width: 100%;
   overflow: hidden;
   display: inline-flex;
   font-size: @item_font-size_filterView;
   flex-shrink: 1;
}

.controls-FastFilter__text_theme_@{themeName} {
   .text-overflow();

   flex-shrink: 1;
}

.controls-FastFilter__hasMoreText_theme_@{themeName} {
   flex-shrink: 0;
}

.controls-FastFilter__text_state_enabled_theme_@{themeName} {
   color: @item_color_filterView;
}

.controls-FastFilter__text_state_readOnly_theme_@{themeName} {
   color: @readonly_item_color_filterView;
}

.controls-FastFilter_theme_@{themeName} {
   display: inline-flex;
   height: @height_filterView;
   align-items: center;
   flex-shrink: 1;
}

.controls-FastFilter__wrapper_theme_@{themeName} {
   display: inline-flex;
   align-items: baseline;
   overflow: hidden;
   flex-shrink: 1;
}

.controls-FastFilter__wrapper_theme_@{themeName}:before {
   content: '\200b';
   line-height: @height_filterView;
}

.controls-FastFilter__wrapper_state_enabled_theme_@{themeName} {
   cursor: pointer;
}

.controls-FastFilter__wrapper-changed {
   min-width: @item_icon-size_filterView + @item_font-size_filterView + @item_text_min-width_filterView;
}

.controls-FastFilter__block_theme_@{themeName} {
   white-space: nowrap;
   display: inline-flex;
   align-items: baseline;
   min-width: 0;
   flex-shrink: 1;
}

.controls-FastFilter__block_theme_@{themeName}:before {
   content: '\200b';
}

.ws-is-hover {
   .controls-FastFilter__block_theme_@{themeName}:hover {
      .controls-FastFilter__text_state_enabled_theme_@{themeName} {
         cursor: pointer;
         color: @item_hover_color_filterView;
         text-decoration: underline;
      }
      .controls-FastFilter__iconArrow_state_enabled_theme_@{themeName} {
         color: @item_hover_icon-color_filterView;
      }
   }
}

.controls-FastFilter__block_theme_@{themeName}:active {
   .controls-FastFilter__text_state_enabled_theme_@{themeName} {
      color: @item_active_color_filterView;
      text-decoration: underline;
   }

   .controls-FastFilter__iconArrow_state_enabled_theme_@{themeName} {
      color: @item_active_icon-color_filterView;
   }
}

@shift-top_default-FastFilter-popup: -((@item_height_menu - @height_filterView) / 2 + @popup_padding-vertical_menuPopup + @popup_border-thickness_menuPopup);

.controls-FastFilter-popup_theme_@{themeName} {
   margin-top: @shift-top_default-FastFilter-popup;
   margin-left: @item_icon-size_filterView - (@item_padding-horizontal_l_menu + @popup_border-thickness_menuPopup);
}

.controls-FastFilter_multiSelect-popup_theme_@{themeName} {
   margin-top: @shift-top_default-FastFilter-popup;
   margin-left: @item_icon-size_filterView - (@click-area_width_checkbox + @popup_border-thickness_menuPopup);
}
