<div class="controls-SubmitPopup__footer">
   <div class="controls-SubmitPopup__buttonContainer">
      <ws:if data="{{useConfirmButtons}}">
         <ws:partial
                 ws-autofocus="{{true}}"
                 style="primary"
                 caption="{{buttonLabels.yes}}"
                 template="js!Controls/Button"
                 attr:class="controls-SubmitPopup__button{{hasCancelButton ? ' controls-SubmitPopup__button-mini'}} controls-Button__ellipsis"
                 on:click="_sendResult(true)"
         />
         <ws:partial
                 caption="{{buttonLabels.no}}"
                 template="js!Controls/Button"
                 attr:class="controls-SubmitPopup__button{{hasCancelButton ? ' controls-SubmitPopup__button-mini'}} controls-Button__ellipsis"
                 on:click="_sendResult(false)"
         />
         <ws:if data="{{hasCancelButton}}">
            <ws:partial
                    caption="{{buttonLabels.cancel}}"
                    template="js!Controls/Button"
                    attr:class="controls-SubmitPopup__button controls-SubmitPopup__button-mini controls-Button__ellipsis"
                    on:click="_sendResult()"
            />
         </ws:if>
      </ws:if>
      <ws:else>
         <ws:partial
                 ws-autofocus="{{true}}"
                 style="primary"
                 caption="{{buttonLabels.ok}}"
                 template="js!Controls/Button"
                 attr:class="controls-SubmitPopup__button controls-Button__ellipsis"
                 on:click="_sendResult()"
         />
      </ws:else>
   </div>
</div>