<div class="controls__filterButton {{ 'controls__filterButton-' + filterAlign }} {{ !_filterLineInitialized ? 'controls__filterButton_withoutLine'}}">
    <ws:if data="{{ resetLinkText || !_fastFilterButton}}">
        <ws:partial template="{{ _filterLineTpl }}" scope="{{...}}"/>
    </ws:if>
    <SBIS3.CONTROLS.Button.IconButton
        cssClassName="controls__filterButton-button"
        icon="icon-size icon-FilterNew icon-primary"
        command="show-filter"
    />
</div>