<div class="controls-TreeDataGridView__folderFooter" data-parent="{{key}}">
   <ws:if data="{{footerTpl}}">
      <div class="controls-TreeView__levelPaddingWrap">
         <ws:for data="i in level">
            <div class="controls-TreeDataGridView__levelPadding">&nbsp;</div>
         </ws:for>
         <ws:partial template="{{footerTpl}}" scope="{{...}}"></ws:partial>
      </div>
   </ws:if>
</div>