<div class="controls-PropertyGrid_KeysEditor">
   <ws:partial template="{{_options.content}}"  bind:selectedKeys="_options.item.value" on:selectedKeysChanged="_keysChangedHandler()"/>
   <span class="controls-FilterPanel__iconClose icon-Close icon-disabled" on:click="_clickHandler()"></span>
</div>