.demo__wrapper {
   margin: 3% 20%;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.demo__block {
   margin: 10px;
   display: flex;
}
.demo__label {
   margin: 10px;
   width: 200px;
}
.demo__element {
   margin: 10px 20px;
}
.demo__main-container {
   width: 1024px;
}
.demo__column-width {
   min-width: 500px;
}
