<div attr:class="controls-Grid__row controls-ListView__itemV" attr:key="{{itemData.item.getId()}}">
   <ws:if data="{{contentTemplate}}">
      <ws:partial template="{{contentTemplate}}" itemData="{{itemData}}" itemActionsTemplate="{{itemActionsTemplate}}" multiSelectTpl="{{multiSelectTpl}}"/>
   </ws:if>
   <ws:else>
      <ws:for data="itemData.resetColumnIndex(); itemData.getLastColumnIndex()>=itemData.columnIndex; itemData.goToNextColumn();">
         <div attr:class="{{itemData.getCurrentColumn().cellClasses}} controls-TreeGrid__row"
              attr:style="{{itemData.ladderSupport ? itemData.getCurrentColumn().cellStyleForLadder}}">
            <ws:if data="{{itemData.multiSelectVisibility && itemData.columnIndex === 0}}">
               <ws:partial template="{{multiSelectTpl}}" multiSelectStatus="{{itemData.multiSelectStatus}}" key="{{itemData.key}}" attr:class="controls-GridView__checkbox"/>
            </ws:if>
            <ws:else>
               <ws:if data="{{itemData.multiSelectVisibility && itemData.columnIndex === 1 || !itemData.multiSelectVisibility && itemData.columnIndex === 0}}">
                  <ws:if data="{{itemData.dispItem.getLevel() > 1}}">
                     <ws:for data="i in itemData.dispItem.getLevel() - 1">
                        <div class="controls-TreeGrid__row-levelPadding"></div>
                     </ws:for>
                  </ws:if>
                  <ws:if data="{{itemData.dispItem.isNode()}}">
                     <div on:click="_onNodeExpanderClick(itemData.dispItem)"
                          class="controls-TreeGrid__row-nodeExpander controls-TreeGrid__row-nodeExpander_{{itemData.isExpanded ? 'expanded' : 'collapsed'}} js-controls-ListView__notEditable"></div>
                  </ws:if>
               </ws:if>
               <div class="controls-Grid__row-cell__contentWrapper">
                  <ws:partial template="{{itemData.getCurrentColumn().template}}"
                              attr:class="{{itemData.getCurrentColumn().withLadder ? 'controls-Grid__row-cell__content_withLadder'}}"
                              contentData="{{itemData.getCurrentColumn()}}" />
               </div>
               <ws:if data="{{itemData.getLastColumnIndex() === itemData.columnIndex && itemData.itemActions  && itemData.itemActions.all && itemData.itemActions.all.length}}">
                  <ws:partial template="{{itemActionsTemplate}}" itemData="{{itemData}}"/>
               </ws:if>
            </ws:else>
         </div>
      </ws:for>
   </ws:else>
</div>
<ws:if data="{{itemData.ladder}}">
   <div attr:class="controls-Grid__row-ladder-cell {{itemData.ladder.currentColumn.cellClasses}}" attr:style="{{itemData.ladder.style}}">
      <ws:partial template="{{itemData.ladder.currentColumn.template}}" attr:class="controls-Grid__row-ladder-cell__content" contentData="{{itemData.ladder.currentColumn}}" />
   </div>
</ws:if>