<Controls.List.TreeControl
   name="listControl"
   viewName="Controls/List/TreeGrid/TreeGridView"
   viewConfig="{{_viewConfig}}"
   viewModelConfig="{{_viewModelConfig}}"
   viewModelConstructor="{{_viewModelConstructor}}"
   source="{{_options.source}}"
   filter="{{_options.filter}}"
   itemsGroup="{{itemsGroup}}"
   navigation="{{_options.navigation}}"
   uniqueKeys="{{_options.uniqueKeys}}"
   editingConfig="{{_options.editingConfig}}"
   emptyTemplate="{{_options.emptyTemplate}}"
   itemActions="{{_options.itemActions}}"
   itemActionsType="{{_options.itemActionsType}}"
   itemActionVisibilityCallback="{{_options.showAction}}">
</Controls.List.TreeControl>