.controls-DateLinkView {
   display: inline-block;
   .user-select();
   white-space: nowrap;
}

.controls-DateLinkView_theme-@{themeName} {
   height: @height_dateRangeSelector;
   line-height: @height_dateRangeSelector;
}

.controls-DateLinkView-wrapper {
   width: 100%;
   display: inline-flex;
   align-items: baseline;
   justify-content: center;
}

.controls-DateLinkView__prev:before {
   content: "\e008 ";
}
.controls-DateLinkView__next:before {
   content: "\e007";
}

.controls-DateLinkView__clear_theme-@{themeName},
.controls-DateLinkView__prev_theme-@{themeName},
.controls-DateLinkView__next_theme-@{themeName} {
   font-size: @arrow_icon-size_dateRangeSelector;
   width: @arrow_width_dateRangeSelector;
}

.controls-DateLinkView__clear,
.controls-DateLinkView__prev,
.controls-DateLinkView__next {
   display: inline-block;
   font-weight: normal;
   text-align: center;
}

.controls-DateLinkView__style-readOnly_theme-@{themeName} {
   color: @text-color;
}

.controls-DateLinkView__style-clickable_theme-@{themeName} {
   cursor: pointer;
}

.ws-is-hover {
   .controls-DateLinkView__value-hovered:hover {
      text-decoration: underline;
   }
   .controls-DateLinkView__style-hover_theme-@{themeName}:hover {
      color: @link_hover_text-color;
   }
}

.controls-DateLinkView__value-wrapper_theme-@{themeName} {
   height: @height_dateRangeSelector + 1px;
}

.controls-DateLinkView__value-wrapper {
   //В разных браузерах, при нечетнром количестве пикселей при делении, разные браузеры округлят по разному.
   //Из-за этого существует разница в 1px по высоте. Увиеличил высоту контейнера на 1px и прижал к низу.
   display: flex;
   justify-content: center;
   align-items: flex-end;
   flex-grow: 1;
   text-align: center;
}

.controls-DateLinkView__value-wrapper-minWidth_theme-@{themeName} {
   min-width: @min-width_dateRangeSelector;
}

.controls-DateLinkView__value_theme-@{themeName} {
   font-size: @font-size_l;
   font-weight: @font-weight_dateRangeSelector;
}

.controls-DateLinkView__clear_theme-@{themeName} {
   color: @reset-button_icon-color_dateRangeSelector;
   font-family: @icon_font-family_s;
}

.controls-DateLinkView__clear {
   cursor: pointer;
   &:before {
      content: "\ea27";
   }
}
