.controls-ReportBrowser__history-title {
    font-size: 15px;
    font-weight: bold;
    color: #313e78;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    cursor: default;
    margin: 8px 8px 0 40px;
}

.controls-ReportHistory__text-wrapper {
    display: inline-flex;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    .align-items(center);
    width: 100%;
}

.controls-ReportHistory__icon {
    padding-left: 2px;
}

.controls-ReportHistory__text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.controls-ReportBrowser__history-view .controls-ListView__item:not(.controls-ItemActions__item) > div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.controls-ReportBrowser__history-view .controls-ListView__item:not(.controls-ItemActions__item) {
    font-size: 15px;
    height: 32px;
    line-height: 32px;
    padding: 0 40px;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.controls-ReportBrowser__history-view.controls-ListView .controls-ItemsToolbar {
    right: auto;
    left: 3px;
    bottom: 5px
}

.controls-ReportHistory__picker .controls-ReportBrowser__emptyBlock {
    padding: 0 40px;
    margin-bottom: 32px;
}