<div style="width: 500px; height: 300px;">
    <ws:WSControls.Windows.DialogTemplate.DialogTemplate
            caption="Дратути"
    >
        <ws:topArea>
            <div style="margin-left: 8px; padding-top: 8px;">
                <ws:SBIS3.CONTROLS.Link caption="Закрыть {{_options.type}}" command="close"/>
            </div>
        </ws:topArea>
        <ws:contentArea>
            <div style="margin-left: 8px;">
                <ws:SBIS3.CONTROLS.Link caption="Закрыть {{_options.type}}" command="close"/>
            </div>
        </ws:contentArea>
    </ws:WSControls.Windows.DialogTemplate.DialogTemplate>
</div>