<div>
    <Controls.Popup.Templates.Stack.StackTemplate caption="PopupManager">
        <ws:contentArea>
            <Controls.Input.Text name="textBox" bind:value="_text" />
        </ws:contentArea>
    </Controls.Popup.Templates.Stack.StackTemplate>
</div>