.controls-SimplePanel-List__hasMoreButton {
   padding-left: var(--item_padding-horizontal_l_menu);
   display: flex;
   align-items: center;
   height: var(--footer_min-height_menuPopup);
   flex-shrink: 0;
}

.controls-SimplePanel-List__hierarchy-hasMoreButton {
   margin-left: var(--hierarchy-item_offset-left_filterSimplePanel);
}
