.controls-SimplePanel-List__hasMoreButton_theme_@{themeName} {
   padding-left: @spacing_DropdownList-between-moreButton-leftBorder;
   display: flex;
   align-items: center;
   height: @min-height_DropdownList-footer;
   flex-shrink: 0;
}