.demo-wrapper{
  margin-left: 5%;
}
.gridBase__demo{
  display: flex;
  flex-direction: row;
}
.properties_wrapper__demo{
  padding: 3em;
  box-shadow: 1px 0 4px 0 #ccc;
}
.properties_wrapper__demo>div{
  padding: 5px 0;
}
.controls-Render {
  width: 100%;
}
.properties_wrapper__demo{
  width: 250px;
  padding: 3em;
  box-shadow: 1px 0 4px 0 #ccc;
}
.control_wrapper__demo{
  box-shadow: 1px 0 4px 0 #ccc;
  width: 610px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.control__demo{
  padding: 3em;
  min-height: 150px;
}
.grid-scroll-container{
  height: 320px;
}
.events__demo{
  box-shadow: 1px 0 4px 0 #ccc;
  padding: 3em;
}
.events__demo .controls-Render{
  border-width: 0px;
}

