<div class="ws-ListView">
   <ws:if data="{{_listModel}}">
      <div class="ws-ListView__items {{_listModel._actionHoverItem ? 'ws-ListView__items__hasActionHoverItem' }}">
         <ws:partial
                 template="tmpl!Controls/List/resources/For"
                 listModel="{{_listModel}}"
                 itemActionsTemplate="{{_options.itemActionsTemplate}}"
                 itemTemplate="{{_itemTemplate}}">
         </ws:partial>
      </div>
   </ws:if>
</div>