<div event:onclick="eventsHandlers()">
   <div class="controls-ListView__itemsContainer">
      <ws:partial template="{{_itemsTemplate}}" records="{{_records}}" tplData="{{tplData}}" />
   </div>
</div>

