<div class="wsControls-ItemsView">
   <ws:WSControls.Lists.ItemsView.ItemsRender
         items="{{_options.items}}"
         itemTemplate="{{_itemTemplate}}"
         displayProperty="{{_options.displayProperty}}">
   </ws:WSControls.Lists.ItemsView.ItemsRender>
</div>