<div>
   <ws:for data="item in records">
      <div class="controls-ListView__item js-controls-ListView__item {{selectedKey==item.getContents().getId() ? 'controls-ListView__item__selected'}} {{ className }}"
           data-hash="{{ item.getHash() }}"
            data-id="{{ item.getContents().getId() }}">
         <ws:partial template="{{ itemTemplate }}" scope = "{{ tplData }}" item = "{{ item.getContents() }}" proj = "{{ item }}" />
      </div>
   </ws:for>

</div>