<div class="ws-ListView">
   <ws:WSControls.Lists.ListView.ItemsRender
         selectedItem="{{_selectedItem}}"
         items="{{_items}}"
         itemTemplate="{{_itemTemplate}}"
         displayProperty="{{_options.displayProperty}}">
   </ws:WSControls.Lists.ListView.ItemsRender>
</div>