<div class="controls-ListView {{multiselect !== false ? 'controls-ListView__multiselect' : 'controls-ListView__multiselect__off'}}{{ _serverRender ? ' controls-ListView__dataLoaded'}}"
     event:onmouseleave="_mouseLeave()">

   <!-- Placeholder and trigger for activating page load in virtual scroll -->
   <div class="controls-ListView__virtualScrollTopPlaceholder" style="height: {{ _virtualScroll.placeholderSize.top }}px;">
      <div class="controls-ListView__virtualScrollTopLoadTrigger" ></div>
   </div>

   <div class="controls-ListView__itemsContainer">
      <ws:partial template="{{_itemsTemplate}}"
                  records="{{_records}}"
                  scope="{{...}}"/>
   </div>

   <!-- Placeholder and trigger for activating page load in virtual scroll -->
   <div class="controls-ListView__virtualScrollBottomPlaceholder" style="height: {{ _virtualScroll.placeholderSize.bottom }}px;">
      <div class="controls-ListView__virtualScrollBottomLoadTrigger" ></div>
   </div>

   <ws:if data="{{loading}}">
      <div class="controls-AjaxLoader">
         <div class="controls-AjaxLoader__outer">
            <div class="controls-AjaxLoader__block">
               <div class="controls-AjaxLoader__LoadingIndicator"></div>
            </div>
         </div>
      </div>
   </ws:if>
</div>

