<div class="ws-ListView">
   <ws:WSControls.Lists.ItemsRender
         items="{{_options.items}}"
         itemTemplate="{{_itemTemplate}}"
         displayProperty="{{_options.displayProperty}}">
   </ws:WSControls.Lists.ItemsRender>
</div>