<div class="ws-ListView">
   <ws:WSControls.Lists.ListControl.ListView
         items="{{_items}}"
         itemTemplate="{{_options.itemTemplate}}"
         idProperty="{{_options.idProperty}}"
         displayProperty="{{_options.displayProperty}}"
         selectedKey="{{_options.selectedKey}}">
   </ws:WSControls.Lists.ListControl.ListView>
</div>