<div class="controls-ListView {{multiselect !== false ? 'controls-ListView__multiselect' : 'controls-ListView__multiselect__off'}}{{ _serverRender ? ' controls-ListView__dataLoaded'}}"
     event:onclick="_onClickFn()"
     event:onmouseleave="mouseLeave()"
     event:onmousemove="mouseMove()">
   <div class="controls-ListView__itemsContainer">
      <ws:partial template="{{_itemsTemplate}}" hoveredItem="{{_hoveredItem}}" records="{{_records}}"
                  tplData="{{tplData}}" scope="{{...}}"/>
   </div>

   <ws:if data="{{loading}}">
      <div class="controls-AjaxLoader">
         <div class="controls-AjaxLoader__outer">
            <div class="controls-AjaxLoader__block">
               <div class="controls-AjaxLoader__LoadingIndicator"></div>
            </div>
         </div>
      </div>
   </ws:if>

   <ws:if data="{{ _options.itemsActions }}">
      <ws:WSControls.Lists.ItemsToolbar.ItemsToolbarCompatible
              name="itemsToolbar"
              idProperty="{{ _options.idProperty }}"
              itemsActions="{{ _options.itemsActions }}"
              activeItem="{{ { 'parentContainer': _container, 'itemsProjection': _itemsProjection, 'hoveredIndex': hoveredIndex } }}"
      />
   </ws:if>

</div>

