<div class="ws-ListView">
   <ws:WSControls.Lists.ListControl.ListView
         selectedKey="{{_options.selectedKey}}"
         items="{{_items}}"
         itemTemplate="{{_itemTemplate}}"
         displayProperty="{{_options.displayProperty}}">
   </ws:WSControls.Lists.ListControl.ListView>
</div>