<div>
   <div>
      <h3>Кликнули на </h3>
      <span>{{_actionClicked}}</span>
   </div>
   <div class="demo-Grid" style="border-bottom: 12px solid #55AA55;">
      <div class="demo-Grid__container">
         <Controls.Container.Scroll attr:class="demo-Grid__wrapper">
            <ws:content>
               <Controls.TreeGrid
                             attr:class="demo-Grid__control"
                             keyProperty="id"
                             parentProperty="Раздел"
                             itemsGroup="{{_itemsGroup}}"
                             nodeProperty="Раздел@"
                             source = "{{_viewSource}}"
                             columns="{{gridColumns}}"
                             multiSelectVisibility="visible"
                             itemActions="{{_itemActions}}"
                             itemActionsType="outside"
                             on:itemActionsClick="_onActionClick()"
                             itemActionVisibilityCallback="{{_showAction}}">
               </Controls.TreeGrid>
            </ws:content>
         </Controls.Container.Scroll>
      </div>
   </div>
   <div class="demo-Grid" style="border-top: 12px solid #55AA55;">
      <div class="demo-Grid__container">
         <Controls.Container.Scroll attr:class="demo-Grid__wrapper">
            <ws:content>
               <Controls.TreeGrid
                       attr:class="demo-Grid__control"
                       keyProperty="id"
                       parentProperty="Раздел"
                       nodeProperty="Раздел@"
                       source = "{{_viewSource}}"
                       columns="{{gridColumns}}"
                       multiSelectVisibility="visible"
                       itemActions="{{_itemActions}}"
                       itemActionsType="inside"
                       on:itemActionsClick="_onActionClick()"
                       itemActionVisibilityCallback="{{_showAction}}">
               </Controls.TreeGrid>
            </ws:content>
         </Controls.Container.Scroll>
      </div>
   </div>
</div>