<div class="controls-suggestShowAll">
    <div class="ws-window-titlebar-custom ws-float-area__close-button-wrapper ws-window-titlebar radius">
        <SBIS3.CONTROLS.Button
           caption="Выбрать"
           primary="{{true}}"
           visible="{{false}}"
           name="selectButton"
           className="controls-suggestShowAll__selectButton"
        />
    </div>
    <SBIS3.CONTROLS.ScrollContainer class="controls-suggestShowAll__scrollContainer">
        <ws:content>
            <SBIS3.CONTROLS.DataGridView
               pageSize="{{20}}"
               itemsActions="{{ [] }}"
               infiniteScroll="{{true}}"
               name="controls-showAllView"
               itemsDragNDrop="{{itemsDragNDrop}}"
            />
        </ws:content>
    </SBIS3.CONTROLS.ScrollContainer>
</div>
