
@padding_ImportCustomizer-Mapper-View-title: 6px 0 18px 12px;
@font-size_ImportCustomizer-Mapper-View-title: 15px;
@color_ImportCustomizer-Mapper-View-title: #313E78;
@border-left_ImportCustomizer-Mapper-View-grid-th: 1px solid #F5F5F5;
@padding_ImportCustomizer-Mapper-View-grid-th: 0;
@background-color_ImportCustomizer-Mapper-View-grid-th: #E5ECF5 !important;
@font-size_ImportCustomizer-Mapper-View-grid-th: 14px;
@color_ImportCustomizer-Mapper-View-grid-th: #0055BB;
@padding_ImportCustomizer-Mapper-View-grid-column: 5px 0 5px 6px;
@width_ImportCustomizer-Mapper-View-grid-firstCell: 40px;
@border-bottom_ImportCustomizer-Mapper-View-grid-firstCell: 1px solid #F5F5F5 !important;
@background-color_ImportCustomizer-Mapper-View-grid-firstCell: #E5ECF5;

.controls-ImportCustomizer-Mapper-View__title {
    padding: @padding_ImportCustomizer-Mapper-View-title;
    font-size: @font-size_ImportCustomizer-Mapper-View-title;
    font-weight: bold;
    color: @color_ImportCustomizer-Mapper-View-title;
}

.controls-ImportCustomizer-Mapper-View__grid .controls-DataGridView__table {
    width: auto;
    min-width: 100%;
}

.controls-ImportCustomizer-Mapper-View__grid .controls-DataGridView__th {
    border-left: @border-left_ImportCustomizer-Mapper-View-grid-th;
    padding: @padding_ImportCustomizer-Mapper-View-grid-th;
    background-color: @background-color_ImportCustomizer-Mapper-View-grid-th;
    font-size: @font-size_ImportCustomizer-Mapper-View-grid-th;
    color: @color_ImportCustomizer-Mapper-View-grid-th;
}

.controls-ImportCustomizer-Mapper-View__grid .controls-DataGridView__td {
    cursor: default;
}

.controls-ImportCustomizer-Mapper-View__grid__column {
    padding: @padding_ImportCustomizer-Mapper-View-grid-column;
}

.controls-ImportCustomizer-Mapper-View__grid .controls-DataGridView__firstContentCell {
    width: @width_ImportCustomizer-Mapper-View-grid-firstCell;
    border-bottom: @border-bottom_ImportCustomizer-Mapper-View-grid-firstCell;
    background-color: @background-color_ImportCustomizer-Mapper-View-grid-firstCell;
    text-align: right;
}
