{{/* Настройка соответствия/мэппинга значений */}}
<div class="controls-ImportCustomizer-Mapper-View">
   <div class="controls-ImportCustomizer-Mapper-View__title">{[НастройщикИмпорта@@Настройка соответствия значений]}</div>
   <SBIS3.CONTROLS:DataGridView
      name="controls-ImportCustomizer-Mapper-View__grid"
      class="controls-DataGridView__hasSeparator controls-ListView__disableHover controls-ListView__withoutMarker controls-ImportCustomizer-Mapper-View__grid"
      items="{{_items}}"
      idProperty="id"
      columns="{{_columns}}"
      itemsActions="{{[]}}"
   />
</div>