<ws:SBIS3.CONTROLS.CheckBox
	cssClassName="controls-ListView__item"
	attributes="{{ {
		'data-hash': projItem.getHash(),
		'data-id': item.getId()
	} }}"
	caption="{{getPropertyValue(item, displayProperty)}}"
/>