<div>
    <Controls.Selector.Controller selectedItems="{{_options.selectedItems}}">
        <Controls.Selector.Templates.Stack attr:class="demo-selector__flatList" caption="Выберите организацию" multiSelectVisibility="{{_options.multiSelect}}">
            <ws:contentArea>
                <Controls.Selector.Browser multiSelectVisibility="{{_options.multiSelect}}" searchParam="title" source="{{_source}}" keyProperty="id" bind:filter="_filter">

                    <ws:search>
                        <Controls.Input.Search bind:value="_searchValue"/>
                    </ws:search>

                    <ws:content>
                        <Controls.List emptyTemplate="Не найдено" multiSelectVisibility="{{_options.multiSelect ? 'onhover' : 'hidden'}}">
                            <ws:itemTemplate>
                                <ws:partial template="tmpl!Controls/List/ItemTemplate">
                                    <ws:contentTemplate>
                                        <div class="demo-selector__listItem">
                                            <span class="demo-selector__listItem-title {{ !itemTemplate.itemData.item.get('city') ? 'demo-selector__listItem-title-bold' }}">{{itemTemplate.itemData.item.get('title')}}</span>
                                            <ws:if data="{{itemTemplate.itemData.item.get('city')}}">
                                                <span class="demo-selector__listItem-city"> ({{itemTemplate.itemData.item.get('city')}})</span>
                                            </ws:if>
                                        </div>
                                    </ws:contentTemplate>
                                </ws:partial>
                            </ws:itemTemplate>
                        </Controls.List>
                    </ws:content>

                </Controls.Selector.Browser>
            </ws:contentArea>
        </Controls.Selector.Templates.Stack>
    </Controls.Selector.Controller>
</div>