.controls-ConfirmationDialog__message{
   font-size: @message_font-size_confirmation;
   line-height: normal;
   color: @message_text-color_confirmation;
}

.controls-ConfirmationDialog__message_withDetails {
   margin-bottom: @details_offset_confirmation;
}

.controls-ConfirmationDialog__details{
   font-size: @details_font-size_confirmation;
   line-height: normal;
   color: @details_text-color_confirmation;
}

.controls-ConfirmationDialog__message, .controls-ConfirmationDialog__details{
   white-space: pre-wrap;
   word-wrap: break-word;
}

.controls-ConfirmationDialog__message-centered, .controls-ConfirmationDialog__details-centered{
   text-align: center;
}

.controls-ConfirmationDialog__buttonContainer {
   .flexbox();
   .justify-content(center);
}

.controls-ConfirmationDialog__button-standard {
   min-width: @min-width_button_l_confirmation;
}

.controls-ConfirmationDialog__button-mini {
   min-width: @min-width_button_s_confirmation;
}

.controls-ConfirmationDialog__no-cancel-button {
   margin-left: @offset_button_confirmation;
}

.controls-ConfirmationDialog__button {
   width: 100%;
}
