.controls-ConfirmationDialog__message_theme-@{themeName} {
   font-size: @font-size_SubmitPopup-message;
   font-weight: @font-weight_SubmitPopup-message;
   color: @color_SubmitPopup-message;
}

.controls-ConfirmationDialog__message_withDetails_theme-@{themeName} {
   margin-bottom: @spacing_SubmitPopup-between-message-border-bottom;
}

.controls-ConfirmationDialog__details_theme-@{themeName}{
   font-size: @font-size_SubmitPopup-details;
   color: @color_SubmitPopup-details;
}

.controls-ConfirmationDialog__message, .controls-ConfirmationDialog__details{
   white-space: pre-wrap;
   line-height: normal;
   word-wrap: break-word;
}

.controls-ConfirmationDialog__message-centered, .controls-ConfirmationDialog__details-centered{
   text-align: center;
}

.controls-ConfirmationDialog__buttonContainer {
   .flexbox();
   .justify-content(center);
}

.controls-ConfirmationDialog__button-standard_theme-@{themeName} {
   min-width: @min-width_SubmitPopup-button;
}

.controls-ConfirmationDialog__button-mini_theme-@{themeName} {
   min-width: @min-width_SubmitPopup-button-small;
}

.controls-ConfirmationDialog__no-cancel-button_theme-@{themeName} {
   margin-left: @spacing_SubmitPopup-between-footer-buttons;
}

.controls-ConfirmationDialog__button {
   width: 100%;
}

.controls-Button-inlineheight-confirmation_theme-@{themeName} {
   height: @height_SubmitPopup-button;
   border-radius: @border-radius_default_button;
}

.controls-Button__wrapper_button_confirmation_theme-@{themeName} {
   padding: 0 @padding-horizontal_default_button - @border-thickness_button;
   &:before {
      line-height: @height_SubmitPopup-button - 2 * @border-thickness_button;
   }
}
