html, body {
   font-family: Tahoma !important;
}

#content {
   padding: 20px;
}

/*-------------------------------*/

#content .controls-Switcher__position {
   padding: 2px 16px;
   box-sizing: border-box;
   border-radius: 12px;
   background: #f8f7f5;
   background: -moz-linear-gradient(top, #f8f7f5 0%, #dbdbdb 0%, #f8f7f5 51%, #dcd7d0 100%);
   background: -webkit-gradient(left top, left bottom, color-stop(0%, #f8f7f5), color-stop(0%, #dbdbdb), color-stop(51%, #f8f7f5), color-stop(100%, #dcd7d0));
   background: -webkit-linear-gradient(top, #f8f7f5 0%, #dbdbdb 0%, #f8f7f5 51%, #dcd7d0 100%);
   background: -o-linear-gradient(top, #f8f7f5 0%, #dbdbdb 0%, #f8f7f5 51%, #dcd7d0 100%);
   background: -ms-linear-gradient(top, #f8f7f5 0%, #dbdbdb 0%, #f8f7f5 51%, #dcd7d0 100%);
   background: linear-gradient(to bottom, #f8f7f5 0%, #dbdbdb 0%, #f8f7f5 51%, #dcd7d0 100%);
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f7f5', endColorstr='#dcd7d0', GradientType=0);

   box-shadow: inset 0px -1px 3px rgba(128, 128, 128, 0.49);

}

#content .controls-Switcher__toggle {
   background: #F0EDE9;
   background: -moz-linear-gradient(top, #FCFCFB 0%, #F7F6F5 100%);
   background: -webkit-gradient(left top, left bottom, color-stop(0%, #FCFCFB), color-stop(100%, #F7F6F5));
   background: -webkit-linear-gradient(top, #FCFCFB 0%, #F7F6F5 100%);
   background: -o-linear-gradient(top, #FCFCFB 0%, #F7F6F5 100%);
   background: -ms-linear-gradient(top, #FCFCFB 0%, #F7F6F5 100%);
   background: linear-gradient(to bottom, #FCFCFB 0%, #F7F6F5 100%);
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FCFCFB', endColorstr='#F7F6F5', GradientType=0);
   box-shadow: inset 0px 1px 3px rgba(128, 128, 128, 0.49);
   border-radius: 12px;
   padding-right: 16px;
   color: #999999;
}

#content .controls-SwitcherDoubleOnline {
   margin-left: 8px;
}

#content .controls-Switcher__toggle__position-on {
   color: #000000;
   padding-right: 2px;
   padding-left: 16px;
}

#content .controls-RadioButton__icon,
#content .controls-CheckBox__icon {
   margin-left: 4px;
}

/*-------------------------------*/

#content .controls-TextBox {
   padding: 0 4px;
   border: 1px solid transparent;
   border-bottom: 1px solid #EAEAEA;
   height: 24px;
}

#content .controls-TextBox:hover {
   border: 1px solid #EAEAEA;
   border-bottom: 1px solid #CCCCCC;
}

#content .controls-ComboBox__itemRow {
   height: 16px;
}

/*-------------------------------*/

#content .controls-Button {
   display: inline-block;
   box-sizing: border-box;
   border: none;
   margin: 0 8px;
   padding: 3px 16px;
   min-width: 90px;
   border-radius: 12px;
   box-shadow: inset 0px -3px 3px rgba(128, 128, 128, 0.49);
   background: #ffffff;
   background: -moz-linear-gradient(top, #ffffff 0%, #dbdbdb 0%, #f9f8f7 51%, #f1efee 100%);
   background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffffff), color-stop(0%, #dbdbdb), color-stop(51%, #f9f8f7), color-stop(100%, #f1efee));
   background: -webkit-linear-gradient(top, #ffffff 0%, #dbdbdb 0%, #f9f8f7 51%, #f1efee 100%);
   background: -o-linear-gradient(top, #ffffff 0%, #dbdbdb 0%, #f9f8f7 51%, #f1efee 100%);
   background: -ms-linear-gradient(top, #ffffff 0%, #dbdbdb 0%, #f9f8f7 51%, #f1efee 100%);
   background: linear-gradient(to bottom, #ffffff 0%, #dbdbdb 0%, #f9f8f7 51%, #f1efee 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1efee', GradientType=0 );
}

#content .controls-Button:hover{
   background: #ffffff;
   background: -moz-linear-gradient(top, #ffffff 0%, #dbdbdb 0%, #ebe8e4 51%, #ebe7e3 100%);
   background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffffff), color-stop(0%, #dbdbdb), color-stop(51%, #ebe8e4), color-stop(100%, #ebe7e3));
   background: -webkit-linear-gradient(top, #ffffff 0%, #dbdbdb 0%, #ebe8e4 51%, #ebe7e3 100%);
   background: -o-linear-gradient(top, #ffffff 0%, #dbdbdb 0%, #ebe8e4 51%, #ebe7e3 100%);
   background: -ms-linear-gradient(top, #ffffff 0%, #dbdbdb 0%, #ebe8e4 51%, #ebe7e3 100%);
   background: linear-gradient(to bottom, #ffffff 0%, #dbdbdb 0%, #ebe8e4 51%, #ebe7e3 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebe7e3', GradientType=0 );
   box-shadow:inset 0px -3px 3px rgba(128, 128, 128, 0.49), inset 0px -1px 3px #f0f0f0;

}

#content .controls-Button__primary {
   background: #f9aa75;
   background: -moz-linear-gradient(top, #f9aa75 0%, #dbdbdb 0%, #f68352 51%, #f68352 100%);
   background: -webkit-gradient(left top, left bottom, color-stop(0%, #f9aa75), color-stop(0%, #dbdbdb), color-stop(51%, #f68352), color-stop(100%, #f68352));
   background: -webkit-linear-gradient(top, #f9aa75 0%, #dbdbdb 0%, #f68352 51%, #f68352 100%);
   background: -o-linear-gradient(top, #f9aa75 0%, #dbdbdb 0%, #f68352 51%, #f68352 100%);
   background: -ms-linear-gradient(top, #f9aa75 0%, #dbdbdb 0%, #f68352 51%, #f68352 100%);
   background: linear-gradient(to bottom, #f9aa75 0%, #dbdbdb 0%, #f68352 51%, #f68352 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9aa75', endColorstr='#f68352', GradientType=0 );

}

#content .controls-Button__primary:hover {
   /*box-shadow: inset 0px 1px 5px #f9ac52;*/

   background: #fbbd75;
   background: -moz-linear-gradient(top, #fbbd75 0%, #dbdbdb 0%, #f68352 51%, #d67322 100%);
   background: -webkit-gradient(left top, left bottom, color-stop(0%, #fbbd75), color-stop(0%, #dbdbdb), color-stop(51%, #f68352), color-stop(100%, #d67322));
   background: -webkit-linear-gradient(top, #fbbd75 0%, #dbdbdb 0%, #f68352 51%, #d67322 100%);
   background: -o-linear-gradient(top, #fbbd75 0%, #dbdbdb 0%, #f68352 51%, #d67322 100%);
   background: -ms-linear-gradient(top, #fbbd75 0%, #dbdbdb 0%, #f68352 51%, #d67322 100%);
   background: linear-gradient(to bottom, #fbbd75 0%, #dbdbdb 0%, #f68352 51%, #d67322 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbbd75', endColorstr='#d67322', GradientType=0 );

}