.controls-HistoryList {
  margin: 0 12px 12px 12px;

  .controls-ListView__itemV {
    border: none;
  }

  .controls-ListView__itemContent {
    margin: 0;
  }
}
.controls-HistoryList__list {
  margin-left: 22px;
}

.controls-HistoryList__header {
  font-size: 15px;
  color: @icon-active-color;
}