<span class="controls-Money" title="{{_parseNumber.number}}">
   <span class="controls-Money__integer_{{_options.type}}">{{_parseNumber.integer}}</span>
   <span class="controls-Money__fraction">{{_parseNumber.fraction}}</span>
</span>