.controls-SelectButton {
   display: inline;
}

.controls-SelectButton__reset {
   .icon-size(@default-icon-size);
   .flex-shrink(0);
   cursor: pointer;
   color: @disabled-color;
}


.controls-SelectorButton_button-more {
   margin-right: @margin-right_SelectorButton-button-more;
}