<div class="controls-DragNDrop__avatar" style="{{'top:' + (_options.position.y + _options.avatarOffset) + 'px; left:' + (_options.position.x + _options.avatarOffset) + 'px;'}}">
   <ws:if data="{{_options.entity.getImage()}}">
      <img class="controls-DragNDrop__avatar-icon" src="{{_image}}" />
   </ws:if>
   <ws:else>
      <div class="controls-DragNDrop__avatar-icon">
         <span class="controls-DragNDrop__avatar-icon-size icon-size {{_logo}}"></span>
      </div>
   </ws:else>
   <div class="controls-DragNDrop__avatar-text">
      <div class="controls-DragNDrop__avatar-mainText">{{_mainText}}</div>
      <div class="controls-DragNDrop__avatar-additionalText">{{_additionalText}}</div>
   </div>
   <ws:if data="{{_itemsCount}}">
      <span class="controls-DragNDrop__avatar-counter">{{_itemsCount}}</span>
   </ws:if>
</div>
