//Общие переменные для переключателя месяцев
//
//Цвета и размеры
@monthview_width_monthSlider:                                                  196px;
@monthview_height_monthSlider:                                                 220px;
@monthview_background-color_monthSlider:                                       @background-color;

//Переменные для шапки переключателя
//
//Размеры
@header_height_monthSlider:                                                    28px;

//Иконка переключения месяца
@arrow_icon-size_monthSlider:                                                  @icon-size_s;
@arrow_icon-color_monthSlider:                                                 @secondary_color;
@arrow_hover_icon-color_monthSlider:                                           @link_hover_text-color;
@arrow_active_icon-color_monthSlider:                                          @arrow_hover_icon-color_monthSlider;

//Заголовок
@heading_text-color_monthSlider:                                               #587AB0;
@heading_font-size_monthSlider:                                                @font-size_l;

//Обозначения дней недели
@weekdays_height_monthSlider:                                                  24px;
@weekdays_text-color_monthSlider:                                              @unaccented_color;
@weekdays_font-size_monthSlider:                                               @font-size_l;

//Переменные для ячеек
//
//Размеры
@monthview_item_height_monthSlider:                                            28px;

//Обводка
@monthview_item_border-thickness_monthSlider:                                  @border-thickness;
@monthview_item_hover_border-radius_monthSlider:                               3px;
@monthview_today_border-radius_monthSlider:                                    3px;
@monthview_today_offset_monthSlider:                                           0;
@monthview_item_border-color_monthSlider:                                      transparent;
@monthview_item_hover_border-color_monthSlider:                                #8991A9;
@monthview_today_border-thickness_monthSlider:                                 0;
@monthview_today_border-color_monthSlider:                                     @monthview_item_border-color_monthSlider;

//Фон
@monthview_today_background-color_monthSlider:                                 #DA4600;
@monthview_item_background-color_monthSlider:                                  #F4F4F4;
@monthview_item_hover_background-color_monthSlider:                            @monthview_item_background-color_monthSlider;

//Текст в ячейках
@monthview_item_font-size_monthSlider:                                         @font-size_m;
@monthview_item_text-color_monthSlider:                                        @text-color;
@monthview_weekend_text-color_monthSlider:                                     @primary_text-color;
@monthview_otherday_text-color_monthSlider:                                    @monthview_item_text-color_monthSlider;
@monthview_today_text-color_monthSlider:                                       #fff;


//TODO: сделать верстку без этих переменных, они подобраны
@margin-left_MonthSlider-home-button:                             8px;
@min-width_MonthSlider-header-title:                              110px;
