// Переменные для ввода интервала дат

@dash_length_dateRangeInput:                 2px;
@dash_padding-horizontal_dateRangeInput:     @offset_2xs;
@dash_thickness_dateRangeInput:              1px;
@dash_color_dateRangeInput:                  @text-color;

//кнопка ссылка для отображения периода
@min-width_dateRangeSelector:                150px;
@arrow_width_dateRangeSelector:              24px;
@font-weight_dateRangeSelector:              bold;
@arrow_icon-size_dateRangeSelector:          @icon-size_s;
@reset-button_icon-size_dateRangeSelector:   @icon-size_s;
@reset-button_icon-color_dateRangeSelector:  #CCC;
@height_dateRangeSelector:                   19px;

//кнопка ссылка для быстрого выбора периода
@height_rangeShortSelectorLink:              24px;
@line-height_rangeShortSelectorLink:         18px;
@clear_line-height_rangeShortSelectorLink:   24px;

//кнопка для связывания периодов
@icon-color_dateRangeRelationButton:                  @unaccented_icon-color;
@hover_icon-color_dateRangeRelationButton:            #999;
@active_icon-color_dateRangeRelationButton:           @hover_icon-color_dateRangeRelationButton;
@toggled_icon-color_dateRangeRelationButton:          @secondary_color;
@toggled_hover_icon-color_dateRangeRelationButton:    @link_hover_text-color;
@toggled_active_icon-color_dateRangeRelationButton:   @toggled_hover_icon-color_dateRangeRelationButton;
@icon-size_dateRangeRelationButton:                   @icon-size_s;
