// ПОЛЕ ВВОДА ПЕРИОДА
// Ширина тире между полями ввода
@dash_length_dateRangeInput:                 2px;
// Отступы между тире и полями ввода
@dash_padding-horizontal_dateRangeInput:     4px;
// Толщина тире между полями ввода
@dash_thickness_dateRangeInput:              1px;
// Цвет тире между полями ввода
@dash_color_dateRangeInput:                  @text-color;
