//ДЕКОРАТОР
//Общие переменные, использующиеся для темизации декораторов.

//Цвет текста декоратора денег в группировке
@group-text-color_decoratorMoney:                                       @readonly_color;

//Цвет текста декоратора денег в строке Итоги
@results-text-color_decoratorMoney:                                     @secondary_text-color;

//Цвет текста декоратора денег в реестре
@list-text-color_decoratorMoney:                                        @secondary_text-color;

//Цвет выделенной строки
@text_background-color_decoratorHighlight:                              #FFFECE;
