// Общие переменные для шаблона элемента перемещения

@width_draggingTemplate:                          200px;
@background-color_draggingTemplate:               @background-color;
@border-thickness_draggingTemplate:               @border-thickness;
@border-color_draggingTemplate:                   @border-color;
@box-shadow_draggingTemplate:                     0 0 6px 0 rgba(0,0,0,0.2);
@content_padding_draggingTemplate:                @offset_xs @offset_xs @offset_xs 0;
@overflow_gradient_width_draggingTemplate:        24px;



// Переменные для картинки в элементе перемещения

@image_placeholder_icon-color_draggingTemplate:   @unaccented_icon-color;
@image_placeholder_icon-size_draggingTemplate:    @icon-size_l;
@image_border-radius_draggingTemplate:            8px;
@image_padding_draggingTemplate:                  @offset_2xs @offset_xs @offset_2xs @offset_2xs;
@image_width_draggingTemplate:                    40px;
@image_height_draggingTemplate:                   40px;



// Переменные для текста в элементе перемещения

@heading_font-size_draggingTemplate:              @font-size_m;
@heading_text-color_draggingTemplate:             @secondary_text-color_heading;
@text-color_draggingTemplate:                     @text-color;
@font-size_draggingTemplate:                      @font-size_s;



// Переменные для счетчика в элементе перемещения

@counter_height_draggingTemplate:                 20px;
@counter_font-size_draggingTemplate:              @font-size_m;
@counter_text-color_draggingTemplate:             #ffffff;
@counter_background-color_draggingTemplate:       #0055bb;
@counter_border-radius_draggingTemplate:          @counter_height_draggingTemplate / 2;
@counter_padding-horizontal_draggingTemplate:     @offset_xs;



// Переменные для контрола движения границ

@thickness_dragnDropResizingLine:                   5px;
@drag-area_background-color_dragnDropResizingLine:  rgba(204, 204, 204, 0.35);
