// Параметры для иконки Combobox

@trigger-color_combobox:                           @secondary_icon-color_toggleSeparator;
@trigger-color_hover_combobox:                     @secondary_hover_icon-color_toggleSeparator;
@trigger_icon-size_combobox:                       @icon-size_toggleSeparator;
@trigger_padding-right_combobox:                   @offset_2xs;


//Параметры для Combobox

@border-color_combobox:                            #EAEAEA #EAEAEA #CCCCCC #EAEAEA;
@border-color_hover_combobox:                      #EAEAEA #EAEAEA #AAB0C1 #EAEAEA;
@invalid_border-color_combobox:                    @invalid_border-color;
@invalid_hover_border-color_combobox:              @invalid_border-color;
@readonly_border-color_combobox:                   transparent transparent #E4E4E4 transparent;
@border-width_combobox:                            @border-thickness;
@background-color_combobox:                        @background-color;
@readonly_background-color_combobox:               transparent;
@height_combobox:                                  @inline_height_m;
@placeholder-color_combobox:                       @readonly_color;

//Menu offsets
@inline_height_default_link_button:                18px; // TODO Высота текста link кнопки, чтобы посчитать offset переменную для меню

// Переменные для вызывающего элемента выпадающего списка

@height_dropdownSelector:                          @inline_height_default;
@font-size_default_dropdownSelector:               @font-size_default;
@icon_offset_dropdownSelector:                     @offset_xs;

// Переменные для валидации выбранного значения выпадающего списка

@invalid_border-thickness_dropdownSelector:        @border-thickness;
@invalid_border-color_dropdownSelector:            @danger_color;

// цвет текста пустого элемента

@empty-item_text-color_dropdownSelector:           #CCC;
