//КОМБОБОКС
// цвет иконки комбобокса
@trigger-color_combobox:                           @secondary_icon-color_toggleSeparator;

// цвет иконки комбобокса при наведении
@trigger-color_hover_combobox:                     @secondary_hover_icon-color_toggleSeparator;

// размер иконки комбобокса
@trigger_icon-size_combobox:                       @icon-size_toggleSeparator;

// отступ между текстом и иконкой
@trigger_padding-right_combobox:                   4px;

//Menu offsets
@inline_height_default_link_button:                18px; // Высота текста link кнопки, чтобы посчитать offset переменную для меню

//ДРОПДАУН
// высота дропдауна
@height_dropdownSelector:                          @inline_height_default;
// размер шрифта дропдауна
@font-size_default_dropdownSelector:               @font-size_default;
// ширина обводки контрола при ошибке валидации
@invalid_border-thickness_dropdownSelector:        @border-thickness;
// цвет обводки контрола при ошибке валидации
@invalid_border-color_dropdownSelector:            @danger_color;
// цвет текста пустого элемента
@empty-item_text-color_dropdownSelector:           #CCC;
// отступ между иконкой и текстом
@icon_offset_dropdownSelector:                     6px;
