// Переменные для элемента сортировки с выпадающим списком
//
// Иконка вызывающего элемента

@icon-width_gridSortingSelector:                              @icon-size_s;
@icon-height_gridSortingSelector:                             12px;
@icon_offset_gridSortingSelector:                             @offset_s;

// Элементы выпадающего списка

@item_icon_offset_gridSortingSelector:                        @offset_m;
@item_icon-color_unselected_gridSortingSelector:              @unaccented_icon-color;
@item_icon-color_gridSortingSelector:                         @secondary_icon-color;
@item_hover_icon-color_unselected_gridSortingSelector:        @secondary_hover_icon-color;



// Переменные для кнопки сортировки в шапке таблицы

@icon-width_gridSortingButton:                                @icon-size_s;
@icon-height_gridSortingButton:                               12px;
@icon-color_gridSortingButton:                                @secondary_icon-color;
@text-color_gridSortingButton:                                @link_text-color;
@font-size_gridSortingButton:                                 @font-size_xs;



// Переменные для списка в виде таблицы
//
// Текст в шапке таблицы

@header_text-color_grid:                                      @label_text-color;
@header_font-size_grid:                                       @font-size_xs;
@header_max-font-size_grid:                                   @font-size_3xl;
@header_multiline_max-font-size_grid:                         @font-size_m;

// Форна шапки

@header_background-color_grid:                                @background-color;

// Высоты элементов в шапке

@header_cell_min-height_grid:                                 24px;
@header_multiline_cell_min-height_grid:                       20px;

// Строка результатов

@results_text-color_grid:                                     @secondary_text-color;
@results_font-size_grid:                                      @font-size_m;
@results_cell_min-height_grid:                                20px;

// Размер строки

@cell_min-height_grid:                                        31px;

// Вертикальные отступы в строке

@item_padding-top_default_grid:                               @item_padding-top_s_grid;
@item_padding-top_s_grid:                                     3px;
@item_padding-top_l_grid:                                     @offset_xs;
@item_padding-bottom_default_grid:                            @item_padding-bottom_s_grid;
@item_padding-bottom_s_grid:                                  3px;
@item_padding-bottom_l_grid:                                  @offset_xs;

// Горизонтальные отступы в ячейках

@cell_padding-left_s_grid:                                    3px;
@cell_padding-left_l_grid:                                    @offset_xs;
@cell_padding-left_default_grid:                              @cell_padding-left_l_grid;
@cell_padding-right_s_grid:                                   3px;
@cell_padding-right_l_grid:                                   @offset_xs;
@cell_padding-right_default_grid:                             @cell_padding-right_l_grid;

// Размеры шрифта

@item_font-size_s_grid:                                       @font-size_s;
@item_font-size_m_grid:                                       @font-size_m;
@item_font-size_l_grid:                                       @font-size_2xl;   //TODO correct
@item_font-size_xl_grid:                                      @font-size_3xl;   //TODO correct
@item_font-size_2xl_grid:                                     @font-size_2xl;
@item_max-font-size_grid:                                     @font-size_2xl;

// Стрелка редактирования

@edit-arrow_icon-size_grid:                                   @icon-size_s;
@edit-arrow_offset_grid:                                      @offset_s;

// Тэги (цветные треугольники)

@tag_offset-vertical_gridView:                                @offset_l;
@tag_offset-horizontal_gridView:                              @offset_2xs;

// Горизонтальный скролл

@columnscroll_shadow-blur_grid:                               12px;
@columnscroll_shadow-start-color_grid:                        rgba(215,225,236, .55);
@columnscroll_shadow-end-color_grid:                          rgba(255, 255, 255, 0);
@columnscroll_separator_color_grid:                           rgba(88,122,176, .4);
@columnscroll_separator_thickness_grid:                       1px;
