//ЗАГОЛОВКИ
//Общие переменные, использующиеся для темизации заголовков.

//Шрифты в заголовках
//Жирность шрифта для заголовков.
@font-weight_heading:         bold;

//Размер шрифта в заголовках xs.
@font-size_xs_heading:                                                      @font-size_xs;

//Размер шрифта в заголовках s.
@font-size_s_heading:                                                       @font-size_s;

//Размер шрифта в заголовках m.
@font-size_m_heading:                                                       @font-size_m;

//Размер шрифта в заголовках l.
@font-size_l_heading:                                                       @font-size_l;

//Размер шрифта в заголовках xl.
@font-size_xl_heading:                                                      @font-size_xl;

//Размер шрифта в заголовках 2xl.
@font-size_2xl_heading:                                                     @font-size_2xl;

//Размер шрифта в заголовках 3xl.
@font-size_3xl_heading:                                                     @font-size_3xl;

//Размер шрифта в заголовках 4xl.
@font-size_4xl_heading:                                                     @font-size_4xl;

//Размер шрифта в заголовках 5xl.
@font-size_5xl_heading:                                                     @font-size_5xl;

//Цвета в заголовках
//Цвет главных, выделенных особым образом заголовков.
//Пример: главный заголовок, заголовок активной вкладки.
@primary_text-color_heading:                                                @primary_text-color;

//Цвет главных выделенных особым образом заголовков при наведении мыши.
@primary_hover_text-color_heading:                                          @primary_hover_text-color;

//Цвет обычных заголовков.
@secondary_text-color_heading:                                              @secondary_text-color;

//Цвет обычных заголовков при наведении мыши.
@secondary_hover_text-color_heading:                                        @secondary_hover_text-color;

//СЧЕТЧИК В ЗАГОЛОВКЕ
//Цвет главных выделенных особым образом счетчиков
@primary_text-color_headingCounter:                                         @primary_text-color;

//Цвет главных выделенных особым образом счетчиков при наведении мыши
@primary_hover_text-color_headingCounter:                                   @primary_hover_text-color;

//Цвет главных выделенных особым образом счетчиков при нажатии
@primary_active_text-color_headingCounter:                                  @primary_hover_text-color_headingCounter;

//Цвет обычных счетчиков
@secondary_text-color_headingCounter:                                       @secondary_text-color;

//Цвет обычных счетчиков при наведении мыши
@secondary_hover_text-color_headingCounter:                                 @secondary_hover_text-color;

//Цвет обычных счетчиков при нажатии
@secondary_active_text-color_headingCounter:                                @secondary_hover_text-color_headingCounter;

//Цвет неакцентных счетчиков
@unaccented_text-color_headingCounter:                                      @unaccented_text-color;

//РАЗДЕЛИТЕЛЬ В ЗАГОЛОВКЕ
//Цвет главных выделенных особым образом счетчиков
//Цвет иконки для заголовка, использующегося для проваливания в раздел.
@width_headingSeparator:                                                    6px;
@height_headingSeparator:                                                   10px;
@padding-left_headingSeparator:                                             10px;
@primary_icon-color_headingSeparator:                                       #729EE6;
@primary_hover_icon-color_headingSeparator:                                 @primary_icon-color_headingSeparator;
@primary_active_icon-color_headingSeparator:                                @primary_hover_icon-color_headingSeparator;
@secondary_icon-color_headingSeparator:                                     #729EE6;
@secondary_hover_icon-color_headingSeparator:                               @secondary_icon-color_headingSeparator;
@secondary_active_icon-color_headingSeparator:                              @secondary_hover_icon-color_headingSeparator;

//headingBack

//высота заголовка
@inline-height_headingBack:                                                 @inline_height_default;
//иконка заголовка, размер s, цвет secondary
@secondary_icon_background-image_s_headingBack:                             url('../../Controls-default-theme/img/BackArrowBlueSmall.svg');
//иконка заголовка, размер m, цвет secondary
@secondary_icon_background-image_m_headingBack:                             url('../../Controls-default-theme/img/BackArrowBlue.svg');
//иконка заголовка, размер l, цвет secondary
@secondary_icon_background-image_l_headingBack:                             url('../../Controls-default-theme/img/BackArrowBlue.svg');
//иконка заголовка, размер s, цвет primary
@primary_icon_background-image_s_headingBack:                               url('../../Controls-default-theme/img/BackArrowOrangeSmall.svg');
//иконка заголовка, размер m, цвет primary
@primary_icon_background-image_m_headingBack:                               url('../../Controls-default-theme/img/BackArrowOrange.svg');
//иконка заголовка, размер l, цвет primary
@primary_icon_background-image_l_headingBack:                               url('../../Controls-default-theme/img/BackArrowOrange.svg');

//иконка заголовка при наведении, размер s, цвет secondary
@secondary_icon_hover_background-image_s_headingBack:                       url('../../Controls-default-theme/img/BackArrowBlueSmall.svg');
//иконка заголовка при наведении, размер m, цвет secondary
@secondary_icon_hover_background-image_m_headingBack:                       url('../../Controls-default-theme/img/BackArrowBlue.svg');
//иконка заголовка при наведении, размер l, цвет secondary
@secondary_icon_hover_background-image_l_headingBack:                       url('../../Controls-default-theme/img/BackArrowBlue.svg');
//иконка заголовка при наведении, размер s, цвет primary
@primary_icon_hover_background-image_s_headingBack:                         url('../../Controls-default-theme/img/BackArrowOrangeSmall.svg');
//иконка заголовка при наведении, размер m, цвет primary
@primary_icon_hover_background-image_m_headingBack:                         url('../../Controls-default-theme/img/BackArrowOrange.svg');
//иконка заголовка при наведении, размер l, цвет primary
@primary_icon_hover_background-image_l_headingBack:                         url('../../Controls-default-theme/img/BackArrowOrange.svg');

//Правый отступ у иконки размера s
@icon_s_offset_headingBack:                                                 3px;
//Правый отступ у иконки размера m
@icon_m_offset_headingBack:                                                 3px;
//Правый отступ у иконки размера l
@icon_l_offset_headingBack:                                                 2px;
//Ширина иконки размера s
@icon_s_width_headingBack:                                                  9px;
//Ширина иконки размера m
@icon_m_width_headingBack:                                                  9px;
//Ширина иконки размера l
@icon_l_width_headingBack:                                                  10px;
//Высота иконки размера s
@icon_s_height_headingBack:                                                 11px;
//Высота иконки размера m
@icon_m_height_headingBack:                                                 12px;
//Высота иконки размера l
@icon_l_height_headingBack:                                                 14px;

//Цвет текста заголовка при наведении, стиль secondary
@secondary_hover_text-color_headingBack:                                    @secondary_hover_text-color;
//Цвет текста заголовка, стиль secondary
@secondary_text-color_headingBack:                                          @secondary_text-color;
//Цвет текста заголовка при наведении, стиль primary
@primary_hover_text-color_headingBack:                                      @primary_hover_text-color;
//Цвет текста заголовка, стиль primary
@primary_text-color_headingBack:                                            @primary_text-color;
