// Переменнеы для кнопки добавления в списке
//
// Иконка

@icon_background-image_listAddButton:                               url('../../Controls-default-theme/img/AddButtonEnable.svg');
@readonly_icon_background-image_listAddButton:                      url('../../Controls-default-theme/img/AddButtonDisable.svg');
@icon-size_listAddButton:                                           8px;
@icon_offset_listAddButton:                                         4px;

// Текст

@text-color_listAddButton:                                          @label_text-color;
@readonly_text-color_listAddButton:                                 @readonly_color;
@font-size_listAddButton:                                           @font-size_xs;



// Переменные для списков
//
// Пэйджинг при подгрузке по скроллу

@scrollpaging_separator-color_list:                                 @secondary_color;
@scrollpaging_separator-thickness_list:                             1px;

// Футер

@footer_min-height_list:                                            @inline_height_m;
@footer_font-size_list:                                             @font-size_xl;

// Счетчик страниц

@pagesCounter_text-color_list:                                      @label_text-color;
@pagesCounter_font-size_list:                                       @font-size_s;
@pagesSelector_offset-left_list:                                    4px;

// Кнопка сброса поиска

@abortSearch_text-color_list:                                       @link_text-color;
@abortSearch_hover_text-color_list:                                 @link_hover_text-color;
@abortSearch_active_text-color_list:                                @abortSearch_hover_text-color_list;
@abortSearch_font-size_list:                                        @font-size_default;

// Кнопка продолжения поиска

@continueSearch_text-color_list:                                    @link_text-color;
@continueSearch_hover_text-color_list:                              @link_hover_text-color;
@continueSearch_active_text-color_list:                             @continueSearch_hover_text-color_list;
@continueSearch_font-size_list:                                     @font-size_default;
@continueSearch_icon-offset_list:                                   8px;
@continueSearch_icon-color_list:                                    @secondary_icon-color;
@continueSearch_hover_icon-color_list:                              @secondary_hover_icon-color;
@continueSearch_padding-top_list:                                   8px;
