// Переменнеы для кнопки добавления в списке
//
// Иконка

@icon_background-image_listAddButton:                               url('../../Controls-default-theme/img/AddButtonEnable.svg');
@readonly_icon_background-image_listAddButton:                      url('../../Controls-default-theme/img/AddButtonDisable.svg');
@icon-size_listAddButton:                                           8px;
@icon_offset_listAddButton:                                         4px;

// Текст

@text-color_listAddButton:                                          @label_text-color;
@readonly_text-color_listAddButton:                                 @readonly_color;
@font-size_listAddButton:                                           @font-size_xs;



// Переменные для списков
//
// Пэйджинг при подгрузке по скроллу

@scrollpaging_separator-color_list:                                 @secondary_color;
@scrollpaging_separator-thickness_list:                             1px;

// Футер

@footer_min-height_list:                                            @inline_height_m;
@footer_font-size_list:                                             @font-size_xl;
@more_height_list:                                                  @inline_height_default;

// Счетчик страниц

@pagesCounter_text-color_list:                                      @label_text-color;
@pagesCounter_font-size_list:                                       @font-size_s;
@pagesSelector_offset-left_list:                                    4px;

// Кнопка сброса поиска

@abortSearch_text-color_list:                                       @link_text-color;
@abortSearch_hover_text-color_list:                                 @link_hover_text-color;
@abortSearch_active_text-color_list:                                @abortSearch_hover_text-color_list;
@abortSearch_font-size_list:                                        @font-size_default;

// Кнопка продолжения поиска

@continueSearch_text-color_list:                                    @link_text-color;
@continueSearch_hover_text-color_list:                              @link_hover_text-color;
@continueSearch_active_text-color_list:                             @continueSearch_hover_text-color_list;
@continueSearch_font-size_list:                                     @font-size_default;
@continueSearch_icon-offset_list:                                   8px;
@continueSearch_icon-color_list:                                    @secondary_icon-color;
@continueSearch_hover_icon-color_list:                              @secondary_hover_icon-color;
@continueSearch_padding-top_list:                                   8px;

// !!!!

@item_hover_background-color_list:                                  @hover_background-color;
@master_item_hover_background-color_list:                           #FFFFFF;
@item_editing_background-color_list:                                #F3F3F3;

// Переменные для операций над записью
//
//

@editing-toolbar_offset-left_listEditInPlace:                       6px;
@offset-right_itemActions:                                          6px;
@offset-top_itemActions:                                            3px;
@offset-bottom_itemActions:                                         3px;
@height_itemActions:                                                @inline_height_m;
@background-color_itemActions:                                      @item_hover_background-color_list;
@master_background-color_itemActions:                               @master_item_hover_background-color_list;
@height_outside_itemActions:                                        31px;
@background-color_outside_itemActions:                              @item_hover_background-color_list;
@offset-right_outside_itemActions:                                  @offset-right_itemActions;
@offset-bottom_outside_itemActions:                                 @offset-bottom_itemActions;
@offset-top_outside_itemActions:                                    4px;
@corner_width_outside_itemActions:                                  @height_outside_itemActions;
@background-color_editing_itemActions:                              @item_editing_background-color_list;
@item_icon-size_itemActions:                                        @icon-size_m;
@item_icon-offset_itemActions:                                      6px;
@item_icon-size_editing_itemActions:                                @icon-size_s;
@item_icon_font-family_itemsActions:                                @icon_font-family_m;
@item_icon_font-family_editing_itemsActions:                        @icon_font-family_s;
@item_offset_itemActions:                                           6px;
@item_caption_min-height_itemActions:                               @inline_height_xs;
@item_font-size_itemActions:                                        @font-size_default;
@item_text-color_itemActions:                                       @link_text-color;
@item_hover_text-color_itemActions:                                 @link_hover_text-color;
@item_active_text-color_itemActions:                                @item_hover_text-color_itemActions;
