//ПАНЕЛЬ ДЕЙСТВИЙ Operations
//Кнопка открытия панели действий

//цвет иконки кнопки открытия панели действий
@icon-color_operationsButton:                                               @secondary_color;

//цвет иконки кнопки открытия панели действий при наведении мыши
@icon-color_hover_operationsButton:                                         @link_hover_text-color;

//цвет иконки кнопки открытия панели действий при нажатии
@icon-color_active_operationsButton:                                        @link_hover_text-color;

//цвет иконки кнопки открытия панели действий в режиме "только дял чтения"
@readonly_icon-color_operationsButton:                                      @readonly_color;

//размер иконки кнопки открытия панели действий
@icon-size_operationsButton:                                                18px;

//высота кнопки открытия панели действий
@height_operationsButton:                                                   @inline_height_default;

//ширина кнопки открытия панели действий
@width_operationsButton:                                                    @height_operationsButton;

//толщина разделителя около кнопки открытия панели действий
@separator_thickness_operationsButton:                                      1px;

//длина разделителя около кнопки открытия панели действий
@separator_length_operationsButton:                                         @height_operationsButton;

//цвет разделителя около кнопки открытия панели действий
@separator_color_operationsButton:                                          #CCC;

//высота панели действий
@height_operationsPanel:                                                    30px;

//цвет фона панели действий
@background-color_operationsPanel:                                          #e5ecf5;

//левый отступ набора действий в панели - расстояние до кнопки "отметить"
@toolbar_padding-left_operationsPanel:                                      12px;

//правый отступ набора действий в панели - расстояние до пользовательского шаблона
@toolbar_padding-right_operationsPanel:                                     12px;

//правый отступ в панели действий - расстояние от пользовательского шаблона до края
@padding-right_operationsPanel:                                             12px;

//размер шрифта заголовка в окне результатов выполнения действия
@heading_font-size_operationsReportDialog:                                  @font-size_3xl;

//цвет шрифта заголовка в окне результатов выполнения действия
@heading_text-color_operationsReportDialog:                                 @secondary_text-color_heading;

//отступ между заголовком и сообщением в окне результатов выполнения действия
@heading_offset-bottom_operationsReportDialog:                              8px;

//размер шрифта сообщения в окне результатов выполнения действия
@message_font-size_operationsReportDialog:                                  @font-size_default;

//цвет шрифта сообщения в окне результатов выполнения действия
@message_text-color_operationsReportDialog:                                 @label_text-color;

//размер шрифта текста ошибок в окне результатов выполнения действия
@errors_font-size_operationsReportDialog:                                   @font-size_default;

//отступ между сообщением и текстом ошибок в окне результатов выполнения действия
@errors_padding-top_operationsReportDialog:                                 8px;

//отступ между сообщениями об ошибках в окне результатов выполнения действия
@errors_item_offset_operationsReportDialog:                                 4px;
