// Переменные для стилизации пэйджинга
//
// Элемент - многоточие

@ellipsis_width_paging:                       24px;
@ellipsis_text-color_paging:                  @text-color;
@ellipsis_background-color_paging:            @background-color;
@ellipsis_font-size_paging:                   @font-size_m;

// Маркер выбранного элемента

@marker_thickness_paging:                     3px;
@marker_color_paging:                         @marker_color;

// Элемент с номером страницы

@item_min-width_paging:                       28px;
@item_text-color_paging:                      @text-color;
@item_background-color_paging:                @background-color;
@item_font-size_paging:                       @font-size_m;
@item_padding-horizontal_paging:              3px;
@item_offset_paging:                          2px;
@item_hover_background-color_paging:          @hover_background-color;
@item_height_paging:                          @inline_height_xl;
@item_box-shadow_paging:                      none;

// Элемент - стрелка

@arrow_width_paging:                          32px;
@arrow_background-color_paging:               @background-color;
@arrow_hover_background-color_paging:         @hover_background-color;
@arrow_icon_font-family_paging:               @icon_font-family_s;
@arrow_icon-size_paging:                      18px;
@arrow_icon-color_paging:                     @secondary_icon-color;
@arrow_hover_icon-color_paging:               @secondary_hover_icon-color;
@readonly_icon-color_paging:                  @readonly_color;

// Общие размеры и отступы

@background-color_paging:                     @background-color;
@padding-horizontal_paging:                   2px;
@padding-vertical_paging:                     0;
