// Переменные для диалогового окна

// Размеры и отступы

@header_padding-left_dialog:                                                @offset_m;
@header-min-height_dialog:                                                  44px;
@header_lineheight_dialog:                                                  27px;
@header-content_padding-right_dialog:                                       @offset_l;
@header_min-width_dialog:                                                   30px;
@footer_min-height_dialog:                                                  64px;
@header_caption_offset-right_dialog:                                        @offset_m;

// Цвета фона

@background-color_dialog:                                                   @background-color;
@header_background-color_dialog:                                            @background-color;
@footer_background-color_dialog:                                            #F5F5F5;

// Границы

@border-color_dialog:                                                       #BDBDBD;
@border-thickness_dialog:                                                   @border-thickness;
@box-shadow_dialog:                                                         0 0 6px 0 rgba(0,0,0,0.35);
@header_bottom-border-thickness_dialog:                                     0;
@header_bottom-border-color_dialog:                                         transparent;
@footer_top-border-thickness_dialog:                                        1px;
@footer_top-border-color_dialog:                                            #EAEAEA;

// Кнопка закрытия

@close-button_padding-top_dialog:                                           @offset_s;

// не использовать !
@line-height_dialogTemplate_caption:                                        42px;//TODO https://online.sbis.ru/opendoc.html?guid=4e96f146-f21e-4267-89d6-3f20ae2a0acf
