// Переменные для быстрого выбора периода
//
// Размеры и отступы

@width_shortDatePicker:                           80px;
@monthly_width_shortDatePicker:                   146px;
@quarterly_width_shortDatePicker:                 176px;

// Цвет фона

@background-color_shortDatePicker:                    @background-color;

// Обводка

@border-thickness_shortDatePicker:                    @border-thickness;
@border-color_shortDatePicker:                        @border-color_sticky;
@box-shadow-color_shortDatePicker:                    rgba(0,0,0,0.35);
@box-shadow-size_shortDatePicker:                     0 0 6px 0;

// Заголовок

@header_font-size_shortDatePicker:                    @font-size_l;
@header_text-color_shortDatePicker:                   @secondary_text-color_heading;
@header_font-weight_shortDatePicker:                  bold;
@header_height_shortDatePicker:                       @header_min-height_sticky;
@header_padding-horizontal_shortDatePicker:           10px;
@header_background-color_shortDatePicker:             @header_background-color_sticky;



// Переменные для элементов быстрого выбора периода
//
// Размеры и отступы

@item_line-height_shortDatePicker:                    32px;
@quarterly_item-padding-left_shortDatePicker:         8px;

// Текст

@item_font-size_shortDatePicker:                      @font-size_l;
@item_text-color_shortDatePicker:                     @text-color;
@item_selected_text-color_shortDatePicker:            @link_text-color;

// Обводка

@item_border-color_shortDatePicker:                   transparent;
@item_border-thickness_shortDatePicker:               @border-thickness;
@item_hover_border-color_shortDatePicker:             #8991A9;
@item_active_border-color_shortDatePicker:            @item_hover_border-color_shortDatePicker;

// Цвет фона

@item_background-color_shortDatePicker:               @background-color_shortDatePicker;
@item_hover_background-color_shortDatePicker:         @item_background-color_shortDatePicker;
@item_active_background-color_shortDatePicker:        @item_hover_background-color_shortDatePicker;
@item_height_shortDatePicker:                         32px;



// Переменные для переключателя годов
//
// Размеры и отступы

@yearselector_height_shortDatePicker:                 32px;
@quarterly_yearselector_padding-left_shortDatePicker: 12px;

// Цвет фона

@yearselector_background-color_shortDatePicker:       @background-color_shortDatePicker;

// Текст

@yearselector_text-color_shortDatePicker:             @link_text-color;
@yearselector_font-size_shortDatePicker:              @font-size_l;

// Стрелки переключения

@yearselector_arrow_icon-size_shortDatePicker:        @arrow_icon-size_shortDatePicker;

@yearselector_arrow_icon-color_shortDatePicker:       @arrow_icon-color_shortDatePicker;
@yearselector_arrow_hover_icon-color_shortDatePicker: @arrow_hover_icon-color_shortDatePicker;
@yearselector_arrow_active_icon-color_shortDatePicker:@arrow_active_icon-color_shortDatePicker;
@yearselector_arrow_width_shortDatePicker:            32px;
@yearselector_arrow_height_shortDatePicker:           @yearselector_height_shortDatePicker;

// Иконка - "домик"

@yearselector_home_width_shortDatePicker:             24px;
@quarterly_yearselector_home_width_shortDatePicker:   32px;
@yearselector_home_height_shortDatePicker:            @yearselector_height_shortDatePicker;



// Разделители между элементами

@separator_color_shortDatePicker:                     #F4F4F4;
@separator_thickness_shortDatePicker:                 4px;

// Элементы выбора квартала/полугодия

@quarterly_quarters_text-color_shortDatePicker:                 @link_text-color;
@quarterly_quarters_hover_text-color_shortDatePicker:       @link_hover_text-color;
@quarterly_quarters_active_text-color_shortDatePicker:@quarterly_quarters_hover_text-color_shortDatePicker;
@quarterly_quarters_width_shortDatePicker:            28px;
@quarterly_halfyears_width_shortDatePicker:           30px;
@quarterly_quarters_background-color_shortDatePicker: @item_background-color_shortDatePicker;



// Переменные для дополнительных элементов
//
// Галочки

@item_checkbox_offset-right_shortDatePicker:          12px;

// Стрелки - элементы списка в режиме годов

@arrow_icon-color_shortDatePicker:                    @link_text-color;
@arrow_hover_icon-color_shortDatePicker:              @secondary_hover_icon-color;
@arrow_active_icon-color_shortDatePicker:             @secondary_hover_icon-color;
@arrow_height_shortDatePicker:                        32px;
@arrow_icon-size_shortDatePicker:                     @icon-size_s;

// Иконка "домик" в режиме годов

@home_offset-top_shortDatePicker:                     5px;
@home_offset-bottom_shortDatePicker:                  14px;

// Заголовки годов в списке

@grouping_height_shortDatePicker:                     @item_height_shortDatePicker;
@grouping_text-color_shortDatePicker:                 @link_text-color;
