// БЫСТРЫЙ ВЫБОР ПЕРИОДА

//Цвет фона контрола
@background-color_shortDatePicker:                    @background-color;

//Ширина бордера контрола
@border-thickness_shortDatePicker:                    @border-thickness;

//Цвет бордера контрола
@border-color_shortDatePicker:                        @border-color_sticky;

//Цвет тени контрола
@box-shadow-color_shortDatePicker:                    rgba(0,0,0,0.35);

//Размер тени контрола
@box-shadow-size_shortDatePicker:                     0 0 6px 0;

//Размер шрифта у года, месяца или квартала в зависимости от выбранного режима
@item_font-size_shortDatePicker:                      @font-size_l;

//Цвет шрифта у года, месяца или квартала в зависимости от выбранного режима
@item_text-color_shortDatePicker:                     @text-color;

//Цвет выбранного года, месяца или квартала в зависимости от выбранного режима
@item_selected_text-color_shortDatePicker:            @link_text-color;

//Ширина контрола в режиме 'Только года'
@min-width_shortDatePicker:                           80px;

//Ширина котнрола в режиме 'Только месяца' и 'Только кварталы'
@monthly_min-width_shortDatePicker:                   146px;

//Ширина котнрола в режиме 'Полный год'
@quarterly_min-width_shortDatePicker:                 176px;

//Цвет бордера года, месяца или квартала в зависимости от выбранного режима
@item_border-color_shortDatePicker:                   transparent;

//Ширина бордера года, месяца или квартала в зависимости от выбранного режима
@item_border-thickness_shortDatePicker:               @border-thickness;

//Цвет бордера года, месяца или квартала в зависимости от выбранного режима при наведении
@item_hover_border-color_shortDatePicker:             #8991A9;

//Цвет бордера года, месяца или квартала в зависимости от выбранного режима при нажатии
@item_active_border-color_shortDatePicker:            @item_hover_border-color_shortDatePicker;

//Цвет фона года, месяца или квартала в зависимости от выбранного режима
@item_background-color_shortDatePicker:               @background-color_shortDatePicker;

//Цвет фона года, месяца или квартала в зависимости от выбранного режима при наведении
@item_hover_background-color_shortDatePicker:         @item_background-color_shortDatePicker;

//Ширина бордера года, месяца или квартала в зависимости от выбранного режима при нажатии
@item_active_background-color_shortDatePicker:         @item_hover_background-color_shortDatePicker;

//Высота года, месяца или квартала в зависимости от выбранного режима
@item_height_shortDatePicker:                         32px;

//Высота строки года, месяца, или квартала в зависимотси от выбранного режима
@item_line-height_shortDatePicker:                    32px;

//Размер шрифта периода в шапке контрола
@header_font-size_shortDatePicker:                    @font-size_l;

//Цвет шрифта периода в шапке контрола
@header_text-color_shortDatePicker:                   @secondary_text-color_heading;

//Насыщенность шрифта в шапке контрола
@header_font-weight_shortDatePicker:                   bold;

//Высота шапки контрола
@header_height_shortDatePicker:                       @header_min-height_sticky;

//Внутренний отступ в шапке контрола слева и справа
@header_padding-horizontal_shortDatePicker:           10px;

//Фон шапки контрола слева и справа
@header_background-color_shortDatePicker:           @header_background-color_sticky;

//Высота года в тулбаре
@yearselector_height_shortDatePicker:                 32px;

//Цвет фона года тулбара
@yearselector_background-color_shortDatePicker:       @background-color_shortDatePicker;

//Размер стрелок в тулбаре
@yearselector_arrow_icon-size_shortDatePicker:        @arrow_icon-size_shortDatePicker;

//Цвет стрелок в тулбаре
@yearselector_arrow_icon-color_shortDatePicker:       @arrow_icon-color_shortDatePicker;

//Цвет стрелок в тулбаре при наведении
@yearselector_arrow_hover_icon-color_shortDatePicker: @arrow_hover_icon-color_shortDatePicker;

//Цвет стрелок в тулбаре при нажатии
@yearselector_arrow_active_icon-color_shortDatePicker:@arrow_active_icon-color_shortDatePicker;

//Ширина стрелок в тулбаре
@yearselector_arrow_width_shortDatePicker:            32px;

//Высота стрелки в тулбаре
@yearselector_arrow_height_shortDatePicker:           @yearselector_height_shortDatePicker;

//Ширина иконки-домика в тулбаре
@yearselector_home_width_shortDatePicker:             24px;

//Ширина иконки-домика в ежеквартальном режиме выбора
@quarterly_yearselector_home_width_shortDatePicker:   32px;

//Высота иконки-домика в тулбаре
@yearselector_home_height_shortDatePicker:            @yearselector_height_shortDatePicker;

//Цвет шрифта в тулбаре
@yearselector_text-color_shortDatePicker:             @link_text-color;

//Размер шрифта в тулбаре
@yearselector_font-size_shortDatePicker:              @font-size_l;

//Отступ слева от года в тулбаре в ежеквартальном режиме выбора
@quarterly_yearselector_padding-left_shortDatePicker: 12px;

//Цвет разделительное полосы
@separator_color_shortDatePicker:                     #F4F4F4;

//Ширина разделительной полосы
@separator_thickness_shortDatePicker:                 4px;

//Цвет текста в квартале ежеквартальном режиме выбора
@quarterly_quarters_text-color_shortDatePicker:                 @link_text-color;

//Цвет текста в квартале в ежеквартальном режиме выбора при наведении
@quarterly_quarters_hover_text-color_shortDatePicker:       @link_hover_text-color;

//Цвет текста в квартале в ежеквартальном режиме выбора рпри нажатии
@quarterly_quarters_active_text-color_shortDatePicker:@quarterly_quarters_hover_text-color_shortDatePicker;

//Ширина квартала в ежеквартальном режиме выбора
@quarterly_quarters_width_shortDatePicker:            28px;

//Ширина полугодия в ежеквартальном режиме выбора
@quarterly_halfyears_width_shortDatePicker:           30px;

//Цвет фона квартала в ежеквартальном режиме выбора
@quarterly_quarters_background-color_shortDatePicker: @item_background-color_shortDatePicker;

//Отступ от правого края до галочки
@item_checkbox_offset-right_shortDatePicker:          12px;

//Отступ месяца слева в ежеквартальном режиме выбора
@quarterly_item-padding-left_shortDatePicker:         8px;

//Цвет стрелки в режиме 'Только года'
@arrow_icon-color_shortDatePicker:                    @link_text-color;

//Цвет стрелки в режиме 'Только года' при наведении
@arrow_hover_icon-color_shortDatePicker:              @link_hover_text-color;

//Цвет стрелки в режиме 'Только года' при нажатии
@arrow_active_icon-color_shortDatePicker:             @link_hover_text-color;

//Высота стрелки в режиме 'Только года'
@arrow_height_shortDatePicker:                        32px;

//Размер стрелки в режиме 'Только года'
@arrow_icon-size_shortDatePicker:                     @icon-size_s;

//Отступ от верхнего края до иконки-домика в режиме 'Только года'
@home_offset-top_shortDatePicker:                     5px;

//Отсутп от левого края до иконки-домика в режиме 'Только года'
@home_offset-bottom_shortDatePicker:                  14px;

//Высота блока разделяющего года
@grouping_height_shortDatePicker:                     @item_height_shortDatePicker;

//Цвет текста внутри блока разделяющего года
@grouping_text-color_shortDatePicker:                 @link_text-color;
