//Слайдер
//размер ползунка s
@marker_s_size_slider:                                                      12px;

//размер ползунка l
@marker_l_size_slider:                                                      20px;

//высота слайдера
@height_slider:                                                             @inline_height_m;

//цвет обводки слайдера
@border-color_slider:                                                       #E4E4E4;

//толщина обводки слайдера
@border-thickness_slider:                                                   @border-thickness;

//радиус скругления обводки слайдера
@border-radius_slider:                                                      @height_slider/2;

//горизонтальный отступ в слайдере
@padding-horizontal_slider:                                                 14px;

//отступ между линией слайдера и шкалой
@indent_between_line_and_scale:                                             10px;

//цвет фона ползунка
@marker_background-color_slider:                                            @background-color;

//толщина обводки ползунка
@marker_border-thickness_slider:                                            2px;

//цвет обводки ползунка
@marker_border-color_slider:                                                @secondary_color;

//цвет обводки ползунка в режиме чтения
@readonly_marker_border-color_slider:                                       @readonly_color;

//толщина линии слайдера
@track_thickness_slider:                                                    2px;

//цвет линии слайдера выделенной области
@track_color_slider:                                                        @secondary_color;

//цвет линии слайдера в свободном состоянии
@unselected_track_color_slider:                                             @unaccented_color;

//цвет линии слайдера в режиме чтения
@readonly_track_color_slider:                                               @readonly_color;

//цвет фона ползунка при наведении
@marker_hover_background-color_slider:                                      @hover_background-color;

//цвет обводки ползунка при наведении
@marker_hover_border-color_slider:                                          @unaccented_color;

//размер шрифта шкалы
@scale_font-size_slider:                                                    @font-size_m;

//цвет текста шкалы
@scale_text-color_slider:                                                   @unaccented_text-color;

//цвет текста шкалы в режиме чтения
@readonly_scale_text-color_slider:                                          #CCCCCC;

//высота разделителя слайдера
@tick_height_slider:                                                        4px;

//толщина разделителя слайдера
@tick_thickness_slider:                                                     1px;

//цвет разделителя слайдера
@tick_color_slider:                                                         @unselected_track_color_slider;

//цвет разделителя слайдера в режиме чтения
@readonly_tick_color_slider:                                                @readonly_track_color_slider;

//горизонтальный отступ в тултипе слайдера
@tooltip_padding-horizontal_slider:                                         8px;

//вертикальный отступ в тултипе слайдера
@tooltip_padding-vertical_slider:                                           4px;

//цвет фона тултипа слайдера
@tooltip_background-color_slider:                                           @marker_background-color_slider;

//толщина обводки тултипа слайдера
@tooltip_border-thickness_slider:                                           0;

//цвет обводки тултипа слайдера
@tooltip_border-color_slider:                                               transparent;

//радиус скругления обводки тулипа слайдера
@tooltip_border-radius_slider:                                              4px;

//тень тултипа слайдера
@tooltip_box-shadow_slider:                                                 0 0 6px 0 #999999;

//размер шрифта тултипа
@tooltip_font-size_slider:                                                  @font-size_l;

//отступ между тултипом и ползунком
@tooltip_offset_slider:                                                     2px;
