// Переменные для спойлера
//
// Размеры

@inline_height_spoilerHeading:                                              @inline_height_m;

// Текст

@text-color_collapsed_spoilerHeading:                                       @label_text-color;
@text-color_collapsed_hover_spoilerHeading:                                 @secondary_text-color;
@text-color_expanded_spoilerHeading:                                        @secondary_text-color;
@text-color_expanded_hover_spoilerHeading:                                  @secondary_text-color;

// Иконка

@icon-color_collapsed_spoilerHeading:                                       @label_text-color;
@icon-color_collapsed_hover_spoilerHeading:                                 @secondary_text-color;
@icon-color_expanded_spoilerHeading:                                        @secondary_text-color;
@icon-color_expanded_hover_spoilerHeading:                                  @secondary_text-color;
@icon-size_spoilerHeading:                                                  @icon-size_s;

// Separator
//
// Отступы

@margin-top_s_Separator:                                                 @offset_3xs;
@margin-horizontal_s_Separator:                                          0px;
@margin-bottom_s_Separator:                                              @offset_2xs;
@margin-top_m_Separator:                                                 @offset_3xs;
@margin-horizontal_m_Separator:                                          0px;
@margin-bottom_m_Separator:                                              @offset_xs;
@margin-top_l_Separator:                                                 @offset_xs;
@margin-horizontal_l_Separator:                                          0px;
@margin-bottom_l_Separator:                                              @offset_m;

// Высота контейнера

@height-container_s_Separator:                                           14px;
@height-container_m_Separator:                                           18px;
@height-container_l_Separator:                                           30px;
