// Переменные для спойлера
//
// Размеры

@inline_height_spoilerHeading:                                              @inline_height_m;

// Текст

@text-color_collapsed_spoilerHeading:                                       @label_text-color;
@text-color_collapsed_hover_spoilerHeading:                                 @secondary_text-color;
@text-color_expanded_spoilerHeading:                                        @secondary_text-color;
@text-color_expanded_hover_spoilerHeading:                                  @secondary_text-color;

// Иконка

@icon-color_collapsed_spoilerHeading:                                       @label_text-color;
@icon-color_collapsed_hover_spoilerHeading:                                 @secondary_text-color;
@icon-color_expanded_spoilerHeading:                                        @secondary_text-color;
@icon-color_expanded_hover_spoilerHeading:                                  @secondary_text-color;
@icon-size_spoilerHeading:                                                  @icon-size_s;

// ListCut
//
// Отступы

@footer_offset-top_s_ListCut:                                               @offset_3xs;
@footer_offset-horizontal_s_ListCut:                                        0px;
@footer_offset-bottom_s_ListCut:                                            @offset_2xs;
@footer_offset-top_m_ListCut:                                               @offset_3xs;
@footer_offset-horizontal_m_ListCut:                                        0px;
@footer_offset-bottom_m_ListCut:                                            @offset_xs;
@footer_offset-top_l_ListCut:                                               @offset_xs;
@footer_offset-horizontal_m_ListCut:                                        0px;
@footer_offset-bottom_l_ListCut:                                            @offset_m;
