// Переменные для автодополнения с полем поиска

@box-shadow-size_suggestSearch:                         0 0 6px 0;
@padding-top_suggestSearch:                             8px;
@padding-left_suggestSearch:                            12px;
@tabs_offset-top_suggestSearch:                         0;
