//Ширина границы автодополнения
@popup_border-thickness_suggest:                        @border-thickness;

//Цвет границы автодополнения
@popup_border-color_suggest:                            #ccc;

//Цвет кнопки "показать все"
@showall_text-color_suggest:                            @link_text-color;

//Высота кнопки "Показать все"
@footer_height_suggest:                                 24px;

//Цвет кнопки "показать все" при наведении
@showall_hover_text-color_suggest:                      @link_hover_text-color;

//Цвет кнопки "показать все" при фокусе
@showall_active_text-color_suggest:                     @link_hover_text-color;

//Горизонтальный отступ кнопки "показать все"
@showall_padding-horizontal_suggest:                    8px;

//Размер шрифта кнопки "показать все"
@showall_font-size_suggest:                             @font-size_m;

//Размер шрифта кнопки "еще"
@more_font-size_suggest:                                @font-size_m;

//Цвет кнопки "еще"
@more_text-color_suggest:                               @link_text-color;

//Цвет кнопки "еще" при наведении
@more_hover_text-color_suggest:                         @link_hover_text-color;

//Цвет кнопки "еще" при фокусе
@more_active_text-color_suggest:                        @link_hover_text-color;

//Горизонтальный отступ кнопки "еще"
@more_padding-horizontal_suggest:                       8px;

//Нижний отступ вкладок
@tabs_offset-bottom_suggest:                            8px;

//Горизонтальный отступ подсказки
@misspell_padding-horizontal_suggest:                   12px;

//Интервал между кнопкой "Очистить" и индикатором загрузки
@spinner_offset_suggest:                                4px;

//Размер кнопки "Очистить"
@reset-button_icon-size_suggest:                        @icon-size_s;

//Цвет кнопки "Очистить"
@reset-button_icon-color_suggest:                       #CCC;

//Интервал между правой границей ввода и блоком с иконками
@reset-button_offset_suggest:                           4px;

//Верхний оступ вкладок в автодополнении
@tabs_offset-top_suggest:                               8px;

//Размер тени автодополнения
@box-shadow-size_suggestSearch:                         0 0 6px 0;

//Цвет тени автодополнения
@box-shadow-color_suggestSearch:                        rgba(0,0,0,0.2);

//Отступ сверху в автодополнении
@padding-top_suggestSearch:                             8px;

//Отступ слева в автодополнении
@padding-left_suggestSearch:                            12px;

//Верхний оступ вкладок в строке поиска с автодополнением
@tabs_offset-top_suggestSearch:                         0;

//Ширина тени в автодополнении
@box-shadow-offset_suggestSearch:                       4px;

//Размытие тени в автодополнении
@box-shadow-blur_suggestSearch:                         6px;

