// Переменные для окна автодополнения
//
// Граница

@popup_border-thickness_suggest:                        @border-thickness;
@popup_border-color_suggest:                            @border-color;
@box-shadow-color_suggest:                              rgba(0,0,0,0.2);
@box-shadow-offset_suggest:                             4px;
@box-shadow-blur_suggest:                               6px;

// Кнопки в футере
@footer_height_suggest:                                 24px;
@showall_text-color_suggest:                            @link_text-color;
@showall_hover_text-color_suggest:                      @link_hover_text-color;
@showall_active_text-color_suggest:                     @link_hover_text-color;
@showall_padding-horizontal_suggest:                    8px;
@showall_font-size_suggest:                             @font-size_m;

@more_font-size_suggest:                                @font-size_m;
@more_text-color_suggest:                               @link_text-color;
@more_hover_text-color_suggest:                         @link_hover_text-color;
@more_active_text-color_suggest:                        @link_hover_text-color;
@more_padding-horizontal_suggest:                       8px;

// Кнопка сброса

@reset-button_icon-size_suggest:                        @icon-size_s;
@reset-button_icon-color_suggest:                       #CCC;
@reset-button_offset_suggest:                           4px;

// Дополнительные элементы

@tabs_offset-bottom_suggest:                            8px;
@tabs_offset-top_suggest:                               8px;
@misspell_padding-horizontal_suggest:                   12px;
@spinner_offset_suggest:                                4px;



// Переменные для автодополнения с полем поиска

@box-shadow-size_suggestSearch:                         0 0 6px 0;
@padding-top_suggestSearch:                             8px;
@padding-left_suggestSearch:                            12px;
@tabs_offset-top_suggestSearch:                         0;
