//Вкладки
@secondary_item_font-size_tabs:                                             @font-size_l;
@secondary_item_text-color_tabs:                                            @link_text-color;
@primary_item_font-size_tabs:                                               @font-size_l;
@primary_item_text-color_tabs:                                              @primary_text-color;
@unselected_item_font-size_tabs:                                            @font-size_m;
@unselected_item_text-color_tabs:                                           @secondary_text-color;
@item_height_tabs:                                                          31px;
@border-thickness_tabs:                                                     @border-thickness;
@border-color_tabs:                                                         #F0F0F0;
@item_max-width_tabs:                                                       630px;
@separator_thickness_tabs:                                                  1px;
@separator_length_tabs:                                                     12px;
@separator_color_tabs:                                                      #EAEAEA;
@marker_thickness_tabs:                                                     2px;
@secondary_marker_color_tabs:                                               @link_text-color;
@primary_marker_color_tabs:                                                 #D94700;
@padding-horizontal_tabs:                                                   12px;
@marker_hover_color_tabs:                                                   #EAEAEA;
