// Переменные для плитки
//
// Оступы внутри плитки

@padding-left_xs_tile:                      @offset_xs;
@padding-left_2xs_tile:                     0;
@padding-left_3xs_tile:                     0;
@padding-right_2xs_tile:                    0;
@padding-right_3xs_tile:                    0;
@padding-right_xs_tile:                     @offset_xs;
@padding-left_s_tile:                       @item_padding-left_s_list;
@padding-right_s_tile:                      @item_padding-right_s_list;
@padding-left_m_tile:                       @item_padding-left_m_list;
@padding-right_m_tile:                      @item_padding-right_m_list;
@padding-left_l_tile:                       @item_padding-left_l_list;
@padding-right_l_tile:                      @item_padding-right_l_list;
@padding-left_xl_tile:                      @item_padding-left_xl_list;
@padding-right_xl_tile:                     @item_padding-right_xl_list;
@padding-left_2xl_tile:                     @item_padding-left_2xl_list;
@padding-right_2xl_tile:                    @item_padding-right_2xl_list;
@padding-left_default_tile:                 0;
@padding-right_default_tile:                0;
@padding-top_tile:                          @offset_xs;
@padding-bottom_tile:                       @offset_xs;

// Отступы между плитками

@item_offset_tile:                          @offset_m;
@item_offset_3xs_tile:                      @offset_3xs;
@item_offset_2xs_tile:                      @offset_2xs;
@item_offset_xs_tile:                       @offset_xs;
@item_offset_s_tile:                        @offset_s;
@item_offset_m_tile:                        @offset_m;
@item_offset_l_tile:                        @offset_m;
@item_offset_xl_tile:                       @offset_m;
@item_offset_2xl_tile:                      @offset_m;

// Цвет фона элементов

@item_backgorund-color_tile:                @background-color;
@item_shadow-size_tile:                     0 0 6px 0;
@item_shadow-color_tile:                    rgba(0, 0, 0, 0.15);
@item_hover_background-color_tile:          @hover_background-color;
@item_hover_shadow-color_tile:              rgba(0, 0, 0, 0.45);

// Обводка элементов

@item_border-thickness_tile:                @border-thickness;
@item_border-color_tile:                    @border-color;
@item_marked_border-color_tile:             @marker_color;

// Операции над записью

@itemActions_offset-right_tile:             0;
@itemActions_offset-bottom_tile:            0;



// Переменные для текстовой подписи в плитках
//
// Размеры и отступы

@unaccented_item_caption_min-height_tile:                   18px;
@unaccented_item_caption_max-height_tile:                   @unaccented_item_caption_min-height_tile * 2;
@unaccented_item_caption_padding-top_tile:                  @offset_2xs;
@unaccented_item_caption_padding-right_tile:                @offset_2xs;
@unaccented_item_caption_padding-bottom_tile:               @offset_3xs;
@unaccented_item_caption_padding-left_tile:                 @offset_2xs;

@item_caption_min-height_tile:                              @inline_height_m;
@item_caption_max-height_tile:                              @item_caption_min-height_tile;
@item_caption_padding-top_tile:                             @offset_xs;
@item_caption_padding-right_tile:                           @offset_xs;
@item_caption_padding-bottom_tile:                          @offset_xs;
@item_caption_padding-left_tile:                            @offset_xs;

// Разделитель

@item_caption_separator-color_tile:                         #CCCCCC;
@item_caption_separator-thickness_tile:                     1px;

// Цвет фона

@item_caption_background-color_tile:                        @hover_background-color;
@itemActions_gradient_width_tile:                           24px;

// Текст

@item_caption_text-color_tile:                              @secondary_text-color;
@unaccented_item_caption_text-color_tile:                   @text-color;

@node_height_tile:                                          40px;
@node_hover_background-color_tile:                          @hover_background-color;
@node_shadow-size_tile:                                     @item_shadow-size_tile;
@node_shadow-color_tile:                                    @item_hover_shadow-color_tile;
@node_caption_padding-right_tile:                           @offset_2xs;
@node_caption_padding-left_tile:                            @offset_2xs;
@node_font-size_tile:                                       @font-size_l;
@node_icon_offset_tile:                                     @offset_2xs;

//Простой шаблон с картинкой и однострочным текстом (smallTemplate)
@image_height_l_small_tile:                                @icon-size_l;
@image_height_m_small_tile:                                @icon-size_m;
@image_width_l_small_tile:                                 @icon-size_l;
@image_width_m_small_tile:                                 @icon-size_m;
@image_offset_small_tile:                                  @offset_xs;

@title_offset_right_small_tile:                            11px;
@title_offset_left_small_tile:                             @offset_2xs;

@height_item_small_tile:                                   40px;
@width_item_small_tile:                                    40px;

//Богатый настраиваемый шаблон элемента
@image_height_s_position_top_rich_tile:                    180px;
@image_height_m_position_top_rich_tile:                    240px;
@image_height_l_position_top_rich_tile:                    320px;
@image_height_s_position_vertical_rich_tile:               190px;
@image_height_m_position_vertical_rich_tile:               190px;
@image_height_l_position_vertical_rich_tile:               190px;
@image_width_s_position_vertical_rich_tile:                190px;
@image_width_m_position_vertical_rich_tile:                190px;
@image_width_l_position_vertical_rich_tile:                190px;
@item_actions_height_rich_tile:                            @inline_height_l;
@item_actions_width_rich_tile:                             @inline_height_l;

@gradient_height_rich_tile:                                48px;

//Средний шаблон с картинкой и многострочным текстом
@image_container_height_medium_tile:                       158px;
@image_height_medium_tile:                                 96px;
@image_width_medium_tile:                                  96px;

@itemActions_offset_bottom_medium_tile:                    @offset_2xs;
@height_medium_tile:                                       158px;

//Плитка-превью
@gradient_dark_height_preview_tile:                        14px;
@gradient_light_height_preview_tile:                       4px;

@title_single_line_height_preview_tile:                    @inline_height_xl;
@title_multi_line_height_preview_tile:                     48px;

@top_template_offset_right_preview_tile:                   @offset_xs;
@top_template_offset_top_preview_tile:                     @offset_xs;
@icon_style_color_tile_dark_preview_tile:                  #666666;

@item_actions_shadow_size_rich_tile:                       0 2px 6px 0;
@item_actions_shadow_color_rich_tile:                      rgba(0, 0, 0, 0.15);

@menu_width_tile_preview_actions:                          200px;
@border_content_color_preview_actions:                     #EAEAEA;

@border_radius_3xs_tile:                                   2px;
@border_radius_2xs_tile:                                   4px;
@border_radius_xs_tile:                                    6px;
@border_radius_s_tile:                                     8px;
@border_radius_m_tile:                                     12px;
