// Переменные для кнопок с залипанием
//
// Обводка кнопок

@secondary_toggled_border-color_toggleButton_button:                        @secondary_color;
@primary_toggled_border-color_toggleButton_button:                          @primary_color;
@secondary_toggled_border-thickness_toggleButton_button:                    2px;
@primary_toggled_border-thickness_toggleButton_button:                      2px;

@secondary_toggled_border-color_toggleButton_toolButton:                    @secondary_color;

@secondary_toggled_border-color_toggleButton_pushButton:                    @secondary_color;
@secondary_border-color_toggleButton_pushButton:                            transparent;
@readonly_toggled_border-color_toggleButton_pushButton:                     @readonly_color;
@readonly_toggled_border-color_toggleButton_pushButton:                     @secondary_active_background-color_toggleButton_pushButton;

@border-radius_toggleButton_pushButton:                                     2px;

// цвет фона

@secondary_background-color_toggleButton_pushButton:                        transparent;
@secondary_hover_background-color_toggleButton_pushButton:                  transparent;
@secondary_active_background-color_toggleButton_pushButton:                 transparent;
@readonly_background-color_toggleButton_pushButton:                         transparent;
@secondary_toggled_background-color_toggleButton_pushButton:                #F3F3F3;
@readonly_toggled_background-color_toggleButton_pushButton:                 transparent;
@secondary_contrast_background-color_toggleButton_pushButton:               transparent;
@secondary_contrast_hover_background-color_toggleButton_pushButton:         @hover_background-color;
@secondary_contrast_active_background-color_toggleButton_pushButton:        transparent;
@readonly_contrast_background-color_toggleButton_pushButton:                transparent;
@secondary_contrast_toggled_background-color_toggleButton_pushButton:       @secondary_toggled_background-color_toggleButton_pushButton;
@readonly_contrast_toggled_background-color_toggleButton_pushButton:        transparent;

// тень

@box-shadow_toggleButton_pushButton:                                        none;



// Переменные для переключателей
//
// Размеры

@width_switcher:                                                            46px;
@height_switcher:                                                           @inline_height_m;

// Обводка

@border-thickness_switcher:                                                 @border-thickness;
@border-radius_switcher:                                                    @height_switcher/2;
@border-color_switcher:                                                     #E4E4E4;

// Текст

@font-size_switcher:                                                        @font-size_m;
@text_offset_switcher:                                                      @offset_xs;
@text-color_switcher:                                                       @text-color;
@unselected_text-color_switcher:                                            @unaccented_text-color;
@readonly_text-color_switcher:                                              @text-color;
@readonly_unselected_text-color_switcher:                                   @readonly_color;

// Полоска

@track_thickness_switcher:                                                  2px;
@track_length_switcher:                                                     34px;
@track_color_switcher:                                                      #CCC;
@readonly_track_color_switcher:                                             #E4E4E4;


//Маркер

@marker-box_border-thickness_switcher:                                      2px;
@marker-box_size_switcher:                                                  12px;
@marker-box_border-color_switcher:                                          @border-color;

@marker-size_switcher:                                                      @offset_xs;
@marker_color_switcher:                                                     @marker_color;
@readonly_marker_color_switcher:                                            @readonly_marker-color;
@readonly_marker-box_border-color_switcher:                                 #E4E4E4;
@marker-box_hover_border-color_switcher:                                    @marker_color_switcher;



// Переменные для большого разделителя
//
// Размеры
@height_BigSeparator-iconExpanded-size-s:                                   2px;
@height_BigSeparator-iconExpanded-size-m:                                   4px;
@width_BigSeparator-iconExpanded-size-s:                                    14px;
@width_BigSeparator-iconExpanded-size-m:                                    18px;
@width_BigSeparator-iconExpanded-size-l:                                    22px;
@height_BigSeparator-iconCollapsed-size-s:                                  4px;
@height_BigSeparator-iconCollapsed-size-m:                                  5px;
@height_BigSeparator-iconCollapsed-size-l:                                  6px;
@width_BigSeparator-iconCollapsed-size-s:                                   12px;
@width_BigSeparator-iconCollapsed-size-m:                                   16px;
@width_BigSeparator-iconCollapsed-size-l:                                   18px;
@height_BigSeparator-size-s:                                                8px;
@height_BigSeparator-size-m:                                                10px;
@height_BigSeparator-size-l:                                                @icon-size_2xs;
@width_BigSeparator-size-s:                                                 28px;
@width_BigSeparator-size-m:                                                 32px;
@width_BigSeparator-size-l:                                                 38px;
@border-BigSeparator-size-m:                                                6px;
@width_toggleBigSeparator:                                                  26px;
@height_toggleBigSeparator:                                                 @width_toggleBigSeparator;

// Отступы

@offset-s_BigSeparator-icon:                                                3px;
@offset-m_BigSeparator-icon:                                                7px;
@offset-l_BigSeparator-icon:                                                10px;

// Иконка

@icon-color_toggleBigSeparator:                                             #AAB0C1;
@icon-color_hover_toggleBigSeparator:                                       @secondary_hover_icon-color;
@icon-color_active_toggleBigSeparator:                                      @icon-color_hover_toggleBigSeparator;
@icon-size_toggleBigSeparator:                                              @width_toggleBigSeparator;
@icon-color_background-color-BigSeparator:                                  #F1F2F5;
@icon-color_readonly_toggleBigSeparator:                                    #666666;



// Переменные для малого разделителя
//
// Размеры

@height_toggleSeparator:                                                    @inline_height_default;
@width_toggleSeparator:                                                     @height_toggleSeparator;

// Иконка

@icon-size_toggleSeparator:                                                 @icon-size_s;
@primary_icon-color_toggleSeparator:                                        @primary_text-color;
@secondary_icon-color_toggleSeparator:				                            @secondary_icon-color;
@unaccented_icon-color_toggleSeparator:                                     @unaccented_icon-color;
@primary_hover_icon-color_toggleSeparator:                                  @primary_color;
@secondary_hover_icon-color_toggleSeparator:				                      @secondary_hover_icon-color;
@unaccented_hover_icon-color_toggleSeparator:				                   @secondary_hover_icon-color;
@primary_active_icon-color_toggleSeparator:				                      @primary_hover_icon-color_toggleSeparator;
@secondary_active_icon-color_toggleSeparator:				                   @secondary_hover_icon-color_toggleSeparator;
@unaccented_active_icon-color_toggleSeparator:	                            @unaccented_hover_icon-color_toggleSeparator;




// Переменные для чекбокса
//
// Размеры и отступы

@height_checkbox:                                                           @inline_height_m;
@click-area_width_checkbox:                                                 20px;
@padding-vertical_checkbox:                                                 3px;
@text_line-height_checkbox:                                                 18px;

// Текст

@font-size_checkbox:                                                        @font-size_m;
@text-color_checkbox:                                                       @text-color;
@readonly_text-color_checkbox:                                              @readonly_color;

// обводка маркера

@marker-box_border-color_checkbox:                                          @border-color;
@readonly_marker-box_border-color_checkbox:                                 #E4E4E4;
@marker-box_border-thickness_checkbox:                                      @border-thickness;
@marker-box_size_checkbox:                                                  12px;

// маркер

@true_marker_size_checkbox:                                                 18px;
@true_marker_padding-left_checkbox:                                         3px;
@true_marker_padding-top_checkbox:                                          0;
@tristate_marker_size_checkbox:                                             6px;

@marker_color_checkbox:                                                     @marker_color;
@readonly_marker_color_checkbox:                                            @readonly_marker-color;



// Переменные для группы чекбоксов
@item_offset_checkbox-group:                                                @offset_s;
@item_offset-right_checkbox-group:                                          @offset_m;
@hierarchy_padding-left_checkbox-group:                                     @offset_3xl;



// Переменные для группы радиокнопок
//
// Размер и отступы
@item_offset-vertical_radioGroup:                                           @offset_s;
@item_offset-horizontal_radioGroup:                                         @offset_m;
@item_height_radioGroup:                                                    @inline_height_m;

// Текст

@text_offset_radioGroup:                                                    @text_offset_switcher;
@font-size_radioGroup:                                                      @font-size_switcher;
@text-color_radioGroup:                                                     @text-color_switcher;
@readonly_text-color_radioGroup:                                            @readonly_text-color_switcher;
@unselected_text-color_radioGroup:                                          @unselected_text-color_switcher;
@readonly_unselected_text-color_radioGroup:                                 @readonly_unselected_text-color_switcher;

//Маркер

@marker_color_radioGroup:                                                   @marker_color_switcher;
@readonly_marker_color_radioGroup:                                          @readonly_marker_color_switcher;
@marker-size_radioGroup:                                                    @marker-size_switcher;
@marker-box_border-thickness_radioGroup:                                    @marker-box_border-thickness_switcher;
@marker-box_border-color_radioGroup:                                        @marker-box_border-color_switcher;
@readonly_marker-box_border-color_radioGroup:                               @readonly_marker-box_border-color_switcher;
@marker-box_hover_border-color_radioGroup:                                  @marker-box_hover_border-color_switcher;
@marker-box_size_radioGroup:                                                @marker-box_size_switcher;

