
@expander_s_padding-right_treeGrid:                               @offset_2xs;
@expander_s_padding-left_treeGrid:                                0;

@expander_m_padding-right_treeGrid:                               10px;
@expander_m_padding-left_treeGrid:                                @offset_2xs;

@expander_l_padding-right_treeGrid:                               14px;
@expander_l_padding-left_treeGrid:                                @offset_s;

@expander_xl_padding-right_treeGrid:                              18px;
@expander_xl_padding-left_treeGrid:                               @offset_m;

@expander_default_padding-right_treeGrid:                         @expander_s_padding-right_treeGrid;
@expander_default_padding-left_treeGrid:                          @expander_s_padding-left_treeGrid;

//Размеры иконки

@expander_width_treeGrid:                                         @icon-size_s;
@expander_height_treeGrid:                                        @icon-size_s;

//Иконка папки

@node_expander_icon-color_treeGrid:                               #313E78;
@node_expander_icon-size_treeGrid:                                @icon-size_s;
@node_expander_icon_font-family_treeGrid:                         @icon_font-family_s;
@node_expander_hover_icon-color_treeGrid:                         #0055BB;

//Иконка скрытого узла

@hidden-node_expander_icon-color_treeGrid:                        #8991A9;
@hidden-node_expander_icon_font-family_treeGrid:                  @icon_font-family_s;
@hidden-node_expander_icon-size_treeGrid:                         @icon-size_s;
@hidden-node_expander_hover_icon-color_treeGrid:                  #0055BB;

// Иконки узлов в мастере

@master_node_expander_icon-color_treeGrid:                        #8991A9;
@master_hidden-node_expander_icon-color_treeGrid:                 #8991A9;
@master_node_expander_icon-size_treeGrid:                         12px;
@master_hidden-node_expander_icon-size_treeGrid:                  12px;
@master_node_expander_hover_icon-color_treeGrid:                  #313E78;
@master_hidden-node_expander_hover_icon-color_treeGrid:           #0055BB;

@node-footer_max-font-size_treeGrid:                              @font-size_m;
@node-footer_more_font-size_treeGrid:                             @font-size_l;
@node-footer_min-heght:                                           25px;
@node-footer_padding-top:                                         3px;

//Драг н дроп

@item_droppable_border_thickness_treeGrid:                        2px;
@item_droppable_border_color_treeGrid:                            #0055BB;

// Размеры шрифта текста

@node_font-size_treeGrid:                                         @font-size_2xl;
@hidden-node_font-size_treeGrid:                                  @font-size_xl;
@leaf_font-size_treeGrid:                                         @item_font-size_m_grid;
