{{/* Настройка параметров импорта - прикладной компонент */}}
<div class="controls-ImportCustomizer-BaseParams-View">
   <div class="controls-ImportCustomizer-BaseParams-View__treatAs">
      В импортируемом файле:
      <SBIS3.CONTROLS.Switcher.Double
         class="controls-ImportCustomizer-BaseParams-View__replaceAllData"
         name="controls-ImportCustomizer-BaseParams-View__replaceAllData"
         state="{{replaceAllData ? 'on' : 'off'}}"
         stateOff="{[НастройщикИмпорта@@Только дополнения и изменения]}"
         stateOn="{[НастройщикИмпорта@@Все данные целиком]}"
         /*disposition="horizontal"*/
      />
   </div>
   {{/*<div class="">{[НастройщикИмпорта@@Тип номенклатуры]}</div>*/}}
</div>