<div class="controls-CompoundArea__new">
   <ws:if data="{{isTMPL(innerComponentOptions.template)}}">
      <ws:partial template="{{innerComponentOptions.template}}" scope="{{innerComponentOptions}}" />
   </ws:if>
   <ws:else>
      <div class="vDomWrapper"></div>
   </ws:else>
</div>