.controls-CompoundArea__new {
   .controls-DialogTemplate, .controls-DialogTemplate {
      box-shadow: none;
   }
}

/* Для совместимости, когда открывают новое меню на старой странице */
.controls-CompoundArea__new .controls-DropdownList__content {
   white-space: nowrap;
}
.controls-CompoundArea__new .controls-DropdownList__popup {
   border: none;
}