.controls-CompoundArea__new {
   height: 100%;

   .controls-DialogTemplate {
      box-shadow: none;
   }

   /* Для совместимости, когда открывают новое меню на старой странице */
   .controls-DropdownList__content {
      white-space: nowrap;
   }

   .controls-DropdownList__popup {
      border: none;
      max-height: 100vh;
   }

   .controls-ConfirmationTemplate {
      margin: 0;
   }
}