<div class="controls-itemActionsV controls-itemActionsV_{{itemActionsType}} {{itemData.isEditing ? 'controls-itemActionsV_editing'}}">
    <ws:for data="action in itemData.itemActions">
        <ws:if data="{{!!action.main ||!!action.additional || itemActionsType === 'outside'}}">
            <div  class="controls-itemActionsV__action {{!!action.style ? 'controls-itemActionsV__action_' + action.style}}{{!!action.iconDone ? ' controls-itemActionsV__action_done'}}{{!!action.iconError ? ' controls-itemActionsV__action_error'}}"
                  title="{{!!action.title ? action.title}}"
                  on:click="_onActionClick(action, itemData.item)">
                <ws:if data="{{!!action.icon}}">
                    <i class="{{action.icon}}"/>
                </ws:if>
                <ws:else data="{{!!action.title}}">
                    <span class="controls-itemActionsV__action_title">{{action.title}}</span>
                </ws:else>
            </div>
        </ws:if>
    </ws:for>
    <ws:if data ="{{itemData.isEditing && showToolbar}}">
        <div  class="controls-itemActionsV__action controls-itemActionsV__action_bordered controls-itemActionsV__action_done"
              title="Сохранить"
              on:click="_applyEdit(itemData.item)">
            <i class="icon-Yes icon-done controls-itemActionsV__action_icon icon-size"/>
        </div>
        <div  class="controls-itemActionsV__action controls-itemActionsV__action_bordered"  title="Отмена" on:click="_cancelEdit(itemData.item)">
            <i class="icon-Close icon-primary controls-itemActionsV__action_icon icon-size"/>
        </div>
    </ws:if>
    <ws:if data="{{itemData.itemActions && needActionsMenu(itemData.itemActions) && itemActionsType !== 'outside' && !itemData.isEditing}}">
        <div class="controls-itemActionsV__menuOpen"  on:click="_showActionsMenu(itemData)">
            <i class="controls-itemActionsV__menuOpen_icon  icon-size icon-ExpandDown icon-primary"/>
        </div>
    </ws:if>
</div>