<ws:partial
        template="{{_options.content}}"
        scope="{{_options}}">
    <ws:itemActionsTemplate>
        <ws:partial
                menuIsShown="{{_options.menuIsShown}}"
                template="tmpl!Controls/List/ItemActions/resources/ItemActionsTemplate"
                itemActionsType="{{_options.itemActionsType}}"
                scope="{{itemActionsTemplate}}"/>
    </ws:itemActionsTemplate>
</ws:partial>
