.ws-itemActions {
  display: none;
  position:absolute;
}

.ws-itemActions_inline {
  right: 8px;
  bottom: 3px;
  height: 24px;
  background-color: @default-bg-color-hovered-item;
}

.ws-itemActions_underline {
  right: 0;
  bottom: -29px;
  height: 29px;
  background-color: @default-bg-color-hovered-item;
  z-index: 1;
  &:before {
    content:'';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 29px solid #F0F5FB;
    border-left: 24px solid transparent;
    left: -24px;
  }
}

.ws-itemActions__action, .ws-itemActions__menuOpen {
  .inline-flexbox();
  .align-items(center);
  height: 100%;
  margin: 0 6px;
}

.ws-itemActions__action_icon {
  .icon-size-without-important(@default-icon-size-medium, @default-icon-medium-font);
  margin-right: 6px;
}

.ws-itemActions__menuOpen_icon {
  .icon-size-without-important(@default-icon-size-medium, @default-icon-medium-font);
}
.ws-itemActions__action_caption {
  color: #05b;
}

.ws-itemActions__menu {
  margin-top: -6px;
  margin-left: 6px - 2px;//border or ya hz chto eto takoe
}