.controls-ListCut-container_s_theme-@{themeName} {
    height: @height_s_ListCut;
    padding: @padding-top_s_ListCut @padding-horizontal_s_ListCut @padding-bottom_s_ListCut;
 }
 
 .controls-ListCut-container_m_theme-@{themeName} {
    height: @height_m_ListCut;
    padding: @padding-top_m_ListCut @padding-horizontal_m_ListCut @padding-bottom_m_ListCut;
 }
 
 .controls-ListCut-container_l_theme-@{themeName} {
    height: @height_l_ListCut;
    padding: @padding-top_l_ListCut @padding-horizontal_l_ListCut @padding-bottom_l_ListCut;
 }