.controls-ListCut-container_s_theme-@{themeName} {
   height: @height_s_ListCut;
   margin: @margin-top_s_ListCut @margin-horizontal_s_ListCut @margin-bottom_s_ListCut;
}
 
 .controls-ListCut-container_m_theme-@{themeName} {
   height: @height_m_ListCut;
   margin: @margin-top_m_ListCut @margin-horizontal_m_ListCut @margin-bottom_m_ListCut;
}
 
 .controls-ListCut-container_l_theme-@{themeName} {
   height: @height_l_ListCut;
   margin: @margin-top_l_ListCut @margin-horizontal_l_ListCut @margin-bottom_l_ListCut;
}
