.controls-CheckBox {
  display: inline-block;
  position: relative;
  line-height: @height_CheckBox;//todo: при переписывании чекбоксов необходимо учесть что можно сделать на флексах и не задавать данное свойство
}

.controls-CheckBox__caption {
  word-wrap: break-word;
  margin-left: @width_CheckBox;//todo: ???
  line-height: @check-box-caption-line-height;
}

.controls-CheckBox__icon {
  display: inline-block;
  position: absolute;
  left: 0;
  &:before {
    font-family: @icon-font;
  }
}

.controls-CheckBox__caption_size {
  font-size: @check-box-font-size;
  padding: @check-box-caption-padding;
}

.controls-CheckBox__icon_size {
  .checkbox();
}

.controls-CheckBox__iconBox:before {
  content: '';
  top: 0px;
  left: 0px;
}

.controls-CheckBox__iconBox_size {
  .checkbox-border-size();
}

.controls-Checked__checked {
  &>.controls-CheckBox__icon {
    .checkbox-checked-size();
  }
}

.controls-ToggleButton__null {
  &>.controls-CheckBox__icon {
    .checkbox-null-size();
  }
}

.controls-CheckBox__caption_empty {
  width: 0px;
  visibility: hidden;
}

.ws-enabled {
  &.controls-CheckBox {
    cursor: pointer;
    .controls-CheckBox__caption {
      color: @default-text-color;
    }
  }
}

.ws-disabled {
  &.controls-CheckBox {
    cursor: default;
    &.controls-Checked__checked,
    &.controls-ToggleButton__null {
      .controls-CheckBox__caption {
        color: @default-text-color;
      }
    }
    .controls-CheckBox__caption {
      color: @check-box-disabled-color;
    }
  }
}

.checkbox-checked-color(@primary-color, @check-box-checked-disabled-color, controls-CheckBox__icon);
.checkbox-null-color(@primary-color, @check-box-checked-disabled-color, controls-CheckBox__icon);
.checkbox-border-color(@check-box-icon-box-color, @check-box-disabled-color, controls-CheckBox__iconBox_color);