.controls-CheckBox {
  display: inline-block;
  line-height: @check-box-icon-size;
  //TODO: удалить стиль и переменную, когда перейдем на carrynew и prestonew.
  margin-right: @check-box-caption-margin-left;
}

.controls-CheckBox__caption {
  word-wrap: break-word;
  line-height: @check-box-caption-line-height;
}

.controls-CheckBox__icon {
  display: inline-block;
  position: relative;
  float: left;
  &:before {
    font-family: @icon-font;
  }
}

.controls-CheckBox__caption_size {
  font-size: @check-box-font-size;
  margin-left: @check-box-icon-size;
  padding: @check-box-caption-padding;
}

.controls-CheckBox__icon_size {
  .checkbox(@check-box-icon-size);
}

.controls-CheckBox__iconBox:before {
  content: '';
  top: 0px;
  left: 0px;
}

.controls-CheckBox__iconBox_size {
  .checkbox-border-size(@check-box-icon-size, @check-box-icon-box-size, @default-border-width);
}

.controls-Checked__checked {
  &>.controls-CheckBox__icon {
    .checkbox-checked-size(@check-box-icon-successful-size, @check-box-icon-successful-left, @check-box-icon-successful-top);
  }
}

.controls-ToggleButton__null {
  &>.controls-CheckBox__icon {
    .checkbox-null-size(@check-box-icon-size, @check-box-icon-null-size);
  }
}

.controls-CheckBox__caption_empty {
  width: 0px;
  visibility: hidden;
}

.ws-enabled {
  &.controls-CheckBox {
    cursor: @default-hover-cursor;
    .controls-CheckBox__caption {
      color: @default-text-color;
    }
  }
}

.ws-disabled {
  &.controls-CheckBox {
    cursor: @disabled-hover-cursor;
    .controls-CheckBox__caption {
      color: @check-box-disabled-color;
    }
  }
}

.checkbox-checked-color(@primary-color, @check-box-disabled-color, controls-CheckBox__icon);
.checkbox-null-color(@primary-color, @check-box-disabled-color, controls-CheckBox__icon);
.checkbox-border-color(@check-box-icon-box-color, @check-box-disabled-color, controls-CheckBox__iconBox_color);