<span
    class="controls-CheckBox{{ checked===true ? ' controls-Checked__checked'}}{{ checked===null && threeState ? ' controls-ToggleButton__null'}}" title="{{ tooltip }}">
    <i class="controls-CheckBox__icon">&nbsp;</i>
    <ws:partial template="{{_contentTemplate}}" scope="{{...}}" />
</span>