.controls-CheckBox {
   cursor: pointer;
   display: inline-block;
}
.controls-CheckBox__icon {
   width: 16px;
   height: 16px;
   background: url('resources/CheckBox.png') 0 1px;
   margin: 1px 4px 0 0;
   display: inline-block;
}
.controls-CheckBox:hover .controls-CheckBox__icon{
   background-position: 0 17px;
}

.controls-CheckBox.controls-ToggleButton__checked .controls-CheckBox__icon{
   background-position: 0 49px;
}
