.controls-CheckBox {
  cursor: pointer;
  display: inline-block;

  .controls-CheckBox__caption {
     display: inline-block;
    margin: @check-box-text-margin;
    color: @check-box-text-color;
  }

  .controls-CheckBox__icon {
    display: inline-block;
    width: @check-box-icon-width;
    height: @check-box-icon-height;
    line-height: @check-box-icon-line-height;
    border: @check-box-icon-border;
    background: @check-box-icon-bg;
  }

  &:hover, &.ws-has-focus {
    .controls-CheckBox__caption {
      color: @check-box-hover-text-color;
    }

    .controls-CheckBox__icon {
      border: @check-box-icon-hover-border;
      background: @check-box-icon-hover-bg;
    }
  }

  &.controls-Checked__checked {
    .controls-CheckBox__caption {
      color: @check-box-checked-text-color;
    }

    .controls-CheckBox__icon {
      border: @check-box-icon-checked-border;
      background: @check-box-icon-checked-bg;
    }

    &:hover {
      .controls-CheckBox__caption {
        color: @check-box-checked-hover-text-color;
      }

      .controls-CheckBox__icon {
        border: @check-box-icon-checked-hover-border;
        background: @check-box-icon-checked-hover-bg
      }
    }
  }

  &.controls-ToggleButton__null {
    .controls-CheckBox__caption {
      color: @check-box-third-state-text-color;
    }

    .controls-CheckBox__icon {
      border: @check-box-icon-third-state-border;
      background: @check-box-icon-third-state-bg;
    }

    &:hover {
      .controls-CheckBox__caption {
        color: @check-box-third-state-hover-text-color;
      }

      .controls-CheckBox__icon {
        border: @check-box-icon-third-state-hover-border;
        background: @check-box-icon-third-state-hover-bg;
      }
    }

    &.ws-disabled {
      .controls-CheckBox__icon {
        background: @check-box-icon-disabled-third-state-bg;
      }

      &:hover {
        .controls-CheckBox__icon {
          background: @check-box-icon-disabled-third-state-bg;
        }
      }
    }
  }

  &.ws-disabled {
    cursor: default;

    .controls-CheckBox__caption {
      color: @check-box-disabled-text-color;
    }

    .controls-CheckBox__icon {
      border: @check-box-icon-disabled-border;
      background: @check-box-icon-disabled-bg;
    }

    &:hover {
      .controls-CheckBox__caption {
        color: @check-box-disabled-hover-text-color;
      }

      .controls-CheckBox__icon {
        border: @check-box-icon-disabled-border;
      }
    }

    &.controls-Checked__checked {
      .controls-CheckBox__icon {
        border: @check-box-icon-disabled-border;
        background: @check-box-icon-disabled-checked-bg;
      }
    }
  }
}