<div>
    <ws:SBIS3.CONTROLS.CheckBox class="controls-OperationsMark-checkBox" name="controls-OperationsMark__checkBox">
        <ws:threeState><ws:Boolean>true</ws:Boolean></ws:threeState>
    </ws:SBIS3.CONTROLS.CheckBox>
    <ws:SBIS3.CONTROLS.MenuLink name="controls-OperationsMark__menu"
        items="{{ items }}"
        idProperty="{{ idProperty }}">
    </ws:SBIS3.CONTROLS.MenuLink>
    <span class="controls-OperationsMark__separator"></span>
</div>