<div class="controls-OperationsMark">
    <SBIS3.CONTROLS.CheckBox class="controls-OperationsMark-checkBox" name="controls-OperationsMark__checkBox">
        <ws:threeState><ws:Boolean>true</ws:Boolean></ws:threeState>
    </SBIS3.CONTROLS.CheckBox>
    <SBIS3.CONTROLS.Menu.MenuLink name="controls-OperationsMark__menu"
        items="{{ items }}"
        idProperty="{{ idProperty }}">
    </SBIS3.CONTROLS.Menu.MenuLink>
    <span class="controls-OperationsMark__separator"></span>
</div>