.controls-OperationsMark__separator {
  margin: @controls-OperationsPanel-separator-margin;
  background: @controls-OperationsPanel-separator-bg;
  width: @controls-OperationsPanel-separator-width;
  height: @controls-OperationsPanel-separator-height;
  font-size: 1px;
  display: inline-block;
  line-height: @controls-OperationsMark-separator-line-height;
  &:after {
    content: '\00a0';
  }
}