.controls-Scroll-Container {
   position: relative;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   min-height: 0;
}

.controls-Scroll-Container__base {
   height: 100%;
   flex-grow: 1;
   flex-shrink: 1;
   min-height: 0;
   max-height: inherit;
}

.ws-is-hover {
   .controls-Scroll-Container:hover {
       > .controls-Scroll__scrollbar {
         visibility: visible;
      }
   }
}

.controls-Scroll-Container__content_hidden {
   overflow: hidden;
}

.controls-Scroll__background-Shadow_style-default_theme-@{themeName} {
   background: @shadow_thickness_background_scroll;
   background-repeat: no-repeat;
   background-attachment: local, local, scroll, scroll;
}

.controls-Scroll__background-Shadow_top-hidden_bottom-visible_style-default_theme-@{themeName} {
   background-size: 100% @shadow_thickness-hider_height_scroll, 100% 0, 100% 0, 100% @shadow_thickness_scroll;
}

.controls-Scroll__background-Shadow_top-hidden_bottom-hidden_style-default_theme-@{themeName} {
   background-size: 100% @shadow_thickness-hider_height_scroll, 100% @shadow_thickness-hider_height_scroll, 100% 0, 100% 0;
}

.controls-Scroll__background-Shadow_top-hidden_bottom-auto_style-default_theme-@{themeName} {
   background-size: 100% @shadow_thickness-hider_height_scroll, 100% @shadow_thickness-hider_height_scroll, 100% 0, 100% @shadow_thickness_scroll;
}

.controls-Scroll__background-Shadow_top-visible_bottom-hidden_style-default_theme-@{themeName} {
   background-size: 100% 0, 100% @shadow_thickness-hider_height_scroll, 100% @shadow_thickness_scroll, 100% 0;
}

.controls-Scroll__background-Shadow_top-visible_bottom-visible_style-default_theme-@{themeName} {
   background-size: 100% 0, 100% 0, 100% @shadow_thickness_scroll, 100% @shadow_thickness_scroll;
}

.controls-Scroll__background-Shadow_top-visible_bottom-auto_style-default_theme-@{themeName} {
   background-size: 100% 0, 100% @shadow_thickness-hider_height_scroll, 100% @shadow_thickness_scroll, 100% @shadow_thickness_scroll;
}

.controls-Scroll__background-Shadow_top-auto_bottom-auto_style-default_theme-@{themeName} {
   background-size: 100% @shadow_thickness-hider_height_scroll, 100% @shadow_thickness-hider_height_scroll, 100% @shadow_thickness_scroll, 100% @shadow_thickness_scroll;
}

.controls-Scroll__background-Shadow_top-auto_bottom-visible_style-default_theme-@{themeName} {
   background-size: 100% @shadow_thickness-hider_height_scroll, 100% 0, 100% @shadow_thickness_scroll, 100% @shadow_thickness_scroll;
}

.controls-Scroll__background-Shadow_top-auto_bottom-hidden_style-default_theme-@{themeName} {
   background-size: 100% @shadow_thickness-hider_height_scroll, 100% @shadow_thickness-hider_height_scroll, 100% @shadow_thickness_scroll, 100% 0;
}

.controls-Scroll__content_hideNativeScrollbar::-webkit-scrollbar {
   width: 0;
   // Следующие свойства нужны для того, чтобы убрать скроллбар с айпада
   -webkit-appearance: none;
   display: none;
}

// В рознице и админке цвет фона плавающих панелей и в мастере(MasterDetail) не такой как на страницах.
// Избавиться от каскада https://online.sbis.ru/opendoc.html?guid=758cfffc-cfde-4a52-8df0-94984c72dc4e
.controls-StackTemplate_theme_@{themeName} {
   .controls-Scroll__background-Shadow_style-default_theme-@{themeName} {
      background-image: linear-gradient(@background-color_stack 10%, rgba(@background-color_stack, 0)),
                        linear-gradient(rgba(@background-color_stack, 0), @background-color_stack 90%),
                        linear-gradient(to bottom, @shadow_start-color_scroll, @shadow_end-color_scroll),
                        linear-gradient(to top, @shadow_start-color_scroll, @shadow_end-color_scroll);
   }
}

.controls-DialogTemplate_backgroundStyle-default_theme_@{themeName} {
   .controls-Scroll__background-Shadow_style-default_theme-@{themeName} {
      background-image: linear-gradient(@background-color_dialog 10%, rgba(@background-color_dialog, 0)),
                        linear-gradient(rgba(@background-color_dialog, 0), @background-color_dialog 90%),
                        linear-gradient(to bottom, @shadow_start-color_scroll, @shadow_end-color_scroll),
                        linear-gradient(to top, @shadow_start-color_scroll, @shadow_end-color_scroll);
   }
}

.controls-StickyTemplate_theme_@{themeName} {
   .controls-Scroll__background-Shadow_style-default_theme-@{themeName} {
      background-image: linear-gradient(@background-color_sticky 10%, rgba(@background-color_sticky, 0)),
                        linear-gradient(rgba(@background-color_sticky, 0), @background-color_sticky 90%),
                        linear-gradient(to bottom, @shadow_start-color_scroll, @shadow_end-color_scroll),
                        linear-gradient(to top, @shadow_start-color_scroll, @shadow_end-color_scroll);
   }
}

// В темах, где фон задан как прозрачный этот воркэраунд неактуален.
// Помимо этого мы получаем прозрачные закрыватели теней, которые не закрывают тени.
.controls-MasterDetail_details_bg-contrast_theme-@{themeName} when not (alpha(@detail_contrast_background-color_masterDetail) = 0) {
   .controls-Scroll__background-Shadow_style-default_theme-@{themeName} {
      background-image: linear-gradient(@detail_contrast_background-color_masterDetail 10%, rgba(@detail_contrast_background-color_masterDetail, 0)),
                        linear-gradient(rgba(@detail_contrast_background-color_masterDetail, 0), @detail_contrast_background-color_masterDetail 90%),
                        linear-gradient(to bottom, @shadow_start-color_scroll, @shadow_end-color_scroll),
                        linear-gradient(to top, @shadow_start-color_scroll, @shadow_end-color_scroll);
   }
}

.controls-MasterDetail_details_bg-same_theme-@{themeName} {
   .controls-Scroll__background-Shadow_style-default_theme-@{themeName} {
      background-image: linear-gradient(@detail_background-color_masterDetail 10%, rgba(@detail_background-color_masterDetail, 0)),
                        linear-gradient(rgba(@detail_background-color_masterDetail, 0), @detail_background-color_masterDetail 90%),
                        linear-gradient(to bottom, @shadow_start-color_scroll, @shadow_end-color_scroll),
                        linear-gradient(to top, @shadow_start-color_scroll, @shadow_end-color_scroll);
   }
}
