<div class="controls-FilterPanelChooser__beforeChooserWrapper">
    <ws:SBIS3.CONTROLS.FilterPanelBoolean name="controls-FilterPanelChooser__favoritesCheckBox"
                                          caption="{{'Избранные (' + favorites.getCount() + ')'}}"
                                          count="{{ favoritesCount }}"
                                          value="{{ favoritesIsChecked }}"    >
    </ws:SBIS3.CONTROLS.FilterPanelBoolean>
</div>