.controls-DatePicker {
   border: none !important;
   background: transparent !important;
   position: relative;
   display: inline-block;

   .box-sizing(border-box);

   .controls-DatePicker__dateBox {
      margin-right: 19px;
      display: block;
   }

   .controls-DatePicker__calendarWrapper {
      position: relative;
      float: right;
      width: 16px;
      min-height: 19px;
      margin: 0;
      height: 100%;
   }

   .controls-DatePicker__calendarIcon {
      position: absolute;
      text-decoration: none;
      cursor: @date-picker-calendar-icon-cursor;
      width: @date-picker-calendar-icon-width;
      height: @date-picker-calendar-icon-height;
      top: @date-picker-calendar-icon-top-offset;
      left: @date-picker-calendar-icon-left-offset;
      background: @date-picker-calendar-icon-bg;

      &:hover {
         background: @date-picker-calendar-icon-hover-bg;
      }

      &.calendar-disabled {
         background: @date-picker-calendar-icon-disabled-bg;
      }
   }
}