.controls-DatePicker {
   display: inline-block;

   // Иконка нестандартного размера. Надо с этим разобраться.
   .controls-DatePicker__button {
      .controls-Button__icon {
         font-size: @date-picker-calendar-icon-size !important;
         line-height: @date-picker-calendar-icon-line-height !important;
         height: @date-picker-calendar-icon-size;
         width: @date-picker-calendar-icon-size;
      }
   }
}
.controls-DatePicker__button {
   margin-left: @date-picker-icon-margin-left;
}
.controls-DatePicker__timePicker-border.controls-FloatArea {
   border: @float-area-border;
   .box-shadow(@float-area-shadow);
}
