<div class="controls-DatePicker{{pickerIconShow ? '' : ' controls-DatePicker_hiddenIcon'}}">
   <ws:partial template="{{dateBoxTpl}}" scope="{{...}}"/>
   <ws:if data="{{pickerIconShow}}">
         <ws:SBIS3.CONTROLS.IconButton
            className="controls-DatePicker__button"
            name="PickerButton"
            tabindex="1"
            icon="icon-16 icon-primary {{ {
               'calendar': 'icon-Calendar2',
               'time': 'icon-Time'
            }[_pickerName] }}"
         />
   </ws:if>
</div>