<div attr:class="controls-itemActionsV__action controls-itemActionsV__action_padding
            {{!!action.style ? 'controls-itemActionsV__action_' + action.style}}
            {{!!action.iconDone ? ' controls-itemActionsV__action_done'}}
            {{!!action.iconError ? ' controls-itemActionsV__action_error'}}
            {{action.iconStyle ? ' action_icon_style_' + action.iconStyle  : 'action_icon_style_default'}}"
      attr:title="{{!!action.title ? action.title}}"
      on:click="_onItemActionsClick(action, itemData)">
    <ws:if data="{{!!action.icon}}">
        <i attr:class="{{action.icon}}"/>
    </ws:if>
    <ws:if data="{{!action.icon && action.title}}">
        <span attr:class="controls-itemActionsV__action_title">{{action.title}}</span>
    </ws:if>
</div>