.controls-ListAddButton{
   cursor: pointer;
   display: inline-block;
}

.controls-ListAddButton__enable{
   color: #8991A9;
}

.controls-ListAddButton__disable{
   color: #CCCCCC;
}

.controls-ListAddButtonText{
   font-family: TensorFont;
   font-size: 12px;
   &:hover{
      text-decoration: underline;
   }
}