<div class="controls-filterButton__historyView-pin icon-primary icon-16 icon-Pin{{item.isMarked ? '' : 'ws-hidden'}}"></div>
    <div class="controls-filterButton__historyView-titleContainer" title="{{item.linkText}}">
    <span class='controls-filterButton__historyView-item-title asLink'>{{item.linkText}}</span>
</div>