<div class="controls-FilterPanelChooser__afterChooserWrapper">
    <ws:SBIS3.CONTROLS.Link name="controls-FilterPanelChooser__allButton"
                            className="controls-FilterPanelChooser__allButton"
                            caption="{{ captionFullList }}"
                            command="showFullList"
                            commandArgs="{{ [true] }}"
                            visible="{{ items.getCount() > 3 }}">
    </ws:SBIS3.CONTROLS.Link>
</div>