<span class="wrapper">
    <!--<i class="controls-RadioItem_{{item.get('selected') ? 'selected' : 'unselected'}}"/>-->
    <span class="controls-RadioItem_caption">{{item.get("tittle")}}</span>
</span>