.controls-FilterEditors__toggleTumbler_theme-@{themeName} {
   margin-left: @toggle-tumbler_margin-left_filterViewPanel;
   padding-top: @padding-top_filterViewPanel;
   padding-right: @padding-right_filterViewPanel;
}
