.controls-Online__leftSide,
.controls-Online__rightSide,
.controls-Online__center,
.controls-Online__workspace,
.controls-Online__workspaceTpl {
   .flexbox();
   .flex-direction(column);
   height: 100%;
}

.controls-Online {
   position: relative;
   .flexbox();
   min-width: 1000px;
   max-width: 1600px;
   height: 100%;
   overflow-y: hidden;
}

.controls-Online__leftSide {
   .flex-shrink(0);
   background-color: #2C3E50;
}

.controls-Online__leftSide-normal {
   width: 200px;
}

.controls-Online__leftSide-compact {
   width: 48px;
}

.controls-Online__logoBlock {
   .flexbox();
   .align-items(center);
   .flex-shrink(0);
   height: 68px;
   position: relative;
   border-bottom: 1px solid #405061;
   box-sizing: border-box;
}

.controls-Online__compactBtn {
   height: 48px;
   width: 48px;
   cursor: pointer;
   color: #E9EBEC;
   .flex-shrink(0);
   .flexbox();
   .align-items(center);
   .justify-content(center);
}

.controls-Online__logo {
   .flex-shrink(1);
   .inline-block-bug-fix();
   text-align: center;
   overflow: hidden;
   width: 100%;
}

.controls-Online__logoImage {
   max-width: 130px;
   max-height: 52px;
   margin-left: -20px;
   cursor: pointer;
}

.controls-Online__center {
   width: 100%;
   min-width: 0;
   background-color: #fff;
   .flex-shrink(1);
}

.controls-Online__workspace {
   .flex-shrink(1);
   //fix ie bug https://philipwalton.com/articles/normalizing-cross-browser-flexbox-bugs/
   min-height: 0;
}

.controls-Online__centerHeader {
   height: 68px;
   .flexbox();
   .flex-direction(column);
   .flex-shrink(0);
   position: relative;

   .controls-Online__centerHeader-row {
      height: 34px;
      width: 100%;
      .flexbox();
      .box-sizing(border-box);
      .justify-content(flex-end);

      &:last-child {
         border-bottom: 1px solid #ccc;
      }
   }
}

.controls-Online__headerTpl {
   background: white;
   z-index: 1000;
   padding: 8px 8px 0 8px;
   position: relative;
}

.controls-Online__rightSide {
   .flexbox();
   .flex-shrink(0);
   border-left: 6px solid #eaeaea;
   position: relative;
   background-color: #F4F9FD;
}

.controls-Online__rightSideHeader {
   .flexbox();
   .justify-content(flex-end);
}

.controls-Online__rightSideExpandButton, .controls-Online__rightSideCollapseButton {
   background-repeat: no-repeat;
   margin-top: 4px;
   cursor: pointer;
   height: 24px;
   //TODO: ширина должна быть автоматической
   width: 40px;
}

.controls-Online__rightSideCollapseButton {
   background-image: url(./resources/openButton.png);

   &:hover {
      background-image: url(./resources/openButtonHover.png);
   }
}

.controls-Online__rightSideExpandButton {
   background-image: url(./resources/closeButton.png);

   &:hover {
      background-image: url(./resources/closeButtonHover.png);
   }
}

@media screen and (min-width: 1618px) {
   .controls-Online__rightSide {
      width: 416px;
   }
}

@media screen and (min-width: 1418px) and (max-width: 1617px) {
   .controls-Online__rightSide {
      width: 350px;
   }
}

@media screen and (max-width: 1417px) {
   .controls-Online__rightSide {
      width: 300px;
   }
}

@media screen and (max-width: 1318px) {
   .notice-center-can-hide {
      .controls-Online__centerHeader {
         .user-button-component, .notice-NoticeButton {
            display: block;
         }
      }
      .controls-Online__rightSide {
         display: none;
      }
   }
}

