<div class="controls-Online {{_compactMode ? 'compact-menu'}}">
    <ws:TestsPlatform.Navigation.NavigationDS name="navigationDataSource" />
    <ws:TestsPlatform.Navigation.NavigationAction name="navigationAction" />
    <div class="controls-Online__leftSide {{ _compactMode ? 'controls-Online__leftSide-compact' : 'controls-Online__leftSide-normal'}}">
        <div class="controls-Online__logoBlock">
            <span class="controls-Online__compactBtn icon-24 icon-ArrangeList" event:onclick="_toggleLeftSide()"></span>
            <ws:if data="{{ !_compactMode }}">
                <a href="/" title="На главную" class="controls-Online__logo">
                    <img src="{{ _logoUrl }}" alt="Компания" class="controls-Online__logoImage"/>
                </a>
            </ws:if>
        </div>
        <ws:TestsPlatform.Navigation.Navigation
                name="OnlineNavigation"
                workspace="{{ _options.workspace }}"
                navigationAction="{{ _children.navigationAction }}"
                dataSource="{{ _children.navigationDataSource }}"
                header="{{ _options.header }}">
        </ws:TestsPlatform.Navigation.Navigation>
    </div>
    <div class="controls-Online__center">
        <div class="controls-Online__centerHeader">
            <div class="controls-Online__centerHeader-row">
                <ws:if data="{{ _options.header }}">
                    <ws:WSControls.Templates.Template
                            className="controls-Online__headerTpl"
                            component="{{ _options.header }}">
                    </ws:WSControls.Templates.Template>
                </ws:if>
                <ws:if data="{{ !_rightSideVisible }}">
                    <div class="controls-Online__rightSideExpandButton" event:onclick="_toggleRightSide()"></div>
                </ws:if>
            </div>
            <div class="controls-Online__centerHeader-row">
                <ws:if data="{{ _options.tabButtonsConfig }}">
                    <ws:WSControls.Containers.TabButtons
                            name="TabButtons"
                            currentTab="{{ _currentTab }}"
                            items="{{ _options.tabButtonsConfig.items }}"
                            event:onTabChange="_onTabChange()"/>
                </ws:if>
            </div>
        </div>
        <div class="controls-Online__workspace">
            <ws:if data="{{ _options.workspace }}">
                <ws:WSControls.Templates.Template
                        className="controls-Online__workspaceTpl"
                        path="{{ _currentTab }}"
                        component="{{ _options.workspace }}">
                </ws:WSControls.Templates.Template>
            </ws:if>
        </div>
    </div>
    <ws:if data="{{ _rightSideVisible }}">
        <div class="controls-Online__rightSide">
            <div class="controls-Online__rightSideHeader">
                <div class="controls-Online__rightSideCollapseButton" event:onclick="_toggleRightSide()"></div>
            </div>
        </div>
    </ws:if>
</div>