.controls-operationsPanelV__multiSelector {
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
}
.controls-operationsPanelV__multiSelector_separator {
  height: 20px;
  width: 1px;
  margin: 0 0 0 12px;
  background-color: #ccc;
}

.controls-operationsPanelV__loadingIndicatorImg-wrapper {
  margin-left: @loadingIndicator_offset-left_multiSelectorButton;
}

.controls-operationsPanelV__loadingIndicatorImg {
  background: @background-url_LoadingIndicator-s 0 0 no-repeat;
  width: @size_LoadingIndicator-s;
  height: @size_LoadingIndicator-s;
  background-size: @size_LoadingIndicator-s;
}

.controls-operationsPanelV__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
