.demo-EditableGrid {
   width: 900px;
}

.demo-EditableGrid__editor-description {
   color: #8991a9;
   padding-right: 4px;
}

.demo-EditableGrid__editor-flexWrapper {
   display: flex;
   justify-content: space-between;
   align-items: baseline;
}

.demo-EditableGrid__editor-rowTopSpacing {
   padding-top: 4px;
}
