<div class="controls-ColumnsEditor">
   <ws:if data="{{showButton}}">
      <ws:SBIS3.CONTROLS.IconButton icon="sprite:icon-24 icon-Settings icon-primary" command="showColumnsEditor" />
   </ws:if>
</div>