.controls-ColumnsEditor {
   display: inline-block;
}

.controls-ColumnsEditor__preferences {
   margin-right: 4px;
   vertical-align: top;
}

.controls-ColumnsEditorArea-picker {
   overflow-y: hidden !important;
   border-width: @default-border-width;
   border-style: @default-border-style;
   border-color: @menu-border-color;
   .border-radius(0);
   .box-shadow(@menu-shadow);
   .box-sizing(border-box);
   .controls-PopupMixin__closeButton {
      top: 8px;
   }
}