<div class="controls-ColumnsEditor">
   <ws:SBIS3.CONTROLS.DropdownList
       name="controls-ColumnsEditor__preset"
       className="controls-ColumnsEditor__preset"
       multiselect="{{false}}"
       mode="click"
       type="titleHeader"
       title="{[Выберите шаблон]}"
       idProperty="title"
       displayProperty="title"
   />
   <ws:SBIS3.CONTROLS.IconButton icon="sprite:icon-24 icon-Settings icon-primary" command="showEditorArea" />
</div>