<div class="controls-RichEditor">
   <SBIS3.CONTROLS:ScrollContainer
      class="controls-ScrollContainer__flex{{ enabled ? ' ws-hidden' }}"
      style="{{ autoHeight && minimalHeight ? 'min-height:' + minimalHeight + 'px;'}} {{ autoHeight && maximalHeight ? 'max-height:' + maximalHeight + 'px;'}}"
      >
      <ws:content>
         <div
            class="controls-RichEditor__dataReview ws-basic-style {{editorConfig.className}}"
            tabindex="1"
            >{{ !enabled && text ? (_prepareReviewContent(text)|sanitize) }}</div>
      </ws:content>
   </SBIS3.CONTROLS:ScrollContainer>
   <div class="controls-RichEditor__placeholder" >{{ placeholder }}</div>
   <div
      class="controls-RichEditor__editorFrame ws-basic-style {{editorConfig.className}}{{ !enabled ? ' ws-hidden' }}"
      style="{{ autoHeight && minimalHeight ? 'min-height:' + minimalHeight + 'px;'}} {{ autoHeight && maximalHeight ? 'max-height:' + maximalHeight + 'px;'}}"
   >{{ enabled && text ? (_prepareContent(_prepareReviewContent(text))|sanitize) }}</div>
   <textarea class="controls-RichEditor__fakeArea" tabindex="0"></textarea>
   <div class="controls-RichEditor__sourceContainer ws-hidden"><textarea class="controls-RichEditor__sourceArea"></textarea></div>
</div>