<div class="controls-RichEditor__placeholder" >{{ placeholder }}</div>
<SBIS3.CONTROLS:ScrollContainer
   class="controls-RichEditor__scrollContainer"
   attributes="{{autoHeight && maximalHeight && maximalHeight != 0 ? {'style':'max-height:' + maximalHeight + 'px;'} }}"
   takeScrollbarHidden="{{!(autoHeight && maximalHeight == 0)}}"
   >
   <div
      class="controls-RichEditor__dataReview ws-basic-style {{editorConfig.className}}{{enabled ? ' ws-hidden'}}"
      tabindex="1"
      style="{{!autoReviewHeight && autoHeight && minimalHeight && minimalHeight != 0 ? 'min-height:' + minimalHeight + 'px;'}}"
      >{{!enabled && text ? (_prepareReviewContent(text)|sanitize)}}</div>
   <div
      class="controls-RichEditor__editorFrame ws-basic-style {{editorConfig.className}}{{!enabled ? ' ws-hidden'}} clearfix"
      style="{{autoHeight && minimalHeight && minimalHeight != 0 ? 'min-height:' + minimalHeight + 'px;'}}"
      >{{enabled && text ? (_prepareContent(_prepareReviewContent(text))|sanitize)}}</div>
   <div class="controls-RichEditor__sourceContainer ws-hidden">
      <textarea class="controls-RichEditor__sourceArea"></textarea>
   </div>
</SBIS3.CONTROLS:ScrollContainer>
<textarea class="controls-RichEditor__fakeArea" tabindex="0"></textarea>
