/*group*/
/*ширина кнопки закрытия окна 36px + 2px на небольшой отступ между кнопкой сохранить (в ie8 нет скруглений и кнопки склеиваются)*/
/*ширина кнопки закрытия окна 36px + 90px ширина кнопки сохранить + 2px на небольшой отступ между ними */
.controls-DateRangeBigChoose-MonthRangePicker.controls-ListView {
  padding: 8px 0 8px 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.controls-DateRangeBigChoose-MonthRangePicker.controls-ListView .controls-DateRangeBigChoose-MonthView.controls-MonthView {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 84px;
  height: 96px;
  margin-right: 8px;
  margin-bottom: 1px;
  padding: 0;
  border: 1px solid transparent;
  background: transparent;
  cursor: pointer;
  display: block;
  float: left;
}
.controls-DateRangeBigChoose-MonthRangePicker.controls-ListView .controls-DateRangeBigChoose-MonthView.controls-MonthView.controls-DateRangeBigChoose-MonthRangePicker__hovered {
  background-color: #F0F5FB;
}
.controls-DateRangeBigChoose-MonthRangePicker.controls-ListView .controls-DateRangeBigChoose-MonthView.controls-MonthView.controls-DateRangeBigChoose-MonthRangePicker__hovered .controls-MonthView__caption {
  font-weight: bold;
}
.controls-DateRangeBigChoose-MonthRangePicker.controls-ListView .controls-DateRangeBigChoose-MonthView.controls-MonthView.controls-RangeSelectable__item-selected {
  border: 1px solid #0066FF;
  background-color: #F0F5FB;
}
.controls-DateRangeBigChoose-MonthRangePicker.controls-ListView .controls-DateRangeBigChoose-MonthView.controls-MonthView.controls-RangeSelectable__item-selected.controls-DateRangeBigChoose-MonthRangePicker__hovered {
  background-color: #F0F5FB;
}
.controls-DateRangeBigChoose-MonthRangePicker.controls-ListView .controls-DateRangeBigChoose-MonthView.controls-MonthView.controls-RangeSelectable__item-selected.controls-RangeSelectable__item-selectedStart .controls-MonthView__caption,
.controls-DateRangeBigChoose-MonthRangePicker.controls-ListView .controls-DateRangeBigChoose-MonthView.controls-MonthView.controls-RangeSelectable__item-selected.controls-RangeSelectable__item-selectedEnd .controls-MonthView__caption {
  background-color: #0066FF;
  color: #fff;
}
.controls-DateRangeBigChoose-MonthRangePicker.controls-ListView .controls-DateRangeBigChoose-MonthView.controls-MonthView table {
  border-collapse: collapse;
}
.controls-DateRangeBigChoose-MonthRangePicker.controls-ListView .controls-DateRangeBigChoose-MonthView.controls-MonthView .controls-MonthView__caption-text {
  height: 24px;
  line-height: 24px;
  vertical-align: middle;
  font-size: 14px;
}
.controls-DateRangeBigChoose-MonthRangePicker.controls-ListView .controls-DateRangeBigChoose-MonthView.controls-MonthView .controls-MonthView__dayTable {
  border: 1px solid transparent;
}
.controls-DateRangeBigChoose-MonthRangePicker.controls-ListView .controls-DateRangeBigChoose-MonthView.controls-MonthView .controls-MonthView__dayTable:hover {
  border: 1px dotted #CCC;
}
.controls-DateRangeBigChoose-MonthRangePicker.controls-ListView .controls-DateRangeBigChoose-MonthView.controls-MonthView .controls-MonthView__dayTable .controls-MonthView__tableBody {
  font-size: 8px;
}
.controls-DateRangeBigChoose-MonthRangePicker.controls-ListView .controls-DateRangeBigChoose-MonthView.controls-MonthView .controls-MonthView__dayTable .controls-MonthView__tableElement {
  height: 11px;
  padding: 0;
  text-align: center;
  background: transparent;
}
.controls-DateRangeBigChoose-MonthRangePicker.controls-ListView .controls-DateRangeBigChoose-MonthView.controls-MonthView .controls-MonthView__dayTable .controls-MonthView__tableElement * {
  padding: 0;
}
.controls-DateRangeBigChoose-MonthRangePicker.controls-ListView .controls-DateRangeBigChoose-MonthView.controls-MonthView .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-RangeSelectable__item {
  cursor: pointer;
}
.controls-DateRangeBigChoose-MonthRangePicker.controls-ListView .controls-DateRangeBigChoose-MonthView.controls-MonthView .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-RangeSelectable__item.controls-MonthView__weekend {
  color: #EF463A;
}
.controls-DateRangeBigChoose-MonthRangePicker.controls-ListView .controls-DateRangeBigChoose-MonthView.controls-MonthView .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-RangeSelectable__item.controls-MonthView__today {
  border: 1px solid #ff7033;
}
.controls-DateRangeBigChoose-MonthRangePicker.controls-ListView .controls-DateRangeBigChoose-MonthView.controls-MonthView .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-RangeSelectable__item.controls-RangeSelectable__item-selectedStart.controls-RangeSelectable__item-selected,
.controls-DateRangeBigChoose-MonthRangePicker.controls-ListView .controls-DateRangeBigChoose-MonthView.controls-MonthView .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-RangeSelectable__item.controls-RangeSelectable__item-selectedEnd.controls-RangeSelectable__item-selected {
  color: #fff;
  background: #0066FF;
}
.controls-DateRangeBigChoose-MonthRangePicker.controls-ListView .controls-DateRangeBigChoose-MonthView.controls-MonthView .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-RangeSelectable__item.controls-RangeSelectable__item-selectedStart.controls-RangeSelectable__item-selected:hover,
.controls-DateRangeBigChoose-MonthRangePicker.controls-ListView .controls-DateRangeBigChoose-MonthView.controls-MonthView .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-RangeSelectable__item.controls-RangeSelectable__item-selectedEnd.controls-RangeSelectable__item-selected:hover {
  color: #fff;
  background: #0066FF;
}
.controls-DateRangeBigChoose-MonthRangePicker.controls-ListView .controls-DateRangeBigChoose-MonthView.controls-MonthView .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-RangeSelectable__item.controls-RangeSelectable__item-selectedStart.controls-RangeSelectable__item-selected.controls-MonthView__weekend,
.controls-DateRangeBigChoose-MonthRangePicker.controls-ListView .controls-DateRangeBigChoose-MonthView.controls-MonthView .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-RangeSelectable__item.controls-RangeSelectable__item-selectedEnd.controls-RangeSelectable__item-selected.controls-MonthView__weekend {
  color: #fff;
}
.controls-DateRangeBigChoose-MonthRangePicker.controls-ListView .controls-DateRangeBigChoose-MonthView.controls-MonthView .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-RangeSelectable__item.controls-RangeSelectable__item-selected {
  color: #000;
  background: #F0F5FB;
}
.controls-DateRangeBigChoose-MonthRangePicker.controls-ListView .controls-DateRangeBigChoose-MonthView.controls-MonthView .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-RangeSelectable__item.controls-RangeSelectable__item-selected:hover {
  color: #000;
  background: #F0F5FB;
}
.controls-DateRangeBigChoose-MonthRangePicker.controls-ListView .controls-DateRangeBigChoose-MonthView.controls-MonthView .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-RangeSelectable__item.controls-RangeSelectable__item-selected.controls-MonthView__weekend {
  color: #EF463A;
}
.controls-DateRangeBigChoose-DateRangePicker {
  width: 100%;
}
.controls-DateRangeBigChoose-DateRangePicker table.controls-MonthView__dayTable {
  table-layout: fixed;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView {
  width: 100%;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView table {
  border-collapse: separate;
  border-spacing: 0;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView .controls-MonthView__caption-text {
  font-size: 20px;
  height: 40px;
  line-height: 40px;
  text-align: left;
  padding: 0 8px;
  margin-left: 55px;
  float: left;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView.controls-RangeSelectable__rangeselect {
  cursor: pointer;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView.controls-RangeSelectable__rangeselect .controls-MonthView__caption-text:hover {
  background-color: #F0F5FB;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView .controls-MonthView__dayTable .controls-MonthView__weekHovered .controls-MonthView__tableElement.controls-MonthView__currentMonthDay {
  background-color: #F0F5FB;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView .controls-MonthView__dayTable .controls-MonthView__tableRow:first-child .controls-MonthView__tableElement {
  height: 40px;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView .controls-MonthView__dayTable .controls-MonthView__tableElement {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 34px;
  height: 39px;
  padding: 0;
  text-align: center;
  background: transparent;
  font-size: 16px;
  border: 0 solid #0055BB;
  border-bottom-width: 1px;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView .controls-MonthView__dayTable .controls-MonthView__tableElement .controls-MonthView__dayTitle {
  padding-top: 8px;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView .controls-MonthView__dayTable .controls-MonthView__tableElement .controls-MonthView__dayBorder + .controls-MonthView__dayTitle {
  left: 7px;
  right: 7px;
  padding-top: 8px;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-MonthView__nextMonth {
  border-bottom-width: 0;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-MonthView__prevMonth.controls-MonthView__lastDayOfMonth {
  border-right-width: 1px;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-MonthView__prevMonth.controls-MonthView__lastDayOfMonth + .controls-RangeSelectable__item.controls-RangeSelectable__item-selected {
  border-left-width: 1px;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView .controls-MonthView__dayTable .controls-MonthView__tableElement + .controls-RangeSelectable__item.controls-RangeSelectable__item-selected.controls-RangeSelectable__item-selectedStart {
  border-left: 1px solid #0055BB;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView .controls-MonthView__dayTable .controls-MonthView__tableElement + .controls-RangeSelectable__item.controls-RangeSelectable__item-selected.controls-RangeSelectable__item-selectedStart.controls-MonthView__today {
  border-color: #ff7033;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-RangeSelectable__item {
  border-right-width: 1px;
  color: #000;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-RangeSelectable__item:first-child {
  border-left-width: 1px;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-RangeSelectable__item.controls-MonthView__weekend {
  color: #EF463A;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-RangeSelectable__item:hover {
  background: #F0F5FB;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-RangeSelectable__item.controls-RangeSelectable__item-selectedStart.controls-RangeSelectable__item-selected,
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-RangeSelectable__item.controls-RangeSelectable__item-selectedEnd.controls-RangeSelectable__item-selected {
  font-weight: bold;
  color: #fff;
  background: #0066FF;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-RangeSelectable__item.controls-RangeSelectable__item-selectedStart.controls-RangeSelectable__item-selected.controls-MonthView__weekend,
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-RangeSelectable__item.controls-RangeSelectable__item-selectedEnd.controls-RangeSelectable__item-selected.controls-MonthView__weekend {
  color: #fff;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-RangeSelectable__item.controls-RangeSelectable__item-selected {
  color: #000;
  background: #F0F5FB;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-RangeSelectable__item.controls-RangeSelectable__item-selected.controls-MonthView__weekend {
  color: #EF463A;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-MonthView__today {
  border: 1px solid #ff7033;
  border-bottom-width: 2px;
  padding: 0 !important;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-MonthView__today .controls-MonthView__dayTitle {
  padding-top: 7px !important;
  left: 6px !important;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-MonthView__today + .controls-MonthView__tableElement {
  border-left: 1px solid #ff7033 !important;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-MonthView__today + .controls-MonthView__tableElement .controls-MonthView__dayTitle {
  left: 6px !important;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-DateRangeBigChoose-MonthView__aboveToday {
  border-bottom-color: #ff7033;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-DateRangeBigChoose-MonthView__beforeToday {
  border-right-color: #ff7033;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView .controls-MonthView__dayTable .controls-MonthView__tableRow:first-child .controls-RangeSelectable__item {
  border-top-width: 1px;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView .controls-MonthView__dayTable .controls-MonthView__tableRow:first-child .controls-RangeSelectable__item.controls-MonthView__today {
  border-color: #ff7033;
  border-top-width: 2px;
  border-left-width: 2px;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView.controls-RangeSelectable__selecting .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-MonthView__prevMonth.controls-MonthView__lastDayOfMonth + .controls-RangeSelectable__item.controls-RangeSelectable__item-selected {
  border-left-width: 1px;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView.controls-RangeSelectable__selecting .controls-MonthView__dayTable .controls-MonthView__tableElement + .controls-RangeSelectable__item.controls-RangeSelectable__item-selected.controls-RangeSelectable__item-selectedStart {
  border-left-width: 1px;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView.controls-RangeSelectable__selecting .controls-MonthView__dayTable .controls-MonthView__tableElement + .controls-RangeSelectable__item.controls-RangeSelectable__item-selected.controls-RangeSelectable__item-selectedStart.controls-MonthView__today {
  border-color: #ff7033;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView.controls-RangeSelectable__selecting .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-RangeSelectable__item.controls-DateRangeBigChoose-MonthView__border-top {
  border-top-width: 1px;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView.controls-RangeSelectable__selecting .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-RangeSelectable__item.controls-DateRangeBigChoose-MonthView__border-top > .controls-MonthView__dayBorder + .controls-MonthView__dayTitle {
  padding-top: 7px;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView.controls-RangeSelectable__selecting .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-RangeSelectable__item.controls-DateRangeBigChoose-MonthView__border-bottom {
  border-bottom-width: 2px;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView.controls-RangeSelectable__selecting .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-RangeSelectable__item.controls-RangeSelectable__item-selectedEnd {
  border-left-width: 1px;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView.controls-RangeSelectable__selecting .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-RangeSelectable__item.controls-RangeSelectable__item-selectedEnd .controls-MonthView__dayTitle {
  left: 6px;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView.controls-RangeSelectable__selecting .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-RangeSelectable__item.controls-RangeSelectable__item-selectedEnd + .controls-MonthView__tableElement {
  border-left-width: 1px;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView.controls-RangeSelectable__selecting .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-RangeSelectable__item.controls-RangeSelectable__item-selectedEnd + .controls-MonthView__tableElement .controls-MonthView__dayTitle {
  left: 6px;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView.controls-RangeSelectable__selecting .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-RangeSelectable__item.controls-RangeSelectable__item-selectedEnd.controls-MonthView__today + .controls-MonthView__tableElement {
  border-left: 1px solid #ff7033 !important;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView.controls-RangeSelectable__selecting .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-RangeSelectable__item.controls-RangeSelectable__item-selectedEnd.controls-MonthView__today + .controls-MonthView__tableElement .controls-MonthView__dayTitle {
  left: 6px;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView.controls-RangeSelectable__selecting .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-RangeSelectable__item.controls-RangeSelectable__item-selectedStart {
  border-left-width: 1px;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView.controls-RangeSelectable__selecting .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-RangeSelectable__item.controls-RangeSelectable__item-selectedStart .controls-MonthView__dayTitle {
  left: 6px;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView.controls-RangeSelectable__selecting .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-RangeSelectable__item.controls-RangeSelectable__item-selectedStart + .controls-RangeSelectable__item {
  border-left-width: 1px;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView.controls-RangeSelectable__selecting .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-RangeSelectable__item.controls-RangeSelectable__item-selectedStart + .controls-RangeSelectable__item .controls-MonthView__dayTitle {
  left: 6px;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView.controls-RangeSelectable__selecting .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-RangeSelectable__item-selected {
  color: #000;
  background: #F0F5FB;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView.controls-RangeSelectable__selecting .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-RangeSelectable__item-selected.controls-MonthView__weekend {
  color: #EF463A;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView.controls-RangeSelectable__selecting .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-RangeSelectable__item-selected:first-child {
  border-left-width: 2px;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView.controls-RangeSelectable__selecting .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-RangeSelectable__item-selected:first-child .controls-MonthView__dayBorder + .controls-MonthView__dayTitle {
  left: 6px;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView.controls-RangeSelectable__selecting .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-RangeSelectable__item-selected:last-child {
  border-right-width: 2px;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView.controls-RangeSelectable__selecting .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-RangeSelectable__item-selected:last-child .controls-MonthView__dayBorder + .controls-MonthView__dayTitle {
  right: 6px;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView.controls-RangeSelectable__selecting .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-RangeSelectable__item-selected + .controls-MonthView__nextMonth {
  border-left-width: 1px;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView.controls-RangeSelectable__selecting .controls-MonthView__dayTable.controls-MonthView__today {
  border: 1px solid #ff7033;
  border-bottom-width: 2px;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView.controls-RangeSelectable__selecting .controls-MonthView__dayTable.controls-DateRangeBigChoose-MonthView__aboveToday {
  border-bottom-color: #ff7033;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView.controls-RangeSelectable__selecting .controls-MonthView__dayTable.controls-DateRangeBigChoose-MonthView__beforeToday {
  border-right-color: #ff7033;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView.controls-RangeSelectable__selecting .controls-MonthView__tableRow:first-child .controls-RangeSelectable__item {
  border-top-width: 1px;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView.controls-RangeSelectable__selecting .controls-MonthView__tableRow:first-child .controls-RangeSelectable__item.controls-MonthView__today {
  border-color: #ff7033;
  border-top-width: 2px;
  border-left-width: 2px;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView.controls-RangeSelectable__selecting .controls-MonthView__tableRow:first-child .controls-RangeSelectable__item.controls-MonthView__today .controls-MonthView__dayBorder + .controls-MonthView__dayTitle {
  right: 6px;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView.controls-RangeSelectable__selecting .controls-MonthView__tableRow:first-child .controls-RangeSelectable__item.controls-RangeSelectable__item-selected {
  border-top-width: 2px;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView.controls-DateRangeBigChoose__calendar-fogged .controls-MonthView__caption-text {
  color: #808080;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView.controls-DateRangeBigChoose__calendar-fogged .controls-MonthView__dayTable .controls-MonthView__tableElement {
  border-color: #dddddd;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView.controls-DateRangeBigChoose__calendar-fogged .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-MonthView__prevMonth.controls-MonthView__lastDayOfMonth {
  border-color: #dddddd;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView.controls-DateRangeBigChoose__calendar-fogged .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-MonthView__prevMonth.controls-MonthView__lastDayOfMonth + .controls-RangeSelectable__item.controls-RangeSelectable__item-selected {
  border-left-color: #dddddd;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView.controls-DateRangeBigChoose__calendar-fogged .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-RangeSelectable__item {
  border-color: #dddddd;
  color: #808080;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView.controls-DateRangeBigChoose__calendar-fogged .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-RangeSelectable__item.controls-MonthView__weekend {
  color: #f79f98;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView.controls-DateRangeBigChoose__calendar-fogged .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-RangeSelectable__item:hover {
  background: #F0F5FB;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView.controls-DateRangeBigChoose__calendar-fogged .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-RangeSelectable__item.controls-RangeSelectable__item-selectedStart.controls-RangeSelectable__item-selected,
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView.controls-DateRangeBigChoose__calendar-fogged .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-RangeSelectable__item.controls-RangeSelectable__item-selectedEnd.controls-RangeSelectable__item-selected {
  color: #ffffff;
  background: #0066FF;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView.controls-DateRangeBigChoose__calendar-fogged .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-RangeSelectable__item.controls-RangeSelectable__item-selectedEnd + .controls-MonthView__tableElement {
  border-color: #dddddd;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView.controls-DateRangeBigChoose__calendar-fogged .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-RangeSelectable__item.controls-RangeSelectable__item-selectedStart + .controls-RangeSelectable__item {
  border-left-color: #dddddd;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView.controls-DateRangeBigChoose__calendar-fogged .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-RangeSelectable__item.controls-RangeSelectable__item-selected {
  color: grayscale(inherit, 20%);
  background: #F0F5FB;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView.controls-DateRangeBigChoose__calendar-fogged .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-RangeSelectable__item.controls-RangeSelectable__item-selected.controls-MonthView__weekend {
  color: #f79f98;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView.controls-DateRangeBigChoose__calendar-fogged .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-RangeSelectable__item.controls-RangeSelectable__item-selected + .controls-MonthView__nextMonth {
  border-color: #dddddd;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView.controls-DateRangeBigChoose__calendar-fogged .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-RangeSelectable__item.controls-MonthView__today {
  border-color: #ffb899;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView.controls-DateRangeBigChoose__calendar-fogged .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-RangeSelectable__item.controls-MonthView__today + .controls-MonthView__tableElement {
  border-left-color: #ffb899;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView.controls-DateRangeBigChoose__calendar-fogged .controls-MonthView__dayTable .controls-MonthView__tableRow:first-child .controls-RangeSelectable__item {
  border-top-color: #dddddd;
}
.controls-DateRangeBigChoose-DateRangePicker .controls-MonthView.controls-DateRangeBigChoose__calendar-fogged .controls-MonthView__dayTable .controls-MonthView__tableRow:first-child .controls-RangeSelectable__item.controls-MonthView__today {
  border-color: #ffb899;
}
.controls-DateRangeBigChoose {
  background-color: #fff;
  border: 3px solid #E4E4E4;
  border-radius: 4px;
  width: 350px;
  font-family: 'TensorFont Regular', 'TensorFont', sans-serif;
}
.controls-DateRangeBigChoose.ws-area {
  height: auto;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__header {
  background-color: #f9f9f9;
  border-bottom: 1px solid #E4E4E4;
  padding: 6px 0 8px 8px;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__header .controls-DateRangeBigChoose__homeBtn {
  margin: 2px 0 0 0;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  font-size: 14px !important;
  line-height: 22px !important;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__header .controls-DateRangeBigChoose__header-date-pickers {
  float: right;
  margin-right: 44px;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__header .controls-DateRangeBigChoose__ApplyButton {
  height: 28px;
  width: 28px;
  border-radius: 14px;
  font-size: 18px !important;
  line-height: 26px !important;
  margin-left: 8px;
  float: right;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__header .controls-DateRangeBigChoose__header-rangeDash {
  float: right;
  width: 2px;
  border-bottom: 1px solid black;
  margin: 14px 3px 0 3px;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__header .controls-DateRangeBigChoose__datePickerEnd,
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__header .controls-DateRangeBigChoose__datePickerStart {
  float: right;
  margin-top: 2px;
  height: auto;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__header .controls-DateRangeBigChoose__datePickerEnd-wrapper {
  float: right;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__header .controls-DateBox .controls-FormattedTextBox__fieldWrapper {
  border: 1px solid #E4E4E4;
  border-radius: 3px;
  font-size: 14px;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__header .controls-DateBox:hover .controls-FormattedTextBox__fieldWrapper,
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__header .controls-DateBox.ws-has-focus .controls-FormattedTextBox__fieldWrapper {
  border-color: #CCC;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__left {
  position: absolute;
  width: 33px;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__center {
  position: absolute;
  left: 33px;
  right: 33px;
}
.controls-DateRangeBigChoose.controls-DateRangeBigChoose__yearHovered .controls-DateRangeBigChoose__center {
  background-color: #F0F5FB;
}
.controls-DateRangeBigChoose.controls-DateRangeBigChoose__yearHovered .controls-DateRangeBigChoose__years .controls-DateRangeBigChoose__left {
  border-right: 1px solid #E4E4E4;
}
.controls-DateRangeBigChoose.controls-DateRangeBigChoose__yearHovered .controls-DateRangeBigChoose__years .controls-DateRangeBigChoose__right {
  border-left: 1px solid #E4E4E4;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__right {
  position: absolute;
  width: 33px;
  right: 0;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__years {
  border-bottom: 1px solid #E4E4E4;
  height: 40px;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__years .controls-DateRangeBigChoose__left,
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__years .controls-DateRangeBigChoose__center,
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__years .controls-DateRangeBigChoose__right {
  padding: 8px 0 8px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__years .controls-DateRangeBigChoose__left,
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__years .controls-DateRangeBigChoose__right {
  text-align: center;
  height: 40px;
  vertical-align: middle;
  line-height: 23px;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__years .controls-DateRangeBigChoose__left {
  border-right: 1px solid transparent;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__years .controls-DateRangeBigChoose__right {
  border-left: 1px solid transparent;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__years .controls-DateRangeBigChoose__yearsRange button {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__years .controls-DateRangeBigChoose__yearsRange button.controls-RangeSelectable__item.controls-RangeSelectable__item-selected {
  background-color: #F0F5FB;
  border: 1px solid #0055BB;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__years .controls-DateRangeBigChoose__yearsRange button.controls-RangeSelectable__item.controls-RangeSelectable__item-selected:hover {
  border-left-color: #0055BB;
  border-right-color: #0055BB;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__years .controls-DateRangeBigChoose__yearsRange button.controls-RangeSelectable__item.controls-RangeSelectable__item-selected.controls-RangeSelectable__item-selectedStart,
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__years .controls-DateRangeBigChoose__yearsRange button.controls-RangeSelectable__item.controls-RangeSelectable__item-selected.controls-RangeSelectable__item-selectedEnd {
  color: #fff;
  background-color: #0066FF;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__years .controls-DateRangeBigChoose__yearsRange .controls-RangeSelectable__item.controls-RangeSelectable__item-selected button {
  background-color: #F0F5FB;
  border: 1px solid #0055BB;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__years .controls-DateRangeBigChoose__yearsRange .controls-RangeSelectable__item.controls-RangeSelectable__item-selected button:hover {
  border-left-color: #0055BB;
  border-right-color: #0055BB;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__years .controls-DateRangeBigChoose__yearsRange .controls-RangeSelectable__item.controls-RangeSelectable__item-selected.controls-RangeSelectable__item-selectedStart button,
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__years .controls-DateRangeBigChoose__yearsRange .controls-RangeSelectable__item.controls-RangeSelectable__item-selected.controls-RangeSelectable__item-selectedEnd button {
  color: #fff;
  background-color: #0066FF;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__years .controls-DateRangeBigChoose__yearsRange button.controls-Button {
  border: none;
  display: block;
  float: left;
  width: 16.6666%;
  font-size: 15px;
  text-align: center;
  background-color: transparent;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__years .controls-DateRangeBigChoose__yearsRange button.controls-Button:hover {
  color: #000000;
  font-weight: bold;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__years .controls-DateRangeBigChoose__yearsRange button.controls-Button .controls-Button__text {
  margin: 0;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__years .controls-DateRangeBigChoose__yearsRange button.controls-Button.controls-RangeSelectable__item.controls-RangeSelectable__item-selected {
  border-left: none;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__years .controls-DateRangeBigChoose__yearsRange button.controls-Button.controls-DateRangeBigChoose__currentYear {
  color: #0055BB;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__years .controls-DateRangeBigChoose__years-currentYearBtn.controls-Link {
  margin: 0 22px 0 18px;
  font-size: 18px !important;
  line-height: 24px !important;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__years .controls-DateRangeBigChoose__years-currentYearBtn.controls-Link:hover {
  color: #0055BB;
  text-decoration: none;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__years .controls-DateRangeBigChoose__years-currentYearBtn.controls-Link:active {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  background-color: #0066FF;
  border: 1px solid #0055BB;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__years .controls-DateRangeBigChoose__years-toggleChooseYearBtn.controls-Link {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 34px;
  border: 1px dotted transparent;
  font-size: 18px !important;
  line-height: 22px;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__years .controls-DateRangeBigChoose__years-toggleChooseYearBtn.controls-Link:hover {
  border: 1px dotted #999;
  color: #0055BB;
  text-decoration: none;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__years .controls-DateRangeBigChoose__years-back {
  font-weight: normal;
  font-size: 18px !important;
  line-height: 22px !important;
  padding-left: 2px;
  border: 1px dotted transparent;
  width: 24px;
  height: 24px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__years .controls-DateRangeBigChoose__years-back.icon-primary.controls-IconButton.action-hover:hover {
  border: 1px dotted #999;
  color: #0055BB !important;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__months {
  position: relative;
  height: 403px;
  top: 0;
  bottom: 0;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__months .controls-DateRangeBigChoose__months-quarterRange,
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__months .controls-DateRangeBigChoose__months-halfyearRange {
  width: auto;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__months .controls-DateRangeBigChoose__months-quarterRange button,
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__months .controls-DateRangeBigChoose__months-halfyearRange button {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__months .controls-DateRangeBigChoose__months-quarterRange button.controls-RangeSelectable__item.controls-RangeSelectable__item-selected,
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__months .controls-DateRangeBigChoose__months-halfyearRange button.controls-RangeSelectable__item.controls-RangeSelectable__item-selected {
  background-color: #F0F5FB;
  border: 1px solid #0055BB;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__months .controls-DateRangeBigChoose__months-quarterRange button.controls-RangeSelectable__item.controls-RangeSelectable__item-selected:hover,
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__months .controls-DateRangeBigChoose__months-halfyearRange button.controls-RangeSelectable__item.controls-RangeSelectable__item-selected:hover {
  border-left-color: #0055BB;
  border-right-color: #0055BB;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__months .controls-DateRangeBigChoose__months-quarterRange button.controls-RangeSelectable__item.controls-RangeSelectable__item-selected.controls-RangeSelectable__item-selectedStart,
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__months .controls-DateRangeBigChoose__months-halfyearRange button.controls-RangeSelectable__item.controls-RangeSelectable__item-selected.controls-RangeSelectable__item-selectedStart,
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__months .controls-DateRangeBigChoose__months-quarterRange button.controls-RangeSelectable__item.controls-RangeSelectable__item-selected.controls-RangeSelectable__item-selectedEnd,
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__months .controls-DateRangeBigChoose__months-halfyearRange button.controls-RangeSelectable__item.controls-RangeSelectable__item-selected.controls-RangeSelectable__item-selectedEnd {
  color: #fff;
  background-color: #0066FF;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__months .controls-DateRangeBigChoose__months-quarterRange .controls-RangeSelectable__item.controls-RangeSelectable__item-selected button,
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__months .controls-DateRangeBigChoose__months-halfyearRange .controls-RangeSelectable__item.controls-RangeSelectable__item-selected button {
  background-color: #F0F5FB;
  border: 1px solid #0055BB;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__months .controls-DateRangeBigChoose__months-quarterRange .controls-RangeSelectable__item.controls-RangeSelectable__item-selected button:hover,
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__months .controls-DateRangeBigChoose__months-halfyearRange .controls-RangeSelectable__item.controls-RangeSelectable__item-selected button:hover {
  border-left-color: #0055BB;
  border-right-color: #0055BB;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__months .controls-DateRangeBigChoose__months-quarterRange .controls-RangeSelectable__item.controls-RangeSelectable__item-selected.controls-RangeSelectable__item-selectedStart button,
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__months .controls-DateRangeBigChoose__months-halfyearRange .controls-RangeSelectable__item.controls-RangeSelectable__item-selected.controls-RangeSelectable__item-selectedStart button,
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__months .controls-DateRangeBigChoose__months-quarterRange .controls-RangeSelectable__item.controls-RangeSelectable__item-selected.controls-RangeSelectable__item-selectedEnd button,
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__months .controls-DateRangeBigChoose__months-halfyearRange .controls-RangeSelectable__item.controls-RangeSelectable__item-selected.controls-RangeSelectable__item-selectedEnd button {
  color: #fff;
  background-color: #0066FF;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__months .controls-DateRangeBigChoose__months-quarterRange button,
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__months .controls-DateRangeBigChoose__months-halfyearRange button {
  border: 1px solid #E4E4E4;
  border-bottom: none;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__months .controls-DateRangeBigChoose__months-quarterRange button .controls-Button__text,
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__months .controls-DateRangeBigChoose__months-halfyearRange button .controls-Button__text {
  margin: 0;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__months .controls-DateRangeBigChoose__months-quarterRange :first-child button,
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__months .controls-DateRangeBigChoose__months-halfyearRange :first-child button {
  border-top: none;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__months .controls-DateRangeBigChoose__months-quarterRange .controls-RangeSelectable__item.controls-RangeSelectable__item-selected button,
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__months .controls-DateRangeBigChoose__months-halfyearRange .controls-RangeSelectable__item.controls-RangeSelectable__item-selected button {
  border-bottom: none;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__months .controls-DateRangeBigChoose__months-quarterRange .controls-DateRangeBigChoose__months-range-btn-wrapper,
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__months .controls-DateRangeBigChoose__months-halfyearRange .controls-DateRangeBigChoose__months-range-btn-wrapper {
  width: 100%;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__months .controls-DateRangeBigChoose__months-quarterRange .controls-DateRangeBigChoose__months-range-btn-wrapper.controls-RangeSelectable__item-selected,
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__months .controls-DateRangeBigChoose__months-halfyearRange .controls-DateRangeBigChoose__months-range-btn-wrapper.controls-RangeSelectable__item-selected {
  background-color: #F0F5FB;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__months .controls-DateRangeBigChoose__months-range-btn-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__months .controls-DateRangeBigChoose__months-range-btn-wrapper > button {
  width: 33px;
  height: 100%;
  background-color: transparent;
  font-size: inherit;
  border-bottom: none;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__months .controls-DateRangeBigChoose__months-range-btn-wrapper.controls-RangeSelectable__item.controls-RangeSelectable__item-selected {
  border-top: none;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__months .controls-DateRangeBigChoose__months-range-btn-wrapper.controls-RangeSelectable__item.controls-RangeSelectable__item-selected + .controls-DateRangeBigChoose__months-range-btn-wrapper:not(.controls-RangeSelectable__item-selected) {
  border-top: 1px solid #E4E4E4;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__months .controls-DateRangeBigChoose__months-range-btn-wrapper.controls-RangeSelectable__item.controls-RangeSelectable__item-selected + .controls-DateRangeBigChoose__months-range-btn-wrapper:not(.controls-RangeSelectable__item-selected) > button {
  border-top: none;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__months .controls-DateRangeBigChoose__months-range-btn-wrapper:not(.controls-RangeSelectable__item-selected) + .controls-RangeSelectable__item-selected {
  border-top: 1px solid #E4E4E4;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__months .controls-DateRangeBigChoose__months-quarterRange {
  right: 33px;
  left: 0;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__months .controls-DateRangeBigChoose__months-quarterRange .controls-DateRangeBigChoose__months-range-btn-wrapper > button {
  border-left-color: transparent;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__months .controls-DateRangeBigChoose__months-quarterRange .controls-DateRangeBigChoose__months-range-btn-wrapper.controls-DateRangeBigChoose__months-range-btn-wrapper0 {
  height: 104px;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__months .controls-DateRangeBigChoose__months-quarterRange .controls-DateRangeBigChoose__months-range-btn-wrapper.controls-DateRangeBigChoose__months-range-btn-wrapper3 {
  height: 105px;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__months .controls-DateRangeBigChoose__months-quarterRange .controls-DateRangeBigChoose__months-range-btn-wrapper.controls-DateRangeBigChoose__months-range-btn-wrapper1,
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__months .controls-DateRangeBigChoose__months-quarterRange .controls-DateRangeBigChoose__months-range-btn-wrapper.controls-DateRangeBigChoose__months-range-btn-wrapper2 {
  height: 97px;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__months .controls-DateRangeBigChoose__months-halfyearRange {
  right: 0;
  left: 33px;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__months .controls-DateRangeBigChoose__months-halfyearRange .controls-DateRangeBigChoose__months-range-btn-wrapper {
  height: 202px;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__months .controls-DateRangeBigChoose__months-halfyearRange .controls-DateRangeBigChoose__months-range-btn-wrapper.controls-DateRangeBigChoose__months-range-btn-wrapper0 {
  height: 201px;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__months .controls-DateRangeBigChoose__months-halfyearRange .controls-DateRangeBigChoose__months-range-btn-wrapper > button {
  float: right;
  border-right-color: transparent;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__months .controls-DateRangeBigChoose__months-halfyearRange .controls-DateRangeBigChoose__months-range-btn-wrapper > button:after {
  content: "";
  display: block;
  clear: both;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__months .controls-DateRangeBigChoose__months-month {
  height: 100%;
  overflow: hidden;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__months .controls-DateRangeBigChoose__months-toStart {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-top: 8px solid #0066FF;
  border-right: 8px solid transparent;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__months .controls-DateRangeBigChoose__months-toEnd {
  position: absolute;
  cursor: pointer;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-bottom: 8px solid #0066FF;
  border-left: 8px solid transparent;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__dates {
  height: 403px;
  position: relative;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__dates .controls-DateRangeBigChoose__dates-months {
  position: absolute;
  width: 81px;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__dates .controls-DateRangeBigChoose__dates-months button {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__dates .controls-DateRangeBigChoose__dates-months button.controls-RangeSelectable__item.controls-RangeSelectable__item-selected {
  background-color: #F0F5FB;
  border: 1px solid #0055BB;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__dates .controls-DateRangeBigChoose__dates-months button.controls-RangeSelectable__item.controls-RangeSelectable__item-selected:hover {
  border-left-color: #0055BB;
  border-right-color: #0055BB;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__dates .controls-DateRangeBigChoose__dates-months button.controls-RangeSelectable__item.controls-RangeSelectable__item-selected.controls-RangeSelectable__item-selectedStart,
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__dates .controls-DateRangeBigChoose__dates-months button.controls-RangeSelectable__item.controls-RangeSelectable__item-selected.controls-RangeSelectable__item-selectedEnd {
  color: #fff;
  background-color: #0066FF;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__dates .controls-DateRangeBigChoose__dates-months .controls-RangeSelectable__item.controls-RangeSelectable__item-selected button {
  background-color: #F0F5FB;
  border: 1px solid #0055BB;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__dates .controls-DateRangeBigChoose__dates-months .controls-RangeSelectable__item.controls-RangeSelectable__item-selected button:hover {
  border-left-color: #0055BB;
  border-right-color: #0055BB;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__dates .controls-DateRangeBigChoose__dates-months .controls-RangeSelectable__item.controls-RangeSelectable__item-selected.controls-RangeSelectable__item-selectedStart button,
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__dates .controls-DateRangeBigChoose__dates-months .controls-RangeSelectable__item.controls-RangeSelectable__item-selected.controls-RangeSelectable__item-selectedEnd button {
  color: #fff;
  background-color: #0066FF;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__dates .controls-DateRangeBigChoose__dates-months button {
  border: 1px solid #E4E4E4;
  border-bottom: none;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__dates .controls-DateRangeBigChoose__dates-months button .controls-Button__text {
  margin: 0;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__dates .controls-DateRangeBigChoose__dates-months :first-child button {
  border-top: none;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__dates .controls-DateRangeBigChoose__dates-months .controls-RangeSelectable__item.controls-RangeSelectable__item-selected button {
  border-bottom: none;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__dates .controls-DateRangeBigChoose__dates-months button.controls-Button {
  width: 100%;
  height: 33px;
  border-top: none;
  border-bottom: none;
  color: #0055BB;
  font-size: 16px;
  text-align: left;
  padding-left: 8px;
  border-left-color: transparent;
  background-color: transparent;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__dates .controls-DateRangeBigChoose__dates-months button.controls-Button:first-child {
  height: 36px;
  padding-top: 0px;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__dates .controls-DateRangeBigChoose__dates-months button.controls-Button:last-child {
  height: 37px;
  padding-bottom: 4px;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__dates .controls-DateRangeBigChoose__dates-months button.controls-Button.controls-RangeSelectable__item.controls-RangeSelectable__item-selected {
  border-top: none;
  border-bottom: none;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__dates .controls-DateRangeBigChoose__dates-dates-wrapper {
  position: absolute;
  left: 89px;
  right: 8px;
  top: 0;
  bottom: 0;
  overflow: hidden;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__dates .controls-DateRangeBigChoose__dates-dates {
  top: -262px;
  position: absolute;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__dates .controls-DateRangeBigChoose__dates-dates-top-gradient {
  position: absolute;
  left: 0;
  right: 0;
  height: 40px;
  background: url('../../themes/online/img/DateRangeBig-images2.png') 0 0 repeat-x;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__dates .controls-DateRangeBigChoose__dates-dates-bottom-gradient {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 40px;
  background: url('../../themes/online/img/DateRangeBig-images2.png') 0 -40px repeat-x;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__years-panel-wrapper {
  width: 33%;
  float: left;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__years-panel-wrapper > * {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  display: block;
  margin: 0 20px;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__iconPrevYear {
  background: url('../../themes/online/img/DateRangeBig-images.png') 0 0 no-repeat;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__iconPrevYear:hover {
  background: url('../../themes/online/img/DateRangeBig-images.png') 0 -24px no-repeat;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__iconNextYear {
  background: url('../../themes/online/img/DateRangeBig-images.png') 0 -48px no-repeat;
}
.controls-DateRangeBigChoose .controls-DateRangeBigChoose__iconNextYear:hover {
  background: url('../../themes/online/img/DateRangeBig-images.png') 0 -72px no-repeat;
}
.controls-DateRangeBigChoose.controls-DateRangeBigChoose__selectionProcessing .controls-DateRangeBigChoose-MonthRangePicker.controls-ListView .controls-DateRangeBigChoose-MonthView.controls-MonthView .controls-MonthView__dayTable td {
  cursor: default;
}
.controls-DateRangeBigChoose.controls-DateRangeBigChoose__selectionProcessing .controls-DateRangeBigChoose-MonthRangePicker.controls-ListView .controls-DateRangeBigChoose-MonthView.controls-MonthView .controls-MonthView__dayTable:hover {
  border-color: transparent;
}
body:not(.ws-is-mobile-platform) .controls-DateRangeBigChoose .controls-DateRangeBigChoose__months .controls-DateRangeBigChoose__months-range-btn-wrapper > button:hover {
  font-weight: bold;
}
body:not(.ws-is-mobile-platform) .controls-DateRangeBigChoose .controls-DateRangeBigChoose__months .controls-DateRangeBigChoose__months-range-btn-wrapper:not(.controls-RangeSelectable__item-selected):hover {
  background-color: #F0F5FB;
}
body:not(.ws-is-mobile-platform) .controls-DateRangeBigChoose .controls-DateRangeBigChoose__months .controls-DateRangeBigChoose__months-range-btn-wrapper:not(.controls-RangeSelectable__item-selected):hover > button {
  border-top: none;
}
body:not(.ws-is-mobile-platform) .controls-DateRangeBigChoose .controls-DateRangeBigChoose__months .controls-DateRangeBigChoose__months-range-btn-wrapper:not(.controls-RangeSelectable__item-selected):hover + .controls-DateRangeBigChoose__months-range-btn-wrapper > button {
  border-top: none;
}
body:not(.ws-is-mobile-platform) .controls-DateRangeBigChoose .controls-DateRangeBigChoose__months .controls-DateRangeBigChoose__months-range-btn-wrapper:not(.controls-RangeSelectable__item-selected):hover + .controls-DateRangeBigChoose__months-range-btn-wrapper {
  border-top: 1px solid #E4E4E4;
}
body:not(.ws-is-mobile-platform) .controls-DateRangeBigChoose .controls-DateRangeBigChoose__months .controls-DateRangeBigChoose__months-range-btn-wrapper:not(.controls-RangeSelectable__item-selected) + .controls-DateRangeBigChoose__months-range-btn-wrapper:hover {
  border-top: 1px solid #E4E4E4;
}
body:not(.ws-is-mobile-platform) .controls-DateRangeBigChoose .controls-DateRangeBigChoose__months .controls-DateRangeBigChoose__months-quarterRange button:hover,
body:not(.ws-is-mobile-platform) .controls-DateRangeBigChoose .controls-DateRangeBigChoose__months .controls-DateRangeBigChoose__months-halfyearRange button:hover {
  border-bottom: none;
}
body:not(.ws-is-mobile-platform) .controls-DateRangeBigChoose .controls-DateRangeBigChoose__months .controls-DateRangeBigChoose__months-quarterRange .controls-DateRangeBigChoose__months-range-btn-wrapper:not(.controls-RangeSelectable__item-selected) > button:hover {
  border-left-color: #F0F5FB;
  border-right-color: #F0F5FB;
}
body:not(.ws-is-mobile-platform) .controls-DateRangeBigChoose .controls-DateRangeBigChoose__months .controls-DateRangeBigChoose__months-halfyearRange .controls-DateRangeBigChoose__months-range-btn-wrapper:not(.controls-RangeSelectable__item-selected) > button:hover {
  border-right-color: #F0F5FB;
  border-left-color: #F0F5FB;
}
body:not(.ws-is-mobile-platform) .controls-DateRangeBigChoose .controls-DateRangeBigChoose__dates .controls-DateRangeBigChoose__dates-months button.controls-Button:not(.controls-RangeSelectable__item-selected):hover {
  border-left-color: #F0F5FB;
  background: #F0F5FB;
}
