<div>
    <h2>Задано несколько вкладок.</h2>
    <Controls.PageLayout attr:style="width: 100%; margin-bottom: 150px;"
            tabsSelectedKey = "{{_demoTabsSelectedKey}}"
            tabsSource = "{{_demoTabsSource}}"/>
    <h2>Задана одна вкладка.</h2>
    <Controls.PageLayout attr:style="width: 100%; margin-bottom: 150px;"
                         tabsSelectedKey = "{{_demoTabsSelectedKey}}"
                         tabsSource = "{{_demoTabsSource2}}"/>
</div>