<span class="controls-Spoiler__title-caption js-controls-Spoiler__title-caption {{!caption ? ' controls-Spoiler__emptyCaption' : ''}}">
   <span class="controls-Spoilter__title-caption-text">{{caption ? caption : '&nbsp;'}}</span>
   <ws:SBIS3.CONTROLS.IconButton icon="icon-16 icon-Close icon-disabled" className="controls-Spoiler__resetFilterField" command="resetFilterField" commandArgs="{{[name]}}" tooltip="Сбросить фильтр"/>
</span>