<ws:SBIS3.CONTROLS.ScrollContainer className="controls-Accordion__scrollContainer">
   <ws:content type="string">
      <ws:SBIS3.CONTROLS.Accordion
         name="FilterAccordion"
         itemContentTpl="{{ _accordionItemContentTpl }}"
         idProperty="id">
      </ws:SBIS3.CONTROLS.Accordion>
   </ws:content>
</ws:SBIS3.CONTROLS.ScrollContainer>