<div class="controls-AdditionalParams">
   <div class="controls-FilterPanel__caption">{[Еще можно отобрать]}</div>
   <div class="controls-AdditionalParams__items controls-AdditionalParams_maxHeight" name="items">
      <ws:for data="index, item in _options.items">
         <div if="{{!item.visibility}}" class="controls-AdditionalParams__item">
            <ws:partial template="{{_options.additionalTemplate}}"
                        item="{{item}}"
                        on:click="_clickItemHandler(index)"
                        on:valueChanged="_valueChangedHandler(index)"
                        on:selectedKeysChanged="_valueChangedHandler(index)"/>
         </div>
      </ws:for>
   </div>

   <div if="{{_arrowVisible}}" class="controls-AdditionalParams__arrow">
      <Controls.Button.BigSeparator
              value="{{_isMaxHeight}}"
              on:click="_clickSeparatorHandler()"/>
   </div>
</div>