<div class="controls-InputRender__placeholder controls-TextBox__placeholder controls-InputRender__placeholder_simple {{ isMultiline ? 'controls-InputRender__placeholder--multiline' }}">
   <span class="controls-InputRender__placeholder__overflow controls-TextBox__placeholder__overflow">
      {{ placeholder }}
   </span>
</div>