
   <input
      name="input"
      type="{{ type }}"
      value="{{value}}"
      class="controls-InputRender__field"
      readonly="{{enabled ? '' : 'readonly'}}"
      autocomplete="off"
      required="true"
   />