<ws:if data="{{ enabled }}">
   <input
      name="input"
      type="{{ type }}"
      value="{{value}}"
      class="controls-InputRender__field"
      readonly="{{enabled ? '' : 'readonly'}}"
      autocomplete="off"
      required="true"
   />
</ws:if>
<ws:else>
   <div class="controls-InputRender__field" tabindex="-1">{{value}}</div>
</ws:else>