<ws:if data="{{ enabled }}">
   <input
           name="input"
           type="{{ type }}"
           value="{{value}}"
           class="controls-InputRender__field"
           readonly="{{enabled ? '' : 'readonly'}}"
           autocomplete="{{autocomplete ? 'off' : 'new-password'}}"
   />
</ws:if>
<ws:else>
   <div class="controls-InputRender__field controls-InputRender__field_readOnly" tabindex="-1">{{value}}</div>
</ws:else>