<div class="ws-suggestView" style="width: {{_options.width + 'px'}};">
    <div class="ws-suggestView__body">
        <ws:partial
                template="{{_options.template}}"
                items="{{_options.items}}"
                on:itemClick="_onItemClickHandler()"
        />
    </div>
    <div class="ws-suggestView__footer">
        <ws:if data="{{_options.footerTemplate}}">
            <ws:partial template="{{_options.footerTemplate}}"></ws:partial>
        </ws:if>
    </div>
</div>