<input
   event:oninput="inputHandler()"
   event:onfocus="focusHandler()"
   event:onselect="selectHandler()"
   event:onclick="clickHandler()"
   event:onkeyup="keyupHandler()"
   event:onchange="changeHandler()"
   type="{{type}}"
   value="{{text}}"
   class="controls-TextBox__field"
   placeholder="{{enabled ? placeholder}}"
   readonly="{{enabled ? '' : 'readonly'}}"
   autocomplete="off"
/>