@import "../../_scroll/Scroll/_contentEnvironmentZIndex";

.controls-SuggestV {
	max-width: 100%;
	position: relative;
	display: inline-block;
	min-height: 1px;
}

.controls-Suggest__layout-input {
	width: 100%;
}

.controls-Suggest__suggestionsContainer {
	border: var(--popup_border-color_suggest) var(--popup_border-thickness_suggest) solid;
	box-sizing: border-box;
	background-color: var(--background-color_sticky);
	// Строка поиска с автодополнением должна перекрывать тени скрола, скроллбар, стики заголовки внутри скрола
	z-index: calc(var(--z-index_Scroll-contentEnvironment) + 1);
}

.controls-Suggest-Text_style_overInput {
	z-index: calc(var(--z-index_Scroll-contentEnvironment) + 2);
}

.controls-Suggest__footer {
	align-self: flex-end;
	.flexbox();
}

.controls-Suggest__showAllLink {
	color: var(--showall_text-color_suggest);
	height: var(--footer_height_suggest);
	font-size: var(--showall_font-size_suggest);
	cursor: pointer;
	padding: 0 var(--showall_padding-horizontal_suggest);
}

.ws-is-hover {
	.controls-Suggest__showAllLink:hover {
		color: var(--showall_hover_text-color_suggest);
		text-decoration: underline;
	}
}

.controls-Suggest__showAllLink:active {
	color: var(--showall_active_text-color_suggest);
	text-decoration: underline;
}

.controls-Suggest__moreLink-content,
.controls-Suggest__showAllLink-content {
	display: inline-flex;
	align-items: center;
	height: 100%;
}

.controls-Suggest__moreLink {
	color: var(--more_text-color_suggest);
	height: var(--footer_height_suggest);
	font-size: var(--more_font-size_suggest);
	cursor: pointer;
	padding: 0 var(--more_padding-horizontal_suggest);
}

.ws-is-hover {
	.controls-Suggest__moreLink:hover {
		color: var(--more_hover_text-color_suggest);
		text-decoration: underline;
	}
}

.controls-Suggest__moreLink:active {
	color: var(--more_active_text-color_suggest);
	text-decoration: underline;
}

.controls-Suggest__tabs {
	width: 100%;
	margin-bottom: var(--tabs_offset-bottom_suggest);
}

.controls-Suggest__empty {
	color: var(--unaccented_text-color);
	text-align: center;
	padding: var(--placeholder_padding-top_l_list) 0;
}

.controls-Suggest__scrollContainer {
	height: 100%;
	width: 100%;
	//need to inherit max-height from popup on IOS, otherwise height 100% will not work
	max-height: inherit;
}

.controls-Suggest__Misspell {
	padding: 0 var(--misspell_padding-horizontal_suggest);
	box-sizing: border-box;
}
