
@padding_ExportCustomizer-Formatter-View-title: 6px 0 18px 12px;
@font-size_ExportCustomizer-Formatter-View-title: 15px;
@color_ExportCustomizer-Formatter-View-title: #313E78;

.controls-ExportCustomizer-Formatter-View__head {
}

.controls-ExportCustomizer-Formatter-View__title {
   padding: @padding_ExportCustomizer-Formatter-View-title;
   font-size: @font-size_ExportCustomizer-Formatter-View-title;
   font-weight: bold;
   color: @color_ExportCustomizer-Formatter-View-title;
}

.controls-ExportCustomizer-Formatter-View__formatterMenu {
}

.controls-ExportCustomizer-Formatter-View__preview {
}
