<div class="controls-ExportCustomizer-Formatter-View">
   <div class="controls-ExportCustomizer-Formatter-View__head">
      <div class="controls-ExportCustomizer-Formatter-View__title">
         <ws:if data="{{title}}">{{title}}</ws:if><ws:else>{[НастройщикЭкспорта@@Формат отображения]}</ws:else>
      </div>
      <SBIS3.CONTROLS:WSControls:Buttons:MenuButton
         class="controls-ExportCustomizer-Formatter-View__formatterMenu"
         name="controls-ExportCustomizer-Formatter-View__formatterMenu"
         caption="{{menuTitle}}"
         tooltip="{[НастройщикЭкспорта@@Редактировать формат отображения]}"
         icon="sprite:icon-16 icon-Edit icon-primary"
         pickerClassName=""
         items="{{_menuItems}}"
         idProperty="id"
         displayProperty="title"
         handlers="{{undefined}}"
      />
   </div>
   <img
      class="controls-ExportCustomizer-Formatter-View__preview"
      src="{{previewUrl || '/resources/SBIS3.CONTROLS/ExportCustomizer/_Formatter/img/formatter.png'}}"
      title="{[НастройщикЭкспорта@@Редактировать формат отображения в браузере]}"
   />
   <!--^^^<SBIS3.CONTROLS:Button
      className="controls-ExportCustomizer-Formatter-View__preview"
      name="controls-ExportCustomizer-Formatter-View__preview"
      command="editInBrowser"
      caption=""
   />-->
</div>