<div class="controls-ExportCustomizer-Formatter-View">
   <div class="controls-ExportCustomizer-Formatter-View__head">
      <div class="controls-ExportCustomizer-Formatter-View__title">
         <ws:if data="{{title}}">{{title}}</ws:if><ws:else>{[НастройщикЭкспорта@@Формат отображения]}</ws:else>
      </div>
      <SBIS3.CONTROLS.Menu.MenuLink
         class="controls-ExportCustomizer-Formatter-View__formatterMenu"
         name="controls-ExportCustomizer-Formatter-View__formatterMenu"
         caption="{{menuTitle}}"
         tooltip="{[НастройщикЭкспорта@@Редактировать формат отображения]}"
         icon="sprite:icon-16 icon-Edit icon-primary"
         pickerClassName=""
         items="{{_menuItems}}"
         idProperty="id"
         displayProperty="title"
         handlers="{{undefined}}"
      />
   </div>
   <div
      class="controls-ExportCustomizer-Formatter-View__preview"
      >
      <img />
   </div>
   <div class="controls-ExportCustomizer-Formatter-View__text">Настройте ширину, цвет, шрифт колонок, кликнув на изображение</div>
</div>
