.controls-OperationsButton {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   position: relative;
   cursor: pointer;
}
.controls-OperationsButton_theme-@{themeName} {
   color: @icon-color_operationsButton;
   width: @width_operationsButton;
   height: @height_operationsButton;
   font-size: @icon-size_operationsButton;
   font-family: @icon_font-family_l;
}
.controls-OperationsButton_state_disabled_theme-@{themeName} {
   color: @readonly_icon-color_operationsButton;
}
.controls-OperationsButton_state_enabled_theme-@{themeName}:active {
   color: @icon-color_active_operationsButton;
}

.controls-OperationsButton::after {
   content: '\00a0';
   position: absolute;
   display: inline-block;
   left: 0;
   top: 0;
}
.controls-OperationsButton_theme-@{themeName}::after {
   background: @separator_color_operationsButton;
   width: @separator_thickness_operationsButton;
   height: @separator_length_operationsButton;
}

.ws-is-hover {
   .controls-OperationsButton_state_enabled_theme-@{themeName}:hover {
      color: @icon-color_hover_operationsButton;
   }
}
