.controls-OperationsButton {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   position: relative;
   cursor: pointer;
}
.controls-OperationsButton_theme-@{themeName} {
   color: @color_OperationsButton-icon;
   width: @width_OperationsButton;
   height: @height_OperationsButton;
   font-size: @font-size_OperationsButton-icon;
   font-family: @font-family_OperationsButton-icon;
}
.controls-OperationsButton_state_disabled_theme-@{themeName} {
   color: @color_OperationsButton-icon_readOnly;
}
.controls-OperationsButton_state_enabled_theme-@{themeName}:active {
   color: @color_OperationsButton-icon_active;
}

.controls-OperationsButton::after {
   content: '\00a0';
   position: absolute;
   display: inline-block;
   left: 0;
   top: 0;
}
.controls-OperationsButton_theme-@{themeName}::after {
   background: @color_OperationsButton-separator;
   width: @thickness_OperationsButton-separator;
   height: @height_OperationsButton-separator;
}

.ws-is-hover {
   .controls-OperationsButton_state_enabled_theme-@{themeName}:hover {
      color: @color_OperationsButton-icon_hovered;
   }
}
