.controls-OperationsButton {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   position: relative;
   color: @color_OperationsButton-icon;
   cursor: pointer;
   width: @width_OperationsButton;
   height: @height_OperationsButton;
   font-size: @font-size_OperationsButton-icon;
   font-family: @font-family_OperationsButton-icon;
}

.controls-OperationsButton:active {
   color: @color_OperationsButton-icon_active;
}

.controls-OperationsButton::after {
   background: @color_OperationsButton-separator;
   width: @thickness_OperationsButton-separator;
   height: @height_OperationsButton-separator;
   content: '\00a0';
   position: absolute;
   display: inline-block;
   left: 0;
   top: 0;
}

.ws-is-no-touch {
   .controls-OperationsButton:hover {
      color: @color_OperationsButton-icon_hovered;
   }
}
