.controls-Label {
   display: inline-block;
}

.controls-Label_underline_none_theme-@{themeName} {
   height: @inline_height_default_label;
   padding-right: @offset-horizontal_label;
}

.controls-Label__wrapper {
   width: 100%;
   height: 100%;
   position: relative;
   align-items: center;
   display: inline-flex;
}

.controls-Label__caption {
   // https://github.com/philipwalton/flexbugs#flexbug-6
   flex-shrink: 1;
   .text-overflow();
}
.controls-Label__caption_theme-@{themeName} {
   font-size: @font-size_Label-caption;
}
.controls-Label__caption_underline_none_theme-@{themeName} {
   color: @text-color_label;
}

.controls-Label__caption_underline_hovered_edit_theme-@{themeName} {
   cursor: pointer;
   color: @text-color_label;
}

.controls-Label__caption_underline_hovered_read_theme-@{themeName} {
   color: @readonly_color;
}

.ws-is-hover .controls-Label__caption_underline_hovered_edit_theme-@{themeName}:hover,
.controls-Label__caption_underline_hovered_edit_theme-@{themeName}:active {
   text-decoration: underline;
   color: @text-color_label;
}

.controls-Label__caption_underline_fixed_theme-@{themeName} {
   text-decoration: underline;
}

.controls-Label__caption_underline_fixed_edit_theme-@{themeName} {
   cursor: pointer;
   color: @text-color_label;
}

.controls-Label__caption_underline_fixed_read_theme-@{themeName} {
   color: @readonly_color;
}

.ws-is-hover .controls-Label__caption_underline_fixed_edit_theme-@{themeName}:hover,
.controls-Label__caption_underline_fixed_edit_theme-@{themeName}:active {
   color: @link_hover_text-color;
}

.controls-Label__asterisk_theme-@{themeName} {
   color: @asterisk_color_label;
}

.controls-Label__fakeLink {
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   position: absolute;
}
