.controls-listTemplates__flatItemTemplate_theme-@{themeName} {
   border-radius: @flatItemTemplate_border-radius_listTemplates;
   background-color: @background-color;
   box-shadow: @flatItemTemplate_shadow_listTemplates;

   .ws-is-hover &:hover {
      box-shadow: @flatItemTemplate_hover_shadow_listTemplates;
   }
}
