.controls-listTemplates__listItemTemplate {
   display: flex;
   width: 100%;
   height: 100%;
}

.controls-listTemplates_listItemTemplate__footer {
   display: flex;
   width: 100%;
   height: 100%;
}
//todo: Сделать нормально, когда будут известны размеры
.controls-listTemplates__listItemTemplate-image {
   width: 160px;
   height: 160px;
}

.controls-listTemplates__listItemTemplate-image_position-right {
   flex-direction: row-reverse;
}

.controls-listTemplates__listItemTemplate-image-padding_position-left {
   padding-right: @offset_m;
}

.controls-listTemplates__listItemTemplate-image-padding_position-right {
   padding-left: @offset_m;
}

.controls-listTemplates__listItemTemplate__itemContent {
   height: 100%;
   display: flex;
   flex-direction: column;
   width: 100%;
}
