<div>
   <Components:Validate:Validate name="validate">
      <ws:validators>
         <ws:Function text="{{ myText }}">Components/Validators/IsEmail</ws:Function>
      </ws:validators>
      <ws:content>
         <DemoComponents:Validation:TextBox:TextBox name="textBox" bind:text="myText" class="textBox"/>
      </ws:content>
   </Components:Validate:Validate>

   <input type="text" placeholder="для увода фокуса" class="input"/>
</div>