<div>
   <Components:Validate:Validate>
      <ws:validators>
         <ws:Function text="{{ myText }}">Components/Validators/IsEmail</ws:Function>
      </ws:validators>
      <ws:content>
         <DemoComponents:Validation:TextBox:TextBox bind:text="myText"/>
      </ws:content>
   </Components:Validate:Validate>
</div>