.controls-Grid_table-layout {
  display: table;
  width: 100%;

  &.controls-Grid_table-layout_fixed {
    table-layout: fixed;
  }

  &.controls-Grid_table-layout_auto {
    table-layout: auto;
  }

  &.controls-Grid_columnScroll {
    position: static;
  }

  .controls-Grid__colgroup {
    display: table-column-group;
  }

  .controls-Grid__colgroup-column {
    display: table-column;
  }

  .controls-Grid__colgroup-columnMultiSelect_theme-@{themeName} {
    width: @click-area_width_checkbox;
  }

  .controls-Grid__header {
    display: table-header-group;
  }

  .controls-Grid__header-cell {
    position: relative;
    top: 0;
    display: table-cell;
    //делаем left для старых таблиц для хрома, чтоб было поведение такое же как для гридов. Выравнивание контента ячейки задается на внутреннем диве.
    text-align: left;
    font-weight: normal;
  }

  .controls-Grid__header-cell_static {
    position: static;
  }

  .controls-Grid__header-cell_valign_top {
    vertical-align: top;
  }

  .controls-Grid__header-cell_valign_middle {
    vertical-align: middle;
  }

  .controls-Grid__header-cell_valign_bottom {
    vertical-align: bottom;
  }

  .controls-Grid__multi-header-cell_min-height_theme-@{themeName} {
    // В таблицах функцию min-height выполняет height
    height: @header_multiline_cell_min-height_grid;
  }

  .controls-Grid__header-cell_min-height_theme-@{themeName} {
    // В таблицах функцию min-height выполняет height
    height: @header_cell_min-height_grid;
  }

   // Этот стиль задаётся для tr и при display: table-row-group ломает вёрстку в IE/Edge
   .controls-Grid__results {
      display: table-row;
   }

  .controls-Grid__results-cell {
    display: table-cell;
    position: static;
  }

  .controls-Grid__row {
    display: table-row;
  }

  .controls-Grid__row-cell {
    display: table-cell;
    vertical-align: top;


    // Для td нет спецификации на position
    // Ячейка обязательно должна иметь position relative для позиционирования маркера относительно себя.
    // Т.к. это невозможно, используется дополнительный блок оборачивающий контент ячейки и имеет position relative.
    // Данный блок растягивается по высоте строки ширине ячейки.
    // Устанавка фиксированной высоты помогает алгоритмам браузера считать высоту td, относительно которой будет
    // растягиваться дополнительный блок.
    // Без задания высоты ячейке, блок будет игнорировать height: 100% и растягиваться по внутреннему содержимому.
    // Минимальный размер строки обеспечивается внутренним блоком.
    height: 0;
  }

  .controls-Grid__row-cell_theme-@{themeName} {
    height: @cell_min-height_grid;
  }

  // default
  .controls-Grid__cell_valign_baseline {
    vertical-align: baseline;
  }
  .controls-Grid__cell_valign_top {
    vertical-align: top;
  }

  .controls-Grid__cell_valign_center {
    vertical-align: middle;
  }

  .controls-Grid__cell_valign_bottom {
    vertical-align: bottom;
  }

  .controls-Grid__cell_fixed {
    position: relative;
  }

  .controls-Grid__row-cell_colspaned {
    width: 100%;
  }

  .controls-Grid__row-cell__contentWrapper {
    display: inline-flex;
    width: 100%;
    align-items: center;
  }

  .controls-Grid__row-cell__content {
    white-space: normal;
  }

  .controls-Grid__row-cell-checkbox_theme-@{themeName} {
    width: @click-area_width_checkbox;
  }

  .controls-Grid__row-cell_selected__first_theme-@{themeName} {
    // Не понятно для чего этот стиль, если понядобится, то нужен коментарий
    // Отключил, потому что во всех браузерах появляется рыжая обводка у строки
    //box-shadow: inset @marker_thickness_list 0 0 @marker_color_list;
  }

  .controls-Grid__header-cell__content__innerWrapper {
    max-width: 100%;
  }

  .controls-Grid__table__relative-cell-wrapper {
    position: relative;
    height: 100%;
  }

  .controls-Grid__table__relative-cell-wrapper_rowSeparator-s_theme-@{themeName} {
    min-height: @cell_min-height_grid - @item-separator_s_thickness_list;
  }

  .controls-Grid__table__relative-cell-wrapper_rowSeparator-l_theme-@{themeName} {
    min-height: @cell_min-height_grid - @item-separator_l_thickness_list;
  }
}

.ws-is-ie .controls-EditingTemplateText__editor {
  display: flex;
}


.ws-is-not-full-grid-support,
.controls-Grid_partial-support_theme-@{themeName} {
  .controls-itemActionsV_style_master_theme-@{themeName} {
    //because of selected item border in Grid is realized by box-shadow, itemAction overlaps bottom shadow by z-index
    //best solution is to increase bottom position of itemAction by border bottom width in old grid master
    bottom: @master_item_selected_border-thickness_list;
    //for the same reason as the problem described above, if in itemActions spacing between content and border-right will
    //realized by padding, itemActions will overlaps right shadow, with margin work fine
    padding-right: 0;
    margin-right: @offset-right_itemActions;
    height: @height_itemActions - @master_item_selected_border-thickness_list;
  }
}
