.controls-Separator__icon_size {
   .icon-size-without-important(@size-Separator__icon);
}

.controls-Separator__icon_style-accent {
   color: @color-Separator__icon_style-Accent;
}

.controls-Separator__icon_style-main {
   color: @color-Separator__icon_style-Main;
}

.controls-Separator__icon_style-additional {
   color: @color-Separator__icon_style-Additional;
}

.controls-Separator__wrapper {
   padding: @spacing-Separator-between-icon-text;
   cursor: pointer;
   display: inline-flex;
   align-items: center;
}

.controls-Separator__wrapper:before {
   content: '\200b';
}

.controls-Separator__icon {
   display: inline-block;
}

.controls-Separator__icon_style-accent:active {
   color: @color-Separator__icon_style-Accent_hovered;
}

.controls-Separator__icon_style-main:active {
   color: @color-Separator__icon_style-Main_hovered;
}

.controls-Separator__icon_style-additional:active{
   color: @color-Separator__icon_style-Additional_hovered;
}

.ws-is-no-touch {
   .controls-Separator__icon_style-accent:hover {
      color: @color-Separator__icon_style-Accent_hovered;
   }

   .controls-Separator__icon_style-main:hover {
      color: @color-Separator__icon_style-Main_hovered;
   }

   .controls-Separator__icon_style-additional:hover {
      color: @color-Separator__icon_style-Additional_hovered;
   }
}


