<div class="controls-Paging">
    <SBIS3.CONTROLS.Button.IconButton
            tooltip="{[В начало]}"
            cssClassName="control-Paging__btn control-Paging__begin"
            name="PagingBegin"
            icon="icon-16 icon-First icon-primary"
            visible="{{visiblePath.begin}}"
    />

    <SBIS3.CONTROLS.Button.IconButton
            tooltip="{[Назад]}"
            cssClassName="control-Paging__btn control-Paging__prev"
            name="PagingPrev"
            icon="icon-16 icon-Back2 icon-primary"
            visible="{{visiblePath.prev}}"
    />
    <div class="controls-Paging__itemsContainer{{visiblePath.pages ? '' : ' ws-hidden'}}">
        <ws:partial template="{{ _itemsTemplate }}" if="{{ _records }}" records="{{ _records }}" tplData="{{_itemData}}"/>
    </div>
    <SBIS3.CONTROLS.Button.IconButton
            tooltip="{[В конец]}"
            cssClassName="control-Paging__btn control-Paging__end"
            name="PagingEnd"
            icon="icon-16 icon-Last icon-primary"
            visible="{{visiblePath.end}}"
    />
    <SBIS3.CONTROLS.Button.IconButton
            tooltip="{[Вперёд]}"
            cssClassName="control-Paging__btn control-Paging__next"
            name="PagingNext"
            icon="icon-16 icon-Forward icon-primary"
            visible="{{visiblePath.next}}"
    />
</div>