.controls-Paging {
   overflow: hidden;
   padding: @controls-Paging-padding;

   .controls-Paging__itemsContainer{
      display: inline-block;
   }
   .controls-Paging__item {
      .user-select();
      height: @controls-Paging-item-height;
      width: @controls-Paging-item-width;
      line-height: @controls-Paging-item-height;
      text-align: center;
      float: left;
      position: relative;
      cursor: pointer;
      &:hover {
         &:after {
            content: '';
            position: absolute;
            background: @controls-Paging-marker-hover-color;
            height: @controls-Paging-marker-height;
            bottom: 0;
            left: 0;
            right: 0
         }
      }
      &.controls-ListView__item__selected {
         &:after {
            content: '';
            position: absolute;
            background: @controls-Paging-marker-selected-color;
            height: @controls-Paging-marker-height;
            bottom: 0;
            left: 0;
            right: 0
         }
      }

   }
   .control-Paging__btn {
      width: @controls-Paging-btn-width;
      height: @controls-Paging-btn-height;
      float: left;
      margin: @controls-Paging-btn-margin;
      font-size: 18px!important;
   }
   .control-Paging__next, .control-Paging__begin, .control-Paging__end, .control-Paging__prev{
      width: @controls-Paging-item-width;
      padding: @controls-Paging-btn-padding;
      box-sizing: border-box;
   }
   .control-Paging__prev {
      float: left;
   }
   .control-Paging__next {
      float: right;

   }
   .control-Paging__begin {
      float: left;
   }
   .control-Paging__end {
      float: right;

   }
}

.ws-is-desktop-platform {
   .controls-Paging {
      .control-Paging__btn:not(.ws-disabled):hover {
         background-color: @default-itemHover-color;
      }
   }
}