/*group*/
/*ширина кнопки закрытия окна 36px + 2px на небольшой отступ между кнопкой сохранить (в ie8 нет скруглений и кнопки склеиваются)*/
/*ширина кнопки закрытия окна 36px + 90px ширина кнопки сохранить + 2px на небольшой отступ между ними */
.controls-Button {
  position: relative;
  cursor: pointer;
  display: inline-block;
  outline: none;
  background-size: contain;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font: 14px 'TensorFont Regular', 'TensorFont', sans-serif;
  color: #000;
  text-align: center;
  min-width: 24px;
  height: 24px;
  line-height: normal;
  padding: 0;
  margin: auto;
  overflow: hidden;
  border: 1px solid #587AB0;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: transparent;
}
.controls-Button .controls-Button__text.controls-Button__emptyCaption {
  margin: 0 0 0 13px !important;
}
.controls-Button.controls-Button__filled,
.controls-Button.controls-Button__big.controls-Button__filled {
  background-color: #ffffff;
}
.controls-Button .controls-Button__icon {
  position: absolute;
  left: 11px;
  top: 3px;
}
.controls-Button .controls-Button__icon + .controls-Button__text {
  margin-right: 11px;
  margin-left: 31px;
}
.controls-Button .controls-Button__icon.icon-24 {
  left: 11px;
  top: -1px;
}
.controls-Button .controls-Button__icon.icon-24 + .controls-Button__text {
  margin-right: 11px;
  margin-left: 39px;
}
.controls-Button .controls-Button__icon.icon-32 {
  left: -1px;
  top: -1px;
}
.controls-Button .controls-Button__icon.icon-32 + .controls-Button__text {
  margin-right: 11px;
  margin-left: 47px;
}
.controls-Button.controls-Button__IE8Hack .controls-Button__icon:before {
  content: '\00ad';
}
.controls-Button.controls-Button__primary {
  color: #000;
  border: 1px solid blue;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: transparent;
}
.controls-Button.controls-Button__primary.controls-Click__active {
  color: #000;
  border: 1px solid blue;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #fdd2c0;
}
.controls-Button.controls-Button__primary.ws-disabled {
  color: #999;
  border: 1px solid #CCC;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: transparent;
}
.controls-Button.controls-Button__big {
  font: 18px 'TensorFont Regular', 'TensorFont', sans-serif;
  color: #000;
  text-align: center;
  min-width: 24px;
  height: 48px;
  line-height: normal;
  padding: 0;
  margin: auto;
  border: 1px solid #587AB0;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: transparent;
}
.controls-Button.controls-Button__big.controls-Click__active {
  color: #000;
  border: 1px solid #587AB0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #E1ECF6;
}
.controls-Button.controls-Button__big .controls-Button__text {
  margin: 0 24px 0 24px;
}
.controls-Button.controls-Button__big .controls-Button__text.controls-Button__emptyCaption {
  margin: 0 0 0 13px !important;
}
.controls-Button.controls-Button__big .controls-Button__icon {
  position: absolute;
  left: 23px;
  top: 14px;
}
.controls-Button.controls-Button__big .controls-Button__icon + .controls-Button__text {
  margin-right: 23px;
  margin-left: 43px;
}
.controls-Button.controls-Button__big .controls-Button__icon.icon-24 {
  left: 23px;
  top: 11px;
}
.controls-Button.controls-Button__big .controls-Button__icon.icon-24 + .controls-Button__text {
  margin-right: 23px;
  margin-left: 51px;
}
.controls-Button.controls-Button__big .controls-Button__icon.icon-32 {
  left: -1px;
  top: -1px;
}
.controls-Button.controls-Button__big .controls-Button__icon.icon-32 + .controls-Button__text {
  margin-right: 23px;
  margin-left: 59px;
}
.controls-Button.controls-Button__big.controls-Button__primary {
  color: #000;
  border: 1px solid blue;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: transparent;
}
.controls-Button.controls-Button__big.controls-Button__primary.controls-Click__active {
  color: #000;
  border: 1px solid blue;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #fdd2c0;
}
.controls-Button.controls-Button__big.controls-Button__primary.ws-disabled {
  color: #999;
  border: 1px solid #CCC;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: transparent;
}
.controls-Button.controls-Button__big.controls-Button__primary.ws-disabled .controls-Button__icon {
  color: #CCC !important;
}
.controls-Button.controls-Button__big.ws-disabled {
  color: #999;
  border: 1px solid #CCC;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: transparent;
}
.controls-Button.controls-Click__active {
  color: #000;
  border: 1px solid #587AB0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #E1ECF6;
}
.controls-Button.ws-disabled {
  cursor: default;
  color: #999;
  border: 1px solid #CCC;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: transparent;
}
.controls-Button.ws-disabled .controls-Button__icon {
  color: #CCC !important;
}
.ws-is-desktop-platform .controls-Button:not(.ws-disabled):not(.controls-Click__active):hover {
  color: #000;
  border: 1px solid #587AB0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #F0F5FB;
}
.ws-is-desktop-platform .controls-Button:not(.ws-disabled):not(.controls-Click__active).controls-Button__primary:hover {
  color: #000;
  border: 1px solid blue;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #fdecd9;
}
.ws-is-desktop-platform .controls-Button:not(.ws-disabled):not(.controls-Click__active).controls-Button__big:hover {
  color: #000;
  border: 1px solid #587AB0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #F0F5FB;
}
.ws-is-desktop-platform .controls-Button:not(.ws-disabled):not(.controls-Click__active).controls-Button__big.controls-Button__primary:hover {
  color: #000;
  border: 1px solid blue;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #fdecd9;
}
.controls-Button__ellipsis .controls-Button__text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.controls-Button__text {
  display: block;
  margin: 0 12px 0 12px;
}
@-moz-document url-prefix() {
  .controls-Button {
    padding-bottom: 2px;
  }
  .controls-Button .controls-Button__icon {
    top: 3px;
  }
  .controls-Button .controls-Button__icon.icon-24 {
    top: -2px;
  }
  .controls-Button.controls-Button__big .controls-Button__icon {
    top: 14px;
  }
  .controls-Button.controls-Button__big .controls-Button__icon.icon-24 {
    top: 11px;
  }
  .controls-Button.controls-Button__big .controls-Button__icon.icon-32 {
    top: -1px;
  }
}
@media \0screen {
  .controls-Button__icon {
    top: 0 !important;
  }
  .controls-Button__icon.icon-24 {
    top: -3px !important;
  }
}
@media screen and (min-width: 0\0) {
  .controls-Button__icon.icon-24 {
    top: -2px !important;
  }
}
