.controls-Button {
   .button-default-style();
   background-size: contain;
   white-space: nowrap;
   .justify-content(center);
   .user-select();
   color: @button-text-color;
   min-width: @button-min-width;
   height: @button-height;
   line-height: @button-line-height;
   .border-radius(@button-border-radius);
   .box-shadow(@button-shadow);
   .button-baseline-fix();

   &.controls-Button__filled, &.controls-Button__big.controls-Button__filled {
      background-color: #ffffff;
   }

   .controls-Button__text {
      display: block;
      margin: @button-text-margin;
      border: none;
   }

   // Button's icon
   .controls-Button__icon {
      margin-left: @button-text-margin-left - @button-border-width;
      & + .controls-Button__text {
         margin: @button-text-icon-margin;
      }
   }
   /* Start Button themes */
   // Normal default button
   &.controls-Button__default {
      border: @button-border;

      &.controls-Click__active {
         color: @button-active-text-color;
         border: @button-active-border;
         background: @button-active-bg;
      }
   }

   // Normal primary button
   &.controls-Button__primary {
      border: @button-primary-border;
      background: @button-primary-bg;
      color: @button-primary-text-color;

      &.controls-Click__active {
         color: @button-primary-active-text-color;
         border: @button-primary-active-border;
         background: @button-primary-active-bg;
      }
   }
   /* End Button Themes */

   /* Start Button sizes */
   &.controls-Button__big {
      font-size: @button-big-font-size;
      height: @button-big-height;
      .border-radius(@button-big-border-radius);

      .controls-Button__text {
         margin: @button-big-text-margin;
      }
      .controls-Button__icon {
         margin-left: @button-big-text-margin-left - @button-border-width;
         & + .controls-Button__text {
            margin: @button-big-text-icon-margin;
         }
      }
   }
   /* End Button sizes */

   &.ws-disabled {
      cursor: default;
      color: @default-disabled-color;
      border: @button-disabled-border;
      background: @button-disabled-bg;
      .controls-Button__icon {
         color: @default-disabled-color !important;
      }
   }

   &.controls-Button__filled {
      background-color: #ffffff;
   }
}

.ws-is-desktop-platform {
   .controls-Button:not(.ws-disabled):not(.controls-Click__active) {
      &.controls-Button__default {
         &:hover {
            color: @button-hover-text-color;
            border: @button-hover-border;
            .box-shadow(@button-hover-shadow);
            background: @button-hover-bg;
         }
      }
      // Normal primary button
      &.controls-Button__primary {
         &:hover {
            color: @button-primary-hover-text-color;
            border: @button-primary-hover-border;
            .box-shadow(@button-primary-hover-shadow);
            background: @button-primary-hover-bg;
         }
      }
   }
}

.controls-Button__ellipsis .controls-Button__text {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

// Normal offsets' override for Firefox
@-moz-document url-prefix() {
   .controls-Button {
      &.controls-Button__big {
         .controls-Button__icon {
            top: @button-big-icon-top-offset - @button-border-width;
            &.icon-24 {
               top: @button-big-icon-big-top-offset - @button-border-width;
            }
            &.icon-32 {
               top: @button-big-icon-32-top-offset - @button-border-width;
            }
         }
      }
   }
}
// хак для ie9, 10, 11 выравнивающий иконки
@media screen and (min-width:~"0\0") {
   .controls-Button {
      .controls-Button__icon {
         &.icon-24 {
            top: -2px !important;
         }
      }
   }
}

.ws-is-firefox {
   .controls-Button {
      .controls-Button__icon {
         &.icon-24 {
            padding-bottom: 2px;
         }
      }
   }
}
