<span name="{{_options.name}}" sbisname="{{_options.sbisname||_options.name}}" newconfig="{{_options.config}}"
      event:onclick="_onClick()"
      event:onmousedown="_onMouseDown()"
      event:onmouseup="_onMouseUp()"
      event:onkeydown="_onKeyDown()"
      tabindex="{{_options.tabindex}}"
      class="controls-Button controls-ButtonBase{{_isActiveByClick?' controls-Click__active'}}{{!_options.visible ? ' ws-hidden'}}{{!_options.enabled ? ' ws-disabled':' ws-enabled'}}{{_options.primary ? ' controls-Button__primary':' controls-Button__default'}}"
      title="{{_options.tooltip}}"
      disabled="{{!_options.enabled ? 'disabled'}}"
      type="button">
    <ws:if data="{{!!_options.icon||!!_options._iconClass}}">
       <i class="controls-Button__icon js-controls-Button__icon {{_options._iconClass?_options._iconClass:_options.icon}}"></i>
    </ws:if>
    <span class="controls-Button__text js-controls-Button__text{{!_options.caption ? ' controls-Button__emptyCaption'}} {{_options._textClass}}"><ws:if data="{{!!_options.caption}}">{{_options.caption|sanitize}}</ws:if><ws:else>{{'&nbsp;'|sanitize}}</ws:else></span>
</span>
