/*
<span class="controls-ButtonBase controls-Button controls-Button_size-m controls-Button_state-standard">
  <span class="controls-ButtonBase__content controls-Button__content">
    <i class="controls-Button__icon icon-16 icon-Author icon-done"></i>
    <span class="controls-Button__text spacing-between-icon-text  ">Text</span>
  </span>
</span>
*/
.controls-Button {
  .button-default-style(@font-size_Button_default, @box-shadow_Button);
  border-style: solid;
  border-width: @border-width_Button;
  min-width: @min-width_Button;
  text-shadow: @text-shadow_Button;
  .user-select();
}

.controls-Button__content {
  .justify-content(center);
}

.controls-Button_size-default {
  font-size: @font-size_Button_default;
  height: @height_Button_default;
  padding: @padding_Button-wrapper_default;
  .border-radius(@border-radius_Button_default);
}
.controls-Button_size-m {
  font-size: @font-size_Button_m;
  height: @height_Button_m;
  padding: @padding_Button-wrapper_m;
  .border-radius(@border-radius_Button_m);
}

.controls-Button_size-l {
  font-size: @font-size_Button_l;
  height: @height_Button_l;
  padding: @padding_Button-wrapper_l;
  .border-radius(@border-radius_Button_l);
}

.controls-Button_state-standard {
  color: @color_Button;
  background: @background_Button;
  border-color: @border-color_Button;
}
.controls-Button_state-standard:active {
  border-color: @border-color_Button_hovered;
  background: @background_Button_active;
  box-shadow: none;
}

.controls-Button_state-primary {
  color: @color_Button_primary;
  background: @background_Button_primary;
  border-color: @border-color_Button_primary;
}
.controls-Button_state-primary:active {
  border-color: @border-color_Button_primary_hovered;
  background: @background_Button_primary_active;
  box-shadow: none;
}
.controls-Button_state-disabled {
  color: @color_Button_disabled;
  border: @border_Button_disabled;
  background: @background_Button_disabled;
  text-shadow: none;
}
.spacing-between-icon-text {
  margin-left: @spacing_Button-between-icon-text;
}
.controls-Button__text {
  .text-overflow();
}
.icon-button-disabled {
  color: @color_Button-icon_disabled;
}
.controls-Button__filled {
  background-color: @white-color;
}
// на тач устройствах ховер не нужен, поэтому стили приеменяются, только для десктопных устройств
.ws-is-desktop-platform {
  .controls-Button_state-standard:hover {
      border-color: @border-color_Button_hovered;
      background: @background_Button_hovered;
  }
  .controls-Button_state-standard:active {
    background: @background_Button_active;
  }
  .controls-Button_state-primary:hover {
      border-color: @border-color_Button_primary_hovered;
      background: @background_Button_primary_hovered;
  }
  .controls-Button_state-primary:active {
    background: @background_Button_primary_active;
  }
}
// этот костыль для того, чтобы решить выравнивание текста в кнопках на iPad
// скорей всего проблема в шрифте
.ws-is-mobile-safari {
  .controls-Button {
    line-height: @button-ipad-line-height;
  }
}

.ws-disabled .svg-icon-Add {
  fill: @color_Button-icon_disabled;
}