.controls-Button {
   background-color: #ffffff;
   cursor: pointer;
   border: 0;
   padding: 2px 10px;
   text-align: center;
   border-radius: 4px;
   line-height: 1.42857143;
}
.controls-Button:hover {
   background-color: #e6e6e6;
}
.controls-Button__primary {
   background-color: #f0ad4e;
   color: #ffffff;
}
.controls-Button__primary:hover{
   background-color: #ec971f;
}