<!--Если размер текста сообщения и описания превышает заданные рамки, то увеличиваем размер окна-->
<div class="controls-SubmitPopup {{ !it.autoWidth ? ((message.length > it.messageMaxLength || it.details.length > it.detailsMaxLength) ? 'controls-SubmitPopup__size-big' : 'controls-SubmitPopup__size-standard')}}">

   <!--Блок с сообщением или шаблоном сообщения-->
   <div class="controls-SubmitPopup__body">
      <ws:if data="{{messageTemplate || message}}">
         <div class="controls-SubmitPopup__message">
            <ws:if data="{{messageTemplate}}">
               <ws:partial template="{{messageTemplate}}" scope="{{...}}"></ws:partial>
            </ws:if>
            <ws:else>
               <div class="controls-SubmitPopup__message-centered">{{message}}</div>
            </ws:else>
         </div>
      </ws:if>

      <!--Блок с деталями или шаблоном деталей-->
      <ws:if data="{{detailsTemplate || details}}">
         <div class="controls-SubmitPopup__details">
            <ws:if data="{{detailsTemplate}}">
               <ws:partial template="{{detailsTemplate}}" scope="{{...}}"></ws:partial>
            </ws:if>
            <ws:else>
               <div class="controls-SubmitPopup__details-centered">{{details}}</div>
            </ws:else>
         </div>
      </ws:if>
   </div>

   <!--Блок с кнопками-->
   <div class="controls-SubmitPopup__footer">
      <div class="controls-SubmitPopup__buttonContainer">
         <ws:if data="{{status === 'confirm' || useConfirmButtons}}">

            <ws:if data="{{positiveButton.isLink}}">
               <ws:SBIS3.CONTROLS.Link name="positiveButton" class="controls-SubmitPopup__button controls-Button__ellipsis {{hasCancelButton ? 'controls-SubmitPopup__button-mini'}}" caption="{{positiveButton.caption}}" allowChangeEnable="{{false}}" primary="{{true}}"></ws:SBIS3.CONTROLS.Link>
            </ws:if>
            <ws:else>
               <ws:SBIS3.CONTROLS.Button name="positiveButton" class="controls-SubmitPopup__button controls-Button__ellipsis {{hasCancelButton ? 'controls-SubmitPopup__button-mini'}}" caption="ergeere" allowChangeEnable="{{false}}" primary="{{true}}"></ws:SBIS3.CONTROLS.Button>
            </ws:else>

            <ws:if data="{{negativeButton.isLink}}">
               <ws:SBIS3.CONTROLS.Link name="negativeButton" class="controls-SubmitPopup__button controls-Button__ellipsis {{hasCancelButton ? 'controls-SubmitPopup__button-mini'}}" caption="{{negativeButton.caption}}" allowChangeEnable="{{false}}"></ws:SBIS3.CONTROLS.Link>
            </ws:if>
            <ws:else>
               <ws:SBIS3.CONTROLS.Button name="negativeButton" class="controls-SubmitPopup__button controls-Button__ellipsis {{hasCancelButton ? 'controls-SubmitPopup__button-mini'}}" caption="{{negativeButton.caption}}" allowChangeEnable="{{false}}"></ws:SBIS3.CONTROLS.Button>
            </ws:else>

            <ws:if data="{{hasCancelButton}}">
               <ws:if data="{{cancelButton.isLink}}">
                  <ws:SBIS3.CONTROLS.Link name="cancelButton" class="controls-SubmitPopup__button controls-Button__ellipsis controls-SubmitPopup__button-mini" caption="{{cancelButton.caption}}" allowChangeEnable="{{false}}"></ws:SBIS3.CONTROLS.Link>
               </ws:if>
               <ws:else>
                  <ws:SBIS3.CONTROLS.Button name="cancelButton" class="controls-SubmitPopup__button controls-Button__ellipsis controls-SubmitPopup__button-mini" caption="{{cancelButton.caption}}" allowChangeEnable="{{false}}"></ws:SBIS3.CONTROLS.Button>
               </ws:else>
            </ws:if>

         </ws:if>
         <ws:else>

            <ws:if data="{{submitButton.isLink}}">
               <ws:SBIS3.CONTROLS.Link name="okButton" class="controls-SubmitPopup__button controls-Button__ellipsis" caption="{{submitButton.caption}}" allowChangeEnable="{{false}}" primary="{{true}}"></ws:SBIS3.CONTROLS.Link>
            </ws:if>
            <ws:else>
               <ws:SBIS3.CONTROLS.Button name="okButton" class="controls-SubmitPopup__button controls-Button__ellipsis" caption="{{submitButton.caption}}" allowChangeEnable="{{false}}" primary="{{true}}"></ws:SBIS3.CONTROLS.Button>
            </ws:else>

         </ws:else>

      </div>
   </div>

</div>