.controls-Demo__propertyGrid {
   width: 400px;
}

.controls-demo-pg-enum-editor {
   display: inline-flex;
}

.controls-demo-pg-text-editor {
   width: 100%;
}

.controls-demo-group-title {
   font-weight: bold;
   color: #313e78;
}

.controls-Demo__wide-propertyGrid {
   width: 500px;
}
