<div>
    <ws:SBIS3.CONTROLS.IconButton
        cssClassName="controls-FieldLink__dropAllLinks"
        title="Очистить все"
        command="clearAllItems"
        icon="icon-16 icon-Close icon-size"
        tabindex="0"
        activableByClick="{{ false }}"
    />
    <ws:SBIS3.CONTROLS.IconButton
        name="fieldLinkMenu"
        cssClassName="controls-FieldLink__showSelector"
        icon="icon-16 icon-size icon-ListView"
        tabindex="0"
        command="showSelector"
    />
    <ws:SBIS3.CONTROLS.Action.SelectorAction
       if="{{ useSelectorAction }}"
       name="FieldLinkSelectorAction"
       mode="{{ selectMode }}"
       visible="{{ false }}"
    />
</div>
