<div class="controls-FieldLink__afterFieldWrapper{{ !enabled ? ' controls-FieldLink__afterFieldWrapper-disabled' }}">
   <ws:if data="{{_selectedMultipleItems}}">
      <div class="controls-FieldLink__dropAllLinks controls-FieldLink__button icon-size icon-Close" title="Очистить все"></div>
   </ws:if>
   <ws:if data="{{ showSelector }}">
      <ws:partial template="{{ showSelectorButton }}" scope="{{...}}" />
   </ws:if>
    <SBIS3.CONTROLS:Action:SelectorAction
       if="{{ useSelectorAction }}"
       name="FieldLinkSelectorAction"
       mode="{{ selectMode }}"
       visible="{{ false }}"
    />
</div>
