.controls-FieldLink__picker {
   max-height: @controls-FieldLink-picker-max-height;
   min-height: @controls-FieldLink-picker-min-height;
   border: @controls-FieldLink-border @gray-ccc-color;
   margin-top: 0;
   overflow: auto;
}

.controls-FieldLink__picker:not(.controls-Suggest__picker) {
   padding: @controls-FieldLink-linkContainer-padding;
   border-top: none;
   .flexbox();
   .flex-wrap(wrap);

   .controls-FieldLink__item {
      /* Учитываем бордер пикера */
      width: ~'calc(50% - 2px)';
      .inline-flexbox();
      align-items: center;
      margin: 0;
      padding: 0;

      &:after {
         content: none;
      }

      .controls-FieldLink__item-cross {
         position: static;
         padding: 0;
      }

      .controls-FieldLink__item-caption {
         .text-overflow();
         height: @controls-FieldLink-linkItem-line-height;
      }
   }

   &.controls-popup-revert-vertical {
      border-top: @controls-FieldLink-border @gray-ccc-color;
      border-bottom: none;
   }
}

.controls-FieldLink__item {
   cursor: @controls-FieldLink-linkItem-cursor;
   display: inline-block;
   margin: @controls-FieldLink-linkItem-margin;
   position: @controls-FieldLink-linkItem-position;
   padding: @controls-FieldLink-linkItem-padding;
   line-height: @controls-FieldLink-linkItem-line-height;

   &:after {
      position: absolute;
      right: 0;
      top: 0;
      content: ',';
   }
   &:last-child:after {
      content: '';
   }
}

.controls-FieldLink__item-caption {
   position: relative;
   height: @controls-FieldLink-linkItem-caption-height;
}

.controls-FieldLink__item-cross {
   position: absolute;
   right: @controls-FieldLink-linkItem-cross-right;
   top: @controls-FieldLink-linkItem-cross-top;
   padding: @controls-FieldLink-linkItem-cross-padding;
   cursor: @link-cursor;
   z-index: 1;
}

.controls-FieldLink__picker,
.controls-FieldLink {
   &.controls-FieldLink__itemsEdited {
      .controls-FieldLink__item:hover {
         text-decoration: @link-hover-text-decoration;
         cursor: @link-cursor;
      }
   }
   &.controls-FieldLink__itemsBold {
      .controls-FieldLink__item-caption {
         font-weight: bold;
      }
   }
   &.controls-FieldLink__hideSelector {
      .controls-FieldLink__showSelector {
         display: none;
      }
   }

   &.ws-disabled {
      .controls-FieldLink__item-cross {
         display: none;
      }
   }
}

.controls-FieldLink {
   border-color: @controls-FieldLink-border-color;
   position: relative;
   white-space: nowrap;

   &.controls-Picker__show:not(.ws-disabled),
   &.ws-has-focus:not(.ws-disabled),
   &:hover:not(.ws-disabled) {
      border: @controls-FieldLink-border;
      border-color: @controls-FieldLink-border-color-focus-hover;
   }

   &:not(.controls-FieldLink__multiselect),
   &.controls-FieldLink__selected-single {
      .controls-FieldLink__linksWrapper {
         max-width: 100%;
      }
      .controls-FieldLink__item {
         /* Учитываем отступ под крестик удаления */
         max-width: ~'calc(100% - '@controls-FieldLink-linkItem-cross-width~')';
      }

      &.ws-disabled {
         .controls-FieldLink__item {
            max-width: ~'calc(100% - '@controls-FieldLink-linkContainer-padding * 2~')';
            padding: @controls-FieldLink-disabled-item-single-padding;
            margin: @controls-FieldLink-disabled-item-single-margin;
         }
      }
   }

   &.controls-Picker__show {
      background: @controls-FieldLink-picker-show-color;
   }

   .controls-TextBox__fieldWrapper {
      margin-right: @controls-FieldLink-fieldWrapper-margin;
      display: inline-block;
      order: 1;
   }

   .controls-TextBox__beforeFieldWrapper {
      order: 0;
      /* Учитываем ширину "гамбургера" в поле связи */
      max-width: ~'calc(100% - '@controls-FieldLink-showAllLinks-width~')';
      overflow: hidden;

      .controls-FieldLink__linksWrapper {
         height: 100%;
         display: inline-block;
         float: right;

         .controls-FieldLinkItemsCollection {
            .controls-FieldLink__item {
               .text-overflow();
            }
         }
      }
   }
   &.controls-TextBox {
      .controls-TextBox__afterFieldWrapper {
         order: 2;
         .inline-flexbox();
         .align-items(center);
         height: @controls-FieldLink-afterField-height;
         width: auto;

         > * {
            padding: @controls-FieldLink-afterField-padding;
         }
      }
   }

   &.ws-validation-error {
      .controls-TextBox__afterFieldWrapper {
         background-color: @text-box-error-bg;
      }
   }

   &.ws-disabled {

      .controls-TextBox__afterFieldWrapper {
         display: none;
      }

      .controls-TextBox__beforeFieldWrapper {
         max-width: 100%;
      }

      .controls-TextBox__field {
         &::-webkit-input-placeholder { opacity: 0 }
         &:-moz-placeholder {  opacity: 0 }
         &::-moz-placeholder {  opacity: 0 }
         &:-ms-input-placeholder {  opacity: 0 }
      }

      .controls-FieldLink__item {
         padding: @controls-FieldLink-disabled-item-padding;
      }

      .controls-FieldLink__showAllLinks:not(.controls-FieldLink__copyShowAll) {
         display: none;
      }
   }

   .controls-FieldLink__Link {
      display: inline;
      line-height: 20px;
   }
}

.controls-Link.controls-FieldLink__Link {

   &:not(.controls-FieldLink-Link__filterButton) {
      color: @controls-FieldLink-link-color;
      text-decoration: underline;

      &:hover {
         color: @controls-FieldLink-link-color-hover;
      }
   }
   &:not(.ws-disabled) {
      &.controls-FieldLink-Link__filterButton {
         color: #0055bb;
         text-decoration: none;

         &.ws-enabled:hover {
            color: #0055bb;
            text-decoration: underline;
         }
      }
   }
}

.controls-TextBox__beforeFieldWrapper {
   .controls-FieldLink__showAllLinks {
      position: relative;
      width: 20px;
      line-height: @controls-FieldLink-showAllLinks-lineHeight;
      padding: @controls-FieldLink-showAllLinks-padding;
      float: left;
   }
}

.controls-FieldLink__copyShowAll {
   float: left;
   position: relative;
   top: -22px;
   width: 16px;
   line-height: @controls-FieldLink-showAllLinks-lineHeight;
   margin-right: -22px;
   text-align: center;
   background-color: @white-color;
   color: @link-text-color;
   padding: @controls-FieldLink-showAllLinks-padding;

   &:after {
      content: '';
      position: absolute;
      right: -@controls-FieldLink-showAll-shadow-width;
      width: @controls-FieldLink-showAll-shadow-width;
      top: 0;
      bottom: 0;
      .horizontal-gradient(@white-color, rgba(255, 255, 255, 0));
      background-color: transparent;
   }
}

.controls-FieldLink__dropAllLinks {
   color: @controls-FieldLink-link-color;
}

.controls-FieldLink__copyShowAll {
   float: left;
   position: relative;
   top: -22px;
   width: 16px;
   line-height: @controls-FieldLink-showAllLinks-lineHeight;
   margin-right: -22px;
   text-align: center;
   background-color: @white-color;
   color: @link-text-color;
   padding: @controls-FieldLink-showAllLinks-padding;

   &:after {
      content: '';
      position: absolute;
      right: -@controls-FieldLink-showAll-shadow-width;
      width: @controls-FieldLink-showAll-shadow-width;
      top: 0;
      bottom: 0;
      .horizontal-gradient(@white-color, rgba(0, 0, 0, 0));
      background-color: transparent;
   }
}

.controls-FieldLink__dynamicInputWidth {
   .controls-TextBox__fieldWrapper {
      .flexbox();

      .controls-TextBox__field {
         width: 100%;
      }
   }
}

/* Для того, чтобы при инициализации не прыгал placeholder +
   в дальнейшем можно будет вообще не считать размеры поля, просто использовать этот класс*/
.controls-FieldLink__selected {
   .controls-TextBox__field {
      width: 0;
   }
}

.ws-is-firefox {
   .controls-FieldLink.controls-TextBox {
      .controls-TextBox__beforeFieldWrapper, .controls-TextBox__fieldWrapper {
         margin-top: -1px;
      }
      .controls-FieldLink__item-cross {
         top: -1px;
      }

      &.controls-FieldLink__selected-single .controls-FieldLink__copyShowAll {
         display: none;
      }

      .controls-FieldLink__copyShowAll {
         margin-right: @controls-FieldLink-showAll-margin-right-ff;
      }
   }
}

.controls-FieldLink__hiddenIfEmpty.ws-disabled:not(.controls-FieldLink__selected) {
   display: none;
}

.ws-is-mobile-chrome-ios, .ws-is-mobile-safari {
   .controls-FieldLink__picker {
      &.controls-popup-revert-vertical {
         &:not(.controls-Suggest__picker) {
            border-top: none;
         }
         border-bottom: @controls-FieldLink-border @gray-ccc-color;
      }
   }
}

.ws-is-ie10 {
   .controls-FieldLink__picker:not(.controls-Suggest__picker) .controls-FieldLink__item-caption {
      display: inline-block;
      max-width: ~'calc(100% - '@icon-width~');'
   }
}
/* Почему то сафари неправильно рендерит шрифт и считает  1px === 2px, т.е. при прибавлении ширины в 1px
   реальная ширина увеличивается на 2px */
.ws-is-desktop-safari, .ws-is-mobile-safari {
   .controls-FieldLink.controls-FieldLink__selected-single.ws-disabled .controls-FieldLink__item{
      max-width: ~'calc(100% - '(@controls-FieldLink-linkContainer-padding * 2) - 1~')';
   }
}