.controls-FieldLink__picker {
   max-height: @controls-FieldLink-picker-max-height;
   min-height: @controls-FieldLink-picker-min-height;
   border: @controls-FieldLink-border;
   border-color: @controls-FieldLink-border-color-focus-hover;
   border-top: none;
   background: @controls-FieldLink-picker-background;
   overflow: auto;

   .controls-FieldLink__linksContainer {
      padding: @controls-FieldLink-linkContainer-padding;
   }
}

.controls-FieldLink__linkItem {
   cursor: @controls-FieldLink-linkItem-cursor;
   display: inline-block;
   margin: @controls-FieldLink-linkItem-margin;
   position: @controls-FieldLink-linkItem-position;
   padding: @controls-FieldLink-linkItem-padding;
   line-height: @controls-FieldLink-linkItem-line-height;

   .controls-FieldLink__linkItem-caption {
      position: relative;
      height: @controls-FieldLink-linkItem-caption-height;
   }

   .controls-FieldLink__linkItem-cross {
      position: absolute;
      right: @controls-FieldLink-linkItem-cross-right;
      top: @controls-FieldLink-linkItem-cross-top;
      padding: @controls-FieldLink-linkItem-cross-padding;
      cursor: @link-cursor;
      z-index: 1;
   }
   &:after {
      position: absolute;
      right: 0;
      top: 0;
      content: ',';
   }
   &:last-child:after {
      content: '';
   }
}

.controls-FieldLink__picker,
.controls-FieldLink {
   &.controls-FieldLink__itemsEdited {
      .controls-FieldLink__linkItem:hover {
         text-decoration: @link-hover-text-decoration;
         cursor: @link-cursor;
      }
   }
   &.controls-FieldLink__itemsBold {
      .controls-FieldLink__linkItem-caption {
         font-weight: bold;
      }
   }

   &.ws-disabled {

      &.controls-TextBox {
         border-color: @text-box-border-color;
      }

      .controls-TextBox__afterFieldWrapper {
         display: none;
      }

      .controls-TextBox__field {
         &::-webkit-input-placeholder { opacity: 0 }
         &:-moz-placeholder {  opacity: 0 }
         &::-moz-placeholder {  opacity: 0 }
         &:-ms-input-placeholder {  opacity: 0 }
      }

      .controls-FieldLink__linkItem {
         padding: @controls-FieldLink-disabled-item-padding;

         .controls-FieldLink__linkItem-cross {
            display: none;
         }
      }
   }
}

.controls-FieldLink {
   display: inline-block;
   border-color: @controls-FieldLink-border-color;
   position: relative;
   white-space: nowrap;

   &.controls-Picker__show,
   &.ws-has-focus,
   &:hover {
      border: @controls-FieldLink-border;
      border-color: @controls-FieldLink-border-color-focus-hover;
   }

   &.controls-Picker__show {
      background: @controls-FieldLink-picker-show-color;
   }

   .controls-TextBox__fieldWrapper {
      margin: @controls-FieldLink-fieldWrapper-margin;
      display: inline-block;

      .controls-TextBox__field {
         width: 0;
      }
   }

   .controls-TextBox__beforeFieldWrapper {
      max-width: 100%;
      overflow: hidden;

      .controls-FieldLink__showAllLinks,
      .controls-FieldLink__dropAllLinks {
         position: relative;
         float: left;
         line-height: @controls-FieldLink-showAllLinks-lineHeight;
         padding: @controls-FieldLink-showAllLinks-padding;
      }

      .controls-FieldLink__linksWrapper {
         height: 100%;
         display: inline-block;
      }
   }

   .controls-TextBox__afterFieldWrapper {
      padding: @controls-FieldLink-afterField-padding;
      height: @controls-FieldLink-afterField-height;
      position: absolute;
      top: 0;
      right: 0;
      background-color: @controls-FieldLink-afterField-background;
      > *{
         vertical-align: middle;
      }
   }
   &.ws-validation-error {
      .controls-TextBox__afterFieldWrapper {
         background-color: @text-box-error-bg;
      }
   }
}

.controls-FieldLink__picker {
   .controls-FieldLink__linkItem {
      .text-overflow();
      /* Ширина - паддинг под крестик, чтобы не выезжало за ширину пикера */
      max-width: calc(100% ~"-" @controls-FieldLink-afterField-height);
   }
}
/* т.к. на Ipad'e автодополнение отображается по умолчанию вверх,
   то это надо учитывать при инвертировании списка */
.ws-is-mobile-safari {
   .controls-FieldLink__picker.controls-Suggest__picker.controls-popup-revert-vertical {
      .controls-ListView {
         .controls-ListView__itemsContainer, .controls-DataGridView__tbody {
            .transform(rotate(0));

            /* Надо перевернуть именно элементы в listView, а не все подрят, поэтому селектор только по дочерним */
            > .controls-ListView__item {
               .transform(rotate(0));
            }
         }
      }
   }
   .controls-FieldLink__picker.controls-Suggest__picker:not(.controls-popup-revert-vertical) {
      .controls-ListView {
         .controls-ListView__itemsContainer, .controls-DataGridView__tbody {
            .transform(rotate(@suggest-picker-invertVal));

            /* Надо перевернуть именно элементы в listView, а не все подрят, поэтому селектор только по дочерним */
            > .controls-ListView__item {
               .transform(rotate(@suggest-picker-invertVal));
            }
         }
      }
   }
}