/*group*/
/*ширина кнопки закрытия окна 36px + 2px на небольшой отступ между кнопкой сохранить (в ie8 нет скруглений и кнопки склеиваются)*/
/*ширина кнопки закрытия окна 36px + 90px ширина кнопки сохранить + 2px на небольшой отступ между ними */
.controls-FieldLink__picker {
  max-height: 500px;
  min-height: 16px;
  border: 1px solid #CCC;
  margin-top: 0;
  overflow: auto;
}
.controls-FieldLink__picker:not(.controls-Suggest__picker) {
  padding: 4px;
  border-top: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.controls-FieldLink__picker:not(.controls-Suggest__picker) .controls-FieldLink__item {
  /* Учитываем бордер пикера */
  width: calc(50% - 2px);
  display: inline-flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
.controls-FieldLink__picker:not(.controls-Suggest__picker) .controls-FieldLink__item:after {
  content: none;
}
.controls-FieldLink__picker:not(.controls-Suggest__picker) .controls-FieldLink__item .controls-FieldLink__item-cross {
  position: static;
  padding: 0;
}
.controls-FieldLink__picker:not(.controls-Suggest__picker) .controls-FieldLink__item .controls-FieldLink__item-caption {
  overflow: hidden;
  text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  white-space: nowrap;
  height: 18px;
}
.controls-FieldLink__picker:not(.controls-Suggest__picker).controls-popup-revert-vertical {
  border-top: 1px solid #CCC;
  border-bottom: none;
}
.controls-FieldLink__item {
  cursor: default;
  display: inline-block;
  margin: 2px 0;
  position: relative;
  padding: 0 17px 0 4px;
  line-height: 18px;
}
.controls-FieldLink__item .controls-FieldLink__item-caption {
  position: relative;
  height: 16px;
}
.controls-FieldLink__item .controls-FieldLink__item-cross {
  position: absolute;
  right: -4px;
  top: -2px;
  padding: 3px 5px 3px 0;
  cursor: pointer;
  z-index: 1;
}
.controls-FieldLink__item:after {
  position: absolute;
  right: 0;
  top: 0;
  content: ',';
}
.controls-FieldLink__item:last-child:after {
  content: '';
}
.controls-FieldLink__picker.controls-FieldLink__itemsEdited .controls-FieldLink__item:hover,
.controls-FieldLink.controls-FieldLink__itemsEdited .controls-FieldLink__item:hover {
  text-decoration: underline;
  cursor: pointer;
}
.controls-FieldLink__picker.controls-FieldLink__itemsBold .controls-FieldLink__item-caption,
.controls-FieldLink.controls-FieldLink__itemsBold .controls-FieldLink__item-caption {
  font-weight: bold;
}
.controls-FieldLink__picker.controls-FieldLink__hideSelector .controls-FieldLink__showSelector,
.controls-FieldLink.controls-FieldLink__hideSelector .controls-FieldLink__showSelector {
  display: none;
}
.controls-FieldLink__picker.ws-disabled .controls-FieldLink__item-cross,
.controls-FieldLink.ws-disabled .controls-FieldLink__item-cross {
  display: none;
}
.controls-FieldLink {
  justify-content: space-between;
  border-color: #eaeaea #eaeaea #cccccc #eaeaea #eaeaea #eaeaea #cccccc #eaeaea #CCC #eaeaea #eaeaea #cccccc #eaeaea;
  position: relative;
  white-space: nowrap;
}
.controls-FieldLink.controls-Picker__show:not(.ws-disabled),
.controls-FieldLink.ws-has-focus:not(.ws-disabled),
.controls-FieldLink:hover:not(.ws-disabled) {
  border: 1px solid;
  border-color: #CCC #CCC #CCC #CCC;
}
.controls-FieldLink:not(.controls-FieldLink__multiselect) .controls-FieldLink__linksWrapper,
.controls-FieldLink.controls-FieldLink__selected-single .controls-FieldLink__linksWrapper {
  max-width: 100%;
}
.controls-FieldLink:not(.controls-FieldLink__multiselect) .controls-FieldLink__item,
.controls-FieldLink.controls-FieldLink__selected-single .controls-FieldLink__item {
  /* Учитываем отступ под крестик удаления */
  max-width: calc(100% -  20px );
}
.controls-FieldLink:not(.controls-FieldLink__multiselect).ws-disabled .controls-FieldLink__item,
.controls-FieldLink.controls-FieldLink__selected-single.ws-disabled .controls-FieldLink__item {
  max-width: 100%;
}
.controls-FieldLink.controls-Picker__show {
  background: #fff;
}
.controls-FieldLink .controls-TextBox__fieldWrapper {
  margin-right: 0 !important;
  display: inline-block;
  order: 1;
}
.controls-FieldLink .controls-TextBox__beforeFieldWrapper {
  order: 0;
  /* Учитываем ширину "гамбургера" в поле связи */
  max-width: calc(100% -  20px );
  overflow: hidden;
}
.controls-FieldLink .controls-TextBox__beforeFieldWrapper .controls-FieldLink__linksWrapper {
  height: 100%;
  display: inline-block;
  float: right;
}
.controls-FieldLink .controls-TextBox__beforeFieldWrapper .controls-FieldLink__linksWrapper .controls-FieldLinkItemsCollection .controls-FieldLink__item {
  overflow: hidden;
  text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  white-space: nowrap;
}
.controls-FieldLink .controls-TextBox__afterFieldWrapper {
  order: 2;
  display: inline-flex;
  align-items: center;
  height: 22px;
  width: auto;
}
.controls-FieldLink .controls-TextBox__afterFieldWrapper > * {
  padding: 0 4px 0 0;
}
.controls-FieldLink.ws-validation-error .controls-TextBox__afterFieldWrapper {
  background-color: #fadadd !important;
}
.controls-FieldLink.ws-disabled .controls-TextBox__afterFieldWrapper {
  display: none;
}
.controls-FieldLink.ws-disabled .controls-TextBox__beforeFieldWrapper {
  max-width: 100%;
}
.controls-FieldLink.ws-disabled .controls-TextBox__field::-webkit-input-placeholder {
  opacity: 0;
}
.controls-FieldLink.ws-disabled .controls-TextBox__field:-moz-placeholder {
  opacity: 0;
}
.controls-FieldLink.ws-disabled .controls-TextBox__field::-moz-placeholder {
  opacity: 0;
}
.controls-FieldLink.ws-disabled .controls-TextBox__field:-ms-input-placeholder {
  opacity: 0;
}
.controls-FieldLink.ws-disabled .controls-FieldLink__item {
  padding: 0 4px;
}
.controls-FieldLink.ws-disabled .controls-FieldLink__showAllLinks:not(.controls-FieldLink__copyShowAll) {
  display: none;
}
.controls-FieldLink .controls-FieldLink__Link {
  display: inline;
  line-height: 20px;
}
.controls-Link.controls-FieldLink__Link:not(.controls-FieldLink-Link__filterButton) {
  color: #8991A9;
  text-decoration: underline;
}
.controls-Link.controls-FieldLink__Link:not(.controls-FieldLink-Link__filterButton):hover {
  color: #313E78;
}
.controls-Link.controls-FieldLink__Link:not(.ws-disabled).controls-FieldLink-Link__filterButton {
  color: #0055bb;
  text-decoration: none;
}
.controls-Link.controls-FieldLink__Link:not(.ws-disabled).controls-FieldLink-Link__filterButton.ws-enabled:hover {
  color: #0055bb;
  text-decoration: underline;
}
.controls-FieldLink__showAllLinks {
  position: relative;
  width: 20px;
  line-height: 22px;
  padding: 0 0 0 4px;
  float: left;
}
.controls-FieldLink__copyShowAll {
  float: left;
  position: relative;
  top: -22px;
  width: 16px;
  line-height: 22px;
  margin-right: -22px;
  text-align: center;
  background-color: #fff;
  color: #05b;
  padding: 0 0 0 4px;
}
.controls-FieldLink__copyShowAll:after {
  content: '';
  position: absolute;
  right: -20px;
  width: 20px;
  top: 0;
  bottom: 0;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, right top, from(#fff), to(rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(left, #fff, rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(left, #fff, rgba(255, 255, 255, 0));
  background-image: -ms-linear-gradient(left, #fff, rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(left, #fff, rgba(255, 255, 255, 0));
  background-color: transparent;
}
.controls-FieldLink__dropAllLinks {
  color: #8991A9;
}
.controls-FieldLink__copyShowAll {
  float: left;
  position: relative;
  top: -22px;
  width: 16px;
  line-height: 22px;
  margin-right: -22px;
  text-align: center;
  background-color: #fff;
  color: #05b;
  padding: 0 0 0 4px;
}
.controls-FieldLink__copyShowAll:after {
  content: '';
  position: absolute;
  right: -20px;
  width: 20px;
  top: 0;
  bottom: 0;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, right top, from(#fff), to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, #fff, rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, #fff, rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(left, #fff, rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, #fff, rgba(0, 0, 0, 0));
  background-color: transparent;
}
.controls-FieldLink__dynamicInputWidth .controls-TextBox__fieldWrapper {
  display: flex;
}
.controls-FieldLink__dynamicInputWidth .controls-TextBox__fieldWrapper .controls-TextBox__field {
  width: 100%;
}
/* Для того, чтобы при инициализации не прыгал placeholder +
   в дальнейшем можно будет вообще не считать размеры поля, просто использовать этот класс*/
.controls-FieldLink__selected .controls-TextBox__field {
  width: 0;
}
.ws-is-firefox .controls-FieldLink.controls-TextBox .controls-TextBox__beforeFieldWrapper,
.ws-is-firefox .controls-FieldLink.controls-TextBox .controls-TextBox__fieldWrapper {
  margin-top: -1px;
}
.ws-is-firefox .controls-FieldLink.controls-TextBox .controls-FieldLink__item-cross {
  top: -1px;
}
.ws-is-firefox .controls-FieldLink.controls-TextBox .controls-FieldLink__copyShowAll {
  margin-right: -15px;
}
.controls-FieldLink__hiddenIfEmpty.ws-disabled:not(.controls-FieldLink__selected) {
  display: none;
}
.ws-is-mobile-chrome-ios .controls-FieldLink__picker.controls-popup-revert-vertical,
.ws-is-mobile-safari .controls-FieldLink__picker.controls-popup-revert-vertical {
  border-bottom: 1px solid #CCC;
}
.ws-is-mobile-chrome-ios .controls-FieldLink__picker.controls-popup-revert-vertical:not(.controls-Suggest__picker),
.ws-is-mobile-safari .controls-FieldLink__picker.controls-popup-revert-vertical:not(.controls-Suggest__picker) {
  border-top: none;
}
