<div class="controls-FieldLink">
    <ws-if data="linkCaption">
        <ws-include template="SBIS3.Engine.FieldLink/resources/link" name="link"/>
        <ws-partial template="link" data="linkCaption"/>
    </ws-if><ws-else>
    <component data-component="SBIS3.CONTROLS.FieldLinkTextBox" class="controls-FieldLink__TextBox" name="{{name}}_textBox">
        <ws-if data="textBoxSettings.selectOnClick"><option name="selectOnClick" type="boolean">{{textBoxSettings.selectOnClick}}</option></ws-if>
        <ws-if data="textBoxSettings.placeholder"><option name="placeholder">{{textBoxSettings.placeholder}}</option></ws-if>
        <ws-if data="textBoxSettings.inputRegExp"><option name="inputRegExp">{{textBoxSettings.inputRegExp}}</option></ws-if>
        <ws-if data="textBoxSettings.trim"><option name="trim" type="boolean">{{textBoxSettings.trim}}</option></ws-if>
        <ws-if data="textBoxSettings.textTransform"><option name="textTransform">{{textBoxSettings.textTransform}}</option></ws-if>
        <ws-if data="textBoxSettings.maxLength"><option name="maxLength">{{textBoxSettings.maxLength}}</option></ws-if>
        <ws-if data="textBoxSettings.focusOnActivatedOnMobiles"><option name="focusOnActivatedOnMobiles" type="boolean">{{textBoxSettings.focusOnActivatedOnMobiles}}</option></ws-if>
        <option name="fieldLinkWithMultiSelect" type="boolean">{{multiSelect}}</option>
    </component>
    </ws-else>
</div>