<div class="controls-FieldLink__fieldWrapper">
	<input
		class="controls-TextBox__field js-controls-TextBox__field {{textTransform === 'uppercase' ? 'controls-TextBox__field-uppercase'}} {{textTransform === 'lowercase' ? 'controls-TextBox__field-lowercase'}}"
		type="text"
		autocomplete="off"
		value="{{text}}"
		placeholder="{{enabled && _useNativePlaceholder ? placeholder}}"
		maxlength="{{maxLength ? maxLength}}"
	/>
	<ws:if data="{{ _drawCompatiblePlaceholder }}">
		<ws:partial template="{{ compatiblePlaceholderTemplate }}" scope="{{...}}"/>
	</ws:if>
</div>