<input
	class="controls-InputRender__field controls-TextBox__field js-controls-TextBox__field {{textTransform === 'uppercase' ? 'controls-TextBox__field-uppercase'}} {{textTransform === 'lowercase' ? 'controls-TextBox__field-lowercase'}}"
	type="text"
	autocomplete="off"
	value="{{text}}"
	maxlength="{{maxLength ? maxLength}}"
    title="{{tooltip}}"
	placeholder="{{' '}}"
	autocorrect="off"
/>
<ws:if data="{{ enabled && placeholder }}">
	<ws:partial template="{{ compatiblePlaceholderTemplate }}" scope="{{...}}"/>
</ws:if>
