.controls_theme-@{themeName} {

  // Отображение денежных единиц
  //
  // Размер шрифта копеек в отображении денег

  --fractional_size: var(--font-size_xs);

  // Цвета шрифтов копеек в отображении денег

  --fractional_color: var(--readonly_color);
  --zero_text-color_decorator_fraction: #cfcccc;
  --default_text-color_decorator_fraction: #9f9b99;
  --unaccented_text-color_decorator_fraction: #9f9b99;
  --readOnly_text-color_decorator_fraction: #9f9b99;
  --primary_text-color_decorator_fraction: #9f9b99;
  --secondary_text-color_decorator_fraction: #9f9b99;
  --info_text-color_decorator_fraction: #9f9b99;
  --link_text-color_decorator_fraction: #9f9b99;
  --success_text-color_decorator_fraction: #9f9b99;
  --warning_text-color_decorator_fraction: #9f9b99;
  --danger_text-color_decorator_fraction: #9f9b99;

}
