<div class="controls-Browser-ColumnsEditor-Preset-Dropdown">
   <SBIS3.CONTROLS.DropdownList
      name="controls-Browser-ColumnsEditor-Preset-Dropdown__dropdown"
      className="controls-Browser-ColumnsEditor-Preset-Dropdown__dropdown"
      multiselect="{{false}}"
      mode="click"
      type="titleHeader"
      idProperty="id"
      displayProperty="title"
      >
      <ws:title>
         <ws:String>
            <ws:if data="{{title}}">{{title}}</ws:if>
            <ws:else>{[РедакторКолонок@@Выберите шаблон]}</ws:else>
         </ws:String>
      </ws:title>
   </SBIS3.CONTROLS.DropdownList>
</div>