<Controls.Validate.FormController name="formController">
    <ws:partial template="{{_options.content}}"
                on:keyDown="_onKeyDown()"
                on:itemClick="_onItemClick()"
                on:rowDeactivated="_onRowDeactivated()">
    </ws:partial>
</Controls.Validate.FormController>