<div class="controls-InputRender__placeholder controls-TextBox__placeholder">
	<span class="controls-InputRender__placeholder__overflow controls-TextBox__placeholder__overflow">
		<ws:partial template="{{ placeholder }}"/>
	</span>
</div>