<input
	class="controls-TextBox__field js-controls-TextBox__field {{textTransform === 'uppercase' ? 'controls-TextBox__field-uppercase'}} {{textTransform === 'lowercase' ? 'controls-TextBox__field-lowercase'}}"
	type="text"
	autocomplete="off"
	value="{{text}}"
	placeholder="{{enabled ? placeholder}}"
	maxlength="{{maxLength ? maxLength}}"
/>