<input
	class="controls-InputRender__field controls-TextBox__field js-controls-TextBox__field{{textTransform === 'uppercase' ? ' controls-TextBox__field-uppercase'}}{{textTransform === 'lowercase' ? ' controls-TextBox__field-lowercase'}}"
	type="{{type || 'text'}}"
	autocomplete="{{autocomplete ? 'off' : 'new-password'}}"
	value="{{text}}"
	maxlength="{{maxLength ? maxLength}}"
	placeholder="{{' '}}"
	title="{{tooltip}}"
	autocorrect="off"
/>
<ws:if data="{{ enabled && placeholder }}">
	<ws:partial template="{{ compatiblePlaceholderTemplate }}" scope="{{...}}"/>
</ws:if>
