<div class="controls-DateRangeBig">
    <SBIS3.CONTROLS.Date.Picker
       isCalendarIconShown="{{false}}"
       name="DateRange__DatePickerStart"
       className="controls-DateRangeBig__DatePickerStart"
    />
    <SBIS3.CONTROLS.Button
       tabindex="0"
       caption="&#8211;"
       name="DateRange__Button"
       className="controls-DateRangeBig__Button"
    />
    <SBIS3.CONTROLS.Date.Picker
       name="DateRange__DatePickerEnd"
       isCalendarIconShown="{{false}}"
       className="controls-DateRangeBig__DatePickerEnd"
    />
</div>