.controls-BreadCrumbsView__items {
   display: inline-flex;
   overflow: hidden;
   height: @height_BreadCrumbs-items;
   width: 100%;
}
.controls-BreadCrumbsView__itemsTemplate {
   display: flex;
   align-items: flex-end;
}
.controls-BreadCrumbsView__crumb__edge {
   flex-shrink: 0;
   white-space: nowrap;
   max-width: 50%;
   overflow: hidden;
   text-overflow: ellipsis;
   font-size: @font-size_BreadCrumbs-title;
}

.controls-BreadCrumbsView__items__middle {
   overflow: hidden;
   display: inline-block;
   white-space: nowrap;
   flex-shrink: 1;
}
.controls-BreadCrumbsView__crumb {
   display: inline-block;
   overflow: hidden;
   max-width: 100%;
   .baseline-fix();
   height: @height_BreadCrumbs-items;
   &:before {
      font-size: @font-size_BreadCrumbs-baseline;
   }
}
.controls-BreadCrumbsView__menu {
   float: right;
   position: relative;
   top: @spacing_BreadCrumbs-menu;
   z-index: 5;
}
.controls-BreadCrumbsView__menu__dots {
   position: absolute;
   top: 0;
   left: @spacing_BreadCrumbs-menu;
   background: @background-color;
   box-shadow: @box-shadow_BreadCrumbs-menu;
   cursor: pointer;
}
.controls-BreadCrumbsView__max-width {
   max-width: 100%;
}
.controls-BreadCrumbsView__max-width__edge {
   max-width: 50%;
}

.controls-BreadCrumbsView {
   white-space: nowrap;
   flex-grow: 1;
   max-width: 100%;
}
.controls-BreadCrumbsView__dropTarget_withArrow, .controls-BreadCrumbsView__dropTarget_withoutArrow {
   &:after {
      content: '';
      height: @height_BreadCrumbs-items;
      border: @border-width_BreadCrumbs-item_dropTarget solid @border-color_BreadCrumbs-item_dropTarget;
      box-sizing: border-box;
      position: absolute;
      display: block;
      border-radius: @border-radius_BreadCrumbs-item_dropTarget;
      z-index: 10;
      align-self: center;
      width: calc(100% + 2 * @spacing_BreadCrumbs-between-item-border);
   }
}

.controls-BreadCrumbsView__dropTarget_withArrow:after {
   left: 0;
}

.controls-BreadCrumbsView__dropTarget_withoutArrow:after {
   left: -@spacing_BreadCrumbs-between-item-border;
}

.controls-BreadCrumbsView__titleWrapper {
   cursor: pointer;
   overflow: hidden;
   min-width: 0;
}

.controls-BreadCrumbsView__title {
   .text-overflow();
   color: @color_BreadCrumbs-title;
   font-size: @font-size_BreadCrumbs-title;
}

.controls-BreadCrumbsView__arrow {
   .icon(@font-size_BreadCrumbs-arrow);
   cursor: pointer;
   color: @color_BreadCrumbs-arrow;
   flex-shrink: 0;
}

.controls-BreadCrumbsView__title_min {
   //класс существует только для удобства замеров
   min-width: @min-width_BreadCrumbs-text;
}

.controls-BreadCrumbsController__menu {
   max-width: @max-width_BreadCrumbs-menu;
}

.controls-BreadCrumbsView__menuItem {
   .baseline-fix();
   max-width: 100%;
   display: inline-flex;
   align-items: center;
   height: @height_BreadCrumbs-menuItem;
}

.controls-BreadCrumbsView__menuTitle {
   .text-overflow();
   flex-shrink: 1;
   display: inline-block;
   width: 100%;
}

.controls-BreadCrumbsView__indentation {
   .icon(@font-size_BreadCrumbs-hierarchyIcon);
   color: @color_BreadCrumbs-hierarchyIcon;
   align-self: flex-start;
   flex-shrink: 0;
}

.ws-is-hover {
   .controls-BreadCrumbsView__crumb:hover, .controls-BreadCrumbsView__menu__dots:hover {
      .controls-BreadCrumbsView__title_enabled {
         color: @color_BreadCrumbs-title_hovered;
         text-decoration: underline;
      }

      .controls-BreadCrumbsView__arrow_enabled {
         color: @color_BreadCrumbs-arrow_hovered;
      }
   }
}

//Класс сделан только для удобства замеров
.controls-BreadCrumbsView__crumbMeasurer {
   font-family: @font-family_BreadCrumbs, "Courier New";
}

.ws-is-ie {
   .controls-BreadCrumbsView__dropTarget:after {
      //IE can't correctly align absolutely-positioned flex children: https://codepen.io/anon/pen/MqazJv
      top: 50%;
      bottom: 50%;
      transform: translateY(-50%);
   }
}
