@keyframes itemActionsSwipeOpen {
  0% {
    transform: translate(100%, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes itemActionsSwipeClose {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(100%, 0);
  }
}

@keyframes rightSwipe {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(@animation_offset_swipe);
  }

  100% {
    transform: translateX(0);
  }
}

.controls-itemActionsV_swipe_animationContainer {
  position:absolute;
  right: 0;
  bottom: 0;
  overflow:hidden;
  height: 100%;
  box-sizing: border-box;
  background-color: transparent;
  z-index: 2;
  pointer-events: auto;
}

.controls-Swipe_theme-@{themeName} {
  align-items: center;
  display: inline-flex;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  background-color: transparent;
  background-image: linear-gradient(to right, transparent, @shadow-color_swipe @shadow-blur_swipe, @background-color_swipe @shadow-blur_swipe, @background-color_swipe 100%);
}

.controls-Swipe__action {
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  flex-shrink: 0;
  flex-grow: 1;
  position: relative;
  justify-content: center;
}

.controls-Swipe__action_column {
  flex-direction: column;
}
.controls-Swipe__action_caption_right {
  justify-content: flex-start;
}

.controls-Swipe_open_theme-@{themeName} {
  animation: itemActionsSwipeOpen 0.35s 0ms ease;
}

.controls-Swipe_close_theme-@{themeName} {
  animation: itemActionsSwipeClose 0.35s 0ms ease;
  animation-fill-mode: forwards;
}

.controls-Swipe__action_padding_size_s_theme-@{themeName} {
  padding-top: @item_s_vertical_padding-vertical_swipe;
  padding-bottom: @item_s_vertical_padding-vertical_swipe;
}

.controls-Swipe__action_padding_size_m_theme-@{themeName} {
  padding-top: @item_horizontal_padding-vertical_swipe;
  padding-bottom: @item_horizontal_padding-vertical_swipe;
}

.controls-Swipe__action_padding_size_l_theme-@{themeName} {
  padding-top: @item_l_vertical_padding-vertical_swipe;
  padding-bottom: @item_l_vertical_padding-vertical_swipe;
}

.controls-Swipe__action_icon_size_m_theme-@{themeName} {
  .icon(@item_s_icon-size_swipe, @item_s_icon_font-family_swipe);
}

.controls-Swipe__action_icon_size_l_theme-@{themeName} {
  .icon(@item_l_icon-size_swipe, @item_l_icon_font-family_swipe);
}

.controls-Swipe__action_title_theme-@{themeName} {
  color: @item_text-color_swipe;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.controls-Swipe__action_title_position_right_theme-@{themeName} {
  padding-left: @item_icon_offset-horizontal_swipe;
  max-width: @item_horizontal_text_max-width_swipe;
}

.controls-Swipe__action_title_position_bottom_theme-@{themeName} {
  max-width: @item_vertical_text_max-width_swipe;
}

.controls-Swipe__action_title_size_m_theme-@{themeName} {
  font-size: @item_s_font-size_swipe;
}

.controls-Swipe__action_title_size_l_theme-@{themeName} {
  font-size: @item_l_font-size_swipe;
}

.controls-Swipe__separator_theme-@{themeName} {
  background: @separator_color_swipe;
  flex-shrink: 0;
  display: block;
}

.controls-Swipe__separator_horizontal_theme-@{themeName} {
  width: @separator_thickness_swipe;
  height: calc(100% ~'-' 2 * @separator_edge_padding-vertical_swipe);
  margin-bottom: @separator_edge_padding-vertical_swipe;
  margin-top: @separator_edge_padding-vertical_swipe;
}

.controls-Swipe__separator_vertical_theme-@{themeName} {
  width: auto;
  height: @separator_thickness_swipe;
  margin-left: @separator_edge_padding-horizontal_swipe + @shadow-blur_swipe;
  margin-right: @separator_edge_padding-horizontal_swipe;
}

.controls-Swipe__separator_columns_first_theme-@{themeName} {
  width: auto;
  height: @separator_thickness_swipe;
  margin-right: @separator_padding-horizontal_swipe;
}

.controls-Swipe__separator_columns_second_theme-@{themeName} {
  width: auto;
  height: @separator_thickness_swipe;
  margin-left: @separator_padding-horizontal_swipe;
}

.controls-Swipe_horizontal_theme-@{themeName},
.controls-Swipe_vertical_theme-@{themeName},
.controls-Swipe_columns_theme-@{themeName} {
  display: inline-flex;
  height: 100%;
}

.controls-Swipe_horizontal_theme-@{themeName},
.controls-Swipe_columns_theme-@{themeName} {
  padding-left:  @item_edge_padding-horizontal_swipe + @shadow-blur_swipe - @item_vertical_padding-horizontal_swipe;
  padding-right: @item_edge_padding-horizontal_swipe - @item_vertical_padding-horizontal_swipe;
}

.controls-Swipe_horizontal_theme-@{themeName} {
  align-items: center;
}

.controls-Swipe__action_columns_theme-@{themeName} {
  display: flex;
}

.controls-Swipe_vertical_theme-@{themeName},
.controls-Swipe__action_columns_theme-@{themeName} {
  flex-direction: column;
  justify-content: space-evenly;
}

.controls-Swipe__action_horizontal_theme-@{themeName} {
  padding-left: @item_vertical_padding-horizontal_swipe;
  padding-right: @item_vertical_padding-horizontal_swipe;
}
.controls-Swipe__action_vertical_theme-@{themeName} {
  /*
   * Gradient takes some of the container's width on the left side, so we should compensate for it with larger padding.
   */
  padding-left:  @item_edge_padding-horizontal_swipe + @shadow-blur_swipe;
  padding-right: @item_edge_padding-horizontal_swipe;
}
.controls-Swipe__action_iconStyle_secondary_theme-@{themeName} {
  color: @secondary_icon-color_swipe;
}

.controls-Swipe__action_iconStyle_danger_theme-@{themeName} {
  color: @danger_color;
}

.controls-Swipe__action_iconStyle_success_theme-@{themeName} {
  color: @success_color;
}

.controls-Swipe__action_iconStyle_warning_theme-@{themeName} {
  color: @warning_color;
}

/**
TODO: на андроиде дёргается запись в списке если после анимации перестраивается ПМО.
Нужно или разобраться почему дёргается запись, или откладывать перестраивание ПМО.
Верну анимацию по задаче:
https://online.sbis.ru/opendoc.html?guid=a1a72f4f-de87-400c-8cb1-1e32d8b63068
 */
body:not(.ws-is-mobile-android) .controls-ListView__item_rightSwipeAnimation {
  animation: rightSwipe 0.3s;
}
