<div class="controls-MonthView{{rangeselect ? ' controls-RangeSelectable__rangeselect'}}" onmousedown="return false" onselectstart="return false">
    <div class="controls-MonthView__caption">
        <div if="{{captionType === 'text'}}" class="controls-MonthView__caption-text"></div>
    </div>
    <table class="controls-MonthView__dayTable">
        <thead class="controls-MonthView__tableHead">
            <tr if="{{showWeekdays}}">
                <td for="day in _days" class="controls-MonthView__tableElement controls-MonthView__tableElementFog">{{ day }}</td>
            </tr>
        </thead>
    </table>
</div>