<div class="controls-MonthView{{rangeselect ? ' controls-RangeSelectable__rangeselect'}}" onmousedown="return false" onselectstart="return false">
    <div class="controls-MonthView__caption">
        <div if="{{captionType === 'text'}}" class="controls-MonthView__caption-text"></div>
    </div>
    <table class="controls-MonthView__dayTable">
        <thead class="controls-MonthView__tableHead">
            <tr if="{{showWeekdays}}">
                <td class="controls-MonthView__tableElement controls-MonthView__tableElementFog">Пн</td>
                <td class="controls-MonthView__tableElement controls-MonthView__tableElementFog">Вт</td>
                <td class="controls-MonthView__tableElement controls-MonthView__tableElementFog">Ср</td>
                <td class="controls-MonthView__tableElement controls-MonthView__tableElementFog">Чт</td>
                <td class="controls-MonthView__tableElement controls-MonthView__tableElementFog">Пт</td>
                <td class="controls-MonthView__tableElement controls-MonthView__tableElementFog">Сб</td>
                <td class="controls-MonthView__tableElement controls-MonthView__tableElementFog">Вс</td>
            </tr>
        </thead>
    </table>
</div>