/*group*/
/*ширина кнопки закрытия окна 36px + 2px на небольшой отступ между кнопкой сохранить (в ie8 нет скруглений и кнопки склеиваются)*/
/*ширина кнопки закрытия окна 36px + 90px ширина кнопки сохранить + 2px на небольшой отступ между ними */
.controls-MonthView {
  display: inline-block;
  text-align: center;
  width: 215px;
  padding: 8px 0 0;
  background: #fff;
  font: 14px 'TensorFont Regular', 'TensorFont', sans-serif;
}
.controls-MonthView .controls-MonthView__monthPicker {
  width: 148px;
}
.controls-MonthView .controls-MonthView__dayTable {
  table-layout: fixed;
  vertical-align: middle;
  width: 100%;
  border-spacing: 1px;
}
.controls-MonthView .controls-MonthView__dayTable .controls-MonthView__tableHead {
  font: 11px 'TensorFont Regular', 'TensorFont', sans-serif;
  text-align: center;
}
.controls-MonthView .controls-MonthView__dayTable .controls-RangeSelectable__item {
  font: inherit;
  text-align: left;
}
.controls-MonthView .controls-MonthView__dayTable .controls-MonthView__tableElement {
  position: relative;
  height: 24px;
}
.controls-MonthView .controls-MonthView__dayTable .controls-MonthView__tableElement * {
  display: block;
}
.controls-MonthView .controls-MonthView__dayTable .controls-MonthView__tableElement .controls-MonthView__dayBorder,
.controls-MonthView .controls-MonthView__dayTable .controls-MonthView__tableElement .controls-MonthView__dayTitle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.controls-MonthView .controls-MonthView__dayTable .controls-MonthView__tableElement .controls-MonthView__dayBorder + .controls-MonthView__dayTitle {
  left: 7px;
  right: 7px;
  padding: 8px 0 0 0;
}
.controls-MonthView .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-RangeSelectable__item {
  cursor: pointer;
  color: inherit;
  background: #f2f2f2;
}
.controls-MonthView .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-RangeSelectable__item.controls-MonthView__weekend {
  color: #EF463A;
}
.controls-MonthView .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-RangeSelectable__item.controls-RangeSelectable__item-selectedStart,
.controls-MonthView .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-RangeSelectable__item .controls-RangeSelectable__item-selectedEnd {
  color: inherit;
  background: #ffc37e;
}
.controls-MonthView .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-RangeSelectable__item.controls-RangeSelectable__item-selectedStart:hover,
.controls-MonthView .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-RangeSelectable__item .controls-RangeSelectable__item-selectedEnd:hover {
  color: inherit;
  background: #ffc37e;
}
.controls-MonthView .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-RangeSelectable__item.controls-RangeSelectable__item-selected {
  color: inherit;
  background: #ffc37e;
}
.controls-MonthView .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-RangeSelectable__item.controls-RangeSelectable__item-selected:hover {
  color: inherit;
  background: #ffc37e;
}
.controls-MonthView .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-RangeSelectable__item:hover {
  color: inherit;
  background: #e5ecf4;
}
.controls-MonthView .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-MonthView__tableElementFog {
  cursor: default;
  color: #999;
  background: transparent;
}
.controls-MonthView .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-MonthView__tableElementFog:hover {
  color: #999;
  background: transparent;
}
.controls-MonthView.ws-disabled .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-RangeSelectable__item {
  cursor: auto;
}
.controls-MonthView.ws-disabled .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-RangeSelectable__item:hover {
  color: inherit;
  background: #f2f2f2;
}
