<div
   class="ws-SwitchableArea__item{{defaultArea ? '' : ' ws-hidden'}}"
   data-for="{{item.id || randomId('ws-area-' + index + '-')}}"
   data-name="items[{{index}}].content"
>{{item.content}}</div>