<Controls.Toggle.Checkbox triState="{{triState}}"
                          readOnly="{{false}}"
                          attr:class="js-controls-ListView__notEditable"
                          value="{{multiSelectStatus}}"
                          on:valueChanged="_onCheckBoxClick(key, multiSelectStatus)"
/>