<Controls.Popup.Opener.Dialog name="opener">
    <ws:popupOptions template="Controls/Popup/Opener/Confirmation/Dialog" isModal="{{true}}" className="controls-Confirmation_popup">
        <ws:eventHandlers onResult="{{_openerResultHandler}}"/>
    </ws:popupOptions>
</Controls.Popup.Opener.Dialog>