<div>
    <span class="baseline_span first_span">baseline</span>
    <Controls.Button enabled="{{true}}" icon="icon-16 icon-Add" caption="caption" style="buttonAdd"/>
    <span class="baseline_span">baseline</span>
    <Controls.Button enabled="{{true}}" icon="icon-16 icon-Add" caption="caption"/>
    <span class="baseline_span">baseline</span>
    <Controls.Button enabled="{{true}}" icon="icon-16 icon-Add" caption="caption" style="buttonPrimary"/>
    <span class="baseline_span">baseline</span>
    <Controls.Button enabled="{{false}}" icon="icon-16 icon-Add" caption="caption" style="buttonPrimary"/>
    <span class="baseline_span">baseline</span>
    <Controls.Button enabled="{{true}}" icon="icon-16 icon-Add" caption="caption" size="big" style="buttonPrimary"/>
    <span class="baseline_span">baseline</span>
    <Controls.Button enabled="{{true}}" icon="icon-24 icon-Add" caption="caption" size="big" style="buttonDefault"/>
    <span class="baseline_span">baseline</span>
    <Controls.Button enabled="{{false}}" icon="icon-24 icon-Add" caption="caption" size="big" style="buttonDefault"/>
    <span class="baseline_span">baseline</span>
    <Controls.List.AddButton enabled="{{true}}" caption="AddButton"/>
    <span class="baseline_span">baseline</span>
    <Controls.List.AddButton enabled="{{false}}" caption="AddButton"/>
    <span class="baseline_span">baseline</span>
    <Controls.Button enabled="{{true}}" icon="icon-24 icon-Send"/>
    <span class="baseline_span">baseline</span>
    <Controls.Button enabled="{{true}}" icon="icon-24 icon-Send" style="buttonPrimary"/>
    <span class="baseline_span">baseline</span>
    <Controls.Button enabled="{{false}}" icon="icon-24 icon-Send" style="buttonPrimary"/>
    <span class="baseline_span">baseline</span>
    <Controls.Button enabled="{{true}}" caption="Link" style="linkMain" size="s"/>
    <span class="baseline_span">baseline</span>
    <Controls.Button enabled="{{true}}" caption="Link" style="linkMain" size="default"/>
    <span class="baseline_span">baseline</span>
    <Controls.Button enabled="{{true}}" caption="Link" style="linkMain" size="l"/>
    <span class="baseline_span">baseline</span>
    <Controls.Button enabled="{{true}}" caption="Link" style="linkMain" size="xl"/>
    <span class="baseline_span">baseline</span>
    <Controls.Button enabled="{{true}}" caption="Link" style="linkMain2" size="default"/>
    <span class="baseline_span">baseline</span>
    <Controls.Button enabled="{{true}}" caption="Link" style="linkMain3" size="xl"/>
    <span class="baseline_span">baseline</span>
    <Controls.Button enabled="{{true}}" caption="Link" style="linkAdditional" size="s"/>
    <span class="baseline_span">baseline</span>
    <Controls.Button enabled="{{true}}" caption="Link" style="linkAdditional2" size="l"/>
    <span class="baseline_span">baseline</span>
    <Controls.Button enabled="{{true}}" caption="Link" style="linkAdditional3" size="default"/>
    <span class="baseline_span">baseline</span>
    <Controls.Button enabled="{{true}}" caption="Link" style="linkAdditional4" size="xl"/>
    <span class="baseline_span">baseline</span>
    <Controls.Button enabled="{{true}}" caption="Link" style="linkAdditional5" size="l"/>
    <span class="baseline_span">baseline</span>
    <Controls.Button enabled="{{false}}" caption="Link" style="linkMain" size="xl"/>
    <span class="baseline_span">baseline</span>
    <Controls.Button enabled="{{true}}" icon="icon-16 icon-Send" caption="Link" style="linkMain" size="m"/>
    <span class="baseline_span">baseline</span>
    <Controls.Button enabled="{{true}}" icon="icon-16 icon-Erase" style="linkMain"/>
    <span class="baseline_span">baseline</span>
    <Controls.Button enabled="{{true}}" icon="icon-16 icon-Save" style="linkMain"/>
    <span class="baseline_span">baseline</span>
    <Controls.Button enabled="{{true}}" icon="icon-16 icon-Author" style="errorIconButton"/>
    <span class="baseline_span">baseline</span>
    <Controls.Button enabled="{{true}}" icon="icon-16 icon-Author" style="doneIconButton" size="s"/>
    <span class="baseline_span">baseline</span>
    <Controls.Button enabled="{{true}}" icon="icon-16 icon-Author" style="defaultIconButton"/>
</div>