<div on:click="clickHandler()">
    <span>ничего  </span>
    <Controls:Button enabled="{{true}}" caption="MyLink" style="link"/>
    <span>   не поехало</span>
    <Controls:Button enabled="{{true}}" icon="icon-16 icon-Add icon-primary" caption="{{123}}" style="default"/>
    <span>   не поехало</span>
    <Controls:Button enabled="{{true}}" icon="icon-16 icon-Add icon-primary" caption="{{123}}" style="primary"/>
    <span>   не поехало</span>
    <span>ничего</span>
    <ws:Controls.List.AddButton enabled="{{true}}" caption="AddButton"/>
    <span> не поехало</span>
    <ws:Controls.List.AddButton enabled="{{false}}" caption="AddButton"/>
</div>