<div>
    <span>   не поехало</span>
    <Controls:Button enabled="{{true}}" icon="icon-16 icon-Add" caption="{{123}}" style="primary-add"/>
    <span> ничего  не поехало</span>
    <Controls:Button enabled="{{true}}" icon="icon-16 icon-Add" caption="{{123}}"/>
    <span>   не поехало</span>
    <Controls:Button enabled="{{true}}" icon="icon-16 icon-Add" caption="{{123}}" style="primary"/>
    <span>выключенная </span>
    <Controls:Button enabled="{{false}}" icon="icon-16 icon-Add" caption="{{123}}" style="primary"/>
    <span> большая конпка</span>
    <Controls:Button enabled="{{true}}" icon="icon-16 icon-Add" caption="{{123}}" size="big" style="primary"/>
    <span>   не поехало</span>
    <Controls:Button enabled="{{true}}" icon="icon-24 icon-Add" caption="{{123}}" size="big" style="default"/>
    <span>   выключенная</span>
    <Controls:Button enabled="{{false}}" icon="icon-24 icon-Add" caption="{{123}}" size="big" style="default"/>
    <span>ничего</span>
    <ws:Controls.List.AddButton enabled="{{true}}" caption="AddButton"/>
    <span> не поехало</span>
    <ws:Controls.List.AddButton enabled="{{false}}" caption="AddButton"/>
    <span>     кнопка иконка     </span>
    <Controls:Button enabled="{{true}}" icon="icon-24 icon-Send"/>
    <span>      кнопка иконка       </span>
    <Controls:Button enabled="{{true}}" icon="icon-24 icon-Send" style="primary"/>
    <span>выключенная</span>
    <Controls:Button enabled="{{false}}" icon="icon-24 icon-Send" style="primary"/>
    <span> конец строки</span>
    <br/>
    <span> ссылка основная 12px  </span>
    <Controls:Button enabled="{{true}}" caption="MyLink" style="link-main" size="s"/>
    <span> ссылка основная 14px </span>
    <Controls:Button enabled="{{true}}" caption="MyLink" style="link-main" size="default"/>
    <span> ссылка основная 15px </span>
    <Controls:Button enabled="{{true}}" caption="MyLink" style="link-main" size="l"/>
    <span> ссылка основная 18px </span>
    <Controls:Button enabled="{{true}}" caption="MyLink" style="link-main" size="xl"/>
    <span> ссылка основная 2 </span>
    <Controls:Button enabled="{{true}}" caption="MyLink" style="link-main2" size="default"/>
    <span> ссылка основная 3 </span>
    <Controls:Button enabled="{{true}}" caption="MyLink" style="link-main3" size="xl"/>
    <span> ссылка дополнительная </span>
    <Controls:Button enabled="{{true}}" caption="MyLink" style="link-additional" size="s"/>
    <span> ссылка дополнительная 2 </span>
    <Controls:Button enabled="{{true}}" caption="MyLink" style="link-additional2" size="l"/>
    <span> ссылка дополнительная 3 </span>
    <Controls:Button enabled="{{true}}" caption="MyLink" style="link-additional3" size="default"/>
    <span> ссылка дополнительная 4 </span>
    <Controls:Button enabled="{{true}}" caption="MyLink" style="link-additional4" size="xl"/>
    <span> ссылка дополнительная 5 </span>
    <Controls:Button enabled="{{true}}" caption="MyLink" style="link-additional5" size="l"/>
    <span> выключенная ссылка </span>
    <Controls:Button enabled="{{false}}" caption="MyLink" style="link-main" size="xl"/>
    <span> ссылка основная с иконкой </span>
    <Controls:Button enabled="{{true}}" icon="icon-16 icon-Send" caption="MyLink" style="link-main" size="m"/>
    <span> ссылка основная с иконкой </span>
    <Controls:Button enabled="{{true}}" icon="icon-16 icon-Erase" style="link-main"/>
    <span> ссылка основная с иконкой </span>
    <Controls:Button enabled="{{true}}" icon="icon-16 icon-Save" style="link-main"/>
</div>