<div on:click="clickHandler()">
    <div id="button0">
        button0
        <Controls:Button enabled="{{true}}" caption="MyLink" style="linkMain" size="s" />
    </div>

    <div id="button01">
        button01
        <Controls:Button enabled="{{true}}" caption="MyLink" style="linkMain2" size="default"/>
    </div>

    <div id="button02">
        button02
        <Controls:Button enabled="{{true}}" caption="MyLink" style="linkMain3" size="l"/>
    </div>

    <div id="button03">
        button03
        <Controls:Button enabled="{{true}}" caption="MyLink" style="linkMain3" size="xl"/>
    </div>

    <div id="button1">
        button1
        <Controls:Button enabled="{{true}}" caption="MyLink" style="linkAdditional" size="s"/>
    </div>

    <div id="button11">
        button11
        <Controls:Button enabled="{{true}}" caption="MyLink" style="linkAdditional2" size="default"/>
    </div>

    <div id="button12">
        button12
        <Controls:Button enabled="{{true}}" caption="MyLink" style="linkAdditional3" size="l" />
    </div>

    <div id="button13">
        button13
        <Controls:Button enabled="{{true}}" caption="MyLink" style="linkAdditional4" size="xl"/>
    </div>

    <div id="button14">
        button14
        <Controls:Button enabled="{{true}}" caption="MyLink" style="linkAdditional5" size="default" />
    </div>

    <div id="button15">
        button15
        <Controls:Button enabled="{{false}}" caption="MyLink" style="linkAdditional5" size="default"/>
    </div>

    <div id="button2">
        button2
        <Controls:Button enabled="{{true}}" icon="icon-16 icon-Add" caption="{{123}}"/>
    </div>

    <div id="button21">
        button21
        <Controls:Button enabled="{{true}}" icon="icon-16 icon-Add" caption="{{123}}" size="big" />
    </div>

    <div id="button22">
        button22
        <Controls:Button enabled="{{false}}" icon="icon-16 icon-Add" caption="{{123}}" size="big"/>
    </div>

    <div id="button23">
        button23
        <Controls:Button enabled="{{false}}" icon="icon-16 icon-Add" caption="{{123}}"/>
    </div>

    <div id="button3">
        button3
        <Controls:Button enabled="{{true}}" icon="icon-24 icon-Send" style="buttonPrimary" />
    </div>

    <div id="button31">
        button31
        <Controls:Button enabled="{{true}}" icon="icon-24 icon-Send" style="buttonPrimary" size="big" />
    </div>

    <div id="button4">
        button4
        <Controls:Button enabled="{{false}}" icon="icon-24 icon-Send" style="buttonPrimary" />
    </div>

    <div id="button41">
        button41
        <Controls:Button enabled="{{false}}" icon="icon-24 icon-Send" style="buttonPrimary" size="big" />
    </div>

    <div id="button5">
        button5
        <Controls:Button enabled="{{true}}" icon="icon-24 icon-Save" style="linkMain" size="default" />
    </div>

    <div id="button51">
        button51
        <Controls:Button enabled="{{false}}" icon="icon-24 icon-Save" style="linkMain"/>
    </div>

    <div id="button52">
        button52
        <Controls:Button enabled="{{true}}" icon="icon-24 icon-Save" caption="capt" style="linkMain" />
    </div>

    <div id="button53">
        button53
        <Controls:Button enabled="{{false}}" icon="icon-24 icon-Send" caption="capt" style="linkMain"/>
    </div>

    <div id="button54">
        button54
        <Controls:Button enabled="{{false}}" icon="icon-24 icon-Send" style="buttonPrimary" size="big"/>
    </div>

    <div id="button55">
        button55
        <Controls:Button enabled="{{false}}" icon="icon-24 icon-Send" style="buttonPrimary"/>
    </div>

    <div id="button56">
        button56
        <Controls:Button enabled="{{true}}" icon="icon-24 icon-Send" style="buttonPrimary" size="big"/>
    </div>

    <div id="button57">
        button57
        <Controls:Button enabled="{{true}}" icon="icon-24 icon-Send" style="buttonPrimary"/>
    </div>

    <div id="button58">
        button58
        <Controls:Button enabled="{{false}}" icon="icon-24 icon-Send" caption="capt"/>
    </div>

    <div id="button59"  on:click="clickHandler('button59')">
        button59
        <Controls:Button enabled="{{false}}" icon="icon-24 icon-Send" caption="capt" size="big"/>
    </div>

    <div id="button60">
        button60
        <Controls:Button enabled="{{true}}" icon="icon-24 icon-Send" caption="capt"/>
    </div>

    <div id="button62">
        button62
        <Controls:Button enabled="{{true}}" icon="icon-24 icon-Send" caption="capt" size="big"/>
    </div>

    <div id="button63">
        button62
        <Controls:Button enabled="{{true}}" icon="icon-24 icon-Send" caption="capt" style="buttonAdd" size="big"/>
    </div>

    <div id="button64">
        button62
        <Controls:Button enabled="{{false}}" icon="icon-24 icon-Send" caption="capt" style="buttonAdd" size="big"/>
    </div>

    <div id="resultViewer">click {{count}}</div>
</div>