.controls-Slider-Range_small_theme-@{themeName} {
  padding: @Slider-Range_padding;
}

controls-Slider-Range_big_theme-@{themeName} {
  padding: @Slider-Range_big_padding;
}

.controls-Slider-Range__withBorder_theme-@{themeName} {
  border: @Slider-Range_border;
  border-radius: @Slider-Range_border-radius;
  padding: @Slider-Range_border-padding;
}

.controls-Slider-Range__mainSlider_small_theme-@{themeName} {
  position: relative;
  height: @Slider-Range_main-height;
  padding: @Slider-Range_main-padding;
}

.controls-Slider-Range__mainSlider_big_theme-@{themeName} {
  position: relative;
  height: @Slider-Range_main_big-height;
  padding: @Slider-Range_main_big-padding;

}

.controls-Slider-Range__point_theme-@{themeName} {
  position: absolute;
  display: inline-block;
  border: @Slider-Range_point-border;
  background-color: @Slider-Range_point-background-color;
  z-index: 2;
}

.controls-Slider-Range__point_enabled_theme-@{themeName} {
  border: @Slider-Range_point-border;
  background-color: @Slider-Range_point-background-color;
  cursor: pointer;
}

.controls-Slider-Range__point_disabled_theme-@{themeName} {
  border: @Slider-Range_disabled_point-border;
  cursor: auto;
}

.controls-Slider-Range__point_big_theme-@{themeName} {
  width: @Slider-Range_big_point-size;
  height: @Slider-Range_big_point-size;
  margin-left: @Slider-Range_big_point-margin-left;
  border-radius: @Slider-Range_big_point-border-radius;
}

.controls-Slider-Range__point_small_theme-@{themeName} {
  width: @Slider-Range_point-size;
  height: @Slider-Range_point-size;
  margin-left: @Slider-Range_point-margin-left;
  border-radius: @Slider-Range_point-border-radius;
}

.controls-Slider-Range__point__start_theme-@{themeName} {
  left: 0%;
}

.controls-Slider-Range__point__end_theme-@{themeName} {
  left: 100%;
}

.controls-Slider-Range__line_theme-@{themeName} {
  position: absolute;
  display: inline-block;
  height: @Slider-Range_line-height;
  width: @Slider-Range_line-width;
}

.controls-Slider-Range__line_small_theme-@{themeName} {
  margin-top: @Slider-Range_line-margin-top;
}

.controls-Slider-Range__line_big_theme-@{themeName} {
  margin-top: @Slider-Range_big_line-margin-top;
}

.controls-Slider-Range__line__empty_enabled_theme-@{themeName} {
  background-color: @Slider-Range_line_empty-bg-color;
}

.controls-Slider-Range__line__full_enabled_theme-@{themeName} {
  z-index: 1;
  background-color: @Slider-Range_line_full-bg-color;
}

.controls-Slider-Range__line__empty_disabled_theme-@{themeName},
.controls-Slider-Range__line__full_disabled_theme-@{themeName} {
  background-color: @Slider-Range_disabled-color;
}

.controls-Slider-Range__line__wrapper_theme-@{themeName} {
  position: absolute;
}
.controls-Slider-Range__line__wrapper_enabled_theme-@{themeName} {
  cursor: pointer;
}
.controls-Slider-Range__line__wrapper_disabled_theme-@{themeName} {
  cursor: auto;
}

.controls-Slider-Range__line__wrapper_big_theme-@{themeName} {
  width: @Slider-Range_line_wrapper-width;
  height: @Slider-Range_big_line_wrapper-height;
}

.controls-Slider-Range__line__wrapper_small_theme-@{themeName} {
  height: @Slider-Range_line_wrapper-height;
  width: @Slider-Range_line_wrapper-width;
}

.controls-Slider-Range__point_enabled_theme-@{themeName}:hover {
  background-color: @Slider-Range_point_hover-bg-color;
  border-color: @Slider-Range_point_hover-border-color;
}

.controls-Slider-Range__scale_theme-@{themeName} {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.controls-Slider-Range__segment_theme-@{themeName} {
  display: inline-flex;
  color: @Slider-Range_segment-color;
  font-size: @Slider-Range_segment-font-size;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 0;
  z-index: -1;
  position: relative;
}

.controls-Slider-Range__segment_theme-@{themeName}:after {
  content: ' ';
  position: absolute;
  top: @Slider-Range_segment-after-top;
  width: @Slider-Range_segment-after-width;
  height: @Slider-Range_segment-after-height;
  display: block;
  background-color: @Slider-Range_segment-after-bg-color;
}

.controls-Slider-Range__segment_theme-@{themeName}:first-child {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.controls-Slider-Range__segment_theme-@{themeName}:last-child {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
