@border-color: #ccc;
@border-params: 1px solid @border-color;
@shadow-params: inset -1px 0px @border-color;

.controls-MasterDetail {
  position: relative;
  display: table;
}

.controls-MasterDetail__masterContainer, .controls-MasterDetail__detailContainer {
  display: table-cell;
}

.controls-MasterDetail__detailContainer {
  width: 70%;
}

.controls-MasterDetail__masterContainer {
  width: 30%;
  -webkit-box-shadow: @shadow-params;
  -moz-box-shadow: @shadow-params;
  box-shadow: @shadow-params;
}

.controls-MasterDetail__masterContainer .controls-ListView__item__selected td {
  border-bottom: @border-params;
  border-top: @border-params;

  &:last-child {
    border-right: 1px solid white;
  }
}