html, body {
   height: 100%;
   box-sizing: border-box;
}

html {
   overflow-x: auto;
}

body {
   background-image: url(./resources/background.jpg);
   background-attachment: fixed;
   overflow: hidden;
   //Скролл по x должен быть в html, чтобы панели которые лежат в body, верно позиционировались относительно body
   min-width: 1000px;
   position: relative;
}
