<html lang="ru" xml:lang="ru" xmlns="http://www.w3.org/1999/xhtml" key="1_" id="root">
    <head key="1_1_">
        <title>{{ _options.title }}</title>
        <link rel="stylesheet" data-pack-name="ws-core-styles" type="text/css" href="{{wsRoot}}css/themes/webfonts/fonts.css" />
        <link rel="stylesheet" data-pack-name="ws-core-styles" type="text/css" href="{{wsRoot}}css/core-min.css" />
        <ws:if data="{{ _options.cssLinks }}">
            <ws:for data="value in _options.cssLinks">
                <link rel="stylesheet" href="{{ value }}" type="text/css"/>
            </ws:for>
        </ws:if>
    </head>
    <body id="body" key="1_2_">
        <ws:if data="{{ _options.template }}">
            <ws:partial template="{{ _options.template }}" scope="{{ _tplConfig }}" aaa="{{_tplConfig}}"></ws:partial>
        </ws:if>

        <script>
           window.wsConfig = {
              wsRoot: '/ws/',
              resourceRoot: '/resources/'
           };
        </script>
        <script type="text/javascript" src="{{wsRoot}}ext/requirejs/require.js"></script>
        <script type="text/javascript" src="{{wsRoot}}ext/requirejs/config.js"></script>
        <script type="text/javascript" src="{{resourceRoot}}/contents.js"></script>
        <ws:if data="{{ _options.jsLinks }}">
            <ws:for data="value in _options.jsLinks">
                <script type="text/javascript" src="{{ value }}" defer="defer"></script>
            </ws:for>
        </ws:if>
        <script>
           require(['Core/app']);
        </script>
    </body>
</html>
