<html lang="ru" xml:lang="ru" xmlns="http://www.w3.org/1999/xhtml" key="1_" id="root">
<head key="1_1_">
    <ws:if data="{{ cssLinks }}">
        <ws:for data="index, value in cssLinks">
            <link rel="stylesheet" href="{{ value }}" type="text/css" key="{{ 'css_' + index }}"/>
        </ws:for>
    </ws:if>
    <title key="title">{{ title }}</title>
    <link key="fonts-css-for-page" rel="stylesheet" data-pack-name="ws-core-styles" type="text/css" href="{{wsRoot}}css/themes/webfonts/fonts.css" />
    <link key="core-min-css-for-page" rel="stylesheet" data-pack-name="ws-core-styles" type="text/css" href="{{wsRoot}}css/core-min.css" />
</head>
<body id="body" key="1_2_">
    <ws:if data="{{ template }}">
        <ws:partial template="{{ template }}" scope="{{ _tplConfig }}"></ws:partial>
    </ws:if>
    <div key="scripts">
        <script key="ws-config">
           window.wsConfig = {
              wsRoot: '/ws/',
              resourceRoot: '/resources/'
           };
        </script>
        <script key="require" type="text/javascript" src="{{wsRoot}}ext/requirejs/require.js"></script>
        <script key="config" type="text/javascript" src="{{wsRoot}}ext/requirejs/config.js"></script>
        <script key="contents" type="text/javascript" src="{{resourceRoot}}/contents.js"></script>
        <ws:if data="{{ jsLinks }}">
            <ws:for data="index, value in jsLinks">
                <script type="text/javascript" src="{{ value }}" defer="defer" key="{{ 'scripts_' + index }}"></script>
            </ws:for>
        </ws:if>
        <script>
           require(['Core/app']);
        </script>
    </div>
</body>
</html>
