<html lang="ru" xml:lang="ru" xmlns="http://www.w3.org/1999/xhtml" key="1_" id="root">
<head key="1_1_">
</head>
<body id="body" key="1_2_">
    <script>
       window.wsConfig = {
          wsRoot: '/ws/',
          resourceRoot: '/resources/'
       };
    </script>
    <script type="text/javascript" src="/sbis3-ws/ws/ext/requirejs/require.js"></script>
    <script type="text/javascript" src="/sbis3-ws/ws/ext/requirejs/config.js"></script>
    <script type="text/javascript" src="/cdn/jquery/3.2.1/jquery-min.js" data-pack-name="skip" defer="defer"></script>
    <script type="text/javascript" src="/components/contents.js"></script>
    <script>
       require(['Core/app']);
    </script>
</body>
</html>
