.cDemo-ScrollContainer {
  height: 700px;
  width: 60%;
  margin: 100px 20% 0 20%;
  border: 2px solid #353535;
}

.cDemo-ScrollContainer .controls-ListView__itemV {
  min-height: 60px;
  padding: 10px;
}
