.cDemo-ScrollContainer {
  height: 700px;
  width: 60%;
  margin: 100px 20% 0 20%;
  border: 2px solid #353535;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}

.cDemo-ScrollContainer .controls-ListView__itemV {
  min-height: 60px;
  padding: 10px;
}
