.controls-dropDownList {
  color: #05b;
  cursor: pointer;
  &:hover .controls-CustomFilterMenu__caption{
    text-decoration: underline;
    color: #ff7033;
  }
}
.controls-DropDownList__picker {
  .controls-CustomFilterMenu__captionWrapper {
    margin: 5px;

    .controls-CustomFilterMenu__caption {
      text-decoration: none;
      color: #000000;
    }
  }
  .controls-CustomFilterMenu__header {
    display: block;
  }
  .controls-CustomFilterMenu__list {
    padding: 0;
    .controls-CustomFilterMenu__item {
      padding: 5px;
      margin: 0;
    }
  }
}