<span class="controls-BackButton">
    <img class="controls-BackButton_style-{{_options.style}} controls-BackButton_size-{{_options.size}}"/>
    <Controls:Header caption="test header h2" style="{{_options.style}}" size="default" clickable="{{true}}"/>
</span>