<div class="controls-LongOperations controls-LongOperationsRegistry">
   <SBIS3.CONTROLS.Browser
      name="longOperationsBrowser"
      class="controls-LongOperationsRegistry__browser"
      >
      <ws:content>
         <div class="controls-Browser__table controls-LongOperationsRegistry__table controls-Browser__table-fullFilterBlock controls-LongOperationsRegistry__table-fullFilterBlock">
            <div class="controls-Browser__tableCell-search controls-LongOperationsRegistry__tableCell-search">
               <SBIS3.CONTROLS.SearchForm
                  tabindex="2"
                  name="browserSearch"
                  allowChangeEnable="{{false}}"
                  placeholder="{[искать@@найти...]}"
                  className="controls-Browser__search controls-LongOperationsRegistry__search ws-autofocus"
               />
            </div>
            <div class="controls-Browser__tableRow controls-LongOperationsRegistry__tableRow">
               <div class="controls-Browser__tableCell-filterButton controls-LongOperationsRegistry__tableCell-filterButton">
                  <SBIS3.CONTROLS.Filter.Button
                     name="browserFilterButton"
                     className="controls-Browser__filterButton controls-LongOperationsRegistry__filterButton"
                     tabindex="0"
                     >
                     <ws:filterStructure>
                        <ws:Array>
                           <ws:Object
                              internalValueField="StateKey"
                              internalCaptionField="StateTitle"
                              value="{{'filter/status'|mutable}}"
                              resetValue="{{null}}"
                              itemTemplate="{{null}}"
                           />
                           <ws:Object
                              internalValueField="PeriodKey"
                              internalCaptionField="PeriodTitle"
                              value="{{'filter/period'|mutable}}"
                              resetValue="{{null}}"
                           />
                           <ws:Object
                              internalValueField="DurationKey"
                              internalCaptionField="DurationTitle"
                              value="{{'filter/duration'|mutable}}"
                              resetValue="{{null}}"
                           />
                           <ws:Object
                              internalValueField="UserId"
                              internalCaptionField="UserName"
                              value="{{'filter/UserId'|mutable}}"
                              resetValue="{{!userId ? null : userId}}"
                              visibilityValue="{{!userId}}"
                              itemTemplate="{{!userId ? undefined : ''}}"
                           />
                        </ws:Array>
                     </ws:filterStructure>
                     <ws:template>
                        <SBIS3.CONTROLS.LongOperations.Registry.resources.LongOperationsFilter
                           useUsersFilter="{{useUsersFilter}}"
                           usersFilterComponent="{{usersFilterComponent}}"
                           usersFilterParams="{{usersFilterParams}}"
                        />
                     </ws:template>
                  </SBIS3.CONTROLS.Filter.Button>
               </div>
               <div class="controls-Browser__tableCell-fastDataFilter controls-LongOperationsRegistry__tableCell-fastDataFilter">
                  <SBIS3.CONTROLS.Filter.FastData
                     name="browserFastDataFilter"
                     className="controls-Browser__fastDataFilter controls-LongOperationsRegistry__fastDataFilter"
                     tabindex="0"
                     >
                     <ws:items>
                        <ws:Array>
                           <ws:Object
                              idProperty="key"
                              displayProperty="title"
                              parentProperty="parent"
                              multiselect="{{false}}"
                              values="{{ [
                                 {
                                 'key': null,
                                 'title': rk('В любом состоянии')
                                 },
                                 {
                                 'key': 'running',
                                 'title': rk('В процессе')
                                 },
                                 {
                                 'key': 'ended',
                                 'title': rk('Завершенные')
                                 },
                                 {
                                 'key': 'success-ended',
                                 'title': rk('Успешно'),
                                 'parent': 'ended'
                                 },
                                 {
                                 'key': 'error-ended',
                                 'title': rk('С ошибками'),
                                 'parent': 'ended'
                                 },
                                 {
                                 'key': 'suspended',
                                 'title': rk('Приостановленные')
                                 }
                              ] }}"
                              >
                              <!--<ws:values>
                                 <ws:Array>
                                    <ws:Object key="{{null}}" title="{[В любом состоянии]}"></ws:Object>
                                    <ws:Object key="running" title="{[В процессе]}"></ws:Object>
                                    <ws:Object key="ended" title="{[Завершенные]}"></ws:Object>
                                    <ws:Object key="success-ended" title="{[Успешно]}" parent="ended"></ws:Object>
                                    <ws:Object key="error-ended" title="{[С ошибками]}" parent="ended"></ws:Object>
                                    <ws:Object key="suspended" title="{[Приостановленные]}"></ws:Object>
                                 </ws:Array>
                              </ws:values>-->
                           </ws:Object>
                        </ws:Array>
                     </ws:items>
                     <ws:filterStructure>
                        <ws:Array>
                           <ws:Object
                              internalValueField="key"
                              internalCaptionField="title"
                              value="{{'filter/status'|mutable}}"
                           />
                        </ws:Array>
                     </ws:filterStructure>
                  </SBIS3.CONTROLS.Filter.FastData>
               </div>
            </div>
         </div>
         <SBIS3.CONTROLS.ScrollContainer class="controls-ScrollContainer__flex controls-Browser__scrollContainer controls-Browser__view controls-LongOperationsRegistry__view">
            <ws:content>
               <SBIS3.CONTROLS.LongOperations.List
                  name="operationList"
                  columns="{{columns}}"
                  userId="{{userId}}"
                  narrowTmpl="{{false}}"
                  useGroupByEasyGroup="{{useGroupByEasyGroup}}"
               />
            </ws:content>
         </SBIS3.CONTROLS.ScrollContainer>
      </ws:content>
   </SBIS3.CONTROLS.Browser>
</div>
