<div class="controls-ListView__itemCheckBox {{_options.showCheckboxes ? ' controls-ListView__itemCheckBox__showAlways'}} {{(!_options.showCheckboxes && !_options.hideCheckboxes) ? ' controls-ListView__itemCheckBox__showByHover'}}"></div>
<div class="controls-FilterPanelChooser__title" title="{{item[displayProperty]}}">
    {{item[displayProperty]}}
    <div class="controls-FilterPanelChooser__titleShadow"></div>
</div>
<div class="controls-FilterPanelChooser__DetailsList-hierarchyIcon {{item.hierarchy === true && selectedKeys.indexOf(item.getId()) !== -1 ? 'icon-24 icon-TreeView icon-primary' : 'ws-hidden'}}"></div>