.controls-MyFilterPanel {
   background-color: #ccefff;
   width: 1200px;
   height: 750px;
}
.controls-MyFilterPanel_tds-FilterPanel {
   height: 100%;
   vertical-align: top;
   border-right: 1px solid black;
   float: left;
}
.controls-MyFilterPanel_FilterPanel.controls-FilterPanel_expanded {
   width: 300px;
   height: 100%;
}
.controls-MyFilterPanel_tds-PreviewContext, .controls-MyFilterPanel_tds-PreviewEvent {
   float: left;
   height: 100%;
   white-space: pre-wrap;
   padding: 8px 8px 0 8px;
   box-sizing: border-box;
   border-right: 1px solid black;
   width: 400px;
}
.controls-MyFilterPanelToggleButton {
   margin-top: 12px;
   float: left;
   width: 100px;
   height: 100px;
}