<div class="controls-MyFilterPanel">
   <ws:SBIS3.CONTROLS.IconButton className="controls-MyFilterPanelToggleButton controls-IconButton__filter-left-open" visible="{{ false }}" command="toggleFilter" name="ToggleFilterButton" />
   <div class="controls-MyFilterPanel_tds-FilterPanel">
      <ws:SBIS3.CONTROLS.FilterPanel className="controls-MyFilterPanel_FilterPanel" name="MyFilterPanel"
         expanded="{{ true }}"
         items="{{ _items }}"
         textValue="{{ 'DemoTextField'|mutable }}"
         filter="{{ 'DemoFilterField'|mutable:{} }}">
         <ws:handlers onFilterChange="{{ _onFilterChange }}">
         </ws:handlers>
      </ws:SBIS3.CONTROLS.FilterPanel>
   </div>
   <div class="controls-MyFilterPanel_tds-PreviewContext">
      <b>Фильтр, полученный через bind контекста</b><br/><br/>
      <div data-bind="html: DemoTextField"></div><br/><br/>
      <div class="controls-MyFilterPanel_filter-preview_context"></div>
   </div>
   <div class="controls-MyFilterPanel_tds-PreviewEvent">
      <b>Фильтр, полученный через событие onFilterChange</b><br/><br/>
      <div class="controls-MyFilterPanel_textValue-preview_event"></div><br/><br/>
      <div class="controls-MyFilterPanel_filter-preview_event"></div>
   </div>
</div>