<div class="inline-flex">
    <span class="js-controls-SuggestTextBox__reset controls-SuggestTextBox__reset icon-size icon-Close {{text ? '' : 'ws-hidden'}} inline-flex items-center" title="{[Очистить поле]}"></span>
</div>