<div class="controls-TimePicker">
   <SBIS3.CONTROLS.Date.TimePicker.TimeHeader
      name="header"
      time="{{'time'|mutable}}"
      mode="{{'mode'|mutable}}"
   />
   <SBIS3.CONTROLS.Date.TimePicker.ClockPicker
      name="body"
      time="{{'time'|mutable}}"
      mode="{{'mode'|mutable}}"
   />
</div>