<div class="controls-Spoiler js-controls-Spoiler{{expanded ? ' ' + expandedClassName : ''}}">
   <div class="controls-Spoiler__title js-controls-Spoiler__title" title="{{caption}}">
      <i class="controls-Spoiler__toggle-item js-controls-Spoiler__toggle-item icon-16 {{expanded ? 'icon-Expand' : 'icon-Next'}} icon-primary"></i>
      <ws:partial template="{{_titleTpl}}" scope="{{...}}" />
    </div>
    <div class="controls-Spoiler__content js-controls-Spoiler__content">
      <ws:if data="{{expanded}}">
         <ws:partial template="{{_contentTpl}}" scope="{{...}}" />
      </ws:if>
    </div>
</div>