@controls-Spoiler-title-font: bold @font-basic-size @font-basic-name;
@controls-Spoiler-title-cursor: pointer;
@controls-Spoiler-title-height: 30px;
@controls-Spoiler-title-line-height: 30px;
@controls-Spoiler-title-text-color: #313E78;

.controls-Spoiler {
   .controls-Spoiler__title {
      cursor: @controls-Spoiler-title-cursor;
      height: @controls-Spoiler-title-height;
      font: @controls-Spoiler-title-font;
      box-sizing: border-box;
      position: relative;
      overflow: hidden;
      display: inline-flex;
      width: 100%;
      .user-select();
      .controls-Spoiler__title-caption { //middle
         padding-top: 6px;
         overflow: hidden;
         .controls-Spoiler__title-caption-text {
            float: left;
            color: @controls-Spoiler-title-text-color;
            white-space: nowrap;
         }
         .controls-Spoiler__title-caption-blur { //blur
            position: relative;
            float: right;
            &:before {
               background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1));
               height: 30px;
               width: 30px;
               content: ' ';
               display: block;
               position: absolute;
               top: -30px;
               right: 0;
            }
         }
      }
   }
   .controls-Spoiler__content {
      display: none;
   }
   &.controls-Spoiler_expanded {
      .controls-Spoiler__content {
         display: block;
      }
   }
}

.controls-Spoiler__toggle-item { //left
   padding: 7px 4px 0 4px;
}

.ws-is-mobile-platform { // Увеличиваем отступ на мобильных устройствах
   .controls-Spoiler__toggle-item {
      padding: 8px 4px 0 4px;
   }
}