<div class="controls-Spoiler js-controls-Spoiler{{expanded ? ' ' + expandedClassName : ''}}">
   <div class="controls-Spoiler__title js-controls-Spoiler__title" title="{{caption}}">
      <ws:if data="{{_leftPartTitleTpl}}">
         <ws:partial template="{{_leftPartTitleTpl}}" scope="{{...}}" />
      </ws:if>
      <ws:if data="{{_middlePartTitleTpl}}">
         <ws:partial template="{{_middlePartTitleTpl}}" scope="{{...}}" />
      </ws:if>
      <ws:if data="{{_rightPartTitleTpl}}">
         <ws:partial template="{{_rightPartTitleTpl}}" scope="{{...}}" />
      </ws:if>
   </div>
   <div class="controls-Spoiler__content js-controls-Spoiler__content">
      <ws:if data="{{expanded}}">
         <ws:partial template="{{_contentTpl}}" scope="{{...}}" />
      </ws:if>
   </div>
</div>