<Controls.List.BaseControl on:checkboxClick="_onCheckBoxClick()"
                           scope="{{_options}}"
                           name="baseControl">
   <ws:partial template="{{content.viewTemplate}}" on:nodeExpanderClick="_onNodeExpanderClick()" />
</Controls.List.BaseControl>