.controls-LeftNavigation {
   display: inline-block;
   height: 24px;
   line-height: 24px;
}

.controls-LeftNavigation__caption {
   display: inline-block;
   float: left;
   margin-left: 4px;
   font-family: 'TensorFont Bold';
   font-size: 15px;
   color: #313E78;
}

.controls-LeftNavigation__count {
   display: inline-block;
   float: left;
   font-family: 'TensorFont';
   font-size: 15px;
   color: #D94700;
}

.controls-LeftNavigation__icon {
   display: inline-block;
   float: left;
   text-align: center;
   width: 24px;
}

.icon-16{
   font-family: 'TensorFont';
   font-size: 18px;
   color: #D94700;
}

.controls-Checked__checked .controls-LeftNavigation__icon {
   font-family: 'TensorFont';
   font-size: 18px;
   color: #D94700;
}

.controls-LeftNavigation:hover .controls-LeftNavigation__icon:after,
.controls-LeftNavigation:hover .controls-LeftNavigation__count,
.controls-LeftNavigation:hover .controls-LeftNavigation__caption {
   color: #FF7033;
   cursor: pointer;
}
