<div style="margin: 20px">
   <Controls.Input.ComboBox readOnly="{{true}}"
                            items="{{_createMemory()}}"
                            keyProperty="id"
                            displayProperty="title"
                            selectedKeys="_selectedKeys"
                            bind:value="_value"

   />

</div>