<div style="margin: 20px">
   <Controls.Input.ComboBox readOnly="{{true}}"
                            items="{{_createMemory()}}"
                            keyProperty="id"
                            displayProperty="title"
                            bind:value="_value"
                            width="200"
                            attr:style="width: 200px;"/>

</div>