<div class="controls-demo-SuggestV__full">
    <div class="controls-demo-SuggestV__info">
        <div class="controls-demo-SuggestV__first">
            {{itemData.getPropValue(itemData.item, firstLine)}}
        </div>
        <div class="controls-demo-SuggestV__second">
            {{itemData.getPropValue(itemData.item, secondLine)}}
        </div>
    </div>
</div>