
.controls-ExportCustomizer-ColumnBinder-View__head {
   .flexbox();
   .flex-direction(row);
   .align-items(center);
   margin: @margin_ExportCustomizer-ColumnBinder-View-head;
}

.controls-ExportCustomizer-ColumnBinder-View__title {
   display: inline-block;
   padding: @padding_ExportCustomizer-ColumnBinder-View-title;
   font-size: @font-size_ExportCustomizer-ColumnBinder-View-title;
   font-weight: bold;
   color: @color_ExportCustomizer-ColumnBinder-View-title;
}

.controls-ExportCustomizer-ColumnBinder-View__grid .controls-DataGridView__firstContentCell {
   width: @width_ExportCustomizer-ColumnBinder-View-grid-topFirstCell;
}

.controls-ExportCustomizer-ColumnBinder-View__grid .controls-DataGridView__tr .controls-DataGridView__firstContentCell {
   border-bottom: @border-bottom_ExportCustomizer-ColumnBinder-View-grid-firstCell !important;
   padding: @padding_ExportCustomizer-ColumnBinder-View-grid-firstCell;
   background-color: @background-color_ExportCustomizer-ColumnBinder-View-grid-firstCell;
   text-align: center;
}

.controls-ExportCustomizer-ColumnBinder-View__grid .controls-DataGridView__tr.controls-ListView__hoveredItem .controls-DataGridView__firstContentCell {
   background-color: @background-color_ExportCustomizer-ColumnBinder-View-grid-firstCell !important;
}

.controls-ExportCustomizer-ColumnBinder-View__grid .controls-DataGridView__tr .controls-DataGridView__lastContentCell {
   color: @color_ExportCustomizer-ColumnBinder-View-grid-lastCell;
}
