<div class="controls-ExportCustomizer-ColumnBinder-View">
   <div class="controls-ExportCustomizer-ColumnBinder-View__head">
      <div class="controls-ExportCustomizer-ColumnBinder-View__title">
         <ws:if data="{{title}}">{{title}}</ws:if><ws:else>{[НастройщикЭкспорта@@Колонки]}</ws:else>
      </div>
      <SBIS3.CONTROLS.Button.IconButton
         className="controls-ExportCustomizer-ColumnBinder-View__addRows"
         command="addRows"
         size="s"
         style="bordered"
         icon="sprite:icon-16 icon-AddButtonNew icon-primary"
         tooltip="{[НастройщикЭкспорта@@Добавить колонки]}"
      />
   </div>
   <SBIS3.CONTROLS.DataGridView
      className="controls-DataGridView__hasSeparator controls-ListView__withoutMarker controls-ExportCustomizer-ColumnBinder-View__grid"
      name="controls-ExportCustomizer-ColumnBinder-View__grid"
      items="{{_rows}}"
      idProperty="id"
      columns="{{_columns}}"
      showHead="{{false}}"
      startScrollColumn="{{1}}"
      emptyHTML="{{emptyHTML}}"
   />
</div>