.controls-RadioButton {
  cursor: pointer;
  display: inline-block;

  .controls-RadioButton__caption {
    margin: @radio-button-text-margin;
    color: @radio-button-text-color;
  }

  .controls-RadioButton__icon {
    display: inline-block;
    width: @radio-button-icon-width;
    height: @radio-button-icon-height;
    line-height: @radio-button-icon-line-height;
    background: @radio-button-icon-bg;
  }

  &:hover {
    .controls-RadioButton__caption {
      color: @radio-button-hover-text-color;
    }

    .controls-RadioButton__icon {
      background: @radio-button-icon-hover-bg;
    }
  }

  &.controls-Checked__checked {
    .controls-RadioButton__caption {
      color: @radio-button-checked-text-color;
    }

    .controls-RadioButton__icon {
      background: @radio-button-icon-checked-bg;
    }

    &:hover {
      .controls-RadioButton__caption {
        color: @radio-button-checked-hover-text-color;
      }

      .controls-RadioButton__icon {
        background: @radio-button-icon-checked-hover-bg;
      }
    }

    &.ws-disabled {
      .controls-RadioButton__icon {
        background: @radio-button-icon-disabled-checked-bg;
      }

      &:hover {
        .controls-RadioButton__icon {
          background: @radio-button-icon-disabled-checked-hover-bg;
        }
      }
    }
  }

  &.ws-disabled {
    cursor: default;
    .controls-RadioButton__caption {
      color: @radio-button-disabled-text-color;
    }

    .controls-RadioButton__icon {
      background: @radio-button-icon-disabled-bg;
    }

    &:hover {
      .controls-RadioButton__caption {
        color: @radio-button-disabled-hover-text-color;
      }

      .controls-RadioButton__icon {
        background: @radio-button-icon-disabled-hover-bg;
      }
    }
  }
}