.controls-RadioButton {
   cursor: pointer;
   display: inline-block;
}
.controls-RadioButton__icon {
   width: 16px;
   height: 16px;
   background: url('resources/RadioButton.png') 0 1px;
   margin: 1px 4px 0 0;
   display: inline-block;
}
.controls-RadioButton:hover .controls-RadioButton__icon{
   background-position: 0 14px;
}

.controls-RadioButton.controls-ToggleButton__checked .controls-RadioButton__icon{
   background-position: 0 28px;
}