<ws:if data="{{value.isCurrentMonth}}">
   <div if="{{value.today}}" class="controls-MonthView__item-today-background"></div>
   <span class="controls-MonthView__item-title">{{value.day}}</span>
</ws:if>