<div attr:class="controls-MonthView{{rangeselect ? ' controls-RangeSelectable__rangeselect'}}">
   <div attr:class="controls-MonthView__caption" if="{{_options.showCaption}}">
      <div attr:class="controls-MonthView__caption-text">{{ _month.strftime(_options.captionFormat) }}</div>
   </div>
   <table attr:class="controls-MonthView__dayTable">
      <thead attr:class="controls-MonthView__tableHead">
         <tr if="{{_options.showWeekdays}}">
            <td for="day in _days" attr:class="controls-MonthView__weekDayHeader">{{ day }}</td>
         </tr>
      </thead>
      <ws:partial
         template="{{_tableBodyTmpl}}"
         scope="{{_options}}"
         monthViewModel="{{_monthViewModel}}"
         _prepareClass="{{_prepareClass}}"
         _dayTmpl="{{_dayTmpl}}"
      />
   </table>
</div>