<div attr:class="controls-MonthViewVDOM{{rangeselect ? ' controls-RangeSelectable__rangeselect'}}">
   <div attr:class="controls-MonthViewVDOM__caption" if="{{_options.showCaption}}">
      <div attr:class="controls-MonthViewVDOM__caption-text">{{ _month.strftime(_options.captionFormat) }}</div>
   </div>
   <div attr:class="controls-MonthViewVDOM__table">
      <div if="{{_options.showWeekdays}}" attr:class="controls-MonthViewVDOM__tableRow controls-MonthView__tableHead">
         <div for="day in _days" attr:class="controls-MonthViewVDOM__item">
            {{ day }}
         </div>
      </div>
      <ws:partial
         template="{{_tableBodyTmpl}}"
         scope="{{_options}}"
         monthViewModel="{{_monthViewModel}}"
         _prepareClass="{{_prepareClass}}"
         _dayTmpl="{{_dayTmpl}}"
      />
   </div>
</div>