<div>
    <Controls.List
            name="list"
            markedKey="{{2}}"
            source = "{{_viewSource}}"
            idProperty="id">
    </Controls.List>
    <Controls.Button caption="Удалить" on:click="_removeItem()"/>
</div>