<div>
   <Controls.Filter.Button/>
   <Controls.Filter.FastData name="myDropdownList2"
                   bind:selectedKeys="_selectedKeys2"
                   keyProperty="id"
                   source="{{_getOneList()}}"
                  >
   </Controls.Filter.FastData>
</div>