<div class="row-filter-inline">
   <Controls.Filter.Button/>
   <Controls.Filter.FastData name="FastData"
                             bind:selectedKeys="_selectedKeys3"
                             source="{{_getDefaultMemory()}}">

   </Controls.Filter.FastData>
</div>