.controls-Lookup__link_theme-@{themeName} {
  display: inline-block;
  font-size: @font-size_LookupLink;
  color: @color_LookupLink;
  line-height: @line-height_LookupLink;
}

.controls-Lookup__link-default {
  pointer-events: auto;
  cursor: pointer;
}

.ws-is-hover {
  .controls-Lookup__link-default_theme-@{themeName}:hover {
    color: @color_LookupLink_hovered;
  }
}

.controls-Lookup__link-default_theme-@{themeName}:active {
  color: @color_LookupLink_active;
}

.controls-Lookup__link__text {
  .text-overflow();
}

.controls-Lookup__link__text-default {
  text-decoration: underline;
}
