.controls-Lookup__link_theme-@{themeName} {
  display: inline-block;
  font-size: @label_font-size_lookupInput;
  color: @label_text-color;
}

.controls-Lookup__link-size-default_theme-@{themeName} {
  line-height: @line-height_Lookup-link_default;
}

.controls-Lookup__link-size-m_theme-@{themeName} {
  line-height: @line-height_Lookup-link_default;
}

.controls-Lookup__link-size-xs_theme-@{themeName} {
  line-height: @line-height_Lookup-link_xs;
}

.controls-Lookup__link-size-s_theme-@{themeName} {
  line-height: @line-height_Lookup-link_s;
}

.controls-Lookup__link-size-l_theme-@{themeName} {
  line-height: @line-height_Lookup-link_l;
}

.controls-Lookup__link-size-xl_theme-@{themeName} {
  line-height: @line-height_Lookup-link_xl;
}

.controls-Lookup__link-size-2xl_theme-@{themeName} {
  line-height: @line-height_Lookup-link_2xl;
}

.controls-Lookup__link-default {
  pointer-events: auto;
  cursor: pointer;
}

.ws-is-hover {
  .controls-Lookup__link-default_theme-@{themeName}:hover {
    color: @link_hover_text-color;
  }
}

.controls-Lookup__link-default_theme-@{themeName}:active {
  color: @link_hover_text-color;
}

.controls-Lookup__link__text {
  .text-overflow();
}

.controls-Lookup__link__text-default {
  text-decoration: underline;
}
