.controls-MonthViewVDOM {
   display: inline-block;
   text-align: center;
}

.controls-MonthViewVDOM-old {
   display: flex;
   flex-direction: column;
}

.controls-MonthViewVDOM__table {
   flex-shrink: 1;
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   align-items: stretch;
   width: 100%;
}

.controls-MonthViewVDOM__tableRow {
   min-height: 0;
   flex-grow: 1;
   flex-shrink: 1;
   display: flex;
}

.controls-MonthViewVDOM__tableHead {
   text-align: center;
}

.controls-MonthViewVDOM__item-old {
   position: relative;
   min-width: 0;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   box-sizing: content-box;
}

.controls-MonthViewVDOM__item-old_theme-@{themeName} {
   font-size: @monthview_item_font-size_monthSlider;
   margin-top: @monthview_item_border-thickness_monthSlider;
   margin-left: @monthview_item_border-thickness_monthSlider;
}

.controls-MonthViewVDOM__item {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
}

.controls-MonthViewVDOM__item_theme-@{themeName} {
   font-size: @monthview_item_font-size_monthSlider;
   min-width: @monthview_item_width_monthSlider;
   min-height: @monthview_item_height_monthSlider;
   margin-top: @monthview_item_border-thickness_monthSlider;
   margin-left: @monthview_item_border-thickness_monthSlider;
}

.ws-is-no-touch {
   .controls-MonthViewVDOM__backgroundColor-currentMonthDay-selected_theme-@{themeName},
   .controls-MonthViewVDOM__backgroundColor-currentMonthDay-selected-startend-unfinished_theme-@{themeName},
   .controls-MonthViewVDOM__backgroundColor-otherMonthDay-selected_theme-@{themeName},
   .controls-MonthViewVDOM__backgroundColor-otherMonthDay-selected-startend-unfinished_theme-@{themeName} {
      &:hover {
         background: @monthlist_monthview_item_selected_hover_background-color_datePicker;
      }
   }

   .controls-MonthViewVDOM__backgroundColor-currentMonthDay-selected-hovered_theme-@{themeName},
   .controls-MonthViewVDOM__backgroundColor-currentMonthDay-selected-startend-unfinished-hovered_theme-@{themeName},
   .controls-MonthViewVDOM__backgroundColor-otherMonthDay-selected-hovered_theme-@{themeName},
   .controls-MonthViewVDOM__backgroundColor-otherMonthDay-selected-startend-unfinished-hovered_theme-@{themeName} {
      background: @monthlist_monthview_item_selected_hover_background-color_datePicker;
   }

   .controls-MonthViewVDOM__border-currentMonthDay-unselected_theme-@{themeName} {
      &:hover {
         outline: @monthview_item_border-thickness_monthSlider solid @monthview_item_hover_border-color_monthSlider;
      }
   }

   .controls-MonthViewVDOM__border-hover_theme-@{themeName} {
      outline: @monthview_item_border-thickness_monthSlider solid @monthview_item_hover_border-color_monthSlider;
   }

   .controls-MonthViewVDOM__backgroundColor-currentMonthDay-unselected_theme-@{themeName}:hover,
   .controls-MonthViewVDOM__backgroundColor-otherMonthDay-unselected_theme-@{themeName}:hover {
      background: @monthview_item_hover_background-color_monthSlider;
      border-radius: @monthview_item_hover_border-radius_monthSlider;
   }
}

.controls-MonthViewVDOM__item-selectedStart_theme-@{themeName},
.controls-MonthViewVDOM__item-selectedEnd_theme-@{themeName},
.controls-MonthViewVDOM__item-selectedInner_theme-@{themeName},
.controls-MonthViewVDOM__item-selectedStart-unfinished_theme-@{themeName},
.controls-MonthViewVDOM__item-selectedEnd-unfinished_theme-@{themeName} {
   outline-style: solid;
   outline-width: @monthview_item_border-thickness_monthSlider;
}

.controls-MonthViewVDOM__item-selectedStart_theme-@{themeName},
.controls-MonthViewVDOM__item-selectedEnd_theme-@{themeName},
.controls-MonthViewVDOM__item-selectedStartEnd_theme-@{themeName} {
   font-weight: bold;
}

.controls-MonthViewVDOM__item-selectedStart_theme-@{themeName}:before {
   content: "";
   position: absolute;
   height: 100%;
   top: 0;
   left: -1px;
   z-index: 1;
}

.controls-MonthViewVDOM__item-selectedEnd_theme-@{themeName}:after {
   content: "";
   position: absolute;
   height: 100%;
   top: 0;
   right: -1px;
}

.controls-MonthViewVDOM__item-selectedStartEnd_theme-@{themeName} {
   outline: @yearlist_monthview_selection-border_single_color_datePicker solid @rangeSelection_border_single_thickness_datePicker;
   outline-offset: @yearlist_monthview_selection-border_thickness_datePicker - @rangeSelection_border_single_thickness_datePicker;
   z-index: 1; //При масштабе 150% соседние блоки наезжают на outline
}

.controls-MonthViewVDOM__item-today-background {
   position: absolute;
   z-index: -1;
}

.controls-MonthViewVDOM__item-title {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
   width: 100%;
}

.controls-MonthViewVDOM__cursor-item {
   cursor: pointer;
}

.controls-MonthViewVDOM-old_theme-@{themeName} {
   width: @monthview_width_monthSlider;
   background: @monthview_background-color_monthSlider;
}

.controls-MonthViewVDOM__tableRow-old {
   flex-basis: @monthview_item_height_monthSlider + @monthview_item_border-thickness_monthSlider;
   margin-right: @monthview_item_border-thickness_monthSlider;
}

.controls-MonthViewVDOM__item-today-background_theme-@{themeName} {
   top: @monthview_today_offset_monthSlider;
   bottom: @monthview_today_offset_monthSlider;
   left: @monthview_today_offset_monthSlider;
   right: @monthview_today_offset_monthSlider;
   border-radius: @monthview_today_border-radius_monthSlider;
   background-color: @monthview_today_background-color_monthSlider;
   border: @monthview_today_border-thickness_monthSlider solid @monthview_today_border-color_monthSlider;
}

.controls-MonthViewVDOM__item-selectedStart_theme-@{themeName},
.controls-MonthViewVDOM__item-selectedEnd_theme-@{themeName},
.controls-MonthViewVDOM__item-selectedInner_theme-@{themeName},
.controls-MonthViewVDOM__item-selectedStart-unfinished_theme-@{themeName},
.controls-MonthViewVDOM__item-selectedEnd-unfinished_theme-@{themeName} {
   outline-color: @monthview_item_hover_border-color_monthSlider;
}

.controls-MonthViewVDOM__backgroundColor-currentMonthDay-unselected_theme-@{themeName},
.controls-MonthViewVDOM__backgroundColor-currentMonthDay-unselected-readOnly_theme-@{themeName} {
   background: @monthview_item_background-color_monthSlider;
}

.controls-MonthViewVDOM__backgroundColor-currentMonthDay-selected_theme-@{themeName},
.controls-MonthViewVDOM__backgroundColor-currentMonthDay-selected-readOnly_theme-@{themeName} {
   background: @rangeSelection_item_background-color_datePicker;
}

.controls-MonthViewVDOM__backgroundColor-currentMonthDay-selected-startend-unfinished_theme-@{themeName},
.controls-MonthViewVDOM__backgroundColor-currentMonthDay-selected-startend-unfinished-readOnly_theme-@{themeName} {
   background: @rangeSelection_item_hover_background-color_datePicker;
}

.controls-MonthViewVDOM__item-selectedEnd_theme-@{themeName}:after,
.controls-MonthViewVDOM__item-selectedStart_theme-@{themeName}:before {
   width: @rangeSelection_border_thickness_datePicker;
   background-color: @rangeSelection_border_color_datePicker;
}

.controls-MonthViewVDOM__textColor-currentMonthDay-workday_theme-@{themeName} {
   color: @monthview_item_text-color_monthSlider;
}

.controls-MonthViewVDOM__textColor-currentMonthDay-weekend_theme-@{themeName} {
   color: @monthview_weekend_text-color_monthSlider;
}

.controls-MonthViewVDOM__backgroundColor-otherMonthDay-selected_theme-@{themeName},
.controls-MonthViewVDOM__backgroundColor-otherMonthDay-selected-readOnly_theme-@{themeName},
.controls-MonthViewVDOM__backgroundColor-otherMonthDay-unselected_theme-@{themeName},
.controls-MonthViewVDOM__backgroundColor-otherMonthDay-unselected-readOnly_theme-@{themeName} {
   color: @monthview_otherday_text-color_monthSlider;
}

.controls-MonthViewVDOM__today_theme-@{themeName} {
   color: @monthview_today_text-color_monthSlider;
   // Изолируем контекст наложения. Раньше стоял z-index: 0;. Но если в windows учтановить масшатб 150%,
   // то контекст не изолируется.
   transform: translateY(0);
}
