.controls-RadioButton {
   cursor: pointer;
   display: inline-block;
   height: @radio-button-height;
   line-height: @radio-button-lineheight;

   .controls-RadioButton__caption {
      display: inline-block;
      margin: @radio-button-text-margin;
      color: @radio-button-text-color;
      & when not (@radio-button-text-font-size = 0) {
         font-size: @radio-button-text-font-size;
      }
   }

   .controls-RadioButton__icon {
      display: inline-block;
      float: left;
      line-height: @radio-button-icon-line-height;
      width: @radio-button-icon-width;
      height: @radio-button-icon-height;
      background: @radio-button-icon-bg;
      margin: @radio-button-icon-margin;
      box-sizing: border-box;
      border-style: solid;
      border-color: @radio-button-icon-border-color;
      border-width: @radio-button-icon-border-width;
      border-radius: @radio-button-icon-border-radius;
      &:before {
         width: @radio-button-dot-size;
         height: @radio-button-dot-size;
         background: @radio-button-dot-color;
         margin: @radio-button-dot-margin;
         border-radius: @radio-button-dot-radius;
      }
   }

   &:hover {
      &:not(.controls-Checked__checked) .controls-RadioButton__caption {
         color: @radio-button-hover-text-color;
         text-decoration: @radio-button-hover-text-decoration;
      }
      .controls-RadioButton__icon {
         border-color: @radio-button-hover-icon-border-color;
      }
   }

   &.controls-Checked__checked {
      .controls-RadioButton__caption {
         color: @radio-button-checked-text-color;
         text-decoration: none;
      }

      .controls-RadioButton__icon {
         border-color: @radio-button-icon-border-color-checked;
         &:before {
            content: '';
            display: block;
         }
      }

      &:hover:not(.controls-Checked__checked) {
         .controls-RadioButton__caption {
            color: @radio-button-checked-hover-text-color;
         }

         .controls-RadioButton__icon {
            border-color: @radio-button-icon-border-color-checked;
         }
      }
   }

   &.ws-disabled {
      cursor: text;
      .controls-RadioButton__caption {
         color: @radio-button-disabled-text-color;
         text-decoration: none;
      }

      .controls-RadioButton__icon {
         border-color: @radio-button-icon-border-color-disabled;

      }
      &.controls-Checked__checked {
         .controls-RadioButton__icon {
            border-color: @radio-button-icon-border-color-disabled;
            &:before {
               background: @radio-button-icon-border-color-disabled;
            }
         }
         &:hover {
            .controls-RadioButton__caption {
               color: @radio-button-disabled-hover-text-color;
            }
         }
      }

      &:hover {
         &:not(.controls-Checked__checked)  .controls-RadioButton__caption {
            color: @radio-button-disabled-hover-text-color;
            text-decoration: none;
         }

         .controls-RadioButton__icon {
            border-color: @radio-button-icon-border-color-disabled;
         }
      }
   }
}