<div class="controls-PasswordTextBox controls-TextBox">
	<div class="controls-TextBox__fieldWrapper">
		<input
			class="js-controls-TextBox__field controls-TextBox__field"
			type="password"
			value="{{text}}"
			placeholder="{{placeholder"}}
			maxlength="{{maxLength ? maxLength}}"
		/>
	</div>
</div>