.controls-RadioGroup {
  .controls-ListView__item {
    display: inline-block;
    margin: @radio-group-horizontal-item-margin;
  }

  &.controls-ButtonGroup__vertical {
    .controls-ListView__item {
      display: block;
      margin: @radio-group-vertical-item-margin;
    }
  }
}