.controls-RadioGroup {
  .controls-ListView__item {
    display: inline-block;
    margin: @radio-group-horizontal-item-margin;
  }

  &.controls-ButtonGroup__vertical {
    .controls-ListView__item {
      display: block;
      height: auto;
      margin: @button-group-vertical-item-margin;
      padding-left: @radio-button-icon-width + 12px;
       .controls-RadioButton__icon{
         margin-left: -16px;
       }
    }
  }
}