/*group*/
/*ширина кнопки закрытия окна 36px + 2px на небольшой отступ между кнопкой сохранить (в ie8 нет скруглений и кнопки склеиваются)*/
/*ширина кнопки закрытия окна 36px + 90px ширина кнопки сохранить + 2px на небольшой отступ между ними */
.controls-DataGridView__td .controls-TreeView__expand--inside {
  display: none;
  line-height: 13px !important;
}
.controls-DataGridView__td .controls-TreeView__folderTitle {
  overflow: hidden;
}
.controls-DataGridView__td .controls-TreeView__ellipsis-wrapper .controls-TreeView__folderTitle {
  display: inline-block;
}
.controls-DataGridView__td .controls-TreeView__hierWrapper {
  height: 100%;
  width: 16px;
  display: inline-block;
  float: left;
}
.controls-DataGridView__td .controls-TreeView__editArrow {
  display: inline-block;
  visibility: hidden;
  position: relative;
  top: 2px;
  vertical-align: top;
}
.controls-DataGridView__td:hover .controls-TreeView__expand--inside {
  display: inline-block;
  height: 14px;
}
.controls-DataGridView__td.controls-DataGridView-cell-overflow-ellipsis .controls-TreeView__columnValue,
.controls-DataGridView__td.controls-DataGridView-cell-overflow-ellipsis .controls-TreeView__folderTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.controls-DataGridView__td.controls-DataGridView-cell-overflow-ellipsis .controls-TreeView__columnValue > *,
.controls-DataGridView__td.controls-DataGridView-cell-overflow-ellipsis .controls-TreeView__folderTitle > * {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.controls-TreeDataGridView .controls-DataGridView__firstContentCell > .controls-TreeView__folderTitle,
.controls-TreeDataGridView .controls-DataGridView__firstContentCell > .controls-DataGridView__columnValue {
  margin-left: 18px;
}
.controls-TreeDataGridView.controls-ListView__multiselect__off .controls-DataGridView__table .controls-DataGridView__tbody .controls-DataGridView__td.controls-DataGridView__firstContentCell {
  padding-left: 6px;
}
.controls-TreeDataGridView__hideExpandsOnHiddenNodes .controls-ListView__item-type-hidden .controls-TreeView__expand {
  visibility: hidden;
}
.controls-CompositeView-table.controls-TreeView-big .controls-ListView__item-type-node {
  font-size: 16px;
}
.controls-CompositeView-table.controls-TreeView-big .controls-ListView__item-type-leaf {
  font-size: 15px;
}
.controls-ListView__item-type-node {
  font-size: 15px;
}
.controls-ListView__item-type-node.controls-ListView__item__selected .controls-DataGridView__td .controls-TreeView__ellipsis-copyArrow {
  background-color: #fff;
  -webkit-box-shadow: -10px 0 10px 0 #fff;
  -moz-box-shadow: -10px 0 10px 0 #fff;
  box-shadow: -10px 0 10px 0 #fff;
}
.controls-ListView__item-type-node.controls-ListView__item__multiSelected .controls-DataGridView__td .controls-TreeView__ellipsis-copyArrow {
  background-color: #F3F3F3;
  -webkit-box-shadow: -10px 0 10px 0 #F3F3F3;
  -moz-box-shadow: -10px 0 10px 0 #F3F3F3;
  box-shadow: -10px 0 10px 0 #F3F3F3;
}
.controls-ListView__item-type-node.controls-ListView__hoveredItem .controls-DataGridView__td .controls-TreeView__ellipsis-copyArrow {
  background-color: #F0F5FB;
  -webkit-box-shadow: -10px 0 10px 0 #F0F5FB;
  -moz-box-shadow: -10px 0 10px 0 #F0F5FB;
  box-shadow: -10px 0 10px 0 #F0F5FB;
}
.controls-ListView__item-type-node .controls-TreeView__ellipsis-wrapper {
  overflow: hidden;
  height: 20px;
}
.controls-ListView__item-type-node .controls-TreeView__ellipsis-wrapper .controls-TreeView__ellipsis-container {
  float: left;
  height: 20px;
}
.controls-ListView__item-type-node .controls-TreeView__ellipsis-wrapper .controls-TreeView__ellipsis-copyArrow {
  float: right;
  position: relative;
  top: -20px;
  padding: 0 0 0 3px;
  background-color: #fff;
  -webkit-box-shadow: -10px 0 10px 0 #fff;
  -moz-box-shadow: -10px 0 10px 0 #fff;
  box-shadow: -10px 0 10px 0 #fff;
}
.controls-ListView__item-type-node .controls-TreeView__ellipsis-wrapper .controls-TreeView__ellipsis-copyArrow .controls-TreeView__editArrow {
  width: 16px;
  display: inline-block;
}
.controls-GridView__searchMode .controls-TreeView__hierWrapper {
  width: 0;
}
.controls-TreeView__folderFooterContainer {
  overflow: hidden;
}
.controls-TreeView__folderFooterContainer .controls-TreeDataGridView__folderFooterTmpl {
  display: inline-block;
  float: left;
}
.controls-ListView__hoveredItem .controls-TreeView__editArrow {
  visibility: visible;
}
.controls-TreeView__expand__leaf + .controls-DataGridView__columnValue {
  margin-left: 16px;
}
.controls-TreeDataGridView__withPhoto .controls-ListView__item.controls-ListView__item-type-leaf .controls-TreeView__expand {
  display: none;
}
.controls-TreeDataGridView__withPhoto .controls-ListView__item.controls-ListView__item-type-leaf .controls-DataGridView__columnValue {
  margin-left: 0;
}
.controls-TreeDataGridView__withPhoto .controls-ListView__item.controls-ListView__item-type-node .controls-TreeView__expand {
  margin: 0 16px 0 12px;
}
.controls-TreeView__editArrow-container {
  position: absolute;
  z-index: 1;
}
.controls-TreeView__searchBreadCrumbs {
  width: 100%;
  line-height: normal;
}
.controls-ListView__hideCheckBoxes-leaf .controls-ListView__item-type-leaf .controls-ListView__itemCheckBox {
  display: none;
}
.controls-ListView__hideCheckBoxes-node .controls-ListView__item-type-node .controls-ListView__itemCheckBox {
  display: none;
}
