.copyArrowGradient() {
   content: '';
   width: @tree-view-ellipsis-copyArrow-width;
   left: -@tree-view-ellipsis-copyArrow-width;
   top: 0;
   bottom: 0;
   position: absolute;
   background-color: transparent;
}

.controls-DataGridView__td {
   .controls-TreeView__expand--inside {
      display: none;
      line-height: 13px !important;
   }

   .controls-TreeView__folderTitle {
      overflow: hidden;
   }

   .controls-TreeView__ellipsis-wrapper {
      .controls-TreeView__folderTitle {
         display: @tree-view-folder-title-display;
      }
   }

   .controls-TreeView__hierWrapper {
      height: @tree-view-hier-wrapper-height;
      width: @tree-view-hier-wrapper-width;
      display: inline-block;
      float: left;
   }

  .controls-TreeView__editArrow{
    display: inline-block;
    visibility: hidden;
    position: @tree-view-editArrow-position;
    top: @tree-view-editArrow-top;
    vertical-align: @tree-view-editArrow-align;
  }
  &:hover {
    .controls-TreeView__expand--inside {
      display: inline-block;
      height: 14px;
    }
  }

   &.controls-DataGridView-cell-overflow-ellipsis {
      .controls-TreeView__columnValue, .controls-TreeView__folderTitle {
         overflow: hidden;
         text-overflow: ellipsis;
         white-space: nowrap;

         > * {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
         }
      }
   }
}
.controls-TreeDataGridView {
   .controls-DataGridView__firstContentCell {
      > .controls-TreeView__folderTitle, > .controls-DataGridView__columnValue {
         margin-left: 18px;
      }
   }
   &.controls-ListView__multiselect__off {
      .controls-DataGridView__table {
         .controls-DataGridView__tbody {
            .controls-DataGridView__td {
               &.controls-DataGridView__firstContentCell {
                  padding-left: @tree-view-first-td-padding-left;
               }
            }
         }
      }
   }
}
.controls-TreeDataGridView__hideExpandsOnHiddenNodes {
  .controls-ListView__item-type-hidden {
    .controls-TreeView__expand {
      visibility: hidden;
    }
  }
}
.controls-CompositeView-table.controls-TreeView-big {
   .controls-ListView__item-type-node{
      font-size: @tree-view-big-node-font-size;
   }
   .controls-ListView__item-type-leaf{
      font-size: @tree-view-big-leaf-font-size;
   }
}
.controls-ListView__item-type-node {
   font-size: @font-folder-size;

   &.controls-ListView__item__selected {
      .controls-DataGridView__td {
         .controls-TreeView__ellipsis-copyArrow {
            background-color: @white-color;

            &:after {
               .horizontal-gradient(@white-color, rgba(255, 255, 255, 0), right);
               .copyArrowGradient();
            }
         }
      }
   }

   &.controls-ListView__hoveredItem {
      .controls-DataGridView__td {
         .controls-TreeView__ellipsis-copyArrow {
            background-color: @data-grid-row-hover-bg;

            &:after {
               .horizontal-gradient(@data-grid-row-hover-bg, rgba(255, 255, 255, 0), right);
               .copyArrowGradient();
            }
         }
      }
   }

   .controls-TreeView__ellipsis-wrapper {
      overflow: hidden;
      height: @tree-view-ellipsis-wrapper-height;

      .controls-TreeView__ellipsis-container {
         float: left;
         height: @tree-view-ellipsis-wrapper-height;
      }

      .controls-TreeView__ellipsis-copyArrow {
         float: right;
         position: relative;
         top: -@tree-view-ellipsis-wrapper-height;
         right: @tree-view-ellipsis-copyArrow-right;
         padding: @tree-view-ellipsis-copyArrow-padding;
         background-color: @tree-view-copy-arrow-background;

         &:after {
            .horizontal-gradient(@tree-view-copy-arrow-background, rgba(255, 255, 255, 0), right);
            .copyArrowGradient();
         }

         .controls-TreeView__editArrow {
            width: @tree-view-ellipsis-copyArrow-width;
            display: inline-block;
         }
      }
   }
}
.controls-GridView__searchMode{
   .controls-TreeView__hierWrapper{
      width: 0;
   }
   &.controls-TreeDataGridView {
      .controls-TreeView__expand {
         display: none;
      }
      .controls-DataGridView__firstContentCell > .controls-DataGridView__columnValue {
         margin-left: @tree-view-firstCell-margin-searchMode;
      }
   }

   &.controls-ListView__multiselect__off {
      .controls-TreeView__searchBreadCrumbs {
         margin-left: @tree-view-firstCell-margin-searchMode;
      }
   }
}
.controls-TreeView__folderFooterContainer {
   overflow: hidden;

   .controls-TreeDataGridView__folderFooterTmpl {
      display: inline-block;
      float: left;
   }
}

.controls-ListView__hoveredItem{
   .controls-TreeView__editArrow {
      visibility: visible;
   }
}

.controls-TreeView__expand__leaf + .controls-DataGridView__columnValue {
   margin-left: @tree-view-value-left-margin;
}

.controls-TreeDataGridView__withPhoto{
   .controls-ListView__item {
      &.controls-ListView__item-type-leaf{
         .controls-TreeView__expand{
            display: none;
         }
         .controls-DataGridView__columnValue {
            margin-left: 0;
         }
      }
      &.controls-ListView__item-type-node{
         .controls-TreeView__expand{
            margin: 0 16px 0 12px;
         }
      }
   }
}

.controls-TreeView__editArrow-container {
   position: absolute;
   z-index: 1;
}
.controls-TreeView__searchBreadCrumbs {
   width: 100%;
   line-height: normal;
}

.controls-ListView__hideCheckBoxes-leaf {
   .controls-ListView__item-type-leaf {
      .controls-ListView__itemCheckBox {
         display: none;
      }
   }
}

.controls-ListView__hideCheckBoxes-node {
   .controls-ListView__item-type-node {
      .controls-ListView__itemCheckBox {
         display: none;
      }
   }
}