<div class="controls-LongOperationsList__user">
   <ws:if data="{{item.get('hasUserPersonInfo')}}">
      <ws:partial template="optional!tmpl!Person/Info"
         className="controls-LongOperationsList__user__photo"
         dataItem="{{item.get('userPersonInfo')}}"
         size="{{40}}"
         miniCardShowMode="hoverClick"
      />
   </ws:if>
   <ws:else data="{{item.get('hasUserInfo')}}">
      <ws:if data="{{item.get('userPic')}}">
         <img class="controls-LongOperationsList__user_image" src="{{item.get('userPic')}}" />
      </ws:if>
      <span class="controls-LongOperationsList__user_userNameContainer">{{item.get('userFullName')}}</span>
   </ws:else>
   <ws:else>
      <span class="controls-LongOperationsList__user__org">{{item.get('clientName')}}</span>
   </ws:else>
</div>
