<div>
    <style>
        .themeSwitcher {
            display: none !important;
        }
    </style>
    <Controls.BreadCrumbsController items="{{items}}"
                                    on:itemClick="_onItemClick()" />
</div>