/*group*/
/*ширина кнопки закрытия окна 36px + 2px на небольшой отступ между кнопкой сохранить (в ie8 нет скруглений и кнопки склеиваются)*/
/*ширина кнопки закрытия окна 36px + 90px ширина кнопки сохранить + 2px на небольшой отступ между ними */
.controls-IconButton {
  cursor: pointer;
  vertical-align: middle;
}
.controls-IconButton.controls-Click__active.icon-primary {
  color: #313E78 !important;
}
.controls-IconButton.controls-Click__active.icon-primary.controls-IconButton__round-border,
.controls-IconButton.controls-Click__active.icon-primary.controls-IconButton__round-border-24,
.controls-IconButton.controls-Click__active.icon-primary.controls-IconButton__round-border-32 {
  border-color: green;
  color: green !important;
}
.controls-IconButton.controls-Click__active.controls-IconButton__errorBorder {
  border-color: #EF463A;
  color: #EF463A !important;
}
.controls-IconButton.controls-Click__active.controls-IconButton__doneBorder {
  border-color: #72BE44;
  color: #72BE44 !important;
}
.controls-IconButton.controls-Button {
  padding: 0;
  cursor: pointer;
}
.controls-IconButton.controls-IconButton__doneBorder {
  color: #72BE44 !important;
}
.controls-IconButton.controls-IconButton__errorBorder {
  color: #EF463A !important;
}
.controls-IconButton.controls-IconButton__round-border {
  border: 1px solid #CCC;
  border-radius: 14px;
  text-align: center;
  box-sizing: border-box;
  height: 28px;
  width: 28px;
  line-height: 26px!important;
}
.controls-IconButton.controls-IconButton__round-border.ws-disabled {
  border-color: #CCC;
  color: #CCC !important;
}
.controls-IconButton.controls-IconButton__round-border-24 {
  border: 1px solid #CCC;
  border-radius: 14px;
  text-align: center;
  box-sizing: border-box;
  height: 24px !important;
  width: 24px !important;
  line-height: 24px !important;
}
.controls-IconButton.controls-IconButton__round-border-24.ws-disabled {
  border-color: #CCC;
  color: #CCC !important;
}
.controls-IconButton.controls-IconButton__round-border-24.icon-16 {
  box-sizing: content-box;
  height: 22px !important;
  width: 22px !important;
  line-height: 22px !important;
}
.controls-IconButton.controls-IconButton__round-border-32 {
  border: 1px solid #CCC;
  border-radius: 14px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 20px;
  height: 38px !important;
  width: 38px !important;
  line-height: 38px !important;
}
.controls-IconButton.controls-IconButton__round-border-32.ws-disabled {
  border-color: #CCC;
  color: #CCC !important;
}
.controls-IconButton.ws-disabled {
  cursor: default;
  color: #CCC !important;
}
.controls-IconButton.ws-area {
  height: auto;
}
.controls-IconButton.controls-IconButton__filter-left-open,
.controls-IconButton.controls-IconButton__filter-left-close,
.controls-IconButton.controls-IconButton__filter-right-open,
.controls-IconButton.controls-IconButton__filter-right-close {
  height: 24px;
  width: 35px;
  cursor: pointer;
  display: inline-block;
}
.controls-IconButton.controls-IconButton__filter-left-close {
  background: url('../../../themes/online/img/FilterPanelButton.png') -35px 0;
}
.controls-IconButton.controls-IconButton__filter-left-close:hover {
  background: url('../../../themes/online/img/FilterPanelButton.png') -35px 24px;
}
.controls-IconButton.controls-IconButton__filter-right-close {
  background: url('../../../themes/online/img/FilterPanelButton.png') 0 0;
}
.controls-IconButton.controls-IconButton__filter-right-close:hover {
  background: url('../../../themes/online/img/FilterPanelButton.png') 0 24px;
}
.controls-IconButton.controls-IconButton__filter-left-open {
  background: url('../../../themes/online/img/FilterPanelButton.png') -105px 0;
}
.controls-IconButton.controls-IconButton__filter-left-open:hover {
  background: url('../../../themes/online/img/FilterPanelButton.png') -105px -24px;
}
.controls-IconButton.controls-IconButton__filter-right-open {
  background: url('../../../themes/online/img/FilterPanelButton.png') -70px 0;
}
.controls-IconButton.controls-IconButton__filter-right-open:hover {
  background: url('../../../themes/online/img/FilterPanelButton.png') -70px -24px;
}
.ws-is-desktop-platform .controls-IconButton:not(.ws-disabled):not(.controls-Click__active):hover.icon-primary {
  color: #313E78 !important;
}
.ws-is-desktop-platform .controls-IconButton:not(.ws-disabled):not(.controls-Click__active).controls-IconButton__round-border:hover,
.ws-is-desktop-platform .controls-IconButton:not(.ws-disabled):not(.controls-Click__active).controls-IconButton__round-border-24:hover,
.ws-is-desktop-platform .controls-IconButton:not(.ws-disabled):not(.controls-Click__active).controls-IconButton__round-border-32:hover {
  border-color: green;
  color: green !important;
}
.ws-is-desktop-platform .controls-IconButton:not(.ws-disabled):not(.controls-Click__active).controls-IconButton__round-border:hover.controls-IconButton__errorBorder,
.ws-is-desktop-platform .controls-IconButton:not(.ws-disabled):not(.controls-Click__active).controls-IconButton__round-border-24:hover.controls-IconButton__errorBorder,
.ws-is-desktop-platform .controls-IconButton:not(.ws-disabled):not(.controls-Click__active).controls-IconButton__round-border-32:hover.controls-IconButton__errorBorder {
  border-color: #EF463A;
  color: #EF463A !important;
}
.ws-is-desktop-platform .controls-IconButton:not(.ws-disabled):not(.controls-Click__active).controls-IconButton__round-border:hover.controls-IconButton__errorBorder.ws-disabled,
.ws-is-desktop-platform .controls-IconButton:not(.ws-disabled):not(.controls-Click__active).controls-IconButton__round-border-24:hover.controls-IconButton__errorBorder.ws-disabled,
.ws-is-desktop-platform .controls-IconButton:not(.ws-disabled):not(.controls-Click__active).controls-IconButton__round-border-32:hover.controls-IconButton__errorBorder.ws-disabled {
  border-color: #CCC;
  color: #CCC !important;
}
.ws-is-desktop-platform .controls-IconButton:not(.ws-disabled):not(.controls-Click__active).controls-IconButton__round-border:hover.controls-IconButton__doneBorder,
.ws-is-desktop-platform .controls-IconButton:not(.ws-disabled):not(.controls-Click__active).controls-IconButton__round-border-24:hover.controls-IconButton__doneBorder,
.ws-is-desktop-platform .controls-IconButton:not(.ws-disabled):not(.controls-Click__active).controls-IconButton__round-border-32:hover.controls-IconButton__doneBorder {
  border-color: #72BE44;
  color: #72BE44 !important;
}
.ws-is-desktop-platform .controls-IconButton:not(.ws-disabled):not(.controls-Click__active).controls-IconButton__round-border:hover.controls-IconButton__doneBorder.ws-disabled,
.ws-is-desktop-platform .controls-IconButton:not(.ws-disabled):not(.controls-Click__active).controls-IconButton__round-border-24:hover.controls-IconButton__doneBorder.ws-disabled,
.ws-is-desktop-platform .controls-IconButton:not(.ws-disabled):not(.controls-Click__active).controls-IconButton__round-border-32:hover.controls-IconButton__doneBorder.ws-disabled {
  border-color: #CCC;
  color: #CCC !important;
}
.controls-Menu .controls-Menu__header {
  position: relative;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  background-color: #F4F4F4;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.controls-Menu .controls-Menu__header .controls-Menu-headWrapper {
  display: flex;
  align-items: center;
}
.controls-Menu .controls-Menu__header .controls-Menu__header-caption {
  color: #313E78;
  flex-shrink: 0;
}
.controls-Menu .controls-Menu__header .controls-Menu__header-icon {
  position: relative;
}
.controls-Menu .controls-Menu__header .controls-Menu__header-icon.icon-primary {
  color: #313E78 !important;
}
.controls-Menu .controls-Menu__header .controls-Menu__header-icon + .controls-Menu__header-caption {
  padding-left: 0;
}
.controls-Menu .controls-Menu__header {
  height: 32px;
}
.controls-Menu.controls-Menu__hide-menu-header {
  margin: -8px 0 0 -13px;
}
.controls-Menu.controls-Menu__hide-menu-header .controls-Menu__header {
  display: none;
}
.controls-Menu.controls-Menu__hide-menu-header.controls-IconButton__round-border-24 {
  margin: -7px 0 0 -7px !important;
}
.controls-Menu.controls-Menu__hide-menu-header.controls-IconButton__round-border-24 .controls-ListView__item:first-child .controls-MenuItem__icon {
  border: 1px solid #CCC;
  border-radius: 14px;
  text-align: center;
  box-sizing: border-box;
  height: 24px !important;
  width: 24px !important;
  line-height: 22px !important;
  top: 2px;
  left: -6px;
}
.controls-Menu.controls-Menu__hide-menu-header.controls-IconButton__round-border-24 .controls-ListView__item:first-child .controls-MenuItem__icon.ws-disabled {
  border-color: #CCC;
  color: #CCC !important;
}
.ws-is-firefox .controls-Menu .controls-Menu__header .icon-24 {
  top: -1px;
  position: relative;
}
.ws-is-ie8 .controls-Menu .controls-Menu__header .controls-Menu__header-caption,
.ws-is-ie9 .controls-Menu .controls-Menu__header .controls-Menu__header-caption {
  vertical-align: top;
  position: relative;
  top: -1px;
}
