.controls-Menu {
   .controls-Menu__header {
      position: relative;
      cursor: pointer;
      font-size: @font-popup-size;
      .controls-Menu__header-caption {
         color: @primary-color;
         vertical-align: middle;
         position: relative;
         top: 1px;
         display: table-cell;
         padding: 0 16px 0 8px;
      }
      .controls-Menu__header-icon {
         color: @primary-color !important;
         display: table-cell;
         vertical-align: middle;
         padding-left: 8px;
         width: 1px;
      }
      .controls-Menu__header-icon + .controls-Menu__header-caption{
         padding-left: 0;
      }
   }
   .controls-Menu__header {
      height: @menu-header-height;
   }
   &.controls-Menu__hide-menu-header {
      .controls-Menu__header {
         display: none;
      }
   }
}
