<span class="controls-ProcessStateIndicator">
    <ws:for data="i in numSectors">
        <span 
                class="{{ colorState[i] ? colorState[i].color : 'controls-ProcessStateIndicator__emptySector' }}" 
                data-item="{{ colorState[i] ? colorState[i].item : -1 }}"
        ></span>
    </ws:for>
</span>