<table class="ws-register-table">
    <thead>
        <th>Заголовок</th>
        <th>Инфо</th>
    </thead>
    <tbody>
    <ws:for data="item in items">
        <tr>
            <td>{{item.title}}</td>
            <td>{{item.info}}</td>
        </tr>
    </ws:for>
    </tbody>
</table>
