<div class="controls-TabButton controls-TabButton__{{align}}-align{{checked ? ' controls-Checked__checked'}}">
   <div class="controls-TabButton__inner">
      <div>
         <span class="controls-TabButton__icon"></span>
         <span class="controls-TabButton__caption">{{caption|sanitize}}</span>
      </div>
   </div>
   <div class="controls-tabButton__overlay"></div>
   <div class="controls-TabButton__bottomLine"></div>
</div>