<Controls-demo.Wrapper.Wrapper title="Area">
   <ws:componentClass>
      <Controls.Popup.Opener.InfoBox name="infoBoxArea"/>
      <Controls.Input.Area
         attr:id="main_field"
         bind:value="_text1"
         name="textArea"
         placeholder="{{_placeholder}}"
         constraint="{{_constraint}}"
         trim="{{_trim}}"
         maxLength="{{_maxLength}}"
         minLines="{{_minLines}}"
         maxLines="{{_maxLines}}"
         tagStyle="{{_tagStyle}}"
         readOnly="{{_readOnly}}"
         selectOnClick="{{_selectOnClick}}"
         validationErrors="{{_validationErrors}}"
         on:valueChanged="_eventHandler()"
         on:inputCompleted="_eventHandler()"
         attr:class="demo-TextBox"
         on:tagHover="_tagStyleHandler()"
         on:tagClick="_tagStyleClickHandler()"
      />
   </ws:componentClass>
   <ws:componentProperty>
      <Controls.Label name="myLabel1" caption="placeholder"/>
      <Controls.Input.Text attr:id="placeholder" bind:value="_placeholder" attr:class="demo-TextBox"/>
      <Controls.Label name="myLabel1" caption="tagStyle"/>
      <Controls-demo.Input.resources.TagStyle attr:id="tagStyle" bind:tagStyleValue="_tagStyle" attr:class="demo-TextBox"/>
      <Controls.Label name="myLabel1" caption="constraint"/>
      <Controls-demo.Input.resources.SuggestTwoLines attr:id="constraint" bind:suggestValue="_constraint" source="{{_items}}"
                                      attr:class="demo-TextBox"/>
      <Controls.Label name="myLabel1" caption="maxLength"/>
      <Controls.Input.Text attr:id="maxLength" bind:value="_maxLength" attr:class="demo-TextBox"/>
      <Controls.Label name="myLabel1" caption="minLines"/>
      <Controls.Input.Number attr:id="minLines" bind:value="_minLines" precision="{{0}}" attr:class="demo-TextBox"/>
      <Controls.Label name="myLabel1" caption="maxLines"/>
      <Controls.Input.Number attr:id="maxLines" bind:value="_maxLines" precision="{{0}}" attr:class="demo-TextBox"/>
      <div>
         <Controls.Toggle.Checkbox attr:id="trim" readOnly="{{false}}" bind:value="_trim" caption="trim"/>
         <Controls-demo.PropertyGrid.PropertyGrid attr:id="propertyGrid" bind:selectOnClickValue="_selectOnClick"
                                      bind:readOnlyValue="_readOnly"
                                      on:validationErrorsValueChanged="_validationChangedHandler()"
                                      bind:validationErrorsValue="_validationErrorsValue"/>
      </div>
   </ws:componentProperty>
</Controls-demo.Wrapper.Wrapper>