.controls-Notification {
  border-style: solid;
  border-width: @controls-InformationPopup-border-width;
  box-shadow: @box-shadow_NotificationBase;
  position: relative;
  min-height: @min-height_NotificationBase;
  min-width: @min-width_NotificationBase;
}

.controls-Notification__error {
  border-color: @controls-InformationPopup-error-status-border-color;
}

.controls-Notification__primary {
  border-color: @controls-InformationPopup-default-status-border-color;
}

.controls-Notification__done {
  border-color: @controls-InformationPopup-success-status-border-color;
}

.controls-Notification__warning {
  border-color: @controls-InformationPopup-warning-status-border-color;
}

.controls-Notification__content {
  padding: @padding_NotificationBase-content;
}

.controls-Notification__closeButton {
  position: absolute;
  top: @topIndent_NotificationBase-closeButton;
  right: @rightIndent_NotificationBase-closeButton;
  cursor: pointer;
  &:hover {
    color: @color_NotificationBase-closeButton_hover;
  }
}

.controls-Notification__simpleTemplate {
  display: flex;
  align-items: center;
}

.controls-Notification__simpleTemplate-icon {
  margin-right: @margin-right_NotificationBase-simpleTemplate-icon;
}

.controls-Notification__simpleTemplate-message {
  font-size: @font-size_NotificationBase-simpleTemplate-message;
}
