<div class="controls-Notification controls-Notification__{{_options.style}}">
    <div class="controls-Notification__content">
        <ws:if data="{{_options.contentTemplate}}">
            <ws:partial template="{{_options.contentTemplate}}"></ws:partial>
        </ws:if>
    </div>
    <ws:if data="{{_options.iconClose}}">
        <div class="controls-Notification__closeButton icon-24 icon-Close icon-disabled"
             on:click="_closeClick()">
        </div>
    </ws:if>
</div>
