.controls-ProgressBar {
   background-color: @color-ProgressBar__bar;
}

.controls-ProgressBar__filled {
   height: @height-ProgressBar_bar;
   background-color: @color-ProgressBar__progress;
   max-width: 100%;
   transition: width 0.2s;
}