<div class="controls__filterButton__filterLine controls__filterButton__filterLine-table">
    <div class="controls__filterButton__filterLine-items" data-bind="attr : {title : 'titleText'}">
        <i class="controls__filterButton__filterLine-arrow icon-size icon-DayForward ws-hidden" data-bind="{visible: 'filterChanged'}"></i>
        <span class="controls__filterButton__filterLine-text" data-bind="{html: 'linkText'}"></span>
    </div>
    <SBIS3.CONTROLS.Button.IconButton
        cssClassName="controls__filterButton__filterLine-cross"
        visible="{{ 'filterChanged'|bind:false }}"
        icon="icon-size icon-Close icon-disabled controls__filterButton__filterLine__cross__icon"
        command="reset-filter"
        tooltip="{[Очистить фильтр]}">
        <ws:commandArgs>
            <ws:Array>
                <ws:Boolean>true</ws:Boolean>
            </ws:Array>
        </ws:commandArgs>
    </SBIS3.CONTROLS.Button.IconButton>
</div>