//TODO: взять волю в кулак и переделать на коэффициенты
.controls-Slider {
   padding: 8px 6px 0 6px;
   &.controls-Slider__big {
      padding: 8px 10px 0 10px;
   }
   &__withBorder {

      .controls-Slider__wrapper {
         border: 1px solid #E4E4E4;
         border-radius: 14px;
         padding: 0 12px;
      }
   }

   &__mainSlider {
      position: relative;
      height: 12px;
      padding: 6px 0;

      &.controls-Slider__big {
         height: 20px;
         padding: 2px 0;

         .controls-Slider__point{
            width: 16px;
            height: 16px;
            margin-left: -10px;
            border-radius:  10px;
         }

         .controls-Slider__line {
            margin-top: 9px;
         }
         .controls-Slider__line__wrapper {
            height: 20px;
         }
      }
   }

   &__point {
      position:absolute;
      cursor: pointer;
      display: inline-block;
      width: 8px;
      height: 8px;
      margin-left: -6px;
      border: 2px solid #587AB0;
      border-radius:  6px;
      background-color: white;
      z-index: 2;

      &__start {
         left: 0%;
      }

      &__end {
         left: 100%;
      }

      &.lastActivePoint{
         z-index: 3;
      }
      &:hover {
         background-color: #F0F5FB;
         border-color: #587AB0;
      }
   }

   &__line {
      position:absolute;
      display: inline-block;
      height: 2px;
      width: 100%;
      margin-top: 5px;

      &__empty {
         background-color: #999999;
      }

      &__full {
         z-index: 1;
         background-color: #587AB0;
      }
      &__wrapper {
         cursor: pointer;
         position: absolute;
         height: 12px;
         width: 100%;
      }
   }

   &__labels {
      position: relative;
      min-height: 14px;
      color:#999999;
      padding-top: 3px;
   }

   &__label {
      position: absolute;
      display: inline-block;

      &__start {
         left: 0;
      }

      &__end {
         right: 0;
      }
   }

   &.ws-disabled {
      .controls-Slider__point {
         border: 2px solid #cccccc;
         cursor: auto;
      }
      .controls-Slider__line__full, .controls-Slider__line__empty {
         background-color: #cccccc;
      }
   }
   &__scale {
      .flexbox();
      .justify-content(space-between);
      .align-items(baseline);
   }
   &__segment{
      .inline-flexbox();
      color:#999999;
      font-size: 14px;
      justify-content: center;
      width: 0;
      position: relative;
      &:after{
         content: ' ';
         position: absolute;
         top: -11px;
         width: 1px;
         height: 4px;
         display: block;
         background-color: #999999;
         left: 0;
      }
      &:first-child {
         .justify-content();
         justify-content: flex-start;
      }
      &:last-child{
         &:after{
            left: -1px;
         }
         .justify-content(flex-end);
      }
   }

}
