<div>
    <span>First List</span>
    <Controls.List
            on:beforeDragStart="_beforeDragStart()"
            class="DND-list"
            itemsDragNDrop="{{true}}"
            displayProperty="title"
            name="list"
            source="{{_viewSource}}"
            idProperty="id">
        <ws:dragAvatarTemplate>
            <div>123</div>
        </ws:dragAvatarTemplate>
    </Controls.List>
    <span>Second List (itemsDragNDrop = false)</span>
    <Controls.List
            on:dragStart="_dragStart()"
            class="DND-list"
            displayProperty="title"
            name="listSecond"
            source = "{{_viewSourceSecond}}"
            idProperty="id">
    </Controls.List>
    <span>Third List</span>
    <Controls.List
            on:dragStart="_dragStart()"
            class="DND-list"
            itemsDragNDrop="{{true}}"
            displayProperty="title"
            name="listThird"
            source = "{{_viewSourceThird}}"
            idProperty="id">
    </Controls.List>
    <Controls-demo.DragNDrop.Notes name="listNotes"/>
    <Controls.Button
            on:click="_onClick()"
            caption="Reload">
    </Controls.Button>
    <Controls-demo.DragNDrop.Basket/>
</div>
