<div class="controls-Text__placeholder controls-TextArea__placeholder{{ _isSimplePlaceholder ? ' controls-InputRender__placeholder_simple' }}">
	<span class="controls-TextArea__placeholder__overflow">
		<ws:partial template="{{ placeholder }}"/>
	</span>
</div>