<div class="controls-TextArea__view {{ heightclassName ? heightclassName }}"></div>
<textarea
   class="controls-TextArea__field controls-TextBox__field js-controls-TextBox__field"
   placeholder="{{ placeholder}}"
   maxLength="{{ maxLength}}"
>{{ text ? text|sanitize }}</textarea>