<textarea
   class="controls-TextArea__field__size__{{!! size ? size : 'm'}}
   controls-TextArea__field
   controls-TextBox__field
   js-controls-TextBox__field
   {{ !enabled ? 'ws-invisible'}}"
   placeholder="{{ placeholder}}"
   maxLength="{{ maxLength}}"
   rows="{{ minLinesCount ? minLinesCount}}"
>{{ text ? text|sanitize }}</textarea>
<div class="controls-TextArea__view__size__{{!! size ? size : 'm'}} controls-TextArea__view{{enabled ? ' ws-hidden'}}">{{ (text ? wrapUrls(escapeHtml(text)))|sanitize }}</div>