<div class="controls__filterButton__filterText">
    <div class="controls__filterButton__FilterText__caption">{{caption}}</div>
    <span class="controls__filterButton__FilterText__reset icon-16 icon-size icon-Close icon-disabled action-hover"></span>
</div>