.controls-Compatible.controls-NotificationPopup {
   border: none;
}

.controls-Compatible.controls-NotificationPopup {
   max-width: var(--width_l_confirmation);
}

.controls-Compatible_template {
   max-width: 450px;
}
