<div class="controls-Columns-Preset-Dropdown">
   <ws:SBIS3.CONTROLS.DropdownList
      name="controls-Columns-Preset-Dropdown__dropdown"
      className="controls-Columns-Preset-Dropdown__dropdown"
      multiselect="{{false}}"
      mode="click"
      type="titleHeader"
      title="{[Выберите шаблон]}"
      idProperty="title"
      displayProperty="title"
   />
</div>