.controls-Columns-PresetsList__dropdown {
   margin-right: 4px;
   vertical-align: top;
}

.controls-Columns-PresetsList__dropdown.ws-disabled .controls-DropdownList__selectedItem .controls-DropdownList__textWrapper .controls-DropdownList__text {
   font-weight: normal;
   color: rgb(153, 153, 153);
}
