<Controls.Container.MultiSelector
   source="{{_viewSource}}"
   selectedKeys="{{[1, 3]}}"
   name="multiSelector">
   <div class="123">
      <h2>Default</h2>
      <Controls.List.MultiSelector>
         <Controls.List
            source="{{_viewSource}}"
            markedKey="{{2}}"
            selectedKeys="{{[1, 3]}}"
            bind:selectedKeys="_selectedKeys"
            allowEmptySelection="{{false}}"
            multiSelectVisibility="visible"
            keyProperty="id"
         />
      </Controls.List.MultiSelector>
   </div>
</Controls.Container.MultiSelector>;
