<Controls.List
      bind:selectedKeys="_selectedKeys"
      markedKey="{{2}}"
      source="{{_viewSource}}"
      keyProperty="id"
      allowEmptySelection="{{false}}"
      multiSelectVisibility="visible"
/>
