.controls-Switcher {
  display: inline-block;
  cursor: @switcher-cursor;
  min-width: @switcher-min-width;
  height: @switcher-height;
  padding: @switcher-padding;

  .controls-Switcher__toggle {
    display: inline-block;
    .box-sizing (@switcher-toggle-box-sizing);
    width: @switcher-toggle-width;
    min-width: @switcher-toggle-min-width;
    height: @switcher-toggle-height;
    text-align: @switcher-off-toggle-text-alignment;
    padding: @switcher-off-toggle-padding;
    .border-radius(@switcher-toggle-border-radius);
    border-width: @switcher-toggle-border-width;
    border-style: @switcher-toggle-border-style;
    border-color: @switcher-toggle-border-color;
    background: @switcher-toggle-bg;

    .controls-Switcher__position {
      position: relative;
      display: inline-block;
      .box-sizing(@switcher-toggle-position-box-sizing);
      text-align: @switcher-toggle-position-text-alignment;
      width: @switcher-toggle-position-width;
      min-width: @switcher-toggle-position-min-width;
      height: @switcher-toggle-position-height;
      min-height: @switcher-toggle-position-min-height;
      padding: @switcher-toggle-position-padding;
      margin: @switcher-off-toggle-position-margin;
      color: @switcher-off-toggle-position-text-color;
      .border-radius(@switcher-toggle-position-border-radius);
      border-width: @switcher-toggle-position-border-width;
      border-style: @switcher-toggle-position-border-style;
      border-color: @switcher-toggle-position-border-color;
      background: @switcher-off-toggle-position-bg;

      &:before {
        content: '';
        position: absolute;
        width: @switcher-toggle-edge-width;
        height: @switcher-height;
        display: block;
        top: 0;
        left: -@switcher-toggle-edge-width;
        background: @switcher-off-toggle-left-edge-bg;
      }

      &:after {
        content: '';
        position: absolute;
        width: @switcher-toggle-edge-width + @switcher-gap-width;
        height: @switcher-height;
        display: block;
        top: 0;
        right: -(@switcher-toggle-edge-width + @switcher-gap-width);
        background: @switcher-off-toggle-right-edge-bg;
      }
    }

    &.controls-Switcher__toggle__position-on {
      text-align: @switcher-on-toggle-text-alignment;
      padding: @switcher-on-toggle-padding;

      .controls-Switcher__position {
        margin: @switcher-on-toggle-position-margin;
        color: @switcher-on-toggle-position-text-color;
        background: @switcher-on-toggle-position-bg;

        &:before {
          width: @switcher-toggle-edge-width + @switcher-gap-width;
          left: -(@switcher-toggle-edge-width + @switcher-gap-width);
          background: @switcher-on-toggle-left-edge-bg;
        }

        &:after {
          width: @switcher-toggle-edge-width;
          right: -@switcher-toggle-edge-width;
          background: @switcher-on-toggle-right-edge-bg;
        }
      }
    }
  }

  &.ws-disabled {
    cursor: @switcher-disabled-cursor;

    .controls-Switcher__toggle {
      border-width: @switcher-disabled-toggle-border-width;
      border-style: @switcher-disabled-toggle-border-style;
      border-color: @switcher-disabled-toggle-border-color;
      background: @switcher-disabled-toggle-bg;

      .controls-Switcher__position {
        color: @switcher-off-disabled-toggle-position-text-color;
        background: @switcher-off-disabled-toggle-position-bg;

        &:before {
          background: @switcher-off-disabled-toggle-left-edge-bg;
        }

        &:after {
          background: @switcher-off-disabled-toggle-right-edge-bg;
        }
      }

      &.controls-Switcher__toggle__position-on {
        .controls-Switcher__position {
          color: @switcher-on-disabled-toggle-position-text-color;
          background: @switcher-on-disabled-toggle-position-bg;

          &:before {
            background: @switcher-on-disabled-toggle-left-edge-bg;
          }

          &:after {
            background: @switcher-on-disabled-toggle-right-edge-bg;
          }
        }
      }
    }
  }
}