    <Controls.Toggle.Checkbox caption="{{_options.caption}}"
                              value="{{_options.value}}"
                              on:valueChanged="_valueChangedHandler()"
                              attr:class="Controls-demo_{{_options.demoName}}_{{_options.caption}}"/>