<Controls-demo.PropertyGrid.PropertyGridWrapper
        description="{{_metaData}}"
        dataObject="{{_dataObject}}"
        componentOpt="{{_componentOptions}}"
        content="{{_content}}"
        demoName="{{_demoName}}">
</Controls-demo.PropertyGrid.PropertyGridWrapper>