<div>
    <Controls.Label caption="{{_options.caption}}" attr:class="demo-TextBox"/>
    <Controls.Input.ComboBox
            source="{{_comboBoxSource()}}"
            keyProperty="id"
            on:valueChanged="_valueChangedHandler()"
            displayProperty="title"
            attr:class="demo-TextBox"/>
</div>
