<div>
    <Controls.Label caption="{{_options.caption}}" attr:class="demo-TextBox"/>
        <Controls.Input.Number value="{{_options.value}}"
                             readOnly="{{_options.readOnly}}"
                             attr:class="demo-TextBox"
                             on:valueChanged="_valueChangedHandler()"/>
</div>