<ws:template name="string">
    <Controls-demo.PropertyGrid.StringTemplate
            bind:value="item.value"
            readOnly="{{item.readOnly}}"
            caption="{{item.id}}"
            source="{{item.source}}"
            config="{{item.config}}"
           >
    </Controls-demo.PropertyGrid.StringTemplate>
</ws:template>

<ws:template name="number">
    <Controls-demo.PropertyGrid.NumberTemplate
            bind:value="item.value"
            readOnly="{{item.readOnly}}"
            caption="{{item.id}}">
    </Controls-demo.PropertyGrid.NumberTemplate>
</ws:template>

<ws:template name="boolean">
    <Controls-demo.PropertyGrid.BooleanTemplate
            bind:value="item.value"
            caption="{{item.id}}">
    </Controls-demo.PropertyGrid.BooleanTemplate>
</ws:template>

<ws:template name="enum">

    <Controls-demo.PropertyGrid.EnumTemplate
            bind:value="item.value"
            displayProperty="{{item.displayProperty}}"
            keyProperty="{{item.keyProperty}}"
            readOnly="{{item.readOnly}}"
            emptyText="{{item.emptyText}}"
            source="{{item.source}}"
            caption="{{item.id}}">
    </Controls-demo.PropertyGrid.EnumTemplate>
</ws:template>

<ws:template name="funct">
    <Controls-demo.PropertyGrid.StringOrFunctionTemplate
            bind:value="item.value"
            flag="{{item.flag}}"
            readOnly="{{item.readOnly}}"
            caption="{{item.id}}">
    </Controls-demo.PropertyGrid.StringOrFunctionTemplate>
</ws:template>


<ws:partial template="{{item.type}}" item="{{item}}"/>