<ws:template name="String">
    <Controls-demo.PropertyGrid.StringTemplate
           bind:value="itemValue[name]"
            caption="{{name}}"
           scope="{{item}}"  >
    </Controls-demo.PropertyGrid.StringTemplate>
</ws:template>

<ws:template name="Number">
    <Controls-demo.PropertyGrid.NumberTemplate
            bind:value="itemValue[name]"
            scope="{{item}}"
            caption="{{name}}">
    </Controls-demo.PropertyGrid.NumberTemplate>
</ws:template>

<ws:template name="Boolean">
    <Controls-demo.PropertyGrid.BooleanTemplate
            bind:value="itemValue[name]"
            scope="{{item}}"
            caption="{{name}}">
    </Controls-demo.PropertyGrid.BooleanTemplate>
</ws:template>

<ws:template name="enum">
    <Controls-demo.PropertyGrid.EnumTemplate
            bind:value="itemValue[name]"
            scope="{{item}}"
            caption="{{name}}">
    </Controls-demo.PropertyGrid.EnumTemplate>
</ws:template>

<ws:template name="function|String">
    <Controls-demo.PropertyGrid.StringOrFunctionTemplate
            bind:value="itemValue[name]"
            scope="{{item}}"
            caption="{{name}}">
    </Controls-demo.PropertyGrid.StringOrFunctionTemplate>
</ws:template>
<ws:template name="Array">
    <Controls-demo.PropertyGrid.ArrayTemplate
            bind:value="itemValue[name]"
            scope="{{item}}"
            caption="{{name}}">
    </Controls-demo.PropertyGrid.ArrayTemplate>
</ws:template>


<ws:partial template="{{item.type}}" item="{{item}}" name="{{index}}" itemValue="{{itemsProperty}}"  />