<div>
    <Controls.Label caption="{{_options.caption}}" attr:class="demo-TextBox"/>

    <div style="display: flex; width: 100%;">
        <Controls.Toggle.Checkbox bind:value="checkBoxFlag" on:valueChanged="_checkBoxValueChanged()" attr:class="js-Controls_{{_options.demoName}}_StringOrFunction"/>
            <Controls.Input.Text value="{{_value}}"
                                 readOnly="{{_options.readOnly}}"
                                 on:valueChanged="_valueChangedHandler()"
                                 attr:class="demo-TextBox js-Controls_{{_options.demoName}}_{{_options.caption}}"
            />
    </div>
</div>
