.controls-MonthViewDemo-day-currentMonth {
   width: 60px;
   height: 60px;
   color: #e9ebec;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 1px;
   background-color: #354758;
}
.controls-MonthViewDemo-day {
   width: 60px;
   height: 60px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 1px;
}
.controls-MonthViewDemo-day-weekend {
   color: red;
}
