.controls-Button_viewMode-pushButton, .controls-Button_viewMode-pushButton_readOnly {
   border-style: solid;
   border-width: @thickness_ToggleButton-border_pushButton;
   border-radius: @border-radius_ToggleButton_pushButton;
}

.controls-Button_viewMode-pushButton {
   cursor: pointer;
}

.controls-Button_viewMode-pushButton_readOnly {
   color: @color_ToggleButton_pushButton_readOnly;
}

.controls-Button_viewMode-pushButton_readOnly_style-common {
   border-color: @border-color_ToggleButton_pushButton_readOnly;
   background: @background_ToggleButton_pushButton_readOnly;
}

.controls-Button_viewMode-pushButton_toggle_on_readOnly_style-common {
   border-color: @border-color_ToggleButton_pushButton_readOnly_toggled;
   background: @background_ToggleButton_pushButton_readOnly_toggled;
}

.controls-Button_viewMode-toolButton_toggle_on {
   box-shadow: none;
}

.controls-Button_viewMode-pushButton_style-common {
   border-color: @border-color_ToggleButton_pushButton;
   background: @background_ToggleButton_pushButton;
}

.controls-Button_viewMode-pushButton_toggle_on_style-common {
   background: @background_ToggleButton_pushButton_toggled;
}

.controls-Button_style-secondary_viewMode-pushButton_toggle_on {
   border-color: @color_secondary;
}

.controls-Button_style-primary_viewMode-pushButton_toggle_on {
   border-color: @color_primaryV;
}

.controls-Button_style-info_viewMode-pushButton_toggle_on {
   border-color: @color_info;
}

.controls-Button_style-danger_viewMode-pushButton_toggle_on {
   border-color: @color_danger;
}

.controls-Button_style-warning_viewMode-pushButton_toggle_on {
   border-color: @color_warning;
}

.controls-Button_style-success_viewMode-pushButton_toggle_on {
   border-color: @color_success;
}

.controls-Button_viewMode-pushButton_size-s {
   height: @height_ToggleButton_pushButton_s;
   min-width: @min-width_ToggleButton_pushButton_s;
}

.controls-Button_viewMode-pushButton_size-m {
   height: @height_ToggleButton_pushButton_m;
   min-width: @min-width_ToggleButton_pushButton_m;
}

.controls-Button_viewMode-pushButton_size-l {
   height: @height_ToggleButton_pushButton_l;
   min-width: @min-width_ToggleButton_pushButton_l;
}

.controls-Button__wrapper_viewMode-pushButton_size-s {
   .justify-content(center);
}

.controls-Button__wrapper_viewMode-pushButton_size-m {
   .justify-content(center);
}

.controls-Button__wrapper_viewMode-pushButton_size-l {
   .justify-content(center);
}

.controls-Button_style-success_viewMode-toolButton_toggle_on {
   border-color: @color_success;
}

.controls-Button_style-warning_viewMode-toolButton_toggle_on {
   border-color: @color_warning;
}

.controls-Button_style-danger_viewMode-toolButton_toggle_on {
   border-color: @color_danger;
}

.controls-Button_style-info_viewMode-toolButton_toggle_on {
   border-color: @color_info;
}

.controls-Button_style-primary_viewMode-toolButton_toggle_on {
   border-color: @color_primaryV;
}

.controls-Button_style-secondary_viewMode-toolButton_toggle_on {
   border-color: @color_secondary;
}

.controls-Button__icon-info_toggle_on {
   color: @color_info;
}

.controls-Button__icon-success_toggle_on {
   color: @color_success;
}

.controls-Button__icon-danger_toggle_on {
   color: @color_danger;
}

.controls-Button__icon-warning_toggle_on {
   color: @color_warning;
}

.controls-Button__icon-secondary_toggle_on {
   color: @color_secondary;
}

.controls-Button__icon-primary_toggle_on {
   color: @color_primaryV;
}

.controls-Button_viewMode-pushButton:active {
   .controls-Button__icon-secondary_toggle_on {
      color: @color_ToggleButton-icon_pushButton_secondary_hovered;
   }
}

.controls-Button__icon-secondary_iconStyle-secondary_viewMode-toolButton_toggle_on {
   color: @color_secondary;
}

.controls-Button__icon-secondary_iconStyle-secondary_viewMode-pushButton_toggle_on {
   color: @color_secondary;
}

.controls-Button__icon-danger_toggle_on {
   color: @color_danger;
}

.controls-Button__icon-success_toggle_on {
   color: @color_success;
}

.controls-Button__icon-warning_toggle_on {
   color: @color_warning;
}

.controls-Button__icon-info_toggle_on {
   color: @color_info;
}

.controls-Button__icon-primary_toggle_on {
   color: @color_primaryV;
}

.ws-is-no-touch {
   .controls-Button_style-secondary_viewMode-pushButton:hover {
      .controls-Button__icon-secondary {
         color: @color_ToggleButton-icon_pushButton_secondary_hovered;
      }
   }

   .controls-Button_viewMode-pushButton_style-common:hover {
      background: @background_ToggleButton_pushButton_hovered;
      border-color: @border-color_ToggleButton_pushButton_hovered;
   }
}