<div class="controls-DateRangeBigChoose controls-DateRangeBigChoose__noBorder">
   <ws:partial template="{{headerTpl}}" scope="{{...}}" activableByClick="{{ false }}"></ws:partial>

   <div class="controls-DateRangeBigChoose__months">
      <div class="controls-DateRangeBigChoose__years">
         <SBIS3.CONTROLS.Button.IconButton
            tabindex="0"
            name="PrevYearButton"
            activableByClick="{{false}}"
            icon="sprite:icon-24 icon-MarkLeftBold icon-primary"
            className="controls-DateRangeBigChoose__years-prevYearBtn"
         />
         <ws:partial template="{{yearsPanelTpl}}" scope="{{...}}" activableByClick="{{ false }}"></ws:partial>
         <SBIS3.CONTROLS.Button.IconButton
            tabindex="0"
            name="NextYearButton"
            activableByClick="{{false}}"
            icon="sprite:icon-24 icon-MarkRightBold icon-primary"
            className="controls-DateRangeBigChoose__years-nextYearBtn"
         />
      </div>
      <SBIS3.CONTROLS.ScrollContainer
         name="ScrollContainer"
         class="controls-DateRangeBigChoose__months-month-wrapper  controls-ScrollContainer__flex controls-ScrollContainer__hiddenScrollbar">
         <ws:content>
            <SBIS3.CONTROLS.Date.RangeBigChoose.resources.MonthRangePicker
               tabindex="0"
               name="MonthRangePicker"
               activableByClick="{{false}}"
               className="controls-DateRangeBigChoose__months-month-picker"
               infiniteScrollContainer="controls-DateRangeBigChoose__months-month"
               quantum="{{quantum}}"
               serializationMode="{{serializationMode}}"
               dayFormatter="{{dayFormatter}}"
               monthClickable="{{monthStateEnabled}}"
            />
         </ws:content>
      </SBIS3.CONTROLS.ScrollContainer>

   </div>

   <div class="controls-DateRangeBigChoose__dates ws-hidden">
      <div class="controls-DateRangeBigChoose__dates-header">
         <div class="controls-DateRangeBigChoose__dates-header-year">2018</div>
         <div class="controls-DateRangeBigChoose__dates-header-weekdays">
            <div for="weekday in weekdaysCaptions"
                 class="{{ _prepareCssClass(
                              'controls-DateRangeBigChoose__dates-header-weekdays', null,
                              [[weekday.weekend, 'weekend', 'workday']])
                        }}">
               {{weekday.caption}}
            </div>
         </div>
      </div>
      <SBIS3.CONTROLS.ScrollContainer
         name="ScrollContainer"
         class="controls-DateRangeBigChoose__dates-dates-wrapper  controls-ScrollContainer__flex controls-ScrollContainer__hiddenScrollbar">
         <ws:content>
            <SBIS3.CONTROLS.Date.RangeBigChoose.resources.DateRangePicker
               tabindex="0"
               name="MonthDateRangePicker"
               activableByClick="{{false}}"
               selectionType="{{selectionType}}"
               className="controls-DateRangeBigChoose__dates-dates"
               quantum="{{quantum}}"
               serializationMode="{{serializationMode}}"
               dayFormatter="{{dayFormatter}}"
            />
         </ws:content>
      </SBIS3.CONTROLS.ScrollContainer>
   </div>
</div>
