<ws:partial
   template="{{'js!' + item.get('componentType')}}"
   attributes="{{ {'data-hash': projItem.getHash(), 'data-id': item.getId()} }}"
   className="controls-ListView__item"
   scope="{{item.getRawData()}}"
/>