<Controls.EngineBrowser
        searchParam="title"
        source="{{_source}}"
        content="Controls-demo/EngineBrowser/resources/listTemplate">
   <ws:search>
      <Controls.Input.Search bind:value="value"/>
   </ws:search>
</Controls.EngineBrowser>