<Controls.EngineBrowser
        search="Controls-demo/EngineBrowser/resources/searchTemplate"
        content="Controls-demo/EngineBrowser/resources/listTemplate"
        contentConfig="{{_contentConfig}}"/>