<Controls.EngineBrowser
        searchParam="title"
        source="{{_source}}"
        filterButtonSource="{{_items}}"
        fastFilterSource="{{_fastFilterSource}}"
        class="demo-browser">
   <ws:search>
      <Controls.Input.Search bind:value="value"
                           attr:style="min-width: 300px;"/>
   </ws:search>

   <!--<ws:topTemplate>-->
      <!--<Controls.Button style="default" caption="Найти" attr:style="margin-top: 10px; margin-bottom: 10px; min-width: 70px;"/>-->
   <!--</ws:topTemplate>-->
   <ws:fastFilter>
      <Controls.Filter.Fast />
   </ws:fastFilter>
   <ws:filterButton>
      <Controls.Filter.Button template="tmpl!Controls-demo/EngineBrowser/resources/filterButtonEngineTemplate"/>
   </ws:filterButton>
   <ws:content>
      <Controls.List
              keyProperty="id"
              emptyTemplate="Не найдено">
         <ws:itemTemplate>
            <ws:partial template="tmpl!Controls/List/ItemTemplate">
               <ws:contentTemplate>
                  <div attr:style="display: flex; justify-content: space-between">
                     <div>{{itemTemplate.itemData.item.get('title')}}</div>
                     <div>{{itemTemplate.itemData.item.get('country')}}</div>
                  </div>
               </ws:contentTemplate>
            </ws:partial>
         </ws:itemTemplate>
      </Controls.List>
   </ws:content>
</Controls.EngineBrowser>