.controls-SelectorButton {
   min-height: @min-height_SelectorButton;
   display: inline-block;
   align-items: center;
}

.controls-SelectorButton_empty {
   display: inline-flex;
}

.controls-SelectButton {
   display: inline;
}

.controls-SelectorButton_button-more {
   margin-right: @spacing_SelectorButton_between_buttonMore_buttonReset;
}