.controls-DoubleSwitch__toggle {
   .inline-flexbox();
   .align-items(center);
   .justify-content(center);
   .baseline-fix();
   width: @width_Switch;
   height: @height_Switch;
   border-width: @border-width_Switch;
   border-color: @border-color_Switch;
   border-radius: @border-radius_Switch;
   border-style: solid;
   box-sizing: border-box;
   cursor: pointer;
}

.controls-DoubleSwitch__toggle_checked {
   .flex-direction(row-reverse);
}

.controls-DoubleSwitch__toggle {
   margin: 0 @margin_Switch-text;
}

.controls-DoubleSwitch__toggle_vertical {
   .rotate(-90deg);
   @offset: (@width_Switch - @height_Switch) / 2;
   vertical-align: top;
   margin: @offset -@offset @offset -@offset - 1px;
}

.controls-DoubleSwitch__textBlock {
   .inline-flexbox();
   .flex-direction(column);
   margin-left: @margin_Switch-text;
}

.controls-DoubleSwitch__line {
   height: @height_Switch-line;
   width: @width_Switch-line - @size_Switch-marker;
}

.controls-DoubleSwitch__line_enabled {
   background-color: @background-color_Switch-line_enabled;
}

.controls-DoubleSwitch__line_disabled {
   background-color: @background-color_Switch-line_disabled;
}

.controls-DoubleSwitch__marker {
   width: @size_Switch-marker;
   height: @size_Switch-marker;
   border-style: solid;
   border-width: @border-width_Switch-marker;
   border-radius: 100%;
   box-sizing: border-box;
   border-color: @border-color_Switch-marker_checked;
   position: relative;
}

.controls-DoubleSwitch__marker:before {
   content: '';
   width: @size_Switch-dot;
   height: @size_Switch-dot;
   border-radius: 100%;
   background: @background_Switch-dot;
   display: inline-block; //Для псевдоэлементов в IE нужно высталять хоть какой-нибудь display, иначе они не отображаются
   //Не получится выровнять с помощью флексов, т.к. IE ставит не по центру, а вообще случайным образом: https://jsfiddle.net/n1gyq4to/
   position: absolute;
   margin: (@size_Switch-marker - @size_Switch-dot) / 2 - @border-width_Switch-marker;
}

.controls-DoubleSwitch__text_vertical {
   display: block;
   height: @width_Switch / 2;
   line-height: @width_Switch / 2;
}

.controls-DoubleSwitch__text_enabled_unselected {
   color: @color_Switch-text_enabled_unselected;
   cursor: pointer;
}

.controls-DoubleSwitch__text_disabled_unselected {
   color: @color_Switch-text_disabled_unselected;
}

.ws-is-desktop-platform {
   .controls-DoubleSwitch_enabled:hover {
      .controls-DoubleSwitch__marker { //Здесь вложенность не избежать, т.к. по ховеру на контейнере должен меняться размер кнопки
         border-width: @border-width_Switch-marker_hover;
         &:before {
            top: @border-width_Switch-marker - @border-width_Switch-marker_hover;
            left: @border-width_Switch-marker - @border-width_Switch-marker_hover;
         }
      }
   }

   .controls-DoubleSwitch__text_enabled_unselected:hover {
      text-decoration: underline;
   }
}