//default-colors
@additional-color:                                                                                                      #8991A9;
@default-border-color-second:                                                                                           #0055BB;
@default-text-color:                                                                                                    #000;
@default-border-color:                                                                                                  #eaeaea;
@default-border-color-hover:                                                                                            #cccccc;
@default-border-color-active:                                                                                           #cccccc;
@default-border-color-bottom-disabled:                                                                                  #cccccc;
@default-placeholder-color:                                                                                             #cccccc;
@default-bg-color:                                                                                                      #ffffff;
@error-bg-color:                                                                                                        #fadadd;
//icons
@icon-color-primary:                                                                                                    #2D68B5;
//text-box
@text-box-bg:                                                                                                           #ffffff;
//search-form
@search-form-icon-color:                                                                                                #2D68B5;
@search-form-icon-reset-color:                                                                                          #2D68B5;
@search-form-icon-search-hover-color:                                                                                   #313E78;
//combo-box
@combo-box-arrowDown-color:                                                                                             @default-text-color;
@combo-box-arrowDown-color-focus:                                                                                       #313E78;
@combo-box-arrowDown-color-hover:                                                                                       #313E78;
//menu
@menu-button-menu-bg:                                                                                                   @default-bg-color;