.controls-ScrollContainer {
   overflow: hidden;

   &:before, &:after {
      content: '';
      position: absolute;
      display: block;
      z-index: 1;
      height: @controls-ScrollContainer-top-gradient-height;
      left: 0;
      width: 100%;
      pointer-events: none; // чтобы можно было кликнуть сквозь тень
   }
   &:before {
      top: 0;
   }
   &:after {
      bottom: 0;
   }
   &.controls-ScrollContainer__top-gradient:before {
      background: linear-gradient(to bottom, @controls-ScrollContainer-gradient-background);
   }
   &.controls-ScrollContainer__bottom-gradient:after {
      background: linear-gradient(to top, @controls-ScrollContainer-gradient-background);
   }
}

.controls-ScrollContainer__scrollbar{
   position: absolute;
   right: 0;
   top: 0;
   display: none;
   height: 100%;
   contain: strict;
}

.controls-ScrollContainer__content {
   position: relative;
   overflow-y: scroll;
   overflow-x: hidden;
   height: 100%;
   max-height: inherit;
   min-width: inherit;
   -webkit-overflow-scrolling: touch;
   // isolation создает изолированный контект отображения и iframe в полноэкранном режиме отображается неправильно
   // (элементы с isolation: isolate отображаются поверх него, т.к. у них собственный контекст рендера).
   // Если будут проблемы, то можно попробовать следующее решение:
   // .controls-ScrollContainer__content {
   //    transform: scale(1);
   // }
   z-index: 0;

   &.ws-sticky-header__scrollable-container {
      width: auto;
   }
}

// Для IE нужно оставить хак:
// https://online.sbis.ru/opendoc.html?guid=bd8fad86-cab3-42e8-8914-d2309e35a865&des=
// Ошибка в разработку 08.06.2017 Перенос: в ИЕ лишний вертикальный скролл в окне с периодами Как повторить: отчетность - в правом в…
body.ws-is-ie .controls-ScrollContainer__content {
   // Хак. IE не поддерживает isolation: isolate;
   transform: scale(1);
}

.controls-ScrollContainer-overflow-scrolling-auto .controls-ScrollContainer__content {
   -webkit-overflow-scrolling: auto!important;
}

.controls-ScrollContainer__content.controls-ScrollContainer__content-overflowHidden {
   overflow: hidden;
}

.ws-is-mobile-android {
   .controls-ScrollContainer__content {
      overflow-y: auto;
   }
}

// показываем нативный скролл только на android и ios
.ws-is-mobile-safari, .ws-is-mobile-chrome-ios {
   .controls-ScrollContainer {
      overflow: auto;
   }
   .controls-ScrollContainer__content {
      &::-webkit-scrollbar {
         width: auto!important;
      }
   }
}

.controls-ScrollContainer__hiddenScrollbar > .controls-Scrollbar {
   display: none;
}

.controls-ScrollContainer__scrollbar_show:not(.controls-ScrollContainer__hiddenScrollbar) > .controls-Scrollbar {
   display: block;
}

.controls-ScrollContainer.controls-ScrollContainer__flex {
   .flexbox();
   .flex-grow(1);
   .flex-direction(column);
   .align-content(stretch);
}

.controls-ScrollContainer.controls-ScrollContainer__flex > .controls-ScrollContainer__content {
   height:100%;
   .flex-grow(1);
}

/**
 * Скрытие нативного скролла, для замены на платформенный.
 * Платформенный используется только на desktop платформах.
 */
body.ws-is-desktop-platform .controls-ScrollContainer__content::-webkit-scrollbar {
   width: 0px;
}