.controls-ScrollContainer {
   overflow: hidden;
   // Если включена фиксация заголовков внутри скролируемой области, то иногда стили на ws-sticky-header__wrapper
   // переопределяют overflow
   &.ws-sticky-header__wrapper {
      overflow: hidden;
   }
   position: relative;
   outline: none;
   z-index: 0;
   
   &:before, &:after {
      content: '';
      position: absolute;
      display: block;
      z-index: 1;
      height: @controls-ScrollContainer-top-gradient-height;
      left: 0;
      width: 100%;
      pointer-events: none; // чтобы можно было кликнуть сквозь тень
   }
   &:before {
      top: 0;
   }
   &:after {
      display: none;
      bottom: 0;
   }
   &.controls-ScrollContainer__top-gradient:before {
      background: linear-gradient(to bottom, @controls-ScrollContainer-gradient-background);
   }
   &.controls-ScrollContainer__bottom-gradient:after {
      background: linear-gradient(to top, @controls-ScrollContainer-gradient-background);
   }
}

.controls-ScrollContainer__scrollbar{
   position: absolute;
   right: 0;
   top: 0;
   display: none;
   height: 100%;
   contain: strict;
}

.controls-ScrollContainer:not(.controls-ScrollContainer__hiddenScrollbar) {
   .controls-Scrollbar.controls-Scrollbar__dragging {
      display: block;
   }
}

.controls-ScrollContainer__content {
   position: relative;
   overflow-y: scroll;
   overflow-x: hidden;
   height: 100%;
   max-height: inherit;
   min-width: inherit;
   /*https://inside.tensor.ru/opendoc.html?guid=3d32d044-8a60-432d-9cd8-db555ad0786d&des=
   R! Убрать с новых контролов класс ws-area с height:100%, чтобы работало по человечески.*/
   &> .controls-ListView {
      height: auto;
   }
   -webkit-overflow-scrolling: touch;
   // isolation создает изолированный контект отображения и iframe в полноэкранном режиме отображается неправильно
   // (элементы с isolation: isolate отображаются поверх него, т.к. у них собственный контекст рендера).
   // Если будут проблемы, то можно попробовать следующее решение:
   // .controls-ScrollContainer__content {
   //    transform: scale(1);
   // }
   z-index: 0;

   &.ws-sticky-header__scrollable-container {
      width: auto;
   }
}

// Для IE нужно оставить хак:
// https://online.sbis.ru/opendoc.html?guid=bd8fad86-cab3-42e8-8914-d2309e35a865&des=
// Ошибка в разработку 08.06.2017 Перенос: в ИЕ лишний вертикальный скролл в окне с периодами Как повторить: отчетность - в правом в…
body.ws-is-ie .controls-ScrollContainer__content {
   // Хак. IE не поддерживает isolation: isolate;
   transform: scale(1);
}

.controls-ScrollContainer-overflow-scrolling-auto .controls-ScrollContainer__content {
   -webkit-overflow-scrolling: auto!important;
}

.controls-ScrollContainer__content.controls-ScrollContainer__content-overflowHidden {
   overflow: hidden;
}

.ws-is-mobile-android {
   .controls-ScrollContainer__content {
      overflow-y: auto;
   }
}

// показываем нативный скролл только на android и ios
.ws-is-mobile-safari, .ws-is-mobile-chrome-ios {
   .controls-ScrollContainer {
      overflow: auto;
   }
   .controls-ScrollContainer__content {
      &::-webkit-scrollbar {
         width: auto!important;
      }
   }
}
.ws-is-desktop-platform.ws-is-touch.ws-is-ie {
   .controls-ScrollContainer__content {
      -ms-overflow-style: -ms-autohiding-scrollbar;
   }
}
/*TODO временный фикс для выпуска*/
.controls-ScrollContainer{
   &.controls-ScrollContainer__withHead {
      .controls-ScrollContainer__scrollbar {
         top: 24px;
         height: calc(~"100% - 32px");
      }
   }
}

.controls-ScrollContainer.ws-sticky-header__scrollable-container {
   width: auto;
}
// Заголовки должны быть выше тени. Если этот z-index вызовет проблемы, то надо будет сделать, что бы при фиксации
// заголовков на враппер фиксированных заголовков накидывался соответсвующий класс и при его наличии тень в скрол
// контейнере вообще не отображалась.
.controls-ScrollContainer > .ws-sticky-header__header-container {
   z-index: 1;
}

.controls-ScrollContainer__hiddenScrollbar > .controls-Scrollbar {
   display: none;
}

.controls-ScrollContainer__scrollbar_show:not(.controls-ScrollContainer__hiddenScrollbar) > .controls-Scrollbar {
   display: block;
}

.controls-ScrollContainer.controls-ScrollContainer__flex {
   .flexbox();
   .flex-grow(1);
   .flex-direction(column);
   .align-content(stretch);
}

.controls-ScrollContainer.controls-ScrollContainer__flex > .controls-ScrollContainer__content {
   height:100%;
   .flex-grow(1);
}

.controls-ScrollContainer__content:not(.controls-ScrollContainer__content-overflowHidden) {
   // Mac OS
   body.ws-is-mac &,
   body.ws-is-opera.ws-is-windows-10 & {
      margin-right: -15px;
   }
   body.ws-is-mac.ws-is-safari11 &{
      padding-right: 15px;
   }
   body.ws-is-chrome:not(.ws-is-mac) &,
   body.ws-is-firefox:not(.ws-is-mac):not(.ws-is-windows-10) &,
   body.ws-is-opera:not(.ws-is-mac):not(.ws-is-windows-10) & {
      margin-right: -17px;
   }
   body.ws-is-firefox.ws-is-windows-10 & {
      margin-right: -16px;
   }

   // Win10 Edge
   body.ws-is-ie12 & {
      margin-right: -12px;
   }
   // Win10 Touch Edge
   body.ws-is-ie12.ws-is-touch & {
      padding-right: 12px;
   }
   // Win7 & Win10, Ie10 & Ie11
   body.ws-is-ie10 &,
   body.ws-is-ie11 & {
      margin-right: -17px;
   }
   // Win7 & Win10, Touch, Ie10 & Ie11
   body.ws-is-ie10.ws-is-touch &,
   body.ws-is-ie11.ws-is-touch & {
      padding-right: -17px;
   }
}

.controls-ScrollContainer__paging {
   position: absolute;
   bottom: 0;
   right: 0;
   background: @white-color;
}