<ws:partial template="Controls/Filter/Button/Panel"
            items="{{_options.items}}"
            itemTemplateProperty="template"
            additionalTemplate="{{_additionalTemplate}}"></ws:partial>
