<Controls.Filter.Button.Panel
        itemTemplateProperty="template">
   <ws:additionalTemplate templateName="tmpl!Controls-demo/FilterButton/Panel/resources/additionalItemsTemplate2"/>
</Controls.Filter.Button.Panel>
