
.ws-moneyDecorator {
  &__integer{
    font-size: @money-decorator-integer-font-size;
    color: @money-decorator-integer-font-color;
    &__AccentResults{
      font-size: @money-decorator-integer-accent-results-font-size;
      color: @money-decorator-integer-accent-results-font-color;
      font-weight: bold;
      line-height: @money-decorator-integer-accent-results-line-height;
    }
    &__NoAccentResults{
      font-size: @money-decorator-integer-no-accent-results-font-size;
      color: @money-decorator-integer-no-accent-results-font-color;
      font-weight: bold;
      line-height: @money-decorator-integer-accent-results-line-height;
    }
    &__Group{
      font-size: @money-decorator-integer-group-font-size;
      color: @money-decorator-integer-group-font-color;
    }
    &__BasicRegistry{
      font-size: @money-decorator-integer-basic-registry-font-size;
      color: @money-decorator-integer-basic-registry-font-color;
    }
    &__NoBasicRegistry{
      font-size: @money-decorator-integer-no-basic-registry-font-size;
      color: @money-decorator-integer-no-basic-registry-font-color;
    }
    &__AccentRegistry{
      font-size: @money-decorator-integer-accent-registry-font-size;
      color: @money-decorator-integer-accent-registry-font-color;
      font-weight: bold;
    }
    &__NoAccentRegistry{
      font-size: @money-decorator-integer-no-accent-registry-font-size;
      color: @money-decorator-integer-no-accent-registry-font-color;
      font-weight: bold;
    }
    &__Error {
      font-weight: bold;
      color: @error-color;
    }
  }
  &__nowrap {
    white-space: nowrap;
  }
  &__fraction{
    font-size: @money-decorator-fraction-font-size;
    color: @money-decorator-fraction-font-color;
    line-height: normal;
    font-weight: normal !important;
  }
}
