<div attr:class="controls-DropdownList__row
                 controls-DropdownList__row_history
                 {{itemData.isSelected ? 'controls-DropdownList__selected'}}
                 {{itemData.getPropValue(itemData.item, 'pinned') === true && !itemData.hasParent ?  'controls-DropdownList__row_pinned'}}"
     on:click="_itemClickHandler(itemData.item)">
   <div if="{{itemData.icon}}" class="controls-DropdownList__icon {{itemData.icon}}"></div>
   <div class="controls-DropdownList__content controls-DropdownList__content_{{multiLine ? 'multiLine' : 'singleLine'}}">
      <ws:if data="{{contentTemplate}}">
         <ws:partial
            template="{{contentTemplate}}"
            itemData="{{itemData}}" />
      </ws:if>
      <ws:else>
         {{itemData.getPropValue(itemData.item, displayProperty || 'title')}}
      </ws:else>
   </div>
    <ws:if data="{{!itemData.hasChildren && !(itemData.getPropValue(itemData.item, 'pinned') === true && itemData.hasParent)}}">
        <div    on:click="_itemClickHandler(itemData.item, true)"
                class="controls-DropdownList__row_pin {{itemData.getPropValue(itemData.item, 'pinned') === true ? 'controls-DropdownList__row_unpin icon-PinOff' : 'icon-PinNull'}}"></div>
    </ws:if>
   <div if="{{itemData.hasChildren}}" class="controls-DropdownList__arrow icon-MarkCRightLight"></div>
</div>