<div class="controls-BreadCrumbsV__crumb{{itemData.withOverflow ? ' controls-BreadCrumbsV__crumb_withOverflow'}}">
    <div class="controls-BreadCrumbsV__titleWrapper{{itemData.withOverflow ? ' controls-BreadCrumbsV__titleWrapper_withOverflow'}}"
         title="{{itemData.getPropValue(itemData.item, displayProperty || 'title')}}">
        <div class="controls-BreadCrumbsV__title">{{itemData.getPropValue(itemData.item, displayProperty || 'title')}}</div>
    </div>
    <ws:if data="{{ itemData.hasArrow }}">
        <span class="controls-BreadCrumbsV__arrow icon-size icon-DayForward icon-primary action-hover"></span>
    </ws:if>
</div>
