@import "Controls-default-theme/helpers/_mixins";

.controls-SuggestV__inputRender {
	width: 100%;
}

.controls-SuggestV {
	display: inline-block;
	max-width: 100%;
	position: relative;
}

.controls-SuggestV__loader {
	.flex-shrink(0);
	background: @background-image_Suggest-spinner 0 0 no-repeat center contain;
	height: @height_Suggest-spinner;
	width: @width_Suggest-spinner;
	margin-right: @spacing_Suggest-between-spinner-clear;
}

.controls-SuggestV__clear {
	.icon-size(@icon-size_Suggest-clear);
	margin: auto;
	color: @color_Suggest-clear;
	cursor: pointer;
}

.controls-SuggestV__afterFieldWrapper {
	.inline-flexbox();
	align-self: center;
	margin-right: @spacing_Suggest-between-afterFieldWrapper-inputRenderWrapper;
}

//TODO Пока зададим ширину для новой стековой панели явно. Нужно для Матильды. https://online.sbis.ru/opendoc.html?guid=23717d3b-cb27-4a7e-a7ae-b4d06eb6aa25
.controls-SuggestV__showAllPopup {
	max-width: 700px;
	width: calc(~"100% - 64px");
}
