.controls-SwitcherDouble {
   display: inline-block;
   margin: @switcher-do-margin;

   .controls-SwitcherDouble__toggle {
      display: inline-block;
      cursor: @switcher-do-toggle-cursor;
      width: @switcher-do-horizontal-toggle-width;
      height: @switcher-do-horizontal-toggle-height;
      margin: @switcher-do-horizontal-toggle-margin;
      border: @switcher-do-border;
      border-radius: @switcher-do-border-radius;
      line-height: @switcher-do-horizontal-toggle-height;
      position: relative;
      &.controls-SwitcherDouble-on-toggled {
         .controls-SwitcherDouble__btn {
            right: @switcher-do-horizontal-btn-margin;
            left: auto;
         }
      }
   }
   .controls-SwitcherDouble__line {
      position: absolute;
      height: 2px;
      left: 50%;
      width: @switcher-do-horizontal-line-width;
      margin-left: -@switcher-do-horizontal-line-width / 2;
      margin-top: -1px;
      top: 50%;
      background-color: @gray-color;
   }
   .controls-SwitcherDouble__btn {
      display: block;
      position: absolute;
      box-sizing: border-box;
      border-style: solid;
      background: @switcher-do-horizontal-btn-bg-color;
      border-color: @switcher-do-horizontal-btn-color;
      border-width: @switcher-do-horizontal-btn-border-width;
      border-radius: @switcher-do-horizontal-btn-radius;

      width: @switcher-do-horizontal-btn-size;
      height: @switcher-do-horizontal-btn-size;
      left: @switcher-do-horizontal-btn-margin;
      right: auto;
      top: (@switcher-do-horizontal-toggle-height - @switcher-do-horizontal-btn-size) / 2;
   }

   .controls-SwitcherDouble__text {
      display: inline-block;
      cursor: @switcher-do-text-cursor;
      color: @switcher-do-text-color;
      text-decoration: @switcher-do-decoration;

      &.controls-SwitcherDouble__unselected {
         cursor: @switcher-do-unselected-text-cursor;
         color: @switcher-do-unselected-text-color;
         text-decoration: @switcher-do-unselected-text-decoration;

         &:hover {
            color: @switcher-do-horizontal-btn-color;
            text-decoration: @switcher-do-unselected-text-decoration-hover;
         }
      }

   }

   &.controls-SwitcherDouble-vertical {
      vertical-align: top;

      .controls-SwitcherDouble__toggle {
         display: inline-block;
         vertical-align: top;
         cursor: @switcher-do-toggle-cursor;
         width: @switcher-do-vertical-toggle-width;
         height: @switcher-do-vertical-toggle-height;
         margin: @switcher-do-vertical-toggle-margin;
         &.controls-SwitcherDouble-on-toggled {
            .controls-SwitcherDouble__btn {
               top: @switcher-do-horizontal-btn-margin;
               bottom: auto;
               left: (@switcher-do-vertical-toggle-width - @switcher-do-horizontal-btn-size) / 2;
            }
         }

      }
      .controls-SwitcherDouble__line {
         height: @switcher-do-horizontal-line-width;
         width: 2px;
         margin-top: -@switcher-do-horizontal-line-width / 2;
         margin-left: -1px;
      }

      .controls-SwitcherDouble__text-block {
         display: inline-block;
         height: 100%;

         .controls-SwitcherDouble__text {
            display: block;
            height: @switcher-do-vertical-toggle-height / 2;
            line-height: @switcher-do-vertical-toggle-height / 2;
         }
      }
      .controls-SwitcherDouble__btn {
         bottom: @switcher-do-horizontal-btn-margin;
         top: auto;
         left: (@switcher-do-vertical-toggle-width - @switcher-do-horizontal-btn-size) / 2;
      }
   }

   &:hover {
      .controls-SwitcherDouble__btn {
         border-width: @switcher-do-horizontal-btn-border-width-hover;
      }
   }

   &.ws-disabled {
      .controls-SwitcherDouble__toggle {
         cursor: @switcher-do-disabled-toggle-cursor;

      }
      .controls-SwitcherDouble__line {
         background: @gray-light-color;
      }

      .controls-SwitcherDouble__text {
         cursor: @switcher-do-disabled-text-cursor;
         color: @switcher-do-disabled-text-color;
         text-decoration: @switcher-do-disabled-text-decoration;
         &:hover {
            color: @switcher-do-disabled-text-color;
         }
      }
      .controls-SwitcherDouble__btn {
         border-color: @switcher-do-horizontal-btn-color-disabled;
         border-width: @switcher-do-horizontal-btn-border-width;
      }
   }

}