<div>
    <div class="content_tab_margin controls-huge-text-size header_demo_class">{{item.get(displayProperty)}}</div>
    <div class="content_tab_margin">
        <SBIS3.CONTROLS.TextBox
            name="title"
            enabled="{{true}}"
            text="Hello it's me"
            />
    </div>
    <div class="content_tab_margin">
        <SBIS3.CONTROLS.Date.Range enabled="{{true}}"/>
    </div>
    <div class=" content_tab_margin controls-small-text-size controls-addition-color">
        small text
    </div>
</div>