
<div class="custom_space_template">
    <span class="custom_space_text">you are not prepared</span>
    <div class="content_tab_margin">
        <SBIS3.CONTROLS.TextBox
                name="title"
                enabled="{{true}}"
                text="input"
        />
    </div>
    <div class="content_tab_margin">
        <SBIS3.CONTROLS.Button
                name="btn"
                enabled="{{true}}"
                caption="button"
        />
    </div>
</div>
