<div class="controls-PanelFilter">
   <div class="controls-FilterPanel__header">
      <span class="controls-FilterPanel__header-title controls-FilterPanel__header-title_{{_options.styleHeader}}">{{_options.title}}</span>
      <ws:if data="{{topTemplate}}">
         <div class="controls-FilterPanel__header-topTemplate">
            <ws:partial template="{{topTemplate}}"/>
         </div>
      </ws:if>
      <Controls.Button style="linkMain" enabled="{{_isEnabled}}" caption="{[По умолчанию]}" on:click="resetFilter()" name="resetButton"
                       attr:class="controls-FilterPanel__resetButton"></Controls.Button>

      <Controls.Button style="buttonPrimary" caption="{[Отобрать]}" on:click="applyFilter()"
                       attr:class="controls-FilterPanel__filterButton"></Controls.Button>

      <div class="controls-FilterPanel__close_button_standart controls-FilterPanel__closeButton"
           on:click="_close()"></div>
   </div>

   <div class="controls-FilterPanel__wrapper">
      <div class="controls-FilterPanel__firstColumn">
         <div class="controls-FilterPanel__content">
            <Controls.Filter.Panel.PropertyGrid name="PropertyGrid" bind:items="_items"/>
         </div>
         <div class="controls-FilterPanel__footer">
            <ws:if data="{{_additionalItems}}">
               <span class="controls-FilterPanel__caption">{[Еще можно отобрать]}</span>
               <div class="controls-FilterPanel__additionalParams">

               </div>
            </ws:if>
            <div ></div>
            <div if="{{_options.viewMode === 'oneColumn'}}" class=" controls-FilterPanel__history-oneColumn">
               <div class="controls-FilterPanel__history">
                  <span class="controls-FilterPanel__caption">{[Ранее отбирались]}</span>
                  <div class="controls-FilterPanel__history-block">
                     <p class="controls-FilterPanel__history-item">Исторические данные 1</p>
                     <p class="controls-FilterPanel__history-item">Исторические данные 4</p>
                     <p class="controls-FilterPanel__history-item">Исторические данные 3</p>
                     <p class="controls-FilterPanel__history-item">Исторические данные 2</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div if="{{ _options.viewMode === 'twoColumn' }}" class="controls-FilterPanel__history">
         <div class="controls-filterPanel__history-twoColumn">
            <span class="controls-FilterPanel__caption">{[Ранее отбирались]}</span>
            <p>Исторические данные 1</p>
            <p>Исторические данные 4</p>
            <p>Исторические данные 3</p>
            <p>Длииииииииииииииииииинная Историческая запись 2</p>
         </div>
      </div>
   </div>
</div>