<div class="controls-PanelFilter">
   <div class="controls-FilterPanel__header">
      <span class="controls-FilterPanel__header-title">{[Отбираются]}</span>
      <ws:if data="{{topTemplate}}">
         <ws:partial template="{{topTemplate}}"/>
      </ws:if>
      <Controls.Button style="linkMain" caption="{[По умолчанию]}" on:click="resetFilter()"></Controls.Button>

      <Controls.Button style="buttonPrimary" caption="{[Отобрать]}" on:click="applyFilter()"></Controls.Button>
      <div class="controls-FilterPanel__closeButton"></div>
   </div>
   <div class="controls-FilterPanel_content">
      <Controls.Filter.Panel.PropertyGrid name="PropertyGrid" bind:items="_items"/>
   </div>
   <div class="controls-FilterPanel__footer">
      <ws:if data="{{_additionalItems}}">
      <Controls.Filter.Panel.PropertyGrid items="{{_additionalItems}}"/>
   </ws:if>
      <div class="controls-FilterPanel__history">

      </div>
   </div>
</div>