.controls-PanelFilter {
   width: auto;
   box-shadow: @box-shadow_FilterPanel;
   border: @border-size_FilterPanel solid @border-color_FilterPanel;
   background-color: @background-color_FilterPanel;
}

.controls-FilterPanel__wrapper {
   display: flex;
}

.controls-FilterPanel__header {
   min-width: @min-width_FilterPanel;
   height: @height_FilterPanel-header;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: @background-color_FilterPanel-header;
   padding: @padding_FilterPanel-header;
}

.controls-FilterPanel__header-topTemplate {
   margin: @spacing_FilterPanel-header-topTemplate;
}

.controls-FilterPanel__header-title {
   font-size: @font-size_FilterPanel-header-title;
   font-weight: bold;
   margin: @spacing_FilterPanel-header-title;
}

.controls-FilterPanel__header-title_default {
   color: @color_FilterPanel-header-title_default;
}

.controls-FilterPanel__header-title_custom {
   color: @color_FilterPanel-header-title_custom;
}

.controls-FilterPanel__resetButton {
   margin-left: @spacing_FilterPanel-resetButton-title;
}

.controls-FilterPanel__filterButton {
   margin: @spacing_FilterPanel-filterButton;
}

.controls-FilterPanel__content {
padding: @padding_FilterPanel__content;
}