.controls-PropertyGrid__item {
   display: flex;
   align-items: baseline;
   margin-bottom: @spacing_PropertyGrid-between-items;
}

.controls-PropertyGrid__lastItem {
   margin-bottom: @spacing_PropertyGrid-between-lastItem-bottomBorder;
}
