.controls-PropertyGrid__item {
   display: flex;
   align-items: baseline;
   margin-bottom: @spacing_PropertyGrid-between-items;
}

.controls-PropertyGrid__item:last-of-type {
   margin-bottom: @spacing_PropertyGrid-of-last-element;
}
