<div class="ws-PopupContainer">
    <ws:for data="index, item in _options._popupItems">
        <ws:Controls.Popup.Manager.Popup id="{{item.id}}" __key="{{item.id}}"
            scope="{{item.popupOptions}}"
            style="z-index: {{10 * ( index + 1 )}};"
        />
    </ws:for>
</div>