.controls-Container__popup{
   position: absolute;
   //transition-property: transform;
   //transition-duration: 0.15s;
   .box-sizing(border-box);
   //Чтобы растянуть содержимое внутри на 100%
   .flexbox();
}
.controls-Container__overlay {
   position: fixed;
   left: 0;
   top: 0;
   right: 0;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.1);
   cursor: pointer;
   .ws-is-mobile-chrome-ios, .ws-is-mobile-safari{
      top: -1000%;
      height: 2000%;
   }
}