<div class="ws-Popup"
     on:close="_close()"
     on:keyup="_keyPressed()"
     on:focusIn="_focusIn()"
     on:focusOut="_focusOut()"
>
    <ws:partial template="{{_options.template}}" scope="{{_options.componentOptions}}" on:sendResult="_sendResult()"></ws:partial>
</div>