.controls-demo-FilterView__lookupTemplate {
   width: 100%;
   display: flex;
}

.controls-demo-FilterView__scrollDemo.controls-demo-FilterView__limitHeight {
   max-height: 250px;
}

.controls-demo-FilterView__itemsEllipsis {
   max-width: 300px;
}
