<span class="controls-Columns-Editing-Area__view-item">
   <span class="controls-ListView__itemCheckBox js-controls-ListView__itemCheckBox"></span>
   <span class="controls-Columns-Editing-Area__view-item-text" title="{[Выбрать другой шаблон]}">{{item[displayProperty]}}</span>
</span>