& {
  @alignText: left, right, center;

  .for(@alignText, {
    .controls-ProgressBar_align-@{_item} {
      text-align: @_item;
    }
  });
}

.controls-ProgressBar {
  display: inline-block;
  width: @ProgressBar-width;
}

.controls-ProgressBar__progress {
  @border: 2 * @default-border-width;
  height: @ProgressBar-height;
  color: @ProgressBar-value-color;
  line-height: @ProgressBar-height - 2 * @default-border-width;
  padding: @ProgressBar-value-padding;
  border-radius: @ProgressBar-border-radius;
  border: @default-border-width solid @ProgressBar-border-color;
  background: @ProgressBar-background-color linear-gradient(to right, @ProgressBar-first-color, @ProgressBar-last-color) no-repeat;
  .box-sizing();
  & when not (@ProgressBar-value-font-size = @default-text-size) {
    font-size: @ProgressBar-value-font-size;
  }
}