<div class="controls-ProgressBar">
   <div
      class="controls-ProgressBar__progress controls-ProgressBar__progress_size controls-ProgressBar__progress_color controls-ProgressBar__progress_sizeValue controls-ProgressBar__progress_colorValue"
      data-bind="{
         style: {
            background-size: progress/backgroundSize
         },
         html: progress/value
      }"
   >
   </div>
</div>