@alignText: left, right, center;

.for(@alignText, {
  .controls-ProgressBar_align-@{_item} {
    text-align: @_item;
  }
});

.controls-ProgressBar {
  & when not (ispercentage(@ProgressBar-width)) {
    display: inline-block;
  }
}

.controls-ProgressBar__progress_size {
  @border: 2 * @default-border-width;
  height: @ProgressBar-height;
  border: @default-border-width @default-border-style @ProgressBar-border-color;
  border-radius: @ProgressBar-border-radius;
  padding: @ProgressBar-value-padding;
  width: @ProgressBar-width;
  .box-sizing();
  & when (get-unit(@ProgressBar-height) = get-unit(@default-border-width)) {
    line-height: @ProgressBar-height - @border;
  }
  & when not (get-unit(@ProgressBar-height) = get-unit(@default-border-width)) {
    line-height: calc(~"@{ProgressBar-height} - @{border}");
  }
  & when not (@ProgressBar-value-font-size = @default-text-size) {
    font-size: @ProgressBar-value-font-size;
  }
}

.controls-ProgressBar__progress_color {
  background: @ProgressBar-background-color linear-gradient(to right, @ProgressBar-first-color, @ProgressBar-last-color) no-repeat;
}

.controls-ProgressBar__progress_colorValue {
  color: @ProgressBar-value-color;
}