/*group*/
/*ширина кнопки закрытия окна 36px + 2px на небольшой отступ между кнопкой сохранить (в ie8 нет скруглений и кнопки склеиваются)*/
/*ширина кнопки закрытия окна 36px + 90px ширина кнопки сохранить + 2px на небольшой отступ между ними */
.controls-ProgressBar {
  height: 17px;
}
.controls-ProgressBar__line {
  height: 100%;
  background: #F3F3F3;
  position: relative;
  border-radius: 8px;
}
.controls-ProgressBar__backProgress {
  height: 100%;
  overflow: hidden;
  border-radius: 8px;
}
.controls-ProgressBar__progress {
  height: 100%;
  background: #A2E68C;
  border-radius: 8px;
}
.controls-ProgressBar__progress {
  background: linear-gradient(to top, #8DCF66, #B6F5A9);
}
.controls-ProgressBar__value {
  position: absolute;
  width: 100%;
  text-align: center;
}
.controls-ProgressBar_align-left .controls-ProgressBar__line {
  margin-left: 40px;
}
.controls-ProgressBar_align-left .controls-ProgressBar__value {
  width: auto;
  left: -40px;
}
.controls-ProgressBar_align-right .controls-ProgressBar__line {
  margin-right: 40px;
}
.controls-ProgressBar_align-right .controls-ProgressBar__value {
  width: auto;
  right: -40px;
}
.ws-disabled .controls-ProgressBar__progress {
  background: transparent;
}
.ws-disabled .controls-ProgressBar__value {
  color: #999;
}
