<div class="controls-ProgressBar">
   <div
      class="controls-ProgressBar__progress"
      data-bind="{
         style: {
            background-size: progress/backgroundSize
         },
         html: progress/value
      }"
   >
   </div>
</div>