.controls-MiniCardController {
   animation-duration: @animation-duration_MiniCard;
   animation-fill-mode: forwards;
}

.controls-MiniCardController_open {
   animation-name: openingMiniCard;
}

.controls-MiniCardController_close {
   animation-name: closingMiniCard;
}

@keyframes openingMiniCard {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}

@keyframes closingMiniCard {
   from {
      opacity: 1;
   }
   to {
      opacity: 0;
   }
}