// IE, Edge
.controls-Grid_partial-support {
   &.controls-Grid_master {
      padding-right: 0;
   }
   .controls-Grid__header {
      display: inline-flex;
   }
   .controls-ListView__group {
      display: flex;
   }
}

.ws-is-not-full-grid-support {
   .controls-Grid__row-cell-background-editing > .controls-Grid__row-cell__contentWrapper > .controls-itemActionsV {
      display: inline-block;
   }
}