.engine-BrowserTabs {
   position: relative;
}

.browserTabs__main-tabs {
   width: auto;
   margin-top: 3px;
}

.browserTabs__middle-area {
   position: absolute;
   top: 0;
   left: 8px;
   height: 24px;
   z-index: 100;
}

.browserTabs__middle-area .ws-SwitchableArea__item > * {
   vertical-align: top;/* fix control's vertical align to top*/
}

.browserTabs__middle-area > * {
   display: inline-block;
   float: left;
}
.controls-operationsPanelButton {
   position: relative;
   margin-left: 10px;
}

.browserTabs__middle-area .browserTabs__middle-areaSplitter:before {
   background: #ccc;
   width: 1px;
   height: 24px;
   content: '\00a0';
   font-size: 1px;
   position: absolute;
   display: inline-block;
   right: -9px;
}