.controls-StickyHeader__background {
   background-color: @background-color_StickyHeader;
}

/*A double selector is needed so that the "position" specified on the block that wraps the StickyHeader does not work.*/
/*Will be fixed by: https://online.sbis.ru/opendoc.html?guid=2c58d954-7fd6-4cb0-8f6a-f17d89622004*/
.controls-StickyHeader.controls-StickyHeader_position {
   position: sticky;
}

.controls-StickyHeader__observationTargetTop,
.controls-StickyHeader__observationTargetBottom {
   left: 0;
   right: 0;
   height: 1px;
   // В safari 13 неправильно рассчитывается ширина, через left: 0; right: 0; Ограничим ее.
   max-width: 1px;
   position: absolute;
}

.controls-StickyHeader__observationTargetTop {
   top: -2px;
}

.controls-StickyHeader__observationTargetBottom {
   bottom: -2px;
}

.controls-StickyHeader__shadow-bottom {
   bottom: -@shadow_height_scroll;
   background: linear-gradient(
      to bottom,
      @shadow_start-color_scroll, @shadow_end-color_scroll
   );
}

.controls-StickyHeader__shadow-top {
   top: -@shadow_height_scroll;
   background: linear-gradient(
      to top,
      @shadow_start-color_scroll, @shadow_end-color_scroll
   );
}
