<div class="demo-Grid">
    <div class="demo-Grid__container">
        <Controls.Container.TreeMassSelector parentProperty="Раздел"
                                             keyProperty="id"
                                             selectedKeys="{{[439491, 452639, 454339]}}">
            <Controls.Container.Scroll attr:class="demo-Grid__wrapper">
                    <Controls.List.MassSelector>
                        <Controls.TreeGrid
                                name="list"
                                attr:class="demo-Grid__control"
                                keyProperty="id"
                                parentProperty="Раздел"
                                nodeProperty="Раздел@"
                                source = "{{_viewSource}}"
                                multiSelectVisibility="visible"
                                columns="{{gridColumns}}">
                        </Controls.TreeGrid>
                    </Controls.List.MassSelector>
            </Controls.Container.Scroll>
        </Controls.Container.TreeMassSelector>
    </div>
</div>
