<div>
   <ws:WSDemo.TestSubControls.TestSubControlChild name="ch1">
      <ws:content>
         <ws:WSDemo.TestSubControls.TestSubControlChild name="ch2"></ws:WSDemo.TestSubControls.TestSubControlChild>
      </ws:content>
   </ws:WSDemo.TestSubControls.TestSubControlChild>
</div>