.controls-LinkHeader {
   display: inline-block;
   padding-left: @link-header-padding-left;
   height: @link-header-height;
   line-height: @link-header-height;
   padding-right: @link-header-padding-right;
}

.controls-LinkHeader a {
   text-decoration: none;
   font: @link-header-caption-font;
   color: @link-header-caption-color;
}

.controls-LinkHeader a:after {
   content: '\E002';
   width: @link-header-caption-after-width;
   font: @link-header-caption-after-font;
   margin-left: @link-header-caption-after-margin-left;
   color: @link-header-caption-after-color;
}

.controls-LinkHeader:hover a{
   color: @link-header-hover-caption-color;
   &:after {
      color: @link-header-hover-caption-after-color;
   }
}

.controls-LinkHeader .Separator {
   display: none;
   margin: @link-header-separator-margin;
   height: @link-header-separator-height;
   width: @link-header-separator-width;
   background-color: @link-header-separator-background-color;
}

.controls-LinkHeader__separator  .Separator{
   display: inline-block;
}