.controls-LinkHeader{
   height: 32px;
   display: table-cell;
   vertical-align: middle;
   padding-left: 8px;
   padding-right: 12px;
}

.controls-LinkHeader__caption a:after{
   content: '>';
   width: 8px;
   font-family: 'TensorFont';
   font-size: 18px;
   margin-left: 4px;
   font-weight: normal;
   color: #313E78;
}

.controls-LinkHeader a{
   text-decoration: none;
   font-family: 'TensorFont Bold';
   font-size: 18px;
   color: #D94700;
}

.controls-LinkHeader__caption:hover a, .controls-LinkHeader__caption:hover a:after{
   color: #FF7033;
}

.controls-LinkHeader__separator{
   height: 16px;
   width: 2px;
   background-color: #000000;
}