<ws:if data="{{enableArrows}}">
   <div class="controls-TextBox__afterFieldWrapper controls-NumberTextBox__afterFieldWrapper">
      <i class="controls-NumberTextBox__arrow icon-ArrowUp icon-primary js-controls-NumberTextBox__arrowUp icon-size"></i>
      <i class="controls-NumberTextBox__arrow icon-ArrowDown icon-primary js-controls-NumberTextBox__arrowDown icon-size"></i>
   </div>
</ws:if>