<span class="controls-BreadCrumbs__arrow icon-16 icon-size icon-DayForward icon-primary action-hover"></span>
<span if="{{item.get('icon')}}" class="{{item.get('icon')}}"></span>
<a class="controls-BreadCrumbs__title" style="{{decorators.apply(item.get('color'), 'color')}}">{{decorators.apply(item.get(displayProperty) || '')|sanitize}}</a>