<span class="controls-BreadCrumbs__crumb js-controls-BreadCrumbs__crumb controls-ListView__item"
     data-hash="{{ projItem.getHash() }}"
     data-id="{{ item.getId() + ''}}"
     title="{{ item.get(displayProperty) }}">
    <ws:partial template="{{itemContent}}" scope="{{...}}" attributes="{{ attributes }}"></ws:partial>
</span>