<div class="controls-MenuItem js-controls-BreadCrumbs__crumb"
     style="{{decorators.apply(record.get(colorField), 'color')}}"
     data-id="{{record.get(idProperty) + ''}}">
   <ws:for data="i in wrappersCount">
      <div class="controls-BreadCrumbs__hierWrapper"></div>
   </ws:for>
   <span class="controls-BreadCrumbs__menuTitle">
      {{ strHelpers.escapeHtml(record.get(displayProperty)) }}
   </span>
</div>