<div class="ws-browse-file ws-hidden">
    <form class="ws-file-browse-form" accept-charset="utf-8" enctype="multipart/form-data" method="POST">
        <input type="file" name="file1"/>
    </form>
</div>