<div class="controls-SuggestV">
    <ws:template name="suggestTpl">
        <Controls.Container.Async templateName="Controls/Layout/Suggest/_SuggestListWrapper" on:itemClick="_select()" on:tabsSelectedKeyChanged="_tabsSelectedKeyChanged()">
            <ws:templateOptions templateName="{{_options.suggestTemplate.templateName}}"
                                templateOptions="{{_options.suggestTemplate.templateOptions}}"
                                searchEndCallback="{{_searchEnd}}"
                                searchStartCallback="{{_searchStart}}"
                                emptyTemplate="{{_options.emptyTemplate}}"
                                source="{{_options.source}}"
                                minSearchLength="{{_options.minSearchLength}}"
                                navigation="{{_options.navigation}}"
                                searchParam="{{_options.searchParam}}"
                                tabsSelectedKey="{{_tabsSelectedKey}}"/>
        </Controls.Container.Async>
    </ws:template>

    <ws:partial template="{{_options.content}}" on:valueChanged="_changeValueHandler()" attr:class="controls-Suggest-Text_style_{{_options.suggestStyle}}"/>

    <div if="{{_options.suggestState}}" class="controls-Suggest__suggestionsContainer controls-Suggest__suggestionsContainer-style-{{_options.suggestStyle}}">
        <ws:if data="{{_options.suggestStyle === 'overInput'}}">
            <Controls.Container.Async templateName="Controls/Button/Close" attr:class="controls-Suggest-close" on:click="_close()"/>
        </ws:if>

        <ws:partial template="suggestTpl"/>

        <ws:if data="{{_isFooterShown}}">
            <Controls.Container.Async templateName="{{ _options.footerTemplate.templateName }}" on:click="_showAllClick()">
                <ws:templateOptions hasMore="{{_searchResult ? _searchResult.hasMore}}"/>
            </Controls.Container.Async>
        </ws:if>
    </div>

    <Controls.Popup.Opener.Stack name="stackOpener">
        <ws:popupOptions template="Controls/Layout/Suggest/Dialog">
            <ws:templateOptions searchValue="{{_searchValue}}">
                <ws:template>
                    <ws:partial template="suggestTpl"/>
                </ws:template>
            </ws:templateOptions>
            <ws:eventHandlers onResult="{{_select}}"/>
        </ws:popupOptions>
    </Controls.Popup.Opener.Stack>

</div>
