<span class="controls-ImportCustomizer-ColumnBinding-View__grid__item__cell {{item.className}}">{{decorators.applyOnly(getCellValue(getColumnVal(item, field), column.field, item, ladder, ladderColumns), {'highlight': column.highlight}) |orEmpty|sanitize}}</span>