.controls-loading-indicator {
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: default;
   user-select: none;
}

.controls-loading-indicator_theme-@{themeName}{
   background-color: @overlay_background-color_loadingIndicator;
}

// Необходимо навесить z-index на индикатор и контент для правильный работы контекста z-index`ов
// Крутилка должна быть всегда выше контента и не завязана на его внутренние z-index'ы
// Добавляю контенту z-index = 17, крутилке z-index = 18.
.controls-loading-indicator_content {
   z-index: 17;
   position: relative;
}

.controls-loading-indicator_local {
   z-index: 18;
}

.controls-loading-indicator_global {
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   z-index: 1000000;/*16777271 2147483647*/
}

.controls-loading-indicator_local {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
}

.controls-loading-indicator_overlay-none {
   background-color: transparent;
   pointer-events: none;
   cursor: auto;
}

.controls-loading-indicator_overlay-dark_theme-@{themeName} {
    background-color: @contrast_overlay_background-color_loadingIndicator;
}

.controls-loading-indicator_sided {
    .justify-content(flex-start);
}

.controls-loading-indicator_sided-left {
    .flex-direction(row);
}

.controls-loading-indicator_sided-right {
    .flex-direction(row-reverse);
}

.controls-loading-indicator_sided-top {
    .flex-direction(column);
}

.controls-loading-indicator_sided-bottom {
    .flex-direction(column-reverse);
}

.controls-loading-indicator-in {
   box-sizing: border-box;
   overflow: hidden;
   cursor: default !important;
   pointer-events: auto;
}

.controls-loading-indicator-in_theme-@{themeName} {
   width: @spinner_l_size_loadingIndicator + 2*@content_l_padding_loadingIndicator;
   height: @spinner_l_size_loadingIndicator + 2*@content_l_padding_loadingIndicator;
   border-radius: @content_l_border_radius_loadingIndicator;
   background: @content_background-color_loadingIndicator @spinner_l_background-image_loadingIndicator 50% 50% no-repeat;
   background-size: @spinner_l_size_loadingIndicator;
   font-size: @font-size_loadingIndicator;
   color: @text-color_loadingIndicator;
}

.controls-loading-indicator_text .controls-loading-indicator-in {
   width: auto;
   white-space: nowrap;
   text-overflow: ellipsis;
   display: flex;
   align-items: center;
}

.controls-loading-indicator_text .controls-loading-indicator-in_theme-@{themeName} {
   min-width: @spinner_l_size_loadingIndicator + 3*@content_l_padding_loadingIndicator;
   padding: 0 @content_l_padding_loadingIndicator 0 (@spinner_l_size_loadingIndicator + 2*@content_l_padding_loadingIndicator);
   background-position:@content_l_padding_loadingIndicator 50%;
}

.controls-loading-indicator_small .controls-loading-indicator-in {
   background-color: transparent;
}

.controls-loading-indicator_small .controls-loading-indicator-in_theme-@{themeName} {
   width: @spinner_s_size_loadingIndicator + 2*@content_s_padding_loadingIndicator;
   height: @spinner_s_size_loadingIndicator + 2*@content_s_padding_loadingIndicator;
   border-radius: (@spinner_s_size_loadingIndicator + 2*@content_s_padding_loadingIndicator)/4;
   background-image: @spinner_s_background-image_loadingIndicator;
   background-size: @spinner_s_size_loadingIndicator;
}
