<div class="controls-GroupRadio{{_options.readOnly ? '_disabled': '_enabled'}}">
    <div class="controls-RadioGroup__wrapper_{{_options.direction}}">
        <ws:for data="item in _items">
            <ws:partial template="tmpl!Controls/Toggle/Radio/resources/ItemTemplate"
                        on:click="selectKeyChanged(item, _options.keyProperty)"
                        attr:class="{{prepareItemClass(item, _items, _options)}}"
                        item="{{item}}"
                        readOnly="{{_options.readOnly}}"
                        selected="{{item.get(_options.keyProperty) === _options.selectedKey}}"
                        captionClass="{{prepareItemCaptionClass(_options)}}"/>
        </ws:for>
    </div>
</div>