.controls-GroupRadio_enabled {
   cursor: pointer;
}

.controls-RadioGroup_default_horizontal {
   padding-left: @spacing-between-radioItems_horizontal;
}

.controls-RadioGroup_default_vertical {
   padding-botton: @spacing-between-radioItems_vertical;
}

.controls-RadioItem_wrapper {
   height: @height_RadioItem;
   .inline-flexbox();
   .align-items(center);
}

.controls-RadioItem_wrapper:before {
   content: '\200b';
}

.controls-RadioItem__caption_size-m {
   font-size: @font-size_RadioItem_size-m;
   padding-left: @spacing-between-radioItem-icon-caption;
}

.controls-RadioItem__caption_size-l {
   font-size: @font-size_RadioItem_size-l;
   font-weight: bold;
   padding-left: @spacing-between-radioItem-icon-caption;
}

.controls-RadioItem__caption_selected_size-m {
   color: @color_RadioItem_caption_selected_size-m;
}

.controls-RadioItem__caption_selected_size-l {
   color: @color_RadioItem_caption_selected_size-l;
}

.controls-RadioItem__caption_unselected_disabled {
   color: @color_RadioItem_caption_unselected_disabled;
}

.controls-RadioItem__caption_unselected_enabled {
   color: @color_RadioItem_caption_unselected_enabled;
}

.controls-RadioGroup__wrapper_horizontal {
   .inline-flexbox();
   .flex-direction(row);
}

.controls-RadioGroup__wrapper_vertical {
   .inline-flexbox();
   .flex-direction(column);
}

.controls-RadioGroup__innerCircle_selected_enabled {
   fill: @fill_RadioGroup_innerCircle_selected_enabled;
}

.controls-RadioGroup__innerCircle_selected_disabled {
   fill: @fill_RadioGroup_innerCircle_selected_disabled;
}

.controls-RadioGroup__innerCircle_unselected {
   fill: @fill_RadioGroup_innerCircle_unselected;
}

.controls-RadioGroup__borderCircle_enabled {
   fill: @fill_RadioGroup_borderCircle_enabled;
}

.controls-RadioGroup__borderCircle_disabled {
   fill: @fill_RadioGroup_borderCircle_disabled;
}

.controls-RadioItem__svg_size {
   width: @width_RadioItem_svg;
   height: @height_RadioItem_svg;
}

.ws-is-no-touch {
   .controls-RadioItem_wrapper:hover {
      .controls-RadioGroup__borderCircle_enabled {
         fill: @fill_RadioGroup_borderCircle_enabled_hovered;
      }

      .controls-RadioItem__caption_unselected_enabled {
         text-decoration: underline;
      }
   }
}