/*group*/
/*ширина кнопки закрытия окна 36px + 2px на небольшой отступ между кнопкой сохранить (в ie8 нет скруглений и кнопки склеиваются)*/
/*ширина кнопки закрытия окна 36px + 90px ширина кнопки сохранить + 2px на небольшой отступ между ними */
.controls-SuggestTextBox .controls-TextBox__afterFieldWrapper {
  width: 22px;
}
.controls-SuggestTextBox .controls-TextBox__afterFieldWrapper .controls-SuggestTextBox__reset {
  margin: 3px 4px;
  color: #8991A9;
}
.controls-SuggestTextBox.controls-SuggestTextBox__withoutCross .controls-TextBox__afterFieldWrapper {
  display: none;
}
.controls-SuggestTextBox.controls-SuggestTextBox__withoutCross .controls-TextBox__afterFieldWrapper + .controls-TextBox__fieldWrapper {
  margin: 0;
}
.controls-SuggestTextBox.ws-disabled .controls-TextBox__afterFieldWrapper {
  display: none;
}
