<div style="{{itemData.groupGridColumnStyle}}">-----<div class="controls-ListView__groupText controls-ListView__groupExpandable {{!itemData.isGroupExpanded ? 'controls-ListView__groupExpandable_collapsed'}}">{{itemData.item}}</div></div>