.controls-ConfirmationTemplate {
   border-top-style: solid;
   border-top-width: @border-width_InformationPopup;
   background: @background-color_InformationPopup;
   box-shadow: @shadow_InformationPopup;
   margin: @spacing_InformationPopup-window;

   &.controls-ConfirmationTemplate__status-default {
      border-top-color: @border-color_InformationPopup_default;
   }

   &.controls-ConfirmationTemplate__status-success {
      border-top-color: @border-color_InformationPopup_success;
   }

   &.controls-ConfirmationTemplate__status-error {
      border-top-color: @border-color_InformationPopup_danger;
   }

   &.controls-ConfirmationTemplate__status-confirm {
      border-top-color: @border-color_InformationPopup_default;
   }

   box-sizing: border-box;
}
.controls-ConfirmationTemplate__body {
   box-sizing: border-box;
   border-left: @border-left_SubmitPopup;
   border-right: @border-right_SubmitPopup;
   border-bottom: @border-bottom_SubmitPopup;
}
.controls-ConfirmationTemplate__main {
   padding: @spacing_SubmitPopup-between-content-border;
}

.controls-ConfirmationTemplate__footer {
   padding: @spacing_SubmitPopup-between-footer-border;
   border-top: @border-top_SubmitPopup-footer;
   background: @background-color_SubmitPopup-footer;
}

.controls-SubmitPopup__size-big {
   width: @width_SubmitPopup-big;
}

.controls-SubmitPopup__size-standard {
   width: @width_SubmitPopup-standard;
}
