<div class="controls-DialogTemplate">
    <div class="controls-DialogTemplate__top-area">
        <div class="controls-DialogTemplate__top-area-content">
            <ws:if data="{{_options.caption}}">
                <span class="controls-DialogTemplate__caption" title="{{_options.caption}}">{{_options.caption}}</span>
            </ws:if>
            <ws:if data="{{_options.topArea}}">
                <ws:partial template="{{_options.topArea}}" scope="{{_options.topAreaOptions}}"></ws:partial>
            </ws:if>
        </div>
        <div class="controls-DialogTemplate__close_button controls-DialogTemplate__close_button_standart" on:click="close()"></div>
    </div>
    <div class="controls-DialogTemplate__content-area">
        <ws:partial template="{{_options.contentArea}}" scope="{{_options.contentAreaOptions}}"></ws:partial>
    </div>
</div>