.controls-DialogTemplate {
   .flexbox();
   .flex-direction(column);
   .flex-grow(1);
   .flex-shrink(1);
   height: 100%;
   background-color: @default-bg-color;
   position: relative;
   overflow: hidden;
   .box-shadow(0 0 12px 0 rgba(0,0,0,.4));
   border: 1px solid #BDBDBD;
}

.controls-DialogTemplate__top-area {
   .flexbox();
   .flex-shrink(0);
   height: 44px;
}

.controls-DialogTemplate__content-area {
   .flexbox();
   .flex-direction(column);
   .flex-grow(1);
   .flex-shrink(1);
   min-height: 1px;
}

.controls-DialogTemplate__top-area-content {
   width: 100%;
   flex-shrink: 1;
   display: flex;
   .align-items(baseline);
   margin: 0 12px;
}

.controls-DialogTemplate__close_button {
   position: relative;
   top: 5px;
   cursor: pointer;
   z-index: 1;
   .flexbox();
   .align-items(center);
   .justify-content(center);
   &:before {
      content: @content_CloseButton_icon;
   }
}

.controls-DialogTemplate__close_button_standart {
   border-style: solid;
   width: @width_CloseButton - extract(@border-width_CloseButton, 2) - extract(@border-width_CloseButton, 4);
   height: @height_CloseButton - extract(@border-width_CloseButton, 1) - extract(@border-width_CloseButton, 3);
   font-family: @default-icon-font;
   line-height: @height_CloseButton;
   font-size: @font-size_CloseButton;
   box-shadow: @box-shadow_CloseButton;
   border-width: @border-width_CloseButton;
   border-color: @border-color_CloseButton;
   border-radius: @border-radius_CloseButton;
   background-color: @background-color_CloseButton;
   &:before {
      color: @color_CloseButton-icon;
      text-shadow: @text-shadow_Button;
   }
   &:active {
      box-shadow: none;
   }
}

.controls-DialogTemplate__caption {
   font-family: TensorFont, sans-serif !important;
   font-size: 18px !important;
   font-weight: 700 !important;
   cursor: default;
   text-overflow: ellipsis;
   overflow: hidden;
   box-sizing: border-box;
   white-space: nowrap;
   max-width: calc(52%);
   line-height: 34px;
   .flex-shrink(1);
   color: #313F78;
}