@secondary_text_color:       @color_Heading_secondary;
@primary_text-color:         @color_Heading_primary;
@unaccented_color:           #999999;

@font-size_xs:        12px;
@font-size_s:         13px;
@font-size_m:         @font-size_Heading__caption_size-s; //14px
@font-size_l:         @font-size_Heading__caption_size-m; //15px
@font-size_xl:        16px;
@font-size_2xl:       17px;
@font-size_3xl:       @font-size_Heading__caption_size-l; //18px
@font-size_4xl:       @font-size_Heading__caption_size-xl; //20px;
@font-size_5xl:       24px;
