//colors
@color0:                #000;
@color1:                #CCC;
@color2:                #999;
@color3:                #E4E4E4;
@color4:                #EAEAEA;
@color5:                #BDBDBD;
@color6:                #313E78;
@color7:                #587AB0;
@color8:                #8991A9;
@color9:                #FFFFFF;
@color10:               #FEC63F;
@color11:               #72BE44;
@color12:               #D94700;
@color13:               #EF463A;
@color14:               #FF7033;
@color15:               #FADADD;
@color16:               #0055BB;
@color17:               #FDECD9;
@color18:               #F0F5FB;
@color19:               #E1ECF6;
@color20:               #FDD2C0;
@color21:               rgba(0, 0, 0, 0.05);
@color22:               rgba(0, 0, 0, 0.08);
@color23:               #F8F8F8;
@color24:               #9122BF;
@color25:               #F3F3F3;
@color50:               #F5F5F5;

@color100:              #DFDFDF;
@color101:              #F2F2F2;
@color102:              #F4F9FD;
@color103:              #FFF9F3;
//не понятен контекст использования, где-то это цвет текста, где-то цвет border'a в readOnly состоянии
@color104:              #999999;

@color_shadow_default:              rgba(0,0,0,.25);
@color_shadow_secondary:            rgba(0,0,0,.4);
@color_shadow_error:                rgba(239, 70, 58, 0.4);
@color_shadow_dark:                 rgba(0, 0, 0, 0.6);

@color201:              #F0F0F0;

@color_warning:                       @color10;
@color_success:                       @color11;
@color_link:                          @color16;
@color_link-hover:                    @color6;
@color_danger:                        @color13;
@color_primaryV:                      @color14;
@color_active-element:                @color_primaryV;
@color_info:                          @color1;
@color_active-element_disabled:		  @color6;
@color_secondary:                     @color7;
@color_unselected:                    @color2;
@color_additional:                    @color8;
@color_readOnly:                      @color1;

@color_text_default:                  @color0;
@color_text_readonly:                 @color_readOnly;
@color_placeholder:                   @color1;
@color_text_additional:               @color2;

@background-color_footer:           @color50;
@background-color_default:          @color9;
@background-color_error:            @color15;
@background_color_editing:          @color25;
@background-color_lite:             @color102;
@background-color_help:             @color103;

@color_border:                      @color1;
@color_border_error:                @color_danger;
@color_border_disabled:             @color3;
@color_border_secondary:            @color5;


@color_Heading_primary:             @color12;
@color_Heading_secondary:           @color6;

//sizes
@thickness_border_default:    1px;


@height_control_default:    24px;
@line-height_default:       18px;
@size_shadow_default:       0 0 12px 0;

@font-size_text_s:     12px;
@font-size_text_m:     14px;
@font-size_text_l:     15px;
@font-size_text_xl:    16px;
@font-size_text_2xl:   17px;
@font-size_text_3xl:   18px;
@font-size_text_4xl:   20px;
@font-size_text_5xl:   24px;

@size_Heading_s:            @font-size_text_m;
@size_Heading_m:            @font-size_text_l;
@size_Heading_l:            @font-size_text_3xl;
@size_Heading_xl:           @font-size_text_4xl;

@spacing_default_xxs:      2px;
@spacing_default_xs:       4px;
@spacing_default_s:        6px;
@spacing_default_m:        8px;
@spacing_default_l:        12px;
@spacing_default_xl:       16px;
@spacing_default_xxl:      24px;

@size_icon_s:              16px;
@size_icon_m:              24px;
@size_icon_l:              32px;

@font-family_icon_size-s:         'cbuc-icons';
@font-family_icon_size-m:         'cbuc-icons24';
@font-family_icon_size-l:         'cbuc-icons';

//
@color_border_input:       @color4;

//
@color_border_Notification_default: @color16;
@size_border_Notification:  3px;

@path_spinner:             url('/cdn/img/common/1.0.0/ajax-loader-indicator.gif');