//colors
@color0:                #000;
@color1:                #CCC;
@color2:                #999;
@color3:                #E4E4E4;
@color4:                #EAEAEA;
@color5:                #BDBDBD;
@color6:                #313E78;
@color7:                #587AB0;
@color8:                #8991A9;
@color9:                #FFFFFF;
@color10:               #FEC63F;
@color11:               #72BE44;
@color12:               #D94700;
@color13:               #EF463A;
@color14:               #FF7033;
@color15:               #FADADD;
@color16:               #0055BB;
@color17:               #FDECD9;
@color18:               #F0F5FB;
@color19:               #E1ECF6;
@color20:               #FDD2C0;
@color21:               rgba(0, 0, 0, 0.05);
@color22:               rgba(0, 0, 0, 0.08);
@color23:               #F8F8F8;
@color24:               #9122BF;
@color25:               #F3F3F3;
@color26:               #e5ecf5;
@color27:               #F4F4F4;
@color50:               #F5F5F5;
@color100:              #DFDFDF;
@color101:              #F2F2F2;
@color102:              #F4F9FD;
@color103:              #FFF9F3;
@color201:              #F0F0F0;

@color_shadow_default:              rgba(0,0,0,.25);
@color_shadow_secondary:            rgba(0,0,0,.4);
@color_shadow_danger:               rgba(239, 70, 58, 0.4);

@color301:              #C2D0DE;
@color302:              #9CB3CA;

@color_warning:                       @color10;
@color_success:                       @color11;
@color_link:                          @color16;
@color_link-hover:                    @color6;
@color_danger:                        @color13;
@color_primaryV:                      @color14;
@color_active-element:                @color_primaryV;
@color_info:                          @color1;
@color_active-element_disabled:		  @color6;
@color_secondary:                     @color7;
@color_unselected:                    @color2;
@color_additional:                    @color8;
@color_readOnly:                      @color1;

@color_text_default:                  @color0;
@color_text_readonly:                 @color_readOnly;
@color_placeholder:                   @color1;
@color_text_additional:               @color2;

@background-color_footer:           @color50;
@background-color_default:          @color9;
@background-color_danger:           @color15;
@background-color_toolbar:          @color26; //используется в пмо и в тулбаре бтра
@background_color_editing:          @color25;
@background-color_additional:       @color23;
@background-color_item_hovered:     @color18;
@background-color_header:           @color27; // Headers in the period dialogs, dropdown and filter panels

@color_border:                      @color1;
@color_border_danger:               @color_danger;
@color_border_disabled:             @color3;
@color_border_secondary:            @color5;

@color_overlay_default:             rgba(0, 0, 0, 0.1);

@color_Heading_primary:             @color12;
@color_Heading_secondary:           @color6;

//sizes
@thickness_border_default:    1px;
@thickness_border_accent:     2px;
@thickness_border_big:        3px;

@height_control_default:    @height_m;
@height_control_l:          @height_xl;

@height_xs:          16px;
@height_s:           18px;
@height_m:           24px;
@height_l:           30px;
@height_xl:          32px;
@height_2xl:         44px;

@line-height_default:       18px;
@line-height_default__2xl:  42px;
@size_shadow_default:       0 0 12px 0;

@border-radius_size_s:        2px;
@border-radius_size_m:        4px;

@font-size_text_s:     12px;
@font-size_text_m:     14px;
@font-size_text_l:     15px;
@font-size_text_xl:    16px;
@font-size_text_2xl:   17px;
@font-size_text_3xl:   18px;
@font-size_text_4xl:   20px;
@font-size_text_5xl:   24px;

@size_Heading_s:            @font-size_text_m;
@size_Heading_m:            @font-size_text_l;
@size_Heading_l:            @font-size_text_3xl;
@size_Heading_xl:           @font-size_text_4xl;

@spacing_default_xxs:      2px;
@spacing_default_xs:       4px;
@spacing_default_xsl:      5px;
@spacing_default_s:        6px;
@spacing_default_m:        8px;
@spacing_default_l:        12px;
@spacing_default_xl:       16px;
@spacing_default_xxl:      24px;
@spacing_default_4xl:      48px;
@spacing_extra_xs:         3px;
@spacing_extra_l:          11px;
@spacing_extra_xl:         20px;

@width_icon_s:                9px;
@width_icon_m:                10px;
@height_icon_s:               11px;
@height_icon_m:               12px;
@height_icon_l:               14px;
@size_icon_mini_xs:           5px;
@size_icon_mini_s:            6px;
@size_icon_xs:                12px;
@size_icon_s:                 16px;
@size_icon_2s:                18px;
@size_icon_m:                 24px;
@size_icon_l:                 32px;

@font-family_icon_size-s:         'cbuc-icons';
@font-family_icon_size-m:         'cbuc-icons24';
@font-family_icon_size-l:         'cbuc-icons';
@font-family_text_default:        'TensorFont', sans-serif;

//period dialog
@color_border_PeriodDialog:       @color4;

// loadingindicator
@path_spinner:             url('/cdn/img/common/1.0.0/ajax-loader-indicator.gif');

// d'n'd
@color_drop-target:                   @color16;

//stack
@color_border_lite:                 @color201;

//tile
@color_shadow_light:                rgba(0,0,0,.15);
@color_shadow_dark:                 rgba(0, 0, 0, 0.5);

//font weigths
@font-weigth_bold:         bold;
@font-weigth_normal:       normal;

//content
@content_empty:            '';
@content_none:             none;
@content_0:                0;
@inherit:                  inherit;
@transparent:              transparent;
@content_closeIcon:        '\e66c';

//icon urls
@backArrowOrangeSmall_icon:          url('img/BackArrowOrangeSmall.svg');
@backArrowOrange_icon:               url('img/BackArrowOrange.svg');
@backArrowBlueSmall_icon:            url('img/BackArrowBlueSmall.svg');
@backArrowBlue_icon:                 url('img/BackArrowBlue.svg');
@breadCrumbs_corner_icon:            url('img/BreadCrumbs_corner.svg');

//corners
@width_corner_m:           13px;
@height_corner_m:          14px;

//border
@border-style_solid:       solid;

//standard dimensions
@height_control_default:      24px;
@height_control_m:            28px;
@height_control_l:            32px;
@height_control_xl:           36px;
@line-height_default:         18px;
@size_shadow_default:         0 0 12px 0;

@min-width_s:                 28px;
@min-width_sl:                29px;
@min-width_m:                 36px;
@min-width_l:                 48px;

@min-height_row_m:            31px;

@max-width_s:                 350px;
@max-width_sm:                400px;
@max-width_sl:                440px;
@max-width_2sl:               600px;
@max-width_m:                 700px;
@max-width_l:                 800px;

@width_control_s:             24px;
@width_control_m:             32px;
@width_button_s:              80px;
@width_button_m:              86px;

//shadows
@shadow21:                 0px 1px 4px @color21;
@shadow_centerTop:         0 -6px 12px;
@shadow_centerBottom:      0 6px 12px;
@shadow_masterList:        4px 0 8px @color_shadow_light;
