@color_warning:                       @warning_color; // дублирует стиль новой спецификации, удаляем
@color_success:                       @success_color; // дублирует стиль новой спецификации, удаляем
@color_link:                          @link_text-color; // дублирует стиль новой спецификации, удаляем
@color_link-hover:                    @link_hover_text-color; // дублирует стиль новой спецификации, удаляем
@color_danger:                        @danger_color; // дублирует стиль новой спецификации, удаляем
@color_primaryV:                      @primary_color; // дублирует стиль новой спецификации, удаляем
@color_primary:                       @primary_color; // дублирует стиль новой спецификации, удаляем
@color_active-element:                @color_primary; // дублирует стиль новой спецификации, удаляем
@color_info:                          @unaccented_icon-color; // дублирует стиль новой спецификации, удаляем
@color_secondary:                     @secondary_color; // дублирует стиль новой спецификации, удаляем
@color_unselected:                    @unaccented_color; // дублирует стиль новой спецификации, удаляем
@color_additional:                    @label_text-color; // дублирует стиль новой спецификации, удаляем
@color_readOnly:                      @readonly_color; // дублирует стиль новой спецификации, удаляем

@color_text_default:                  @text-color; // дублирует стиль новой спецификации, удаляем
@color_text_readonly:                 @readonly_color; // дублирует стиль новой спецификации, удаляем
@color_placeholder:                   @placeholder-color_inputText; // дублирует стиль новой спецификации, удаляем
@color_text_additional:               @unaccented_text-color; // дублирует стиль новой спецификации, удаляем

@thickness_border_default:    @border-thickness; // дублирует стиль новой спецификации, удаляем
@height_control_default:    @inline_height_m; // дублирует стиль новой спецификации, удаляем
@height_control_l:          @inline_height_xl; // дублирует стиль новой спецификации, удаляем
@height_xs:          @inline_height_xs; // дублирует стиль новой спецификации, удаляем
@height_m:           @inline_height_m; // дублирует стиль новой спецификации, удаляем
@height_xl:          @inline_height_xl; // дублирует стиль новой спецификации, удаляем

@font-size_text_s:     @font-size_xs; // дублирует стиль новой спецификации, удаляем
@font-size_text_m:     @font-size_m; // дублирует стиль новой спецификации, удаляем
@font-size_text_l:     @font-size_l; // дублирует стиль новой спецификации, удаляем
@font-size_text_xl:    @font-size_xl; // дублирует стиль новой спецификации, удаляем
@font-size_text_2xl:   @font-size_2xl; // дублирует стиль новой спецификации, удаляем
@font-size_text_3xl:   @font-size_3xl; // дублирует стиль новой спецификации, удаляем
@font-size_text_4xl:   @font-size_4xl; // дублирует стиль новой спецификации, удаляем
@font-size_text_5xl:   @font-size_5xl; // дублирует стиль новой спецификации, удаляем

@size_icon_s:                 @icon-size_s; // дублирует стиль новой спецификации, удаляем
@size_icon_m:                 @icon-size_m; // дублирует стиль новой спецификации, удаляем
@size_icon_l:                 @icon-size_l; // дублирует стиль новой спецификации, удаляем

@font-family_icon_size-s:         @icon_font-family_s; // дублирует стиль новой спецификации, удаляем
@font-family_icon_size-m:         @icon_font-family_m; // дублирует стиль новой спецификации, удаляем
@font-family_icon_size-l:         @icon_font-family_l; // дублирует стиль новой спецификации, удаляем
@font-family_text_default:        @font-family; // дублирует стиль новой спецификации, удаляем

//standard dimensions
@height_control_default:      @inline_height_m; // дублирует стиль новой спецификации, удаляем
@height_control_m:            @inline_height_l; // дублирует стиль новой спецификации, удаляем
@height_control_l:            @inline_height_xl; // дублирует стиль новой спецификации, удаляем
@height_control_xl:           @inline_height_2xl; // дублирует стиль новой спецификации, удаляем

// Button
@border-radius-ToolButton_val:                                    @border-radius_button_toolButton; // дублирует стиль новой спецификации, удаляем
@min-width_Button_common_val:                                     @min-width_button_button; // дублирует стиль новой спецификации, удаляем
@box-shadow-ToolButton_val:                                       @box-shadow_button_toolButton; // дублирует стиль новой спецификации, удаляем
@text-shadow_Button_readOnly_val:                                 @text-shadow_button; // дублирует стиль новой спецификации, удаляем
@text-shadow_Button_button_val:                                   @text-shadow_button; // дублирует стиль новой спецификации, удаляем
@box-shadow_Button_common_val:                                    @box-shadow_button; // дублирует стиль новой спецификации, удаляем
@box-shadow_Button_active_val:                                    @box-shadow_button; // дублирует стиль новой спецификации, удаляем
@box-shadow-ToolButton_activated_val:                             @box-shadow_button; // дублирует стиль новой спецификации, удаляем
@text-shadow_ToolButton_val:                                      @text-shadow_button; // дублирует стиль новой спецификации, удаляем
@text-shadow_ToolButton_readOnly_val:                             @text-shadow_button; // дублирует стиль новой спецификации, удаляем
@background-color-ToolButton_transparent_val:                     @background-color_button_toolButton; // дублирует стиль новой спецификации, удаляем
@border-color-ToolButton_val:                                     @border-color_button_toolButton; // дублирует стиль новой спецификации, удаляем
@border-color-ToolButton_readOnly_val:                            @readonly_border-color_button_toolButton; // дублирует стиль новой спецификации, удаляем
@background-color-ToolButton_val:                                 @background-color_contrast_button_toolButton; // дублирует стиль новой спецификации, удаляем
@background_Button_button_primary_hovered_val:                    @primary_hover_background-color_button; // дублирует стиль новой спецификации, удаляем
@background_Button_secondary_active_val:                          @secondary_active_background-color_button; // дублирует стиль новой спецификации, удаляем
@background_Button_button_primary_active_val:                     @primary_active_background-color_button; // дублирует стиль новой спецификации, удаляем
@background_Button:                                               @primary_background-color_button; // дублирует стиль новой спецификации, удаляем

//Heading
@color_Heading_primary:                                 @primary_text-color_heading; // дублирует стиль новой спецификации, удаляем
@color_Heading_secondary:                               @secondary_text-color_heading; // дублирует стиль новой спецификации, удаляем
@size_Heading_s:                                        @font-size_m; // дублирует стиль новой спецификации, удаляем
@size_Heading_m:                                        @font-size_l; // дублирует стиль новой спецификации, удаляем
@size_Heading_l:                                        @font-size_3xl; // дублирует стиль новой спецификации, удаляем
@size_Heading_xl:                                       @font-size_4xl; // дублирует стиль новой спецификации, удаляем
@font-weight_Heading-caption_val:                       bold;

// DatePicker
@spacing_DatePicker-between-input-button:                                 @trigger-offset_inputDate; // дублирует стиль новой спецификации, удаляем

// InputBase
@spacing_InputBase_between-topBorder-text_val:                            0;
@spacing_InputBase_between-bottomBorder-text_val:                         0;

//InputBase
@spacing_InputBase_between-topBorder-text:           @spacing_InputBase_between-topBorder-text_val;
@spacing_InputBase_between-bottomBorder-text:        @spacing_InputBase_between-bottomBorder-text_val;
@spacing_InputBase_between-leftBorder-text:          @padding-horizontal_inputText; // дублирует стиль новой спецификации, удаляем
@spacing_InputBase_between-rightBorder-text:         @padding-horizontal_inputText; // дублирует стиль новой спецификации, удаляем

@caret-color_InputBase:                              @caret-color_fill_inputText; // дублирует стиль новой спецификации, удаляем

@border-radius_Render_size_s:                               @inline_height_s / 2; // вообще не нужно, удаляем
@border-radius_Render_size_m:                               @inline_height_m / 2; // вообще не нужно, удаляем
@border-radius_Render_size_l:                               @inline_height_l / 2; // вообще не нужно, удаляем
@border-radius_Render_size_default:                         @inline_height_default / 2; // вообще не нужно, удаляем

//input render
@font-weight_Render_fontStyle_primary_size_s_val:                 bold; // вообще не нужно, удаляем
@font-weight_Render_fontStyle_secondary_size_s_val:               bold; // вообще не нужно, удаляем
@font-weight_Render_fontStyle_primary_size_m_val:                 bold; // вообще не нужно, удаляем
@font-weight_Render_fontStyle_secondary_size_m_val:               bold; // вообще не нужно, удаляем
@font-weight_Render_fontStyle_primary_size_l_val:                 bold; // вообще не нужно, удаляем
@font-weight_Render_fontStyle_secondary_size_l_val:               bold; // вообще не нужно, удаляем
@font-weight_Render_fontStyle_primary_size_default_val:           bold; // вообще не нужно, удаляем
@font-weight_Render_fontStyle_secondary_size_default_val:         bold; // вообще не нужно, удаляем
@font-weight_Render_fontStyle_default_size_s_val:                 normal; // вообще не нужно, удаляем
@font-weight_Render_fontStyle_default_size_m_val:                 normal; // вообще не нужно, удаляем
@font-weight_Render_fontStyle_default_size_l_val:                 normal; // вообще не нужно, удаляем
@font-weight_Render_fontStyle_default_size_default_val:           normal; // вообще не нужно, удаляем
@font-weight_Render_fontStyle_default_size_s:               @font-weight_Render_fontStyle_default_size_s_val; // вообще не нужно, удаляем
@font-weight_Render_fontStyle_primary_size_s:               @font-weight_Render_fontStyle_primary_size_s_val; // вообще не нужно, удаляем
@font-weight_Render_fontStyle_secondary_size_s:             @font-weight_Render_fontStyle_secondary_size_s_val; // вообще не нужно, удаляем
@font-weight_Render_fontStyle_default_size_m:               @font-weight_Render_fontStyle_default_size_m_val; // вообще не нужно, удаляем
@font-weight_Render_fontStyle_primary_size_m:               @font-weight_Render_fontStyle_primary_size_m_val; // вообще не нужно, удаляем
@font-weight_Render_fontStyle_secondary_size_m:             @font-weight_Render_fontStyle_secondary_size_m_val; // вообще не нужно, удаляем
@font-weight_Render_fontStyle_default_size_l:               @font-weight_Render_fontStyle_default_size_l_val; // вообще не нужно, удаляем
@font-weight_Render_fontStyle_primary_size_l:               @font-weight_Render_fontStyle_primary_size_l_val; // вообще не нужно, удаляем
@font-weight_Render_fontStyle_secondary_size_l:             @font-weight_Render_fontStyle_secondary_size_l_val; // вообще не нужно, удаляем
@font-weight_Render_fontStyle_default_size_default:         @font-weight_Render_fontStyle_default_size_default_val; // вообще не нужно, удаляем
@font-weight_Render_fontStyle_primary_size_default:         @font-weight_Render_fontStyle_primary_size_default_val; // вообще не нужно, удаляем
@font-weight_Render_fontStyle_secondary_size_default:       @font-weight_Render_fontStyle_secondary_size_default_val; // вообще не нужно, удаляем
// Render
@size_Render-tagStyle_val:                                        @tag-size;

@border-color_input_val:                                          #EAEAEA; // вообще не нужно, удаляем
@border-color-bottom_Render_val:                                  #AAB0C1; // вообще не нужно, удаляем

//DialogTemplate
@height_DialogTemplate-top-area-val:                                      @header-min-height_dialog; // дублирует стиль новой спецификации, удаляем
@height_dialogTemplate_footer_val:                                        @footer_min-height_dialog; // дублирует стиль новой спецификации, удаляем
//background-color
@background-color_dialogTemplate-content:      @background-color_dialog; // дублирует стиль новой спецификации, удаляем
@background-color_dialogTemplate-top-area:     @header_background-color_dialog; // дублирует стиль новой спецификации, удаляем
@background-color_dialogTemplate-footer:       @footer_background-color_dialog; // дублирует стиль новой спецификации, удаляем

//caption
@color_DialogTemplate-caption-secondary:              @secondary_text-color_heading; // дублирует стиль новой спецификации, удаляем
@color_DialogTemplate-caption-primary:               @primary_text-color_heading; // дублирует стиль новой спецификации, удаляем
@color_DialogTemplate-caption-info:                  @text-color; // дублирует стиль новой спецификации, удаляем
@spacing_DialogTemplate-between-caption-border-left: @header_padding-left_dialog; // дублирует стиль новой спецификации, удаляем
@height_dialogTemplate_caption:                      @header-min-height_dialog; // дублирует стиль новой спецификации, удаляем
@line-height_dialogTemplate_caption:                 @line-height_dialogTemplate_caption_val;//TODO убрать после https://online.sbis.ru/opendoc.html?guid=84a9522d-7f33-47c8-8b2e-905cd1acc335

//head
@font-size_dialogTemplate_head:                       @font-size_3xl; // дублирует стиль новой спецификации, удаляем
@font-weight_dialogTemplate_head:                     @font-weight_dialogTemplate_head_val; // дублирует стиль новой спецификации, удаляем
@spacing_dialogTemplate-between-head-border-right:    @spacing_dialogTemplate-between-head-border-right_val; //TODO непонятно
@spacing_DialogTemplate-between-content-close-button: @header-content_padding-right_dialog;  // дублирует стиль новой спецификации, удаляем
@spacing_DialogTemplate-between-border-close-button:  @close-button_padding-top_dialog; // дублирует стиль новой спецификации, удаляем
@height_DialogTemplate-top-area:                      @header-min-height_dialog; // дублирует стиль новой спецификации, удаляем

//border
@color-border_DialogTemplate:             @border-color_dialog; // дублирует стиль новой спецификации, удаляем
@size_DialogTemplate-border:              @border-thickness_dialog; // дублирует стиль новой спецификации, удаляем
@color_DialogTemplate-border-top-footer:  @footer_top-border-color_dialog; // дублирует стиль новой спецификации, удаляем

@height_dialogTemplate_footer:  @footer_min-height_dialog; // дублирует стиль новой спецификации, удаляем
//shadow
@size_DialogTemplate-shadow:     @size_shadow_default; // вообще не нужно, удаляем
@color_DialogTemplate-shadow:    @color_shadow_popup; // вообще не нужно, удаляем

@margin_dialogTemplate_head:                                              0 48px 0 0; //TODO непонятно
@height_dialogTemplate_caption:                                           @header-min-height_dialog; // дублирует стиль новой спецификации, удаляем
@margin-left_dialogTemplate_caption:                                      @header_padding-left_dialog; // дублирует стиль новой спецификации, удаляем
@top_dialogTemplate_compatible_close-button:                              @close-button_padding-top_stack; // дублирует стиль новой спецификации, удаляем
@spacing_StackTemplate-between-header-border:                             39px; //TODO непонятно
@spacing_DialogTemplate-between-header-border:                            40px; //TODO непонятно


// stack
@color_border_lite:                 #F0F0F0;

// StackTemplate
@min-height_StackTemplate-head_val:                               @header_min-height_stack; // дублирует стиль новой спецификации, удаляем
@spacing_StackTemplate-between-maximized-button-content-top_val:  @maximized-button_padding-top_stack; // дублирует стиль новой спецификации, удаляем
@spacing_StackTemplate-between-close-button-border-top_val:       @close-button_padding-top_stack; // дублирует стиль новой спецификации, удаляем
@font-weight_StackTemplate-caption_secondary_val:                 700;  // вообще не нужно, удаляем
@font-weight_StackTemplate-caption_primary_val:                   700;  // вообще не нужно, удаляем
@font-weight_StackTemplate-caption_info_val:                      normal; // вообще не нужно, удаляем
@spacing_StackTemplate-between-caption-border-top_val:            @header_lineheight_stack; // дублирует стиль новой спецификации, удаляем

@background-color_StackTemplate:                               @background-color_stack; // дублирует стиль новой спецификации, удаляем
@min-height_StackTemplate-head:                                @header_min-height_stack; // дублирует стиль новой спецификации, удаляем
@background-color_StackTemplate-head:                          @header_background-color_stack; // дублирует стиль новой спецификации, удаляем
@thickness_StackTemplate-border-bottom:                        @header_bottom-border-thickness_stack; // дублирует стиль новой спецификации, удаляем
@color_StackTemplate-border-bottom:                            @header_bottom-border-color_stack; // дублирует стиль новой спецификации, удаляем

@spacing_StackTemplate-between-close-button-border-top:        @close-button_padding-top_stack; // дублирует стиль новой спецификации, удаляем
@spacing_StackTemplate-between-maximized-button-content-top:   @maximized-button_padding-top_stack; // дублирует стиль новой спецификации, удаляем
@spacing_StackTemplate-between-maximized-button-close-button:  @maximized-button_padding-right_stack; // дублирует стиль новой спецификации, удаляем
@spacing_StackTemplate-between-content-close-button:           @header-content_padding-right_stack; // дублирует стиль новой спецификации, удаляем
@spacing_StackTemplate-between-caption-border-left:            @header_padding-left_stack; // дублирует стиль новой спецификации, удаляем
@spacing_StackTemplate-between-caption-border-top:             @header_lineheight_stack; // дублирует стиль новой спецификации, удаляем

@color_StackTemplate-caption_secondary:                          @secondary_text-color_heading;
@font-size_StackTemplate-caption_secondary:                      @font-size_3xl;
@font-weight_StackTemplate-caption_secondary:                    @font-weight_StackTemplate-caption_secondary_val; // вообще не нужно, удаляем

@color_StackTemplate-caption_primary:                           @primary_text-color_heading; // вообще не нужно, удаляем
@font-size_StackTemplate-caption_primary:                       @font-size_3xl; // вообще не нужно, удаляем
@font-weight_StackTemplate-caption_primary:                     @primary_text-color_heading; // вообще не нужно, удаляем
@color_StackTemplate-caption_info:                            @label_text-color; // вообще не нужно, удаляем
@font-size_StackTemplate-caption_info:                        @font-size_m; // вообще не нужно, удаляем
@font-weight_StackTemplate-caption_info:                      @font-weight_StackTemplate-caption_info_val; // вообще не нужно, удаляем
@background-color_StackTemplate-footer:                        @footer_background-color_stack; // вообще не нужно, удаляем


//Buttons

//Эти стили переехали из кнопки. Т.к. в кнопках они больше не нужны а тоггл их использует
@color_Link_secondary: @color_link;
@color_Link_secondary_hovered:                         @link_hover_text-color;
@color_Link_success: @success_color;
@color_Link_danger: @danger_color;
@color_Link_info: @color_unselected;
@color_Link_warning: @warning_color;
@color_Link_primary: @color_primary;
@spacing_Button-between-icon-and-text: 6px;

//Link
//sizes
@font-size_Link-s:                                     @font-size_xs;
@font-size_Link-m:                                     @font-size_m;
@font-size_Link-default:                               @font-size_l;
@font-size_Link-l:                                     @font-size_l;
@font-size_Link-xl:                                    @font-size_3xl;
@font-size_Button_size_s:                              @font-size_m;
@font-size_Button_size_m:                              @font-size_m;
@font-size_Button_size_default:                        @font-size_m;
@font-size_Button_size_l:                              @font-size_xl;
@color-ToolButton_readOnly:                            @readonly_color;


@border-color_Button_button_primary:                   @primary_color;
@border-color_Button_button_primary_hovered:           @border-color_Button_button_primary;

@border-color_Button_secondary:                        @secondary_color;
@border-color_Button_secondary_hovered:                @secondary_color;

@color-ToolButton__border_iconStyle-secondary_hovered: #ccc;

@border-color_Button_readOnly:                         @readonly_color;
@border-width-ToolButton:                              @thickness_border_default;
@border-style-ToolButton:                              solid;
@border-color-ToolButton:                              @border-color-ToolButton_val;
@border-color-ToolButton_readOnly:                     @border-color-ToolButton_readOnly_val;

@text-shadow_ToolButton:                               @text-shadow_ToolButton_val;
@text-shadow_ToolButton_readOnly:                      @text-shadow_ToolButton_readOnly_val;
@text-shadow_Button_button:                            @text-shadow_Button_button_val;
@text-shadow_Button_readOnly:                          @text-shadow_Button_readOnly_val;

@box-shadow_Button_common:                             @box-shadow_Button_common_val;
@box-shadow_Button_active:                             @box-shadow_Button_active_val;
@box-shadow-ToolButton:                                @box-shadow-ToolButton_val;
@box-shadow-ToolButton_activated:                      @box-shadow-ToolButton_activated_val;


@background_Button_button_primary:                     @background_Button;
@background_Button_button_primary_hovered:             @background_Button_button_primary_hovered_val;
@background_Button_button_primary_active:              @background_Button_button_primary_active_val;
@background_Button-primary_readOnly:                   @background_Button;

@background_Button_secondary:                          @background_Button;
@background_Button_secondary_hovered:                  @secondary_hover_background-color_button;
@background_Button_secondary_active:                   @background_Button_secondary_active_val;
@background_Button-secondary_readOnly:                 @background_Button;

@background-color-ToolButton:                          @background-color-ToolButton_val;
@background-color-ToolButton_transparent:              @background-color-ToolButton_transparent_val;
@background-color-ToolButton_hovered:                  @background-color-ToolButton;
@background-color-IconButton_transparent_hovered:      @background-color-ToolButton_transparent;

@height_Button_size_s:                                 @inline_height_default;
@height_Button_size_m:                                 @inline_height_default;
@height_Button_size_default:                           @inline_height_default;
@height_Button_size_l:                                 @inline_height_2xl;

@height-ToolButton_size-s:                             @inline_height_default;
@height-ToolButton_size-m:                             @inline_height_m;
@height-ToolButton_size-default:                       @inline_height_m;
@height-ToolButton_size-l:                            @icon-size_l;

@border-radius_Button_size_s:                          @border-radius_m_button;
@border-radius_Button_size_m:                          @border-radius_m_button;
@border-radius_Button_size_default:                    @border-radius_default_button;
@border-radius_Button_size_l:                          @border-radius_2xl_button;
@border-radius-ToolButton:                             @border-radius-ToolButton_val;

@width-ToolButton_size-s:                              @height-ToolButton_size-s;
@width-ToolButton_size-m:                              @height-ToolButton_size-m;
@width-ToolButton_size-default:                        @height-ToolButton_size-m;
@width-ToolButton_size-l:                              @height-ToolButton_size-l;

@min-width_Button_common:                              @min-width_Button_common_val;

//common
@thickness_Button__border:                             @border-thickness;

@padding_Button-wrapper_size_s:                        0 12px - @thickness_Button__border;
@padding_Button-wrapper_size_m:                        0 12px - @thickness_Button__border;
@padding_Button-wrapper_size_default:                  0 12px - @thickness_Button__border;
@padding_Button__wrapper_size_l:                       0 24px - @thickness_Button__border;

//for support link with magic color, delete when complete https://online.sbis.ru/opendoc.html?guid=b8228090-19fe-454b-992f-bf31d9e96ca5
@color_Link_magic:                                     @color_Link_magic_val;

// ToggleButton
@background_ToggleButton_common_val:                                      @secondary_background-color_toggleButton_pushButton;
@border-color_ToggleButton_common_val:                                    transparent;
@background_ToggleButton_pushButton_hovered_val:                          @secondary_contrast_hover_background-color_toggleButton_pushButton;
@border-color_ToggleButton_pushButton_hovered_val:                        #F0F5FB;
@background_ToggleButton_pushButton_toggled_val:                          @secondary_toggled_background-color_toggleButton_pushButton;
@text-shadow_ToggleButton_pushButton_val:                                  none;
@padding_Button-wrapper-pushButton_size_s_val:                            0;


@background_ToggleButton_common:                                                    @background_ToggleButton_common_val;
@border-color_ToggleButton_common:                                                  @border-color_ToggleButton_common_val;

//toggle link
@thickness_ToggleButton-border_pushButton:                                         @thickness_border_default;
@border-radius_ToggleButton_pushButton:                                            @border-radius-ToolButton;
@color_ToggleButton_pushButton_readOnly:                                           @readonly_color;

@border-color_ToggleButton_pushButton_readOnly:                                    @border-color_ToggleButton_common;
@background_ToggleButton_pushButton_readOnly:                                      @background_ToggleButton_common;

@border-color_ToggleButton_pushButton_readOnly_toggled:                            @readonly_color;
@background_ToggleButton_pushButton_readOnly_toggled:                              @background_ToggleButton_common;

@border-color_ToggleButton_pushButton:                                             @border-color_ToggleButton_common;
@background_ToggleButton_pushButton:                                               @background_ToggleButton_common;

@background_ToggleButton_pushButton_toggled:                                       @background_ToggleButton_pushButton_toggled_val;

@height_ToggleButton-pushButton_s:                                                 @height-ToolButton_size-s;
@min-width_ToggleButton-pushButton_s:                                              @height_ToggleButton-pushButton_s;

@height_ToggleButton-pushButton_m:                                                 @height-ToolButton_size-m;
@min-width_ToggleButton-pushButton_m:                                              @height_ToggleButton-pushButton_m;

@height_ToggleButton-pushButton_l:                                                 @height-ToolButton_size-l;
@min-width_ToggleButton-pushButton_l:                                              @height_ToggleButton-pushButton_l;

@color_ToggleButton-icon_pushButton_secondary_hovered:                             @link_hover_text-color;
@color_ToggleButton_pushButton-text:                                               @text-color;
@background_ToggleButton_pushButton_hovered:                                       @background_ToggleButton_pushButton_hovered_val;
@border-color_ToggleButton_pushButton_hovered:                                     @border-color_ToggleButton_pushButton_hovered_val;

@border-color_ToggleButton_toggle_on-info:                  @unaccented_icon-color;
@border-color_ToggleButton_toggle_on-secondary:             @secondary_color;
@border-color_ToggleButton_toggle_on-primary:               @color_primary;
@border-color_ToggleButton_toggle_on-danger:     @danger_color;
@border-color_ToggleButton_toggle_on-success:    @success_color;
@border-color_ToggleButton_toggle_on-warning:    @warning_color;

@color_ToggleButton_icon-info_toggle_on:          @unaccented_icon-color;
@color_ToggleButton_icon-secondary_toggle_on:     @secondary_color;
@color_ToggleButton_icon-primary_toggle_on:       @color_primary;
@color_ToggleButton_icon-danger_toggle_on:        @danger_color;
@color_ToggleButton_icon-success_toggle_on:       @success_color;
@color_ToggleButton_icon-warning_toggle_on:       @warning_color;

@color_ToggleButton_pushButton-text: @text-color;
@color_ToggleButton_toolButton-text: @text-color;

@text-shadow_ToggleButton_pushButton: @text-shadow_ToggleButton_pushButton_val;

@padding_Button-wrapper-pushButton_size_s: @padding_Button-wrapper-pushButton_size_s_val;
@padding_Button-wrapper-pushButton_size_m: @padding_Button-wrapper-pushButton_size_s;
@padding_Button-wrapper-pushButton_size_l: @padding_Button-wrapper-pushButton_size_s;

@font-size_ToggleButton-pushButton_s: @font-size_m;
@font-size_ToggleButton-pushButton_m: @font-size_m;
@font-size_ToggleButton-pushButton_l: @font-size_m;
//Switcher
@font-size_Switch:                  @font-size_switcher;
@font-size_DoubleSwitch:            @font-size_switcher;
@width_Switch:                      @width_switcher;
@height_Switch:                     @height_switcher;
@width_Switch__border:              @border-thickness_switcher;
@color_Switch__border:              @border-color_switcher;
@size_Switch__border-radius:        @border-radius_switcher;
@thickness_Switch-track:            @track_thickness_switcher;
@length_Switch-track:               @track_length_switcher;
@spacing_Switch-between-toggle-text: @text_offset_switcher;

@background-color_Switch-track__enabled:    @track_color_switcher;
@background-color_Switch-track__disabled:   @readonly_track_color_switcher;

@color_Switch-text__enabled_selected:       @text-color_switcher;
@color_Switch-text__enabled_unselected:     @unselected_text-color_switcher;
@color_Switch-text__disabled_selected:      @readonly_text-color_switcher;
@color_Switch-text__disabled_unselected:    @readonly_unselected_text-color_switcher;

@thickness_ToggleCircle-borderCircle-border: @marker-box_border-thickness_switcher;
@color_ToggleCircle_innerCircle__selected_enabled: @marker_color_switcher;
@color_ToggleCircle_innerCircle__selected_disabled: @readonly_marker_color_switcher;

@color_ToggleCircle_outerCircle__enabled:          @marker-box_border-color_switcher;
@color_ToggleCircle_outerCircle__enabled_hovered:  @marker-box_hover_border-color_switcher;
@color_ToggleCircle_outerCircle__disabled:         @readonly_marker-box_border-color_switcher;

@width_ToggleCircle:            @marker-box_size_switcher;
@height_ToggleCircle:           @marker-box_size_switcher;
@size_Switch__ToggleCircle:     @marker-box_size_switcher;


//BigSeparator
@size-BigSeparator__icon:                               @icon-size_toggleBigSeparator; // дублирует стиль новой спецификации, удаляем
@color_BigSeparator-icon:                               @icon-color_toggleBigSeparator; // дублирует стиль новой спецификации, удаляем
@color_BigSeparator-icon_hovered:                       @icon-color_hover_toggleBigSeparator; // дублирует стиль новой спецификации, удаляем

// Button/Separator
@size-Separator:                                                  @height_toggleSeparator;  // дублирует стиль новой спецификации, удаляем
@size-Separator__icon:                                            @icon-size_toggleSeparator; // дублирует стиль новой спецификации, удаляем
@color-Separator__icon_style-secondary:                           @secondary_icon-color_toggleSeparator; // дублирует стиль новой спецификации, удаляем
@color-Separator__icon_style-primary:                             @primary_icon-color_toggleSeparator; // дублирует стиль новой спецификации, удаляем
@color-Separator__icon_style-additional:                          @unaccented_icon-color_toggleSeparator; // дублирует стиль новой спецификации, удаляем
@color-Separator__icon_style-secondary_hovered:                   @secondary_hover_icon-color_toggleSeparator; // дублирует стиль новой спецификации, удаляем
@color-Separator__icon_style-primary_hovered:                     @primary_hover_icon-color_toggleSeparator; // дублирует стиль новой спецификации, удаляем
@color-Separator__icon_style-additional_hovered:                  @unaccented_hover_icon-color_toggleSeparator; // дублирует стиль новой спецификации, удаляем

//Combobox
@margin-top_ComboBox-popup:                     -@border-thickness_inputText;
@spacing_ComboBox-between-arrow-rightBorder:    @trigger_padding-right_combobox;

//Dropdown:Input
@border-width_Dropdown-style_invalid:              @invalid_border-thickness_dropdownSelector;
@border-color_Dropdown-style_invalid:              @invalid_border-color_dropdownSelector;
@color_Dropdown-emptyItem:                         @empty-item_text-color_dropdownSelector;
@spacing_Dropdown-between-icon-text:               @icon_offset_dropdownSelector;
@height_Dropdown:                                  @height_dropdownSelector;
@font-size_DropdownList-text:                      @font-size_default_dropdownSelector;
@font-size_DropdownList-text-baseline:             @font-size_default_dropdownSelector;
@shift-top_Dropdown-popup:                         -((@item_height_menu - @height_dropdownSelector) / 2 + @popup_padding-vertical_dropdown + @popup_border-thickness_dropdown);
@shift-top_Dropdown-head-popup:                    -(@popup_border-thickness_dropdown + @item_padding-horizontal_l_menu);
@shift-left_Dropdown-popup:                        -(@popup_border-thickness_dropdown + @click-area_width_checkbox);
@color_Dropdown-icon-iconStyle_secondary_hovered:  @link_hover_text-color;
@color_Dropdown-text:                              @link_text-color;
@color_Dropdown-text_hovered:                      @link_hover_text-color;
@color_Dropdown-icon-iconStyle_secondary_hovered:  @link_hover_text-color;

//Menu
@max-width_DropdownList:                                                @popup_max-width_dropdown;
@background_DropdownList:                                               @popup_background-color_dropdown;

@border-width_DropdownList:                                             @popup_border-thickness_dropdown;
@border-color_DropdownList:                                             @popup_border-color_dropdown;

@spacing_DropdownList-between-topBorder-content:                        @popup_padding-vertical_dropdown;
@spacing_DropdownList-between-bottomBorder-content:                     @popup_padding-vertical_dropdown;
@spacing_DropdownList-item-between-leftBorder-content:                  @item_padding-horizontal_l_menu;
@spacing_DropdownList-item-between-rightBorder-content:                 @item_padding-horizontal_l_menu;
@spacing_DropdownList-withNodes-item-between-rightBorder-content:       @hierarchy_icon_offset-right_menu + @hierarchy_icon-size_menu + @hierarchy_icon_offset-left_menu;
@spacing_DropdownList_withClose-item-between-rightBorder-content:       @close-button_offset-left_menu + @width_closeButton_link + @close-button_offset-right_menu;
@spacing_DropdownList-withPin-item-between-rightBorder-content:         @pin-button_offset-left_menu + @pin-button_icon-size_menu + @pin-button_offset-right_menu;

@box-shadow-color_DropdownList:                                   @popup_box-shadow-color_dropdown;
@height_DropdownList-row:                                         @item_height_menu;
@font-size_DropdownList:                                          @item_font-size_menu;
@color_DropdownList__row-text_readOnly:                           @readonly_item_text-color_menu;
@background_DropdownList-row_hover:                               @item_hover_background-color_menu;
@background_DropdownList-row_active:                              @item_active_background-color_menu;

@spacing_DropdownList-item-between-topBorder-text:                @item_padding-top_menu;
@spacing_DropdownList-item-between-bottomBorder-text:             @item_padding-bottom_menu;
@font-size_DropdownList-row-additionalText-content:               @font-size_xs;
@color_DropdownList-row-additionalText-content:                   @unaccented_text-color;

@spacing_DropdownList-item-between-icon-text:                     @item_icon_offset_menu;
@color_DropdownList-icon-iconStyle_primary:                       @primary_color;
@color_DropdownList-icon-iconStyle_secondary:                     @secondary_color;
@color_DropdownList-icon-iconStyle_warning:                       @warning_color;
@color_DropdownList-icon-iconStyle_danger:                        @danger_color;
@color_DropdownList-icon-iconStyle_success:                       @success_color;
@color_DropdownList-icon-iconStyle_info:                          @unaccented_icon-color;

@background_DropdownList-marker:                                  @marker_color_menu;
@width_DropdownList-marker:                                       @marker_width_menu;
@height_DropdownList-marker:                                      @marker_height_menu;

@background_DropdownList-header:                                  @header_background-color_dropdown;
@spacing_DropdownList-header-between-icon-text:                   @item_icon_offset_menu;
@color_DropdownList-heading:                                      @secondary_text-color;

@shift-top_DropdownList-submenu:                            -(@popup_padding-vertical_dropdown + @popup_border-thickness_dropdown);

@icon-size_DropdownList-arrow:                              @hierarchy_icon-size_menu;
@color_DropdownList-arrow:                                  @hierarchy_icon-color_menu;
@color_DropdownList-arrow_readOnly:                         @readonly_hierarchy_icon-color_menu;
@spacing_DropdownList-item-between-arrow-topBorder:         (@item_height_menu - @hierarchy_icon-size_menu) / 2;
@spacing_DropdownList-item-between-arrow-rightBorder:       @hierarchy_icon_offset-right_menu;

//cross
@spacing_DropdownList-between-close-rightBorder:      @close-button_offset-right_menu + @popup_border-thickness_dropdown;
@spacing_DropdownList-between-close-topBorder:        @close-button_offset-top_menu + @popup_border-thickness_dropdown;

@height_DropdownList-arrowSeparator:                  @icon-size_toggleBigSeparator;

//grouping
@thickness_DropdownList-group-separator:                       @grouping_separator_thickness_menu;
@height_DropdownList-group-separator:                          @grouping_separator_thickness_menu;
@color_DropdownList-group-separator:                           @grouping_separator_color_menu;

@spacing_DropdownList-group-between-content-topBorder:         @grouping_padding-vertical_menu;
@spacing_DropdownList-group-between-content-rightBorder:       @grouping_padding-horizontal_menu;
@spacing_DropdownList-group-between-content-bottomBorder:      @grouping_padding-vertical_menu;
@spacing_DropdownList-group-between-content-leftBorder:        @grouping_padding-horizontal_menu;
@spacing_DropdownList-group-between-text-separator:            @grouping_padding-horizontal_menu;

@color_DropdownList-group-text:                                @grouping_text-color_menu;
@font-size_DropdownList-group-text:                            @grouping_font-size_menu;

// checkbox
@spacing_DropdownList-row-between-checkbox-topBorder:          @spacing_default_xs;
@spacing_DropdownList-row-between-checkbox-rightBorder:        @spacing_DropdownList-row-between-checkbox-rightBorder_val;

//row separator
@background-color_DropdownList-row_separator:                  @item_separator_color_menu;
@height_DropdownList-row-separator:                            @item_separator_thickness_menu;
@spacing_DropdownList-row-between-leftBorder-row-separator:    @item_separator_padding-horizontal_menu;
@spacing_DropdownList-row-between-rightBorder-row-separator:   @item_separator_padding-horizontal_menu;
@spacing_DropdownList-row-between-bottomBorder-row-separator:  0;

@min-height_DropdownList-footer:                                           @footer_min-height_dropdown;
@spacing_DropdownList-between-footer-bottomBorder:                         @popup_padding-vertical_dropdown;

@spacing_DropdownList-between-applyButton-rightBorder:                     @apply-button_offset_dropdown;
@spacing_DropdownList-between-applyButton-footerContent:                   @apply-button_offset_dropdown;
@spacing_DropdownList-between-moreButton-leftBorder:                       @item_padding-horizontal_l_menu;
@spacing_DropdownList_multiSelect-between-moreButton-leftBorder:           @click-area_width_checkbox;

@box-shadow-size_DropdownList-shadowStyle_center:                 0 0 @popup_box-shadow-offset_dropdown 0;
@box-shadow-size_DropdownList-shadowStyle_centerBottom-left:      -@popup_box-shadow-offset_dropdown 0 @popup_box-shadow-blur_dropdown -@popup_box-shadow-offset_dropdown;
@box-shadow-size_DropdownList-shadowStyle_centerBottom-right:     @popup_box-shadow-offset_dropdown 0 @popup_box-shadow-blur_dropdown @popup_box-shadow-offset_dropdown;
@box-shadow-size_DropdownList-shadowStyle_centerBottom-bottom:    0 @popup_box-shadow-offset_dropdown @popup_box-shadow-blur_dropdown @popup_box-shadow-offset_dropdown;
@box-shadow-size_DropdownList-shadowStyle_centerTop-left:         -@popup_box-shadow-offset_dropdown 0 @popup_box-shadow-blur_dropdown @popup_box-shadow-offset_dropdown;
@box-shadow-size_DropdownList-shadowStyle_centerTop-right:        @popup_box-shadow-offset_dropdown 0 @popup_box-shadow-blur_dropdown @popup_box-shadow-offset_dropdown;
@box-shadow-size_DropdownList-shadowStyle_centerTop-top:          0 -@popup_box-shadow-offset_dropdown @popup_box-shadow-blur_dropdown @popup_box-shadow-offset_dropdown;

@spacing_DropdownList-iconSize_medium-between-iconHead-topBorder:          @popup_padding-vertical_dropdown + @popup_border-thickness_dropdown + (@item_height_menu - @icon-size_m) / 2;
@spacing_DropdownList-iconSize_medium-between-iconHead-leftBorder:         @item_padding-horizontal_l_menu + @popup_border-thickness_dropdown;
@spacing_DropdownList-iconSize_small-between-iconHead-topBorder:           @popup_padding-vertical_dropdown + @popup_border-thickness_dropdown + (@item_height_menu - @icon-size_s) / 2;
@spacing_DropdownList-iconSize_small-between-iconHead-leftBorder:          @item_padding-horizontal_l_menu + @popup_border-thickness_dropdown;

//HistoryMenu
@color_HistoryMenu-pin:                                        @pin-button_icon-color_menu;
@color_HistoryMenu-pin_hovered:                                @pin-button_hover_icon-color_menu;
@spacing_HistoryMenu-between-itemCaption-rightBorder:          @pin-button_offset-left_menu + @pin-button_icon-size_menu + @pin-button_offset-right_menu;
@spacing_HistoryMenu-between-pin-rightBorder:                  @pin-button_offset-right_menu;
@icon-size_HistoryMenu-pin:                                    @pin-button_icon-size_menu;

//MenuPopup
@spacing_MenuButton-between-leftBorder-content:      -(@spacing_default_l + @thickness_border_default);

@shift-top_MenuButton-button-popup:                  -((@item_height_menu - @inline_height_m_button) / 2 + @popup_border-thickness_dropdown);
@shift-left_MenuButton-button-popup:                 -(@popup_border-thickness_dropdown + @item_padding-horizontal_l_menu - @padding-horizontal_m_button);

@shift-top_MenuButton-button_default-popup:          @shift-top_MenuButton-button-popup;
@shift-left_MenuButton-button_default-popup:         @shift-left_MenuButton-button-popup;

@shift-top_MenuButton-button_large-popup:            -((@item_height_menu - @inline_height_l_button) / 2 + @popup_border-thickness_dropdown);
@shift-left_MenuButton-button_large-popup:           -(@popup_border-thickness_dropdown + @item_padding-horizontal_l_menu - @padding-horizontal_l_button);

@shift-top_MenuButton-button_medium-popup:           -((@item_height_menu - @inline_height_m_button) / 2 + @popup_border-thickness_dropdown);

@shift-top_MenuButton-link-popup:                    -((@item_height_menu - @inline_height_default_link_button) / 2 + @popup_border-thickness_dropdown); // ???
@shift-left_MenuButton-link-popup:                   @spacing_MenuButton-between-leftBorder-content;

@shift-top_MenuButton-link_large-popup:              -((@item_height_menu - @inline_height_l_button) / 2 + @popup_border-thickness_dropdown);

@shift-top_MenuButton-toolButton_large-popup:        -((@item_height_menu - @inline_height_xl_button) / 2 + @popup_border-thickness_dropdown);
@shift-left_MenuButton-toolButton_large-popup:       -(@popup_border-thickness_dropdown + @item_padding-horizontal_l_menu - ((@inline_height_xl_button - @icon-size_l) / 2));

@shift-top_MenuButton-toolButton_medium-popup:       -((@item_height_menu - @inline_height_l_button) / 2 + @popup_border-thickness_dropdown - ((@inline_height_l_button - @icon-size_m) / 2));
@shift-left_MenuButton-toolButton_medium-popup:      @spacing_MenuButton-between-leftBorder-content + (@inline_height_l_button - @icon-size_m) / 2;

@shift-top_MenuButton-toolButton_small-popup:        -((@item_height_menu - @inline_height_m_button) / 2 + @popup_border-thickness_dropdown - ((@inline_height_m_button - @icon-size_s) / 2));
@shift-left_MenuButton-toolButton_small-popup:       @spacing_MenuButton-between-leftBorder-content + (@inline_height_m_button - @icon-size_s) / 2;

@shift-top_MenuButton-toolButton_default-popup:      @shift-top_MenuButton-toolButton_small-popup;
@shift-left_MenuButton-toolButton_default-popup:     @shift-left_MenuButton-toolButton_small-popup;

@shift-top_MenuButton-link_small-popup:              @shift-top_MenuButton-link-popup;
@shift-left_MenuButton-link_small-popup:             @shift-left_MenuButton-link-popup;

@shift-top_MenuButton-link_medium-popup:             -((@item_height_menu - @icon-size_m) / 2 + @popup_border-thickness_dropdown);
@shift-left_MenuButton-link_medium-popup:            @spacing_MenuButton-between-leftBorder-content;

@shift-top_MenuButton-link_duplicate_medium-popup:   -@spacing_DropdownList-iconSize_medium-between-iconHead-topBorder;
@shift-left_MenuButton-link_duplicate_medium-popup:  -@spacing_DropdownList-iconSize_medium-between-iconHead-leftBorder;

@shift-top_MenuButton-link_duplicate_small-popup:    -@spacing_DropdownList-iconSize_small-between-iconHead-topBorder + @border-width_DropdownList;
@shift-left_MenuButton-link_duplicate_small-popup:   -@spacing_DropdownList-iconSize_small-between-iconHead-leftBorder;

// FIXME
@color_DropdownList-emptyItem:                           @readonly_color;

//last line
