.controls-DateRangeRelationButton_normal_theme-@{themeName} {
   color: @color_DateRangeRelationButton-normal;
}

.controls-DateRangeRelationButton {
   cursor: pointer;
   display: inline-block;
}

.controls-DateRangeRelationButton_byCapacity_theme-@{themeName} {
   color: @color_DateRangeRelationButton-byCapacity;
}

.ws-is-hover {
   .controls-DateRangeRelationButton_byCapacity_theme-@{themeName}:hover {
      color: @color_DateRangeRelationButton-byCapacity_hovered;
   }

   .controls-DateRangeRelationButton_normal_theme-@{themeName}:hover {
      color: @color_DateRangeRelationButton-normal_hovered;
   }
}
