.controls-DateRangeRelationButton_normal_theme-@{themeName} {
   color: @toggled_icon-color_dateRangeRelationButton;
}

.controls-DateRangeRelationButton {
   cursor: pointer;
   display: inline-block;
}

.controls-DateRangeRelationButton_byCapacity_theme-@{themeName} {
   color: @icon-color_dateRangeRelationButton;
}

.ws-is-hover {
   .controls-DateRangeRelationButton_byCapacity_theme-@{themeName}:hover {
      color: @hover_icon-color_dateRangeRelationButton;
   }

   .controls-DateRangeRelationButton_normal_theme-@{themeName}:hover {
      color: @toggled_hover_icon-color_dateRangeRelationButton;
   }
}
