<div class="controls-FieldLink__item controls-ListView__item {{className|orEmpty}}"
     data-hash="{{ projItem.getHash() }}"
     data-id="{{ item.getId() + '' }}"
     style="order: {{ needSort ? ((itemsCount || 0) - projItem.getOwner().getIndexByInstanceId(projItem.getInstanceId())) : 0 }}">
    <span class="controls-FieldLink__item-caption" title="{{ needTitle ? item[displayProperty] }}">
        <ws:partial template="{{itemContent}}" scope="{{...}}"></ws:partial>
    </span>
    <span class="controls-FieldLink__item-cross icon-16 icon-size icon-Close icon-disabled"/>
</div>

