<ws:Controls.Popup.Opener.Dialog name="opener" onResult="{{_resultHandler}}">
    <ws:popupOptions template="js!Controls/ConfirmationWindow/Dialog" isModal="{{true}}"></ws:popupOptions>
</ws:Controls.Popup.Opener.Dialog>