<ws:Controls.Popup.Opener.Dialog name="opener">
    <ws:popupOptions template="js!Controls/ConfirmationWindow/Dialog" isModal="{{true}}">
        <ws:eventHandlers onResult="{{_openerResultHandler}}"/>
    </ws:popupOptions>
</ws:Controls.Popup.Opener.Dialog>