.controls-HierarchyDataGrid {

  &__expand {
    height: 20px;
  }

  &__PathSelector__block {
    margin-bottom: 4px;

    &__arrow {
      height: 13px;
    }

    &__point {
      line-height: 17px;
      color: #0055BB;

      &:hover{
        text-decoration: underline;
      }

      &--current {
        font-size: 15px;
        color: #000;

        &:hover{
          text-decoration: none;
        }

      }
    }

  }

}