<ws:SBIS3.CONTROLS.DateRangeBigChoose.MonthView
   className="controls-DateRangeBigChoose-DateRangePicker__item"
   captionType="text"
   captionFormat="%B"
   showWeekdays="{{false}}"
   rangeselect="{{rangeselect}}"
   month="{{item.get('date').toSQL()}}"
/>
