<div class="controls-operationsPanel controls-operationsPanel__massMode {{visible ? ' ws-hidden'}} {{hasItemsMenu ? ' controls-operationsPanel_withItemsMenu'}}">
    <div class="controls-operationsPanel__actions"></div>
</div>