.controls-operationsPanel-modes() {
   &.controls-operationsPanel__massMode {
      .controls-operationsPanel__actionType-selection {
         display: none;
      }
   }
   &.controls-operationsPanel__selectionMode {
      .controls-operationsPanel__actionType-mass {
         display: none;
      }
   }
}

.controls-operationsPanel {
   .user-select();
   overflow: hidden;
   line-height: @controls-OperationsPanel-height;

   .controls-operationsPanel__wrapper {
      height: @controls-OperationsPanel-height;
      position: relative;
      width: 100%;

      .controls-operationsPanel__wrapper-background {
         width: 100%;
         position: absolute;
         white-space: nowrap;
         background-color: @controls-OperationsPanel-bg;
      }

       .controls-operationsPanel__actionMark, .controls-operationsPanel__actions {
         .inline-flexbox();
         .align-items(center);
         height: @controls-OperationsPanel-height;
      }
      
      .controls-operationsPanel__actionMark {
         padding-left: @controls-OperationsPanel-actions-padding-left;
         &:after {
            margin-left: @controls-OperationsPanel-separator-margin-left;
            margin-right: @controls-OperationsPanel-separator-margin-right;
            background: @controls-OperationsPanel-separator-bg;
            width: @controls-OperationsPanel-separator-width;
            height: @controls-OperationsPanel-separator-height;
            content: '\00a0';
            font-size: 1px;
            display: inline-block;
            line-height: @controls-OperationsPanel-separator-line-height;
         }
      }

      .controls-operationsPanel-modes();
      .controls-operationsPanel__actionType-mass,
      .controls-operationsPanel__actionType-selection,
      .controls-operationsPanel__actionType-mark,
      .controls-operationsPanel__actionType-all {
         margin: @controls-OperationsPanel-actions-margin;
      }
   }

   &.controls-operationsPanel_withItemsMenu {
      .controls-operationsPanel__wrapper {
         .controls-operationsPanel__itemsMenu {
            display: inline-block;
            bottom: 2px;
         }

         .controls-operationsPanel__actions {
            margin-right: 26px;
         }
      }
   }

   .controls-operationsPanel__wrapper {
      .controls-operationsPanel__container {
         position: relative;
         display: inline;
      }

      .controls-operationsPanel__actionMark,
      .controls-operationsPanel__actionType-mass,
      .controls-operationsPanel__actionType-selection,
      .controls-operationsPanel__actionType-all {
         float: left;
      }
   }
}

.controls-operationsPanel__itemsMenu_picker .controls-PopupMixin__closeButton,
.controls-operationsPanel__itemsMenu_picker .controls-PopupMixin__closeButton:hover{
   background: none;
   top: 7px;
   right: -6px;
}

.controls-operationsPanel__itemsMenu_picker.controls-MenuIcon__Menu .controls-MenuItem {
   padding-right: 36px;
}

.controls-operationsPanel__itemsMenu_picker {
   .controls-operationsPanel-modes();
}

.controls-OperationPanel__Menu {
   &.controls-Menu {
      margin: -3px 0 0 -10px;
   }
}
