.controls-operations-panel {
   height: @controls-OperationPanel-height;
   overflow: visible !important;

   .controls__operations-panel__closed {
      background: @controls-OperationPanel-closed;

      &:hover {
         background: @controls-OperationPanel-closed-hovered;
      }
      &:active {
         background: @controls-OperationPanel-closed-activated;
      }
   }
   &.ws-disabled {
      .controls__operations-panel__closed {
         background: @controls-OperationPanel-closed-disabled;
      }
   }

}

.controls__operations-panel__opened, .controls__operations-panel__closed {
   position: absolute;
   top: @controls-OperationPanel-opened-closed-top;
   left: @controls-OperationPanel-opened-closed-left;
   width: @controls-OperationPanel-opened-closed-width;
   height: @controls-OperationPanel-opened-closed-height;
   cursor: @controls-OperationPanel-cursor;
}

.controls__operations-panel__wrapper {
   line-height: @controls-OperationPanel-line-height;
   width: @controls-OperationPanel-width;
   white-space: nowrap;
   background-color: @controls-OperationPanel-bg;
   padding-left: @controls-OperationPanel-padding-left;

   > * {
      display: inline-block;
   }

   &:after {
      background: @controls-OperationPanel-triangle;
      content: '\00a0';
      position: absolute;
      width: @controls-OperationPanel-triangle-width;
      height: @controls-OperationPanel-triangle-height;
      top: 0;
   }

   .controls__operations-panel__opened {
      background: @controls-OperationPanel-opened;

      &:hover {
         background: @controls-OperationPanel-opened-hovered;
      }
      &:active {
         background: @controls-OperationPanel-opened-activated;
      }
   }

   .controls__operations-panel__actions {
      > * {
         margin: 0 4px;
      }
   }

   &.controls__operations-panel__mass-mode {
      .controls__operations-panel__action-type-selection {
         display: none;
      }
   }
   &.controls__operations-panel__selection-mode {
      .controls__operations-panel__action-type-mass {
         display: none;
      }
   }
}
