.controls-operations-panel {
   height: @controls-OperationPanel-height;
   overflow: visible !important;

   .controls__operations-panel__closed {
      background: url(@controls-OperationPanel-closed);

      &:hover {
         background-image: url(@controls-OperationPanel-closed-hovered);
      }
      &:active {
         background-image: url(@controls-OperationPanel-closed-activated);
      }
   }
   &.ws-disabled {
      .controls__operations-panel__closed {
         background: url(@controls-OperationPanel-closed-disabled);
      }
   }

}

.controls__operations-panel__opened, .controls__operations-panel__closed {
   position: absolute;
   top: @controls-OperationPanel-opened-closed-top;
   left: @controls-OperationPanel-opened-closed-left;
   width: @controls-OperationPanel-opened-closed-width;
   height: @controls-OperationPanel-opened-closed-height;
   cursor: @controls-OperationPanel-cursor;
}

.controls__operations-panel__wrapper {
   line-height: @controls-OperationPanel-line-height;
   width: @controls-OperationPanel-width;
   white-space: nowrap;
   background-color: @controls-OperationPanel-bg;
   padding-left: @controls-OperationPanel-padding-left;

   > * {
      display: inline-block;
   }

   &:after {
      background-image: url(@controls-OperationPanel-triangle);
      content: '\00a0';
      position: absolute;
      width: @controls-OperationPanel-triangle-width;
      height: @controls-OperationPanel-triangle-height;
      top: 0;
   }

   .controls__operations-panel__opened {
      background: url(@controls-OperationPanel-opened);

      &:hover {
         background-image: url(@controls-OperationPanel-opened-hovered);
      }
      &:active {
         background-image: url(@controls-OperationPanel-opened-activated);
      }
   }

   .controls__operations-panel__actions-mark {
      > * {
         margin-left: @controls-OperationPanel-actions-margin-left;
      }

      &:after {
         margin-left: @controls-OperationPanel-separator-margin-left;
         margin-right: @controls-OperationPanel-separator-margin-right;
         background: @controls-OperationPanel-separator-bg;
         width: @controls-OperationPanel-separator-width;
         height: @controls-OperationPanel-separator-height;
         content: '\00a0';
         font-size: 1px;
         display: inline-block;
         line-height: @controls-OperationPanel-separator-line-height;
      }
   }

   .controls__operations-panel__actions {
      > * {
         margin: 0 4px;
      }
   }

   &.controls__operations-panel__mass-mode {
      .controls__operations-panel__action-type-selection {
         display: none;
      }
   }
   &.controls__operations-panel__selection-mode {
      .controls__operations-panel__action-type-mass {
         display: none;
      }
   }
}
