/*group*/
/*ширина кнопки закрытия окна 36px + 2px на небольшой отступ между кнопкой сохранить (в ie8 нет скруглений и кнопки склеиваются)*/
/*ширина кнопки закрытия окна 36px + 90px ширина кнопки сохранить + 2px на небольшой отступ между ними */
.controls-operationsPanel {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  line-height: 30px;
}
.controls-operationsPanel .controls-operationsPanel__wrapper {
  height: 30px;
  position: relative;
  width: 100%;
}
.controls-operationsPanel .controls-operationsPanel__wrapper .controls-operationsPanel__wrapper-background {
  width: 100%;
  position: absolute;
  white-space: nowrap;
  background-color: #E6ECF5;
}
.controls-operationsPanel .controls-operationsPanel__wrapper .controls-operationsPanel__actionMark {
  padding-left: 0;
}
.controls-operationsPanel .controls-operationsPanel__wrapper .controls-operationsPanel__actionMark:after {
  margin-left: 8px;
  margin-right: 0;
  background: #CCC;
  width: 1px;
  height: 20px;
  content: '\00a0';
  font-size: 1px;
  display: inline-block;
  line-height: 30px;
}
.controls-operationsPanel .controls-operationsPanel__wrapper.controls-operationsPanel__massMode .controls-operationsPanel__actionType-selection {
  display: none;
}
.controls-operationsPanel .controls-operationsPanel__wrapper.controls-operationsPanel__selectionMode .controls-operationsPanel__actionType-mass {
  display: none;
}
.controls-operationsPanel .controls-operationsPanel__wrapper .controls-operationsPanel__actionType-mass,
.controls-operationsPanel .controls-operationsPanel__wrapper .controls-operationsPanel__actionType-selection,
.controls-operationsPanel .controls-operationsPanel__wrapper .controls-operationsPanel__actionType-all {
  margin: 0 4px;
  line-height: 30px !important;
}
.controls-operationsPanel.controls-operationsPanel_withItemsMenu .controls-operationsPanel__wrapper .controls-operationsPanel__itemsMenu {
  display: inline-block;
  margin-bottom: 3px;
}
.controls-operationsPanel.controls-operationsPanel_withItemsMenu .controls-operationsPanel__wrapper .controls-operationsPanel__actions {
  margin-right: 26px;
}
.controls-operationsPanel .controls-operationsPanel__wrapper .controls-operationsPanel__container {
  position: relative;
  display: inline;
}
.controls-operationsPanel .controls-operationsPanel__wrapper .controls-operationsPanel__actionMark,
.controls-operationsPanel .controls-operationsPanel__wrapper .controls-operationsPanel__actionType-mass,
.controls-operationsPanel .controls-operationsPanel__wrapper .controls-operationsPanel__actionType-selection,
.controls-operationsPanel .controls-operationsPanel__wrapper .controls-operationsPanel__actionType-all {
  float: left;
}
.controls-operationsPanel__itemsMenu_picker .controls-PopupMixin__closeButton,
.controls-operationsPanel__itemsMenu_picker .controls-PopupMixin__closeButton:hover {
  background: none;
  top: 7px;
  right: -6px;
}
.controls-operationsPanel__itemsMenu_picker.controls-MenuIcon__Menu .controls-MenuItem {
  padding-right: 36px;
}
.controls-operationsPanel__itemsMenu_picker.controls-operationsPanel__massMode .controls-operationsPanel__actionType-selection {
  display: none;
}
.controls-operationsPanel__itemsMenu_picker.controls-operationsPanel__selectionMode .controls-operationsPanel__actionType-mass {
  display: none;
}
.controls-OperationPanel__Menu.controls-Menu {
  margin: -3px 0 0 -10px;
}
