.demo-tab-buttons {
  width: 1000px;
  margin: 0 auto;
}
.demo-tab-buttons .demo4 .counter_unread {
  color: #FF7033!important;
}
.demo-tab-buttons .demo4 .counter_total {
  color: #0055BB!important;
}
.demo-tab-buttons .demo8 .icon-16 {
  position: relative;
  top: 2px;
  cursor: pointer;
}
.demo-tab-buttons .demo8_text {
  display: inline-block;
}
.category {
  font-size: 18px;
  color: #313E78;
  text-align: center;
  margin: 10px 0 20px 0;
}
