.autoheigth{
    heigth: auto !important;
}

.recordsMarkPlugin-DialogSelector__ColorTable{
    width: 300px;
}

.recordsMarkPlugin-DialogSelector__ColorTable .ws-browser-edit-buttons-block{
    top: 1px;
    height: 30px;
}

.recordsMarkPlugin-DialogSelector__ColorTable .ws-browser-add-at-place-link-row{
    display: none;
}

.recordsMarkPlugin-DialogSelector__DeleteMark{
    position:absolute;
    top:8px;
    left: 32px;
}

.recordsMarkPlugin-DialogSelector__ChoiceMark{
    width:84px;
    height:24px;
    position:absolute;
    top:9px;
    right:36px;
}

.addEmptyMessage{
    margin: 12px 24px 0px;
    width: 252px;
    display: none;
    font-family: 'TensorFont Regular', 'TensorFont';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: rgb(153, 153, 153);
}

.recordsMarkPlugin-DialogSelector__MarkSettings{
    float: right;
    margin-right: 16px;
    color: #999999;
    margin-bottom: 14px;
}

.recordsMarkPlugin-DialogSelector__MarkSettings:hover{
    color: #ff7033;
}

.recordsMarkPlugin-DialogSelector__MarkSettings:hover .ws-button-image{
    color: #ff7033 !important;
}

.recordsMarkPlugin-DialogSelector__userMarkRow{
    height: 26px;
    cursor: pointer;
    font-family: 'TensorFont Regular', 'TensorFont';
    font-style: normal;
    font-size: 15px;
    line-height: 26px;
    width: 300px;
    position: relative;
}

.recordsMarkPlugin-DialogSelector__userMarkRow_title{
    float: left;
    margin-left: 32px;
    width: 268px;
}

.recordsMarkPlugin-DialogSelector__userMarkRow_icon{
    position: absolute;
    left: 10px;
    top: 4px;
}

.recordsMarkPlugin-DialogSelector__ColorTable .ws-browser-cell-container {
    font-family: 'TensorFont Bold', 'TensorFont';
    font-style: normal;
    font-size: 15px;
    padding-left: 28px;
}

.recordsMarkPlugin-DialogSelector__ColorTable tr.ws-browser-table-row{
    height: 26px !important;
}

.recordsMarkPlugin-DialogSelector__SetDefaultButton{
    display: none;
}

.withoutRowOptions .ws-browser-row-options-block{
    display: none;
}

.userMarksContainer{
    margin-bottom: 2px;
}