.controls-TileView__mediumTemplate_content_theme-@{themeName} {
   padding: @offset_m @offset_m @offset_s @offset_m;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   height: @height_medium_tile;
   align-items: center;
   flex-shrink: 0;
}

.controls-TileView__mediumTemplate_image_theme-@{themeName} {
   width: @image_height_medium_tile;
   height: @image_width_medium_tile;
}

.controls-TileView__mediumTemplate_title_theme-@{themeName} {
   max-height: @inline_height_2xl;
   width: 100%;
   white-space: normal;
   overflow: hidden;
   margin-top: @offset_xs;
}

.controls-TileView__mediumTemplate_itemActions_theme-@{themeName} {
   padding-bottom: @itemActions_offset_bottom_medium_tile;
}
