.controls-FilterPanel__FavoriteEditDialog {
   width: @width_FavoriteEditDialog;
}

.controls-FavoriteEditDialog__scroll {
   height: 100%;
   flex-shrink: 1;
}

.controls-FavoriteEditDialog__textField {
   width: 100%;
   margin-bottom: @spacing_default_m;
}

.controls-FavoriteEditDialog__content {
   overflow: hidden;
   margin: 0 @spacing_default_l @spacing_default_l @spacing_default_l;
}

.controls-FavoriteEditDialog__saveButton, .controls-FavoriteEditDialog__deleteButton {
   margin-left: @spacing_default_xl;
}

.controls-FavoriteEditDialog__itemCaption {
   color: @label_text-color
}

.control-FavoriteEditDialog__dropdownItemTpl {
   margin-top: @spacing_default_s;
   margin-bottom: @spacing_default_s;
}

.control-FavoriteEditDialog__dropdownItemTpl-comment {
   font-size: @font-size_xs;
   color: @unaccented_color;
   width: @width_FavoriteEditDialog-dropdownItemTpl-comment;
}