/* из graytheme.css */
.birdSticker {
   margin-top: 50px;
   background: url("img/ptic_new_hov.gif") -200px -200px no-repeat; /*чтоб картинка с мигающей птицей успевала загрузиться*/
}

.birdSticker.fixed {
   width: 200px;
   position: fixed !important;
   bottom: 0;
   left: 0;
}

.compact-menu .birdSticker.fixed {
   width: 48px;
}

.compact-menu .birdSticker #owl {
   margin: 0 auto;
   float: none;
   display: block;
}

.compact-menu .engine-HowEasy .howEasy__separator,
.compact-menu .engine-HowEasy .howEasy__list{
   display: none;
}

.billing-page .birdSticker.fixed {
   width: 230px;
}

/* из LeftNavigation.css */
.compact-menu .birdSticker .ws-separator.ws-separator-marker, .compact-menu .birdSticker #howEasy__list {
   display: none;
}

#owl {
   background-image: url("img/owl.gif");
   background-repeat: no-repeat;
   float: left;
   width: 36px;
   height: 46px;
   margin-left: 7px;
}

.howEasy__separator {
   font-family: 'TensorFont Regular', 'TensorFont';
   font-size: 18px;
   /*font-weight: bold;*/
   line-height: 32px;
   width: 150px;
   height: 24px;
   float: left;
   padding-top: 9px;
}

.howEasy__separator:before {
   width: 10px;
   color: #FF7033;
   font-family: 'TensorFont Regular', 'TensorFont';
   content: '\e002';
   float: left;
   margin-left: 7px;
}

.birdSticker .howEasy__text {
   color: #ffffff;
   width: 128px;
   vertical-align: bottom;
   padding-left: 6px;
   cursor: pointer;
   text-decoration: initial;
}

.birdSticker .howEasy__text:hover {
   color: #ff7030;
}

/* из Тема Скрепка/Шаблоны/css/help.css */
#howEasy {
   min-height: 20px;
   padding-top: 10px;
   background: #2C3E50;
}
#howEasy:after {
   clear: both;
   content: '';
}

#howEasy .engine-HowEasy__question {
   color: gray !important;
   cursor: pointer;
   position: relative;
   top: 3px;
   float: right !important;
   display: none;
}

.engine-HowEasy__questionCompact {
   position: absolute;
   top: 5px;
   cursor: pointer;
   color: gray !important;
   display: none;
}

#howEasy__list{
   float: left;
   width: 100%;
   background: #273748;
}

#howEasy__list ul {
   /*overflow: hidden;*/
   margin: 12px;
}

#howEasy__list ul li,
#howEasy__list ul li .asLink{
   /*overflow: hidden;*/
   /*text-overflow: ellipsis;*/
   /*white-space: nowrap;*/
   display: inline-block;
   clear: both;
   color: #61B1EE;
   line-height: 16px;
}

#howEasy__list ul li:hover,
#howEasy__list ul li:hover .asLink{
   color: #ff7030;
}

#howEasy__list ul li {
   min-height: 24px;
//width: 210px !important; /*Хак для IE7*/
   vertical-align: middle;
}

#howEasy__list ul li a.how_easy_run {
   margin: 0 -20px 0 5px;
   padding: 0 10px;
   background: url("img/helpButtonMini.png") no-repeat scroll 0 0 transparent;
   display: none;
   height: 16px;
   /*width: 23px;*/
   line-height: 16px;
   vertical-align: middle;
}

#howEasy__list ul li:hover a.how_easy_run {
   display: inline-block;
}