.controls-Base__field {
   width: 100%;
   flex-grow: 1;
   position: relative;
}

.controls-Base__placeholder {
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   position: absolute;
   pointer-events: none;
}

.controls-Base__field_readOnly {
   width: 100%;
   .text-overflow();
}

.controls-Base__nativeField {
   width: 100%;
   height: 100%;
   text-overflow: ellipsis;
   /**
    * Reset browser styles.
    */
   border: none;
   resize: none;
   font: inherit;
   color: inherit;
   text-align: inherit;
   background: transparent;
   .box-shadow(none);
   &::-webkit-contacts-auto-fill-button {
      display: none;
   }
   &::-ms-clear {
      display: none;
   }
   &::-ms-reveal {
      display: none;
   }
   /**
    * In firefox, the field is not compressed unless you set a minimum width.
    * https://jsfiddle.net/hr9mvn2o/
    */
   min-width: 0;
}

.controls-Base__field_margin {
   margin: @spacing_Base_between-topBorder-text @spacing_Base_between-rightBorder-text @spacing_Base_between-bottomBorder-text @spacing_Base_between-leftBorder-text;
}

/**
 * The modifier hides the custom placeholder if the native placeholder is hidden.
 * Condition for work:
 * 1. Used on the input element.
 * 2. The modifier element have a native placeholder, such as a space.
 * 3. Custom placeholder is placed after the modifier element.
 */
.controls-Base__nativeField_hideCustomPlaceholder {
   &:-webkit-autofill, &:not(:placeholder-shown) {
      & + .controls-Base__placeholder {
         display: none;
      }
   }
}

   /*
    * In Edge, spacing between border and text is more than in others browsers
    * https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/13433382/
    */
.controls-Base__nativeField_edge {
   margin-left: -1px;
}
