@default-icon-font:            'carrypresto-icons';
@default-icon-medium-font:     @default-icon-font;
//--------------------------------------------------------------------------------------------------------------------//
@icon-font:                               'carrypresto-icons';
@default-icon-small-font:                 @icon-font;
@default-icon-medium-font:                @icon-font;
@default-icon-large-font:                 @icon-font;
//back-button
@default-arrow-img:                       '\e003';
@orange-arrow-img:                        @default-arrow-img;