html {
  color: #e4e4e4;
}
body {
  font-size: 1rem !important;
}

.controls-SearchForm {
  .icon-size {
    font-size: 3rem !important;
    width: 2rem;
    height: 3rem;
  }
}

.controls-ComboBox {
  &.controls-Picker__show {
    border-width: 0;
    border-style: @text-box-hover-border-style;
    border-color: @text-box-hover-border-color;
  }
}

.controls-ComboBox__picker {
  .controls-ComboBox__itemRow {
    &.controls-ComboBox__itemRow__selected {
      font-weight: bold;
    }
  }
}

.controls-Button__closeButton {
   display: inline-block;
   width: 3rem !important;
   height: 3rem !important;
   background: @closeBigButtonImage;
   &:hover {
     background: @closeBigButtonImageHover;
   }
   &:active {
     background: @closeBigButtonImageHover;
   }
}

.controls-FloatArea.controls__filterButton__picker .controls-PopupMixin__closeButton {
  position: absolute;
  top: .3rem;
  right: @controls-Popup-closeButton-right;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  background: @closeBigButtonImage;
  &:hover {
    background: @closeBigButtonImageHover;
  }
  &:active {
    background: @closeBigButtonImageHover;
  }
  z-index: 1;
}

.controls-Button {
  white-space: normal;
   padding-bottom: 0; // FF only
}

.icon-24() {
  font-size: 1.785rem !important;
  line-height: 1.785rem !important;
  width: 1.785rem;
  height: 1.785rem;
  font-family: 'cbuc-icons24' !important;
}
.controls-TextBox {
   &.controls-TextBox__big {
      .controls-TextBox__field {
         font-size:  1.43rem;
      }
   }
}

.ws-float-area-stack-panel-shadow {
  background: #2C3E50 !important;
}
.ws-sticky-header__block.ws-sticky-header__fixed,
.ws-sticky-header__table-header-copy {
  background-color: #2C3E50 !important;
}

.ws-window {
  background-color: #293543 !important;
}
.ws-window-content {
  background-color: #202835 !important;
}
body .ws-enabled .icon-primary{
  color: #e4e4e4 !important;
}
.controls-listView td {
  font-size: 1rem;
}
body {
  .icon-16 {
    font-size: 1.32rem !important;
    line-height: 1.32rem !important;
    width: 1.32rem;
    height: 1.32rem;
  }
  .icon-24 {
    font-size: 1.7857rem !important;
    height: 1.7857rem !important;
    width: 1.7857rem !important;
    line-height: 1.7857rem !important;

  }
  .icon-32 {

        font-size: 3rem!important;
        height: 3rem!important;
        width: 3rem!important;
        line-height: 3rem !important;

  }
}
.controls-Button.controls-Button--prestogray {
    color: #2C3E50;
  background: #e4e4e4;
}
.controls-ListView__scrollPager {
  height: 3rem !important;
}
.control-Paging__btn  {
  border: 2px solid #26b8ff;
}
.ws-moneyDecorator {
  &__integer{
    font-size: @money-decorator-integer-font-size;
    color: @money-decorator-integer-font-color;
    &__AccentResults{
      font-size: @money-decorator-integer-accent-results-font-size;
      color: @money-decorator-integer-accent-results-font-color;
      font-weight: @money-decorator-integer-accent-results-font-weight;
    }
    &__NoAccentResults{
      font-size: @money-decorator-integer-no-accent-results-font-size;
      color: @money-decorator-integer-no-accent-results-font-color;
      font-weight: @money-decorator-integer-no-accent-results-font-weight;
    }
    &__Group{
      font-size: @money-decorator-integer-group-font-size;
      color: @money-decorator-integer-group-font-color;
    }
    &__BasicRegistry{

    }
    &__NoBasicRegistry{
      font-size: @money-decorator-integer-no-basic-registry-font-size;
      color: @money-decorator-integer-no-basic-registry-font-color;
    }
    &__AccentRegistry{
      font-size: @money-decorator-integer-accent-registry-font-size;
      color: @money-decorator-integer-accent-registry-font-color;
      font-weight: @money-decorator-integer-accent-registry-font-weight;
    }
    &__NoAccentRegistry{
      font-size: @money-decorator-integer-no-accent-registry-font-size;
      color: @money-decorator-integer-no-accent-registry-font-color;
      font-weight: @money-decorator-integer-no-accent-registry-font-weight;
    }
  }
  &__fraction{
    font-size: .857rem;
    color: #8991A9;
    line-height: normal;
    font-weight: normal !important;
  }
}
.controls-Link.controls__filter-button__clear-filter.ws-disabled {
  color: rgba(102, 170, 221, .2);
  font-size: 1.14rem;
}


body {
  .engine-Browser__path-wrapper-in-head {
    height: auto;
  }
  .engine-Browser__path {
    max-height: 2rem;
    height: auto !important;
  }
  .ws-window-titlebar {
    color: @default-text-color;
    line-height: 3.57rem;
    height: 3.57rem;
    position: absolute;
    left: 0;
    right: 0;
    font-size: 1.43rem;
    white-space: nowrap;
    -moz-box-shadow: none!important;
    -webkit-box-shadow: none!important;
    background: #354B62;
    box-shadow: none!important;
  }
  &.ws-window-titlebar-custom {
    position: relative;
    height: 2rem !important;
    .ws-float-area-title {
      line-height: 1rem !important;
    }
  }
  .ws-float-area-title {
      font-size: 1.43rem!important;
      font-weight: normal !important;
  }
}
.controls-FloatArea {
  border: 2px solid #2196F3;
  background: #2c3e50;
}
body {
  .controls__filter-button__clear-filter {
    font-size: 1.14rem;

    &:hover {
      color: #26b8ff !important;
    }
  }
  .ws-field-button.ws-button-classic.sbisname-window-title-close.ws-enabled {
    width: 3rem !important;
    height: 3rem !important;
    background: @closeBigButtonImage;
    &:hover {
      background: @closeBigButtonImageHover;
    }
    &:active {
      background: @closeBigButtonImageHover;
    }
}

}
.controls-ComboBox.controls-TextBox.controls-Picker__show {
  border-bottom: none;
}


 .controls-Switcher.controls-Checked__checked .controls-Switcher__btn, .controls-SwitcherDouble .controls-SwitcherDouble__btn {

    background: #FF7033;
}
.controls-FloatArea.controls-InformationPopup.controls-InformationPopup__status-confirm {
  border-color: #26b8ff;
}



body .ws-loadingimg {
  top: 30%;
}

body {
    .controls__filterButton__area-header,.controls__filterButton__area-text {
      line-height: 3rem;
    }
  .ws-float-area-title-generated {
      line-height: 3.57rem;
  }
  .ws-float-area-title {
    padding-left: .857rem;
  }
  .ws-float-area .ws-window-titlebar.ws-window-titlebar-custom {
    height: 3.57rem;

      .ws-float-area-title {
        line-height: 3.57rem;
      }
  }
  .controls-DateRangeBigChoose-DateRangePicker .controls-MonthView .controls-MonthView__dayTable .controls-MonthView__tableRow .controls-MonthView__tableElement {

    font-size: 1.14rem;

  }
  .controls-DateRangeBigChoose .controls-DateRangeBigChoose__header .controls-DateRangeBigChoose__homeBtn,.controls-DateRangeBigChoose .controls-DateRangeBigChoose__header .controls-DateRangeBigChoose__ApplyButton {
    width: 1.43rem !important;
    height: 1.43rem !important;
    font-size: 1.43rem !important;
     border: none !important;
    color: #2D68B5 !important;
    .controls-DateRangeBigChoose .controls-DateRangeBigChoose__header .controls-DateRangeBigChoose__homeBtn .controls-Button__icon.icon-16, .controls-DateRangeBigChoose .controls-DateRangeBigChoose__header .controls-DateRangeBigChoose__ApplyButton .controls-Button__icon.icon-16 {
        font-size: 1.43rem !important;
        color: #2D68B5 !important;
        border: none !important;
        left: 7px;
    }

    .controls-DateBox {
      min-height: 3rem;
    }

}

.controls-DateRangeBigChoose__dates-dates-top-gradient, .controls-DateRangeBigChoose__dates-dates-bottom-gradient {
  display: none;
}

.controls-DateRangeBigChoose .controls-DateRangeBigChoose__header {
    height: 3.57rem;
}

.controls-DateRangeBigChoose .controls-DateRangeBigChoose__header .controls-DateRangeBigChoose__header-rangeDash {
  border-color: #2c3e50;
}

body .controls-DateRangeBigChoose .controls-DateRangeBigChoose__header .controls-DateRangeBigChoose__homeBtn .controls-Button__icon.icon-16 {
    font-size: inherit !important;

}
body .controls-DateRangeBigChoose .controls-DateRangeBigChoose__header .controls-DateRangeBigChoose__ApplyButton .controls-Button__icon.icon-16 {
         font-size: 1.43rem !important;
        border: none !important;
        left: 7px;
}
body .controls-DateRangeBigChoose .controls-DateRangeBigChoose__header .controls-DateRangeBigChoose__homeBtn .controls-Button__icon.icon-16 {
       font-size: 1.43rem !important;
        border: none !important;
        left: 7px;
}
body .controls-DateRangeBigChoose .controls-DateRangeBigChoose__header .controls-DateRangeBigChoose__homeBtn, body .controls-DateRangeBigChoose .controls-DateRangeBigChoose__header .controls-DateRangeBigChoose__ApplyButton {
    margin-right: 1rem;
  }
}
.controls-DateBox.ws-has-focus .controls-FormattedTextBox__fieldWrapper {
    border-color: #314559 #314559 #314559 #314559 !important;
 }
 .controls-DateRangeBigChoose .controls-DateRangeBigChoose__header .controls-DateBox .controls-FormattedTextBox__fieldWrapper {
      border-color: #314559 #314559 #314559 #314559 !important;
 }
 .controls-Button .controls-Button__icon.icon-32 + .controls-Button__text {
     margin-left: 2.4rem !important;
 }
  .controls-Button .controls-Button__icon.icon-large + .controls-Button__text {
      margin-left: 2.4rem !important;
  }
body .controls-DataGridView.controls-ListView__multiselect .controls-DataGridView__table .controls-DataGridView__td.controls-DataGridView__firstContentCell {
    padding-left: .5rem;
}
body .controls-BackButton {
  line-height: 3.64rem;
}

body .ws-float-area-nostack-panel-shadow-standart {
    border: 1px solid #2e404f;
    background: #2e404f;
}
.controls-editInPlace .controls-editInPlace__editor {
  background: @basic-block-bg-color;
}
.controls-ListView .controls-ItemsToolbar__editActions {
    background: @basic-block-bg-color;
}

body .ws-float-area-title-generated {
    margin-right: 3rem;
}
.controls-DateBox .controls-FormattedTextBox__fieldWrapper .controls-FormattedTextBox__field {
    color: #cccccc;
    height: 3rem;
}
.controls-FormattedTextBox .controls-FormattedTextBox__fieldWrapper .controls-FormattedTextBox__field .controls-FormattedTextBox__field-symbol {

    line-height: 2rem;

  }
 body .controls-DateBox .controls-FormattedTextBox__fieldWrapper .controls-FormattedTextBox__field {
    height: 2.4rem;
}
body .controls-DateRange .controls-DateRange__Button .controls-Button__icon {
  font-size: 2rem !important;
}
body .controls-DatePicker .controls-DatePicker__button .controls-Button__icon {
    font-size: 2rem !important;
    line-height: 2rem !important;
}
.controls-ComboBox.controls-TextBox.controls-ComboBox__editable-false .controls-TextBox__fieldWrapper .controls-TextBox__field.controls-ComboBox__fieldNotEditable {
    line-height: 3rem !important;

}
body .controls-Button .controls-Button__icon.icon-32 {
  top: 20%
}
body .controls-Button .controls-Button__icon.icon-large {
  top: 50%
}
body .ws-info-box .ws-infobox-content p {
    margin: 0px 20px 8px 0;
    font-size: 1.43rem;
}
.controls-Link__field {
  vertical-align: baseline;
}
.controls-FieldLink__item-cross {
  margin-right: -.7rem;
}
.controls-Paging .control-Paging__btn .controls-Button__icon {
    line-height: 2rem!important;
    padding-right: 0.4rem;
}
.controls-FieldLink__item-cross {
    margin-right: -.7rem;
}
.controls-Paging .control-Paging__btn .controls-Button__icon {
    line-height: 2rem!important;
    padding-right: 0.4rem;
}

.controls-DropdownList__picker .controls-DropdownList__item .controls-DropdownList__itemTextWrapper .controls-DropdownList__item-text {
    color: #000;
    line-height: 3rem;
}
.controls-DropdownList__picker .controls-DropdownList__multiselect.controls-DropdownList__item * {
    font-size: 1.14rem;
    height: 3.57rem;
    color: #000;
    line-height: 3.57rem;
}
body .ws-float-area-stack-panel-shadow {
    border-left: 2px solid #00a2ef;
    border-color: #00a4f0;
    border-width: 0 0 0 2px;
    border-style: solid;
    -webkit-box-shadow: -8px 0 12px -4px rgba(0,0,0,0.2);
    -moz-box-shadow: -8px 0 12px -4px rgba(0,0,0,0.2);
    box-shadow: -8px 0 12px -4px rgba(0,0,0,0.2);
}
.icon-large {
  vertical-align: middle !important;
}
.controls-ListView__scrollPager .controls-IconButton {
  background: #1D2834;
}
body .controls-DropdownList .controls-DropdownList__selectedItem {
    display: inline-block;

}
body .controls-DateRangeBigChoose .controls-DateRangeBigChoose__header .controls-DateRangeBigChoose__homeBtn .controls-Button__icon.icon-16 {
    font-size: 3rem!important;
    margin-left: -2.4rem;
    margin-top: initial;
}
body .controls-DateRangeBigChoose .controls-DateRangeBigChoose__header .controls-DateRangeBigChoose__ApplyButton .controls-Button__icon.icon-16 {
    font-size: 3rem!important;
    width: 24px;
    margin-left: -6rem;
    margin-top: initial;
}
.controls-DateRangeBigChoose__datePickerEnd-wrapper .controls-DateBox {
  margin-right:2.5rem;
}
body .controls-DateRangeBigChoose-MonthRangePicker.controls-ListView .controls-DateRangeBigChoose-MonthView.controls-MonthView .controls-MonthView__dayTable .controls-MonthView__tableElement.controls-RangeSelectable__item.controls-RangeSelectable__item-selected {
  color: #fff;
  background: #3f566d;
}

.controls__filterButton {
   .controls-Button__icon {
      &.icon-size {
         font-family: @default-icon-large-font !important;
      }
   }
}
.controls-ToolBar__menuIcon {
   .icon-24 {
      font-size: @icon-large-size !important;
      line-height: @icon-large-size !important;
      width: @icon-large-size !important;
      height: @icon-large-size !important;
      vertical-align: middle !important;
   }
}
.controls-FormattedTextBox .controls-FormattedTextBox__fieldWrapper .controls-FormattedTextBox__field {
  line-height: 3rem;
}
body .controls-ToolBar__menuIcon .icon-24 {
  font-family: carrypresto-icons!important;
}
.controls__filterButton__area-header {
   .controls-Link {
      .controls-Button__text{
         vertical-align: baseline;
      }
   }
}
.controls-Link {
  &.additionalLink__2 {
    font-size: .857rem;
  }
}

.controls-TreeView__expand {
  font-size: 1rem !important;
}

body .controls-DropdownList .controls-DropdownList__selectedItem {
    display: inline-flex;
}

.controls__filter-button__apply-filter {
    margin-right: 0.4rem;
}
.controls__filter-button__clear-filter {
  .controls-Link__field {
    vertical-align: baseline;
  }
}

.controls-Link {
  font-size: 1.14rem;
>>>>>>> 3.7.5.60/bugfix/daterange-fixes-np
}

.controls-Browser {
   .controls-Browser__topTemplate {
      height: 3.88rem
   }
}
