html {
  font-size: 28px !important;
  color: #e4e4e4;
  background-color: #1d2834;
}
body {
  font-size: 28px !important;
}
.controls-ListView {
  background-color: #1d2834;
}
.controls-SearchForm {
  .icon-size {
    font-size: 2rem !important;
    width: @icon-width;
    height: @icon-height;
  }
}

.controls-ComboBox {
  &.controls-Picker__show {
    border-width: 0;
    border-style: @text-box-hover-border-style;
    border-color: @text-box-hover-border-color;
  }
}

.controls-ComboBox__picker {
  .controls-ComboBox__itemRow {
    &.controls-ComboBox__itemRow__selected {
      font-weight: bold;
    }
  }
}

.controls-Button__closeButton {
   display: inline-block;
   width: @closeButtonWidth;
   height: @closeButtonHeight;
   background: @closeButtonImage;
   &:hover {
      background: @closeButtonImageHover;
   }
   &:active {
      background: @closeButtonImageHover;
   }
}

.controls-PopupMixin__closeButton {
  position: absolute;
  top: @controls-Popup-closeButton-top;
  right: @controls-Popup-closeButton-right;
  width: @closeBigButtonWidth;
  height: @closeBigButtonHeight;
  cursor: pointer;
  background: @closeBigButtonImage;
  &:hover {
    background: @closeBigButtonImageHover;
  }
  &:active {
    background: @closeBigButtonImageHover;
  }
  z-index: 1;
}

.controls-Button {
  white-space: normal;
   padding-bottom: 0; // FF only
}
.controls-Button__text {
  line-height: 20px;//for 1 or 2 lines
}
.icon-24() {
  font-size: 1.785rem !important;
  line-height: 1.785rem !important;
  width: 1.785rem;
  height: 1.785rem;
  font-family: 'cbuc-icons24' !important;
}
@text-box-height-prestoBig:   50px;
@text-box-height-prestoFont:  36px;
.controls-TextBox {
   &.controls-TextBox__big {
      height: @text-box-height-prestoBig;
      font-size: @text-box-height-prestoFont;
   }
}

.ws-float-area-stack-panel-shadow {
  background: #202835 !important;
}
.ws-sticky-header__block.ws-sticky-header__fixed,
.ws-sticky-header__table-header-copy {
  background-color: #202835 !important;
}

.ws-window {
  background-color: #293543 !important;
}
.ws-window-content {
  background-color: #202835 !important;
}
body .ws-enabled .icon-primary{
  color: #e4e4e4 !important;
}
.controls-listView td {
  font-size: 1rem;
}
body {
  .icon-16 {
    font-size: 1.43rem !important;
    line-height: 1.43rem !important;
    width: 1.43rem;
    height: 1.43rem;
  }
}
.controls-Button.controls-Button--prestogray {
    color: #2C3E50;
  background: #e4e4e4;
}
.controls-ListView__scrollPager {
  height: 3rem !important;
}
.control-Paging__btn  {
  border: 2px solid #26b8ff;
}
.ws-moneyDecorator {
  &__integer{
    font-size: @money-decorator-integer-font-size;
    color: @money-decorator-integer-font-color;
    &__AccentResults{
      font-size: @money-decorator-integer-accent-results-font-size;
      color: @money-decorator-integer-accent-results-font-color;
      font-weight: @money-decorator-integer-accent-results-font-weight;
    }
    &__NoAccentResults{
      font-size: @money-decorator-integer-no-accent-results-font-size;
      color: @money-decorator-integer-no-accent-results-font-color;
      font-weight: @money-decorator-integer-no-accent-results-font-weight;
    }
    &__Group{
      font-size: @money-decorator-integer-group-font-size;
      color: @money-decorator-integer-group-font-color;
    }
    &__BasicRegistry{

    }
    &__NoBasicRegistry{
      font-size: @money-decorator-integer-no-basic-registry-font-size;
      color: @money-decorator-integer-no-basic-registry-font-color;
    }
    &__AccentRegistry{
      font-size: @money-decorator-integer-accent-registry-font-size;
      color: @money-decorator-integer-accent-registry-font-color;
      font-weight: @money-decorator-integer-accent-registry-font-weight;
    }
    &__NoAccentRegistry{
      font-size: @money-decorator-integer-no-accent-registry-font-size;
      color: @money-decorator-integer-no-accent-registry-font-color;
      font-weight: @money-decorator-integer-no-accent-registry-font-weight;
    }
  }
  &__fraction{
    font-size: .857rem;
    color: #8991A9;
    line-height: normal;
    font-weight: normal !important;
  }
}