<div>
    <Controls.Selector.Browser multiSelectVisibility="{{true}}" searchParam="firstName" source="{{_source}}" keyProperty="department" selectionFilter="{{_selectionFilter}}" bind:filter="_filter">

        <ws:search>
            <Controls.Input.Search bind:value="_searchValue"/>
        </ws:search>

        <ws:content>
            <Controls.List emptyTemplate="Не найдено" multiSelectVisibility="{{'onhover'}}">
                <ws:itemTemplate>
                    <ws:partial template="tmpl!Controls/List/ItemTemplate">
                        <ws:contentTemplate>
                            <div class="demo-Selector__listItem-wrapper">
                                <span class="demo-Selector__department">{{itemTemplate.itemData.item.get('department')}}</span>
                                <span class="demo-Selector__title">{{itemTemplate.itemData.item.get('owner')}}<span class="demo-Selector__iconDep icon-16 icon-Company icon-disabled"></span> (78)</span>
                            </div>
                        </ws:contentTemplate>
                    </ws:partial>
                </ws:itemTemplate>
            </Controls.List>
        </ws:content>

    </Controls.Selector.Browser>
</div>
