<div>
    <Controls.Selector.Controller selectedItems="{{_options.selectedItems}}">
        <Controls.Selector.Templates.StackWithTabs attr:class="demo-selector__flatList" multiSelectVisibility="{{_options.multiSelect}}">
            <ws:topArea>
                <Controls.Tabs.Buttons source="{{_tabSource}}" keyProperty="id" bind:selectedKey="_selectedTab"/>
            </ws:topArea>
            <ws:contentArea>
                <Controls.SwitchableArea items="{{_switchableAreaItems}}" keyProperty="id" itemTemplateProperty="itemTemplate" bind:selectedKey="_selectedTab"/>
            </ws:contentArea>
        </Controls.Selector.Templates.StackWithTabs >
    </Controls.Selector.Controller>
</div>


