.controls-Browser__header {
   .flexbox();
   .justify-content(space-between);
   .align-items(center);
   height: @height_Browser-header;
}

.controls-Browser__search {
   width: @width_Browser-search;
   margin-left: @margin-left_Browser;
}

.controls-Browser__topTemplate {
   margin-left: @spacing_Browser-inner-element;
}

.controls-Browser__filter-wrapper {
   display: flex;
   justify-content: flex-end;
   margin-left: @spacing_Browser-inner-element;
   margin-right: @margin-right_Browser;
   width: 100%;
   min-width: 0;
}

.controls-Browser__fastFilter {
   justify-content: flex-end;
   min-width: 0;
}

.controls-Browser__filterButton {
   min-width: 0;
}
