.controls-Browser__header {
   .flexbox();
   .justify-content(space-between);
}

.controls-Browser__header-default {
   padding: @padding_Browser-header-default;
}

.controls-Browser__header-min-size {
   padding: @padding_Browser-header-min-size;
}

.controls-Browser__search {
   margin: @margin_Browser-search;
}

.controls-Browser__filterButton {
   margin: @margin_Browser-filterButton;
}
