<Controls.Container.Filter>
   <Controls.Container.Search>
      <div>
         <ws:if data="{{_options.search}}">
            <Controls.Container.Input.Search>
               <ws:partial template="{{_options.search}}" class="controls-Browser__search"/>
            </Controls.Container.Input.Search>
         </ws:if>
         <ws:if data="{{_options.content}}">
            <Controls.Container.List scope="{{_options.contentConfig}}">
               <ws:partial template="{{_options.content}}"/>
            </Controls.Container.List>
         </ws:if>
      </div>
   </Controls.Container.Search>
</Controls.Container.Filter>