<div class="controls-FilterLayout" on:filterChanged="_filterChangeHandler()">
    <ws:Controls.Event.Listener name="changeFilterDetect" register="filterChanged" content="{{_options.content}}"/>
</div>