/*group*/
/*ширина кнопки закрытия окна 36px + 2px на небольшой отступ между кнопкой сохранить (в ie8 нет скруглений и кнопки склеиваются)*/
/*ширина кнопки закрытия окна 36px + 90px ширина кнопки сохранить + 2px на небольшой отступ между ними */
.controls-RichEditor {
  background-color: #ffffff;
  overflow: hidden;
  position: relative;
}
.controls-RichEditor .mce-edit-focus {
  outline: none;
}
.controls-RichEditor.controls-RichEditor__overflowVisible {
  overflow: visible;
}
.controls-RichEditor .controls-RichEditor__editorFrame {
  z-index: 1;
  border: 1px solid #EAEAEA;
  position: relative;
}
.controls-RichEditor .controls-RichEditor__editorFrame:empty {
  padding-bottom: 6px;
}
.controls-RichEditor .controls-RichEditor__editorFrame.ws-basic-style > p,
.controls-RichEditor .controls-RichEditor__editorFrame.ws-basic-style > pre,
.controls-RichEditor .controls-RichEditor__editorFrame.ws-basic-style > div {
  margin-top: 0;
  margin-left: 0;
  margin-right: 16px;
}
.controls-RichEditor .controls-RichEditor__editorFrame li {
  margin-bottom: 6px;
}
.controls-RichEditor .controls-RichEditor__sourceArea {
  display: block;
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  border: 1px solid #EAEAEA;
  border-top-color: #ffffff;
  resize: none;
  line-height: 20px;
  margin: 0;
  padding: 6px 6px 6px 8px;
  overflow-x: hidden;
  overflow-y: auto;
}
.controls-RichEditor .controls-RichEditor__fakeArea {
  height: 0;
  width: 0;
  border: none;
  position: absolute;
  resize: none;
  padding: 0px;
}
.controls-RichEditor.ws-validation-error .controls-RichEditor__editorFrame {
  border: 1px solid #FF302B;
}
.controls-RichEditor.ws-disabled {
  background-color: transparent;
}
.controls-RichEditor.ws-disabled .controls-RichEditor__editorFrame {
  display: none;
}
.controls-RichEditor .controls-RichEditor__dataReview {
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 6px 0 0 4px;
  /* отступы у параграфов через padding родительского блока без first-child */
  border: 1px solid transparent;
  box-sizing: border-box;
  word-wrap: break-word;
}
.controls-RichEditor .controls-RichEditor__dataReview .engine-DecoratedLink {
  display: block;
}
.controls-RichEditor .controls-RichEditor__editorFrame.ws-basic-style {
  overflow: auto;
  padding: 6px 0 0 4px;
  box-sizing: border-box;
  word-wrap: break-word;
}
.controls-RichEditor .controls-RichEditor__editorFrame.ws-basic-style table {
  margin-bottom: 5px;
}
.ws-is-mobile-safari .controls-RichEditor ::-webkit-scrollbar {
  width: 3px;
}
.ws-is-mobile-safari .controls-RichEditor ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
}
.ws-is-mobile-safari .controls-RichEditor ::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 3px;
}
.controls-RichEditor.request-result {
  display: block;
  overflow: hidden;
  color: #72BE44;
  width: 420px;
  height: 20px;
}
.controls-RichEditor.request-result.ws-image-post-error {
  color: #EF463A;
}
.controls-RichEditor.ws-upload-file-browse {
  width: 20px;
  visibility: hidden;
}
.controls-RichEditor .controls-RichEditor__sourceContainer {
  overflow: hidden;
}
.controls-RichEditor img.ws-fre__smile {
  outline: none;
}
.controls-RichEditor .controls-RichEditor__placeholder {
  color: #ccc;
  /* +1px к каждой стороне отступа тк у controls-RichEditor__editorFrame  есть border 1px*/
  padding: 7px 17px 1px 5px;
  background-color: transparent;
  position: absolute;
  display: none;
  z-index: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.controls-RichEditor.controls-RichEditor__empty .controls-RichEditor__placeholder {
  display: block;
  cursor: text;
}
.controls-RichEditor__insertLinkHrefLabel,
.controls-RichEditor__insertLinkHref.ws-field-string,
.controls-RichEditor__insertLinkButton.controls-Button {
  display: block;
  position: absolute;
}
.controls-RichEditor__insertLinkHrefLabel {
  color: #999999;
  text-align: right;
}
.controls-RichEditor__insertLinkHrefLabel {
  left: 16px;
  top: 12px;
  width: 35px;
  height: 24px;
}
.controls-RichEditor__insertLinkHref {
  height: 24px;
  width: 364px;
  left: 60px;
  top: 8px;
}
.controls-RichEditor__insertLinkButton.controls-RichEditor__insertLinkButton {
  right: 36px;
  top: 8px;
  width: 90px;
}
/*вставка со стилями*/
.controls-RichEditor__pasteWithStyles {
  text-align: center;
}
.controls-RichEditor__pasteWithStyles .controls-RichEditor__pasteWithStylesLabel {
  font-family: 'TensorFont Regular', 'TensorFont';
  color: #000000;
  font-size: 15px;
  margin: 20px;
}
.controls-RichEditor__pasteWithStyles .controls-RichEditor__pasteWithStylesButton {
  margin-bottom: 20px;
}
.ws-is-ie8 .controls-RichEditor {
  box-sizing: border-box;
}
.ws-is-ie8 .controls-RichEditor__empty {
  border: 1px solid #EAEAEA;
}
.ws-is-ie8 .controls-RichEditor__empty .controls-RichEditor__editorFrame.ws-basic-style {
  background-color: black;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  border: none;
}
.ws-is-ie .controls-RichEditor__empty .controls-RichEditor__editorFrame.ws-basic-style {
  background-color: rgba(0, 0, 0, 0);
}
.ws-is-chrome .controls-RichEditor__editorFrame.ws-basic-style p:empty {
  min-height: 18px;
}
.ws-is-mobile-android .controls-RichEditor__editorFrame {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: 100%;
}
.controls-RichEditorDropdown__head {
  height: 24px;
  position: relative;
  cursor: pointer;
}
.controls-RichEditorDropdown__head .controls-RichEditorDropdown__headArrow {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAABICAYAAADs+TUPAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gUUDRMGcy/vswAAAnJJREFUWMPtmDFoE2EUx993992FJpHGtCY0oA00BYM0ZgkuLUqSKZjJ7YMWRUqhDrYpDhHsYiUWsZLBIUgRCj3dEwkIglAs2EM0tlbQwYro0mQQE2vMXZ6DtRTbNNekgoHvN9679/0/Hu/gxwFwOJzWh9QqxOPx+wBwvk5/MpFIjDUUUC6XJ9LpdLxQKHTsVnc4HOvRaPQapTS1V4BQqyDLcjIUCs2bzebS3zWLxVIMh8OzoijeqzeimgGEEM1ms00Gg8EspVT781ySpEo4HM5YrdYpQki14YDNkK8ulyvW39//jBCChBAcGBhYcDqdMUJI6cA2ARH9qqrmVFXNIaLvn6wbIkYQMcI/PA6Hw+G0lhdhX6chLyLL+T29iNasPF9bgbvDBfj8blcvgu6+dbiUeguyqUGraLMkYTAxD+1HdtqDzVGEoZuzIMnNeRE4uyeBTWVBbtvyIjCZKzA0nQG705AXGbGJo7j06CmOB6o4Hqiimn2CiF0HrSx+zKZymE1xL+JwOBxOC9Nz8RbtHU3eVhTlwn57BUPyREXAih6bXjh8Y3Ru9bqiKOamxWs7npEZAaqg0+92FGVL8aTfmzmmaVd8XatfGGPYdAAAgGd4BmnJ9rtJlCpur2/xeAedCBzKvWSMVZsa0eabW4egXpE+rLw4vfTpx9z7fM9ZRVFI8wEA22+JQAQEgJ8b7SatMTfdebwOIlDQAYgo6W6vb3HQ/eYyY+zVwQQIoANWQZCsG17/icfnnMtjjLG1em10HyNCaun85u/zPIzYX19ljOWNNBkOQE1/cOpM78eQmLvDGDP8v85wANHIiCgQrLf3nP+PX0Uz3u43wsomAAAAAElFTkSuQmCC');
  width: 16px;
  height: 24px;
  position: absolute;
  right: 4px;
  left: auto;
  top: -1px;
}
.controls-RichEditorDropdown__head .controls-RichEditorDropdown__headText,
.controls-RichEditorDropdown__head .controls-RichEditorDropdown__headIcon {
  height: 24px;
  line-height: 24px !important;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0px 12px 0px 2px;
  display: inline-block;
  white-space: nowrap;
}
.controls-RichEditorDropdown__head .controls-RichEditorDropdown__headIcon:hover {
  color: #313E78 !important;
}
.controls-RichEditorDropdown__item {
  padding: 4px 9px 4px 2px !important;
}
.controls-RichEditorDropdown__picker {
  padding-top: 2px;
}
.controls-RichEditorDropdown__picker .controls-RichEditorDropdown__head {
  margin-top: -2px;
}
.controls-RichEditorDropdown__picker.controls-DropdownList__picker.controls-DropdownList__hideSelectedInList .controls-DropdownList__item.controls-DropdownList__item__selected {
  display: block;
}
.controls-RichEditorDropdown__picker.controls-DropdownList__picker.fre-align {
  padding-top: 0;
  margin: 3px 0 0 3px;
}
.controls-RichEditorDropdown__picker.controls-DropdownList__picker.fre-align .controls-RichEditorDropdown__item {
  text-align: center;
  padding: 6px 4px 6px 2px !important;
}
.controls-DropdownList.ws-disabled .controls-RichEditorDropdown__head .controls-RichEditorDropdown__headIcon {
  color: #CCC !important;
}
