.controls-newBrowser {
   // Каскад - не хорошо, лучшее решение будет по этой задаче
   // https://online.sbis.ru/opendoc.html?guid=dcb9fe64-a71c-4360-a863-945b8ed40713
   .controls-Explorer__PathWrapper {
      padding: 12px 0 6px;
   }

   .controls-Explorer__afterBreadCrumbsTemplate {
      display: flex;
      flex-basis: 100%;
      justify-content: flex-end;
   }
}

.controls-newBrowser__detail {
   flex: 1 1 100%;
}
