.controls-DateRangeSelectorLite {
   display: inline-flex;
}

.controls-DateRangeSelectorLite__view {
   flex-grow: 1;
   flex-shrink: 1;
}

.controls-DateRangeSelectorLite__view_minWidth {
   min-width: @min-width_DateRangeSelectorLite;
}

.controls-DateRangeSelectorLite__picker-normal {
   margin-top: (@height_DateLinkView - @height_PeriodLiteDialog-currentValue)/2 - @thickness_border_default;
}

.controls-DateRangeSelectorLite__picker-years-only {
   margin-top: (@height_DateLinkView - @standart-line-height_PeriodLiteDialog)/2 - (2 * @thickness_border_default) - @standart-line-height_PeriodLiteDialog;
}