.controls-DateRangeSelectorLite {
   display: inline-flex;
}

.controls-DateRangeSelectorLite__view {
   flex-grow: 1;
   flex-shrink: 1;
}

.controls-DateRangeSelectorLite__view_minWidth {
   min-width: @min-width_DateRangeSelectorLite;
}

.controls-DateRangeSelectorLite__picker-normal {
   margin-top: ceil((@height_DateLinkView - @height_PeriodLiteDialog-currentValue)/2) - @border-width_DateLitePopup - (@line-height_PeriodLiteDialog-currentValue - @height_PeriodLiteDialog-currentValue);
}

.controls-DateRangeSelectorLite__picker-normal-prevNext {
   margin-top: ceil((@height_DateLinkView - @height_PeriodLiteDialog-currentValue)/2) - @border-width_DateLitePopup - @padding_DateLinkView-value;
}

.controls-DateRangeSelectorLite__picker-years-only {
   margin-top: ceil((@height_DateLinkView - @standart-line-height_PeriodLiteDialog)/2) - @border-width_DateLitePopup - @height_PeriodLiteDialog-year;
}
