.spoiler__listCut-containerWidth {
    width: 600px;
}
 
.spoiler__listCut-width {
    width: 200px;
}
 
.spoiler__width {
    width: 100px;
}
 
.spoiler__column-header {
    text-align: center;
    font-weight: bolder;
}
 
.spoiler__margin {
    margin-top: 7px;
}
 