<Controls.Filter.Controller filterButtonSource="{{_options.filterButtonSource}}" fastFilterSource="{{_options.fastFilterSource}}" filter="{{_options.filter}}">
    <Controls.Container.Data source="{{_options.source}}" navigation="{{_options.navigation}}" sorting="{{_options.sorting}}" keyProperty="{{_options.keyProperty}}">
        <Controls.Search.Controller searchParam="{{_options.searchParam}}">
            <ws:partial template="{{_options.content}}"/>
        </Controls.Search.Controller>
    </Controls.Container.Data>
</Controls.Filter.Controller>