<div class="controls-SelectorBrowser">
    <div class="controls-Browser__header">
        <ws:if data="{{_options.search}}">
            <Controls.Search.Input.Container>
                <ws:partial template="{{_options.search}}" class="controls-Browser__search"/>
            </Controls.Search.Input.Container>
        </ws:if>
        <ws:if data="{{_options.multiSelectVisibility}}">
            <Controls.Operations.__MultiSelector attr:class="controls-SelectorBrowser__multiSelector" type="simple"/>
        </ws:if>
        <ws:if data="{{_options.topTemplate}}">
            <ws:partial template="{{_options.topTemplate}}" class="controls-Browser__topTemplate"/>
        </ws:if>
        <ws:if data="{{_options.fastFilter || _options.filterButton}}">
            <div name="filterWrapper" class="controls-Browser__filter-wrapper">
                <ws:if data="{{_options.fastFilter}}">
                    <Controls.Filter.Fast.Container>
                        <ws:partial template="{{_options.fastFilter}}" class="controls-Browser__fastFilter"/>
                    </Controls.Filter.Fast.Container>
                </ws:if>
                <ws:if data="{{_options.filterButton}}">
                    <Controls.Filter.Button.Container>
                        <ws:partial template="{{_options.filterButton}}" class="controls-Browser__filterButton"/>
                    </Controls.Filter.Button.Container>
                </ws:if>
            </div>
        </ws:if>
    </div>
    <div class="controls-SelectorBrowser__content">
        <Controls.List.Container>
            <Controls.List.MultiSelector>
                <ws:partial template="{{_options.content}}"/>
            </Controls.List.MultiSelector>
        </Controls.List.Container>
    </div>
</div>
