<div class="controls-ListLayout">
    <ws:partial template="{{_options.content}}" source="{{_source}}" filter="{{_filter}}" navigation="{{_options.navigation}}"/>
    <ws:Controls.Event.Emitter event="searchValueChanged" on:searchValueChanged="_searchValueChanged()" attr:tabindex="{{-1}}"/>
    <ws:Controls.Event.Emitter event="filterChanged" on:filterChanged="_filterChanged()" attr:tabindex="{{-1}}"/>
</div>