<div class="ws-DialogTemplate">
    <ws:if data="{{_options.topArea}}">
        <div class="ws-DialogTemplate__top-area">
            <ws:if data="{{_options.caption}}">
                <span class="ws-DialogTemplate__caption">{{_options.caption}}</span>
            </ws:if>
            <ws:partial template="{{_options.topArea}}" scope="{{_options.componentOptions}}"></ws:partial>
            <span class="ws-DialogTemplate__close_button" event:onclick="closePopup()"/>
        </div>
    </ws:if>
    <div class="ws-DialogTemplate__content-area">
        <ws:partial template="{{_options.contentArea}}" scope="{{_options.componentOptions}}"></ws:partial>
    </div>
</div>