<div class="controls-BackButton {{ !caption ? 'controls-BackButton__empty'}} {{ !visible ? 'ws-hidden' }}{{style ? ' controls-BackButton_' + style}}">
   <a href="{{href}}" class="controls-BackButton__captionArrow{{style ? ' controls-BackButton__captionArrow_' + style}}"></a>
   <ws:SBIS3.CONTROLS.Link
      name="BackButton-caption"
      className="controls-BackButton__caption{{style ? ' controls-BackButton__caption_' + style}}"
      caption="{{ caption }}"
      tooltip="{{ tooltip || caption }}"
      icon="{{ icon }}"
      href="{{ href }}"
      escapeCaptionHtml="{{ escapeCaptionHtml }}"
      command="{{command}}"
      commandArgs="{{commandArgs}}"
      /><ws:SBIS3.CONTROLS.Link
        name="BackButton-arrow"
        className="controls-BackButton__arrow controls-Link__disabledHover"
        icon="icon-16 icon-View icon-primary action-hover"
        tabindex="0"
        activableByClick="{{false}}"
      />
</div>