<div class="controls-BackButton {{ !caption ? 'controls-BackButton__empty'}} {{ !visible ? 'ws-hidden' }}">
   <ws:SBIS3.CONTROLS.Link
      name="BackButton-caption"
      className="controls-BackButton__caption"
      caption="{{ caption }}"
      tooltip="{{ caption }}"
      icon="{{ icon }}"
      href="{{ href }}"
      escapeCaptionHtml="{{ escapeCaptionHtml }}"
      command="{{command}}"
      commandArgs="{{commandArgs}}"
      /><ws:SBIS3.CONTROLS.Link
        name="BackButton-arrow"
        className="controls-BackButton__arrow controls-Link__disabledHover"
        icon="icon-16 icon-View icon-primary action-hover"
        tabindex="0"
        activableByClick="{{false}}"
      />
</div>