<div class="controls-BackButton {{ !caption ? 'controls-BackButton__empty'}} {{ !visible ? 'ws-hidden' }}">
   <ws:SBIS3.CONTROLS.Link
      name="BackButton-caption"
      className="controls-BackButton__caption"
      caption="{{ caption }}"
      tooltip="{{ caption }}"
      icon="{{ icon }}"
      href="{{ href }}"
      escapeCaptionHtml="{{ escapeCaptionHtml }}"
      command="{{command}}"
      commandArgs={{commandArgs}}
      /><div class="controls-BackButton__arrow icon-16 icon-View icon-primary action-hover"></div>
</div>