/*group*/
/*ширина кнопки закрытия окна 36px + 2px на небольшой отступ между кнопкой сохранить (в ie8 нет скруглений и кнопки склеиваются)*/
/*ширина кнопки закрытия окна 36px + 90px ширина кнопки сохранить + 2px на небольшой отступ между ними */
.controls-BackButton {
  cursor: pointer;
  display: inline-block;
  line-height: 24px;
  position: relative;
  white-space: nowrap;
  font-weight: 700;
  font-size: 18px;
}
.controls-BackButton.controls-BackButton__orange .controls-BackButton__caption {
  color: #D94700;
}
.controls-BackButton.controls-BackButton__orange:before {
  color: #313E78;
}
.controls-BackButton.controls-BackButton__orange:hover .controls-BackButton__caption {
  color: blue;
}
.controls-BackButton.controls-BackButton__orange:hover:before {
  color: blue;
}
.controls-BackButton .controls-BackButton__caption {
  font-style: normal;
  color: #313E78;
  overflow: hidden;
  padding-left: 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
  max-width: calc(100% - 8px);
  line-height: normal;
  font-weight: 700;
  font-size: 18px;
}
.controls-BackButton:before {
  width: 8px;
  color: blue;
  font-weight: normal;
  content: '\e003';
  float: left;
  margin: 0;
  padding: 0;
}
.controls-BackButton.controls-BackButton__show-arrow:hover .controls-BackButton__arrow {
  display: inline-block;
  color: #587AB0 !important;
}
.controls-BackButton.controls-BackButton__show-arrow:hover .controls-BackButton__arrow:hover {
  color: #ff7033 !important;
}
.controls-BackButton.controls-BackButton__show-arrow.controls-BackButton__hover-arrow .controls-BackButton__arrow {
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
  height: 24px;
  background-color: #fff;
}
.controls-BackButton.controls-BackButton__show-arrow.controls-BackButton__hover-arrow .controls-BackButton__arrow:before {
  top: 4px;
}
.controls-BackButton.controls-BackButton__show-arrow .controls-BackButton__arrow {
  position: relative;
  top: -3px;
}
.controls-BackButton.controls-BackButton__show-arrow .controls-BackButton__arrow:before {
  float: right;
  position: relative;
}
.controls-BackButton .controls-BackButton__arrow {
  display: none;
}
.controls-BackButton .controls-BackButton__caption.controls-Link:hover:not(.ws-disabled):not(.controls-Click__active):hover {
  text-decoration: none;
  color: blue;
}
.controls-BackButton .controls-BackButton__caption.controls-Link.controls-Click__active {
  text-decoration: none;
  color: blue;
}
.controls-BackButton.controls-BackButton__empty:before {
  content: '';
  width: 0;
  margin: 0;
}
.controls-BackButton.controls-BackButton__empty .controls-BackButton__caption {
  padding-left: 0;
}
.ws-is-mobile-platform .controls-BackButton:hover .controls-BackButton__caption {
  color: #313E78;
}
.ws-is-mobile-platform .controls-BackButton:active .controls-BackButton__caption {
  color: blue;
}
.ws-is-mobile-safari .controls-BackButton .controls-BackButton__caption,
.ws-is-desktop-safari .controls-BackButton .controls-BackButton__caption,
.ws-is-mobile-chrome-ios .controls-BackButton .controls-BackButton__caption {
  max-width: calc(100% - 7px);
}
.ws-is-mobile-safari .controls-BackButton .controls-BackButton__arrow,
.ws-is-desktop-safari .controls-BackButton .controls-BackButton__arrow,
.ws-is-mobile-chrome-ios .controls-BackButton .controls-BackButton__arrow {
  top: 2px;
}
.has_path .controls-BackButton__arrow {
  width: 20px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  right: 16px;
}
