<div
        on:keyup="_keyPressed()"
        ws-tab-cycling="true"
        ws-delegates-tabfocus="true"
        class="controls-InformationPopup controls-InformationPopup__status-{{_options.status}} controls-SubmitPopup_popup">
   <!--Если размер текста сообщения и описания превышает заданные рамки, то увеличиваем размер окна-->
   <div class="controls-SubmitPopup{{_options.autoWidth ? '' : _options.message.length > _options.messageMaxLength || _options.details.length > _options.detailsMaxLength ? ' controls-SubmitPopup__size-big' : ' controls-SubmitPopup__size-standard'}}">

      <ws:partial
              template="{{_options.bodyTemplate}}"
              message="{{_options.message}}"
              messageTemplate="{{_options.messageTemplate}}"
              details="{{_options.details}}"
              detailsTemplate="{{_options.detailsTemplate}}"
      ></ws:partial>

      <ws:partial
              template="{{_options.footerTemplate}}"
              hasCancelButton="{{_options.hasCancelButton}}"
              useConfirmButtons="{{_options.status === 'confirm' || _options.useConfirmButton}}"
              positiveButton="{{_options.positiveButton}}"
              negativeButton="{{_options.negativeButton}}"
              cancelButton="{{_options.cancelButton}}"
              submitButton="{{_options.submitButton}}"
      ></ws:partial>
   </div>
</div>