.cDemo-ScrollContainer {
   height: 170px;
}
.cDemo-ScrollContainer .controls-ListView__itemV {
   height: 40px;
}
.my_editing_form {
   display: inline-flex;
   flex-direction: column;
   padding: 10px;
}
.my_editing_form_element {
   display: inline-flex;
   padding: 10px;
   align-items: baseline;
}
.my_editing_form_element_title {
   margin: 0 10px;
   width: 80px;
   text-align: end;
}
.inline_editing {
   display: inline-flex;
   align-items: baseline;
}
.content_tab_margin {
   margin:0 4px;
}
.header_demo_class {
   font-weight: bold;
}

.demo_input_width {
   width: 150px;
}