.ControlsDemo-EditAtPlace__template {
   display: flex;
   flex-direction: column;
   align-items: baseline;
}

.ControlsDemo-EditAtPlace__fieldWrapper {
   display: inline-flex;
   align-items: baseline;
   padding: 1em;
}

.ControlsDemo-EditAtPlace__title {
   width: 100px;
}

.controls-demo_Wrapper.ControlsDemo-EditAtPlace__pgWrapper {
   width: auto;
   .controls-demo_options-wrapper {
      width: auto;
   }
   .controls-demo_event-example__wrapper {
      min-width: 250px;
      width: auto;
   }
}

.inline_editing {
   display: inline-flex;
   align-items: baseline;
}