<div>
   <h2>with background</h2>
   <Controls.EditAtPlace
      name="edit"
      bind:editObject="_record"
      enabled="{{true}}"
      on:cancelEdit="_cancelHandler()"
   >
      <div class="my_editing_form">
         <div class="my_editing_form_element">
            <span class="my_editing_form_element_title">ОГРН:</span>
            <ws:partial
               template="tmpl!Controls/EditAtPlace/EditingTemplate"
               fieldName="text1"
            >
               <ws:editorTemplate>
                  <Controls.Input.Text selectOnClick="{{ false }}" />
               </ws:editorTemplate>
            </ws:partial>
         </div>
         <div class="my_editing_form_element">
            <span class="my_editing_form_element_title">КПП:</span>
            <ws:partial
               template="tmpl!Controls/EditAtPlace/EditingTemplate"
               fieldName="text2"
            >
               <ws:editorTemplate>
                  <Controls.Input.Text selectOnClick="{{ false }}" />
               </ws:editorTemplate>
            </ws:partial>
         </div>
         <div class="my_editing_form_element">
            <span class="my_editing_form_element_title">ИНН:</span>
            <ws:partial
               template="tmpl!Controls/EditAtPlace/EditingTemplate"
               fieldName="text3"
            >
               <ws:editorTemplate>
                  <Controls.Input.Text selectOnClick="{{ false }}" />
               </ws:editorTemplate>
            </ws:partial>
         </div>
      </div>
   </Controls.EditAtPlace>
   <h2>showToolbar style="withBackground"</h2>
   <Controls.EditAtPlace
      name="edit"
      bind:editObject="_record2"
      enabled="{{true}}"
      showToolbar="{{true}}"
      style="withBackground"
      on:cancelEdit="_cancelHandler2()"
   >
      <div class="inline_editing" >
            <span class="my_editing_form_element_title">Surname:</span>
            <ws:partial
               template="tmpl!Controls/EditAtPlace/EditingTemplate"
               fieldName="text1"
            >
               <ws:editorTemplate>
                  <Controls.Input.Text selectOnClick="{{ false }}" />
               </ws:editorTemplate>
            </ws:partial>
      </div>
   </Controls.EditAtPlace>
   <h2>in tabs</h2>
      <Controls.Tabs.Buttons
              bind:selectedKey='_selectedTab'
              keyProperty="id"
              on:cancelEdit="_cancelHandler3()"
              on:beforeEndEdit="_beforeEndEdit()"
              itemTemplateProperty="itemTemplate"
              source="{{_tabSource}}"
      />
   <h2>in tabs 2</h2>
   <Controls.Tabs.Buttons
           bind:selectedKey='_selectedTab2'
           keyProperty="id"
           on:cancelEdit="_cancelHandler4()"
           on:beforeEndEdit="_beforeEndEdit2()"
           itemTemplateProperty="itemTemplate"
           source="{{_tabSource2}}"
   />
</div>
