<div class="controls-ExportCustomizer-Presets-View">
   <SBIS3.CONTROLS.SelectorButton
      className="controls-ExportCustomizer-Presets-View__selector"
      name="controls-ExportCustomizer-Presets-View__selector"
      withoutCross="{{true}}"
      items="{{_items}}"
      idProperty="id"
      displayProperty="title"
      selectedKeys="{{selectedId ? [selectedId] : []}}"
      multiselect="{{false}}"
      dictionaries="{{ [{
         'dialogOptions': {
            'className': 'controls-ExportCustomizer-Presets-View__picker',
            'border': false,
            'animation': 'fade',
            'isStack': false,
            'offset': {'x':-13, 'y':-7}
         },
         'template': 'SBIS3.CONTROLS/ExportCustomizer/_Presets/ScrolledList',
         'componentOptions': {
            'className': 'controls-ExportCustomizer-Presets-View__scrolled',
            'template': 'SBIS3.CONTROLS/ListView',
            'scope': {
               'className': 'controls-ExportCustomizer-Presets-View__list controls-ListView__orangeMarker',
               'items': _items,
               'selectedKey': selectedId,
               'idProperty': 'id',
               'displayProperty': 'title',
               'itemContentTpl': 'tmpl!SBIS3.CONTROLS/ExportCustomizer/_Presets/tmpl/item',
               'enabledMove': false,
               'itemsActions': [],
               'itemsActionsInItemContainer': true,
               '_footerTitle': addNewTitle
            }
         }
      }] }}"
      >
      <ws:defaultCaption>
         <ws:if data="{{dialogTitle}}">{{dialogTitle}}</ws:if><ws:else>{[НастройщикЭкспорта@@Настройка экспорта]}</ws:else>
      </ws:defaultCaption>
      <ws:tooltip>
         <ws:if data="{{presetsTooltip}}">{{presetsTooltip}}</ws:if><ws:else>{[НастройщикЭкспорта@@Выбрать другой шаблон]}</ws:else>
      </ws:tooltip>
   </SBIS3.CONTROLS.SelectorButton>
   <SBIS3.CONTROLS.EditAtPlace
      className="controls-ExportCustomizer-Presets-View__editor"
      name="controls-ExportCustomizer-Presets-View__editor"
      enableControlPanel="{{true}}"
      editInPopup="{{false}}"
      visible="{{false}}"
      text="{{'editedTitle'|mutable}}"
      >
      <ws:editorTpl>
         <SBIS3.CONTROLS.TextBox
            className="controls-ExportCustomizer-Presets-View__input"
            name="controls-ExportCustomizer-Presets-View__input"
            maxLength="64"
            text="{{'editedTitle'|mutable}}"
            placeholder="{[НастройщикЭкспорта@@Название шаблона]}"
         />
      </ws:editorTpl>
   </SBIS3.CONTROLS.EditAtPlace>
</div>
