<div class="controls-ExportCustomizer-Presets-View">
   <SBIS3.CONTROLS:SelectorButton
      className="controls-ExportCustomizer-Presets-View__button"
      name="controls-ExportCustomizer-Presets-View__button"
      withoutCross="{{true}}"
      items="{{_items}}"
      idProperty="id"
      displayProperty="title"
      selectedKeys="{{_selectedId ? [_selectedId] : []}}"
      multiselect="{{false}}"
      dictionaries="{{ [{
         'template': 'SBIS3.CONTROLS/ListView',
         'dialogOptions': {
            'className': 'controls-ExportCustomizer-Presets-View__picker',
            'border': false,
            'direction': 'bottom',
            'isStack': false,
            'offset': {'x':-12, 'y':-6}
         },
         'componentOptions': {
            'className': 'controls-ExportCustomizer-Presets-View__list controls-ListView__orangeMarker',
            'items': _items,
            'selectedKey': _selectedId,
            'idProperty': 'id',
            'displayProperty': 'title',
            'itemContentTpl': 'tmpl!SBIS3.CONTROLS/ExportCustomizer/_Presets/tmpl/item',
            'itemsActions': [],
            'itemsActionsInItemContainer': true,
            '___footerTpl': 'tmpl!SBIS3.CONTROLS/ExportCustomizer/_Presets/tmpl/footer'
         }
      }] }}"
      >
      <ws:defaultCaption>
         <ws:if data="{{dialogTitle}}">{{dialogTitle}}</ws:if><ws:else>{[НастройщикЭкспорта@@Настройка экспорта]}</ws:else>
      </ws:defaultCaption>
      <ws:tooltip>
         <ws:if data="{{presetsTooltip}}">{{presetsTooltip}}</ws:if><ws:else>{[НастройщикЭкспорта@@Выбрать другой шаблон]}</ws:else>
      </ws:tooltip>
   </SBIS3.CONTROLS:SelectorButton>
</div>
