<Controls.Container.Filter>
   <Controls.Container.Search serachParam="title">
      <div>
         <ws:if data="{{_options.searchConfig}}">
            <div>
               <Controls.Container.Input.Search>
                  <Controls.Input.Search
                          bind:value="_options.searchConfig.value">
                  </Controls.Input.Search>
               </Controls.Container.Input.Search>
            </div>
         </ws:if>
         <ws:if data="{{_options.content}}">
            <div>
               <Controls.Container.List searchParam="title" source="{{_options.source}}">
                  <ws:content>
                     <ws:partial template="{{_options.content}}"/>
                  </ws:content>
               </Controls.Container.List>
            </div>
         </ws:if>
      </div>
   </Controls.Container.Search>
</Controls.Container.Filter>