<Controls.Container.Filter>
   <Controls.Container.Search>
      <div>
         <ws:if data="{{_options.searchConfig}}">
            <Controls.Container.Input.Search>
               <Controls.Input.Search
                       bind:value="_options.searchConfig.value"
                       class="controls-Browser__search">
               </Controls.Input.Search>
            </Controls.Container.Input.Search>

         </ws:if>
         <ws:if data="{{_options.content}}">
            <Controls.Container.List scope="{{_options.contentConfig}}">
               <ws:partial template="{{_options.content}}"/>
            </Controls.Container.List>
         </ws:if>
      </div>
   </Controls.Container.Search>
</Controls.Container.Filter>