@import "_theme.less";
@import "../_variables";

.controls_theme-@{themeName} {

   // common

   --primary_color: @primary_color;
   --primary_text-color: @primary_text-color;
   --primary_hover_text-color: @primary_hover_text-color;

   // buttons

   --secondary_background-color_button_functionalButton: @secondary_background-color_button_functionalButton;
   --secondary_hover_background-color_button_functionalButton: @secondary_hover_background-color_button_functionalButton;
   --primary_hover_background-color_button: @primary_hover_background-color_button;
   --primary_active_background-color_button: @primary_active_background-color_button;

   // heading
   --primary_icon_background-image_m_headingBack: url('./img/BackArrow.svg');
   --primary_icon_hover_background-image_m_headingBack: url('./img/BackArrow.svg');
   --primary_text-color_heading: #E44766;
   --primary_hover_text-color_heading: #DD2044;
}
