<div class="controls-HighChartsDS">
    <Controls.HighCharts chartOptions="{{_chartOptions}}"/>
    <ws:if data="{{_loading}}">
        <div class="controls-HighChartsDS__loadingIndicator"></div>
    </ws:if>
</div>