<div attr:class="ws-ListView__item {{marker != false && itemData.isSelected ? 'ws-ListView__item__selected'}}"
     attr:key="{{itemData.dispItem.getHash()}}">
   {{debug()}}
   <ws:if data="{{contentTemplate}}">
      <ws:partial
            template="{{contentTemplate}}"
            itemData="{{itemData}}"></ws:partial>
      </ws:if>
   <ws:else>
      <div>{{itemData.getPropValue(itemData.item, displayProperty || 'title')}}</div>
   </ws:else>
</div>