.ws-ListView {
  position: relative;
}

.ws-ListView__topPlaceholder, .ws-ListView__bottomPlaceholder{
  position: relative;
}

.ws-ListView__topLoadTrigger, .ws-ListView__bottomLoadTrigger {
  position: absolute;
}

.ws-ListView__topLoadTrigger {
  bottom: -100px;
}

.ws-ListView__bottomLoadTrigger {
  top: -100px;
}

.ws-ListView__topListTrigger, .ws-ListView__bottomListTrigger {
  position: absolute;
}

.ws-ListView__topListTrigger {
  top: 10px;
}

.ws-ListView__bottomListTrigger {
  bottom: 10px;
}


.ws-ListView__item:hover {
   background-color: lightblue;
}

.ws-ListView__item {
   border-left: 3px solid transparent;
}
.ws-ListView__item__selected {
   border-left: 3px solid orange;
}