<div class="ws-ListView">
   <ws:for data="_getStartEnumerationPosition(); _checkConditionForEnumeration(); _getNextEnumerationPosition();">
      <ws:partial
            template="{{_itemTemplate}}"
            item="{{_display.at(_curIndex).getContents()}}"
            dispItem="{{_display.at(_curIndex)}}"
            index="{{_curIndex}}"
            selected="{{_display.at(_curIndex) == _selectedItem}}"
            itemTplData="{{_itemTplData}}"/>
   </ws:for>
</div>