<ws:Controls.List.ListControl.ListRender event:onItemClick="_onItemClick()"
      display="{{_display}}"
      itemTemplate="{{_itemTemplate}}"
      displayProperty="{{_options.displayProperty}}"
      selectedItem="{{_selectedItem}}">
</ws:Controls.List.ListControl.ListRender>