/*group*/
.ws-ListView {
  position: relative;
}
.ws-ListView__topLoadTrigger,
.ws-ListView__bottomLoadTrigger {
  position: absolute;
}
.ws-ListView__topLoadTrigger {
  top: 100px;
}
.ws-ListView__bottomLoadTrigger {
  bottom: 100px;
}
.ws-ListView__item:hover {
  background-color: lightblue;
}
.ws-ListView__item {
  border-left: 3px solid transparent;
}
.ws-ListView__item__selected {
  border-left: 3px solid orange;
}
