<div>
   <ws:for data="_getStartEnumerationPosition(); _checkConditionForEnumeration(); _getNextEnumerationPosition();">
      <ws:partial
            template="{{_options.itemTemplate}}"
            item="{{_options.display.at(_curIndex).getContents()}}"
            dispItem="{{_options.display.at(_curIndex)}}"
            index="{{_curIndex}}"
            _getPropertyValue="{{_getPropertyValue}}"
            _options="{{_options}}"
            selected="{{_options.display.at(_curIndex) == _options.selectedItem}}"/>
   </ws:for>
</div>