.controls-Render {
   contain: style;
   position: relative;
   display: inline-block;
   box-sizing: border-box;
   border-style: var(--border-style_inputText);
}

.controls-Render__wrapper_footer {
   flex-wrap: wrap;
}

.controls-Render_border-top {
   border-top-width: var(--border-thickness_inputText);
}

.controls-Render_border-right {
   border-right-width: var(--border-thickness_inputText);
}

.controls-Render_border-bottom {
   border-bottom-width: var(--border-thickness_inputText);
}

.controls-Render_border-left {
   border-left-width: var(--border-thickness_inputText);
}

.controls-Render_border-top-empty {
   border-top-width: 0;
}

.controls-Render_border-right-empty {
   border-right-width: 0;
}

.controls-Render_border-bottom-empty {
   border-bottom-width: 0;
}

.controls-Render_border-left-empty {
   border-left-width: 0;
}

/**
 * https://github.com/philipwalton/flexbugs#flexbug-6
 */
.controls-Render__field {
   flex-shrink: 1;
}

/**
 * In ie11, container sizes are ignored if it can be compressed. Specify explicitly not to compress the container.
 */
.controls-Render__beforeField,
.controls-Render__afterField {
   flex-shrink: 0;
}

.controls-Render_multiline {
   height: auto;
}

/**
 * Problem: The container in IE does not stretch the content.
 * Fix: Use overflow-y: auto.
 * Remark: Not use min-height to avoid crossing, because the parent can redefine.
 */
.ws-is-ie .controls-Render_multiline {
   overflow-y: auto;
}

.controls-Render__wrapper {
   width: 100%;
   height: 100%;
   max-height: inherit;

   /**
    * Use inline-flex, that would be in ie not to break the baseline in due to overflow inside the container.
    */
   display: inline-flex;
   align-items: baseline;
}

.controls-Render__baseline {
   height: 100%;
   display: flex;
   user-select: none;
   align-items: center;
}

.controls-Render__placeholder {
   color: var(--placeholder-color_inputText);
}

.controls-Render__placeholder_overflow {
   .text-overflow();
}

.controls-Render_background-contrast.controls-Render_state-valid {
   background-color: var(--background-color_inputText);
}

.controls-Render_state-valid {
   border-style: var(--border-style_inputText);
   border-color: var(--border-color_inputText);
}

.controls-Render_background-contrast.controls-Render_state-invalidAccent {
   background-color: var(--invalid_focus_background-color);
}
.controls-Render_state-invalidAccent {
   border-style: var(--invalid_border-style_inputText);
   border-color: var(--invalid_border-color_inputText);
}

.controls-Render_background-contrast.controls-Render_state-invalid {
   background-color: var(--invalid_background-color_inputText);
}

.controls-Render_state-invalid {
   border-style: var(--invalid_border-style_inputText);
   border-color: var(--invalid_border-color_inputText);
}

.controls-Render_background-contrast.controls-Render_state-success {
   background-color: var(--background-color_inputText);
}

.controls-Render_state-success {
   border-color: var(--success_color);
}

.controls-Render_background-contrast.controls-Render_state-secondary {
   background-color: var(--background-color_inputText);
}

.controls-Render_state-secondary {
   border-color: var(--secondary_color);
}

.controls-Render_background-contrast.controls-Render_state-warning {
   background-color: var(--background-color_inputText);
}

.controls-Render_state-warning {
   border-color: var(--warning_color);
}

.controls-Render_background-contrast.controls-Render_state-readonly {
   background-color: var(--readonly_background-color_inputText);
}

.controls-Render_state-readonly {
   border-color: var(--readonly_border-color_inputText);
}

.controls-Render_background-contrast.controls-Render_state-readonly-multiline {
   background-color: var(--readonly_background-color_inputText);
}

.controls-Render_state-readonly-multiline {
   border-color: var(--readonly_border-color_inputArea);
}

.ws-is-hover {
   .controls-Render_background-contrast.controls-Render_state-valid:hover {
      background-color: var(--background-color_hover_inputText);
   }

   .controls-Render_state-valid:hover {
      border-style: var(--border-style_hover_inputText);
      border-color: var(--border-color_hover_inputText);
   }

   .controls-Render_state-invalidAccent:hover {
      border-style: var(--invalid_border-style_inputText);
   }

   .controls-Render_state-invalid:hover {
      border-style: var(--invalid_border-style_inputText);
   }
}

/**
 * Do not use a selector enumeration if at least one uses focus-within.
 * They will not apply!!!
 */
.controls-Render_background-contrast.controls-Render_state-valid:focus-within {
   background-color: var(--background-color_focus_inputText);
}

.controls-Render_state-valid:focus-within {
   border-style: var(--border-style_focus_inputText);
   border-color: var(--border-color_focus_inputText);
}

.controls-Render_background-contrast.controls-Render_state-invalid:focus-within {
   background-color: var(--background-color_focus_inputText);
}

.controls-Render_state-invalid:focus-within {
   border-style: var(--invalid_border-style_inputText);
   border-color: var(--invalid_focus_border-color_inputText);
}

.controls-Render_background-contrast.controls-Render_state-invalidAccent-active:focus-within {
   background-color: var(--invalid_focus_background-color);
}

.controls-Render_state-invalidAccent-active:focus-within {
   border-style: var(--invalid_border-style_inputText);
   border-color: var(--invalid_focus_border-color_inputText);
}

.controls-Render_background-contrast.controls-Render_state-valid-active {
   background-color: var(--background-color_focus_inputText);
}

.controls-Render_state-valid-active {
   border-style: var(--border-style_focus_inputText);
   border-color: var(--border-color_focus_inputText);
}

.controls-Render_background-contrast.controls-Render_state-invalid-active {
   background-color: var(--background-color_focus_inputText);
}

.controls-Render_state-invalid-active {
   border-style: var(--invalid_border-style_inputText);
   border-color: var(--invalid_focus_border-color_inputText);
}

.controls-Render_background-contrast.controls-Render_state-invalidAccent-active {
   background-color: var(--invalid_focus_background-color);
}

.controls-Render_state-invalidAccent-active {
   border-style: var(--invalid_border-style_inputText);
   border-color: var(--invalid_focus_border-color_inputText);
}

.controls-Render_textAlign {
   @variants: right, left, center;
   .for(@variants, {
      &-@{_item} {
         text-align: @_item;
      }
   });
}

.controls-Render_borderRadius {
   @variants: xs, s, m, l, xl, 2xl, default;
   .for(@variants, {
      &-@{_item} {
         border-radius: ~"var(--border-radius_@{_item}_inputText)";
      }
   });
}

//fontsize
.controls-fontsize-xs.controls-Render-fontsize-xs {
   font-size: var(--font-size_xs_input);
}

.controls-fontsize-s.controls-Render-fontsize-s {
   font-size: var(--font-size_s_input);
}

.controls-fontsize-m.controls-Render-fontsize-m {
   font-size: var(--font-size_m_input);
}

.controls-fontsize-l.controls-Render-fontsize-l {
   font-size: var(--font-size_l_input);
}

.controls-fontsize-xl.controls-Render-fontsize-xl {
   font-size: var(--font-size_xl_input);
}

.controls-fontsize-2xl.controls-Render-fontsize-2xl {
   font-size: var(--font-size_2xl_input);
}

.controls-fontsize-3xl.controls-Render-fontsize-3xl {
   font-size: var(--font-size_3xl_input);
}

.controls-fontsize-4xl.controls-Render-fontsize-4xl {
   font-size: var(--font-size_4xl_input);
}

.controls-fontsize-5xl.controls-Render-fontsize-5xl {
   font-size: var(--font-size_5xl_input);
}

.controls-inlineheight-xs.controls-Render-inlineheight-xs {
   height: var(--inline_height_xs_input);
}

.controls-inlineheight-s.controls-Render-inlineheight-s {
   height: var(--inline_height_s_input);
}

.controls-inlineheight-m.controls-Render-inlineheight-m {
   height: var(--inline_height_m_input);
}

.controls-inlineheight-l.controls-Render-inlineheight-l {
   height: var(--inline_height_l_input);
}

.controls-inlineheight-xl.controls-Render-inlineheight-xl {
   height: var(--inline_height_xl_input);
}

.controls-inlineheight-2xl.controls-Render-inlineheight-2xl {
   height: var(--inline_height_2xl_input);
}

.controls-inlineheight-default.controls-Render-inlineheight-default {
   height: var(--inline_height_default_input);
}
