.controls-Render {
   contain: style;
   position: relative;
   display: inline-block;
   box-sizing: border-box;
}

/**
 * https://github.com/philipwalton/flexbugs#flexbug-6
 */
.controls-Render__field {
   flex-shrink: 1;
}

/**
 * In ie11, container sizes are ignored if it can be compressed. Specify explicitly not to compress the container.
 */
.controls-Render__beforeField,
.controls-Render__afterField {
   flex-shrink: 0;
}

.controls-Render_multiline {
   height: auto;
}

.controls-Render__wrapper {
   width: 100%;
   height: 100%;

   /**
    * Use inline-flex, that would be in ie not to break the baseline in due to overflow inside the container.
    */
   display: inline-flex;
   align-items: baseline;
}

.controls-Render__baseline {
   height: 100%;
   display: flex;
   align-items: center;
}

.controls-Render__placeholder_theme_@{themeName} {
   color: @color_Render-placeholder;
}

.controls-Render__placeholder_overflow {
   .text-overflow();
}

.controls-Render_theme_@{themeName}_size {
   @variants: s, m, l, default;
   .for(@variants, { &_@{_item} {
      height: ~"@{height_Render_size_@{_item}}";
   } });

   .for(@variants, { &_@{_item}_roundBorder {
      border-radius: ~"@{border-radius_Render_size_@{_item}}";
   } });
}

.controls-Render_theme_@{themeName}_fontStyle {
   @variants: default, primary, secondary;
   .for(@variants, { &_@{_item} {
      color: ~"@{color_Render_fontStyle_@{_item}}";
   } });
}

.controls-Render_theme_@{themeName}_fontStyle {
   @variants: default s, primary s, secondary s, default m, primary m, secondary m, default l, primary l, secondary l, default default, primary default, secondary default;
   .for(@variants, { @fontStyle: extract(@_item, 1); @size: extract(@_item, 2); &_@{fontStyle}_size_@{size} {
      font-size: ~"@{font-size_Render_fontStyle_@{fontStyle}_size_@{size}}";
      font-weight: ~"@{font-weight_Render_fontStyle_@{fontStyle}_size_@{size}}";
   } });
}

.controls-Render_theme_@{themeName}_style {
   border-style: solid;
   border-width: @border-width_Render;

   @variants: info, danger, invalid, primary, success, warning;
   .for(@variants, { &_@{_item} {
      border-color: ~"@{border-color_Render_style_@{_item}}";
      background: ~"@{background_Render_style_@{_item}}";
   } });

   .for(@variants, { .ws-is-no-touch &_@{_item}:hover {
      border-color: ~"@{border-color_Render_style_@{_item}_hover}";
      background: ~"@{background_Render_style_@{_item}_hover}";
   } });

   .for(@variants, { &_@{_item}_active {
      border-color: ~"@{border-color_Render_style_@{_item}_active}";
      background: ~"@{background_Render_style_@{_item}_active}";
   } });

   .for(@variants, { &_@{_item}:focus-within {
      border-color: ~"@{border-color_Render_style_@{_item}_active}";
      background: ~"@{background_Render_style_@{_item}_active}";
   } });

   .for(@variants, { &_@{_item}_readOnly {
      border-color: ~"@{border-color_Render_style_@{_item}_readOnly}";
      background: ~"@{background_Render_style_@{_item}_readOnly}";
   } });

   .for(@variants, { &_@{_item}_readOnly_multiline {
      border-color: ~"@{border-color_Render_style_@{_item}_readOnly_multiline}";
      background: ~"@{background_Render_style_@{_item}_readOnly_multiline}";
   } });
}

.controls-Render__tagStyle_theme_@{themeName} {
   top: 0;
   right: 0;
   cursor: pointer;
   position: absolute;
   width: @size_Render-tagStyle;
   height: @size_Render-tagStyle;

   @variants: info, danger, success, primary, warning, secondary;
   .for(@variants, { &_@{_item} {
      fill: ~"@{color_Render-tagStyle_@{_item}}";
   } });
}

.controls-Render_textAlign {
   @variants: right, left;
   .for(@variants, { &_@{_item} {
      text-align: @_item;
   } });
}
