.controls-MoneyTextBox {
  min-width: @money-text-box-min-width;
  text-align: right;
  cursor: auto;

  .controls-MoneyTextBox__decimals {
    font-size: @money-text-box-decimals-font-size;
    color: @money-text-box-decimals-color; //@gray-ccc-color;
    background-color: transparent;
  }

  .controls-TextBox__field {
    z-index: 1;
    text-align: inherit;
    padding:0;//чтобы копейки были близко к основному тексту в задизабленом состоянии
    line-height:@default-base-line-height;
  }

  &.ws-enabled {
    .controls-TextBox__field:focus {
      text-overflow: clip;
    }
  }

  .controls-TextBox__wrapper {
    padding: @text-box-input-padding;//чтобы копейки были близко к основному тексту в задизабленом состоянии
    .box-sizing(border-box);
    .justify-content(flex-end)
  }
  .controls-TextBox__placeholder {
    z-index: 0;
  }

}