/*group*/
/*ширина кнопки закрытия окна 36px + 2px на небольшой отступ между кнопкой сохранить (в ie8 нет скруглений и кнопки склеиваются)*/
/*ширина кнопки закрытия окна 36px + 90px ширина кнопки сохранить + 2px на небольшой отступ между ними */
.controls-MoneyTextBox {
  min-width: 102px;
  text-align: right;
}
.controls-MoneyTextBox .controls-MoneyTextBox__decimals {
  margin-left: -4px;
  padding: 2px 0;
  font-size: 12px;
  color: #CCC;
  background-color: #fff;
}
.controls-MoneyTextBox .controls-MoneyTextBox__input {
  outline: none;
  display: inline-block;
  width: 100%;
}
