.controls-MoneyTextBox {
  min-width: @money-text-box-min-width;
  &__decimals {
    font-size: @money-text-box-decimals-font-size;
    color: @money-text-box-decimals-color; //@gray-ccc-color;
  }

  &.ws-enabled {
    .controls-TextBox__field:focus {
      text-overflow: clip;
    }
  }
}