.controls-MoveDialog {
   min-width: 400px;
   max-width: 400px;
   min-height: 400px;
   max-height: 400px;
   overflow-y: scroll;

   .controls-MoveDialog-TreeDataGrid {
      padding: 0 0 5px 0;
      /*TODO как скрыть PathSelector?*/
      .controls-HierarchyDataGrid__PathSelector {
         display: none;
      }
   }
}
.controls-MoveDialog__activateMove {
   position: absolute;
   right: 38px;
   top: 8px;
}