@import "Controls-default-theme/_theme";

// TODO Избавимся от каскадов по задаче https://online.sbis.ru/opendoc.html?guid=d6d1cee1-1756-455e-b097-fefca8c3246a
.ws-is-hover {
    // default
    .controls-Grid__row_highlightOnHover_default_theme-default:hover {
        .controls-Grid__item_background-hover_primary_theme-default {
            background-color: @primary_color;
        }

        .controls-Grid__row-cell-background-hover-primary_theme-default:not(.controls-Grid__row-ladder-cell) {
            background-color: @primary_color;
        }
    }

    // light-large
    .controls-Grid__row_highlightOnHover_default_theme-retail__light-large:hover {
        .controls-Grid__item_background-hover_primary_theme-retail__light-large {
            background-color: @primary_color;
        }
        .controls-Grid__row-cell-background-hover-primary_theme-retail__light-large:not(.controls-Grid__row-ladder-cell) {
            background-color: @primary_color;
        }
    }

    // light-medium
    .controls-Grid__row_highlightOnHover_default_theme-retail__light-medium:hover {
        .controls-Grid__item_background-hover_primary_theme-retail__light-medium {
            background-color: @primary_color;
        }
        .controls-Grid__row-cell-background-hover-primary_theme-retail__light-medium:not(.controls-Grid__row-ladder-cell) {
            background-color: @primary_color;
        }
    }

    // dark-large
    .controls-Grid__row_highlightOnHover_default_theme-retail__dark-large:hover {
        .controls-Grid__item_background-hover_primary_theme-retail__dark-large {
            background-color: @primary_color;
        }
        .controls-Grid__row-cell-background-hover-primary_theme-retail__dark-large:not(.controls-Grid__row-ladder-cell) {
            background-color: @primary_color;
        }
    }

    // dark-medium
    .controls-Grid__row_highlightOnHover_default_theme-retail__dark-medium:hover {
        .controls-Grid__item_background-hover_primary_theme-retail__dark-medium {
            background-color: @primary_color;
        }
        .controls-Grid__row-cell-background-hover-primary_theme-retail__dark-medium:not(.controls-Grid__row-ladder-cell) {
            background-color: @primary_color;
        }
    }
}
