.controls-Selectorbutton {
   max-width: 100%;
   min-height: @min-height_lookupSelector;
   display: inline-block;
   align-items: center;
}

.controls-Selectorbutton_empty {
   display: inline-flex;
   height: @item_height_lookupSelectedCollection;
}

.controls-Selectorbutton__button-reset {
   font-size: @reset-button_font-size_lookupSelector;
   color: @reset-button_text-color_lookupSelector;
   cursor: pointer;
}

.controls-Selectorbutton_button-more {
   font-size: @more-button_font-size_lookupSelector;
   color: @more-button_text-color_lookupSelector;
   margin-right: @more-button_offset_lookupSelector;
   cursor: pointer;
}

.controls-Selectorbutton_button-more:after,
.controls-Selectorbutton__button-reset:after {
   content: "\200b";
   font-size: @font-size_default_label;
   line-height: @inline_height_default_label;
}

.ws-is-hover {
   .controls-Selectorbutton__button-reset:hover,
   .controls-Selectorbutton_button-more:hover {
      text-decoration: underline;
   }
}

.controls-Selectorbutton__button-reset:active,
.controls-Selectorbutton_button-more:active {
   text-decoration: underline;
}

.controls-Selectorbutton_selectedItem_single {
   color: @text-color_lookupSelector;
}

.ws-is-hover {
   .controls-Selectorbutton_selectedItem_single:hover {
      color: @text-color_hover_lookupSelector;
   }
}

.controls-Selectorbutton_selectedItem_single:active {
   color: @text-color_active_lookupSelector;
}

.controls-Selectorbutton_button-select_readOnly {
   font-size: @font-size_m;
}

.controls-Selectorbutton_selectedCollection_multiSelect {
   padding-right: @item_offset_lookupSelectedCollection;
}

.controls-Selectorbutton_link {
   max-width: 100%;
}
