<ws:SBIS3.CONTROLS.RadioButton
   className="controls-ListView__item"
   caption="{{getPropertyValue(item, displayProperty)}}"
   attributes="{{ {
      'data-hash': projItem.getHash(),
      'data-id': item.getId && item.getId()
   } }}"
/>