.controls-Button {
   cursor: pointer;
   text-align: center;
   display: inline-block;
   height: 30px;
   line-height: normal;
  .mixin_gray_border();
   border-radius: 2px;
   background-color: @color_base-bg;
   color: #919197;
   padding: 0 8px;
   box-sizing: border-box;
}

.controls-Button:hover {
   color: @color_base-white;
   background-color: @color_base-blue;
}
.controls-Button.controls-Button__addButton {
   width: 24px;
   height: 24px;
   padding: 0;
}