.controls-Button {
   cursor: pointer;
   text-align: center;
   display: inline-block;
   height: 30px;
   line-height: normal;
  .mixin_gray_border();
   border-radius: 2px;
   background-color: transparent;
   color: #919197;
   padding: 0;
}

.controls-Button__content {
   margin: 0 8px;
}

.controls-Button:hover {
   color: @color_base-white;
   background-color: @color_base-blue;
}