.controls-DatePicker {
   border: none;
   box-sizing: border-box;
   background-color: transparent;
}

.controls-DatePicker__fieldWrapper {
   margin-right: 16px;
   background-color: white;
   padding: 0 7px;
   .mixin_gray_border;
   border-radius: 2px;
}
.controls-DatePicker .controls-FormattedTextBox__fieldWrapper {
   margin: 0;
}
.controls-DatePicker__calendarIconWrapper {
   width: 16px;
   min-height: 22px;
   height: 100%;
   box-sizing: border-box;
   position: relative;
   float: right;
   margin-left: 2px;
}
.controls-DatePicker__calendarIcon {
   background: url("img/DatePicker-calendar.png") no-repeat 0 0;
   display: inline-block;
   position: absolute;
   min-height: 16px;
   top: 50%;
   margin-left: 1px;
   margin-top: -7px;
   width: 16px;
   cursor: pointer;
   text-decoration: none;
}
.controls-DatePicker__calendarIcon:hover {
   background-position: -17px 0;
}
.controls-DatePicker__calendar {
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.controls-TextBox__afterFieldWrapper + .controls-DatePicker__fieldWrapper {
   margin-right: 23px;
}