.controls-FormattedTextBox {
  vertical-align: top;
  height: 22px;
  min-height: 22px;
}
.controls-FormattedTextBox__field {
  display: table;
  height: 100%;
  margin: 0 7px;
}
.controls-FormattedTextBox__field .controls-FormattedTextBox__field-symbol {
  display: table-cell;
  vertical-align: middle;
  font-style: normal;
}