.controls-ListView__item {
   overflow: hidden;
   position: relative;
}
.controls-ListView__itemActions {
   position: absolute;
   height: 16px;
   right: 0;
   top: 50%;
   margin-top: -8px;
   z-index: 10;
   display: none;
   background: @color_base-blue;
}
.controls-ListView__action {
   margin-right: 16px;
}