.controls-TextBox.controls-NumberTextBox {
   text-align: right;
}

.controls-TextBox.controls-NumberTextBox  .controls-TextBox__afterFieldWrapper{
  margin-right: 0;
}

.controls-NumberTextBox__fieldWrapper {
   margin-right: 14px;
   height: 100%;
}

.controls-NumberTextBox__arrow {
   background-repeat: no-repeat;
   text-decoration: none;
   display: block;
   width: 100%;
   min-height: 11px;
   border-left: 1px solid @color_base-gray_light;
   background-image: url('img/NumberTextBox-arrow.png')
}
.controls-NumberTextBox__arrow:hover {
   background-color: @color_base-blue;
}


.controls-NumberTextBox__arrowDown {
   border-top: 1px solid @color_base-gray_light;
   background-position: center -12px;
}

.controls-NumberTextBox__arrowUp {
   background-position: center 0;
}

.controls-NumberTextBox__arrowDown:hover {
   background-position: center -36px;
}

.controls-NumberTextBox__arrowUp:hover {
   background-position: center -24px;
}