.controls-RadioButton {
   cursor: pointer;
   display: inline-block;
}
.controls-RadioButton__icon {
   margin-right: 8px;
   width: 16px;
   height: 16px;
   background: url('./img/RadioButton-sprite.png') 0 0px;
   display: inline-block;
}

.controls-RadioButton:hover .controls-RadioButton__caption {
   color: @color_base-blue;
}

.controls-RadioButton:hover .controls-RadioButton__icon{
   background-position: 0 -32px;
}

.controls-RadioButton.controls-Checked__checked .controls-RadioButton__icon{
   background-position: 0 -16px;
}

.controls-RadioButton.ws-disabled {
   cursor: default;

}
.controls-RadioButton.ws-disabled .controls-RadioButton__icon{
   background-position: 0 0px;
}

.controls-RadioButton.controls-Checked__checked.ws-disabled .controls-RadioButton__icon{
   background-position: 0 -48px;
}

.controls-RadioButton.ws-disabled .controls-RadioButton__caption{
   color: @color_base-gray_light;
}