.controls-TextBox {
  display: inline-block;
  background: #ffffff;
  .mixin_gray_border();
  min-height: 22px;
  border-radius: 2px;
}

.controls-TextBox__fieldWrapper {
  height: 100%;
}

.controls-TextBox__afterFieldWrapper {
  float: right;
  width: 16px;
  min-height: 19px;
  height: 100%;
  position: relative;
  margin-right: 4px;
}

.controls-TextBox__afterFieldWrapper + .controls-TextBox__fieldWrapper {
  margin-right: 21px;
}

.controls-TextBox__field {
  border: none;
  min-height: 19px;
  height: 99%;
  width: 100%;
  margin: 0;
  padding: 0 7px;
  box-sizing: border-box;
  line-height: 100%;
  outline: none;
  background: transparent;
}

.controls-TextBox__field-uppercase {
  text-transform: uppercase;
}

.controls-TextBox__field-lowercase {
  text-transform: lowercase;
}