.controls-ComboBox__picker {
  &.controls-Picker__owner__hover {
    border-top-color: @primary-color;
  }
}

.controls-Menu {
  &.controls-Menu__Popup {
    .controls-MenuButton__Menu-whiteLine {
      background: transparent !important;
    }
  }
}

.controls-NumberTextBox {
  .controls-TextBox__afterFieldWrapper + {
    margin: 0 -4px 0 0;
  }
}

.controls-DataGrid {
  &.controls-DataGrid__itemSelect {
    .controls-ListView__item__selected {
      .controls-DataGrid__td:first-child {
        background-image: url('img/rowSelect.png');
        background-position: left top;
        background-repeat: repeat-y;
      }
    }
  }
}

// Unit editor
.controls-UnitEditor__fieldWrapper {
  margin-right: 34px;
}

.controls-UnitEditor__unitSelector {
  min-width: 22px;
  min-height: 18px;
  height: 100%;
  float: right;
  cursor: pointer;
  text-align: center;
}

.controls-UnitEditor__unitSelector__untoggled {
  margin-right: 16px;
}

.controls-UnitEditor__unitSelector:hover {
  background: @primary-color;
}

.controls-UnitEditor__unitSelector__toggled {
  border: 1px solid @gray-color;
  border-top-left-radius: 5px;
  margin-top: -1px;
  margin-right: 15px;
}

.controls-UnitEditor__unitSelector__toggled:hover {
  background: @white-color;
}

.controls-UnitEditor__unit {
  padding: 4px;
  text-align: left;
}

.js-controls-UnitEditor__unitText {
  display: inline-block;
  padding-top: 3px;
}

.controls-UnitEditor__unit:hover {
  background: @primary-color;
  cursor: pointer;
}

.controls-UnitEditor__units {
  margin-top: -2px;
  width: 70px!important;
  border: 1px solid @gray-color;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #FFFFFF;
}

.controls-UnitEditor__whiteBorder {
  position: absolute;
  top: -1px;
  width: 22px;
  right: 0;
  height: 1px;
  background: white;
}