@main-color: #d1d1d4;

.controls-Button.controls-Checked__checked {
   background-color: @main-color;
   color: #ffffff;
   border-color: @main-color;
}
.controls-Button.controls-Checked__checked:hover {
   border-color: @main-color;
}