@spacing_Infobox-between-border-arrow: (@length_Infobox-arrow-diagonal - @size_Infobox-arrow)/2;


.controls-InfoBox_theme-@{themeName} {
   padding-top:   @spacing_Infobox-between-content-border-top;
   padding-right: @spacing_Infobox-between-content-border-right;
   padding-bottom: @spacing_Infobox-between-content-border-bottom;
   padding-left:   @spacing_Infobox-between-content-border-left;
}

.controls-InfoBox {
   height: 100%;
   box-sizing: border-box;
   overflow: auto;
}

/**
 * In firefox, the text baseline is 1px higher than the standard. Compensate for this by reducing the indentation between the text and the upper border by 1px.
 * To ensure that the height is not changed let's increase the indentation between the text and the bottom border by 1px.
 * Presumably the problem is in the font. Error written https://online.sbis.ru/opendoc.html?guid=1e389bc5-8be7-4394-abdd-231e3ec040a8
 */
.ws-is-firefox {
   .controls-InfoBox_theme-@{themeName} {
      padding-top: @spacing_Infobox-between-content-border-top - 1;
   }
}

.controls-InfoBox__closeButton_theme-@{themeName} {
   top: @spacing_Infobox-between-top-close-button;
   right: @spacing_Infobox-between-right-close-button;
   color: @color_Infobox-close-button;

   &:hover {
      color: @color_Infobox-close-button_hover;
   }
}

.controls-InfoBox__closeButton {
   position: absolute;
   cursor: pointer;
}

.controls-InfoBox__content {
   height: 100%;
}

.controls-InfoBox__message_margin_theme-@{themeName} {
   margin-right: @spacing_Infobox-between-message-border;
}

.controls-InfoBox__message_theme-@{themeName} {
   font-size: @font-size_Infobox-message;
}

.controls-InfoBox_floatElement_theme-@{themeName} {
   width: @size_Infobox-float-element;
   height: @size_Infobox-float-element;
}

.controls-InfoBox_floatElement {
   float: right;
}


/*
   Class to access the constant themes from js
*/
.controls-InfoBox__themeConstants {
   margin-left: @length_Infobox-arrow-diagonal;
   margin-right: @horizontal-offset_Infobox-arrow;
   margin-bottom: @vertical-offset_Infobox-arrow;
   margin-top: @spacing_Infobox-between-target-popup;
   max-width: @max-width_Infobox;
}
