<div class="example-Phone">
   <div class="example-Base__title">Phone number input field</div>
   <div class="example-Base__specify">Mobile / Landline phone</div>
   <Controls.Input.Phone placeholder="Phone number"
                         bind:value="_phoneNumber"/>
</div>