.MyCompositeView__tile-title {
   text-align: center;
   height: 100%;
   margin-bottom: 5px;
   font-weight: 700;
}

.MyCompositeView__tile-id {
   text-align: right;
   bottom: 5px;
   position: absolute;
   right: 5px;
}

.MyCompositeView__list-title {    
   font-weight: 700;
   line-height: 100px;
   position: absolute;
   left: 140px;
}

.MyCompositeView__list-id {
   right: 10px;
   bottom: 10px;
   position: absolute;
}

.MyRadioGroup{
   margin: 30px 0;
}

.MyCompositeView__tile-image{
   height: 150px;
   padding: 5px 27px;
}

.MyCompositeView__list-image{
   height: 75px;
   margin: 12px 20px;
}

.controls-CompositeView .MyCompositeView__list{
   height: 100px;
   border: 1px solid #e4e4e4;
   margin-top: -1px;
}