.ws-DigitButtons__ellipsis {
   width: @width_Paging-ellipsis;
   color: @color-text_Paging-ellipsis;
   background-color: @background-color_Paging-ellispis;
   font-size: @font-size-Paging_button;
}
.ws-DigitButtons__digit {
   border: solid transparent;
   border-width: @border-width_Paging-digit;
   min-width: @width_Paging-digit;
   background-color: @background-color_Paging-button;
   cursor: pointer;
   box-sizing: border-box;
   color: @color-text_Paging-digit;
   font-size: @font-size-Paging_button;
}
.ws-is-no-touch .ws-DigitButtons__digit:hover {
   background-color: @background-color_Paging-button_hover;
}
.ws-DigitButtons__digit__selected {
   border-color: @border-color_Paging-digit_active;
}