.ws-DigitButtons__ellipsis {
   width: 24px;
}
.ws-DigitButtons__digit {
   border-bottom: 3px solid transparent;
   min-width: 28px;
   cursor: pointer;
}
.ws-DigitButtons__digit__selected {
   border-bottom: 3px solid #FF7033;
}