<div class="ws-Paging">
   <div class="ws-Paging__wrapper">
      <span class="ws-Paging__btn ws-Paging__arrow ws-Paging__arrow__state-{{_stateBegin}}" event:onclick="__arrowClick('Begin')">
         <i class="icon-First ws-Paging__icon"></i>
      </span>
      <span class="ws-Paging__btn ws-Paging__arrow ws-Paging__arrow__state-{{_statePrev}}" event:onclick="__arrowClick('Prev')">
         <i class="icon-Back2 ws-Paging__icon"></i>
      </span>
      <ws:if data="{{_options.showDigits}}">
         <ws:Controls.List.Paging.DigitButtons
               className="ws-Paging__digitButons"
               event:onDigitClick="__digitClick()"
               selectedKey="{{_selectedKey}}"
               count="{{_options.pagesCount}}"></ws:Controls.List.Paging.DigitButtons>
      </ws:if>
      <span class="ws-Paging__btn ws-Paging__arrow ws-Paging__arrow__state-{{_stateNext}}" event:onclick="__arrowClick('Next')">
         <i class="icon-Forward ws-Paging__icon"></i>
      </span>
      <span class="ws-Paging__btn ws-Paging__arrow ws-Paging__arrow__state-{{_stateEnd}}" event:onclick="__arrowClick('End')">
         <i class="icon-Last ws-Paging__icon"></i>
      </span>
   </div>
</div>