.ws-Paging__wrapper {
   display: flex;
}
.ws-Paging__btn {
   height: 32px;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   user-select: none;
}
.ws-Paging__digitButons {
   display: inline-flex;
}
.ws-Paging__arrow {
   width: 32px;
}
.ws-Paging__arrow__state-normal {
   color: @icon-color-primary;
   cursor: pointer;
}
.ws-Paging__arrow__state-disabled {
   color: @icon-color-disabled
}
.ws-Paging__icon {
   font-family: @default-icon-font;
   font-size: 18px;
   font-style: normal;
}