@import "../online/theme";

.controls-DropdownList {
   .controls-DropdownList__linkStyle {
    color: #6ed4d0;
   }
}
.controls-SelectorButton{
   .controls-SelectorButton__asLink {
    .controls-SelectorButton__text {
    color: #6ed4d0;
      }
   }
}
html {height: 100%; }
body { height: 100%; background: #424851; }