<div style="margin: 32px; display: flex; flex-direction: column; width: 18em;">
   <div style="padding: 3em; background-color: rgba(38,59,74,0.22)">
      <h2>Mask</h2>
      <Controls.Label caption="Пример"/>
      <Controls.Input.Mask name="example"
                           placeholder="{{_mask}}"
                           mask="{{_mask}}"
                           replacer="{{_replacer}}"
                           tagStyle="{{_tagStyle}}"
                           tooltip="{{_tooltip}}"
                           bind:value="_value"
						   attr:test_name="example"
      />
   </div>
   <div style="padding: 3em; background-color: rgba(81,81,81,0.11)">
      <h3>Задайте опции:</h3>
      <Controls.Label caption="replacer"/>
      <Controls.Input.Text attr:test_name="replacer" name="replacer" on:inputCompleted="_setValue()" bind:value="_replacer"/>
      <Controls.Label caption="mask"/>
      <Controls.Input.Text attr:test_name="mask" name="mask" on:inputCompleted="_setValue()" bind:value="_mask"/>
      <Controls.Label caption="tagStyle(варианты: attention, done, error, primary, info)"
                      attr:style="height: auto;"/>
      <Controls.Input.Text bind:value="_tagStyle"/>
      <Controls.Label caption="dd.dd.dd" on:click="_setConfig('dd.dd.dd', ' ')"/>
      <Controls.Label caption="(ddd(ddd)ddd)" on:click="_setConfig('(ddd(ddd)ddd)', '')"/>
      <Controls.Label caption="d{1,3}l{1,3}" on:click="_setConfig('d\{1,3}l\{1,3}', '')"/>
      <Controls.Label caption="d\*" on:click="_setConfig('d\*', '')"/>
      <Controls.Label caption="tooltip"/>
      <Controls.Input.Text attr:id="tooltip" bind:value="_tooltip"/>
   </div>
</div>
