<ws:partial
      template="{{_options.view}}"
      on:itemClick="_itemClickHandler()"
      on:itemMouseEnter="_itemMouseEnterHandler()"
      scope="{{_options.viewOptions}}"
      startValue="{{_displayedStartValue}}"
      endValue="{{_displayedEndValue}}"
/>
