<ws:partial
      template="{{_options.content}}"
      on:itemClick="_itemClickHandler()"
      on:itemMouseEnter="_itemMouseEnterHandler()"
      startValue="{{_displayedStartValue}}"
      endValue="{{_displayedEndValue}}"
/>
