<div class="demo-Lookup-collection">
    <div class="demo-Lookup__collection-wrapper">
        <div class="demo-Lookup__collection-title">Single item:<br/></div>
        <div>
            <Controls.Input.Lookup._Collection source="{{_sourceSingle}}" displayProperty="title" keyProperty="id"/>
        </div>
    </div>
    <div class="demo-Lookup__collection-wrapper">
        <div class="demo-Lookup__collection-title">Single item small width:<br/></div>
        <div>
            <Controls.Input.Lookup._Collection source="{{_sourceSingle}}" displayProperty="title" keyProperty="id" attr:style="width: 50px"/>
        </div>
    </div>
    <div class="demo-Lookup__collection-wrapper">
        <div class="demo-Lookup__collection-title">Multi items:<br/></div>
        <div>
            <Controls.Input.Lookup._Collection source="{{_sourceMulti}}" displayProperty="title" keyProperty="id"/>
        </div>
    </div>
    <div class="demo-Lookup__collection-wrapper">
        <div class="demo-Lookup__collection-title">readOnly:<br/></div>
        <div>
            <Controls.Input.Lookup._Collection source="{{_sourceMulti}}" displayProperty="title" keyProperty="id" readOnly="{{true}}"/>
        </div>
    </div>
    <div class="demo-Lookup__collection-wrapper">
        <div class="demo-Lookup__collection-title">Items bold:<br/></div>
        <div>
            <Controls.Input.Lookup._Collection source="{{_sourceSingle}}" displayProperty="title" keyProperty="id" style="bold"/>
        </div>
    </div>
    <div class="demo-Lookup__collection-wrapper">
        <div class="demo-Lookup__collection-title">Items bold clickable:<br/></div>
        <div>
            <Controls.Input.Lookup._Collection source="{{_sourceSingle}}" displayProperty="title" keyProperty="id" style="bold" clickable="{{true}}"/>
        </div>
    </div>
    <div class="demo-Lookup__collection-wrapper">
        <div class="demo-Lookup__collection-title">Items accent:<br/></div>
        <div>
            <Controls.Input.Lookup._Collection source="{{_sourceSingle}}" displayProperty="title" keyProperty="id" style="accent" size="l"/>
        </div>
    </div>
    <div class="demo-Lookup__collection-wrapper">
        <div class="demo-Lookup__collection-title">Items primary:<br/></div>
        <div>
            <Controls.Input.Lookup._Collection source="{{_sourceSingle}}" displayProperty="title" keyProperty="id" style="primary" size="l"/>
        </div>
    </div>
</div>