<div attr:class="controls-DateRangeBigChoose-DateRangePickerItem" attr:data-date="{{ item.months[0].toSQL() }}">
   <ws:for data="monthIndex, month in item['months']">
      <div class="controls-DateRangeBigChoose-DateRangePickerItem__monthsWithDates_item_wrapper" data-date="{{ month.toSQL() }}">
         <div class="controls-DateRangeBigChoose-DateRangePickerItem__monthsWithDates_item_title{{ monthSelectionEnabled ? ' controls-DateRangeBigChoose-DateRangePickerItem__monthsWithDates_item_title_selectable' }}"
           data-date="{{ month.toSQL() }}">
            {{ month | strftime: "%B" }}
         </div>
         <Controls.Calendar.Month
            startValue="{{startValue}}"
            endValue="{{endValue}}"
            selectionProcessing="{{_selectionProcessing}}"
            selectionBaseValue="{{_selectionBaseValue}}"
            selectionHoveredValue="{{_selectionHoveredValue}}"

            on:rangeChanged="startValueChangedHandler()"

            on:selectionProcessingChanged="selectionProcessingHandler()"
            on:selectionBaseValueChanged="selectionBaseValueHandler()"
            on:selectionHoveredValueChanged="selectionHoveredValueHandler()"

            className="controls-DateRangeBigChoose-DateRangePicker__item"
            showWeekdays="{{false}}"
            month="{{month}}"
         />

         <!--<ws:for data="week in item.weeksArray">-->
            <!--<div>-->
               <!--<ws:for data="day in week">-->
                  <!--<span>{{day}}</span>-->
               <!--</ws:for>-->
            <!--</div>-->
         <!--</ws:for>-->
      </div>
   </ws:for>
</div>
