
.controls-ImportCustomizer-ProviderArgs-View__title {
    padding: @padding_ImportCustomizer-ProviderArgs-View-title;
    font-size: @font-size_ImportCustomizer-ProviderArgs-View-title;
    font-weight: bold;
    color: @color_ImportCustomizer-ProviderArgs-View-title;
}

.controls-ImportCustomizer-ProviderArgs-View__columns {
    .flexbox();
    margin: @margin_ImportCustomizer-ProviderArgs-View-columns;
    padding: @padding_ImportCustomizer-ProviderArgs-View-columns;
    background-color: @background-color_ImportCustomizer-ProviderArgs-View-columns;
}

.controls-ImportCustomizer-ProviderArgs-View__column {
    .flex-shrink(0);
    .flex-grow(1);
    min-width: @min-width_ImportCustomizer-ProviderArgs-View-column;
    border-left: @border-left_ImportCustomizer-ProviderArgs-View-column;
    padding: @padding_ImportCustomizer-ProviderArgs-View-column;
}