.controls-PeriodDialog-DateRange {
   display: flex;
   flex-direction: column;
   flex-shrink: 1;
   min-height: 1px;
   position: relative;
   user-select: none;
}

.controls-PeriodDialog-DateRange__header {
   display: flex;
   flex-shrink: 0;
   height: @calendar-header_height_datePicker;
   border-bottom: @calendar-header_border-bottom-thickness_datePicker solid @calendar-header_border-bottom-color_datePicker;
   align-items: center;
}

.controls-PeriodDialog-DateRange__body {
   display: flex;
   flex-shrink: 1;
   min-height: 1px;
   align-items: stretch;
}

.controls-PeriodDialog-DateRange__year {
   flex-shrink: 0;
   width: @monthnav_width_datePicker;
   padding-left: @calendar-header_padding-left_datePicker;
   color: @current-year_text-color_datePicker;
   font-size: @current-year_font-size_datePicker;
   font-weight: @current-year_font-weight_datePicker;
   box-sizing: border-box;
}

.controls-PeriodDialog-DateRange-header-weekdays {
   display: flex;
   flex-shrink: 1;
   flex-grow: 1;
   font-size: @weekdays_font-size_datePicker;
}
.controls-PeriodDialog-DateRange-header-weekdays-workday,
.controls-PeriodDialog-DateRange-header-weekdays-weekend {
   flex-grow: 1;
   text-align: center;
}

.controls-PeriodDialog-DateRange-header-weekdays-workday {
   color: @weekdays_text-color_datePicker;
}
.controls-PeriodDialog-DateRange-header-weekdays-weekend {
   color: @weekend_weekdays_text-color_datePicker;
}

.controls-PeriodDialog-DateRange-dates-wrapper {
   min-height: 0;
   flex-shrink: 1;
   flex-grow: 1;
}

.controls-PeriodDialog-DateRangeItem {
   display: flex;
   align-items: flex-start;
}

.controls-PeriodDialog-DateRangeItem__separator {
   height: @monthnav_year_height_datePicker;
   position: relative;

   &:after {
      content: '';
      position: absolute;
      bottom: @monthnav_year_height_datePicker/2;
      right: @monthview_width_monthSlider/14;
      border-top: @monthnav_year_separator_thickness_datePicker solid @monthnav_year_separator_color_datePicker;
   }
}

.controls-PeriodDialog-DateRangeItem__separator-sticky-support {
   &:after {
      left: @monthnav_width_datePicker + @monthview_width_monthSlider/14;
   }
}

.controls-PeriodDialog-DateRangeItem__separator-not-sticky-support {
   &:after {
      left: @monthview_width_monthSlider/14;
   }
}

.controls-PeriodDialog-DateRangeItem__months {
   flex-shrink: 1;
   position: sticky;
   top: 0;
   margin-bottom: -@monthnav_year_height_datePicker;
}

.controls-PeriodDialog-DateRangeItem__months-btn {
   display: flex;
   align-items: center;
   color: @monthnav_item_text-color_datePicker;
   font-size: @monthnav_item_font-size_datePicker;
   padding-left: @monthnav_item_padding-left_datePicker - @monthnav_item_border-thickness_datePicker;
   width: @monthnav_width_datePicker;
   height: @monthnav_item_height_datePicker;
   border: @monthnav_item_border-thickness_datePicker solid transparent;
   border-right-color: @monthnav_item_border-color_datePicker;
   border-bottom-color: @monthnav_item_border-color_datePicker;
   cursor: pointer;
   background-color: @monthnav_item_background-color_datePicker;
   box-sizing: border-box;
}

.ws-is-hover .controls-PeriodDialog-DateRangeItem__months-btn:hover,
.controls-PeriodDialog-DateRangeItem__months-btn:active {
   border-color: @monthnav_item_hover_border-color_datePicker;
   background-color: @monthnav_item_hover_background-color_datePicker;
}

.controls-PeriodDialog-DateRangeItem__months-nextyearBtn {
   height: @monthnav_year_height_datePicker;
   display: flex;
   align-items: center;
   padding-left: @monthnav_year_padding-left_datePicker - @monthnav_item_border-thickness_datePicker;
   color: @monthnav_year_text-color_datePicker;
   font-size: @monthnav_year_font-size_datePicker;
   border: @monthnav_item_border-thickness_datePicker solid transparent;
   border-right-color: @monthnav_year_border-color_datePicker;
   border-bottom-color: @monthnav_year_border-color_datePicker;
   cursor: pointer;
   background-color: @monthnav_year_background-color_datePicker;
   box-sizing: border-box;

   &:hover {
      border-color: @monthnav_year_hover_border-color_datePicker;
      background-color: @monthnav_year_hover_background-color_datePicker;
   }
}

.controls-PeriodDialog-DateRangeItem__monthList {
   flex-shrink: 0;
   padding-left: 1px;
}

.controls-PeriodDialog-DateRangeItem__monthList_monthWrapper {
   margin-bottom: @monthlist_monthview_item_border-thickness_datePicker;
}

.controls-PeriodDialog-DateRangeItem__monthList_title {
   box-sizing: border-box;
   height: @monthlist_heading_height_datePicker;
   line-height: @monthlist_heading_height_datePicker;
   font-size: @monthlist_heading_font-size_datePicker;
   font-weight: @monthlist_heading_font-weight_datePicker;
   color: @monthlist_heading_text-color_datePicker;
   text-align: center;
   border: @monthlist_heading_border-thickness_datePicker solid @monthlist_heading_border-color_datePicker;
   background-color: @monthlist_heading_background-color_datePicker;
}

.controls-PeriodDialog-DateRangeItem__monthList_title_selectable {
   cursor: pointer;

   &:hover {
      border: @monthlist_heading_border-thickness_datePicker solid @monthlist_heading_hover_border-color_datePicker;
      background-color: @monthlist_heading_hover_background-color_datePicker;
   }
}

.controls-PeriodDialog-DateRangeItem__item {
   transform: translateZ(0);
   will-change: transform;
}

.controls-DateRangeBigChoose-DateRangePicker__item {
   width: @monthlist_monthview_width_datePicker;
   height: @monthlist_monthview_height_datePicker;
}

.controls-MonthViewVDOM__item_theme-@{themeName}-style-DateRangeItem {
   font-size: @monthlist_monthview_item_font-size_datePicker;
   min-width: @monthlist_monthview_item_width_datePicker;
   min-height: @monthlist_monthview_item_height_datePicker;
   margin-top: @monthlist_monthview_item_border-thickness_datePicker;
   margin-left: @monthlist_monthview_item_border-thickness_datePicker;
}

.ws-is-no-touch {
   .controls-MonthViewVDOM__item_theme-@{themeName}-style-DateRangeItem:hover {
      outline: @monthlist_monthview_item_border-thickness_datePicker solid @monthlist_monthview_item_hover_border-color_datePicker;
   }
   .controls-MonthViewVDOM__backgroundColor-currentMonthDay-selected_theme-@{themeName}_style-DateRangeItem:hover {
      background: @monthlist_monthview_item_selected_hover_background-color_datePicker;
   }

   .controls-MonthViewVDOM__item-selectedStartEnd_theme-@{themeName}.controls-MonthViewVDOM__backgroundColor-currentMonthDay-selected_theme-@{themeName}_style-DateRangeItem:hover{
      outline: @monthlist_monthview_selection-border_single_thickness_datePicker solid @monthlist_monthview_selection-border_single_color_datePicker;
   }
}

.controls-MonthViewVDOM__textColor-currentMonthDay-weekend_theme-@{themeName}_style-DateRangeItem {
   color: @monthlist_monthview_weekend_text-color_datePicker;
}

.controls-MonthViewVDOM__textColor-currentMonthDay-workday_theme-@{themeName}_style-DateRangeItem {
   color: @monthlist_monthview_item_text-color_datePicker;
}

.controls-MonthViewVDOM__backgroundColor-currentMonthDay-unselected_theme-@{themeName}_style-DateRangeItem {
   background: @monthlist_monthview_item_background-color_datePicker;
}

.controls-MonthViewVDOM__backgroundColor-currentMonthDay-selected_theme-@{themeName}_style-DateRangeItem {
   background: @monthlist_monthview_item_selected_background-color_datePicker;
}

.controls-MonthViewVDOM__item-today-background_theme-@{themeName}-style-DateRangeItem {
   top: @monthlist_monthview_today_offset_datePicker;
   bottom: @monthlist_monthview_today_offset_datePicker;
   left: @monthlist_monthview_today_offset_datePicker;
   right: @monthlist_monthview_today_offset_datePicker;
   border-radius: @monthlist_monthview_today_border-radius_datePicker;
   background-color: @monthlist_monthview_today_background-color_datePicker;
   border: @monthlist_monthview_today_border-thickness_datePicker solid @monthlist_monthview_today_border-color_datePicker;
}

.controls-MonthViewVDOM__textColor-currentMonthDay-today_theme-@{themeName}_style-DateRangeItem {
   color: @monthlist_monthview_today_text-color_datePicker;
}

.controls-MonthViewVDOM__backgroundColor-currentMonthDay-selected-startend-unfinished_theme-@{themeName}_style-DateRangeItem {
   background: @rangeSelection_item_hover_background-color_datePicker;
}
