.controls-PeriodDialog-MonthsRange {
   flex-shrink: 1;
   min-height: 1px;
}

.controls-PeriodDialog-MonthsRange__header {
   text-align: center;
}

.controls-PeriodDialog-MonthsRange__header_theme-@{themeName} {
   height: @yearlist_heading_height_datePicker;
   line-height: @yearlist_heading_height_datePicker;
   color: @yearlist_heading_text-color_datePicker;
   font-size: @yearlist_heading_font-size_datePicker;
   font-weight: @yearlist_heading_font-weight_datePicker;
   border-top: (@yearlist_block-separator_thickness_datePicker - @yearlist_item_border-thickness_datePicker) solid @yearlist_block-separator_color_datePicker;
   border-bottom: (@yearlist_block-separator_thickness_datePicker - @yearlist_item_border-thickness_datePicker - @yearlist_item_border-thickness_datePicker) solid @yearlist_block-separator_color_datePicker;
}

.controls-PeriodDialog-MonthsRange__body {
   display: flex;
}

.controls-PeriodDialog-MonthsRange__halfYears {
   flex-grow: 1;
}

.controls-PeriodDialog-MonthsRange__halfYears_theme-@{themeName} {
   background-color: @yearlist_block-separator_color_datePicker;
   border-top: (@yearlist_item_border-thickness_datePicker +  @yearlist_item_border-thickness_datePicker) solid @yearlist_block-separator_color_datePicker;
   flex-grow: 1;
}

.controls-PeriodDialog-MonthsRange__halfYear {
   display: flex;
   position: relative;
}

.controls-PeriodDialog-MonthsRange__quarter {
   position: relative;
   flex-grow: 1;
   display: flex;
}

.controls-PeriodDialog-MonthsRange__halfYearsPanel-button,
.controls-PeriodDialog-MonthsRange__quarterButton {
   flex-grow: 1;
   display: flex;
   align-items: center;
   justify-content: center;
}

.controls-PeriodDialog-MonthsRange__halfYearsPanel-button_theme-@{themeName},
.controls-PeriodDialog-MonthsRange__quarterButton_theme-@{themeName} {
   width: @yearnav_arrow_width_datePicker - (@yearlist_block-separator_thickness_datePicker - @yearlist_item_border-thickness_datePicker);
   border-bottom: @yearlist_item_border-thickness_datePicker solid @yearlist_block-separator_color_datePicker;
}

.controls-PeriodDialog-MonthsRange__quarterButton_theme-@{themeName} {
   height: @yearlist_month_height_datePicker - @yearlist_item_border-thickness_datePicker * 2;
   width: @yearlist_quarters_width_datePicker;
   color: @yearlist_quarters_text-color_datePicker;
   font-size: @yearlist_quarters_font-size_datePicker;
   background-color: @yearlist_quarters_background-color_datePicker;
   border-right: @yearlist_block-separator_thickness_datePicker solid @yearlist_block-separator_color_datePicker;
}
.controls-PeriodDialog-MonthsRange__quarter-hovered {
   .controls-PeriodDialog-MonthsRange__quarterButton {
      background-color: transparent;
      border-right-color: transparent;
   }
}

.controls-PeriodDialog-MonthsRange__halfYear-hovered {
   .controls-PeriodDialog-MonthsRange__halfYearsPanel-button {
      border-left-color: transparent;
      background-color: transparent;
   }
}

.controls-PeriodDialog-MonthsRange__halfYearsPanel-button_theme-@{themeName} {
   background-color: @yearlist_halfyears_backround-color_datePicker;
   width: @yearlist_halfyears_width_datePicker;
   color: @yearlist_halfyears_text-color_datePicker;
   font-size: @yearlist_halfyears_font-size_datePicker;
   border-left: (@yearlist_block-separator_thickness_datePicker - @yearlist_item_border-thickness_datePicker) solid @yearlist_block-separator_color_datePicker;
}

.controls-PeriodDialog-MonthsRange__halfYear-hovered_theme-@{themeName},
.controls-PeriodDialog-MonthsRange__quarter-hovered_theme-@{themeName} {
   background-color: @yearlist_item_hover_background-color_datePicker;
}

.controls-PeriodDialog-MonthsRange__item,
.controls-PeriodDialog-MonthsRange__item-selected {
   .box-sizing(border-box);
   .flex-shrink(0);
   z-index: 2;
   display: flex;
   flex-direction: column;
}

.controls-PeriodDialog-MonthsRange__item_theme-@{themeName},
.controls-PeriodDialog-MonthsRange__item-selected_theme-@{themeName} {
   padding: @yearlist_month_padding_datePicker;
   width: @yearlist_month_width_datePicker - 2 * @yearlist_item_border-thickness_datePicker;
   margin-bottom: @yearlist_item_border-thickness_datePicker;
   margin-right: @yearlist_item_border-thickness_datePicker;
   height: @yearlist_month_height_datePicker - 2 * @yearlist_item_border-thickness_datePicker;
}

.controls-PeriodDialog-MonthsRange__item_theme-@{themeName} {
   background-color: @background-color_datePicker;
}

.controls-PeriodDialog-MonthsRange__hovered_theme-@{themeName} {
   outline: @yearlist_item_hover_border-color_datePicker solid @yearlist_item_border-thickness_datePicker;
   background-color: @yearlist_item_hover_background-color_datePicker;
}

.controls-PeriodDialog-MonthsRange__month_title {
   text-align: center;
   font-weight: normal;
}

.controls-PeriodDialog-MonthsRange__month_title_theme-@{themeName} {
   color: @yearlist_month_heading_text-color_datePicker;
   font-size: @yearlist_month_heading_font-size_datePicker;
   height: @yearlist_monthview_heading_height_datePicker;
}

.controls-PeriodDialog-MonthsRange__halfYear-hovered,
.controls-PeriodDialog-MonthsRange__quarter-hovered {
   .controls-PeriodDialog-MonthsRange__item-selected,
   .controls-PeriodDialog-MonthsRange__item {
      background-color: transparent;
   }
}

.controls-PeriodDialog-MonthsRange__halfYear-hovered {
   &:before {
      content: '';
      position: absolute;
      bottom: 0;
      z-index: 3;
   }
   .controls-PeriodDialog-MonthsRange__halfYearsPanel-button {
      z-index: 3;
      border-bottom-color: transparent;

      /* В IE на сайте слой обводки controls-PeriodDialog-MonthsRange__halfYear-hovered (before) перекрывает кнопку, несмотря на одинаковые
     -index-ы. position: relative у кнопки решает проблему */
      position: relative;
   }
}

.controls-PeriodDialog-MonthsRange__halfYear-hovered_theme-@{themeName} {
   &:before {
      top: -@yearlist_item_border-thickness_datePicker;
      left: @yearnav_arrow_width_datePicker - @yearlist_item_border-thickness_datePicker;
      right: -@yearlist_item_border-thickness_datePicker;
      border: solid @yearlist_item_border-thickness_datePicker @yearlist_item_hover_border-color_datePicker;
   }
}

.controls-PeriodDialog-MonthsRange__quarter-hovered {
   &:before {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 3;
   }
   .controls-PeriodDialog-MonthsRange__quarterButton {
      z-index: 3;
      border-bottom-color: transparent;

      /* В IE на сайте слой обводки controls-PeriodDialog-MonthsRange__quarter-hovered (before) перекрывает кнопку, несмотря на одинаковые
      -index-ы. position: relative у кнопки решает проблему */
      position: relative;
   }
}

.controls-PeriodDialog-MonthsRange__quarter-hovered_theme-@{themeName} {
   &:before {
      top: -@yearlist_item_border-thickness_datePicker;
      left: -@yearlist_item_border-thickness_datePicker;
      border: solid @yearlist_item_border-thickness_datePicker @yearlist_item_hover_border-color_datePicker;
   }
}

.controls-PeriodDialog-MonthsRange__monthWrapper {
   display: flex;
   border: 1px dotted transparent;
   flex-grow: 1;
   align-items: flex-end;
   justify-content: center;
}

.controls-PeriodDialog-MonthsRange__monthWrapper_theme-@{themeName} {
   padding-bottom: @yearlist_monthview_bottom-offset_datePicker;
   font-size: @yearlist_monthview_item_font-size_datePicker;
}

.controls-PeriodDialog-MonthsRange__month {
   box-sizing: border-box;
   font-weight: normal;
}

.controls-MonthViewVDOM__item_style-monthRangeItem_theme-@{themeName} {
   width: @yearlist_monthview_item_width_datePicker;
   height: @yearlist_monthview_item_height_datePicker;
}

.controls-MonthViewVDOM__item-today_style-monthRangeItem-background_theme-@{themeName} {
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   border-radius: @yearlist_monthview_today_border-radius_datePicker;
   background-color: @monthview_today_background-color_monthSlider;
   border: 0 solid transparent;
}

.controls-MonthView__backgroundColor-currentMonthDay-selected_theme-@{themeName}_style-monthRangeItem {
   background: @rangeSelection_item_background-color_datePicker;
}

.controls-MonthView__item-border-start-end_style-monthRangeItem_theme-@{themeName} {
   outline: @yearlist_monthview_selection-border_single_color_datePicker solid @yearlist_monthview_selection-border_thickness_datePicker;
   outline-offset: @yearlist_monthview_selection-border_thickness_datePicker - @rangeSelection_border_single_thickness_datePicker;
   z-index: 1; //При масштабе 150% соседние блоки наезжают на outline
}

.controls-MonthView__item-border-start_style-monthRangeItem_theme-@{themeName}:before,
.controls-MonthView__item-border-end_style-monthRangeItem_theme-@{themeName}:after {
   width: @yearlist_monthview_selection-border_thickness_datePicker;
   background-color: @rangeSelection_border_color_datePicker;
}

.controls-MonthView__item-border-start_style-monthRangeItem:before,
.controls-MonthView__item-border-end_style-monthRangeItem:after {
   content: "";
   position: absolute;
   height: 100%;
   top: 0;
}

.controls-MonthView__item-border-start_style-monthRangeItem:before {
   left: 0;
   z-index: 1;
}

.controls-MonthView__item-border-end_style-monthRangeItem:after {
   right: -1px;
}

.controls-PeriodDialog-MonthsRange__halfYear-hovered,
.controls-PeriodDialog-MonthsRange__quarter-hovered,
.controls-PeriodDialog-MonthsRange__hovered {
   .controls-MonthView__backgroundColor-currentMonthDay-selected_theme-@{themeName}_style-monthRangeItem {
      background-color: transparent;
   }
}

.controls-PeriodDialog-MonthsRange__monthWrapper_clickable {
   cursor: pointer;
}

.ws-is-hover {
   .controls-PeriodDialog-MonthsRange__month {
      .controls-MonthViewVDOM__item:hover {
         outline: none;
      }
      .controls-MonthView__backgroundColor-currentMonthDay-unselected_theme-@{themeName}:hover {
         background: transparent;
      }
   }

   .controls-PeriodDialog-MonthsRange__monthWrapper_clickable_theme-@{themeName}:hover {
      border-color: @yearlist_item_hover_border-color_datePicker;
   }
}

.controls-PeriodDialog-MonthsRange__monthWrapper_clickable_theme-@{themeName}:active {
   border-color: @yearlist_item_hover_border-color_datePicker;
}
