@import "_yearRange";
@import "_monthsRange";
@import "_dateRange";

// TODO: выпилить после того как приведут стили List в порядок
.controls-PeriodDialog {
   .controls-ListView__itemContent {
      margin: 0;
      padding: 0;
   }

   .controls-ListView__itemV {
      border-left: none;
      cursor: auto;
   }

   .controls-ListView__itemV:hover {
       background-color: transparent !important;
   }
}

.controls-PeriodDialog {
   display: flex;
   flex-direction: column;
   background-color: @background-color_PeriodDialog;
   width: @width_PeriodDialog;
   max-height: @height_PeriodDialog;
   border: @border-width_PeriodDialog solid @border-color_PeriodDialog;
   box-shadow: @size_shadow_default @color_shadow_secondary;
}


// Header
.controls-PeriodDialog__header {
   flex-shrink: 0;
   background-color: @background-color__PeriodDialog-header;
   padding-left: @spacing_PeriodDialog-header-between-borderLeft-content;
   box-sizing: border-box;
   display: flex;
   align-items: center;
   height: @height_PeriodDialog-header;
}

.controls-PeriodDialog__stateButton {
   padding-right: @spacing_PeriodDialog-header-between-stateButton-date;
}

.controls-PeriodDialog__header-period {
   display: flex;
   flex-grow: 1;
}

.controls-PeriodDialog__dateInputEnd-wrapper {
   display: flex;
   align-items: center;
}

.controls-PeriodDialog__header-rangeDash {
   width: @width_PeriodDialog-header-dash;
   border-bottom: 1px solid black;
   margin-right: 0 @spacing_PeriodDialog-header-between-dash-date;
}

.controls-PeriodDialog__applyButton {
   margin: 0 @spacing_PeriodDialog-header-between-applyButton-otherElements;
}

.controls-PeriodDialog__cursor-pointer {
   cursor: pointer;
}

.controls-DateRangeBigChoose__months {
   display: flex;
   flex-direction: column;
   flex-shrink: 1;
   min-height: 1px;
}