.controls-HeaderSeparator {
   display: inline-block;
   cursor: pointer;
}

.controls-HeaderSeparator__wrapper {
   display: inline-flex;
   align-items: center;
}

.controls-HeaderSeparator__arrow_theme-@{themeName} {
   width: @width_headingSeparator;
   height: @height_headingSeparator;
   padding-left: @padding-left_headingSeparator;
}

.controls-HeaderSeparator__arrow_style-primary_theme-@{themeName} {
   fill: @primary_icon-color_headingSeparator;
   &:active {
      fill: @primary_active_icon-color_headingSeparator;
   }
}

.controls-HeaderSeparator__arrow_style-secondary_theme-@{themeName} {
   fill: @secondary_icon-color_headingSeparator;
   &:active {
      fill: @secondary_active_icon-color_headingSeparator;
   }
}

.ws-is-hover {
   .controls-HeaderSeparator__arrow_style-primary_theme-@{themeName}:hover {
      fill: @primary_hover_icon-color_headingSeparator;
   }
   .controls-HeaderSeparator__arrow_style-secondary_theme-@{themeName}:hover {
      fill: @secondary_hover_icon-color_headingSeparator;
   }
}
