<ws:WSControls.TextBoxes.TextBoxRender
   type="text"
   text="{{_text}}"
   enabled="{{isEnabled()}}"
   placeholder="{{_options.placeholder}}"
   textFieldWrapper="{{_textFieldWrapper}}"
   inputHandler="{{_inputHandler}}"
   focusHandler="{{_focusHandler}}"
   selectHandler="{{_selectHandler}}"
   clickHandler="{{_clickHandler}}"
   keyupHandler="{{_keyupHandler}}"
   changeHandler="{{_changeHandler}}"
   event:onTagHover="_notifyHandler('onTagHover')"
   event:onTagClick="_notifyHandler('onTagClick')"
/>