<div class="controls-TextBox" title="{{_tooltip}}">
    <div class="controls-TextBox__wrapper">
        <ws:partial if="{{_options.beforeFieldWrapper}}" class="controls-TextBox__beforeFieldWrapper" template="{{_options.beforeFieldWrapper}}" scope="{{...}}"/>
        <ws:partial template="{{_options.textFieldWrapper}}" scope="{{...}}"/>
        <ws:partial if="{{_options.afterFieldWrapper}}" class="controls-TextBox__afterFieldWrapper" template="{{_options.afterFieldWrapper}}" scope="{{...}}"/>
        <ws:if data="{{_options.informationIconColor}}">
            <span event:onmouseenter="_mouseenterInformationIconHandler()">
                <ws:SBIS3.CONTROLS.IconButton
                   name="informationIcon"
                   icon="icon-size icon-Listbox"
                   allowChangeEnable="{{false}}"
                   event:onActivated="_activatedInformationIconHandler()"
                   className="controls-informationIcon icon-{{_options.informationIconColor}}"
                />
            </span>
        </ws:if>
    </div>
</div>