.controls-FloatArea.controls__filterButton__picker {
	background: @controls-filterButton-picker-bg;
	border: @controls-filterButton-picker-border-width solid @controls-filterButton-picker-border-color;
	.box-shadow(@shadow_Menu);
	margin-top: @margin_filterrButton_picker-top; //чтобы совпадала линия кнопки фильтров и вкладок (по стандрату)

	.controls-PopupMixin__closeButton {
		position: absolute;
		right: 0;
		top: @controls-filterButton-picker-close-top;
	}
	
	.blue-color {
		&.controls-DropdownList.ws-enabled {
			.controls-DropdownList__value:hover {
				color: @darkcyan-color;
			}
		}
	}
	.blue-dark-color {
		&.controls-DropdownList {
			&.ws-enabled {
				.controls-DropdownList__selectedItem {
					.controls-DropdownList__value {
						color: @blue-dark-color;
					}
				}
			}
		}
		
		&.controls-Link {
			&.ws-enabled {
				color: @blue-dark-color;
				text-decoration: none;
			}
		}
	}
}

.controls-Link_state-filter {
	color: @color_filterButton_area_header_link;
}

.controls__filterButton__filterSelect {
	:last-child {
		.controls-FilterSelect__item-separator{
			display: none;
		}
	}
}

.controls-FilterSelect__item {
	display: inline-block;
	color: #313E78;
	> div {
		display: inline-block;
	}
}

.controls-FilterSelect__item-separator {
	padding: 0 4px;
}

.controls__filterButton__filterText {
	height: @controls-filterButton-button-height;
	line-height: @controls-filterButton-button-height;
	display: inline-block;
	cursor: default;
}

.controls__filterButton__FilterText__caption {
	line-height: @controls-filterButton-button-height;
	display: inline-block;
}

.controls__filterButton__FilterText__reset {
	cursor: pointer;
	position: relative;
	top: 2px;
}

.controls__filterButton__area-scrollContainer {
	height: calc(100% ~'-' @controls-filterButton-area-header-height + (@controls-filterButton-header-vertical-spacing * 2));
	background-color: @backround-color_filterButton_picker_content;
	border-style: solid;
	border-color: @border-color_filterButton_picker_content;
	border-width: @border-width_filterButton_picker_content;
	border-top: none;
}

.controls__filterButton__area {
	height: 100%;
}

.controls-filterButton__secondary-title {
	font-size: @controls-filterButton-title-fontSize;
	font-weight: bold;
	color: @controls-filterButton-title-text-color;
	display: inline-block;
	height: 24px;
	line-height: 24px;
	cursor: default;
}

.controls__filterButton__area-footer {
	margin: 0 12px 12px 12px;
}

.controls__filterButton__area-firstColumn, .controls__filterButton__area-secondColumn {
   .flex-grow(1);
}

.controls__filterButton__area-secondColumn {
   width: 400px;
   border-left: 1px solid #E4E4E4;
   margin-bottom: 8px;
}

.controls__filterButton__area-secondColumn .controls-filterButton__secondary-title {
   margin-left: 12px;
}

.controls__filterButton__area-twoColumns {
   .flexbox();
}

.controls-filterButton__history-area .controls-filterButton__footerAreas-wrapper {
	margin-left: 0;
}

.controls-filterButton__footerAreas-maxHeight {
	max-height: @controls-filterButton-history-maxHeight-height;
}

.controls-filterButton__footerAreas-wrapper {
	display: block;
	overflow: hidden;
	margin: 6px 0 0 22px;
}

.controls-filterButton__additionalFilterParams-area {
	margin-bottom: 6px;
}

.controls__filterButton__area-header {
	padding: @controls-filterButton-area-header-padding;
	height: @controls-filterButton-area-header-height;
	min-width: @controls-filterButton-area-header-width;
	background-color: @background-color_filterButton_picker_header;
}

.controls__filterButton__area-header:before {
	content: "\200b";
	line-height: @controls-filterButton-area-header-height;
	display: inline-block;
	width: 0px;
	visibility: hidden;
}

.controls__filter-button__clear-filter {
	margin-right: @controls-filterButton-clear-margin-right;
}

.controls__filter-button__apply-filter {
	margin-left: auto;
}

.controls__filterButton__area-content {
	padding: @controls-filterButton-area-content-margin;
	overflow: hidden;
}

.controls__filterButton__area-text {
	font-size: @controls-filterButton-area-text-size;
	font-weight: @controls-filterButton-area-text-weight;
	color: @controls-filterButton-area-text-color;
	line-height: @controls-filterButton-line-height;
	margin: @controls-filterButton-area-text-margin;
}

.controls__filterButton__area-textDefault {
   color: @controls-filterButton-area-text-color;
}

.controls__filterButton__area-textCustom {
   color: @controls-filterButton-area-text-color-custom;
}

.controls__filterButton__picker .controls-FieldLink__Link.ws-enabled {
	color: @fieldLink-FilterButton-color;
	text-decoration: none;

	&.ws-enabled:hover {
		color: @fieldLink-FilterButton-color-hover;
		text-decoration: underline;
	}
}

/* Приходится делать такой селектор, т.к. для ссылок поля связи (FieldLink_Link) в панели фильтра должен быть другой цвет, и он сделан через селектор панели фильтров,
   но только если они не лежать внутри поля связи. На VDOM решаем проблему по другому, кто кладёт ссылку, должен сам ей установить цвет. */
.controls__filterButton__picker .controls-FieldLink .controls-FieldLink__Link.ws-enabled {
	color:@color_FieldLink-Link_enabled;
	text-decoration: underline;

	&.ws-enabled:hover {
		color: @color_FieldLink-Link_enabled_hover;
	}
}

.ws-is-desktop-platform {
	.controls-Link_state-filter:hover {
		color: @color_filterButton_area_header_link_hover;
		text-decoration: underline;
	}
	.controls__filterButton__picker {
		.blue-dark-color {
			&.controls-Link {
				&.ws-enabled {
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}

/* Из-за TensorFont'a ссылки без указания высоты в ie имеют высоту не 24px, а 24.57,
   а это ломает расчёты для кнопки фильтров, т.к. в стандарте все размеры написаны из рачёты высоты ссылок - 24px. */
.ws-is-ie .controls-filterButton__additionalFilterParams-content .controls-Link {
	height: @default-height;
}

.ws-is-firefox {
	.controls__filterButton__picker {
		/* overflow-y scroll висит на попапе в ff, из-за того, что ff показывает скролл,
			не увеличивая ширину контента, а занимает пр-во внутри. Для кнопки фильтров скролл нативный не нужен совсем. */
		overflow-y: visible !important;
	}
}

//Решение проблем стэка z-index на iPad
// https://medium.com/@mattcroak718/understanding-the-stacking-context-for-cross-browser-compatibility-2b21db1cf621
// https://stackoverflow.com/questions/37714009/z-index-problems-on-ipad
.ws-is-mobile-safari .controls__filterButton__picker {
	transform: translate3d(0, 0, 0);
}