//Panel background
.controls-FilterPanel__vertical.controls-DialogTemplate {
   background-color: @background-color_vertical_filterPanel;
}
// Без каскада сейчас нельзя: https://online.sbis.ru/opendoc.html?guid=a65ae72b-65d4-41ca-b028-2c84433f4439
.controls-FilterPanel__vertical .controls-DialogTemplate__top-area {
   background-color: @background-color_vertical_filterPanel;
}

.controls-FilterPanel__horizontal.controls-DialogTemplate {
   background-color: @background-color_horizontal_filterPanel;
}
// Без каскада сейчас нельзя: https://online.sbis.ru/opendoc.html?guid=a65ae72b-65d4-41ca-b028-2c84433f4439
.controls-FilterPanel__horizontal .controls-DialogTemplate__top-area {
   background-color: @background-color_horizontal_filterPanel;
}

//Panel width
.controls-FilterPanel__width-s.controls-FilterPanel__vertical {
   width: @width_s_filterPanel;
}

.controls-FilterPanel__width-m.controls-FilterPanel__vertical {
   width: @width_m_filterPanel;
}

.controls-FilterPanel__width-l.controls-FilterPanel__vertical {
   width: @width_l_filterPanel;
}

.controls-FilterPanel__width-m.controls-FilterPanel__horizontal_withHistory {
   width: @width_m_filterPanel + @history_width_s_filterPanel;
}

.controls-FilterPanel__width-l.controls-FilterPanel__horizontal_withHistory {
   width: @width_m_filterPanel + @history_width_l_filterPanel;
}

.controls-FilterPanel__width-xl.controls-FilterPanel__vertical {
   width: @width_xl_filterPanel;
}

.controls-FilterPanel__width-m .controls-FilterPanel__filtersWrapper {
   width: @width_m_filterPanel;
}

.controls-FilterPanel__width-m .controls-HistoryList__horizontal {
   width: @history_width_s_filterPanel;
}

.controls-FilterPanel__width-l .controls-FilterPanel__filtersWrapper {
   width: @width_m_filterPanel;
}

.controls-FilterPanel__width-l .controls-HistoryList__horizontal {
   width: @history_width_l_filterPanel;
}

//Wrong class name, for compatibility
.controls-PanelFilter__width-m {
   width: @width_s_filterPanel;
}

.controls-PanelFilter__width-l {
   width: @width_l_filterPanel;
}

.controls-PanelFilter__width-xl {
   width: @width_xl_filterPanel;
}

//Header of panel
.controls-FilterPanel__header-topTemplate {
   margin-right: @header-content_padding-right_filterPanel;
}

.controls-FilterPanel__resetButton {
   margin-right: @reset-button_offset-right_filterPanel;
}

.controls-FilterPanel__filterButton {
   flex-shrink: 0;
}

//PropertyGrid block
.controls-FilterPanel__PropertyGrid {
   padding: @basic_content_padding-top_filterPanel @basic_content_padding-right_filterPanel 0 @basic_content_padding-left_filterPanel;
}

//AdditionalParams
.controls-FilterPanel__AdditionalParams {
   padding:
      @extended_offset_filterPanel @extended_content_padding-right_filterPanel
      0 @extended_heading_padding-left_filterPanel;
}

//History
.controls-HistoryList__vertical {
   padding: @history_offset_filterPanel / 2 @history_content_padding-right_filterPanel @padding-bottom_filterPanel @history_heading_padding-left_filterPanel;
   margin-top: @history_offset_filterPanel / 2;
   background-color: @history_background-color_filterPanel;
}

.controls-HistoryList__horizontal {
   width: 50%;
   box-sizing: border-box;
   margin-bottom: @padding-bottom_filterPanel;
   padding: 0 @history_content_padding-right_filterPanel 0 @history_heading_padding-left_filterPanel;
   border-left: @separator_thickness_filterPanel solid @separator_color_filterPanel;
}

.controls-FilterPanel__content-horizontal {
   display: flex;
   flex-direction: row;
   background-color: @background-color_horizontal_filterPanel;
}

.controls-FilterPanel__content-vertical {
   background-color: @background-color_vertical_filterPanel;
}

.controls-FilterPanel__separator {
   display: flex;
   justify-content: center;
}

.controls-FilterPanel__filtersWrapper {
   //flex fix
   min-width: 0;
   flex-shrink: 1;
}

.controls-FilterPanel_oneColumn__filtersWrapper {
   width: 100%;
}

.controls-FilterPanel_twoColumn__filtersWrapper {
   width: 50%;
}

//Filters block common styles
.controls-FilterPanel_lastBlock {
   padding-bottom: @padding-bottom_filterPanel;
}

.controls-FilterButton-popup-orientation-left {
   margin-top: @popup_offset-vertical_filterPanel;
   margin-left: @popup_offset-horizontal_filterPanel;
}

.controls-FilterButton-popup-orientation-right {
   margin-top: @popup_offset-vertical_filterPanel;
   margin-left: -@popup_offset-horizontal_filterPanel;
}

.controls-FilterPanel__DateRange {
   display: flex;
   align-items: center;
   height: @item_height_filterPanel;
}

.controls-text-filterPanelItem_theme-@{themeName} {
   color: @item_text-color_filterPanel;
}

.ws-is-hover {
   .controls-text-filterPanelItem_theme-@{themeName}:hover {
      color: @item_hover_text-color_filterPanel;
   }
}

.controls-text-filterPanelItem_theme-@{themeName}:active {
   color: @item_active_text-color_filterPanel;
}
