//Panel background
// Без каскада сейчас нельзя: https://online.sbis.ru/opendoc.html?guid=a65ae72b-65d4-41ca-b028-2c84433f4439
.controls-FilterPanel__vertical .controls-DialogTemplate__top-area {
   background-color: var(--header_background-color_vertical_filterPanel);
}
// Без каскада сейчас нельзя: https://online.sbis.ru/opendoc.html?guid=a65ae72b-65d4-41ca-b028-2c84433f4439
.controls-FilterPanel__horizontal .controls-DialogTemplate__top-area {
   background-color: var(--header_background-color_horizontal_filterPanel);
}

.controls-FilterPanel__content-horizontal {
   display: flex;
   flex-direction: row;
   background-color: var(--background-color_horizontal_filterPanel);
}

.controls-FilterPanel__content-vertical {
   background-color: var(--background-color_vertical_filterPanel);
}

//Panel width
.controls-FilterPanel__width-s.controls-FilterPanel__vertical {
   width: var(--width_s_filterPanel);
}

.controls-FilterPanel__width-m.controls-FilterPanel__vertical {
   width: var(--width_m_filterPanel);
}

.controls-FilterPanel__width-l.controls-FilterPanel__vertical {
   width: var(--width_l_filterPanel);
}

.controls-FilterPanel__width-m.controls-FilterPanel__horizontal_withHistory {
   width: calc(var(--width_m_filterPanel) + var(--history_width_s_filterPanel));
}

.controls-FilterPanel__width-l.controls-FilterPanel__horizontal_withHistory {
   width: calc(var(--width_m_filterPanel) + var(--history_width_l_filterPanel));
}

.controls-FilterPanel__width-xl.controls-FilterPanel__vertical {
   width: var(--width_xl_filterPanel);
}

.controls-FilterPanel__width-m .controls-FilterPanel__filtersWrapper {
   width: var(--width_m_filterPanel);
}

.controls-FilterPanel__width-m .controls-HistoryList__horizontal  {
   width: var(--history_width_s_filterPanel);
}

.controls-FilterPanel__width-l .controls-FilterPanel__filtersWrapper {
   width: var(--width_m_filterPanel);
}

.controls-FilterPanel__width-l .controls-HistoryList__horizontal  {
   width: var(--history_width_l_filterPanel);
}

//Wrong class name, for compatibility
.controls-PanelFilter__width-m {
   width: var(--width_s_filterPanel);
}

.controls-PanelFilter__width-l {
   width: var(--width_l_filterPanel);
}

.controls-PanelFilter__width-xl {
   width: var(--width_xl_filterPanel);
}

//Header of panel
.controls-FilterPanel__header-topTemplate {
   margin-right: var(--header-content_padding-right_filterPanel);
}

.controls-FilterPanel__resetButton {
   margin-right: var(--reset-button_offset-right_filterPanel);
   color: var(--reset-button_color_filterPanel);
   line-height: var(--inline_height_m);
}

.controls-FilterPanel__resetButton {
   display: inline-block;
}

.controls-FilterPanel__filterButton {
   flex-shrink: 0;
}

//PropertyGrid block
.controls-FilterPanel__PropertyGrid {
   padding: var(--basic_content_padding-top_filterPanel) var(--basic_content_padding-right_filterPanel) 0 var(--basic_content_padding-left_filterPanel);
}

//AdditionalParams
.controls-FilterPanel__AdditionalParams {
   padding:
      var(--extended_offset_filterPanel) var(--extended_content_padding-right_filterPanel)
      0 var(--extended_heading_padding-left_filterPanel);
}

//History
.controls-HistoryList__vertical{
   padding: calc(var(--history_offset_filterPanel) / 2) var(--history_content_padding-right_filterPanel) var(--padding-bottom_filterPanel) var(--history_heading_padding-left_filterPanel);
   margin-top: calc(var(--history_offset_filterPanel) / 2);
   background-color: var(--history_background-color_filterPanel);
}

.controls-HistoryList__horizontal {
   width: 50%;
   box-sizing: border-box;
   margin-bottom: var(--padding-bottom_filterPanel);
   padding: 0 var(--history_content_padding-right_filterPanel) 0 var(--history_heading_padding-left_filterPanel);
   border-left: var(--separator_thickness_filterPanel) solid var(--separator_color_filterPanel);
}

.controls-FilterPanel__separator {
   display: flex;
   justify-content: center;
}

.controls-FilterPanel__filtersWrapper {
   //flex fix
   min-width: 0;
   flex-shrink: 1;
}

.controls-FilterPanel_oneColumn__filtersWrapper {
   width: 100%;
}

.controls-FilterPanel_twoColumn__filtersWrapper {
   width: 50%;
}

//Filters block common styles
.controls-FilterPanel_lastBlock {
   padding-bottom: var(--padding-bottom_filterPanel);
}

.controls-FilterButton-popup-orientation-left {
   margin-top: var(--popup_offset-vertical_filterPanel);
   margin-left: var(--popup_offset-horizontal_filterPanel);
}

.controls-FilterButton-popup-orientation-right {
   margin-top: var(--popup_offset-vertical_filterPanel);
   margin-left: - calc((var(--popup_offset-horizontal_filterPanel) + var(--border-thickness_dialog)));
}

.controls-FilterPanel__DateRange {
   display: flex;
   align-items: center;
   height: var(--item_height_filterPanel);
}

.controls-text-filterPanelItem {
   color: var(--item_text-color_filterPanel);
}

.ws-is-hover {
   .controls-text-filterPanelItem:hover {
      color: var(--item_hover_text-color_filterPanel);
   }
   .controls-FilterPanel__resetButton:hover {
      text-decoration: underline;
      cursor: pointer;
      color: var(--reset-button_hover_color_filterPanel);
   }
}

.controls-text-filterPanelItem:active {
   color: var(--item_active_text-color_filterPanel);
}

.controls-FilterPanel__header__buttons {
   white-space: nowrap
}
