<div class="controls-SubmitPopup__footer">
   <div class="controls-SubmitPopup__buttonContainer">
      <ws:if data="{{type === 'ok'}}">
         <ws:partial
                 ws-autofocus="{{true}}"
                 style="primary"
                 caption="{{buttonConfig.ok.caption}}"
                 template="Controls/Button"
                 attr:class="controls-SubmitPopup__button controls-Button__ellipsis"
                 on:click="_sendResult()"
         />
      </ws:if>
      <ws:else>
         <ws:partial
                 ws-autofocus="{{true}}"
                 style="primary"
                 caption="{{buttonConfig.yes.caption}}"
                 template="Controls/Button"
                 attr:class="controls-SubmitPopup__button{{type === 'yesnocancel' ? ' controls-SubmitPopup__button-mini'}} controls-Button__ellipsis"
                 on:click="_sendResult(true)"
         />
         <ws:partial
                 caption="{{buttonConfig.no.caption}}"
                 template="Controls/Button"
                 attr:class="controls-SubmitPopup__button{{type === 'yesnocancel' ? ' controls-SubmitPopup__button-mini'}} controls-Button__ellipsis"
                 on:click="_sendResult(false)"
         />
         <ws:if data="{{type === 'yesnocancel'}}">
            <ws:partial
                    caption="{{buttonConfig.cancel.caption}}"
                    template="Controls/Button"
                    attr:class="controls-SubmitPopup__button controls-SubmitPopup__button-mini controls-Button__ellipsis"
                    on:click="_sendResult()"
            />
         </ws:if>
      </ws:else>
   </div>
</div>