<div class="controls-DatePicker{{pickerIconShow ? '' : ' controls-DatePicker_hiddenIcon'}}">
   <ws:partial template="{{dateBoxTpl}}" scope="{{...}}"/>
   <ws:if data="{{pickerIconShow}}">
         <SBIS3.CONTROLS.Button.IconButton
            className="controls-DatePicker__button controls-DatePicker__button_size_{{ size ? size : 'default' }}"
            name="PickerButton"
            tabindex="1"
            icon="icon-size icon-primary {{ {
               'calendar': 'icon-Calendar2',
               'time': 'icon-Time'
            }[_pickerName] }}"
         />
   </ws:if>
</div>