.controls-DatePicker {
   display: inline-block;
   white-space: nowrap;

   .controls-DatePicker__button {
      vertical-align: @date-picker-button-vertical-align;
   }
}
.controls-DatePicker__button {
   margin-left: @date-picker-button-margin-left;
   &.controls-DatePicker__button_size_default {
      .controls-Button__icon {
         .icon-size-without-important(@date-picker-button-size_default);
         line-height: @date-picker-button-line-height_default;
      }
   }
   &.controls-DatePicker__button_size_m {
      .controls-Button__icon {
         .icon-size-without-important(@date-picker-button-size_m);
         line-height: @date-picker-button-line-height_m;
      }
   }
   &.controls-DatePicker__button_size_l {
      .controls-Button__icon {
         .icon-size-without-important(@date-picker-button-size_l);
         line-height: @date-picker-button-line-height_l;
      }
   }
}
.controls-DatePicker__timePicker-border.controls-FloatArea {
   border: @float-area-border;
   .box-shadow(@float-area-shadow);

   .controls-PopupMixin__closeButton {
      top: @top_DatePicker-closeButton;
   }
}
