<div class="ws-flexbox">
   <img class="personPhoto" src="{{item.imgPath}}"/>
   <div>
      <div class="personName">{{item.name}}</div>
      <div class="task">
         <div class="{{item.isNew ? 'taskTypeNew'}}">{{item.taskType}}</div>
         <div class="taskMsg">{{item.shortMsg}}</div>
      </div>
   </div>
   <div class="ws-flex-grow-1 date">{{item.date}}</div>
</div>
