<div>
    <ws:SBIS3.CONTROLS.TabControl
        name="SuggestTabControl"
        items="{{tabControlItems}}"
        selectedKey="{{selectedKey}}"
        tabsDisplayField="{{tabsDisplayField}}"
        keyField="{{keyField}}"
        loadType="cached"
        className="controls-TabButtons__simple-view"
    />
</div>