<div>
    <ws:SBIS3.CONTROLS.TabControl
        name="SuggestTabControl"
        items="{{items}}"
        selectedKey="{{selectedKey}}"
        tabsDisplayProperty="{{displayProperty}}"
        idProperty="{{idProperty}}"
        loadType="all"
        className="controls-TabButtons__simple-view"
        tabindex="0"
    />
</div>