.controls-PopupMixin__closeButton {
   position: absolute;
   cursor: pointer;
   right: 0px;
   z-index: 1;
   top: @controls-Popup-closeButton-top;
   .flexbox();
   .align-items(center);
   .justify-content(center);
   &:before {
      content: @content_CloseButton_icon;
   }
}

.controls-PopupMixin__closeButton_standart {
   border-style: solid;
   width: @width_CloseButton - extract(@border-width_CloseButton, 2) - extract(@border-width_CloseButton, 4);
   height: @height_CloseButton - extract(@border-width_CloseButton, 1) - extract(@border-width_CloseButton, 3);
   font-family: @default-icon-font;
   line-height: @height_CloseButton;
   font-size: @font-size_CloseButton;
   box-shadow: @box-shadow_CloseButton;
   border-width: @border-width_CloseButton;
   border-color: @border-color_CloseButton;
   border-radius: @border-radius_CloseButton;
   background-color: @background-color_CloseButton;
   &:before {
      color: @color_CloseButton-icon;
      text-shadow: @text-shadow_Button;
   }
   &:active {
      box-shadow: none;
   }
}

.controls-PopupMixin__closeButton_light {
   width: @icon-size_default_medium;
   height: @icon-size_default_medium;
   font-size: @icon-size_default_medium;
   font-family: @default-icon-medium-font;
   line-height: @icon-size_default_medium;
   &:before {
      color: @color_CloseButton-light-icon;
   }
}

body:not(.ws-is-mobile-platform) {
   .controls-PopupMixin__closeButton_standart {
      &:hover, &:active {
         background-color: @background-color_CloseButton_hover;
         box-shadow: @box-shadow_CloseButton_active;
         border-color: @border-color_CloseButton_hover;
         &:before {
            color: @color_CloseButton-icon_hover;
         }
      }
      &:active {
         box-shadow: none;
      }
   }
   .controls-PopupMixin__closeButton_light {
      &:hover, &:active {
         &:before {
            color: @color_CloseButton-light-icon_hover;
         }
      }
   }
}