.controls-DateBox {
   border: none !important;
   background: transparent !important;
   cursor: auto;
   color:  @date-box-color;

   .box-sizing(border-box);

   .controls-FormattedTextBox__fieldWrapper {
      .border-radius(@date-box-wrapper-border-radius);
      border-width: @date-box-wrapper-border-width;
      border-style: @date-box-wrapper-border-style;
      border-color: @date-box-wrapper-border-color;
      background: @date-box-wrapper-bg;
      margin: 0;
      .controls-FormattedTextBox__field {
         color: @date-box-field-text-color;
      }
   }

   &.ws-has-focus {
      .controls-FormattedTextBox__fieldWrapper {
         border-width: @date-box-wrapper-focus-border-width;
         border-style: @date-box-wrapper-focus-border-style;
         border-color: @date-box-wrapper-focus-border-color;
         background: @date-box-wrapper-focus-bg;
      }
   }

   &.ws-validation-error {
      border: none !important;
      background: transparent !important;

      & > .controls-DateBox__fieldWrapper {
         border-width: @date-box-wrapper-error-border-width;
         border-style: @date-box-wrapper-error-border-style;
         border-color: @date-box-wrapper-error-border-color;
         background: @date-box-wrapper-error-bg;
      }
   }

   &:hover {
      .controls-FormattedTextBox__fieldWrapper {
         border-width: @date-box-wrapper-hover-border-width;
         border-style: @date-box-wrapper-hover-border-style;
         border-color: @date-box-wrapper-hover-border-color;
         background: @date-box-wrapper-hover-bg;
      }
   }

   &.ws-disabled {
      .controls-FormattedTextBox__fieldWrapper {
         border-width: @date-box-wrapper-disabled-border-width;
         border-style: @date-box-wrapper-disabled-border-style;
         border-color: @date-box-wrapper-disabled-border-color;
         background: @date-box-wrapper-disabled-bg;
      }
   }
}