<div class="controls-DateBox controls-FormattedTextBox">
    <div class="controls-DateBox__fieldWrapper controls-FormattedTextBox__fieldWrapper">
        <div contenteditable="{{enabled}}" class="controls-FormattedTextBox__field js-controls-FormattedTextBox__field">{{_maskTemplateFn(_modelForMaskTpl)}}</div>
    </div>
</div>
