<ws:partial template="tmpl!Controls/Toolbar/toolbarItemTemplate" scope="{{...}}" attr:class="controls-Toolbar-item_owned" contentTemplate="tmpl!Controls-demo/Toolbar/resources/itemTemplateContent"></ws:partial>