<ws:partial template="tmpl!Controls/Toolbar/ToolbarItemTemplate" item="{{item}}" attr:class="controls-Toolbar-item_owned" contentTemplate="tmpl!Controls-demo/Toolbar/resources/itemTemplateContent"></ws:partial>