.controls-PanelFilter__default {
   width: @width_FilterPanel_default;
}

.controls-FilterPanel__wrapper {
   margin: @margin_FilterPanel-wrapper;
}

.controls-FilterPanel__header {
   flex-grow: 1;
   display: flex;
   justify-content: flex-end;
   align-items: baseline;
   margin-left: @margin_FilterPanel-header;
}

.controls-FilterPanel__header:before {
   content: "\200b";
   line-height: @height_FilterPanel-header;
   display: inline-block;
   width: 0;
   visibility: hidden;
}

.controls-FilterPanel__caption {
   font-size: @font-size_FilterPanel-caption;
   color: @color_FilterPanel-caption;
   margin: @margin_FilterPanel-caption;
}

.controls-FilterPanel__PropertyGrid {
   margin: @margin_FilterPanel__PropertyGrid;
}

.controls-FilterPanel__separator {
   display: flex;
   justify-content: center;
   height: @height_AdditionalParams-arrow;
}

.controls-FilterPanel_maxHeight {
   max-height: @max-height_FilterPanel-items;
   overflow: hidden;
}

.controls-FilterPanel__header-topTemplate {
   margin: @spacing_FilterPanel-header-topTemplate;
}

.controls-FilterPanel__resetButton {
   margin: @margin_FilterPanel-resetButton-title;
}

