<div class="controls-PanelFilter">
   <div class="controls-FilterPanel__header">
      <Controls.Header caption="{{_options.title}}" style="{{_options.styleHeader}}" size="l" enabled="{{false}}"
                       class="controls-FilterPanel__header-title"/>
      <ws:if data="{{topTemplate}}">
         <div class="controls-FilterPanel__header-topTemplate">
            <ws:partial template="{{topTemplate}}"/>
         </div>
      </ws:if>
      <Controls.Button style="linkMain" enabled="{{_isChanged}}" caption="{[По умолчанию]}" on:click="_resetFilter()"
                       name="resetButton"
                       attr:class="controls-FilterPanel__resetButton"></Controls.Button>

      <Controls.Button style="buttonPrimary" caption="{[Отобрать]}" on:click="_applyFilter()"
                       attr:class="controls-FilterPanel__filterButton"></Controls.Button>

      <div class="controls-FilterPanel__close_button_standart controls-FilterPanel__closeButton"
           on:click="_close()"></div>
   </div>
   <Controls.PropertyGrid items="{{_items}}" on:valueChanged="_valueChangedHandler()"
                                              class="controls-FilterPanel__PropertyGrid"/>



</div>