//Panel width
.controls-PanelFilter__width-m {
   width: @width_FilterPanel_size-m;
}

.controls-PanelFilter__width-l {
   width: @width_FilterPanel_size-l;
}

.controls-PanelFilter__width-xl {
   width: @width_FilterPanel_size-xl;
}

//Header of panel
.controls-FilterPanel__resetButton {
   margin-right: @spacing_FilterPanel_between_resetButton_applyButton;
}

.controls-FilterPanel__filterButton {
   margin-right: @spacing_FilterPanel_between_applyButton_closeButton;
}

.controls-FilterPanel__header-topTemplate {
   margin: 0 @spacing_FilterPanel_between_topTemplate_resetButton 0 @spacing_FilterPanel_between_panelCaption_topTemplate;
}

.controls-FilterPanel__header {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   margin-left: auto;
}

//Captions of blocks
.controls-FilterPanel__caption {
   font-size: @font-size_FilterPanel_block_caption;
   color: @color_FilterPanel_block_caption;
   height: @height_FilterPanel_block_caption;
}

//PropertyGrid
.controls-FilterPanel__PropertyGrid {
   padding: 0 @spacing_FilterPanel_between_right-side_propertyGrid 0 @spacing_FilterPanel_between_left-side_propertyGrid;
}

//AdditionalParams
.controls-FilterPanel__AdditionalParams {
   padding: @spacing_FilterPanel_between_propertyGrid_additionalParams @spacing_FilterPanel_between_right-side_additionalParams 0 @spacing_FilterPanel_between_left-side_additionalParams;
}

.controls-FilterPanel_lastBlock {
   padding-bottom: @spacing_FilterPanel_block-content_bottom-side;
}

//vertical panel
.controls-HistoryList__vertical {
   margin-top: @spacing_FilterPanel_vertical_between_top-side_history/2;
	padding: @spacing_FilterPanel_vertical_between_top-side_history/2 @spacing_FilterPanel_vertical_between_right-side_history @spacing_FilterPanel_vertical_between_bottom-side_history @spacing_FilterPanel_vertical_between_left-side_history;
	background-color: @background-color_HistoryList;
}

.controls-FilterPanel__filtersWrapper {
   padding-bottom: @spacing_FilterPanel_block-content_bottom-side;
}

//horizontal panel
.controls-FilterPanel__horizontal {
   background-color: @background-color_FilterPanel-horizontal;
}

.controls-FilterPanel__content-horizontal {
   display: flex;
   flex-direction: row;
}

.controls-HistoryList__horizontal {
   width: 50%;
   box-sizing: border-box;
   margin-bottom: @spacing_FilterPanel_vertical_between_bottom-side_history;
   padding: @spacing_FilterPanel_horizontal_between_top-side_history @spacing_FilterPanel_vertical_between_right-side_history 0 @spacing_FilterPanel_horizontal_between_left-side_history;
   border-left: @border-left_FilterPanel_horizontal_history;
}

//History common styles
.controls-FilterPanel_maxHeight {
   max-height: @max-height_FilterPanel_expandable_block;
   overflow: hidden;
}

.controls-FilterPanel__separator {
   display: flex;
   justify-content: center;
   height: @height_FilterPanel_button_expand;
}