<div class="controls-Grid__colgroup">
   <ws:for data="listModel.resetColgroupColumns(); listModel.isEndColgroupColumn(); listModel.goToNextColgroupColumn();">
      <div attr:class="controls-Grid__colgroup-column" attr:style="{{listModel.getCurrentColgroupColumn().style}}"></div>
   </ws:for>
</div>