<div class="controls-Grid__row-cell__content" tabindex="-1">
   <ws:if data="{{contentTemplate}}">
      <ws:partial template="{{contentTemplate}}" itemData="{{itemData}}"/>
   </ws:if>
   <ws:else>
      <span class="controls-Grid__row-cell__content_baseline_XL">{{itemData.item[itemData.column.displayProperty]}}</span>
   </ws:else>
</div>