<Controls.List.ListControl
   name="listControl"
   viewName="Controls/List/Grid/GridView"
   viewConfig="{{_viewConfig}}"
   viewModelConfig="{{_viewModelConfig}}"
   viewModelConstructor="{{_viewModelConstructor}}"
   source="{{_options.source}}"
   filter="{{_options.filter}}"
   itemsGroup="{{itemsGroup}}"
   uniqueKeys="{{_options.uniqueKeys}}"
   navigation="{{_options.navigation}}"
   editingConfig="{{_options.editingConfig}}"
   emptyTemplate="{{_options.emptyTemplate}}"
   itemsDragNDrop="{{_options.itemsDragNDrop}}"
   dataLoadCallback="{{_options.dataLoadCallback}}"
   dataLoadErrback="{{_options.dataLoadErrback}}"
   dragAvatarTemplate="{{_options.dragAvatarTemplate}}"
   on:dragStart="_dragStart()"
   on:dragEnd="_dragEnd()"
   itemActionsType="{{_options.itemActionsType}}"
   itemActionVisibilityCallback="{{_options.itemActionVisibilityCallback}}"
   itemsReadyCallback="{{_options.itemsReadyCallback}}"
   selectedKeys="{{_options.selectedKeys}}"
   partiallySelectedKeys="{{_options.partiallySelectedKeys}}"
   excludedKeys="{{_options.excludedKeys}}"
   uniqueKeys="{{_options.uniqueKeys}}"
   itemActions="{{_options.itemActions}}">
</Controls.List.ListControl>