<Controls.List.ListControl
   name="listControl"
   viewName="Controls/List/Grid/GridView"
   viewConfig="{{_viewConfig}}"
   viewModelConfig="{{_viewModelConfig}}"
   viewModelConstructor="{{_viewModelConstructor}}"
   source="{{_options.source}}"
   filter="{{_options.filter}}"
   navigation="{{_options.navigation}}"
   editingConfig="{{_options.editingConfig}}"
   emptyTemplate="{{_options.emptyTemplate}}">
</Controls.List.ListControl>