<Controls.List.SourceControl
   viewName="Controls/List/Grid/GridView"
   viewConfig="{{_viewConfig}}"
   listViewModel="{{_listViewModel}}"
   source="{{_options.source}}"
   filter="{{_options.filter}}"
   navigation="{{_options.navigation}}"
   emptyTemplate="{{_options.emptyTemplate}}">
</Controls.List.SourceControl>