<div attr:class="controls-Grid__row" attr:key="{{itemData.dispItem.getHash()}}">
   <ws:if data="{{contentTemplate}}">
      <ws:partial template="{{contentTemplate}}" itemData="{{itemData}}" itemActionsTemplate="{{itemActionsTemplate}}" swipeTemplate="{{swipeTemplate}}" multiSelectTpl="{{multiSelectTpl}}"/>
   </ws:if>
   <ws:else>
      <ws:for data="itemData.resetColumnIndex(); itemData.isEndColumn(); itemData.goToNextColumn();">
         <div attr:class="{{itemData.getCurrentColumn().cellClasses}}" attr:style="{{itemData.ladderSupport ? itemData.getCurrentColumn().cellStyleForLadder}}">
            <ws:if data="{{itemData.multiselect && itemData.columnIndex === 0}}">
               <!-- todo заменить isSelected на isMultiselected -->
               <div class="controls-Grid__checkboxArea {{itemData.isSelected ? 'controls-Grid__checkbox_checked' : 'controls-Grid__checkbox_unchecked'}}"></div>
            </ws:if>
            <ws:else>
               <ws:partial template="{{itemData.getCurrentColumn().template}}"
                           attr:class="{{itemData.getCurrentColumn().withLadder ? 'controls-Grid__row-cell__content_withLadder'}}"
                           contentData="{{itemData.getCurrentColumn()}}" />
            </ws:else>
            <ws:if data="{{itemData.isEndingColumn() && itemData.itemActions  && itemData.itemActions.all && itemData.itemActions.all.length}}">
               <ws:partial template="{{itemActionsTemplate}}"  itemData="{{itemData}}"/>
            </ws:if>
         </div>
      </ws:for>
   </ws:else>
</div>
<ws:if data="{{itemData.ladder}}">
   <div attr:class="controls-Grid__row-ladder-cell {{itemData.ladder.currentColumn.cellClasses}}" attr:style="{{itemData.ladder.style}}">
      <ws:partial template="{{itemData.ladder.currentColumn.template}}" attr:class="controls-Grid__row-ladder-cell__content" contentData="{{itemData.ladder.currentColumn}}" />
   </div>
</ws:if>
