<table class="controls-Grid controls-Grid_{{_options.itemActionsPosition}}">
   <ws:partial template="tmpl!Controls/List/Grid/ColGroup" listModel="{{_listModel}}"/>
   <ws:if data="{{_listModel.getHeader()}}">
      <ws:partial template="tmpl!Controls/List/Grid/Header" listModel="{{_listModel}}" defaultHeaderContent="{{_headerContentTemplate}}"/>
   </ws:if>
   <ws:if data="{{_listModel.getResults() && _listModel.getResults().position === 'top'}}">
      <ws:partial template="tmpl!Controls/List/Grid/Results" userTemplate="{{_listModel.getResults().template}}" listModel="{{_listModel}}"/>
   </ws:if>
   <tbody>
      <ws:partial template="tmpl!Controls/List/resources/For"
                  listModel="{{_listModel}}"
                  itemTemplate="{{_itemTemplate}}"
                  multiSelectTpl="{{_options.multiSelectTpl}}"
                  editingItemData="{{_options.editingItemData}}"
                  isAdd="{{_options.isAdd}}"
                  itemActionsTemplate="{{_options.itemActionsTemplate}}"
                  groupTemplate="{{_groupTemplate}}"
                  itemActionsPosition="{{_options.itemActionsPosition}}"
                  swipeTemplate="{{_options.swipeTemplate}}"/>
   </tbody>
   <ws:if data="{{_listModel.getResults() && _listModel.getResults().position === 'bottom'}}">
      <ws:partial template="tmpl!Controls/List/Grid/Results" userTemplate="{{_listModel.getResults().template}}" listModel="{{_listModel}}"/>
   </ws:if>
</table>