/*group*/
/*ширина кнопки закрытия окна 36px + 2px на небольшой отступ между кнопкой сохранить (в ie8 нет скруглений и кнопки склеиваются)*/
/*ширина кнопки закрытия окна 36px + 90px ширина кнопки сохранить + 2px на небольшой отступ между ними */
.controls-CommandsButton__picker {
  margin: -5px -34px 0 0 !important;
}
.controls-CommandsButton__picker .controls-PopupMixin__closeButton {
  z-index: 10;
  background-image: none;
  width: 24px;
  height: 24px;
  top: 8px;
  right: 8px;
  color: #313E78 !important;
}
.controls-CommandsButton__picker .controls-PopupMixin__closeButton:hover {
  background-image: none;
}
.controls-CommandsButton__picker .controls-MenuItem {
  padding-right: 38px!important;
}
