.controls-CommandsButton__picker{
   margin: -7px -31px 0 0;
}
.controls-CommandsButton__picker .controls-PopupMixin__closeButton {
   z-index:10;
   background-image: none;
   width: 24px;
   height: 24px;
   top: 5px;
   right: 5px;
   &:hover {
      background-image: none;
   }
}

.controls-CommandsButton__picker .controls-MenuItem{
   padding-right: 30px!important;
}