.controls-InformationPopup.controls-FloatArea {
    border-top: @controls-InformationPopup-border-top;
    border-right: @controls-InformationPopup-border-right;
    border-bottom: @controls-InformationPopup-border-bottom;
    border-left: @controls-InformationPopup-border-left;
    .box-shadow(@controls-panel-shadow);

   .controls-PopupMixin__closeButton {
      top:  @controls-InformationPopup-closeButton-top;
   }

   &.controls-InformationPopup__status-default {
      border-color: @controls-InformationPopup-default-status-border-color;
   }

   &.controls-InformationPopup__status-success {
      border-color: @controls-InformationPopup-success-status-border-color;
   }

   &.controls-InformationPopup__status-error {
      border-color: @controls-InformationPopup-error-status-border-color;
   }
}

.controls-InformationPopup.controls-FloatArea {
   background: @controls-InformationPopup-bg;
}