.controls-InformationPopup {
    border: @controls-InformationPopup-border;
    border-top: @controls-InformationPopup-border-top;
    background: @controls-InformationPopup-bg;
}

.controls-InformationPopup.controls-InformationPopup__status-default {
    border-top-color: @controls-InformationPopup-default-status-border-top-color;
}

.controls-InformationPopup.controls-InformationPopup__status-success {
    border-top-color: @controls-InformationPopup-success-status-border-top-color;
}

.controls-InformationPopup.controls-InformationPopup__status-error {
    border-top-color: @controls-InformationPopup-error-status-border-top-color;
}

.controls-InformationPopup.controls-InformationPopup__status-warning {
    border-top-color: @controls-InformationPopup-warning-status-border-top-color;
}
