<div class="controls-InformationPopup controls-FloatArea controls-InformationPopup__status-{{status}} {{additionalClass || ''}}">
   <ws:if data="{{template}}">
      <ws:partial template="{{template}}" scope="{{...}}"></ws:partial>
   </ws:if>
</div>