.controls-InformationPopup {
    border: @controls-InformationPopup-border;
    border-top: @controls-InformationPopup-border-top;
    background: @controls-InformationPopup-bg;
}

.controls-InformationPopup.controls-InformationPopup__state-default {
    border-top-color: @controls-InformationPopup-default-state-border-top-color;
}

.controls-InformationPopup.InformationPopup__state-success {
    border-top-color: @controls-InformationPopup-success-state-border-top-color;
}

.controls-InformationPopup.InformationPopup__state-error {
    border-top-color: @controls-InformationPopup-error-state-border-top-color;
}

.controls-InformationPopup.InformationPopup__state-warning {
    border-top-color: @controls-InformationPopup-warning-state-border-top-color;
}
