/*group*/
/*ширина кнопки закрытия окна 36px + 2px на небольшой отступ между кнопкой сохранить (в ie8 нет скруглений и кнопки склеиваются)*/
/*ширина кнопки закрытия окна 36px + 90px ширина кнопки сохранить + 2px на небольшой отступ между ними */
.controls-InformationPopup.controls-FloatArea {
  border-top: 3px solid;
  border-bottom: none;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.4);
}
.controls-InformationPopup.controls-FloatArea .controls-PopupMixin__closeButton {
  top: 8px;
}
.controls-InformationPopup.controls-FloatArea.controls-InformationPopup__status-default {
  border-top-color: #0055BB;
  border-bottom-color: #0055BB;
}
.controls-InformationPopup.controls-FloatArea.controls-InformationPopup__status-success {
  border-top-color: #72BE44;
  border-bottom-color: #72BE44;
}
.controls-InformationPopup.controls-FloatArea.controls-InformationPopup__status-error {
  border-top-color: #EF463A;
  border-bottom-color: #EF463A;
}
.controls-InformationPopup.controls-FloatArea {
  background: white;
}
