<div class="controls-InformationPopup controls-FloatArea controls-InformationPopup__status-{{status}} {{additionalClass || ''}}">
   <ws:partial if={{template}} template="{{template}}" scope="{{...}}"></ws:partial>
</div>