<Lib:Control:TemplatedArea:TemplatedArea
   className="controls-ImportCustomizer-Area__body__box controls-ImportCustomizer-Area__body__box-not-pad controls-ImportCustomizer-Area__body__box-providerArgs"
   name="controls-ImportCustomizer-Area__providerArgs"
   template="{{_providerArgsComponent}}"
   visible="{{!!_providerArgsComponent}}"
   componentOptions="{{_scopes.providerArgs.componentOptions}}"
/>