<SBIS3.CONTROLS:ImportCustomizer:ColumnBinding:View
   className="controls-ImportCustomizer-Area__body__box controls-ImportCustomizer-Area__body__box-not-pad controls-ImportCustomizer-Area__body__box-columnBinding"
   name="controls-ImportCustomizer-Area__columnBinding"
   scope="{{_scopes.columnBinding}}"
/>