<SBIS3.CONTROLS:ImportCustomizer:Mapper:View
   className="controls-ImportCustomizer-Area__body__box controls-ImportCustomizer-Area__body__box-not-pad controls-ImportCustomizer-Area__body__box-mapper"
   name="controls-ImportCustomizer-Area__mapper"
   scope="{{_scopes.mapper}}"
/>