<ws:partial
   template="{{baseParamsComponent}}"
   className="controls-ImportCustomizer-Area__body__box controls-ImportCustomizer-Area__body__box-baseParams"
   name="controls-ImportCustomizer-Area__baseParams"
   scope="{{_scopes.baseParams}}"
/>