<SBIS3.CONTROLS:ImportCustomizer:Provider:View
   className="controls-ImportCustomizer-Area__body__box controls-ImportCustomizer-Area__body__box-provider"
   name="controls-ImportCustomizer-Area__provider"
   scope="{{_scopes.provider}}"
/>