<div style="margin: 32px; display: flex; flex-direction: column;">
    <div>
        <Controls:Label name="myLabel1" caption="Пример"/>
        <Controls:Input:Area bind:value="_text1"
                       placeholder="{{_placeholder}}"
                       constraint="{{_constraint}}"
                       validationErrors="{{_validationErrors}}"
                       trim="{{_trim}}"
                       maxLength="{{_maxLength}}"
                       minLines="{{_minLines}}"
                       maxLines="{{_maxLines}}"
                       enabled="{{_enabled}}"
                       multiline="{{_multiline}}"/>
    </div>
    <div>
        <h3>Опции</h3>
        <Controls:Label name="myLabel1" caption="placeholder"/>
        <Controls:Input:Text bind:value="_placeholder"/>
        <Controls:Label name="myLabel1" caption="constraint"/>
        <Controls:Input:Text bind:value="_constraint"/>
        <Controls:Label name="myLabel1" caption="maxLength"/>
        <Controls:Input:Text bind:value="_maxLength"/>
        <Controls:Label name="myLabel1" caption="minLines"/>
        <Controls:Input:Text bind:value="_minLines"/>
        <Controls:Label name="myLabel1" caption="maxLines"/>
        <Controls:Input:Text bind:value="_maxLines"/>
        <div>
            <ws:Controls.Toggle.Checkbox enabled="{{true}}" bind:value="_trim" caption="trim"/>
            <ws:Controls.Toggle.Checkbox on:valueChanged="valueChangedHandler()" enabled="{{true}}" bind:value="_validationErrorsValue" caption="validationErrors"/>
            <br/>
            <ws:Controls.Toggle.Checkbox enabled="{{true}}" bind:value="_enabled" caption="enabled"/>
            <ws:Controls.Toggle.Checkbox enabled="{{true}}" bind:value="_multiline" caption="multiline"/>
        </div>
    </div>
</div>