<div class="example-Password">
   <div class="example-Base__title">Password input field</div>
   <Controls.Input.Password placeholder="Password"
                            bind:value="_value"/>
</div>