<div class="controls-ToggleHeader">
    <span class="controls-ToggleHeader__count" data-bind="html: count">{{count}}</span>
    <span class="controls-ToggleHeader__caption {{count && 'margin-caption'}}"
    data-bind="html: caption, css: {margin-caption: count}">
        {{caption}}
    </span>
</div>