<div class="controls-ToggleHeader">
    <span class="controls-ToggleHeader__count" data-bind="html: count"></span>
    <span class="controls-ToggleHeader__caption" data-bind="html: caption"></span>
</div>