<div class="controls-LongOperationsPopup__content">
   <SBIS3.CONTROLS.LongOperations.List
      pageSize="{{4}}"
      noLoad="{{true}}"
      userId="{{userId}}"
      name="operationList"
      narrowTmpl="{{true}}"
      showPaging="{{false}}"
      infiniteScroll="{{null}}"
      listName="operationListDataGrid"
      useDataSourceQueue="{{true}}"
      className="controls-LongOperationsPopup__content_list controls-ListView__withoutMarker controls-DataGridView__hasSeparator"
      columns="{{ {
         'startedAt': false,
         'userPic': false
      } }}"
   />
   <div class="controls-LongOperationsPopup__content_showRegistryButtonContainer">
      <SBIS3.CONTROLS.Link
         name="registryOperationButton"
         className="controls-LongOperationsPopup__content_showRegistryButton"
         caption="{[Все операции]}"
      />
   </div>
</div>