<div class="controls-LongOperationsPopup__footer">
   <span class="controls-LongOperationsPopup__footer_progress_container">
      <span class="controls-LongOperationsPopup__footer_executeTime"></span>
      <span class="controls-LongOperationsPopup__footer_execTasks"></span>
      <span class="controls-LongOperationsPopup__footer_progress"></span>
   </span>
   <span class="controls-LongOperationsPopup__footer_notification ws-hidden"></span>
   <span class="controls-LongOperationsPopup__footer_actionHideContent icon-16 icon-size icon-TFExpand icon-disabled"></span>
   <span class="controls-LongOperationsPopup__footer_actionPause icon-16 icon-size icon-Pause icon-primary"></span>
</div>