<div class="controls-NotificationPopup__header_icon{{icon ? ' icon-size ' + icon : (status === 'success') ? ' icon-size icon-24 icon-Yes icon-done' : (status === 'error') ? ' icon-size icon-24 icon-Alert icon-error'}}"></div>
<div class="controls-NotificationPopup__header_caption controls-LongOperationsPopup__header_caption">{{caption}}</div>
<SBIS3.CONTROLS.Link
   name="downloadButton"
   className="controls-LongOperationsPopup__header_downloadButton"
   visible="{{false}}"
   activableByClick="{{false}}"
/>
<div class="controls-LongOperationsPopup__header_stoppedOperationsButton controls-LongOperationsPopup__header_stoppedOperations-show">
   <span class="controls-LongOperationsPopup__header_hideStoppedOperations" title="{[Скрыть прерванные]}">{[Скрыть прерванные]}</span>
   <span class="controls-LongOperationsPopup__header_showStoppedOperations" title="{[Показать прерванные]}">{[Показать прерванные]}</span>
</div>