.controls-demo-FieldLinkWithEditInPlace__cell {
   padding-left: 4px;
   border: 1px solid transparent;
   line-height: 19px;
}

.controls-demo-FieldLinkWithEditInPlace__cell > p {
   margin: 12px 0;
}

.controls-demo-FieldLinkWithEditInPlace__newItem {
   padding-top: 8px;
}