.controls-demo-FieldLinkWithEditInPlace__cell {
   padding-left: 2px;
}

.controls-demo-FieldLinkWithEditInPlace__topAlign {
   vertical-align: top !important;
   padding-top: 0 !important;
}

.controls-demo-FieldLinkWithEditInPlace__cell > p {
   margin: 8px 0;
   line-height: 24px;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.controls-demo-FieldLinkWithEditInPlace__cell > div {
   margin-top: 11px;
}

.controls-demo-FieldLinkWithEditInPlace__newItem {
   padding-top: 8px;
}