<input
   event:oninput="_inputHandler()"
   event:onfocus="_focusHandler()"
   event:onselect="_selectHandler()"
   event:onclick="_clickHandler()"
   event:onkeyup="_keyupHandler()"
   class="js-controls-TextBox__field controls-TextBox__field{{textTransform ? ' controls-TextBox__field_' + textTransform}}"
   type="{{type}}"
   autocomplete="off"
   value="{{text}}"
   placeholder="{{enabled ? placeholder}}"
   maxlength="{{maxLength}}"
   readonly="{{enabled ? '' : 'readonly'}}"
/>
