<input
   event:oninput="_inputHandler()"
   event:onmouseenter="_mouseenterHandler()"
   event:onfocus="_focusHandler()"
   event:onselect="_selectHandler()"
   event:onclick="_selectHandler()"
   event:onkeydown="_keydownHandler()"
   class="js-controls-TextBox__field controls-TextBox__field{{_options.textTransform ? ' controls-TextBox__field_' + _options.textTransform}}"
   type="{{_type}}"
   autocomplete="off"
   value="{{_text}}"
   placeholder="{{isEnabled() ? _options.placeholder}}"
   maxlength="{{_options.maxLength}}"
   readonly="{{isEnabled() ? '' : 'readonly'}}"
/>