<input
        event:onchange="_onChangeText()"
        class="controls-TextBox__field {{_options.textTransform ? ('controls-TextBox__field-' + _options.textTransform) }}"
        type="{{ _options.type || 'text' }}"
        autocomplete="off"
        value="{{ _options.text }}"
        placeholder="{{ isEnabled() ? _options.placeholder }}"
        maxlength="{{ _options.maxLength ? _options.maxLength }}"
/>