.controlsDemo__wrapper {
  padding: 12px;
}

.controlsDemo__wrapper__horizontal {
  padding-right: 12px;
}

.controlsDemo__cell {
  padding-bottom: 12px;
}

.controlsDemo__background {
  background-color: #eaeaea;
  padding: 4px;
}
