@spacing_demo_default: 12px;

.controlsDemo__wrapper {
  padding: 12px;
}

.controlsDemo__wrapper__horizontal {
  padding-right: 12px;
}

.controlsDemo__cell {
  padding-bottom: 12px;
}

.controlsDemo__flexRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  &_noWrap {
    flex-wrap: nowrap;
  }
}

.controlsDemo__flexColumn {
  display: flex;
  flex-direction: column;
}

.controlsDemo__mr,
.controlsDemo__mr1 {
  margin-right: @spacing_demo_default;
}

.controlsDemo__mr2 {
  margin-right: @spacing_demo_default * 2;
}

.controlsDemo__mr3 {
  margin-right: @spacing_demo_default * 3;
}

.controlsDemo__mr4 {
  margin-right: @spacing_demo_default * 4;
}

.controlsDemo__input {
  width: 220px;
}

.controlsDemo__background {
  background-color: #eaeaea;
  padding: 4px;
}
