@import "Controls-default-theme/_theme";
@spacing_demo_default: 12px;
@spacing_demo_default_controls: 4px;

.controlsDemo__wrapper {
  padding: @spacing_demo_default;
}

.controlsDemo__wrapper__padding-top {
  padding-top: @spacing_demo_default;
}

.controlsDemo__wrapper__padding-left {
  padding-left: @spacing_demo_default;
}

.controlsDemo__wrapper__horizontal {
  padding-right: @spacing_demo_default;
}

.controlsDemo__cell {
  padding-bottom: @spacing_demo_default;
}

.controlDemo__input-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  align-items: center;
}

.controlsDemo__button {
  background-color: transparent;
  height: 24px;
  border-radius: 12px;
  border: 1px solid #587AB0;
  cursor: pointer;
  padding: 0 11px;
  &:hover {
    background-color: #F0F5FB;
  }
  &:active {
    background-color: #E1ECF6;
  }
}

.controlsDemo_fixedWidth300 {
  width: 300px;
}

.controlsDemo_fixedWidth350 {
  width: 350px;
}

.controlsDemo_fixedWidth500 {
  width: 500px;
}
.controlsDemo_fixedWidth550 {
  width: 550px;
}
.controlsDemo_fixedWidth800 {
  width: 800px;
}
.controlsDemo_fixedWidth1700 {
  width: 1700px;
}

.controlsDemo_fixedWidth2000 {
  width: 2000px;
}

.controlsDemo_widthFit {
  width: fit-content;
}

.controlsDemo__flex {
  display: flex !important;;
}

.controlsDemo__inline-flex {
  display: inline-flex !important;
}

.controlsDemo__inline-block {
  display: inline-block;
}

.controlsDemo__button_wrapper {
  margin-bottom: 50px;
}

.controlsDemo__flexRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  &_noWrap {
    flex-wrap: nowrap;
  }
}

.controlsDemo__flex-jc-sb {
  justify-content: space-between;
}

.controlsDemo__flex-jc-sa {
  justify-content: space-around;
}

.controlsDemo__flexColumn {
  display: flex;
  flex-direction: column;
}

.controlsDemo__height300 {
  height: 300px;
}

.controlsDemo__height400 {
  height: 400px;
}

.controlsDemo__height500 {
  height: 500px;
}

.controlsDemo__width100 {
  width: 100%;
}

.controlsDemo_line-height18 .controls-ListView__itemContent {
  line-height: 18px;
}

.controlsDemo__customTileTpl {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 200px;

  &-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 200px;
  }

  &-title {
    z-index: 1;
    margin-bottom: 20px;
    color: blue;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    padding: 0 5px;
  }
}


.controlsDemo__clearWidth {
  width: initial;
  min-width: initial;
  max-width: initial;
}

.controlsDemo__childWidth400 > * {
  width: 400px;
}

.controlsDemo__maxWidth200 {
  width: 200px;
}

.controlsDemo__maxWidth500,
.controlsDemo__childMaxWidth500 > * {
  max-width: 500px;
}

.controlsDemo__childMaxWidth550 > * {
  max-width: 550px;
}

.controlsDemo__maxWidth800 {
  max-width: 800px;
}

.controlsDemo__minWidth600 {
  min-width: 600px;
}

.controlsDemo__childMinWidth400 > * {
  min-width: 400px;
}

.controlsDemo__mr,
.controlsDemo__mr1 {
  margin-right: @spacing_demo_default;
}

.controlsDemo__mr1_control {
  margin-right: @spacing_demo_default_controls;
}

.controlsDemo__mb1 {
  margin-bottom: @spacing_demo_default;
}
.controlsDemo__mb2 {
  margin-bottom: @spacing_demo_default* 2;
}
.controlsDemo__mb3 {
  margin-bottom: @spacing_demo_default* 3;
}
.controlsDemo__mb4 {
  margin-bottom: @spacing_demo_default* 4;
}

.controlsDemo__ml1 {
  margin-left: @spacing_demo_default;
}
.controlsDemo__ml2 {
  margin-left: @spacing_demo_default* 2;
}
.controlsDemo__ml3 {
  margin-left: @spacing_demo_default* 3;
}
.controlsDemo__ml4 {
  margin-left: @spacing_demo_default* 4;
}

.controlsDemo__mr2 {
  margin-right: @spacing_demo_default * 2;
}

.controlsDemo__mr3 {
  margin-right: @spacing_demo_default * 3;
}

.controlsDemo__mr4 {
  margin-right: @spacing_demo_default * 4;
}

.controlsDemo_m {
  margin: @spacing_demo_default;
}

.controlsDemo_m2 {
  margin: @spacing_demo_default * 2;
}

.controlsDemo_m3 {
  margin: @spacing_demo_default * 3;
}

.controlsDemo_m4 {
  margin: @spacing_demo_default * 4;
}

.controlsDemo__wrapper_fixed_width {
  width: 70%;
}

.controlsDemo__pt-none {
  padding-top: 0;
}

.controlsDemo__input {
  width: 220px;
}

.controlsDemo__background {
  background-color: #eaeaea;
  padding: 4px;
}

.controlsDemo__margin-top {
  margin-top: 20px;
}

.controlsDemo__hor-padding__list__footerContent {
  color: #5d5d5d;
  font-size: 13px;
}

/*==========[ Controls-demo/grid ]================*/
.controlsDemo__Grid_itemTemplate_customClass__nth-highlight:nth-child(odd) .controls-Grid__row-cell {
    background-color: rgba(255, 193, 85, 0.33);
}
.controlsDemo__Grid_header-with-add-button__gridTitle {
  color: @primary_text-color;
  font-family: 'TensorFont Полужирный', 'TensorFont';
  font-weight: 700;
  font-style: normal;
  font-size: 15px;
}

.controlsDemo__Grid_header-gridTitle-spacing {
  padding-top: 4px;
  padding-bottom: 4px;
  display: flex;
  align-items: baseline;
  .controls-Header__caption {
    margin-right: 5px;
  }
}

.controlsDemo_fade-text {
  border: 1px solid red;
  padding: 2rem 3rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 1rem;
}


.controls_Demo__TreeWithProto {
  width: 32px;
  height: 32px;
  padding-right: 6px;
}
.controlsDemo__Grid_header-gridTitle__cell.controls-Grid__header-cell_baseline_XL:before {
  font-size: 22px;
}

.controlsDemo__GridInEditingRow__editingRowWrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.controlsDemo__GridInEditingRow__editingRow__title {
  font-size: 15px;
  font-weight: bolder;
}
.controlsDemo__GridInEditingRow__editingRow__subGridTitle {
  padding-top: 20px;
}
.controlsDemo__GridInEditingRow__editingRow__content {
  margin: 10px;
  box-shadow: 1px 0 4px 0 #ccc;
}
/*==========[ Controls-demo/grid ]================*/

.controlsDemo__PopupTemplate__headerWrapper {
  display: flex;
  align-items: flex-end;
  height: 20px;
}

.controlsDemo__PopupTemplate__demoWrapper {
  margin: 20px auto;
}

.controlsDemo_ColumnsView_itemTemplate-wrapper {
  padding: 3px;
  width: 100%;
  box-sizing: border-box;
}
.controlsDemo_ColumnsView_itemTemplate-title {
  font-size: 16px;
  color: #fa0;
  font-weight: bold;
  text-align: center;
}
.controlsDemo_ColumnsView_itemTemplate-description {
  font-size: 13px;
  color: #aaa;
  border-top: 1px dashed #f0f;
}

.controlDemo__RowWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.controlsDemo_bordered {
  border: 1px solid black;
}

.controlsDemo-toolbar-panel {
   display: flex;
   align-items: center;
   width: 100%;
   user-select: none;
   overflow: hidden;
   white-space: nowrap;
   position: relative;
   flex-shrink: 0;
   background-color: @background-color_operationsPanel;
   height: @height_operationsPanel;
}

.controlsDemo__fixedWidth-s_theme-dark,
.controlsDemo__fixedWidth-s_theme-default {
  width: 240px;
}

.controlsDemo__fixedWidth-s_theme-dark-large,
.controlsDemo__fixedWidth-s_theme-light-large {
  width: 400px;
}
