<div class="demo_controls_list_wrapper">
   <div class="demo_controls_list_section">
      <div>
         <a href="/Controls-demo/demo.html?cname=Example/Example">Example</a>
      </div>
      <h1>List</h1>
      <div>
         <a href="/Controls-demo/demo.html?cname=List/Base">List/Base</a>
      </div>
      <div>
         <a href="/Controls-demo/demo.html?cname=List/ScrollPaging">
            List/ScrollPaging
         </a>
      </div>
      <div>
         <a href="/Controls-demo/demo.html?cname=List/Multiselect">
            List/Multiselect
         </a>
      </div>
      <div>
         <a href="/Controls-demo/demo.html?cname=List/Grid/Grid">List/Grid</a>
      </div>
      <div>
         <a href="/Controls-demo/demo.html?cname=List/Tree/Tree">List/Tree</a>
      </div>
      <div>
           <a href="/Controls-demo/demo.html?cname=List/Tree/MultiSelection/MultiSelection">Tree/MultiSelection</a>
       </div>
      <h1>Paging</h1>
      <div>
         <a href="/Controls-demo/demo.html?cname=List/Paging">Paging</a>
      </div>
      <h1>ItemActions</h1>
      <div>
         <a href="/Controls-demo/demo.html?cname=List/ItemActions&theme=online">
            ItemActions
         </a>
         <br />
         <a href="/Controls-demo/demo.html?cname=List/Swipe&theme=online">
            Swipe
         </a>
      </div>
      <h1>DragNDrop</h1>
      <div>
         <a href="/Controls-demo/demo.html?cname=DragNDrop/Container&theme=online">
            DragNDrop List</a>
    </div>
    <h1>Actions</h1>
   <div>
      <a href="/Controls-demo/demo.html?cname=List/Remove&theme=online">Remove</a>
      <br/>
      <a href="/Controls-demo/demo.html?cname=List/Mover&theme=online">Mover</a>
      </div>
      <h1>Edit And Remove Operations</h1>
      <div>
         <a href="/Controls-demo/demo.html?cname=List/EditAndRemoveOperations">
            Base
         </a>
      </div>
      <h1>Label</h1>
      <a href="/Controls-demo/demo.html?cname=Label/Label">Label</a>
   </div>
   <div class="demo_controls_list_section">
    <h1>Buttons</h1>
    <div>
        <a href="/Controls-demo/demo.html?cname=Buttons/ButtonsVdom&theme=online">Buttons: baseline demo</a>
    </div>
    <div>
        <a href="/Controls-demo/demo.html?cname=Buttons/demoButtons&theme=online">Buttons: styles demo</a>
    </div>

      <h1>Dropdown</h1>
      <a href="/Controls-demo/demo.html?withoutLayout=true&cname=Dropdown/MenuVdom&theme=online">
         Dropdown
      </a>

      <h1>Search</h1>
      <a href="/Controls-demo/demo.html?cname=Search/SearchVDom&theme=online">
         Search
      </a>
      <h1>Checkbox</h1>
      <a href="/Controls-demo/demo.html?cname=Checkbox/Checkbox&theme=online">
         Checkbox
      </a>

      <h1>SearchLayout</h1>
      <a href="/Controls-demo/demo.html?cname=Layouts/SearchLayout">
         SearchLayout
      </a>

      <h1>Input</h1>
      <div>
         <a href="/Controls-demo/demo.html?cname=Input/VDomInputs/VDomInputs">
            Input
         </a>
         <br />
         <a href="/Controls-demo/demo.html?cname=Input/Text/Text">InputText</a>
         <br />
         <a href="/Controls-demo/demo.html?cname=Input/Area/Area">InputArea</a>
         <br />
         <a href="/Controls-demo/demo.html?cname=Input/Number/Number">
            InputNumber
         </a>
         <br />
         <a href="/Controls-demo/demo.html?cname=Input/Phone/Phone">
            InputPhone
         </a>
         <br />
         <a href="/Controls-demo/demo.html?cname=Input/Mask/Mask">InputMask</a>
         <br />
         <a href="/Controls-demo/demo.html?cname=Input/Password/Password">Password</a>
         <br />
         <a href="/Controls-demo/demo.html?cname=Input/ThemesDemo/ThemesDemo&theme=online">
            ThemesDemo
         </a>
         <br />
         <a href="/Controls-demo/demo.html?cname=Input/ComboBox/ComboBox">
            ComboBox
         </a>
      </div>
   </div>
   <div class="demo_controls_list_section">
      <h1>InfoBox</h1>
      <a href="/Controls-demo/demo.html?cname=InfoBox/InfoBox">InfoBox</a>

      <h1>Confirmation</h1>
      <a href="/Controls-demo/demo.html?cname=Confirmation/Confirmation&theme=online">
         Confirmation
      </a>

      <h1>ServiceUpdateNotifier</h1>
      <a href="/Controls-demo/demo.html?cname=ServiceUpdateNotifierTest/ServiceUpdateNotifierTest&theme=online">
         ServiceUpdateNotifier demo
      </a>

      <h1>TabButtons</h1>
      <a href="/Controls-demo/demo.html?cname=Tabs/Buttons&compat=true&theme=online">
         TabButtons
      </a>
      <h1>Switchers</h1>
      <div>
         <a href="/Controls-demo/demo.html?cname=Switch/SwitchDemo&compat=true&theme=online">
            Switch
         </a>
      </div>
      <div>
         <a href="/Controls-demo/demo.html?cname=Switch/DoubleSwitchDemo&compat=true&theme=online">
            DoubleSwitch
         </a>
      </div>
      <h1>EditInPlace</h1>
      <div>
         <a href="/Controls-demo/demo.html?cname=List/EditInPlace">Base</a>
         <a href="/Controls-demo/demo.html?cname=List/EditInPlace/Hover">
            Hover
         </a>
      </div>

      <h1>Headers</h1>
      <a href="/Controls-demo/demo.html?cname=Headers/demoHeader&theme=online">
         Headers
      </a>
      <br />
      <a href="/Controls-demo/demo.html?cname=Headers/headerDemo">Headers2</a>
   </div>
   <div class="demo_controls_list_section">
      <h1>FastFilter</h1>
      <a href="/Controls-demo/demo.html?withoutLayout=true&cname=FastFilter/FastFilter&theme=online">
         FastData
      </a>
      <h1>BreadCrumbs</h1>
      <div>
         <a href="/Controls-demo/demo.html?cname=BreadCrumbs/BreadCrumbs">
            BreadCrumbs
         </a>
      </div>

      <h1>OperationsPanel</h1>
      <div>
         <a href="/Controls-demo/demo.html?cname=OperationsPanel/OperationsPanel">
            OperationsPanel
         </a>
      </div>

      <h1>EditAtPlace</h1>
      <div>
         <a href="/Controls-demo/demo.html?cname=EditAtPlace/EditAtPlace">
            EditAtPlace
         </a>
      </div>

      <h1>Toolbar</h1>
      <div>
         <a href="/Controls-demo/demo.html?cname=Toolbar/ToolbarVdom">
            Toolbar
         </a>
      </div>

      <h1>RadioGroup</h1>
      <a href="/Controls-demo/demo.html?cname=RadioGroup/RadioGroupDemo">
         RadioGroup
      </a>

      <h1>
         <a href="/Controls-demo/demo.html?cname=Decorators/Decorators">
            Decorators
         </a>
      </h1>
      <div>
         <a href="/Controls-demo/demo.html?cname=Decorators/Money/Money">
            Money
         </a>
      </div>
      <div>
         <a href="/Controls-demo/demo.html?cname=Decorators/Number/Number">
            Number
         </a>
      </div>
      <div>
         <a href="/Controls-demo/demo.html?cname=Decorators/WrapURLs/WrapURLs">
            WrapURLs
         </a>
      </div>
      <div>
         <a href="/Controls-demo/demo.html?cname=Decorators/Highlight/Highlight">
            Highlight
         </a>
      </div>
      <div>
         <a href="/Controls-demo/demo.html?cname=Decorators/PhoneNumber/PhoneNumber">
            PhoneNumber
         </a>
      </div>
   </div>
</div>