.controls-Sticky__reset-margins {
   // todo: To do without it, just take into account the indentation when positioning
   margin: 0 !important;
}

.controls-StickyTemplate {
   position: relative;
   width: 100%;
   padding-bottom: @padding-bottom_sticky;
   background: @border-color_sticky;
   box-shadow: @box-shadow_sticky;
}

.controls-StickyTemplate_theme_@{themeName} {
   background-color: @background-color_sticky;
}

.controls-StickyTemplate__top-area_theme_@{themeName} {
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-shrink: 1;
   padding: @padding-top_sticky 0 0 @header_padding-horizontal_sticky;
   height: @header_min-height_sticky;
   border-bottom: @header_bottom-border-thickness_sticky solid @header_bottom-border-color_sticky;
   background: @header_background-color_sticky;
}

.controls-StickyTemplate__top-area-content {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.controls-StickyTemplate__content-area {
   display: inline-flex;
   padding: @padding-top_sticky @header_padding-horizontal_sticky 0;
   flex-direction: column;
   overflow: hidden;
}

.controls-StickyTemplate__close_button_theme_@{themeName} {
   margin: @close-button_margin_sticky;
}

.controls-StickyTemplate__command_buttons_without_head {
   float: right;
   display: inline-flex;
}

.controls-StickyTemplate__caption {
   display: flex;
   align-items: center;
}

.controls-StickyTemplate__caption_theme_@{themeName} {
   min-height: @header_min-height_sticky;
   padding-right: @header_padding-horizontal_sticky;
   font-size: @header_font-size_sticky;
   color: @header_color_sticky;
}
