<ws:if data="{{href}}">
   <a class="controls-Link-link {{!icon ? 'controls-Button__text'}}" href="{{enabled ? href : ''}}" target="{{inNewTab ? '_blank' : ''}}" rel="noreferrer"><ws:if data="{{icon}}">
         <i class="controls-Link__icon controls-Button__icon {{_iconClass}}"></i><span class="controls-Link__field controls-Button__text js-controls-Button__text">{{caption|sanitize}}</span>
      </ws:if>
      <ws:else>{{caption|sanitize}}</ws:else></a>
</ws:if>
<ws:else>
   <span class="controls-Link-link "><ws:if data="{{icon}}">
         <i class="controls-Link__icon controls-Button__icon {{_iconClass}}"></i><span class="controls-Link__field controls-Button__text js-controls-Button__text">{{caption|sanitize}}</span>
      </ws:if>
      <ws:else>{{caption|sanitize}}</ws:else></span>
</ws:else>