.PageWrap {
   padding-left: 20px;
}

.description-block {
   padding-bottom: 10px;
   font-weight: 600;
}

.baseContainer {
   height: 250px;
   width: 250px;
   overflow-y: scroll;
}

.baseContainer.heightClass {
   height: 265px;
}

.buttonContainer {
   padding-top: 20px;
}

.eventContainerHeader {
   padding-top: 20px;
}

.eventContainer {
   height: 210px;
   width: 250px;
}

.eventResult {
   display: inline-block;
}