<div on:changeValue="checkEvent()" style="margin-top: 30px;">
    <Controls.Toggle.Checkbox enabled="{{true}}" bind:value="_value" caption="withTristate" triState="{{true}}" tooltip="Podskazka"/>
    <Controls.Toggle.Checkbox enabled="{{false}}" bind:value="_value" triState="{{true}}" tooltip="Podskazka"/>
    <Controls.Toggle.Checkbox enabled="{{true}}" bind:value="_value" tooltip="Podskazka"/>
    <Controls.Toggle.Checkbox enabled="{{false}}" bind:value="_value" caption="withoutTristate" tooltip="Podskazka"/>
</div>