<div attr:class="demo-Checkbox__wrapper">
    <div attr:class="demo-CheckBox__exampleBlock">
        <h3>Example</h3>
        <Controls.Toggle.Checkbox on:valueChanged="changeValue()"
                                  attr:class="demo-Checkbox_width"
                                  value="{{_value}}"
                                  readOnly="{{_readOnly}}"
                                  caption="{{_caption}}"
                                  triState="{{_triState}}"
                                  tooltip="{{_tooltip}}"/>
    </div>
    <div attr:class="demo-CheckBox__optionsBlock">
        <h3>Options header</h3>
        <Controls.Label caption="caption"/>
        <Controls.Input.Text bind:value="_caption"/>
        <Controls.Label caption="tooltip"/>
        <Controls.Input.Text bind:value="_tooltip"/>
        <br/>
        <Controls.Toggle.Checkbox readOnly="{{false}}" bind:value="_readOnly" caption="readOnly"/>
        <br/>
        <Controls.Toggle.Checkbox on:valueChanged="setTristate()" readOnly="{{false}}" bind:value="_triState" caption="triState"/>
        <Controls.Label name="myLabel1" caption="value:"/>
        <Controls.Toggle.Radio
                on:selectedKeyChanged="changeValue()"
                keyProperty="title"
                selectedKey="{{_selectedValue}}"
                source="{{_source}}"
                direction="horizontal"
                readOnly="{{false}}"/>
    </div>
    <div class="eventBlock">
        <span>Event that surfaced:</span>
        <br/>
        <span>{{_eventName}}</span>
        <Controls.Button attr:class="demo-ResetButton" on:click="reset()" style="linkMain3" caption="reset"/>
    </div>
</div>