<div class="controls-FilterPanelBoolean">
    <SBIS3.CONTROLS.CheckBox name="controls-FilterPanelBoolean__CheckBox"
        className="controls-FilterPanelBoolean__CheckBox"
        count="{{ count }}"
        checked="{{ value }}"
        contentTemplate="{{ checkBoxContentTemplate }}"
        caption="{{ caption }}">
    </SBIS3.CONTROLS.CheckBox>
</div>