@import "variables_online";

@globalDefaultFontSize:                         16px;
@data-grid-cell-height:                         44px;
@data-grid-cell-padding:                        2px 6px;
@tree-view-ellipsis-wrapper-padding:            10px 0;
@back-button-font-size:                         22px;
@data-grid-header-cell-font-size:               16px;
@data-grid-header-cell-height:                  22px;
@back-button-font-size:                         24px;
@tree-view-expand-margin:                       8px 6px 8px 2px;
@back-button-margin-before:                     0 4px 0 0;