<span>
   <ws:for data="path in _parsedText">
      <ws:if data="{{path.type === 'found'}}">
         <span class="{{_options.class || 'controls-Highlight_found'}}">{{path.value}}</span>
      </ws:if>
      <ws:else>{{path.value}}</ws:else>
   </ws:for>
</span>