/*group*/
/*ширина кнопки закрытия окна 36px + 2px на небольшой отступ между кнопкой сохранить (в ie8 нет скруглений и кнопки склеиваются)*/
/*ширина кнопки закрытия окна 36px + 90px ширина кнопки сохранить + 2px на небольшой отступ между ними */
.controls-IconButton {
  cursor: pointer;
  vertical-align: middle;
}
.controls-IconButton.controls-Click__active.icon-primary {
  color: #313E78 !important;
}
.controls-IconButton.controls-Click__active.icon-primary.controls-IconButton__round-border,
.controls-IconButton.controls-Click__active.icon-primary.controls-IconButton__round-border-24,
.controls-IconButton.controls-Click__active.icon-primary.controls-IconButton__round-border-32 {
  border-color: green;
  color: green !important;
}
.controls-IconButton.controls-Click__active.controls-IconButton__errorBorder {
  border-color: #EF463A;
  color: #EF463A !important;
}
.controls-IconButton.controls-Click__active.controls-IconButton__doneBorder {
  border-color: #72BE44;
  color: #72BE44 !important;
}
.controls-IconButton.controls-Button {
  padding: 0;
  cursor: pointer;
}
.controls-IconButton.controls-IconButton__doneBorder {
  color: #72BE44 !important;
}
.controls-IconButton.controls-IconButton__errorBorder {
  color: #EF463A !important;
}
.controls-IconButton.controls-IconButton__round-border {
  border: 1px solid #CCC;
  border-radius: 14px;
  text-align: center;
  box-sizing: border-box;
  height: 28px;
  width: 28px;
  line-height: 26px!important;
}
.controls-IconButton.controls-IconButton__round-border.ws-disabled {
  border-color: #CCC;
  color: #CCC !important;
}
.controls-IconButton.controls-IconButton__round-border-24 {
  border: 1px solid #CCC;
  border-radius: 14px;
  text-align: center;
  box-sizing: border-box;
  height: 24px !important;
  width: 24px !important;
  line-height: 24px !important;
}
.controls-IconButton.controls-IconButton__round-border-24.ws-disabled {
  border-color: #CCC;
  color: #CCC !important;
}
.controls-IconButton.controls-IconButton__round-border-24.icon-16 {
  box-sizing: content-box;
  height: 22px !important;
  width: 22px !important;
  line-height: 22px !important;
}
.controls-IconButton.controls-IconButton__round-border-32 {
  border: 1px solid #CCC;
  border-radius: 14px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 20px;
  height: 38px !important;
  width: 38px !important;
  line-height: 38px !important;
}
.controls-IconButton.controls-IconButton__round-border-32.ws-disabled {
  border-color: #CCC;
  color: #CCC !important;
}
.controls-IconButton.ws-disabled {
  cursor: default;
  color: #CCC !important;
}
.controls-IconButton.ws-area {
  height: auto;
}
.controls-IconButton.controls-IconButton__filter-left-open,
.controls-IconButton.controls-IconButton__filter-left-close,
.controls-IconButton.controls-IconButton__filter-right-open,
.controls-IconButton.controls-IconButton__filter-right-close {
  height: 24px;
  width: 35px;
  cursor: pointer;
  display: inline-block;
}
.controls-IconButton.controls-IconButton__filter-left-close {
  background: url('../../themes/online/img/FilterPanelButton.png') -35px 0;
}
.controls-IconButton.controls-IconButton__filter-left-close:hover {
  background: url('../../themes/online/img/FilterPanelButton.png') -35px 24px;
}
.controls-IconButton.controls-IconButton__filter-right-close {
  background: url('../../themes/online/img/FilterPanelButton.png') 0 0;
}
.controls-IconButton.controls-IconButton__filter-right-close:hover {
  background: url('../../themes/online/img/FilterPanelButton.png') 0 24px;
}
.controls-IconButton.controls-IconButton__filter-left-open {
  background: url('../../themes/online/img/FilterPanelButton.png') -105px 0;
}
.controls-IconButton.controls-IconButton__filter-left-open:hover {
  background: url('../../themes/online/img/FilterPanelButton.png') -105px -24px;
}
.controls-IconButton.controls-IconButton__filter-right-open {
  background: url('../../themes/online/img/FilterPanelButton.png') -70px 0;
}
.controls-IconButton.controls-IconButton__filter-right-open:hover {
  background: url('../../themes/online/img/FilterPanelButton.png') -70px -24px;
}
.ws-is-desktop-platform .controls-IconButton:not(.ws-disabled):not(.controls-Click__active):hover.icon-primary {
  color: #313E78 !important;
}
.ws-is-desktop-platform .controls-IconButton:not(.ws-disabled):not(.controls-Click__active).controls-IconButton__round-border:hover,
.ws-is-desktop-platform .controls-IconButton:not(.ws-disabled):not(.controls-Click__active).controls-IconButton__round-border-24:hover,
.ws-is-desktop-platform .controls-IconButton:not(.ws-disabled):not(.controls-Click__active).controls-IconButton__round-border-32:hover {
  border-color: green;
  color: green !important;
}
.ws-is-desktop-platform .controls-IconButton:not(.ws-disabled):not(.controls-Click__active).controls-IconButton__round-border:hover.controls-IconButton__errorBorder,
.ws-is-desktop-platform .controls-IconButton:not(.ws-disabled):not(.controls-Click__active).controls-IconButton__round-border-24:hover.controls-IconButton__errorBorder,
.ws-is-desktop-platform .controls-IconButton:not(.ws-disabled):not(.controls-Click__active).controls-IconButton__round-border-32:hover.controls-IconButton__errorBorder {
  border-color: #EF463A;
  color: #EF463A !important;
}
.ws-is-desktop-platform .controls-IconButton:not(.ws-disabled):not(.controls-Click__active).controls-IconButton__round-border:hover.controls-IconButton__errorBorder.ws-disabled,
.ws-is-desktop-platform .controls-IconButton:not(.ws-disabled):not(.controls-Click__active).controls-IconButton__round-border-24:hover.controls-IconButton__errorBorder.ws-disabled,
.ws-is-desktop-platform .controls-IconButton:not(.ws-disabled):not(.controls-Click__active).controls-IconButton__round-border-32:hover.controls-IconButton__errorBorder.ws-disabled {
  border-color: #CCC;
  color: #CCC !important;
}
.ws-is-desktop-platform .controls-IconButton:not(.ws-disabled):not(.controls-Click__active).controls-IconButton__round-border:hover.controls-IconButton__doneBorder,
.ws-is-desktop-platform .controls-IconButton:not(.ws-disabled):not(.controls-Click__active).controls-IconButton__round-border-24:hover.controls-IconButton__doneBorder,
.ws-is-desktop-platform .controls-IconButton:not(.ws-disabled):not(.controls-Click__active).controls-IconButton__round-border-32:hover.controls-IconButton__doneBorder {
  border-color: #72BE44;
  color: #72BE44 !important;
}
.ws-is-desktop-platform .controls-IconButton:not(.ws-disabled):not(.controls-Click__active).controls-IconButton__round-border:hover.controls-IconButton__doneBorder.ws-disabled,
.ws-is-desktop-platform .controls-IconButton:not(.ws-disabled):not(.controls-Click__active).controls-IconButton__round-border-24:hover.controls-IconButton__doneBorder.ws-disabled,
.ws-is-desktop-platform .controls-IconButton:not(.ws-disabled):not(.controls-Click__active).controls-IconButton__round-border-32:hover.controls-IconButton__doneBorder.ws-disabled {
  border-color: #CCC;
  color: #CCC !important;
}
.controls-Button {
  position: relative;
  cursor: pointer;
  display: inline-block;
  outline: none;
  background-size: contain;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font: 1em 'TensorFont Regular', 'TensorFont', sans-serif;
  color: #434343;
  text-align: center;
  min-width: 2rem;
  height: 2rem;
  padding: 0;
  margin: auto;
  overflow: hidden;
  border: 1px solid green;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background: #fff;
}
.controls-Button .controls-Button__text.controls-Button__emptyCaption {
  margin: 0 0 0 13px !important;
}
.controls-Button .controls-Button__icon {
  position: absolute;
  left: 11px;
  top: 3px;
}
.controls-Button .controls-Button__icon + .controls-Button__text {
  margin-right: 11px;
  margin-left: 33px;
}
.controls-Button .controls-Button__icon.icon-24 {
  left: 11px;
  top: -1px;
}
.controls-Button .controls-Button__icon.icon-24 + .controls-Button__text {
  margin-right: 11px;
  margin-left: 41px;
}
.controls-Button .controls-Button__icon.icon-32 {
  left: -1px;
  top: -1px;
}
.controls-Button .controls-Button__icon.icon-32 + .controls-Button__text {
  margin-right: 11px;
  margin-left: 49px;
}
.controls-Button.controls-Button__IE8Hack .controls-Button__icon:before {
  content: '\00ad';
}
.controls-Button.controls-Button__primary {
  color: #434343;
  border: 1px solid red;
  background: #fff;
}
.controls-Button.controls-Button__primary.controls-Click__active {
  color: #000;
  border: 1px solid red;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #fdd2c0;
}
.controls-Button.controls-Button__primary.ws-disabled {
  color: #999;
  border: 1px solid #CCC;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: transparent;
}
.controls-Button.controls-Button__big {
  font: 2rem 'TensorFont Regular', 'TensorFont', sans-serif;
  color: #434343;
  text-align: center;
  min-width: 24px;
  height: 48px;
  line-height: normal;
  padding: 0;
  margin: auto;
  border: 1px solid green;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #fff;
}
.controls-Button.controls-Button__big.controls-Click__active {
  color: #000;
  border: 1px solid green;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #E1ECF6;
}
.controls-Button.controls-Button__big .controls-Button__text {
  margin: 0 24px 0 24px;
}
.controls-Button.controls-Button__big .controls-Button__text.controls-Button__emptyCaption {
  margin: 0 0 0 13px !important;
}
.controls-Button.controls-Button__big .controls-Button__icon {
  position: absolute;
  left: 23px;
  top: 14px;
}
.controls-Button.controls-Button__big .controls-Button__icon + .controls-Button__text {
  margin-right: 23px;
  margin-left: 45px;
}
.controls-Button.controls-Button__big .controls-Button__icon.icon-24 {
  left: 23px;
  top: 11px;
}
.controls-Button.controls-Button__big .controls-Button__icon.icon-24 + .controls-Button__text {
  margin-right: 23px;
  margin-left: 53px;
}
.controls-Button.controls-Button__big .controls-Button__icon.icon-32 {
  left: -1px;
  top: -1px;
}
.controls-Button.controls-Button__big .controls-Button__icon.icon-32 + .controls-Button__text {
  margin-right: 23px;
  margin-left: 61px;
}
.controls-Button.controls-Button__big.controls-Button__primary {
  color: #434343;
  border: 1px solid red;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #fff;
}
.controls-Button.controls-Button__big.controls-Button__primary.controls-Click__active {
  color: #000;
  border: 1px solid red;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #fdd2c0;
}
.controls-Button.controls-Button__big.controls-Button__primary.ws-disabled {
  color: #999;
  border: 1px solid #CCC;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: transparent;
}
.controls-Button.controls-Button__big.controls-Button__primary.ws-disabled .controls-Button__icon {
  color: #CCC !important;
}
.controls-Button.controls-Button__big.ws-disabled {
  color: #999;
  border: 1px solid #CCC;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: transparent;
}
.controls-Button.controls-Click__active {
  color: #000;
  border: 1px solid green;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #E1ECF6;
}
.controls-Button.ws-disabled {
  cursor: default;
  color: #999;
  border: 1px solid #CCC;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: transparent;
}
.controls-Button.ws-disabled .controls-Button__icon {
  color: #CCC !important;
}
.ws-is-desktop-platform .controls-Button:not(.ws-disabled):not(.controls-Click__active):hover {
  color: black;
  border: 1px solid green;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #ddd;
}
.ws-is-desktop-platform .controls-Button:not(.ws-disabled):not(.controls-Click__active).controls-Button__primary:hover {
  color: #fff;
  border: 1px solid red;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #ddd;
}
.ws-is-desktop-platform .controls-Button:not(.ws-disabled):not(.controls-Click__active).controls-Button__big:hover {
  color: black;
  border: 1px solid green;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #ddd;
}
.ws-is-desktop-platform .controls-Button:not(.ws-disabled):not(.controls-Click__active).controls-Button__big.controls-Button__primary:hover {
  color: #fff;
  border: 1px solid red;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #ddd;
}
.controls-Button__ellipsis .controls-Button__text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.controls-Button__text {
  display: block;
  margin: 0 1rem 0 1rem;
}
@-moz-document url-prefix() {
  .controls-Button {
    padding-bottom: 2px;
  }
  .controls-Button .controls-Button__icon {
    top: 3px;
  }
  .controls-Button .controls-Button__icon.icon-24 {
    top: -2px;
  }
  .controls-Button.controls-Button__big .controls-Button__icon {
    top: 14px;
  }
  .controls-Button.controls-Button__big .controls-Button__icon.icon-24 {
    top: 11px;
  }
  .controls-Button.controls-Button__big .controls-Button__icon.icon-32 {
    top: -1px;
  }
}
@media \0screen {
  .controls-Button__icon {
    top: 0 !important;
  }
  .controls-Button__icon.icon-24 {
    top: -3px !important;
  }
}
@media screen and (min-width: 0\0) {
  .controls-Button__icon.icon-24 {
    top: -2px !important;
  }
}
.controls-Button.controls-Checked__checked.controls-Button {
  color: #000;
  border: 2px solid green;
  font-weight: normal;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #F0F5FB;
}
.controls-Button.controls-Checked__checked.controls-Button__primary {
  color: #000;
  border: 2px solid red;
  font-weight: normal;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #fdecd9;
}
.controls-Button.controls-Checked__checked.controls-Button__big {
  color: #000;
  border: 2px solid green;
  font-weight: normal;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #E1ECF6;
}
.controls-Button.controls-Checked__checked.controls-Button__big.controls-Button__primary {
  color: #000;
  border: 2px solid red;
  font-weight: normal;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #fdd2c0;
}
.controls-Button.controls-Checked__checked .controls-Button__text {
  margin-left: 11px;
  margin-right: 11px;
}
.controls-Button.controls-Checked__checked .controls-Button__icon {
  left: 10px;
  top: 2px;
}
.controls-Button.controls-Checked__checked .controls-Button__icon + .controls-Button__text {
  margin-right: 10px;
  margin-left: 32px;
}
.controls-Button.controls-Checked__checked .controls-Button__icon.icon-24 {
  left: 10px;
  top: -2px;
}
.controls-Button.controls-Checked__checked .controls-Button__icon.icon-24 + .controls-Button__text {
  margin-right: 10px;
  margin-left: 40px;
}
.controls-Button.controls-Button__big.controls-Checked__checked .controls-Button__text {
  margin-left: 23px;
  margin-right: 23px;
}
.controls-Button.controls-Button__big.controls-Checked__checked .controls-Button__icon {
  left: 22px;
  top: 13px;
}
.controls-Button.controls-Button__big.controls-Checked__checked .controls-Button__icon + .controls-Button__text {
  margin-right: 22px;
  margin-left: 44px;
}
.controls-Button.controls-Button__big.controls-Checked__checked .controls-Button__icon.icon-24 {
  left: 22px;
  top: 10px;
}
.controls-Button.controls-Button__big.controls-Checked__checked .controls-Button__icon.icon-24 + .controls-Button__text {
  margin-right: 22px;
  margin-left: 52px;
}
.ws-is-desktop-platform .controls-Button:not(.ws-disabled):hover.controls-Checked__checked {
  border: 2px solid green !important;
}
.ws-is-desktop-platform .controls-Button:not(.ws-disabled):hover.controls-Checked__checked.controls-Button__primary {
  border: 2px solid red !important;
}
.ws-is-desktop-platform .controls-Button:not(.ws-disabled):hover.controls-Checked__checked.controls-Button__big {
  border: 2px solid green !important;
}
.ws-is-desktop-platform .controls-Button:not(.ws-disabled):hover.controls-Checked__checked.controls-Button__big.controls-Button__primary {
  border: 2px solid red !important;
}
@-moz-document url-prefix() {
  .controls-Button.controls-Checked__checked .controls-Button__icon {
    top: 2px;
  }
  .controls-Button.controls-Checked__checked .controls-Button__icon.icon-24 {
    top: -2px;
  }
  .controls-Button.controls-Checked__checked.controls-Button__big .controls-Button__icon {
    top: 13px;
  }
  .controls-Button.controls-Checked__checked.controls-Button__big .controls-Button__icon.icon-24 {
    top: 10px;
  }
}
@media screen and (min-width: 0\0) {
  .controls-Checked__checked .controls-Button__icon.icon-24 {
    top: -3px !important;
  }
}
@-moz-document url-prefix() {
  .controls-Checked__checked:not(.controls-Button__big) .controls-Button__icon.icon-24 {
    top: -3px !important;
  }
}
