.controls-Button {
  &.controls-ToggleButton__normal {
    &.controls-Checked__checked:not(.ws-disabled) {
      &.controls-Button__default {
        border: @button-checked-border;
        background: @button-checked-bg;
      }
      &.controls-Button__primary {
        border: @button-primary-checked-border;
        background: @button-primary-checked-bg;
      }

      .controls-Button__text {
        margin-left: @button-checked-text-margin-left;
        margin-right: @button-checked-text-margin-right;
      }

      .controls-Button__icon {
        margin-left:  @button-text-margin-left - @button-checked-border-width;
        & + .controls-Button__text {
          margin: @button-checked-text-icon-margin;
        }
      }
    }
  }
}

.controls-Button.controls-Button__big.controls-Checked__checked:not(.ws-disabled) {
    .controls-Button__text {
      margin-left: @button-big-checked-text-margin-left;
      margin-right: @button-big-checked-text-margin-right;
    }

    .controls-Button__icon {
      margin-left:  @button-big-text-margin-left - @button-checked-border-width;
      & + .controls-Button__text {
        margin: @button-big-checked-text-icon-margin;
      }
    }
}


.ws-is-desktop-platform {
  .controls-Button:not(.ws-disabled) {
    &.controls-ToggleButton__normal {
      &:hover {
        &.controls-Button__default.controls-Checked__checked {
          border: @button-checked-border !important;
        }
        &.controls-Button__primary.controls-Checked__checked {
          border: @button-primary-checked-border !important;
        }
      }
    }
  }
}

@-moz-document url-prefix() {
  .controls-Button.controls-Checked__checked {
    .controls-Button__icon {
      top: @button-icon-top-offset - @button-checked-border-width;

      &.icon-24 {
        top: @button-icon-big-top-offset - @button-checked-border-width;
      }
    }

    &.controls-Button__big {
      .controls-Button__icon {
        top: @button-big-icon-top-offset - @button-checked-border-width;

        &.icon-24 {
          top: @button-big-icon-big-top-offset - @button-checked-border-width;
        }
      }
    }
  }
}
// хак для мозиллы, выравнивающий иконки в залипшей кнопке
@-moz-document url-prefix() {
   .controls-Button.controls-Checked__checked:not(.controls-Button__big) {
      .controls-Button__icon {
         &.icon-24 {
            top: @button-icon-big-top-offset - @button-border-width - 2 !important;
         }
      }
   }
}
