.controls-Button {
  &.controls-Checked__checked {
    &.controls-Button {
      color: @button-checked-text-color;
      border: @button-checked-border;
      .box-shadow(@button-checked-shadow);
      background: @button-checked-bg;
    }

    &.controls-Button__primary {
      color: @button-primary-checked-text-color;
      border: @button-primary-checked-border;
      .box-shadow(@button-primary-checked-shadow);
      background: @button-primary-checked-bg;
    }

    &.controls-Button__big {
      color: @button-big-checked-text-color;
      border: @button-big-checked-border;
      .box-shadow(@button-big-checked-shadow);
      background: @button-big-checked-bg;

      &.controls-Button__primary {
        color: @button-big-primary-checked-text-color;
        border: @button-big-primary-checked-border;
        .box-shadow(@button-big-primary-checked-shadow);
        background: @button-big-primary-checked-bg;
      }
    }

    .controls-Button__text {
      margin-left: @button-checked-text-margin-left;
      margin-right: @button-checked-text-margin-right;
    }

    .controls-Button__icon {
      top: @button-checked-icon-top-offset - 1px;         // this rule is for IE, see normal overrides for Chrome and Firefox below
      left: @button-checked-icon-left-offset;
      @media screen and (-webkit-min-device-pixel-ratio: 0) {
        top: @button-checked-icon-top-offset;             // normal override for Chrome
      }
      & + .controls-Button__text {
        margin-left: @button-checked-text-margin-left + 16px + @button-icon-gap;
        margin-right: @button-checked-text-margin-right;
      }
    }

    .controls-Button__icon.icon-24 {
      top: @button-checked-icon-big-top-offset - 1px;         // this rule is for IE, see normal overrides for Chrome and Firefox below
      left: @button-checked-icon-big-left-offset;
      @media screen and (-webkit-min-device-pixel-ratio: 0) {
        top: @button-checked-icon-big-top-offset;             // normal override for Chrome
      }
      & + .controls-Button__text {
        margin-left: @button-checked-text-margin-left + 24px + @button-icon-gap;
        margin-right: @button-checked-text-margin-right;
      }
    }
  }
}

.controls-Button__big.controls-Checked__checked {
  .controls-Button__text {
    margin-left: @button-big-checked-text-margin-left;
    margin-right: @button-big-checked-text-margin-right;
  }
  .controls-Button__icon {
    top: @button-big-checked-icon-top-offset - 1px;         // this rule is for IE, see normal overrides for Chrome and Firefox below
    left: @button-big-checked-icon-left-offset;
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
      top: @button-big-checked-icon-top-offset;             // normal override for Chrome
    }
    & + .controls-Button__text {
      margin-left: @button-big-checked-text-margin-left + 16px + @button-icon-gap;
      margin-right: @button-big-checked-text-margin-right;
    }
  }
  .controls-Button__icon.icon-24 {
    top: @button-big-checked-icon-big-top-offset - 1px;         // this rule is for IE, see normal overrides for Chrome and Firefox below
    left: @button-big-checked-icon-big-left-offset;
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
      top: @button-big-checked-icon-big-top-offset;             // normal override for Chrome
    }
    & + .controls-Button__text {
      margin-left: @button-big-checked-text-margin-left + 24px + @button-icon-gap;
      margin-right: @button-big-checked-text-margin-right;
    }
  }

}