.controls-HistoryMenu__row {
	padding-right: @spacing_HistoryMenu-between-itemCaption-rightBorder;
}

.controls-HistoryMenu__row_pinned {
	font-weight: bold;
}

.controls-HistoryMenu__iconUnnpin {
	font-weight: normal;
}

.controls-HistoryMenu__iconPin {
	position: absolute;
	display: none;
	.align-items(center);
	right: @spacing_HistoryMenu-between-pin-rightBorder;
	.icon-size(@icon-size_HistoryMenu-pin);
	color: @color_HistoryMenu-pin;
}

.controls-HistoryMenu__iconPin.controls-HistoryMenu__iconPin_swiped {
	.inline-flexbox();
}

.ws-is-no-touch {
	.controls-HistoryMenu__row:hover .controls-HistoryMenu__iconPin {
		.inline-flexbox();
	}

	.controls-HistoryMenu__iconPin:hover {
		color: @color_HistoryMenu-pin_hovered;
	}
}
