<ws:template name="toggle">
   <span class="controls-SwitcherDouble__empty">&nbsp;</span>
   <span class="js-controls-Switcher__toggle controls-SwitcherDouble__toggle {{checked ? 'controls-SwitcherDouble-on-toggled' : 'controls-SwitcherDouble-off-toggled'}}">
      &nbsp;
      <span class="controls-SwitcherDouble__line"></span>
      <span class="controls-SwitcherDouble__btn"></span>
   </span>
</ws:template>

<span
   class="controls-SwitcherDouble{{checked ? ' controls-Checked__checked' : ''}}{{disposition === 'vertical' ? ' controls-SwitcherDouble_vertical' : ''}}"
   title="{{tooltip}}">
   <ws:if data="{{disposition === 'vertical'}}">
      <ws:partial template="toggle" scope="{{...}}"/>
      <span class="controls-SwitcherDouble__textBlock">
         <ws:if data="{{stateOn}}">
            <span class="js-controls-SwitcherDouble__textOn controls-SwitcherDouble__text controls-SwitcherDouble__textOn{{checked ? '' : ' controls-SwitcherDouble__unselected'}}">
               <ws:partial template="{{stateOn}}"/>
            </span>
         </ws:if>
         <ws:if data="{{stateOff}}">
            <span class="js-controls-SwitcherDouble__textOff controls-SwitcherDouble__text controls-SwitcherDouble__textOff{{checked ? ' controls-SwitcherDouble__unselected' : ''}}">
               <ws:partial template="{{stateOff}}"/>
            </span>
         </ws:if>
      </span>
   </ws:if>
   <ws:else>
      <ws:if data="{{stateOff}}">
         <span class="js-controls-SwitcherDouble__textOff controls-SwitcherDouble__text controls-SwitcherDouble__textOff{{checked ? ' controls-SwitcherDouble__unselected' : ''}}">
            <ws:partial template="{{stateOff}}"/>
         </span>
      </ws:if>
      <ws:partial template="toggle" scope="{{...}}"/>
      <ws:if data="{{stateOn}}">
         <span class="js-controls-SwitcherDouble__textOn controls-SwitcherDouble__text controls-SwitcherDouble__textOn{{checked ? '' : ' controls-SwitcherDouble__unselected'}}">
            <ws:partial template="{{stateOn}}"/>
         </span>
      </ws:if>
   </ws:else>
</span>