.controls-Suggest__picker {
  .controls-ListView__hoveredItem {
    .controls-DataGridView__td {
      background-color:  #F0F5FB !important;
    }
  }
}
.controls-ComboBox__picker .controls-ComboBox__scrollContainer {
  background: transparent;
}
.ws-window-content {
  background-color: @default-bg-color !important;
}

.controls-ListView {
  .controls-IconButton {
    .icon-primary {
      color: #2D68B5;
    }
  }
}

.controls-ListView .controls-ItemsToolbar__editActions {
  background: @controls-editInPlace-editor-bg;
}

.ws-is-desktop-platform {
  .controls-ListView {
    .controls-IconButton:not(.ws-disabled):not(.controls-Click__active) {
      &:hover {
        .controls-Button__icon {
          &.icon-primary {
            color: rgb(49, 62, 120);
          }
        }
      }
    }
  }
}

.controls-FieldLink .icon-size {
  &:hover {
    color: @color_Link-icon_hovered !important;
  }
}
.controls-editInPlace .controls-editInPlace__editor {
  background: @controls-editInPlace-editor-bg;
}
//!IMPORTANT лучше чем увеличение веса селектора через BODY тк возможно собирать тему под селектором
.ws-window-titlebar {
  color: #313E78 !important;
}
.ws-window-title{
  color: #313E78 !important;
}
.ws-window-content {
  background-color: #ffffff !important;
}
.ws-window {
  background-color: #fff !important;
  border-color: #BDBDBD !important;
}