<div class="wrapper">
    <Controls.Toggle.Radio
            on:selectKeyChange="changeKey()"
            keyProperty="id"
            selectedKey="{{_selectKey}}"
            source="{{_source}}"
            direction="vertical"
            enabled="{{true}}"/>
</div>