<div class="wrapper">
    <Controls.Toggle.Radio
            keyProperty="id"
            selectedKey="2"
            source="{{_source}}"
            direction="vertical"
            enabled="{{true}}"/>
</div>