<div class="demo-RadioGroup__Wrapper">
    <div class="demo-RadioGroup__TestBlock">
        <h2>Для каждого элемента используется верстка по умолчанию. Для 5 элемента задан уникальный стиль. В режиме чтения.</h2>
        <Controls.Toggle.Radio
                on:onSelectedItemChange="changeKey()"
                keyProperty="id"
                selectedKey="{{_selectKey}}"
                source="{{_source}}"
                direction="vertical"
                readOnly="{{true}}"/>
    </div>

    <div class="demo-RadioGroup__TestBlock">
        <h2>Задан captionTemplate. Для каждого заголовка используется верстка заданная в опциях. Для 5 элемента задан уникальный стиль.</h2>
        <Controls.Toggle.Radio
                on:onSelectedItemChange="changeKey()"
                keyProperty="id"
                selectedKey="{{_selectKey}}"
                source="{{_source}}"
                direction="horizontal"
                readOnly="{{false}}"
                captionTemplate="{{_customItemTemplate}}"/>
    </div>

    <div class="demo-RadioGroup__TestBlock">
        <h2>Задан itemTemplate. Для каждого элемента используется верстка заданная в опциях. Для 5 элемента задан уникальный стиль.</h2>
        <Controls.Toggle.Radio
                on:onSelectedItemChange="changeKey()"
                keyProperty="id"
                selectedKey="{{_selectKey}}"
                source="{{_source}}"
                direction="vertical"
                readOnly="{{false}}"
                itemTemplate="{{_unionItemTemplate}}"/>
    </div>
</div>