@font-size__checkBox: @default-text-size;
@height_CheckBox: 24px;
@color_CheckBox__iconBox:  #999999;
@color_CheckBox__iconBox_disabled: #e4e4e4;
@color_CheckBox__caption_enabled:  @default-text-color;
@color_CheckBox__caption_disabled:  @disabled-color;
@spacing_CheckBox-between-icon-caption:  3px 0;
@line-height_Checkbox__caption:   18px;
@color_CheckBox__icon_disabled:   #313E78;
@color_CheckBox__icon_enabled:  @primary-color;
@width_CheckBox__border:	@default-border-width;
@width_CheckBox:	 round(64px * @multiplier);
@check-box-icon-successful-size:	 round(42px * @multiplier);
@check-box-icon-successful-top:	0px;
@check-box-icon-successful-left:	round(14px * @multiplier);
@check-box-icon-null-size:	round(18px * @multiplier);
@check-box-icon-box-size:       round(32px * @multiplier);
