<ws:WSControls.Lists.ListControl.ListRender event:onItemClick="_onItemClick()"
      display="{{_display}}"
      itemTemplate="{{_itemTemplate}}"
      displayProperty="{{_options.displayProperty}}"
      selectedItem="{{_selectedItem}}">
</ws:WSControls.Lists.ListControl.ListRender>