.copyArrowGradient() {
   content: '';
   width: @width_TreeDataGridView-copyArrow;
   left: -@width_TreeDataGridView-copyArrow;
   top: 0;
   bottom: 0;
   position: absolute;
   background-color: transparent;
}

.controls-DataGridView__td {
   .controls-TreeView__expand--inside {
      display: none;
      line-height: 13px !important;
   }

   .controls-TreeView__folderTitle {
      overflow: hidden;
      font-size: @font-size_TreeDataGridView-folderTitle;
   }

   .controls-TreeView__ellipsis-wrapper {
      .controls-TreeView__folderTitle {
         display: @tree-view-folder-title-display;
      }
   }

   .controls-TreeView__hierWrapper {
      height: @tree-view-hier-wrapper-height;
      width: @tree-view-hier-wrapper-width;
      display: inline-block;
      float: left;
   }

  .controls-TreeView__editArrow{
    display: inline-block;
    visibility: hidden;
    position: relative;
    top: @top_TreeDataGridView-editArrow;
    vertical-align: top;
  }
  &:hover {
    .controls-TreeView__expand--inside {
      display: inline-block;
      height: 14px;
    }
  }

   &.controls-DataGridView-cell-overflow-ellipsis {
      .controls-TreeView__columnValue, .controls-TreeView__folderTitle {
         overflow: hidden;
         text-overflow: ellipsis;
         white-space: nowrap;

         > * {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
         }
      }
   }
}
.controls-TreeDataGridView {
   .controls-DataGridView__firstContentCell {
      > .controls-TreeView__folderTitle, > .controls-DataGridView__columnValue {
         margin-left: 18px;
      }
   }
   &.controls-GridView__searchMode {
      &:not(.controls-ListView__multiselect) {
         .controls-DataGridView__th, .controls-DataGridView__td {
            &.controls-DataGridView__firstContentCell {
               padding-left: @controls-view-padding-DEFAULT;
            }
            &:last-child {
               padding-right: @controls-view-padding-DEFAULT;
            }
         }
      }
      .controls-DataGridView__th {
         &.controls-DataGrid__column__type-money {
            padding-right:@data-grid-money-header-cell-padding;
            &:last-child {
               padding-right: @data-grid-money-header-cell-padding-last;
            }
            &.controls-DataGridView__th__topRow {
               padding: @data-grid-header-cell-padding;
               &.controls-DataGridView__lastContentCell {
                  padding-right: @controls-view-padding-DEFAULT;
               }
            }
         }
      }
   }
   &:not(.controls-ListView__multiselect) .controls-TreeView__folderFooterContainer {
      padding-left: @controls-view-padding-DEFAULT;
   }
   &.controls-DataGridView__hasSeparator {
      &.controls-ListView__dataLoaded {
         .controls-DataGridView__tr {
            .controls-TreeDataGridView__folderFooter-separator {
               border-width: @data-grid-cell-border-width;
               border-style: solid;
               border-top-color: @data-grid-cell-separator-color;
               border-bottom-color: transparent;
            }
         }
         .controls-DataGridView__tr:nth-last-child(1) {
            .controls-TreeDataGridView__folderFooter-separator {
               border-bottom-color: @data-grid-edge-cell-separator-color;
            }
         }
      }
   }
}
.controls-TreeDataGridView__hideExpandsOnHiddenNodes {
  .controls-ListView__item-type-hidden {
    .controls-TreeView__expand {
      visibility: hidden;
    }
  }
}
.controls-CompositeView-table.controls-TreeView-big {
   .controls-ListView__item-type-node{
      font-size: @tree-view-big-node-font-size;
   }
   .controls-ListView__item-type-leaf{
      font-size: @tree-view-big-leaf-font-size;
   }
}
.controls-ListView__item-type-node {
   font-size: @font-folder-size;

   &.controls-ListView__item__selected {
      .controls-DataGridView__td {
         .controls-TreeView__ellipsis-copyArrow {
            background-color: @background-color_DataGridView-item_selected;

            &:after {
               .horizontal-gradient(@background-color_DataGridView-item_selected, fade(@background-color_DataGridView-item_selected, 0%), right);
               .copyArrowGradient();
            }
         }
      }
   }

   &.controls-ListView__item__multiSelected {
      .controls-DataGridView__td {
         .controls-TreeView__ellipsis-copyArrow {
            background-color: @background-color_DataGridView-item_multiselected;

            &:after {
               .horizontal-gradient(@background-color_DataGridView-item_multiselected, fade(@background-color_DataGridView-item_multiselected, 0%), right);
               .copyArrowGradient();
            }
         }
      }
   }

   &.controls-ListView__hoveredItem, &.controls-ItemActions__activeItem {
      .controls-DataGridView__td {
         .controls-TreeView__ellipsis-copyArrow {
            background-color: @background-color_DataGridView-item_hovered;

            &:after {
               .horizontal-gradient(@background-color_DataGridView-item_hovered, fade(@background-color_DataGridView-item_hovered, 0%), right);
               .copyArrowGradient();
            }
         }
      }
   }

   .controls-TreeView__ellipsis-wrapper {
      overflow: hidden;
      height: @tree-view-ellipsis-wrapper-height;
      .flex-shrink(1);

      .controls-TreeView__ellipsis-container {
         float: left;
         white-space: nowrap;
         height: @tree-view-ellipsis-wrapper-height;
      }

      .controls-TreeView__ellipsis-copyArrow {
         float: right;
         position: relative;
         top: -@tree-view-ellipsis-wrapper-height;
         right: @right_TreeDataGridView-copyArrow;
         padding: @tree-view-ellipsis-copyArrow-padding;
         background-color: @background-color_TreeDataGridView-copyArrow;

         &:after {
            .horizontal-gradient(@background-color_TreeDataGridView-copyArrow, fade(@background-color_TreeDataGridView-copyArrow, 0%), right);
            .copyArrowGradient();
         }

         .controls-TreeView__editArrow {
            width: @width_TreeDataGridView-copyArrow;
         }
      }
   }
}
.controls-GridView__searchMode{
   .controls-TreeView__hierWrapper{
      width: 0;
   }
   &.controls-TreeDataGridView {
      .controls-TreeView__expand {
         display: none;
      }
   }
}
.controls-TreeView__folderFooterContainer {
   overflow: hidden;

   .controls-TreeDataGridView__folderFooterTmpl {
      display: inline-block;
      .flex-shrink(1);
   }
}

.controls-ListView__hoveredItem{
   .controls-TreeView__editArrow {
      visibility: visible;
   }
}

.controls-TreeDataGridView__levelPadding {
   font-size: 0;
   width: @width-TreeDataGridView-levelPadding;
   .flex-shrink(0);
}

.controls-TreeDataGridView__withPhoto, .controls-TreeDataGridView__withPhoto-S, .controls-TreeDataGridView__withPhoto-M, .controls-TreeDataGridView__withPhoto-L {
   .controls-ListView__item {
      &.controls-ListView__item-type-leaf {
         .controls-TreeView__expand{
            display: none;
         }
         .controls-DataGridView__columnValue {
            margin-left: 0;
         }
      }
   }
}

.controls-TreeDataGridView__withPhoto {
   .controls-TreeDataGridView__levelPadding {
      width: @tree-view-level-padding-photo;
   }
   .controls-ListView__item {
      &.controls-ListView__item-type-node .controls-TreeView__expand {
         padding: @controls-view-photo-padding-DEFAULT;
      }
   }
}

/* Отступы для классов .controls-ListView__padding-XS|S|M|L|XL */
.generate-padding-class-TDGV(@i: 1) when (@i =< length(@controls-view-padding-variants)) {
   @val: extract(@controls-view-padding-variants, @i);
   :not(.controls-ListView__multiselect).controls-TreeDataGridView.controls-ListView__padding-@{val} {
      .controls-TreeView__folderFooterContainer {
         padding-left: ~"@{controls-view-padding-@{val}}";
      }
   }
   .generate-padding-class-TDGV(@i + 1);
}
.generate-padding-class-TDGV();

/* Отступы для классов .controls-TreeDataGridView__withPhoto-S|M|L */
.generate-photo-padding-class(@i: 1) when (@i =< length(@controls-view-photo-padding-variants)) {
   @val: extract(@controls-view-photo-padding-variants, @i);
   .controls-TreeDataGridView__withPhoto-@{val} {
      .controls-TreeDataGridView__levelPadding {
         width: ~"@{tree-view-level-padding-photo-@{val}}";
      }
      .controls-ListView__item {
         &.controls-ListView__item-type-node .controls-TreeView__expand {
            padding: ~"@{controls-view-photo-padding-@{val}}";
         }
      }
   }
   .generate-photo-padding-class(@i + 1);
}
.generate-photo-padding-class();

.controls-TreeView__withoutLevelPadding > .controls-DataGridView__table > .controls-DataGridView__tbody > .controls-ListView__item {
   > .controls-DataGridView__firstContentCell > .controls-TreeDataGridView__levelPaddingWrap > .controls-TreeDataGridView__levelPadding {
      display: none;
   }
}
.controls-TreeView__hideExpands {
   .controls-TreeView__expand {
      display: none;
   }
}
.controls-TreeView__emptyIconInEmptyNode {
   .controls-ListView__item-loaded.controls-ListView__item-type-node.controls-ListView__item-without-child {
      .controls-TreeView__expand {
         visibility: hidden;
         &:before {
            content: '\e96c';
         }
      }
   }
   .controls-ListView__item-type-node.controls-ListView__item-without-child {
      &:hover {
         .controls-TreeView__expand {
            visibility: visible;
         }
      }
      &.controls-TreeView__item-expanded {
         .controls-TreeView__expand {
            visibility: visible;
            &:before {
               content: '\e96b';
            }
         }
      }
   }
}

.controls-IconButton.controls-TreeView__editArrow-container {
   position: absolute;
   z-index: 3;
   /* Координата инициализации, необходима,
      чтобы при создании блок не вызывал скролл, из-за того, что создаётся абсолютом без кординаты */
   top: 0;
   color: @color_TreeDataGridView-editArrow;
   margin: @margin_TreeDataGridView-editArrow;

   &:hover {
      color: @color_TreeDataGridView-editArrow_hovered;
   }

   .icon-size {
      .icon-size(@font-size_TreeDataGridView-editArrow);
   }
}

.controls-TreeView__editArrow-container.controls-TreeView__editArrow-background {
   background-color: @background-color_DataGridView-item_hovered;
   &:after {
      .horizontal-gradient(@background-color_DataGridView-item_hovered, fade(@background-color_DataGridView-item_hovered, 0%), right);
      .copyArrowGradient();
   }
}

.controls-TreeView__searchBreadCrumbs {
   width: 100%;
   line-height: normal;
}

.controls-ListView__hideCheckBoxes-leaf {
   .controls-ListView__item-type-leaf {
      .controls-ListView__itemCheckBox {
         display: none;
      }
   }
}

.controls-ListView__hideCheckBoxes-node {
   .controls-ListView__item-type-node {
      .controls-ListView__itemCheckBox {
         display: none;
      }
   }
}

.controls-TreeDataGridView__levelPaddingWrap {
   .flexbox();
   .flex-shrink(1);
   .controls-DataGridView__columnValue, .controls-TreeView__folderTitle {
      width: 100%;
      min-width: 0;
      .flex-shrink(1);
   }
}

.controls-TreePager.controls-Link {
   font-size: @small-text-size;
}

.controls-TreeDataGridView:not(.controls-TreeDataGridView__withPhoto) {
   &:not(.controls-ListView__multiselect):not(.controls-ListView__padding-XS):not(.controls-ListView__padding-S) {
      &:not(.controls-ListView__padding-M):not(.controls-ListView__padding-L):not(.controls-ListView__padding-XL) {
         .controls-DataGridView__th, .controls-DataGridView__td {
            &.controls-DataGridView__firstContentCell {
               padding-left: @tree-view-padding-left-DEFAULT;
            }
         }
         .controls-TreeView__folderFooterContainer {
            padding-left: @tree-view-padding-left-DEFAULT;
         }
      }
   }
   &.controls-ListView__hideCheckBoxes.controls-ListView__multiselect:not(.controls-ListView__padding-XS):not(.controls-ListView__padding-S) {
      &:not(.controls-ListView__padding-M):not(.controls-ListView__padding-L):not(.controls-ListView__padding-XL) {
         .controls-DataGridView__colgroup {
            col:first-child {
               width: @tree-view-padding-left-DEFAULT;;
               min-width: @tree-view-padding-left-DEFAULT;;
            }
         }
         .controls-DataGridView__td__checkBox {
            width: @tree-view-padding-left-DEFAULT;;
            min-width: @tree-view-padding-left-DEFAULT;;
         }
      }
   }
}
