<span class="js-controls-UnitEditor__unitSelector controls-UnitEditor__unitSelector controls-UnitEditor__unitSelector__untoggled"><span class="js-controls-UnitEditor__unitText controls-UnitEditor__unitText"></span></span>
<a class="js-controls-NumberTextBox__arrowUp controls-NumberTextBox__arrowUp controls-NumberTextBox__arrow" href="javascript: void(0)"></a>
<a class="js-controls-NumberTextBox__arrowDown controls-NumberTextBox__arrowDown controls-NumberTextBox__arrow" href="javascript: void(0)"></a>