/*group*/
/*ширина кнопки закрытия окна 36px + 2px на небольшой отступ между кнопкой сохранить (в ie8 нет скруглений и кнопки склеиваются)*/
/*ширина кнопки закрытия окна 36px + 90px ширина кнопки сохранить + 2px на небольшой отступ между ними */
.controls-UnitEditor__fieldWrapper {
  margin-right: 34px;
}
.controls-UnitEditor__unitSelector {
  min-width: 22px;
  min-height: 18px;
  height: 100%;
  float: right;
  cursor: pointer;
  text-align: center;
}
.controls-UnitEditor__unitSelector__untoggled {
  margin-right: 16px;
}
.controls-UnitEditor__unitSelector:hover {
  background: blue;
}
.controls-UnitEditor__unitSelector__toggled {
  border: 1px solid #999;
  border-top-left-radius: 5px;
  margin-top: -1px;
  margin-right: 15px;
}
.controls-UnitEditor__unitSelector__toggled:hover {
  background: #fff;
}
.controls-UnitEditor__unit {
  padding: 4px;
  text-align: left;
}
.js-controls-UnitEditor__unitText {
  display: inline-block;
  padding-top: 3px;
}
.controls-UnitEditor__unit:hover {
  background: blue;
  cursor: pointer;
}
.controls-UnitEditor__units {
  margin-top: -2px;
  width: 70px!important;
  border: 1px solid #999;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #FFFFFF;
}
.controls-UnitEditor__whiteBorder {
  position: absolute;
  top: -1px;
  width: 22px;
  right: 0;
  height: 1px;
  background: white;
}
