.demoOtherControl_wrapper {
  position: absolute;
  bottom: 25px;
  right: 20px;
  background-color: #f8f8f8;
  padding: 3px 5px 5px 13px;
  border-radius: 15px;
  display: flex;
  align-items: center;
}
