.controls-Toolbar__popup {
   margin-top: @shift-top_Toolbar-link_medium-popup;
   margin-left: @shift-left_Toolbar-link_medium-popup;
}

.controls-Toolbar__popup_list {
   margin-top: @shift-top_Toolbar-popup;
   margin-left: @shift-left_Toolbar-popup;
}