<div class="controls-EditAtPlace
   controls-InputRender
   controls-Text-InputRender
   controls-InputRender_size_{{!! size ? size : 'default'}}_{{multiline ? 'multiLine' : 'singleLine'}}
   controls-Text-InputRender_state_{{ enabled ? 'default': 'disabled'}}
   {{ style ? 'controls-Text-InputRender_style_' + style}}
   controls-TextBox
   controls-TextBox_size_{{!! size ? size : 'default'}}_singleLine
   controls-TextBox_state_{{ enabled ? 'default': 'disabled'}}
   {{ multiline ? ' controls-EditAtPlace__autoHeight' }}"
   title="{{tooltip}}">
   <div class="controls-InputRender__fieldWrapper_{{multiline ? 'multiLine' : 'singleLine'}} js-controls-EditAtPlace__fieldWrapper controls-EditAtPlace__fieldWrapper controls-InputRender__fieldWrapper controls-TextBox__fieldWrapper {{ displayAsEditor ? 'ws-hidden' }}">
      <div class="controls-EditAtPlace__textField controls-InputRender__field controls-TextBox__field  {{ multiline ? 'controls-EditAtPlace__multiline' }}{{placeholder && !text ? ' controls-EditAtPlace__placeholder'}}">
         <ws:if data="{{ text }}">{{ formattedText() }}</ws:if>
         <ws:else>
            {{(placeholder || '&nbsp')|sanitize}}
         </ws:else>
      </div>
   </div>
   <div class="js-controls-EditAtPlace__editor controls-EditAtPlace__editor{{ !displayAsEditor ? ' ws-hidden' }}">
      <ws:partial template="{{editorTpl}}" />
   </div>
</div>
