<div class="controls-EditAtPlace
   controls-TextBox
   controls-TextBox__size__{{!! size ? size : 'm'}}
   controls-TextBox__state__{{ enabled ? 'default': 'disabled'}}
   {{ multiline ? ' controls-EditAtPlace__autoHeight' }}"
   title="{{tooltip}}">
   <div class="js-controls-EditAtPlace__fieldWrapper controls-EditAtPlace__fieldWrapper controls-TextBox__fieldWrapper {{ displayAsEditor ? 'ws-hidden' }}">
      <div class="controls-EditAtPlace__textField controls-TextBox__field  {{ multiline ? 'controls-EditAtPlace__multiline' }} {{placeholder ? ' controls-EditAtPlace__placeholder'}}">
         <ws:if data="{{ text }}">
            {{ formattedText() }}
         </ws:if>
         <ws:else>
            <ws:if data="{{ placeholder }}">{{placeholder}}</ws:if>
         </ws:else>
      </div>
   </div>
   <div class="js-controls-EditAtPlace__editor controls-EditAtPlace__editor{{ !displayAsEditor ? ' ws-hidden' }}">
      <ws:partial template="{{editorTpl}}" />
   </div>
</div>
