// TODO: inspect and define in variables
.controls-EditAtPlaceGroup {
  position: relative;
  .controls-EditAtPlace {
    .controls-EditAtPlace__fieldWrapper {
      &.controls-EditAtPlace__textAreaWrapper {
        padding: 4px 4px;
      }
    }
  }
}

.controls-EditAtPlaceGroup__editorOverlay {
   margin: @edit-at-place-editor-overlay-margin;
   padding: @edit-at-place-editor-overlay-padding;
   border: @edit-at-place-editor-overlay-border;
   background: @edit-at-place-editor-overlay-bg;
   .border-radius(@edit-at-place-editor-overlay-border-radius);
}