<span>
   <span  class="controls-SwitcherDouble__empty">&nbsp;</span>
   <span class="{{_isDoubleSwitcher ? 'js-controls-Switcher__toggle controls-SwitcherDouble__toggle' : 'controls-Switcher ws-enabled'}}
   {{_checked && !_isDoubleSwitcher ? ' controls-Checked__checked' : ''}}
   {{_isDoubleSwitcher ? ' controls-SwitcherDouble-' + (_checked ? 'on' : 'off') + '-toggled'}}"
   on:click="_clickHandler()">
      &nbsp;
      <span class="{{_isDoubleSwitcher ? 'controls-SwitcherDouble__line' : 'controls-Switcher__line'}}"></span>
      <span class="{{_isDoubleSwitcher ? 'controls-SwitcherDouble__btn' : 'controls-Switcher__btn'}}"></span>
   </span>
</span>