<span>
   <span  class="controls-SwitcherDouble__empty">&nbsp;</span>
   <span class="controls-Switcher{{_isDoubleSwitcher ? 'Double__toggle  controls-SwitcherDouble-' + (_value ? 'on' : 'off') + '-toggled' : ' ws-enabled' + (_value ? ' controls-Checked__checked':'')}}"
   on:click="_clickToggleHandler()">
      &nbsp;
      &nbsp;
      <span class="{{_isDoubleSwitcher ? 'controls-SwitcherDouble__line' : 'controls-Switcher__line'}}"></span>
      <span class="{{_isDoubleSwitcher ? 'controls-SwitcherDouble__btn' : 'controls-Switcher__btn'}}"></span>
   </span>
</span>