<!-- TODO: remove Span-->
<!-- Спаны нужны из-за того что вдом неправильно работает с ключами-->
<span class="controls-SwitcherDouble__textBlock">
  <span>
     <ws:partial template="tmpl!Controls/Toggle/Switch/resources/SwitchText" _isDoubleSwitcher="_isDoubleSwitcher" _clickedElement="textOn" _value="{{_value}}" _caption="{{_captions[0]}}"/>
  </span>
  <ws:partial template="tmpl!Controls/Toggle/Switch/resources/SwitchText" _isDoubleSwitcher="_isDoubleSwitcher" _clickedElement="textOff" _value="{{!_value}}" _caption="{{_captions[1]}}"/>
</span>