<span on:click="_clickTextHandler(_clickedElement)" class="{{'controls-SwitcherDouble__' + _clickedElement}} controls-SwitcherDouble__text {{_value ? '' : ' controls-SwitcherDouble__unselected'}}" >{{_caption}}</span>
