<span on:click="_clickHandler(true)" class="js-controls-SwitcherDouble__textOn controls-SwitcherDouble__text controls-SwitcherDouble__textOn{{_checked ? '' : ' controls-SwitcherDouble__unselected'}}" >{{_captions[0]}}</span>
