<span class="controls-SwitcherDouble__textBlock">
   <ws:partial template="tmpl!Controls/Toggle/Switch/resources/SwitchText" _isDoubleSwitcher="_isDoubleSwitcher" _clickedElement="textOn" _value="{{_value}}" _caption="{{_captions[0]}}"/>
   <ws:partial template="tmpl!Controls/Toggle/Switch/resources/SwitchText" _isDoubleSwitcher="_isDoubleSwitcher" _clickedElement="textOff" _value="{{!_value}}" _caption="{{_captions[1]}}"/>
</span>