<span>
   <span  class="controls-SwitcherDouble__empty">&nbsp;</span>
   <span class="{{_isDoubleSwitcher ? 'controls-SwitcherDouble__toggle' : 'controls-Switcher ws-enabled'}}
   {{_value && !_isDoubleSwitcher ? ' controls-Checked__checked' : ''}}
   {{_isDoubleSwitcher ? ' controls-SwitcherDouble-' + (_value ? 'on' : 'off') + '-toggled'}}"
   on:click="_clickToggleHandler()">
      &nbsp;
      &nbsp;
      <span class="controls-Switcher{{_isDoubleSwitcher ? 'Double' : ''}}__line"></span>
      <span class="controls-Switcher{{_isDoubleSwitcher ? 'Double' : ''}}__btn"></span>
   </span>
</span>