<span on:click="_clickHandler(_on)" class="{{_on ? 'js-controls-SwitcherDouble__textOn controls-SwitcherDouble__textOn' : 'js-controls-SwitcherDouble__textOff controls-SwitcherDouble__textOff'}} controls-SwitcherDouble__text {{_checked===_on ? '' : ' controls-SwitcherDouble__unselected'}}" >{{_caption}}</span>
