<span on:click="_clickHandler(false)" class="js-controls-SwitcherDouble__textOff controls-SwitcherDouble__text controls-SwitcherDouble__textOff{{_checked ? ' controls-SwitcherDouble__unselected' : ''}}">{{_captions[1]}}</span>
