<span on:click="_clickHandler(_state)" class="{{'controls-SwitcherDouble__text' + _state}} controls-SwitcherDouble__text {{_checked ? '' : ' controls-SwitcherDouble__unselected'}}" >{{_caption}}</span>
