<div class="ws-wait-indicator
      {{isGlob ? 'ws-wait-indicator_global' : 'ws-wait-indicator_local'}}
      {{useSpinner && message ? 'ws-wait-indicator_text'}}
      {{useSpinner && scroll ? 'ws-wait-indicator_scroll ws-wait-indicator_sided ws-wait-indicator_sided-' + scroll}}
      {{useSpinner && small ? 'ws-wait-indicator_small' + (small !== 'yes' ? ' ws-wait-indicator_sided ws-wait-indicator_sided-' + small : '')}}
      {{useSpinner && overlay ? 'ws-wait-indicator_overlay-' + overlay}}
      {{mods && mods.length ? 'ws-wait-indicator_mod-' + mods.join(' ws-wait-indicator_mod-') }}
      "
   style="{{ (rect ? 'left:' + rect.x + 'px; right:' + rect.y + 'px; width:' + rect.w + 'px; height:' + rect.h + 'px;' : '') + (z ? 'z-index:' + z : '')}}"
   >
   <ws:if data="{{useSpinner}}">
      <div class="ws-wait-indicator-in">{{message}}</div>
   </ws:if>
</div>
