.controlsDemo-Input-DateTime {
   margin: 30px auto;
   min-width: 450px;
   align-self: center;
}

.controlsDemo-Input-DateTime__row {
   display: flex;
   align-items: baseline;
}
.controlsDemo-Input-DateTime__row-item {
   flex: 1;
   padding: 5px;
}