.controls-FastDataFilter {
  display: inline-block;
  position: relative;
  border: @fastDataFilter-border;
  &.controls-FastDataFilter__resize{
     .flexbox();
    .controls-DropdownList {
      overflow: hidden;
      .controls-DropdownList__textWrapper{
        text-overflow: ellipsis;
      }
    }
  }
}

.ws-is-firefox {
   .controls-FastDataFilter.controls-FastDataFilter__resize {
      .inline-flexbox();
   }
}