/*group*/
/*ширина кнопки закрытия окна 36px + 2px на небольшой отступ между кнопкой сохранить (в ie8 нет скруглений и кнопки склеиваются)*/
/*ширина кнопки закрытия окна 36px + 90px ширина кнопки сохранить + 2px на небольшой отступ между ними */
.controls-FastDataFilter {
  display: inline-block;
  border: 0;
}
.controls-FastDataFilter.controls-FastDataFilter__resize {
  display: flex;
}
.controls-FastDataFilter.controls-FastDataFilter__resize .controls-DropdownList {
  overflow: hidden;
}
.controls-FastDataFilter.controls-FastDataFilter__resize .controls-DropdownList .controls-DropdownList__textWrapper {
  text-overflow: ellipsis;
}
