@import "Controls-theme/themes/default/_sizes";
//textarea
@min-height_TextArea:             18px;
@padding_TextArea-container:      2px 0 2px 4px;
@padding_TextArea-field:          0 4px 0 0;
//NumberTextBox
@font-size_NumberTextBox-mirror:   @font-size_InputRender_m;
//ComboBox
@icon-size_ComboBox-Arrow:                      @icon-size_default;
@border-width_ComboBox-picker:                  @default-border-width;
@spacing_ComboBox-Arrow:                        @default-padding;
@max-height_ComboBox-picker:                    400px;
@border-width_ComboBox_pickerShow:              @default-border-width;
@font-size_ComboBox-picker:                     15px;
@padding_ComboBox-item:                         6px 4px 5px 4px;
//MoneyTextBox
@min-width_MoneyTextBox:          102px;
@font-size_MoneyTextBox-decimals: 12px;
//suggest-text-box
@suggest-text-box-icon-size:                @default-icon-size;
@suggest-text-box-icon-cross-padding:       0 0 0 @default-padding;
//search-form
@search-border-radius:            12px;
@padding_SearchForm:              0 4px 0 12px;
@search-button-wrapper-padding:   0 1px 0 0;
@search-loop-size:                @default-icon-size;
@search-form-icon-padding:        0 2px;
@margin-left__searchForm_picker:  -@padding-top__searchForm_content;
@margin-top__searchForm_picker:   -@padding-top__searchForm_picker;
@padding-top__searchForm_picker:  @default-height + @padding-top__searchForm_content;
@padding-top__searchForm_content: 8px;
@top_searchForm_picker_closeButton:6px;
@width_browser_search:             300px;
@width_browser_search_small:       184px;
//FieldLink
@icon-size_FieldLink-button:                    @default-icon-size;
@border-width_FieldLink-picker:                 @default-border-width;
@spacing_FieldLink-showAllLinks_enabled:        @default-padding;
@width_FieldLink-item-cross:                    20px;
@font-size_FieldLink-item-caption_normal:       @default-text-size;
@font-size_FieldLink-item-caption_big:          @large-text-size;
@max-height_FieldLink-picker:                   500px;
@min-height_FieldLink-picker:                   16px;
@spacing_FieldLink-linkContainer:               4px;
@spacing_FieldLink-item_inField:                @default-padding;
@spacing_FieldLink-dropAllLinks:                @default-padding;
@fieldLink-showAll-shadow-width:                20px;
//FieldLink_Link
@font-size_FieldLink-Link:                      @default-text-size;
// DateRangeSlider
@margin-top_DateRangeSlider_years-only:                  @date-range-slider-margin-top - @date-range-choose-year-height;
// DateRangeLinkLite
@margin-top_DateRangeLinkLite-normal:      -5px;
@margin-top_DateRangeLinkLite-years:       @margin-top_DateRangeLinkLite-normal - @height_PeriodLiteDialog-year;
//time-header:
@time-header-icon-size:           @default-icon-size;
//treeview
@tree-view-folder-text-size:      16px;
//PrintDialog
@printDialog-button-margin-top:   8px;
@printDialog-activate-right:      49px;
//missspell
@miss-spell-padding:              8px;
//MassAmountSelector
@min-width_MassAmountSelector:                     auto;
@margin_MassAmountSelector-activate:               8px 0 0 0;
@right_MassAmountSelector-activate:                49px;
@width_MassAmountSelector-numberTextBox:           80px;
@font-size_MassAmountSelector-label:               inherit;
@padding_MassAmountSelector-label:                 0 8px 0 6px;
@margin_MassAmountSelector-blocks:                 0 0 14px 0;
//operationsMark
@controls-OperationsMark-separator-line-height: 30px;
//engine-browser
@browser-search-margin:           10px 0px 10px 12px;
@margin-left_Browser_tableRow:    12px;
@browser-top-template-padding:    10px 12px 10px 0;
@padding-left_Browser-backButton: 0px;
//DropDownList
@padding_DropDownList_item_child:      3px 12px 2px 8px;
@padding_DropDownList_item_child_text: 16px;
@font-size_DropDownList:               @default-text-size;
@top_DropdownList_picker_marker:       13px;
@right-DropdownList-cross:             5px;
@top-DropdownList-cross:               6px;
@margin_DropdownList-group:                           4px 12px;
@thickness_DropdownList-group-separator:              1px;
@spacing_DropdownList-group-between-text-separator:   12px;
@font-size_DropdownList-group-text:                   12px;
@width-Dropdown-cross: @spacing_DropdownList_arrowSubMenu;
//Marker
@background-size_Marker:                                  3px;
//ListView
@background-size_ListView_ScrollIndicator: auto;
//EditInPlace
@line-height_EditInPlace:                                 @default-line-height;
//ListView_groupBy
@height_ListView-GroupBy:                                 24px;
@padding_ListView-GroupBy_separator:                      0 12px;
@margin_ListView-GroupBy_separatorCollapse:               0 6px 0 0;
@font-size_ListView-GroupBy_text:                         @small-text-size;
@font-size_ListView-GroupBy_expander:                     16px;
//DataGridView
@font-size_DataGridView-headerIcon:                       16px;
@font-size_DataGridView-results:                          @default-text-size;
@right_DataGridView-toolbar_markerRight:                  @background-size_Marker;
@spacing-bottom_DataGridView-topRow:                      3px;
@border-bottom-width_DataGridView-topRow:                 1px;
//TreeDataGridView
@font-size_TreeDataGridView-folderTitle:                  inherit;
@width_TreeDataGridView-expand:                           16px;
@padding_TreeDataGridView-expand:                         0 4px 0 4px;
@height_TreeDataGridView-expand:                          20px;
@width-TreeDataGridView-levelPadding:                     24px;
@font-size_TreeDataGridView-expand:                       @icon-small-size;
@top_TreeDataGridView-editArrow:                          2px;
@font-size_TreeDataGridView-editArrow:                    16px;
@margin_TreeDataGridView-editArrow:                       0;
@width_TreeDataGridView-copyArrow:                        19px;
@right_TreeDataGridView-copyArrow:                        -1px;

//header
@header-h2-text-size:             20px;
@header-h3-text-size:             18px;

@header-font-weight:              @bold-font-weight;
@back-arrow-width-h2:             10px;
@back-arrow-height-h2:            14px;

@back-arrow-width-h3:             9px;
@back-arrow-height-h3:            12px;

@back-arrow-width-h6:             9px;
@back-arrow-height-h6:            11px;
//Arrow
@padding-left_forwardArrow:       10px;
//MenuButton
@menu-button-header-font-size:    @font-size_Popup;
@bread-crumb-home-font-size:      @icon-size_default;
//ToggleButton_square
@border-width_ToggleButton-square:    1px;
@height_ToggleButton-square:          32px;
@width_ToggleButton-square:           @height_ToggleButton-square;
@line-height_ToggleButton-square:     @height_ToggleButton-square;
@border-radius_ToggleButton-square:   2px;
@left_ToggleButton-square-icon:       3px;
@margin-top_ToggleButton-square-icon: -12px;
@background-color_ToggleButton-square:#F3F3F3;
@border-color_ToggleButton-square:    #587AB0;
//LongOperationsPopup
@top_LongOperationsPopup-closeButton:      8px;


//VDOM controls

//VDOM Paging
@height_Paging-button:             32px;
@width_Paging-digit-button:               28px;
@border-width_Paging-digit-button:        0 0 3px 0;
@width_Paging-ellipsis:            24px;
@width_Paging-arrow-button:               32px;
@font-size_Paging-arrow-button:           18px;
@font-size_Paging-button:          @default-text-size;
@padding_Paging-button:            0;
@border-width_ScrollPaging:        1px 0 0 0;

//VDOM DragNDrop.DraggingTemplate
@width_DraggingTemplate:                         210px;
@height_DraggingTemplate:                        48px;
@border-width_DraggingTemplate:                  1px;
@box-shadow-size_DraggingTemplate:               12px;
@width_DraggingTemplate-icon:                    40px;
@height_DraggingTemplate-icon:                   40px;
@border-radius_DraggingTemplate-icon:            8px;
@margin_DraggingTemplate-icon:                   4px 0 4px 4px;
@icon-size_DraggingTemplate-icon:                32px;
@margin_DraggingTemplate-text:                   6px;
@width_DraggingTemplate-textShadow:              24px;
@font-size_DraggingTemplate-mainText:            14px;
@font-size_DraggingTemplate-additionalText:      13px;
@height_DraggingTemplate-counter:                20px;
@padding_DraggingTemplate-counter:               0 6px;
@font-size_DraggingTemplate-counter:             14px;

//VDOM Operations.Panel
@height_OperationsPanel:                              30px;
@spacing_OperationsPanel__item-between-icon-caption:  6px;
@margin_OperationsPanel__rightTemplate:               0 8px 0 0;
@spacing_OperationsPanel-between-items:               12px;

//VDOM Operations.Button
@height_OperationsButton:                             24px;
@width_OperationsButton:                              24px;
@font-size_OperationsButton__icon:                    18px;

   //VDOM Switch
@width_Switch:                     46px;
@height_Switch:                    24px;
@border-width_Switch:              @default-border-width;
@border-radius_Switch:             30px;
@size_Switch-marker:               12px;
@border-width_Switch-marker:       2px;
@size_Switch-dot:                  6px;
@spacing_Switch-between-toggle-text:               6px;
@thickness_Switch-track:               2px;
@length_Switch-track:                34px;
@line-height_DoubleSwitch_vertical: @default-text-size;

//PasswordInput
@font-size_PasswordInput-showPassword:         @default-icon-size-medium;
@font-family_PasswordInput-showPassword:       @default-icon-medium-font;

//Area
@width_InputArea: 200px;
@vertical-padding_InputArea: 2px;

//Suggest
@width_Suggest-loader:                           16px;
@height_Suggest-loader:                          16px;
@spacing_Suggest-loader:                         3px;
@spacing_Suggest-empty:                          16px;

//Suggest VDOM
@spacing_Suggest_suggestionsContainer_overInput: 8px;
@border-width_suggestionsContainer:              1px;
@spacing_Suggest-between-tabs-and-content:       8px;
@margin-top_Suggest_close:                       8px;

//CloseButton
@border-width_CloseButton:               1px 0 1px 1px;
@border-radius_CloseButton:              2px 0 0 2px;
@width_CloseButton:                      36px;
@height_CloseButton:                     28px;
//TODO Выпилить этот стиль при полном переходе на VDOM
@font-size_CloseButton:                  23px;
@font-size_CloseButton_default:          23px;
@font-size_CloseButton_light:            24px;
@width_CloseButton_small:                24px;
@height_CloseButton_small:               24px;
@font-size_CloseButton_small:            24px;
//tabButton
@height_tabbutton_mainItem_menuLink:     23px;
//editAtPlace
@line-height_editAtPlace_fieldWrapper:   20px;

//Search
@icon-size_Search:                     @default-icon-size;
@spacing-Search-between-icon-text:     0 2px;
@border-radius_Search:                 10px;
@padding_Search:                       0 5px 0 12px;
//list add button
@font-size_listAddButton:                @small-text-size;
@icon-size_ListAddButton:                @default-icon-size;
//Switcher
@width_Switcher:                         46px;
@height_Switcher:                        24px;
@border-radius_Switcher:                 30px;
@border-width_Switcher:                  1px;
@border-width_Switcher_hover:            @border-width_Switcher;
@width_Switcher-line:                    34px;
@height_Switcher-line:                   2px;
@border-width_Switcher-btn:              2px;
@border-width_Switcher-btn_hover:        @border-width_Switcher-btn;
@size_Switcher-btn:                      12px;
@size_Switcher-btn-before:               6px;
//Label
@height_Label:                           @default-height;
@padding_Label:                          0 8px 0 0;
@font-size_Label:                        0;
//ReportBrowser
@height_ReportBrowser-top-content:       44px;
//Tabs/Buttons
@height_Tabs-separator:                  12px;
@border-width_Tabs:                      @default-border-width;
@line-height_Tabs-baselineFix:           32px;
@height_Tabs:                            31px;
@padding_Tabs-item:                      0 12px;
@font-size_Tabs-item:                    14px;
@font-size_Tabs-item_selected:           15px;
@max-width_Tabs_item:                    630px;
@border-width_Tabs-item_hover_selected:  2px;
//BrowserTabs Separator
@thickness_PageLayout_Separator:        @border-width_Tabs;
//Scrollbar
@width_Scrollbar:                        4px;
//Отступ сверху/снизу и от правого края в скролируемой области.
@margin_Scrollbar:                       2px;
@width_Scrollbar_animation:              12px;
@animation-duration_Scrollbar:           0.3s;

@border-radius_Scrollbar-thumb:          2px;
@border-radius_Scrollbar-thumb_animation:5px;
@min-height_Scrollbar-thumb:             46px;
//List
@spacing-List-between-checkbox-content:  0;
@padding_List-checkbox:                  3px 0 0 0;
@spacing_List-item_default:              12px;
@padding_List-left:                      12px;
@padding_List-right:                     12px;
//Scroll
@height-gradient_Scroll-shadow:          8px;
//FilterButton
@spacing_FilterButton-between-icon-text:           @default-padding;
@spacing_FilterButton-between-spaceTemplate-text:  @default-padding;
@font-size_FilterButton-icon:                      @icon-size_default_medium;
@font-family_FilterButton-icon:                    @default-icon-medium-font;
@font-size_FilterButton-text:                      @default-text-size;
@icon-size_FilterButton-text-icon:                 @icon-size_default;

//Lookup
@spacing_Lookup-item:                    4px;
