@themeName: 'online';

body {
  font-family: @default-font-name;
  font-size: @default-text-size;
}

pre {
  font-family: @default-font-name;
}

// Временное решение. Должно переехать в отдельную css
.controls-roundedCorner_size_s {
  border-radius: @border-radius_size_s;
}

// Временное решение. Должно переехать в отдельную css
.controls-roundedCorner_size_m {
  border-radius: @border-radius_size_m;
}