.controls-MenuButton {
  display: inline-block;
  .box-sizing(border-box);
}

.controls-MenuButton_button_default {
  margin-top: @margin-top_MenuButton_button;
  margin-left: @margin-left_MenuButton_button;
}

.controls-MenuButton_link_default_small {
  margin-top: @margin-top_MenuButton_link_small;
  margin-left: @margin-left_MenuButton_link_small;
}

.controls-MenuButton_link_default_medium {
  margin-top: @margin-top_MenuButton_link_medium;
  margin-left: @margin-left_MenuButton_link_medium;
}

.controls-MenuButton_link_default_medium_duplicate {
  margin-top: @margin-top_MenuButton_link_duplicate_medium;
  margin-left: @margin-left_MenuButton_link_duplicate_medium;
}

.controls-MenuButton_link_default_small_duplicate {
  margin-top: @margin-top_MenuButton_link_duplicate_small;
  margin-left: @margin-left_MenuButton_link_duplicate_small;
}
