<Controls.Container.Dropdown
        scope="{{_options}}"
        className="{{_offsetClassName}}"
        typeShadow="default"
        showHeader="{{_options.showHeader === false ? false : true}}"
        popupTarget="{{_popupTarget}}"
        on:selectedItemChanged="_selectedItemChangedHandler()"
        class="controls-MenuButton">
   <Controls.Button icon="{{_options.icon}}"
                    caption="{{_options.caption}}"
                    style="{{_options.style}}"
                    size="{{_options.size}}"
                    name="popupTarget"
                    on:click="_open()"/>
</Controls.Container.Dropdown>