.controls-MenuButton {
  max-width: 100%;
  display: inline-flex;
  .box-sizing(border-box);
}

.controls-MenuButton_button {
  margin-top: @shift-top_MenuButton-button-popup;
  margin-left: @shift-left_MenuButton-button-popup;
}

.controls-MenuButton_button_medium {
  margin-top: @shift-top_MenuButton-button-popup;
  margin-left: @shift-left_MenuButton-button-popup;
}

.controls-MenuButton_link__m {
  margin-top: @shift-top_MenuButton-link-popup;
  margin-left: @shift-left_MenuButton-link-popup;
}

.controls-MenuButton_toolButton_medium {
  margin-top: @shift-top_MenuButton-toolButton_medium-popup;
  margin-left: @shift-left_MenuButton-toolButton_medium-popup;
}

.controls-MenuButton_toolButton_small {
  margin-top: @shift-top_MenuButton-toolButton_small-popup;
  margin-left: @shift-left_MenuButton-toolButton_small-popup;
}

.controls-MenuButton_link_small {
  margin-top: @shift-top_MenuButton-link_small-popup;
  margin-left: @shift-left_MenuButton-link_small-popup
}

.controls-MenuButton_link_medium, .controls-MenuButton_link__xl {
  margin-top: @shift-top_MenuButton-link_medium-popup;
  margin-left: @shift-left_MenuButton-link_medium-popup;
}

.controls-MenuButton_link_medium_duplicate {
  margin-top: @shift-top_MenuButton-link_duplicate_medium-popup;
  margin-left: @shift-left_MenuButton-link_duplicate_medium-popup;
}

.controls-MenuButton_link_small_duplicate {
  margin-top: @shift-top_MenuButton-link_duplicate_small-popup;
  margin-left: @shift-left_MenuButton-link_duplicate_small-popup;
}