<div attr:class="controls-LabelV">
   <div attr:class="controls-Label__captionV controls-Label__caption_{{_options.readOnly ? 'disabled' : 'enabled'}}V
                    {{_options.required ? ' controls-Label__caption_requiredV'}}
                    ws-flexbox ws-align-items-center">{{_options.caption}}</div>
</div>