.controls-LabelV {
   display: flex;
   align-items: center;
}
.controls-LabelV_viewMode_default {
   height:  @height_Label;
   padding: @padding_Label;
}
.controls-LabelV__caption {
   .text-overflow();
}
.controls-LabelV__caption_viewMode_default {
   color: @color_Label-caption_viewMode_default;
}
.controls-LabelV__caption_viewMode_link_edit {
   cursor: pointer;
   color: @color_Label-caption_viewMode_link;
}
.controls-LabelV__caption_viewMode_link_read {
   color: @color_Label-caption_viewMode_link_readOnly;
}
.ws-is-no-touch .controls-LabelV__caption_viewMode_link_edit:hover {
   text-decoration: underline;
   color: @color_Label-caption_viewMode_link_hover;
}
.ws-is-touch .controls-LabelV__caption_viewMode_link_edit:active {
   text-decoration: underline;
   color: @color_Label-caption_viewMode_link_hover;
}
.controls-LabelV__asterisk {
   color: @color_Label-asterisk;
}