<div attr:class="controls-Label">
   <div attr:class="controls-Label__caption controls-Label__caption_{{_options.readOnly ? 'enabled' : 'disabled'}}
                    {{_options.required ? ' controls-Label__caption_required'}}
                    ws-flexbox ws-align-items-center">{{_options.caption}}</div>
</div>