<SBIS3.CONTROLS.ScrollContainer className="controls-Accordion__scrollContainer">
   <ws:content>
      <SBIS3.CONTROLS.Accordion
         name="FilterAccordion"
         itemContentTpl="{{ _accordionItemContentTpl }}"
         idProperty="id">
      </SBIS3.CONTROLS.Accordion>
   </ws:content>
</SBIS3.CONTROLS.ScrollContainer>