@color_CheckBox__iconBox: rgba(109, 141, 176, .6);
@color_CheckBox__iconBox_disabled: #CCCCCC;
@color_CheckBox__caption_enabled:  @default-text-color;
@color_CheckBox__caption_disabled:  @disabled-color;
@color_CheckBox__icon_disabled:  #313E78;
@color_CheckBox__icon_enabled:   @color_active;