.controls-demo__filterSearch-container {
    width: 500px;
    margin: 30px auto;
    padding: 20px;
}

.controls-demo__filterSearch-topWrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.controls-demo__filterSearch-filters {
    display: flex;
}