<span on:click="_clickTextHandler(_nextValue)" class="controls-SwitcherDouble__text{{_nextValue ? 'On' : 'Off'}} controls-SwitcherDouble__text {{_value ? '' : ' controls-SwitcherDouble__unselected'}}" >{{_caption}}</span>
