<span class="{{_orientation === 'vertical' ? ' controls-DoubleSwitch__text_vertical'}}
            {{_value ? '' : ' controls-DoubleSwitch__text_unselected'}}"
      on:click="_clickTextHandler(_nextValue)">{{_caption}}</span>
