<span>
   <span  class="controls-SwitcherDouble__empty">&nbsp;</span>
   <span class="controls-SwitcherDouble__toggle {{' controls-SwitcherDouble-' + (_value ? 'on' : 'off') + '-toggled'}}"
   on:click="_clickToggleHandler()">
      &nbsp;
      <span class="controls-SwitcherDouble__line"></span>
      <span class="controls-SwitcherDouble__btn"></span>
   </span>
</span>