<ws:partial template="tmpl!Controls/Dropdown/resources/template/itemTemplate"
            itemData="{{itemData}}"
            contentTemplate="tmpl!Controls-demo/Dropdown/resources/ItemsTemplateContent2"></ws:partial>