<ws:partial template="tmpl!Controls/List/Grid/Item" itemData="{{itemData}}" itemActionsTemplate="{{itemActionsTemplate}}" swipeTemplate="{{swipeTemplate}}" multiSelectTpl="{{multiSelectTpl}}" actionsType="{{actionsType}}" groupTemplate="{{groupTemplate}}">
</ws:partial>