<div class="controls-Grid__row-cell__content js-controls-ListView__notEditable">
   <div>{{contentData.getPropValue(contentData.item, 'date')}}</div>
   <div>{{contentData.getPropValue(contentData.item, 'state')}}</div>
</div>