<div class="controls-Grid__row-cell__content js-controls-ListView__notEditable">
   <div>{{contentData.getPropValue(contentData.item, 'fullName')}}</div>
   <div>{{contentData.getPropValue(contentData.item, 'message')}}</div>
</div>