<ws:partial template="tmpl!Controls/List/Grid/Item" itemData="{{itemData}}" multiSelectTpl="{{multiSelectTpl}}" itemActionsTemplate="{{itemActionsTemplate}}" actionsType="{{actionsType}}">
</ws:partial>