<div class="controls-Grid__row-cell__content js-controls-ListView__notEditable controls-Grid__row-cell__content_baseline_XL">
   <Controls.Render.Money.Money attr:class="demo-Grid__item" text="{{contentData.getPropValue(contentData.item, contentData.column.displayProperty)}}"/>
</div>