<ws:partial template="tmpl!Controls/List/Grid/Item" itemData="{{itemData}}" itemActionsTemplate="{{itemActionsTemplate}}" swipeTemplate="{{swipeTemplate}}" actionsType="{{actionsType}}">
</ws:partial>