<ws:partial template="tmpl!Controls/List/Grid/GroupContentTemplate" itemData="{{itemData}}" columnAlignGroup="{{2}}">
   <ws:rightTemplate><span style="padding-right: 12px;">{{itemData.metaData.groupResults[itemData.item]}}</span></ws:rightTemplate>
</ws:partial>