<div class="controls-Grid__row-cell__content js-controls-ListView__notEditable">
   <Controls:Render:Money:Money text="{{contentData.getPropValue(contentData.item, contentData.column.displayProperty)}}"/>
</div>