<div class="controls-Grid__row-cell__content js-controls-ListView__notEditable" tabindex="-1">
   <ws:if data="{{contentData.getPropValue(contentData.item, contentData.column.displayProperty)}}">
      {{contentData.getPropValue(contentData.item, contentData.column.displayProperty)}} <span class="demo-Grid__item__units">кг</span>
   </ws:if>
</div>