<div class="demo-Grid">
   <div class="demo-Grid__container">
      <Controls.Container.MassSelector
              source="{{_viewSource}}"
              selectedKeys="{{['448390']}}"
              name="massSelector">
         <Controls.Container.Scroll attr:class="demo-Grid__wrapper">
            <ws:content>
               <Controls.List.MassSelector>
                  <Controls.Grid
                                attr:class="demo-Grid__control test_grid_1"
                                keyProperty="id"
                                displayProperty="title"
                                markedKey="{{448390}}"
                                showRowSeparator="{{true}}"
                                multiSelectVisibility="visible"
                                header="{{gridHeader}}"
                                itemTemplate="tmpl!Controls-demo/List/Grid/DemoItem"
                                source = "{{_viewSource}}"
                                itemActions="{{_itemActions}}"
                                on:actionClick="_onActionClick()"
                                itemActionVisibilityCallback="{{_showAction}}"
                                itemActionsType="outside"
                                columns="{{gridColumns}}">
                  </Controls.Grid>
               </Controls.List.MassSelector>
            </ws:content>
         </Controls.Container.Scroll>
      </Controls.Container.MassSelector>
      <Controls.Container.Scroll attr:class="demo-Grid__wrapper">
         <ws:content>
            <Controls.Grid
                    attr:class="demo-Grid__control test_grid_2"
                    leftPadding="S"
                    rightPadding="M"
                    rowSpacing="M"
                    keyProperty="id"
                    displayProperty="title"
                    markedKey="{{448390}}"
                    showRowSeparator="{{true}}"
                    header="{{gridHeader}}"
                    itemTemplate="tmpl!Controls-demo/List/Grid/DemoItem"
                    source = "{{_viewSource}}"
                    itemActions="{{_itemActions}}"
                    on:actionClick="_onActionClick()"
                    itemActionVisibilityCallback="{{_showAction}}"
                    columns="{{gridColumns}}">
            </Controls.Grid>
         </ws:content>
      </Controls.Container.Scroll>
   </div>
   <div class="demo-Grid__container">
      <Controls.Container.MassSelector
              source="{{_viewSource}}"
              selectedKeys="{{['448390']}}"
              name="massSelector">
         <Controls.Container.Scroll attr:class="demo-Grid__wrapper">
            <ws:content>
               <Controls.List.MassSelector>
                  <Controls.Grid
                          attr:class="demo-Grid__control test_grid_3"
                          leftPadding="M"
                          rightPadding="L"
                          keyProperty="id"
                          displayProperty="title"
                          markedKey="{{448390}}"
                          showRowSeparator="{{true}}"
                          multiSelectVisibility="visible"
                          itemTemplate="tmpl!Controls-demo/List/Grid/DemoItem"
                          source = "{{_viewSource}}"
                          itemActions="{{_itemActions}}"
                          on:actionClick="_onActionClick()"
                          itemActionVisibilityCallback="{{_showAction}}"
                          itemActionsType="outside"
                          columns="{{gridColumns}}">
                  </Controls.Grid>
               </Controls.List.MassSelector>
            </ws:content>
         </Controls.Container.Scroll>
      </Controls.Container.MassSelector>
      <Controls.Container.Scroll attr:class="demo-Grid__wrapper">
         <ws:content>
            <Controls.Grid
                    attr:class="demo-Grid__control test_grid_4"
                    leftPadding="L"
                    rightPadding="XL"
                    rowSpacing="L"
                    keyProperty="id"
                    displayProperty="title"
                    markedKey="{{448390}}"
                    showRowSeparator="{{true}}"
                    itemTemplate="tmpl!Controls-demo/List/Grid/DemoItem"
                    source = "{{_viewSource}}"
                    itemActions="{{_itemActions}}"
                    on:actionClick="_onActionClick()"
                    itemActionVisibilityCallback="{{_showAction}}"
                    columns="{{gridColumns}}">
            </Controls.Grid>
         </ws:content>
      </Controls.Container.Scroll>
   </div>
   <div>
      <h3>Кликнули на </h3>
      <span>{{_actionClicked}}</span>
   </div>
</div>