<div style="width: 900px;" xmlns:ws="http://www.w3.org/1999/xhtml">
   <Controls.Grid
         keyProperty="id"
         dataLoadCallback="{{_dataLoadCallback}}"
         source="{{_viewSource}}"
         header="{{_gridHeader}}"
         columns="{{_gridColumns}}">
      <ws:itemsGroup method="{{_itemsGroupMethod}}" template="tmpl!Controls-demo/List/Grid/DemoGroupTemplate"/>
   </Controls.Grid>
</div>