<div>
    <Controls.Button
            on:click="_updateState()"
            caption="{{buttonCaption}}"
    />
    <Controls.RichTextArea
            class="rich-text-editor-demo"
            editorContainer="name123"
            enabled="{{need}}"
            value="{{value123}}"
            on:textChanged="changeText()"
    />
    <Controls.Input.Area
            enabled="{{need}}"
            value="{{value123}}"
            on:input="_changeText()"
    />
</div>