<Controls.Input.resources.InputRender.InputRender
        value="{{_options.value}}"
        autocomplete="{{_options.autocomplete}}"
        size="{{ _options.size }}"
        tagStyle="{{_options.tagStyle}}"
        readonly="{{_options.readonly}}"
        viewModel="{{_simpleViewModel}}"
        placeholder="{{_options.placeholder}}"
        validationErrors="{{_options.validationErrors}}"
        on:valueChanged="_valueChangedHandler()"
>

   <ws:content>
      <ws:partial
              template="tmpl!Controls/Input/resources/input"
              type="{{_passwordVisible ? 'text' : 'password' }}"
      />
   </ws:content>

   <ws:afterFieldWrapper>
      <div if="{{!_options.readOnly}}"
           on:click="_toggleVisibilityHandler()"
           title="{{_passwordVisible ? rk('Скрыть') : rk('Показать')}}"
           class="controls-PasswordInput__showPassword
                 {{_passwordVisible ? 'icon-Hide' : 'icon-Show'}}">

      </div>
   </ws:afterFieldWrapper>

</Controls.Input.resources.InputRender.InputRender>