<ws:Controls.Input.resources.InputRender.InputRender
        value="{{_options.value}}"
        tagStyle="{{_options.tagStyle}}"
        readonly="{{_options.readonly}}">

    <ws:content>
        <ws:partial
                template="tmpl!Controls/Input/resources/input"
                value="{{_options.value}}"
                type="{{_passwordVisible ? 'text' : 'password' }}"
                placeholder="{{_options.placeholder}}"
        />
    </ws:content>

    <ws:afterFieldWrapper>
        <div on:click="_toggleVisibilityHandler()"
             title= "{{_passwordVisible ? rk('Скрыть') : rk('Показать')}}"
             class="controls-PasswordInput__showPassword
                 icon-medium
                 {{_passwordVisible ? 'icon-Hide' : 'icon-Show'}}">

        </div>
    </ws:afterFieldWrapper>

</ws:Controls.Input.resources.InputRender.InputRender>