<Controls.Input.resources.InputRender.InputRender
        value="{{_options.value}}"
        tagStyle="{{_options.tagStyle}}"
        viewModel="{{_simpleViewModel}}"
        placeholder="{{_options.placeholder}}"
        autocomplete="{{_options.autocomplete}}"
        validationErrors="{{_options.validationErrors}}"
        on:onTagClick="_notifyHandler('tagClick')"
        on:onTagClick="_notifyHandler('tagHover')"
        on:valueChanged="_notifyHandler('valueChanged')"
        on:inputCompleted="_notifyHandler('inputCompleted')"
>
   <ws:content>
      <ws:partial
              template="tmpl!Controls/Input/resources/input"
              type="{{_passwordVisible ? 'text' : 'password' }}"
      />
   </ws:content>
    <ws:afterFieldWrapper>
        <div if="{{!_options.readOnly}}"
             on:click="_toggleVisibilityHandler()"
             title="{{_passwordVisible ? rk('Скрыть') : rk('Показать')}}"
             class="controls-PasswordInput__showPassword {{_passwordVisible ? 'icon-Hide' : 'icon-Show'}}">
      </div>
   </ws:afterFieldWrapper>
</Controls.Input.resources.InputRender.InputRender>