<div class="ws-suggestShowAll">
    <ws:Controls.Popup.DialogTemplate attr:class="ws-suggestShowAll__dialog">
        <ws:topArea>
            <span class="ws-suggestShowAll__title">Все записи</span>
        </ws:topArea>
        <ws:contentArea>
            <div class="ws-suggestShowAll__content ws-scrolling-content">
                <ws:partial
                        template="{{_options.template}}"
                        dataSource="{{_options.dataSource}}"
                        navigation="{{_options.navigation}}"
                        on:itemClick="_onItemClickHandler()"/>
            </div>
        </ws:contentArea>
    </ws:Controls.Popup.DialogTemplate>
</div>