<div class="ws-suggestShowAll">
    <Controls:Popup:DialogTemplate attr:class="ws-suggestShowAll__dialog">
        <ws:topArea>
            <span class="ws-suggestShowAll__title">Все записи</span>
        </ws:topArea>
        <ws:contentArea>
            <Controls:Container:Scroll attr:class="controls-ScrollContainer__flex">
                <ws:content>
                    <ws:partial
                            template="{{_options.template}}"
                            source="{{_options.source}}"
                            navigation="{{_options.navigation}}"
                            filter="{{_options.filter}}"
                            on:itemClick="_onItemClickHandler()"/>
                </ws:content>
            </Controls:Container:Scroll>
        </ws:contentArea>
    </Controls:Popup:DialogTemplate>
</div>