{{/* Настройка контекста */}}
<div class="controls-ImportCustomizer-Sheet-View">
   <SBIS3.CONTROLS.DropdownList
      class="controls-ImportCustomizer-Sheet-View__sheetTitle"
      name="controls-ImportCustomizer-Sheet-View__sheetTitle"
      multiselect="{{false}}"
      mode="click"
      type="simple"
      idProperty="id"
      displayProperty="title"
      items="{{_items}}"
      selectedKeys="{{[_selectedKey]}}"
   />
</div>