<span attr:class="controls-BaseButton controls-Button_style-{{_style}}{{isEnabled() ? '':'_disabled'}}
                 controls-Button_type-{{_type}}{{isEnabled() ? '':'_disabled'}}
                 controls-Button_type-{{_typeWithSize}}
                 {{isEnabled() ? 'controls-Button_type-' + _typeWithIconStyle}}"
      attr:title="{{_options.tooltip}}"
      on:click="_clickHandler()">
    <span attr:class="controls-BaseButton__content controls-Button__wrapper_type-{{_typeWithSize}}">
        <ws:if data="{{!!_options.icon}}">
            <i attr:class="controls-Button__icon {{_options.icon}} {{isEnabled() ? 'controls-Button__icon-' + _options.iconStyle}}"></i>
        </ws:if>
        <ws:if data="{{!!_options.caption}}">
           <span attr:class="controls-BaseButton__text controls-Button__text_style-{{_style}} {{_options.icon ? ' controls-Button__text_gap'}}">{{_options.caption}}</span>
        </ws:if>
    </span>
</span>