<span attr:class="controls-ButtonBase controls-Button controls-Button__style-{{_options.style}}{{!isEnabled() ? '-disabled'}}"
      attr:title="{{_options.tooltip}}"
      on:click="_clickHandler()">
    <span attr:class="controls-Button__wrapper controls-Button__wrapper_style-{{_options.style}}">
        <ws:if data="{{!!_options.icon}}">
            <i attr:class="controls-Button__icon {{_options.icon}} controls-Button__icon-{{_options.style}}{{!isEnabled() ? '-disabled'}}"></i>
        </ws:if>
        <ws:if data="{{!!_options.caption}}">
           <span attr:class="controls-Button__text {{_options.icon ? ' controls-Button__text_gap'}}">{{_options.caption}}</span>
        </ws:if>
    </span>
</span>