.controls-BaseButton {
  display: inline-flex;
  box-sizing: border-box;
  .user-select();
}

.controls-Button__wrapper_type-IconButton_size-s, .controls-Button__wrapper_type-IconButton_size-default {
  justify-content: center;
}

.controls-Button_type-IconButton, .controls-Button_type-IconButton_disabled {
  border-radius: @border-radius-IconButton;
  border-style: @border-style-IconButton;
  border-width: @border-width-IconButton;
  background-color: @background-color-IconButton;
  box-shadow: @box-shadow-IconButton;
}

.controls-Button_type-IconButton {
  cursor: pointer;
  border-color: @border-color-IconButton;
}

.controls-Button_type-IconButton_size-s {
  height: @height-IconButton_size-s;
  width: @width-IconButton_size-s;
}

.controls-Button_type-IconButton_size-default {
  height: @height-IconButton_size-m;
  width: @width-IconButton_size-m;
}

.controls-Button_type-IconButton_disabled {
  color: @color-Button_type-IconButton_disabled;
  border-color: @border-color-IconButton_disabled;
}

/*
.controls-Button_style-IconButton-done {
  border-color: @border-color-IconButton;
  color: @color-IconButton_style-done;
}

.controls-Button_style-IconButton-default {
  border-color: @border-color-IconButton;
  color: @color-IconButton__icon_style-default;
}

.controls-Button_style-IconButton-error {
  border-color: @border-color-IconButton;
  color: @color-IconButton_style-error;
}*/

.ws-is-no-touch {
  .controls-Button_type-IconButton:hover {
    background-color: @background-color-IconButton_hovered;
  }

  .controls-Button_type-IconButton_iconStyle-done:hover {
    border-color: @color-Icon_style_done;
  }

  .controls-Button_type-IconButton_iconStyle-error:hover {
    border-color: @color-Icon_style_error;
  }

  .controls-Button_type-IconButton_iconStyle-attention:hover {
    border-color: @color-Icon_style_attention;
  }

  .controls-Button_type-IconButton_iconStyle-disabled:hover {
    border-color: @color-Icon_style_disabled;
  }

  .controls-Button_type-IconButton_iconStyle-hover:hover {
    border-color: @color-Icon_style_hover;
  }

  .controls-Button_type-IconButton_iconStyle-primary:hover {
    border-color: @color-IconButton__border_iconStyle-primary_hovered;
    .controls-Button__icon-primary {
      color: @color-Icon_style_primary_hovered;
    }
  }
/*
  .controls-Button_style-IconButton-default:hover {
    border-color: @color-IconButton_style-default_hovered;
    color: @color-IconButton__icon_style-default_hovered;
  }

  .controls-Button_style-IconButton-done:hover {
    border-color: @color-IconButton_style-done;
  }

  .controls-Button_style-IconButton-error:hover {
    border-color: @color-IconButton_style-error;
  }*/
}

.controls-Button_type-IconButton:active {
  background-color: @background-color-IconButton_hovered;
  box-shadow: @box-shadow-IconButton_activated;
}

.controls-Button_type-IconButton_iconStyle-done:active {
  border-color: @color-Icon_style_done;
}

.controls-Button_type-IconButton_iconStyle-error:active {
  border-color: @color-Icon_style_error;
}

.controls-Button_type-IconButton_iconStyle-attention:active {
  border-color: @color-Icon_style_attention;
}

.controls-Button_type-IconButton_iconStyle-disabled:active {
  border-color: @color-Icon_style_disabled;
}

.controls-Button_type-IconButton_iconStyle-hover:active {
  border-color: @color-Icon_style_hover;
}

.controls-Button_type-IconButton_iconStyle-primary:active {
  border-color: @color-IconButton__border_iconStyle-primary_hovered;
  .controls-Button__icon-primary {
    color: @color-Icon_style_primary_hovered;
  }
}

.controls-Button_type-link {
  cursor: pointer;
}

.controls-Button_type-link_size-s{
  font-size: @font-size_Link-s;
}

.controls-Button_type-link_size-default{
  font-size: @font-size_Link-m;
}

.controls-Button_type-link_size-l{
  font-size: @font-size_Link-l;
}

.controls-Button_type-link_size-xl{
  font-size: @font-size_Link-xl;
}

.controls-Button_style-link-main {
  color: @color_Link-main-text;
}

.controls-Button_style-link-main2 {
  color: @color_Link-main2-text;
}

.controls-Button_style-link-main3 {
  color: @color_Link-main3-text;
  .controls-BaseButton__text {
    text-decoration: underline;
  }
}

.controls-Button_style-link-additional {
  color: @color_Link-additional-text;
}

.controls-Button_style-link-additional2 {
  color: @color_Link-additional2-text;
}

.controls-Button_style-link-additional3 {
  color: @color_Link-additional3-text;
}

.controls-Button_style-link-additional4 {
  color: @color_Link-additional4-text;
}

.controls-Button_style-link-additional5 {
  color: @color_Link-additional5-text;
}

.ws-is-no-touch {
  .controls-Button_style-link-main:hover {
    .controls-Button__icon-primary {
      color: @color-Icon_style_primary_hovered;
    }
    color: @color_Link-main-text_hovered;
  }

  .controls-Button_style-link-main3:hover {
    color: @color_Link-main3-text_hovered;
  }

  .controls-Button_type-link:hover{
    .controls-BaseButton__text {
      text-decoration: underline;
    }
  }
}

.controls-Button_type-link_disabled {
  color: @color_Link-Vdom-text_disabled;
}

.controls-Button_type-button {
  cursor: pointer;
  min-width: @min-width_Button-Vdom;
  box-shadow: @box-shadow_Button;
}

.controls-Button_type-button:active {
  box-shadow: @box-shadow_Button_active;
}

.controls-Button_type-button_disabled{
  min-width: @min-width_Button-Vdom;
  cursor: default;
  color: @color_Button-Vdom-disabled;
  border-color: @border-color_Button-Vdom_disabled;
}

.controls-Button_style-primary, .controls-Button_style-primary-add {
  color: @color_Button-Vdom-text_primary;
  border-color: @border-color_Button_primary;
  background: @background_Button_primary;
}

.controls-Button_style-primary:active, .controls-Button_style-primary-add:active {
  border-color: @border-color_Button_primary_hovered;
  background: @background_Button_primary_active;
}

.controls-Button_style-default {
  color: @color_Button-Vdom-text_default;
  border-color: @border-color_Button;
  background: @background_Button_default;
}

.controls-Button_style-default:active {
  border-color: @border-color_Button_hovered;
  background: @background_Button_default_active;
}

.controls-Button_style-default_disabled {
   background: @background_Button-default_disabled;
}

.controls-Button_style-primary_disabled, .controls-Button_style-primary-add_disabled {
   background: @background_Button-primary_disabled;
}

.controls-Button_type-button_size-default {
  height: @height_Button_m;
  font-size: @font-size_Button-Vdom_m;
  border-style: solid;
  border-width: @border-width_Button-Vdom;
  .border-radius(@border-radius_Button_default);
}

.controls-Button_type-button_size-big {
  font-size: @font-size_Button-Vdom_l;
  border-style: solid;
  height: @height_Button-Vdom_l;
  border-width: @border-width_Button-Vdom;
  .border-radius(@border-radius_Button_l);
}

//Icon
.controls-Button__icon-hover {
  color: @color-Icon_style_hover;
}

.controls-Button__icon-attention {
  color: @color-Icon_style_attention;
}

.controls-Button__icon-primary {
  color: @color-Icon_style_primary;
}

.controls-Button__icon-done {
  color: @color-Icon_style_done;
}

.controls-Button__icon-error {
  color: @color-Icon_style_error;
}

.controls-Button__icon-disabled {
  color: @color-Icon_style_disabled;
}

.controls-Button__text_style-default {
  .text-overflow();
}

.controls-Button__text_style-primary {
  .text-overflow();
}

.controls-Button__wrapper_type-button_size-default {
  padding: @padding_Button-wrapper_default;
  .justify-content(center);
}

.controls-Button__wrapper_type-button_size-big {
  padding: @padding_Button-Vdom-wrapper_l;
  .justify-content(center);
}

.controls-Button__text_gap {
  margin-left: @spacing_Button-between-icon-text;
}
// перенес в vDom, чтобы не было пересечения со старыми кнопками
// изменено имя в остальном стили аналогичны
.controls-BaseButton__content {
  .button-wrapper-default-style();
  &:before {
    content: "\200b";
  }
}

.controls-Button_style-primary-add:active {
  .controls-Button__icon-primary {
    color: @color-Icon_style_primary_hovered;
  }
}

.ws-is-no-touch {
   .controls-Button_style-primary-add:hover {
      .controls-Button__icon-primary {
         color: @color-Icon_style_primary_hovered;
      }
   }
  .controls-Button_style-primary:hover, .controls-Button_style-primary-add:hover {
    border-color: @border-color_Button_primary_hovered;
    background: @background_Button_primary_hovered;
  }

  .controls-Button_style-primary:active, .controls-Button_style-primary-add:active {
    background: @background_Button_primary_active;
  }
  .controls-Button_style-default:hover {
    border-color: @border-color_Button_hovered;
    background: @background_Button_hovered;
  }
  .controls-Button_style-default:active {
    background: @background_Button_active;
  }
}

// баг ие10, дочерний элемент контейнера с флексом неправильно рассчитывает свои размеры
// вследствии чего обрезание текста происходит неверно
.ws-is-ie10 {
  .controls-Button__text {
    display: inline-block;
    -ms-flex-negative: 1;
  }
}