a.controls-Button__href-link{
  text-decoration: inherit;
  color: inherit;
  cursor: inherit;
}
a.controls-Button__href-link:active{
  text-decoration: inherit;
  color: inherit;
  cursor: inherit;
}
a.controls-Button__href-link:hover{
  text-decoration: inherit;
  color: inherit;
  cursor: inherit;
}
.controls-BaseButton {
  display: inline-flex;
  box-sizing: border-box;
  .user-select();
}

.controls-Button__wrapper_type-iconButtonBordered_size-m, .controls-Button__wrapper_type-iconButtonBordered_size-l {
  justify-content: center;
}

.controls-BaseButton__text {
  .text-overflow();
}

.controls-Button_type-iconButtonBordered, .controls-Button_type-iconButtonBordered_readOnly {
  border-radius: @border-radius-IconButton;
  border-style: @border-style-IconButton;
  border-width: @border-width-IconButton;
  background-color: @background-color-IconButton;
  box-shadow: @box-shadow-IconButton;
}

.controls-Button_type-iconButtonBordered {
  cursor: pointer;
}

.controls-Button_style-iconButtonBordered {
  border-color: @border-color-IconButton;
}

.controls-Button_type-iconButtonBordered_size-m {
  height: @height-IconButton_size-m;
  width: @width-IconButton_size-m;
}

.controls-Button_type-iconButtonBordered_size-l {
  height: @height-IconButton_size-l;
  width: @width-IconButton_size-l;
}

.controls-Button_type-iconButtonBordered_readOnly {
  color: @color-Button_type-IconButton_readOnly;
  border-color: @border-color-IconButton_readOnly;
}

.ws-is-no-touch {
  .controls-Button_type-iconButtonBordered:hover {
    background-color: @background-color-IconButton_hovered;
  }

  .controls-Button_style-iconButtonBordered_iconStyle-done:hover {
    border-color: @color-Icon_style_done;
  }

  .controls-Button_style-iconButtonBordered_iconStyle-error:hover {
    border-color: @color-Icon_style_error;
  }

  .controls-Button_style-iconButtonBordered_iconStyle-attention:hover {
    border-color: @color-Icon_style_attention;
  }

  .controls-Button_style-iconButtonBordered_iconStyle-default:hover {
    border-color: @color-IconButton__border_iconStyle-primary_hovered;
    .controls-Button__icon-iconButtonBordered_iconStyle-default {
      color: @color-IconButtonBordered_default_hovered;
    }
  }
}

.controls-Button_type-iconButtonBordered:active {
  background-color: @background-color-IconButton_hovered;
  box-shadow: @box-shadow-IconButton_activated;
}

.controls-Button_style-iconButtonBordered_iconStyle-done:active {
  border-color: @color-Icon_style_done;
}

.controls-Button_style-iconButtonBordered_iconStyle-error:active {
  border-color: @color-Icon_style_error;
}

.controls-Button_style-iconButtonBordered_iconStyle-attention:active {
  border-color: @color-Icon_style_attention;
}

.controls-Button_style-iconButtonBordered_iconStyle-default:active {
  border-color: @color-IconButton__border_iconStyle-primary_hovered;
  .controls-Button__icon-iconButtonBordered_iconStyle-default {
    color: @color-IconButtonBordered_default_hovered;
  }
}

.controls-Button_type-link {
  cursor: pointer;
}

.controls-Button_type-link_size-s{
  font-size: @font-size_Link-s;
}

.controls-Button_type-link_size-m{
  font-size: @font-size_Link-m;
}

.controls-Button_type-link_size-l{
  font-size: @font-size_Link-l;
}

.controls-Button_type-link_size-xl{
  font-size: @font-size_Link-xl;
}

.controls-Button_style-link-main {
  color: @color_Link-main-text;
}

.controls-Button_style-link-main2 {
  color: @color_Link-main2-text;
}

.controls-Button_style-link-main3 {
  color: @color_Link-main3-text;
  .controls-BaseButton__text {
    text-decoration: underline;
  }
}

.controls-Button_style-link-additional {
  color: @color_Link-additional-text;
}

.controls-Button_style-link-additional2 {
  color: @color_Link-additional2-text;
}

.controls-Button_style-link-additional3 {
  color: @color_Link-additional3-text;
}

.controls-Button_style-link-additional4 {
  color: @color_Link-additional4-text;
}

.controls-Button_style-link-additional5 {
  color: @color_Link-additional5-text;
}

.ws-is-no-touch {
  .controls-Button_style-link-main:hover {
     .controls-Button__icon-link-main_iconStyle-default {
        color: @color_Link-main-text_hovered;
     }
     color: @color_Link-main-text_hovered;
  }

  .controls-Button_style-link-main3:hover {
    color: @color_Link-main3-text_hovered;
  }

  .controls-Button_type-link:hover{
    .controls-BaseButton__text {
      text-decoration: underline;
    }
  }
}

.controls-Button_type-link_readOnly {
  color: @color_Link-Vdom-text_readOnly;
}

.controls-Button_type-button {
  cursor: pointer;
  min-width: @min-width_Button-Vdom;
  box-shadow: @box-shadow_Button;
}

.controls-Button_type-button:active {
  box-shadow: @box-shadow_Button_active;
}

.controls-Button_type-button_readOnly{
  min-width: @min-width_Button-Vdom;
  cursor: default;
  color: @color_Button-Vdom-readOnly;
  border-color: @border-color_Button-Vdom_readOnly;
}

.controls-Button_style-primary, .controls-Button_style-primary-add {
  color: @color_Button-Vdom-text_primary;
  border-color: @border-color_Button_primary;
  background: @background_Button_primary;
}

.controls-Button_style-primary:active, .controls-Button_style-primary-add:active {
  border-color: @border-color_Button_primary_hovered;
  background: @background_Button_primary_active;
}

.controls-Button_style-default {
  color: @color_Button-Vdom-text_default;
  border-color: @border-color_Button;
  background: @background_Button_default;
}

.controls-Button_style-default:active {
  border-color: @border-color_Button_hovered;
  background: @background_Button_default_active;
}

.controls-Button_style-default_readOnly {
  background: @background_Button-default_readOnly;
}

.controls-Button_style-primary_readOnly, .controls-Button_style-primary-add_readOnly {
  background: @background_Button-primary_readOnly;
}

.controls-Button_type-button_size-m {
  height: @height_Button_m;
  font-size: @font-size_Button-Vdom_m;
  border-style: solid;
  border-width: @border-width_Button-Vdom;
  .border-radius(@border-radius_Button_default);
}

.controls-Button_type-button_size-l {
  font-size: @font-size_Button-Vdom_l;
  border-style: solid;
  height: @height_Button-Vdom_l;
  border-width: @border-width_Button-Vdom;
  .border-radius(@border-radius_Button_l);
}

.controls-Button__icon-primary-add_iconStyle-default {
   color: @color_Button-style-addButton-icon;
}

.controls-Button__icon-default_iconStyle-default, .controls-Button__icon-default-big_iconStyle-default {
   color: @color_Button-icon;
}

.controls-Button__icon-primary_iconStyle-default, .controls-Button__icon-primary-big_iconStyle-default {
   color: @color_Button-icon_primary;
}

.controls-Button_style-link-main:active {
  .controls-Button__icon-link-main_iconStyle-default {
    color: @color_Link-main-text_hovered;
  }
  color: @color_Link-main-text_hovered;
}

.controls-Button_style-link-main3:active {
  color: @color_Link-main3-text_hovered;
}

.controls-Button_type-link:active{
  .controls-BaseButton__text {
    text-decoration: underline;
  }
}

.controls-Button__icon-default_iconStyle-error, .controls-Button__icon-default-big_iconStyle-error, .controls-Button__icon-iconButtonBordered_iconStyle-error,
.controls-Button__icon-primary_iconStyle-error, .controls-Button__icon-primary-big_iconStyle-error, .controls-Button__icon-link-main_iconStyle-error {
  color: @color-Icon_style_error;
}

.controls-Button__icon-default_iconStyle-done, .controls-Button__icon-default-big_iconStyle-done, .controls-Button__icon-iconButtonBordered_iconStyle-done,
.controls-Button__icon-primary_iconStyle-done, .controls-Button__icon-primary-big_iconStyle-done, .controls-Button__icon-link-main_iconStyle-done {
  color: @color-Icon_style_done;
}

.controls-Button__icon-default_iconStyle-attention, .controls-Button__icon-default-big_iconStyle-attention, .controls-Button__icon-iconButtonBordered_iconStyle-attention,
.controls-Button__icon-primary_iconStyle-attention, .controls-Button__icon-primary-big_iconStyle-attention, .controls-Button__icon-link-main_iconStyle-attention {
  color: @color-Icon_style_attention;
}

.controls-Button__icon-link-main_iconStyle-default {
   color: @color_Link-main-icon;
}

.controls-Button__icon-iconButtonBordered_iconStyle-default {
   color: @color-IconButtonBordered_default;
}

.controls-Button__wrapper_type-button_size-m {
  padding: @padding_Button-wrapper_default;
  .justify-content(center);
}

.controls-Button__wrapper_type-button_size-l {
  padding: @padding_Button-Vdom-wrapper_l;
  .justify-content(center);
}
.controls-Button__text_gap {
  margin-left: @spacing_Button-between-icon-text;
}
// перенес в vDom, чтобы не было пересечения со старыми кнопками
// изменено имя в остальном стили аналогичны
.controls-BaseButton__content {
  .button-wrapper-default-style();
  &:before {
    content: "\200b";
  }
}

.controls-Button_style-primary-add:active {
   .controls-Button__icon-primary-add_iconStyle-default {
      color: @color_Button-style-addButton-icon_hovered;
   }
}

.ws-is-no-touch {
   .controls-Button_style-primary-add:hover {
      .controls-Button__icon-primary-add_iconStyle-default {
         color: @color_Button-style-addButton-icon_hovered;
      }
   }
  .controls-Button_style-primary:hover, .controls-Button_style-primary-add:hover {
    border-color: @border-color_Button_primary_hovered;
    background: @background_Button_primary_hovered;
  }

  .controls-Button_style-primary:active, .controls-Button_style-primary-add:active {
    background: @background_Button_primary_active;
  }
  .controls-Button_style-default:hover {
    border-color: @border-color_Button_hovered;
    background: @background_Button_hovered;
  }
  .controls-Button_style-default:active {
    background: @background_Button_active;
  }
}
// баг ие10, дочерний элемент контейнера с флексом неправильно рассчитывает свои размеры
// вследствии чего обрезание текста происходит неверно
.ws-is-ie10 {
  .controls-Button__text {
    display: inline-block;
    -ms-flex-negative: 1;
  }
}