<span class="controls-Button__close">
    <span class="controls-Button__close__wrapper controls-Button__close_{{_options.style}} controls-Button__close_background_{{_options.background}}">
        <span class="controls-Button__close__icon controls-Button__close__icon_{{_options.style}}"></span>
    </span>
</span>
