.controls-SlidingPanel__animation-position-bottom {
   transition: bottom var(--animation-duration_slidingPanel);
}

.controls-SlidingPanel__animation-position-top {
   transition: top var(--animation-duration_slidingPanel);
}

.controls-SlidingPanel {
   height: 100%;
   display: flex;
   flex-direction: column;
}

.controls-SlidingPanel__content {
   height: 100%;
   display: flex;
   flex-direction: column;
   overflow: hidden;
}

.controls-SlidingPanel__box-shadow {
   box-shadow: var(--box-shadow_slidingPanel);
}

.controls-SlidingPanel__position-bottom {
   border-radius: var(--border-radius-position-bottom_slidingPanel);
}

.controls-SlidingPanel__position-top {
   border-radius: var(--border-radius-position-top_slidingPanel);
}

.controls-SlidingPanel__content {
   background-color: var(--background-color_slidingPanel);
}

.controls-SlidingPanel__controller {
   margin: auto;
   flex-shrink: 0;
}

.controls-SlidingPanel__closeButton {
   display: flex;
   align-items: baseline;
   flex-shrink: 0;
}

.controls-SlidingPanel__customContent-wrapper {
   flex: 1;
   min-height: 0;
   display: flex;
   flex-direction: column;
}

.controls-SlidingPanel__customContent {
   min-height: 100%;
}

.controls-SlidingPanel__customContent-scroll-available {
   flex-shrink: 1;
}

.controls-SlidingPanel__customContent-scroll-disabled {
   flex-shrink: 0;
}

.controls-SlidingPanel__controller-container {
   width: 100%;
   flex-shrink: 0;
   padding: var(--controlButton-offset-top_slidingPanel) 0 var(--controlButton-offset-bottom_slidingPanel) 0;
}

.controls-SlidingPanel__controller {
   width: var(--controlButton-width_slidingPanel);
   height: var(--controlButton-height_slidingPanel);
   border-radius: var(--controlButton-border-radius_slidingPanel);
   background-color: var(--controlButton-background-color_slidingPanel);
   margin: 0 auto;
}
