.controls-SelectorSuggest__arrow-wrapper:hover {
   color: @color-SelectorSuggest__separator-icon_style-secondary_hovered;
}

.controls-SelectorSuggest__arrow-wrapper {
   display: inline-flex;
   align-items: center;
   margin-right: @spacing_SelectorSuggest-between-arrow-rightBorder;
   cursor: pointer;
   height: 100%;
   color: @color-SelectorSuggest__separator-icon_style-secondary;
   padding-right: @spacing_SelectorSuggest-between-arrow-rightBorder;
}

.controls-SelectorSuggest__arrow-wrapper:before {
   content: "\200b";
}

.controls-SelectorSuggest__iconArrow {
   .icon-size-without-important(@size-SelectorSuggest__separator-icon);
}
