<SBIS3.CONTROLS:Link
   className="controls-ExportCustomizer-Area__presets__add"
   >
   <ws:caption>
      <ws:if data="{{presetsAddTitle}}">{{presetsAddTitle}}</ws:if><ws:else>{[НастройщикЭкспорта@@+ Новый шаблон]}</ws:else>
   </ws:caption>
</SBIS3.CONTROLS:Link>