<div class="js-controls-CompositeView__verticalItemActions controls-CompositeView__verticalItemActions">
    <div class="controls-ListView__itemCheckBox js-controls-ListView__itemCheckBox"></div>
    <div class="controls-CompositeView__tileImg-container">
        <img class="controls-CompositeView__tileImg" src="{{item.get(image) ? item.get(image) : '/resources/SBIS3.CONTROLS/themes/online/img/defaultFolder.png'}}" />
    </div>
    <div class="controls-CompositeView__tileTitle" style="{{decorators.apply(color, 'color')}}">{{decorators.apply(item.get(description))}}</div>
</div>