<SBIS3.CONTROLS.TextBox
   class="controls-Browser-ColumnsEditor-Editing-Area__Preset-input"
   name="controls-Browser-ColumnsEditor-Editing-Area__Preset-input"
   text="{{'title'|mutable:'Новый шаблон'}}"
/>