<div class="controls-Browser-ColumnsEditor-Editing-Area__Preset-item">

   <!--^^^<span class="controls-Browser-ColumnsEditor-Editing-Area__Preset-item-text">{{item[displayProperty]}}</span>--->

   <SBIS3.CONTROLS.Browser.ColumnsEditor.Preset.Dropdown
      name="controls-Browser-ColumnsEditor-Editing-Area__Preset-item-title"
      className="controls-Browser-ColumnsEditor-Editing-Area__Preset-item-title"
      staticPresets="{{staticPresets}}"
      presetNamespace="{{presetNamespace}}"
      selectedPresetId="{{selectedPresetId}}"
      >
      <ws:title>
         <ws:String>
            <ws:if data="{{presetsTitle}}">{{presetsTitle}}</ws:if>
            <ws:else>{[РедакторКолонок@@Выберите шаблон]}</ws:else>
         </ws:String>
      </ws:title>
   </SBIS3.CONTROLS.Browser.ColumnsEditor.Preset.Dropdown>
</div>