<span class="controls-Browser-ColumnsEditor-Editing-Area__view-item">
   <span class="controls-ListView__itemCheckBox js-controls-ListView__itemCheckBox controls-ListView__itemCheckBox__showByHover"></span>
   <span class="controls-Browser-ColumnsEditor-Editing-Area__view-item-text"
         title="{{selectedKeys && selectedKeys.indexOf(item.getId()) !== -1 ? rk('РедакторКолонок@@Скрыть колонку') : rk('РедакторКолонок@@Показать колонку')}} &#8221;{{item[displayProperty]}}&#8221; ">{{item[displayProperty]}}</span>
</span>