<span class="controls-Browser-ColumnsEditor-Editing-Area__view-item">
   <span class="controls-ListView__itemCheckBox js-controls-ListView__itemCheckBox"></span>
   <span class="controls-Browser-ColumnsEditor-Editing-Area__view-item-text" title="{[Выбрать другой пресет]}">{{item[displayProperty]}}</span>
</span>