<ws:partial template="tmpl!SBIS3.CONTROLS/ListView/resources/ItemTemplate" class="{{selectedKeys && selectedKeys.indexOf(item.getId()) !== -1 ? ' controls-ListView__item__multiSelected'}}" scope="{{...}}"></ws:partial>