<div class="example-Area">
   <div class="example-Base__title">Multiline input field</div>
   <div class="example-Base__specify">Dynamic height</div>
   <Controls.Input.Area placeholder="Helpful tip"
                        maxLines="{{7}}"
                        bind:value="_value1"/>
   <div class="example-Base__specify example-Base__specify_detached">Fixed height</div>
   <Controls.Input.Area placeholder="Helpful tip"
                        minLines="{{4}}"
                        maxLines="{{4}}"
                        bind:value="_value2"/>
</div>