<div class="controls-TimeHeader">
   <div class="controls-TimeHeader__containerBlock">
      <div class="controls-TimeHeader__startBlock">
         <div class="controls-TimeHeader__title">{[Время]}</div>
         <div class="controls-TimeHeader__toggleTime">
            <div
               class="controls-TimeHeader__time js-controls-TimeHeader__hours"
               title="{[Установить часы]}"
               data-bind="{
                  html: time/hours,
                  css: {
                     'controls-TimeHeader__time_active': active/hours,
                     'controls-TimeHeader__time_passive': active/minutes
                  }
               }"
            ></div>
            <div class="controls-TimeHeader__separator">:</div>
            <div
               class="controls-TimeHeader__time js-controls-TimeHeader__minutes"
               title="{[Установить минуты]}"
               data-bind="{
                  html: time/minutes,
                  css: {
                     'controls-TimeHeader__time_active': active/minutes,
                     'controls-TimeHeader__time_passive': active/hours
                  }
               }"
            ></div>
         </div>
      </div>
      <SBIS3.CONTROLS.Button.IconButton
         name="homeButton"
         className="controls-IconButton__round-border controls-TimeHeader__homeButton"
         icon="controld-TimeHeader__icon_size icon-small icon-Home3 icon-primary"
         tooltip="{[Установить текущее время]}"
      />
   </div>
</div>