<ws:partial
   template="{{_options.content}}"
   on:listCheckBoxClick="_onCheckBoxClickHandler()"
   on:selectedTypeChanged="_selectedTypeChangedHandler()"
   on:listAfterItemsRemove="_afterItemsRemoveHandler()"
/>
