<div class="controls-VDomInputs" style="margin: 32px; display: flex; flex-direction: row;">
   <Controls-demo.Input.AreaNew.Area/>
   <Controls-demo.Input.NumberNew.Number/>
   <Controls-demo.Input.TextNew.Text />
   <Controls-demo.Input.Mask.Mask />
   <Controls-demo.Input.Phone.Phone />
</div>