.controls-Button__closeButton {
  display: inline-block;
  width: @closeButtonWidth;
  height: @closeButtonHeight;
  background: @closeButtonImage;
  &:hover {
    background: @closeButtonImageHover;
  }
  &:active {
    background: @closeButtonImageHover;
  }
}

.controls-Menu {
  &.controls-Menu__Popup {
    .controls-MenuButton__Menu-whiteLine {
      background: transparent !important;
    }
  }
}

.controls-CheckBox {
   .controls-CheckBox__icon {
      user-select: none;
   }
}

.controls-NumberTextBox {
  .controls-NumberTextBox__afterFieldWrapper {
    margin: 0 -4px 0 0;
  }

  &:hover {
    .controls-NumberTextBox__afterFieldWrapper {
      .controls-NumberTextBox__arrowUp {
        border-top: 1px solid @primary-color;
      }

      .controls-NumberTextBox__arrowDown {
        border-bottom: 1px solid @primary-color;
      }
    }
  }
}

.controls-ListView__item__selected {
   .controls-DataGridView__td:first-child {
      background-image: url('img/rowSelect.png');
      background-position: left top;
      background-repeat: repeat-y;
   }
}

.controls-Switcher {
   background: @secondary-background-color;
   &.controls-Checked__checked {
      background: @primary-color;
   }
}
.controls-Switcher__btn {
   background: @white-color;
   border-color: @white-color !important;
   box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.4);;
}
.controls-ComboBox {
  &.controls-Picker__show {
    border: @default-border-width solid @border-color_ComboBox_withPicker;
  }
}
.controls-ComboBox__picker {
  .border-radius(0 0 2px 2px);
}
