.controls-informationIcon {
   position: absolute;
   height: @text-box-height / 3;
   right: 0;
   top: 0;
   .controls-Button__icon {
      .icon-size(@text-box-information-icon-size);
      position: absolute;
      right: 0;
   }
}