.controls-BreadCrumbsView__items {
    display: inline-flex;
    overflow: hidden;
    max-width: 100%;
}
.controls-BreadCrumbsView__crumb__edge {
    flex-shrink: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow:hidden;
    max-width: 50%;
}
.controls-BreadCrumbsView__items__middle {
    width: 100%;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    height: 18px;
    flex-shrink:1;
}
.controls-BreadCrumbsView__crumb {
    display: inline-block;
    background: green;
    overflow: hidden;
    max-width: 100%;
    min-width: 30px;
}
.controls-BreadCrumbsView__menu {
    background: yellow;
    float: right;
    position: relative;
    top: -22px;
    margin-bottom: -22px;
    z-index: 5;
}
.controls-BreadCrumbsView__menu__dots {
    position: absolute;
    top: 0;
    left: -12px;
    background: yellow;
}