<Controls.Selector.__BrowserWrapper scope="{{_options}}">
    <Controls.Selector.Container multiSelect="{{_options.multiSelectVisibility}}" keyProperty="{{_options.keyProperty}}">
        <Controls.Container.TreeMultiSelector>
            <Controls.Selector.__BrowserLayout scope="{{_options}}">
                <Controls.Selector.Tree.Container multiSelect="{{_options.multiSelectVisibility}}">
                    <ws:partial template="{{_options.content}}"/>
                </Controls.Selector.Tree.Container>
            </Controls.Selector.__BrowserLayout>
        </Controls.Container.TreeMultiSelector>
    </Controls.Selector.Container>
</Controls.Selector.__BrowserWrapper>