<ws:partial template="{{_options.content}}" scope="{{_options}}" itemActions="{{ [_itemAction] }}" visiblityCallback="{{_visibilityCallback}}" on:itemClick="_itemClick()" on:checkboxClick="_checkboxClick()"/>