.controls-TextArea {
   display: inline-block;
   vertical-align: top;
   position: relative;
   .border-radius(@text-area-border-radius);
   border-width: @text-area-border-width;
   border-style: @text-area-border-style;
   border-color: @text-area-border-color;
   background: @text-area-bg;
   padding: @text-area-field-padding;
   .box-sizing(border-box);

   .controls-TextArea__inputField {
      line-height: @text-area-field-line-height;
      position: absolute;
      overflow: auto;
      font: @text-area-field-font;
      color: @text-area-field-text-color;
      display: block;
      width: 100%;
      line-height: @text-area-field-line-height;
      //padding отсюда перенесен выше, чтобы autosize рассчитывался корректно
      resize: none;
      border: none;
      padding: 0;
      background: transparent;
      .box-sizing(border-box);
      // Internet Explorer 10+ placeholder
      .placeholder();
   }
   &.ws-has-focus {
      border-width: @text-area-focus-border-width;
      border-style: @text-area-focus-border-style;
      border-color: @text-area-focus-border-color;
      background: @text-area-focus-bg;

      .controls-TextArea__inputField {
         color: @text-area-field-focus-text-color;
      }
   }

   &.ws-validation-error {
      border-width: @text-area-error-border-width;
      border-style: @text-area-error-border-style;
      border-color: @text-area-error-border-color;
      background: @text-area-error-bg;

      .controls-TextArea__inputField {
         color: @text-area-field-error-text-color;
      }
   }

   &:hover {
      border-width: @text-area-hover-border-width;
      border-style: @text-area-hover-border-style;
      border-color: @text-area-hover-border-color;
      background: @text-area-hover-bg;

      .controls-TextArea__inputField {
         color: @text-area-field-hover-text-color;
      }
   }

   &.ws-disabled {
      border-width: @text-area-disabled-border-width;
      border-style: @text-area-disabled-border-style;
      border-color: @text-area-disabled-border-color;
      background: @text-area-disabled-bg;

      .controls-TextArea__inputField {
         color: @text-area-field-disabled-text-color;
      }

      //TODO временное решение для 230, в 240 будет автоматом
      &.controls-TextArea__hiddenIfEmpty {
         .controls-TextArea__inputField {
            position: absolute;
         }
         .controls-TextArea__disabled-wrapper{
            position: static;
            height: auto !important;
            min-height: 0 !important;
            &.controls-TextArea__disabled-wrapper-empty {
               height: 0 !important;
            }
         }
      }
   }

   &.controls-TextArea__autoheight {
      height: auto !important;
   }
   .controls-TextArea__disabled-wrapper{
      line-height: @text-area-field-line-height;
      top: @text-area-top-padding;
      left: @text-area-left-padding;
      right: @text-area-right-padding;
      bottom: @text-area-bottom-padding;
      background: @text-area-bg;
      padding: 0;
      box-sizing: border-box;
      overflow: auto;
      white-space: pre-wrap;
      text-overflow: ellipsis;
      word-wrap: break-word;
      min-height: @text-box-height - @text-area-top-padding - @text-area-bottom-padding - (@text-area-disabled-border-width * 2);
      &.controls-TextArea__disabled-wrapper-empty {
         color: @text-area-placeholder-color;
      }
   }
   .controls-TextArea__placeholder {
      position: absolute;
      top: 0;
      .text-overflow();
      color: @text-area-placeholder-color;
      font: @text-area-compat-placeholder-font;
      padding: @text-area-compat-placeholder-padding;
      text-align: @text-area-compat-placeholder-alignment;
   }
}
.controls-TextArea__heightInit {
   .controls-TextArea__disabled-wrapper {
      position: absolute;
      min-height: 0;
   }
   .controls-TextArea__inputField {
      position: static;
      height: 100%;
   }
}

@height-count: 10;  // Количество классов

.generate-height(@i: 1) when (@i =< @height-count) {
   .controls-TextArea__inputField__maxheight-@{i} {
      max-height: @i * @text-area-field-line-height;
   }
   .controls-TextArea__inputField__minheight-@{i} {
      min-height: @i * @text-area-field-line-height;
   }

   .generate-height(@i + 1);
}

.generate-height();