<div class="controls-TextArea">
   <div class="controls-TextArea__inputField {{heightclassName}}" contenteditable="{{enabled}}">{{displayedText|sanitize}}</div>
   <div class="controls-TextArea__placeholder{{(text || !enabled) ? ' ws-hidden' : ''}}">{{placeholder}}</div>
</div>