<Controls.filterPopup:Panel attr:class="controls-PanelFilter__width-m" items="{{items}}">
   <ws:itemTemplate templateName="tmpl!Controls-demo/OperationsPanel/Demo/resources/filterPanelItemsTemplate"/>
</Controls.filterPopup:Panel>