<div class="controls-FieldLinkSelector">
    <div class="controls-FieldLinkSelector__fieldLink-block{{_isEmptySelection(...) ? ' ws-hidden'}}">
        <ws:partial template="{{fieldLinkSpaceTemplate}}"/>
    </div>
    <SBIS3.CONTROLS.Link name="selector.link" caption="{{linkCaption}}" visible="{{_isEmptySelection(...)}}"/>
</div>