<Controls.Selector.Templates.Stack scope="{{_options}}">
    <ws:topArea>
        <ws:partial template="{{_options.topArea}}" attr:class="controls-Selector__stack-tabs"/>
    </ws:topArea>
</Controls.Selector.Templates.Stack>