<Controls.Popup.Templates.Stack.StackTemplate scope="{{_options}}" on:selectionChange="_selectionChange()">
    <ws:topArea>
        <ws:if data="{{_options.topArea || _options.multiSelectVisibility}}">
            <ws:if data="{{_options.topArea}}">
                <ws:partial template="{{_options.topArea}}"/>
            </ws:if>
            <ws:if data="{{_options.multiSelectVisibility && _selectionChanged}}">
                <Controls.Button style="buttonPrimary" caption="{[Выбрать]}" on:click="_selectButtonClick()" attr:class="controls-Selector__stack-selectButton"/>
            </ws:if>
        </ws:if>
    </ws:topArea>
</Controls.Popup.Templates.Stack.StackTemplate>