@color_DateLinkView-secondaryStyle:       @color_link;
@color_DateLinkView-secondaryStyle_hover: @color_link-hover;
@color_DateLinkView-infoStyle:            @color_additional;
@color_DateLinkView_readOnly:             @color_readOnly;
@height_DateSelectorBase:                 @height_s;
