@color_AdditionalParams-item:                            @color_link-hover;
@height_AdditionalParams-item:                           @height_control_default;
@spacing_AdditionalParams-between-leftBorder-content:   @spacing_default_xl + @spacing_default_s; //icon width + between icon - content spacing