@spacing_PropertyGrid-between-top-border-content:                     @spacing_default_l;
@spacing_PropertyGrid-between-right-border-content:                   @spacing_default_l;
@spacing_PropertyGrid-between-bottom-border-content:                  @spacing_default_l;
@spacing_PropertyGrid-between-left-border-content:                    @spacing_default_l;

@spacing_PropertyGrid-between-editors:                                @spacing_default_m;

@spacing_PropertyGrid-group-between-top-border-content:               @spacing_default_m;
@spacing_PropertyGrid-group-between-bottom-border-content:            @spacing_default_m;

@color_PropertyGrid-editor-label:                                     @color_additional;
@width-PropertyGrid_editor-caption:                                   @width-PropertyGrid_editor-caption_val;