@font-size_App__body:           @font-size_text_m;
@color_App-link:                @color_App-link_val;
@color_App-link_hover:          @color_App-link_hover_val;

//icon-default
@font-family_icon_size-default: @font-family_icon_size-m;
@size_icon_default:             @size_icon_m;
