@spacing_Base_between-topBorder-text:           0;
@spacing_Base_between-bottomBorder-text:        @spacing_Base_between-topBorder-text;
@spacing_Base_between-leftBorder-text:          @spacing_default_xs;
@spacing_Base_between-rightBorder-text:         @spacing_Base_between-leftBorder-text;
