@height_BreadCrumbs-items:                                              @height_control_default;
@font-size_BreadCrumbs-arrow:                                           @size_icon_s;
@color_BreadCrumbs-title:                                               @color_link;
@color_BreadCrumbs-title_hovered:                                       @color_link-hover;
@color_BreadCrumbs-arrow:                                               @color_secondary;
@color_BreadCrumbs-arrow_hovered:                                       @color_link-hover;

@min-width_BreadCrumbs_withOverflow:                                    @font-size_BreadCrumbs-arrow + @min-width_BreadCrumbs-text;

@max-width_BreadCrumbs-menu:                                            800px;
@height_BreadCrumbs-menuItem:                                           @height_control_l;
@min-width_BreadCrumbs-text:                                            36px;

//dragNDrop
@border-width_BreadCrumbs-item_dropTarget:                              @thickness_border_accent;
@border-radius_BreadCrumbs-item_dropTarget:                             4px;
@border-color_BreadCrumbs-item_dropTarget:                              @color_drop-target;

//Явно указываю шрифт на элементе, чтобы понять, что шрифт загрузился. Если нужный шрифт не загрузился, то текст отрисуется Courier New
@font-family_BreadCrumbs:                                               @font-family_text_default;

//TODO: при переходе на новый стандарт немножко меняются размеры иконки и всё это станет неактуальным
@height_BreadCrumbs-corner:                                             14px;
@width_BreadCrumbs-corner:                                              13px;
@background_BreadCrumbs-corner:                                         url('../img/BreadCrumbs_corner.svg');
