//default button
//sizes

@border-radius_Button_size_s:                          @height_control_default/2;
@padding_Button-wrapper_size_s:                        0 @spacing_default_l - @thickness_Button__border;


@border-radius_Button_size_m:                          @height_control_default/2;
@padding_Button-wrapper_size_m:                        0 @spacing_default_l - @thickness_Button__border;


@border-radius_Button_size_default:                    @height_control_default/2;
@padding_Button-wrapper_size_default:                  0 @spacing_default_l - @thickness_Button__border;

@border-radius_Button_size_l:                          @height_Button_size_l/2;
@padding_Button__wrapper_size_l:                       0 @spacing_default_xxl - @thickness_Button__border;


//common
@thickness_Button__border:                             @thickness_border_default;
@min-width_Button_common:                              @min-width_Button_common_val;


//toolButton
//sizes
@height-ToolButton_size-s:                             @height_control_default;
@width-ToolButton_size-s:                              @height-ToolButton_size-s;

@height-ToolButton_size-m:                             @height_control_m;
@width-ToolButton_size-m:                              @height-ToolButton_size-m;

@height-ToolButton_size-default:                       @height_control_m;
@width-ToolButton_size-default:                        @height-ToolButton_size-m;

@height-ToolButton_size-l:                            @size_icon_l;
@width-ToolButton_size-l:                             @height-ToolButton_size-l;

//common
@border-radius-ToolButton:                             @border-radius-ToolButton_val;
@border-width-ToolButton:                              @thickness_border_default;
@border-style-ToolButton:                              @border-style_solid;
@border-color-ToolButton:                              @border-color-ToolButton_val;
@border-color-ToolButton_readOnly:                     @border-color-ToolButton_readOnly_val;



//for support link with magic color, delete when complete https://online.sbis.ru/opendoc.html?guid=b8228090-19fe-454b-992f-bf31d9e96ca5
@color_Link_magic:                                     @color_Link_magic_val;
