//default button
//sizes
@height_Button_size_m:                                 @height_control_default;
@font-size_Button_size_m:                              @font-size_text_m;
@border-radius_Button_size_m:                          @height_Button_m/2;
@padding_Button-wrapper_size_m:                        0 @spacing_default_l - @thickness_Button__border;

@height_Button_size_l:                                 48px;
@font-size_Button_size_l:                              @font-size_text_3xl;
@border-radius_Button_size_l:                          @height_Button_size_l/2;
@padding_Button__wrapper_size_l:                       0 @spacing_default_xxl - @thickness_Button__border;

//common
@thickness_Button__border:                             @thickness_border_default;
@min-width_Button:                                     48px;
@box-shadow_Button:                                    none;
@box-shadow_Button_active:                             none;
@spacing_Button-between-icon-text:                     @spacing_default_s;

//readOnly
@color_Button_readOnly:                                @color_text_readonly;
@border-color_Button_readOnly:                         @color_text_readonly;

//styles
//primary
@color_Button__text_primary:                           @color_text_default;

@border-color_Button_primary:                          @color_primaryV;
@border-color_Button_primary_hovered:                  @border-color_Button_primary;

@background_Button_primary:                            @background_Button;
@background_Button_primary_hovered:                    @color17;
@background_Button_primary_active:                     @color20;
@background_Button-primary_readOnly:                   @background_Button;

//secondary
@color_Button__text_secondary:                         @color_text_default;

@border-color_Button_secondary:                        @color_secondary;
@border-color_Button_secondary_hovered:                @border-color_Button;

@background_Button_secondary:                          @background_Button;
@background_Button_secondary_hovered:                  @color18;
@background_Button_secondary_active:                   @color19;
@background_Button-secondary_readOnly:                 @background_Button;

//toolButton
//sizes
@height-ToolButton_size-m:                             @height_control_default;
@width-ToolButton_size-m:                              @height-ToolButton_size-m;

@height-ToolButton_size-l:                             28px;
@width-ToolButton_size-l:                              @height-ToolButton_size-l;

//common
@border-radius-ToolButton:                             2px;
@border-width-ToolButton:                              @thickness_border_default;
@border-style-ToolButton:                              solid;
@border-color-ToolButton:                              @color22;
@border-color-ToolButton_readOnly:                     @color22;

@box-shadow-ToolButton:                                0px 1px 4px @color21;
@box-shadow-ToolButton_activated:                      none;

@color-ToolButton_readOnly:                            @color_text_readonly;
@color-ToolButton__border_iconStyle-secondary_hovered: @color_border;

@background-color-ToolButton:                          @color23;
@background-color-ToolButton_transparent:              transparent;
@background-color-ToolButton_hovered:                  @background-color-ToolButton;
@background-color-IconButton_transparent_hovered:      @background-color-ToolButton_transparent;

//Link
//sizes
@font-size_Link-s:                                     @font-size_text_s;
@font-size_Link-m:                                     @font-size_text_m;
@font-size_Link-l:                                     @font-size_text_l;
@font-size_Link-xl:                                    @font-size_text_3xl;

@color_Link_readOnly:                                  @color_text_readonly;

//styles
@color_Link_info:                                      @color_unselected;
@color_Link-info_hovered:                              @color_unselected;
@color_Link_primary:                                   @color_primaryV;
@color_Link-primary_hovered:                           @color_primaryV;
@color_Link_secondary:                                 @color_link;
@color_Link-secondary_hovered:                         @color_link-hover;
@color_Link_danger:                                    @color_danger;
@color_Link-danger_hovered:                            @color_danger;
@color_Link_success:                                   @color_success;
@color_Link-success_hovered:                           @color_success
@color_Link_warning:                                   @color_warning;
@color_Link-warning_hovered:                           @color_warning;
@color_Link-default:                                   @color_text_default
@color_Link-default_hovered:                           @color_text_default;

//text-decoration
@text-decoration_Link-style-default:                   none;
@text-decoration_Link-style-secondary:                 none;
@text-decoration_Link-style-primary:                   none;
@text-decoration_Link-style-danger:                    none;
@text-decoration_Link-style-warning:                   none;
@text-decoration_Link-style-success:                   none;
@text-decoration_Link-style-info:                      none;

//for support link with magic color, delete when complete https://online.sbis.ru/opendoc.html?guid=b8228090-19fe-454b-992f-bf31d9e96ca5
@color_Link_magic:                                     @color24;
