//CheckBox
@height_CheckBox__clickArea:       @height_control_default;
@width_CheckBox__clickArea:        @width_control_s;
@font-size_CheckBox:               @font-size_text_m;

//iconBox
@color_CheckBox__iconBox:           @color2; //почему не #CCC ??
@color_CheckBox__iconBox_disabled:  @color_border_disabled;
@size_CheckBox__icon-box:           @size_icon_xs;

//icon
@color_CheckBox__icon_disabled:         @color_active-element_disabled;
@color_CheckBox__icon_enabled:          @color_active-element;
@size_CheckBox__iconSuccessful:         @size_icon_2s;
@top_CheckBox__iconSuccessful:          @content_0;
@left_CheckBox__iconSuccessful:         @spacing_default_xsl;
@size_CheckBox__iconTristate:           @size_icon_mini_s;

//caption
@color_CheckBox__caption_enabled:     @color_text_default;
@color_CheckBox__caption_disabled:    @color_text_readonly;
@line-height_CheckBox__caption:       @line-height_default;

//other
@padding-horizontal_CheckBox-caption:     @spacing_extra_xs;
@spacing_CheckBox-between-icon-caption:   @padding-horizontal_CheckBox-caption 0;
@width_CheckBox__border:                  @thickness_border_default;
