@max-width_ColumnsView_tile:                    @max-width_ColumnsView_tile_val;
@min-width_ColumnsView_tile:                    @min-width_ColumnsView_tile_val;
@side-spacing_ColumnsView_columns:              @side-spacing_ColumnsView_columns_val;
@vertical_spacing_ColumnsView_tile:             @vertical_spacing_ColumnsView_tile_val;
@shadow_ColumnsView_tile_normal:                @shadow_ColumnsView_tile_normal_val;
@shadow_ColumnsView_tile_hovered:               @shadow_ColumnsView_tile_hovered_val;
@border_ColumnsView_tile_normal:                @border_ColumnsView_tile_normal_val;
@border-color_ColumnsView_tile_marked:          @color-marker_val;
