@background-color_InformationPopup:          @background-color_default;
@border-color_InformationPopup_default:      @color_border_Notification_default;
@border-color_InformationPopup_success:      @color_success;
@border-color_InformationPopup_danger:       @color_danger;
@border-color_InformationPopup_warning:      @color_warning;
@border-width_InformationPopup:              @size_border_Notification;
@size_InformationPopup-shadow:               @size_shadow_default;
@color_InformationPopup-shadow:              @color_shadow_popup;

@border-color_SubmitPopup:                   @color_border_secondary;
@size_SubmitPopup-border:                    @thickness_border_default;
@border-color_SubmitPopup-footer-top:        @color_separator;
@spacing_SubmitPopup-between-content-border: @width_control_m;
@spacing_SubmitPopup-between-footer-border:  @spacing_default_xl;
@background-color_SubmitPopup-footer:        @background-color_footer;
@width_ConfirmationTemplate-l:               @width_ConfirmationTemplate-l_val;
@width_ConfirmationTemplate-m:               @width_ConfirmationTemplate-m_val;
