@background-color_InformationPopup:          @background-color_default;
@border-color_InformationPopup_default:      @color_border_Notification_default;
@border-color_InformationPopup_success:      @color_success;
@border-color_InformationPopup_danger:       @color_danger;
@border-color_InformationPopup_warning:      @color_warning;
@spacing_InformationPopup-window:            @spacing_default_m;
@border-width_InformationPopup:              @size_border_Notification;
@size_InformationPopup-shadow:               @size_shadow_default;
@color_InformationPopup-shadow:              @color_shadow_secondary;

@border-color_SubmitPopup:                   @color_border_secondary;
@size_SubmitPopup-border:                    @thickness_border_default;
@border-color_SubmitPopup-footer-top:        @color_border_input;
@spacing_SubmitPopup-between-content-border: 32px;
@spacing_SubmitPopup-between-footer-border:  @spacing_default_xl;
@background-color_SubmitPopup-footer:        @background-color_footer;
@width_SubmitPopup-big:                      440px;
@width_SubmitPopup-standard:                 350px;
