//message
@font-size_SubmitPopup-message:                     @size_Heading_l;
@font-weight_SubmitPopup-message:                   @font-weight_SubmitPopup-message_val;
@color_SubmitPopup-message:                         @color_text_default;
@spacing_SubmitPopup-between-message-border-bottom: @spacing_default_m;

//details
@font-size_SubmitPopup-details:                 @size_Heading_s;
@color_SubmitPopup-details:                     @color_SubmitPopup-details_val;

//button
@height_SubmitPopup-button:                  @height_control_default;
@spacing_SubmitPopup-between-footer-buttons: @spacing_default_m;
@min-width_SubmitPopup-button:               @min-width_SubmitPopup-button_val;
@min-width_SubmitPopup-button-small:         @min-width_SubmitPopup-button-small_val;
