//background-color
@background-color_dialogTemplate-content:      @background-color_default;
@background-color_dialogTemplate-top-area:     @background-color_default;
@background-color_dialogTemplate-footer:       @background-color_footer;

//caption
@color_DialogTemplate-caption-secondary:              @color_Heading_secondary;
@color_DialogTemplate-caption-primary:               @color_Heading_primary;
@color_DialogTemplate-caption-info:            @color_text_default;
@spacing_DialogTemplate-between-caption-border-left: @spacing_default_l;
@height_dialogTemplate_caption:                      @height_2xl;
@line-height_dialogTemplate_caption:                 @line-height_dialogTemplate_caption_val;//TODO убрать после https://online.sbis.ru/opendoc.html?guid=84a9522d-7f33-47c8-8b2e-905cd1acc335

//head
@font-size_dialogTemplate_head:                       @size_Heading_l;
@font-weight_dialogTemplate_head:                     @font-weight_dialogTemplate_head_val;
@spacing_dialogTemplate-between-head-border-right:    @spacing_dialogTemplate-between-head-border-right_val;
@spacing_DialogTemplate-between-content-close-button: @spacing_default_l;
@spacing_DialogTemplate-between-border-close-button:  @spacing_default_m;
@height_DialogTemplate-top-area:                      @height_DialogTemplate-top-area-val;

//border
@color-border_DialogTemplate:             @color_border_secondary;
@size_DialogTemplate-border:              @thickness_border_default;
@color_DialogTemplate-border-top-footer:  @color_separator;

@height_dialogTemplate_footer:  @height_dialogTemplate_footer_val;
//shadow
@size_DialogTemplate-shadow:     @size_shadow_default;
@color_DialogTemplate-shadow:    @color_shadow_popup;

@margin_dialogTemplate_head:                                              0 48px 0 0;
@height_dialogTemplate_caption:                                           44px;
@margin-left_dialogTemplate_caption:                                      12px;
@top_dialogTemplate_compatible_close-button:                              5px;
@spacing_StackTemplate-between-header-border:                             39px;
@spacing_DialogTemplate-between-header-border:                            40px;