@width_Paging-digitButton-ellipsis:                           @width_control_s;
@color_Paging-digitButton-ellipsis-text:                      @color_text_default;
@background-color_Paging-digitButton:                         @background-color_default;
@background-color_Paging-digitButton-ellipsis:                @background-color_default;
@background-color_Paging-digitButton_hover:                   @background-color_Paging-digitButton_hover_val;
@font-size_Paging-digitButton:                                @font-size_text_m;
@border-bottom-width_Paging-digitButton_marked:               @width-marker_m;
@border-color_Paging-digitButton_marked:                      @color-marker_val;
@min-width_Paging-digitButton:                                @min-width_Paging-digitButton_val;
@spacing_Paging-digitButton-between-buttons:                  @spacing_default_s;
@color_Paging-digitButton-text:                               @color_text_default;
