@import "Switch";

//ToggleCircle
@width_ToggleCircle:	@size_icon_xs;
@height_ToggleCircle:	@size_icon_xs;

//other
@color_DoubleSwitch-text_enabled_selected: @color_Switch-text__enabled_selected;
@color_DoubleSwitch-text_disabled_selected: @color_Switch-text__disabled_selected;

@line-height_DoubleSwitch__vertical: @font-size_text_m;

