@background-color_EditableArea_style_withBackground:                   @background_color_editing;

@spacing_EditableArea-between-editor-toolbar:                          @spacing_default_l;

/*
   Templates
 */
@border-width_EditableAreaTemplate-Base:                               @border-thickness_inputText;
@padding_EditableAreaTemplate-Base:                                    0 @padding-horizontal_inputText;

@font-size_EditableAreaTemplate-Base_style_accentHeader:               @font-size_3xl;
@font-weight_EditableAreaTemplate-Base_style_accentHeader:             bold;
@color_EditableAreaTemplate-Base_style_accentHeader:                   @primary_text-color;

@font-size_EditableAreaTemplate-Base_style_primary:               @font-size_3xl;
@font-weight_EditableAreaTemplate-Base_style_primary:             bold;
@color_EditableAreaTemplate-Base_style_primary:                   @primary_text-color;

@font-size_EditableAreaTemplate-Base_style_secondary:               @font-size_3xl;
@font-weight_EditableAreaTemplate-Base_style_secondary:             bold;
@color_EditableAreaTemplate-Base_style_secondary:                   @secondary_text-color;
