@background-color_EditableArea_style_withBackground:                   @background_color_editing;
@spacing_EditableArea-between-applyButton-closeButton:                 @spacing_default_l;
@spacing_EditableArea-between-editor-toolbar:                          @spacing_default_l;

/*
   Templates
 */
@border-width_EditableAreaTemplate-Base:                               @border-thickness_inputText;
@padding_EditableAreaTemplate-Base:                                    0 @padding-horizontal_inputText;

@font-size_EditableAreaTemplate-Base_style_accentHeader:               @font-size_3xl;
@font-weight_EditableAreaTemplate-Base_style_accentHeader:             bold;
@color_EditableAreaTemplate-Base_style_accentHeader:                   @primary_text-color;

@font-size_EditableAreaTemplate-Base_style_primary:               @font-size_3xl;
@font-weight_EditableAreaTemplate-Base_style_primary:             bold;
@color_EditableAreaTemplate-Base_style_primary:                   @primary_text-color;

@font-size_EditableAreaTemplate-Base_style_secondary:               @font-size_3xl;
@font-weight_EditableAreaTemplate-Base_style_secondary:             bold;
@color_EditableAreaTemplate-Base_style_secondary:                   @secondary_text-color;

//ApplyButton
@width_EditableArea-applyButton:                                @width-ToolButton_size-s;
@height_EditableArea-applyButton:                               @height-ToolButton_size-s;
@border-radius_EditableArea-applyButton:                        @border-radius-ToolButton;
@border-width_EditableArea-applyButton:                         @border-width-ToolButton;
@box-shadow_EditableArea-applyButton:                           @box-shadow-ToolButton;
@border-color_EditableArea-applyButton:                         @border-color-ToolButton;
@border-color_EditableArea-applyButton_hovered:                 @color_border;

//CloseButton
@width_EditableArea-closeButton:                                @width_EditableArea-closeButton_val;
@height_EditableArea-closeButton:                               @height-ToolButton_size-s;
@spacing_EditableArea-between-border-closeButton:               @spacing_EditableArea-between-border-closeButton_val;

@border-width_EditableArea-closeButton:                         @border-width-ToolButton;
@border-right-width_EditableArea-closeButton:                   @border-right-width_ItemActions-editAtPlace-closeButton_val;
@border-color_EditableArea-closeButton:                         @border-color-ToolButton;
@border-color_EditableArea-closeButton_hovered:                 @color_border;
@border-top-left-radius_EditableArea-closeButton:               @border-radius-ToolButton;
@border-top-right-radius_EditableArea-closeButton:              @border-top-right-radius_ItemActions-editAtPlace-closeButton_val;
@border-bottom-right-radius_EditableArea-closeButton:           @border-bottom-right-radius_ItemActions-editAtPlace-closeButton_val;
@border-bottom-left-radius_EditableArea-closeButton:            @border-radius-ToolButton;
@box-shadow_EditableArea-closeButton:                           @box-shadow-ToolButton;
@background-image_EditableArea-closeButton-icon:                @closeIconSvg-toolButton;
@background-image_EditableArea-closeButton-icon_hovered:        @closeIconSvg-toolButton-hovered;
@width_EditableArea-closeButton-icon:                           @width_ItemActions-editAtPlace-closeButton-icon_val;
@height_EditableArea-closeButton-icon:                          @height_ItemActions-editAtPlace-closeButton-icon_val;
@width_EditableArea-closeButton-icon_hovered:                   @width_ItemActions-editAtPlace-closeButton-icon_val;
@height_EditableArea-closeButton-icon_hovered:                  @height_ItemActions-editAtPlace-closeButton-icon_val;
