@height_FilterButton:                              @height_control_default;

@color_FilterButton_icon:                          @color_secondary;
@color_FilterButton_icon_hover:                    @color_link-hover;
@color_FilterButton_icon_active:                   @color_link-hover;
@color_FilterButton_icon_readOnly:                 @color_readOnly;
@font-size_FilterButton_icon:                      @size_icon_m;
@font-family_FilterButton_icon:                    @font-family_icon_size-m;

@color_FilterButton_text:                          @color_link;
@color_FilterButton_text_hover:                    @color_link-hover;
@color_FilterButton_text_active:                   @color_link-hover;
@color_FilterButton_text_readOnly:                 @color_readOnly;
@font-size_FilterButton_text:                      @font-size_text_m;

@color_FilterButton_arrow:                         @color_link;
@color_FilterButton_arrow_hover:                   @color_link-hover;
@color_FilterButton_arrow_active:                  @color_link-hover;
@color_FilterButton_arrow_readOnly:                @color_readOnly;
@font-size_FilterButton_arrow:                     @size_icon_s;
@font-family_FilterButton_arrow:                   @font-family_icon_size-s;

@color_FilterButton_clear:                         @color_info;
@font-size_FilterButton_clear:                     @size_icon_s;
@font-family_FilterButton_clear:                   @font-family_icon_size-s;

@spacing_FilterButton_between_icon_spaceTemplate:  @spacing_default_xs;
@spacing_FilterButton_between_icon_text:           @spacing_default_xs;
