//specific filterPanel width
@width_FilterPanel-size_m:                                    400px;
@width_FilterPanel-size_l:                                    600px;
@width_FilterPanel-size_xl:                                   800px;

//Header of filterPanel
@spacing_FilterPanel-between-resetButton-applyButton:         @spacing_default_xl;
@spacing_FilterPanel-between-applyButton-closeButton:         @spacing_default_xs;
@spacing_FilterPanel-between-panelHeading-topTemplate:        @spacing_default_xl;
@spacing_FilterPanel-between-topTemplate-resetButton:         @spacing_default_xl;

//Captions of filterPanel blocks
@font-size_FilterPanel-block-heading:                         @font-size_text_l;
@color_FilterPanel-block-heading:                             @color_Heading_secondary;
@height_FilterPanel-block-heading:                            @height_control_default;

//common block variables
@spacing_FilterPanel-content-bottomBorder:                    @spacing_default_l;

//PropertyGrid
@spacing_FilterPanel-between-leftBorder-propertyGrid:         @spacing_default_l + @spacing_default_xl + @spacing_default_s;//spacing between left side content + icon spacing + between icon content spacing;
@spacing_FilterPanel-between-rightBorder-propertyGrid:        @spacing_default_l;

//AdditionalParams
@spacing_FilterPanel-between-leftBorder-additionalParams:     @spacing_default_l;
@spacing_FilterPanel-between-rightBorder-additionalParams:    @spacing_default_l;
@spacing_FilterPanel-between-propertyGrid-additionalParams:   @spacing_default_l;

//History vertical
@spacing_FilterPanel-between-topBorder-history_vertical:      @spacing_default_l;
@spacing_FilterPanel-between-leftBorder-history_vertical:     @spacing_default_l;
@spacing_FilterPanel-between-rightBorder-history_vertical:    @spacing_default_l;
@spacing_FilterPanel-between-bottomBorder-history_vertical:   @spacing_default_l;

@background-color_FilterPanel-history_vertical:               @color26;

//History horizontal
@spacing_FilterPanel-between-topBorder-history_horizontal:    @spacing_default_s;
@spacing_FilterPanel-between-leftBorder-history_horizontal:   @spacing_default_l;
@spacing_FilterPanel-between-rightBorder-history_horizontal:  @spacing_default_l;
@spacing_FilterPanel-between-bottomBorder-history_horizontal: @spacing_default_l;

@border-left_FilterPanel-history_horizontal:                  @thickness_border_default solid @color_border;

//Expandable block's
@max-height_FilterPanel-expandable-block:                     @height_control_default*5; //max height depends on default control height. By control standard must be visible only 5 rows.
@height_FilterPanel-button-expand:                            26px;

//Popup shift
@shift-top_FilterButton-popup:                                -11px;
@shift-left_FilterButton-popup:                               9px;
