
// Counter
@font-size_Counter_size-l:                                       18px;
@font-size_Counter_size-s:                                       14px;
@font-size_Counter_size-m:                                       15px;
@color_Counter_style-primary_hovered:                            #D94700;
@color_Counter_style-secondary_hovered:                          #0055BB;
@color_Counter_style-secondary:                                  #313E78;
@color_Counter_style-primary:                                    #D94700;
@color_Counter_style-disabled:                                   #999999;

// Separator
@width-HeaderSeparator:                                          6px;
@height-HeaderSeparator:                                         10px;
@spacing-HeaderSeparator_between_headerSeparator_Header:         10px;
@color_HeaderSeparator_secondary:                                #729EE6;
@color_HeaderSeparator_primary:                                  #729EE6;
@color_HeaderSeparator_primary_hovered:                          #729EE6;
@color_HeaderSeparator_secondary_hovered:                        #729EE6;