@color_HistoryMenu-pin:                                        @color_info;
@color_HistoryMenu-pin_hovered:                                @color_link-hover;
@spacing_HistoryMenu-between-itemCaption-rightBorder:          @spacing_default_s + @size_icon_s + @spacing_default_l;
@spacing_HistoryMenu-between-pin-rightBorder:                  @spacing_default_l;
@icon-size_HistoryMenu-pin:                                    @size_icon_s;