@padding-top_Infobox:                  @spacing_default_m;
@padding-bottom_Infobox:               @spacing_default_m;
@padding-left_Infobox:                 @spacing_default_l;
@padding-right_Infobox:                @spacing_default_l;

@max-width_Infobox:                    500px;
@margin-right_Infobox-message:         18px;
@size_Infobox-float-element:           18px;
@infobox-distance-to-target:           14px;
@spacing_Infobox-between-target-popup: 14px;

//arrow
@size_Infobox-arrow: 12px;
@length_Infobox-arrow-diagonal: 16px; //~ sqrt(@infobox-arrow-size^2 + @infobox-arrow-size^2)
@horizontal-offset_Infobox-arrow: 12px;
@vertical-offset_Infobox-arrow: 9px;

//close-button
@top_Infobox-close-button:          @spacing_default_xs;
@right_Infobox-close-button:        @spacing_default_s;
@color_Infobox-close-button:        @color_info;
@color_Infobox-close-button_hover:  @color_link-hover;

//background
@background-color_Infobox_default:      @background-color_default;
@background-color_Infobox_lite:         #F4F9FD;
@background-color_Infobox_help:         #FFF9F3;
@background-color_Infobox_error:        @infobox-bg-style-default;

//border
@border-color_Infobox_default:         @color_border_secondary;
@border-color_Infobox_lite:            @infobox-border-color-style-default;
@border-color_Infobox_help:            @infobox-border-color-style-default;
@border-color_Infobox_error:           @color_border_error;
@border-width_Infobox:                 @thickness_border_default;

//shadow
@color_Infobox-shadow_default:         @color_shadow_secondary;
@color_Infobox-shadow_lite:            @infobox-shadow-color-style-default;
@color_Infobox-shadow_help:            @infobox-shadow-color-style-default;
@color_Infobox-shadow_error:           rgba(239, 70, 58, 0.4);
@box-shadow_Infobox:                   @size_shadow_default;
