@infobox-padding-top:                @spacing_default_m;
@infobox-padding-bottom:             @spacing_default_m;
@infobox-padding-left:               @spacing_default_l;
@infobox-padding-right:              @spacing_default_l;

@infobox-max-width:                  500px;
@infobox-message-margin-right:       18px;
@infobox-float-element-size:         18px;
@infobox-distance-to-target:         14px;

//arrow
@infobox-arrow-size:                 12px;
@infobox-arrow-diagonal-length:      16px; //~ sqrt(@infobox-arrow-size^2 + @infobox-arrow-size^2)
@infobox-arrow-horizontal-offset:    12px;
@infobox-arrow-vertical-offset:      9px;

//close-button
@infobox-close-button-top:           @spacing_default_xs;
@infobox-close-button-right:         @spacing_default_s;
@infobox-close-button-color:         @color_info;
@infobox-close-button-hover-color:   @color_link-hover;

//background
@infobox-bg-style-default:           @background-color_default;
@infobox-bg-style-lite:              #F4F9FD;
@infobox-bg-style-help:              #FFF9F3;
@infobox-bg-style-error:             @infobox-bg-style-default;

//border
@infobox-border-color-style-default: @color_border_secondary;
@infobox-border-color-style-lite:    @infobox-border-color-style-default;
@infobox-border-color-style-help:    @infobox-border-color-style-default;
@infobox-border-color-style-error:   @color_border_error;
@infobox-border-size:                @thickness_border_default;

//shadow
@infobox-shadow-color-style-default: @color_shadow_secondary;
@infobox-shadow-color-style-lite:    @infobox-shadow-color-style-default;
@infobox-shadow-color-style-help:    @infobox-shadow-color-style-default;
@infobox-shadow-color-style-error:   rgba(239, 70, 58, 0.4);
@infobox-shadow-position:            @size_shadow_default;
