//text
@color_InputRender:                     @color_text_default;
@color_InputRender-placeholder:         @color_placeholder;
@color_InputRender_style_header:        @color_Heading_secondary;
@color_InputRender_style_accentHeader:  @color_Heading_primary;

//background
@background-color_InputRender:                @background-color_default;
@background-color_InputRender_disabled:       @background-color_InputRender_disabled_val;
@background-color_InputRender_error:          @background-color_danger;

//font
@font-size_InputRender_default:                   @font-size_text_m;
@font-size_InputRender_m:                         @font-size_text_m;
@font-size_InputRender_l:                         @font-size_text_3xl;
@font-size_InputRender_style_header:              @font-size_text_3xl;
@font-size_InputRender_style_accentHeader:        @font-size_text_3xl;
@font-weight_InputRender_style_header:            @font-weight_InputRender_style_header_val;
@font-weight_InputRender_style_accentHeader:      @font-weight_InputRender_style_accentHeader_val;

//height
@height_InputRender_default:              @height_control_default;
@height_InputRender_m:                    @height_control_default;
@height_InputRender_l:                    @height_control_default;
@line-height_InputRender_default:         @line-height_default;
@line-height_InputRender_m:               @line-height_default;
@line-height_InputRender_l:               @line-height_InputRender_l_val;

@padding_InputRender:                        0 @horizontal-padding_InputRender_val;
@horizontal-padding_InputRender:             @horizontal-padding_InputRender_val;



//border
@border-width_InputRender:            @thickness_border_default;
@border-color_InputRender:            @border-color_input @border-color_input @color_border @border-color_input;
@border-color_InputRender_hover:      @border-color_input @border-color_input #AAB0C1 @border-color_input;
@border-color_InputRender_active:     @border-color_input @border-color_input #AAB0C1 @border-color_input;
@border-color_InputRender_disabled:   transparent transparent @color_border_disabled transparent;
@border-color_InputRender_error:      @color_border_danger;

//tagStyle
@height_InputRender-tagStyle:           @height_InputRender-tagStyle_val;
@width_InputRender-tagStyle:            @width_InputRender-tagStyle_val;
@color_InputRender-tagStyle_secondary:  @color_secondary;
@color_InputRender-tagStyle_success:    @color_success;
@color_InputRender-tagStyle_primaryV:    @color_primaryV;
@color_InputRender-tagStyle_danger:     @color_danger;
@color_InputRender-tagStyle_info:       @color_info;
@color_InputRender-tagStyle_warning:    @color_warning;


