@height_ItemActions_inside:                                                @height_control_default;
@height_ItemActions_outside:                                               @height_ItemActions_outside_val;
@min-height_ItemActions-action-title:                                      @height_xs;
@height_ItemActions-action:                                                @inline_height_m;
@width_ItemActions-action:                                                 @inline_height_m;

@spacing_ItemActions-between-content-border-top_position_inside:           @spacing_ItemActions-between-content-border-top_position_inside_val;
@spacing_ItemActions-between-content-border-right_position_inside:         @spacing_default_s;
@spacing_ItemActions-between-content-border-bottom_position_inside:        @spacing_ItemActions-between-content-border-bottom_position_inside_val;
@spacing_ItemActions-between-content-border-left_position_inside:          @spacing_default_s;

@spacing_ItemActions-between-content-border-top_position_outside:          @spacing_ItemActions-between-content-border-top_position_outside_val;
@spacing_ItemActions-between-content-border-right_position_outside:        @spacing_default_s;
@spacing_ItemActions-between-content-border-bottom_position_outside:       @spacing_ItemActions-between-content-border-bottom_position_outside_val;
@spacing_ItemActions-between-content-border-left_position_outside:         @spacing_ItemActions-between-content-border-left_position_outside_val;

@spacing_ItemActions-between-actions:                                      @spacing_default_s;

@background-color_ItemActions:                                             @background-color_ListView-item_hover;
@background-color_ItemActions_style_master:                                @background-color_List-masterList-item_hover;
@background-color_ItemActions_editing:                                     @background_color_editing;
@background-color_ItemActions_outside:                                     @background-color_ListView-item_hover;

@width_ItemActions-decorativeEdge:                                         @height_control_default;

@font-size_ItemActions-icon_size_s:                                        @size_icon_s;
@font-size_ItemActions-icon_size_m:                                        @size_icon_m;
@font-family_ItemActions-icon_size_s:                                      @font-family_icon_size-s;
@font-family_ItemActions-icon_size_m:                                      @font-family_icon_size-m;

@color_ItemActions-icon_style_danger:                                      @color_danger;
@color_ItemActions-icon_style_danger_hover:                                @color_danger;
@color_ItemActions-icon_style_success:                                     @color_success;
@color_ItemActions-icon_style_success_hover:                               @color_success;
@color_ItemActions-icon_style_secondary:                                   @color_secondary;
@color_ItemActions-icon_style_secondary_hover:                             @color_link-hover;
@color_ItemActions-icon_style_warning:                                     @color_warning;
@color_ItemActions-icon_style_warning_hover:                               @color_warning;

@color_ItemActions-title:                                                  @color_link;
@color_ItemActions-title_hover:                                            @color_link-hover;

@font-size_ItemActions-title:                                              @font-size_text_m;

@border-color_ItemActions-action_style_danger:                             @color_border_danger;
@border-color_ItemActions-action_style_success:                            @color_success;

@font-family_ItemActions-editAtPlace-applyButton:                          @font-family_icon_size-s;
@font-family_ItemActions-editAtPlace-applyButton_hovered:                  @font-family_icon_size-s;
@font-family_ItemActions-editAtPlace-applyButton_active:                   @font-family_icon_size-s;

// EditAtPlace
// Apply button
@icon-size_ItemActions-editAtPlace-applyButton:                            @size_icon_s;
@icon-size_ItemActions-editAtPlace-applyButton_hovered:                    @size_icon_s;
@icon-size_ItemActions-editAtPlace-applyButton_active:                     @size_icon_s;
@width_ItemActions-editAtPlace-applyButton:                                @width-ToolButton_size-s;
@height_ItemActions-editAtPlace-applyButton:                               @height-ToolButton_size-s;
@width_ItemActions-editAtPlace-applyButton_hovered:                        @width-ToolButton_size-s;
@height_ItemActions-editAtPlace-applyButton_hovered:                       @height-ToolButton_size-s;
@width_ItemActions-editAtPlace-applyButton_active:                         @width-ToolButton_size-s;
@height_ItemActions-editAtPlace-applyButton_active:                        @height-ToolButton_size-s;
@color_ItemActions-editAtPlace-applyButton-icon:                           @color_success;
@color_ItemActions-editAtPlace-applyButton-icon_hovered:                   @color_success;
@color_ItemActions-editAtPlace-applyButton-icon_active:                    @color_success;
@text-shadow_ItemActions-editAtPlace-applyButton-icon:                     @text-shadow_ToolButton;
@text-shadow_ItemActions-editAtPlace-applyButton-icon_hovered:             @text-shadow_ToolButton;
@text-shadow_ItemActions-editAtPlace-applyButton-icon_active:              @text-shadow_ToolButton;
@border-radius_ItemActions-editAtPlace-applyButton:                        @border-radius-ToolButton;
@border-width_ItemActions-editAtPlace-applyButton:                         @border-width-ToolButton;
@box-shadow_ItemActions-editAtPlace-applyButton:                           @box-shadow-ToolButton;
@box-shadow_ItemActions-editAtPlace-applyButton_hovered:                   @box-shadow-ToolButton;
@box-shadow_ItemActions-editAtPlace-applyButton_active:                    @box-shadow-ToolButton;
@background-color_ItemActions-editAtPlace-applyButton:                     @background-color-ToolButton_transparent;
@background-color_ItemActions-editAtPlace-applyButton_hovered:             @background-color-ToolButton_transparent;
@background-color_ItemActions-editAtPlace-applyButton_active:              @background-color-ToolButton_transparent;
@border-color_ItemActions-editAtPlace-applyButton:                         @border-color-ToolButton;
@border-color_ItemActions-editAtPlace-applyButton_hovered:                 @color_border;
@border-color_ItemActions-editAtPlace-applyButton_active:                  @color_border;

// Close button
@width_ItemActions-editAtPlace-closeButton:                                @width_EditableArea-closeButton_val;
@height_ItemActions-editAtPlace-closeButton:                               @height-ToolButton_size-s;
@width_ItemActions-editAtPlace-closeButton_hovered:                        @width_EditableArea-closeButton_val;
@height_ItemActions-editAtPlace-closeButton_hovered:                       @height-ToolButton_size-s;
@width_ItemActions-editAtPlace-closeButton_active:                         @width_EditableArea-closeButton_val;
@height_ItemActions-editAtPlace-closeButton_active:                        @height-ToolButton_size-s;
@width_ItemActions-editAtPlace-closeButton-icon:                           @width_ItemActions-editAtPlace-closeButton-icon_val;
@height_ItemActions-editAtPlace-closeButton-icon:                          @height_ItemActions-editAtPlace-closeButton-icon_val;
@width_ItemActions-editAtPlace-closeButton-icon_hovered:                   @width_ItemActions-editAtPlace-closeButton-icon_val;
@height_ItemActions-editAtPlace-closeButton-icon_hovered:                  @height_ItemActions-editAtPlace-closeButton-icon_val;
@width_ItemActions-editAtPlace-closeButton-icon_active:                    @width_ItemActions-editAtPlace-closeButton-icon_val;
@height_ItemActions-editAtPlace-closeButton-icon_active:                   @height_ItemActions-editAtPlace-closeButton-icon_val;
@border-top-left-radius_ItemActions-editAtPlace-closeButton:               @border-radius-ToolButton;
@border-top-right-radius_ItemActions-editAtPlace-closeButton:              @border-top-right-radius_ItemActions-editAtPlace-closeButton_val;
@border-bottom-right-radius_ItemActions-editAtPlace-closeButton:           @border-bottom-right-radius_ItemActions-editAtPlace-closeButton_val;
@border-bottom-left-radius_ItemActions-editAtPlace-closeButton:            @border-radius-ToolButton;
@border-color_ItemActions-editAtPlace-closeButton:                         @border-color-ToolButton;
@border-color_ItemActions-editAtPlace-closeButton_hovered:                 @color_border;
@border-color_ItemActions-editAtPlace-closeButton_active:                  @color_border;
@border-top-width_ItemActions-editAtPlace-closeButton:                     @border-width-ToolButton;
@border-right-width_ItemActions-editAtPlace-closeButton:                   @border-right-width_ItemActions-editAtPlace-closeButton_val;
@border-bottom-width_ItemActions-editAtPlace-closeButton:                  @border-width-ToolButton;
@border-left-width_ItemActions-editAtPlace-closeButton:                    @border-width-ToolButton;
@box-shadow_ItemActions-editAtPlace-closeButton:                           @box-shadow-ToolButton;
@box-shadow_ItemActions-editAtPlace-closeButton_hovered:                   @box-shadow-ToolButton;
@box-shadow_ItemActions-editAtPlace-closeButton_active:                    @box-shadow-ToolButton;
@background-image_ItemActions-editAtPlace-closeButton-icon:                @closeIconSvg-toolButton;
@background-image_ItemActions-editAtPlace-closeButton-icon_hovered:        @closeIconSvg-toolButton-hovered;
@background-color_ItemActions-editAtPlace-closeButton:                     @background-color-ToolButton_transparent;
@background-color_ItemActions-editAtPlace-closeButton_hovered:             @background-color-ToolButton_transparent;
@background-color_ItemActions-editAtPlace-closeButton_active:              @background-color-ToolButton_transparent;
