@color_Label-asterisk:                          @color_danger;

@color_Label-caption_underline_none:            @color_additional;
@font-size_Label-caption:                       @font-size_text_m;

@color_Label-caption_underline_hovered:         @color_additional;
@color_Label-caption_underline_hovered_hover:   @color_additional;
@color_Label-caption_underline_hovered_readOnly:@color_readOnly;

@color_Label-caption_underline_fixed:           @color_additional;
@color_Label-caption_underline_fixed_hover:     @color_link-hover;
@color_Label-caption_underline_fixed_readOnly:  @color_readOnly;