@color_ListView-empty:                                    @color_text_additional;
@spacing_ListView-empty-top_xs:                           0;
@spacing_ListView-empty-top_s:                            @spacing_default_s;
@spacing_ListView-empty-top_m:                            @spacing_default_l;
@spacing_ListView-empty-top_l:                            @spacing_default_xl;
@spacing_ListView-empty-top_xl:                           @spacing_default_xxl;
@spacing_ListView-empty-top_xxl:                          44px;
@spacing_ListView-empty-bottom_xs:                        0;
@spacing_ListView-empty-bottom_s:                         @spacing_default_s;
@spacing_ListView-empty-bottom_m:                         @spacing_default_l;
@spacing_ListView-empty-bottom_l:                         @spacing_default_xl;
@spacing_ListView-empty-bottom_xl:                        @spacing_default_xxl;
@spacing_ListView-empty-bottom_xxl:                       44px;