// list item spacing
@spacing_ListView-item-around-content_xs: 0px;
@spacing_ListView-item-around-content_s: @spacing_default_s;
@spacing_ListView-item-around-content_m: @spacing_default_m;
@spacing_ListView-item-around-content_l: @spacing_default_l;
@spacing_ListView-item-around-content_xl: @spacing_default_xl;
@spacing_ListView-item-around-content_xxl: @spacing_default_xxl;
