@color_ListView-empty:                                            @color_text_additional;

@spacing_ListView-empty-between-content-borderTop_xs:             0;

@spacing_ListView-empty-between-content-borderTop_s:              @spacing_default_s;
@spacing_ListView-empty-between-content-borderTop_m:              @spacing_default_l;
@spacing_ListView-empty-between-content-borderTop_l:              @spacing_default_xl;
@spacing_ListView-empty-between-content-borderTop_xl:             @spacing_default_xxl;
@spacing_ListView-empty-between-content-borderTop_xxl:            44px;

@spacing_ListView-empty-between-content-borderBottom_xs:          0;
@spacing_ListView-empty-between-content-borderBottom_s:           @spacing_default_s;
@spacing_ListView-empty-between-content-borderBottom_m:           @spacing_default_l;
@spacing_ListView-empty-between-content-borderBottom_l:           @spacing_default_xl;
@spacing_ListView-empty-between-content-borderBottom_xl:          @spacing_default_xxl;
@spacing_ListView-empty-between-content-borderBottom_xxl:         44px;

// list item spacing
@spacing_ListView-item-between-content-borderRight_xs:            0;
@spacing_ListView-item-between-content-borderLeft_xs:             0;

@spacing_ListView-item-between-content-borderRight_s:             @spacing_default_s;
@spacing_ListView-item-between-content-borderLeft_s:              @spacing_default_s;

@spacing_ListView-item-between-content-borderRight_m:             @spacing_default_m;
@spacing_ListView-item-between-content-borderLeft_m:              @spacing_default_m;

@spacing_ListView-item-between-content-borderRight_l:             @spacing_default_l;
@spacing_ListView-item-between-content-borderLeft_l:              @spacing_default_l;

@spacing_ListView-item-between-content-borderRight_xl:            @spacing_default_xl;
@spacing_ListView-item-between-content-borderLeft_xl:             @spacing_default_xl;

@spacing_ListView-item-between-content-borderRight_xxl:           @spacing_default_xxl;
@spacing_ListView-item-between-content-borderLeft_xxl:            @spacing_default_xxl;

@width_ListView-marker:                                           @width-marker_m;
@color_ListView-marker:                                           @color-marker;

@spacing_ListView-item-between-checkbox-borderTop:                3px;
@spacing_ListView-between-content-checkbox:                       0px;

@spacing_ListView-item-between-content-borderTop:                 @spacing_default_s;
@spacing_ListView-item-between-content-borderBottom:              @spacing_default_s;

@background-color_ListView-item_active:                           @color18;
@background-color_ListView-item_hover:                            @color18;
@background-color_ListView-item_editing:                          @background_color_editing;

@opacity_ListView-item_dragging:                                  0.6;

@spacing_ListView-groupSeparator-between-content-borderTop:       @height_control_default/2 - @thickness-group-separator;
@spacing_ListView-groupSeparator-between-content-borderBottom:    @height_control_default/2;

@spacing_ListView-between-groupSeparator-groupBorder:             @spacing-group-between-text-separator;
@border-width_ListView-groupSeparator:                            @thickness-group-separator;
@border-color_ListView-groupSeparator:                            @color-group-separator;
@font-size_ListView-groupExpander:                                @font-size_text_xl;
@spacing_ListView-group-between-text-separator:                   @spacing-group-between-text-separator;
@color_ListView-group-text:                                       @color_unselected;
@font-size_ListView-group-text:                                   @font-size_text_s;
@width_ListView-groupExpander:                                    @size_icon_s;
@spacing_ListView-group-between-text-expander:                    @spacing_default_s;
@color_ListView-groupExpander_hover:                              @color_link-hover;
@color_ListView-groupExpander_active:                             @color_link-hover;
@spacing_ListView-group-between-rightTemplate-separator:          @spacing-group-between-text-separator;

@border-color_List-masterList:                                    @color4;
@background-color_List-masterList:                                @background-color_additional;
@border-width_List-masterList-right:                              @spacing_default_xs;
@border-width_List-masterList-item-top:                           @thickness_border_default;
@border-width_List-masterList-item-right:                         0;
@border-width_List-masterList-item-bottom:                        @thickness_border_default;
@border-width_List-masterList-item-left:                          0;
@border-color_List-masterList-item_selected-top:                  @color301;
@border-color_List-masterList-item_selected-right:                transparent;
@border-color_List-masterList-item_selected-bottom:               @color302;
@border-color_List-masterList-item_selected-left:                 transparent;
@background-color_List-masterList-item_selected:                  @background-color_default;
@background-color_List-masterList-item_marked:                    @background-color_default;
@background-color_List-masterList-item_hover:                     @background-color_default;
@box-shadow_List-masterList-item_selected:                        4px 0 8px rgba(0,0,0,.15);
