//size
@font-size_Lookup-showSelector:                @size_icon_s;
@font-size_Lookup-clearRecords:                @size_icon_s;
@line-height_Lookup-input-wrapper:             @height_control_default;
@font-size_LookupLink:                         @font-size_text_m;
@line-height_LookupLink:                       @height_control_default;

//color
@color_Lookup-showSelector:                    @color_additional;
@color_Lookup-showSelector_hovered:            @color_link-hover;
@color_Lookup-showSelector_active:             @color_link-hover;
@color_Lookup-clearRecords:                    @color_additional;
@color_Lookup-clearRecords_hovered:            @color_link-hover;
@color_Lookup-clearRecords_active:             @color_link-hover;
@color_LookupLink:                             @color_additional;
@color_LookupLink_hovered:                     @color_link-hover;
@color_LookupLink_active:                      @color_link-hover;

//spacing
@spacing_Lookup-between-showSelector-border:   @spacing_default_xs;
@spacing_Lookup-between-clearRecords-border:   @spacing_default_xs;
@spacing_Lookup-multiLine-between-inputRenderWrapper-rightBorderLookup: @font-size_Lookup-showSelector + 2 * @spacing_Lookup-between-showSelector-border;
@spacing_Lookup-between-inputRender-leftBorder: @spacing_default_xs;
@spacing_Lookup-between-inputRender-rightBorder: @spacing_Lookup-between-inputRender-rightBorder_val;
@spacing_Lookup-between-input-beforeFieldWrapper: @spacing_default_xs;
@spacing_Lookup-between-input-afterFieldWrapper: @spacing_default_xs;
