//size
@font-size_Lookup_showSelector:                @size_icon_s;
@font-size_Lookup_clearRecords:                @size_icon_s;
@line-height_Lookup_input_wrapper:             @height_control_default;

//color
@color_Lookup_showSelector:                    @color_secondary;
@color_Lookup_showSelector_hovered:            @color_link-hover;
@color_Lookup_showSelector_active:             @color_link-hover;
@color_Lookup_clearRecords:                    @color_additional;
@color_Lookup_clearRecords_hovered:            @color_link-hover;
@color_Lookup_clearRecords_active:             @color_link-hover;
@color_LookupLink:                             @color_additional;

//spacing
@spacing_Lookup_between_showSelector_border:   @spacing_default_xs;
@spacing_Lookup_between_clearRecords_border:   @spacing_default_xs;
@spacing_Lookup_multiLine_between_inputRenderWrapper_rightBorder:   @font-size_Lookup_showSelector + 2 * @spacing_Lookup_between_showSelector_border;
