//icons
@size_Lookup-icon:                             @size_icon_s;
@padding_Lookup-icon:                          (@size_icon_m - @size_icon_s) / 2;

//color
@color_Lookup-showSelector:                    @color_secondary;
@color_Lookup-showSelector-hovered:            @color_link-hover;
@color_Lookup-clearRecords:                    #8991A9;
@color_Lookup-clearRecords-hovered:            @color_link-hover;
@color_LookupLink:                             #8991A9;

//spacing
@spacing_Lookup-for-showSelector:              @size_icon_m;

//size
@line-height_Lookup-input-wrapper:             @height_control_default;
