@border-width_List-masterList-right:                              4px;
@border-width_List-masterList-item_selected:                      @thickness_border_default 0;
@border-color_List-masterList-item_selected:                      @color301 transparent @color302 transparent;
@box-shadow_List-masterList-item_selected:                        4px 0 8px rgba(0,0,0,.15);
@background-color_List-masterList-item_selected:                  @background-color_default;
@background-color_List-masterList-item_marked:                    @background-color_default;
@background-color_List-masterList-item_hover:                     @background-color_default;
