@background_MonthView:                                            @background-color_default;
@background_MonthView-item:                                       #F4F4F4;
@background_MonthView-item-selected:                              #F0F5FB;
@background_MonthView-item-hover:                                 #E6ECFA;
@height_MonthView-item:                                           39px;
@border-thickness__MonthView-item:                                @border-thickness;
@width_MonthView:                                                 281px;
@height_MonthSlider:                                              300px;
@height_MonthSlider-header:                                       28px;
@height_MonthSlider-weekdays:                                     39px;
@margin-left_MonthSlider-home-button:                             8px;
@min-width_MonthSlider-header-title:                              110px;
@color_MonthSlider-header-title:                                  @color_secondary;
@color_MonthView-weekDayHeader:                                   #999999;
@font-size_MonthView-item:                                        @font-size_text_l;
@font-size_MontView-weekDayHeader:                                @font-size_text_s;
@border-color__MonthView-item-selected:                           #8991A9;
@width__MonthView-item-selected-startEnd-hover:                   3px;
@border-color__MonthView-item-hover:                              #8991A9;
@border-color__MonthView-item-selected-startEnd-hover:            #0055BB;
@color_MonthView-item:                                            @color_text_default;
@color_MonthView-item-weekend:                                    #D94700;
@color_MonthView-item-today:                                      #FFFFFF;
@background-color_MonthView-item-today:                           #DA4600;
@background-spacing_MonthView-item-today:                         5px;
@border-radius_MonthView-item-today:                              50%;
@background-color_MonthView-item-today:                           #DA4600;
