@width_MoveDialog:         400px;
@height_MoveDialog:        448px;
@spacing_MoveDialog-between-leftBorder-and-root:      @spacing_default_l;
@spacing_MoveDialog-between-title-and-root:           @spacing_default_xs;
@spacing_MoveDialog-between-table-and-root:           @spacing_default_xs;