// sizes
// common
@width_PeriodDialog:                        @width_PeriodDialog_val;
@height_PeriodDialog:                       @height_PeriodDialog_val;
@border-width_PeriodDialog:                 @thickness_border_default;
// header
@color_PeriodDialog-header-dash:                                @color_text_default;
@thickness_PeriodDialog-header-dash:                            @thickness_PeriodDialog-header-dash_val;
@height_PeriodDialog-header:                                    @height_2xl;
@spacing_PeriodDialog-header-between-borderLeft-content:        @spacing_PeriodDialog-header-between-borderLeft-content_val;
@spacing_PeriodDialog-header-between-stateButton-date:          @spacing_default_l;
@spacing_PeriodDialog-header-between-applyButton-otherElements: @spacing_default_l;
@width_PeriodDialog-header-dash:                                @width_DateRange-dash;
@spacing_PeriodDialog-header-between-dash-date:                 @spacing_DateRange-between-dash-date;
// years range
@height_PeriodDialog-years:                           @height_2xl;
@width_PeriodDialog-years-leftRight:                  @width_PeriodDialog-years-leftRight_val;
@height_PeriodDialog-years-rangeButton:               @height_l;
@width_PeriodDialog-year-rangeButton:                 @width_PeriodDialog-yearRange-year;
@font-size_PeriodDialog-years-rangeButton:            @font-size_text_m;
@font-size_PeriodDialog-years-displayed-year:         @font-size_text_l;
// month range
@height_PeriodDialog-monthRange-monthWrapper:         @dimentions_PeriodDialog-monthRange-monthWrapper;
@width_PeriodDialog-monthRange-monthWrapper:          @dimentions_PeriodDialog-monthRange-monthWrapper;
@spacing_PeriodDialog-monthRange-monthWrapper-between-content-leftRightBorder: @spacing_default_xs;
@border-width_PeriodDialog-monthRange:                @thickness_border_default;
@border-width_PeriodDialog-monthRange-additional:     @spacing_default_xs;
@height_PeriodDialog-monthRange-month-date:           @height_PeriodDialog-monthRange-month-date_val;
@width_PeriodDialog-monthRange-month-date:            @height_PeriodDialog-monthRange-month-date;
@font-size_PeriodDialog-monthRange-month-date:        @font-size_PeriodDialog-monthRange-month-date_val;
@height_PeriodDialog-monthRange-month-title:          @height_PeriodDialog-monthRange-month-title_val;
@font-size_PeriodDialog-monthRange-month-title:       @font-size_text_m;
@height_PeriodDialog-monthRange-header:               @height_xl;
@height_PeriodDialog-monthRange-quarter:              @height_PeriodDialog-monthRange-monthWrapper;
@font-size_PeriodDialog-monthRange-header:            @font-size_text_l;
@font-size_PeriodDialog-monthRange-halfYears:         @font-size_text_3xl;
@font-size_PeriodDialog-monthRange-quarters:          @font-size_text_l;
@border-width_PeriodDialog-monthRange-halfYears:      @thickness_border_accent;
@width_PeriodDialog-monthRange-month-selectionEdge:   @thickness_border_default;
@outline_PeriodDialog-monthRange-month:               @outline_PeriodDialog-dateRange;
// date range
@width_PeriodDialog-dateRange-monthPanel:                 @width_PeriodDialog-dateRange-monthPanel_val;
@font-size_PeriodDialog-dateRange-months-button:          @font-size_text_m;
@height_PeriodDialog-dateRange-months-button:             @height_l;
@spacing_PeriodDialog-dateRange-monthPanel-between-content-leftRightBorder: @spacing_default_l;
@border-width_PeriodDialog-dateRange-months-button:       @thickness_border_default;
@font-size_PeriodDialog-dateRange-months-nextYearButton:  @font-size_text_l;
@height_PeriodDialog-dateRange-monthsWithDates-title:     @height_control_xl;
@font-size_PeriodDialog-dateRange-monthsWithDates-title:  @font-size_text_3xl;
@height_PeriodDialog-dateRange-header:                    @height_2xl;
@font-size_PeriodDialog-dateRange-header:                 @font-size_text_l;
@font-weight_PeriodDialog-dateRange-header-year:          @font-weight_PeriodDialog-dateRange-header-year_val;

// colors
// common
@background-color_PeriodDialog:                           @background-color_default;
@border-color_PeriodDialog:                               @color_border_secondary;
@background-color__PeriodDialog-header:					    @background-color_header;
// years
@color_PeriodDialog-years-rangeButton:                    @color_text_additional;
@color_PeriodDialog-years-displayed-year:                 @color_Heading_primary;
@color_PeriodDialog-years-current-year:                   @color_Heading_secondary;
// date range
@color_PeriodDialog-dateRange-header-workday:             @color_additional;
@color_PeriodDialog-dateRange-header-weekend:             @color_Heading_primary;
@color_PeriodDialog-dateRange-header-year:                @color_Heading_primary;
// month range
@border-color_PeriodDialog-monthRange:                                @color_border_PeriodDialog;
@color_PeriodDialog-monthRange-month-title:                           @color_Heading_secondary;
@border-color_PeriodDialog-monthRange-month:                          @color_additional;
@color_PeriodDialog-monthRange-header:                                @color_Heading_primary;
@color_PeriodDialog-monthRange-halfyearsAndQuarters:                  @color_Heading_secondary;
@border-color_PeriodDialog-monthRange:                                @color_border_PeriodDialog;
@border-color_PeriodDialog-monthRange-halfyearsAndQuarters_selected:  @color_border_secondary;
@color_PeriodDialog-dateRange-months-button:                          @color_text_default;
// date range
@background-color_PeriodDialog-dateRange-months-button:               @background-color_PeriodDialog-dateRange-months-button_val;
@background-color_PeriodDialog-dateRange-months-button_hover:         @background-color_PeriodDialog-dateRange-months-button_hover_val;
@border-color_PeriodDialog-dateRange-months-button_hover:             @color_additional;
@color_PeriodDialog-dateRange-months-nextYearButton:                  @color_Heading_primary;
@border-color_PeriodDialog-dateRange-months-nextYearButton:           @color_Heading_primary;
@color_PeriodDialog-dateRange-monthsWithDates-title:                  @color_Heading_secondary;
@border-color_PeriodDialog-dateRange-monthsWithDates-title_hover:     @color_additional;
@background-color_PeriodDialog-dateRange-monthsWithDates-title:       @background-color_PeriodDialog-dateRange-monthsWithDates-title_val;
@background-color_PeriodDialog-dateRange-monthsWithDates-title_hover: @background-color_PeriodDialog-dateRange-monthsWithDates-title_hover_val;
@background-color_PeriodDialog-dateRange-months-nextYearButton:       @background-color_PeriodDialog-dateRange-months-nextYearButton_val;
@background-color_PeriodDialog-dateRange-months-nextYearButton_hover: @background-color_PeriodDialog-dateRange-months-nextYearButton_hover_val;
@border-color_PeriodDialog-dateRange-months:                          @color_border_PeriodDialog;
// additional styles
// can be used in different controls that open the period selection panel
@shift-top_PeriodDialog-picker: -((@height_PeriodDialog-header - @inline_height_default)/2 + @border-width_PeriodDialog);
@shift-left_PeriodDialog-picker: -(@spacing_PeriodDialog-header-between-borderLeft-content + @border-width_PeriodDialog + @size_icon_s + @spacing_PeriodDialog-header-between-stateButton-date);
@shift-left_PeriodDialog-picker-withoutModeBtn: -(@spacing_PeriodDialog-header-between-borderLeft-content + @border-width_PeriodDialog);

@shift-top_PeriodDialog-selector: floor((@height_DateSelectorBase - @height_PeriodDialog-header)/2) - @border-width_PeriodDialog;
