@process-state-indicator-sector1: @success-color;
@process-state-indicator-sector2: @warning-color;
@process-state-indicator-sector3: @error-color;
@process-state-indicator-empty-sector: @disabled-color;

@process-state-indicator-sector-side-padding: process-state-indicator-sector-side-padding_val;

@process-state-indicator-sector-width: process-state-indicator-sector-width_val;
@process-state-indicator-sector-height: process-state-indicator-sector-height_val;
@process-state-indicator-sector-spacing: process-state-indicator-sector-spacing_val;