@color-ProgressBar__bar: @color1;
@color-ProgressBar__progress: @color_Heading_primary;
@color-ProgressBar__info: @color2;
@height-ProgressBar_bar: 3px;
@height-ProgressBar__info: 24px;
@font-size-ProgressBar__info: 12px;
@font-size-ProgressBar__percent-compactLayout: 12px;
@font-size-ProgressBar__percent-defaultLayout: 14px;
@side-padding-ProgressBar__percent-defaultLayout: 8px;
@side-margin-ProgressBar_bar-compactLayout: 10px;