@import "Switch";
//RadioItem
@height_RadioItem:                        @height_control_default;

//caption
@color_RadioItem__caption_selected:	            @color_text_default;
@color_RadioItem__caption_unselected_disabled:	@color_text_disabled;
@color_RadioItem__caption_unselected_enabled:    @color_unselected;

//spacing
@spacing-between-radioItems_horizontal:     12px;
@spacing-between-radioItems_vertical:       8px;
@spacing-between-radioItem-icon-caption:    6px;


