//Local variables
@border-color_input:                                        @border-color_input_val;

@border-color-bottom_Render:                                @border-color-bottom_Render_val;

//placeholder
@color_Render-placeholder:                                  @color_placeholder;

//border
@border-width_Render:                                       @thickness_border_default;

//size
@height_Render_size_s:                                      @height_control_default;
@height_Render_size_m:                                      @height_control_default;
@height_Render_size_l:                                      @height_control_default;
@height_Render_size_default:                                @height_control_default;

@border-radius_Render_size_s:                               @height_Render_size_s / 2;
@border-radius_Render_size_m:                               @height_Render_size_m / 2;
@border-radius_Render_size_l:                               @height_Render_size_l / 2;
@border-radius_Render_size_default:                         @height_Render_size_default / 2;

//style
@border-color_Render_style_info:                            @border-color_input @border-color_input @color_info @border-color_input;
@border-color_Render_style_danger:                          @color_danger;
@border-color_Render_style_invalid:                         @color_danger;
@border-color_Render_style_primary:                         @color_primaryV;
@border-color_Render_style_success:                         @color_success;
@border-color_Render_style_warning:                         @color_warning;

@border-color_Render_style_info_hover:                      @border-color_input @border-color_input @border-color-bottom_Render @border-color_input;
@border-color_Render_style_danger_hover:                    @color_danger;
@border-color_Render_style_invalid_hover:                   @color_danger;
@border-color_Render_style_primary_hover:                   @color_primaryV;
@border-color_Render_style_success_hover:                   @color_success;
@border-color_Render_style_warning_hover:                   @color_warning;

@border-color_Render_style_info_active:                     @border-color_input @border-color_input @border-color-bottom_Render @border-color_input;
@border-color_Render_style_danger_active:                   @color_danger;
@border-color_Render_style_invalid_active:                  @color_danger;
@border-color_Render_style_primary_active:                  @color_primaryV;
@border-color_Render_style_success_active:                  @color_success;
@border-color_Render_style_warning_active:                  @color_warning;

@border-color_Render_style_info_readOnly:                   transparent transparent @color_border_disabled transparent;
@border-color_Render_style_danger_readOnly:                 @color_danger;
@border-color_Render_style_invalid_readOnly:                @color_danger;
@border-color_Render_style_primary_readOnly:                @color_primaryV;
@border-color_Render_style_success_readOnly:                @color_success;
@border-color_Render_style_warning_readOnly:                @color_warning;

@border-color_Render_style_info_readOnly_multiline:         @border-color_Render_style_info_readOnly_multiline_val;
@border-color_Render_style_danger_readOnly_multiline:       @color_danger;
@border-color_Render_style_invalid_readOnly_multiline:      @color_danger;
@border-color_Render_style_primary_readOnly_multiline:      @color_primaryV;
@border-color_Render_style_success_readOnly_multiline:      @color_success;
@border-color_Render_style_warning_readOnly_multiline:      @color_warning;

@background_Render_style_info:                              @background-color_default;
@background_Render_style_danger:                            @background-color_default;
@background_Render_style_invalid:                           @background-color_danger;
@background_Render_style_primary:                           @background-color_default;
@background_Render_style_success:                           @background-color_default;
@background_Render_style_warning:                           @background-color_default;

@background_Render_style_info_hover:                        @background-color_default;
@background_Render_style_danger_hover:                      @background-color_default;
@background_Render_style_invalid_hover:                     @background-color_danger;
@background_Render_style_primary_hover:                     @background-color_default;
@background_Render_style_success_hover:                     @background-color_default;
@background_Render_style_warning_hover:                     @background-color_default;

@background_Render_style_info_active:                       @background-color_default;
@background_Render_style_danger_active:                     @background-color_default;
@background_Render_style_invalid_active:                    @background-color_danger;
@background_Render_style_primary_active:                    @background-color_default;
@background_Render_style_success_active:                    @background-color_default;
@background_Render_style_warning_active:                    @background-color_default;

@background_Render_style_info_readOnly:                     @background-color_default;
@background_Render_style_danger_readOnly:                   @background-color_default;
@background_Render_style_invalid_readOnly:                  @background-color_danger;
@background_Render_style_primary_readOnly:                  @background-color_default;
@background_Render_style_success_readOnly:                  @background-color_default;
@background_Render_style_warning_readOnly:                  @background-color_default;

@background_Render_style_info_readOnly_multiline:           @background-color_default;
@background_Render_style_danger_readOnly_multiline:         @background-color_default;
@background_Render_style_invalid_readOnly_multiline:        @background-color_danger;
@background_Render_style_primary_readOnly_multiline:        @background-color_default;
@background_Render_style_success_readOnly_multiline:        @background-color_default;
@background_Render_style_warning_readOnly_multiline:        @background-color_default;

//fontStyle
@color_Render_fontStyle_default:                            @color_text_default;
@color_Render_fontStyle_primary:                            @color_Heading_primary;
@color_Render_fontStyle_secondary:                          @color_Heading_secondary;

@font-size_Render_fontStyle_default_size_s:                 @font-size_text_m;
@font-size_Render_fontStyle_primary_size_s:                 @font-size_text_3xl;
@font-size_Render_fontStyle_secondary_size_s:               @font-size_text_3xl;
@font-size_Render_fontStyle_default_size_m:                 @font-size_text_m;
@font-size_Render_fontStyle_primary_size_m:                 @font-size_text_3xl;
@font-size_Render_fontStyle_secondary_size_m:               @font-size_text_3xl;
@font-size_Render_fontStyle_default_size_l:                 @font-size_text_m;
@font-size_Render_fontStyle_primary_size_l:                 @font-size_text_3xl;
@font-size_Render_fontStyle_secondary_size_l:               @font-size_text_3xl;
@font-size_Render_fontStyle_default_size_default:           @font-size_text_m;
@font-size_Render_fontStyle_primary_size_default:           @font-size_text_3xl;
@font-size_Render_fontStyle_secondary_size_default:         @font-size_text_3xl;

@font-weight_Render_fontStyle_default_size_s:               @font-weight_Render_fontStyle_default_size_s_val;
@font-weight_Render_fontStyle_primary_size_s:               @font-weight_Render_fontStyle_primary_size_s_val;
@font-weight_Render_fontStyle_secondary_size_s:             @font-weight_Render_fontStyle_secondary_size_s_val;
@font-weight_Render_fontStyle_default_size_m:               @font-weight_Render_fontStyle_default_size_m_val;
@font-weight_Render_fontStyle_primary_size_m:               @font-weight_Render_fontStyle_primary_size_m_val;
@font-weight_Render_fontStyle_secondary_size_m:             @font-weight_Render_fontStyle_secondary_size_m_val;
@font-weight_Render_fontStyle_default_size_l:               @font-weight_Render_fontStyle_default_size_l_val;
@font-weight_Render_fontStyle_primary_size_l:               @font-weight_Render_fontStyle_primary_size_l_val;
@font-weight_Render_fontStyle_secondary_size_l:             @font-weight_Render_fontStyle_secondary_size_l_val;
@font-weight_Render_fontStyle_default_size_default:         @font-weight_Render_fontStyle_default_size_default_val;
@font-weight_Render_fontStyle_primary_size_default:         @font-weight_Render_fontStyle_primary_size_default_val;
@font-weight_Render_fontStyle_secondary_size_default:       @font-weight_Render_fontStyle_secondary_size_default_val;

//tagStyle
@size_Render-tagStyle:                                      @size_Render-tagStyle_val;

@color_Render-tagStyle_info:                                @color_info;
@color_Render-tagStyle_danger:                              @color_danger;
@color_Render-tagStyle_success:                             @color_success;
@color_Render-tagStyle_primary:                             @color_primaryV;
@color_Render-tagStyle_warning:                             @color_warning;
@color_Render-tagStyle_secondary:                           @color_secondary;
