// TODO use variables from _clean.less
@margin_Scrollbar:                                                2px;
@width_Scrollbar:                                                 4px;
@width_Scrollbar_animation:                                       12px;
@animation-duration_Scrollbar:                                    0.3s;
@min-height_Scrollbar-thumb:                                      46px;
@border-radius_Scrollbar-thumb:                                   2px;
@bg_Scrollbar-thumb_normal:                                       rgba(0, 0, 0, .1);
@bg_Scrollbar-thumb_active_normal:                                rgba(0, 0, 0, .15);
@bg_Scrollbar-thumb_inverted:                                     rgba(255, 255, 255, .2);
@bg_Scrollbar-thumb_active_inverted:                              rgba(255, 255, 255, .5);
@border-radius_Scrollbar-thumb_animation:                         5px;
//ScrollBar midline
@height_Scrollbar_mideline:                                       1px;
@background_Scrollbar_mideline:                                   #c1cde1;
@margin_horizontal_Scrollbar_mideline:                            12px;


@bg_Scrollbar-horizontal_thumb_normal:                            #587ab0;
@scale_Scrollbar-horizontal_thumb:                                1.5;
