//specific variables, used only in Search
@border-color_Search_active:                 #DFDFDF;
@background-color_Search:                    #F2F2F2;
@border-radius_Search:                       12px;

@border-right_content_spacing_Search:        @spacing_default_m;
@border-left_content_spacing_Search:         @spacing_default_l;

@border-color_Search:                        transparent;
@border-color_Search_readOnly:               transparent;

@background-color_Search_style_header:       @background-color_default;

@icon-size_Search:                           @size_icon_s;

@color_Search_iconSearch:                    @color_secondary;
@color_Search_iconSearch_hovered:            @color_link-hover;
@color_Search_iconSearch_readOnly:           @color_readOnly;
@color_Search_iconReset:                     @color_tertiary;

@iconReset-iconSearch_spacing:               @spacing_default_xs;