//color
@color_SelectedCollection_item-accent:          @color_Heading_secondary;
@color_SelectedCollection_item-primary:         @color_Heading_primary;
@color_SelectedCollection-counter:              @color_additional;
@color_SelectedCollection-counter-hover:        @color_link-hover;
@background_SelectedCollection:                 @background-color_default;

//cross
@color_SelectedCollection_cross:                @color_info;
@icon-size_SelectedCollection_cross:            @size_icon_s;

//text size
@line-height_SelectedCollection-item:           @height_control_default;
@font-size_SelectedCollection-size-m:           @font-size_text_m;
@font-size_SelectedCollection-size-l:           @font-size_text_l;
@font-size_SelectedCollection-size-h:           @font-size_text_2xl;

//sizes
@width_SelectedCollection-counter-shadow:       20px;

//spacing
@spacing_SelectedCollection-between-items:            @spacing_default_xs;
@spacing_SelectedCollection-between-counter-items:    @spacing_default_xs;

//popup
@border-color_SelectedCollection-popup:         @color_border;
@background-color_SelectedCollection-popup:     @background-color_default;
@shadow_SelectedCollection-popup:               0px 0px 12px 0px rgba(0,0,0,0.25);
@border-width_SelectedCollection-popup:         @thickness_border_default;
@padding_SelectedCollection-popup:              @spacing_default_xs;
@margin-top_SelectedCollection-popup:           -@spacing_default_xs;
@margin-left_SelectedCollection-popup:          -@spacing_default_xs;