//color
@color_SelectedCollection_item_accent:          @color_Heading_secondary;
@color_SelectedCollection_item_primary:         @color_Heading_primary;
@color_SelectedCollection_counter:              @color_additional;
@color_SelectedCollection_counter_hover:        @color_link-hover;
@color_SelectedCollection_counter_active:       @color_link-hover;
@background_SelectedCollection:                 @background-color_default;

//cross
@color_SelectedCollection_cross:                @color_info;
@icon-size_SelectedCollection_cross:            @size_icon_s;

//text size
@line-height_SelectedCollection_item:           @height_control_default;
@font-size_SelectedCollection_size_m:           @size_text_m;
@font-size_SelectedCollection_size_l:           @size_text_l;
@font-size_SelectedCollection_size_h:           @size_text_2xl;

//sizes
@width_SelectedCollection_counter_shadow:       20px;

//spacing
@spacing_SelectedCollection_between_items:            @spacing_default_xs;
@spacing_SelectedCollection_between_counter_items:    @spacing_default_xs;

//popup
@border-color_SelectedCollection_popup:         @color_border;
@background-color_SelectedCollection_popup:     @background-color_default;
@shadow_SelectedCollection_popup:               0px 0px 12px 0px rgba(0,0,0,0.25);
@border-width_SelectedCollection_popup:         @thickness_border_default;
@spacing_SelectedCollection_popup_between_content_border: @spacing_default_xs;
@shift-top_SelectedCollection_popup:           -@spacing_default_xs;
@shift-left_SelectedCollection_popup:          -@spacing_default_xs;