@background-color_StackTemplate:                               @background-color_default;
@min-height_StackTemplate-head:                                38px;
@background-color_StackTemplate-head:                          @background-color_additional;
@thickness_StackTemplate-border-bottom:                        @thickness_border_default;
@color_StackTemplate-border-bottom:                            @color_border_lite;

@spacing_StackTemplate-between-close-button-border-top:        5px;
@spacing_StackTemplate-between-maximized-button-content-top:   7px;
@spacing_StackTemplate-between-maximized-button-close-button:  @spacing_default_m;
@spacing_StackTemplate-between-content-close-button:           @spacing_default_xl;
@spacing_StackTemplate-between-caption-border-left:            @spacing_default_l;

@color_StackTemplate-caption_default:                          @color_Heading_secondary;
@font-size_StackTemplate-caption_default:                      @size_Heading_l;
@color_StackTemplate-caption_accent:                           @color_Heading_primary;
@font-size_StackTemplate-caption_accent:                       @size_Heading_l;
@color_StackTemplate-caption_small:                            @color_additional;
@font-size_StackTemplate-caption_small:                        @size_Heading_s;

@background-color_StackTemplate-footer:                        @background-color_additional;
