@state-indicator-sector1: @success-color;
@state-indicator-sector2: @warning-color;
@state-indicator-sector3: @error-color;
@state-indicator-empty-sector: @disabled-color;

@state-indicator-sector-side-padding: @state-indicator-sector-side-padding_val;

@state-indicator-sector-width: @state-indicator-sector-width_val;
@state-indicator-sector-height: @state-indicator-sector-height_val;
@state-indicator-sector-spacing: @state-indicator-sector-spacing_val;