//suggest container
@spacing_Suggest-contentLayer-between-topBorder-input:         -@spacing_default_m;
@spacing_Suggest-contentLayer-between-leftBorder-input:        -@spacing_default_l;
@box-shadow-size_Suggest-contentLayer:                         @size_shadow_default;
@box-shadow-color_Suggest-contentLayer:                        @color_shadow_default;
//@spacing_Suggest-contentLayer-between-topBorder-input * -1 to make positive
@spacing_Suggest-contentLayer-between-input-suggestions:       @height_control_default + (@spacing_Suggest-contentLayer-between-topBorder-input * -1) + @spacing_default_m; //input height + between input and top border spacing + between input and suggestions spacing
@border-color_Suggest-contentLayer:                            @color_border;
@border-width_Suggest-contentLayer:                            @thickness_border_default;

//close button
@spacing_Suggest-contentLayer-between-topBorder-close:         @spacing_default_s;

//tabs
@spacing_Suggest-contentLayer-between-tabs-input:              @margin-top_Suggest__tabs-contentLayer_val;
