@border-width_Switch:              @thickness_border_default;
@border-color_Switch:                              #E4E4E4;
@border-radius_Switch:             30px;
@background-color_Switch-track_enabled:             #CCC;
@background-color_Switch-track_disabled:            #E4E4E4;
@color_Switch-text_enabled_unselected:             #999;
@color_Switch-text_enabled_selected:	@color_text_default;
@color_Switch-text_disabled_selected:	 @color_text_default;
@color_Switch-text_disabled_unselected:	 @color_disabled;
@color_ToggleCircle_outerCircle_enabled_hovered:	 @color_active;
@color_ToggleCircle_innerCircle_selected_enabled : @color_active;
@color_ToggleCircle_innerCircle_selected_disabled:    #313E78;
@color_ToggleCircle_innerCircle_unselected:           none;
@color_ToggleCircle_outerCircle_enabled:           #CCCCCC;
@color_ToggleCircle_outerCircle_disabled:          #e4e4e4;
@color_ToggleCircle_outerCircle_enabled_hovered:   #FF7033;
@height_Switch:                    @height_control_default;
@length_Switch-track:                34px;
@thickness_Switch-track:               2px;
@size_Switch-marker:               12px;
@spacing_Switch-between-toggle-text:               6px;
@width_Switch:                     46px;

