//sizes
@height_Tabs-separator:                      @height_control_default/2;
@width_Tabs-separator:                       @thickness_border_default;
@border-width_Tabs:                          @thickness_border_default;
@padding_Tabs-item_default:                  @spacing_default_l;
@line-height_Tabs-baselineFix:               @height_Layout_header;
@height_Tabs:                                30px + @thickness_border_default;
@padding_Tabs-item:                          0 @padding_Tabs-item_default + @border-width_Tabs;
@font-size_Tabs-item:                        @size_text_m;
@font-size_Tabs-item_selected:               @size_text_l;
@max-width_Tabs_item:                        630px;
@border-width_Tabs-item_hover_selected:      2px;

//colors
@border-color_Tabs:                          @color25;
@background-color_Tabs-separator:            @color25;
@text-color_Tabs:                            @color_Heading_secondary;
@text-color_Tabs-item_selected_primary:      @color_Heading_primary;
@border-color_Tabs-item_selected_primary:    @color_Heading_primary;
@text-color_Tabs-item_selected_secondary:    @color_link;
@border-color_Tabs-item_selected_secondary:  @color_link;