@spacing_TileView-between-items:                   @spacing_default_l;
@border-width_TileView-item:                       @thickness_border_default;
@box-shadow-size_TileView-item:                    @size_shadow_default;
@max-height_TileView-title:                        36px;
@min-height_TileView-title:                        18px;
@spacing_TileView-between-title-border:            3px 4px;
@border-width_TileView-title:                      @thickness_border_default;
@width_TileView-itemActions-shadow:                24px;
@border-color_TileView-item:                       @color_border;
@background-color_TileView-item:                   @background-color_default;
//https://online.sbis.ru/opendoc.html?guid=ccfc82b8-d89f-4944-bd68-68dac6d7f202
@box-shadow-color_TileView-item:                   rgba(0,0,0,0.16);
//https://online.sbis.ru/opendoc.html?guid=ccfc82b8-d89f-4944-bd68-68dac6d7f202
@box-shadow-color_TileView-item_hover:             rgba(0,0,0,0.5);
@background-color_TileView-title:                  @background-color_item_hovered;
@border-color_TileView-title:                      @color_border;
@border-color_TileView-item_active:                @color_active-element;
@background-color_TileView-checkbox:               @background-color_default;