@spacing_TileView-between-items:                   @spacing_default_l;
@border-width_TileView-item:                       @thickness_border_default;
@box-shadow-size_TileView-item:                    @size_shadow_default;
@max-height_TileView-title:                        @line-height_default * 2;
@min-height_TileView-title:                        @line-height_default;
@spacing_TileView-between-title-topBorder:         @spacing_TileView-between-title-topBorder_val;
@spacing_TileView-between-title-bottomBorder:      @spacing_TileView-between-title-bottomBorder_val;
@spacing_TileView-between-title-leftBorder:        @spacing_default_xs;
@spacing_TileView-between-title-rightBorder:       @spacing_default_xs;
@border-width_TileView-title:                      @thickness_border_default;
@width_TileView-itemActions-shadow:                @width_control_s;
@border-color_TileView-item:                       @color_border;
@background-color_TileView-item:                   @background-color_default;
@box-shadow-color_TileView-item:                   @color_shadow_light;
@box-shadow-color_TileView-item_hover:             @color_shadow_dark;
@background-color_TileView-title:                  @background-color_item_hovered;
@border-color_TileView-title:                      @color_border;
@border-color_TileView-item_marked:                @color_active-element;
@background-color_TileView-checkbox:               @background-color_default;
