//common variable
@background_ToggleButton_common:                                                    @background_ToggleButton_common_val;
@border-color_ToggleButton_common:                                                  @border-color_ToggleButton_common_val;

//toggle link
@thickness_ToggleButton-border_pushButton:                                         @thickness_border_default;
@border-radius_ToggleButton_pushButton:                                            @border-radius-ToolButton;
@color_ToggleButton_pushButton_readOnly:                                           @color_readOnly;

@border-color_ToggleButton_pushButton_readOnly:                                    @border-color_ToggleButton_common;
@background_ToggleButton_pushButton_readOnly:                                      @background_ToggleButton_common;

@border-color_ToggleButton_pushButton_readOnly_toggled:                            @color_readOnly;
@background_ToggleButton_pushButton_readOnly_toggled:                              @background_ToggleButton_common;

@border-color_ToggleButton_pushButton:                                             @border-color_ToggleButton_common;
@background_ToggleButton_pushButton:                                               @background_ToggleButton_common;

@background_ToggleButton_pushButton_toggled:                                       @background_ToggleButton_pushButton_toggled_val;

@height_ToggleButton-pushButton_s:                                                 @height-ToolButton_size-s;
@min-width_ToggleButton-pushButton_s:                                              @height_ToggleButton-pushButton_s;

@height_ToggleButton-pushButton_m:                                                 @height-ToolButton_size-m;
@min-width_ToggleButton-pushButton_m:                                              @height_ToggleButton-pushButton_m;

@height_ToggleButton-pushButton_l:                                                 @height-ToolButton_size-l;
@min-width_ToggleButton-pushButton_l:                                              @height_ToggleButton-pushButton_l;

@color_ToggleButton-icon_pushButton_secondary_hovered:                             @color_link-hover;
@color_ToggleButton_pushButton-text:                                               @color_text_default;
@background_ToggleButton_pushButton_hovered:                                       @background_ToggleButton_pushButton_hovered_val;
@border-color_ToggleButton_pushButton_hovered:                                     @border-color_ToggleButton_pushButton_hovered_val;

@border-color_ToggleButton_toggle_on-info:                  @color_info;
@border-color_ToggleButton_toggle_on-secondary:             @color_secondary;
@border-color_ToggleButton_toggle_on-primary:               @color_primary;
@border-color_ToggleButton_toggle_on-danger:     @color_danger;
@border-color_ToggleButton_toggle_on-success:    @color_success;
@border-color_ToggleButton_toggle_on-warning:    @color_warning;

@color_ToggleButton_icon-info_toggle_on:          @color_info;
@color_ToggleButton_icon-secondary_toggle_on:     @color_secondary;
@color_ToggleButton_icon-primary_toggle_on:       @color_primary;
@color_ToggleButton_icon-danger_toggle_on:        @color_danger;
@color_ToggleButton_icon-success_toggle_on:       @color_success;
@color_ToggleButton_icon-warning_toggle_on:       @color_warning;

@color_ToggleButton_pushButton-text: @color_text_default;
@color_ToggleButton_toolButton-text: @color_text_default;

@text-shadow_ToggleButton_pushButton: @text-shadow_ToggleButton_pushButton_val;

@padding_Button-wrapper-pushButton_size_s: @padding_Button-wrapper-pushButton_size_s_val;
@padding_Button-wrapper-pushButton_size_m: @padding_Button-wrapper-pushButton_size_s;
@padding_Button-wrapper-pushButton_size_l: @padding_Button-wrapper-pushButton_size_s;

@font-size_ToggleButton-pushButton_s: @font-size_text_m;
@font-size_ToggleButton-pushButton_m: @font-size_text_m;
@font-size_ToggleButton-pushButton_l: @font-size_text_m;

//Эти стили переехали из кнопки. Т.к. в кнопках они больше не нужны а тоггл их использует
@color_Link_secondary: @color_link;
@color_Link_secondary_hovered:                         @color_link-hover;
@color_Link_success: @color_success;
@color_Link_danger: @color_danger;
@color_Link_info: @color_unselected;
@color_Link_warning: @color_warning;
@color_Link_primary: @color_primary;
@spacing_Button-between-icon-and-text: 6px;

//Link
//sizes
@font-size_Link-s:                                     @font-size_text_s;
@font-size_Link-m:                                     @font-size_text_m;
@font-size_Link-default:                               @font-size_text_m;
@font-size_Link-l:                                     @font-size_text_l;
@font-size_Link-xl:                                    @font-size_text_3xl;
@font-size_Button_size_s:                              @font-size_text_m;
@font-size_Button_size_m:                              @font-size_text_m;
@font-size_Button_size_default:                        @font-size_text_m;
@font-size_Button_size_l:                              @font-size_text_xl;
@color-ToolButton_readOnly:                            @color_text_readonly;


@border-color_Button_button_primary:                   @color_primary;
@border-color_Button_button_primary_hovered:           @border-color_Button_button_primary;

@border-color_Button_secondary:                        @color_secondary;
@border-color_Button_secondary_hovered:                @color_secondary;

@color-ToolButton__border_iconStyle-secondary_hovered: @color_border;

@border-color_Button_readOnly:                         @color_text_readonly;
@border-width-ToolButton:                              @thickness_border_default;
@border-style-ToolButton:                              @border-style_solid;
@border-color-ToolButton:                              @border-color-ToolButton_val;
@border-color-ToolButton_readOnly:                     @border-color-ToolButton_readOnly_val;

@text-shadow_ToolButton:                               @text-shadow_ToolButton_val;
@text-shadow_ToolButton_readOnly:                      @text-shadow_ToolButton_readOnly_val;
@text-shadow_Button_button:                            @text-shadow_Button_button_val;
@text-shadow_Button_readOnly:                          @text-shadow_Button_readOnly_val;

@box-shadow_Button_common:                             @box-shadow_Button_common_val;
@box-shadow_Button_active:                             @box-shadow_Button_active_val;
@box-shadow-ToolButton:                                @box-shadow-ToolButton_val;
@box-shadow-ToolButton_activated:                      @box-shadow-ToolButton_activated_val;


@background_Button_button_primary:                     @background_Button;
@background_Button_button_primary_hovered:             @background_Button_button_primary_hovered_val;
@background_Button_button_primary_active:              @background_Button_button_primary_active_val;
@background_Button-primary_readOnly:                   @background_Button;

@background_Button_secondary:                          @background_Button;
@background_Button_secondary_hovered:                  @background-color_item_hovered;
@background_Button_secondary_active:                   @background_Button_secondary_active_val;
@background_Button-secondary_readOnly:                 @background_Button;

@background-color-ToolButton:                          @background-color-ToolButton_val;
@background-color-ToolButton_transparent:              @background-color-ToolButton_transparent_val;
@background-color-ToolButton_hovered:                  @background-color-ToolButton;
@background-color-IconButton_transparent_hovered:      @background-color-ToolButton_transparent;

@height_Button_size_s:                                 @height_control_default;
@height_Button_size_m:                                 @height_control_default;
@height_Button_size_default:                           @height_control_default;
@height_Button_size_l:                                 @height_control_xl;

@height-ToolButton_size-s:                             @height_control_default;
@height-ToolButton_size-m:                             @height_control_m;
@height-ToolButton_size-default:                       @height_control_m;
@height-ToolButton_size-l:                            @size_icon_l;

@border-radius_Button_size_s:                          @height_control_default/2;
@border-radius_Button_size_m:                          @height_control_default/2;
@border-radius_Button_size_default:                    @height_control_default/2;
@border-radius_Button_size_l:                          @height_Button_size_l/2;
@border-radius-ToolButton:                             @border-radius-ToolButton_val;

@width-ToolButton_size-s:                              @height-ToolButton_size-s;
@width-ToolButton_size-m:                              @height-ToolButton_size-m;
@width-ToolButton_size-default:                        @height-ToolButton_size-m;
@width-ToolButton_size-l:                              @height-ToolButton_size-l;

@min-width_Button_common:                              @min-width_Button_common_val;
