//toggle ToolButton
//sizes
@height_toggleToolButton_s:                       @height-ToolButton_size-m;
@width_toggleToolButton_s:                        @width-ToolButton_size-m;
@height_toggleToolButton_m:                       @height-ToolButton_size-l;
@width_toggleToolButton_m:                        @width-ToolButton_size-l;
@height_toggleToolButton_l:                       32px;
@width_toggleToolButton_l:                        @height_toggleToolButton_l;

//default toggle Button
//sizes
@height_toggleButton_m:                           @height_Button_size_m;
@font-size_toggleButton_m:                        @font-size_Button_size_m;
@thickness_toggleButton__border:                  @thickness_Button__border;
@border-radius_toggleButton_m:                    @border-radius_Button_size_m;

@height_toggleButton_l:                           @height_Button_size_l;
@font-size_toggleButton_l:                        @font-size_Button_size_l;
@thickness_toggleButton__border:                  @thickness_Button__border;
@border-radius_toggleButton_l:                    @border-radius_Button_size_l;