@font-size_TreeTileView-title:                   @font-size_text_l;
@height_TreeTileView-node:                       40px;
@spacing_TreeTileView-between-folderIcon-title:  @spacing_default_xs;
@spacing_TreeTileView-between-title-border:      @spacing_default_xs;
@spacing_TreeTileView-between-folderIcon-border: @spacing_default_xs;