@spacing_TreeGridView-row-expander-between-content_borderTop_s:         @spacing_default_xs;
@spacing_TreeGridView-row-expander-between-content_borderRight_s:       @spacing_default_xs;
@spacing_TreeGridView-row-expander-between-content_borderBottom_s:      @spacing_default_xs;
@spacing_TreeGridView-row-expander-between-content_borderLeft_s:        @spacing_default_xs;

@spacing_TreeGridView-row-expander-between-content_borderTop_m:         @spacing_default_xs;
@spacing_TreeGridView-row-expander-between-content_borderRight_m:       10px;
@spacing_TreeGridView-row-expander-between-content_borderBottom_m:      @spacing_default_xs;
@spacing_TreeGridView-row-expander-between-content_borderLeft_m:        @spacing_default_xs;

@spacing_TreeGridView-row-expander-between-content_borderTop_l:         @spacing_default_xs;
@spacing_TreeGridView-row-expander-between-content_borderRight_l:       14px;
@spacing_TreeGridView-row-expander-between-content_borderBottom_l:      @spacing_default_xs;
@spacing_TreeGridView-row-expander-between-content_borderLeft_l:        @spacing_default_m;

@spacing_TreeGridView-row-expander-between-content_borderTop_xl:        @spacing_default_xs;
@spacing_TreeGridView-row-expander-between-content_borderRight_xl:      18px;
@spacing_TreeGridView-row-expander-between-content_borderBottom_xl:     @spacing_default_xs;
@spacing_TreeGridView-row-expander-between-content_borderLeft_xl:       @spacing_default_l;


@height_TreeGridView-expander:                @size_icon_s;
@width_TreeGridView-expander:                 @size_icon_s;

@border-width_TreeGridView-item_dragging:     @thickness_border_accent;
@border-color_TreeGridView-item_dragging:     @color16;

@font-size_TreeGridView-expander:             @font-size_text_xl;
@color_TreeGridView-expander:                 @color6;
@color_TreeGridView-expander_hover:           @color_link;

@color_TreeGridView-expander-hiddenNode:      @color_additional;

@icon_TreeGridView-expander_node-collapsed:           '\e96e';
@icon_TreeGridView-expander_node-expanded:            '\e96d';
@icon_TreeGridView-expander_hiddenNode-collapsed:     '\e9c2';
@icon_TreeGridView-expander_hiddenNode-expanded:      '\e9c1';

@spacing_TreeGridView-nodeFooterHasMore-between-content-borderTop:      @spacing_default_s;
@spacing_TreeGridView-nodeFooterHasMore-between-content-borderBottom:   @spacing_default_s / 2;

@width-TreeViewGrid-levelPadding_size_s:      @spacing_default_xxl;
@width-TreeViewGrid-levelPadding_size_m:      30px;
@width-TreeViewGrid-levelPadding_size_l:      38px;
@width-TreeViewGrid-levelPadding_size_xl:     46px;

@font-family-TreeGridView-icons: @font-family_icon_size-s;

