.controls-DateRangeSlider {
   display: inline-block;
   .user-select();

   font-family: @date-range-slider-font-family;
   font-size: @date-range-slider-font-size;

   &.controls-DateRangeSlider__yearState {
      width: @date-range-slider-year-state-width;
      .controls-DateRangeSlider__value-wrapper {
         width: @date-range-slider-year-state-width - @date-range-slider-prev-next-buttons-width*2;
         min-width: 0;
      }
   }
   .controls-DateRangeSlider__value-wrapper {
      display: inline-block;
      text-align: center;

      min-width: @date-range-slider-value-min-width;
   }

   .controls-DateRangeSlider__lock {
      margin-right: 4px;
   }

   .controls-DateRangeSlider__value {
      font-weight: @date-range-slider-value-font-weight;
      line-height: @date-range-slider-height;
      padding-top: @date-range-slider-value-padding;
   }

   &.ws-enabled{
      .controls-DateRangeSlider__value,
      .controls-DateRangeSlider__prev,
      .controls-DateRangeSlider__next,
      .controls-DateRangeSlider__lock {
            cursor: pointer;
      }
      .controls-DateRangeSlider__value {
         &:hover {
            color: @date-range-slider-hover-color;
         }
      }
      .controls-DateRangeSlider__lock.icon-primary {
         &:hover {
            color: @date-range-slider-hover-color !important;
         }
      }
      .controls-DateRangeSlider__lock.icon-disabled {
         &:hover {
            color: @date-range-slider-unlocked-icon-hover-color !important;
         }
      }
      .controls-DateRangeSlider__value {
         text-decoration: @date-range-slider-hover-text-decoration;
      }

   }

   &.controls-DateRangeSlider__link {
      .controls-DateRangeSlider__prev,
      .controls-DateRangeSlider__next {
         margin: 0 4px;
      }
   }

   &.controls-DateRangeSlider__normal {
      color: @date-range-slider-color;
      & > * {
         height: @date-range-slider-height;
      }
      .controls-DateRangeSlider__prev:before {
         content: "\e008 ";
      }
      .controls-DateRangeSlider__next:before {
         content: "\e007";
      }
      .controls-DateRangeSlider__prev,
      .controls-DateRangeSlider__next {
         display: inline-block;
         font-size: @date-range-slider-prev-next-buttons-font-size;
         font-weight: @date-range-slider-prev-next-buttons-font-weight;
         text-align: center;
         line-height: @date-range-slider-height;
         height: @date-range-slider-height;
         width: @date-range-slider-prev-next-buttons-width;
         &:hover {
            color: @date-range-slider-prev-next-buttons-hover-color;
         }
      }
   }

}
