<div class="MyTileViewController">
   <div>
       <h3>TreeCompositeView с изменяемой шириной</h3>
       <ws:SBIS3.CONTROLS.TreeCompositeView name="MyTreeCompositeView3"
                                            className="MyTreeCompositeView3"
                                            itemsActions="{{_itemsActions}}"
                                            idProperty="id"
                                            columns="{{_columns}}"
                                            displayProperty="title"
                                            viewMode="tile"
                                            parentProperty="parent"
                                            tileMode="dynamic"
                                            itemsHeight="150"
                                            widthProperty="width"
                                            imageField="image"
                                            items="{{_items.hierarhy}}"
                                            multiselect="true">
       </ws:SBIS3.CONTROLS.TreeCompositeView>
       <h3>TreeCompositeView с постоянной шириной</h3>
       <ws:SBIS3.CONTROLS.TreeCompositeView name="MyTreeCompositeView2"
                                            className="MyTreeCompositeView2"
                                            itemsActions="{{_itemsActions}}"
                                            idProperty="id"
                                            columns="{{_columns}}"
                                            displayProperty="title"
                                            viewMode="tile"
                                            parentProperty="parent"
                                            tileMode="static"
                                            imageField="image"
                                            items="{{_items.hierarhy}}"
                                            multiselect="true">
       </ws:SBIS3.CONTROLS.TreeCompositeView>
       <h3>TreeCompositeView с расширяющим ховером</h3>
       <ws:SBIS3.CONTROLS.TreeCompositeView name="MyTreeCompositeView1"
                                        className="MyTreeCompositeView1 controls-CompositeView-tile__static-smallImage"
                                        itemsActions="{{_itemsActions}}"
                                        idProperty="id"
                                        columns="{{_columns}}"
                                        displayProperty="title"
                                        viewMode="tile"
                                        parentProperty="parent"
                                        tileMode="static"
                                        imageField="image"
                                        items="{{_items.hierarhy}}"
                                        multiselect="true">
       </ws:SBIS3.CONTROLS.TreeCompositeView>
       <h3>CompositeView с изменяемой шириной</h3>
       <ws:SBIS3.CONTROLS.CompositeView name="MyCompositeView3"
                                        className="MyCompositeView3"
                                        itemsActions="{{_itemsActions}}"
                                        idProperty="id"
                                        columns="{{_columns}}"
                                        displayProperty="title"
                                        viewMode="tile"
                                        tileMode="dynamic"
                                        itemsHeight="150"
                                        widthProperty="width"
                                        imageField="image"
                                        items="{{_items.list}}"
                                        multiselect="true">
       </ws:SBIS3.CONTROLS.CompositeView>
       <h3>CompositeView с постоянной шириной</h3>
       <ws:SBIS3.CONTROLS.CompositeView name="MyCompositeView1"
                                   className="MyCompositeView1"
                                   itemsActions="{{_itemsActions}}"
                                   idProperty="id"
                                   columns="{{_columns}}"
                                   displayProperty="title"
                                   viewMode="tile"
                                   tileMode="static"
                                   imageField="image"
                                   items="{{_items.list}}"
                                   multiselect="true">
       </ws:SBIS3.CONTROLS.CompositeView>
       <h3>CompositeView с расширяющим ховером</h3>
       <ws:SBIS3.CONTROLS.CompositeView name="MyCompositeView2"
                                        className="MyCompositeView2 controls-CompositeView-tile__static-smallImage"
                                        itemsActions="{{_itemsActions}}"
                                        idProperty="id"
                                        columns="{{_columns}}"
                                        displayProperty="title"
                                        viewMode="tile"
                                        tileMode="static"
                                        imageField="image"
                                        items="{{_items.list}}"
                                        multiselect="true">
       </ws:SBIS3.CONTROLS.CompositeView>
   </div>
</div>