<div class="controls-TreeDataGridView__folderFooter" data-parent="{{key}}" style="padding-left: {{padding}}px">
    <ws:if data="{{footerTpl}}">
        <ws:partial template="{{footerTpl}}" scope="{{...}}"></ws:partial>
    </ws:if>
</div>