<span attr:class="controls-Header controls-Header_style-{{_options.style}}">
    <span class="controls-Header__wrapper {{commonClick ? 'controls-Header_content_hovered'}}">
        <ws:if data="{{_options.iconStyle}}">
            <i on:click="iconClickHandler()" attr:class="controls-Header__icon controls-Separator__icon_style-{{_options.iconStyle}} {{_icon}} controls-Header__icon_location-{{_options.iconLocation}}"></i>
        </ws:if>
        <ws:if data="{{_options.counterValue}}">
           <Controls:Header:Counter:Counter class="controls-HeaderCount_location-{{_options.counterLocation}}"
                           on:click="countClickHandler()"
                           template="tmpl!Controls/Header/Counter/Counter"
                           value="{{_options.counterValue}}"
                           size="{{_options.counterSize}}"
                           style="{{_options.counterStyle}}"
           />
        </ws:if>
        <ws:if data="{{_options.caption}}">
            <span attr:class="controls-Header__caption_size-{{_options.size}}
                              controls-Header__caption_style-{{_options.style}}{{_options.clickable ? '_hovered'}}"
            >{{_options.caption}}</span>
        </ws:if>
        <ws:if data="{{_options.separatorIcon}}">
            <img class="controls-HeaderSeparator__icon_style-{{_options.separatorIconStyle}}"/>
        </ws:if>
    </span>
</span>