.controls-Header__caption {
   font-weight: bold;
   display: inline-block;
}

.controls-Header__caption_size-s {
   font-size: @font-size_Header__caption_size-s;
}

.controls-Header__caption_size-m {
   font-size: @font-size_Header__caption_size-default;
}

.controls-Header__caption_size-l {
   font-size: @font-size_Header__caption_size-l;
}

.controls-Header__caption_size-xl {
   font-size: @font-size_Header__caption_size-xl;
}

.controls-Header__caption_style-primary, .controls-Header__caption_style-primary_hovered {
   color: @color_Header__caption_style-primary;
}

.controls-Header__caption_style-default, .controls-Header__caption_style-default_hovered {
   color: @color_Header__caption_style-default;
}

.controls-Header__caption_style-default_hovered:active {
   color: @color_Header__caption_style-default_hovered;
   cursor: pointer;
}

.controls-Header__caption_style-primary_hovered:active {
   color: @color_Header__caption_style-primary_hovered;
   cursor: pointer;
}

.ws-is-no-touch {
   .controls-Header__caption_style-default_hovered:hover {
      color: @color_Header__caption_style-default_hovered;
      cursor: pointer;
   }

   .controls-Header__caption_style-primary_hovered:hover {
      color: @color_Header__caption_style-primary_hovered;
      cursor: pointer;
   }
}