.controls-SliderInput {
   padding: 0px 14px 8px 26px;
   &.controls-Slider__big {
      padding: 0px 18px 8px 30px;
   }
   .controls-Slider{
      padding: 8px 0 0 0;
   }
   &__inputs {
      padding-top: 3px;
      .flexbox();
      .justify-content(space-between);
      .align-items(baseline);
   }
   &__input {
      .flex-shrink(1);
      .flex-basis(0);
      .flex-grow(1);
   }
   &__label {
      color:#8991A9;
      &__start {
         padding: 0 4px 0 0;
      }
      &__middle {
         padding: 0 4px;
      }
      &__end {
         padding: 0 0 0 4px;
      }
   }
   &.ws-disabled {
      .controls-Slider__point {
         border: 2px solid #cccccc;
         cursor: auto;
      }
      .controls-Slider__line__full {
         background-color: #cccccc;
      }
   }
}