.controls-SliderInput {
   padding: 0px 8px 8px 20px;

   &__inputs {
      padding-top: 3px;
      .flexbox();
      .justify-content(space-between);
      .align-items(baseline);
   }
   &__input {
      .flex-shrink(1);
   }
   &__label {
      color:#cccccc;
      &__start {
         padding: 0 4px 0 0;
      }
      &__middle {
         padding: 0 4px;
      }
      &__end {
         padding: 0 0 0 4px;
      }
   }
   &.ws-disabled {
      .controls-Slider__point {
         border: 2px solid #cccccc;
         cursor: auto;
      }
      .controls-Slider__line__full {
         background-color: #cccccc;
      }
   }
}