<div class="moveDemo">
    <span>Standard moving items</span>
    <Controls.List
            class="moverDemo__list test_list_1"
            name="list"
            itemActions="{{_itemActions}}"
            source = "{{_viewSource}}"
            keyProperty="id">
    </Controls.List>
    <span>Move items only to collections</span>
    <Controls.List
            class="moverDemo__list test_list_2"
            name="listSecond"
            on:beforeItemsMove="_beforeItemsMoveSecond()"
            itemActions="{{_itemActionsSecond}}"
            source = "{{_viewSourceSecond}}"
            keyProperty="id">
    </Controls.List>
    <Controls.Button
            on:click="_onClick()"
            caption="{{__reload}}">
    </Controls.Button>
    <Controls.Popup.Opener.Confirmation name="popupOpener"/>
</div>
