<div class="controls-Menu__Popup controls-ImagePanel controls-Popup controls-FloatArea">
   <div  class="controls-ImagePanel__header">
      <div class="controls-ImagePanel__title" title="{{ windowTitle }}">{{ windowTitle }}</div>
   </div>
   <div class="controls-ImagePanel__mainButtons">
      <div class="controls-ImagePanel__Button controls-ImagePanel__Button__Left" data-id="1" title="{[Слева, с обтеканием по рамке]}"></div>
      <div class="controls-ImagePanel__Button controls-ImagePanel__Button__Middle" data-id="2" title="{[По центру, с обтеканием сверху и снизу]}"></div>
      <div class="controls-ImagePanel__Button controls-ImagePanel__Button__Right" data-id="3" title="{[Справа, с обтеканием по рамке]}"></div>
      <div class="controls-ImagePanel__Button controls-ImagePanel__Button__Inside" data-id="6" title="{[В тексте, без обтекания]}"></div>
   </div>
</div>