.ControlsDemo-Previewer {
	display: inline-flex;
	flex-direction: column;
}
.ControlsDemo-Previewer__trigger{
	width: 150px;
	padding: 5px;
}
.ControlsDemo-Previewer__previewer {
	margin-right: auto;
}