<Controls.Container.LoadingIndicator name="loadingIndicator"
                                     isGlobal="{{true}}"
                                     message="{[Пожалуйста, подождите...]}"
                                     overlay="dark">
    <Controls.Popup.Opener.Dialog name="dialog">
        <ws:popupOptions template="Controls/Printer/PrintDialog" />
    </Controls.Popup.Opener.Dialog>
</Controls.Container.LoadingIndicator>
