.controls-Button__close {
   display: inline-block;
}

.controls-Button__close__wrapper {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   &:before {
      content: "\200b";
   }
}

.controls-Button__close__icon_toolButton,
.controls-Button__close__icon_functionalButton {
   background-image: var(--icon_background-image_closeButton_toolButton);
   height: var(--icon-size_closeButton_toolButton);
   width: var(--icon-size_closeButton_toolButton);
   display: inline-block;
   &:active {
      background-image: var(--icon_hovered_background-image_closeButton_toolButton);
   }
}

.controls-Button__close__icon_link,
.controls-Button__close__icon_linkButton {
   background-image: var(--icon_background-image_closeButton_link);
   height: var(--icon-size_closeButton_link);
   width: var(--icon-size_closeButton_link);
   &:active {
      background-image: var(--icon_hovered_background-image_closeButton_link);
   }
}

.controls-Button__close_toolButton_transparent {
   background-color: var(--background-color_closeButton_toolButton);
   &:active {
      background-color: var(--background-color_active_closeButton_toolButton);
   }
}

.controls-Button__close_toolButton_untransparent {
   background-color: var(--contrast_background-color_closeButton_toolButton);
   &:active {
      background-color: var(--contrast_active_background-color_closeButton_toolButton);
   }
}

.controls-Button__close_toolButton {
   width: var(--width_closeButton_toolButton);
   height: var(--height_closeButton_toolButton);
   border-color: var(--border-color_closeButton_toolButton);
   border-width: var(--border-thickness_closeButton_toolButton);
   border-radius: var(--border-radius_closeButton_toolButton);
   box-shadow: var(--box-shadow_closeButton_toolButton);
   &:active {
      border-color: var(--border-color_active_closeButton_toolButton);
      box-shadow: var(--box-shadow_closeButton_toolButton); //none
   }
}

.controls-Button__close_functionalButton {
   width: var(--width_closeButton_functionalButton);
   height: var(--height_closeButton_functionalButton);
   border-width: var(--border-thickness_closeButton_functionalButton);
   border-radius: var(--border-radius_closeButton_functionalButton);
   box-shadow: var(--box-shadow_closeButton_toolButton);
   background-color: var(--background-color_closeButton_functionalButton);
   &:active {
      box-shadow: var(--box-shadow_closeButton_toolButton); //none
   }
}

.controls-Button__close_toolButton,
.controls-Button__close_functionalButton {
   border-style: solid;
   box-sizing: border-box;
}

.controls-Button__close_link,
.controls-Button__close_linkButton {
   font-family: var(--icon_font-family_m);
   width: var(--width_closeButton_link);
   height: var(--height_closeButton_link);
}

.ws-is-hover {
   .controls-Button__close__icon_link:hover,
   .controls-Button__close__icon_linkButton:hover {
      background-image: var(--icon_hovered_background-image_closeButton_link);
   }

   //button and icon must be hovered at the same time
   .controls-Button__close_toolButton:hover,
   .controls-Button__close_functionalButton:hover {
      border-color: var(--border-color_hover_closeButton_toolButton);
      .controls-Button__close__icon_toolButton,
      .controls-Button__close__icon_functionalButton {
         background-image: var(--icon_hovered_background-image_closeButton_toolButton);
      }
   }

   .controls-Button__close_toolButton_untransparent:hover {
      background-color: var(--contrast_hover_background-color_closeButton_toolButton);
   }

   .controls-Button__close_toolButton_transparent:hover {
      background-color: var(--background-color_hover_closeButton_toolButton);
   }
}
