<ws:SBIS3.CONTROLS.DateRangeBigChoose.MonthView
   className="controls-DateRangeBigChoose-MonthRangePicker__item"
   captionType="text"
   captionFormat="%B"
   enabled="{{false}}"
   showWeekdays="{{false}}"
   month="{{item.get('month').toSQL()}}"
/>