<SBIS3.CONTROLS.Button.IconButton icon="icon-16 icon-Close icon-disabled" className="controls-Spoiler__resetFilterField" command="resetFilterField" commandArgs="{{[name]}}" tooltip="Сбросить фильтр"/>