@height-group-separator:                     1px;
@thickness-group-separator:                  @thickness_border_default;
@font-size-group-text:                       @font-size_text_s;
@spacing-group-between-text-separator:       @spacing_default_l;
@color-group-separator:                      @color_separator;
