<div class="ws-Popup" style="left: {{item.left}}px; right: {{item.right}}px; top: {{item.top}}px; bottom: {{item.bottom}}px;">
    <ws:partial template="{{_options.template}}" scope="{{_options.componentOptions}}"></ws:partial>
</div>