<div class="popup-window" style="width: 500px; height: 300px;">
    <ws:if data="{{topArea}}">
        <div class="top-area">
            <ws:partial template="{{_options.topArea}}" scope="{{_options.componentOptions}}"></ws:partial>
        </div>
    </ws:if>
    <div class="content-area">
        {{debug()}}
        <ws:partial template="{{_options.contentArea}}" scope="{{_options.componentOptions}}"></ws:partial>
    </div>
</div>