.controls-Input-TimeInterval {
   position: relative;
}
.controls-Input-TimeInterval__stretcher {
   height: 0;
   visibility: hidden;
   padding: 2px;
}

.controls-Input-TimeInterval__wrapper.controls-Render {
   position: absolute;
   top: 0;
   display: flex;
   align-items: center;
   width: 100%;
}
