.controls-DateRangeSelectorLite {
   display: inline-flex;
}

.controls-DateRangeSelectorLite__view {
   flex-grow: 1;
   flex-shrink: 1;
}

.controls-DateRangeSelectorLite__view_minWidth {
   min-width: @min-width_dateRangeSelector;
}

.controls-DateRangeSelectorLite__picker-normal {
   margin-top: ceil((@height_dateRangeSelector - @item_height_shortDatePicker)/2) - @border-thickness_shortDatePicker;
}

.controls-DateRangeSelectorLite__picker-years-only {
   margin-top: ceil((@height_dateRangeSelector - @item_height_shortDatePicker)/2) - @item_height_shortDatePicker;
}
