.controls-DateRangeSelectorLite {
   display: inline-flex;
}

.controls-DateRangeSelectorLite__view {
   flex-grow: 1;
   flex-shrink: 1;
}

.controls-DateRangeSelectorLite__view_minWidth {
   min-width: @min-width_dateRangeSelector;
}

.controls-DateRangeSelectorLite__picker-normal {
   margin-top: ceil(@height_rangeShortSelectorLink - @item_height_shortDatePicker) + 2 * @border-thickness_shortDatePicker;
   margin-left: -(@header_padding-horizontal_shortDatePicker + @border-thickness_shortDatePicker);
}

.controls-DateRangeSelectorLite__picker-years-only {
   margin-top: -(@arrow_height_shortDatePicker + (floor((@item_layout_line-height_shortDatePicker - @item_font-size_shortDatePicker)/2)) - @item_border-thickness_shortDatePicker);
}

// Механизмы рендеринга webkit и FF по-разному реализуют высоту строки.
// Чтобы не было прыжков между вызывающим элементом и заголовком (который выровнен по базовой линии)
// добавляем к смещению popup'a 1px (чтобы в FF было так же, как chrome).
.ws-is-firefox {
   .controls-DateRangeSelectorLite__picker-normal {
      margin-top: ceil(@height_rangeShortSelectorLink - @item_height_shortDatePicker) + 2 * @border-thickness_shortDatePicker + 1;
   }
}
