<div style="margin: 32px; display: flex; flex-direction: column; width: 18em;" class="test_root_div">
   <div style="padding: 3em; background-color: rgba(38,59,74,0.22)">
      <h2>Number</h2>
      <Controls.Label name="myLabel1" caption="Пример"/>
      <Controls.Input.Number
         attr:id="main_field"
         attr:class="test_input"
         bind:value="_text1"
         placeholder="{{_placeholder}}"
         tagStyle="{{_tagStyle}}"
         onlyPositive="{{_onlyPositive}}"
         readOnly="{{_readOnly}}"
         showEmptyDecimals="{{_showEmptyDecimals}}"
         precision="{{_precision}}"
         integersLength="{{_integersLength}}"
         selectOnClick="{{_selectOnClick}}"
         on:valueChanged="_eventHandler()"
         on:inputCompleted="_eventHandler()"
      />

   </div>
   <div style="padding: 3em; background-color: rgba(81,81,81,0.08)">
      <h3>Задайте опции:</h3>
      <Controls.Label name="myLabel1" caption="placeholder"/>
      <Controls.Input.Text attr:id="placeholder" bind:value="_placeholder" attr:class="test_input"/>
      <Controls.Label name="myLabel1" caption="tagStyle(варианты: attention, done, error, primary, disabled)"
                      attr:style="height: auto;"/>
      <Controls.Input.Text attr:id="tagStyle" bind:value="_tagStyle" attr:class="test_tagStyle"/>
      <Controls.Label name="myLabel1" caption="integersLength"/>
      <Controls.Input.Number attr:id="integersLength" bind:value="_integersLength" attr:class="test_integersLength"/>
      <Controls.Label name="myLabel1" caption="precision"/>
      <Controls.Input.Number attr:id="precision" bind:value="_precision" attr:class="test_precision"/>
      <div>
         <Controls.Toggle.Checkbox attr:id="enabled" readOnly="{{false}}" bind:value="_readOnly" caption="readOnly"/>
         <Controls.Toggle.Checkbox attr:id="onlyPositive" readOnly="{{false}}" bind:value="_onlyPositive" caption="onlyPositive"/>
         <Controls.Toggle.Checkbox attr:id="showEmptyDecimals" readOnly="{{false}}" bind:value="_showEmptyDecimals" caption="showEmptyDecimals"/>
         <Controls.Toggle.Checkbox attr:id="selectOnClick" readOnly="{{false}}" bind:value="_selectOnClick" caption="selectOnClick"/>
      </div>
   </div>
   <div hidden="hidden" id="event_test">{{ _eventResult }}</div>
</div>