<div style="margin: 32px; display: flex; flex-direction: column; width: 18em;" class="test_root_div">
   <div style="padding: 3em; background-color: rgba(38,59,74,0.22)">
      <h2>Number</h2>
      <Controls.Label name="myLabel1" caption="Пример"/>
      <Controls.Input.Number 
         class="test_input"
         bind:value="_text1"
         placeholder="{{_placeholder}}"
         integersLength="{{_integersLength}}"
         tagStyle="{{_tagStyle}}"
         precision="{{_precision}}"
         onlyPositive="{{_onlyPositive}}"
         showEmptyDecimals="{{_showEmptyDecimals}}"
         enabled="{{_enabled}}"
      />

   </div>
   <div style="padding: 3em; background-color: rgba(81,81,81,0.08)">
      <h3>Задайте опции:</h3>
      <Controls.Label name="myLabel1" caption="placeholder"/>
      <Controls.Input.Text bind:value="_placeholder" class="test_input"/>
      <Controls.Label name="myLabel1" caption="tagStyle(варианты: attention, done, error, primary, disabled)"
                      attr:style="height: auto;"/>
      <Controls.Input.Text bind:value="_tagStyle" class="test_tagStyle"/>
      <Controls.Label name="myLabel1" caption="integersLength"/>
      <Controls.Input.Number bind:value="_integersLength" class="test_integersLength"/>
      <Controls.Label name="myLabel1" caption="precision"/>
      <Controls.Input.Number bind:value="_precision" class="test_precision"/>
      <div>
         <Controls.Toggle.Checkbox bind:value="_enabled" caption="enabled"/>
         <Controls.Toggle.Checkbox bind:value="_onlyPositive" caption="onlyPositive"/>
         <Controls.Toggle.Checkbox bind:value="_showEmptyDecimals" caption="showEmptyDecimals"/>
      </div>
   </div>
</div>