<ws:SBIS3.CONTROLS.FieldLink
   class="controls-FilterPanelChooser__FieldLink-component"
   name="controls-FilterPanelChooser__FieldLink-component"
   selectedKeys="{{ value }}"
   scope="{{ properties }}" />