.panel-demo {
   width: 400px;
   margin: 20px;
}

.panel-demo-filterButton {
   margin: 20px;
   max-width: 250px;
}

.panel-demo-input {
   width: 100%;
}

.panel-demo-text {
   margin-right: 10px;
}

.panel-without-additional-demo-input {
   width: 269px;
   margin-left: auto;
}

.panel-demo-option-block {
   padding: 3em;
   background-color: rgba(81,81,81,0.11);
}

.panel-demo-filterText {
   display: flex;
}