<ws:partial template="tmpl!Controls/Dropdown/resources/template/itemTemplate"
            scope="{{...}}"
            contentTemplate="tmpl!Controls/BreadCrumbsController/resources/menuContentTemplate" />
