<div class="controls-BreadCrumbsV__menuItem">
    <ws:if data="{{itemData.item.indentation}}">
        <ws:for data="i in itemData.item.indentation">
            <div class="controls-BreadCrumbsV__indentation"></div>
        </ws:for>
    </ws:if>
    <span class="controls-BreadCrumbsV__menuTitle">{{itemData.getPropValue(itemData.item, 'title')}}</span>
</div>