<ws:partial template="tmpl!Controls/Dropdown/resources/template/itemTemplate"
            itemData="{{itemData}}"
            contentTemplate="tmpl!Controls/BreadCrumbsController/resources/menuContentTemplate" />
