<ws:if data="{{!!icon}}">
   <i class="controls-Button__icon js-controls-Button__icon {{_iconClass}}"></i>
</ws:if>
<span class="controls-Button__text js-controls-Button__text{{!caption ? ' controls-Button__emptyCaption'}} {{_textClass}}">{{caption|sanitize}}</span>