.demo__exampleBlock {
   padding: 5px;
   border-radius: 2px;
   border-style: solid;
   border-width: 2px;
   display: inline-flex;
   flex-direction: column;
   box-shadow: 1px 0 4px 0 #ccc;
   margin: 2px;
   border-color: #0606066e;
}