<div>
   <Controls.Popup.Opener.InfoBox
         name="infoBoxXslt"
   />
   <Controls.Input.Area
         name="xml"
         placeholder="xml"
         arrt:class="xml"
         minLines="{{20}}"
         on:input="change('xml')"
         value="{{xml}}"
   />
   <Controls.Input.Area
         name="xsl"
         placeholder="xsl"
         arrt:class="xsl"
         minLines="{{20}}"
         on:input="change('xsl')"
         value="{{xsl}}"
   />
   <Controls.Input.Area
         name="result"
         placeholder="result"
         arrt:class="result"
         minLines="{{20}}"
         on:input="change('result')"
         value="{{result}}"
   />
   <Controls.Button
         name="check"
         arrt:class="check"
         caption="{{'проверить'}}"
         on:click="check()"
   />
</div>