<div class="controls-Checkbox__caption controls-Checkbox__caption-color__{{readOnly ? 'disabled':'enabled'}}">
    <ws:if data="{{caption}}">
        {{caption}}
    </ws:if>
    <ws:else>
        &nbsp;
    </ws:else>
</div>