<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <system.webServer>
      <staticContent>
         <remove fileExtension=".xsl"/>
         <remove fileExtension=".json"/>
         <remove fileExtension=".xslt"/>
         
         <mimeMap fileExtension=".xsl" mimeType="text/xml; charset=UTF-8"/>
         <mimeMap fileExtension=".xslt" mimeType="text/xml; charset=UTF-8"/>
         <mimeMap fileExtension=".json" mimeType="application/json; charset=UTF-8"/>
      </staticContent>
   </system.webServer>
</configuration>