<div class="controls-ClockPicker">
   <ws:SBIS3.CONTROLS.ClockPickerHeader
      name="header"
      time="{{'time/header'|bind:time}}"
      activeTime="{{'viewName/header'|bind:viewName}}"
   />
   <ws:SBIS3.CONTROLS.ClockPickerBody
      name="body"
      time="{{'time/body'|bind:time}}"
      viewName="{{'viewName/body'|bind:viewName}}"
   />
</div>