<section class="todoapp">
    <header class="header">
        <h1>todos</h1>
        <input class="new-todo" placeholder="What needs to be done?"
               event:onkeypress="onCreateItem()"
               ws-autofocus="true"
        />
    </header>
    <section class="main">
        <ws:if data="{{_list.getCount() > 0}}">
            <input
                type="checkbox"
                class="toggle-all"
                checked="{{ activeCount == 0 ? 'checked' }}"
                event:onchange="onToggleCompletedAll()"
            />
        </ws:if>
        <!--<label for="toggle-all">Mark all as complete</label>-->
        <ul class="todo-list">
            <ws:for data="index,item in filteredList()">
                <ws:WSControls.VDOM.Main.Item
                        title="{{ item.title }}"
                        completed="{{ item.completed }}"
                        item="{{ item }}"
                        event:onEdit="onEditItem(item)"
                        event:onRemove="onRemoveItem(item)"
                        event:onToggle="onToggleCompleted(item)"
                        __key="{{ item.title }}"
                />
            </ws:for>
        </ul>
    </section>
    <ws:if data="{{_list.getCount() > 0}}">
        <!-- This footer should hidden by default and shown when there are todos -->
        <footer class="footer">
            <!-- This should be `0 items left` by default -->
            <span class="todo-count"><strong>{{ activeCount() }}</strong> item left</span>
            <!-- Remove this if you don't implement routing -->
            <ul class="filters">
                <li>
                    <a class="{{ _filter === 'all' ? 'selected' }}" href="#/" event:onclick="onChangeFilter('all')">All</a>
                </li>
                <li>
                    <a class="{{ _filter === 'active' ? 'selected' }}" href="#/active" event:onclick="onChangeFilter('active')">Active</a>
                </li>
                <li>
                    <a class="{{ _filter === 'completed' ? 'selected' }}" href="#/completed" event:onclick="onChangeFilter('completed')">Completed</a>
                </li>
            </ul>
            <!-- Hidden if no completed items are left ↓ -->
            <ws:if data="{{completedCount() > 0}}">
                <button event:onclick="clearCompleted()" class="clear-completed">Clear completed</button>
            </ws:if>
        </footer>
    </ws:if>
</section>
