.controls-HeaderCounter {
   display: inline-block;
}

.controls-HeaderCounter_style-primary_hovered_theme-@{themeName},
.controls-HeaderCounter_style-secondary_hovered_theme-@{themeName},
.controls-HeaderCounter_style-disabled_hovered_theme-@{themeName} {
   cursor: pointer;
}

.controls-HeaderCounter_style-primary_theme-@{themeName}, .controls-HeaderCounter_style-primary_hovered_theme-@{themeName} {
   color: var(--primary_text-color_headingCounter);
}

.controls-HeaderCounter_style-secondary_theme-@{themeName}, .controls-HeaderCounter_style-secondary_hovered_theme-@{themeName} {
   color: var(--secondary_text-color_headingCounter);
}

.controls-HeaderCounter_style-unaccented_theme-@{themeName}, .controls-HeaderCounter_style-unaccented_hovered_theme-@{themeName} {
   color: var(--unaccented_text-color_headingCounter);
}

.controls-HeaderCounter_style-primary_hovered_theme-@{themeName}:active {
   color: var(--primary_active_text-color_headingCounter);
}

.controls-HeaderCounter_style-secondary_hovered_theme-@{themeName}:active {
   color: var(--secondary_active_text-color_headingCounter);
}

.ws-is-hover {
   .controls-HeaderCounter_style-primary_hovered_theme-@{themeName}:hover {
      color: var(--primary_hover_text-color_headingCounter);
   }

   .controls-HeaderCounter_style-secondary_hovered_theme-@{themeName}:hover {
      color: var(--secondary_hover_text-color_headingCounter);
   }
}
