.controls-HeaderCounter {
   display: inline-block;
}

.controls-HeaderCounter_style-primary_hovered_theme-@{themeName},
.controls-HeaderCounter_style-secondary_hovered_theme-@{themeName},
.controls-HeaderCounter_style-disabled_hovered_theme-@{themeName} {
   cursor: pointer;
}

.controls-HeaderCounter_style-primary_theme-@{themeName}, .controls-HeaderCounter_style-primary_hovered_theme-@{themeName} {
   color: @primary_text-color_headingCounter;
}

.controls-HeaderCounter_style-secondary_theme-@{themeName}, .controls-HeaderCounter_style-secondary_hovered_theme-@{themeName} {
   color: @secondary_text-color_headingCounter;
}

.controls-HeaderCounter_style-unaccented_theme-@{themeName}, .controls-HeaderCounter_style-unaccented_hovered_theme-@{themeName} {
   color: @unaccented_text-color_headingCounter;
}

.controls-HeaderCounter_style-primary_hovered_theme-@{themeName}:active {
   color: @primary_active_text-color_headingCounter;
}

.controls-HeaderCounter_style-secondary_hovered_theme-@{themeName}:active {
   color: @secondary_active_text-color_headingCounter;
}

.ws-is-hover {
   .controls-HeaderCounter_style-primary_hovered_theme-@{themeName}:hover {
      color: @primary_hover_text-color_headingCounter;
   }

   .controls-HeaderCounter_style-secondary_hovered_theme-@{themeName}:hover {
      color: @secondary_hover_text-color_headingCounter;
   }
}
