<div class="controls-CompositeView controls-DataGridView controls-ListView
            {{ preparedClasses }}
            {{ multiselect !== false ? 'controls-ListView__multiselect' : 'controls-ListView__multiselect__off' }}
            {{ startScrollColumn !== undefined ? 'controls-DataGridView__with-partScroll' }}
            {{ 'controls-CompositeView-' + viewMode }}
            {{ viewMode === 'tile' && tileMode ? ' controls-CompositeView-tile__new' }}
            {{ viewMode === 'tile' && !tileMode ? ' controls-CompositeView-tile__old' }}
            {{ viewMode === 'tile' && tileMode ? ('controls-CompositeView-tile__' + tileMode) }}
            {{ _serverRender ? ' controls-ListView__dataLoaded' : ' controls-ListView__dataNotLoaded'}}">
   <div class="js-controls-DataGridView__minHeight controls-DataGridView__minHeight"></div>
   <SBIS3.CONTROLS.Panel tabindex="{{1}}" class="controls-ListView__fakeFocusElement" allowChangeEnable="{{false}}"/>
   <div class="controls-AjaxLoader ws-hidden">
      <div class="controls-AjaxLoader__outer">
         <div class="controls-AjaxLoader__block">
            <div class="controls-AjaxLoader__LoadingIndicator"></div>
         </div>
      </div>
   </div>
   <ws:if data="{{ virtualScrolling }}">
      <div class="controls-ListView__virtualScrollTop"></div>
   </ws:if>
   <div class="controls-CompositeView__itemsContainer{{ viewMode == 'table' ? ' ws-hidden' }}">
      <ws:if data="{{ _serverRender }}">
         <ws:partial template="{{_compositeItemsTemplate}}" records="{{ _records }}" tplData="{{ _itemData }}"/>
      </ws:if>
      <ws:else>
         <div class="controls-CompositeView__foldersContainer"></div>
      </ws:else>
   </div>
   <table class="controls-DataGridView__table {{ viewMode !== 'table' ? 'ws-hidden' }} {{ stickyHeader ? 'ws-sticky-header__table' }}">
      <ws:partial template="{{_colGroupTpl}}" scope="{{_colgroupData}}" />
      <ws:partial template="{{headTpl}}" scope="{{_headData}}" />
      <tbody class="controls-DataGridView__tbody">
      <ws:if data="{{ _serverRender && viewMode === 'table' }}">
         <ws:partial template="{{_itemsTemplate}}" records="{{_records}}" tplData="{{_itemData}}" />
      </ws:if>
      </tbody>
      <ws:partial template="{{_footTpl}}" scope="{{...}}" />
   </table>
   <div class="controls-ListView__EmptyData {{isSmall ? ' controls-ListView__small__EmptyData' : ' controls-ListView__normal__EmptyData'}} {{(!_serverRender || _records.length || !emptyHTML || _hideEmpty) ? 'ws-hidden' : ''}}">
      <ws:partial template="{{ _sanitize(emptyHTML) }}"/>
   </div>
   <ws:if data="{{ footerTpl }}">
      <div class="controls-ListView__footer">
         <ws:partial template="{{footerTpl}}" scope="{{...}}" />
      </div>
   </ws:if>
   <ws:if data="{{ showPaging }}">
      <div class="controls-Pager-container"></div>
      <div class="controls-TreePager-container"></div>
   </ws:if>
   <ws:if data="{{ editArrow || arrowActivatedHandler }}">
      <div class="controls-TreeView__editArrow-container ws-hidden"></div>
   </ws:if>
   <ws:if data="{{ infiniteScroll === 'demand'}}">
      <div class="controls-ListView__serviceFooter">
         <SBIS3.CONTROLS.Link
                 name="loadMoreButton"
                 cssClassName="controls-ListView__loadMoreButton"
                 caption="Ещё..."
                 allowChangeEnable="{{false}}"
                 visible="{{ false }}"
         />
         <span class="controls-ListView__counter ws-hidden">
            Всего:
            <span class="controls-ListView__counterValue"></span>
         </span>
      </div>
   </ws:if>
   <ws:if data="{{ virtualScrolling }}">
      <div class="controls-ListView__virtualScrollBottom"></div>
   </ws:if>
   <div class="controls-ListView-scrollIndicator {{infiniteScroll === 'up' ? 'controls-ListView-scrollIndicator__up' : ''}}"></div>
   <div class="controls-ListView__ItemsToolbar-container ws-hidden"></div>
   <div class="controls-ListView__scrollPager {{!infiniteScroll ? 'ws-hidden' : ''}}"></div>
</div>