<div class="ws-ListView__item {{selected ? 'ws-ListView__item__selected'}}" event:onclick="_onItemClick(dispItem)">
   <ws:if data="{{contentTemplate}}">
      <ws:partial
            template="{{contentTemplate}}"
            item="{{item}}"
            dispItem="{{dispItem}}"
            index="{{index}}"
            itemData="{{itemData}}"
            _getPropertyValue="{{_getPropertyValue}}"
            _options="{{_options}}"></ws:partial>
      </ws:if>
   <ws:else>
      <div>{{_getPropertyValue(item, _options.displayProperty)}}</div>
   </ws:else>
</div>