<div class="controls-FilterPanelText">
   <div class="controls-FilterPanelText-caption">{{_options.caption}}</div>
   <span class="controls-FilterPanel__iconClose icon-Close icon-disabled" on:click="_clickHandler()"></span>
</div>