.controls-ListView {
  .controls-ListView__item {
    overflow: hidden;
    position: relative;

     &:hover{
        .controls-ListView__itemCheckBox {
           background: @check-box-icon-hover-bg;
        }
     }
  }
   .controls-ListView__itemCheckBox {
      width: 16px;
      height: 16px;
      background: none;
      cursor: pointer;
      display: none;
   }
   &.controls-ListView__multiselect {
      .controls-ListView__itemCheckBox {
         display: inline-block;
      }
      .controls-ListView__item {
         padding-left: 20px;
      }
      .controls-ListView__item__selected{
         .controls-ListView__itemCheckBox {
            background: @check-box-icon-checked-bg;
         }
      }
   }

}