<!--<div class="{{getItemTemplateData(...).addClasses}}{{drawHiddenGroup ? ' ws-hidden' : ''}}"
     data-parent-hash="{{projItem.getParent().getHash()}}" data-hash="{{projItem.getHash()}}"
     data-id="{{item.getId() + ''}}">
    <ws:if data="{{ !isSearch }}">
        <ws:for data="i in getItemTemplateData(...).itemLevel">
            <div class="controls-TreeView__levelPadding">&nbsp;</div>
        </ws:for>
        <div class="controls-TreeView__expand js-controls-TreeView__expand {{projItem.isExpanded() ? 'controls-TreeView__expand__open' : ''}}"></div>
    </ws:if>
    <ws:else data="{{ !projItem.isNode() && projItem.getLevel() > 1 }}">
        <div class="controls-TreeView__levelPadding">&nbsp;</div>
    </ws:else>
    <ws:partial template="{{itemContent}}" scope="{{...}}" />
</div>-->

<div class="js-controls-ListView__item controls-ListView__item js-controls-TreeView__item controls-TreeView__item {{_getItemData(projItem).addClasses}} {{selected ? 'controls-ListView__item__selected'}} {{ className }}"
     data-hash="{{ projItem.getHash() }}">
    <ws:if data="{{ true }}"><!--!isSearch-->
        <ws:for data="i in _getItemData(projItem).itemLevel">
            <div class="controls-TreeView__levelPadding">&nbsp;</div>
        </ws:for>
        <div  event:onclick="_onExpandClick(projItem)" class="controls-TreeView__expand js-controls-TreeView__expand {{projItem.isExpanded() ? 'controls-TreeView__expand__open' : ''}}"></div>
    </ws:if>
<ws:partial template="{{contentTemplate}}" scope="{{...}}" attributes="{{ attributes }}"></ws:partial>
</div>
