<div class="demo-dropdown">
   <div class="demo-dropdown-wrapper">
      <h3>Simple</h3>
      <Controls.Input.Dropdown bind:selectedKeys="_selectedKeysSimple"
                               keyProperty="id"
                               source="{{_createMemory(_simpleItems)}}"/>
   </div>
   <div class="demo-dropdown-wrapper">
      <h3>With subparagraphs</h3>
      <Controls.Input.Dropdown bind:selectedKeys="_selectedKeys0"
                               keyProperty="id"
                               source="{{_getDefaultMemory()}}"/>
   </div>
   <div class="demo-dropdown-wrapper">
      <h3>With the second level</h3>
      <Controls.Input.Dropdown bind:selectedKeys="_selectedKeysHierarchy"
                               keyProperty="id"
                               parentProperty="parent"
                               nodeProperty="@parent"
                               source="{{_createMemory(_hierarchyItems)}}"/>
   </div>
   <div class="demo-dropdown-wrapper">
      <h3>With icons on the left</h3>
      <Controls.Input.Dropdown bind:selectedKeys="_selectedKeysIcon"
                               keyProperty="id"
                               source="{{_createMemory(_iconItems)}}"/>
   </div>
   <div class="demo-dropdown-wrapper">
      <h3>With scroll</h3>
      <Controls.Input.Dropdown bind:selectedKeys="_selectedKeysScroll"
                               keyProperty="id"
                               source="{{_getMultiData()}}"/>
   </div>
   <div class="demo-dropdown-wrapper">
      <h3>With comment(and icon on the right)</h3>
      <Controls.Input.Dropdown bind:selectedKeys="_selectedKeysMyTemplate"
                               keyProperty="id"
                               itemTemplate="tmpl!Controls-demo/Input/Dropdown/itemTemplateDropdown"
                               source="{{_createMemory(_myTemplateItems)}}"/>
   </div>
   <div class="demo-dropdown-wrapper">
      <h3>With empty text</h3>
      <Controls.Input.Dropdown bind:selectedKeys="_selectedKeysEmpty"
                               keyProperty="id"
                               emptyText="{{true}}"
                               source="{{_createMemory(_emptyItems)}}"/>
   </div>
   <div class="demo-dropdown-wrapper">
      <h3>With duplication of the selected item</h3>
      <Controls.Input.Dropdown bind:selectedKeys="_selectedKeys0"
                               keyProperty="id"
                               source="{{_getDefaultMemory()}}"/>
   </div>
</div>