<ws:partial template="tmpl!Controls/Dropdown/resources/template/itemTemplate"
            itemData="{{itemData}}">
   <ws:contentTemplate>
      <div class="myItemTemplate1">
         {{itemData.getPropValue(itemData.item, 'title')}}
         <div class="comment">
            {{itemData.getPropValue(itemData.item, 'comment')}}
         </div>
      </div>
   </ws:contentTemplate>
</ws:partial>