.controls-ButtonBase {
  cursor: pointer;
  .inline-flexbox();
  align-items: center;
  outline: none;
  .box-sizing(border-box);
  font-family: @default-font-name;
  font-size: @link-font-size;
  text-align: @button-text-alignment;
  position: relative;
  background: @button-bg;
  .box-shadow(@button-shadow);
  border: none;
  padding: 0;
}