<ws:if data="{{!!icon}}">
   <i class="controls-Button__icon js-controls-Button__icon {{_iconClass}}"></i>
</ws:if>
<span class="controls-Button__text js-controls-Button__text{{(caption === null || caption === '' || caption === undefined) ? ' controls-Button__emptyCaption'}} {{_textClass}}"><ws:if data="{{!(caption === null || caption === '' || caption === undefined)}}">{{caption|sanitize}}</ws:if><ws:else>{{'&nbsp;'|sanitize}}</ws:else></span>