<ws:if data="{{!!icon}}">
   <i class="controls-Button__icon js-controls-Button__icon {{_iconClass}}"></i>
</ws:if>
<ws:if data="{{!!caption}}">
   <span class="controls-Button__text js-controls-Button__text {{_textClass}}">{{caption|sanitize}}</span>
</ws:if>