.controls-DateRange {
   display: inline-block;
   .controls-DateRange__button {
      vertical-align: @date-range-button-vertical-align;
   }

   &.ws-validation-error {
      .controls-FormattedTextBox {
         border-width: @default-border-width;
         border-style: solid;
         border-color: @border-color_InputRender_error;
         background-color: @background-color_InputRender_error;
      }
   }
}

.controls-DateRange__button {
   margin: @date-range-button-margin;
   &.controls-DateRange__button_size_default {
      .controls-Button__icon {
         .icon-size-without-important(@date-range-button-size_default);
         line-height: @date-range-button-line-height_default;
      }
   }
   &.controls-DateRange__button_size_m {
      .controls-Button__icon {
         .icon-size-without-important(@date-range-button-size_m);
         line-height: @date-range-button-line-height_m;
      }
   }
   &.controls-DateRange__button_size_l {
      .controls-Button__icon {
         .icon-size-without-important(@date-range-button-size_l);
         line-height: @date-range-button-line-height_l;
      }
   }
}

.controls-DateRange__dash {
   display: inline-block;
   width: @date-range-dash-width;
   margin: @date-range-dash-margin;
   border-top: @date-range-dash-border-top;
}
