.controls-TileView__previewTemplate_title {
   position: absolute;
   bottom: 0;
   width: 100%;
   box-sizing: border-box;
   display: flex;
   align-items: center;
   left: 0;
}

.controls-TileView__previewTemplate_title_singleLine_theme-@{themeName} {
   min-height: @title_single_line_height_preview_tile;
}

.controls-TileView__previewTemplate_title_multiLine_theme-@{themeName} {
   min-height: @title_multi_line_height_preview_tile;
}

.controls-TileView__previewTemplate_gradient {
   position: absolute;
   right: 0;
   top: 0;
   height: 100%;
   width: 100%;
}

.controls-TileView__previewTemplate_gradient_light_theme-@{themeName} {
   background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) calc(100% - @gradient_light_height_preview_tile), rgba(255, 255, 255, 0) 100%);
}

.controls-TileView__previewTemplate_gradient_dark_theme-@{themeName} {
   background: linear-gradient(to top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) calc(100% - @gradient_dark_height_preview_tile), transparent 100%);
}

.ws-is-hover .controls-TileView__previewTemplate_content:hover .controls-TileView__previewTemplate_gradient_dark_theme-@{themeName} {
   background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.6) calc(100% - @gradient_dark_height_preview_tile), transparent 100%);
}

.controls-TileView__previewTemplate_title_text {
   position: absolute;
   padding: 0 @offset_m;
   left: 0;
   right: 0;
   display: flex;
   justify-content: space-between;
   box-sizing: border-box;
   height: 100%;
   align-items: center;
}

.controls-TileView__previewTemplate_title_text_light_theme-@{themeName} {
   color: @background-color;
}

.controls-TileView__previewTemplate_topTemplate {
   position: absolute;
   top: @top_template_offset_top_preview_tile;
   right: @top_template_offset_right_preview_tile;
}

.controls-TileView__previewTemplate_bottomRightTemplate_theme-@{themeName} {
   padding-left: @offset_m;
   align-self: center;
}

.controls-TileView__previewTemplate_itemActions {
   right: 0;
   padding: 0;
}

.controls-itemActionsV__action_style_tileDark + .controls-itemActionsV__action_style_tileDark {
   box-shadow: inset @border-thickness 0 @icon_style_color_tile_dark_preview_tile;
}

.controls-itemActionsV__action_style_tileLight + .controls-itemActionsV__action_style_tileLight {
   box-shadow: inset @border-thickness 0 @contrast_text-color;
}

.controls-icon_style-tileDark_theme-@{themeName} {
   fill: @icon_style_color_tile_dark_preview_tile;
   color: @icon_style_color_tile_dark_preview_tile;
}

.ws-is-hover {
   .controls-BaseControl_showActions_visible .controls-TileView__previewTemplate .controls-ListView__item_showActions .controls-itemActionsV,
   .controls-BaseControl_showActions_delayed .controls-TileView__previewTemplate .controls-ListView__item_showActions:hover .controls-itemActionsV,
   .controls-BaseControl_showActions_onhover .controls-TileView__previewTemplate .controls-ListView__item_showActions:hover .controls-itemActionsV,
   .controls-BaseControl_showActions_onhover .controls-TileView__previewTemplate:hover .controls-TileView__item_unscaleable .controls-TileView__previewTemplate_canShowActions.controls-itemActionsV {
      opacity: 1;
      visibility: visible;
   }
   .controls-TileView__previewTemplate:hover.controls-TileView__previewTemplate_actions_showed.controls-TileView__previewTemplate_node .controls-TileView__previewTemplate_title_text {
      padding-right: @item_padding_itemActions + @icon-size_m;
   }
   //TODO каскады до выполнения https://online.sbis.ru/opendoc.html?guid=5c209e19-b6b2-47d0-9b8b-c8ab32e133b0 сейчас нельзя обновлять модель, иначе будут жуткие тормоза

   .controls-TileView__previewTemplate:hover.controls-TileView__previewTemplate_actions_showed {
      &:not(.controls-TileView__previewTemplate_node) .controls-TileView__previewTemplate_title_text,
      .controls-TileView__previewTemplate_bottomRightTemplate {
         display: none;
      }
      .controls-TileView__previewTemplate_gradient {
         display: block;
      }
   }
}

.controls-TileView__previewTemplate.controls-TileView__previewTemplate_withoutTitle {
   .controls-TileView__previewTemplate_title_text,
   .controls-TileView__previewTemplate_gradient {
      display: none;
   }
}
// end TODO

// До решения https://online.sbis.ru/opendoc.html?guid=d7a8a9e3-8e83-442d-bcfb-5743d91db7e4
.controls-itemActionsV__action_style_tileDark .controls-itemActionsV__action_title {
   color: @icon_style_color_tile_dark_preview_tile;
}

.controls-itemActionsV__action_style_tileLight .controls-itemActionsV__action_title {
   color: @contrast_text-color;
}

.ws-is-hover .controls-itemActionsV__action.controls-itemActionsV__action_style_tileDark:hover .controls-itemActionsV__action_title {
   color: @icon_style_color_tile_dark_preview_tile;
}

.ws-is-hover .controls-itemActionsV__action.controls-itemActionsV__action_style_tileLight:hover .controls-itemActionsV__action_title {
   color: @contrast_text-color;
}
