<SBIS3.CONTROLS.Tab.Button class="{{'controls-ListView__item ' + item.get('className')|orEmpty}}"
                             attributes="{{ {'data-hash': projItem.getHash(), 'data-id': item.getId() } }}"
      caption="{{item[displayProperty]}}"
      align="{{item.get('align') || 'right'}}"
      icon="{{item.get('icon')}}"
      _order="{{item.get('_order')}}"
      _sideTab="{{item.get('_sideTab')}}"
      enabled="{{item.get('enabled') !== false}}"
      visible="{{item.get('visible') !== false}}"
      checked="{{item.getId() === selectedKey ? true : false}}"
      tooltip="{{item.tooltip}}"
      allowChangeEnable="{{!!allowChangeEnable}}" name="{{item.get('name')}}"></SBIS3.CONTROLS.Tab.Button>