<div class="controls-TabButtons__tabSpace-template">
    <div class="controls-TabButtons__tabSpace-template-inner">
        <ws:if data="{{ tabSpaceTemplate }}">
            <ws:partial template="{{tabSpaceTemplate}}" scope="{{...}}"/>
        </ws:if>
    </div>
</div>