.controls-Misspell_theme_@{themeName} {
	line-height: @height_searchMisspell;
}
.controls-Misspell__text_theme_@{themeName} {
	font-weight: @font-weight_searchMisspell;
}

.controls-Misspell__caption_theme_@{themeName} {
	display: inline-flex;
	flex-shrink: 1;
	font-weight: @font-weight_searchMisspell;
	color: @text-color_searchMisspell;
	cursor: pointer;
	text-align: left;
	max-width: 100%;
}

.controls-Misspell__caption-content_theme_@{themeName} {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.ws-is-hover .controls-Misspell__caption_theme_@{themeName}:hover {
	text-decoration: underline;
	color: @text-color_hover_searchMisspell;
}

.controls-Misspell__caption_theme_@{themeName}:active {
	text-decoration: underline;
	color: @text-color_active_searchMisspell;
}
