<Controls.Application title="Demo-example: Separator(header), back button."
                      appRoot="/materials/"
                      head='<link rel="stylesheet" href="/materials/resources/SBIS3.CONTROLS/themes/online/online.css" type="text/css" />'>
    <div class="demo__header">
        <h2>Header</h2>
        <h3>Big header</h3>
        <div>
            <Controls.Header attr:class="test_element" caption="Header" readOnly="{{true}}" style="default" size="xl"/>
            <Controls.Header attr:class="test_element" caption="Header" readOnly="{{true}}" style="primary" size="xl"/>
        </div>
        <h2>Header with and without click event</h2>
        <div>
            <div>
                <Controls.Header attr:class="test_element" caption="Header" readOnly="{{false}}" style="default" size="l"/>
                <Controls.Header attr:class="test_element" caption="Header" readOnly="{{false}}" style="default" size="m"/>
                <Controls.Header attr:class="test_element" caption="Header" readOnly="{{false}}" style="default" size="s"/>
            </div>
            <div>
                <Controls.Header attr:class="test_element" caption="Header" readOnly="{{false}}" style="primary" size="l"/>
                <Controls.Header attr:class="test_element" caption="Header" readOnly="{{false}}" style="primary" size="m"/>
                <Controls.Header attr:class="test_element" caption="Header" readOnly="{{false}}" style="primary" size="s"/>
            </div>
        </div>
        <h2>Header with counter</h2>
        <div>
            <div attr:class="Header_Counter__wrapper test_element">
                <Controls.Header caption="Header" style="default" size="l"/>
                <Controls.Header.Counter attr:class="counter" value="{{12}}" style="primary" size="l"/>
            </div>
            <div attr:class="Header_Counter__wrapper test_element">
                <Controls.Header caption="Header" style="default" size="m"/>
                <Controls.Header.Counter attr:class="counter" value="{{12}}" style="disabled" size="m"/>
            </div>
            <div attr:class="Header_Counter__wrapper test_element">
                <Controls.Header caption="Header" style="primary" size="s"/>
                <Controls.Header.Counter attr:class="counter" value="{{12}}" style="default" size="s"/>
            </div>
        </div>
        <h2>Separator</h2>
        <h3>Header-separator with and without counter.</h3>
        <div>
            <div>
                <div attr:class="test_element Header_Counter__wrapper header_separator__clickable">
                    <Controls.Header caption="Header" style="default" size="l"/>
                    <Controls.Header.Separator style="default"/>
                </div>
                <div attr:class="test_element Header_Counter__wrapper header_separator__clickable">
                    <Controls.Header caption="Header" style="primary" size="m"/>
                    <Controls.Header.Separator style="primary"/>
                </div>
            </div>
            <div>
                <div attr:class="test_element Header_Counter__wrapper header_separator__clickable">
                    <Controls.Header caption="Header" style="default" size="l"/>
                    <Controls.Header.Counter attr:class="counter" value="{{12}}" style="disabled" size="l"/>
                    <Controls.Header.Separator style="default"/>
                </div>
                <div attr:class="test_element Header_Counter__wrapper header_separator__clickable">
                    <Controls.Header caption="Header" style="primary" size="m"/>
                    <Controls.Header.Counter attr:class="counter" value="{{12}}" style="disabled" size="m"/>
                    <Controls.Header.Separator style="primary"/>
                </div>
            </div>
        </div>
        <h3>Button-separator for showing/hiding contents</h3>
        <div class="demo__block">
            <div attr:class="test_element">
                <Controls.Button.ButtonSeparator on:click="clickIcon()" bold="{{true}}" style="Accent" value="{{_iconValue}}"/>
                <Controls.Button.ButtonSeparator on:click="clickIcon()" bold="{{true}}" style="Main" value="{{_iconValue}}"/>
                <Controls.Button.ButtonSeparator on:click="clickIcon()" bold="{{true}}" style="Additional" value="{{_iconValue}}"/>
            </div>
            <div attr:class="test_element">
                <Controls.Button.ButtonSeparator on:click="clickIcon()" bold="{{false}}" style="Accent" value="{{_iconValue}}"/>
                <Controls.Button.ButtonSeparator on:click="clickIcon()" bold="{{false}}" style="Main" value="{{_iconValue}}"/>
                <Controls.Button.ButtonSeparator on:click="clickIcon()" bold="{{false}}" style="Additional" value="{{_iconValue}}"/>
            </div>
            <Controls.Button.BigSeparator on:click="clickIcon()" value="{{_iconValue}}"/>
        </div>
        <h3>Button-separator and headers with union click</h3>
        <div>
            <div class="demo__block">
                <div attr:class="test_element header_all__clickable">
                    <Controls.Header on:click="clickIcon()" caption="Header" style="default" size="l"/>
                    <Controls.Button.ButtonSeparator on:click="clickIcon()" bold="{{true}}" style="Accent" value="{{_iconValue}}"/>
                </div>
                <div attr:class="test_element header_all__clickable">
                    <Controls.Header on:click="clickIcon()" caption="Header" style="default" size="l"/>
                    <Controls.Header.Counter on:click="clickIcon()" attr:class="counter" value="{{12}}" style="disabled" size="m"/>
                    <Controls.Button.ButtonSeparator on:click="clickIcon()" bold="{{true}}" style="Accent" value="{{_iconValue}}"/>
                </div>
            </div>
            <div class="demo__block">
                <div attr:class="test_element header_all__clickable">
                    <Controls.Button.ButtonSeparator on:click="clickIcon()" bold="{{true}}" style="Accent" value="{{_iconValue}}"/>
                    <Controls.Header on:click="clickIcon()" caption="Header" style="default" size="l"/>
                </div>
                <div attr:class="test_element header_all__clickable">
                    <Controls.Button.ButtonSeparator on:click="clickIcon()" bold="{{true}}" style="Accent" value="{{_iconValue}}"/>
                    <Controls.Header.Counter on:click="clickIcon()" attr:class="counter-left-direction" value="{{12}}" style="disabled" size="m"/>
                    <Controls.Header on:click="clickIcon()" caption="Header" style="default" size="l"/>
                </div>
            </div>
        </div>
        <h3>Button-separator and header without union click</h3>
        <div>
            <div class="demo__block">
                <div attr:class="test_element">
                    <Controls.Header caption="Header" style="default" size="l"/>
                    <Controls.Button.ButtonSeparator on:click="clickIcon()" bold="{{true}}" style="Accent" value="{{_iconValue}}"/>
                </div>
                <div attr:class="test_element">
                    <Controls.Header caption="Header" style="default" size="l"/>
                    <Controls.Header.Counter attr:class="counter" value="{{12}}" style="disabled" size="m"/>
                    <Controls.Button.ButtonSeparator on:click="clickIcon()" bold="{{true}}" style="Accent" value="{{_iconValue}}"/>
                </div>
            </div>
            <div class="demo__block">
                <div attr:class="test_element">
                    <Controls.Button.ButtonSeparator on:click="clickIcon()" bold="{{true}}" style="Accent" value="{{_iconValue}}"/>
                    <Controls.Header caption="Header" style="default" size="l"/>
                </div>
                <div attr:class="test_element">
                    <Controls.Button.ButtonSeparator on:click="clickIcon()" bold="{{true}}" style="Accent" value="{{_iconValue}}"/>
                    <Controls.Header.Counter attr:class="counter-left-direction" value="{{12}}" style="disabled" size="m"/>
                    <Controls.Header caption="Header" style="default" size="l"/>
                </div>
            </div>
        </div>
        <h2>Back button</h2>
        <div>
            <div class="demo__block">
                <Controls.Button.Back attr:class="test_element" style="default" size="l" caption="Back"/>
                <Controls.Button.Back attr:class="test_element" style="primary" size="l" caption="Back"/>
            </div>
            <div class="demo__block">
                <Controls.Button.Back attr:class="test_element" style="default" size="m" caption="Back"/>
                <Controls.Button.Back attr:class="test_element" style="primary" size="m" caption="Back"/>
            </div>
            <div class="demo__block">
                <Controls.Button.Back attr:class="test_element" style="default" size="s" caption="Back"/>
                <Controls.Button.Back attr:class="test_element" style="primary" size="s" caption="Back"/>
            </div>
        </div>
    </div>
</Controls.Application>