<div class="demoHeader" on:click="clickHandler()">
    <span>base line</span>
    <Controls:Header on:countClick="clickCount()"
                     on:iconClick="iconCount()"
                     caption="test header h2"
                     type="simpleHeader"
                     style="default"
                     clickable="{{false}}"
                     counterValue="{{12}}"
                     counterLocation="right"
                     counterStyle="primary"
                     counterSize="m"
                     countClickable="{{true}}"/>
    <span>base line</span>
    <br/>
    <span>base line</span>
    <Controls:Header on:countClick="clickCount()"
                     on:iconClick="iconCount()"
                     caption="test header h2"
                     type="simpleHeader"
                     style="primary"
                     clickable="{{false}}"
                     counterValue="{{12}}"
                     counterLocation="left"
                     counterStyle="default"
                     counterSize="m"
                     countClickable="{{true}}"/>
    <span>base line</span>
    <br/>
    <span>base line</span>
    <Controls:Header on:countClick="clickCount()"
                     on:iconClick="iconCount()"
                     size="m"
                     caption="test header h3"
                     type="commonHeader"
                     style="default"
                     clickable="{{false}}"
                     counterValue="{{12}}"
                     counterLocation="left"
                     counterStyle="disabled"
                     counterSize="s"
                     countClickable="{{false}}"
                     iconLocation="left"
                     iconClickable="{{false}}"
                     iconStyle="Main"
                     openIcon="icon-MarkExpandBold"
                     closeIcon="icon-MarkCollapseBold"
                     iconSize="m"
                     isIconOpen="{{_iconValue}}"/>
    <span>base line</span>
    <br/>
    <span>base line</span>
    <Controls:Header on:countClick="clickCount()"
                     on:iconClick="iconCount()"
                     size="l"
                     caption="test header h3"
                     type="commonHeader"
                     style="primary"
                     clickable="{{true}}"
                     counterValue="{{12}}"
                     counterLocation="left"
                     counterStyle="default"
                     counterSize="m"
                     countClickable="{{true}}"
                     iconLocation="right"
                     iconClickable="{{false}}"
                     iconStyle="Main"
                     openIcon="icon-MarkExpandBold"
                     closeIcon="icon-MarkCollapseBold"
                     iconSize="m"
                     isIconOpen="{{_iconValue}}"
                     commonClick="{{true}}"/>
    <span>base line</span>
    <br/>
    <span>base line</span>
    <Controls:Header on:countClick="clickCount()"
                     on:iconClick="iconCount()"
                     size="s"
                     caption="test header h3"
                     type="commonHeader"
                     style="default"
                     clickable="{{true}}"
                     counterValue="{{12}}"
                     counterLocation="right"
                     counterStyle="primary"
                     counterSize="s"
                     countClickable="{{true}}"
                     iconClickable="{{true}}"
                     iconLocation="left"
                     iconStyle="Accent"
                     openIcon="icon-ExpandLight"
                     closeIcon="icon-CollapseLight"
                     iconSize="m"
                     isIconOpen="{{_iconValue}}"
                     separatorIcon="{{true}}"
                     separatorIconStyle="primary"/>
    <span>base line</span>
    <br/>
    <Controls:Button:Back style="primary" size="l" caption="backButton l primary"/>
    <span>base line</span>
    <Controls:Button:Back style="default" size="s" caption="backButton s default"/>
    <span>base line</span>
    <Controls:Button:Back style="primary" size="m" caption="backButton default primary"/>
    <span>base line</span>
    <Controls:Button:Back caption="test"/>
    <span>base line</span>
</div>