<div class="demoHeader" on:click="clickHandler()">
    <span>base line</span>
    <Controls.Button.ButtonSeparator on:iconClick="iconCount()" iconClickable="{{true}}" iconStyle="Accent" iconValue="{{_iconValue}}"/>
    <Controls.Header caption="test header" type="simpleHeader" style="default" clickable="{{false}}" size="m"/>
    <Controls.Header.Counter.Counter value="{{12}}" style="default" clickable="{{true}}" size="s"/>
    <Controls.Header.Separator.Separator/>
    <span>base line</span>
</div>