<div class="demoHeader">
    <span>base line</span>
    <Controls.Button.ButtonSeparator bold="{{true}}" iconStyle="Accent" iconValue="{{_iconValue}}"/>
    <Controls.Header caption="test header" style="default" size="m"/>
    <Controls.Header.Counter attr:class="counter" value="{{12}}" style="default" size="s"/>
    <Controls.Header.Separator/>
    <span>base line</span>
</div>