<div class="demoWrapper">
    <div class="testBlock" test_name="BackButtonCapture">
        <div class="exampleBlock">
            <h2>Back button</h2>
            <Controls.Button.Back on:click="clickHandler(1)" style="{{_backSelectedStyle}}" size="{{_backSelectedSize}}" caption="{{_backCaption}}" inHeader="{{_inHeader}}" attr:test_name="BackButton"/>
        </div>
        <div class="optionsBlock">
            <h3>Options</h3>
            <Controls.Label name="myLabel1" caption="style:"/>
            <Controls.Toggle.Radio
                    on:selectedKeyChanged="backChangeStyle()"
                    keyProperty="title"
                    selectedKey="{{_backSelectedStyle}}"
                    source="{{_backStyleSource}}"
                    direction="horizontal"
                    readOnly="{{false}}"
					attr:test_name="BackStyle"/>
            <Controls.Label name="myLabel1" caption="size:"/>
            <Controls.Toggle.Radio
                    on:selectedKeyChanged="backChangeSize()"
                    keyProperty="title"
                    selectedKey="{{_backSelectedSize}}"
                    source="{{_backSizeSource}}"
                    direction="horizontal"
                    readOnly="{{false}}"
					attr:test_name="BackSize"/>
            <Controls.Label name="myLabel1" caption="caption"/>
            <Controls.Input.Text bind:value="_backCaption"/>
        </div>
        <div class="eventBlock">
            <span>Component will be clicked:</span>
            <Controls.Button attr:class="demo-ResetButton" on:click="reset()" style="linkMain3" caption="reset"/>
            <br/>
            <span>{{_clickedComponent}}</span>
        </div>
    </div>
    <div class="testBlock" test_name="HeaderCapture">
        <div class="exampleBlock">
            <h2>Заголовок</h2>
            <div class="wrapper">
                <ws:if data="{{_showButtonSeparator}}">
                    <Controls.Button.ButtonSeparator on:click="clickHandler(2)" style="{{_separatorSelectedStyle}}" bold="{{_bold}}" value="{{_iconValue}}" attr:test_name="ButtonSeparator"/>
                </ws:if>
                <div class="wrapperCounterCaption">
                    <ws:if data="{{_showCaption}}">
                        <Controls.Header on:click="clickHandler(3)" caption="{{_caption}}" style="{{_selectedStyle}}" size="{{_selectedSize}}" attr:test_name="Header"/>
                    </ws:if>
                    <ws:if data="{{_showCounter}}">
                        <Controls.Header.Counter on:click="clickHandler(4)" attr:class="counter" value="{{_counterValue}}" style="{{_counterSelectedStyle}}" size="{{_counterSelectedSize}}" attr:test_name="HeaderCounter"/>
                    </ws:if>
                </div>
                <ws:if data="{{_showSeparator}}">
                    <Controls.Header.Separator on:click="clickHandler(3)" style="{{_iconSelectedStyle}}" attr:test_name="HeaderSeparator"/>
                </ws:if>
            </div>
        </div>
        <div class="optionsBlock">
            <h3>Header options</h3>
            <Controls.Toggle.Checkbox readOnly="{{false}}" bind:value="_showCaption" caption="Show header" attr:test_name="ShowCaption"/>
            <Controls.Label name="myLabel1" caption="size:"/>
            <Controls.Toggle.Radio
                    on:selectedKeyChanged="changeSize()"
                    keyProperty="title"
                    selectedKey="{{_selectedSize}}"
                    source="{{_headerSizeSource}}"
                    direction="horizontal"
                    readOnly="{{false}}"
					attr:test_name="CaptionSize"/>
            <Controls.Label name="myLabel1" caption="caption"/>
            <Controls.Input.Text bind:value="_caption"/>
            <Controls.Label name="myLabel1" caption="style:"/>
            <Controls.Toggle.Radio
                    on:selectedKeyChanged="changeStyle()"
                    keyProperty="title"
                    selectedKey="{{_selectedStyle}}"
                    source="{{_headerStyleSource}}"
                    direction="horizontal"
                    readOnly="{{false}}"
					attr:test_name="CaptionStyle"/>
            <h3>Counter options</h3>
            <Controls.Toggle.Checkbox readOnly="{{false}}" bind:value="_showCounter" caption="Show counter" attr:test_name="ShowCounter"/>
            <Controls.Label name="myLabel1" caption="value"/>
            <Controls.Input.Number bind:value="_counterValue"/>
            <Controls.Label name="myLabel1" caption="style:"/>
            <Controls.Toggle.Radio
                    on:selectedKeyChanged="counterChangeStyle()"
                    keyProperty="title"
                    selectedKey="{{_counterSelectedStyle}}"
                    source="{{_counterStyleSource}}"
                    direction="horizontal"
                    readOnly="{{false}}"
					attr:test_name="CounterStyle"/>
            <Controls.Label name="myLabel1" caption="size:"/>
            <Controls.Toggle.Radio
                    on:selectedKeyChanged="counterChangeSize()"
                    keyProperty="title"
                    selectedKey="{{_counterSelectedSize}}"
                    source="{{_counterSizeSource}}"
                    direction="horizontal"
                    readOnly="{{false}}"
					attr:test_name="CounterSize"/>
            <h3>Button-separator options</h3>
            <Controls.Toggle.Checkbox readOnly="{{false}}" bind:value="_showButtonSeparator" caption="Show button-separator" attr:test_name="ShowButtonSeparator"/>
            <Controls.Label name="myLabel1" caption="style:"/>
            <Controls.Toggle.Radio
                    on:selectedKeyChanged="separatorChangeStyle()"
                    keyProperty="title"
                    selectedKey="{{_separatorSelectedStyle}}"
                    source="{{_separatorStyleSource}}"
                    direction="horizontal"
                    readOnly="{{false}}"
					attr:test_name="IconStyle"/>
            <br/>
            <Controls.Toggle.Checkbox readOnly="{{false}}" bind:value="_bold" caption="bold" attr:test_name="bold"/>
            <h3>Header-separator options</h3>
            <Controls.Toggle.Checkbox readOnly="{{false}}" bind:value="_showSeparator" caption="Show header-separator" attr:test_name="ShowHeaderSeparator"/>
            <Controls.Label name="myLabel1" caption="style(только для тем carry и presto):"/>
            <Controls.Toggle.Radio
                    on:selectedKeyChanged="iconChangeStyle()"
                    keyProperty="title"
                    selectedKey="{{_iconSelectedStyle}}"
                    source="{{_iconStyleSource}}"
                    direction="horizontal"
                    readOnly="{{false}}"
					attr:test_name="SeparatorIconStyle"/>
        </div>
    </div>
</div>