<div class="demoWrapper">
    <div class="testBlock" test_name="HeaderCapture">
        <div class="exampleBlock">
            <h2>Header</h2>
            <Controls.Header on:click="clickHandler(3)" caption="{{_caption}}" style="{{_selectedStyle}}" size="{{_selectedSize}}" attr:test_name="Header"/>
        </div>
        <div class="optionsBlock">
            <h3>Options</h3>
            <Controls.Label name="myLabel1" caption="size:"/>
            <Controls.Toggle.Radio
                    on:selectedKeyChanged="changeSize()"
                    keyProperty="title"
                    selectedKey="{{_selectedSize}}"
                    source="{{_headerSizeSource}}"
                    direction="horizontal"
                    readOnly="{{false}}"
					attr:test_name="CaptionSize"/>
            <Controls.Label name="myLabel1" caption="caption"/>
            <Controls.Input.Text bind:value="_caption"/>
            <Controls.Label name="myLabel1" caption="style:"/>
            <Controls.Toggle.Radio
                    on:selectedKeyChanged="changeStyle()"
                    keyProperty="title"
                    selectedKey="{{_selectedStyle}}"
                    source="{{_headerStyleSource}}"
                    direction="horizontal"
                    readOnly="{{false}}"
					attr:test_name="CaptionStyle"/>
        </div>
        <div class="eventBlock">
            <span>Event that surfaced:</span>
            <Controls.Button attr:class="demo-ResetButton" on:click="reset()" style="linkMain3" caption="reset"/>
            <br/>
            <span>{{_eventName}}</span>
        </div>
    </div>
</div>