<div class="demoWrapper">
    <div class="testBlock" test_name="HeaderCapture">
        <div class="exampleBlock">
            <Controls.Heading readOnly="{{_readOnly}}" on:activated="activatedHandler()" on:deactivated="deactivatedHandler()" caption="{{_caption}}" style="{{_selectedStyle}}" size="{{_selectedSize}}" attr:test_name="Header"/>
        </div>
        <div class="optionsBlock">
            <h3>Options</h3>
            <Controls.Label name="myLabel1" caption="size:"/>
            <Controls.Input.ComboBox
                    source="{{_headerSizeSource}}"
                    keyProperty="title"
                    placeholder="select"
                    displayProperty="title"
                    selectedKey="{{_selectedSize}}"
                    on:selectedKeyChanged="changeSize()"
					attr:test_name="CaptionSize"
            />
            <Controls.Label name="myLabel1" caption="caption"/>
            <Controls.Input.Text bind:value="_caption"/>
            <Controls.Label name="myLabel1" caption="style:"/>
            <Controls.Input.ComboBox
                    source="{{_headerStyleSource}}"
                    keyProperty="title"
                    placeholder="select"
                    displayProperty="title"
                    selectedKey="{{_selectedStyle}}"
                    on:selectedKeyChanged="changeStyle()"
					attr:test_name="CaptionStyle"
            />
            <br/>
            <Controls.Toggle.Checkbox readOnly="{{false}}" bind:value="_readOnly" caption="readOnly"/>
        </div>
        <div class="eventBlock">
            <span>Event that surfaced:</span>
            <Controls.Button attr:class="demo-ResetButton" on:click="reset()" style="linkMain3" caption="reset"/>
            <br/>
            <span>{{_eventName}}</span>
        </div>
    </div>
</div>