.demoWrapper {
   display: flex;
   justify-content: space-around;
   font-family: TensorFont!important;
}

.optionsBlock {
   padding: 3em;
   background-color: #e0e6f5;
}

.exampleBlock {
   padding: 3em;
   background-color: #e6edf0;
}