 <div class="demo__header">
    <h1>Headers</h1>
    <h2>Header without click event</h2>
    <div>
        <div>
            <div attr:class="test_element__wrapper">
                <span attr:class="test_element">xl size</span>
            </div>
            <div attr:class="test_element__wrapper">
                <Controls.Header attr:class="test_element" caption="Header" readOnly="{{true}}" style="default" size="xl"/>
            </div>
            <div attr:class="test_element__wrapper">
                <Controls.Header attr:class="test_element" caption="Header" readOnly="{{true}}" style="primary" size="xl"/>
            </div>
        </div>
        <div>
            <div attr:class="test_element__wrapper">
                <span attr:class="test_element">l size</span>
            </div>
            <div attr:class="test_element__wrapper">
                <Controls.Header attr:class="test_element" caption="Header" readOnly="{{true}}" style="default" size="l"/>
            </div>
            <div attr:class="test_element__wrapper">
                <Controls.Header attr:class="test_element" caption="Header" readOnly="{{true}}" style="primary" size="l"/>
            </div>
        </div>
        <div>
            <div attr:class="test_element__wrapper">
                <span attr:class="test_element">m size</span>
            </div>
            <div attr:class="test_element__wrapper">
                <Controls.Header attr:class="test_element" caption="Header" readOnly="{{true}}" style="default" size="m"/>
            </div>
            <div attr:class="test_element__wrapper">
                <Controls.Header attr:class="test_element" caption="Header" readOnly="{{true}}" style="primary" size="m"/>
            </div>
        </div>
        <div>
            <div attr:class="test_element__wrapper">
                <span attr:class="test_element">s size</span>
            </div>
            <div attr:class="test_element__wrapper">
                <Controls.Header attr:class="test_element" caption="Header" readOnly="{{true}}" style="default" size="s"/>
            </div>
            <div attr:class="test_element__wrapper">
                <Controls.Header attr:class="test_element" caption="Header" readOnly="{{true}}" style="primary" size="s"/>
            </div>
        </div>
    </div>
    <h2>Header with click event (with hover)</h2>
    <div>
        <div>
            <div attr:class="test_element__wrapper">
                <span attr:class="test_element">l size</span>
            </div>
            <div attr:class="test_element__wrapper">
                <Controls.Header on:click="clickHeaderAction()" attr:class="test_element" caption="Header" readOnly="{{false}}" style="default" size="l"/>
            </div>
            <div attr:class="test_element__wrapper">
                <Controls.Header on:click="clickHeaderAction()" attr:class="test_element" caption="Header" readOnly="{{false}}" style="primary" size="l"/>
            </div>
        </div>
        <div>
            <div attr:class="test_element__wrapper">
                <span attr:class="test_element">m size</span>
            </div>
            <div attr:class="test_element__wrapper">
                <Controls.Header on:click="clickHeaderAction()" attr:class="test_element" caption="Header" readOnly="{{false}}" style="default" size="m"/>
            </div>
            <div attr:class="test_element__wrapper">
                <Controls.Header on:click="clickHeaderAction()" attr:class="test_element" caption="Header" readOnly="{{false}}" style="primary" size="m"/>
            </div>
        </div>
        <div>
            <div attr:class="test_element__wrapper">
                <span attr:class="test_element">s size</span>
            </div>
            <div attr:class="test_element__wrapper">
                <Controls.Header on:click="clickHeaderAction()" attr:class="test_element" caption="Header" readOnly="{{false}}" style="default" size="s"/>
            </div>
            <div attr:class="test_element__wrapper">
                <Controls.Header on:click="clickHeaderAction()" attr:class="test_element" caption="Header" readOnly="{{false}}" style="primary" size="s"/>
            </div>
        </div>
    </div>
    <h2>Header with counter</h2>
    <div>
        <div attr:class="test_element__wrapper">
            <span attr:class="test_element">l size</span>
        </div>
        <div attr:class="test_element__wrapper">
            <div attr:class="Header_Counter__wrapper test_element controls-Header_all__clickable">
                <Controls.Header caption="Header" style="default" size="l"/>
                <Controls.Header.Counter attr:class="counter" value="{{12}}" style="disabled" size="m"/>
            </div>
        </div>
    </div>
    <div>
        <div attr:class="test_element__wrapper">
            <span attr:class="test_element">m size</span>
        </div>
        <div attr:class="test_element__wrapper">
            <div attr:class="Header_Counter__wrapper test_element controls-Header_all__clickable">
                <Controls.Header caption="Header" style="primary" size="m"/>
                <Controls.Header.Counter attr:class="counter" value="{{12}}" style="default" size="s"/>
            </div>
        </div>
    </div>
    <div>
        <div attr:class="test_element__wrapper">
            <span attr:class="test_element">s size</span>
        </div>
        <div attr:class="test_element__wrapper">
            <div attr:class="Header_Counter__wrapper test_element controls-Header_all__clickable">
                <Controls.Header caption="Header" style="default" size="s"/>
                <Controls.Header.Counter attr:class="counter" value="{{12}}" style="primary" size="m"/>
            </div>
        </div>
    </div>
    <h2>Separator</h2>
    <h3>Header-separator with and without counter</h3>
    <div>
        <div>
            <div attr:class="test_element__wrapper">
                <span attr:class="test_element">l size</span>
            </div>
            <div attr:class="test_element__wrapper">
                <div attr:class="test_element Header_Counter__wrapper controls-Header_Separator__clickable">
                    <Controls.Header caption="Header" style="default" size="l"/>
                    <Controls.Header.Separator style="default"/>
                </div>
            </div>
            <div attr:class="test_element__wrapper">
                <div attr:class="test_element Header_Counter__wrapper controls-Header_Separator__clickable">
                    <Controls.Header caption="Header" style="default" size="l"/>
                    <Controls.Header.Counter attr:class="counter" value="{{12}}" style="disabled" size="m"/>
                    <Controls.Header.Separator style="default"/>
                </div>
            </div>
        </div>
        <div>
            <div attr:class="test_element__wrapper">
                <span attr:class="test_element">m size</span>
            </div>
            <div attr:class="test_element__wrapper">
                <div attr:class="test_element Header_Counter__wrapper controls-Header_Separator__clickable">
                    <Controls.Header caption="Header" style="primary" size="m"/>
                    <Controls.Header.Separator style="primary"/>
                </div>
            </div>
            <div attr:class="test_element__wrapper">
                <div attr:class="test_element Header_Counter__wrapper controls-Header_Separator__clickable">
                    <Controls.Header caption="Header" style="primary" size="m"/>
                    <Controls.Header.Counter attr:class="counter" value="{{12}}" style="disabled" size="m"/>
                    <Controls.Header.Separator style="primary"/>
                </div>
            </div>
        </div>
    </div>
    <h3>Button-separator for showing/hiding contents</h3>
    <div>
        <div>
            <div attr:class="test_element__wrapper">
                <span attr:class="test_element">Main style:</span>
            </div>
            <div attr:class="test_element__wrapper">
                <Controls.Button.Separator attr:class="test_element" on:click="clickIcon(2)" bold="{{true}}" style="main" value="{{_iconValue2}}"/>
            </div>
            <div attr:class="test_element__wrapper">
                <Controls.Button.Separator attr:class="test_element" on:click="clickIcon(5)" bold="{{false}}" style="main" value="{{_iconValue5}}"/>
            </div>
            <div attr:class="test_element__wrapper">
                <Controls.Button.BigSeparator attr:class="test_element" on:click="clickIcon(15)" value="{{_iconValue15}}"/>
            </div>
        </div>
        <div>
            <div attr:class="test_element__wrapper">
                <span attr:class="test_element">Accent style:</span>
            </div>
            <div attr:class="test_element__wrapper">
                <Controls.Button.Separator attr:class="test_element" on:click="clickIcon(1)" bold="{{true}}" style="accent" value="{{_iconValue1}}"/>
            </div>
            <div attr:class="test_element__wrapper">
                <Controls.Button.Separator attr:class="test_element" on:click="clickIcon(4)" bold="{{false}}" style="accent" value="{{_iconValue4}}"/>
            </div>
        </div>
        <div>
            <div attr:class="test_element__wrapper">
                <span attr:class="test_element">Additional style:</span>
            </div>
            <div attr:class="test_element__wrapper">
                <Controls.Button.Separator attr:class="test_element" on:click="clickIcon(3)" bold="{{true}}" style="additional" value="{{_iconValue3}}"/>
            </div>
            <div attr:class="test_element__wrapper">
                <Controls.Button.Separator attr:class="test_element" on:click="clickIcon(6)" bold="{{false}}" style="additional" value="{{_iconValue6}}"/>
            </div>
        </div>
    </div>
    <h3>Button-separator and headers with union click</h3>
    <div>
        <div>
            <div attr:class="test_element__wrapper">
                <span attr:class="test_element">m size, without counter</span>
            </div>
            <div attr:class="test_element__wrapper">
                <div attr:class="test_element controls-Header_all__clickable">
                    <Controls.Header on:click="clickIcon(7)" caption="Header" style="primary" size="m"/>
                    <Controls.Button.Separator on:click="clickIcon(7)" bold="{{true}}" style="main" value="{{_iconValue7}}" size="m"/>
                </div>
            </div>
            <div attr:class="test_element__wrapper">
                <div attr:class="test_element controls-Header_all__clickable">
                    <Controls.Button.Separator on:click="clickIcon(9)" bold="{{true}}" style="main" value="{{_iconValue9}}"/>
                    <Controls.Header on:click="clickIcon(9)" caption="Header" style="primary" size="m"/>
                </div>
            </div>
        </div>
        <div>
            <div attr:class="test_element__wrapper">
                <span attr:class="test_element">m size, with counter</span>
            </div>
            <div attr:class="test_element__wrapper">
                <div attr:class="test_element controls-Header_all__clickable">
                    <Controls.Header on:click="clickIcon(8)" caption="Header" style="primary" size="m"/>
                    <Controls.Header.Counter on:click="clickIcon(8)" attr:class="counter" value="{{12}}" style="default" size="m"/>
                    <Controls.Button.Separator on:click="clickIcon(8)" bold="{{true}}" style="main" value="{{_iconValue8}}"/>
                </div>
            </div>
            <div attr:class="test_element__wrapper">
                <div attr:class="test_element controls-Header_all__clickable">
                    <Controls.Button.Separator on:click="clickIcon(10)" bold="{{true}}" style="main" value="{{_iconValue10}}"/>
                    <Controls.Header.Counter on:click="clickIcon(10)" attr:class="counter-left-direction" value="{{12}}" style="default" size="m"/>
                    <Controls.Header on:click="clickIcon(10)" caption="Header" style="primary" size="m"/>
                </div>
            </div>
        </div>
    </div>
    <h3>Button-separator and header without union click</h3>
    <div>
        <div>
            <div attr:class="test_element__wrapper">
                <span attr:class="test_element">m size, without counter</span>
            </div>
            <div attr:class="test_element__wrapper">
                <div attr:class="test_element controls-Header_all__clickable">
                    <Controls.Header on:click="clickHeaderAction()" caption="Header" style="primary" size="m"/>
                    <Controls.Button.Separator on:click="clickIcon(7)" bold="{{true}}" style="main" value="{{_iconValue7}}" size="m"/>
                </div>
            </div>
            <div attr:class="test_element__wrapper">
                <div attr:class="test_element controls-Header_all__clickable">
                    <Controls.Button.Separator on:click="clickIcon(9)" bold="{{true}}" style="main" value="{{_iconValue9}}"/>
                    <Controls.Header on:click="clickHeaderAction()" caption="Header" style="primary" size="m"/>
                </div>
            </div>
        </div>
        <div>
            <div attr:class="test_element__wrapper">
                <span attr:class="test_element">m size, with counter</span>
            </div>
            <div attr:class="test_element__wrapper">
                <div attr:class="test_element controls-Header_all__clickable">
                    <Controls.Header on:click="clickHeaderAction()" caption="Header" style="primary" size="m"/>
                    <Controls.Header.Counter on:click="clickHeaderAction()" attr:class="counter" value="{{12}}" style="default" size="m"/>
                    <Controls.Button.Separator on:click="clickIcon(8)" bold="{{true}}" style="main" value="{{_iconValue8}}"/>
                </div>
            </div>
            <div attr:class="test_element__wrapper">
                <div attr:class="test_element controls-Header_all__clickable">
                    <Controls.Button.Separator on:click="clickIcon(10)" bold="{{true}}" style="main" value="{{_iconValue10}}"/>
                    <Controls.Header.Counter on:click="clickHeaderAction()" attr:class="counter-left-direction" value="{{12}}" style="default" size="m"/>
                    <Controls.Header on:click="clickHeaderAction()" caption="Header" style="primary" size="m"/>
                </div>
            </div>
        </div>
    </div>
    <h2>Back button</h2>
    <div>
        <div attr:class="test_element__wrapper">
            <div>
                <span attr:class="test_element">l size</span>
                <Controls.Button.Back attr:class="test_element" style="default" size="l" caption="Back"/>
                <Controls.Button.Back attr:class="test_element" style="primary" size="l" caption="Back"/>
            </div>
        </div>
        <div attr:class="test_element__wrapper">
            <div>
                <span attr:class="test_element">m size</span>
                <Controls.Button.Back attr:class="test_element" style="default" size="m" caption="Back"/>
                <Controls.Button.Back attr:class="test_element" style="primary" size="m" caption="Back"/>
            </div>
        </div>
        <div attr:class="test_element__wrapper">
            <div>
                <span attr:class="test_element">s size</span>
                <Controls.Button.Back attr:class="test_element" style="default" size="s" caption="Back"/>
                <Controls.Button.Back attr:class="test_element" style="primary" size="s" caption="Back"/>
            </div>
        </div>
    </div>
</div>