.controls-InfoboxButton{
  display: inline-block;
}
.controls-InfoboxButton__icon{
  fill: var(--icon-color_infobox_button);
  vertical-align: middle;
}
.controls-InfoboxButton__icon:hover{
  fill: var(--icon-color_hover_infobox_button);
}
