.controls-InfoboxButton{
  display: inline-block;
}
.controls-InfoboxButton__icon_theme-@{themeName}{
  fill: @icon-color_infobox_button;
  vertical-align: middle;
}
.controls-InfoboxButton__icon_theme-@{themeName}:hover{
  fill: @icon-color_hover_infobox_button;
}
