.controls-InfoboxButton{
  display: inline-block;
}
.controls-InfoboxButton__icon__m:hover {
  fill: #313E78;
}
.controls-InfoboxButton__icon__s:hover {
  fill: #313E78;
}
.controls-InfoboxButton__icon__m{
  width:24px;
  height: 24px;
  fill: #CCCCCC;
  vertical-align: middle;
}
.controls-InfoboxButton__icon__s{
  width:16px;
  height: 16px;
  fill: #CCCCCC;
  vertical-align: middle;
}




