<div class="controls-FilterPanelChooser__afterChooserWrapper">
    <ws:SBIS3.CONTROLS.Link name="controls-FilterPanelChooser__dictionaryButton"
                            className="controls-FilterPanelChooser__dictionaryButton additionalLink controls-Link__disabledHover"
                            caption="{{ captionFullList }}"
                            command="showDictionary">
    </ws:SBIS3.CONTROLS.Link>
    <ws:SBIS3.CONTROLS.Link name="controls-FilterPanelChooser__allButton"
                            className="controls-FilterPanelChooser__allButton additionalLink controls-Link__disabledHover"
                            caption="{{ 'Ещё' + ' ' + (properties.items.getCount() - 3) }}"
                            command="showFullList"
                            commandArgs="{{ [true] }}"
                            visible="{{ properties.items.getCount() > 3 }}">
    </ws:SBIS3.CONTROLS.Link>
</div>