<div>
   <ws:if data="{{ jsLinks }}">
      <ws:for data="index, value in jsLinks">
         <script type="text/javascript" src="{{ value }}" defer="defer" key="{{ 'scripts_' + index }}"></script>
      </ws:for>
   </ws:if>
</div>