<Controls.Application title="Demo-example: {{_options.caption}}"
                      appRoot="/materials/"
                      head='<link rel="stylesheet" href="/materials/resources/SBIS3.CONTROLS/themes/online/online.css" type="text/css" />'>
    <ws:partial template="{{_options.content}}"/>
</Controls.Application>
