/*import basic style to application.less*/
@import "Controls-theme/themes/default/fonts/TensorFont";
@import "Controls-theme/themes/default/fonts/cbus-icons";

//
//Удаляю всякие старые классы из VDOM согласно новости https://online.sbis.ru/news/711232e7-7c9c-4800-bcb4-5c71a9d68da5
//все эти класcы есть в старых темах и должны прилетать со слоем совместимости
//для всех кто по каким то причинам их использует в VDOM я выписываю задачи и оставляю временно классы в этом блоке
//пока что достоверно известно что asLink используют в новостях на главной

//action-hover тоже
.asLink {
   cursor: pointer;
   text-decoration: none;
   background-color: transparent;
   color: @color_App-link;
}

.ws-is-hover .asLink:hover,
.asLink:active {
   text-decoration: underline;
   color: @color_App-link_hover;
}

.ws-is-hover {
   .action-hover:not(.ws-disabled):hover {
      color: @color_link-hover;
   }
}


//icons compatibility with new params
//тут определяю только размеры иконок. Делаю это через новые алиасы, чтоб работала темизация. Вообще от этих иконок избавлюсь по проекту
//иконки на старых страницах будут работать чеоез стили определенные в теме, в oldIcons.less
.icon-small, .icon-16  {
   .icon-size(@size_icon_s, @font-family_icon_size-s);
}
.icon-medium, .icon-24 {
   .icon-size(@size_icon_m, @font-family_icon_size-m);
}
.icon-default {
   .icon-size(@size_icon_default, @font-family_icon_size-default);
}
.icon-large, .icon-32 {
   .icon-size(@size_icon_l, @font-family_icon_size-l);
}
/* ATTENTION styles */
.icon-attention
{
   color: @color_warning;
}

/* DONE styles */
.icon-done
{
   color: @color_success;
}

/* ERROR styles */
.icon-error
{
   color: @color_danger;
}

/* PRIMARY styles */
.icon-primary
{
   color: @color_secondary;
   fill: @color_secondary;
}

/* DISABLED styles */
.icon-disabled
{
   color: @color_readOnly;
   fill: @color_readOnly;
}
.icon-hover{
   color: @color_primary;
}
/* Для тех, кто поддерживает... */
.icon-small, .icon-medium, .icon-large, .icon-size, .icon-16, .icon-24, .icon-32, .icon-default {
   speak: none;
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   text-transform: none;
   line-height: 1;
   display: inline-block;
}

.ws-link {
   cursor: pointer;
   text-decoration: none;
   background-color: transparent;
   color: @color_App-link;
}

.ws-is-hover .ws-link:hover,
.ws-link:active {
   text-decoration: underline;
   color: @color_App-link_hover;
}
