<html attr:lang="ru" attr:xml:lang="ru" attr:xmlns="http://www.w3.org/1999/xhtml" attr:key="1_" attr:id="root" attr:component="Controls/Application">
<head key="1_1_">
   <ws:if data="{{ _options.head }}">
      <ws:partial template="{{ _options.head }}" />
   </ws:if>
   <ws:if data="{{ cssLinks }}">
      <ws:for data="index, value in cssLinks">
         <link rel="stylesheet" href="{{ value }}" type="text/css" key="{{ 'css_' + index }}"/>
      </ws:for>
   </ws:if>
   <title key="title">{{ title }}</title>
   <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<Controls:Event:Listener name="scrollDetect" register="scroll">
   <Controls:Event:Listener name="resizeDetect" register="resize">
      <body class="ws-is-chrome" id="body" key="1_2_" on:scroll="_scrollPage()" on:resize="_resizePage()">
         <ws:if data="{{ content.content }}">
            <ws:partial template="{{ content.content }}" scope="{{ templateConfig }}" />
         </ws:if>
         <div key="scripts">
            <script key="ws-config">
               window.wsConfig = {
                  wsRoot: '{{wsRoot}}',
                  resourceRoot: '{{resourceRoot}}',
                  compatible: '{{compat}}'
               };
            </script>
            <script key="config" type="text/javascript" src="{{wsRoot}}ext/requirejs/bundles.js"></script>
            <script key="require" type="text/javascript" src="/cdn/requirejs/2.3.5-p3/require-min.js"></script>
            <script key="contents" type="text/javascript" src="{{resourceRoot}}/contents.js"></script>
            <script key="config" type="text/javascript" src="{{wsRoot}}ext/requirejs/config.js"></script>

            <ws:if data="{{ jsLinks }}">
               <ws:for data="index, value in jsLinks">
                  <script type="text/javascript" src="{{ value }}" defer="defer" key="{{ 'scripts_' + index }}"></script>
               </ws:for>
            </ws:if>
            <ws:if data="{{!compat}}">
               <script key="init_script">
                  require(['Core/app']);
               </script>
            </ws:if>
            <ws:else>
               <Controls:Application:CompatibleScripts/>
            </ws:else>
         </div>
         <Controls:Popup:Manager:Container attr:id="popup"/>
      </body>
   </Controls:Event:Listener>
</Controls:Event:Listener>
</html>