<!doctype html>
<Controls.Application.Core
   application="{{application}}"
   scope="{{_options}}"
   attr:component="{{application}}"
   cssLinks="{{ cssLinks }}"
   wsRoot="{{wsRoot}}"
   resourceRoot="{{resourceRoot}}"
   jsLinks="{{ jsLinks }}"/>