<ws:partial template="{{template}}" scope="{{_options}}"
            cssLinks="{{ cssLinks }}"
            wsRoot="{{wsRoot}}"
            resourceRoot="{{resourceRoot}}"
            jsLinks="{{ jsLinks }}"  />