<div key="scripts">
   <ws:if data="{{!compat}}">
      <script key="init_script">
         require(['Controls/Application/AppData'], function(AppData){
            window.startContextData = {AppData: new AppData({})};
            require(['Core/app'], function(app) { app(); });
         });
      </script>
   </ws:if>
   <ws:else>
      <ws:partial template="tmpl!Controls/Application/CompatibleScripts" />
   </ws:else>
</div>