<div key="scripts">
   <ws:if data="{{!compat}}">
      <script key="init_script">
         require(['Controls/Application/AppData', 'Controls/Application/HeadDataContext'], function(AppData, HeadDataContext){
            window.startContextData = {AppData: new AppData({}), headData: new HeadDataContext({})};
            var deps = eval("{{ getDeps() }}".replace(/&quot;/g, '"'));
            require(['Core/app2'].concat(deps), function(app) { app(); });
         });
      </script>
   </ws:if>
   <ws:else>
      <ws:partial template="tmpl!Controls/Application/CompatibleScripts" />
   </ws:else>
</div>
