<div class="controls-controls-InfoBoxDemo" style="display: flex;">

   <style>
      .controls-InfoBoxDemo-targets {
         display: flex;
         flex-wrap: wrap;
         margin: 40px 80px;
         width: 325px;
      }
      .controls-InfoBoxDemo-target {
         width: 64px;
         height: 64px;
         background: #69b0ff;
         color: #fff;
         display: flex;
         align-items: center;
         justify-content: center;
         margin: 20px;
         cursor: pointer;
         position: relative;
      }
      .controls-InfoBoxDemo-target:hover {
         background: #489dfc;
      }
      .controls-InfoBoxDemo-square {
         position: absolute;
         width: 17px;
         height: 17px;
         background: #bd0000;
      }
   </style>

   <Controls:InfoBoxOpener name="IBOpener" style="error"></Controls:InfoBoxOpener>

   <div class="controls-InfoBoxDemo-targets">

      <ws:for data="item in _items">
         <div class="controls-InfoBoxDemo-target" on:mouseenter="_open(item.cfg)" on:mouseleave="_close()">
            <div class="controls-InfoBoxDemo-square" style="top: {{item.top}}; left: {{item.left}}; right: {{item.right}}; bottom: {{item.bottom}}"></div>
            {{item.text}}
         </div>
      </ws:for>

   </div>

</div>