<div>
   <Controls.Popup.InfoBox showMode="all">
      <ws:content>
         <div>Наведите курсор(showMode = all)</div>
      </ws:content>
      <ws:template>
         <div>Это всплывающая подсказка.</div>
      </ws:template>
   </Controls.Popup.InfoBox>
   <Controls.Popup.InfoBox showMode="click">
      <ws:content>
         <div>Наведите курсор(showMode = click)</div>
      </ws:content>
      <ws:template>
         <div>Это всплывающая подсказка.</div>
      </ws:template>
   </Controls.Popup.InfoBox>
   <Controls.Popup.InfoBox showMode="hover">
      <ws:content>
         <div>Наведите курсор(showMode = hover)</div>
      </ws:content>
      <ws:template>
         <div>Это всплывающая подсказка.</div>
      </ws:template>
   </Controls.Popup.InfoBox>
</div>
