<ws:partial template='tmpl!Controls/Toggle/Radio/resources/ItemTemplate'
            item="{{item}}"
            readOnly="{{readOnly}}"
            selected="{{selected}}"
            displayProperty="{{_displayProperty}}"
            contentTemplate="{{_contentTemplate}}"/>