<div class="controls-UnionRadioGroupDemo__wrapper">
    <span class="icon-16 icon-Add controls-UnionRadioItem__icon_{{selected ? 'selected' : 'unselected'}}"></span>
    <span attr:class="controls-UnionRadioItem__caption_{{selected ? 'selected' : 'unselected'}}_{{readOnly ? 'disabled' : 'enabled'}} controls-UnionRadioItem__caption">{{item['title']}}</span>
</div>