.controls-MasterList {
  position: relative;
  background-color: @background-color_MasterList;
  margin-right: @border-width_MasterList-right;
  height: 100%;

  &:after {
    content: '';
    z-index: 0;
    width: @border-width_MasterList-right;
    background-color: @border-color_MasterList;
    height: 100%;
    position: absolute;
    right: -@border-width_MasterList-right;
    top: 0;
  }

  //Стили для листа
  .controls-ListView__itemV {
    position: relative;

    &.controls-ListView__item__marked {
      background-color: @background-color_MasterList_item-selected;
      &:before {
        .selected-item-border();
        height: 100%;
      }
      &:after {
        .selected-item-clear-border();
      }
    }
  }

  //Стили для гридов
  .controls-Grid__row-cell {
    position: relative;

    &.controls-Grid__row-cell_withSelectionMarker {
      background-color: @background-color_MasterList_item-selected;
      &:before {
        .selected-item-border();
        //Верхняя граница элемента грида - 1px
        height: ~'calc(100% + 1px)';
      }
      &:after {
        .selected-item-clear-border();
      }
    }
  }
}

.ws-is-no-touch:not(.ws-is-mobile-platform) {
  .controls-MasterList {
    .controls-Grid__row-cell, .controls-ListView__itemV {
      &:hover {
        background-color: @hover-color_MasterList_item;
      }
    }
  }
}

.selected-item-border() {
  content: '';
  z-index: 2;
  box-sizing: border-box;
  border-top: 1px solid @border-color-top_MasterList_item-selected;
  border-bottom: 1px solid @border-color-bottom_MasterList_item-selected;
  box-shadow: @box-shadow_MasterList_item-selected;
  width: ~'calc(100% + @{border-width_MasterList-right})';
  position: absolute;
  bottom: 0;
  left: 0;
  pointer-events: none;
}

.selected-item-clear-border() {
  content: '';
  z-index: 1;
  height: 100%;
  top: 0;
  width: @border-width_MasterList-right;
  position: absolute;
  right: -@border-width_MasterList-right;
  background-color: @default-bg-color;
}
