.controls-AdditionalParams__items {
   display: flex;
   flex-wrap: wrap;
   align-items: baseline;
   margin-left: @spacing_AdditionalParams-between-leftBorder-content;
}

.controls-AdditionalParams__item {
   display: flex;
   align-items: center;
   color: @color_AdditionalParams-item;
   height: 24px;
}

.controls-AdditionalParams__items-leftColumn,.controls-AdditionalParams__items-rightColumn {
   width: 50%;
   display: flex;
   flex-direction: column;
}