.controls-AdditionalParams__items {
   display: flex;
   align-items: baseline;
   margin-left: @spacing_AdditionalParams-between-leftBorder-content;
}

.controls-AdditionalParams__item {
   display: flex;
   align-items: center;
   color: @color_AdditionalParams-item;
   height: 24px;
}

.controls-AdditionalParams__item_left {
   padding-right: @spacing_AdditionalParams-between-columns;
}

.controls-AdditionalParams__items-leftColumn {
   min-width: @min-width_AdditionalParams-leftColumn;
   max-width: @max-width_AdditionalParams-leftColumn;
   flex-shrink: 0;
}

.controls-AdditionalParams__items-rightColumn {
   margin-right: auto;
   width: 100%;
   flex-shrink: 1;
}