<div class="controls-DateRangeChoose">
   <ws:if data="{{showMonths || showQuarters || showHalfyears}}">
      <div class="controls-DateRangeChoose__currentValue"></div>
      <div class="controls-DateRangeChoose__bodyWrapper controls-DateRangeChoose__month-checkMark-hidden">
         <div class="controls-DateRangeChoose__border"></div>
         <div class="controls-DateRangeChoose__yearWrapper">
            <span class="controls-DateRangeChoose__year-prev"></span>
            <!--<div class="controls-DateRangeChoose__yearWrapper2">-->
               <component data-component="SBIS3.CONTROLS/Button/IconButton" name="HomeButton" class="controls-DateRangeChoose__home">
                  <option name="icon">sprite:icon-small icon-Home3 icon-primary</option>
                  <option name="tabindex">0</option>
               </component>
               <span class="controls-DateRangeChoose__year {{ showYears === true ? 'controls-DateRangeChoose__year-clickable' }}">{{ year }}</span>
            <!--</div>-->
            <span class="controls-DateRangeChoose__year-next"></span>
         </div>
         <ws:partial
            template="{{ itemTemplate }}"
            defaultTemplate="tmpl!SBIS3.CONTROLS/Date/RangeChoose/Year"
            monthCaptionTemplate="{{ monthCaptionTemplate }}"
            _months="{{ _months }}"
            _formatDate="{{ _formatDate }}"
            showMonths="{{showMonths}}"
            checkedStart="{{checkedStart}}"
            checkedEnd="{{checkedEnd}}"
            iconsHandler="{{iconsHandler}}"
         />
      </div>
      <ws:if data="{{showUndefined}}">
         <div  class="controls-DateRangeChoose__extended-period controls-DateRangeChoose__undefined-period">
            {{ emptyCaption }}
         </div>
      </ws:if>
      <ws:if data="{{showCustom}}">
         <div  class="controls-DateRangeChoose__extended-period controls-DateRangeChoose__custom-period">
            {{customPeriod.label}}
         </div>
      </ws:if>
   </ws:if>
   <ws:if data="{{!showMonths && !showQuarters && !showHalfyears}}">
      <div class="controls-DateRangeChoose__yearsMode-prev"></div>
      <div class="controls-DateRangeChoose__yearsMode-wrapper">
         <ws:for data="value as key in [0, 1, 2, 3, 4]">
            <div data-range-id="{{ value}}"></div>
         </ws:for>
      </div>
      <div class="controls-DateRangeChoose__yearsMode-next"></div>
      <component data-component="SBIS3.CONTROLS/Button/IconButton" name="HomeButton" class="controls-DateRangeChoose__home2 controls-IconButton__round-border">
         <option name="icon">sprite:icon-small icon-Home3 icon-primary</option>
         <option name="tabindex">0</option>
      </component>
   </ws:if>
</div>
