.controls-ComboBox {
   .controls-ComboBox__fieldNotEditable {
      display: none;
      line-height: @default-base-line-height;
      &.controls-ComboBox__fieldNotEditable__placeholder {
         color: @default-placeholder-color;
      }
   }
   &.controls-ComboBox_emptyValue {
      .controls-ComboBox__fieldNotEditable {
         color: @default-placeholder-color;
      }
   }
   .controls-TextBox__afterFieldWrapper {
      .inline-flexbox();
      .align-items(center);
      .icon-size(@combo-box-icon-size, @default-icon-font);
      height:100%;
      cursor: pointer;
      padding: @combo-box-arrow-padding;
      color: @combo-box-arrowDown-color;
      text-decoration: none;
   }
   &.ws-has-focus{
      .controls-TextBox__afterFieldWrapper {
         color: @combo-box-arrowDown-color-focus;
      }
   }
   &:hover {
      .controls-TextBox__afterFieldWrapper {
         color: @combo-box-arrowDown-color-hover;
      }
   }
   &.ws-disabled {
      cursor: default;
      .controls-TextBox__afterFieldWrapper {
         visibility: hidden;
      }
   }
   &.controls-ComboBox__editable-false {
      .controls-TextBox__field {
         display: none;
      }
      .controls-ComboBox__fieldNotEditable {
         display: inline-block;
      }
   }
}
.controls-ComboBox.controls-TextBox {
   cursor: pointer;

   //todo:
   &.controls-Picker__show {
      background-color: @combo-box-picker-show-background-color;
      color: @compo-box-picker-show-color;
      border: @default-border-width solid @combo-box-picker-show-border-color;

      .controls-TextBox__afterFieldWrapper {
            color: @combo-box-arrowDown-color-picker-show;
      }
   }
}
.controls-ComboBox__picker.controls-FloatArea {
   overflow-y: hidden !important;
   border: @combo-box-picker-border;
   box-sizing: border-box;
   .controls-ComboBox__body {
     height: calc(~"100% - 10px");
     .border-radius(@combo-box-picker-border-radius);
     .controls-ComboBox__list {
        .flexbox();
        .flex-direction(column);
        position: relative; //Для того, чтобы можно было высчитать scrollTop итема
     }
   }
   .controls-ComboBox__scrollContainer{
     max-height: 400px;
     height: inherit;
   }

   .controls-ComboBox__itemRow {
      &.controls-ComboBox__emptyRow, &.controls-ComboBox__emptyRow:hover{
        color: #ccc;
      }
      font: @combo-box-picker-item-font;
      font-size: @combo-box-picker-item-font-size;
      padding: @combo-box-picker-item-padding;
      cursor: pointer;
      color: @combo-box-picker-item-text-color;
      background: @combo-box-picker-item-bg;
      &:hover {
         color: @combo-box-picker-item-hover-text-color;
         background: @combo-box-picker-item-hover-bg;
      }
   }
   &.controls-popup-revert-vertical {
      margin-top: calc(~"1px +"@default-border-width) !important;
      .controls-ComboBox__body{
         .controls-ComboBox__list {
            .flex-direction(column-reverse);
         }
      }
   }
}
//TODO: только после окончательного отказа удалить (падает браузер)
.ws-is-ie10 {
   .controls-ComboBox__picker .controls-ComboBox__body{
      height: 100%; //ie10 падает, если высота рассчитывается через calc. Теперь для ie10 выпадающий список прибит к краю экрана без отступа, если контейнер имеет достаточную высоту.
   }
}
