.controls-ComboBox {
   line-height: normal;
   cursor: @combo-box-cursor;
   padding-right: @combo-box-right-padding;

   &.controls-ComboBox_emptyValue.controls-TextBox {
     .controls-TextBox__fieldWrapper {
       .controls-TextBox__field.controls-ComboBox__fieldNotEditable {
         color: #ccc;
       }
     }
     .controls-TextBox__afterFieldWrapper{
       color: #587AB0!important;
     }
   }

   .controls-TextBox__fieldWrapper {
      position: relative;
      white-space: nowrap;
      .controls-TextBox__field {
         &.controls-ComboBox__field {
            font: @combo-box-field-font;
            font-size: @text-box-field-font-size;
            color: @combo-box-field-text-color;
         }
         &.controls-ComboBox__fieldNotEditable {
            display: none;
         }
         &.controls-ComboBox__fieldNotEditable__placeholder {
            color: @text-box-placeholder-color;
         }
      }
   }

   &.controls-TextBox {
      &.ws-has-focus, &:hover{
       .controls-ComboBox__arrowDown{
         color: #313E78!important;
       }
     }
     .controls-TextBox__afterFieldWrapper {
       width: @combo-box-after-width;
       + .controls-TextBox__fieldWrapper{
         margin-right: @compo-box-fieldWrapper-margin-right;
         padding-right: 0;
       }
       .controls-ComboBox__arrowDown {
         position: absolute;
         top: @combo-box-arrow-top-offset;
         right: @combo-box-arrow-right-offset;
         display: inline-block;
         overflow: hidden;
         width: @combo-box-arrow-width;
         height: @combo-box-arrow-height;
         margin: @combo-box-arrow-margin;
         text-decoration: none;
         border-width: @combo-box-arrow-border-width;
         border-style: @combo-box-arrow-border-style;
         border-color: @combo-box-arrow-border-color;
         .box-sizing(border-box);
         &:hover {
           text-decoration: none;
           border-width: @combo-box-arrow-hover-border-width;
           border-style: @combo-box-arrow-hover-border-style;
           border-color: @combo-box-arrow-hover-border-color;
         }
       }
     }
     &.ws-disabled,
     &.ws-disabled:hover {
       cursor: @combo-box-disabled-cursor;
       .controls-TextBox__afterFieldWrapper {
         .controls-ComboBox__arrowDown {
           display: none;
         }
       }
     }
   }
   &.controls-ComboBox__editable-false {
      .controls-TextBox__fieldWrapper {
         .controls-TextBox__field {
            &.controls-ComboBox__field {
               position: absolute;
               top: 0;
               left: 0;
               visibility: hidden;
            }
            &.controls-ComboBox__fieldNotEditable {
               font: @combo-box-field-font;
               font-size: @text-box-field-font-size;
               display: inline-block;
               color: @combo-box-field-text-color;
            }
         }
      }
      &:hover {
         .controls-TextBox__afterFieldWrapper {
            .controls-ComboBox__arrowDown {
               text-decoration: none;
               border-width: @combo-box-arrow-hover-border-width;
               border-style: @combo-box-arrow-hover-border-style;
               border-color: @combo-box-arrow-hover-border-color;
            }
         }
      }
   }
   &.controls-Picker__show {
      background-color: @combo-box-picker-show-background-color;
      color: @compo-box-picker-show-color;
      border: 1px solid @combo-box-picker-show-border-color;

      .controls-TextBox__afterFieldWrapper {
         .controls-ComboBox__arrowDown {
            border-width: @combo-box-arrow-active-border-width;
            border-style: @combo-box-arrow-active-border-style;
            border-color: @combo-box-arrow-active-border-color;
         }
      }
      &:hover {
         .controls-TextBox__afterFieldWrapper {
            .controls-ComboBox__arrowDown {
               border-width: @combo-box-arrow-active-hover-border-width;
               border-style: @combo-box-arrow-active-hover-border-style;
               border-color: @combo-box-arrow-active-hover-border-color;
            }
         }
      }
   }

   &.controls-ComboBox__ellipsis {
      .controls-TextBox__fieldWrapper {
         .controls-TextBox__field {
            &.controls-ComboBox__fieldNotEditable {
               .text-overflow();
            }
         }
      }
   }
}

.controls-ComboBox__picker {
   overflow-y: hidden!important;/*Перебиваем inline стили пикера*/
   .controls-ComboBox__body{
     border: @combo-box-picker-border;
     height: calc(~"100% - 10px"); /* отступ от края экрана*/
     .border-radius(@combo-box-picker-border-radius);
   }
   .controls-ComboBox__scrollContainer{
     max-height: 400px;
     height: inherit;
   }

   .controls-ComboBox__itemRow {
      &.controls-ComboBox__emptyRow, &.controls-ComboBox__emptyRow:hover{
        color: #ccc;
      }
      font: @combo-box-picker-item-font;
      font-size: @combo-box-picker-item-font-size;
      padding: @combo-box-picker-item-padding;
      cursor: @combo-box-cursor;
      color: @combo-box-picker-item-text-color;
      background: @combo-box-picker-item-bg;
      &:hover {
         color: @combo-box-picker-item-hover-text-color;
         background: @combo-box-picker-item-hover-bg;
      }
   }
}

// TODO: what is it - modifier?
.controls-ComboBox__inputWrapper {
   height: 100%;
   margin-right: @combo-box-input-wrapper-right-offset;
}

.ws-is-ie10{
   .controls-ComboBox__picker .controls-ComboBox__body{
      height: 100%; //ie10 падает, если высота рассчитывается через calc. Теперь для ie10 выпадающий список прибит к краю экрана без отступа, если контейнер имеет достаточную высоту.
   }
}