.controls-ComboBox__arrowsContainer {
   position: relative;
   height: 100%;
   width: 16px;
   float: right;
   min-height: 17px;
}

.controls-ComboBox__arrowDown {
   background-color: #ffffff;
   text-decoration: none;
   position: absolute;
   right: 0;
   top: 50%;
   margin-top: -8px;
}

.controls-ComboBox__itemRow {
   padding: 4px;
   cursor: pointer;
}

.controls-ComboBox__itemRow__hover {
   background-color: #E7F0F9;
}

.controls-ComboBox__field__manual-false {
   cursor: pointer;
}

.controls-ComboBox__inputWrapper {
   margin-right: 18px;
   height: 100%;
}