.controls-ComboBox__fieldNotEditable {
   display: none;
}

.controls-ComboBox__editable-false .controls-ComboBox__fieldNotEditable{
   display: inline-block;
}

.controls-ComboBox__editable-false .controls-ComboBox__field {
   visibility: hidden;
   position: absolute;
}