.controls-DateRangeChoose__container () {
   position: relative;
   height: auto;
}

.controls-DateRangeChoose__container-caption () {
   .box-sizing(border-box);
   cursor: pointer;
   display: none;
   height: 100%;
   //line-height: @date-range-choose-month-height;
   padding: @date-range-choose-container-caption-padding;
   position: absolute;
   top: 0;
}

.controls-DateRangeChoose__container-month-caption () {
   .controls-DateRangeChoose__container-caption();
}

.controls-DateRangeChoose {
   .box-sizing(border-box);
   .user-select();
   background-color: @date-range-choose-years-only-bg-color;
   border: @date-range-choose-border-width solid @date-range-choose-border-color;
   border-radius: @date-range-choose-border-radius;
   color: @date-range-choose-color;
   font-family: @date-range-choose-font-family;
   font-size: @date-range-choose-font-size;
   min-width: @date-range-choose-year-state-width;

   padding: @date-range-choose-padding;
   height: auto;

   .controls-DateRangeChoose__border {
      border: @date-range-choose-border-hover;
      background-color: @date-range-choose-bg-hover-color;
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      .box-sizing(border-box);
      display: none;
   }

   .controls-DateRangeChoose__currentValue {
      font-size:  @date-range-choose-current-value-font-size;
      font-weight: @date-range-choose-current-value-font-weight;
      color: @date-range-choose-current-value-color;
      text-align: center;
      height: @date-range-choose-current-value-height;
      line-height: @date-range-choose-current-value-line-height;
      border-bottom: @date-range-choose-current-value-border-bottom;
      padding: 0 @date-range-choose-current-value-padding-left-right;
      margin-bottom: @date-range-choose-current-value-margin-bottom;
      background-color: @date-range-choose-current-value-bg-color;
      cursor: pointer;
      &:hover {
         background-color: @date-range-choose-current-value-bg-hover-color;
      }
   }

   .controls-DateRangeChoose__yearWrapper {
      position: relative;
      margin-bottom: @date-range-choose-year-margin-bottom;
      background-color: @date-range-choose-year-wrapper-bg-color;
      .flexbox();
      .align-items(center);

      .controls-DateRangeChoose__yearWrapper2 {
         width: @date-range-choose-width - @date-range-choose-border-width*2 - @date-range-choose-year-prev-next-btns-width*2;
         margin: 0 auto;
         text-align: left;
      }

      .controls-DateRangeChoose__year-prev,
      .controls-DateRangeChoose__year-next {
         cursor: pointer;
         display: inline-block;
         font-size: @date-range-choose-year-prev-next-btns-font-size;
         font-weight: @date-range-choose-year-prev-next-btns-font-weight;
         color: @date-range-choose-year-prev-next-btns-color;
         //position: absolute;
         top: 0;
         text-align: center;
         vertical-align: middle;
         height: @date-range-choose-year-height;
         width: @date-range-choose-year-prev-next-btns-width;
         line-height: @date-range-choose-year-height;
         &:hover {
            color: @date-range-choose-hover-color;
         }
      }
      .controls-DateRangeChoose__year-prev {
         left: 0;
      }
      .controls-DateRangeChoose__year-next {
         right: 0;
      }
   }

   .controls-DateRangeChoose__home {
      width: 24px;
      text-align: left;
   }
   .controls-DateRangeChoose__year {
      color: @date-range-choose-year-color;
      display: block;
      font-size: @date-range-choose-year-font-size;
      font-weight: @date-range-choose-year-font-weight;
      height: @date-range-choose-year-height;
      line-height: @date-range-choose-year-height + 1;
      vertical-align: middle;
      .flex-grow(1);
      &.controls-DateRangeChoose__year-clickable{
         cursor: pointer;
         &:hover {
            background-color: @date-range-choose-year-bg-hover-color;
         }
      }
   }
   .controls-DateRangeChoose__year {
      padding-left: 2px;
   }
   // В зависимости от режима немного меняется позиционирование элементов в шапке
   &.controls-DateRangeChoose__showMonths {
      &.controls-DateRangeChoose__showHalfYears,
      &.controls-DateRangeChoose__showQuarters {
         .controls-DateRangeChoose__home {
            width: 32px;
            text-align: center;
         }
         .controls-DateRangeChoose__year {
            padding-left: 10px;
         }
      }
   }

   .controls-DateRangeChoose__month-checkMark-hidden {
      .ontrols-DateRangeChoose__month-checkMark {
         display: none;
      }
   }

   .controls-DateRangeChoose__bodyWrapper {
      position: relative;
   }

   // Убираем фон с панельки когда выделен год
   &.controls-DateRangeChoose__selected {
      .controls-DateRangeChoose__yearWrapper {
         background-color: transparent;
      }
   }

   &.controls-DateRangeChoose__selected,
   .controls-DateRangeChoose__selected {
      .controls-DateRangeChoose__bodyWrapper > .controls-DateRangeChoose__border {
         display: block;
      }
      // Убираем фон у всех внутренних блоков
      .controls-DateRangeChoose__halfYear-caption,
      .controls-DateRangeChoose__quarter-caption,
      .controls-DateRangeChoose__month {
         background-color: transparent !important;
      }
   }

   .controls-DateRangeChoose__halfYear {
      .controls-DateRangeChoose__container();

      &.controls-DateRangeChoose__selected {
         background-color: @date-range-choose-bg-hover-color;
         //border: @date-range-choose-border-hover;
         >.controls-DateRangeChoose__border {
            display: block;
         }
      }

      .controls-DateRangeChoose__halfYear-caption {
         .controls-DateRangeChoose__container-caption();
         line-height: @date-range-choose-halfyear-caption-line-height;
         width: @date-range-choose-halfyear-caption-width;
         right: @date-range-choose-halfyear-caption-right;
         left: @date-range-choose-halfyear-caption-left;
         text-align: @date-range-choose-halfyear-caption-text-align;
         background-color: @date-range-choose-caption-background-color;
      }

      .controls-DateRangeChoose__quarter {
         .controls-DateRangeChoose__container();

         &.controls-DateRangeChoose__selected {
            background-color: @date-range-choose-bg-hover-color;
            //border: @date-range-choose-border-hover;
            >.controls-DateRangeChoose__border {
               display: block;
            }
         }

         .controls-DateRangeChoose__quarter-caption {
            .controls-DateRangeChoose__container-caption();
            height: @date-range-choose-quarter-caption-height;
            line-height: @date-range-choose-quarter-caption-line-height;
            position: relative;
            text-align: @date-range-choose-quarter-caption-text-align;
            left: 0;
            background-color: @date-range-choose-caption-background-color;
            &:hover {
               color: @date-range-choose-quarter-caption-hover-color;//@date-range-choose-color;
            }
         }

         .controls-DateRangeChoose__month {
            cursor: pointer;
            display: none;
            position: relative;
            .box-sizing(border-box);
            height: @date-range-choose-month-height;
            line-height: @date-range-choose-month-height;
            background-color: @date-range-choose-bg-hover-color;
            text-align: @date-range-choose-month-month-only-text-align;
            .controls-DateRangeChoose__month-caption {
               position: relative;
               padding: 0;
            }
            &:hover {
               >.controls-DateRangeChoose__border {
                  display: block;
               }
            }
            &:active {
               background-color: @date-range-choose-bg-active-color;
            }
         }
      }
      &:last-child {
         .controls-DateRangeChoose__quarter:nth-last-child(2) {
            margin-bottom: 0 !important;
         }
      }
   }

   .controls-DateRangeChoose__checkBox {
      display: block;
      position: absolute;
      right: @date-range-choose-checkbox-right;
      top: @date-range-choose-checkbox-top;
   }

   &.controls-DateRangeChoose__showCheckboxes {
      .controls-DateRangeChoose__halfYear {
         .controls-DateRangeChoose__quarter {
            .controls-DateRangeChoose__month {
               text-align: left;
            }
         }
      }
      &.controls-DateRangeChoose__showHalfYears,
      &.controls-DateRangeChoose__showQuarters {
         .controls-DateRangeChoose__halfYear {
            .controls-DateRangeChoose__quarter {
               .controls-DateRangeChoose__month {
                  text-align: center;
               }
            }
         }
      }
   }

   &.controls-DateRangeChoose__showHalfYears,
   &.controls-DateRangeChoose__showQuarters,
   &.controls-DateRangeChoose__showMonths {
      min-width: @date-range-choose-short-width;
      background-color: @date-range-choose-bg-color;
   }

   &.controls-DateRangeChoose__showHalfYears,
   &.controls-DateRangeChoose__showQuarters {
      .controls-DateRangeChoose__halfYear {
         .controls-DateRangeChoose__quarter {
            .controls-DateRangeChoose__month {
               text-align: @date-range-choose-month-text-align;
               .controls-DateRangeChoose__month-caption {
                  padding: @date-range-choose-month-padding;
               }
            }
         }
      }
   }

   &.controls-DateRangeChoose__showHalfYears.controls-DateRangeChoose__showQuarters.controls-DateRangeChoose__showMonths {
      min-width: @date-range-choose-width;
   }

   &.controls-DateRangeChoose__showHalfYears {
      .controls-DateRangeChoose__halfYear {
         .controls-DateRangeChoose__halfYear-caption {
            display: block;
         }
      }
   }
   &.controls-DateRangeChoose__showQuarters {
      .controls-DateRangeChoose__halfYear {
         .controls-DateRangeChoose__quarter {
            margin: @date-range-choose-quarter-with-quarters-margin;
            .controls-DateRangeChoose__quarter-caption {
               display: block;
            }

            .controls-DateRangeChoose__month {
               margin: @date-range-choose-month-margin;
            }
         }
      }
      &.controls-DateRangeChoose__showHalfYears {
         .controls-DateRangeChoose__quarter {
            margin: @date-range-choose-quarter-with-halfyears-margin;
         }
      }
      &.controls-DateRangeChoose__showMonths {
         .controls-DateRangeChoose__quarter {
            margin: @date-range-choose-quarter-with-month-margin;
         }
      }
   }

   &.controls-DateRangeChoose__showMonths {
      // Синий цвет у полугодий и кварталов в режиме когда еще показываются месяца
      .controls-DateRangeChoose__halfYear-caption,
      .controls-DateRangeChoose__quarter-caption {
         color: @date-range-choose-halfyear-caption-with-quarters-color;
      }

      .controls-DateRangeChoose__halfYear {
         .controls-DateRangeChoose__quarter {
            .controls-DateRangeChoose__month {
               display: block;
            }
            .controls-DateRangeChoose__quarter-caption {
               //.controls-DateRangeChoose__container-caption();
               position: absolute;
               width: @date-range-choose-quarter-caption-width;
               height: @date-range-choose-quarter-caption-with-month-height;
               line-height: @date-range-choose-quarter-caption-with-month-line-height;
               text-align: @date-range-choose-quarter-caption-with-month-text-align;
            }
            .controls-DateRangeChoose__quarter-caption-text {
               display: none;
            }
         }
      }
      &.controls-DateRangeChoose__showHalfYears {
         .controls-DateRangeChoose__halfYear {
            .controls-DateRangeChoose__quarter {
               margin: @date-range-choose-quarter-with-halfyears-margin;
            }
         }
      }
      &.controls-DateRangeChoose__showQuarters {
         .controls-DateRangeChoose__halfYear {
            .controls-DateRangeChoose__quarter {
               .controls-DateRangeChoose__month {
                  margin: @date-range-choose-month-margin;
               }
            }
         }
      }
   }

   &.controls-DateRangeChoose__showCheckboxes {
      .controls-DateRangeChoose__halfYear .controls-DateRangeChoose__quarter .controls-DateRangeChoose__quarter-caption {
         text-align: left;
      }
   }

   .controls-DateRangeChoose__yearsMode-wrapper>* {
      cursor: pointer;
      text-align: center;
      height: @date-range-choose-year-height;
      line-height: @date-range-choose-year-height;
      &:hover {
         background-color: @date-range-choose-bg-hover-color;
      }
   }
   .controls-DateRangeChoose__yearsMode-bold {
      font-weight: bold;
      color: @date-range-choose-years-only-curent-year-color;
   }

   .controls-DateRangeChoose__yearsMode-prev,
   .controls-DateRangeChoose__yearsMode-next {
      cursor: pointer;
      color: @date-range-choose-year-prev-next-btns-color;
      text-align: center;
      height: @date-range-choose-year-height;
      line-height: @date-range-choose-year-height;
      font-size: @date-range-choose-year-prev-next-btns-font-size;
      font-weight: @date-range-choose-year-prev-next-btns-font-weight;
      &:hover {
         color: @date-range-choose-hover-color;
      }
   }

   .controls-DateRangeChoose__home2 {
      display: block;
      height:  @date-range-choose-home-button-size;
      width: @date-range-choose-home-button-size;
      margin: @date-range-choose-home-button-margin;
      font-size: @date-range-choose-home-button-font-size !important;
      line-height: @date-range-choose-home-button-line-height !important;
      border-color: @date-range-choose-home-button-border-color !important;
      :hover {
         border-color: @date-range-choose-home-button-border-color !important;
      }
      &.icon-primary.controls-IconButton {
         color: @date-range-choose-home-color !important;
      }
   }

   .controls-DateRangeChoose__extended-period {
      .box-sizing(border-box);
      background-color: @date-range-choose-bg-hover-color;
      cursor: pointer;
      margin-top: @date-range-choose-indents;
      text-align: center;
      height: @date-range-choose-standart-line-height;
      line-height: @date-range-choose-standart-line-height;
      border: 1px solid @date-range-choose-bg-hover-color;
      &:hover {
         border: @date-range-choose-border-hover;
      }
   }
}
