<div class="controls-ColumnsEditorArea">
   <div class="controls-ColumnsEditorArea__head">
      <div class="controls-ColumnsEditorArea__head-title">
         <div class="controls-ColumnsEditorArea__head-title-left">{{ title }}</div>
         <div class="controls-ColumnsEditorArea__head-title-right">
            <ws:SBIS3.CONTROLS.Button class="controls-ColumnsEditorArea__ApplyColumnsButton" caption="Применить" command="applyColumns" primary="true" />
         </div>
      </div>
   </div>
   <div class="controls-ColumnsEditorArea__body">
      <ws:SBIS3.CONTROLS.CheckBoxGroup
              class="controls-ColumnsEditorArea__FixedView"
              name="controls-ColumnsEditorArea__FixedView"
              items="{{ _preparedItems.fixedItems }}"
              idProperty="id"
              displayProperty="title"
              enabled="{{ false }}"
              selectedKeys="{{ _preparedItems.fixedMarkedKeys }}"
              multiselect="{{ true }}" />
      <ws:SBIS3.CONTROLS.ListView
              class="controls-ColumnsEditorArea__SelectableView"
              name="controls-ColumnsEditorArea__SelectableView"
              easyGroup="{{ true }}"
              items="{{ _preparedItems.selectableItems }}"
              itemsActions="{{ [] }}"
              idProperty="id"
              itemsDragNDrop="{{ false }}"
              displayProperty="title"
              selectedKeys="{{ _preparedItems.selectableMarkedKeys }}"
              itemContentTpl="tmpl!SBIS3.CONTROLS.ColumnsEditorArea/resources/itemContentTpl"
              multiselect="{{ true }}">
         <ws:handlers onItemClick="{{_onItemClick}}" />
         <ws:groupBy field="group" contentTemplate="tmpl!SBIS3.CONTROLS.ColumnsEditorArea/resources/groupTpl" />
      </ws:SBIS3.CONTROLS.ListView>
   </div>
</div>
