
@ColumnsEditor-head-title-height: 24px;
@ColumnsEditor-head-gap-top: 8px;
@ColumnsEditor-head-gap-inner: 12px;
@ColumnsEditor-head-gap-bottom: 4px;

.controls-ColumnsEditorArea {
   position: relative;
   width: 388px;
   height: 100%;
}

.controls-ColumnsEditorArea__head {
   box-sizing: border-box;
   padding: @ColumnsEditor-head-gap-top 6px @ColumnsEditor-head-gap-bottom 12px;
   background-color: #f7f4f0;
}

.controls-ColumnsEditorArea__head-title {
   height: @ColumnsEditor-head-title-height;
   margin-bottom: @ColumnsEditor-head-gap-inner;
}

.controls-ColumnsEditorArea__head-title-left {
   float: left;
   color: #313E78;
   font-size: 18px;
   font-weight: bold;
}

.controls-ColumnsEditorArea__head-title-right {
   float: right;
   margin-right: 38px;
}

.controls-ColumnsEditorArea__ApplyColumnsButton {
   vertical-align: middle;
}

.controls-ColumnsEditorArea__body {
   box-sizing: border-box;
   height: ~"calc(100% - "(@ColumnsEditor-head-title-height + @ColumnsEditor-head-gap-top + @ColumnsEditor-head-gap-inner + @ColumnsEditor-head-gap-bottom)~")";
   border-top: 1px solid #CCCCCC;
   padding: 12px 0;
}

.controls-ColumnsEditorArea__FixedList {
   .controls-CheckBox {
      display: block;
      padding: 4px;
   }

   /*.controls-CheckBox*/ .controls-CheckBox__caption {
      padding-left: 8px;
      box-sizing: border-box;
      color: @black-color !important;
   }
}

.controls-ColumnsEditorArea__view-item {
   height: 32px;
   display: inline-block;

   .controls-ListView__itemCheckBox {
      left: 4px;
      top: 4px;
   }
}

.controls-ColumnsEditorArea__view-item-text {
   display: inline-block;
   padding-left: 36px;
   line-height: 32px;
   color: #8991a9;
}
.controls-ListView__item__multiSelected {
   .controls-ColumnsEditorArea__view-item-text {
      color: @black-color;
   }
}

.controls-ColumnsEditorArea__SelectableList {
   cursor: pointer;
}

.controls-ColumnsEditorArea__SelectableList__group {
   /*height: 18px;*/
   position: relative;
}

/*.controls-ColumnsEditorArea__SelectableList__group-line {
   content: ' ';
   height: 1px;
   left: 0;
   right: 0;
   top: 9px;
   background-color: #E4E4E4;
   z-index: 1;
   position: absolute;
}*/

/*.controls-ColumnsEditorArea__SelectableList__group-caption {
   float: right;
   padding: 0 6px;
   position: relative;
   overflow: hidden;
   font-size: 12px;
   color: #999999;
   background-color: white;
   z-index: 2;
}*/