<div class="controls-ColumnsEditorArea">
   <div class="controls-ColumnsEditorArea__head">
      <div class="controls-ColumnsEditorArea__head-title">
         <div class="controls-ColumnsEditorArea__head-title-left">{{ title }}</div>
         <div class="controls-ColumnsEditorArea__head-title-right">
            <ws:SBIS3.CONTROLS.Button class="controls-ColumnsEditorArea__ApplyColumnsButton" caption="Применить" command="applyColumns" primary="true" />
         </div>
      </div>
      <div class="controls-ColumnsEditorArea__head-preset">
         <div class="controls-ColumnsEditorArea__head-preset-label">{[Шаблон]}</div>
         <div class="controls-ColumnsEditorArea__head-preset-editor">
            <ws:SBIS3.CONTROLS.ListView
               class="controls-ColumnsEditorArea__Preset controls-ListView__disableHover"
               name="controls-ColumnsEditorArea__Preset"
               items="{{_optsPreset.items}}"
               itemsActions="{{_optsPreset.itemsActions}}"
               itemsHover="{{false}}"
               itemsDragNDrop="{{false}}"
               idProperty="id"
               displayProperty="title"
               itemContentTpl="tmpl!SBIS3.CONTROLS.ColumnsEditorArea/resources/preset"
               editMode=""
               editingTemplate="tmpl!SBIS3.CONTROLS.ColumnsEditorArea/resources/presetEdit"
               >
               <!--^^^
               editMode="click|single"
               -->
               <ws:handlers onItemClick="{{_optsPreset.onItemClick}}"/>
            </ws:SBIS3.CONTROLS.ListView>
         </div>
      </div>
   </div>
   <ws:SBIS3.CONTROLS.ScrollContainer class="controls-ColumnsEditorArea__body">
      <ws:content type="string">
         <ws:SBIS3.CONTROLS.CheckBoxGroup
            class="controls-ColumnsEditorArea__FixedList"
            name="controls-ColumnsEditorArea__FixedList"
            items="{{ _optsFixed.items }}"
            idProperty="id"
            displayProperty="title"
            enabled="{{ false }}"
            selectedKeys="{{ _optsFixed.markedKeys }}"
            multiselect="{{ true }}"
         />
         <ws:SBIS3.CONTROLS.ListView
            class="controls-ColumnsEditorArea__SelectableList"
            name="controls-ColumnsEditorArea__SelectableList"
            easyGroup="{{ true }}"
            items="{{ _optsSelectable.items }}"
            groupTitleTpl="{{groupTitleTpl}}"
            groupTitles="{{groupTitles}}"
            _groupCollapsing="{{groupCollapsing}}"
            itemsActions="{{ [] }}"
            itemsDragNDrop="{{ false }}"
            idProperty="id"
            displayProperty="title"
            itemsSortMethod="{{_optsSelectable.itemsSortMethod}}"
            selectedKeys="{{_optsSelectable.markedKeys}}"
            itemContentTpl="tmpl!SBIS3.CONTROLS.ColumnsEditorArea/resources/selectableItemContent"
            multiselect="{{ true }}"
            >
            <ws:handlers onItemClick="{{_optsSelectable.onItemClick}}" onSelectedItemsChange="{{_optsSelectable.onSelectedItemsChange}}"/>
            <ws:groupBy field="group">
               <ws:contentTemplate>
                  <ws:partial template="tmpl!SBIS3.CONTROLS.ColumnsEditorArea/resources/selectableGroupContent" scope="{{contentTemplate}}" groupTitleTpl="{{groupTitleTpl}}" groupTitles="{{groupTitles}}" />
               </ws:contentTemplate>
            </ws:groupBy>
         </ws:SBIS3.CONTROLS.ListView>
      </ws:content>
   </ws:SBIS3.CONTROLS.ScrollContainer>
</div>