<div class="controls-ColumnsEditorArea">
   <div class="controls-ColumnsEditorArea__head">
      <div class="controls-ColumnsEditorArea__head-title">
         <div class="controls-ColumnsEditorArea__head-title-left">{{ title }}</div>
         <div class="controls-ColumnsEditorArea__head-title-right">
            <ws:SBIS3.CONTROLS.Button class="controls-ColumnsEditorArea__ApplyColumnsButton" caption="Применить" command="applyColumns" primary="true" />
         </div>
      </div>
   </div>
   <ws:SBIS3.CONTROLS.ScrollContainer class="controls-ColumnsEditorArea__body">
      <ws:content type="string">
         <ws:SBIS3.CONTROLS.CheckBoxGroup
                 class="controls-ColumnsEditorArea__FixedView"
                 name="controls-ColumnsEditorArea__FixedView"
                 items="{{ _preparedFixed.items }}"
                 idProperty="id"
                 displayProperty="title"
                 enabled="{{ false }}"
                 selectedKeys="{{ _preparedFixed.markedKeys }}"
                 multiselect="{{ true }}" />
         <ws:SBIS3.CONTROLS.ListView
                 class="controls-ColumnsEditorArea__SelectableView"
                 name="controls-ColumnsEditorArea__SelectableView"
                 easyGroup="{{ true }}"
                 items="{{ _preparedSelectable.items }}"
                 groupTitleTpl="{{groupTitleTpl}}"
                 groupTitles="{{groupTitles}}"
                 _groupCollapsing="{{groupCollapsing}}"
                 itemsActions="{{ [] }}"
                 idProperty="id"
                 itemsDragNDrop="{{ false }}"
                 displayProperty="title"
                 itemsSortMethod="{{ _itemsSortMethod }}"
                 selectedKeys="{{ _preparedSelectable.markedKeys }}"
                 itemContentTpl="tmpl!SBIS3.CONTROLS.ColumnsEditorArea/resources/itemContentTpl"
                 multiselect="{{ true }}">
            <ws:handlers onItemClick="{{_onItemClick}}" onSelectedItemsChange="{{ _onSelectedItemsChange }}"/>
            <ws:groupBy field="group">
               <ws:contentTemplate>
                  <ws:partial template="tmpl!SBIS3.CONTROLS.ColumnsEditorArea/resources/groupTpl" scope="{{contentTemplate}}" groupTitleTpl="{{groupTitleTpl}}" groupTitles="{{groupTitles}}" />
               </ws:contentTemplate>
            </ws:groupBy>
         </ws:SBIS3.CONTROLS.ListView>
      </ws:content>
   </ws:SBIS3.CONTROLS.ScrollContainer>
</div>