<ws:if data="{{showPassword}}">
   <ws:SBIS3.CONTROLS.IconButton
      name = "showPassword"
      icon = "icon-medium icon-Show icon-disabled"
      tooltip = "{[Показать]}"
      className = "controls-PasswordTextBox__iconButtonShow"
   />
</ws:if>