<ws:if data="{{showPassword}}">
   <div class="controls-PasswordTextBox__showPassword
    icon-medium
    icon-disabled
    {{type === 'password' ? ' icon-Show' : ' icon-Hide'}}"
        title="{[Показать]}"></div>
</ws:if>