<ws:if data="{{showPassword}}">
   <SBIS3.CONTROLS:WSControls.Buttons.Button tooltip="{[Показать]}" command="togglePasswordVisibility">
      <ws:contentTemplate>
         <div class="controls-PasswordTextBox__showPassword controls-PasswordInput__showPassword
             {{type === 'password' ? ' icon-Show' : ' icon-Hide'}}"></div>
      </ws:contentTemplate>
   </ws:WSControls.Buttons.Button>
</ws:if>
