.controls-CheckBoxGroup {
  display: inline-block;
  .controls-ListView__item:not(:last-child) {
    margin: @check-box-group-horizontal-item-margin;
  }

  &.controls-ButtonGroup__vertical {
    .controls-ListView__item:not(:last-child) {
      display: block;
      margin: @check-box-group-vertical-item-margin;
    }
  }
  .controls-CheckBox {
    overflow: visible;
  }
}