.controls-ColumnsView__itemsContainer {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
}

.controls-ColumnsView_column {
   height: fit-content;
   max-width: @max-width_ColumnsView_tile + 2 * @side-spacing_ColumnsView_columns;
}

.controls-ColumnsView__itemsContainer,
.controls-ColumnsView_column {
   margin: 0 @side-spacing_ColumnsView_columns;
}

.controls-ColumnsView__itemV {
   min-width: @min-width_ColumnsView_tile;
   max-width: @max-width_ColumnsView_tile;
   width: 100%;
   display: inline-block;
   overflow: hidden;
   margin: @vertical_spacing_ColumnsView_tile 0;
   box-shadow: @shadow_ColumnsView_tile_normal;
   border: @border_ColumnsView_tile_normal;
   box-sizing: border-box;
}

.controls-ColumnsView__itemV:hover {
   box-shadow: @shadow_ColumnsView_tile_hovered;
}

.controls-ColumnsView__itemContent {
   width: 100%;
}

.controls-ColumnsView__item_marked {
   border-color: @border-color_ColumnsView_tile_marked;
}

.ws-is-hover .controls-BaseControl_showActions {

}
