.controls-ColumnsView__itemsContainer {
   display: grid;
   flex-direction: row;
   justify-content: flex-start;
   padding: 0 @side-spacing_ColumnsView_columns;
}

.controls-ColumnsView_column {
   height: 100%;
   padding: 0 @side-spacing_ColumnsView_columns;
   box-sizing: border-box;
}

.controls-ColumnsView__itemV {
   user-select: none;
   box-sizing: border-box;
   box-shadow: @shadow_ColumnsView_tile_normal;
   display: inline-block;
   margin: @vertical_spacing_ColumnsView_tile 0;
   overflow: hidden;
   vertical-align: top;
   width: 100%;

   .controls-Checkbox {
      margin: @margin-ColumnsView_tile_checkbox;
   }
}

.controls-ColumnsView__itemActionsV_inside {
   padding-right: @spacing_ItemActions-between-content-border-right_position_inside;
   height: @height_ColumnsView_ItemActions_inside;
}

.controls-ColumnsView__itemV:hover {
   box-shadow: @shadow_ColumnsView_tile_hovered;
}

.controls-ColumnsView_column,
.controls-ColumnsView_column-placeholder,
.controls-ColumnsView__itemContent {
   width: 100%;
}

.controls-ColumnsView__item_marker {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   box-sizing: border-box;
   border: 1px solid @border-color_ColumnsView_tile_marked;
   pointer-events: none;
}
