<div class="controls-GroupBy{{groupCollapsing[groupId] ? ' controls-GroupBy__collapsed' : ''}}" data-group="{{groupId}}">
    <ws:partial template="{{ groupContentTemplate }}" scope="{{...}}"></ws:partial>
</div>
