<div class="controls-LongOperations controls-LongOperationHistory">
   <SBIS3.CONTROLS.Browser
      name="brows"
      className="controls-LongOperationHistory__browser"
      >
      <ws:content>
         <ws:if data="{{resultHandler}}">
         <SBIS3.CONTROLS.Link
            name="resultButton"
            className="controls-LongOperationsHistory__resultButton"
            >
            <ws:caption>
                <ws:if data="{{resultWayOfUse}}">
                    {{resultWayOfUse}}
                </ws:if>
                <ws:else>
                    {[Частичный результат]}
                </ws:else>
            </ws:caption>
         </SBIS3.CONTROLS.Link>
         </ws:if>
         <div class="controls-Browser__table">
            <div class="controls-Browser__tableRow">
               <div class="controls-Browser__tableCell-fastDataFilter">
                  <SBIS3.CONTROLS.Filter.FastData
                     name="browserFastDataFilter"
                     className="controls-Browser__fastDataFilter"
                     >
                     <ws:filterStructure>
                        <ws:Array>
                           <ws:Object
                              internalValueField="key"
                              internalCaptionField="title"
                              value="{{'filter/onlyErrors'|mutable}}"
                           />
                        </ws:Array>
                     </ws:filterStructure>
                  </SBIS3.CONTROLS.Filter.FastData>
               </div>
            </div>
         </div>
         <SBIS3.CONTROLS.ScrollContainer class="controls-Browser__scrollContainer controls-Browser__view controls-LongOperationsHistory__view">
            <ws:content>
               <SBIS3.CONTROLS.DataGridView
                  idProperty="id"
                  name="browserView"
                  pageSize="2000"
                  infiniteScroll="down"
                  itemsActions="{{ [] }}"
                  displayProperty="title"
                  itemsDragNDrop="{{false}}"
                  filter="{{'filter'|mutable}}"
                  className="controls-DataGridView__hasSeparator"
                  ladder="{{ ['Date'] }}"
                  >
                  <ws:columns>
                     <ws:Array>
                        <ws:Object
                           title="{[Дата]}"
                           cellTemplate="tmpl!SBIS3.CONTROLS/LongOperations/History/resources/LongOperationHistoryDateTemplate"
                           width="60"
                        />
                        <ws:Object
                           title="{[Время]}"
                           cellTemplate="tmpl!SBIS3.CONTROLS/LongOperations/History/resources/LongOperationHistoryTimeTemplate"
                           width="60"
                        />
                        <ws:Object
                           title="{[ОперацииНадЗаписями@@Наименование]}"
                           field="title"
                           className="controls-DataGridView-cell-overflow-ellipsis"
                        />
                        <ws:Object
                           title="{[Статус]}"
                           cellTemplate="tmpl!SBIS3.CONTROLS/LongOperations/History/resources/LongOperationHistoryStatusTemplate"
                        />
                     </ws:Array>
                  </ws:columns>
               </SBIS3.CONTROLS.DataGridView>
            </ws:content>
         </SBIS3.CONTROLS.ScrollContainer>
      </ws:content>
   </SBIS3.CONTROLS.Browser>
</div>