& {
  @margin-col: @spacing-between-blocks / 2;
  @margin-row: -@margin-col;
  @color-modificator-name: bg, ghostWhite, whiteSnow, whiteSmoke, mintCream, hover;
  @color-modificator-value: @default-bg-color, @ghost-white-color, @white-snow-color, @white-smoke-color, @mint-cream-color, @default-hover-color;

  .ws-areaBlocks__ {
    &area {
      overflow: hidden;
      &_topOffset {
        > .ws-areaBlocks__row:first-child {
          margin-top: @spacing-between-blocks;
        }
      }
    }
    &row {
      margin-left: @margin-row;
      margin-right: @margin-row;
      .flexbox();

      &:first-child {
        margin-top: @margin-row;
      }
      &:last-child {
        margin-bottom: @margin-row;
      }

      &_rebuild {
        .flex-wrap(wrap);
        > .ws-areaBlocks__col {
          .flex-grow(1);
        }
      }

      &_clickable > .ws-areaBlocks__col when not (@border-width-clickable-col = 0){
        border-width: @border-width-clickable-col;
        border-style: solid;
        border-color: @default-border-color-second;
        background: @bg-clickable-col;
        cursor: @default-hover-cursor;
        &:hover {
          background: @bg-hover-clickable-col;
        }
        &:active {
          background: @bg-active-clickable-col;
          border-color: @default-border-color-second;
        }
      }
    }
    &col {
      border: @margin-col solid @coloring-between-blocks;
      .box-sizing();
    }
  }
  // Модификаторы цвета блоков ws-background_bg, ..., ws-background_hover.
  .for(@color-modificator-name, {
    .ws-background_@{_item} {
      background-color: extract(@color-modificator-value, @_i);
    }
  });
}