& {
   @margin-col: @spacing-between-blocks / 2;
   @margin-row: -@margin-col;
   @color-modificator-name: bg, ghostWhite, whiteSnow, whiteSmoke, mintCream, hover;
   @color-modificator-value: @default-bg-color, @ghost-white-color, @white-snow-color, @white-smoke-color, @mint-cream-color, @default-hover-color;

   .ws-areaBlocks__ {
      &area {
         overflow: hidden;
      }
      &row {
         margin-left: @margin-row;
         margin-right: @margin-row;
         .flexbox();

         &_topOffset {
            border-top: @margin-col solid @color-between-blocks;
         }

         &:first-of-type:not(.ws-areaBlocks__row_topOffset) {
            margin-top: @margin-row;
         }
         &:last-of-type {
            margin-bottom: @margin-row;
         }

         &_rebuild {
            .flex-wrap(wrap);
            > .ws-areaBlocks__col {
               .flex-grow(1);
            }
         }
      }
      &col {
         border: @margin-col solid @color-between-blocks;
         .box-sizing();
      }
   }
   // Модификаторы цвета блоков ws-background_bg, ..., ws-background_hover.
   .for(@color-modificator-name, { .ws-background_@{_item} {
      background-color: extract(@color-modificator-value, @_i);
   } });
}