& {
   @margin-block: @spacing-between-blocks / 2;
   @margin-row: -@margin-block;

   .ws-block {
      &__layout {
         overflow: hidden;
         & > .ws-block__group {
            margin-left: @margin-row;
            margin-right: @margin-row;
            &:first-of-type {
               margin-top: @margin-row;
            }
            &:last-of-type {
               margin-bottom: @margin-row;
            }
         }
         &_detached {
            border-top: @spacing-between-blocks solid @color-between-blocks;
         }
      }
      &__content {
         border: @margin-block solid @color-between-blocks;
         .box-sizing();
      }
   }
}