@import "header";
@import "mixins";

body {
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner {
  padding: 0 !important;
  border: 0 none !important;
}

.line-overflow-blur {
  position: relative;
  float: right;
  &:before {
    background: @line-overflow-blur-gradient;
    height: @line-overflow-blur-height;
    width: @line-overflow-blur-height;
    content: ' ';
    display: block;
    position: absolute;
    top: -@line-overflow-blur-height;
    right: 0;
  }
}

/* ATTENTION styles */
.icon-attention
{
  color: @icon-color-attention;
}

/* DONE styles */
.icon-done
{
  color: @icon-color-done;
}

/* ERROR styles */
.icon-error
{
  color: @icon-color-error;
}

/* PRIMARY styles */
.icon-primary
{
  color: @icon-color-primary;
}

/* DISABLED styles */
.icon-disabled
{
  color: @icon-color-disabled;
}

/* Для тех, кто поддерживает... */
.icon-primary:disabled {
  color: @icon-color-disabled;
}

/* Цвет основного текста */
.normaltext-color {
  color: @black-color;
}

//HOVER styles
.icon-hover{
  color: @icon-color-hover;
}

.gray-color {
  color: @gray-color;
}

.blue-color {
  color: @darkcyan-color;
}
.controls-Link {
// Модификаторы цвета ссылки
  &.mainLink__2 {
    color: @gray-lamantin-color;
  }

  &.additionalLink {
    color: @link-additional-color;
  }
  &.additionalLink__2 {
    color: @default-text-color;
  }
  &.additionalLink__3 {
    color: @red-color;
  }
  &.additionalLink__4 {
    color: @green-color;
  }
  &.additionalLink__5 {
    color: @purple-color;
  }
}
.blue-dark-color {
  color: @blue-dark-color;
}

.ws-is-desktop-platform {
  .action-hover:not(.ws-disabled):hover {
    color: @blue-dark-color;
  }
}


.icon-small, .icon-medium, .icon-large, .icon-size, .icon-16, .icon-24, .icon-32 {
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
}

.icon-small, .icon-16  { // icon-16 coprolite
   .icon-size(@default-icon-size, @default-icon-small-font);
}
.icon-medium, .icon-24  { // icon-24 coprolite
   .icon-size(@default-icon-size-medium, @default-icon-medium-font);
}
.icon-large, .icon-32 {// icon-32 coprolite
   .icon-size(@default-icon-size-large, @default-icon-large-font);
}

.ws-unSelectable {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

.controls-LabelContainer {
  .flexbox();

  .controls-LabelContainer__label {
    .flex-shrink(0);
    margin-right: 8px;
    white-space: nowrap;
  }
  .controls-LabelContainer__content {
    .flex-grow(1);
    .flex-shrink();
    width: 100%;
    min-width: 0;
    display: block;
    position: relative;
  }
}

.controls-ListView__withoutMarker {
   .controls-ListView__item__selected,
   .controls-ListView__item__multiSelected {
      .controls-DataGridView__td:first-child,
      .controls-CompositeView__tileTitle,
      .controls-ListView__item-title,
      &:not(.controls-CompositeView__verticalItemActions),
      &:not(.controls-ListView__item-type-node) {
         background-image: none !important;
         border-left-color: transparent;
      }
      &.controls-ListView__item {
         &:not(.controls-ListView__hoveredItem) {
            border-left-color: transparent;
            background-color: transparent;
         }
      }
   }
}

.ws-moneyDecorator {
   &__integer{
      font-size: @money-decorator-integer-font-size;
      color: @money-decorator-integer-font-color;
      &__AccentResults{
         font-size: @money-decorator-integer-accent-results-font-size;
         color: @money-decorator-integer-accent-results-font-color;
         font-weight: bold;
         line-height: @money-decorator-integer-accent-results-line-height;
      }
      &__NoAccentResults{
         font-size: @money-decorator-integer-no-accent-results-font-size;
         color: @money-decorator-integer-no-accent-results-font-color;
         font-weight: bold;
      }
      &__Group{
         font-size: @money-decorator-integer-group-font-size;
         color: @money-decorator-integer-group-font-color;
      }
      &__BasicRegistry{
         font-size: @money-decorator-integer-basic-registry-font-size;
         color: @money-decorator-integer-basic-registry-font-color;
      }
      &__NoBasicRegistry{
         font-size: @money-decorator-integer-no-basic-registry-font-size;
         color: @money-decorator-integer-no-basic-registry-font-color;
      }
      &__AccentRegistry{
         font-size: @money-decorator-integer-accent-registry-font-size;
         color: @money-decorator-integer-accent-registry-font-color;
         font-weight: bold;
      }
      &__NoAccentRegistry{
         font-size: @money-decorator-integer-no-accent-registry-font-size;
         color: @money-decorator-integer-no-accent-registry-font-color;
         font-weight: bold;
      }
   }
   &__fraction{
      font-size: @money-decorator-fraction-font-size;
      color: @money-decorator-fraction-font-color;
      line-height: normal;
      font-weight: normal !important;
   }
}
