@import "header";
@import "mixins";

//body, html {
//  font: @default-font-size @default-font-name;
//  color: @text-color;
//  background: @bg;
//}

button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner {
  padding: 0 !important;
  border: 0 none !important;
}

.line-overflow-blur {
  position: relative;
  float: right;
  &:before {
    background: @line-overflow-blur-gradient;
    height: @line-overflow-blur-height;
    width: @line-overflow-blur-height;
    content: ' ';
    display: block;
    position: absolute;
    top: -@line-overflow-blur-height;
    right: 0;
  }
}

/* ATTENTION styles */
.icon-attention
{
  color: @icon-color-attention;
}

/* DONE styles */
.icon-done
{
  color: @icon-color-done;
}

/* ERROR styles */
.icon-error
{
  color: @icon-color-error;
}

/* PRIMARY styles */
.icon-primary
{
  color: @icon-color-primary;
}

/* DISABLED styles */
.icon-disabled
{
  color: @icon-color-disabled;
}

/* Для тех, кто поддерживает... */
.icon-primary:disabled {
  color: @icon-color-disabled;
}

/* Цвет основного текста */
.normaltext-color {
  color: @black-color;
}

//HOVER styles
.icon-hover{
  color: @icon-color-hover;
}

.gray-color {
  color: @gray-color;
}

.blue-color {
  color: @darkcyan-color;
}
.controls-Link {
// Модификаторы цвета ссылки
  &.mainLink__2 {
    color: @gray-lamantin-color;
  }

  &.additionalLink {
    color: @link-additional-color;
  }
  &.additionalLink__2 {
    color: @black-color;
  }
  &.additionalLink__3 {
    color: @red-color;
  }
  &.additionalLink__4 {
    color: @green-color;
  }
  &.additionalLink__5 {
    color: @purple-color;
  }
}
.blue-dark-color {
  color: @blue-dark-color;
}

.ws-is-desktop-platform {
  .action-hover:not(.ws-disabled):hover {
    color: @blue-dark-color;
  }
}

.icon-size {
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
}

.icon-small, .icon-medium, .icon-large {
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
}

.icon-small {
  font-family: @default-icon-small-font !important;
}

.icon-medium {
  font-family: @default-icon-medium-font !important;
}

.icon-large {
  font-family: @default-icon-large-font !important;
}


.icon-small {
  font-size: @icon-small-size !important;
  line-height: @icon-small-size !important;
  width: @icon-small-size;
  height: @icon-small-size;
}

.icon-medium {
  font-size: @icon-medium-size !important;
  line-height: @icon-medium-size !important;
  width: @icon-medium-size;
  height: @icon-medium-size;
}

.icon-large {
  font-size: @icon-large-size !important;
  line-height: @icon-large-size !important;
  width: @icon-large-size;
  height: @icon-large-size;
}

.ws-unSelectable {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

.controls-LabelContainer {
  .flexbox();

  .controls-LabelContainer__label {
    .flex-shrink(0);
    margin-right: 8px;
    white-space: nowrap;
  }
  .controls-LabelContainer__content {
    .flex-grow(1);
    width: 100%;
    display: block;
    position: relative;
  }
}
