@import "header";

//body, html {
//  font: @font-basic-size @font-basic-name;
//  color: @text-color;
//  background: @bg;
//}

button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner {
  padding: 0 !important;
  border: 0 none !important;
}

/* ATTENTION styles */
.icon-attention
{
  color: @icon-color-attention;
}

/* DONE styles */
.icon-done
{
  color: @icon-color-done;
}

/* ERROR styles */
.icon-error
{
  color: @icon-color-error;
}

/* PRIMARY styles */
.icon-primary
{
  color: @icon-color-primary;
}

/* DISABLED styles */
.icon-disabled,
{
  color: @icon-color-disabled;
}

/* Для тех, кто поддерживает... */
.icon-primary:disabled {
  color: @icon-color-disabled;
}

/* Цвет основного текста */
.normaltext-color {
  color: @black-color;
}

//HOVER styles
.icon-hover{
  color: @icon-color-hover;
}

.gray-color {
  color: @gray-color;
}

.blue-color {
  color: @darkcyan-color;
}
.controls-Link {
// Модификаторы цвета ссылки
  &.mainLink__2 {
    color: @gray-lamantin-color;
  }

  &.additionalLink {
    color: @gray-color;
  }
  &.additionalLink__2 {
    color: @black-color;
  }
  &.additionalLink__3 {
    color: @red-color;
  }
  &.additionalLink__4 {
    color: @green-color;
  }
  &.additionalLink__5 {
    color: @purple-color;
  }
}
.blue-dark-color {
  color: @blue-dark-color;
}

.ws-is-desktop-platform {
  .action-hover:not(.ws-disabled):hover {
    color: @blue-dark-color;
  }
}

.ws-unSelectable {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}