.ws-header, .controls-Link.ws-header {
  .ws-header-mixin(@header-padding-left, @header-padding-right, @header-font, @header-color);
}

.ws-bigHeader {
  .ws-header-mixin(@header-padding-left, @header-padding-right, @bigHeader-font, @bigHeader-color);
}

.ws-subheader, .controls-Link.ws-subheader {
  .ws-header-mixin(@header-padding-left, @header-padding-right, @subheader-font, @subheader-color);
}

.ws-bigSubheader, .controls-Link.ws-bigSubheader {
  .ws-header-mixin(@header-padding-left, @header-padding-right, @bigSubheader-font, @bigSubheader-color);
}

.ws-splitter {
  &.ws-linkHeader {
    padding-right: 0;
  }
  &:before {
  content: '|';
  float: right;
  margin: @link-header-separator-margin;
  color: @link-header-separator-color;
  }
}

.ws-linkHeader, .controls-Link.ws-linkHeader {
  .ws-header-mixin(@link-header-padding-left, @link-header-padding-right, @link-header-font, @link-header-color);
  text-decoration: @link-header-text-decoration;

  &:after {
    display: inline-block;
    width: 8px;
    .ws-header-content-mixin(@link-header-after-content, @link-header-after-font, @link-header-after-color);
    margin-left: @link-header-after-margin-left;
  }

  &:hover {
    color: @link-header-hover-color;
    &:after {
      color: @link-header-hover-after-color;
    }
  }
}

.ws-toggleHeader {
  &:before {
    display: inline-block;
    .ws-header-content-mixin(@toggle-header-before-content, @toggle-header-before-font, @toggle-header-before-color);
    width: @toggle-header-before-width;
    float: left;
  }

  &.controls-Checked__checked:before {
    content: @toggle-header-checked-before-content;
  }

   &.ws-disabled {
      border: @toggle-header-border;
   }

  &, &.controls-Checked__checked {
    .ws-header-mixin(0, @toggle-header-padding-right, @toggle-header-font, @toggle-header-color);
    border: @toggle-header-border;
    background: @toggle-header-background;

    &.controls-Click__active:active {
      border: @toggle-header-border;
      background: @toggle-header-background;
    }
    &.controls-Click__active {
      border: @toggle-header-border;
      background: @toggle-header-background;
    }

    &:hover {
      color: @toggle-header-hover-color;
      &:before {
        color: @toggle-header-hover-before-color;
      }
    }

    .controls-Button__text {
      display: inline-block;
      margin: 0;
    }
  }
}

.controls-ToggleHeader__caption {
  .ws-headerCounter {
    display: inline-block;
    font: @toggle-header-count-font;
    color: @toggle-header-count-color;
    margin-right: @toggle-header-count-margin-right;
  }
  &:hover .ws-headerCounter {
    color: @toggle-header-hover-count-color;
  }
}

.ws-is-desktop-platform {
  .controls-Link:not(.ws-disabled):not(.controls-Click__active) {
    &.ws-linkHeader, &.ws-header, &.ws-bigSubheader, &.ws-subheader {
      &:hover .controls-Link-link {
        text-decoration: @link-header-text-decoration;
      }
    }
    &.ws-linkHeader:not(.controls-Link__disabledHover) {
      &:hover {
        color: @link-header-hover-color;
      }
    }
    &.ws-header,  &.ws-bigSubheader, &.ws-subheader {
      &:not(.controls-Link__disabledHover):hover {
        color: @primary-color;
      }
    }
  }

  .controls-Button:not(.ws-disabled):not(.controls-Click__active):hover.ws-toggleHeader {
    border: @toggle-header-border;
    background: @toggle-header-background;
    font: @toggle-header-font;
    color: @toggle-header-hover-color;
  }

  .controls-Button:not(.ws-disabled).ws-toggleHeader {
    &, &.controls-Checked__checked {
      &:hover {
        border: @toggle-header-border;
        background: @toggle-header-background;
        font: @toggle-header-font;
      }
      // TODO избавиться от каскада при переходе на абстрактную кнопку
      &:hover.controls-Button {
        color: @toggle-header-hover-color;
        border: none;
      }
    }
  }
}

.controls-Link {
  &.ws-linkHeader, &.ws-header, &.ws-bigSubheader, &.ws-subheader {
    &.controls-Click__active:active {
      text-decoration: @link-header-text-decoration;
      color: @link-header-hover-color;
    }
  }
}

.controls-Button.ws-toggleHeader {
  &, &.controls-Checked__checked {
    &, &.controls-Click__active:active {
      border: @toggle-header-border;
      background: @toggle-header-background;
      font: @toggle-header-font;
    }

    color: @toggle-header-color;

    &.controls-Click__active:active {
      color: @toggle-header-hover-color;
    }
  }
}
