html, body {
   font: 13px Tahoma !important;
   padding: 0;
   margin: 0;
}

#content {
   padding: 20px;
}

ul.preview-list {
   display: block;
   list-style-type: none;
   margin: 0 -15px 35px;
   padding: 0;
}

ul.preview-list li {
   float: left;
   padding: 0 15px;
}

ul.preview-list li .row {
   margin: 0 0 20px;
}

.inline-group {
   display: inline-block;
   margin: 4px 8px;
}

.clearfix:after {
   clear: both;
   content: ".";
   display: block;
   height: 0;
   visibility: hidden;
}

.clearfix {
   display: inline-block;
}

.clearfix {
   display: block;
}