html, body {
   padding: 0;
   margin: 0;
}

.content {
   padding: 20px;
}

.theme-selector {
   float: right;
}

ul.preview-list {
   display: block;
   list-style-type: none;
   margin: 0 -15px 35px;
   padding: 0;
}

ul.preview-list li {
   float: left;
   padding: 0 15px;
}

ul.preview-list li .row {
   margin: 0 0 20px;
}

.inline-group {
   display: inline-block;
   margin: 4px 8px;
}

.list-view-item > .id {
   color: #999;
   font-size: 10px;
}

.list-view-item > .flag {
   color: #008000;
}

.list-view-item > .no-flag {
   color: #800000;
}

.clearfix:after {
   clear: both;
   content: ".";
   display: block;
   height: 0;
   visibility: hidden;
}

.clearfix {
   display: inline-block;
}

.clearfix {
   display: block;
}