.controls-default-text-size {
	font-size: @default-text-size;
}
.controls-small-text-size {
	font-size: @small-text-size;
}
.controls-large-text-size {
	font-size: @large-text-size
}
.controls-huge-text-size {
	font-size: @huge-text-size
}
.controls-bold-text {
	font-weight: bold;
}
.controls-error-color {
	color: @error-color;
}
.controls-success-color {
	color: @success-color;
}
.controls-warning-color {
	color: @warning-color;
}
.controls-primary-color {
	color: @primary-color;
}
.controls-accent-color {
	color: @accent-color;
}
