<SBIS3.CONTROLS.ScrollContainer name="ComboBoxScroll" cssClassName="controls-ComboBox__scrollContainer" shadowStyle="none">
   <ws:content>
      <div class="controls-ComboBox__list controls-ComboBox__list_column"></div>
   </ws:content>
</SBIS3.CONTROLS.ScrollContainer>

