<div class="js-controls-ComboBox__arrowDown
            controls-ComboBox__Arrow
            controls-ComboBox__afterFieldWrapper
            icon-ExpandLight
            icon-size
            {{ !enabled ? ' ws-invisible' }}"></div>