<div class="controls-ComboBox__body">
   <ws:SBIS3.CONTROLS.ScrollContainer name="ComboBoxScroll" cssClassName="controls-ComboBox__scrollContainer">
      <ws:content>
         <div class="controls-ComboBox__list"></div>
      </ws:content>
   </ws:SBIS3.CONTROLS.ScrollContainer>
</div>
