<div class="controls-ComboBox__itemRow js-controls-ComboBox__itemRow controls-ListView__item js-controls-ListView__item {{(item.get && item.get('className'))|orEmpty}} {{(item.get && item.get('isEmptyValue')) ? 'controls-ComboBox__emptyRow'}}"
     data-hash="{{projItem.getHash()}}"
     data-id="{{(item.getId && item.getId())}}">
    <div class="controls-ComboBox__item">
        <ws:partial template="{{itemContent}}" scope="{{...}}"></ws:partial>
    </div>
    <div class="controls-ComboBox__shadow"></div>
</div>