<div class="controls-ComboBox__item
            js-controls-ComboBox__item
            controls-ListView__item
            js-controls-ListView__item
            {{ prepareItemClassesByConfig(item, className) }}
            {{ className }}
            {{ item.get && (item.get('visible') === false) ? ' ws-hidden'}}
            {{ item.get && item.get('className') }}
            {{(item.get && item.get('isEmptyValue')) ? ' controls-ComboBox__item_empty'}}"
            data-hash="{{projItem.getHash()}}"
            data-id="{{item.getId && (item.getId() === null ? 'null' : item.getId())}}">
    <ws:partial template="{{itemContent}}" scope="{{...}}"></ws:partial>
</div>