<span class="controls-TextBox__field controls-ComboBox__fieldNotEditable js-controls-ComboBox__fieldNotEditable
   {{!text ? 'controls-ComboBox__fieldNotEditable__placeholder'}}">{{(text || placeholder || '&nbsp;')|sanitize}}</span>
<input
   class="controls-TextBox__field js-controls-TextBox__field controls-ComboBox__field"
   type="{{type || 'text'}}"
   autocomplete="off"
   value="{{text}}"
   placeholder="{{enabled ? placeholder}}"
   maxlength="{{maxLength ? maxLength}}"
/>