<span class="js-MoneyTextBox__input controls-TextBox__field" contentEditable='true'>
    <ws:if data="{{ enabled === true }}">{{text}}</ws:if><ws:else>{{_integersPart}}<span class="controls-MoneyTextBox__decimals">.{{_decimalsPart}}</span></ws:else>
</span>