<span class="js-MoneyTextBox__input controls-MoneyTextBox__input" contentEditable='true'>{{text}}</span>
<span class="js-MoneyTextBox__decimals controls-MoneyTextBox__decimals {{enabled ? 'ws-hidden'}}">.00</span>