<div class="controls-ClockPickerBody{{viewName === 'hours' ? ' controls-ClockPickerBody_hours' : ' controls-ClockPickerBody_minutes'}}">
   <div class="controls-ClockPickerBody__unitTime" data-bind="html: unitTime"/>
   <ws:partial
      template="tmpl!SBIS3.CONTROLS.ClockPickerBody/resources/Circle"
      viewName="{{viewName}}"
      circleName="outer"
      ticks="{{_ticks[viewName].outer}}"
      animationTime="{{_animationTime}}"
      isMark="{{viewName === 'minutes'}}"
   />
   <div
      class="controls-ClockPickerBody__arrow js-controls-ClockPickerBody__arrow"
      style="transform: rotate(180deg); transition: opacity {{_animationTime}}ms;"
      data-bind="{
         css: {
            'controls-ClockPickerBody__arrow_inner': arrow/isInner,
            'controls-ClockPickerBody__arrow_outer': arrow/isOuter
         },
         style: {
            transform: arrow/transform,
            opacity: arrow/opacity
         }
      }"
   >
      <div
         class="controls-ClockPickerBody__arrowTip js-controls-ClockPickerBody__arrowTip"
         data-bind="{
            html: arrowTip/tick,
            css: {
               'controls-ClockPickerBody__tick_inner': arrow/isInner,
               'controls-ClockPickerBody__tick_outer': arrow/isOuter
            },
            style: {
               transform: arrowTip/transform
            }
         }"
      ></div>
   </div>
   <ws:if data="{{_ticks[viewName].inner}}">
      <ws:partial
         template="tmpl!SBIS3.CONTROLS.ClockPickerBody/resources/Circle"
         viewName="{{viewName}}"
         circleName="inner"
         ticks="{{_ticks[viewName].inner}}"
         animationTime="{{_animationTime}}"
      />
   </ws:if>
</div>