.themeSwitcher {
   display: none !important;
}

.controls-demo-backButtonContent {
   margin: 0 4px;
}
.ws-is-ie {
   //Для того, чтобы шаблон, который расположен между кнопкой назад и хлебными крошками, ужимался при уменьшении размеров экрана.
   .controls-demo-backButtonContent {
       overflow: hidden;
   }
}

