<div class="controls-ListView{{ multiselect !== false ? ' controls-ListView__multiselect' : ' controls-ListView__multiselect__off'}}">
    <div class="controls-ListView__fakeFocusElement" tabindex="-1"></div>
    <div class="controls-AjaxLoader ws-hidden">
        <div class="controls-AjaxLoader__outer">
            <div class="controls-AjaxLoader__block">
                <div class="controls-AjaxLoader__LoadingIndicator"></div>
            </div>
        </div>
    </div>
    <ws:if data="{{ _serverRender && _resultsRecord && resultsPosition == 'top' && resultsTpl}}">
       <ws:partial template="{{resultsTpl}}" item="{{_resultsRecord}}" multiselect="{{multiselect}}" />
    </ws:if>
    <div class="controls-ListView__itemsContainer">
        <ws:if data="{{ _serverRender }}">
            <ws:partial template="{{_itemsTemplate}}" records="{{_records}}" tplData="{{_itemData}}" />
        </ws:if>
    </div>
    <ws:if data="{{ _serverRender && _resultsRecord && resultsPosition == 'bottom' && resultsTpl}}">
       <ws:partial template="{{resultsTpl}}" item="{{_resultsRecord}}" multiselect="{{multiselect}}" />
    </ws:if>
    <div class="controls-ListView__EmptyData {{(!_serverRender || _records.length || !it.emptyHTML) ? 'ws-hidden'}}">{{emptyHTML|sanitize}}</div>
    <ws:if data="{{ footerTpl }}">
        <div class="controls-ListView__footer">
            <ws:partial template="{{footerTpl}}" scope="{{...}}" />
        </div>
    </ws:if>
    <ws:if data="{{ showPaging }}">
        <div class="controls-Pager-container"></div>
    </ws:if>
    <ws:if data="{{ infiniteScroll == 'demand'}}">
       <div class="controls-ListView__serviceFooter">
         <component data-component="SBIS3.CONTROLS.Link" name="loadMoreButton" class="controls-ListView__loadMoreButton">
            <option name="caption">Еще...</option>
            <option name="visible" type="boolean">false</option>
         </component>
       </div>
    </ws:if>
    <div class="controls-ListView-scrollIndicator ws-hidden{{ infiniteScroll === 'up' ? ' controls-ListView-scrollIndicator__up'}}"></div>
    <div class="controls-ListView__ItemsToolbar-container ws-hidden"></div>
    <div class="controls-ListView__scrollPager{{ !infiniteScroll ? ' ws-hidden'}}"></div>
</div>
