@import "../Utils/HtmlDecorators/HighlightDecorator";


//Навесить классы в setHoveredItem, updateHoveredItem, clearHoveredItem +
.controls-ListView__hoveredItem__withHover.controls-ListView__hoveredItem__withoutEditing {
   background-color: @default-itemHover-color;
}

.controls-ListView__hoveredItem__withoutHover.controls-ListView__hoveredItem__withEditing {

}

.controls-ListView__small__EmptyData {
   padding-bottom: @listView-empty-data-padding-top;
   color: @gray-ccc-color;
}

.controls-ListView__normal__EmptyData {
   color: @listView-empty-data-color;
   .box-sizing(border-box);
   padding-top: @listView-empty-data-padding-top;
   font-size: @listView-empty-data-font-size;
   text-align: center;
}

//Вынести в modifyOptions +
.controls-ListView__item__selected__withMarker {
   .marker(left top)
}

//toggleClass
.controls-ListView__outside-scroll-loader{
   .controls-ListView-scrollIndicator{
      position: relative;
   }
}

.controls-ListView__item {
   overflow: hidden;
   position: relative;
}

.controls-ListView__dataNotLoaded:not(.ws-sticky-header__table-header-copy) {
   min-height: @list-view-min-height;
}

.controls-ListView {
    position: relative;
   // Нельзя устанавливать минимальную высоту для копии таблицы которая используется для фиксации заголовков

}

//Данные стили обеспечивают правильное поведение ListView при активации.
//Фокус должен переходить на элемент с position fixed.
.controls-ListView__fakeFocusElement {
   position: fixed;
   top: 50%;
   left: 50%;
   width: 1px;
   height: 1px;
}

.controls-ListView__EmptyData{
   color: @listView-empty-data-color;
   .box-sizing(border-box);
   padding-top: @listView-empty-data-padding-top;
   font-size: @listView-empty-data-font-size;
   text-align: center;
}

.controls-Pager-container {
   overflow: hidden;
}

.controls-ListView__itemCheckBox {
   .checkbox(@check-box-icon-size);
   cursor: pointer;
   display: inline-block;
   position: absolute;
   left: @listView-check-box-left;
   top: @listView-check-box-top;

   &:before {
      color: @check-box-icon-box-color;
   }
}

.controls-ListView__item__multiSelected {
   .controls-ListView__itemCheckBox:after {
      color: @primary-color;
   }
}

.controls-ListView__item__partiallySelected {
   .controls-ListView__itemCheckBox:after {
      background-color: @primary-color;
   }
}

.controls-ListView-scrollIndicator {
   display: none;
   margin: 0 auto;
   height: @list-view-scroll-height;
   bottom: 0;
   position: absolute;
   z-index: 1;
   right: 0;
   width: 100%;
   background: @list-view-loading-indicator-gradient-bg;
   &.controls-ListView-scrollIndicator__up{
      top: 0;
      background: @list-view-loading-indicator-gradient-bg-up;
   }
}

.controls-ListView__indicatorVisible:not(.ws-sticky-header__table-header-copy) {
    min-height: @list-view-scroll-height + @data-grid-header-cell-height; // Высота индикатор скрола + высота ячейки шапки, чтобы при подгрузке скролл не скрывался под шапкой
    > .controls-ListView-scrollIndicator {
      display: block;
   }
}

.controls-ListView__scrollPager{
   position: fixed;
   bottom: @scrollpager-bottom;
   height: 32px;
   background: @scrollpager-bg;
   border-top: @scrollpager-border;
   z-index: 10;
}

.controls-ListView__serviceFooter {
   padding: @listView-servicefooter-padding;
   overflow: hidden;
}

.controls-ListView__loadMoreButton {
   height: @listView-servicefooter-height;
   line-height: @listView-servicefooter-height;
   font-size: @listView-loadmorebutton-font-size;
}

.controls-ListView__counter {
   float: right;
   color: @gray-color;
   font-size: @listView-servicefooter-fontsize;
   display: inline-block;
   height: @listView-servicefooter-height;
   line-height: @listView-servicefooter-height;
}

.controls-AjaxLoader{
   background: transparent;
   position: absolute;
   top: @controls-AjaxLoader-default-cord;
   bottom: @controls-AjaxLoader-default-cord;
   left: @controls-AjaxLoader-default-cord;
   right: @controls-AjaxLoader-default-cord;
   width: 100%;
   z-index: @controls-AjaxLoader-zIndex;
   overflow: hidden;
   min-height: @controls-AjaxLoader-minHeight;
   &.controls-AjaxLoader__showIndication {
      background: @controls-AjaxLoader-background;
      .controls-AjaxLoader__outer {
         display: block;
      }
   }
}
// На webkit из-за особенностей верстки в данном месте, несмотря на то что у абсолютно спозиционированного
// контенера заданы top и bottom, высота все равно равна 0 а не высоте контенера. Устанавливаем высоту через height: 100%;
.ws-is-webkit .controls-AjaxLoader {
   height: 100%;
}

.controls-AjaxLoader__outer{
   display: none;
   height: @controls-AjaxLoader-outer-height;
   position: relative;
   top: @controls-AjaxLoader-outer-top;
   line-height: @controls-AjaxLoader-outer-lineHeight;
}

.controls-AjaxLoader__block{
   width: @controls-AjaxLoader-block-width;
   border: none;
   box-shadow: none;
   background: @controls-AjaxLoader-block-background;
   margin-left: auto;
   margin-right: auto;
   position: relative;
   top: @controls-AjaxLoader-block-top;
   padding: @controls-AjaxLoader-block-padding;
}

.controls-AjaxLoader__LoadingIndicator{
   position: absolute;
   background:@list-view-scroll-bg;
   padding-left: @controls-AjaxLoader-indicator-padding-left;
   height: @controls-AjaxLoader-indicator-height;
}


.controls-ListView__results{
  background: #FFF;
  font-weight: bold;
  font-size: 14px;
  color: #313E78;
}

.ws-is-mobile-platform .controls-ListView__scrollPager{
   position: fixed;
   bottom: 0;
   height: 32px;
   background: white;
   border-top: @scrollpager-border;
   z-index: 10;
}

.ws-float-area-animate .controls-ListView__scrollPager {
   display: none;
}

.controls-ScrollContainer {
   > .controls-ListView__scrollPager{
      position: absolute;
      bottom: @scrollpager-bottom;
      right: 0;
      height: 32px;
      background: @scroll-pager-bg;
      border-top: @scrollpager-border;
      z-index: 10;
   }
}

.rightSwipeAnimation {
   -webkit-animation-name: rightSwipe; /* Safari 4.0 - 8.0 */
   -webkit-animation-duration: 0.3s; /* Safari 4.0 - 8.0 */
   animation-name: rightSwipe;
   animation-duration: 0.3s;
}
// при свайпе право одноврменно с анимацией происходил горизонтальный скролл на айпаде,
// из-за этого дергался реестр. перешли с анимации через right, на анимацию через translate
@keyframes rightSwipe {
   0% {
      .translate(0);
   }
   50% {
      .translate(16px);
   }
   100% {
      .translate(0);
   }
}
:not(.ws-sticky-header__header-container) > .controls-ScrollPaging__pagesPadding.controls-ListView__bottomStyle {
   padding-bottom: @scrollPaging-padding + @bottomStyle-padding-bottom;
}
.controls-GroupBy {
   .user-select();
   &__separator {
      height: @list-view-separator-height / 2;
      margin-bottom: @list-view-separator-height / 2;
      border-bottom: @default-border-width solid @default-border-color;
      &__center { //modifier
         text-align: center;
      }
      &__right { //modifier
         text-align: right;
      }
      &Text {
         cursor: pointer;
         line-height: @list-view-separator-height;
         display: inline-block;
         padding: @list-view-separator-content-padding;
         background: @default-bg-color;
         color: @list-view-separator-content-color;
         font-size: @small-text-size;
         white-space: nowrap;
         &:hover {
            color: @list-view-separator-content-hover-color;
         }
      }
      &Collapse {
         &:before {
            content: '\e000';
            float: left;
            width: @list-view-separator-expander-size;
            font-size: @list-view-separator-expander-size;
            margin-right: @list-view-separator-expander-margin;
         }
         &__collapsed {
            &:before {
               content: '\e013';
            }
         }
      }
   }
}