<div class="controls-FieldLink__inputLink">
    <span class="controls-FieldLink__inputLink__caption">{{item.get('Фамилия')}}</span>
    <ws-if data="showTextBox">
        <i class="controls-FieldLink__cross"/>
    </ws-if>
</div>