<ws:if data="{{ menuSelector }}">
    <SBIS3.CONTROLS.Menu.MenuIcon
            name="fieldLinkMenu"
            cssClassName="controls-FieldLink__showSelector controls-FieldLink__button"
            pickerClassName="controls-FieldLink__showSelector__picker"
            icon="controls-FieldLink__button icon-size icon-ListViewNew icon-primary action-hover"
            tabindex="0"
            displayProperty="caption"
            idProperty="caption"
    />
</ws:if>
<ws:else>
    <div class="controls-FieldLink__showSelector controls-FieldLink__showSelector-button controls-FieldLink__button icon-size icon-ListViewNew"></div>
</ws:else>