.controls-MoveDialogTemplate {
   .controls-MoveDialogTemplate-TreeDataGridView {
      padding: 0 0 5px 0;
      overflow: hidden;
      min-height: 50px;
      width: 100%;
      /*TODO скрываем подгрузку (ещё null)*/
      .controls-TreeDataGridView__folderToolbar {
         display: none;
      }
      .controls-DataGridView__table {
         .controls-DataGridView__td {
            padding-left: 22px;
         }
         .controls-MoveDialog__root {
            padding-left: 6px;
         }
      }
   }
}
.controls-MoveDialogTemplate__activateMove {
   position: absolute;
   right: 38px;
   top: 8px;
}