.controls-FilterDropdown {
   display: inline-flex;
   align-items: center;
   min-width: 1px;
}

.controls-FilterDropdown__content {
   width: 100%;
   flex-shrink: 1;
   overflow: hidden;
}

.controls-FilterDropdown__contentTemplate {
   .text-overflow();
}

.ws-is-hover {
   .controls-FilterDropdown__text:hover {
      text-decoration: underline;
   }
}

.controls-FilterDropdown__text:active {
   text-decoration: underline;
}

.controls-FilterDropdown__reset {
   .flexbox();
   .align-self(center);
   .icon-size(@size_icon_s);
   flex-shrink: 0;
   cursor: pointer;
}