/*group*/
/*ширина кнопки закрытия окна 36px + 2px на небольшой отступ между кнопкой сохранить (в ie8 нет скруглений и кнопки склеиваются)*/
/*ширина кнопки закрытия окна 36px + 90px ширина кнопки сохранить + 2px на небольшой отступ между ними */
.controls-Calendar {
  display: inline-block;
  text-align: center;
  font: inherit;
  width: 215px;
  padding: 8px 0 0;
  background: #fff;
}
.controls-Calendar .controls-Calendar__monthPicker {
  width: 148px;
}
.controls-Calendar .controls-Calendar__dayTable {
  vertical-align: middle;
  width: 100%;
  border-spacing: 1px;
}
.controls-Calendar .controls-Calendar__dayTable .controls-Calendar__tableHead {
  font: 11px 'TensorFont Regular', 'TensorFont', sans-serif;
  text-align: center;
}
.controls-Calendar .controls-Calendar__dayTable .controls-Calendar__tableBody {
  font: inherit;
  text-align: left;
}
.controls-Calendar .controls-Calendar__dayTable .controls-Calendar__tableElement {
  width: 56px;
  height: 24px;
  padding: 0 0 0 8px;
}
.controls-Calendar .controls-Calendar__dayTable .controls-Calendar__tableElement.controls-Calendar__tableBodyElement {
  cursor: pointer;
  color: inherit;
  background: #f2f2f2;
}
.controls-Calendar .controls-Calendar__dayTable .controls-Calendar__tableElement.controls-Calendar__tableBodyElement.controls-Calendar__tableBodyElement__active {
  color: inherit;
  background: #ffc37e;
}
.controls-Calendar .controls-Calendar__dayTable .controls-Calendar__tableElement.controls-Calendar__tableBodyElement.controls-Calendar__tableBodyElement__active:hover {
  color: inherit;
  background: #ffc37e;
}
.controls-Calendar .controls-Calendar__dayTable .controls-Calendar__tableElement.controls-Calendar__tableBodyElement:hover {
  color: inherit;
  background: #e5ecf4;
}
.controls-Calendar .controls-Calendar__dayTable .controls-Calendar__tableElement.controls-Calendar__tableElementFog {
  cursor: default;
  color: #999;
  background: transparent;
}
.controls-Calendar .controls-Calendar__dayTable .controls-Calendar__tableElement.controls-Calendar__tableElementFog:hover {
  color: #999;
  background: transparent;
}
