<div class="controls-Calendar" onmousedown="return false" onselectstart="return false">
    <SBIS3.CONTROLS.Date.MonthPicker name="MonthPicker" className="controls-Calendar__monthPicker" mode="month"/>
    <table class="controls-Calendar__dayTable">
        <thead class="controls-Calendar__tableHead">
            <tr>
                <td for="day in _days" class="controls-Calendar__tableElement controls-Calendar__tableElementFog">{{ day }}</td>
            </tr>
        </thead>
    </table>
</div>