.controls-Toolbar__popup__link_theme-@{themeName} {
   margin-top:  -((@item_height_menu - @icon-size_m) / 2 + @border-thickness_sticky);
   margin-left: -(@border-thickness_sticky + @item_padding-horizontal_l_menu);
}

.controls-Toolbar__popup__icon_theme-@{themeName} {
   margin-top:  -((@item_height_menu - @icon-size_m) / 2 + @border-thickness_sticky);
   margin-left: -(@border-thickness_sticky + @item_padding-horizontal_l_menu);
}

.controls-Toolbar__popup__toolButton_theme-@{themeName} {
   margin-top: -((@item_height_menu - @inline_height_m_button) / 2 + @border-thickness_sticky);
   margin-left: -(@border-thickness_sticky + @item_padding-horizontal_l_menu);
}

.controls-Toolbar__popup__list_theme-@{themeName} {
   margin-top: -(@close-button_offset-top_sticky + @content_padding-top_sticky + @border-thickness_sticky);
   margin-left: @close-button_offset-right_sticky + @border-thickness_sticky;
}
