@import "Controls-default-theme/helpers/_mixins";

.controls-Toolbar {
  display: inline-block;
  max-width: 100%;
}
.controls-Toolbar__item_spacing_medium_theme-@{themeName} {
  margin-right: @spacing_Toolbar-between-items_medium;
}

.controls-Toolbar__item_spacing_big_theme-@{themeName} {
  margin-right: @spacing_Toolbar-between-items_big;
}
.controls-Toolbar__item_theme-@{themeName} {
  max-width: 100%;
  .inline-flexbox();
  cursor: pointer;
  .align-items(center);
  font-size: @font-size_Toolbar-item;

  &:last-child {
    margin-right: 0;
  }
}
.controls-Toolbar__item:before, .controls-Toolbar__item_readOnly:before {
  content: "\200b";
}
.controls-Toolbar__item_readOnly {
  cursor: auto;
}
.controls-Toolbar_content {
  width: 100%;
  .inline-flexbox();
  .align-items(center);

  &:before {
    content: "\200b";
  }
}
.controls-Toolbar__menu {
  .inline-flexbox();
  cursor: pointer;
}
.ws-is-hover {
  .controls-Toolbar__menu_theme-@{themeName}:hover {
    color: @color_Toolbar-icon_hovered;
  }
}
