<Controls-demo.PropertyGrid.PropertyGridWrapper
        description="{{_metaData}}"
        dataObject="{{_dataObject}}"
        txtOpt="{{_textOptions}}"
        content="{{_content}}">
</Controls-demo.PropertyGrid.PropertyGridWrapper>