<div class="controls-demo_Wrapper">
    <div class="controls-demo_options-wrapper">
        <Controls.PropertyGrid items="{{_metaData}}" scopeObject="{{_textOptions}}"
                               attr:class="controls-FilterPanel__PropertyGrid" on:itemsChanged="_itemsChangedHandler()">
            <ws:itemTemplate templateName="tmpl!Controls-demo/PropertyGrid/PropertyGridTemplate"/>
        </Controls.PropertyGrid>
    </div>
    <div class="controls-demo_event-example__wrapper " >
        <div class="controls-demo_example-wrapper">
            <Controls.Popup.Opener.InfoBox name="infoBox"/>
            <Controls.Input.Text
                    scope="{{_textOptions}}"
                    bind:value="_textOptions.value"

                    on:valueChanged="_valueChanged()"
                    on:tagHover="_tagStyleHandler()"
                    on:tagClick="_tagStyleClickHandler()"

                    attr:id="main_field"
                    attr:class="demo-TextBox"
                    name="textBox"
            />
        </div>
        <div class="controls-demo_event-wrapper">

                <Controls.Container.Scroll
                        attr:style="height: 100px; border-width:thin"
                        scrollbarVisible="{{true}}"
                        shadowVisible="{{true}}">
                    <pre>{{ _events }}</pre>
                </Controls.Container.Scroll>
        </div>
    </div>
</div>