@import "../RichTextArea/RichTextArea";
.controls-RichEditorToolbar {
   height: auto;

   &.ws-disabled {
      display: none;
   }

   &.controls-RichEditorToolbar__hide {
      .controls-RichEditorToolbar__toggleButton {
         background-image: @freToolbarShowButtonPrimary;
      }
      .controls-RichEditorToolbar__itemsContainer {
         height: 0px;
      }
   }

   .controls-RichEditorToolbar__toggleButton {
      background-size: 100% 100%;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      position: absolute;
      display: block;
      height: 28px;
      width: 16px;
      right: 0px;
      top: 0px;
      z-index: 2;
      border: none;
      padding: 0px;
      background-color: transparent;
      cursor: pointer;
      background-image: @freToolbarHideButtonPrimary;
      .box-shadow(none);
   }
}
.controls-RichEditorToolbar__itemsContainer {
   height: 24px;
   background-color: @fieldRichEditorToolbarColor;
   text-align: left;
   display: block;
   padding-left: 6px;
   overflow: hidden;
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

//Стили для элементов тулбара богатого редактора
.controls-RichEditorToolbar__item {
   margin: 0 2px;
   float: left;

   &.controls-Button {
      display: inline-block;
      overflow: hidden;
      .controls-Button__icon {
         position: relative;
         left: 0px;
         top: 1px;
      }
      padding: 0;
      border:none;
      outline: 0;
      border-radius: 0;
      text-decoration: none;
      &.controls-Checked__checked {
         background: @fieldRichEditorButtonsCheckedColor;
         border:none;

         &.controls-MenuButton {
            padding-bottom: 2px;
         }

         &.controls-Picker__show {
            &,&:hover:not(.ws-disabled) {
               background: @white-color;
               border-top: 2px solid @gray-light-color;
               border-right: 2px solid @gray-light-color;
               border-left: 2px solid @gray-light-color;
               border-top-left-radius: 4px;
               border-top-right-radius: 4px;
               &:not(.controls-Click__active) {
                  background: @white-color;
               }
            }
         }
         .controls-RichEditorMenuButton__headArrow{
            top: -3px;
            padding-right: 4px;
         }
      }
      .controls-RichEditorMenuButton__headArrow{
         top: -1px;
         padding-right: 6px;
         right: 0;
      }
      .controls-Button__emptyCaption{
         display:none;
      }
      &:hover{
         &:not(.ws-disabled){
            &:not(.controls-Click__active) {
               border: none;
               background: none;
               &.controls-Checked__checked {
                  background: @fieldRichEditorButtonsCheckedColor;
               }
            }
            &.controls-Checked__checked {
               border: none;
            }
         }
      }
      &.controls-Click__active {
         .controls-Button__icon {
            color: @blue-dark-color !important
         }
      }
   }
   .controls-RichEditorMenuButton__headArrow {
      background-image:@RichEditorDropdownArrow;
      width: 16px;
      position: absolute;
      right: 4px;
      left: auto;
      top:-2px;
      &:before {
         content: none;
      }
   }
   &.controls-DropdownList{
      line-height: normal;
   }
}

//Стили для элементов НА(!) тулбаре богатого редактора
.controls-RichEditorToolbar__itemsContainer .controls-RichEditorToolbar__item {
   &.controls-MenuButton {
      width:24px;
      margin: 0;
      text-align: left;
      .controls-Button__icon {
         padding-left:4px;
      }
      &.controls-Checked__checked {
         .controls-Button__icon {
            padding-left:2px;
            //перебить стили темы online ( в ie8 ломается отображение при ховере)
            left: 0px;
            top:1px;
         }
      }
   }
}

/* Блок смайлов */
.fre-smiles {
   &.controls-MenuButton__Menu {
      width: 196px;
      padding: 0 0 4px 0 !important;
      .controls-ListView__item {
         color: #587ab0;
         font-size: 24px;
         display: inline-block;
         padding: 2px 4px 0 4px;
         height: 20px;
         vertical-align: bottom;
         &:hover {
            color: #313E78
         }
      }
   }
   &.controls-MenuButton {
      .ws-fre__smile {
         height: 24px;
      }
   }
   .controls-MenuItem {
      .ws-fre__smile {
         height: 24px;
      }
   }
   //необходимо сдвигать picker на 2px тк в тулбаре нестандартная menuButton
   &.controls-popup-revert-vertical {
      margin-top: 2px !important; //important тк margin 0 прописывается inline стилем при расчете picker`a
   }
}
/*Блок вставки удаления списка*/
.fre-list{
   .controls-ListView__item {
      width:34px;
   }
}
/*Блок выбора цвета*/
.fre-color {
   &.controls-RichEditorToolbar__menuButtonPicker {
      .controls-ListView__item {
         display: block;
         width: 34px;
         .controls-MenuItem__text {
            margin: 0;
         }
         .controls-RichEditorToolbar__color {
            height: 16px;
            width: 16px;
            margin: 8px 3px;
            &Black {
               background-color: black;
            }
            &Red {
               background-color: red;
            }
            &Green {
               background-color: green;
            }
            &Blue {
               background-color: blue;
            }
            &Purple {
               background-color: purple;
            }
            &Grey {
               background-color: grey;
            }
         }
      }
   }
}
/*Блок выбора стиля*/
.fre-style {
   .controls-RichEditorDropdown__head {
      width:128px;
      .controls-RichEditorDropdown__headText{
         width: 105px;
      }
   }
   .controls-DropdownList__selectedItem .controls-RichEditorDropdown__headText, .controls-RichEditorDropdown__headText, .controls-RichEditorDropdown__itemText{
      &__title{
         font-size: 18px;
      }
      &__subTitle{
         font-size: 15px;
      }
      &__additionalText{
         font-size: 12px;
      }
      &__selectedMainText{
         font-weight: bold;
      }
   }
}/*Блок выбора выравнивания*/
.fre-align {
   .controls-RichEditorDropdown__head,{
      width:22px;
      .controls-RichEditorDropdown__headArrow{
         right: 8px;
      }
      .controls-RichEditorDropdown__headIcon {
         padding: 0px 0px 0px 2px;
      }
   }
   .controls-DropdownList__header, .controls-DropdownList__body{
      width:34px;
   }
}
.ws-is-ie8 {
   .controls-RichEditorToolbar {
      .controls-RichEditorToolbar__item {
         .controls-RichEditorMenuButton__headArrow {
            top: -3px;
         }
      }
   }
}
.ws-is-desktop-platform {
   .controls-RichEditorToolbar {
      &.controls-RichEditorToolbar__hide {
         .controls-RichEditorToolbar__toggleButton {
            &:hover {
               background-image: @freToolbarShowButtonHover;
            }
         }

      }
   }
   .controls-RichEditorToolbar__toggleButton {
      &:hover {
         background-image: @freToolbarHideButtonHover;
      }
   }
   .controls-RichEditorToolbar__item {
      &.controls-Button {
         &.controls-ListView__item {
            &.ws-disabled:hover .controls-Button__icon {
               color: @icon-color-disabled !important;
            }
            &:hover .controls-Button__icon {
               color: @blue-dark-color !important;
            }
         }
      }
   }
   .fre-smiles {
      font-family: 'EmojiFont','TensorFont Regular', 'TensorFont', sans-serif;
      &.controls-MenuButton__Menu {
         .controls-ListView__item {
            font-size: 18px;
         }
      }
   }
}