@freToolbarShowButtonPrimary: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAgCAIAAACU62+bAAAA8ElEQVR42u2R3Q7BMBiG221lDOFIBOEGRNyAED8XLRGJkyUuQcIRZ1tii7KutqqYsZqwxIED72G/50m/t4VbA4MkgX/hL3xZwEt9ujApAOlaZ9irqre5s9In+uUclVuDUUN7vCGchc4D3R6P6urzSnei0u42N3ORjusQOtdE6Rel4zZ590rcma1rfZH+7Y/7KcHEgCURDMsh1PuQlmUJutSz9sT13t/C6aKGIGMXFDvUOtBXu3GmkE3lMghCEAg8ns92mBDXF2ikSKVcSpGloEMoXHMkJxsHC0oA5jWkqUqktCDw+IzZ+MQAXwPxksL0DGERwe08m48oAAAAAElFTkSuQmCC');
@freToolbarShowButtonHover: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAgCAYAAAAbifjMAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAE8SURBVEhLY3z65ut/BgoAE5QmG4waMGoACAwDAxCZ6etVhlkV6xg2PWVgYFXTY+ht8mdQYgPLQMCvGwyzileD5Rmk1RnaO8IYdLmRXcCtzZDWG8rgJ83A8PvWJYbiuo0M935B5dA09/RCNIMAZnZGUsyqoMXQXqvNcKgOVbMGksuwlwfINsIAFs0ggD0Q2TTg3gEDHJpBAH+JBHJJ8yUGu1rsmkFgtEgbHAYwQllkAiZ2FmYok3TAzMzEwMTHxcrAxky6M0CaBbhZGRj/AwFI4OuP3wwfv/1mYCCQrEDK+bjYGHg4gZqB9sINAIG///4zfPj6k+Hnr39QEVTAysLEIMjDxsACtB0GUAyAge8//zB8+vqL4S9UBhTSvEDncnOwQASQAFYDQOAfUPjT1z9AH4GczMrAzIQtnBgYAJvLgvvIvM2yAAAAAElFTkSuQmCC');
@freToolbarHideButtonPrimary: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAgCAIAAACU62+bAAAAb0lEQVR42mN8+uYrAymAcVTDqAbaavhx9/j+ezKOrrIcxGgAqt51/O1vBgZWcX03dD0YGuCqIQBDD6oGZLPtlJ4dOv4awx4kDZgu+fHg9J4jL3+i6IFp+Hrr+N5TWNyNpEfX2VWeewhF3KiGYacBABlmk+ErLqu0AAAAAElFTkSuQmCC');
@freToolbarHideButtonHover: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAgCAIAAACU62+bAAAAb0lEQVR42mN8+uYrAymAcVTDqAbaavh1Y1bzJbvaMA02YjQAVRev3vSUgUFavacXXQ+GBrhqCMDQg6oB2ewmvRPNq9c8QNeDpAHTJb/urK5bvvAWih6Yhq9XZ1Wsw+JuJD3tHWG63EMo4kY1DDsNANzck+ElP21yAAAAAElFTkSuQmCC');

@fieldRichEditorToolbarColor: #E5ECF5;
.controls-RichEditorToolbar {
   height: auto;
   cursor: default;
   &.ws-disabled {
      display: none;
   }

   &.controls-RichEditorToolbar__hide {
      .controls-RichEditorToolbar__toggleButton {
         background-image: @freToolbarShowButtonPrimary;
      }
      .controls-RichEditorToolbar__itemsContainer {
         height: 0px;
      }
   }

   .controls-RichEditorToolbar__toggleButton {
      background-size: 100% 100%;
      position: absolute;
      display: block;
      height: 32px;
      width: 16px;
      right: 0px;
      top: 0px;
      z-index: 2;
      border: none;
      padding: 0px;
      background-color: transparent;
      cursor: pointer;
      background-image: @freToolbarHideButtonPrimary;
      .box-shadow(none);
      .user-select(none)
   }

   .controls-RichEditorToolbar__itemsContainer {
      height: 32px;
      background-color: @fieldRichEditorToolbarColor;
      text-align: left;
      display: flex;
      padding-left: 4px;
      overflow: hidden;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
   }
   .controls-RichEditorToolbar__item {
      margin: 2px 4px;
      &.controls-ComboBox {
         margin: 4px;
         width:126px;
         .controls-TextBox__field {
            overflow: hidden;
         }
      }
      &.controls-Button.controls-Button__default {
         border: 1px transparent solid;
         &:hover, .controls-Checked__checked {
            border: 1px transparent solid !important;
         }
      }
   }
}

/*Блок выбора цвета*/
.fre-color {
   .controls-ListView__item {
      height: 32px !important;
      width: 32px;
      margin: 0 4px;
      padding: 0 !important;

      .controls-MenuItem__content {
         width: auto;
      }
      .controls-MenuItem__text {
         margin: 0;
      }
      .controls-RichEditorToolbar__color {
         height: 16px;
         width: 16px;
         margin: 8px;
         border-radius: 2px;
         &Black {
            background-color: black;
         }
         &Red {
            background-color: red;
         }
         &Green {
            background-color: green;
         }
         &Blue {
            background-color: blue;
         }
         &Purple {
            background-color: purple;
         }
         &Grey {
            background-color: grey;
         }
      }
   }
}

/* Блок смайлов */
.fre-smiles {
   &.controls-MenuButton__Menu {
      width: 200px;
      padding: 0 0 4px 0 !important;
      .controls-ListView__item.controls-MenuItem {
         color: #587ab0;
         font-size: 24px;
         display: inline-block;
         padding: 2px 4px 0 4px;
         height: 20px;
         vertical-align: bottom;
         width: 33px; // 25 ширина смайла на 10 ios + 8 отступ
         &:hover {
            color: #313E78
         }
      }
   }
   &.controls-MenuButton {
      .ws-fre__smile {
         height: 24px;
      }
   }
   .controls-MenuItem {
      .ws-fre__smile {
         height: 24px;
      }
   }
   //необходимо сдвигать picker на 2px тк в тулбаре нестандартная menuButton
   &.controls-popup-revert-vertical {
      margin-top: 2px !important; //important тк margin 0 прописывается inline стилем при расчете picker`a
   }
}
.ws-is-desktop-platform {
   .controls-RichEditorToolbar {
      &.controls-RichEditorToolbar__hide {
         .controls-RichEditorToolbar__toggleButton {
            &:hover {
               background-image: @freToolbarShowButtonHover;
            }
         }

      }
   }
   .controls-RichEditorToolbar__toggleButton {
      &:hover {
         background-image: @freToolbarHideButtonHover;
      }
   }
   .controls-RichEditorToolbar__item {
      &.controls-Button {
         &.controls-ListView__item {
            &.ws-disabled:hover .controls-Button__icon {
               color: @default-disabled-color !important;
            }
            &:hover .controls-Button__icon {
               color: @icon-active-color !important;
            }
         }
      }
   }
   .fre-smiles {
      width: 192px;
      font-family: 'EmojiFont','TensorFont', sans-serif;
      &.controls-MenuButton__Menu {
         .controls-ListView__item {
            font-size: 18px;
            width: 31px;// 23 ширина смайла на desktop`e 10 ios + 8 отступ
         }
      }
   }
}