<span class="controls-Spoiler__title-caption js-controls-Spoiler__title-caption {{!caption ? ' controls-Spoiler__emptyCaption' : ''}}">
   <span class="controls-Spoiler__title-caption-text">{{caption ? caption : '&nbsp;'}}</span>
   <div class="controls-Spoiler__title-caption-blur line-overflow-blur"></div>
</span>