<span class="controls-Spoiler__title-caption js-controls-Spoiler__title-caption {{!caption ? ' controls-Spoiler__emptyCaption' : ''}}">
   <span class="controls-Spoiler__title-caption-text">{{(caption || '&nbsp;')|sanitize}}</span>
   <div class="controls-Spoiler__title-caption-blur line-overflow-blur"></div>
</span>