<span class="controls-Spoiler__title-caption js-controls-Spoiler__title-caption {{!caption ? ' controls-Spoiler__emptyCaption' : ''}}">
   <span class="controls-Spoilter__title-caption-text">{{caption ? caption : '&nbsp;'}}</span>
</span>