.controls-BigSeparator {
   display: inline-block;
   cursor: pointer;
}

.controls-BigSeparator-icon {
   fill: var(--icon-color_BigSeparator);
}

.controls-BigSeparator-icon:hover {
   fill: var(--hover_icon-color_BigSeparator);
}

.controls-BigSeparator-contrast{
   background-color: var(--icon_container_background_color_BigSeparator);
}

.controls-BigSeparator-same{
   background-color: var(--background-color);
}

.controls-BigSeparator-readonly {
   cursor: default;
}

.controls-BigSeparator-icon-readonly {
   fill: var(--readonly_icon-color_BigSeparator);
}

.controls-BigSeparator-size-s {
   width: var(--width_s_BigSeparator);
   font-size: 0;
}

.controls-BigSeparator-size-m {
   width: var(--width_m_BigSeparator);
   font-size: 0;
}

.controls-BigSeparator-size-l {
   width: var(--width_l_BigSeparator);
   font-size: 0;
}

.controls-BigSeparator-container-icon-size-s {
   border-radius: var(--border-radius_s_BigSeparator);
   height: var(--height_s_BigSeparator);
}

.controls-BigSeparator-container-icon-size-m {
   border-radius: var(--border-radius_m_BigSeparator);
   height: var(--height_m_BigSeparator);
}

.controls-BigSeparator-container-icon-size-l {
   border-radius: var(--border-radius_l_BigSeparator);
   height: var(--height_l_BigSeparator);
}

.controls-BigSeparator-iconExpanded-size-s {
   width: var(--icon_expanded_width_s_BigSeparator);
   height: var(--icon_expanded_height_s_BigSeparator);
   padding: var(--padding-top_expanded_s_BigSeparator) var(--padding-horizontal_expanded_s_BigSeparator);
}

.controls-BigSeparator-iconExpanded-size-m {
   width: var(--icon_expanded_width_m_BigSeparator);
   height: var(--icon_expanded_height_m_BigSeparator);
   padding: var(--padding-top_expanded_m_BigSeparator) var(--padding-horizontal_expanded_m_BigSeparator);
}

.controls-BigSeparator-iconExpanded-size-l {
   width: var(--icon_expanded_width_l_BigSeparator);
   height: var(--icon_expanded_height_l_BigSeparator);
   padding: var(--padding-top_expanded_l_BigSeparator) var(--padding-horizontal_expanded_l_BigSeparator);
}

.controls-BigSeparator-iconCollapsed-size-s {
   width: var(--icon_collapsed_width_s_BigSeparator);
   height: var(--icon_collapsed_height_s_BigSeparator);
   padding: var(--padding-top_collapsed_s_BigSeparator) var(--padding-horizontal_collapsed_s_BigSeparator);
}

.controls-BigSeparator-iconCollapsed-size-m {
   width: var(--icon_collapsed_width_m_BigSeparator);
   height: var(--icon_collapsed_height_m_BigSeparator);
   padding: var(--padding-top_collapsed_m_BigSeparator) var(--padding-horizontal_collapsed_m_BigSeparator);
}

.controls-BigSeparator-iconCollapsed-size-l {
   width: var(--icon_collapsed_width_l_BigSeparator);
   height: var(--icon_collapsed_height_l_BigSeparator);
   padding: var(--padding-top_collapsed_l_BigSeparator) var(--padding-horizontal_collapsed_l_BigSeparator);
}

.ws-is-hover {
   .controls-BigSeparator__icon:hover {
      color: var(--hover_icon-color_BigSeparator);
   }
}
