.controls-BigSeparator {
   display: inline-block;
   cursor: pointer;
}

.controls-BigSeparator_theme-@{themeName} {
   width: @width_toggleBigSeparator;
   height: @height_toggleBigSeparator;
}

.controls-BigSeparator__icon_theme-@{themeName} {
   font-size: @icon-size_toggleBigSeparator;
   font-family: @icon_font-family_s;
   color: @icon-color_toggleBigSeparator;
}

.controls-BigSeparator__icon_theme-@{themeName}:active {
   color: @icon-color_active_toggleBigSeparator;
}

.ws-is-hover {
   .controls-BigSeparator__icon_theme-@{themeName}:hover {
      color: @icon-color_hover_toggleBigSeparator;
   }
}
