.controls-DateRange {
   display: inline-block;
   line-height: @date-range-line-height;

   .controls-DateRange__button {
      vertical-align: @date-range-button-vertical-align;
   }

   &.ws-validation-error {
      .controls-FormattedTextBox {
         border-width: @formatted-text-box-error-border-width;
         border-style: @formatted-text-box-error-border-style;
         border-color: @formatted-text-box-error-border-color;
         background: @formatted-text-box-error-bg;
      }
   }
}

.controls-DateRange__button {
   margin: @date-range-button-margin;
   // Иконка нестандартного размера. В следующую версию стандарта должна быть стандартной.
   .controls-Button__icon {
      font-size: @date-range-button-size !important;
      line-height: @date-range-button-line-height !important;
      height: @date-range-button-size;
      width: @date-range-button-size;
   }
}

.controls-DateRange__dash {
   display: inline-block;
   width: @date-range-dash-width;
   margin: @date-range-dash-margin;
   border-top: @date-range-dash-border-top;
}
