/*group*/
/*ширина кнопки закрытия окна 36px + 2px на небольшой отступ между кнопкой сохранить (в ie8 нет скруглений и кнопки склеиваются)*/
/*ширина кнопки закрытия окна 36px + 90px ширина кнопки сохранить + 2px на небольшой отступ между ними */
.controls-DateRange {
  line-height: 24px;
}
.controls-DateRange.ws-validation-error .controls-FormattedTextBox {
  border: none !important;
  background: transparent !important;
}
.controls-DateRange.ws-validation-error .controls-FormattedTextBox .controls-FormattedTextBox__fieldWrapper.controls-DateBox__fieldWrapper {
  border-width: 1px;
  border-style: solid;
  border-color: #ff302b !important;
  background: #fadadd !important;
}
.controls-DateRange .controls-DateRange__DatePickerStart,
.controls-DateRange .controls-DateRange__DatePickerEnd {
  font-size: 14px;
}
.controls-DateRange .controls-DateRange__Button {
  font-size: 18px !important;
  line-height: 18px !important;
  height: 18px;
  width: 18px;
  margin: 0 0 3px 8px;
  position: relative;
}
.controls-DateRange .controls-DateRange__Button.icon-primary.controls-IconButton.action-hover:hover {
  color: #313E78 !important;
}
.controls-DateRange .controls-DateRange__dash {
  display: inline-block;
  width: 2px;
  margin: 0 3px 4px 3px;
  border-top: 1px solid #000;
}
.controls-DateRange.ws-disabled .controls-DateRange__Button.icon-primary.controls-IconButton.action-hover.ws-disabled {
  color: #CCC !important;
}
