.controls-DateRange {
   display: inline-block;
   line-height: @date-range-line-height;

   &.ws-validation-error {
      .controls-FormattedTextBox {
         border-width: @default-border-width;
         border-style: solid;
         border-color: @text-box-border-color-error;
         background: @text-box-bg-error;
      }
   }
}

.controls-DateRange__Button {
   margin: @date-range-icon-button-margin;
   // Иконка нестандартного размера. В следующую версию стандарта должна быть стандартной.
   .controls-Button__icon {
      font-size: @date-range-icon-button-size !important;
      line-height: @date-range-icon-button-line-height !important;
      height: @date-range-icon-button-size;
      width: @date-range-icon-button-size;
   }
}

.controls-DateRange__dash {
   display: inline-block;
   width: @date-range-dash-width;
   margin: @date-range-dash-margin;
   border-top: @date-range-dash-border-top;
}
