.controls-DateRange {
   line-height: @date-range-line-height;

   &.ws-validation-error {
      outline-width: @formatted-text-box-error-border-width;
      outline-style: @formatted-text-box-error-border-style;
      outline-color: @formatted-text-box-error-border-color;
   }

   .controls-DateRange__Button {
      position: relative;
      border-radius: 0;
      .controls-Button__text {
         margin: 0 8px;
         line-height: @date-range-text-line-height;
      }
   }
}