<div class="root">
    <div class="separator">Style="default"</div>
    <div class="">
        <Controls:Tabs:Buttons
                      bind:selectedKey='SelectedKey1'
                      keyProperty="id"
        >
            <ws:source module="WS.Data/Source/Memory" >
                <ws:options idProperty="id">
                <ws:data>
                    <ws:Array>
                        <ws:Object id="1" title="Done" align="left"/>
                        <ws:Object id="2" title="From Me" align="left"/>
                        <ws:Object id="3" title="Controlled" align="left"/>
                        <ws:Object id="4" title="very"/>
                        <ws:Object id="5" title="hard"/>
                        <ws:Object id="6" title="invent"/>
                        <ws:Object id="7" title="tabs"/>
                        <ws:Object id="8" title="titles"/>
                    </ws:Array>
                </ws:data>
                </ws:options>
            </ws:source>
        </Controls:Tabs:Buttons>
    </div>
    <div class="separator">Style="default", with main tab</div>
    <div class="">
        <Controls:Tabs:Buttons
                      bind:selectedKey='SelectedKey2'
                      keyProperty="id"
                      itemTemplateProperty="itemTemplate"
        >
            <ws:source module="WS.Data/Source/Memory" >
                <ws:options idProperty="id">
                <ws:data>
                    <ws:Array>
                        <ws:Object id="1" title="Main" align="left"  itemTemplate="{{_mainTemplate}}"/>
                        <ws:Object id="2" title="very"/>
                        <ws:Object id="3" title="hard"/>
                        <ws:Object id="4" title="invent"/>
                        <ws:Object id="5" title="tabs"/>
                        <ws:Object id="6" title="titles"/>
                    </ws:Array>
                </ws:data>
                </ws:options>
            </ws:source>
        </Controls:Tabs:Buttons>
    </div>
    <div class="separator">Style="additional", displayProperty = 'carambola'</div>
    <div class="">
        <Controls:Tabs:Buttons
                      bind:selectedKey='SelectedKey3'
                      keyProperty="id"
                      style="additional"
                      displayProperty="carambola"
        >
            <ws:source module="WS.Data/Source/Memory" >
                <ws:options idProperty="id">
                <ws:data>
                    <ws:Array>
                        <ws:Object id="1" carambola="First" align="left"/>
                        <ws:Object id="2" carambola="very"/>
                        <ws:Object id="3" carambola="hard"/>
                        <ws:Object id="4" carambola="invent"/>
                        <ws:Object id="5" carambola="tabs"/>
                        <ws:Object id="6" carambola="titles"/>
                    </ws:Array>
                </ws:data>
                </ws:options>
            </ws:source>
        </Controls:Tabs:Buttons>
    </div>
    <div class="separator">Style="additional", with space template</div>
    <div class="">
        <Controls:Tabs:Buttons
                      bind:selectedKey='SelectedKey4'
                      keyProperty="id"
                      style="additional"
                      tabSpaceTemplate="{{_spaceTemplate}}"
        >
            <ws:source module="WS.Data/Source/Memory" >
                <ws:options idProperty="id">
                <ws:data>
                    <ws:Array>
                        <ws:Object id="1" title="First" align="left" />
                        <ws:Object id="2" title="tabs"/>
                        <ws:Object id="3" title="titles"/>
                    </ws:Array>
                </ws:data>
                </ws:options>
            </ws:source>
        </Controls:Tabs:Buttons>
    </div>
    <div class="separator">Style="default", with main item template</div>
    <div class="">
        <Controls:Tabs:Buttons
                      bind:selectedKey='SelectedKey5'
                      keyProperty="id"
                      itemTemplateProperty="itemTemplate"
        >
            <ws:source module="WS.Data/Source/Memory" >
                <ws:options idProperty="id">
                <ws:data>
                    <ws:Array>
                        <ws:Object id="1"
                                   title="First"
                                   align="left"
                                   style="main"
                                   itemTemplate="{{_itemTemplate}}"
                        />
                        <ws:Object id="2" title="titles"/>
                    </ws:Array>
                </ws:data>
                </ws:options>
            </ws:source>
        </Controls:Tabs:Buttons>
    </div>
    <div class="separator">
        <span>Style="default", change source after click</span>
        <div class="clickmebtn" on:click="_setSource()">click me</div>
    </div>
    <div class="">
        <Controls:Tabs:Buttons
                      bind:selectedKey='SelectedKey6'
                      keyProperty="id"
                      name="lazy"
                      source = "{{_source7}}"
        />

    </div>
    <div class="separator">Style="default", with Photo item template</div>
    <div class="photo_before_bg"></div>
    <div class="">
        <Controls:Tabs:Buttons
                      bind:selectedKey='SelectedKey7'
                      keyProperty="id"
                      style="additional"
                      itemTemplateProperty="carambola"
        >
            <ws:source module="WS.Data/Source/Memory" >
                <ws:options idProperty="id">
                    <ws:data>
                        <ws:Array>
                            <ws:Object id="1"
                                       title=""
                                       carambola="{{_photoContent}}"
                                       align="left"
                                       type="photo"
                            />
                            <ws:Object id="2" title="very" align="left"/>
                            <ws:Object id="3" title="hard" align="left"/>
                            <ws:Object id="4" title="invent" align="left"/>
                            <ws:Object id="5" title="tabs"/>
                            <ws:Object id="6" title="titles"/>
                            <ws:Object id="7"
                                       title=""
                                       carambola="{{_photoContent}}"
                                       type="photo"
                            />
                        </ws:Array>
                    </ws:data>
                </ws:options>
            </ws:source>
        </Controls:Tabs:Buttons>
    </div>
</div>