<Controls.Dropdown.Controller
        source="{{_options.source}}"
        keyProperty="{{_options.keyProperty}}"
        parentProperty="{{_options.parentProperty}}"
        nodeProperty="{{_options.nodeProperty}}"
        itemTemplateProperty="{{_options.itemTemplateProperty}}"
        itemTemplate="{{_options.itemTemplate}}"
        headTemplate="{{_options.headTemplate}}"
        footerTemplate="{{_options.footerTemplate}}"
        selectedKeys="{{_options.selectedKeys}}"
        showHeader="{{_options.showHeader}}"
        emptyText="{{_options.emptyText}}"
        className="{{_options.className}}"
        dataLoadCallback="{{_setText}}"
        on:selectedItemsChanged="_selectedItemsChangedHandler()"
        class="controls-Dropdown">
   <ws:partial template="{{_options.contentTemplate || _defaultContentTemplate}}"
               contentTemplate="{{_options.contentTemplate}}"
               icon="{{_icon}}"
               text="{{_text}}"
               class="controls-Dropdown__{{_isEmptyItem ? 'emptyItem' : 'defaultItem'}}"/>
</Controls.Dropdown.Controller>