<Controls.Container.Dropdown
        scope="{{_options}}"
        showHeader="{{_options.showHeader}}"
        typeShadow="default"
        on:selectedItemChanged="_selectedItemChangedHandler()"
        class="controls-Dropdown">
   <ws:partial template="{{_options.contentTemplate || _defaultContentTemplate}}"
               contentTemplate="{{_options.contentTemplate}}"
               icon="{{_icon}}"
               text="{{_text}}"/>
</Controls.Container.Dropdown>