.controls-CheckBox {
  cursor: pointer;
  display: inline-block;
  color: white;
  font-size: 14px;
  line-height: 18px;
}

.controls-CheckBox__icon {
  width: 18px;
  height: 18px;
  display: inline-block;
  border: 1px solid #333333;
  background: none;
}

.controls-CheckBox.controls-Checked__checked .controls-CheckBox__icon {
  background-repeat: no-repeat;
  background-image: url('./img/checkbox.png');
  background-position: -2px -5px;
}

.controls-CheckBox__caption {
   margin-left: 5px;
}