.controls-Button {
  background-color: #F2F2F2;
  cursor: pointer;
  border: none;
  height: 58px;
  font-family: Exo2;
  font-size: 14px;
  text-align: center;
  color: #333333;
  box-sizing: border-box;
  padding: 0 16px;
  display: inline-block;
  line-height: 56px;
}
.controls-Button__primary {
  background-color: #FFCC99;
}
.controls-Button__big {
  font-size: 18px;
}
.controls-Button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.controls-TextBox {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 5px;
  border: 1px solid transparent;
  border-bottom-color: #666666;
  font-family: Exo2;
  font-size: 14px;
  height: 40px;
}
.controls-TextBox:hover {
  border: 1px solid #666666;
}
.controls-TextBox__big {
  font-size: 36px;
  height: 50px;
}
.controls-TextBox.ws-has-focus {
  background-color: #444E57;
}
.controls-TextBox__fieldWrapper {
  height: 100%;
}
.controls-TextBox__afterFieldWrapper {
  float: right;
  width: 16px;
  min-height: 19px;
  height: 100%;
  position: relative;
  padding: 0 5px;
}
.controls-TextBox__afterFieldWrapper + .controls-TextBox__fieldWrapper {
  margin-right: 26px;
  margin-left: 2px;
}
.controls-TextBox__field {
  border: none;
  min-height: 19px;
  height: 99%;
  width: 100%;
  margin: 0;
  line-height: 100%;
  outline: none;
  background: none;
  color: #ffffff;
  font: inherit;
  padding: 0;
}
.controls-TextBox__field-uppercase {
  text-transform: uppercase;
}
.controls-TextBox__field-lowercase {
  text-transform: lowercase;
}
.controls-TextBox__placeholder {
  display: none;
}
.controls-ComboBox.controls-Picker__show {
  border: 1px solid #666666;
  background: #444E57;
}
.controls-ComboBox__arrowDown {
  text-decoration: none;
  position: absolute;
  right: 5px;
  top: 50%;
  margin-top: -8px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-image: url('./img/combobox.png');
}
.controls-ComboBox.controls-Picker__show .controls-ComboBox__arrowDown {
  background-position: 0 -32px;
}
.controls-ComboBox__arrowDown:hover {
  background-position: 0 -16px;
}
.controls-Picker__show .controls-ComboBox__arrowDown:hover {
  background-position: 0 -48px;
}
.controls-ComboBox__itemRow {
  padding: 0 5px 0 7px;
  cursor: pointer;
  background: #444E57;
  color: white;
  height: 40px;
  line-height: 40px;
}
.controls-ComboBox__itemRow:hover {
  background-color: #E2EFFB;
  color: #000000;
}
.controls-ComboBox__itemRow__selected {
  font-weight: bold;
}
.controls-ComboBox__field__editable-false,
.controls-ComboBox__field__editable-false .controls-TextBox__field {
  cursor: pointer;
}
.controls-ComboBox__inputWrapper {
  margin-right: 18px;
  height: 100%;
}
.controls-ComboBox__picker {
  border: 1px solid #666666;
  margin-top: -1px;
}
.controls-ComboBox__fieldNotEditable {
  line-height: 39px;
}
.controls-CheckBox {
  cursor: pointer;
  display: inline-block;
  color: white;
  font-size: 14px;
  line-height: 18px;
}
.controls-CheckBox__icon {
  width: 18px;
  height: 18px;
  display: inline-block;
  border: 1px solid #333333;
  background: none;
}
.controls-CheckBox.controls-Checked__checked .controls-CheckBox__icon {
  background-repeat: no-repeat;
  background-image: url('./img/checkbox.png');
  background-position: -2px -5px;
}
.controls-CheckBox__caption {
  margin-left: 5px;
}
