//default-sizes
@default-height:               2.7857rem;
@default-height-big:           2.7857rem;
@default-border-width:         1px;
@default-text-size:            1rem;
@small-text-size:              .8571rem;
@large-text-size:              1.1428rem;
@huge-text-size:               1.4285rem;
@default-icon-size:            1.1428rem;
@default-icon-size-medium:     1.5rem;
@default-icon-size-large:      2rem;
@default-line-height:          1.5rem; //42px;
@default-base-line-height:     2rem;//@default-height - 2 * @default-border-width
@default-padding:              0.5rem;
@default-padding-small:        0.25rem;
//textbox
@text-box-height-m:               2.0714rem;
@text-box-height-l:               @default-height-big;
@text-box-font-size-l:            1.4286rem;
@text-box-input-padding-l:        0.25rem;
//search-form
@search-loop-size:             @default-icon-size;
//button
@button-large-height:          @default-height-big;
//combobox
@combo-box-icon-size:          @default-icon-size-medium;
@combo-box-arrow-padding:      0 0 0 @default-padding-small;
//suggest-text-box
@suggest-text-box-icon-size:           @default-icon-size-medium;
@suggest-text-box-icon-cross-padding:  0 0 0 @default-padding-small;
@suggest-list-footer-height:           2.75rem;
//treeView
@tree-view-expand-icon-size:   @default-icon-size;
@tree-view-expand-width:       @default-icon-size;
//itemsToolbar
@list-view-items-toolbar-icon-size:       1.32rem;
@list-view-items-toolbar-menu-icon-size:  @icon-large-size;
//fieldlink
@fieldLink-icon-size:          @default-icon-size-medium;
@fieldLink-afterField-button-margin: 0 @default-padding-small 0 0;
//searchForm
@search-form-icon-padding:     0 @default-padding 0 0;
//commandsButton
@commands-button-close-icon:   @default-icon-size-large;
//operationPanel
@controls-OperationsPanelButton-font-size:  @icon-large-size;
//grid
@controls-view-padding-DEFAULT:             .5714rem;
