body {
  @infobox-border: @default-border-width solid transparent;
  .ws-info-box {
    background: @background-color_infobox !important;
    color: @default-text-color;
    border: @infobox-border;
    padding: round(24px * @multiplier) round(68px * @multiplier) round(24px * @multiplier) round(24px * @multiplier) !important;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 round(20px * @multiplier);
    &.ws-infobox-type-error {
      box-shadow: rgba(0, 0, 0, 0.5) 0 0 round(20px * @multiplier);
    }
    //25,45584412271571 px
    //0,9091372900969896rem
    .ws-infobox-triangle {
      width: round(25px * @multiplier);
      height: round(25px * @multiplier);
      box-sizing: border-box;
      background: @background-color_infobox !important;;
      transform:  scaleY(1.055555555555556) rotate(45deg);
      &.ws-infobox-triangle-bottom {
        bottom: round(-13px * @multiplier);
        border-right: @infobox-border;
        border-bottom: @infobox-border;
      }
      &.ws-infobox-triangle-top {
        top: round(-13px * @multiplier);
        border-left: @infobox-border;
        border-top: @infobox-border;
      }
      &.ws-infobox-triangle-vertical-right {
        right: round(-13px * @multiplier);
        border-right: @infobox-border;
        border-top: @infobox-border;
      }
      &.ws-infobox-triangle-vertical-left {
        left: round(-13px * @multiplier);
        border-left: @infobox-border;
        border-bottom: @infobox-border;
      }
      &.ws-infobox-triangle-right {
        right: round(24px * @multiplier);
      }
      &.ws-infobox-triangle-left {
        left: round(24px * @multiplier);
      }
      &.ws-infobox-triangle-vertical-top {
        top: round(24px * @multiplier);
      }
      &.ws-infobox-triangle-vertical-bottom {
        bottom: round(24px * @multiplier);
      }
    }
    .ws-infobox-close-button.icon-disabled{
      font-size: round(52px * @multiplier)!important;
      width: round(52px * @multiplier)!important;
      height: round(52px * @multiplier)!important;
      right: round(16px * @multiplier);
      top: round(16px * @multiplier);
      color: @Infobox-cross-color!important;
      overflow: hidden;
      &:hover {
        color: @Infobox-cross-color-hover!important;
      }
      &:before {
        line-height: round(52px * @multiplier)!important;
      }
    }
    &.ws-infobox-has-title .ws-infobox-content {
      padding-right: 0;
    }
  }
}
//Временное решение, пока в панель операций кладутся контролы, удалить при переходе на шаблончики
.controls-operationsPanel__actions * {
  color: #839EBC !important;
  .icon-error {
    color: @error-color !important;
  }
}

.controls-operationsPanel__actions *:hover {
  color: #B9E9FF !important;
  .icon-error {
    color: @error-color !important;
  }
}

.ws-LoadingIndicator__window, .ws-loading {
    img, .ws-loadingimg > div:before{
      width: round(74px * @multiplier);
      height: round(74px * @multiplier);
    }
   .ws-loadingimg {
    left: round(13px * @multiplier);
    top: round(13px * @multiplier);
  }
  .ws-LoadingIndicator__message__progress-no {
    margin-left: round(87px * @multiplier);//74+13px;
    font-size: @large-text-size;
    &:empty {
      margin-left: round(74px * @multiplier);//74+13px;
    }
  }
  .ws-LoadingIndicator__loadingContainer {
    padding: round(29px * @multiplier) round(13px * @multiplier);
  }
}
body .ws-window.ws-LoadingIndicator__window {
  background-color: #1D2834;
}
.controls-ComboBox__itemRow, .controls-DropdownList__item {
  &:after {
    content: ' ';
    position:absolute;
    bottom:0;
    display: inline-block;
    height: @default-border-width;
    background-color: @color_ComboBox_item_separator;
    //todo;
    width: calc(100%~' - '2*@padding_ComboBox_item_separator);
  }
}
.controls-DropdownList__multiselect {
  &.controls-DropdownList__item {
    &:after {
      left: @padding_DropDownList_item_child_text;
    }
  }
}
.controls-FloatArea {
  background: @basic-block-bg-color;
}
//todo: поддержать в компоненте
.controls-ComboBox {
  &.ws-disabled {
    &.controls-ComboBox__emptyValue {
      .controls-ComboBox__fieldNotEditable{
        color: @default-text-color;
      }
    }
  }
}
.controls-TextBox_size_l.controls-TextArea {
  height: auto;
}