<ws:if data="{{item.id === 'FIO'}}">
   <Controls.Input.Text bind:value="item.value"/>
</ws:if>
<ws:if data="{{item.id === 'firstName'}}">
   <Controls.Input.Text bind:value="item.value"/>
</ws:if>
<ws:if data="{{item.id === 'id'}}">
   <Controls.Input.Dropdown bind:selectedKeys="item.value"
                         keyProperty="key"
                         source="{{item.source}}"/>
</ws:if>
<ws:if data="{{item.id === 'checked'}}">
   <Controls.Toggle.Checkbox bind:value="item.value" caption="checked"/>
</ws:if>
<ws:if data="{{item.id === 'Test1'}}">
<Controls.Filter.Button.Panel.FilterDropdown
        onPanel="{{true}}"
        source="{{item.source}}"
        keyProperty="key"
        bind:selectedKeys="item.value"/>
</ws:if>
<ws:if data="{{item.id === 'Test2'}}">
<Controls.Toggle.Checkbox bind:value="item.value" caption="Test2"/>
</ws:if><ws:if data="{{item.id === 'Test3'}}">
<Controls.Toggle.Checkbox bind:value="item.value" caption="Test3"/>
</ws:if><ws:if data="{{item.id === 'Test4'}}">
<Controls.Toggle.Checkbox bind:value="item.value" caption="Test4"/>
</ws:if>
<ws:if data="{{item.id === 'Test5'}}">
<Controls.Filter.Button.Panel.FilterText bind:value="item.value" caption="Test5"/>
</ws:if>
<ws:if data="{{item.id === 'Test6'}}">
<Controls.Toggle.Checkbox bind:value="item.value" caption="Test6"/>
</ws:if>
<ws:if data="{{item.id === 'Test7'}}">
<Controls.Toggle.Checkbox bind:value="item.value" caption="Test7"/>
</ws:if>
<ws:if data="{{item.id === 'Test8'}}">
<Controls.Toggle.Checkbox bind:value="item.value" caption="Test8"/>
</ws:if>


