<ws:partial template="Controls/Filter/Button/Panel"
            items="{{_options.items}}"
            itemTemplate="{{_itemTemplate}}"
            additionalTemplate="{{_additionalTemplate}}"></ws:partial>
