<div>
    <Controls.Button
            name="button1"
            caption="Нажмите для подгрузки"
            on:click="_updateState()"
    />
    <Controls.HighChartsDS
            chartOptions="{{_chartConfig}}"
            query="БизнесЛогика.Позвать"
            instantUpdate="false"
            filter="{{_filter}}"
    />
</div>
