.controls-SwitcherDoubleOnline{
   display: inline-block;
   vertical-align: middle;
}

.controls-SwitcherDoubleOnline_toggle {
   background-color: #dddddd;
   border-radius: 10px;
   cursor: pointer;
   min-width: 40px;
   display: inline-block;
   padding: 1px 3px 1px 3px;
}

.controls-SwitcherDoubleOnline__position{
   width: 15px;
   min-height: 15px;
   height: 100%;
   background-color: #f78936;
   border-radius: 10px;
   text-align: center;
}

.controls-SwitcherDoubleOnline__leftPosition{
   float: left;
}

.controls-SwitcherDoubleOnline__rightPosition{
   float: right;
}

.controls-SwitcherDoubleOnline__stateOn{
   float: right;
   margin-left: 2px;
}

.controls-SwitcherDoubleOnline__stateOff{
   float: left;
   margin-right: 2px;
}