<div class="controls-filterButton__additionalFilterParams-area">
    <div class="controls-filterButton__secondary-title">{[Можно отобрать]}</div>
    <div class="controls-filterButton__footerAreas-wrapper controls-filterButton__footerAreas-maxHeight">
        <div class="controls-filterButton__additionalFilterParams-content">
            <ws:partial template="{{ template }}"/>
        </div>
    </div>
    <SBIS3.CONTROLS.Commands.CommandsSeparator
        name="toggleAdditionalFilterParams"
        command="toggleAdditionalFilterParams"
        visible="{{ false }}"
    />
</div>