.controlsV-MissSpell {
	min-height: @min-height_MissSpell;
	padding: @padding_MissSpell;
	display: inline-flex;
	align-items: center;
}
.controlsV-MissSpell__text {
	font-weight: bold;
}

.controlsV-MissSpell__caption {
	font-weight: bold;
	color: @color_MissSpell_caption;
	cursor: pointer;
	text-align: left;
	max-width: 100%;
}

.ws-is-no-touch .controlsV-MissSpell__caption:hover {
	text-decoration: underline;
	color: @color_MissSpell_caption-hover;
}