<div class="controls-BackButton {{ !caption ? 'controls-BackButton__empty'}} {{ !visible ? 'ws-hidden' }} controls-BackButton_color-hover_{{style}}">
   <a href="{{href}}"
      class="controls-BackButton__captionArrow_size_{{size === 'h2' ? '1' : '2'}}
      ws-backArrow_color_{{style}} ws-backArrow_size_{{size}}">
   </a>
   <SBIS3.CONTROLS.Link
      name="BackButton-caption"
      className="controls-BackButton__caption controls-BackButton__caption_color_{{style}}
      controls-BackButton__caption_size_{{size}} controls-BackButton__caption_size_bold"
      caption="{{ caption }}"
      tooltip="{{ tooltip || caption }}"
      icon="{{ icon }}"
      href="{{ href }}"
      escapeCaptionHtml="{{ escapeCaptionHtml }}"
      command="{{command}}"
      commandArgs="{{commandArgs}}"
      /><SBIS3.CONTROLS.Link
        name="BackButton-arrow"
        className="controls-BackButton__arrow controls-Link__disabledHover"
        icon="icon-16 icon-View icon-primary action-hover"
        tabindex="0"
        activableByClick="{{false}}"
        allowChangeEnable="{{false}}"
      />
</div>