<div class="controls-Browser-ColumnsEditor-Editing-Area{{!(usePresets && ((staticPresets && staticPresets.length) || presetNamespace)) ? ' controls-Browser-ColumnsEditor-Editing-Area_low' : ''}}">
   <div class="controls-Browser-ColumnsEditor-Editing-Area__head ws-float-area-header-background ws-float-area-header-border">
      <div class="controls-Browser-ColumnsEditor-Editing-Area__head-title">
         <div class="controls-Browser-ColumnsEditor-Editing-Area__head-title-left">
            <ws:if data="{{title}}">{{title}}</ws:if>
            <ws:else>{[РедакторКолонок@@Отображение колонок]}</ws:else>
         </div>
         <ws:if data="{{_optsSelectable.multiselect || !autoApply}}">
            <div class="controls-Browser-ColumnsEditor-Editing-Area__head-title-right">
               <SBIS3.CONTROLS.Button
                  class="controls-Browser-ColumnsEditor-Editing-Area__ApplyColumnsButton"
                  command="applyColumns" primary="true"
                  >
                  <ws:caption>
                     <ws:if data="{{applyButtonTitle}}">{{applyButtonTitle}}</ws:if>
                     <ws:else>{[РедакторКолонок@@Применить]}</ws:else>
                  </ws:caption>
               </SBIS3.CONTROLS.Button>
            </div>
         </ws:if>
      </div>
      <ws:if data="{{usePresets && ((staticPresets && staticPresets.length) || presetNamespace)}}">
         <div class="controls-Browser-ColumnsEditor-Editing-Area__head-preset">
            <div class="controls-Browser-ColumnsEditor-Editing-Area__head-preset-label">{[РедакторКолонок@@Шаблон]}</div>
            <div class="controls-Browser-ColumnsEditor-Editing-Area__head-preset-editor">
               <SBIS3.CONTROLS.ListView
                  class="controls-Browser-ColumnsEditor-Editing-Area__Preset controls-ListView__disableHover"
                  name="controls-Browser-ColumnsEditor-Editing-Area__Preset"
                  items="{{_optsPreset.items}}"
                  itemsHover="{{false}}"
                  itemsDragNDrop="{{false}}"
                  idProperty="id"
                  displayProperty="title"
                  editMode="single|toolbar"
                  editingTemplate="tmpl!SBIS3.CONTROLS/Browser/ColumnsEditor/Editing/templates/presetEdit"
                  >
                  <ws:itemContentTpl>
                     <ws:partial
                        template="tmpl!SBIS3.CONTROLS/Browser/ColumnsEditor/Editing/templates/preset"
                        scope="{{itemContentTpl}}"
                        presetsTitle="{{presetsTitle}}"
                        staticPresets="{{staticPresets}}"
                        presetNamespace="{{presetNamespace}}"
                        selectedPresetId="{{selectedPresetId}}"
                        />
                  </ws:itemContentTpl>
               </SBIS3.CONTROLS.ListView>
            </div>
         </div>
      </ws:if>
   </div>
   <ws:if data="{{_optsSelectable.multiselect}}">
      <div class="controls-Browser-ColumnsEditor-Editing-Area__OperationsMark">
         <SBIS3.CONTROLS.OperationsPanel.Mark name="controls-Browser-ColumnsEditor-Editing-Area__OperationsMark">
            <ws:items>
               <ws:Array>
                  <ws:Object name="selectCurrentPage" title="{[Все]}"/>
                  <ws:Object name="removeSelection" title="{[Снять]}"/>
                  <ws:Object name="invertSelection" title="{[Инвертировать]}"/>
               </ws:Array>
            </ws:items>
         </SBIS3.CONTROLS.OperationsPanel.Mark>
      </div>
   </ws:if>
   <SBIS3.CONTROLS.ScrollContainer class="controls-Browser-ColumnsEditor-Editing-Area__body controls-ScrollContainer__flex">
      <ws:content>
         <ws:if data="{{ _optsFixed.items && _optsFixed.items.length }}">
            <SBIS3.CONTROLS.CheckBox.Group
               class="controls-ButtonGroup__vertical controls-Browser-ColumnsEditor-Editing-Area__FixedList"
               name="controls-Browser-ColumnsEditor-Editing-Area__FixedList"
               items="{{ _optsFixed.items }}"
               idProperty="id"
               displayProperty="title"
               enabled="{{ false }}"
               selectedKeys="{{ _optsFixed.markedKeys }}"
               multiselect="{{ true }}"
            />
         </ws:if>
         <SBIS3.CONTROLS.ListView
            class="controls-Browser-ColumnsEditor-Editing-Area__SelectableList{{moveColumns ? ' controls-Browser-ColumnsEditor-Editing-Area__SelectableList_movable' : ''}}{{!_optsSelectable.multiselect ? ' controls-ListView__hideCheckBoxes controls-ListView__orangeMarker' : ''}}"
            name="controls-Browser-ColumnsEditor-Editing-Area__SelectableList"
            items="{{ _optsSelectable.items }}"
            easyGroup="{{ true }}"
            itemsActions="{{ [] }}"
            itemsDragNDrop="{{ false }}"
            idProperty="id"
            displayProperty="title"
            itemsSortMethod="{{_optsSelectable.itemsSortMethod}}"
            selectedKeys="{{_optsSelectable.multiselect ? _optsSelectable.markedKeys : undefined}}"
            selectedKey="{{!_optsSelectable.multiselect && _optsSelectable.markedKeys && _optsSelectable.markedKeys.length ? _optsSelectable.markedKeys[0] : undefined}}"
            itemTpl="tmpl!SBIS3.CONTROLS/Browser/ColumnsEditor/Editing/templates/selectableItem"
            itemContentTpl="tmpl!SBIS3.CONTROLS/Browser/ColumnsEditor/Editing/templates/selectableItemContent"
            multiselect="{{_optsSelectable.multiselect}}"
            showSelectedMarker="{{!_optsSelectable.multiselect}}"
            >
            <ws:handlers
               onItemClick="{{_optsSelectable.onItemClick}}"
               onSelectedItemsChange="{{_optsSelectable.onSelectedItemsChange}}"
            />
            <ws:groupBy
               field="{{hasGroups ? 'group' : undefined}}"
               >
               <ws:contentTemplate>
                  <ws:if data="{{hasGroups}}">
                     <ws:partial template="tmpl!SBIS3.CONTROLS/Browser/ColumnsEditor/Editing/templates/selectableGroupContent" scope="{{contentTemplate}}" groupTitleTpl="{{groupTitleTpl}}" groupTitles="{{groupTitles}}" />
                  </ws:if>
               </ws:contentTemplate>
            </ws:groupBy>
         </SBIS3.CONTROLS.ListView>
      </ws:content>
   </SBIS3.CONTROLS.ScrollContainer>
</div>