.controls-Browser-ColumnsEditor-Editing-Area {
   width: @width-ColumnsEditor-Editing-Area;
   height: 100%;
}

.controls-Browser-ColumnsEditor-Editing-Area__head {
   padding: @padding-top-ColumnsEditor-Editing-Area-head 0 @padding-bottom-ColumnsEditor-Editing-Area-head 12px;
   background-color: @background-color-ColumnsEditor-Editing-Area-head;
}

.controls-Browser-ColumnsEditor-Editing-Area__head-title {
   height: @height-ColumnsEditor-Editing-Area-head-title;
   margin-bottom: @spacing-ColumnsEditor-Editing-Area-head;
}

.controls-Browser-ColumnsEditor-Editing-Area__head-title-left {
   float: left;
   color: @color-ColumnsEditor-Editing-Area__head-title-left;
   font-size: @font-size-ColumnsEditor-Editing-Area__head-title-left;
   font-weight: @font-weight-ColumnsEditor-Editing-Area__head-title-left;
}

.controls-Browser-ColumnsEditor-Editing-Area__head-title-right {
   float: right;
   margin-right: @margin-right-ColumnsEditor-Editing-Area__head-title-right;
}

.controls-Browser-ColumnsEditor-Editing-Area__head-preset {
   height: @height-ColumnsEditor-Editing-Area__head-preset;
   font-size: @font-size-ColumnsEditor-Editing-Area__head-preset;
}

.controls-Browser-ColumnsEditor-Editing-Area__head-preset-label {
   float: left;
   padding: @padding-top-ColumnsEditor-Editing-Area__head-preset-label @padding-right-ColumnsEditor-Editing-Area__head-preset-label 0 0;
   color: @color-ColumnsEditor-Editing-Area__head-preset-label;
}

.controls-Browser-ColumnsEditor-Editing-Area__head-preset-editor {
   .controls-ItemsToolbar {
      top: @spacing-ColumnsEditor-Editing-Area__Preset-item;
      bottom: auto;
      background-color: transparent;
   }
   .controls-editInPlace__editor {
      padding: 0;
   }
}

.controls-Browser-ColumnsEditor-Editing-Area__Preset-item {
   height: @height-ColumnsEditor-Editing-Area-head-preset;
   padding: 0 0 0 @padding-left-ColumnsEditor-Editing-Area__Preset-item;
}

.controls-Browser-ColumnsEditor-Editing-Area__Preset-item-title {
   margin-top: @spacing-ColumnsEditor-Editing-Area__Preset-item;
}

.controls-Browser-ColumnsEditor-Editing-Area__Preset-input {
   width: @width-ColumnsEditor-Editing-Area__Preset-input;
}

.controls-Browser-ColumnsEditor-Editing-Area__body {
   border-top: @border-top-ColumnsEditor-Editing-Area__body;
   padding: @padding-ColumnsEditor-Editing-Area__body;
}

.controls-Browser-ColumnsEditor-Editing-Area__FixedList {
   .controls-CheckBox {
      display: block;
      padding: @padding-ColumnsEditor-Editing-Area__FixedList-CheckBox;
   }
   .controls-CheckBox__caption {
      padding-left: @padding-left-ColumnsEditor-Editing-Area__FixedList-CheckBox__caption;
      color: @color-ColumnsEditor-Editing-Area__FixedList-CheckBox__caption;
   }
}

.controls-Browser-ColumnsEditor-Editing-Area__view-item {
   .controls-ListView__itemCheckBox {
      left: @left-ColumnsEditor-Editing-Area__view-item__itemCheckBox;
      top: @top-ColumnsEditor-Editing-Area__view-item__itemCheckBox;
   }
}

.controls-Browser-ColumnsEditor-Editing-Area__view-item-text {
   padding-left: @padding-left-ColumnsEditor-Editing-Area__view-item-text;
   line-height: @line-height-ColumnsEditor-Editing-Area__view-item-text;
   color: @color-ColumnsEditor-Editing-Area__view-item-text;
}
.controls-ListView__item__multiSelected {
   .controls-Browser-ColumnsEditor-Editing-Area__view-item-text {
      color: @color-ColumnsEditor-Editing-Area__view-item-text__multiSelected;
   }
}

.controls-Browser-ColumnsEditor-Editing-Area__SelectableList {
   cursor: pointer;
}