<div style="padding:30px;">
   <div class="textBox1" style="padding: 5px 0;">Сюда будет выведен текст</div>
   <div class="asLink testButton1">Open Child FLoat with title in JS</div>
   <div class="asLink testButton2">Open Child FLoat with caption in TMPL</div>
</div>
