<tr class="controls-GroupBy{{(stickyHeader) ? ' ws-sticky-header__table-sticky-row' : ''}}{{groupCollapsing[groupId] ? ' controls-GroupBy__collapsed' : ''}}" data-group="{{groupId}}">
    <td colspan="{{colspan}}">
        <ws:partial template="{{groupContentTemplate}}" scope="{{...}}" />
    </td>
</tr>