<thead class="controls-DataGridView__thead">
<ws:if data="{{showHead}}">
    <ws:for data="i, row in content">
        <ws:if data="{{row.length}}">
            <tr>
                <ws:if data="{{multiselect}}">
                   <th class="controls-DataGridView__th controls-DataGridView__td__checkBox
                       {{startScrollColumn !== undefined ? (startScrollColumn === 0 ? 'controls-DataGridView__scrolledCell' : 'controls-DataGridView__notScrolledCell') : ''}}" style="{{startScrollColumn === 0 ? 'left:' + columnsScrollPosition + 'px;' : ''}}">
                   </th>
                </ws:if>

                <ws:for data="index, column in row">
                    <th class="{{index === 0 ? 'controls-DataGridView__firstContentCell' : ''}} controls-DataGridView__th {{startScrollColumn !== undefined ? (isColumnScrolling ? 'controls-DataGridView__scrolledCell' : 'controls-DataGridView__notScrolledCell') : ''}} {{i == 0 ? 'controls-DataGridView__th__topRow' : ''}} {{column.className}}"
                        title="{{column.headTooltip ? column.headTooltip : column.title}}" colspan="{{column.colspan}}"
                        style="{{isColumnScrolling ? 'left:' + columnsScrollPosition + 'px;' : ''}}">
                           {{column.value |sanitize}}
                    </th>
                </ws:for>
            </tr>
        </ws:if>
   </ws:for>
</ws:if>

<ws:if data="{{ hasResults &&  resultsPosition === 'top'}}">
    <ws:partial template="{{resultsTpl}}" scope="{{...}}" />
</ws:if>

<ws:if data="{{ showHead &&  startScrollColumn !== undefined}}">
<tr>
    <th class="controls-DataGridView__PartScroll__row ws-hidden" colspan="{{columns.length}}">
        <div class="controls-DataGridView__PartScroll__container">
            <i class="controls-DataGridView__PartScroll__arrowLeft icon-24 icon-DayBackward  icon-disabled"></i>
                <div class="controls-DataGridView__PartScroll__thumb" style="left:{{thumbPosition}}px;"></div>
            <i class="controls-DataGridView__PartScroll__arrowRight icon-24 icon-DayForward icon-primary action-hover"></i>
        </div>
    </th>
</tr>
</ws:if>
</thead>