<SBIS3.CONTROLS.WSControls.Buttons.Button class="controls-DataGridView__headSorting" caption="{{column['title']}}" command="ColumnSorting" allowChangeEnable="{{false}}"
                        icon="{{sortingValue == 'DESC' ? 'icon-16 icon-TrendDown' : sortingValue == 'ASC' ? 'icon-16 icon-TrendUp' : 'icon-16'}}">
   <ws:commandArgs>
      <ws:Array>
         <ws:String>{{column['field']}}</ws:String>
         <ws:String>{{column['sorting']}}</ws:String>
      </ws:Array>
   </ws:commandArgs>
</SBIS3.CONTROLS.WSControls.Buttons.Button>
