<ws:if data="{{_options.hasComponentFocusOut}}">
   <ws:partial template="tpl" on:componentFocusOut="_focusOutHandler()"/>
</ws:if>
<ws:else>
   <ws:partial template="tpl" on:focusOut="_focusOutHandler()"/>
</ws:else>

<ws:template name="tpl">
   <ws:partial template="{{ _options.content }}" validationErrors="{{isValid()}}" on:valueChanged="_cleanValid()"/>
</ws:template>