<ws:for data="action in showedActions">
    <ws:partial
            template="tmpl!Controls/List/Swipe/resources/SwipeAction"
            itemData="{{itemData}}"
            action="{{action}}"
            swipeConfig="{{swipeConfig}}"
            needShowIcon="{{needShowIcon}}"
            needShowTitle="{{needShowTitle}}"/>
    <ws:if data="{{needShowSeparator(action, itemData, swipeConfig.type)}}">
        <div class="controls-itemActionsV__separator
        controls-itemActionsV__separator_{{swipeConfig.separatorType}}
        controls-itemActionsV__separator_{{swipeConfig.separatorType}}_{{columnNumber === 1 ? 'first' : 'second'}}"></div>
    </ws:if>
</ws:for>