<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
   <head>
      <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
      <meta http-equiv="content-type" content="text/html; charset=utf-8" />
      <meta name="viewport" content="width=1024" />
      <meta name="format-detection" content="telephone=no" />
      <title>{{title}}</title>
      <link rel="shortcut icon" href="{{wsRoot}}img/themes/wi_scheme/favicon.ico" type="image/x-icon" />
      <link rel="stylesheet" href="{{wsRoot}}css/core.css" type="text/css" />
      <link rel="stylesheet" href="{{wsRoot}}css/themes/wi_scheme.css" type="text/css" />
      <link rel="stylesheet" href="{{resourceRoot}}ExampleRoutes/css/base.css" type="text/css"/>
      <link rel="stylesheet" href="{{wsRoot}}css/themes/webfonts/fonts.css" />
      <link rel="stylesheet" href="{{resourceRoot}}SBIS3.CONTROLS/themes/online/online.css" />
      <link rel="stylesheet" id="ws-include-css" />
      <ws:for data="value in cssLinks">
        <link rel="stylesheet" href="{{value}}" type="text/css"/>
      </ws:for>
   </head>
   <body class="ws-server-generated">
       <div style="min-height: 100%;">
           <div id="container">
              <ws:partial template="{{content}}"/>
           </div>
       </div>
       
       <script type="text/javascript">
         window.wsConfig = {
            wsRoot: '{{wsRoot}}',
            appRoot: '{{appRoot}}',
            cdnRoot: '{{appRoot}}sbis3-cdn/',
            resourceRoot: '{{resourceRoot}}',
            defaultServiceUrl: '{{defaultServiceUrl || appRoot + "service/"}}',
            userConfigSupport: '{{userConfigSupport || ""}}' || false,
            globalConfigSupport: '{{globalConfigSupport || ""}}' || false,
            saveLastState: '{{saveLastState || ""}}' || false
         };
      </script>
      <script type="text/javascript" data-pack-name="skip" src="{{resourceRoot}}contents.js"></script>
      <!-- Внимание: для корректной работы страницы требуется, чтобы подключение файла contents.js происходило раньше require.js -->
      <script type="text/javascript" data-pack-name="skip" src="{{wsRoot}}ext/requirejs/require.js"></script>
      <script type="text/javascript" data-pack-name="skip" src="{{wsRoot}}ext/requirejs/config.js"></script>
      <script type="text/javascript" data-pack-name="skip" src="{{wsRoot}}ext/jquery-min.js"></script>
      <script type="text/javascript" data-pack-name="skip" src="{{wsRoot}}ext/jquery-cookie-min.js"></script>
      <script type="text/javascript" data-pack-name="skip" src="{{wsRoot}}lib/core.js"></script>
      <script type="text/javascript" data-pack-name="skip" src="{{wsRoot}}core/core-migrate.js"></script>
      <ws:for data="value in jsLinks">
         <script type="text/javascript" src="{{value}}"></script>
      </ws:for>
      <script type="text/javascript" data-pack-name="skip" src="{{wsRoot}}res/js/bootup.js"></script>
      <script type="text/javascript">
         require(['Core/core-ready'], function(cReady) {
            cReady.addCallback(function() {
               require([ 'bootup' ], function(bootup) {
                  bootup();
               });
            });
         });
      </script>
   </body>
</html>
