.combobox-demo-wrapper {
   margin: 20px;
}

.combobox-demo-control {
   width: 300px;
}

.combobox-demo-controlBig {
   width: 420px;
}

.demo-ddl-myTemplate {
   width: 250px;
}

.demo-ddl-comment {
   font-size: 12px;
   color: #999;
}