<div class="controls-ListView__groupContent">
   <div class="controls-ListView__groupText controls-ListView__groupExpander {{!itemData.isGroupExpanded ? 'controls-ListView__groupExpander_collapsed'}}">{{itemData.item}}</div>
</div>