<div attr:class="{{itemData.isHiddenGroup ? 'controls-ListView__hiddenGroup' : 'controls-Grid__row controls-ListView__group'}} controls-ListView__itemV" attr:key="{{itemData.item}}">
   <ws:partial template="{{contentTemplate}}" itemData="{{itemData}}"></ws:partial>
</div>