<div attr:class="{{itemData.isHiddenGroup ? 'controls-ListView__groupHidden' : 'controls-ListView__group'}}" attr:key="{{itemData.item}}">
   <ws:partial template="{{contentTemplate}}" itemData="{{itemData}}"></ws:partial>
</div>