<div class="ws-ItemsView">
   <ws:for data="_getStartEnumerationPosition(); _checkConditionForEnumeration(); _getNextEnumerationPosition();">
      <ws:partial
            template="{{_options.itemTemplate}}"
            itemData="{{_listModel.getCurrent()}}"/>
   </ws:for>
</div>