<!--прокидываем itemTemplate т.к. иначе мы не понимаем, что нужно перестраивать partail, потому что изменения только в замыкании функции-->
<ws:partial template="{{_viewTemplate}}"
    viewName="{{_viewName}}"
    viewModelConfig="{{_viewModelConfig}}"
    viewModelConstructor="{{_viewModelConstructor}}"
    viewConfig="{{_viewConfig}}"
    itemTemplate="{{_options.itemTemplate}}"
    source="{{_options.source}}"
    filter="{{_options.filter}}"
    name="listControl"
    navigation="{{_options.navigation}}"
    itemsGroup="{{itemsGroup}}"
    uniqueKeys="{{_options.uniqueKeys}}"
    emptyTemplate="{{_options.emptyTemplate}}"
    footerTemplate="{{_options.footerTemplate}}"
    markedKey="{{_options.markedKey}}"
    selectedKeys="{{_options.selectedKeys}}"
    itemsDragNDrop="{{_options.itemsDragNDrop}}"
    dragAvatarTemplate="{{_options.dragAvatarTemplate}}"
    multiSelectVisibility="{{_options.multiSelectVisibility}}"
    on:dragStart="_dragStart()"
    on:dragEnd="_dragEnd()"
    on:beforeItemsMove="_beforeItemsMove()"
    on:afterItemsMove="_afterItemsMove()"
    dataLoadCallback="{{_options.dataLoadCallback}}"
    dataLoadErrback="{{_options.dataLoadErrback}}"
    on:beforeItemsRemove="_beforeItemsRemove()"
    on:afterItemsRemove="_afterItemsRemove()"
    itemActionsType="{{_options.itemActionsType}}"
    itemActionVisibilityCallback="{{_options.itemActionVisibilityCallback}}"
    itemActions="{{_options.itemActions}}"
    editingConfig="{{_options.editingConfig}}"
    on:beforeItemAdd="_onBeforeItemAdd()"
    on:beforeItemEdit="_onBeforeItemEdit()"
    on:afterItemEdit="_onAfterItemEdit()"
    on:beforeItemEndEdit="_onBeforeItemEndEdit()"
    on:afterItemEndEdit="_onAfterItemEndEdit()">
</ws:partial>