<div class="ws-ListControl">
   <ws:Controls.List.ListControl.ListView
         name="_ListView"
         items="{{_items}}"
         itemTemplate="{{_options.itemTemplate}}"
         idProperty="{{_options.idProperty}}"
         displayProperty="{{_options.displayProperty}}"
         selectedKey="{{_options.selectedKey}}"
         event:onListTop="_scrollLoadMore('up')"
         event:onListBottom="_scrollLoadMore('down')">
   </ws:Controls.List.ListControl.ListView>
   <ws:if data="{{_pagingCfg}}">
      <ws:Controls.List.Paging className="ws-ListControl__paging" scope="{{_pagingCfg}}" event:onArrowClick="__onPagingArrowClick()"></ws:Controls.List.Paging>
   </ws:if>
</div>