<!--прокидываем itemTemplate т.к. иначе мы не понимаем, что нужно перестраивать partail, потому что изменения только в замыкании функции-->
<Controls.List.ListControl
              viewModelConfig="{{_viewModelConfig}}"
              viewModelConstructor="{{_viewModelConstructor}}"
              viewConfig="{{_viewConfig}}"
              itemTemplate="{{_options.itemTemplate}}"
              source="{{_options.source}}"
              filter="{{_options.filter}}"
              name="listControl"
              navigation="{{_options.navigation}}"
              viewName="Controls/List/ListView"
              itemsGroup="{{itemsGroup}}"
              uniqueKeys="{{_options.uniqueKeys}}"
              emptyTemplate="{{_options.emptyTemplate}}"
              footerTemplate="{{_options.footerTemplate}}"
              selectedKeys="{{_options.selectedKeys}}"
              partiallySelectedKeys="{{_options.partiallySelectedKeys}}"
              excludedKeys="{{_options.excludedKeys}}"
              itemsDragNDrop="{{_options.itemsDragNDrop}}"
              dragAvatarTemplate="{{_options.dragAvatarTemplate}}"
              on:dragStart="_dragStart()"
              on:dragEnd="_dragEnd()"
              on:beforeItemsMove="_beforeItemsMove()"
              on:afterItemsMove="_afterItemsMove()"
              dataLoadCallback="{{_options.dataLoadCallback}}"
              dataLoadErrback="{{_options.dataLoadErrback}}"
              on:beforeItemsRemove="_beforeItemsRemove()"
              on:afterItemsRemove="_afterItemsRemove()"
              itemActionsType="{{_options.itemActionsType}}"
              itemActionVisibilityCallback="{{_options.itemActionVisibilityCallback}}"
              itemActions="{{_options.itemActions}}"
              editingConfig="{{_options.editingConfig}}"
              on:beforeItemAdd="_onBeforeItemAdd()"
              on:beforeItemEdit="_onBeforeItemEdit()"
              on:afterItemEdit="_onAfterItemEdit()"
              on:beforeItemEndEdit="_onBeforeItemEndEdit()"
              on:afterItemEndEdit="_onAfterItemEndEdit()">
</Controls.List.ListControl>