<div>
   &lt;&lt;
   <ws:Controls.List.Paging.DigitButtons event:onDigitClick="__digitClick()" selectedKey="{{_selectedKey}}" count="{{_options.pagesCount}}"></ws:Controls.List.Paging.DigitButtons>
   &gt;&gt;
</div>