<Controls:List:SourceControl
              listViewModel="{{_viewModel}}"
              source="{{_options.source}}"
              filter="{{_options.filter}}"
              name="sourceControl"
              navigation="{{_options.navigation}}"
              viewName="Controls/List/SimpleList/ListView"
              itemTemplate="{{_options.itemTemplate}}"
              emptyTemplate="{{_options.emptyTemplate}}"
              idProperty="{{_options.idProperty}}"
              displayProperty="{{_options.displayProperty}}"
              markedKey="{{_options.markedKey}}"
              itemsReadyCallback="{{_options.itemsReadyCallback}}"
              itemActionsType="{{_options.itemActionsType}}"
              itemActionVisibilityCallback="{{_options.itemActionVisibilityCallback}}"
              itemActions="{{_options.itemActions}}"
              editingConfig="{{_options.editingConfig}}"
              on:beforeItemAdd="_onBeforeItemAdd()"
              on:beforeItemEdit="_onBeforeItemEdit()"
              on:afterItemEdit="_onAfterItemEdit()"
              on:beforeItemEndEdit="_onBeforeItemEndEdit()"
              on:afterItemEndEdit="_onAfterItemEndEdit()">
</Controls:List:SourceControl>