<Controls:List:SourceControl
              listViewModel="{{_viewModel}}"
              source="{{_options.source}}"
              filter="{{_options.filter}}"
              name="sourceControl"
              navigation="{{_options.navigation}}"
              viewName="Controls/List/SimpleList/ListView"
              itemTemplate="{{_options.itemTemplate}}"
              emptyTemplate="{{_options.emptyTemplate}}"
              idProperty="{{_options.idProperty}}"
              displayProperty="{{_options.displayProperty}}"
              markedKey="{{_options.markedKey}}"
              itemsReadyCallback="{{_options.itemsReadyCallback}}"
              on:beforeItemsRemove="_beforeItemsRemove()"
              on:afterItemsRemove="_afterItemsRemove()"
              itemActionsType="{{_options.itemActionsType}}"
              itemActionVisibilityCallback="{{_options.itemActionVisibilityCallback}}"
              itemActions="{{_options.itemActions}}">
</Controls:List:SourceControl>