<Controls.Container.Async attr:class="{{_options.selectedKey !== idPropertyItem ? 'ws-hidden'}}"
                          attr:key="{{idPropertyItem}}"
                          templateName="{{item.get(_options.itemTemplateProperty)}}"
                          templateOptions="{{_options}}">
</Controls.Container.Async>