<Controls.Container.Async attr:class="{{selectedKey !== idPropertyItem ? 'ws-hidden'}}"
                          attr:key="{{idPropertyItem}}"
                          templateName="{{item.get(itemTemplateProperty)}}">
    <ws:templateOptions item="{{item}}" readOnly="{{readOnly}}" theme="{{theme}}" type="{{type}}"/>
</Controls.Container.Async>