.controls-InfoBox {
   padding: 8px 30px 8px 12px;
   box-sizing: border-box;
   max-width: @infobox-max-width;
   overflow: auto;
}

.controls-InfoBox__popup {
   border: 1px solid;

   &:before {
      width: 12px;
      height: 12px;
      position: absolute;
      border: 1px solid;
      border-top: none;
      border-left: none;
      content: '';
   }

   &.controls-Popup-align-vertical-bottom:before {
      top: -7px;
      transform: rotate(225deg);
   }
   &.controls-Popup-align-vertical-top:before {
      bottom: -7px;
      transform: rotate(45deg);
   }

   &.controls-Popup-align-horizontal-right:before {
      left: 12px;
   }

   &.controls-Popup-align-horizontal-left:before {
      right: 12px;
   }
}

.controls-InfoBox__closeButton {
   position: absolute;
   top: 4px;
   right: 6px;
   cursor: pointer;
   color: @infobox-close-button-color;

   &:hover {
      color: @infobox-close-button-hover-color
   }
}

.controls-InfoBox__message {
    font-size: 14px;
    color: #000;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

.controls-InfoBox__scrollContainer {
   width: 100%;
   height: 100%;
}

.controls-InfoBox-style-default {
    background: @infobox-bg-style-default;
    border-color: @infobox-border-color-style-default;
    box-shadow: @infobox-shadow-color-style-default @infobox-shadow-position;

   &.controls-InfoBox__popup:before {
      background: @infobox-bg-style-default;
   }
}

.controls-InfoBox-style-lite {
    background: @infobox-bg-style-lite;
    border-color: @infobox-border-color-style-lite;
    box-shadow: @infobox-shadow-color-style-lite @infobox-shadow-position;

   &.controls-InfoBox__popup:before {
      background: @infobox-bg-style-lite;
      border-color: @infobox-border-color-style-lite;
   }
}

.controls-InfoBox-style-help {
    background: @infobox-bg-style-help;
    border-color: @infobox-border-color-style-help;
    box-shadow: @infobox-shadow-color-style-help @infobox-shadow-position;

   &.controls-InfoBox__popup:before {
      background: @infobox-bg-style-help;
      border-color: @infobox-border-color-style-help;
   }
}

.controls-InfoBox-style-error {
    background: @infobox-bg-style-error;
    border-color: @infobox-border-color-style-error;
    box-shadow: @infobox-shadow-color-style-error @infobox-shadow-position;

   &.controls-InfoBox__popup:before {
      background: @infobox-bg-style-error;
      border-color: @infobox-border-color-style-error;
   }
}