@infobox-bg-style-default: #FFFFFF;
@infobox-bg-style-lite: #F4F9FD;
@infobox-bg-style-help: #FFF9F3;
@infobox-bg-style-error: @infobox-bg-style-default;

@infobox-border-color-style-default: #BDBDBD;
@infobox-border-color-style-lite: #BDBDBD;
@infobox-border-color-style-help: #BDBDBD;
@infobox-border-color-style-error: #EF463A;

@infobox-shadow-color-style-default: rgba(0, 0, 0, 0.4);
@infobox-shadow-color-style-lite: rgba(0, 0, 0, 0.4);
@infobox-shadow-color-style-help: rgba(0, 0, 0, 0.4);
@infobox-shadow-color-style-error: rgba(239, 70, 58, 0.4);

@infobox-shadow-position: 0 0 12px;

.controls-InfoBox {
    border: 1px solid;
    padding: 8px 30px 8px 12px;
    box-sizing: border-box;
    max-width: 500px;
    position: relative;
}

.controls-InfoBox__pointer {
    width: 12px;
    height: 12px;
    position: absolute;
    background: #fff9f3;
    border: 1px solid #BDBDBD;
    border-top: none;
    border-left: none;
}

.controls-InfoBox__popup {

}

.controls-Popup-align-vertical-bottom .controls-InfoBox__pointer {
    top: -7px;
    transform: rotate(225deg);
}

.controls-Popup-align-vertical-top .controls-InfoBox__pointer {
    bottom: -7px;
    transform: rotate(45deg);
}

.controls-Popup-align-horizontal-right .controls-InfoBox__pointer {
    left: 12px;
}

.controls-Popup-align-horizontal-left .controls-InfoBox__pointer {
    right: 12px;
}

.controls-InfoBox__closeButton {
    position: absolute;
    top: 4px;
    right: 6px;
    cursor: pointer;
}

.controls-InfoBox__message {
    font-size: 14px;
    color: #000;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

.controls-InfoBox-style-default {
    background: @infobox-bg-style-default;
    border-color: @infobox-border-color-style-default;
    box-shadow: @infobox-shadow-color-style-default @infobox-shadow-position;
}

.controls-InfoBox-style-lite {
    background: @infobox-bg-style-lite;
    border-color: @infobox-border-color-style-lite;
    box-shadow: @infobox-shadow-color-style-lite @infobox-shadow-position;
}

.controls-InfoBox-style-help {
    background: @infobox-bg-style-help;
    border-color: @infobox-border-color-style-help;
    box-shadow: @infobox-shadow-color-style-help @infobox-shadow-position;
}

.controls-InfoBox-style-error {
    background: @infobox-bg-style-error;
    border-color: @infobox-border-color-style-error;
    box-shadow: @infobox-shadow-color-style-error @infobox-shadow-position;
}