<ws:Controls.Popup.Opener.Sticky name="opener">
    <ws:popupOptions autoHide="{{true}}" className="controls-InfoBox__popup controls-InfoBox-style-{{_options.style}}" corner="{{_options.targetCorner}}">
        <ws:template>
            <Controls:Container:Scroll attr:class="controls-InfoBox__scrollContainer">
                <ws:content>
                    <div class="controls-InfoBox ws-Container__popup-scrolling-content">
                        <div
                            class="controls-InfoBox__closeButton icon-24 icon-Close"
                            on:click="close()">
                        </div>
                        <div class="controls-InfoBox__message">{{template.message}}</div>
                    </div>
                </ws:content>
            </Controls:Container:Scroll>
        </ws:template>
    </ws:popupOptions>
</ws:Controls.Popup.Opener.Sticky>