.controlsDemo-EditableArea__buttons {
   align-items: flex-end;
   padding-bottom: 3px;
}

.controlsDemo-EditableArea__mainWrapper {
   width: 100%;
   color: #8991A9;
   padding-bottom: 4px;
   padding-left: 6px;
   height: 100px;
}

.controlsDemo-EditableArea__menuButton {
   padding: 2px 4px 4px 4px;
}

.controlsDemo-EditableArea__label {
   margin-left: 5px;
}

.controlsDemo-EditableArea__input {
   width: 220px;
   margin-right: 5px;
}
