<div class="editInPlaceDemo">
    <style>
        .ws-ListView__item {
            height: 30px;
            box-sizing: border-box;
            padding: 3px 4px;
            display: flex;
            align-items: center;
        }
        .editInPlaceDemo {
            padding-top: 30px;
        }
    </style>
    <Controls:List
            name="list"
            source="{{_viewSource}}"
            on:beginEdit="_onBeginEdit()"
            on:beginAdd="_onBeginAdd()"
            on:endEdit="_onEndEdit()"
            allowEmptySelection="{{false}}"
            idProperty="id">
        <ws:editingConfig>
            <ws:Object editOnClick="{{_editOnClick}}"
                       singleEdit="{{_singleEdit}}"
                       autoAdd="{{_autoAdd}}"
                       item="{{_editingItem}}"/>
        </ws:editingConfig>
        <ws:itemTemplate>
            <ws:partial template="tmpl!Controls/List/SimpleList/ItemTemplate"
                        itemData="{{itemTemplate.itemData}}">
                <ws:contentTemplate>
                    <ws:partial template="tmpl!Controls-demo/List/EditInPlace/editingTemplate"
                                itemData="{{itemTemplate.itemData}}"/>
                </ws:contentTemplate>
            </ws:partial>
        </ws:itemTemplate>
    </Controls:List>
    <Controls:List:AddButton caption="Добавить запись" on:click="beginAdd()"/>
    <div attr:style="padding: 15px; background-color: rgba(81,81,81,0.11); width: 150px;">
        <h3>Задайте опции:</h3>
        <div>
            <ws:Controls.Toggle.Checkbox bind:value="_editOnClick" caption="editOnClick"/>
            <ws:Controls.Toggle.Checkbox bind:value="_singleEdit" caption="singleEdit"/>
            <ws:Controls.Toggle.Checkbox bind:value="_autoAdd" caption="autoAdd"/>
        </div>
    </div>
</div>