<div>
    <ws:if data="{{itemData.isEditing}}">
        <ws:Controls.Validate.Input>
            <ws:validators>
                <ws:Function value="{{ itemData.item.title }}">Controls/Validate/Validators/IsRequired</ws:Function>
            </ws:validators>
            <ws:content>
                <Controls:Input:Text bind:value="itemData.item.title" selectOnClick="{{false}}" />
            </ws:content>
        </ws:Controls.Validate.Input>
    </ws:if>
    <ws:else>
        <div>{{itemData.getPropValue(itemData.item, displayProperty || 'title')}}</div>
    </ws:else>
</div>
