<div>
    <ws:partial template="tmpl!Controls/List/EditInPlace/EditingTemplate"
                attr:class="controls-EditingTemplateDemo"
                isEditing="{{ itemData.isEditing }}"
                enabled="{{ enabled }}"
                value="{{ itemData.item.title }}">
        <ws:editorTemplate>
            <Controls.Input.Text bind:value="itemData.item.title" selectOnClick="{{ false }}" />
        </ws:editorTemplate>
        <ws:validators>
            <ws:Function value="{{ itemData.item.title }}">Controls/Validate/Validators/IsRequired</ws:Function>
        </ws:validators>
    </ws:partial>
</div>