.customHeader{
  .controls-StackTemplate__top-area{
    border-bottom: none;
  }
}
.myTabs {
  .controls-Tabs_theme_default {
    width: 100%;
  }
}
.myTabs{
  align-items: flex-end;
  display: flex;
  background-color:#F8F8F8;
  height: 60px;
}

.mr-CreateMerge__top {
  margin: 0 16px 16px 16px;
}

.rowWithLabel {
  display: flex;
  height: auto;
  padding-top: 8px;
  align-items: baseline;
}

.rowWithLabel__row {
  flex: 1;
  overflow: auto;
}

.mr-CreateMerge__bottom {
  justify-content: center;
  align-items: center;
  display: flex;
}