.customHeader{
  .controls-StackTemplate__top-area{
    border-bottom: none;
  }
}
.myTabs {
  .controls-Tabs_theme_default {
    width: 100%;
  }
}
.myTabs{
  align-items: flex-end;
  display: flex;
  background-color:#F8F8F8;
  height: 60px;
}

.controls-Stack__content-wrapper {
  width: auto;
  height: 100%;
  flex-shrink: 0;
  position: relative;
  border-left: @size_Stack-border-left solid @color_Stack-border-left;
  margin-right: 320px;
}