.customHeader{
  .controls-StackTemplate__top-area{
    border-bottom: none;
  }
}
.myTabs {
  .controls-Tabs_theme_default {
    width: 100%;
  }
}
.myTabs{
  align-items: flex-end;
  display: flex;
  background-color:#F8F8F8;
  height: 60px;
}