.myTabs {
  .controls-Tabs_theme_default {
    width: 100%;
  }
}
.controlsDemo-StackTemplate-without-head {
  padding-right: 36px;
}

.myTabs{
  align-items: flex-end;
  display: flex;
  height: 60px;
  overflow: hidden;
}

.mr-CreateMerge__top {
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
}

.rowWithLabel {
  display: flex;
  height: auto;
  padding-top: 8px;
  align-items: baseline;
}

.rowWithLabel_label {
  height: 24px;
  padding-right: 8px;
  color: #8991A9;
  font-size: 14px;
}

.rowWithLabel__row {
  flex: 1;
  height: 20px;
  border: 1px solid #EAEAEA;
  overflow: auto;
}

.mr-CreateMerge__bottom {
  justify-content: center;
  align-items: center;
  display: flex;
}

//ширина панели по шаблону
.customHeader {
  width: 800px;
}