<ws:if data="{{ showLock }}">
   <span class="controls-DateRangeSlider__lock icon-16 {{ locked ? ' controls-DateRangeSlider__lock-locked icon-Lock icon-primary' : 'icon-Unlock icon-disabled'}}"></span>
</ws:if>