.controls-FastData {
   .inline-flexbox();
}

.controls-FastData__icon {
   .icon-size(@icon-size_FastData);
   .flexbox();
   color: @color_FastData-icon;
   cursor: pointer;
}

.controls-FastData__icon-DayForward:hover {
   color: @color_FastData-icon_hover;
}

