.controls-FastData {
   display: flex;
}

.controls-FastData__iconArrow,
.controls-FastData__iconReset {
   font-family: 'cbuc-icons';
   .flexbox();
}

.controls-FastData__iconReset {
   font-size: @icon-size_FastData;
   color: @color_FastData-iconReset;
}

.controls-FastData__iconArrow {
   fill: @color_FastData-icon;
   height: @height_FastData-iconArrow;
   width: @width_FastData-iconArrow;
   padding: @padding_FastData-iconArrow;
}

.controls-FastData__wrapper {
   margin: @margin-FastData__wrapper;
   .inline-flexbox();
   align-items: center;
   cursor: pointer;
}

.controls-FastData__block {
   .inline-flexbox();
   align-items: center;
}

.controls-FastData__block:hover .controls-FastData__iconArrow {
      fill: @color_FastData-iconArrow_hover;
}