<div name="fastData">

   <ws:for data="index, i in _listConfig">
      <div class="controls-FastData">
         <!--Стрелка отображается всегда - это не по стандарту!-->
         <span class="controls-FastData__icon icon-DayForward controls-FastData__icon-DayForward"
                  on:click="_open(i)"></span>
         <div class="controls-Dropdown__text"
              on:click="_open(i, index)">{{_updateText(i, index, _selectedItems[key], displayProperty || 'title')}}
         </div>
         <ws:if data="{{_selectedIndexes[index]}}">
         <span class="controls-FastData__icon icon-Close icon-disabled"
               on:click="_reset(i, index)"></span>
         </ws:if>
      </div>
   </ws:for>


   <Controls.Dropdown.Opener name="DropdownOpener">
      <ws:popupOptions>
         <ws:eventHandlers onResult="{{_onResult}}"/>
      </ws:popupOptions>
   </Controls.Dropdown.Opener>
</div>