.controls-FastData {
   display: inline-block;
}

.controls-FastData__icon {
   .icon-size(@icon-size_FastData);
   .flexbox();
   color: @color_FastData-icon;
   cursor: pointer;
}

.controls-FastData__icon-DayForward:hover {
   color: @color_FastData-icon_hover;
}

.controls-FastData__wrapper {
   .inline-flexbox();
   align-items: center;
}

.controls-FastData__block {
   .inline-flexbox();
}

.controls-FastData__block:hover .controls-FastData__icon-DayForward {
      color: @color_FastData-icon_hover;
}