<div class="controls-Menu controls-Menu__Popup">
   <div class="controls-Menu__itemsContainer"></div>
   <SBIS3.CONTROLS.Commands.CommandsSeparator
      name="toggleAdditionalItems"
      if="{{additionalProperty}}"
      command="toggleAdditionalItems"
   />
   <div if="{{footerTpl}}" class="controls-Menu__footer">{{footerTpl()}}</div>
</div>