.controls-Pager{
   .controls-text{
      line-height: 20px;
      font-size: 11px;
      padding-top: 2px;
      color: @controls-Pager-amount-text;
   }
   float: right;
   height: 28px;

   & .controls-Pager-block {
      float: right;

   }
   & .controls-Pager-block-amount{
      padding: 5px 6px 6px 1px;
   }
   & .controls-Pager-block-paging{
      padding: 4px 0 0 6px;
   }
   .controls-Pager__pageSize-container select, .controls-Pager__pageSize-container .custom-select.asLink{
      font-size: 11px;
      text-decoration:underline;
   }
}