.controls-Pager{
   .controls-text{
      line-height: 20px;
      font-size: 11px;
      padding-top: 2px;
      color: @controls-Pager-amount-text;
   }
   float: right;
   height: 29px;

   .controls-Pager-block {
      float: right;
      &.controls-DropdownList {
        padding-left: 4px;
        .controls-DropdownList__textWrapper {
          line-height: 22px;
        }
      }
   }
   .controls-Pager-block-amount{
      padding: 5px 6px 6px 1px;
   }
   .controls-Pager-block-paging{
      padding: 4px 0 0 6px;
   }
   .controls-Pager__pageSize-container select, .controls-Pager__pageSize-container .controls-DropdownList__text{
      font-size: 11px;
      text-decoration:underline;
   }
}

@-moz-document url-prefix() {
  .controls-Pager .controls-Pager-block.controls-DropdownList {
    line-height: normal;
    .controls-DropdownList__textWrapper{
      line-height: 20px;
    }
  }
}