<div class="controls-filterButton__historyViewFavorites-item">
    <div class="controls-filterButton__historyViewFavorites-titleContainer" title="{{ item.get('linkText')|escapeTagsFromStr:'' }}">
        <span class='controls-filterButton__historyViewFavorites-item-title'>
            {{ item.get('linkText')|sanitize }}
        </span>
    </div>
</div>