<div class="controls-ColumnsEditorArea__SelectableView__group">
   <div class="controls-ColumnsEditorArea__SelectableView__group-line"></div>
   <div class="controls-ColumnsEditorArea__SelectableView__group-caption">{{ item.group }}</div>
</div>