<span class="controls-ColumnsEditorArea__view-item">
   <span class="controls-ListView__itemCheckBox js-controls-ListView__itemCheckBox"></span>
   <span class="controls-ColumnsEditorArea__view-item-text">{{ item[displayProperty] }}</span>
</span>