<div class="controls-LongOperationsList__stateContainer">
   <ws:template name="resultTpl">
      <ws:if data="{{value === 0}}">
         <div class="icon-16 icon-size icon-Refresh icon-disabled" title="В процессе"></div>
      </ws:if>
      <ws:else data="{{value === 1}}">
         <div title="Приостановлено"></div>
      </ws:else>
      <ws:else data="{{value === 2}}">
         <ws:if data="{{item.get('isFailed')}}">
            <div class="icon-16 icon-size icon-Alert icon-error" title="Завершено с ошибками"></div>
         </ws:if>
         <ws:else>
            <div class="icon-16 icon-size icon-ChangeAccount icon-done" title="Завершено"></div>
         </ws:else>
      </ws:else>
   </ws:template>
   <ws:partial template="resultTpl" value="{{item.get(field)}}" scope="{{...}}"/>
</div>