<div>
    <ws:if data="{{ !_options.text }}">
        <span event:onclick="_onResetClick()" class="controls-SearchForm__reset icon-size icon-Close" title="Очистить результаты поиска"></span>
    </ws:if>
    <span event:onclick="_onSearchClick()" class="controls-SearchForm__search icon-size icon-primary icon-Search2"></span>
</div>