<Controls.Container.Suggest.Layout
        on:choose="_choose()"
        on:deactivated="_deactivated()"
        on:suggestStateChanged="_suggestStateChanged()"
        suggestTemplate="{{_options.suggestTemplate}}"
        footerTemplate="{{_options.footerTemplate}}"
        minSearchLength="{{_options.minSearchLength}}"
        source="{{_options.source}}"
        navigation="{{_options.navigation}}"
        searchParam="{{_options.searchParam}}"
        suggestStyle="overInput"
        suggestState="{{_options.suggestState}}"
        autoDropDown="{{_options.autoDropDown}}">
    <Controls.Input.Search
            value="{{_options.value}}"
            tagStyle="{{_options.tagStyle}}"
            placeholder="{{_options.placeholder}}"
            style="{{_options.style}}"
            on:valueChanged="_changeValueHandler()">
    </Controls.Input.Search>
</Controls.Container.Suggest.Layout>
