<div class="controls-DecoratedLink controls-RichEditor__noneditable" contenteditable="false" >
   <a class="controls-DecoratedLink__link" href="{{ record.url }}" target="_blank" >{{ record.url }}</a>
   <div class="controls-DecoratedLink__info">
      <a href="{{ record.url }}" >
         <img class="controls-DecoratedLink__info__img" src="{{ record.image }}">
      </a>
      <a class="controls-DecoratedLink__info__title" href="{{ record.url }}">{{ record.title }}</a>
      <a class="controls-DecoratedLink__info__description" href="{{ record.url }}">{{ record.description }}</a>
   </div>
</div>