<div class="controls-ToolBar"><div class="controls-ToolBar__itemsContainer">
        <ws:if data="{{_serverRender}}">
            <ws:partial template="{{_itemsTemplate}}" records="{{_records}}" tplData="{{_itemData}}" />
        </ws:if>
    </div>
    <SBIS3.CONTROLS.Commands.CommandsButton
            name="controls-ToolBar__menuIcon"
            class="controls-ToolBar__menuIcon"
            idProperty="{{idProperty}}"
            items="{{menuItems}}"
            visible="{{menuIsVisible}}"
            subMenuLocationStrategy="{{subMenuLocationStrategy}}"
            parentProperty="{{parentProperty}}"
            displayProperty="{{displayProperty}}"
            additionalProperty="{{additionalProperty}}"
            icon="sprite:icon-24 icon-MoreButton icon-primary">
    </SBIS3.CONTROLS.Commands.CommandsButton>
</div>