<tbody class="controls-MonthView__tableBody">
   <ws:for data="index, week in weeksArray">
      <tr class="controls-MonthView__tableRow">
         <ws:for data="indexOfDay, value in week">
            <ws:if data="{{value.isCalendar}}">
               <td data-selected-range-id="{{value.day}}" class="controls-MonthView__tableElement controls-MonthView__currentMonthDay controls-MonthView__dayNumber{{indexOfDay}} controls-RangeSelectable__item{{(indexOfDay === 5 || indexOfDay === 6) ? ' controls-MonthView__weekend'}}{{value.today ? ' controls-MonthView__today'}}{{value.firstDayOfMonth ? ' controls-MonthView__firstDayOfMonth'}}{{value.lastDayOfMonth ? ' controls-MonthView__lastDayOfMonth'}}">
                  <span if="{{value.rangeselect}}" class="controls-MonthView__dayBorder"></span>
                  <span class="controls-MonthView__dayTitle">{{value.day}}</span>
               </td>
            </ws:if>
            <ws:else>
               <td class="controls-MonthView__tableElement controls-MonthView__tableElementFog controls-MonthView__{{value.month}}{{(indexOfDay === 5 || indexOfDay === 6) ? ' controls-MonthView__weekend'}}{{value.firstDayOfMonth ? ' controls-MonthView__firstDayOfMonth'}}{{value.lastDayOfMonth ? ' controls-MonthView__lastDayOfMonth'}}"></td>
            </ws:else>
         </ws:for>
      </tr>
   </ws:for>
</tbody>