<div class="ws-PopupContainer">
    <ws:for data="index, item in _options.popupItems">
        {{debug()}}
        <ws:WSControls.Windows.Popup.Popup __key="{{item.id}}" id="{{item.id}}"
            scope="{{item.dialogOptions}}"
            style="left: {{item.left}}; right: {{item.right}}; top: {{item.top}}; bottom: {{item.bottom}}; width: {{item.width}}; height: {{item.height}};"
        >
        </ws:WSControls.Windows.Popup.Popup>
    </ws:for>
</div>