<div class="ws-PopupContainer">
    <ws:for data="index, item in _options.popupItems">
        <ws:WSControls.Windows.Popup.Popup id="{{item.id}}" __key="{{item.id}}"
            scope="{{item.dialogOptions}}"
            style="z-index: {{item.zIndex}};"
        />
    </ws:for>
</div>