<div class="controls-ListView__item-type-node controls-CompositeView__tileItem js-controls-CompositeView__verticalItemActions controls-CompositeView__verticalItemActions controls-ListView__item js-controls-ListView__item {{className|orEmpty}}" data-hash="{{projItem.getHash()}}"
     data-id="{{item.getId()}}">
    <ws:partial template="{{folderContent}}" scope="{{...}}" />
</div>