<div class="controls-ListView__itemCheckBox js-controls-ListView__itemCheckBox"></div>
<span class="controls-CompositeView__folderIcon icon-32 icon-Folder icon-disabled"></span>
<div class="controls-CompositeView__tileTitle" style="{{decorators.apply(color, 'color')}}">{{decorators.apply(item.get(displayProperty))|sanitize}}</div>