<div class="controls-CompositeView__foldersContainer {{ (tplData.viewMode === 'tile' && tplData.tileMode === 'dynamic') ? 'controls-CompositeView-tile__static'}}">
    {{tplData.drawFolders(...)|sanitize}}
</div>
    {{tplData.drawLeafs(...)|sanitize}}