<span class="controls-RadioButton{{checked ? ' controls-Checked__checked'}} controls-ColorRadioButton ">
    <span class="controls-ColorRadioButton__color" style="background-color: {{color}};"></span>
</span>