<div class="controls-SourceControl" on:showIndicator="_showIndicator()" on:hideIndicator="_hideIndicator()">
    <div class="controls-SourceControl__trigger controls-SourceControl__topListTrigger" name="topListTrigger"></div>
    <div class="controls-SourceControl__topPlaceholder" style="height: {{_topPlaceholderHeight}}px;"></div>
    <div class="controls-SourceControl__trigger controls-SourceControl__topLoadTrigger" name="topLoadTrigger" style="bottom: -{{_loadOffset}}px;"></div>

    <ws:if data="{{_listViewModel}}">
       <ws:if data="{{_options.viewConfig}}">
          <ws:partial template="{{_options.viewName}}" name="listView" scope="{{_options.viewConfig}}" listModel="{{_listViewModel}}">
             <ws:multiSelectTpl>
                <ws:partial template ="{{_multiSelectTpl}}"/>
             </ws:multiSelectTpl>
          </ws:partial>
       </ws:if>
         <ws:else>
            <ws:partial
                    template="{{_options.viewName}}"
                    name="listView"
                    listModel="{{_listViewModel}}"
                    itemTemplate="{{_options.itemTemplate}}"
                    idProperty="{{_options.idProperty}}"
                    displayProperty="{{_options.displayProperty}}"
                    markedKey="{{_options.markedKey}}">
               <ws:multiSelectTpl>
                  <ws:partial template ="{{_multiSelectTpl}}"/>
               </ws:multiSelectTpl>
            </ws:partial>
        </ws:else>
       <Controls.List.EditInPlace ws:content="listView"
                                  name="editInPlace"
                                  editingConfig="{{_options.editingConfig}}"
                                  on:beforeItemAdd="_onBeforeItemAdd()"
                                  on:beforeItemEdit="_onBeforeItemEdit()"
                                  on:afterItemEdit="_onAfterItemEdit()"
                                  on:beforeItemEndEdit="_onBeforeItemEndEdit()"
                                  on:afterItemEndEdit="_onAfterItemEndEdit()"
                                  listModel="{{_listViewModel}}"
                                  source="{{_sourceController}}" />
       <Controls.List.Remove ws:content="listView"
                             name="removeControl"
                             sourceController="{{_sourceController}}"
                             listModel="{{_listViewModel}}"
                             on:beforeItemsRemove="_beforeItemsRemove()"
                             on:afterItemsRemove="_afterItemsRemove()"/>
       <Controls.List.ItemActions.ItemActionsControl
               ws:content="listView"
               on:commitActionClick="_commitEditActionHandler()"
               on:cancelActionClick="_cancelEditActionHandler()"
               name="itemActions"
               listModel="{{_listViewModel}}"
               itemActions="{{_options.itemActions}}"
               itemActionVisibilityCallback="{{_options.itemActionVisibilityCallback}}"
               itemActionsType="{{_options.itemActionsType}}"/>
    </ws:if>

    <ws:if data="{{_options.emptyTemplate && _listViewModel && !_listViewModel.getCount()}}">
        <ws:partial template="{{_options.emptyTemplate}}"/>
    </ws:if>

    <div class="controls-SourceControl__trigger controls-SourceControl__bottomLoadTrigger" name="bottomLoadTrigger" style="top: -{{_loadOffset}}px;"></div>
    <div class="controls-SourceControl__bottomPlaceholder" style="height: {{_bottomPlaceholderHeight}}px;"></div>
    <div class="controls-SourceControl__trigger controls-SourceControl__bottomListTrigger" name="bottomListTrigger"></div>

    <Controls.List.SourceControl.Scroll.Emitter on:emitListScroll="__onEmitScroll()" name="ScrollEmitter"/>

    <ws:if data="{{_pagingCfg}}">
       <div class="controls-SourceControl__pagingContainer">
          <Controls.List.Paging attr:class="controls-SourceControl__scrollPaging" scope="{{_pagingCfg}}" on:onArrowClick="__onPagingArrowClick()"></Controls.List.Paging>
       </div>
    </ws:if>
    <ws:if data="{{_loadingIndicatorState}}">
        <div class="controls-SourceControl__loadingIndicator controls-SourceControl__loadingIndicator__state-{{_loadingIndicatorState}}">
            <div class="controls-SourceControl__loadingIndicatorImg"></div>
        </div>
    </ws:if>
</div>