.controls-demo__indicator_inst .controls-loading-indicator-in {
  background: url(pushin.gif);
  background-size: cover;
}
.controls-demo__indicator_inst .controls-loading-indicator_small .controls-loading-indicator-in {
  background: url(pushin.gif);
  background-size: cover;
}