.controls-EditableArea {
   position: relative;
   display: inline-block;
   flex-shrink: 0;
}

.controls-EditableArea__wrapper {
   display: flex;
}

.controls-EditableArea__Toolbar {
   display: inline-flex;
}

.controls-EditableArea_isEditing_style_withBackground {
   background-color: @contrast_background-color_editableArea;
}

.controls-EditableArea__applyButton,
.controls-EditableArea__closeButton {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   box-sizing: border-box;
   &:before {
      content: "\200b";
   }
}

.controls-EditableArea_clickable {
   cursor: pointer;
}

.controls-EditableArea_readonly {
   cursor: default;
}

.controls-EditableArea__applyButton {
   height: @height_applyButton_editableArea;
   width: @width_applyButton_editableArea;
   border-radius: @border-radius_applyButton_editableArea;
   box-shadow: @box-shadow_applyButton_editableArea;
   background-color: @background-color_applyButton_editableArea;
}

.controls-EditableArea__applyButton:hover {
   background-color: @background-color_hover_applyButton_editableArea;
}
.controls-EditableArea__applyButton:active {
   box-shadow: none;
   background-color: @background-color_active_applyButton_editableArea;
}

.controls-EditableArea__closeButton {
   width: @width_closeButton_editableArea;
   height: @height_closeButton_editableArea;
   border-width: @border-thickness_closeButton_editableArea;
   border-style: solid;
   border-color: @border-color_button_toolButton;
   border-radius: @border-radius_closeButton_editableArea;
   box-shadow: @box-shadow_closeButton_editableArea;
   margin-left: @toolbar_padding-left_editableArea;
   margin-right: @toolbar_padding-right_editableArea;
   background-color: @background-color_closeButton_editableArea;
}

.controls-EditableArea__closeButton:hover {
   border-color: @border-color_hover_closeButton_editableArea;
   background-color: @background-color_hover_closeButton_editableArea;
}
.controls-EditableArea__closeButton:active {
   box-shadow: none;
   border-color: @border-color_active_closeButton_editableArea;
   background-color: @background-color_active_closeButton_editableArea;
}

.controls-EditableArea__closeButton-icon {
   background-image: @icon_background-image_closeButton_editableArea;
   width: @icon-size_closeButton_editableArea;
   height: @icon-size_closeButton_editableArea;
}

.controls-EditableArea__closeButton-icon:hover {
   background-image: @icon_hovered_background-image_closeButton_editableArea;
   width: @icon-size_closeButton_editableArea;
   height: @icon-size_closeButton_editableArea;
}

.controls-EditableArea__applyButton-icon {
   text-shadow: @text-shadow_applyButton_editableArea;
   .icon(@icon-size_applyButton_editableArea, 'cbuc-icons');
}

.controls-EditableArea_isEditing_wrapper {
   margin-left: @toolbar_button_offset_editableArea;
}
