.ControlsDemo-Menu_wrapper {
   display: flex;
}

.ControlsDemo-Menu_item {
   max-width: 400px;
   margin: 25px auto;
}

.controlsDemo-menuControl_minWidth {
   min-width: 130px;
}

.controls-demo-Menu-Control__footerContentTemplate {
   color: #05b;
   cursor: pointer;
   padding: 0 12px;
   display: flex;
   align-items: center;
   min-height: 32px;

   &:hover {
      color: #313e78;
      text-decoration: underline;
   }
}
