@import "Controls-default-theme/_theme";
.ControlsDemo-Menu_wrapper {
   display: flex;
}

.ControlsDemo-Menu_item {
   max-width: 400px;
   margin: 25px auto;
}

.ControlsDemo-menuControl_minWidth {
   min-width: 130px;
}

.ControlsDemo-Menu-Control_scroll {
   max-height: 200px;
}

.ControlsDemo-Menu-Control__footerContentTemplate {
   color: #05b;
   cursor: pointer;
   padding: 0 12px;
   display: flex;
   align-items: center;
   min-height: 32px;

   &:hover {
      color: #313e78;
      text-decoration: underline;
   }
}

.ControlsDemo-Menu-Control__itemTemplate {
   justify-content: space-between;
}

.ControlsDemo-Menu-Control__rightTemplate {
   color: @secondary_color;
   margin-left: 8px;
}
