.controls-MenuIcon {
   &.controls-IconButton__round-border{
      padding-right: 0;
   }
   // при открытии меню шрифт TensorBold не успевал подгружаться и происходил сдвиг меню,
   // т.к. браузер неправильно делал расчет ширины контента
   &:after {
      font-family: 'TensorFont', sans-serif;
      font-weight: bold;
      content: '';
   }

}

.controls-MenuIcon-header {
   position: absolute;
   box-sizing: border-box;
   z-index: 10;
   .flexbox();
   .align-items(center);
   .justify-content(center);
}

.controls-MenuIcon-icon_standard_offset_16, .controls-MenuIcon-icon_standard_offset_small {
   left: @left_MenuIcon_standard_offset_s;
   top: @top_MenuIcon_standard_offset_s;
}

.controls-MenuIcon-icon_standard_offset_24, .controls-MenuIcon-icon_standard_offset_medium {
   left: @left_MenuIcon_standard_offset_default;
   top: @top_MenuIcon_standard_offset_default;
}

.controls-MenuIcon-icon_bordered_offset_s {
   left: @left_MenuIcon_bordered_offset_s;
   top: @top_MenuIcon_bordered_offset_s;
}

.controls-MenuIcon-icon_bordered_offset_m {
   left: @left_MenuIcon_bordered_offset_m;
   top: @top_MenuIcon_bordered_offset_m;
}

.controls-MenuIcon_hideHeader {
   .controls-ListView__item:first-child {
      .controls-MenuItem__icon {
         display: none;
      }
   }
}
// Menu
.controls-MenuIcon__Menu.controls-Menu.controls-Menu__Popup {
   margin: @menu-icon-menu-margin;
   background: @menu-icon-menu-bg;
   &.controls-Menu__big-header {
      margin: @menu-icon-big-menu-margin;
      .controls-Menu__header{
         padding: 4px 12px;
      }
      &.controls-Menu_offset_icon-24_bordered {
         margin: -3px 0 0 -11px;
      }
   }
   &.controls-Menu_offset_icon-32, &.controls-Menu_offset_icon-large {
      margin: @menu-icon-menu-large-margin;
   }

   &.controls-Menu__offset-l {
      margin: @margin_MenuIcon_size-l;
   }
   &.controls-IconButton__round-border{
      margin: -3px 0 0 -7px;
      &.controls-Menu__big-header{
         margin: -3px 0 0 -11px;
      }
      .controls-MenuItem{
         &.controls-Menu__hasChild{
            padding-right: @menu-item-expand-padding-right
         }
      }
   }
   &.controls-IconButton__round-border-24 {
      margin: @margin_MenuIcon_border-24;
   }
   &.controls-Menu__hide-menu-header{
      margin: @margin_MenuIcon-hideHeader;
      &.controls-Menu__offset-16, .controls-Menu__offset-small {
         margin: @margin_MenuIcon-hideHeader_offset-s;
      }
      &.controls-IconButton__round-border-24 {
         margin: @margin_MenuIcon-hideHeader-round24;
         .controls-MenuItem__text {
            margin: @margin_MenuIcon-hideHeader-round24_text;
         }
      }
      &.controls-Menu__offset-l {
         margin: @margin_MenuIcon_size-l;
      }
   }
   &.controls-Menu_offset_icon-24_hideHeader {
      .controls-MenuItem__text {
         margin: @margin_MenuIcon-hideHeader-icon24_text;
      }
   }
   &.controls-Menu_offset_icon-16_hideHeader {
      .controls-MenuItem__text {
         margin: @margin_MenuIcon-hideHeader-icon16_text;
      }
   }
   &.controls-Menu_offset_icon-24_hideHeader_bordered {
      .controls-MenuItem__text {
         margin: @margin_MenuIcon-hideHeader-round24-border_text;
      }
   }
}
