@import "_theme.less";
@import "../_variables";

.controls_theme-@{themeName} {

   // common
   --success_color: #27AE60;
   --primary_color: #A21148;
   --danger_color: #EE2C35;
   --link_text-color: #1464CC;
   --hover_background-color: #eef4f6;
   --link_hover_text-color: #313E78;
   --secondary_color: #8C8C8C;
   --readonly_color: #BCBCBC;
   --primary_text-color: #A21148;
   --secondary_text-color: #757D89;
   --primary_hover_text-color: #BF0E51;
   --text-color: #323232;
   --marker_color: #A21148;

   // buttons

   --secondary_background-color_button_functionalButton: #A21148;
   --secondary_hover_background-color_button_functionalButton: #BF0E51;
   --primary_hover_background-color_button: #FDECF2;
   --primary_active_background-color_button: #F7DFE9;
}
