<div class="ControlsDemo-MiniCard">
   <ws:for data="image in ['Андрей', 'Валера', 'Максим', 'Пиратик', 'Максим']">
      <Controls.MiniCard>
         <ws:target>
            <img src="MiniCard/image/{{image}}.png"/>
         </ws:target>
         <ws:template>
            <div attr:style="padding: 50px; border: 2px solid red;">
               <img src="MiniCard/image/{{image}}.png" style="height: 150px; width: 150px;"/>
            </div>
         </ws:template>
      </Controls.MiniCard>
   </ws:for>
</div>