<tr class="controls-TreeDataGridView__folderFooter" data-parent="{{key}}">
    <ws:if data="{{multiselect}}">
       <td></td>
    </ws:if>
    <td colspan="{{colspan}}">
        <div class="controls-TreeView__folderFooterContainer" style="padding-left: {{padding + 'px'}}">
            <ws:if data="{{footerTpl}}">
                <div class="controls-TreeDataGridView__folderFooterTmpl">
                    <ws:partial template="{{footerTpl}}" scope="{{...}}" />
                </div>
            </ws:if>
        </div>
    </td>
</tr>