<td class="controls-DataGridView__td" colspan="{{viewCfg.colspan}}">
   <ws:SBIS3.CONTROLS.BreadCrumbs class="controls-BreadCrumbs__smallItems controls-BreadCrumbs__home-hide controls-TreeView__searchBreadCrumbs"
                                  items="{{path}}"
                                  highlightEnabled="{{viewCfg.highlightEnabled}}"
                                  highlightText="{{viewCfg.highlightText}}"
                                  colorMarkEnabled="{{viewCfg.colorMarkEnabled}}"
                                  colorField="{{viewCfg.colorField}}"
                                  enabled="{{viewCfg.allowEnterToFolder}}"
                                  idProperty="{{viewCfg.idProperty}}"
                                  displayProperty="{{viewCfg.displayProperty}}"
                                  activableByClick="{{false}}"
                                  allowChangeEnable="{{false}}"
         />
   </td>
