<tr class="controls-GroupBy controls-DataGridView__tr controls-HierarchyDataGridView__path"><td class="controls-DataGridView__td" colspan="{{viewCfg.colspan}}">
   <ws:SBIS3.CONTROLS.BreadCrumbs class="controls-BreadCrumbs__smallItems controls-TreeView__searchBreadCrumbs"
                                  items="{{path}}"
                                  highlightEnabled="{{viewCfg.highlightEnabled}}"
                                  highlightText="{{viewCfg.highlightText}}"
                                  colorMarkEnabled="{{viewCfg.colorMarkEnabled}}"
                                  colorField="{{viewCfg.colorField}}"
                                  enabled="{{viewCfg.allowEnterToFolder}}"
                                  keyField="{{viewCfg.keyField}}"
                                  displayProperty="{{viewCfg.displayProperty}}"
                                  allowChangeEnable="{{false}}"
         />
   </td>
</tr>