<div>
   Scenario23
   <ws:SBIS3.CONTROLS.Panel name="AreaAbstract0">
      <ws:content>
         <input class="input1">
         <div class="div1"></div>
         <div tabindex="1" class="div2"></div>
         <textarea class="textArea" id="someTA" cols="30" rows="10"></textarea>
         <ws:SBIS3.CONTROLS.TextBox name="TextBox0"/>
         <ws:SBIS3.CONTROLS.Panel name="AreaAbstract0">
            <ws:content>
               <ws:SBIS3.CONTROLS.TextBox name="TextBox1"/>
            </ws:content>
      </ws:content>
   </ws:SBIS3.CONTROLS.Panel>
</div>