<div>
   Scenario17
   <SBIS3.CONTROLS.Panel name="AreaAbstract0" enabled="{{ true }}">
      <ws:content>
         <SBIS3.CONTROLS.TextBox name="TextBox0" class="TextBox0" enabled="{{ false }}"/>
      </ws:content>
   </SBIS3.CONTROLS.Panel>
</div>