<div>
   Scenario20
   <ws:SBIS3.CONTROLS.Panel name="AreaAbstract0" enabled="{{ false }}">
      <ws:content>
         Insight AA0
         <ws:SBIS3.CONTROLS.TextBox name="TextBox0" enabled="{{ true }}" class="ws-autofocus, ws-hidden"/>
      </ws:content>
   </ws:SBIS3.CONTROLS.Panel>
</div>