<div>
   <SBIS3.CONTROLS.Panel name="AreaAbstract1">
      <ws:content>
         <SBIS3.CONTROLS.TextBox name="TextBox0" enabled="{{ false }}"/>
         <SBIS3.CONTROLS.Panel name="AreaAbstract2">
            <ws:content>
               <SBIS3.CONTROLS.Panel name="AreaAbstract3">
                  <ws:content>
                     <SBIS3.CONTROLS.TextBox name="TextBox1"/>
                  </ws:content>
               </SBIS3.CONTROLS.Panel>
            </ws:content>
         </SBIS3.CONTROLS.Panel>
      </ws:content>
   </SBIS3.CONTROLS.Panel>
</div>