<div>
   Scenario19
   <ws:SBIS3.CONTROLS.Panel name="AreaAbstract0" enabled="{{ false }}">
      <ws:content>
         Insight AA0
         <ws:SBIS3.CONTROLS.TextBox name="TextBox0" allowChangeEnable="{{false}}" class="ws-autofocus"/>
      </ws:content>
   </ws:SBIS3.CONTROLS.Panel>
</div>