<div>
   Scenario29
   <ws:SBIS3.CONTROLS.Panel name="AreaAbstract0">
      <ws:content>
         <ws:SBIS3.CONTROLS.Panel name="AreaAbstract1" activableByClick="{{ false }}">
            <ws:content>
               <input type="text" class="input1">
            </ws:content>
         </ws:SBIS3.CONTROLS.Panel>
      </ws:content>
   </ws:SBIS3.CONTROLS.Panel>
</div>