<div>
   Scenario18
   <SBIS3.CONTROLS.Panel name="AreaAbstract0" enabled="{{ true }}" class="ws-autofocus">
      <ws:content>
         <SBIS3.CONTROLS.TextBox name="TextBox0" class="TextBox0" enabled="{{ false }}"/>
      </ws:content>
   </SBIS3.CONTROLS.Panel>
</div>