<div>
   <div class="ws-window-titlebar-custom ws-window-titlebar">
      <SBIS3.CONTROLS.TextBox name="TextBox1"/>
      <SBIS3.CONTROLS.TextBox name="TextBox2"/>
   </div>
   <div>
      Scenario13
      <SBIS3.CONTROLS.TextBox name="TextBox3"/>
      <SBIS3.CONTROLS.TextBox name="TextBox4"/>
   </div>
</div>