<div>
   <div class="ws-window-titlebar-custom ws-window-titlebar">
      <SBIS3.CONTROLS.TextBox name="TextBox1" tabindex="1"/>
      <SBIS3.CONTROLS.TextBox name="TextBox2" tabindex="2"/>
   </div>
   <div>
      Scenario14
      <SBIS3.CONTROLS.TextBox name="TextBox3" tabindex="3" class="ws-autofocus"/>
      <SBIS3.CONTROLS.TextBox name="TextBox4" tabindex="4"/>
   </div>
</div>