<div>
   Scenario29
   <SBIS3.CONTROLS.Panel name="AreaAbstract1" activableByClick="{{ false }}">
      <ws:content>
         <input type="text" class="input1"/>
      </ws:content>
   </SBIS3.CONTROLS.Panel>
</div>