<div>
   Scenario21
   <ws:SBIS3.CONTROLS.Panel name="AreaAbstract1" tabindex="2">
      <ws:content>
         <ws:SBIS3.CONTROLS.TextBox name="TextBox1" tabindex="1"></ws:SBIS3.CONTROLS.TextBox>
         <ws:SBIS3.CONTROLS.TextBox name="TextBox2" tabindex="0"></ws:SBIS3.CONTROLS.TextBox>
         <ws:SBIS3.CONTROLS.TextBox name="TextBox3" tabindex="2"></ws:SBIS3.CONTROLS.TextBox>
      </ws:content>
   </ws:SBIS3.CONTROLS.Panel>
   <ws:SBIS3.CONTROLS.Panel name="AreaAbstract2" tabindex="1">
      <ws:content>
         <ws:SBIS3.CONTROLS.TextBox name="TextBox4" tabindex="1"></ws:SBIS3.CONTROLS.TextBox>
         <ws:SBIS3.CONTROLS.TextBox name="TextBox5" tabindex="0"></ws:SBIS3.CONTROLS.TextBox>
         <ws:SBIS3.CONTROLS.TextBox name="TextBox6" tabindex="2"></ws:SBIS3.CONTROLS.TextBox>
      </ws:content>
   </ws:SBIS3.CONTROLS.Panel>
</div>