<div>
   <SBIS3.CONTROLS.TextBox name="TextBox0"tabindex="5"/>
   <SBIS3.CONTROLS.Panel name="AreaAbstract1" ignoreTabCycles="{{ false }}">
      <ws:content>
         <SBIS3.CONTROLS.TextBox name="TextBox1" tabindex="1"></SBIS3.CONTROLS.TextBox>
         <SBIS3.CONTROLS.TextBox name="TextBox2" tabindex="0"></SBIS3.CONTROLS.TextBox>
         <SBIS3.CONTROLS.TextBox name="TextBox3" tabindex="2"></SBIS3.CONTROLS.TextBox>
      </ws:content>
   </SBIS3.CONTROLS.Panel>
</div>