<div>
   Scenario24
   <input type="text" class="input1">
   <ws:SBIS3.CONTROLS.Panel name="AreaAbstract1">
      <ws:content>
         <input class="input2" type="text">
      </ws:content>
   </ws:SBIS3.CONTROLS.Panel>
   <ws:SBIS3.CONTROLS.Panel name="AreaAbstract2">
      <ws:content>
         <input class="input3" type="text">
      </ws:content>
   </ws:SBIS3.CONTROLS.Panel>
</div>