<div>
   <ws:SBIS3.CONTROLS.TextBox name="TextBox0"tabindex="5"/>
   <ws:SBIS3.CONTROLS.Panel name="AreaAbstract1" ignoreTabCycles="{{ false }}">
      <ws:content>
         <ws:SBIS3.CONTROLS.TextBox name="TextBox1" tabindex="1"></ws:SBIS3.CONTROLS.TextBox>
         <ws:SBIS3.CONTROLS.TextBox name="TextBox2" tabindex="0"></ws:SBIS3.CONTROLS.TextBox>
         <ws:SBIS3.CONTROLS.TextBox name="TextBox3" tabindex="2"></ws:SBIS3.CONTROLS.TextBox>
      </ws:content>
   </ws:SBIS3.CONTROLS.Panel>
</div>