<div>
   Scenario29
   <ws:SBIS3.CONTROLS.Panel name="AreaAbstract0">
      <ws:coontent>
         <ws:SBIS3.CONTROLS.Panel name="AreaAbstract0" activableByClick="{{ false }}">
            <ws:content>
               <input>
            </ws:content>
         </ws:SBIS3.CONTROLS.Panel>
      </ws:coontent>
   </ws:SBIS3.CONTROLS.Panel>
</div>