<div>
   Scenario21
   <SBIS3.CONTROLS.Panel name="AreaAbstract1" tabindex="2">
      <ws:content>
         <SBIS3.CONTROLS.TextBox name="TextBox1" tabindex="1"></SBIS3.CONTROLS.TextBox>
         <SBIS3.CONTROLS.TextBox name="TextBox2" tabindex="0"></SBIS3.CONTROLS.TextBox>
         <SBIS3.CONTROLS.TextBox name="TextBox3" tabindex="2"></SBIS3.CONTROLS.TextBox>
      </ws:content>
   </SBIS3.CONTROLS.Panel>
   <SBIS3.CONTROLS.Panel name="AreaAbstract2" tabindex="1">
      <ws:content>
         <SBIS3.CONTROLS.TextBox name="TextBox4" tabindex="1"></SBIS3.CONTROLS.TextBox>
         <SBIS3.CONTROLS.TextBox name="TextBox5" tabindex="0"></SBIS3.CONTROLS.TextBox>
         <SBIS3.CONTROLS.TextBox name="TextBox6" tabindex="2"></SBIS3.CONTROLS.TextBox>
      </ws:content>
   </SBIS3.CONTROLS.Panel>
</div>