<div>
   Scenario23
   <SBIS3.CONTROLS.Panel name="AreaAbstract0" class="Case23 ">
      <ws:content>
         <input class="input1"/>
         <div class="div1"></div>
         <div tabindex="1" class="div2"></div>
         <textarea class="textArea" id="someTA" cols="30" rows="10"></textarea>
         <SBIS3.CONTROLS.TextBox name="TextBox0"/>
         <SBIS3.CONTROLS.Panel name="AreaAbstract1">
            <ws:content>
               <SBIS3.CONTROLS.TextBox name="TextBox1"/>
            </ws:content>
         </SBIS3.CONTROLS.Panel>
      </ws:content>
   </SBIS3.CONTROLS.Panel>
</div>