<div>
   Scenario24
   <!--<input type="text" class="input1">-->
   <Deprecated.Controls.Button.Button name="Button0"></Deprecated.Controls.Button.Button>
   <SBIS3.CONTROLS.Panel name="AreaAbstract1">
      <ws:content>
         <input class="input2" type="text"/>
      </ws:content>
   </SBIS3.CONTROLS.Panel>
   <SBIS3.CONTROLS.Panel name="AreaAbstract2">
      <ws:content>
         <input class="input3" type="text"/>
      </ws:content>
   </SBIS3.CONTROLS.Panel>
</div>