<div>
   Scenario22
   <ws:SBIS3.CONTROLS.Panel name="AreaAbstract0">
      <ws:content>
         <ws:SBIS3.CONTROLS.Panel name="AreaAbstract1">
            <ws:content>
               <ws:SBIS3.CONTROLS.TextBox name="TextBox1"/>
               <ws:SBIS3.CONTROLS.TextBox name="TextBox2" tabindex="3"/>
               <ws:SBIS3.CONTROLS.TextBox name="TextBox3" tabindex="1"/>
               <ws:SBIS3.CONTROLS.TextBox name="TextBox4" tabindex="2"/>
               <ws:SBIS3.CONTROLS.TextBox name="TextBox5"/>
               <ws:SBIS3.CONTROLS.TextBox name="TextBox6" tabindex="5"/>
            </ws:content>
         </ws:SBIS3.CONTROLS.Panel>
      </ws:content>
   </ws:SBIS3.CONTROLS.Panel>
</div>