<div>
   Scenario19
   <SBIS3.CONTROLS.Panel name="AreaAbstract0" enabled="{{ false }}">
      <ws:content>
         <SBIS3.CONTROLS.TextBox name="TextBox0" allowChangeEnable="{{false}}" class="ws-autofocus"/>
      </ws:content>
   </SBIS3.CONTROLS.Panel>
</div>