<div>
   <SBIS3.CONTROLS.Panel name="AreaAbstract1" class="AA1">
      <ws:content>
         <SBIS3.CONTROLS.Panel name="AreaAbstract2" class="AA2">
            <ws:content>
               <SBIS3.CONTROLS.TextBox name="TextBox0" class="moveTb"/>
               <SBIS3.CONTROLS.TextBox name="TextBox1"/>
            </ws:content>
         </SBIS3.CONTROLS.Panel>
      </ws:content>
   </SBIS3.CONTROLS.Panel>
</div>