<div>
   Scenario23
   <!--<ws:SBIS3.CONTROLS.Panel name="AreaAbstract0">-->
      <!--<ws:content>-->
         <!--<input>-->
         <!--<div></div>-->
         <!--<div tabindex="1"></div>-->
         <!--<textarea name="someTA" id="someTA" cols="30" rows="10"></textarea>-->
         <!--<ws:SBIS3.CONTROLS.TextBox></ws:SBIS3.CONTROLS.TextBox>-->
         <!--<ws:SBIS3.CONTROLS.Panel name="AreaAbstract0">-->
            <!--<ws:content>-->
               <!--<ws:SBIS3.CONTROLS.TextBox></ws:SBIS3.CONTROLS.TextBox>-->
            <!--</ws:content>-->
      <!--</ws:content>-->
   <!--</ws:SBIS3.CONTROLS.Panel>-->
</div>