<div>
   Scenario20
   <SBIS3.CONTROLS.Panel name="AreaAbstract0" enabled="{{ false }}">
      <ws:content>
         <SBIS3.CONTROLS.TextBox name="TextBox0" enabled="{{ true }}" class="ws-autofocus, ws-hidden"/>
      </ws:content>
   </SBIS3.CONTROLS.Panel>
</div>