<div>
   Scenario17
   <ws:SBIS3.CONTROLS.Panel name="AreaAbstract0" enabled="{{ true }}">
      <ws:content>
         Insight AA0
         <ws:SBIS3.CONTROLS.TextBox name="TextBox0" class="TextBox0" enabled="{{ false }}"/>
      </ws:content>
   </ws:SBIS3.CONTROLS.Panel>
</div>