<div>
   <ws:SBIS3.CONTROLS.Panel name="AreaAbstract1">
      <ws:content>
         <ws:SBIS3.CONTROLS.TextBox name="TextBox0"/>
         <ws:SBIS3.CONTROLS.Panel name="AreaAbstract2">
            <ws:content>
               <ws:SBIS3.CONTROLS.Panel name="AreaAbstract3">
                  <ws:content>
                     <ws:SBIS3.CONTROLS.TextBox name="TextBox1" enabled="{{ false }}"/>
                  </ws:content>
               </ws:SBIS3.CONTROLS.Panel>
            </ws:content>
         </ws:SBIS3.CONTROLS.Panel>
      </ws:content>
   </ws:SBIS3.CONTROLS.Panel>
</div>