<div style='margin: 16px 50px;'>
   Отредактируйте version.xml и вызовите события
   <Controls.Button on:click='wakeUp()' caption='WakeUp!'/>
   <Controls.Button on:click='checkVersion()' caption='Проверить версию'/>
   <SBIS3.ENGINE.ServiceUpdateNotifierVDOM />
</div>