.ControlsDemo-Suggest_empty {
   display: flex;
   padding: 16px 0;
}

.ControlsDemo-Suggest__empty-button {
   margin: auto;
}

.controlsDemo_fixedWidth300 {
   width: 300px;
}

.ControlsDemo-Suggest__scroll {
   height: 150px;
}

.ControlsDemo-Suggest__content {
   height: 300px;
}
