<div class="controls-FilterPanelChooser__afterChooserWrapper">
    <SBIS3.CONTROLS.Link name="controls-FilterPanelChooser__allButton"
                            className="controls-FilterPanelChooser__allButton additionalLink controls-Link__disabledHover"
                            caption="{{ captionFullList }}"
                            command="showFullList"
                            commandArgs="{{ [true] }}"
                            visible="{{ !showFullList && properties.items.getCount() > 3 }}">
    </SBIS3.CONTROLS.Link>
</div>