.controls-MassAmountSelector {
   min-width: @controls-printdialog-min-width;
}
.controls-PrintMassDialog {
   margin-left: 12px;

   .controls-RadioGroup, .controls-MassAmountSelector__numberTextBox {
      margin-bottom: 14px;
   }

   .controls-NumberTextBox {
      width: 80px;
   }

   .controls-PrintMassDialog__label{
      display: inline-block;
      color: #999999;
      padding-left: 6px;
      padding-right: 8px;
   }
}
.ws-window-titlebar-custom {
   .controls-Button__activatePrintMass {
      margin-top: @controls-printdialog-activate-margin-top;
      position: absolute;
      right: @controls-printdialog-activate-right;
   }
}

