.controls-MassAmountSelector {
   min-width: @controls-printdialog-min-width;
}
.controls-PrintMassDialog {
   left: 12px;
   position: relative;

   .controls-MassAmountSelector__numberTextBox .controls-NumberTextBox {
      width: 80px;
      .controls-TextBox__field {
         text-align: right;
      }
      .controls-TextBox__fieldWrapper{
         margin : 0;
      }
   }
   .controls-PrintMassDialog__label{
      display: inline-block;
      color: #999999;
      padding-left: 6px;
      padding-right: 8px;
   }
}
.ws-window-titlebar-custom {
   .controls-Button__activatePrintMass {
      line-height: 1.2em;
      margin-top: @controls-printdialog-activate-margin-top;
      position: absolute;
      right: @controls-printdialog-activate-right;
   }
}

