<div>
   <ws:if data="{{ _options.resourceRoot && boomCfg }}">
      <script type="text/javascript">
         function startBoomerang(){
            BOOMR.init({{ boomCfg }});
         }
      </script>
      <script
         type="text/javascript"
         src="{{ _options.resourceRoot }}View/Runner/Vdom/third-party/boomerang.js"
         onload="startBoomerang()">
      </script>
   </ws:if>
   <ws:if data="{{ timeTester }}">
      <script type="text/javascript">
         var startTime = -1,
            lastLongTickTime = -1,
            ticks = -1;

         function startTimeTester (){
            startTime = lastLongTickTime = Date.now();
            if (ticks !== -1) {
               clearInterval(ticks);
            }
            ticks = setInterval(sendTick, 10);
         }

         function sendTick() {
            setTimeout(checkTick, 50, Date.now());
         }

         function checkTick(time) {
            var currentTime = Date.now();
            if (currentTime - time > 100) {
               lastLongTickTime = currentTime;
            } else if (currentTime - lastLongTickTime > 10000) {
               clearInterval(ticks);
               var compatibleLoaded = false;
               try {
                  require('Core/Abstract');
                  compatibleLoaded = true;
               } catch(e) {}
               document.dispatchEvent(new CustomEvent('fullLoadTime', {
                  'detail':  { time: lastLongTickTime - startTime, compatible: compatibleLoaded }
               }));
            }
         }

         startTimeTester();
      </script>
   </ws:if>
</div>