<Controls.Input.ComboBox
   source="{{_createMemory()}}"
   keyProperty="title"
   placeholder="select"
   displayProperty="title"
   emptyText="none"
   selectedKey="{{_options.tagStyleValue}}"
   on:selectedKeyChanged="_changeStyleHandler()"
/>
