<div class="controls-suggestView">
    <ws:SBIS3.CONTROLS.ScrollContainer>
        <ws:content>
            <ws:SBIS3.CONTROLS.TabControl
                name="SuggestTabControl"
                items="{{items}}"
                selectedKey="{{selectedKey}}"
                tabsDisplayProperty="{{displayProperty}}"
                idProperty="{{idProperty}}"
                loadType="all"
                className="{{'controls-TabButtons__simple-view' + _tabControlClasses}}"
            />
        </ws:content>
    </ws:SBIS3.CONTROLS.ScrollContainer>
</div>