<div class="controls-suggestView">
    <SBIS3.CONTROLS.ScrollContainer shadowStyle="none">
        <ws:content>
            <SBIS3.CONTROLS.Tab.Control
                name="SuggestTabControl"
                items="{{items}}"
                selectedKey="{{selectedKey}}"
                tabsDisplayProperty="{{displayProperty}}"
                idProperty="{{idProperty}}"
                loadType="all"
                className="{{'controls-TabButtons__simple-view' + _tabControlClasses}}"
            />
        </ws:content>
    </SBIS3.CONTROLS.ScrollContainer>
</div>