.controls-OperationsPanelButton {
   width: @controls-OperationsPanelButton-width;
   height: @controls-OperationsPanelButton-height;

   &.ws-enabled {
      cursor: @controls-OperationsPanelButton-cursor;

      &:hover .controls-OperationsPanelButton__icon {
         color: @controls-OperationsPanelButton-active-icon-color;
      }
   }
   .controls-OperationsPanelButton__icon {
      position: relative;
      left: @controls-OperationsPanelButton-icon-left;
      top: @controls-OperationsPanelButton-icon-top;
      color: @default-color;

      &:before {
         content: "\e6d9";
      }
   }
   &.controls-Checked__checked {
      background-color: @controls-OperationsPanel-bg;

      .controls-OperationsPanelButton__icon {
         color: @controls-OperationsPanelButton-active-icon-color;
         &:before {
            content: "\e69c";
         }
      }
   }
}