.controls-OperationsPanelButton {
   color: @controls-OperationsPanelButton-color;
   background-color: @controls-OperationsPanelButton-bg-color;
   cursor: pointer;
   width: @controls-OperationsPanelButton-width;
   height: @controls-OperationsPanelButton-vert-height;
   border-radius: @controls-OperationsPanelButton-vert-border-radius;
   .box-shadow(@button-shadow);
   //todo: переписать это на дефолтный блок с иконкой, а то какая то дичь происходит с тем что подставляем контент
   .controls-OperationsPanelButton__icon {
      font-family: @controls-OperationsPanelButton-font-family;
      font-size: @controls-OperationsPanelButton-font-size;
      font-style: normal;
      position: relative;
      left: @controls-OperationsPanelButton-icon-left;
      line-height: @controls-OperationsPanelButton-vert-height;
   }
   &:hover, &.ws-has-focus {
      color: @controls-OperationsPanelButton-active-icon-color;
      background-color: @controls-OperationsPanelButton-bg-color-hover;
   }
   &:active {
      background: none;
      box-shadow: none;
      background-color: @controls-OperationsPanelButton-bg-color-active;
   }

   &.controls-Checked__checked {
      .controls-OperationsPanelButton__icon:before {
         content: @controls-OperationsPanelButton-icon-expand;
      }
   }
   .controls-OperationsPanelButton__icon {
      top: 0;
      &:before {
         content: @controls-OperationsPanelButton-icon;
      }
   }
   &.controls-OperationsPanelButton__showSeparator:before {
      background: #ccc;
      width: 1px;
      height: 24px;
      content: '\00a0';
      font-size: 1px;
      position: absolute;
      display: inline-block;
      left: 0;
      top: 0;
   }
}