<div class="controls-StickyHeader">
   <div name="observationTargetTop" class="controls-StickyHeader__observationTargetTop"></div>
   <ws:partial template="{{_options.content}}" attr:class="controls-StickyHeader__content"/>
   <div name="observationTargetBottom" class="controls-StickyHeader__observationTargetBottom"></div>
</div>