<div config="{{_options.__$config}}" data-component="{{_moduleName}}" class="controls-CompoundArea">
   <ws:if data="{{_options.type === 'stack'}}">
      <Controls.Popup.Templates.Stack.StackTemplate>
         <ws:contentArea>
            <div name="compoundBlock"></div>
         </ws:contentArea>
      </Controls.Popup.Templates.Stack.StackTemplate>
   </ws:if>
   <ws:else>
      <Controls.Popup.Templates.Dialog.DialogTemplate>
         <ws:contentArea>
            <div name="compoundBlock"></div>
         </ws:contentArea>
      </Controls.Popup.Templates.Dialog.DialogTemplate>
   </ws:else>
</div>