<div config="{{_options.__$config}}" data-component="{{_moduleName}}" class="controls-CompoundArea">
   <ws:if data="{{ _options.component }}">
      <ws:partial template="{{ _options.component }}" scope="{{ componentOptions }}" />
   </ws:if>
   <div class="controls-StackTemplate__close_button controls-StackTemplate__close_button_standart" on:click="_close()"></div>
</div>