<div config="{{_options.__$config}}" data-component="{{_moduleName}}" class="controls-CompoundArea">
   <div name="compoundBlock"></div>
   <div class="controls-StackTemplate__close_button controls-StackTemplate__close_button_standart" on:click="_close()"></div>
</div>