<div class="controls-SuggestTextBox__afterFieldWrapper ws-inline-flexbox">
    <span class="js-controls-SuggestTextBox__reset controls-SuggestTextBox__reset icon-size icon-Close {{text ? '' : 'ws-hidden'}} ws-inline-flexbox ws-align-items-center" title="{[Очистить поле]}"></span>
</div>