.controls-DataGrid__td {

  .controls-TreeView__expand--inside {
    display: none;
    line-height: 13px !important;
  }

  .controls-TreeView__hierWrapper{
    height: @tree-view-hier-wrapper-height;
    width: @tree-view-hier-wrapper-width;
    display: inline-block;
    float: left;
  }

  .controls-TreeView__hierWrapper:first-child{
    width: @tree-view-hier-wrapper-first-width;
  }


  &:hover {

    .controls-TreeView__expand--inside {
      display: inline-block;
      height: 14px;
    }

  }
}

