.controls-DataGrid__td {

  .controls-TreeView__expand--inside {
    display: none;
    line-height: 13px !important;
  }

  &:hover {

    .controls-TreeView__expand--inside {
      display: inline-block;
      height: 14px;
    }

  }
}

