<div class="ws-flexbox ws-flex-column" style="height: 100%">
   <Controls.Toggle.Switch caption="Включить кнопки paging" bind:value="_pagingVisible"/>
   <Controls.Container.Scroll attr:style="height: 50%; width: 50%; margin: auto;">
      <div>
         <ws:for data="item in _items">
            <div>{{item.title}}</div>
         </ws:for>
      </div>
   </Controls.Container.Scroll>
</div>