<div class="demo_wrapper">
    <div>
        <div class="demo__options_block">
            <h3>Options</h3>
            <div class="demo_options_wrapper">
                <Controls.Label caption="style:"/>
                <Controls.Input.ComboBox
                        source="{{_scrollStyleSource}}"
                        keyProperty="title"
                        displayProperty="title"
                        bind:selectedKey="_selectedStyle"/>

                <Controls.Toggle.Checkbox bind:value="_scrollbarVisible" caption="scrollbarVisible"/>
                <Controls.Toggle.Checkbox bind:value="_shadowVisible" caption="shadowVisible"/>
            </div>

            <h3>Settings</h3>
            <div class="demo_settings_wrapper">
                <Controls.Label caption="Number of records"/>
                <Controls.Input.Number precision="{{0}}" integersLength="{{3}}" bind:value="_numberOfRecords"/>
                <Controls.Toggle.Switch caption="Activate paging" bind:value="_pagingVisible"/>
            </div>
        </div>

        <div class="demo__example_block">
            <h2>Scroll</h2>
            <Controls.Container.Scroll attr:class="demo_scroll_container"
                                       scrollbarVisible="{{_scrollbarVisible}}"
                                       shadowVisible="{{_shadowVisible}}"
                                       style="{{_selectedStyle}}">

                <div>
                    <ws:for data="index in _numberOfRecords">
                        <div class="demo_record">Record {{index + 1}}</div>
                    </ws:for>
                </div>
            </Controls.Container.Scroll>
        </div>
    </div>
</div>