<div class="ControlsDemo-scroll">
    <Controls.scroll:Container attr:class="ControlsDemo-external_scrollable_area" attr:style="display: none;">
        <div>
            <div attr:class="ControlsDemo-padding_text">{{_demoText}}</div>
            <Controls.scroll:Container attr:class="ControlsDemo-internal_scrollable_area">
                <ws:for data="index in _numberItems">
                    <div attr:class="ControlsDemo-inner_item">
                        <span attr:class="icon-16 icon-TFImage icon-attention"></span>
                        <span>Example {{index}}</span>
                    </div>
                </ws:for>
            </Controls.scroll:Container>
            <div attr:class="ControlsDemo-padding_text">{{_demoText}}</div>
        </div>
    </Controls.scroll:Container>

    <div class="controls-Scroll-Container" style="height: 100px;">
        <div class="controls-Scroll__scrollbar controls-Scroll__scrollbar_hidden" style="background-color: red; width: 20px; height: 100%;"></div>
    </div>

    <div class="controls-Scroll-Container ControlsDemo-controls-Scroll-Container">
        <div class="controls-Scroll__scrollbar controls-Scroll__scrollbar_hidden ControlsDemo-controls-Scroll__scrollbar"></div>
    </div>

    <div class="ControlsDemo-controls-Scroll-Container">
        <div class="ControlsDemo-controls-Scroll__scrollbar"></div>
    </div>

</div>
