@import "_Switch";

//ToggleCircle
@width_ToggleCircle:	@width_ToggleCircle_val;
@height_ToggleCircle:	@height_ToggleCircle_val;

//other
@color_DoubleSwitch-text_enabled_selected: @color_Switch-text__enabled_selected;
@color_DoubleSwitch-text_disabled_selected: @color_Switch-text__disabled_selected;

@line-height_DoubleSwitch__vertical: @font-size_text_m;
@font-size_DoubleSwitch:             @font-size_text_m;

