.controls-SwitchCircle__innerCircle_selected_enabled {
   fill: @color_ToggleCircle_innerCircle_selected_enabled;
}

.controls-SwitchCircle__innerCircle_selected_disabled {
   fill: @color_ToggleCircle_innerCircle_selected_disabled;
}

.controls-SwitchCircle__innerCircle_unselected {
   fill: none;
}

.controls-SwitchCircle__borderCircle_enabled {
   fill: @color_ToggleCircle_outerCircle_enabled;
}

.controls-SwitchCircle__borderCircle_disabled {
   fill: @color_ToggleCircle_outerCircle_disabled;
}

.ws-is-no-touch {
   .controls-SwitchCircle__svg:hover {
      .controls-SwitchCircle__borderCircle_enabled {
         fill: @color_ToggleCircle_outerCircle_enabled_hovered;
      }
   }
}

.controls-SwitchCircle__svg {
   width: @width_ToggleCircle;
   height: @height_ToggleCircle;
   display: inline-block;
   //в ie особая обработка кликов по svg: чтобы клик отработал, нужно соблюсти много условий
   // подробнее тут: https://stackoverflow.com/questions/40984532/svg-click-event-not-working или тут https://www.w3.org/TR/SVG/interact.html#PointerEventsProperty
   pointer-events: none;
}