<div class="controls-TimePicker">
   <ws:SBIS3.CONTROLS.TimeHeader
      name="header"
      time="{{'time'|mutable}}"
      activeTime="{{'activeTime'|mutable:activeTime}}"
   />
   <ws:SBIS3.CONTROLS.ClockPicker
      name="body"
      time="{{'time'|mutable}}"
      activeTime="{{'activeTime'|mutable:activeTime}}"
   />
</div>