<div class="controls-SearchLayout" on:valueChanged="_changeValueHandler()">
    <ws:Controls.Event.Listener name="searchValueDetect" register="searchValueChanged" content="{{_options.content}}"/>
</div>