
.controls-ImportCustomizer-Provider-View {
    &__line-1 {
        margin: @margin_ImportCustomizer-Provider-View-line;
    }
    &__firstLine {
        width: @width_ImportCustomizer-Provider-View-firstLine;
        text-align: center;
    }
    &__separator {
        width: @width_ImportCustomizer-Provider-View-separator;
        text-align: center;
    }
}
