
@margin_ImportCustomizer-Provider-View-line: 0 0 8px 0;
@width_ImportCustomizer-Provider-View-firstLine: 42px;
@width_ImportCustomizer-Provider-View-separator: 24px;

.controls-ImportCustomizer-Provider-View {
    &__line-1 {
        margin: @margin_ImportCustomizer-Provider-View-line;
    }
    &__firstLine {
        width: @width_ImportCustomizer-Provider-View-firstLine;
        text-align: center;
    }
    &__separator {
        width: @width_ImportCustomizer-Provider-View-separator;
        text-align: center;
    }
}
