{{/* Выбор провайдера парсинга */}}
<div class="controls-ImportCustomizer-Provider-View">
   <div class="controls-ImportCustomizer-Provider-View__line-1">
      {[НастройщикИмпорта@@Раздел содержится]}
      <SBIS3.CONTROLS.DropdownList
         name="controls-ImportCustomizer-Provider-View__parser"
         className="controls-ImportCustomizer-Provider-View__parser"
         multiselect="{{false}}"
         mode="click"
         type="simple"
         idProperty="id"
         displayProperty="title"
         items="{{parsers}}"
         selectedKeys="{{parser ? [parser] : undefined}}"
      />
   </div>
   <div class="controls-ImportCustomizer-Provider-View__line-2">
      {[НастройщикИмпорта@@Разбор начинать с]}
      <SBIS3.CONTROLS.NumberTextBox
         name="controls-ImportCustomizer-Provider-View__firstLine"
         className="controls-ImportCustomizer-Provider-View__firstLine"
         text="{{'firstLine'|mutable}}"
         onlyInteger="{{true}}"
         onlyPositive="{{true}}"
         maxLength="{{4}}"
         tooltip="{[НастройщикИмпорта@@Номер строки]}"
      />
      {[НастройщикИмпорта@@строки и учитывать символы-разделители]}
      <SBIS3.CONTROLS.TextBox
         name="controls-ImportCustomizer-Provider-View__separator"
         className="controls-ImportCustomizer-Provider-View__separator"
         text="{{'separator'|mutable }}"
         maxLength="{{1}}"
         trim="{{true}}"
         tooltip="{[НастройщикИмпорта@@Символы-разделители]}"
      />
   </div>
</div>