<div class="controls-Menu__Popup controls-ImageOptionsPanel">
   <SBIS3.CONTROLS.Link
      name="replaceButton"
      class="controls-ImageOptionsPanel__changeButton"
      tooltip="{[Заменить]}"
      caption="{[Заменить]}"
      icon="sprite:icon-16 icon-PicBtr icon-primary"
   />
   <SBIS3.CONTROLS.Commands.CommandsButton
      name="commandsButton"
      class="controls-ImageOptionsPanel__commandsButton"
      pickerClassName="controls-ImageOptionsPanel__commandsButton__picker"
      items="{{ [
         {'id':'template', 'title':rk('Сменить шаблон'), 'icon':'icon-16 icon-PicLeftT icon-primary', 'visible':!!templates},
         {'id':'size', 'title':rk('Изменить размер'), 'icon':'sprite:icon-16 icon-FullScrin icon-primary'},
         {'id':'edit', 'title':rk('Редактировать'), 'icon':'sprite:icon-16 icon-Edit icon-primary', 'visible':!!imageUuid},
         {'id':'change', 'title':rk('Заменить'), 'icon':'sprite:icon-16 icon-PicBtr icon-primary'},
         {'id':'delete', 'title':rk('Удалить'), 'icon':'sprite:icon-16 icon-Erase icon-error'}
      ] }}"
   />
</div>