.controls-informationIcon {
   position: absolute;
   right: 0;
   top: 0;
   .controls-Button__icon {
      .icon-size(@font-size_TextBox-InformationIcon);
      position: absolute;
      right: 0;
   }
}