<span>
   <ws:partial template="{{_options.content}}"/>
   <ws:if data="{{_options.tagStyle}}">
      <span on:mouseenter="_mouseenterInputTagHandler()">
         <SBIS3.CONTROLS.Button.IconButton
            name="informationIcon"
            icon="icon-size icon-Listbox"
            allowChangeEnable="{{false}}"
            on:onActivated="_activatedInputTagHandler()"
            className="controls-informationIcon icon-{{_options.tagStyle}}"
         />
      </span>
   </ws:if>
</span>