<div class="controls-DialogHelper">
    <ws:Controls.Popup.Opener.Dialog name="opener">
        <ws:popupOptions template="js!Controls/Windows/Submit" isModal="{{true}}"></ws:popupOptions>
    </ws:Controls.Popup.Opener.Dialog>
</div>