{{/* Привязка данных к полям базы */}}
<div class="controls-ImportCustomizer-ColumnBinding-View">
   <div class="controls-ImportCustomizer-ColumnBinding-View__title">{[НастройщикИмпорта@@Настройка колонок]}</div>
   <SBIS3.CONTROLS.DataGridView
      name="controls-ImportCustomizer-ColumnBinding-View__grid"
      class="controls-DataGridView__hasSeparator controls-ListView__disableHover controls-ListView__withoutMarker controls-ImportCustomizer-ColumnBinding-View__grid"
      items="{{_rows}}"
      idProperty="id"
      columns="{{_columns}}"
      itemsActions="{{[]}}"
      startScrollColumn="{{1}}"
   />
</div>