.controls-EditAtPlaceV {
  position:relative;
  display: inline-block;
}
.controls-EditAtPlaceV__Toolbar {
  position: absolute;
  bottom:0;
  padding: 4px 0px;
  right: 0;
}
.controls-EditAtPlaceV__withToolbar {
  box-sizing: border-box;
  min-height: 32px;
  padding: 4px 64px 4px 0px; // (24+8) * 2
}
.controls-EditAtPlaceV_isEditing_style_withBackground {
  background-color: #f3f3f3;
  border-radius: 4px;
};
.controls-EditAtPlaceV__Toolbar__Button {
  margin: 0px 4px;
};

.controls-EditAtPlaceV__editorWrapper {
  min-width: 0;
}

.controls-EditAtPlaceV__Text {
  .baseline-fix();
  flex-shrink: 1;
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  margin: 0 5px;
  width: 100%;
}

.controls-EditAtPlaceV__Text_enabled {
  border-top: 1px solid transparent;
  border-bottom: 1px  dashed @edit-at-place-field-border-color;
}
.controls-EditAtPlaceV__Text_withoutBorder {
  border-bottom: 1px  dashed transparent;
}
.ws-is-no-touch {
  .controls-EditAtPlaceV__Text_enabled:hover {
    border-bottom-color: transparent;
  }
}