<div class="removeDemo">
    <Controls.List
            class="removeDemo__list"
            name="list"
            markedKey="{{2}}"
            itemActions="{{_itemActions}}"
            source = "{{_viewSource}}"
            idProperty="id">
    </Controls.List>
</div>