<div class="controls-FilterPanelChooser__beforeChooserWrapper">
    <SBIS3.CONTROLS.Filter.Panel.components.Boolean name="controls-FilterPanelChooser__favoritesCheckBox"
                                          caption="{{'Избранные (' + favorites.getCount() + ')'}}"
                                          count="{{ favoritesCount }}"
                                          value="{{ favoritesIsChecked }}"    >
    </SBIS3.CONTROLS.Filter.Panel.components.Boolean>
</div>