.controls-Suggest {
  cursor: @combo-box-cursor;

  &.ws-disabled,
  &.ws-disabled:hover {
    cursor: @combo-box-disabled-cursor;
  }
}

.controls-Suggest__picker {
  border: @combo-box-picker-border;
  .border-radius(@combo-box-picker-border-radius);
  margin: @combo-box-picker-margin;

  .controls-Suggest__itemRow {
    cursor: @combo-box-cursor;
    padding: @combo-box-picker-item-padding;
    font: @combo-box-picker-item-font;
    color: @combo-box-picker-item-text-color;
    background: @combo-box-picker-item-bg;

    &.controls-Suggest__itemRow__selected {
      color: @combo-box-picker-item-selected-text-color;
      background: @combo-box-picker-item-selected-bg;
    }

    &:hover {
      color: @combo-box-picker-item-hover-text-color;
      background: @combo-box-picker-item-hover-bg;
    }
  }
}