.controls-Suggest {
  &__loadingContainer {
    position: relative;
  }

  &__loadingIndicator {
    background: @suggest-loading-bg;
    background-size: contain;
    height: @suggest-loading-height;
    position: absolute;
    right: @suggest-loading-right;
    top: @suggest-loading-top;
    width: @suggest-loading-width;
  }
}
.controls-FloatArea.controls-Suggest__picker {
  width: @suggest-picker-standard-width;
  border: @suggest-picker-border;
  margin: @suggest-picker-margin;

  &.controls-popup-revert-vertical {
    .controls-ListView {
      .controls-ListView__itemsContainer, .controls-DataGridView__tbody {
        .transform(rotate(@suggest-picker-invertVal));

        /* Надо перевернуть именно элементы в listView, а не все подрят, поэтому селектор только по дочерним */
        > .controls-ListView__item {
          .transform(rotate(@suggest-picker-invertVal));
        }
      }
    }
  }
}

.controls-suggestShowAll {
  overflow: auto;
}