.controls-Suggest__loadingIndicator {
  background: @suggest-loading-bg;
  background-size: contain;
  background-position: center;
  height: 100%;
  .order(-1);
  width: @suggest-loading-width;
  margin-right: @suggest-loading-right;
}

//Чтобы не зависеть от стилей FloatArea
.controls-FloatArea.controls-Suggest__picker {
  background: @suggest-picker-bg-color;
  border-width: @default-border-width;
  border-style: solid;
  border-color: @suggest-picker-border-color;
  width: @suggest-picker-standard-width;
  color: @suggest-picker-color;
}

.controls-Suggest__picker {
  margin-top: @suggest-picker-margin;
  .box-shadow(@suggest-picker-box-shadow);
  box-sizing: border-box;
  
  &.controls-popup-revert-vertical {
    .box-shadow(@suggest-picker-box-shadow-reverted);
    margin-top: @suggest-picker-margin-reverted;
  }

  .controls-ListView {
    .controls-ListView__EmptyData {
      padding: @suggest-list-empty-padding;
      color: @suggest-list-empty-color;
    }

    .controls-ListView__footer {
      max-height: @suggest-list-footer-height;
      line-height: @suggest-list-footer-height;
      padding: @suggest-list-footer-padding;
    }
  }
}

.controls-suggestShowAll__selectButton {
  float: right;
  margin: 8px 40px 0 0;
}