.controls-SelectedCollection__infobox_content {
    height: 100%;
}

.controls-SelectedCollection__infobox_content .controls-InfoBoxTemplate__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-width: none;
}

.controls-SelectedCollection__header_wrapper_theme-@{themeName} {
    font-size: @font-size_m;
    line-height: @inline_height_m;
    padding-left: @content_padding-horizontal_infobox;
    padding-top: @close-button_offset-top_infobox;
}

.controls-SelectedCollection__in_popup {
    font-size: @font-size_m;
    padding: 0 @content_padding-horizontal_infobox @content_padding-vertical_infobox;
}

.controls-SelectedCollection__collection_multiLine.controls-SelectedCollection__in_popup {
    display: inline-block;
}

.controls-SelectedCollection__scroll {
    flex-shrink: 1;
}
