.controls-OperationsButton {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   color: @color_OperationsButton__icon;
   cursor: pointer;
   width: @width_OperationsButton;
   height: @height_OperationsButton;
   font-size: @font-size_OperationsButton__icon;
   font-family: @icon-font;

   &:hover {
      color: @color_OperationsButton__icon_hovered;
   }
}
.controls-OperationsButton_readonly {
   color: @color_OperationsButton__icon_readonly;
   &:hover {
      color: @color_OperationsButton__icon_readonly;
   }
}