.controls-CodeSampleDialog {
   border: 1px solid #CCCCCC;
   padding: 0px;
   &.controls-FloatArea.controls-popup-revert-vertical{
      flex-direction: column;
   }

   .controls-CodeSampleDialog__header {
      width: auto;
      padding: 12px 0 0 0;
      min-height: 24px;

      .controls-CodeSampleDialog__title {
         font-weight: bold;
         font-size: 15px;
         width: auto;
         padding: 0 16px;
         display: inline-block;
         color: @blue-dark-color;
      }
   }
   .controls-CodeSampleDialog__area {
      width: 100%;
   }
   .controls-CodeSampleDialog__area_wrap {
      width: 600px;
      padding: 16px 16px 12px 16px;
   }
   .controls-CodeSampleDialog__type_wrap {
      width: 320px;
      padding: 8px 8px 0px 16px;
   }
   .controls-CodeSampleDialog__applyButton {
      position: absolute;
      top: 6px;
      right: 48px;
   }
}