<div class="controls-PrintDialog">
    <div class="ws-window-titlebar-custom controls-PrintDialog__titlebar">
        <ws:SBIS3.CONTROLS.Button caption="Распечатать"
                                  primary="{{ true }}"
                                  command="print"
                                  class="controls-PrintDialog__button" />
    </div>
    <ws:SBIS3.CONTROLS.ScrollContainer cssClassName="controls-PrintDialog__scrollContainer">
        <ws:content>
            <ws:SBIS3.CORE.HTMLView class="controls-PrintDialog__content"
                                    minWidth="{{ minWidth }}"
                                    minHeight="{{ minHeight }}"
                                    autoHeight="{{ true }}"
                                    autoWidth="{{ true }}"
                                    verticalAlignment="Top"
                                    horizontalAlignment="Left"
                                    name="controls-PrintDialog-print-report"/>
        </ws:content>
    </ws:SBIS3.CONTROLS.ScrollContainer>
</div>