.controls-DropdownList__popup {
   .flexbox();
   .flex-direction(column);
   max-width: @max-width_DropdownList;
   border: @border-width_DropdownList solid @border-color_DropdownList;
   background: @background_DropdownList;
   box-sizing: border-box;
   max-height: 100%;
}

.controls-DropdownList__popup-shadow-default {
   box-shadow: @box-shadow-color_DropdownList @box-shadow-size_DropdownList-shadowStyle_center;
}

.controls-DropdownList__popup-top.controls-DropdownList__popup-shadow-suggestionsContainer{
   box-shadow: @box-shadow-color_DropdownList @box-shadow-size_DropdownList-shadowStyle_centerTop;
}

.controls-DropdownList__popup-bottom.controls-DropdownList__popup-shadow-suggestionsContainer{
   box-shadow: @box-shadow-color_DropdownList @box-shadow-size_DropdownList-shadowStyle_centerBottom;
}

.controls-DropdownList__scroll {
   height: 100%;
   flex-shrink: 1;
   padding: @spacing_DropdownList-between-topBorder-content 0 @spacing_DropdownList-between-bottomBorder-content 0;
}

.controls-DropdownList__row {
   cursor: pointer;
   position: relative;
   min-height: @height_DropdownList-row;
   .flexbox();
   .align-items(center);
   padding-left: @spacing_DropdownList-item-between-leftBorder-content;
   font-size: @font-size_DropdownList;
   box-sizing: border-box;
}

.controls-DropdownList__row:active {
   background: @background_DropdownList-row_active;
}

//не удалять, высота необходима, чтобы корректно работал align-items:center в IE
.controls-DropdownList__row_singleLine {
   height: @height_DropdownList-row;
}

.controls-DropdownList__emptyItem {
   color: @color_DropdownList-emptyItem;
}

.controls-DropdownList__item-right_default-padding {
   padding-right: @spacing_DropdownList-item-between-rightBorder-content;
}

.controls-DropdownList__item-right_hierarchy-padding {
   padding-right: @spacing_DropdownList-withNodes-item-between-rightBorder-content;
}

.controls-DropdownList__item-right_close-padding {
   padding-right: @spacing_DropdownList_withClose-item-between-rightBorder-content;
}

.controls-DropdownList__row_pinned {
   font-weight: bold;
}

.controls-DropdownList__content {
   font-size: @font-size_DropdownList;
}

.controls-DropdownList__content_singleLine {
   .text-overflow();
}

.controls-DropdownList__selected:after {
   content: '';
   background: @background_DropdownList-marker;
   width: @width_DropdownList-marker;
   height: @height_DropdownList-marker;
   position: absolute;
   left: 0;
   top: ~"calc(50% - "@height_DropdownList-marker/2~")";
}

.controls-DropdownList__icon {
   margin-right: @spacing_DropdownList-item-between-icon-text;
}

.controls-DropdownList__head {
   font-size: @font-size_DropdownList;
   font-weight: bold;
   background: @background_DropdownList-header;
   color: @color_DropdownList-heading;
   height: @height_DropdownList-row;
   padding: 0 @spacing_DropdownList-item-between-rightBorder-content 0 @spacing_DropdownList-item-between-leftBorder-content;
   cursor: pointer;
   .flexbox();
   .align-items(center);
   .flex-shrink(0);
}

.controls-DropdownList-header-caption {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.controls-DropdownList__header-icon {
   margin-left: @spacing_DropdownList-header-between-icon-text;
}

.controls-DropdownList__subMenu_margin {
   margin-top: @shift-top_DropdownList-submenu;
}

.controls-DropdownList__arrow {
   .inline-flexbox();
   .align-items(center);
   position: absolute;
   top: @spacing_DropdownList-item-between-arrow-topBorder;
   right: @spacing_DropdownList-item-between-arrow-rightBorder;
   .icon-size(@icon-size_DropdownList-arrow);
   color: @color_DropdownList-arrow;
   .box-sizing(border-box);
}

.controls-DropdownList-cross {
   position: absolute;
   right: @spacing_DropdownList-between-close-rightBorder;
   top: @spacing_DropdownList-between-close-topBorder;
   z-index: 2;
}

.controls-DropdownList-header {
   .flexbox();
   .align-items(center);
   overflow: hidden;
}

.controls-MenuButton-duplicate-header {
   position: absolute;
   .box-sizing(border-box);
   .flexbox();
   .justify-content(center);
   .align-items(center);
   z-index: 2;
}

.control-MenuButton-duplicate-head_medium {
   top: @spacing_DropdownList-iconSize_medium-between-iconHead-topBorder;
   left: @spacing_DropdownList-iconSize_medium-between-iconHead-leftBorder;
}

.control-MenuButton-duplicate-head_small {
   top: @spacing_DropdownList-iconSize_small-between-iconHead-topBorder;
   left: @spacing_DropdownList-iconSize_small-between-iconHead-leftBorder;
}

.controls-DropdownList__head-left {
   .flex-direction(row-reverse);
}

.controls-DropdownList__popup-top {
   .flex-direction(column-reverse);
}

.ws-is-no-touch {
   .controls-DropdownList__row:hover {
      background: @background_DropdownList-row_hover;
   }
}

.controls-Toolbar__menu-position {
   margin-top: @shift-top_Toolbar-popup;
   margin-left: @shift-left_Toolbar-popup;
}

.controls-DropdownList__additional {
   display: flex;
   justify-content: center;
   align-items: center;
   height: @height_DropdownList-arrowSeparator;
}

.controls-DropdownList__additional-button {
   cursor: pointer;
}

.controls-DropdownList__icon_style_secondary {
   color: @color_DropdownList-icon-iconStyle_secondary;
}

.controls-DropdownList__icon_style_warning {
   color: @color_DropdownList-icon-iconStyle_warning;
}

.controls-DropdownList__icon_style_danger {
   color: @color_DropdownList-icon-iconStyle_danger;
}

.controls-DropdownList__icon_style_success {
   color: @color_DropdownList-icon-iconStyle_success;
}

.controls-DropdownList__group_separator {
   border-bottom: @thickness_DropdownList-group-separator solid @color_DropdownList-group-separator;
   margin-top: @spacing_DropdownList-group-between-content-topBorder;
   margin-right: @spacing_DropdownList-group-between-content-rightBorder;
   margin-bottom: @spacing_DropdownList-group-between-content-bottomBorder;
   margin-left: @spacing_DropdownList-group-between-content-leftBorder;
}

.controls-DropdownList__group_separator_left, .controls-DropdownList__group_separator_right {
   border-bottom: @thickness_DropdownList-group-separator solid @color_DropdownList-group-separator;
   height: @height_DropdownList-group-separator;
   width: 100%;
}

.controls-DropdownList__group_separator_left {
   flex-shrink: 1;
   margin-right: @spacing_DropdownList-group-between-text-separator;
}

.controls-DropdownList__group_separator_right {
   flex-shrink: 1;
   margin-left: @spacing_DropdownList-group-between-text-separator;
}

.controls-DropdownList__group_content {
   display: flex;
   margin-top: @spacing_DropdownList-group-between-content-topBorder;
   margin-right: @spacing_DropdownList-group-between-content-rightBorder;
   margin-bottom: @spacing_DropdownList-group-between-content-bottomBorder;
   margin-left: @spacing_DropdownList-group-between-content-leftBorder;
   align-items:center;
}

.controls-DropdownList__group_content-text {
   display: inline-block;
   color: @color_DropdownList-group-text;
   font-size: @font-size_DropdownList-group-text;
   white-space: nowrap;
   text-align: center;
   flex-shrink: 0;
}
