<div class="controls-DropdownList__popup" depth="{{_options.depth}}">
   <div if="{{_options.headTemplate}}" class="controls-DropdownList__header">
      <ws:partial template="{{_options.headTemplate}}" />
   </div>
   <Controls:Container:Scroll attr:class="controls-ScrollContainer__flex controls-DropdownList__scroll">
      <ws:content>
         <ws:partial template="tmpl!Controls/Dropdown/resources/template/For" listModel="{{_listModel}}"
                     itemTemplate="{{_options.itemTemplate}}" defaultItemTemplate="{{_defaultItemTemplate}}" resultHandler="{{resultHandler}}"></ws:partial>
      </ws:content>
   </Controls:Container:Scroll>
   <div if="{{_options.footerTemplate}}" class="controls-DropdownList__footer" on:click="_footerClick()">
      <ws:partial template="{{_options.footerTemplate}}" />
   </div>
</div>

