<div>
   <ws:if data="{{listModel.getEmptyItem()}}">
      <ws:partial
              template="{{itemTemplate || defaultItemTemplate}}"
              itemData="{{listModel.getEmptyItem()}}"
              resultHandler="{{resultHandler}}"
              hideCross="{{hideCross}}"
              class="controls-DropdownList__emptyItem"/>
   </ws:if>
   <ws:for data="listModel.reset(); listModel.isEnd(); listModel.goToNext();">
      <ws:partial
         template="{{listModel.getCurrent().template || itemTemplate || defaultItemTemplate}}"
         itemData="{{listModel.getCurrent()}}"
         resultHandler="{{resultHandler}}"
         hideCross="{{hideCross}}"
         parentProperty="{{parentProperty}}"
         iconPadding="{{iconPadding}}"/>
   </ws:for>
</div>
