<div>
   <ws:for data="listModel.reset(); listModel.isEnd(); listModel.goToNext();">
      <ws:partial
         template="{{listModel.getCurrent().template || itemTemplate || defaultItemTemplate}}"
         itemData="{{listModel.getCurrent()}}"
         resultHandler="{{resultHandler}}"
         hierarchyPadding="{{hierarchyPadding}}"
         parentProperty="{{parentProperty}}"
         iconPadding="{{iconPadding}}"
         class="controls-DropdownList__{{listModel.getCurrent().emptyText ? 'emptyItem' : 'defaultItem'}}"/>
   </ws:for>
</div>
