<div attr:class="controls-DropdownList__row {{itemData.isSelected ? 'controls-DropdownList__selected'}} controls-DropdownList__item-right_{{itemData.hasChildren || hierarchyPadding ? 'hierarchy-padding': 'default-padding'}}">
   <ws:if data="{{itemData.icon || (iconPadding[itemData.getPropValue(itemData.item, parentProperty)])[1]}}">
      <div class="controls-DropdownList__icon controls-DropdownList__icon_style_{{itemData.iconStyle || 'default'}} {{(iconPadding[itemData.getPropValue(itemData.item, parentProperty)])[1]}} {{itemData.icon}}"></div>
   </ws:if>

   <div class="controls-DropdownList__content">
      <ws:if data="{{contentTemplate}}">
         <ws:partial
               template="{{contentTemplate}}"
               itemData="{{itemData}}" />
      </ws:if>
      <ws:else>
         <div>{{itemData.getPropValue(itemData.item, displayProperty || 'title')}}</div>
      </ws:else>
   </div>
   <div if="{{itemData.hasChildren}}" class="controls-DropdownList__arrow icon-MarkCRightLight"></div>
</div>