.controls-DropdownOpener {
   .flexbox();
   .flex-direction(column);
   max-height: @max-height_DropdownOpener;
   border: 1px solid @border-color_DropdownOpener;
   background: @background_DropdownOpener ;
   .box-shadow(@shadow_DropdownOpener)
}
.controls-DropdownOpener__scroll {
   max-height: 100%;
}

.controls-DropdownOpener__item {
   cursor: pointer;
   position: relative;
   color: @color_DropdownOpener-item;
   min-height: @height_DropdownOpener;
   .flexbox();
   .align-items(center);
   padding: @padding_DropdownOpener-item;
   font-size: @font-size_DropdownOpener;
   box-sizing: border-box;
   &:hover {
      background: @background_DropdownOpener-item_hover;
   }
}

.controls-DropdownOpener__text {
   font-size: @font-size_Link;
}

.controls-DropdownOpener__selected:after {
   content: '';
   background: @background_DropdownOpener-marker;
   width: @width_DropdownOpener-marker;
   height: @height_DropdownOpener-marker;
   position: absolute;
   left: 0;
   top: ~"calc(50% - "@height_DropdownOpener-marker/2~")";
}

.controls-DropdownOpener__icon {
   margin-right: @margin_DropdownOpener-icon;
}

.controls-DropdownOpener__header {
   font-size: @font-size_DropdownOpener;
   font-weight:bold;
   background: #f4f4f4;
   color: #313E78;
   height: 32px;
   .flexbox();
   .align-items(center);
   .justify-content(center);
   .flex-shrink(0);
}

.controls-DropdownOpener__margin {
   margin-top: @margin-top_DropdownOpener;
   margin-left: @margin-left_DropdownOpener;
}

.controls-DropdownOpener__subMenu_margin {
   margin-top: -1px;
}