<ws:Controls.Input.resources.InputRender.InputRender
   value="{{_options.value}}"
   viewModel="{{_viewModel}}"
   tagStyle="{{_options.tagStyle}}"
   placeholder="{{_options.placeholder}}"
>
   <ws:content>
      <ws:partial
         template="tmpl!Controls/Input/resources/input"
         enabled="{{isEnabled()}}"
         value="{{_options.value}}"
      />
   </ws:content>
</ws:Controls.Input.resources.InputRender.InputRender>