.controls-Input-Mask {
   position: relative;
   display: inline-flex;
   flex-direction: column;
}

.controls-Input-Mask__stretcher {
   height: 0;
   white-space: pre;
   visibility: hidden;
   padding: @paddings_Mask-stretcher;
}

.controls-Input-Mask__wrapper__absolute .controls-InputBase__field {
   position: absolute;
   height: 100%;
   top: 0;
}
.controls-Input-Mask__wrapper__relative {
   position: relative;
}
