<div class="controls-LinkSelector">
    <SBIS3.CONTROLS.Link name="linkSelector.link" class="blue-dark-color" caption="{{caption}}"/>
    <SBIS3.CONTROLS.Action.SelectorAction mode="{{selectMode}}" name="linkSelector.selectorAction" visible="{{false}}"/>
</div>