<div class="controls-CompositeView__listItem controls-ListView__item js-controls-ListView__item {{className}}"
     style="{{decorators.apply(color, 'color')}}"
     data-hash="{{projItem.getHash()}}"
     data-id="{{item.getId()}}"
>
   <ws:partial template="{{listContent}}" scope="{{...}}"/>
</div>