<div class="controls-ListView__itemCheckBox js-controls-ListView__itemCheckBox {{_options.alwaysShowCheckboxes ? ' controls-ListView__itemCheckBox__showAlways' : ' controls-ListView__itemCheckBox__showByHover'}}"></div>
<div class="controls-CompositeView__tileImg-container">
   <img class="controls-CompositeView__tileImg" src="{{item.get(image) || resourceRoot + 'SBIS3.CONTROLS/themes/online/img/defaultItem.png'}}"/>
</div>
<div class="controls-CompositeView__tileTitle">
   <div class="controls-CompositeView__tileTitle-text" style="{{decorators.apply(color, 'color')}}">
      {{decorators.apply(item.get(description))}}
   </div>
</div>