<div class="controls-MasterDetail">
   <ws:partial
      attr:class="controls-MasterDetail_master"
      template="{{_options.master}}"
      bind:selectedMasterValue="_selected"/>
   <ws:partial
      template="{{_options.detail}}"
      selectedMasterValue="{{_selected}}"/>
</div>
