.controls-MasterDetail {
  display: flex;
  border-top: 1px solid #eaeaea;
  position: relative;
}

.controls-MasterDetail__masterContainer {
  flex-shrink: 0;
}

.controls-MasterDetail__detailContainer {
  flex-grow: 1;
}

