<div>
   <ws:partial
      template="{{_options.master}}"
      bind:selectedMasterValue="_selected"/>
   <ws:partial
      template="{{_options.detail}}"
      selectedMasterValue="{{_selected}}"/>
</div>
