<div class="controls-MasterDetail">
   <div class="controls-MasterDetail__masterContainer">
      <ws:partial template="{{ _options.master }}" bind:selectedMasterField="_selected"/>
   </div>
   <div class="controls-MasterDetail__detailContainer">
      <ws:partial template="{{ _options.detail }}" selectedMasterField="{{ _selected }}" />
   </div>
</div>
