.tabs-separator() {
  &:after {
    pointer-events: none;
    content: '\200b';
    position: absolute;
    top: calc(50% ~'-' @height_Tabs_separator / 2);
    border-style: solid;
    border-color: @border-color_Tabs_separator;
    border-width: 0 @border-width_Tabs 0 0;
    height: @height_Tabs_separator;
  }
}
.tabs-baseline() {
  &:before {
    content: '\200b'; //zero width space
    width: 0;
    display: inline-block;
    visibility: hidden;
    font-size: @font-size_Tabs_Magic_fix;//why so magic
  }
}
.controls-Tabs {
  .inline-flexbox();
  .justify-content(flex-end);
  width: 100%;
  height:@height_Tabs;
}
.controls-Tabs__space {
  .inline-flexbox();
  .flex-shrink(1);
  .box-sizing();
  .align-items(baseline);
  .tabs-baseline();
  width:100%;
  height:100%;
  order: 20;
  border-style: solid;
  border-color: transparent transparent @border-color_Tabs transparent;
  border-width: @border-width_Tabs 0 @border-width_Tabs 0;
}
.controls-Tabs__item {
  .inline-flexbox();
  .flex-shrink(0);
  .align-items(baseline);
  .box-sizing();
  .tabs-baseline();
  height: 100%;
  position: relative;
  border-style: solid;
  border-width: @border-width_Tabs 0;
  padding: @padding_Tabs_item;
  border-color: transparent;
  font-size: @font-size_Tabs_item;
  color: @color_Tabs;
  cursor: pointer;
  max-width: @max-width_Tabs_item;
  white-space: nowrap;
}
.controls-Tabs__item_state_default {
  .user-select();
  border-bottom-color: @border-color_Tabs;
  &:hover {
    box-shadow: inset 0 -@shadow-offset-y_tabs_item_hover_selected 0 0 @border-color_Tabs_item_hover;
    border-bottom-color: @border-color_Tabs_item_hover;
    z-index: 1;
  }
}
.controls-Tabs__item_state_selected {
  font-weight: bold;
  font-size: @font-size_Tabs_item_selected;
  z-index: 2;
}
.controls-Tabs__item_align_left {
  .tabs-separator();
  margin-left: -@border-width_Tabs;
  &:after {
    right: 0;
  }
}
.controls-Tabs__item_align_right {
  .tabs-separator();
  margin-right: -@border-width_Tabs;
  &:after {
    left: 0;
  }
}
.controls-Tabs__item_extreme {
  margin-right:0;
  margin-left: 0;
}
/* style = default */
.controls-Tabs_style_default__item_state_selected {
  box-shadow: inset 0 -@shadow-offset-y_tabs_item_hover_selected 0 0 @border-color_Tabs_item_selected_default;
  border-bottom-color: @border-color_Tabs_item_selected_default;
  color: @color_Tabs_item_selected_default;
}
/* style = additional */
.controls-Tabs_style_additional__item_state_selected {
  box-shadow: inset 0 -@shadow-offset-y_tabs_item_hover_selected 0 0 @border-color_Tabs_item_selected_additional;
  border-bottom-color: @border-color_Tabs_item_selected_additional;
  color: @color_Tabs_item_selected_additional;
}
.controls-Tabs__item_overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: inline-block;
}