<ws:SBIS3.CONTROLS.RadioGroup name="controls-FilterPanelChooser__RadioGroup"
                            className="controls-ButtonGroup__vertical"
                            displayProperty="{{ displayProperty }}"
                            keyField="{{ keyField }}"
                            items="{{ items }}"
                            allowEmptySelection = "true"
                            selectedKey="{{ value || [] }}">
</ws:SBIS3.CONTROLS.RadioGroup>