<ws:partial template="tmpl!SBIS3.CONTROLS/DropdownList/DropdownListItem"
            scope="{{...}}"
            attr:class="{{ item.get && item.get('pinned') ? ' controls-DropdownList-item-pinned'}}
                        {{(item.get && !item.get('visible')) ? ' ws-hidden'}}"
/>