<ws:template name="displayContent">
    <ws:if data="{{_options.cachedContent}}">
        <ws:for data="item in _items">
            <Controls.Container.Async attr:class="{{hideNotSelectedContent(item)}}"  templateName="{{item.get(currentTemplate)}}" templateOptions="{{_options}}"/>
        </ws:for>
    </ws:if>
    <ws:else>
        <Controls.Container.Async templateName="{{_items.getRecordById(_options.tabsSelectedKey).get(currentTemplate)}}" templateOptions="{{_options}}"/>
    </ws:else>
</ws:template>

<div class="controls-PageLayout">
    <div attr:class="controls-PageLayout_wrapper">
        <ws:partial template="displayContent" currentTemplate="controlPanelTemplate"/>
        <ws:if data="{{_items.getCount() > 1}}">
            <div attr:class="controls-PageLayout__ButtonTabs_wrapper">
                <Controls.Tabs.Buttons
                        bind:selectedKey="_options.tabsSelectedKey"
                        keyProperty="id"
                        source="{{_options.tabsSource}}"
                />
            </div>
        </ws:if>
    </div>
    <ws:partial template="displayContent" currentTemplate="content"/>
</div>