<div class="controls-PageLayout">
    <div attr:class="controls-PageLayout_wrapper">
        <ws:if data="{{getCurrentControlPanel()}}">
            <ws:partial attr:class="controls-PageLayout__ControlsArea" template="{{getCurrentControlPanel()}}"/>
        </ws:if>
        <ws:if data="{{_options.tabsSource}}">
            <div attr:class="controls-PageLayout__ButtonTabs_wrapper">
                <Controls.Tabs.Buttons
                        bind:selectedKey="_tabsSelectedKey"
                        keyProperty="id"
                        source="{{_options.tabsSource}}"
                />
            </div>
        </ws:if>
    </div>
    <Controls.Container.Async templateName="{{getCurrentTabContent()}}" templateOptions="{{_options}}"/>
</div>