<div style="display: flex;margin: 50px;">
   <Controls:Popup:Opener:Confirmation name="popupOpener"/>

   <div on:click="_message()" style="padding: 8px;background: #00c000;margin: 4px;cursor:pointer;">Message</div>
   <div on:click="_confirm()" style="padding: 8px;background: #00c000;margin: 4px;cursor:pointer;">Confirm</div>
</div>