<div>
	baseline <Controls:Input:Text bind:value="_text1" /> goes <Controls:Input:Text bind:value="_number1" /> here
   <Controls:Input:Password bind:value="_pass1" />
   <Controls:Input:Area bind:value="_area1" minLines="2" />
</div>