.controls-FilterLink {
   display: inline-flex;
   align-items: center;
   flex-shrink: 0;
}

.controls-FilterLink {
   height: var(--item_height_filterPanel);
}

.controls-FilterLink__text {
   cursor: pointer;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

.controls-FilterLink__text {
   color: var(--item_text-color_filterPanel);
   font-size: var(--item_font-size_filterPanel);
}

.ws-is-hover {
   .controls-FilterLink__text:hover {
      text-decoration: underline;
   }

   .controls-FilterLink__text:hover {
      color: var(--item_hover_text-color_filterPanel);
   }
}

.controls-FilterLink__text:active {
   text-decoration: underline;
}

.controls-FilterLink__text:active {
   color: var(--item_active_text-color_filterPanel);
}
