<ws:for data="listModel.reset(); listModel.isEnd(); listModel.goToNext();">
      <ws:partial
              on:click="_onItemClick(listModel.getCurrent().dispItem)"
              on:contextmenu="_onItemContextMenu(listModel.getCurrent())"
              on:swipe="_onItemSwipe(listModel.getCurrent())"
              itemActionsTemplate="{{itemActionsTemplate}}"
              swipeTemplate="{{swipeTemplate}}"
              multiSelectTpl="{{multiSelectTpl}}"
              itemTemplate="{{itemTemplate}}"
              template="tmpl!Controls/List/ItemTemplateWrapper"
              contentTemplate="{{itemContentTemplate}}"
              itemData="{{listModel.getCurrent()}}"/>
</ws:for>