<ws:for data="listModel.reset(); listModel.isEnd(); listModel.goToNext();">
      <ws:if data="{{listModel.getDragTargetPosition() &&
                     listModel.getDragTargetPosition().index === listModel.getCurrentIndex() &&
                     listModel.getDragTargetPosition().position === 'before'}}">
            <ws:partial
                    multiSelectTpl="{{multiSelectTpl}}"
                    template="{{itemTemplate}}"
                    contentTemplate="{{itemContentTemplate}}"
                    itemData="{{listModel.getDraggingItemData()}}"/>
      </ws:if>
      <ws:if data="{{listModel.getCurrent().isGroup}}">
         <ws:partial
                 template="{{groupTemplate}}"
                 on:click="_onGroupClick(listModel.getCurrent().dispItem)"
                 itemData="{{listModel.getCurrent()}}"/>
      </ws:if>
      <ws:else>
         <ws:if data="{{listModel.getCurrent().isVisible !== false}}">
            <ws:partial
               on:click="_onItemClick(listModel.getCurrent().dispItem)"
               on:contextmenu="_onItemContextMenu(listModel.getCurrent())"
               on:swipe="_onItemSwipe(listModel.getCurrent())"
               on:mousedown="_onItemMouseDown(listModel.getCurrent())"
               on:mouseenter="_onItemMouseEnter(listModel.getCurrent())"
               itemActionsTemplate="{{itemActionsTemplate}}"
               groupTemplate="{{groupTemplate}}"
               swipeTemplate="{{swipeTemplate}}"
               multiSelectTpl="{{multiSelectTpl}}"
               itemTemplate="{{itemTemplate}}"
               template="tmpl!Controls/List/ItemTemplateWrapper"
               contentTemplate="{{itemContentTemplate}}"
               itemData="{{listModel.getCurrent()}}"
               actionsType="{{itemActionsType}}"/>
         </ws:if>
      </ws:else>
      <ws:if data="{{listModel.getDragTargetPosition() &&
                     listModel.getDragTargetPosition().index === listModel.getCurrentIndex() &&
                     listModel.getDragTargetPosition().position === 'after'}}">
            <ws:partial
                    multiSelectTpl="{{multiSelectTpl}}"
                    template="{{itemTemplate}}"
                    contentTemplate="{{itemContentTemplate}}"
                    itemData="{{listModel.getDraggingItemData()}}"/>
      </ws:if>
</ws:for>
<ws:if data="{{editingItemData && isAdd}}">
      <ws:partial
              on:click="_onItemClick(editingItemData.dispItem)"
              itemTemplate="{{itemTemplate}}"
              template="tmpl!Controls/List/ItemTemplateWrapper"
              itemActionsTemplate="{{itemActionsTemplate}}"
              swipeTemplate="{{swipeTemplate}}"
              multiSelectTpl="{multiSelectTpl}}"
              contentTemplate="{{itemContentTemplate}}"
              itemData="{{editingItemData}}"
              actionsType="{{itemActionsType}}"/>
</ws:if>