/*#0055BB*/

ol {
   margin: 20px;
}

.content {
   display: flex;
}

.content>div {
   overflow-y: auto;
   padding: 5px;
   border: 1px solid #ccc;
   margin-right: 10px;
   width: 350px;
   height: 250px;
}

.option {
   margin-bottom: 10px;
   width: 200px;
}

.basket {
   background: #e6e6e6;
   font-size: 22px;
   display: -webkit-box;
   display: -ms-flexbox;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   color: #989898;
}