<div>
   <ws:Controls.Input.resources.InputRender.InputRender
      name="inputRender"
      value="{{_value}}"
      placeholder="{{_options.placeholder}}"
      selectOnClick="{{_options.selectOnClick}}"
      viewModel="{{_textViewModel}}"
      tagStyle="{{_options.tagStyle}}"
      on:valueChanged="_changeValueHandler()"
      on:inputCompleted="_inputCompletedHandler()"
      on:tagHover="_notifyHandler('onTagHover')"
      on:tagClick="_notifyHandler('onTagClick')">
      <ws:content>

         <ws:partial
            template="tmpl!Controls/Input/resources/input"
            type="text"
            enabled="{{isEnabled()}}"
            value="{{_value}}"
         />

      </ws:content>
   </ws:Controls.Input.resources.InputRender.InputRender>
</div>
