<ws:Controls.Input.resources.TextRender.TextRender
   type="text"
   value="{{_value}}"
   enabled="{{isEnabled()}}"
   tagStyle="{{_options.tagStyle}}"
   placeholder="{{_options.placeholder}}"
   selectOnClick="{{_options.selectOnClick}}"
   getInputData="{{_getInputData}}"
   event:onChangeValue="_inputHandler()"
   event:onTagHover="_notifyHandler('onTagHover')"
   event:onTagClick="_notifyHandler('onTagClick')"
   event:onInputFinish="_notifyHandler('onInputFinish')">
   <ws:afterFieldWrapper>
       <ws:partial if="{{_afterFieldWrapper}}" template="{{_afterFieldWrapper}}" scope="{{...}}"/>
   </ws:afterFieldWrapper>
    <ws:beforeFieldWrapper>
        <ws:partial if="{{_beforeFieldWrapper}}" template="{{_beforeFieldWrapper}}" scope="{{...}}"/>
    </ws:beforeFieldWrapper>
</ws:Controls.Input.resources.TextRender.TextRender>