<ws:Controls.Input.resources.InputRender.InputRender
        value="{{_value}}"
        selectOnClick="{{_options.selectOnClick}}"
        viewModel="{{_textViewModel}}"
        tagStyle="{{_options.tagStyle}}"
        on:valueChanged="_changeValueHandler()"
        on:onInputCompleted="_inputCompletedHandler()"
        on:onTagHover="_notifyHandler('onTagHover')"
        on:onTagClick="_notifyHandler('onTagClick')">
   <ws:content>

      <ws:partial
         template="tmpl!Controls/Input/resources/input"
         type="text"
         enabled="{{isEnabled()}}"
         value="{{_value}}"
         placeholder="{{_options.placeholder}}"
      />

   </ws:content>
</ws:Controls.Input.resources.InputRender.InputRender>
