<div class="controls-ExportCustomizer-Area{{dialogMode ? ' controls-ExportCustomizer-Area_dialog' : ''}}">
   <ws:if data="{{dialogMode}}">
      <div class="controls-ExportCustomizer-Area__head ws-window-titlebar">
         <ws:if data="{{_scopes.presets}}">
            <SBIS3.CONTROLS.ExportCustomizer._Presets.View
               className="controls-ExportCustomizer-Area__presets"
               name="controls-ExportCustomizer-Area__presets"
               scope="{{_scopes.presets}}"
            />
         </ws:if>
         <ws:else>
            <div class="controls-ExportCustomizer-Area__head-title">
               <ws:if data="{{dialogTitle}}">{{dialogTitle}}</ws:if><ws:else>{[НастройщикЭкспорта@@Настройка экспорта]}</ws:else>
            </div>
         </ws:else>
         <SBIS3.CONTROLS.Button
            className="controls-ExportCustomizer-Area__completeButton"
            name="controls-ExportCustomizer-Area__completeButton"
            command="complete" primary="true"
            >
            <ws:caption>
               <ws:if data="{{dialogButtonTitle}}">{{dialogButtonTitle}}</ws:if><ws:else>{[НастройщикЭкспорта@@Выгрузить]}</ws:else>
            </ws:caption>
         </SBIS3.CONTROLS.Button>
      </div>
   </ws:if>
   <SBIS3.CONTROLS.ScrollContainer name="controls-ExportCustomizer-Area__scrollContainer" class="controls-ExportCustomizer-Area__body">
      <ws:content>
         <ws:if data="{{!dialogMode && _scopes.presets}}">
            <SBIS3.CONTROLS.ExportCustomizer._Presets.View
               className="controls-ExportCustomizer-Area__presets"
               name="controls-ExportCustomizer-Area__presets"
               scope="{{_scopes.presets}}"
            />
         </ws:if>
         <SBIS3.CONTROLS.ExportCustomizer._ColumnBinder.View
            className="controls-ExportCustomizer-Area__body__columnBinder"
            name="controls-ExportCustomizer-Area__body__columnBinder"
            scope="{{_scopes.columnBinder}}"
         />
         <SBIS3.CONTROLS.ExportCustomizer._Formatter.View
            className="controls-ExportCustomizer-Area__body__formatter"
            name="controls-ExportCustomizer-Area__body__formatter"
            scope="{{_scopes.formatter}}"
         />
      </ws:content>
   </SBIS3.CONTROLS.ScrollContainer>
</div>