<div class="controls-ExportCustomizer-MenuLink">
   <SBIS3.CONTROLS.Menu.MenuLink
      className="controls-ExportCustomizer-MenuLink__menuLink"
      name="controls-ExportCustomizer-MenuLink__menuLink"
      scope="{{_scope}}"
   />
</div>