<div>
   <Components:Validate:Form name="Form">
      <ws:content>
         <Components:Validate:Validate name="validate">
            <ws:validators>
               <ws:Function text="{{ myText }}">Components/Validators/IsRequiredDef</ws:Function>
               <ws:Function text="{{ myText }}">Components/Validators/IsEmail</ws:Function>
            </ws:validators>
            <ws:content>
               <DemoComponents:Validation:TextBox:TextBox bind:text="myText" name="textBox"/>
            </ws:content>
         </Components:Validate:Validate>
      </ws:content>
   </Components:Validate:Form>

   <button name="button" type="button" on:click="onclick()" value="submit">submit</button>
</div>