.controls-BreadCrumbs {
   position: relative;
   display: inline-block;
   white-space: nowrap;
	&__crumb{
		cursor: pointer;
		position: relative;
        margin-left: @bread-crumb-crumb-margin-left;
		&:hover{
			.controls-BreadCrumbs__title{
              color: @bread-crumb-title-hover-color !important;
              text-decoration: underline;
			}
			.controls-BreadCrumbs__arrow, .controls-BreadCrumbs__home {
				color: @bread-crumb-title-hover-color !important;
			}
		}
      &:first-child{
         margin-left: @bread-crumb-crumb-margin-left;
         .controls-BreadCrumbs__arrow.icon-size{
            width: 0;
            &:before{
               content: '';
            }
         }
      }
	}
    .controls-BreadCrumbs__crumb-home {
      top: @bread-crumb-crumb-home-top;
      margin-left: 0;
    }
    .controls-BreadCrumbs__home.icon-size {
      .icon-size(@bread-crumb-home-font-size);
    }

	.controls-BreadCrumbs__title{
		text-decoration: none;
		color: @bread-crumb-title-color;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
      display: inline-block;
      position: relative;
      top: @breadcrumbs-top;
	}
	.controls-BreadCrumbs__arrow{
       position: relative;
       top: @breadcrumbs-arrow-top;
       &.icon-size {
         .icon-size(@bread-crumb-home-font-size);
       }
	}

	.controls-BreadCrumbs__itemsContainer{
      display: inline-block;
      margin-left: 3px;
	}

	.controls-BreadCrumbs__dots{
      &:hover{
         .controls-BreadCrumbs__arrow{
            color: @color_BreadCrumb-arrow_hovered !important;
         }
      }
      .controls-BreadCrumbs__arrow.icon-16.icon-DayForward.icon-primary.action-hover:hover{
         color: @color_BreadCrumb-arrow_hovered !important;
      }
	}

   &.controls-BreadCrumbs__smallItems{
      .controls-BreadCrumbs__title{
         &:hover{
            color: @bread-crumb-title-hover-color;
         }
         font-size: @breadcrumbs-smallItems-font-size;
         color: @bread-crumb-title-color;
         font-weight: normal;
         top: @breadcrumbs-small-items-top;
      }
      .controls-BreadCrumbs__arrow {
         top: @breadcrumbs-small-arrow-top;
      }
   }

   &.controls-BreadCrumbs__home-hide {
      .controls-BreadCrumbs__crumb-home {
         display: none;
      }
      .controls-BreadCrumbs__itemsContainer {
         margin-left: 0;
      }
   }

	.controls-BreadCrumbs__hierWrapper{
		height: 13px;
		width: 14px;
       .inline-flexbox();
       .flex-shrink(0);
		&:last-of-type{
			background: @bread-crumbs-hier-wrapper-bg no-repeat;
			position: relative;
  			top: -4px;
		}
	}

   .controls-MenuItem {
      .flexbox();
   }
   &.controls-Menu__Popup {
      padding: @bread-crumbs-menu-padding;
      max-width: @bread-crumbs-menu-max-width;
   }
   &.ws-disabled {
      .controls-BreadCrumbs__crumb, .controls-BreadCrumbs__crumb:hover {
         cursor: default;
      }
      .controls-BreadCrumbs__crumb {
         .controls-BreadCrumbs__title{
            text-decoration: none;
         }
         &:hover{
            .controls-BreadCrumbs__title{
               color: @bread-crumb-title-color !important;
            }
            .controls-BreadCrumbs__arrow, .controls-BreadCrumbs__home {
               color: @color_primary!important;
            }
         }
      }
   }
}

.controls-BreadCrumbs__menuTitle {
	.flex-shrink(1);
	display: inline-block;
   width: 100%;
   overflow: hidden;
   text-overflow: ellipsis;
}

.ws-is-webkit:not(.ws-is-mobile-android), .ws-is-mobile-chrome-ios {
   .controls-BreadCrumbs{
      padding-top: 1px;
      .controls-BreadCrumbs__title{
         top: 0;
      }
   }
}