/*group*/
/*ширина кнопки закрытия окна 36px + 2px на небольшой отступ между кнопкой сохранить (в ie8 нет скруглений и кнопки склеиваются)*/
/*ширина кнопки закрытия окна 36px + 90px ширина кнопки сохранить + 2px на небольшой отступ между ними */
.controls-FormattedTextBox {
  display: inline-block;
  line-height: normal;
}
.controls-FormattedTextBox .controls-FormattedTextBox__fieldWrapper {
  min-height: 22px;
  height: 100%;
  padding: 0 4px;
  background: transparent;
}
.controls-FormattedTextBox .controls-FormattedTextBox__fieldWrapper .controls-FormattedTextBox__field {
  padding: 2px 0 0;
}
.controls-FormattedTextBox .controls-FormattedTextBox__fieldWrapper .controls-FormattedTextBox__field .controls-FormattedTextBox__field-symbol {
  font-style: normal;
  white-space: pre;
}
.controls-FormattedTextBox.ws-validation-error {
  border-width: 1px;
  border-style: solid;
  border-color: #ff302b !important;
  background: #fadadd !important;
}
.controls-FormattedTextBox.ws-validation-error .controls-FormattedTextBox__fieldWrapper .controls-FormattedTextBox__field {
  color: inherit;
}
.controls-FormattedTextBox__field {
  outline: none;
}
