.controls-FormattedTextBox {
  display: inline-block;
  .controls-FormattedTextBox__fieldWrapper {
    padding: @text-box-input-padding;
    background: transparent;
    .controls-FormattedTextBox__field {
      .controls-FormattedTextBox__field-symbol {
        font-style: normal;
        white-space: pre;
      }
    }
  }
}
.controls-FormattedTextBox__field {
  outline: none;
}
