<div class="controls-FormattedTextBox
    controls-TextBox
    controls-TextBox_size_{{!! size ? size : 'm'}}
    controls-TextBox_state_{{ enabled ? 'default': 'disabled'}}
    controls-TextBox_text-align-{{ textAlign }}
    {{ _paddingClass}}">
    <div class="controls-TextBox__wrapper">
        <div autocorrect="off" contenteditable="{{enabled}}" class="js-controls-FormattedTextBox__field controls-TextBox__field">{{_maskTemplateFn(_modelForMaskTpl)|sanitize}}</div>
    </div>
</div>