<div class="controls-FormattedTextBox controls-TextBox">
    <div class="controls-FormattedTextBox__fieldWrapper">
        <div contenteditable="{{enabled}}" class="controls-FormattedTextBox__field js-controls-FormattedTextBox__field">{{_maskTemplateFn(_modelForMaskTpl)|sanitize}}</div>
    </div>
</div>