.demo-selector__block {
	margin: 20px;
	padding: 8px;
	outline: 1px solid #cccccc;
}

.demo-selector__result-item {
	position: relative;
}
.demo-selector__result-item:after {
	position: absolute;
	right: 0;
	top: -3px;
	content: ',';
}

.demo-selector__result-item:last-child:after {
	content: '';
}

.demo-selector__title {
	padding-bottom: 8px;
}

.demo-selector__results {
	height: 24px;
	line-height: 24px;
}