<ws:for data="index,item in records">
    <ws:if data="{{tplData.decorators && tplData.decorators.ladder}}">
        {{tplData.decorators.ladder.setRecord(item.getContents()) || ''}}
    </ws:if>
    <ws:if data="{{ item.getContents }}">
        <ws:partial template="{{tplData.itemTpl}}" scope="{{tplData}}" item="{{item.getContents()}}" projItem="{{item}}" />
    </ws:if>
    <ws:else>
        <ws:partial template="{{ item.tpl }}" scope="{{ item.data }}" />
    </ws:else>
</ws:for>
