<div attr:class="ws-ListView__item{{marker != false && itemData.isSelected ? ' ws-ListView__item__selected'}}{{!!itemData.showActions ? ' ws-ListView__item_showActions'}}{{!!itemData.isActive ? ' ws-ListView__item_active'}}"
     attr:key="{{itemData.dispItem.getHash()}}">
    <ws:if data="{{contentTemplate}}">
        <ws:partial template="{{contentTemplate}}" itemData="{{itemData}}"/>
    </ws:if>
    <ws:else>
        <div>{{itemData.getPropValue(itemData.item, displayProperty || 'title')}}</div>
    </ws:else>
    <ws:if data="{{itemData.itemActions && itemData.itemActions.length}}">
        <ws:partial template="{{itemActionsTemplate}}"  itemData="{{itemData}}"/>
    </ws:if>
</div>