<div class="controls-MonthPicker__dropdownWrapper" onmousedown="return false" onselectstart="return false">
    <div class="controls-MonthPicker__dropdownItems">
        <ws:if data="{{mode === 'month'}}">
            <ws:for data="index, value in elements">
                <div class="controls-MonthPicker__dropdownElement controls-MonthPicker__dropdownElementMonth js-controls-MonthPicker__dropdownElement" data-key="{{index}}">{{value}}</div>
            </ws:for>
        </ws:if>
        <ws:if data="{{mode === 'year'}}">
            <ws:for data="index, value in elements">
                <div class="controls-MonthPicker__dropdownElement controls-MonthPicker__dropdownElementYear js-controls-MonthPicker__dropdownElement" data-key="{{value}}">{{value}}</div>
            </ws:for>
        </ws:if>
    </div>
</div>