<div>
    <Controls.HighCharts
            highChartContainer="highChartLine"
            highChartOptions="{{highChartOptions1}}"
    />
    <Controls.HighCharts
            highChartContainer="highChartPie"
            highChartOptions="{{highChartOptions2}}"
    />
    <button on:click="changeHighChartOptions()">Кликни</button>
</div>
