<div>
    <Controls.Button
            name="button1"
            caption="Нажмите для подгрузки"
            on:click="_updateState()"
    />
    <Controls.HighCharts
            dataSource="{{_dataSource}}"
            chartOptions="{{_chartConfig}}"
            wsSeries="{{_wsSeries}}"
            wsAxis="{{_wsAxis}}"
            filter="{{_filter}}"
    />
</div>
