<div>
    <Controls.Button name="button1" caption="Кликни меня"
                     on:click="changeHighChartOptions()" />
    <Controls.Button class="test-demo-button" name="toggleButton" caption="{{toggleCaption}}"
                     on:click="toggleChart()" />
    <ws:if data="{{need}}">
        <Controls.HighCharts
                chartOptions="{{highChartOptions1}}"
        />
    </ws:if>
    <Controls.HighCharts
            chartOptions="{{highChartOptions2}}"
    />
</div>
