.controls-PathSelector {
	min-height: 26px;
	height: 26px;
	&__point{
		cursor: pointer;
		&:hover{
			.controls-PathSelector__title{
				color: #FF7033;
			}
			.controls-PathSelector__arrow{
				color: #FF7033!important;
			}
		}
	}
}

.controls-PathSelector__title{
	color: #0055BB;
	margin-left: -5px;
}

.controls-PathSelector__arrow{
	position: relative;
	top: 2px;
}