.controls-PathSelector {
	min-height: 27px;
	&__point{
		cursor: pointer;
		position: relative;
		top: -2px;
      line-height: 16px;
		&:hover{
			.controls-PathSelector__title{
				color: @primary-color;
			}
			.icon-16{
				color: @primary-color!important;
			}
         &:first-child{
            .controls-PathSelector__title{
               color: @primary-color;
            }
         }
		}
		&:first-child{
			.controls-PathSelector__title{
				font-size: 15px;
            color: #313E78;
            font-weight: 700;
			}
			.controls-PathSelector__arrow{
				&::before{
					content: '';
				}
				background: url('img/path-filter-icon-back.png');
				height: 22px;
				width: 18px;
				top: 3px;
			}
		}
	}

	.controls-PathSelector__title{
		text-decoration: none;
		color: #0055BB;
		padding-right: 1px;
		display: inline-block;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		max-width: 300px;
	}

	.controls-PathSelector__arrow{
		position: relative;
	}

	.controls-PathSelector__itemsContainer{
		display: inline-block;
	}

	.controls-PathSelector__dots{
		margin-left: -3px;
		.controls-PathSelector__title{
			margin-left: -3px;
		}
	}

   &.controls-PathSelector__smallItems{
      .controls-PathSelector__point{
         &:first-child{
            .controls-PathSelector__arrow{
               background: transparent;
               width: 0;
            }
         }
      }
      .controls-PathSelector__title{
         &:hover{
            color: @primary-color;
         }
         font-size: 13px;
         color: #0055BB;
         font-weight: normal;
      }
   }  

	.controls-PathSelector__hierWrapper{
		height: 13px;
		width: 14px;
		display: inline-block;
		&:last-of-type{
			background: url('img/pathSelector__hierWrapper.png') no-repeat;
			position: relative;
  			top: -3px;
		}
	}
}