.controls-TabButtons {
   .flexbox();
   .flex-direction(row);
   .justify-content(flex-end);
   overflow: hidden;
   width: 100%;
   height: @tab-buttons-height;

   .controls-TabButtons__tabSpace-template{
      width: 100%;
      .order(20);
      .flex-shrink(9999);
      border-bottom: @tab-buttons-border-bottom;
      .controls-TabButtons__tabSpace-template-inner {
         height: 100%;
      }
   }

   .controls-TabButton {
      &.controls-TabButton__left-align.controls-TabButton__side-tab {
         .controls-TabButton__inner {
            border-left-color: transparent;
         }
      }

      &.controls-TabButton__right-align.controls-TabButton__side-tab {
         margin-right: 0;
         .controls-TabButton__inner {
            border-right-color: transparent;
         }
      }
   }
}