/*group*/
/*ширина кнопки закрытия окна 36px + 2px на небольшой отступ между кнопкой сохранить (в ie8 нет скруглений и кнопки склеиваются)*/
/*ширина кнопки закрытия окна 36px + 90px ширина кнопки сохранить + 2px на небольшой отступ между ними */
.controls-TabButtons {
  display: table;
  width: 100%;
  border-bottom: 1px solid #CCCCCC;
  height: 29px;
  border-collapse: collapse;
}
@-moz-document url-prefix() {
  .controls-TabButtons .controls-DateRange .controls-Button {
    padding-bottom: 0px;
  }
}
.controls-TabButtons > div {
  display: table-cell;
  white-space: nowrap;
  vertical-align: middle;
  font: 14px 'TensorFont Regular', 'TensorFont';
}
.controls-TabButtons .controls-TabButtons__tabSpace-template {
  width: 100%;
}
.controls-TabButtons .controls-TabButtons__tabSpace-template .controls-TabButtons__tabSpace-template-inner {
  width: 0;
  min-width: 100%;
  overflow: hidden;
  height: 29px;
  position: relative;
  z-index: 50;
}
.controls-TabButtons .controls-TabButtons__leftContainer {
  float: left;
  font-size: 0;
}
.controls-TabButtons .controls-TabButtons__leftContainer .controls-TabButton:first-child {
  border-left: none;
  margin-left: 0;
}
.controls-TabButtons .controls-TabButtons__leftContainer .controls-TabButton:first-child:hover {
  border-left: none;
}
.controls-TabButtons .controls-TabButtons__leftContainer .controls-TabButton:first-child .controls-TabButton__inner {
  border-left: none;
}
.controls-TabButtons .controls-TabButtons__rightContainer {
  float: right;
  font-size: 0;
}
.controls-TabButtons .controls-TabButtons__rightContainer .controls-TabButton:last-child {
  margin-right: 0;
}
.controls-TabButtons .controls-TabButtons__rightContainer .controls-TabButton:last-child .controls-TabButton__inner {
  border-right-color: transparent;
}
.controls-TabButtons.controls-TabButtons__simple-view-mini {
  height: 26px;
}
