<div>
   <ws:if data="{{k>0}}">
      <Controls.buttons:Button name="button1" caption="click me"
                                on:click="eventBut()" />
   </ws:if>
   <ws:else>
      <SBIS3.CONTROLS.Button name="button2" caption="click me"
                                on:onActivated="eventBut()" />
   </ws:else>
</div>