<div>
   <ws:if data="{{k>0}}">
      <ws:SBIS3.CONTROLS.Button name="button1" caption="click me"
                                event:onActivated="eventBut()" />
   </ws:if>
   <ws:else>
      <ws:SBIS3.CORE.Button name="button2" caption="click me"
                                event:onActivated="eventBut()" />
   </ws:else>
</div>