<div class="controls-PropertyGrid">
   <ws:for data="index, item in items">
      <div class="controls-PropertyGrid__item">
         <ws:partial template="{{item.editor}}" item="{{item}}" />
      </div>
   </ws:for>
</div>