.controls-CheckboxGroup__group_horizontal {
   display: inline-flex;
   flex-flow: row wrap;
}

.controls-CheckboxGroup__group_vertical {
   display: inline-flex;
   flex-direction: column;
}

.controls-CheckboxGroup__childGroup_theme_@{themeName} {
   margin-left: @hierarchy_padding-left_checkbox-group;
   margin-bottom: @item_offset_checkbox-group;
}

.controls-CheckboxGroup__item_theme_@{themeName} {
   margin-bottom: @item_offset_checkbox-group;
   margin-right: @item_offset_right_checkbox-group;
}
