.controls-CheckboxGroup__group_horizontal {
   display: inline-flex;
   flex-flow: row wrap;
}

.controls-CheckboxGroup__group_vertical {
   display: inline-flex;
   flex-direction: column;
}

.controls-CheckboxGroup__childGroup {
   margin-left: 24px;
}