.controls-Explorer__Path {
   padding-right: @spacing_Explorer-path-between-content-borderRight;
   padding-left:  @spacing_Explorer-path-between-content-borderLeft;
   min-height:    @min-height_Explorer-path;
}
