.round-button-mixin(@border-color) {
   border: 1px solid @border-color;
   border-radius: 14px;
   text-align: center;
   &:hover, &.ws-has-focus {
      border-color: @default-color;
      &.controls-IconButton__errorBorder {
         border-color: #ef463a;
         &.ws-disabled {
            border-color: @gray-ccc-color;
         }
      }
      &.controls-IconButton__doneBorder {
         border-color: #72be44;
         &.ws-disabled {
            border-color: @gray-ccc-color;
         }
      }
   }
   &.ws-disabled {
      border-color: @gray-ccc-color;
   }
   box-sizing: border-box;
}

.controls-IconButton {
  cursor: pointer;
  vertical-align: middle;
   &.controls-Button {
      padding: 0;
      cursor: pointer;
   }
   &.controls-IconButton__round-border{
      .round-button-mixin(@gray-ccc-color);
      height: 28px;
      width: 28px;
      line-height: 26px!important;
   }
   &.controls-IconButton__round-border-24{
      .round-button-mixin(@gray-ccc-color);
      height: 24px !important;
      width: 24px !important;
      line-height: 24px !important;
   }
   &.ws-disabled {
      cursor: default;
   }
   &.ws-area{
      height: auto;
   }
}

.ws-enabled,
.ws-disabled,
.ws-disabled .ws-enabled,
.ws-enabled .ws-disabled .ws-enabled,
.ws-disabled .ws-enabled .ws-disabled .ws-enabled,
.ws-enabled .ws-disabled .ws-enabled .ws-disabled .ws-enabled,
.ws-disabled .ws-enabled .ws-disabled .ws-enabled .ws-disabled .ws-enabled
{
   .icon-primary{
      &.controls-IconButton {
         color: #587ab0 !important;
         &.ws-disabled, &.ws-disabled.action-hover {
            &:hover, &.ws-has-focus{
               color: #ccc !important;
            }
         }
         &.action-hover {
            &:hover, &.ws-has-focus {
               color: #ff7033 !important;
            }
         }
      }
   }
   .icon-error{
      &.controls-IconButton {
         color: #ef463a !important;
         &.ws-disabled, &.ws-disabled.action-hover {
            &:hover, &.ws-has-focus{
               color: #ccc !important;
            }
         }
         &.action-hover {
            &:hover, &.ws-has-focus {
               color: #ff7033 !important;
            }
         }
      }
   }
   .icon-done{
      &.controls-IconButton {
         color: #72be44 !important;
         &.ws-disabled, &.ws-disabled.action-hover {
            &:hover, &.ws-has-focus{
               color: #ccc !important;
            }
         }
         &.action-hover {
            &:hover, &.ws-has-focus {
               color: #ff7033 !important;
            }
         }
      }
   }
   .icon-attention{
      &.controls-IconButton {
         color: #FEC63F !important;
         &.ws-disabled, &.ws-disabled.action-hover {
            &:hover, &.ws-has-focus{
               color: #ccc !important;
            }
         }
         &.action-hover {
            &:hover, &.ws-has-focus {
               color: #ff7033 !important;
            }
         }
      }
   }
}
