<span name="{{_options.name}}"
      sbisname="{{_options.sbisname||_options.name}}"
      tabindex="{{_options.tabindex}}"
      newconfig="{{_options.__$config}}"
      class="controls-IconButton controls-ButtonBase{{!isVisible() ? ' ws-hidden'}}{{!isEnabled() ? ' ws-disabled':' ws-enabled'}}{{_options.icon && _options.icon.indexOf('icon-error') >= 0?' controls-IconButton__errorBorder'}}{{_options.icon && _options.icon.indexOf('icon-done') >= 0?' controls-IconButton__doneBorder'}}"
      title="{{_options.tooltip}}"
      disabled="{{!isEnabled() ? 'disabled'}}">
    <span class="controls-Button__wrapper">
        <ws:if data="{{!!_options.icon||!!_options._iconClass}}">
           <i class="controls-Button__icon js-controls-Button__icon {{_options._iconClass?_options._iconClass:_options.icon}}"></i>
        </ws:if>
        <ws:if data="{{!!_options.caption}}">
            <span class="controls-Button__text js-controls-Button__text {{_options._textClass}}"><ws:partial template="{{_options.caption}}" /></span>
        </ws:if>
    </span>
 </span>