<tr class="controls-DataGridView__tr controls-TreeDataGridView__folderFooter" data-parent="{{key}}">
    <ws:if data="{{multiselect}}">
        <td></td>
    </ws:if>
    <td class="controls-TreeDataGridView__folderFooter-td{{footerTpl ? ' controls-TreeDataGridView__folderFooter-separator'}}" colspan="{{colspan}}">
      <div class="controls-TreeView__folderFooterContainer">
         <div class="controls-TreeDataGridView__levelPaddingWrap">
            <ws:for data="i in (level + 1)">
               <div class="controls-TreeDataGridView__levelPadding">&nbsp;</div>
            </ws:for>
            <ws:if data="{{footerTpl}}">
               <div class="controls-TreeDataGridView__folderFooterTmpl">
                  <ws:partial template="{{footerTpl}}" scope="{{...}}"  item="{{item}}" projItem="{{projItem}}" ></ws:partial>
               </div>
            </ws:if>
            <ws:if data="{{pagerOptions}}">
               <SBIS3.CONTROLS.Link class="controls-TreePager" scope="{{pagerOptions}}"
                                       allowChangeEnable="{{false}}">
               </SBIS3.CONTROLS.Link>
            </ws:if>
         </div>
      </div>
    </td>
</tr>
