<ws:for data="index, column in columns">
    <ws:if data="{{(!foldersColspan || !isNode || (isNode && index < 1))}}">
        <td colspan="{{(foldersColspan && isNode) ? columns.length : ''}}"
            class="controls-DataGridView__td {{column.editor ? 'controls-DataGridView__edited-td' : ''}} {{column.className|orEmpty}} {{hasScroll ? (startScrollColumn <= index ? 'controls-DataGridView__scrolledCell' : 'controls-DataGridView__notScrolledCell') : ''}} {{(index + 1 === columns.length) ? 'controls-DataGridView__lastContentCell'}} {{index == 0 ? 'controls-DataGridView__firstContentCell' : ''}} {{hoveredColumn.columnIndex === index ? 'controls-DataGridView__hoveredColumn__cell' : ''}}"
            style="{{ startScrollColumn <= index ? ('transform:translateX(' + columnsShift + 'px);') }}">
            <ws:if data="{{index == 0}}">
                <div class="controls-TreeDataGridView__levelPaddingWrap">
                   <ws:if data="{{ !isSearch }}">
                     <ws:for data="i in itemLevel">
                        <div class="controls-TreeDataGridView__levelPadding">&nbsp;</div>
                     </ws:for>
                   </ws:if>
                   <ws:else data="{{ projItem.getLevel() > 1 }}">
                     <div class="controls-TreeDataGridView__levelPadding">&nbsp;</div>
                   </ws:else>
                   <div class="lvl{{projItem.getLevel()}} controls-TreeView__expand js-controls-TreeView__expand {{projItem.isExpanded() ? 'controls-TreeView__expand__open':''}} {{(isNode === null || (isNode === false && hierField_d === false && !hasChilds) || (displayType === 'folders' && hierField_d === false && !hasChilds)) ? 'controls-TreeView__expand__leaf' : 'has-child'}}"></div>
                   <ws:if data="{{projItem.isNode()}}">
                       <ws:if data="{{arrowActivatedHandler || (editArrow && editArrow !== 'custom')}}">
                           <div class="controls-TreeView__ellipsis-wrapper">
                               <div class="controls-TreeView__ellipsis-container">
                                   <div class="controls-TreeView__folderTitle controls-DataGridView__columnValue">
                                       <ws:partial template="{{column.contentTpl}}" scope="{{cellData}}" item="{{item}}" projItem="{{projItem}}" field="{{column.field}}" column="{{column}}" included="{{column.included}}" templateBinding="{{column.templateBinding}}" decorators="{{decorators}}" isNode="{{isNode}}" Sanitize="{{Sanitize}}"/>
                                   </div>
                                   <div class="controls-TreeView__editArrow"></div>
                               </div>
                               <!-- Чтобы стрелка показывалась, даже когда название папки не влезает в колонку, добавим дополнительный блок со стрелкой,который сместится в крайнее правое положение и отобразит многоточие и стрелку, если название не поместлось -->
                               <div class="controls-TreeView__ellipsis-copyArrow">
                                   <div class="controls-TreeView__editArrow"></div>
                               </div>
                           </div>
                       </ws:if>
                       <ws:else>
                           <div class="controls-TreeView__folderTitle controls-DataGridView__columnValue">
                               <ws:partial template="{{column.contentTpl}}" scope="{{cellData}}" item="{{item}}" projItem="{{projItem}}" field="{{column.field}}" column="{{column}}" included="{{column.included}}" templateBinding="{{column.templateBinding}}" decorators="{{decorators}}" isNode="{{isNode}}" Sanitize="{{Sanitize}}"/>
                           </div>
                       </ws:else>
                   </ws:if>
                   <ws:else>
                       <div class="controls-DataGridView__columnValue">
                           <ws:partial template="{{column.contentTpl}}" scope="{{cellData}}" item="{{item}}" projItem="{{projItem}}" field="{{column.field}}" column="{{column}}" included="{{column.included}}" templateBinding="{{column.templateBinding}}" decorators="{{decorators}}" isNode="{{isNode}}" Sanitize="{{Sanitize}}"/>
                       </div>
                   </ws:else>
                </div>
            </ws:if>
            <ws:else>
                <div class="controls-DataGridView__columnValue">
                    <ws:partial template="{{column.contentTpl}}" scope="{{cellData}}" item="{{item}}" projItem="{{projItem}}" field="{{column.field}}" column="{{column}}" included="{{column.included}}" templateBinding="{{column.templateBinding}}" decorators="{{decorators}}" isNode="{{isNode}}" Sanitize="{{Sanitize}}"/>
                </div>
            </ws:else>
        </td>
    </ws:if>
</ws:for>

