<div class="controls-LongOperationsFilter">
   <div class="controls-LongOperationsFilter__block">
      <SBIS3.CONTROLS.DropdownList
         name="StateFilter"
         className="controls-LongOperationsFilter__stateDropdown controls-DropdownList__withoutArrow controls-DropdownList__linkStyle controls-DropdownList__withoutCross"
         mode="click"
         idProperty="key"
         displayProperty="title"
         parentProperty="parent"
         multiselect="{{false}}"
         text="{{'StateTitle'|mutable}}"
         items="{{ [
            {'key':null, 'title':rk('В любом состоянии')},
            {'key':'running', 'title':rk('В процессе')},
            {'key':'ended', 'title':rk('Завершенные')},
            {'key':'success-ended', 'title':rk('Успешно'), 'parent':'ended'},
            {'key':'error-ended', 'title':rk('С ошибками'), 'parent':'ended'},
            {'key':'suspended', 'title':rk('Приостановленные')}
         ] }}"
         >
         <ws:selectedKeys>
            <ws:Array>
               <ws:Object><ws:String>{{'StateKey'|mutable}}</ws:String></ws:Object>
            </ws:Array>
         </ws:selectedKeys>
      </SBIS3.CONTROLS.DropdownList>
      <SBIS3.CONTROLS.DropdownList
         name="PeriodFilter"
         className="controls-DropdownList__withoutArrow controls-DropdownList__linkStyle controls-DropdownList__withoutCross"
         mode="click"
         idProperty="key"
         displayProperty="title"
         multiselect="{{false}}"
         text="{{'PeriodTitle'|mutable}}"
         items="{{ [
            {'key':null, 'title':rk('За все время')},
            {'key':'PT1H', 'title':rk('За час')},
            {'key':'P1D', 'title':rk('За сегодня')},
            {'key':'P7D', 'title':rk('За неделю')},
            {'key':'P30D', 'title':rk('За месяц')}
         ] }}"
         >
         <ws:selectedKeys>
            <ws:Array>
               <ws:Object><ws:String>{{'PeriodKey'|mutable}}</ws:String></ws:Object>
            </ws:Array>
         </ws:selectedKeys>
      </SBIS3.CONTROLS.DropdownList>
   </div>
   <div class="controls-LongOperationsFilter__block">
      <div class="controls-LongOperationsFilter__durationTitle">{[Длительность операции]}</div>
      <SBIS3.CONTROLS.DropdownList
         name="DurationFilter"
         className="controls-DropdownList__withoutArrow controls-DropdownList__linkStyle controls-DropdownList__withoutCross"
         mode="click"
         idProperty="key"
         displayProperty="title"
         multiselect="{{false}}"
         text="{{'DurationTitle'|mutable}}"
         items="{{ [
            {'key':null, 'title':rk('Все')},
            {'key':'PT5M', 'title':rk('Дольше 5 минут')},
            {'key':'PT10M', 'title':rk('Дольше 10 минут')},
            {'key':'PT30M', 'title':rk('Дольше 30 минут')},
            {'key':'PT1H', 'title':rk('Дольше часа')}
         ] }}"
         >
         <ws:selectedKeys>
            <ws:Array>
               <ws:Object><ws:String>{{'DurationKey'|mutable}}</ws:String></ws:Object>
            </ws:Array>
         </ws:selectedKeys>
      </SBIS3.CONTROLS.DropdownList>
   </div>
   <div if="{{!hideStaffFilter}}" class="controls-LongOperationsFilter__block">
      <div class="controls-LongOperationsFilter__responsibleTitle">{[Ответственный]}</div>
      <ws:partial template="optional!Staff/Choice"
         selectionType="leaf"
         withAccess="{{true}}"
         multiselect="{{false}}"
         entityType="Пользователь"
         name="FilterResponsibleFace"
         caption="{{'UserName'|mutable}}"
         placeholder="{[укажите ФИО]}"
         className="controls-LongOperationsFilter__responsibleChooser"
         >
         <ws:selectedKeys>
            <ws:Array>
               <ws:Object><ws:String>{{'UserId'|mutable}}</ws:String></ws:Object>
            </ws:Array>
         </ws:selectedKeys>
      </ws:partial>
   </div>
</div>