.controls-Button {
  // Normal button
  &.controls-MenuButton {
    position: relative;
    .controls-MenuButton__arrowDown {
      position: absolute;
      display: inline-block;
      width: @menu-button-arrow-width;
      height: @menu-button-arrow-height;
      right: @menu-button-arrow-right-offset - @button-border-width;
      top: @menu-button-arrow-top-offset - @button-border-width;
      .box-sizing(border-box);
      border-width: @menu-button-arrow-border-width;
      border-style: @menu-button-arrow-border-style;
      border-color: @menu-button-arrow-border-color;
      background: @menu-button-arrow-bg;
    }

    &:hover {
      .controls-MenuButton__arrowDown {
        border-width: @menu-button-arrow-hover-border-width;
        border-style: @menu-button-arrow-hover-border-style;
        border-color: @menu-button-arrow-hover-border-color;
        background: @menu-button-arrow-hover-bg;
      }
    }

    &.controls-Checked__checked,
    &.controls-Click__active {
      .controls-MenuButton__arrowDown {
        border-width: @menu-button-arrow-checked-border-width;
        border-style: @menu-button-arrow-checked-border-style;
        border-color: @menu-button-arrow-checked-border-color;
      }

      &:hover {
        .controls-MenuButton__arrowDown {
          border-width: @menu-button-arrow-checked-hover-border-width;
          border-style: @menu-button-arrow-checked-hover-border-style;
          border-color: @menu-button-arrow-checked-hover-border-color;
        }
      }
    }

    // Primary button
    &.controls-Button__primary {
      .controls-MenuButton__arrowDown {
        border-width: @menu-button-primary-arrow-border-width;
        border-style: @menu-button-primary-arrow-border-style;
        border-color: @menu-button-primary-arrow-border-color;
        background: @menu-button-primary-arrow-bg;
      }

      &:hover {
        &.ws-disabled{
          .controls-MenuButton__arrowDown {
            background: @menu-button-arrow-bg;
            border-color: @menu-button-arrow-disabled-border-color;
          }
        }
        .controls-MenuButton__arrowDown {
          border-width: @menu-button-primary-arrow-hover-border-width;
          border-style: @menu-button-primary-arrow-hover-border-style;
          border-color: @menu-button-primary-arrow-hover-border-color;
          background: @menu-button-primary-arrow-hover-bg;
        }
      }

      &.controls-Checked__checked,
      &.controls-Click__active {
        .controls-MenuButton__arrowDown {
          border-width: @menu-button-primary-arrow-checked-border-width;
          border-style: @menu-button-primary-arrow-checked-border-style;
          border-color: @menu-button-primary-arrow-checked-border-color;
        }

        &:hover {
          .controls-MenuButton__arrowDown {
            border-width: @menu-button-primary-arrow-checked-hover-border-width;
            border-style: @menu-button-primary-arrow-checked-hover-border-style;
            border-color: @menu-button-primary-arrow-checked-hover-border-color;
          }
        }
      }
    }

    &.ws-disabled {
      .controls-MenuButton__arrowDown {
        border-width: @menu-button-arrow-disabled-border-width;
        border-style: @menu-button-arrow-disabled-border-style;
        border-color: @menu-button-arrow-disabled-border-color;
        background: @menu-button-arrow-disabled-bg;
      }
    }
  }
}

.controls-MenuButton {
  .controls-Button__text, .controls-Button__icon + .controls-Button__text {
    margin-right: @menu-button-text-right-margin; //this margin reserve space for arrow-down icon
  }
  &.controls-Checked__checked {
    .controls-Button__text, .controls-Button__icon + .controls-Button__text {
      margin-right: @menu-button-checked-text-right-margin; //this margin reserve space for arrow-down icon
    }
    .controls-MenuButton__arrowDown {
      top: @menu-button-arrow-top-offset - @button-checked-border-width;
      right: @menu-button-arrow-right-offset - @button-checked-border-width;
    }
  }
}
.controls-MenuButton {
   &.controls-MenuButton__withoutMenu {
      .controls-Button__text {
         margin: @button-text-margin;
      }
      .controls-Button__icon + .controls-Button__text {
         margin: @button-icon-text-margin; //this margin reserve space for arrow-down icon
      }
   }
}

// Header
.controls-MenuButton__header {
  display: inline-block;
  position: absolute;
  cursor: pointer;
  border: none;
  top: 0;
  left: 0;
  width: 100%;

  &.controls-MenuButton__header-hidden {
    display: none;
  }

  .controls-MenuButton__headerLeft {
    float: left;
    display: inline-block;
    width: @menu-button-header-left-width;
    height: @menu-button-header-left-height;
    margin: @menu-button-header-left-margin;
    background: @menu-button-header-left-bg;
  }

  &.controls-MenuButton__header-revert-horizontal{
    .controls-MenuButton__headerLeft{
      width: @menu-button-header-right-width;
      height: @menu-button-header-right-height;
      background: @menu-button-header-left-bg-revert-horizontal;
    }
    .controls-MenuButton__headerRight{
      width: @menu-button-header-left-width;
      height: @menu-button-header-left-height;
      background: @menu-button-header-right-bg-revert-horizontal;
    }
    &.controls-MenuButton__header-revert-vertical{
      .controls-MenuButton__headerLeft{
        width: @menu-button-header-right-width;
        height: @menu-button-header-right-height;
        background: @menu-button-header-left-bg-revert-vertical-horizontal;
      }
      .controls-MenuButton__headerRight{
        width: @menu-button-header-left-width;
        height: @menu-button-header-left-height;
        background: @menu-button-header-right-bg-revert-vertical-horizontal;
      }
      .controls-MenuButton__headerCenter{
        vertical-align: top;
      }
    }
  }

  &.controls-MenuButton__header-revert-vertical{
    .controls-MenuButton__headerLeft{
      width: @menu-button-header-left-width;
      height: @menu-button-header-left-height;
      background: @menu-button-header-left-bg-revert-vertical;
    }
    .controls-MenuButton__headerRight{
      width: @menu-button-header-right-width;
      height: @menu-button-header-right-height;
      background: @menu-button-header-right-bg-revert-vertical;
    }
    .controls-MenuButton__headerCenter{
      vertical-align: top;
    }
  }

  .controls-MenuButton__headerCenter {
    display: inline-block;
    width: @menu-button-header-center-width;
    height: @menu-button-header-center-height;
    margin: @menu-button-header-center-margin;
    background: @menu-button-header-center-bg;
  }

  .controls-MenuButton__headerRight {
    display: inline-block;
    width: @menu-button-header-right-width;
    height: @menu-button-header-right-height;
    margin: @menu-button-header-right-margin;
    background: @menu-button-header-right-bg;
  }
}

.controls-MenuButton__Menu {
  padding: @menu-button-menu-padding;
  margin-top: @menu-button-menu-top-margin;
  margin-left: @menu-button-menu-left-margin;
  border-width: @menu-button-menu-border-width;
  border-style: @menu-button-menu-border-style;
  border-color: @menu-button-menu-border-color;
  background: @menu-button-menu-bg;
}

//Правка смещения для стрелки в ie8. ! В режиме эмуляции ie8 проблемы не видно, только в настоящем ie8
@ie8: \0screen;
@media @ie8 {
  .controls-Button.controls-MenuButton {
    .controls-MenuButton__arrowDown {
      top: @menu-button-arrow-top-offset - 4px;
    }
  }
   .controls-MenuButton__header {
      display: none;
   }
}