/*group*/
/*ширина кнопки закрытия окна 36px + 2px на небольшой отступ между кнопкой сохранить (в ie8 нет скруглений и кнопки склеиваются)*/
/*ширина кнопки закрытия окна 36px + 90px ширина кнопки сохранить + 2px на небольшой отступ между ними */
.controls-Button.controls-MenuButton {
  position: relative;
}
.controls-MenuButton .controls-Button__text,
.controls-MenuButton .controls-Button__icon + .controls-Button__text {
  margin-right: 0 12px 0 12px;
}
.controls-MenuButton__header {
  display: inline-block;
  position: absolute;
  cursor: pointer;
  border: none;
  top: 0;
  left: 0;
  width: 100%;
}
.controls-MenuButton__header.controls-MenuButton__header-hidden {
  display: none;
}
.controls-MenuButton__header .controls-MenuButton__headerLeft {
  float: left;
  display: inline-block;
  width: 12px;
  height: 30px;
  margin: 0;
  background: transparent url('../../themes/online/img/MenuButton-header.png') 0 211px;
}
.controls-MenuButton__header.controls-MenuButton__header-revert-horizontal .controls-MenuButton__headerLeft {
  width: 28px;
  height: 30px;
  background: transparent url('../../themes/online/img/MenuButton-header.png') 0 182px;
}
.controls-MenuButton__header.controls-MenuButton__header-revert-horizontal .controls-MenuButton__headerRight {
  width: 12px;
  height: 30px;
  background: transparent url('../../themes/online/img/MenuButton-header.png') -2px 152px;
  margin: 0;
}
.controls-MenuButton__header.controls-MenuButton__header-revert-horizontal.controls-MenuButton__header-revert-vertical .controls-MenuButton__headerLeft {
  width: 28px;
  height: 30px;
  background: transparent url('../../themes/online/img/MenuButton-header.png') 0 58px;
}
.controls-MenuButton__header.controls-MenuButton__header-revert-horizontal.controls-MenuButton__header-revert-vertical .controls-MenuButton__headerRight {
  width: 12px;
  height: 30px;
  background: transparent url('../../themes/online/img/MenuButton-header.png') 0 29px;
  margin: 0;
  float: right;
}
.controls-MenuButton__header.controls-MenuButton__header-revert-horizontal.controls-MenuButton__header-revert-vertical .controls-MenuButton__headerCenter {
  vertical-align: top;
}
.controls-MenuButton__header.controls-MenuButton__header-revert-vertical .controls-MenuButton__headerLeft {
  width: 12px;
  height: 30px;
  background: transparent url('../../themes/online/img/MenuButton-header.png') 0 89px;
}
.controls-MenuButton__header.controls-MenuButton__header-revert-vertical .controls-MenuButton__headerRight {
  width: 28px;
  height: 30px;
  background: transparent url('../../themes/online/img/MenuButton-header.png') 0 119px;
}
.controls-MenuButton__header.controls-MenuButton__header-revert-vertical .controls-MenuButton__headerCenter {
  vertical-align: top;
  height: 7px;
  top: 0;
}
.controls-MenuButton__header .controls-MenuButton__headerCenter {
  display: inline-block;
  width: calc(100% - 40px);
  height: 8px;
  margin: 0;
  background: #fff;
  position: relative;
  top: 16px;
}
.controls-MenuButton__header .controls-MenuButton__headerRight {
  display: inline-block;
  width: 28px;
  height: 30px;
  margin: 0;
  background: transparent url('../../themes/online/img/MenuButton-header.png') 0 -4px;
  float: right;
}
.controls-MenuButton__Menu {
  padding: 4px 0;
  margin-top: 26px;
  margin-left: 0;
  border-width: 1px;
  border-style: solid;
  border-color: #CCC;
  background: #fff;
  border-top-left-radius: 0;
}
.controls-MenuButton__Menu.controls-popup-revert-horizontal {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
@media \0screen {
  .controls-MenuButton__header {
    display: none;
  }
}
