.controls-Button {
  // Normal button
  &.controls-MenuButton {
    position: relative;
  }
}

.controls-MenuButton {
  .controls-Button__text, .controls-Button__icon + .controls-Button__text {
    margin-right: @button-text-margin;
  }
}

.controls-Menu.controls-MenuButton__Menu {
  margin: -5px 0 0 -1px;
  border-width: @menu-button-menu-border-width;
  border-style: @menu-button-menu-border-style;
  border-color: @menu-button-menu-border-color;
  background: @menu-button-menu-bg;
  border-top-left-radius: 0;

  &.controls-popup-revert-horizontal {
    border-top-left-radius: @menu-border-radius;
    border-top-right-radius: 0;
  }
}