/*group*/
/*ширина кнопки закрытия окна 36px + 2px на небольшой отступ между кнопкой сохранить (в ie8 нет скруглений и кнопки склеиваются)*/
/*ширина кнопки закрытия окна 36px + 90px ширина кнопки сохранить + 2px на небольшой отступ между ними */
.controls-SearchForm {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border-color: #F2F2F2;
  border-bottom-color: #F2F2F2;
  border-width: 1px;
  background: #F2F2F2;
  height: 24px;
  font-size: inherit;
}
.controls-SearchForm.controls-TextBox:hover {
  border-color: #F2F2F2;
  background: #F2F2F2;
}
.controls-SearchForm.controls-TextBox.ws-has-focus {
  border-color: #F2F2F2;
  background: #F2F2F2;
}
.controls-SearchForm.controls-TextBox.ws-disabled {
  background: #F2F2F2;
  border-width: 1px;
  border-bottom: 1px solid #F2F2F2;
}
.controls-SearchForm.controls-TextBox.ws-disabled .controls-SearchForm__search,
.controls-SearchForm.controls-TextBox.ws-disabled .controls-SearchForm__reset {
  display: block;
  cursor: default;
  color: #CCC !important;
}
.controls-SearchForm.controls-TextBox.ws-disabled .controls-SearchForm__search:hover,
.controls-SearchForm.controls-TextBox.ws-disabled .controls-SearchForm__reset:hover {
  color: #CCC !important;
}
.controls-SearchForm.controls-TextBox.ws-disabled .controls-SearchForm__reset {
  display: none;
}
.controls-SearchForm.controls-TextBox .controls-TextBox__fieldWrapper {
  margin: 0 45px 0 12px;
  padding: 0;
}
.controls-SearchForm .controls-TextBox__afterFieldWrapper {
  width: 40px;
  padding: 0 5px 0 0;
}
.controls-SearchForm .controls-SearchForm__search,
.controls-SearchForm .controls-SearchForm__reset {
  display: block;
  float: right;
  cursor: pointer;
  padding: 3px 2px;
  width: 16px;
  height: 16px;
}
@supports (-ms-ime-align:auto) {
  .controls-SearchForm.controls-TextBox .controls-TextBox__fieldWrapper .controls-TextBox__field {
    line-height: 0 !important;
  }
}
