.controls-SearchForm.controls-TextBox {
  .border-radius(@search-border-radius);
  border-color: @search-border-color;
  border-bottom-color: @search-bottom-border-color;
  border-width: @search-form-border-width;
  background: @search-background;
  height: @search-height;
  font-size: @text-box-field-font-size;

  &.controls-TextBox {
    &:hover {
      border-color: @search-hover-border-color;
      background: @search-background;
    }

    &.ws-has-focus {
      border-color: @search-hover-border-color;
      background: @search-focus-background;
    }
    &.ws-disabled {
      background: @search-disabled-background;
      border-width: @search-form-border-disabled-width;
      border-bottom: @search-form-border-disabled-width solid @search-background;

      .controls-SearchForm__search, .controls-SearchForm__reset {
        display: @search-form-icon-disabled-display;
        cursor: default;
        color: @icon-color-disabled !important;
        &:hover {
          color: @icon-color-disabled !important;
        }
      }
      .controls-SearchForm__reset{
        display: none;
      }
    }
  }

  &.controls-TextBox .controls-TextBox__fieldWrapper {
    margin: 0 @search-form-field-wrapper-margin-right 0 @search-left-margin;
    padding: 0;
  }

  .controls-TextBox__afterFieldWrapper {
    width: @search-buttons-wrapper-width;
    padding: @search-button-wrapper-padding;
  }
  .controls-SearchForm__search, .controls-SearchForm__reset {
    display: block;
    float: right;
    cursor: pointer;
    padding: @search-form-icon-padding;
    width: @search-loop-size;
    height: @search-loop-size;
  }
}

// хак для edge win10 выравнивает input и placeholder
@supports (-ms-ime-align:auto) {
  .controls-SearchForm {
    &.controls-TextBox {
      .controls-TextBox__fieldWrapper {
        .controls-TextBox__field {
          line-height: 0 !important;
        }
      }
    }
  }
}