.controls-SearchForm.controls-TextBox {
  .border-radius(@search-border-radius);
  border-color: transparent;
  border-bottom-color: transparent;
  background: @search-background;
  position: relative;

    &:hover,
    &.ws-has-focus{
      border-color: @search-border-color-active;
      background: @search-background;
    }
    &.ws-disabled {
      background: @search-background-disabled;
      border-color:@default-border-color-disabled;
      .controls-SearchForm__search {
        cursor: default;
        color: @icon-color-disabled;
        &:hover {
          color: @icon-color-disabled;
        }
      }
      .controls-SearchForm__reset{
        visibility: hidden;
      }
    }
  .controls-TextBox__field {
    padding: @search-field-padding;
  }

  .controls-TextBox__afterFieldWrapper {
    .inline-flexbox();
    padding: @search-button-wrapper-padding;//по стандарту - 8, но 8 - 1(бордер) - 2(паддинг иконки) = 5
  }
  //данный стили находятся внутри .controls-SearchForm.controls-TextBox чтобы в пакетированном режиме их не перебивали стили иконок icon-size{ display: inline-block }
  .controls-SearchForm__search,
  .controls-SearchForm__reset {
    .flexbox();
    .align-items(center) ;
    .icon-size(@search-loop-size);
    cursor: pointer;
    height: 100%;
    overflow: hidden;
    color: @search-form-icon-color;
    padding: @search-form-icon-padding;
  }
  .controls-SearchForm__reset {
    color: @search-form-icon-reset-color;
  }
  .controls-SearchForm__search {
    &:hover {
      color: @search-form-icon-search-hover-color;
    }
  }
}

// хак для edge win10 выравнивает input и placeholder
@supports (-ms-ime-align:auto) {
  .controls-SearchForm {
    &.controls-TextBox {
      .controls-TextBox__field {
        line-height: 0 !important;
      }
    }
  }
}

//todo
.controls-Suggest__picker.controls-searchForm__suggest {
  margin-left: -8px;
  margin-top: -32px;
  .box-shadow(@menu-shadow);
  padding-top: 32px;
}

.controls-searchForm__suggest .controls-PopupMixin__closeButton {
  top: 8px;
}
