.controls_theme-@{themeName} {

   //common
   --background-color: @background-color;
   --hover_background-color: @hover_background-color;
   --success_color: @success_color;
   --primary_text-color: @primary_text-color;
   --secondary_color: @secondary_color;
   --secondary_text-color: @secondary_text-color;
   --secondary_hover_text-color: @secondary_hover_text-color;
   --readonly_color: @readonly_color;
   --text-color: @text-color;
   --border-color: @border-color;
   --icon-color: @icon-color;
   --contrast_icon-color: @contrast_icon-color;
   --label_text-color: @label_text-color;
   --link_text-color: @link_text-color;
   --link_hover_text-color: @link_hover_text-color;
   --link_text-color_inline: @link_text-color_inline;
   --link_hover_text-color_inline: @link_hover_text-color_inline;
   --readonly_marker-color: @readonly_marker-color;

   //button
   --primary_border-color_button: @primary_border-color_button;
   --primary_hover_background-color_button: @primary_hover_background-color_button;
   --primary_active_background-color_button: @primary_active_background-color_button;
   --secondary_hover_background-color_button: @secondary_hover_background-color_button;
   --secondary_active_background-color_button: @secondary_active_background-color_button;
   --border-color_button_toolButton: @border-color_button_toolButton;
   --border-color_hover_button_toolButton: @border-color_hover_button_toolButton;
   --readonly_border-color_button_toolButton: @readonly_border-color_button_toolButton;
   --secondary_background-color_button_functionalButton: @secondary_background-color_button_functionalButton;
   --success_background-color_button_functionalButton: @success_background-color_button_functionalButton;
   --secondary_hover_background-color_button_functionalButton: @secondary_hover_background-color_button_functionalButton;
   --success_hover_background-color_button_functionalButton: @success_hover_background-color_button_functionalButton;

   //dialog
   --background-color_dialog: #383D44;
   --header_background-color_dialog: #383D44;
   --border-color_dialog: #535C68;
   --footer_background-color_dialog: transparent;
   --footer_top-border-color_dialog: #6B6B6B;

   //stack
   --background-color_stack: #383D44;
   --header_background-color_stack: transparent;
   --header_bottom-border-color_stack: transparent;
   --footer_top-border-color_stack: #6B6B6B;
   --border-color_stack: rgba(247, 247, 247, 0.23);

   //confirmation
   --secondary_marker_color_confirmation: #6ed4d0;
   --footer_background-color_confirmation: #4a515d;
   --footer_top-border-color_confirmation: #6d737c;

   //sticky
   --background-color_sticky: #383d44;
   --header_background-color_sticky: #464d57;

   //notification
   --secondary_marker_color_notification: var(--secondary_color);

   //infobox
   --background-color_infobox: #30343B;
   --border-color_infobox: #535C68;

   // Close button
   --icon_background-image_closeButton_toolButton: url("img/DefaultCloseIcon.svg");
   --icon_hovered_background-image_closeButton_toolButton: url("img/CloseIconHovered.svg");
   --icon_hovered_background-image_closeButton_link: url("img/CloseIconHovered.svg");
   --border-color_closeButton_toolButton: #4d535e;
   --border-color_hover_closeButton_toolButton: #4d535e;
   --contrast_background-color_closeButton_toolButton: #424851;
   --background-color_closeButton_toolButton: #424851;
}
