<div>
    <Controls._BreadCrumbsView items="{{_options.items}}"
                          visibleItems="{{_visibleItems}}"
                          keyProperty="{{_options.keyProperty}}"
                          displayProperty="{{_options.displayProperty}}"
                          on:itemClick="_onItemClick()"/>

    <Controls.Event.Emitter event="resize"
                            on:resize="_onResize()"/>
</div>