<div attr:class="controls-BreadCrumbsV">
    <ws:if data="{{_options.items.length > 0}}">
        <div attr:class="controls-BreadCrumbsV__home icon-size icon-Home3 icon-primary"
             on:click="_onHomeClick()"></div>
        <ws:partial template="{{_itemsTemplate}}" items="{{_options.items}}" itemTemplate="{{_itemTemplate}}" />
    </ws:if>
</div>