<div class="controls-SearchForm__afterFieldWrapper">
   <span class="js-controls-SearchForm__reset controls-SearchForm__reset icon-size icon-Close {{ !text ? 'ws-invisible' }}" title="{[Очистить результаты поиска]}"></span>
   <span class="js-controls-SearchForm__search controls-SearchForm__search icon-size icon-primary icon-Search2"></span>
</div>