<div class="controls-DateRangeBigChoose__header">
   <ws:template name="DateBoxTpl">
      <SBIS3.CONTROLS.Date.Box
         tabindex="2"
         mask="{{mask}}"
         name="DatePickerEnd"
         autocompleteMode="end"
         date="{{endValue}}"
         serializationMode="{{serializationMode}}"
         onTextChangeMode="onTextEnter"
         size="m"
         className="controls-DateRangeBigChoose__datePickerEnd"
         validators="{{selectionType === 'range' ? [
                  {
                     'validator': compareExt,
                     'option': 'date',
                     'errorMessage': errorMessage,
                     'params': ['DatePickerStart', 'getDate', '>=']
                  }
               ] : undefined}}"
      />
   </ws:template>

   <div class="controls-DateRangeBigChoose__stateButton-wrapper" if="{{yearStateEnabled && monthStateEnabled}}">
      <SBIS3.CONTROLS.Button.StateButton
         tabindex="0"
         name="StateButton"
         activableByClick="{{false}}"
         tooltip="{[Смена режима календаря]}"
         icon="sprite:icon-size icon-ArrangeList icon-primary controls-DateRangeBigChoose__homeBtn-icon"
         checkedIcon="sprite:icon-size icon-ArrangeSmallIconsPreview icon-primary controls-DateRangeBigChoose__homeBtn-icon"
         className="controls-DateRangeBigChoose__stateButton"
      />
   </div>

   <SBIS3.CONTROLS.Date.RangeSliderBase
      tabindex="1"
      name="DateRangeHeader"
      startValue="{{startValue}}"
      endValue="{{endValue}}"
      emptyCaption="{{emptyCaption}}"
      visible="{{headerType === 'link'}}"
      showNextArrow="{{false}}"
      showPrevArrow="{{false}}"
      showUndefined="{{true}}"
      class="controls-DateRangeBigChoose__header-period controls-DateRangeBigChoose__header-period-text"
      serializationMode="{{serializationMode}}"
   />
   <div class="controls-DateRangeBigChoose__header-period controls-DateRangeBigChoose__header-period-input {{headerType === 'link' ? 'ws-hidden' }}">
      <SBIS3.CONTROLS.Date.Box
         tabindex="1"
         mask="{{mask}}"
         name="DatePickerStart"
         autocompleteMode="start"
         onTextChangeMode="onTextEnter"
         date="{{startValue}}"
         size="m"
         className="controls-DateRangeBigChoose__datePickerStart"
         serializationMode="{{serializationMode}}"
      />
      <div class="controls-DateRangeBigChoose__datePickerEnd-wrapper{{ selectionType === 'range' ? '' : ' ws-hidden' }}">
         <div class="controls-DateRangeBigChoose__header-rangeDash"></div>
         <ws:partial template="DateBoxTpl" scope="{{...}}" activableByClick="{{ false }}">
            <ws:compareExt type="function">SBIS3.CONTROLS/Date/RangeBigChoose/resources/Validators:compareExt</ws:compareExt>
            <ws:errorMessage type="string">{[Дата конца периода должна быть больше даты начала.]}</ws:errorMessage>
         </ws:partial>
      </div>
   </div>

   <SBIS3.CONTROLS.Button.IconButton
      tabindex="0"
      name="HomeButton"
      activableByClick="{{false}}"
      tooltip="{[Текущий период]}"
      icon="sprite:icon-size icon-Home3 icon-primary"
      className="controls-DateRangeBigChoose__homeBtn"
      visible="{{homeButtonVisibility|bind}}"
   />
   <!--<div class="controls-DateRangeBigChoose__header-date-pickers">-->
   <SBIS3.CONTROLS.Button.IconButton
      tabindex="0"
      name="ApplyButton"
      primary="{{true}}"
      activableByClick="{{false}}"
      icon="sprite:icon-medium icon-Yes icon-done"
      className="controls-DateRangeBigChoose__ApplyButton"
      style="bordered"
   />

   <div class="controls-PopupMixin__closeButton controls-DateRangeBigChoose__closeButton controls-PopupMixin__closeButton_standart"></div>
</div>