<SBIS3.CONTROLS:Date:RangeBigChoose:resources:MonthView
   className="controls-DateRangeBigChoose-MonthRangePicker__item"
   captionType="text"
   captionFormat="%B"
   enabled="{{false}}"
   showWeekdays="{{false}}"
   month="{{item.get('month').toSQL()}}"
/>