.controls-DateRangeBigChoose-MonthRangePicker.controls-ListView {
   .box-sizing(border-box);
}

.controls-DateRangeBigChoose-MonthRangePickerItem {

   //background-color: #f4f4f4;
}
.controls-DateRangeBigChoose-MonthRangePickerItem__header {
   height: @height_DateRangeBigChoose_monthPicker-header;
   line-height: @height_DateRangeBigChoose_monthPicker-header;
   text-align: center;
   color: @color_DateRangeBigChoose_monthPicker-header;
   font-size: @font-size_DateRangeBigChoose_monthPicker-header;
   font-weight: bold;
   border-top: @border-top-width_DateRangeBigChoose_monthPicker-header solid @border-color_DateRangeBigChoose_monthPicker;
   border-bottom: @border-bottom-width_DateRangeBigChoose_monthPicker-header solid @border-color_DateRangeBigChoose_monthPicker;
}

.controls-DateRangeBigChoose-MonthRangePickerItem__body {
   .flexbox();
}

.controls-DateRangeBigChoose-MonthRangePickerItem__halfYearsPanel,
.controls-DateRangeBigChoose-MonthRangePickerItem__quartersPanel {
   .flexbox();
   .flex-direction(column);
}
.controls-DateRangeBigChoose-MonthRangePickerItem__halfYearsPanel-button,
.controls-DateRangeBigChoose-MonthRangePickerItem__quartersPanel-button {
   width: @width_DateRangeBigChoose-years-leftRight - @border-width_DateRangeBigChoose_quartersPanel-right;
   .flex-grow(1);
   .flexbox();
   .align-items(center);
   .justify-content(center);
   border-bottom: @border-width_DateRangeBigChoose_quartersPanel solid @border-color_DateRangeBigChoose_quartersPanel;
   color: @color_DateRangeBigChoose_halfyearsAndQuartersPanel;
}
.controls-DateRangeBigChoose-MonthRangePickerItem__quartersPanel-button {
   background-color: @background-color_DateRangeBigChoose_quartersPanel;
}
.controls-DateRangeBigChoose-MonthRangePickerItem__quarter-selected {
   .controls-DateRangeBigChoose-MonthRangePickerItem__quartersPanel-button {
      background-color: transparent;
      border-right-color: transparent;
   }
}

.controls-DateRangeBigChoose-MonthRangePickerItem__halfYear-selected {
   .controls-DateRangeBigChoose-MonthRangePickerItem__halfYearsPanel-button {
      border-left-color: transparent;
   }
}
.controls-DateRangeBigChoose-MonthRangePickerItem__halfyear-quarter-button-selectable {
   cursor: pointer;
}

.controls-DateRangeBigChoose-MonthRangePickerItem__halfYearsPanel-button {
   font-size: @font-size_DateRangeBigChoose_halfYearsPanel;
   border-left: @border-width_DateRangeBigChoose_halfYearsPanel solid @border-color_DateRangeBigChoose_halfYearsPanel;
}
.controls-DateRangeBigChoose-MonthRangePickerItem__quartersPanel-button {
   font-size: @font-size_DateRangeBigChoose_quartersPanel;
   border-right: @border-width_DateRangeBigChoose_quartersPanel-right solid @border-color_DateRangeBigChoose_quartersPanel;
}

.controls-DateRangeBigChoose-MonthRangePickerItem__halfYears {
   .flex-grow(1);
}
.controls-DateRangeBigChoose-MonthRangePickerItem__halfYear {
   .flexbox();
   position: relative;
}

.controls-DateRangeBigChoose-MonthRangePickerItem__backgroundColor-item-selected,
.controls-DateRangeBigChoose-MonthRangePickerItem__backgroundColor-item-selected {
   background-color: @background-color_DateRangeBigChoose-range-selected-inner;
}

.controls-DateRangeBigChoose-MonthRangePickerItem__backgroundColor-item-selected-startend-unfinished,
.controls-DateRangeBigChoose-MonthRangePickerItem__backgroundColor-item-selected-startend-unfinished {
   background-color: @background-color_DateRangeBigChoose-range-selected-unfinishedEdge;
}

.controls-DateRangeBigChoose-MonthRangePickerItem__item-selectedStart,
.controls-DateRangeBigChoose-MonthRangePickerItem__item-selectedEnd,
.controls-DateRangeBigChoose-MonthRangePickerItem__item-selectedInner,
.controls-DateRangeBigChoose-MonthRangePickerItem__backgroundColor-item-selected-startend-unfinished,
.controls-DateRangeBigChoose-MonthRangePickerItem__backgroundColor-item-selected-startend-unfinished {
   outline: @border-color_DateRangeBigChoose-range-selected-inner solid @border-width_DateRangeBigChoose-MonthRangePickerItem-monthWrapper;
   width: @width_DateRangeBigChoose-MonthRangePickerItem-monthWrapper - @border-width_DateRangeBigChoose-MonthRangePickerItem-monthWrapper !important;
   border-right: none !important;
   margin-right: @border-width_DateRangeBigChoose-MonthRangePickerItem-monthWrapper !important;
   height: @height_DateRangeBigChoose-MonthRangePickerItem-monthWrapper - @border-width_DateRangeBigChoose-MonthRangePickerItem-monthWrapper !important;
   border-bottom: none !important;
   margin-bottom: @border-width_DateRangeBigChoose-MonthRangePickerItem-monthWrapper !important;
}

.controls-DateRangeBigChoose-MonthRangePickerItem__item-selectedStart {
   position: relative;
   &:before {
      content: "";
      position: absolute;
      height: 100%;
      width: @width_DateRangeBigChoose-range-selected-startEnd-edgeBorder;
      background-color: @border-color_DateRangeBigChoose-range-selected-startEnd-edgeBorder;
      top: 0;
      left: -1px;
   }
}

.controls-DateRangeBigChoose-MonthRangePickerItem__item-selectedEnd {
   position: relative;
   outline: @border-color_DateRangeBigChoose-range-selected-startEnd solid @border-width_DateRangeBigChoose-range-selected-startEnd;
   &:after {
      content: "";
      position: absolute;
      height: 100%;
      width: @width_DateRangeBigChoose-range-selected-startEnd-edgeBorder;
      background-color: @border-color_DateRangeBigChoose-range-selected-startEnd-edgeBorder;
      top: 0;
      right: -1px;
   }
}

.controls-DateRangeBigChoose-MonthRangePicker__hovered {
   outline: @border-color_DateRangeBigChoose-range-unselected-hover solid 1px;
   background-color: @background-color_DateRangeBigChoose-range-selected-unfinishedEdge;
}

.controls-DateRangeBigChoose-MonthRangePickerItem__quarter {
   position: relative;
   .flex-grow(1);
   .flexbox();
}

.controls-DateRangeBigChoose-MonthRangePickerItem__halfYear-selected,
.controls-DateRangeBigChoose-MonthRangePickerItem__quarter-selected {
   background-color: @background-color_DateRangeBigChoose-dates-months-period-hover;
}

.controls-DateRangeBigChoose-MonthRangePickerItem__month-wrapper {
   border-right: @border-width_DateRangeBigChoose-MonthRangePickerItem-monthWrapper solid @border-color_DateRangeBigChoose-MonthRangePickerItem-monthWrapper;
   border-bottom: @border-width_DateRangeBigChoose-MonthRangePickerItem-monthWrapper solid @border-color_DateRangeBigChoose-MonthRangePickerItem-monthWrapper;
   padding: @padding_DateRangeBigChoose-MonthRangePickerItem-monthWrapper;
   height: @height_DateRangeBigChoose-MonthRangePickerItem-monthWrapper;
   width: @width_DateRangeBigChoose-MonthRangePickerItem-monthWrapper;
   .box-sizing(border-box);
   .flex-shrink(0);
   z-index: 2;
}

.controls-DateRangeBigChoose-MonthRangePickerItem__month_title {
   text-align: center;
   color: @color_DateRangeBigChoose-MonthRangePickerItem-month-title;
   font-size: @font-size_DateRangeBigChoose-MonthRangePickerItem-month-title;
   height: @height_DateRangeBigChoose-MonthRangePickerItem-month-title;
}

.controls-DateRangeBigChoose-MonthRangePickerItem__halfYear-selected,
.controls-DateRangeBigChoose-MonthRangePickerItem__quarter-selected {
   .controls-DateRangeBigChoose-MonthRangePickerItem__item {
      background-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
   }
}
.controls-DateRangeBigChoose-MonthRangePickerItem__halfYear-selected {
   &:before {
      content: '';
      position: absolute;
      top: -@border-width_DateRangeBigChoose_quartersPanel;
      bottom: 0;
      left: @width_DateRangeBigChoose-years-leftRight - @border-width_DateRangeBigChoose_quartersPanel;
      right: -@border-width_DateRangeBigChoose_quartersPanel;
      border: solid @border-width_DateRangeBigChoose_quartersPanel @border-color_DateRangeBigChoose-quarters-halhyears-selected;
      z-index: 3;
   }
   .controls-DateRangeBigChoose-MonthRangePickerItem__halfYearsPanel-button {
      z-index: 3;
      border-bottom-color: transparent;
   }
}
.controls-DateRangeBigChoose-MonthRangePickerItem__quarter-selected {
   &:before {
      content: '';
      position: absolute;
      top: -@border-width_DateRangeBigChoose_quartersPanel;
      bottom: 0;
      right: 0;
      left: -@border-width_DateRangeBigChoose_quartersPanel;
      border: solid @border-width_DateRangeBigChoose_quartersPanel @border-color_DateRangeBigChoose-quarters-halhyears-selected;
      z-index: 3;
   }
   .controls-DateRangeBigChoose-MonthRangePickerItem__quartersPanel-button {
      z-index: 3;
      border-bottom-color: transparent;
   }
}

.controls-DateRangeBigChoose-MonthRangePickerItem__month {
   cursor: pointer;
   border: 1px dotted transparent;
   .box-sizing(border-box);

   &.controls-MonthView {
      width: 100%;
      background-color: transparent;
   }

   .controls-MonthView__dayTable {
      border-collapse: collapse;
   }

   .controls-MonthView__tableElement {
      height: @height_DateRangeBigChoose-MonthRangePickerItem-month-date;
      font-size: @font-size_DateRangeBigChoose-MonthRangePickerItem-month-date;
   }
   .controls-MonthView__backgroundColor-currentMonthDay-weekend-unselected,
   .controls-MonthView__backgroundColor-currentMonthDay-workday-unselected {
      background-color: transparent;
   }
   .controls-MonthView__item-selectedStart,
   .controls-MonthView__item-selectedEnd,
   .controls-MonthView__item-selectedInner {
      outline: none;
      font-weight: normal;
   }
   .controls-MonthView__item-selectedStart:before,
   .controls-MonthView__item-selectedEnd:after {
      width: @width_DateRangeBigChoose-item-selectedStart-before;
   }
   .controls-MonthView__item-selectedStart:before {
      left: 0;
   }
}
.ws-is-desktop-platform {
   .controls-DateRangeBigChoose-MonthRangePickerItem__month {
      .controls-MonthView__tableElement {
         &:hover {
            outline: none;
         }
      }
   }
}

.ws-is-webkit,
.ws-is-mobile-chrome-ios,
.ws-is-ie {
   .controls-DateRangeBigChoose-MonthRangePickerItem__month .controls-MonthView__item-title {
      height: @height_DateRangeBigChoose-MonthRangePickerItem-month-date;
      display: block;
   }
}
.ws-is-ie {
   .controls-DateRangeBigChoose-MonthRangePickerItem__month .controls-MonthView__item-title {
      line-height: @height_DateRangeBigChoose-MonthRangePickerItem-month-date - 2px;
   }
}
.ws-is-webkit,
.ws-is-mobile-chrome-ios {
   .controls-DateRangeBigChoose-MonthRangePickerItem__month .controls-MonthView__item-title {
      line-height: @height_DateRangeBigChoose-MonthRangePickerItem-month-date;
   }
}

.controls-DateRangeBigChoose-MonthRangePickerItem__item-selected,
.controls-DateRangeBigChoose-MonthRangePickerItem__halfYear-selected,
.controls-DateRangeBigChoose-MonthRangePickerItem__quarter-selected,
.controls-DateRangeBigChoose-MonthRangePicker__hovered {
   .controls-MonthView__backgroundColor-currentMonthDay-weekend-selected,
   .controls-MonthView__backgroundColor-currentMonthDay-workday-selected {
      background-color: transparent;
   }
   .controls-MonthView__item-selectedStart:before,
   .controls-MonthView__item-selectedEnd:after {
      height: 0;
   }
}

.controls-DateRangeBigChoose-MonthRangePickerItem__month_clickable {
   &:hover,
   &:active {
      border-color: @border-color_DateRangeBigChoose-MonthRangePickerItem-month;
   }
}

// Скрываем индикатор загрузки. На слабых машинах сетка с месяцами может рендерится около 700мс.
// Не смотря на то, что данные грузятся синхронно, индикатор загрузки иногода промаргивает на слабых компьютерах
// при первоначальной инициализации когда отрисовываются несколько лет(грузятся предыдущий и последующий года).
.controls-DateRangeBigChoose-MonthRangePicker {
   .controls-ListView-scrollIndicator {
      display: none!important;
   }
}
