<div class="controls-DateRangeBigChoose__rangeContainer controls-DateRangeBigChoose__yearsRange">
   <ws:for data="yearIndex, year in yearPanelData">
      <div data-selected-range-id="{{year.caption}}" class="controls-DateRangeBigChoose__years-yearsRange-btn controls-RangeSelectable__item {{_prepareRangeCssClasses('controls-DateRangeBigChoose__years-yearsRangeItem', ...)}}">{{year.caption}}</div>
   </ws:for>
</div>