<div class="controls-FilterPanelChooser controls-FilterPanelChooser__{{viewMode}}">
    <ws:if data="{{ viewMode === 'favorites' }}">
        <ws:SBIS3.CONTROLS.FilterPanelBoolean name="controls-FilterPanelChooser__favoritesCheckBox"
            caption="{{'Избранные (' + (favorites ? favorites.length : 0) + ')'}}"
            count="{{ '' + favoritesCount }}"
            value="{{ favoritesIsChecked }}"    >
        </ws:SBIS3.CONTROLS.FilterPanelBoolean>
    </ws:if>
    <ws:SBIS3.CONTROLS.ListView name="controls-FilterPanelChooser__ListView"
        className="controls-ListView__withoutMarker"
        displayField="{{ displayField }}"
        keyField="{{ keyField }}"
        dataSource="{{ dataSource }}"
        pageSize="{{ 3 }}"
        showHead="{{ false }}"
        multiselect="{{ true }}"
        itemsDragNDrop="{{ false }}"
        itemsActions="{{ [] }}"
        selectedKeys="{{ value || [] }}">
        <ws:itemContentTpl>
            <ws:partial template="{{ _itemTpl }}" scope="{{ itemContentTpl }}" countField="{{ countField }}" />
        </ws:itemContentTpl>
    </ws:SBIS3.CONTROLS.ListView>
    <div class="controls-FilterPanelChooser__footer">
        <ws:SBIS3.CONTROLS.Link name="controls-FilterPanelChooser__dictionaryButton"
            className="controls-FilterPanelChooser__dictionaryButton"
            caption="{{ captionFullList }}"
            command="showDictionary"
            visible="{{ viewMode !== 'list' }}">
        </ws:SBIS3.CONTROLS.Link>
        <ws:SBIS3.CONTROLS.Link name="controls-FilterPanelChooser__allButton"
            className="controls-FilterPanelChooser__allButton"
            caption="{{ viewMode !== 'list' ? ('Ещё' + ' ' + (_itemsCount - 3)) : captionFullList }}"
            command="showAll"
            visible="{{ _itemsCount > 3 }}">
        </ws:SBIS3.CONTROLS.Link>
    </div>
</div>