<div class="controls-FilterSelect__item">
    <div>
        <SBIS3.CONTROLS.Link
           caption="{{item.get(displayProperty)}}"
           className="controls-ListView__item blue-dark-color"
            attributes="{{ {
                'data-hash': projItem.getHash(),
                'data-id': item.getId()
            } }}"
        />
    </div>
    <div class="controls-FilterSelect__item-separator">/</div>
</div>
