.controls-SwitchCircle {
   border-radius: 50%;
}

.controls-SwitchCircle {
   width: var(--marker_width_switcher);
   height: var(--marker_height_switcher);
}

.controls-SwitchCircle_selected {
   background-color: var(--selected_marker_color_switcher);
}
.controls-SwitchCircle_unselected {
   background-color: var(--unselected_marker_color_switcher);
}
.controls-SwitchCircle_selected_disabled {
   background-color: var(--readonly_marker_color_switcher);
}
.controls-SwitchCircle_unselected_disabled {
   background-color: var(--readonly_unselected_marker_color_switcher);
}
