.controls-FastDataFilter {
  display: inline-block;
  position: relative;
  border: 0;
  &.controls-FastDataFilter__resize{
    .flexbox();
    .controls-DropdownList {
      overflow: hidden;
      .controls-DropdownList__textWrapper{
        text-overflow: ellipsis;
      }
    }
  }
}

.ws-is-ie {
  .controls-FastDataFilter .controls-DropdownList__selectedItem{
    height: @DropdownList-height; //Если задан min-height, то в ie не работает выравнивание по вертикали на flex
  }
}