<div class="controls-FastDataFilter {{className|orEmpty}} {{!visible ? 'ws-hidden'}}">
    <ws:if data="{{ _serverRender }}">
        <ws:partial template="{{_itemsTemplate}}" records="{{_records}}" tplData="{{_itemData}}" />
    </ws:if>
</div>