<ws:partial
   template="{{!!item.historyId ? 'SBIS3.CONTROLS/SbisDropdownList' : 'SBIS3.CONTROLS/DropdownList'}}"
   attributes="{{ {'data-hash': projItem.getHash(), 'data-id': item.getId()} }}"
   name="{{item.name}}"
   type="fastDataFilter"
   items="{{item.values}}"
   idProperty="{{item.idProperty || item.keyField}}"
   multiselect="{{item.multiselect || false}}"
   emptyValue="{{item.emptyValue || false}}"
   displayProperty="{{item.displayProperty || item.displayField}}"
   parentProperty="{{item.parentProperty || item.hierField}}"
   className="{{'controls-ListView__item ' + item.className}}"
   pickerClassName="{{'controls-DropdownList__picker ' + item.pickerClassName}}"
   dataSource="{{item.dataSource}}"
   filter="{{item.filter}}"
   allowDblClick="{{item.allowDblClick || false}}"
   pageSize="{{item.pageSize}}"
   historyId="{{item.historyId}}"
   headTemplate="{{item.headTemplate}}"
   itemTpl="{{item.itemTpl}}"
   text="{{item.text || ''}}"
   itemContentTpl="{{item.itemContentTpl}}"
   itemTemplate="{{item.itemTemplate}}"
   includedTemplates="{{item.includedTemplates}}"
   templateBinding="{{item.templateBinding}}"
   selectedKeys="{{item.selectedKeys}}"
   handlers="{{item.handlers}}"
   pinned="{{item.pinned}}"
   frequent="{{item.frequent}}"
/>