.controls-NotificationPopup {
   border-top: @controls-NotificationPopup-border-top;
   border-left: @controls-NotificationPopup-border-left;
   border-right: @controls-NotificationPopup-border-right;
   border-bottom: @controls-NotificationPopup-border-bottom;
   max-width: @controls-NotificationPopup-max-width;
}

.controls-NotificationPopup__header {
   padding: @controls-NotificationPopup-header-padding;
   .flexbox();
   .align-items(@align: center);
}

.controls-NotificationPopup__header.controls-NotificationPopup__header-withCloseButton {
   padding: @controls-NotificationPopup-header-padding-with-close-button;
}

.controls-NotificationPopup__header_icon.icon-24 {
   background-size: cover;
   margin-right: @controls-NotificationPopup-header-icon-right-margin;
   .flex-shrink(@shrink: 0);
}

.controls-NotificationPopup__header_caption{
   font-size: @controls-NotificationPopup-header-caption-font-size;
   .flex-shrink();
}
