.NotificationPopup__header {
    height: @controls-NotificationPopup-header-height;
    padding: @controls-NotificationPopup-header-padding;
}

.NotificationPopup__header.NotificationPopup__header-withCloseButton {
    padding: @controls-NotificationPopup-header-padding-with-close-button;
}

.NotificationPopup__header_icon.icon-24 {
    float: left;
    background-size: cover;
    margin-top: (@controls-NotificationPopup-header-height - 24) / 2;
    margin-right: @controls-NotificationPopup-header-icon-margin-right;
}

.NotificationPopup__header_caption{
    float: left;
    line-height: @controls-NotificationPopup-header-height;
    font-size: @controls-NotificationPopup-header-caption-font-size;
}
