.controls-NotificationPopup {
   border-top: @controls-NotificationPopup-border-top;
   border-left: @controls-NotificationPopup-border-left;
   border-right: @controls-NotificationPopup-border-right;
   border-bottom: @controls-NotificationPopup-border-bottom;
}

.controls-NotificationPopup__header {
   height: @controls-NotificationPopup-header-height;
   padding: @controls-NotificationPopup-header-padding;
}

.controls-NotificationPopup__header.controls-NotificationPopup__header-withCloseButton {
   padding: @controls-NotificationPopup-header-padding-with-close-button;
}

.controls-NotificationPopup__header_icon.icon-24 {
   float: left;
   background-size: cover;
   position: relative;
   top: 50%;
   margin-top: -@controls-NotificationPopup-header-icon-height / 2;
   margin-right: @controls-NotificationPopup-header-icon-right-margin;
}

.controls-NotificationPopup__header_caption{
   float: left;
   line-height: @controls-NotificationPopup-header-height;
   font-size: @controls-NotificationPopup-header-caption-font-size;
}
