.controls-Stack__content-wrapper {
   position: relative;
   display: flex;
}

.controls-Stack__resizingLine {
   position: absolute;
   left: 0;
   height: 100%;
   z-index: 2;
}

.controls-Stack__content {
   width: 100%;
}
