.controls-SortingSelector {
   display: flex;
   align-items: center;
}

.controls-SortingSelector_itemWrapper {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   height: @item_height_menu;
}

.controls-SortingSelector_arrow-outside_theme-@{themeName},
.controls-SortingSelector_arrow_theme-@{themeName} {
   width: @icon-width_gridSortingSelector;
   height: @icon-height_gridSortingSelector;
}

.controls-SortingSelector_arrow-outside_theme-@{themeName} {
   margin-left: @icon_offset_gridSortingSelector;
   cursor: pointer;
}

.controls-SortingSelector_itemTitle {
   display: inline-flex;
   width: 100%;
   height: 100%;
   align-items: center
}

.controls-SortingSelector_arrow_spacing_theme-@{themeName} {
   margin-left: @item_icon_offset_gridSortingSelector;
}

.controls-SortingSelector_arrow_separator_theme-@{themeName} {
   width: @item_vertical_separator_width_gridSortingSelector;
   background-color: @background-color_sticky;
   height: inherit;
}

.controls-SortingArrow_desc {
   transform: rotate(180deg);
}

.controls-SortingSelector_arrowsContainer {
   display: flex;
   height: 100%;
   align-items: center;
   padding-right: @item_icon_offset_gridSortingSelector;
   margin-left: @item_icon_offset_gridSortingSelector;
}

.controls-SortingSelector_arrow_unselected_theme-@{themeName} {
   fill: @item_icon-color_gridSortingSelector;
   cursor: pointer;
}

.controls-SortingSelector_arrow-outside_theme-@{themeName},
.controls-SortingSelector_arrow_selected_theme-@{themeName} {
   fill: @item_icon-color_gridSortingSelector;
}

.controls-SortingSelector_arrow-outside_theme-@{themeName}:hover,
.controls-SortingSelector_arrow_unselected_theme-@{themeName}:hover {
   fill: @item_hover_icon-color_unselected_gridSortingSelector;
}

