.controls-SortButton {
	display: inline-block;
}

.controls-SortButton__content {
	.baseline-fix();
	display: flex;
	align-items: baseline;
}

.controls-SortButton_icon_trendDown {
	background-image: @background-image_SortButton-trendDown;
}
.controls-SortButton_icon_trendUp {
	background-image: @background-image_SortButton-trendUp;
}

.controls-SortButton__icon_theme-@{themeName} {
	color: @color_SortButton-icon;
	align-self: @align-self_SortButton-icon;
	display: inline-block;
	background-repeat: no-repeat;
	background-size: @size_SortButton-icon @size_SortButton-icon;
	width: @size_SortButton-icon;
	height: @size_SortButton-icon;
}

.controls-SortButton__caption {
	cursor: pointer;
	display: inline;
}

.controls-SortButton__caption_theme-@{themeName} {
	font-size: @font-size_SortButton-caption;
	color: @color_SortButton-caption;
}

.ws-is-hover {
	.controls-SortButton__caption:hover {
		text-decoration: underline;
	}
}

.controls-SortButton__caption:active {
	text-decoration: underline;
}
