.controls-StateIndicator_theme-@{themeName}  {
      margin:  0  @padding-horizontal_progressStateIndicator;
}

.controls-StateIndicator__box_theme-@{themeName}  {
      display:  inline-block;

      &:last-child  {
            margin-right:  0;
      }
}

.controls-StateIndicator__emptySector_theme-@{themeName}  {
      background:  @unselected_item_color_progressStateIndicator;
}

.controls-StateIndicator__sector1_theme-@{themeName}  {
      background:  @item_color_first-group_progressStateIndicator;
}

.controls-StateIndicator__sector2_theme-@{themeName}  {
      background:  @item_color_second-group_progressStateIndicator;
}

.controls-StateIndicator__sector3_theme-@{themeName}  {
      background:  @item_color_third-group_progressStateIndicator;
}
.controls-StateIndicator__box_sectorSize-l_theme-@{themeName}  {
      width:  @item_width_l_progressStateIndicator;
      height:  @item_height_l_progressStateIndicator;
      margin-right:  @item_offset_l_progressStateIndicator;
}

.controls-StateIndicator__box_sectorSize-m_theme-@{themeName}  {
      width:  @item_width_m_progressStateIndicator;
      height:  @item_height_m_progressStateIndicator;
      margin-right:  @item_offset_m_progressStateIndicator;
}

.controls-StateIndicator__box_sectorSize-s_theme-@{themeName}  {
      width:  @item_width_s_progressStateIndicator;
      height:  @item_height_s_progressStateIndicator;
      margin-right:  @item_offset_s_progressStateIndicator;
}
