<div>
    <h3>Кликабельный</h3>
    <Controls.Toggle.DoubleSwitch bind:value="value" captions="{{['on', 'off']}}" attr:test_name="clicked" />
    <h3>Кликабельный, в режиме чтения</h3>
    <Controls.Toggle.DoubleSwitch readOnly="{{true}}" bind:value="value" captions="{{['on', 'off']}}" attr:test_name="readonly" />
    <h3>Включен</h3>
    <Controls.Toggle.DoubleSwitch bind:value="value1" captions="{{['on', 'off']}}"/>
    <h3>Выключен</h3>
    <Controls.Toggle.DoubleSwitch bind:value="value" captions="{{['on', 'off']}}"/>
    <h3>В режиме чтения, включен</h3>
    <Controls.Toggle.DoubleSwitch bind:value="value1" readOnly="{{true}}" captions="{{['on', 'off']}}"/>
    <h3>В режиме чтения, выключен</h3>
    <Controls.Toggle.DoubleSwitch readOnly="{{true}}" bind:value="value" captions="{{['on', 'off']}}" />
    <h3>Вертикальный</h3>
    <Controls.Toggle.DoubleSwitch bind:value="value" orientation="vertical" captions="{{['on', 'off']}}" />
    <h3>Вертикальный</h3>
    <Controls.Toggle.DoubleSwitch bind:value="value1" orientation="vertical" captions="{{['on', 'off']}}" />
    <h3>Базовая линия</h3>
    baseline<Controls.Toggle.DoubleSwitch bind:value="value" captions="{{['on', 'off']}}" />
    <h3>Вертикальный, базовая линия</h3>
    baseline<Controls.Toggle.DoubleSwitch bind:value="value" orientation="vertical" captions="{{['on', 'off']}}" />
</div>