<div>
    <h3>Кликабельный</h3>
    baseline<Controls:Toggle:DoubleSwitch bind:value="value" captions="{{['on', 'off']}}" />
    <h3>Кликабельный, в режиме чтения</h3>
    baseline<Controls:Toggle:DoubleSwitch enabled="{{false}}" bind:value="value1" captions="{{['on', 'off']}}" />
    <h3>Включен</h3>
    baseline<Controls:Toggle:DoubleSwitch captions="{{['on', 'off']}}"/>
    <h3>Выключен</h3>
    baseline<Controls:Toggle:DoubleSwitch value="{{true}}" captions="{{['on', 'off']}}"/>
    <h3>В режиме чтения, включен</h3>
    baseline<Controls:Toggle:DoubleSwitch enabled="{{false}}" captions="{{['on', 'off']}}"/>
    <h3>В режиме чтения, выключен</h3>
    baseline<Controls:Toggle:DoubleSwitch enabled="{{false}}" value="{{true}}" captions="{{['on', 'off']}}" />
    <h3>Вертикальный</h3>
    baseline<Controls:Toggle:DoubleSwitch bind:value="value" orientation="vertical" captions="{{['on', 'off']}}" />
    <h3>Вертикальный</h3>
    baseline<Controls:Toggle:DoubleSwitch value="{{true}}" orientation="vertical" captions="{{['on', 'off']}}" />
</div>