<div>
    <div class="exampleBlock">
        <h2>Switch</h2>
        <Controls.Toggle.Switch on:valueChanged="changeValue()" readOnly="{{_readOnly}}" value="{{_value}}" caption="{{_caption}}" captionPosition="{{_selectedCaptionPosition}}"/>
    </div>
    <div class="optionsBlock">
        <h3>Options</h3>
        <Controls.Toggle.Checkbox readOnly="{{false}}" bind:value="_readOnly" caption="ReadOnly"/>
        <br/>
        <Controls.Label caption="Caption"/>
        <Controls.Input.Text bind:value="_caption"/>
        <Controls.Label caption="Caption position:"/>
        <Controls.Toggle.Radio
                on:selectedKeyChanged="changeCaptionPosition()"
                keyProperty="title"
                selectedKey="{{_selectedCaptionPosition}}"
                source="{{_captionPositionSource}}"
                direction="horizontal"
                readOnly="{{false}}"/>
    </div>
    <div class="eventBlock">
        <span>Event that surfaced:</span>
        <Controls.Button attr:class="demo-ResetButton" on:click="reset()" style="linkMain3" caption="reset"/>
        <br/>
        <span>{{_eventName}}</span>
    </div>
</div>