.exampleBlock, .optionsBlock, .eventBlock {
   width: 200px;
   padding: 3em;
}
.exampleBlock {
   margin: 2% 10% 0 10%;
   background-color: #e0f6ff;
}
.optionsBlock {
   margin: 0 10% 2% 10%;
   background-color: #e4ecff;
}
.eventBlock {
   margin: 2% 10% 2% 10%;
   background: rgba(103, 185, 255, 0.17);
}