<div class="controls-ItemsToolbar__editActions ws-hidden">
   <ws:SBIS3.CONTROLS.IconButton class="controls-IconButton__round-border-24 controls-IconButton__round icon-size"
                                 command="commitEdit"
                                 allowChangeEnable="{{false}}"
                                 icon="sprite:icon-16 icon-Yes icon-done"
         tooltip="Сохранить"></ws:SBIS3.CONTROLS.IconButton>
   <ws:SBIS3.CONTROLS.IconButton class="controls-Button__closeButton" command="cancelEdit"
         allowChangeEnable="{{false}}"
         tooltip="Отмена"></ws:SBIS3.CONTROLS.IconButton>
</div>