<div class="controls-ItemsToolbar__editActions ws-hidden">
   <SBIS3.CONTROLS.Button.IconButton
                                 command="commitEdit"
                                 commandArgs="{{[true]}}"
                                 allowChangeEnable="{{false}}"
                                 className="controls-IconButton__round-border-24 controls-ItemActions-button"
                                 icon="sprite:icon-size icon-Yes icon-done"
         tooltip="{[Сохранить]}"/>
   <SBIS3.CONTROLS.WSControls.Buttons.Button class="controls-EditActions__cancelButton" command="cancelEdit"
         allowChangeEnable="{{false}}"
         icon="icon-size icon-Close icon-primary"
         tooltip="{[Отмена]}"/>
</div>
