.itemsToolbar-touchmode-size(@icon-size) {
   .controls-ItemActions__item {
      .controls-Button__icon {
         &.icon-size {
            .icon-size(@icon-size);
         }
      }
   }
}


.controls-ItemsToolbar {
   background-color: @list-view-items-toolbar-bg;
}

.controls-ItemsToolbar__small {
   &.controls-ItemsToolbar__edit {
      .controls-ItemActions__menu-button {
         margin-top: 4px;
      }
      .controls-ItemActions__item {
         line-height: @list-view-small-items-toolbar-line-height !important;
      }
   }
}

.controls-ItemsToolbar__withEditActions {
   .controls-ItemActions__item {
      line-height: @list-view-items-toolbar-vertical-line-height !important;
   }
}

.controls-ItemsToolbar__edit {
   background-color: @list-view-items-toolbar-locked-bg;
   .controls-IconButton.controls-IconButton_bordered_size_s,  .controls-IconButton.controls-ItemActions-button {
      line-height: @list-view-items-toolbar-line-height !important;
   }
   .controls-ItemActions__menu-button {
      display: none;
   }
}
.controls-ItemsToolbar__withEditActions {
   .controls-ItemActions__item {
      line-height: @list-view-items-toolbar-line-height !important;
      &.controls-IconButton_bordered_size_s, .controls-ItemActions-button {
         line-height: @list-view-items-toolbar-line-height !important;
      }
   }
}

.controls-CompositeView {
   .controls-ItemsToolbar {
      &.controls-ItemsToolbar__vertical {
         right: 1px;
         top: 1px;
         bottom: auto;

         .controls-ItemActions {
            height: auto;
            width: @list-view-actions-verAlign-width;
            margin: @list-view-actions-verAlign-margin;

            .controls-ItemActions__itemsContainer {
               & > * {
                  margin: @list-view-actions-margin-action-multiView;
               }
               .flex-direction(column);
            }

            .controls-ItemActions__menu-button {
               margin-left: @list-view-actions-marginLeft-menu-multiView;
               order: -1;
            }
         }
      }

      &.controls-ItemsToolbar__small {
         &.controls-ItemsToolbar__vertical {
            .controls-ItemActions {
               width: @list-view-small-actions-verAlign-width;
            }
         }
      }
   }
}
.controls-ItemsToolbar__editActions {
   float: right;
   > * {
      margin: @list-view-items-toolbar-elements-margin;
   }
}

.controls-ItemActions {
   float: left;
}

.controls-ListView__bottomStyle {
   padding-bottom: @bottomStyle-padding-bottom;
   > .controls-ItemsToolbar {
      right: 0;
      padding: 0;
      .controls-ItemActions__itemsContainer {
         margin-right: 2px;
      }
      background-color: @list-view-items-toolbar-bg;
      &.controls-ItemsToolbar__edit {
         background-color: @list-view-items-toolbar-locked-bg;
         &:before {
            border-top-color: @list-view-items-toolbar-locked-bg;
         }
      }
      height: @bottomStyle-items-toolbar-height - @default-border-width;
      border-bottom: @default-border-width solid @bottomStyle-items-toolbar-border-color;
      &:before {
         content: '';
         position: absolute;
         width: 0;
         height: 0;
         border-top: @bottomStyle-items-toolbar-height - @default-border-width solid @list-view-items-toolbar-bg;
         border-left: @bottomStyle-items-toolbar-width solid transparent;
         left: -@bottomStyle-items-toolbar-width;
      }
      .controls-ItemActions .controls-ItemActions__itemsContainer {
         margin-left: @bottomStyle-items-toolbar-itemsContainer-margin-left;

         > * {
            margin-top: @bottomStyle-items-toolbar-margin-top;
            &.controls-IconButton_bordered_size_s {
               margin-top: @bottomStyle-items-toolbar-iconButton-24-margin-top;
               margin-bottom: @bottomStyle-items-toolbar-iconButton-24-margin-bottom;
            }
         }
      }
      &.controls-ItemsToolbar__edit {
         .controls-ItemsToolbar__container {
            .controls-ItemActions__item {
               line-height: @list-view-items-toolbar-line-height !important;
               &.controls-IconButton_bordered_size_s, .controls-ItemActions-button {
                  line-height: @list-view-items-toolbar-line-height !important;
               }
            }
         }
      }
      .controls-ItemActions__menu-button {
         display: none;
      }

      &.controls-ItemsToolbar__small {
         .controls-ItemActions .controls-ItemActions__itemsContainer {
            > * {
               margin-top: @bottomStyle-small-items-toolbar-margin-top;
            }
         }
      }
   }
   > .controls-ItemsToolbar .controls-ItemsToolbar__container {
      margin-top: @bottomStyle-items-toolbar-margin;
      height: calc(@bottomStyle-items-toolbar-height~" - 1px");
   }
   &.controls-DataGridView .controls-ItemActions .controls-ItemActions__itemsContainer {
      background-color: transparent;
   }
}

.controls-ItemsToolbar {
   position: absolute;
   display: block;
   z-index: 10;
   background-color: @list-view-items-toolbar-bg;
   bottom: @list-view-items-toolbar-bottom;
   right: @list-view-items-toolbar-right;
   padding: @list-view-items-toolbar-padding;

   .icon-size {
      .icon-size(@list-view-items-toolbar-icon-size, @list-view-items-toolbar-font-family);
   }
   .controls-IconButton_bordered_size_s, .controls-ItemActions-button {
      border-width: @list-view-items-toolbar-icon-button-border-width;
      border-radius: @list-view-items-toolbar-icon-button-border-radius;
      .controls-Button__icon.icon-size {
         .icon-size(@list-view-items-toolbar-icon-button-border-font-size);
         line-height: @list-view-items-toolbar-icon-button-border-font-size - 2 * @list-view-items-toolbar-icon-button-border-width !important;
      }
   }

   &.controls-ItemsToolbar__edit {
      background-color: @list-view-items-toolbar-locked-bg;
      right: @list-view-items-toolbar-locked-right;
      padding: 0;

      .controls-ItemActions {
         .controls-ItemActions__itemsContainer {
            margin-right: @list-view-items-toolbar-locked-margin-right;
         }
      }
   }
   &.controls-ItemsToolbar__withEditActions {
      right: @right_ItemsToolbar_withEditActions_locked;
   }

   .controls-Button__closeButton.controls-IconButton {
      display: inline-block;
      margin-right: @margin-right_ListView-itemsToolbar-closeButton;
   }
   &.controls-ItemsToolbar__small {
      .icon-size {
         .icon-size(16px);
      }
   }


   &.controls-ItemsToolbar__hidden {
      visibility: hidden;
   }
}

.controls-EditActions__cancelButton {
   .closeButton__popup();
   .closeButton__popup_standard( @width_itemsToolbar_closeButton, @height_itemsToolbar_closeButton, @font-size_itemsToolbar_closeButton);

   margin-right: @margin-right_editActions_closeButton;
   .controls-ButtonBase__content {
      display: none;
   }
}

body:not(.ws-is-mobile-platform) {
   .controls-EditActions__cancelButton {
      .closeButton__popup_standard_hover();
   }
}

.itemsToolbar-leftSwipeAnimation {
   .animation(itemsToolbar-leftSwipe, @list-view-items-toolbar-animate-duration );
}

@keyframes itemsToolbar-leftSwipe {
   0% {
      .translate(100%);
   }
   100% {
      .translate(0);
   }
}

.itemsToolbar-rightSwipeAnimation {
   .animation(itemsToolbar-rightSwipe, @list-view-items-toolbar-animate-duration);
}

@keyframes itemsToolbar-rightSwipe {
   0% {
      .translate(0);
   }
   100% {
      .translate(100%);
   }
}

.controls-ListView.controls-ListView__touchMode {
   &.controls-ListView__bottomStyle {
       > .controls-ItemsToolbar {
         height: calc(@bottomStyle-items-toolbar-height~" - 1px") !important;
      }
   }

   &:not(.controls-ListView__bottomStyle) {
      > .controls-ItemsToolbar {
         overflow: hidden;
         top: auto;
         bottom: 0;
         right: 0;
         background-color: transparent;

         .controls-ButtonBase__content {
            .flex-direction(column);
            .justify-content(center);
            &:before {
               width: 0;
               height: 0;
            }
         }

         &.controls-ItemsToolbar-item-size {
            &__1 {
               .controls-ItemActions__item {
                  &.controls-IconButton {
                     .controls-Button__text {
                        display: none;
                     }
                  }
                  &.controls-Link {
                     .controls-Button__icon {
                        display: none;
                     }
                  }
                  .controls-Button__text {
                     font-size: 14px;
                     line-height: 14px;
                  }
               }
               .controls-ItemActions__menu-button {
                  &.controls-IconButton {
                     .controls-Button__text {
                        display: none;
                     }
                  }
               }
            }
            &__2 {
               .itemsToolbar-touchmode-size(16px;)
            }
            &__3 {
               .itemsToolbar-touchmode-size(20px;)
            }
            &__4 {
               .itemsToolbar-touchmode-size(24px;)
            }
            &__5 {
               .itemsToolbar-touchmode-size(32px;)
            }
         }

         .controls-ItemsToolbar__container {
            position: relative;
            background-color: @background-color__itemsToolbar_touchmode;
            border-left: 1px solid @border-color__itemsToolbar_touchmode;
            overflow: hidden;
            height: 100%;

            .controls-ItemActions__item {
               .controls-Button__icon {
                  &.icon-primary {
                     color: @hover-color;
                  }
               }
               .controls-Button__text {
                  display: block;
                  color: @color__itemsToolbar_buttonText_touchmode;
                  font-size: 12px;
                  line-height: 12px;
               }
            }

            .controls-ItemActions {
               height: 100%;

               .controls-ItemActions__itemsContainer {
                  height: 100%;
               }
            }

            .controls-ItemsToolbar__editActions {
               height: 100%;

               .controls-IconButton {
                  position: relative;
                  top: 50%;
                  margin-top: @touch-mode-items-toolbar-icon-margin-top;
               }
            }
         }

         &.controls-ItemsToolbar__edit {
            .controls-ItemsToolbar__container {
               background-color: @list-view-items-toolbar-locked-bg;
            }
         }

         &.controls-ItemsToolbar__vertical {

            .controls-ItemActions {
               width: auto;
               margin: 0;
            }
         }
      }
   }
}

.ws-sticky-header__header-container {
   // отменяем стили изменяющие размер таблицы в фиксированных заголовках
   .controls-ListView.controls-ListView__bottomStyle {
       padding-bottom: 0;
   }
}

.ws-is-ie10 {
   .controls-ListView__bottomStyle > .controls-ItemsToolbar {
      border: none;
   }
}

.controls-ItemsToolbar__editActions {
   .flexbox();
   .align-items(center);
}