@bottomStyle-items-toolbar-height:        30px;
@bottomStyle-items-toolbar-margin-bottom: -30px;
@bottomStyle-items-toolbar-border-color:  #F3F3F3;

.controls-ListView {
   .controls-ItemsToolbar {
      position: absolute;
      display: block;
      z-index: @list-view-items-toolbar-zindex;
      margin: 0 1px 1px 0;
      background-color: @list-view-items-toolbar-bg;
      box-shadow: @list-view-items-toolbar-box-shadow;
      margin-right: @list-view-items-toolbar-margin-right;

      &.controls-ItemsToolbar__vertical {
         margin: 1px 1px 0 0;

         .controls-ItemActions {
            height: auto;
            width: @list-view-actions-verAlign-width;
            margin: @list-view-actions-verAlign-margin;

            .controls-ItemActions__itemsContainer {
               & > * {
                  margin: @list-view-actions-margin-action-multiView;
               }
               .controls-Link span {
                  position: absolute;
                  right: -16px;
               }
            }

            .controls-ItemActions__menu-button {
               margin-left: @list-view-actions-marginLeft-menu-multiView;
            }
         }
      }
   }

   &.controls-DataGridView,
   &.controls-TreeView {
      .controls-ItemsToolbar {
         background-color: @list-view-items-toolbar-bg;
         box-shadow: @list-view-items-toolbar-box-shadow;
         &.controls-ItemsToolbar__locked {
            background-color: @list-view-items-toolbar-locked-bg;
            box-shadow: @list-view-items-toolbar-locked-box-shadow;
            &.controls-ItemsToolbar__vertical {
               box-shadow: @list-view-items-toolbar-vertical-locked-box-shadow;
            }
         }
         &.controls-ItemsToolbar__vertical {
            box-shadow: @list-view-items-toolbar-vertical-box-shadow;
         }
         .controls-Button__closeButton {
            display: inline-block;
            margin-right: 0;
         }
      }
   }
   .controls-ItemsToolbar__editActions {
      float: @list-view-items-toolbar-float;
      > * {
         margin: @list-view-items-toolbar-elements-margin;
      }
      margin-bottom: @list-view-items-toolbar-margin-bottom;
   }
   .controls-ItemActions {
      float: left;
   }
   &.controls-ListView__bottomStyle {
      padding-bottom: @bottomStyle-items-toolbar-height;
      .controls-ItemsToolbar {
         background-color: @list-view-items-toolbar-bg;
         box-shadow: none;
         &.controls-ItemsToolbar__locked {
            background-color: @list-view-items-toolbar-locked-bg;
            &:before {
               background: url('img/items-toolbar-bottom-style-background.png') no-repeat 0 -30px;
            }
            &:after {
               background: url('img/items-toolbar-bottom-style-background.png') no-repeat -24px -30px;
            }
         }
         margin-bottom: @bottomStyle-items-toolbar-margin-bottom;
         height: @bottomStyle-items-toolbar-height - 1;
         border-bottom: 1px solid @bottomStyle-items-toolbar-border-color;
         &:before {
            content: '';
            position: absolute;
            display: block;
            background: url('img/items-toolbar-bottom-style-background.png') no-repeat 0 0;
            width: 24px;
            height: @bottomStyle-items-toolbar-height;
            left: -24px;
         }
         &:after {
            content: '';
            position: absolute;
            display: block;
            background: url('img/items-toolbar-bottom-style-background.png') no-repeat -24px 0;
            width: 3px;
            height: @bottomStyle-items-toolbar-height;
            right: -3px;
            top: 0;
         }
         .controls-ItemActions .controls-ItemActions__itemsContainer {
            > * {
               margin-top: 4px;
               &.controls-IconButton__round-border-24 {
                  margin-top: 0;
               }
            }
         }
      }
      .controls-ItemsToolbar .controls-ItemsToolbar__container {
         margin: 3px 0 0 0;
         height: @bottomStyle-items-toolbar-height - 1;

      }
      &.controls-DataGridView .controls-ItemActions .controls-ItemActions__itemsContainer {
         background-color: transparent;
      }
   }
}
.ws-is-mobile-platform {
   .controls-ListView {
      &:not(.controls-ListView__bottomStyle) {
         .controls-ItemsToolbar:not(.controls-ItemsToolbar__vertical){
            margin: 0;
            .controls-ItemsToolbar__container {
               top: 50%;
               margin-top: -@list-view-actions-menu-touch-height / 2;
            }
         }
         .controls-ItemsToolbar {
            overflow: hidden;
            background-color: @list-view-items-toolbar-bg;
         }
      }
      .controls-ItemsToolbar,
      .controls-ItemsToolbar.controls-ItemsToolbar__locked {
         box-shadow: none;
         min-height: @list-view-items-toolbar-ipad-minHeight;
         .controls-ItemsToolbar__container {
            position: relative;

            .controls-ItemsToolbar__editActions {
               margin-top: @list-view-actions-menu-touch-margin;
            }
            .controls-ItemActions .controls-ItemActions__itemsContainer {
               & > * {
                  margin-top: 0;
               }
            }
         }
      }
      .controls-ItemsToolbar__vertical {
         .controls-ItemActions {
            margin: 2px 3px 0 0;
            .controls-ItemActions__menu-button {
               margin-right: -10px;
            }
         }
      }
   }
}