<div>
   <ws:if data="{{ !stateError }}">
      <ws:partial template="{{ _options.loadModules }}" scope="{{ _options }}"/>
   </ws:if>
   <ws:else>
      <div>
         Error loading {{ _options.loadModules }} with error {{ stateError }}
      </div>
   </ws:else>
</div>