.controls-ProgressCompactLayout {
   display: flex;
   align-items: center;
}

.controls-ProgressCompactLayout__infoPercent {
   font-size: @font-size-ProgressBar__percent-compactLayout;
   color: @color-ProgressBar__progress;
}

.controls-ProgressCompactLayout__bar {
   width: 100%;
   margin-left: @side-margin-ProgressBar_bar-compactLayout;
   margin-right: @side-margin-ProgressBar_bar-compactLayout;
}

.controls-ProgressCompactLayout__infoRight {
   font-size: @font-size-ProgressBar__info;
   color: @color-ProgressBar__info;
   flex-shrink: 0;
}