.controls-PasswordInput__showPassword_theme_@{themeName} {
  cursor: pointer;
  align-self: center;
  color: @trigger-color_inputPassword;
  .icon(@trigger_icon-size_inputPassword, @font-family_icon_size-m);
}
