.controls-PasswordInput__showPassword_theme_@{themeName} {
  cursor: pointer;
  align-self: center;
  color: @color_PasswordInput-showPassword;
  .icon(@font-size_PasswordInput-showPassword, @font-family_PasswordInput-showPassword);
}
