<div class="controls-LongOperationsFilter">
   <div class="controls-LongOperationsFilter__block">
      <ws:SBIS3.CONTROLS.DropdownList
         mode="click"
         idProperty="key"
         name="StateFilter"
         multiselect="{{false}}"
         parentProperty="parent"
         displayProperty="title"
         text="{{'StateTitle'|mutable}}"
         className="controls-LongOperationsFilter__stateDropdown controls-DropdownList__withoutArrow controls-DropdownList__linkStyle controls-DropdownList__withoutCross"
      >
         <ws:selectedKeys type="array">
            <ws:0>{{'StateKey'|mutable}}</ws:0>
         </ws:selectedKeys>
         <ws:items type="array">
            <ws:Object
               key="{{null}}"
               title="{[В любом состоянии]}"
            />
            <ws:Object
               key="running"
               title="{[В процессе]}"
            />
            <ws:Object
               key="ended"
               title="{[Завершенные]}"
            />
            <ws:Object
               key="success-ended"
               title="{[Успешно]}"
               parent="ended"
            />
            <ws:Object
               key="error-ended"
               title="{[С ошибками]}"
               parent="ended"
            />
            <ws:Object
               key="suspended"
               title="{[Приостановленные]}"
            />
         </ws:items>
      </ws:SBIS3.CONTROLS.DropdownList>
      <ws:SBIS3.CONTROLS.DropdownList
         mode="click"
         idProperty="key"
         name="PeriodFilter"
         multiselect="{{false}}"
         displayProperty="title"
         text="{{'PeriodTitle'|mutable}}"
         className="controls-DropdownList__withoutArrow controls-DropdownList__linkStyle controls-DropdownList__withoutCross"
      >
         <ws:selectedKeys type="array">
            <ws:0>{{'PeriodKey'|mutable}}</ws:0>
         </ws:selectedKeys>
         <ws:items type="array">
            <ws:Object
               key="{{null}}"
               title="{[За все время]}"
            />
            <ws:Object
               key="PT1H"
               title="{[За час]}"
            />
            <ws:Object
               key="P1D"
               title="{[За сегодня]}"
            />
            <ws:Object
               key="P7D"
               title="{[За неделю]}"
            />
            <ws:Object
               key="P30D"
               title="{[За месяц]}"
            />
            <ws:Object
               key="P180D"
               title="{[За полгода]}"
            />
         </ws:items>
      </ws:SBIS3.CONTROLS.DropdownList>
   </div>
   <div class="controls-LongOperationsFilter__block">
      <div class="controls-LongOperationsFilter__durationTitle">{[Длительность операции]}</div>
      <ws:SBIS3.CONTROLS.DropdownList
         mode="click"
         idProperty="key"
         name="DurationFilter"
         multiselect="{{false}}"
         displayProperty="title"
         text="{{'DurationTitle'|mutable}}"
         className="controls-DropdownList__withoutArrow controls-DropdownList__linkStyle controls-DropdownList__withoutCross"
      >
         <ws:selectedKeys type="array">
            <ws:0>{{'DurationKey'|mutable}}</ws:0>
         </ws:selectedKeys>
         <ws:items type="array">
            <ws:Object
               key="{{null}}"
               title="{[Все]}"
            />
            <ws:Object
               key="PT5M"
               title="{[Дольше 5 минут]}"
            />
            <ws:Object
               key="PT10M"
               title="{[Дольше 10 минут]}"
            />
            <ws:Object
               key="PT30M"
               title="{[Дольше 30 минут]}"
            />
            <ws:Object
               key="PT1H"
               title="{[Дольше часа]}"
            />
         </ws:items>

      </ws:SBIS3.CONTROLS.DropdownList>
   </div>
   <div if="{{!hideStaffFilter}}" class="controls-LongOperationsFilter__block">
      <div class="controls-LongOperationsFilter__responsibleTitle">{[Ответственный]}</div>
      <ws:partial template="optional!js!SBIS3.Staff.Choice"
         selectionType="leaf"
         withAccess="{{true}}"
         multiselect="{{false}}"
         entityType="Пользователь"
         name="FilterResponsibleFace"
         caption="{{'UserName'|bind}}"
         placeholder="{[укажите ФИО]}"
         className="controls-LongOperationsFilter__responsibleChooser"
      >
         <ws:selectedKeys type="array">
            <ws:0>{{'UserId'|mutable}}</ws:0>
         </ws:selectedKeys>
      </ws:partial>
   </div>
</div>