.controls-RangeShortSelectorLink {
   display: inline-block;
   .user-select();
   white-space: nowrap;
   max-width: 100%;
}

.controls-RangeShortSelectorLink_theme-@{themeName} {
   height: @height_rangeShortSelectorLink;
   line-height: @height_rangeShortSelectorLink;
}

.controls-RangeShortSelectorLink-wrapper {
   height: 100%;
   width: 100%;
   display: inline-flex;
   align-items: center;
   justify-content: center;
}

.controls-RangeShortSelectorLink__clear_theme-@{themeName} {
   color: @reset-button_icon-color_dateRangeSelector;
   width: @arrow_width_dateRangeSelector;
}

.controls-RangeShortSelectorLink__arrow-next_theme-@{themeName} {
   margin-left: @yearselector_arrow-next_margin_shortDatePicker;
}

.controls-RangeShortSelectorLink__arrow-prev_theme-@{themeName} {
   margin-left: @yearselector_arrow-prev_margin_shortDatePicker;
}

.controls-RangeShortSelectorLink__prev,
.controls-RangeShortSelectorLink__next {
   font-weight: normal;
   text-align: center;
}

.controls-RangeShortSelectorLink__style-readOnly_theme-@{themeName} {
   color: @text-color;
}

.controls-RangeShortSelectorLink__style-clickable_theme-@{themeName} {
   cursor: pointer;
}

.ws-is-hover {
   .controls-RangeShortSelectorLink__value-hovered:hover {
      text-decoration: underline;
   }
   .controls-RangeShortSelectorLink__style-hover_theme-@{themeName}:hover {
      color: @link_hover_text-color;
   }
}

.controls-RangeShortSelectorLink__value-wrapper {
   //В разных браузерах, при нечетнром количестве пикселей при делении, разные браузеры округлят по разному.
   //Из-за этого существует разница в 1px по высоте. Увиеличил высоту контейнера на 1px и прижал к низу.
   display: flex;
   justify-content: flex-start;
   align-items: baseline;
   flex-grow: 1;
   text-align: center;
   height: 100%;
   min-width: 0;
}

.controls-RangeShortSelectorLink__value-wrapper-minWidth_theme-@{themeName} {
   min-width: @min-width_dateRangeSelector;
}

.controls-RangeShortSelectorLink__value_theme-@{themeName} {
   font-weight: @font-weight_dateRangeSelector;
}

.controls-RangeShortSelectorLink__clear {
   cursor: pointer;
   text-align: center;
}

.controls-RangeShortSelectorLink__value-viewMode-link {
   max-width: 100%;
}
