.controls-RangeShortSelectorLink {
   display: inline-block;
   .user-select();
   white-space: nowrap;
}

.controls-RangeShortSelectorLink_theme-@{themeName} {
   height: @height_rangeShortSelectorLink;
}

.controls-RangeShortSelectorLink-wrapper {
   height: 100%;
   width: 100%;
   display: inline-flex;
   align-items: center;
   justify-content: center;
}

.controls-RangeShortSelectorLink__clear_theme-@{themeName} {
   font-size: @arrow_icon-size_dateRangeSelector;
   width: @arrow_width_dateRangeSelector;
   color: @reset-button_icon-color_dateRangeSelector;
   font-family: @icon_font-family_s;

   &::before {
      line-height: @clear_line-height_rangeShortSelectorLink;
   }
}

.controls-RangeShortSelectorLink__arrow-next_theme-@{themeName} {
   margin-left: @yearselector_arrow-next_margin_shortDatePicker;
}

.controls-RangeShortSelectorLink__arrow-prev_theme-@{themeName} {
   margin-left: @yearselector_arrow-prev_margin_shortDatePicker;
}

.controls-RangeShortSelectorLink__prev,
.controls-RangeShortSelectorLink__next {
   font-weight: normal;
   text-align: center;
}

.controls-RangeShortSelectorLink__style-readOnly_theme-@{themeName} {
   color: @text-color;
}

.controls-RangeShortSelectorLink__style-clickable_theme-@{themeName} {
   cursor: pointer;
}

.ws-is-hover {
   .controls-RangeShortSelectorLink__value-hovered:hover {
      text-decoration: underline;
   }
   .controls-RangeShortSelectorLink__style-hover_theme-@{themeName}:hover {
      color: @link_hover_text-color;
   }
}

.controls-RangeShortSelectorLink__value-wrapper {
   //В разных браузерах, при нечетнром количестве пикселей при делении, разные браузеры округлят по разному.
   //Из-за этого существует разница в 1px по высоте. Увиеличил высоту контейнера на 1px и прижал к низу.
   display: flex;
   justify-content: flex-start;
   align-items: baseline;
   flex-grow: 1;
   text-align: center;
   height: 100%;
}

.controls-RangeShortSelectorLink__value-wrapper_theme-@{themeName}::before {
   content: '\200b';
   display: inline-block;
   width: 0;
   font-size: @line-height_rangeShortSelectorLink;
}

.ws-is-firefox {
   .controls-RangeShortSelectorLink__value-wrapper_theme-@{themeName}::before {
      // Механизмы рендеринга webkit и FF/IE по-разному реализуют высоту строки.
      // Чтобы не было прыжков между вызывающим элементом и заголовком (который выровнен по базовой линии)
      // вычитаем 1px (чтобы в FF/IE/EDGE было так же, как chrome).
      font-size: @line-height_rangeShortSelectorLink - 1;
   }
}

.controls-RangeShortSelectorLink__value-wrapper-minWidth_theme-@{themeName} {
   min-width: @min-width_dateRangeSelector;
}

.controls-RangeShortSelectorLink__value_theme-@{themeName} {
   font-weight: @font-weight_dateRangeSelector;
}

.controls-RangeShortSelectorLink__clear {
   cursor: pointer;
   display: inline-block;
   font-weight: normal;
   text-align: center;
   align-self: baseline;

   &::before {
      content: "\ea27";
   }
}
