.controls-Menu__Popup {
   font:  @popup-font-size @default-font-name;
   padding: @menu-padding;
   margin: @menu-margin;
   .flexbox();
   .flex-direction(column);
   // chrome при 150% масштабировании неправильно рассчитывает ширину элементов меню
   // и элементы частично перекрывают border. используем outline т.к. он не меняет размеры при машстабировании
   outline-width: @default-border-width;
   outline-style: @default-border-style;
   outline-color: @menu-border-color;
   background-color: @white-color;
   .user-select(none);

   &.controls-Menu__breakWord {
      word-break: break-word;
   }

   .border-radius(0);
   .box-shadow(@menu-shadow);
   .box-sizing(border-box);

   .controls-Menu__submenu {
      display: block;
   }
   .controls-Menu__header{
      box-sizing: border-box;
      padding: @menu-header-padding;
      .flex-shrink(0);
      .icon-16, .icon-24{
         padding-right: @menu-header-icon-padding;
      }
   }
   .controls-MenuItem {
      min-height: @menu-item-height;
      height: auto;
   }
   // скрываем дополнительные опции через height: 0,
   // чтобы не было скачка при раскрытии доп пунктов
   // т.к. в этом случае меню растянется в ширину с учетом скрытых пунктов
   .controls-MenuItem-additional {
      min-height: 0;
      height: 0;
   }
   &.controls-Menu-showAdditionalItems {
      .controls-MenuItem-additional {
         .flexbox();
         min-height: @menu-item-height;
         height: auto;
      }
   }
   .controls-Menu__itemsContainer {
      padding: @menu-link-menu-item-container-padding;
   }
   &.controls-popup-revert-vertical {
      .flex-direction(column-reverse);
      padding: 0;

      &.controls-Menu__SubMenuPopup {
         padding: @menu-subpopup-padding;
      }

      .controls-Menu__header + .controls-Menu__itemsContainer {
         padding: @menu-link-menu-revert-item-container-padding;
      }
   }
   &.controls-popup-revert-horizontal {
      .controls-Menu__header {
         .flex-direction(row-reverse);
      }
   }
}

.controls-Menu__hasChild {
   &:after {
      position: absolute;
      font-family: @default-icon-small-font !important;
      font-size: @menu-expand-icon-font-size;
      top: @menu-expand-top-offset;
      right: @menu-expand-right-offset;
      width: @menu-expand-width;
      height: @menu-expand-height;
      content: @menu-expand-content;
      color: @icon-color-primary;
      border-width: 0;
      border-style: solid;
      border-color: @menu-expand-border-color;
      background: @menu-expand-bg;
      .box-sizing(border-box);
   }
   &:hover:after {
      border-width: 0;
      border-style: solid;
      border-color: @menu-expand-hover-border-color;
      background: @menu-expand-hover-bg;
   }
   &.controls-MenuItem{
      padding-right: @menu-item-expand-padding-right;
   }
}

.controls-Menu__Popup:not(.controls-MenuPicker__resetIconColor) {
   .controls-Menu__header-icon {
      color: @menu-header-icon-color !important;
   }
}
.controls-Menu__submenu {
   display: none;
}
.controls-Menu__SubMenuPopup {
   margin: @menu-subpopup-margin;
   padding: @menu-subpopup-padding;
   border: none;
}

.controls-Menu {
   .controls-Menu__header {
      position: relative;
      cursor: pointer;
      font-size: @popup-font-size;
      font-weight: @popup-header-font-weight;
      background-color: @menu-header-bg-color;
      overflow: hidden;
      .flexbox();
      .align-items(center);

      .controls-Menu-headWrapper {
         .flexbox();
         .align-items(center);
      }
      .controls-Menu__header-caption {
         color: @popup-header-caption-color;
         .flex-shrink(0);
      }
      .controls-Menu__header-icon + .controls-Menu__header-caption{
         padding-left: 0;
      }
   }
   .controls-Menu__header {
      height: @menu-header-height;
   }
   &.controls-Menu__hide-menu-header {
      .controls-Menu__header {
         display: none;
      }
      &.controls-IconButton__round-border-24 {
         margin: -6px 0 0 -6px;
         .controls-ListView__item:first-child {
            .controls-MenuItem__icon {
               .round-button-mixin(@gray-ccc-color, @border-radius, @icon-button-border-width);
               height: 24px !important;
               width: 24px !important;
               line-height: 22px !important;
               top: 2px;
               left: -6px;
            }
         }
      }
   }
}

.ws-is-ie {
   //в IE flex-direction(column-reverse) должен находиться на контейнере, у которого переворачиваем узлы
   //Иначе вылезает баг: не появится скролл.
   .controls-Menu__SubMenuPopup {
      .controls-Menu__submenu {
         .flexbox();
         .flex-direction(column);
      }
      &.controls-popup-revert-vertical {
         .flex-direction(column);
         .controls-Menu__submenu {
            overflow-y: auto;
            .flex-direction(column-reverse);
         }
      }
   }
}

.ws-is-firefox, .ws-is-ie {
   .controls-Menu__Popup {
      display: block;
      &.controls-popup-revert-vertical {
         .controls-Menu__header{
            margin-top: 4px;
         }
         &.controls-Menu__hide-menu-header .controls-Menu__itemsContainer {
            padding-bottom: 4px;
         }
      }
   }
}