.controls-DropdownList {
   display: inline-block;
   min-height: @DropdownList-height;
   box-sizing: @DropdownList-box-sizing;
   line-height: @DropdownList-height;
   .controls-DropdownList__selectedItem {
      .flexbox();
      width: 100%;
      white-space: nowrap;
      font-size: 0;
      box-sizing: border-box;
      align-items: center;
      .controls-DropdownList__textWrapper{
        .flex-shrink(1);
        overflow: hidden;
        text-overflow: ellipsis;
        color: @DropdownList-linkStyleColor;
        cursor: pointer;
        &:hover{
          color: @DropdownList-linkStyleHoverColor;
          text-decoration: underline;
        }
        &.ws-disabled:hover{
          color: @DropdownList-linkStyleColor;
        }
      }

      &:hover {
        .controls-DropdownList__arrowIcon {
          color: @DropdownList-linkStyleHoverColor!important;
        }
      }
      * {
         font-size: @font-basic-size;
      }
   }
   .controls-DropdownList__beforeCaptionWrapper {
      display: none;
      position: relative;
      top: 2px;
      .flex-shrink(0);
   }
   .controls-DropdownList__afterCaptionWrapper {
      display: none;
      position: relative;
      top: 2px;
      .flex-shrink(0);
   }
   &.controls-DropdownList__type-fastDataFilter {
     .controls-DropdownList__beforeCaptionWrapper {
       display: inline-block;
     }
     &.controls-DropdownList__withoutArrow{
       .controls-DropdownList__beforeCaptionWrapper{
         display: none;
       }
     }
     .controls-DropdownList__afterCaptionWrapper{
       display: inline-block;
     }
     &.controls-DropdownList__withoutCross, &.controls-DropdownList__hideCross, &.ws-disabled{
       .controls-DropdownList__afterCaptionWrapper{
         display: none;
       }
     }


   }
   &.controls-DropdownList__type-filter {
      .controls-DropdownList__afterCaptionWrapper {
         display: block;
         .controls-DropdownList__crossIcon{
            color: @gray-ccc-color!important;
            cursor: pointer;
         }
      }
   }
   &.ws-disabled{
      color: #ccc;
      cursor: default !important;
     .controls-DropdownList__selectedItem .controls-DropdownList__textWrapper {
        color: #ccc;
        cursor: default !important;
        text-decoration: none;
      }
     .controls-DropdownList__selectedItem {
       .controls-DropdownList__beforeCaptionWrapper {
         .controls-DropdownList__arrowIcon {
           color: #ccc !important;
         }
       }
     }
   }

   &.ws-validation-error {
      outline: 1px solid @red-color;
      outline-offset: -1px;
      background-color: @text-box-error-bg;
   }

   &.controls-DropdownList__defaultItem{
     .controls-DropdownList__selectedItem .controls-DropdownList__textWrapper{
       color: #999;
       &:hover{
         text-decoration: underline;
       }
     }
   }
}

.controls-DropdownList__picker {
  .controls-DropdownList__scrollContainer{
    max-height: @DropdownList-picker-max-height - @DropdownList-footer-multisel-buttonsBlock-h;
    width: 100%; //Укажем явно для ie edge
  }

  .controls-DropdownList__item, .controls-DropdownList__selectedItem *{
    font-size: @DropdownList-picker-menu-font-size;
    cursor: @DropdownList-cursor;
  }

  &.controls-DropdownList__equalsWidth, &.controls-DropdownList__equalsWidth.controls-DropdownList__type-fastDataFilter {
      &.controls-FloatArea .controls-DropdownList__body {
         border-radius: @DropdownList-picker-list-border-radius-equal;
      }
   }
   &.controls-DropdownList__type-fastDataFilter {
     &.controls-FloatArea {
       margin: @DropdownList-picker-fastdatafilter-offset;
     }
      &.controls-DropdownList__type-fastDataFilter-shadow{
         .controls-DropdownList__selectedItem .controls-DropdownList__textWrapper:after{
            display: block;
         }
      }
      .controls-DropdownList{
         width: 100%;
      }
     .controls-DropdownList__body {
        max-width: 400px;
        border-width: 1px;
        border-color: @gray-ccc-color;
        border-radius: @DropdownList-picker-list-right-border-radius;
     }
     .controls-DropdownList__selectedItem{
       .controls-DropdownList__textWrapper{
         color: #313E78;
         font-weight: bold;
         text-decoration: none;
         position: relative;
         &:after{
            content: '';
            display: none;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 24px;
            background: linear-gradient(to left, #ffffff, rgba(255, 255, 255, 0));
         }
       }
       .controls-DropdownList__arrowIcon {
         color: @DropdownList-linkStyleHoverColor!important;
       }
     }
     .controls-DropdownList__header, .controls-DropdownList__beforeCaptionWrapper, .controls-DropdownList__afterCaptionWrapper{
       display: inline-block;
     }
     .controls-DropdownList__header {
       border-width: 1px;
       border-color: @gray-ccc-color;
     }
     .controls-DropdownList__withoutArrow{
       .controls-DropdownList__beforeCaptionWrapper{
         display: none;
       }
     }
     .controls-DropdownList__withoutCross, &.controls-DropdownList__hideCross, &.ws-disabled{
       .controls-DropdownList__afterCaptionWrapper{
         display: none;
       }
       .controls-DropdownList__body .controls-DropdownList__item, .controls-DropdownList__selectedItem {
         padding-right: 4px;
       }
     }
     .controls-DropdownList__body {
       margin-top: @DropdownList-picker-margin-top;
         .controls-DropdownList__item{
            padding: 7px 16px 6px 16px;
            position: relative;
           .controls-DropdownList__itemTextWrapper{
              position: relative;
              overflow: hidden;
              &.controls-DropdownList__itemTextWrapper-height{
                 /*Этот класс для того, чтобы не сломать прикладные шаблоны
                   Для работы затемнения, нужно указать высоту контейнера*/
                 height: @DropdownList-picker-menu-item-height;
              }
              .controls-DropdownList__item-text{
                 overflow: hidden;
                 white-space: nowrap;
                 float: left;
                 display: inline-block;
              }
              .controls-DropdownList__item-text-shadow {
                 float: right;
                 width: 24px;
                 margin-left: -24px;
                 display: inline-block;
                 height: @DropdownList-picker-menu-item-height;
                 position: relative;
                 top: -@DropdownList-picker-menu-item-height;
                 background: linear-gradient(to left, @DropdownList-picker-menu-item-color, @DropdownList-picker-menu-item-color-blur);
              }
           }
           &:hover {
              .controls-DropdownList__item-text-shadow {
                 background: linear-gradient(to left, @DropdownList-picker-menu-item-hover, @DropdownList-picker-menu-item-hover-blur);
              }
           }
        }
     }

     .controls-DropdownList__multiselect.controls-DropdownList__item{
       padding-left: 0;
       .controls-DropdownList__itemTextWrapper{
         max-width: calc(~"100% - 16px");/* 16px чекбокс */
       }
     }
   }
   &.controls-popup-revert-horizontal{
      &.controls-DropdownList__type-fastDataFilter {
         .controls-DropdownList__body {
            border-radius: @DropdownList-picker-list-left-border-radius;
         }
         .controls-DropdownList__header{
            position: absolute;
            right: 0;
            .controls-DropdownList{
               margin: @DropdownList-picker-hor-revert-head-margin !important;
            }
         }
         .controls-DropdownList__body{
            margin-top: @DropdownList-height;
         }
      }
   }
   .controls-DropdownList__header {
      display: none;
      position: relative;
      background: @DropdownList-header-bg;
      border: @DropdownList-picker-border;
      border-radius: @DropdownList-picker-head-border-radius;
      border-bottom: 0;
      z-index: 2;
      .controls-DropdownList{
        margin: @DropdownList-picker-head-margin !important;
        position: relative!important;
        padding: 0px!important;
      }
      .controls-DropdownList__arrowIcon:before {
         content: "\e673";
      }
   }

  &.controls-dropdownlist__showHead {
    .box-shadow(@menu-shadow);

    .controls-DropdownList__header {
      display: inline-block;
    }
    .controls-DropdownList__header {
      width: 100%;
      box-sizing: border-box;
      .controls-DropdownList {
        width: 100%;
      }
    }
    .controls-DropdownList__body {
      border-radius: @DropdownList-picker-list-border-radius;
      margin-top: @DropdownList-picker-margin-top;
      .box-shadow(none);
    }
    .controls-DropdownList__pickerHead {
      font-weight: bold;
      color: #313E78;
      padding: @DropdownList-picker-head-padding;
      cursor: default;
      width: 100%;
      box-sizing: border-box;
      .controls-DropdownList__pickerHead-text {
        font-size: @DropdownList-picker-menu-font-size;
      }
    }
    &.controls-DropdownList__type-title .controls-DropdownList__pickerHead {
      text-align: center;
      background: #f4f4f4;
    }
    &.controls-DropdownList__type-duplicateHeader {
      .controls-DropdownList__body{
        padding-top: 0;
      }
      .controls-DropdownList__header{
        padding-top: @DropdownList-picker-head-duplicate-type-top-padding;
      }
    }
  }

   .controls-DropdownList__defaultItem{
     .controls-DropdownList__itemTextWrapper{
       color: #ccc;
     }
   }

   .controls-DropdownList__withoutArrow {
     .controls-DropdownList__textWrapper {
       padding-left: 4px;
     }
   }
   .controls-DropdownList__body {
      z-index: 1;
      height: calc(~"100% - 50px"); /* Отступ шапки 40px + 10px от края экрана*/
      border: @DropdownList-picker-border;
      border-radius: @DropdownList-picker-list-border-radius;
      background: @DropdownList-picker-bg;
      padding: @DropdownList-picker-padding;
      max-height: @DropdownList-picker-max-height;
      .box-shadow(@menu-shadow);
   }
   &.controls-FloatArea {
      background: transparent;
      margin: @DropdownList-picker-offset;
   }
   .controls-DropdownList__item {
      padding: @DropdownList-picker-menu-item-padding;
      background: @DropdownList-picker-menu-item-color;
      margin: @DropdownList-picker-menu-item-margin;
      font-size: @DropdownList-picker-menu-font-size;
      .controls-DropdownList__itemTextWrapper{
        display: inline-block;
        max-width: 100%;
        vertical-align: top;
        .controls-DropdownList__item-text{
          overflow: hidden;
          white-space: nowrap;
        }
      }
      &.controls-DropdownList__child{
        padding: 3px 8px 2px 8px;
        .controls-DropdownList__itemTextWrapper{
          padding-left: 16px;
        }
      }
      &:hover {
         background: @DropdownList-picker-menu-item-hover;
         .controls-DropdownList__itemCheckBox {
            visibility: visible;
         }
      }
   }


   &.controls-DropdownList__hideSelectedInList{
     .controls-DropdownList__item.controls-DropdownList__multiselect.controls-DropdownList__item__selected{
       display: block;
     }
     .controls-DropdownList__item.controls-DropdownList__item__selected{
       display: none;
     }
   }
   .controls-DropdownList__buttonsBlock {

      height: @DropdownList-footer-buttonsBlock-height;
      position: @DropdownList-footer-buttonsBlock-position;
      background: @DropdownList-picker-menu-item-color;

      .controls-DropdownListFooter_hasMore, .controls-DropdownListFooter_select {
         position: @DropdownList-footer-buttons-position;
      }
      .controls-DropdownListFooter_hasMore {
         left: @DropdownList-footer-hasMore-left;
         top: @DropdownList-footer-hasMore-top;
      }
      .controls-DropdownListFooter_select {
         right: @DropdownList-footer-select-right;
         top: @DropdownList-footer-select-top;
      }
   }
   .controls-DropdownList__multiselect {
      padding-left: @DropdownList-picker-menu-item-multiselect-padding;

      &.controls-DropdownList__item {
         font-size: 0;
         * {
            font-size: @DropdownList-picker-menu-font-size;
         }
      }

      &.controls-DropdownList__item.controls-DropdownList__item__selected {
         display: block;
      }
      &.controls-DropdownList__item__selected .controls-DropdownList__itemCheckBox {
         background: @check-box-icon-checked-bg-pathFilter;
         visibility: visible;
      }
      &.controls-ListView__defaultItem.controls-DropdownList__item__selected,
      &.controls-ListView__defaultItem {
         font-weight: bold;
         & .controls-DropdownList__itemCheckBox {
            visibility: hidden;

         }
      }

      .controls-DropdownList__itemCheckBox {
         width: 16px;
         height: 16px;
         background: none;
         cursor: pointer;
         display: inline-block;
         background: @check-box-icon-bg-pathFilter;
         visibility: hidden;
      }

      &.controls-DropdownList__buttonsBlock{
        height: @DropdownList-footer-multisel-buttonsBlock-h;
        .controls-DropdownListFooter_hasMore{
          top: 4px;
        }
      }
   }
}

.ws-is-firefox {
   .controls-DropdownList__picker {
      .controls-DropdownList__header .controls-DropdownList {
         line-height: 25px;
      }
      .controls-DropdownList__body .controls-DropdownList__item .controls-DropdownList__itemTextWrapper {
         .controls-DropdownList__item-text {
            float: none;
         }
         .controls-DropdownList__item-text-shadow {
            top: -@DropdownList-picker-menu-item-height - 5px;
         }
      }
   }
   .controls-DropdownList__afterCaptionWrapper {
      top: 3px;
   }
}

.ws-is-ie, .ws-is-firefox {
  .controls-DropdownList .controls-DropdownList__selectedItem{
     display: inline-block;
     .inline-flexbox();
  }
}

.ws-is-mobile-platform {
   //На мобильной платформе при сглаживании появляется линия в пол пикселя в вертикальной ориентации. Перекрываю через псевдо-элемент
   .controls-DropdownList__picker.controls-DropdownList__type-fastDataFilter {
      .controls-DropdownList__header:before {
         content: '';
         position: absolute;
         right: 0;
         left: 0;
         bottom: -1px;
         height: 2px;
         background: @DropdownList-header-bg;
      }
   }
}