.controls-CheckBox {
  cursor: pointer;
  display: inline-block;
  color: @checkbox-text-color;

  .controls-CheckBox__caption {
    margin: @checkbox-text-margin;
  }

  .controls-CheckBox__icon {
    display: inline-block;
    width: @checkbox-width;
    height: @checkbox-height;
    line-height: @checkbox-line-height;
    background: @checkbox-bg;
  }

  &:hover {
    .controls-CheckBox__icon {
      background: @checkbox-hover-bg;
    }
  }

  &.controls-Checked__checked {
    .controls-CheckBox__icon {
      background: @checkbox-checked-bg;
    }
  }

  &.ws-disabled {
    color: @checkbox-disabled-text-color;

    .controls-CheckBox__icon {
      background: @checkbox-disabled-bg;
    }

    &:hover {
      .controls-CheckBox__icon {
        background: @checkbox-disabled-hover-bg;
      }
    }

    &.controls-Checked__checked {
      .controls-CheckBox__icon {
        background: @checkbox-disabled-checked-bg;
      }
    }
  }

  &.controls-ToggleButton__null {
    .controls-CheckBox__icon{
      background: @checkbox-third-state-bg;
    }

    &.ws-disabled {
      .controls-CheckBox__icon {
        background: @checkbox-disabled-third-state-bg;
      }
    }
  }
}