.controls-Menu__Popup {
   box-sizing: border-box;
   margin: @menu-margin;
   border: @menu-border;

  .controls-Menu__hasChild {
    &:after {
      content: ' ';
      position: absolute;
      top: @menu-expand-top-shift;
      right: @menu-expand-right-shift;
      width: @menu-expand-width;
      height: @menu-expand-height;
      background: @menu-expand-bg;
    }

    &:hover:after {
      background: @menu-expand-hover-bg;
    }
  }
}