.controls-NumberTextBox {
  .controls-TextBox__fieldWrapper {
    margin: @number-text-box-wrapper-margin;
    height: 100%;

    .controls-TextBox__field {
      text-align: @number-text-box-field-text-alignment;
    }
  }

  .controls-TextBox__afterFieldWrapper {
    .controls-NumberTextBox__arrow {
      display: block;
      text-decoration: none;

      &.controls-NumberTextBox__arrowUp {
        width: @number-text-box-arrow-up-width;
        height: @number-text-box-arrow-up-height;
        margin: @number-text-box-arrow-up-margin;
        background: @number-text-box-arrow-up-bg;
      }

      &.controls-NumberTextBox__arrowDown {
        width: @number-text-box-arrow-down-width;
        height: @number-text-box-arrow-down-height;
        margin: @number-text-box-arrow-down-margin;
        background: @number-text-box-arrow-down-bg;
      }
    }
  }
}