/*group*/
/*ширина кнопки закрытия окна 36px + 2px на небольшой отступ между кнопкой сохранить (в ie8 нет скруглений и кнопки склеиваются)*/
/*ширина кнопки закрытия окна 36px + 90px ширина кнопки сохранить + 2px на небольшой отступ между ними */
.controls-RichEditorRoundToolbar {
  display: inline-block;
}
.controls-RichEditorRoundToolbar__stylesPanel {
  border-radius: 5px;
  border-color: #e4e4e4;
  border-width: 2px;
  border-style: solid;
}
.controls-RichEditorRoundToolbar__stylesPanel .controls-PopupMixin__closeButton {
  top: 8px;
}
.controls-RichEditorRoundToolbar__itemsContainer {
  display: inline-block;
}
.controls-RichEditorRoundToolbar .controls-ListView__item {
  margin: 0 2px;
}
.controls-RichEditorRoundToolbar__historyPicker .controls-Menu__header {
  display: none;
}
.controls-RichEditorRoundToolbar__historyPicker .controls-Menu__itemsContainer .controls-ListView__item p {
  margin: 0;
}
.controls-RichEditorRoundToolbar__smilesPicker .controls-Menu__header {
  display: none;
}
.controls-RichEditorRoundToolbar__smilesPicker .controls-Menu__itemsContainer {
  width: 165px;
  padding: 1px 0;
}
.controls-RichEditorRoundToolbar__smilesPicker .controls-Menu__itemsContainer .controls-Menu__itemsContainer {
  width: 165px;
  padding: 1px 0;
}
.controls-RichEditorRoundToolbar__smilesPicker .controls-Menu__itemsContainer .controls-Menu__itemsContainer .controls-ListView__item {
  color: #587ab0;
  font-size: 24px;
  display: inline-block;
  padding: 2px 4px 0 4px;
  height: 20px;
  vertical-align: bottom;
}
.controls-RichEditorRoundToolbar__smilesPicker .controls-Menu__itemsContainer .controls-Menu__itemsContainer .controls-ListView__item:hover {
  color: #313E78;
}
