.controls-RichEditorRoundToolbar {
   display: inline-block;
   &__stylesPanel {
      border-radius: 5px;
      border-color: rgb(228, 228, 228);
      border-width: 2px;
      border-style: solid;
      .controls-PopupMixin__closeButton {
         top: 8px;
      }
   }
   &__itemsContainer {
      display: inline-block;
   }
   .controls-ListView__item{
      margin: 0 2px;
   }
}
.controls-RichEditorRoundToolbar__historyPicker {
   .controls-Menu__header{
      display: none;
   }
   .controls-Menu__itemsContainer {
      .controls-ListView__item {
         p {
            margin: 0;
         }
      }
   }
}
.controls-RichEditorRoundToolbar__smilesPicker {
   width: 192px;
   .controls-Menu__header{
      display: none;
   }
   .controls-Menu__itemsContainer {
      padding: 1px 0;
      .controls-ListView__item {
         color: #587ab0;
         font-size: 24px;
         display: inline-block;
         padding: 2px 4px 0 4px;
         height: 20px;
         vertical-align: bottom;
         &:hover {
            color: #313E78
         }
      }
   }
}
.ws-is-desktop-platform {
   .controls-RichEditorRoundToolbar__smilesPicker {
      font-family: 'EmojiFont','TensorFont Regular', 'TensorFont', sans-serif;
      &.controls-MenuIcon__Menu {
         .controls-ListView__item {
            font-size: 18px;
         }
      }
   }
}
