<div class="controls-RichEditorRoundToolbar">
   <div class="controls-RichEditorRoundToolbar__itemsContainer">
      <ws:if data="{{ _serverRender }}">
         <ws:partial template="{{ _itemsTemplate }}" records="{{ _records }}" tplData="{{ _itemData }}" />
      </ws:if>
   </div>
</div>