.PhotoCamDialog {
  min-width: 640px;
  min-height: 360px;
  position: relative;

  .PhotoCamDialog__container {
    background-color: black;
  }
  object.PhotoCamDialog_video {
    height: 480px;
    width: 640px;
    display: block;
  }
  video {
    display: block;
  }
}

.PhotoCamDialog__loadButton {
  position: absolute;
  right: 3rem;
  top: 8px;
}

.PhotoCamDialog__photoButton {
  width: 3rem;
  margin: 8px auto;
  display: block;
}