<div class="controls-PropertyGrid">
   <ws:for data="index, item in _options.items">
      <div class="controls-PropertyGrid__item">
         <ws:partial template="{{_options.itemTemplate}}" item="{{item}}" on:valueChanged="_valueChangedHandler(index)"
         on:selectedKeysChanged="_valueChangedHandler(index)"/>
      </div>
   </ws:for>
</div>