<div class="controls-PropertyGrid">
   <ws:for data="item in _options.items">
      <div if="{{item.visibility}}" class="controls-PropertyGrid__item">
         <ws:partial template="{{item.editor}}" item="{{item}}" on:valueChanged="_valueChangedHandler()"/>
      </div>
   </ws:for>
</div>