<span class="controls-ImportCustomizer-Mapper-View__grid__item__cell {{item.className}}">
   <ws:if data="{{column.field !== 'variant'}}">
      {{decorators.applyOnly(getCellValue(getColumnVal(item, field), column.field, item, ladder, ladderColumns), {'highlight': column.highlight}) |orEmpty|sanitize}}
   </ws:if>
   <ws:else>
      <ws:if data="{{column.menuConf}}">
         <SBIS3.CONTROLS.DropdownList
            class="controls-ImportCustomizer-Mapper-View__grid__item__menu"
            name="{{column.menuConf.namePrefix + item.id}}"
            multiselect="{{false}}"
            mode="click"
            type="simple"
            idProperty="id"
            displayProperty="title"
            emptyValue="{{true}}"
            items="{{column.menuConf.items}}"
            selectedKeys="{{item.variant ? [item.variant] : []}}"
            handlers="{{column.menuConf.handlers}}"
         />
      </ws:if>
   </ws:else>
</span>