<div>
	<ws:SBIS3.CONTROLS.ToggleHeader
		name="toggleHeader"
		caption="ПОКАЗАТЬ"
		count="123"
	/>
	<div></div>
	<ws:SBIS3.CONTROLS.Button
		name="button"
		caption="Привет пользовать"
		visible="{{false}}"
	/>
</div>