@import "TriggersHighlight";

.cDemo {
  width: 800px;
  margin: 0 auto;
  &- {
    &info {
      display: flex;
      flex-direction: column;
    }

    &triggers-legend {
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 20px;
      &-load {
        color: @highlight_loadTrigger_color;
        div {
          background: @highlight_loadTrigger_color;
        }
      }
      &-virtyal {
        color: @highlight_virtualScrollTrigger_color;
        div {
          background: @highlight_virtualScrollTrigger_color;
        }
      }
    }

    &configuration {
      align-self: center;
      margin-bottom: 15px;
    }

    &ScrollContainer {
      height: 620px;
      box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    }

  }
}