/*group*/
/*ширина кнопки закрытия окна 36px + 2px на небольшой отступ между кнопкой сохранить (в ie8 нет скруглений и кнопки склеиваются)*/
/*ширина кнопки закрытия окна 36px + 90px ширина кнопки сохранить + 2px на небольшой отступ между ними */
.controls-FilterPanelChooser .controls-ListView .controls-ListView__itemsContainer .controls-ListView__item {
  display: flex;
  cursor: pointer;
  padding: 6px 0 6px 24px;
  background-color: #F9F9F9;
}
.controls-FilterPanelChooser .controls-ListView .controls-ListView__itemsContainer .controls-ListView__item .controls-ListView__itemCheckBox {
  position: absolute;
  left: 0;
  top: 3px;
}
.controls-FilterPanelChooser .controls-ListView .controls-ListView__itemsContainer .controls-ListView__item .controls-FilterPanelChooser__count {
  display: inline-block;
  padding: 0 8px;
  color: #8991A9;
  background-color: #F9F9F9;
}
.controls-FilterPanelChooser .controls-ListView .controls-ListView__itemsContainer .controls-ListView__item .controls-FilterPanelChooser__title {
  width: 100%;
  color: #8991A9;
  max-height: 54px;
  overflow: hidden;
  position: relative;
  white-space: normal;
}
.controls-FilterPanelChooser .controls-ListView .controls-ListView__itemsContainer .controls-ListView__item .controls-FilterPanelChooser__title .controls-FilterPanelChooser__titleShadow {
  position: absolute;
  right: 0;
  top: 36px;
  width: 15px;
  height: 18px;
  box-shadow: -10px 0 10px #F9F9F9;
  background-color: #F9F9F9;
}
.controls-FilterPanelChooser .controls-ListView .controls-ListView__itemsContainer .controls-ListView__item.controls-ListView__item__multiSelected {
  background-color: #F3F3F3;
}
.controls-FilterPanelChooser .controls-ListView .controls-ListView__itemsContainer .controls-ListView__item.controls-ListView__item__multiSelected .controls-FilterPanelChooser__title {
  color: #000;
}
.controls-FilterPanelChooser .controls-ListView .controls-ListView__itemsContainer .controls-ListView__item.controls-ListView__item__multiSelected .controls-FilterPanelChooser__title .controls-FilterPanelChooser__titleShadow {
  box-shadow: -10px 0 10px #F3F3F3;
  background-color: #F3F3F3;
}
.controls-FilterPanelChooser .controls-ListView .controls-ListView__itemsContainer .controls-ListView__item.controls-ListView__item__multiSelected .controls-FilterPanelChooser__count {
  background-color: #F3F3F3;
}
.controls-FilterPanelChooser .controls-ListView .controls-ListView__itemsContainer .controls-ListView__item.controls-ListView__hoveredItem {
  background-color: #EAECEE;
}
.controls-FilterPanelChooser .controls-ListView .controls-ListView__itemsContainer .controls-ListView__item.controls-ListView__hoveredItem .controls-FilterPanelChooser__count {
  background-color: #EAECEE;
}
.controls-FilterPanelChooser .controls-ListView .controls-ListView__itemsContainer .controls-ListView__item.controls-ListView__hoveredItem .controls-FilterPanelChooser__title .controls-FilterPanelChooser__titleShadow {
  box-shadow: -10px 0 10px #EAECEE;
  background-color: #EAECEE;
}
.controls-FilterPanelChooser .controls-FilterPanelChooser__afterChooserWrapper {
  text-align: right;
  background-color: #F9F9F9;
  padding: 0 8px 0 20px;
}
.controls-FilterPanelChooser .controls-FilterPanelChooser__afterChooserWrapper .controls-FilterPanelChooser__allButton {
  line-height: 30px;
  font-size: 12px;
}
