.controls-DateRangeSelector {
   display: inline-block;
}

.controls-DateRangeSelector__view {
   flex-grow: 1;
   flex-shrink: 1;
}

.controls-DateRangeSelector__view_minWidth {
   min-width: @min-width_dateRangeSelector;
}
