.controls-InputTag__tag_theme-@{themeName} {
  top: 0;
  right: 0;
  cursor: pointer;
  position: absolute;
  width: @tag-size;
  height: @tag-size;
}

.controls-InputTag_style- {
  @variants: danger, primary, success, secondary, warning;
  .for(@variants, { &@{_item}_theme-@{themeName} {
    fill: ~"@{@{_item}_color}";
  } });
}

.controls-InputTag_style-info_theme-@{themeName} {
  fill: @unaccented_color;
}
