.controls-BreadCrumbsPath {
   width: 100%;
   box-sizing: border-box;
}

.controls-BreadCrumbsPath__twoRows_theme-@{themeName} {
   padding-left: @padding-left_multiline_breadcrumbsPath;
}

.controls-BreadCrumbsPath__wrapper {
   display: flex;
   white-space: nowrap;

   //TODO KINGO есть темы, в которых выравнивание ХК идет по базовой линии шрифта, размер которого отличается от размера шрифта кнопки назад
   .controls-Back__wrapper_theme-@{themeName}:before {
      font-size: @line-height_breadcrumbsView;
   }
}

.controls-BreadCrumbsPath__backButton {
   white-space: nowrap;
   min-width: 1px;
   max-width: 100%;
}

.controls-BreadCrumbsPath__home_theme-@{themeName} {
   .icon(@home_icon-size_breadcrumbsPath);
   color: @home_icon-color_breadcrumbsPath;
}
.controls-BreadCrumbsPath__home {
   cursor: pointer;
   flex-shrink: 0;
}

.controls-BreadCrumbsPath__backButton__wrapper {
   position: relative;
   display: inline-flex;
   align-items: baseline;
   max-width: 50%;
   flex-shrink: 0;
}

.controls-BreadCrumbsPath__backButton__wrapper__only {
   max-width: 100%;
   box-sizing: border-box;
}

.controls-BreadCrumbsPath__backButton__wrapper_inHeader {
   /*
   Header cells have flex-direction: column and align-items: normal so button gets expanded to match cell's width.
   To prevent this, we have to explicitly align button to the start of the cell.
    */
   align-self: flex-start;
   max-width: 100%;
}
.controls-BreadCrumbsPath__homeContainer.controls-BreadCrumbsView__dropTarget_withoutArrow:after {
   left: -@droppable_padding-horizontal_breadcrumbsView;
   right: -@droppable_padding-horizontal_breadcrumbsView;
}
.controls-BreadCrumbsPath__backButtonArrow-container {
   .baseline-fix();
   height: 100%;
   position: absolute;
   align-self: baseline;
   align-items: baseline;
   right: -@back_offset_breadcrumbsHeadingPath;
   bottom: 0;
}
.controls-BreadCrumbsPath__backButtonArrow-container_theme-@{themeName} {
   background-color: @back_editButton_background-color_breadcrumbsHeadingPath;
   &:before {
      font-size: @line-height_breadcrumbsView;
   }
}

.controls-BreadCrumbsPath__backButtonArrow {
   display: none;
   cursor: pointer;
}
.controls-BreadCrumbsPath__backButtonArrow_theme-@{themeName} {
   .icon(@back_editButton_icon-size_breadcrumbsHeadingPath);
   fill: @back_editButton_icon-color_breadcrumbsHeadingPath;
}

.controls-Path__backButtonArrow_readonly_theme-@{themeName} {
   color: @back_editButton_readonly_icon-color_breadcrumbsHeadingPath;
}
.controls-BreadCrumbsPath__backButton__wrapper__only__withArrow_theme-@{themeName} {
   padding-right: @back_offset_breadcrumbsHeadingPath;
}
.controls-BreadCrumbsPath__counter_theme-@{themeName} {
   margin-left: @back_counter_offset_breadcrumbsHeadingPath;
}

.controls-BreadCrumbsPath__breadCrumbs {
   overflow: hidden;
   flex-grow: 1;
}
.controls-BreadCrumbsPath__breadCrumbs_home-path-spacing_theme-@{themeName} {
   padding-left: @home_offset_breadcrumbsPath;
}

.controls-BreadCrumbsPath__homeContainer {
   .baseline-fix();

   position: relative;
   display: inline-flex;
   align-items: baseline;
}
.controls-BreadCrumbsPath__homeContainer_theme-@{themeName} {
   &:before {
     font-size: @line-height_breadcrumbsView;
   }
}

.controls-BreadCrumbsPath__backButton_short,
.controls-BreadCrumbsPath__breadCrumbs_short {
   flex-shrink: 1;
   overflow: hidden;
}

.controls-BreadCrumbsPath__backButton_short {
   min-width: @item_text_min-width_breadcrumbs + @icon_m_width_headingBack + @icon_s_offset_headingBack;
}

.controls-BreadCrumbsPath__homeContainer__withoutBackButton {
   margin-left: 0;
}
.controls-BreadCrumbsPath__homeContainer__withBackButton_theme-@{themeName} {
   margin-left: @back_offset_breadcrumbsHeadingPath;
}

.controls-BreadCrumbsPath__backButton_half,
.controls-BreadCrumbsPath__breadCrumbs_half {
   width: 50%;
   flex-shrink: 1;
   overflow: hidden;
}

.controls-BreadCrumbsPath__breadCrumbs_long {
   flex-shrink: 0;
}

.ws-is-hover {
   .controls-BreadCrumbsPath__backButtonArrow:hover {
      display: inline-flex;
   }
   .controls-BreadCrumbsPath__backButton__wrapper:hover .controls-BreadCrumbsPath__backButtonArrow {
      display: inline-flex;
   }
   .controls-BreadCrumbsPath__backButtonArrow_theme-@{themeName}:hover {
      fill: @back_editButton_hover_icon-color_breadcrumbsHeadingPath;
   }

   .controls-BreadCrumbsPath__home_theme-@{themeName}:hover {
      color: @home_hover_icon-color_breadcrumbsPath;
   }
}

.controls-BreadCrumbsPath__backButton_zeroWidth {
   width: 0;
}

.controls-fontsize-headingPathBack_theme-@{themeName} {
   font-size: @font-size_headingPathBack_headingBack;
}
.controls-Back__caption_fontWeight_headingPathBack {
   font-weight: bold;
}
