<div class="demoWrapper">
    <div class="testBlock">
        <div class="exampleBlock">
            <h2>Counter</h2>
            <div class="wrapper">
                <Controls.Header.Counter on:click="clickHandler()" attr:class="counter" value="{{_counterValue}}" style="{{_counterSelectedStyle}}" size="{{_counterSelectedSize}}" attr:test_name="HeaderCounter"/>
            </div>
        </div>
        <div class="optionsBlock">
            <h3>Options</h3>
            <Controls.Label name="myLabel1" caption="value"/>
            <Controls.Input.Number bind:value="_counterValue"/>
            <Controls.Label name="myLabel1" caption="style:"/>
            <Controls.Toggle.Radio
                    on:selectedKeyChanged="counterChangeStyle()"
                    keyProperty="title"
                    selectedKey="{{_counterSelectedStyle}}"
                    source="{{_counterStyleSource}}"
                    direction="horizontal"
                    readOnly="{{false}}"
                    attr:test_name="CounterStyle"/>
            <Controls.Label name="myLabel1" caption="size:"/>
            <Controls.Toggle.Radio
                    on:selectedKeyChanged="counterChangeSize()"
                    keyProperty="title"
                    selectedKey="{{_counterSelectedSize}}"
                    source="{{_counterSizeSource}}"
                    direction="horizontal"
                    readOnly="{{false}}"
                    attr:test_name="CounterSize"/>
            <br/>
            <Controls.Toggle.Checkbox readOnly="{{false}}" bind:value="_counterValue" caption="value"/>
        </div>
        <div class="eventBlock">
            <span>Event that surfaced:</span>
            <Controls.Button attr:class="demo-ResetButton" on:click="reset()" style="linkMain3" caption="reset"/>
            <br/>
            <span>{{_eventName}}</span>
        </div>
    </div>
</div>