.controls-SumDialogTemplate {

   .controls-SumDialogTemplate__modelView {
      margin: 5px 15px;

      .controls-SumDialogTemplate__row {
         height: 30px;

         .controls-SumDialogTemplate__row-title, .controls-SumDialogTemplate__row-value {
            .text-overflow();
            display: inline-block;
         }
         .controls-SumDialogTemplate__row-title {
            max-width: 170px;
         }
         .controls-SumDialogTemplate__row-value {
            max-width: 100px;
            float: right;
         }
      }
   }

   .controls-SumDialogTemplate__OK-container {
      text-align: center;

      .controls-SumDialogTemplate__OK {
         width: 80px;
         margin-bottom: 10px;
      }
   }
}