.controls-Checkbox {
   display: inline-block;
}
.controls-Checkbox__disabled {
   cursor: default;
}
.controls-Checkbox__enabled {
   cursor: pointer;
}
.controls-Checkbox__wrapper:before {
   content: '\200b';
}
.controls-Checkbox__wrapper {
   display: inline-flex;
   font-size: @font-size_CheckBox;
   //Не можем сделать на флексах из-за стандарта
   line-height: @height_CheckBox__clickArea;
}
.controls-Checkbox__icon-border-color__enabled {
   color: @color_CheckBox__iconBox;
}
.controls-Checkbox__icon-border-color__disabled {
   color: @color_CheckBox__iconBox_disabled;
}
.controls-Checkbox__caption-color__enabled{
   color: @color_CheckBox__caption_enabled;
}
.controls-Checkbox__caption-color__disabled{
   color: @color_CheckBox__caption_disabled;
}
.controls-Checkbox_iconInCaption {
   height: @height_CheckBox__clickArea - 2*@padding-horizontal_CheckBox-caption;
}
.controls-Checkbox__caption, .controls-Checkbox_iconInCaption {
   word-wrap: break-word;
   padding: @spacing_CheckBox-between-icon-caption;
   //Не можем сделать на флексах из-за стандарта
   line-height: @line-height_CheckBox__caption;
}
.controls-Checkbox__icon {
   position: relative;
   user-select: none;
   width: @width_CheckBox__clickArea;
   height: @height_CheckBox__clickArea;
   flex-shrink: 0;
}
.controls-Checkbox__icon:before {
   box-sizing: border-box;
   content: '';
   position: absolute;
   border-width: @width_CheckBox__border;
   border-style: solid;
   width: @size_CheckBox__icon-box;
   height: @size_CheckBox__icon-box;
   margin: (@height_CheckBox - @size_CheckBox__icon-box) / 2 (@width_CheckBox - @size_CheckBox__icon-box) / 2;
}
.controls-Checkbox__icon-checked {
   width: @size_CheckBox__iconSuccessful;
   height: @size_CheckBox__iconSuccessful;
   position: relative;
   left: @left_CheckBox__iconSuccessful;
   top: @top_CheckBox__iconSuccessful;
}
.controls-Checkbox__icon-checked-color_enabled {
   fill: @color_CheckBox__icon_enabled;
}
.controls-Checkbox__icon-checked-color_disabled {
   fill: @color_CheckBox__icon_disabled;
}
.controls-Checkbox__icon-checked-color_transparent {
   fill: transparent;
}
.controls-Checkbox__icon-tristate:after {
   left: 0;
   content: '';
   position: absolute;
   height:@size_CheckBox__iconTristate;
   width: @size_CheckBox__iconTristate;
   line-height: @size_CheckBox__iconTristate;
   margin: (@height_CheckBox__clickArea - @size_CheckBox__iconTristate) / 2 (@width_CheckBox__clickArea - @size_CheckBox__iconTristate) / 2;
}
.controls-Checkbox__icon-tristate-color__disabled:after{
   background-color: @color_CheckBox__icon_disabled;
}
.controls-Checkbox__icon-tristate-color__enabled:after{
   background-color: @color_CheckBox__icon_enabled;
}