.controls-Checkbox {
   display: inline-block;
}
.controls-Checkbox__wrapper {
   cursor:pointer;
   display: inline-flex;
   font-size: @font-size__checkBox;
   //Не можем сделать на флексах из-за стандарта
   line-height: @height_CheckBox;
}
.controls-Checkbox__icon-border-color__enabled {
   color: @color_CheckBox__iconBox;
}
.controls-Checkbox__icon-border-color__disabled {
   color: @color_CheckBox__iconBox_disabled;
}
.controls-Checkbox__caption-color__enabled{
   color: @color_CheckBox-caption_enabled;
}
.controls-Checkbox__caption-color__disabled{
   color: @color_CheckBox___caption_disabled;
}
.controls-Checkbox__caption {
   word-wrap: break-word;
   padding: @spacing_CheckBox-between-icon-caption;
   //Не можем сделать на флексах из-за стандарта
   line-height: @check-box-caption-line-height;
}
.controls-Checkbox__icon {
   position: relative;
   .checkbox-border-size();
   .checkbox();
   flex-shrink: 0;
}
.controls-Checkbox__icon:before {
   content: '';
}
.controls-Checkbox__icon-checked {
   .checkbox-checked-size();
}
.controls-Checkbox__icon-tristate {
   .checkbox-null-size();
}
.controls-Checkbox__icon-tristate-color__disabled:after{
   background-color: @color_CheckBox_disabled;
}
.controls-Checkbox__icon-tristate-color__enabled:after{
   background-color: @color_CheckBox-icon_enabled;
}
.controls-Checkbox__icon-checked-color__enabled:after{
   color: @color_CheckBox-icon_enabled;
}
.controls-Checkbox__icon-checked-color__disabled:after{
   color: @color_CheckBox_disabled;
}